Between r0 = 3 and i0 < 31, it is always the case that if r0 <= 23 holds, then k0 < 9 previously held.
Between p0 < 9 and c0 < 16, it is always the case that if a0 >= 25 holds and is succeeded by r0 >= 21, then f0 >= 7 eventually holds after r0 >= 21 .
Globally, it is always the case that o0 < 21 holds.
Globally, it is never the case that e0 > 7 holds.
After m0 < 20 until h0 >= 7, it is always the case that f0 > 24 holds.
Between g0 >= 14 and l0 < 3, it is always the case that e0 < 26 holds.
Before n0 < 31, it is always the case that if j0 >= 2 holds, then b0 >= 14 eventually holds and is succeeded by j0 < 1, where r0 > 18 does not hold between b0 >= 14 and j0 < 1 .
Between k0 <= 25 and f0 < 6, it is always the case that if i0 = 24 holds and is succeeded by l0 > 2, then e0 < 19 eventually holds after l0 > 2 .
After m0 < 30 until m0 < 25, it is never the case that c0 <= 2 holds.
After p0 < 26, it is always the case that r0 >= 28 holds.
After p0 = 19 until s0 = 7, it is always the case that if j0 < 27 holds, then q0 > 22 eventually holds and is succeeded by i0 > 8, where f0 = 12 does not hold between q0 > 22 and i0 > 8 .
After r0 = 2, it is always the case that if q0 > 27 holds and is succeeded by r0 < 3, then c0 = 21 eventually holds after r0 < 3 .
Globally, it is always the case that if m0 < 29 holds, then g0 <= 18 eventually holds and is succeeded by i0 <= 10, where o0 > 10 does not hold between g0 <= 18 and i0 <= 10 .
Between i0 = 1 and j0 <= 23, it is always the case that if p0 <= 16 holds, then i0 >= 24 eventually holds and is succeeded by o0 < 6, where j0 <= 2 does not hold between i0 >= 24 and o0 < 6 .
Before a0 <= 4, it is never the case that n0 >= 23 holds.
Before c0 = 30, it is always the case that d0 > 20 holds.
After q0 = 4 until g0 <= 12, it is always the case that if l0 >= 25 holds, then q0 = 8 eventually holds and is succeeded by n0 > 21, where n0 >= 30 does not hold between q0 = 8 and n0 > 21 .
Globally, s0 >= 5 eventually holds.
After i0 < 3, it is always the case that if q0 = 14 holds and is succeeded by k0 = 26, then c0 >= 0 eventually holds after k0 = 26 .
Globally, it is always the case that if q0 <= 21 holds, then a0 <= 21 previously held and was preceded by c0 > 0 .
After d0 <= 10 until l0 < 21, l0 < 4 eventually holds.
Before l0 >= 3, it is never the case that l0 >= 13 holds.
Globally, it is always the case that if b0 = 1 holds, then f0 >= 9 eventually holds and is succeeded by g0 = 30, where s0 < 2 does not hold between f0 >= 9 and g0 = 30 .
After n0 > 16, it is always the case that if q0 >= 21 holds, then p0 <= 22 eventually holds.
Before h0 = 13, it is never the case that j0 < 10 holds.
Between f0 = 30 and e0 <= 18, it is always the case that if c0 <= 4 holds, then g0 < 0 previously held.
Globally, it is always the case that if l0 = 9 holds, then f0 >= 8 eventually holds.
After e0 > 19 until s0 > 23, it is always the case that if h0 >= 1 holds and is succeeded by r0 = 10, then m0 = 12 previously held.
After p0 <= 30 until o0 >= 1, it is always the case that if f0 = 30 holds, then l0 >= 10 eventually holds and is succeeded by g0 <= 7, where b0 < 1 does not hold between l0 >= 10 and g0 <= 7 .
Between c0 < 30 and e0 > 24, it is never the case that j0 <= 7 holds.
Before f0 < 30, it is always the case that if p0 > 28 holds, then f0 < 4 eventually holds and is succeeded by b0 < 18, where m0 <= 20 does not hold between f0 < 4 and b0 < 18 .
Between r0 < 28 and f0 >= 19, it is always the case that if r0 < 26 holds, then g0 < 7 previously held.
Before g0 = 21, it is never the case that e0 > 27 holds.
Between i0 >= 9 and q0 > 28, it is always the case that if c0 = 3 holds, then f0 = 2 eventually holds.
After n0 = 10 until m0 = 31, it is always the case that if d0 <= 27 holds, then o0 >= 1 eventually holds and is succeeded by l0 > 30, where l0 = 14 does not hold between o0 >= 1 and l0 > 30 .
Before k0 > 19, it is always the case that if c0 < 11 holds and is succeeded by g0 <= 8, then f0 <= 15 previously held.
Globally, k0 = 1 eventually holds.
Between d0 >= 16 and d0 < 12, it is always the case that h0 = 7 holds.
Globally, it is always the case that o0 < 30 holds.
After k0 = 1, it is always the case that if f0 > 26 holds, then n0 >= 13 eventually holds.
Between i0 > 14 and o0 = 22, it is never the case that q0 >= 30 holds.
After m0 > 31 until o0 <= 14, it is always the case that if s0 > 9 holds, then s0 < 2 previously held.
Between d0 > 13 and n0 <= 30, it is always the case that if j0 > 24 holds, then h0 > 11 eventually holds and is succeeded by a0 >= 4 .
Between e0 >= 31 and c0 < 7, it is always the case that if o0 <= 18 holds, then d0 >= 25 previously held.
After g0 < 9, it is always the case that if f0 < 15 holds, then h0 = 3 previously held.
Globally, it is always the case that if a0 <= 26 holds, then a0 < 26 eventually holds and is succeeded by q0 >= 31 .
After d0 >= 24, it is always the case that b0 > 29 holds.
After l0 >= 12 until a0 <= 4, it is always the case that i0 <= 18 holds.
After r0 <= 23, it is always the case that if b0 = 25 holds, then d0 = 24 previously held.
After b0 = 2, it is always the case that if s0 = 8 holds, then q0 < 22 previously held and was preceded by f0 > 5 .
After g0 < 22 until j0 < 2, it is always the case that if q0 < 31 holds, then k0 = 27 previously held.
After b0 < 4, it is never the case that s0 = 11 holds.
After l0 < 12, it is always the case that if c0 >= 27 holds, then g0 >= 20 eventually holds.
Before n0 > 18, it is always the case that if s0 > 15 holds, then n0 < 8 eventually holds and is succeeded by j0 < 10, where c0 > 8 does not hold between n0 < 8 and j0 < 10 .
Globally, o0 = 0 eventually holds.
After f0 <= 0 until i0 = 21, it is never the case that b0 > 17 holds.
After b0 <= 9, it is always the case that if o0 <= 8 holds, then p0 = 4 previously held.
Globally, it is never the case that a0 <= 18 holds.
Between g0 >= 17 and d0 <= 25, it is always the case that if g0 >= 31 holds, then j0 <= 19 previously held and was preceded by f0 > 13 .
After j0 = 27 until h0 < 10, it is always the case that if f0 >= 5 holds, then s0 = 11 eventually holds.
After o0 <= 7 until d0 >= 21, it is always the case that if f0 >= 28 holds, then c0 < 19 eventually holds.
After m0 < 24, it is always the case that if a0 = 16 holds, then f0 >= 12 eventually holds and is succeeded by r0 < 29, where f0 > 6 does not hold between f0 >= 12 and r0 < 29 .
After d0 <= 30, it is always the case that if r0 < 13 holds, then s0 < 27 eventually holds.
After l0 <= 6 until h0 <= 27, it is always the case that if o0 > 14 holds, then n0 >= 11 eventually holds and is succeeded by g0 < 8, where m0 >= 17 does not hold between n0 >= 11 and g0 < 8 .
Between a0 > 22 and d0 <= 16, it is always the case that if e0 > 5 holds and is succeeded by f0 >= 16, then k0 <= 13 previously held.
Globally, it is always the case that if j0 >= 16 holds, then e0 = 6 eventually holds and is succeeded by r0 <= 11 .
After c0 = 22 until g0 > 21, it is never the case that q0 <= 13 holds.
After n0 > 8, l0 <= 16 eventually holds.
After k0 > 21, it is always the case that if l0 > 9 holds, then e0 < 14 eventually holds and is succeeded by n0 <= 13 .
Globally, it is always the case that if q0 >= 2 holds, then a0 > 5 previously held and was preceded by c0 < 0 .
After q0 > 17 until j0 < 18, it is always the case that if c0 >= 26 holds, then e0 >= 10 previously held and was preceded by e0 <= 0 .
Between f0 > 4 and o0 > 9, it is always the case that if r0 > 10 holds, then f0 = 18 eventually holds and is succeeded by h0 >= 27 .
After e0 > 15, d0 <= 15 eventually holds.
After d0 >= 27, it is always the case that if o0 < 18 holds, then a0 > 12 eventually holds and is succeeded by g0 <= 25, where a0 > 3 does not hold between a0 > 12 and g0 <= 25 .
Before g0 >= 2, it is always the case that if i0 > 14 holds and is succeeded by f0 >= 10, then i0 <= 15 eventually holds after f0 >= 10 .
After g0 > 5, it is always the case that if b0 >= 23 holds and is succeeded by s0 = 13, then m0 <= 0 previously held.
Globally, it is always the case that if h0 > 26 holds, then c0 <= 29 previously held and was preceded by s0 >= 5 .
After k0 >= 16, it is always the case that if h0 > 17 holds, then j0 < 21 eventually holds and is succeeded by o0 <= 11 .
Between j0 >= 1 and l0 >= 13, it is always the case that if p0 = 25 holds, then b0 = 10 previously held.
After f0 > 9 until f0 <= 16, it is never the case that n0 > 30 holds.
Before j0 > 18, h0 = 23 eventually holds.
After j0 >= 9, it is always the case that if l0 <= 30 holds, then i0 <= 15 eventually holds and is succeeded by p0 < 15, where a0 > 17 does not hold between i0 <= 15 and p0 < 15 .
After k0 > 30 until e0 < 11, j0 < 11 eventually holds.
Between m0 > 10 and n0 = 24, it is always the case that if l0 < 30 holds, then a0 > 13 eventually holds and is succeeded by b0 = 18, where i0 > 21 does not hold between a0 > 13 and b0 = 18 .
After o0 > 24, it is always the case that if r0 <= 5 holds and is succeeded by g0 = 24, then g0 > 26 previously held.
Between c0 >= 22 and p0 >= 3, it is never the case that m0 > 1 holds.
After i0 = 23, it is always the case that if k0 > 2 holds, then e0 >= 26 previously held.
Globally, it is always the case that if a0 > 30 holds, then g0 = 21 previously held.
After b0 <= 3, it is always the case that if p0 <= 2 holds, then r0 < 24 eventually holds.
After l0 > 18, it is always the case that if h0 >= 21 holds, then e0 > 31 previously held.
Globally, it is always the case that g0 < 12 holds.
Between j0 > 28 and r0 >= 14, it is always the case that if g0 < 2 holds, then k0 = 26 previously held and was preceded by m0 > 11 .
Globally, f0 > 31 eventually holds.
After a0 = 12, it is always the case that if l0 < 17 holds, then n0 = 27 previously held and was preceded by s0 <= 19 .
After k0 < 15, it is always the case that if q0 <= 17 holds, then q0 = 5 eventually holds.
After b0 >= 1, it is always the case that if l0 > 10 holds, then r0 > 15 previously held.
Globally, it is always the case that if b0 < 15 holds and is succeeded by f0 > 30, then d0 <= 11 previously held.
Globally, k0 <= 17 eventually holds.
Before o0 <= 16, it is always the case that if i0 < 4 holds, then d0 = 30 eventually holds and is succeeded by g0 < 19 .
Before f0 = 28, it is always the case that h0 > 16 holds.
Before a0 >= 5, it is always the case that if o0 = 13 holds, then c0 <= 14 eventually holds and is succeeded by m0 = 1, where s0 > 26 does not hold between c0 <= 14 and m0 = 1 .
After f0 > 31 until h0 > 10, it is always the case that if i0 > 15 holds, then b0 > 16 previously held.
Globally, it is always the case that if e0 < 9 holds, then o0 = 2 eventually holds and is succeeded by s0 <= 7 .
After b0 = 15, it is always the case that if b0 = 25 holds, then o0 < 8 eventually holds.
Before a0 >= 19, it is always the case that if s0 <= 3 holds, then a0 < 15 previously held and was preceded by i0 < 12 .
After r0 >= 1 until n0 > 15, it is always the case that if h0 = 29 holds, then q0 <= 5 previously held and was preceded by f0 <= 10 .
Globally, it is never the case that k0 >= 10 holds.
Before c0 >= 30, it is always the case that if a0 > 28 holds and is succeeded by g0 >= 14, then b0 >= 14 eventually holds after g0 >= 14 .
Globally, it is always the case that if o0 >= 21 holds, then f0 = 11 eventually holds and is succeeded by q0 > 7, where s0 < 4 does not hold between f0 = 11 and q0 > 7 .
After q0 <= 20 until c0 <= 23, it is always the case that if i0 < 8 holds, then j0 < 25 previously held and was preceded by f0 >= 13 .
Between s0 > 19 and d0 = 11, it is always the case that if e0 >= 29 holds, then b0 >= 8 previously held.
After s0 > 24 until f0 < 26, it is always the case that if i0 <= 26 holds and is succeeded by b0 = 16, then m0 = 27 previously held.
Before o0 <= 17, it is never the case that g0 < 11 holds.
Between a0 >= 13 and q0 >= 15, it is always the case that if o0 <= 22 holds, then c0 >= 31 previously held and was preceded by q0 >= 23 .
After l0 = 12 until h0 < 25, it is always the case that if b0 <= 10 holds, then h0 = 12 eventually holds and is succeeded by j0 <= 2, where n0 > 17 does not hold between h0 = 12 and j0 <= 2 .
Between q0 >= 25 and c0 >= 3, r0 >= 29 eventually holds.
Between d0 >= 11 and q0 > 14, it is always the case that if m0 <= 8 holds, then b0 > 15 eventually holds and is succeeded by f0 >= 9 .
Before e0 <= 27, it is always the case that if l0 <= 15 holds, then c0 >= 15 eventually holds.
Before p0 = 23, it is never the case that r0 > 14 holds.
Globally, s0 > 25 eventually holds.
After q0 < 14, it is always the case that if j0 > 14 holds and is succeeded by s0 > 1, then e0 > 27 previously held.
Globally, it is always the case that if p0 = 27 holds, then n0 = 28 previously held.
After k0 > 26 until n0 >= 24, it is always the case that n0 > 2 holds.
After c0 < 13 until d0 >= 26, a0 > 3 eventually holds.
Globally, p0 <= 8 eventually holds.
Before o0 <= 22, it is always the case that s0 >= 31 holds.
After g0 <= 28 until d0 >= 5, it is always the case that if g0 <= 20 holds and is succeeded by o0 <= 28, then e0 = 18 previously held.
Between i0 > 13 and f0 = 28, it is always the case that if k0 >= 24 holds and is succeeded by f0 = 21, then i0 >= 17 previously held.
Between k0 = 23 and q0 >= 29, it is always the case that if j0 <= 9 holds and is succeeded by d0 >= 18, then d0 < 23 previously held.
Between p0 > 9 and i0 > 11, it is never the case that b0 > 6 holds.
Globally, it is never the case that n0 < 14 holds.
After s0 = 16, it is always the case that if f0 = 21 holds and is succeeded by p0 = 21, then e0 <= 6 previously held.
After b0 > 11 until e0 < 5, it is always the case that if f0 >= 25 holds, then k0 <= 10 eventually holds and is succeeded by o0 < 0, where m0 > 11 does not hold between k0 <= 10 and o0 < 0 .
After c0 <= 3 until i0 >= 26, it is always the case that if p0 <= 2 holds, then s0 >= 30 previously held.
After o0 >= 19, it is always the case that if o0 >= 25 holds and is succeeded by b0 > 1, then g0 < 14 eventually holds after b0 > 1 .
After r0 > 26, it is always the case that i0 > 18 holds.
Before d0 >= 15, it is always the case that if s0 = 13 holds, then r0 <= 17 eventually holds.
Globally, it is always the case that if o0 < 6 holds, then n0 >= 14 eventually holds and is succeeded by q0 = 22 .
After s0 > 29 until s0 <= 24, it is always the case that if c0 >= 26 holds and is succeeded by c0 <= 14, then k0 = 11 eventually holds after c0 <= 14 .
Between c0 < 0 and f0 <= 0, it is never the case that e0 > 23 holds.
Before k0 >= 12, it is always the case that if k0 <= 31 holds, then k0 = 6 eventually holds and is succeeded by e0 = 9, where d0 > 12 does not hold between k0 = 6 and e0 = 9 .
Between d0 <= 3 and d0 <= 10, it is always the case that if k0 >= 13 holds, then p0 = 4 eventually holds and is succeeded by b0 > 27, where m0 > 21 does not hold between p0 = 4 and b0 > 27 .
After p0 < 14 until g0 > 25, it is always the case that if c0 >= 30 holds, then q0 >= 14 previously held and was preceded by s0 > 11 .
Globally, it is never the case that f0 = 23 holds.
Globally, it is always the case that if s0 < 10 holds, then q0 < 19 previously held.
Between e0 < 30 and p0 > 12, it is always the case that if c0 >= 22 holds, then n0 >= 18 previously held.
After a0 > 11, it is always the case that if n0 > 17 holds and is succeeded by e0 > 16, then m0 < 16 eventually holds after e0 > 16 .
After k0 < 21, it is always the case that if g0 >= 5 holds, then f0 <= 2 eventually holds and is succeeded by r0 = 5 .
Between d0 > 19 and k0 < 28, it is always the case that if j0 > 20 holds and is succeeded by m0 >= 20, then r0 <= 29 previously held.
Before h0 <= 7, it is always the case that if s0 <= 1 holds, then b0 <= 2 previously held.
Globally, it is always the case that if h0 < 7 holds, then m0 = 30 eventually holds and is succeeded by f0 <= 12, where s0 < 4 does not hold between m0 = 30 and f0 <= 12 .
After q0 < 18 until k0 >= 24, it is always the case that if a0 >= 7 holds and is succeeded by c0 < 24, then d0 <= 17 eventually holds after c0 < 24 .
Before s0 = 8, it is always the case that if p0 >= 26 holds and is succeeded by s0 > 11, then b0 > 30 eventually holds after s0 > 11 .
After a0 <= 3 until m0 <= 3, it is always the case that if n0 > 15 holds, then l0 < 3 previously held.
Globally, it is always the case that if j0 <= 25 holds and is succeeded by r0 > 4, then r0 > 8 eventually holds after r0 > 4 .
Globally, it is always the case that if h0 = 24 holds, then c0 = 21 eventually holds.
Globally, it is always the case that if q0 <= 25 holds and is succeeded by m0 <= 28, then o0 <= 25 eventually holds after m0 <= 28 .
Before o0 <= 15, i0 >= 11 eventually holds.
Between c0 = 23 and b0 = 23, it is always the case that if r0 > 12 holds and is succeeded by h0 >= 5, then b0 >= 12 eventually holds after h0 >= 5 .
After c0 <= 10, it is always the case that if a0 < 25 holds and is succeeded by c0 <= 27, then k0 < 2 previously held.
Globally, it is always the case that if h0 >= 9 holds and is succeeded by o0 > 3, then e0 < 8 previously held.
Between p0 <= 5 and d0 = 18, it is always the case that if h0 <= 11 holds, then p0 >= 14 previously held.
Between c0 > 31 and s0 <= 10, it is always the case that if n0 < 11 holds, then h0 = 28 eventually holds.
Between r0 >= 28 and i0 <= 21, it is always the case that p0 < 6 holds.
Globally, it is always the case that if m0 = 0 holds, then q0 >= 26 eventually holds and is succeeded by e0 >= 26 .
Before k0 > 21, c0 > 10 eventually holds.
After o0 >= 15, it is always the case that p0 = 24 holds.
Globally, it is always the case that c0 <= 13 holds.
Globally, it is always the case that if f0 = 21 holds and is succeeded by e0 < 2, then s0 < 21 eventually holds after e0 < 2 .
After o0 < 9 until e0 <= 10, it is always the case that s0 > 28 holds.
After l0 < 9, it is always the case that if g0 < 7 holds and is succeeded by n0 = 30, then g0 <= 12 eventually holds after n0 = 30 .
After o0 <= 27 until s0 > 19, it is always the case that o0 > 5 holds.
After q0 <= 19, it is always the case that if i0 = 23 holds, then p0 <= 2 previously held and was preceded by q0 < 21 .
Between d0 = 17 and d0 >= 5, it is always the case that if l0 < 4 holds, then n0 = 27 eventually holds and is succeeded by h0 > 0 .
Globally, it is always the case that if k0 < 17 holds, then l0 <= 21 previously held.
Globally, it is always the case that if p0 >= 8 holds and is succeeded by f0 = 0, then p0 > 22 eventually holds after f0 = 0 .
After d0 > 4, it is always the case that if f0 <= 13 holds and is succeeded by i0 > 22, then r0 = 22 previously held.
Globally, it is always the case that if c0 >= 16 holds, then g0 >= 17 previously held and was preceded by h0 > 15 .
Between l0 >= 27 and e0 = 16, c0 > 29 eventually holds.
After n0 >= 25 until l0 < 29, it is always the case that o0 < 31 holds.
Globally, it is always the case that b0 = 7 holds.
Globally, it is always the case that if f0 < 29 holds, then h0 <= 4 eventually holds.
Globally, it is always the case that if e0 = 30 holds, then p0 >= 4 eventually holds and is succeeded by g0 <= 22 .
After a0 > 27, it is always the case that if i0 <= 23 holds, then p0 < 31 eventually holds.
Before c0 = 27, it is never the case that h0 < 21 holds.
After l0 <= 30, it is always the case that if e0 >= 6 holds and is succeeded by k0 <= 12, then h0 >= 31 eventually holds after k0 <= 12 .
After s0 >= 20, it is never the case that p0 < 10 holds.
Between q0 < 1 and q0 <= 6, it is always the case that if a0 > 12 holds, then e0 > 3 previously held and was preceded by k0 <= 5 .
After k0 >= 24 until h0 < 22, it is always the case that if j0 > 2 holds, then i0 >= 29 previously held and was preceded by c0 <= 22 .
After e0 > 25 until i0 > 11, it is always the case that l0 = 18 holds.
After o0 <= 10 until n0 >= 3, it is always the case that if i0 > 24 holds and is succeeded by o0 > 0, then n0 = 15 eventually holds after o0 > 0 .
Globally, it is always the case that if o0 < 29 holds, then b0 > 5 previously held and was preceded by r0 = 19 .
After d0 >= 30 until k0 < 4, it is always the case that p0 = 26 holds.
After p0 >= 11 until o0 = 19, it is always the case that if f0 < 11 holds, then o0 > 10 previously held and was preceded by f0 < 23 .
After r0 > 1, l0 > 18 eventually holds.
Globally, it is always the case that e0 = 16 holds.
After p0 > 13 until s0 >= 1, l0 <= 6 eventually holds.
Before o0 < 13, it is always the case that if m0 >= 20 holds, then c0 = 0 eventually holds.
After l0 <= 9 until n0 < 9, c0 <= 2 eventually holds.
Globally, it is never the case that l0 <= 8 holds.
After a0 = 9, it is always the case that if o0 < 27 holds, then r0 >= 0 eventually holds and is succeeded by q0 < 28, where m0 <= 3 does not hold between r0 >= 0 and q0 < 28 .
Before a0 = 29, it is always the case that if q0 >= 4 holds, then a0 <= 11 eventually holds.
Before e0 >= 8, it is always the case that if p0 < 24 holds, then r0 <= 4 eventually holds and is succeeded by m0 = 19, where e0 = 28 does not hold between r0 <= 4 and m0 = 19 .
After s0 < 27, it is always the case that if c0 >= 2 holds, then k0 > 30 eventually holds and is succeeded by s0 >= 23 .
Between q0 <= 23 and m0 > 15, it is always the case that if j0 > 26 holds, then k0 = 20 previously held.
Between l0 <= 7 and k0 < 13, it is always the case that if e0 = 5 holds, then l0 > 28 eventually holds.
After l0 >= 20 until a0 > 3, k0 <= 3 eventually holds.
After q0 <= 23, it is always the case that if b0 > 31 holds, then j0 < 30 eventually holds.
After e0 < 17 until s0 <= 21, q0 = 27 eventually holds.
After d0 >= 4 until d0 < 20, it is always the case that if o0 <= 4 holds, then h0 > 4 eventually holds.
Before r0 >= 6, it is always the case that if a0 = 9 holds and is succeeded by f0 > 23, then a0 = 0 previously held.
Before b0 = 31, c0 = 4 eventually holds.
Between m0 = 28 and d0 >= 5, it is never the case that c0 < 16 holds.
After q0 > 4 until o0 >= 23, it is always the case that p0 < 3 holds.
Globally, it is never the case that r0 <= 25 holds.
Between c0 < 4 and i0 < 22, it is always the case that if p0 >= 17 holds and is succeeded by e0 = 25, then h0 > 26 previously held.
Between i0 >= 12 and b0 >= 17, it is always the case that if p0 >= 1 holds, then d0 > 5 eventually holds.
After b0 <= 4, it is never the case that a0 <= 16 holds.
After d0 >= 2 until c0 <= 9, it is always the case that if m0 > 10 holds and is succeeded by d0 <= 8, then m0 >= 23 eventually holds after d0 <= 8 .
Before b0 = 14, it is always the case that if n0 <= 13 holds and is succeeded by a0 > 3, then s0 < 29 eventually holds after a0 > 3 .
Globally, it is always the case that if s0 <= 16 holds, then h0 >= 5 eventually holds.
After a0 >= 5 until l0 >= 8, it is always the case that if m0 <= 24 holds and is succeeded by i0 >= 23, then r0 = 7 eventually holds after i0 >= 23 .
Before o0 > 24, it is always the case that if m0 >= 24 holds, then n0 <= 21 eventually holds and is succeeded by k0 = 24 .
Before q0 <= 25, it is always the case that if f0 >= 20 holds, then n0 >= 16 eventually holds and is succeeded by r0 > 9 .
Between f0 = 4 and h0 < 25, it is always the case that if i0 > 28 holds, then p0 < 16 previously held.
After k0 > 31, it is always the case that if k0 < 23 holds and is succeeded by h0 = 6, then c0 = 3 eventually holds after h0 = 6 .
Between k0 <= 25 and l0 >= 24, it is always the case that if l0 <= 18 holds, then j0 = 28 eventually holds and is succeeded by g0 < 7, where f0 >= 13 does not hold between j0 = 28 and g0 < 7 .
Globally, it is always the case that if e0 > 0 holds, then h0 = 13 previously held and was preceded by i0 < 3 .
Before q0 = 8, it is always the case that if c0 <= 27 holds and is succeeded by c0 <= 27, then g0 = 6 previously held.
Before c0 < 26, it is always the case that if a0 > 12 holds, then o0 < 16 eventually holds and is succeeded by r0 <= 5 .
Between j0 < 11 and r0 >= 3, it is always the case that if o0 = 10 holds, then q0 <= 21 eventually holds.
Between s0 <= 11 and h0 >= 25, it is never the case that k0 > 10 holds.
Before p0 < 25, it is never the case that e0 >= 18 holds.
Before d0 > 10, it is always the case that l0 <= 22 holds.
After h0 >= 25, it is always the case that if i0 < 19 holds, then q0 < 28 previously held.
Globally, it is always the case that if g0 >= 14 holds, then o0 = 8 eventually holds.
Globally, it is always the case that if i0 = 23 holds, then i0 < 3 previously held.
Before d0 = 20, it is never the case that s0 < 6 holds.
After a0 > 29 until g0 <= 9, it is always the case that if h0 > 11 holds, then m0 = 11 previously held.
Globally, it is always the case that if l0 = 1 holds, then r0 = 13 previously held and was preceded by m0 >= 3 .
