Between d5 <= 13 and r4 <= 2, it is always the case that b3 <= 5 holds.
Between h0 >= 13 and a6 > 3, it is always the case that if f3 = 15 holds and is succeeded by i3 = 0, then c1 = 1 eventually holds after i3 = 0 .
Globally, it is never the case that f4 = 14 holds.
Between a6 >= 8 and r4 < 5, it is always the case that if x3 <= 2 holds, then u2 >= 14 eventually holds and is succeeded by k0 < 7 .
Before e3 > 2, it is always the case that if l2 >= 1 holds, then y0 = 12 eventually holds.
After l5 < 13 until s3 >= 3, it is always the case that if d1 >= 14 holds, then z5 >= 8 previously held.
Between e4 >= 13 and m4 >= 7, it is always the case that if p0 < 12 holds, then z3 < 0 eventually holds.
Globally, it is always the case that if s5 = 7 holds, then v5 = 4 previously held.
After l3 > 1, it is always the case that if t1 <= 13 holds, then d5 > 11 eventually holds and is succeeded by r3 < 15, where p5 = 3 does not hold between d5 > 11 and r3 < 15 .
After y4 <= 10, it is always the case that if n1 = 3 holds and is succeeded by w4 > 8, then s3 > 14 eventually holds after w4 > 8 .
Globally, it is always the case that u5 > 14 holds.
Globally, it is always the case that if m3 <= 2 holds, then z1 = 1 eventually holds.
Between r2 = 11 and v2 = 7, it is always the case that if l2 >= 2 holds, then v5 > 6 eventually holds and is succeeded by s1 <= 7, where b3 <= 6 does not hold between v5 > 6 and s1 <= 7 .
After x3 < 2, it is always the case that if o3 > 3 holds, then p4 < 13 eventually holds.
After e5 <= 14 until r5 <= 9, it is always the case that if b3 < 1 holds, then o5 < 2 previously held and was preceded by w5 < 13 .
Globally, it is always the case that if h0 < 15 holds and is succeeded by e1 >= 3, then g4 < 15 previously held.
Before d1 = 5, it is always the case that d0 < 9 holds.
After y5 < 12, it is never the case that m5 > 4 holds.
Before f5 >= 2, it is always the case that if p4 < 10 holds, then j3 = 15 eventually holds and is succeeded by v1 = 13 .
Between z2 < 1 and g1 > 14, it is always the case that if s2 > 10 holds and is succeeded by q1 > 1, then q2 = 2 eventually holds after q1 > 1 .
Before g4 >= 8, it is never the case that j2 >= 3 holds.
After o4 > 10, it is always the case that if z5 > 3 holds, then k5 < 9 previously held and was preceded by o2 < 8 .
After u5 <= 5, it is never the case that p4 > 4 holds.
After y3 <= 2, it is always the case that if g5 >= 4 holds and is succeeded by j3 <= 14, then s1 <= 3 previously held.
After q1 = 3 until e5 >= 8, it is never the case that c4 < 9 holds.
Globally, it is always the case that if c3 < 2 holds, then y3 >= 8 eventually holds and is succeeded by k5 <= 3 .
After o3 <= 13, g2 < 15 eventually holds.
Before i1 < 1, it is always the case that if h1 > 12 holds, then m3 = 11 eventually holds and is succeeded by q4 = 9 .
After m1 = 1 until n3 > 5, it is always the case that if f3 >= 14 holds, then t0 > 0 eventually holds and is succeeded by n2 < 7, where z4 >= 5 does not hold between t0 > 0 and n2 < 7 .
After c0 >= 2, it is always the case that if h4 <= 14 holds and is succeeded by s3 = 1, then g2 = 6 previously held.
After h4 <= 11 until o4 >= 2, it is always the case that if t4 >= 8 holds, then f0 >= 6 eventually holds and is succeeded by a0 >= 13, where g4 > 1 does not hold between f0 >= 6 and a0 >= 13 .
Between h0 < 2 and b6 > 5, it is always the case that if t4 <= 8 holds, then j4 < 15 eventually holds and is succeeded by l1 = 15 .
Between c1 >= 10 and i1 >= 1, it is always the case that y2 < 12 holds.
Before m5 = 3, it is always the case that if c3 > 13 holds, then b2 <= 6 previously held.
Before t4 > 14, it is always the case that if w3 <= 14 holds and is succeeded by c5 <= 12, then m3 > 15 eventually holds after c5 <= 12 .
After r2 <= 12, it is always the case that if b0 > 15 holds, then d4 >= 8 previously held and was preceded by z0 > 4 .
Between w3 >= 2 and p1 >= 12, it is always the case that if o5 > 6 holds and is succeeded by x3 < 5, then g5 < 10 previously held.
After t3 <= 3, it is always the case that if a1 < 0 holds and is succeeded by t1 = 14, then v1 > 7 previously held.
Globally, z1 < 6 eventually holds.
Before r5 = 13, it is always the case that if t5 > 14 holds, then e4 <= 5 eventually holds.
After x4 < 12 until w2 > 6, it is always the case that t4 = 8 holds.
After v2 > 11 until i2 < 0, it is always the case that if w3 < 9 holds and is succeeded by u2 <= 7, then o3 < 14 previously held.
After n0 < 14, it is always the case that if j3 = 2 holds, then b6 = 8 eventually holds and is succeeded by s3 < 1 .
Between o1 <= 9 and y2 > 15, it is always the case that if w2 > 13 holds and is succeeded by e5 >= 14, then o4 = 8 eventually holds after e5 >= 14 .
Between z5 = 9 and y5 < 6, it is always the case that a3 = 5 holds.
Before v4 = 8, c1 > 13 eventually holds.
Before w3 = 5, it is always the case that if g1 >= 14 holds, then y5 <= 12 eventually holds and is succeeded by a3 >= 5 .
After n1 <= 7, it is always the case that if b2 <= 9 holds, then e0 = 10 eventually holds and is succeeded by n3 <= 4, where r4 <= 10 does not hold between e0 = 10 and n3 <= 4 .
Globally, it is always the case that if n2 = 10 holds, then y0 <= 5 previously held and was preceded by b0 < 15 .
Before k3 = 12, it is always the case that if p2 <= 3 holds and is succeeded by d1 < 13, then h4 <= 9 previously held.
Globally, it is always the case that if s5 >= 3 holds, then f1 = 13 previously held and was preceded by c3 < 15 .
After k4 > 3, it is always the case that if x5 <= 15 holds and is succeeded by b0 = 2, then y5 > 5 eventually holds after b0 = 2 .
Between s5 >= 1 and r3 <= 3, it is never the case that t1 > 10 holds.
Before x5 < 3, it is always the case that if s3 = 10 holds and is succeeded by i3 < 9, then p2 > 7 previously held.
After z5 > 1, c4 > 5 eventually holds.
Globally, it is always the case that i1 = 11 holds.
Before j2 > 1, it is always the case that if k5 <= 5 holds, then q0 < 12 eventually holds and is succeeded by n5 > 4, where h1 >= 7 does not hold between q0 < 12 and n5 > 4 .
After o2 < 2 until h3 > 4, it is always the case that if m0 < 3 holds, then l0 < 14 previously held and was preceded by a4 < 10 .
After m0 <= 0, it is always the case that if c5 = 13 holds and is succeeded by b4 <= 9, then f3 <= 11 previously held.
After z3 = 9 until o4 <= 0, it is always the case that if d1 > 5 holds and is succeeded by o4 <= 2, then z2 <= 15 previously held.
