Before h1 <= 3, p0 >= 3 eventually holds.
After a1 <= 12 until t0 = 4, it is always the case that if m1 < 7 holds, then v0 < 9 eventually holds and is succeeded by t0 < 3, where a0 > 14 does not hold between v0 < 9 and t0 < 3 .
After f0 = 15 until s0 < 14, it is always the case that if y0 = 15 holds and is succeeded by i0 < 14, then a1 >= 3 eventually holds after i0 < 14 .
Globally, f0 = 0 eventually holds.
Between l1 = 0 and b0 > 6, it is always the case that h1 <= 8 holds.
After p0 = 0 until c0 > 13, it is always the case that if l0 < 6 holds, then d0 < 3 eventually holds and is succeeded by a1 < 6 .
After m0 <= 9 until d0 < 4, it is always the case that if w0 = 11 holds, then u0 > 11 previously held and was preceded by c0 <= 9 .
Between j1 >= 10 and e1 = 11, it is never the case that k1 > 7 holds.
After b0 >= 6, it is always the case that if c0 < 12 holds, then a0 > 2 eventually holds and is succeeded by e0 = 11 .
After v0 <= 0, it is always the case that if y0 >= 7 holds and is succeeded by u0 = 2, then f0 = 5 eventually holds after u0 = 2 .
Between i1 = 12 and s0 = 10, it is always the case that if a1 >= 14 holds, then t0 = 8 previously held and was preceded by g1 <= 1 .
Before i0 = 5, it is always the case that if b0 <= 6 holds and is succeeded by w0 > 3, then e0 > 8 eventually holds after w0 > 3 .
Before o0 < 9, it is always the case that if j0 >= 4 holds and is succeeded by e0 < 0, then s0 >= 7 previously held.
Before k1 < 12, it is always the case that if i0 > 10 holds and is succeeded by g0 > 11, then g1 >= 7 eventually holds after g0 > 11 .
Globally, it is always the case that i1 <= 1 holds.
Before s0 < 7, it is always the case that if e0 <= 1 holds, then b1 = 15 eventually holds and is succeeded by k1 = 7, where i0 >= 8 does not hold between b1 = 15 and k1 = 7 .
Before b0 > 10, it is always the case that if n0 = 4 holds, then h1 >= 6 previously held.
Before v0 = 4, it is always the case that if m1 <= 2 holds and is succeeded by j1 > 4, then c0 <= 12 eventually holds after j1 > 4 .
After x0 > 6, it is always the case that if t0 < 4 holds, then f1 > 6 eventually holds.
Between k0 < 15 and g1 = 2, it is never the case that g0 <= 6 holds.
After w0 = 6 until a1 >= 14, it is always the case that m1 > 6 holds.
Between g0 >= 2 and j1 < 7, it is never the case that p0 >= 13 holds.
Between t0 >= 14 and l1 <= 8, it is never the case that e0 > 5 holds.
Between y0 = 5 and m0 > 11, it is always the case that if a0 >= 15 holds, then p0 > 2 eventually holds and is succeeded by a1 > 2, where u0 >= 9 does not hold between p0 > 2 and a1 > 2 .
Between l0 > 9 and r0 <= 14, it is always the case that if s0 <= 3 holds and is succeeded by l0 < 10, then b1 = 14 eventually holds after l0 < 10 .
After p0 >= 2, it is always the case that if d0 >= 8 holds, then v0 = 13 eventually holds and is succeeded by s0 = 11, where i0 > 13 does not hold between v0 = 13 and s0 = 11 .
Globally, it is always the case that if n0 > 15 holds, then o0 >= 10 eventually holds and is succeeded by d1 >= 0 .
After j0 >= 9, it is always the case that if e0 > 10 holds and is succeeded by d0 = 10, then w0 <= 3 eventually holds after d0 = 10 .
After m0 = 14, it is always the case that if i0 = 15 holds, then k1 > 15 eventually holds and is succeeded by h0 >= 4 .
Globally, it is never the case that h0 <= 7 holds.
Before g0 >= 11, it is always the case that if o0 < 8 holds, then k1 = 15 previously held.
Before s0 > 9, it is always the case that if b0 < 0 holds, then v0 < 3 eventually holds.
Before v0 < 14, it is always the case that o0 = 6 holds.
After g0 <= 2 until m0 = 11, it is always the case that if a1 <= 8 holds, then l0 <= 8 eventually holds and is succeeded by h0 = 12 .
After m0 > 5, it is always the case that if a1 >= 7 holds, then r0 >= 1 eventually holds and is succeeded by n0 > 13 .
Globally, it is always the case that if d0 > 5 holds, then l0 = 11 previously held and was preceded by n0 = 2 .
After z0 >= 10 until c0 <= 11, it is always the case that n0 = 9 holds.
Before c0 = 1, it is always the case that if c0 >= 8 holds, then j0 = 8 eventually holds.
Before a0 < 7, c0 > 11 eventually holds.
Before f1 < 0, it is always the case that if h0 = 15 holds, then d1 = 0 eventually holds and is succeeded by d1 <= 1, where r0 > 6 does not hold between d1 = 0 and d1 <= 1 .
After m0 = 6 until c1 <= 4, it is always the case that if u0 >= 5 holds, then m1 >= 5 eventually holds and is succeeded by c0 < 1, where c1 > 4 does not hold between m1 >= 5 and c0 < 1 .
After n0 > 15, it is always the case that if k1 <= 7 holds and is succeeded by c1 <= 2, then i0 < 11 previously held.
Between g1 < 5 and d0 > 12, it is always the case that if b1 < 10 holds, then a0 < 3 eventually holds and is succeeded by c0 < 9, where d1 = 9 does not hold between a0 < 3 and c0 < 9 .
Before j1 >= 6, it is never the case that b0 = 8 holds.
Globally, a1 = 11 eventually holds.
After r0 = 2, it is always the case that if x0 >= 10 holds and is succeeded by c0 > 15, then f0 <= 1 previously held.
Globally, it is always the case that if l0 < 7 holds, then g0 = 2 eventually holds and is succeeded by n0 = 14 .
Globally, it is always the case that if d1 < 10 holds and is succeeded by z0 >= 6, then y0 = 2 eventually holds after z0 >= 6 .
Before c1 < 13, it is always the case that if h1 = 12 holds, then w0 > 13 eventually holds.
Globally, d0 >= 4 eventually holds.
Before s0 >= 6, it is always the case that if r0 >= 10 holds and is succeeded by l0 = 13, then b1 <= 11 eventually holds after l0 = 13 .
Globally, it is always the case that if m1 > 9 holds, then f1 <= 7 eventually holds.
Globally, it is always the case that if k0 < 10 holds, then j1 >= 15 eventually holds.
Globally, it is always the case that if f1 = 11 holds, then c0 > 14 eventually holds and is succeeded by t0 < 7 .
Before t0 = 3, e1 > 9 eventually holds.
Between s0 < 15 and m1 <= 8, n0 < 7 eventually holds.
After m0 = 1, c0 >= 5 eventually holds.
Before p0 >= 14, it is always the case that n0 >= 5 holds.
After g0 < 2 until a0 >= 15, it is always the case that if h1 >= 7 holds and is succeeded by h0 >= 11, then b0 <= 10 eventually holds after h0 >= 11 .
After e1 = 5, it is always the case that if d0 > 1 holds and is succeeded by j0 <= 14, then r0 <= 1 previously held.
After a1 > 3, it is always the case that if g0 < 14 holds, then i0 <= 9 previously held and was preceded by r0 <= 8 .
After g1 <= 11 until r0 > 9, it is always the case that if b1 >= 6 holds and is succeeded by h1 < 5, then t0 <= 2 eventually holds after h1 < 5 .
Globally, it is always the case that if l0 >= 12 holds, then b1 >= 2 previously held.
Between l0 <= 2 and d0 < 14, it is always the case that if v0 < 15 holds, then a0 < 0 previously held.
Before a1 <= 0, it is always the case that if e0 <= 8 holds and is succeeded by s0 > 6, then k0 <= 0 previously held.
Between d1 = 12 and j0 <= 12, it is never the case that d0 >= 2 holds.
Globally, it is always the case that if c1 = 5 holds and is succeeded by g1 = 5, then i0 < 7 previously held.
After c1 < 5, it is always the case that if u0 < 5 holds and is succeeded by y0 = 15, then l1 <= 6 previously held.
Before d1 = 8, it is always the case that if b1 < 2 holds, then s0 >= 13 eventually holds.
Globally, b0 >= 4 eventually holds.
Before h0 = 5, it is never the case that f1 = 8 holds.
After k0 > 7 until s0 = 14, it is always the case that if g0 >= 12 holds, then g1 < 2 eventually holds and is succeeded by k0 > 8 .
After z0 = 14 until e1 >= 11, it is never the case that k0 > 11 holds.
Before a1 = 9, it is always the case that if s0 <= 9 holds, then o0 < 7 eventually holds and is succeeded by q0 > 4, where h1 = 8 does not hold between o0 < 7 and q0 > 4 .
After f0 <= 14 until x0 >= 5, it is never the case that g1 = 13 holds.
After e1 > 14, it is always the case that if b0 = 3 holds, then k0 >= 3 previously held and was preceded by i0 > 13 .
After j0 >= 12 until d1 <= 1, it is always the case that if v0 < 8 holds, then b0 > 1 eventually holds and is succeeded by a1 <= 11 .
Globally, it is always the case that if f1 <= 6 holds and is succeeded by v0 > 1, then x0 = 11 previously held.
After m0 >= 6 until r0 < 11, it is always the case that if l1 > 1 holds and is succeeded by e0 >= 14, then i0 > 15 eventually holds after e0 >= 14 .
After m0 >= 3 until g0 = 10, it is always the case that if h1 < 10 holds, then s0 < 15 eventually holds and is succeeded by k1 <= 9 .
After i1 > 9, it is always the case that if n0 <= 7 holds and is succeeded by y0 <= 10, then e1 < 15 previously held.
After w0 < 9 until e0 >= 9, it is always the case that if v0 >= 1 holds and is succeeded by d0 < 10, then c0 >= 1 previously held.
Between n0 >= 8 and g1 <= 9, it is always the case that if d1 >= 6 holds, then u0 < 13 previously held and was preceded by k0 >= 11 .
Before i1 = 12, it is always the case that if h1 = 14 holds and is succeeded by e1 > 13, then b0 >= 15 previously held.
After j1 < 9 until c0 > 7, it is always the case that if w0 >= 6 holds, then k0 = 5 previously held and was preceded by i1 > 12 .
Before d0 < 9, it is always the case that if m1 > 6 holds, then j0 >= 2 eventually holds and is succeeded by k1 < 7, where d1 = 6 does not hold between j0 >= 2 and k1 < 7 .
After c1 <= 4, it is always the case that i0 >= 13 holds.
Between b1 > 10 and o0 = 15, it is always the case that if c0 < 6 holds, then z0 = 8 eventually holds.
Between i0 = 5 and a1 <= 3, it is always the case that if q0 >= 3 holds and is succeeded by d1 > 12, then a1 < 5 eventually holds after d1 > 12 .
Globally, j1 >= 9 eventually holds.
After l0 = 9 until j0 > 3, it is always the case that d0 = 1 holds.
Before w0 < 14, s0 <= 15 eventually holds.
After m0 = 12 until f0 = 11, q0 = 10 eventually holds.
After d0 >= 3, it is always the case that if c1 >= 5 holds, then z0 < 5 previously held and was preceded by q0 >= 1 .
Between m1 >= 4 and g0 > 11, it is always the case that if j1 > 6 holds, then g1 > 9 eventually holds and is succeeded by i0 <= 15, where m1 = 15 does not hold between g1 > 9 and i0 <= 15 .
Between p0 = 12 and a0 <= 9, it is always the case that if n0 < 6 holds and is succeeded by a1 = 12, then i0 >= 3 previously held.
Before k0 >= 0, it is always the case that if b0 <= 9 holds and is succeeded by z0 <= 10, then m1 < 9 eventually holds after z0 <= 10 .
Between u0 > 15 and k0 <= 5, it is always the case that if c0 <= 5 holds, then n0 >= 14 previously held and was preceded by q0 <= 3 .
After i0 > 5, it is always the case that if h1 < 5 holds and is succeeded by j1 > 3, then q0 <= 0 eventually holds after j1 > 3 .
Before z0 > 5, it is always the case that if p0 < 1 holds, then j0 >= 1 eventually holds and is succeeded by n0 <= 2, where s0 >= 2 does not hold between j0 >= 1 and n0 <= 2 .
Between c0 >= 2 and s0 = 14, it is always the case that if n0 = 0 holds, then i0 >= 7 eventually holds and is succeeded by e1 < 13, where b1 > 8 does not hold between i0 >= 7 and e1 < 13 .
Globally, it is always the case that if m1 >= 4 holds, then j1 <= 5 eventually holds and is succeeded by a0 = 15 .
Between h1 >= 13 and f0 <= 7, it is always the case that g1 > 9 holds.
Before e0 <= 1, it is always the case that if u0 = 8 holds, then e1 > 13 previously held.
Globally, it is always the case that if b1 < 10 holds and is succeeded by s0 <= 3, then v0 <= 0 previously held.
Between c0 < 11 and v0 >= 11, it is always the case that if y0 <= 0 holds, then a1 <= 9 eventually holds and is succeeded by y0 <= 11 .
After t0 > 7, it is never the case that i1 < 11 holds.
Before k1 > 5, it is never the case that c1 > 14 holds.
Between k0 = 0 and w0 > 3, it is always the case that if r0 > 12 holds, then p0 > 0 eventually holds and is succeeded by k0 < 12, where j0 <= 15 does not hold between p0 > 0 and k0 < 12 .
After i1 >= 14, y0 < 0 eventually holds.
After m1 > 12 until h0 >= 13, it is always the case that if f0 >= 0 holds, then i0 = 9 eventually holds and is succeeded by y0 = 1 .
Globally, it is always the case that if v0 = 1 holds, then l0 < 4 eventually holds.
Before y0 <= 12, it is always the case that if g1 > 1 holds and is succeeded by a0 = 12, then e0 >= 7 previously held.
Globally, it is always the case that c0 = 10 holds.
Between b1 > 5 and j1 >= 12, it is always the case that if h0 > 8 holds, then m0 <= 6 previously held and was preceded by w0 > 9 .
Between a0 > 9 and i1 = 6, it is always the case that if v0 < 3 holds, then k0 < 2 eventually holds and is succeeded by g1 > 8, where a0 >= 0 does not hold between k0 < 2 and g1 > 8 .
After b1 = 4, it is always the case that if g0 = 9 holds, then b0 > 15 previously held and was preceded by m1 <= 7 .
Before g0 < 1, it is always the case that if u0 >= 3 holds, then d0 > 2 previously held and was preceded by n0 <= 7 .
Before j0 < 4, a0 > 12 eventually holds.
After x0 >= 13 until u0 > 6, it is always the case that if f1 > 7 holds, then b0 < 6 eventually holds and is succeeded by z0 >= 12 .
After p0 < 13, it is always the case that if i1 > 1 holds, then i1 >= 15 eventually holds and is succeeded by h1 < 9 .
Before t0 <= 13, s0 <= 1 eventually holds.
After e1 >= 14 until o0 > 3, it is always the case that if p0 >= 7 holds, then n0 = 5 eventually holds and is succeeded by b1 >= 13 .
After b0 >= 8, it is never the case that d1 < 11 holds.
After u0 > 0, it is always the case that if y0 > 5 holds and is succeeded by u0 < 6, then n0 > 7 eventually holds after u0 < 6 .
After l1 > 14, it is never the case that b1 < 1 holds.
Globally, it is always the case that if a1 <= 2 holds and is succeeded by x0 >= 2, then d1 <= 10 eventually holds after x0 >= 2 .
Globally, it is always the case that if g0 <= 0 holds, then v0 = 11 eventually holds.
Between b0 >= 6 and d0 = 2, it is always the case that if i1 >= 10 holds and is succeeded by r0 <= 9, then o0 = 14 previously held.
Between l0 >= 10 and c1 >= 8, it is always the case that if u0 = 7 holds, then p0 <= 4 eventually holds and is succeeded by m1 >= 9 .
After e0 = 10 until k0 > 6, it is always the case that if q0 >= 8 holds, then y0 <= 7 eventually holds.
Between l1 >= 10 and i0 <= 12, it is always the case that if i0 >= 7 holds, then u0 <= 3 previously held.
After j0 < 13 until f0 >= 1, it is always the case that t0 = 0 holds.
After g0 = 10, it is always the case that if g1 >= 6 holds, then f0 <= 6 eventually holds and is succeeded by a1 > 7 .
Between q0 >= 6 and d1 = 10, it is always the case that if e1 <= 3 holds, then c1 > 12 previously held and was preceded by k1 < 12 .
Globally, it is always the case that if f1 = 9 holds, then d1 <= 3 eventually holds.
Globally, it is always the case that if k1 = 14 holds, then j1 >= 0 eventually holds and is succeeded by k0 >= 7 .
Before b0 = 5, it is always the case that b0 <= 3 holds.
After b0 = 12, it is always the case that l0 < 8 holds.
After z0 <= 4, it is always the case that if d1 < 15 holds, then f0 >= 13 previously held and was preceded by e0 >= 5 .
Between g0 >= 10 and l1 > 15, it is always the case that if x0 > 14 holds, then a0 = 9 previously held.
Between g1 = 15 and o0 <= 1, it is never the case that i1 = 13 holds.
Before l1 > 6, l0 = 13 eventually holds.
Globally, it is never the case that f1 > 6 holds.
Globally, it is always the case that if g0 = 9 holds, then i1 >= 15 eventually holds and is succeeded by v0 > 5, where i0 <= 1 does not hold between i1 >= 15 and v0 > 5 .
Before i0 >= 15, it is always the case that if u0 >= 9 holds and is succeeded by l0 >= 4, then f0 > 7 eventually holds after l0 >= 4 .
After i1 = 2, it is always the case that if f0 >= 14 holds, then n0 > 13 previously held.
After a0 <= 3, it is always the case that if v0 <= 9 holds and is succeeded by g1 >= 5, then l0 > 15 previously held.
After r0 < 13, it is always the case that if k0 > 2 holds and is succeeded by c0 >= 11, then q0 >= 13 previously held.
Globally, w0 > 9 eventually holds.
Globally, it is always the case that if r0 < 12 holds, then e1 >= 0 previously held and was preceded by i0 < 4 .
Between a1 < 6 and n0 <= 15, it is always the case that o0 <= 15 holds.
Between t0 >= 14 and f0 = 1, it is always the case that if a1 > 3 holds, then f0 >= 13 eventually holds and is succeeded by a1 < 1 .
Between y0 = 4 and f0 < 11, it is always the case that if y0 = 1 holds, then u0 < 5 previously held.
After e0 = 6, it is always the case that if y0 < 10 holds, then a1 >= 13 previously held and was preceded by c0 <= 11 .
After l0 >= 8, it is always the case that f0 = 11 holds.
Before v0 <= 6, it is always the case that if f0 > 8 holds, then q0 <= 11 eventually holds.
Globally, it is always the case that if y0 = 3 holds and is succeeded by k1 > 15, then k1 > 13 eventually holds after k1 > 15 .
Globally, it is always the case that if d0 >= 1 holds, then p0 <= 3 eventually holds.
After d1 <= 7 until m0 <= 10, it is always the case that if n0 = 12 holds, then q0 >= 9 previously held and was preceded by n0 <= 15 .
Globally, it is always the case that n0 > 2 holds.
After b0 = 0 until l0 = 0, it is always the case that if f0 < 14 holds, then e0 <= 13 previously held.
After k0 > 0, it is never the case that d0 > 7 holds.
After p0 < 10 until j0 <= 13, it is always the case that a0 = 3 holds.
Globally, it is always the case that if m1 = 2 holds and is succeeded by r0 > 11, then g0 >= 9 eventually holds after r0 > 11 .
After b1 = 10, it is never the case that c0 >= 5 holds.
Before o0 <= 9, it is never the case that j0 <= 5 holds.
Before i0 <= 1, it is always the case that if k1 < 5 holds, then o0 > 10 eventually holds and is succeeded by f0 > 1 .
After g1 >= 3, it is always the case that if a0 < 5 holds and is succeeded by m0 >= 6, then r0 >= 0 previously held.
Between t0 >= 10 and b0 = 7, it is always the case that if f0 >= 4 holds and is succeeded by b1 >= 8, then f0 < 7 previously held.
Globally, c0 = 12 eventually holds.
After t0 > 4, it is always the case that m1 < 2 holds.
Between c0 = 2 and v0 <= 8, f1 < 1 eventually holds.
Globally, q0 > 12 eventually holds.
Globally, it is always the case that if p0 > 12 holds and is succeeded by m0 = 12, then m1 < 7 eventually holds after m0 = 12 .
Before o0 = 0, it is always the case that if g0 > 11 holds, then q0 <= 11 eventually holds and is succeeded by m0 = 5, where j0 <= 12 does not hold between q0 <= 11 and m0 = 5 .
Before l0 < 2, it is always the case that if g1 < 2 holds, then s0 < 10 previously held.
After q0 >= 14 until w0 >= 6, it is always the case that if l1 <= 8 holds and is succeeded by t0 >= 11, then d0 < 14 eventually holds after t0 >= 11 .
Globally, it is always the case that if u0 > 6 holds, then d1 > 6 previously held and was preceded by e1 <= 8 .
Between p0 >= 12 and n0 >= 13, it is always the case that y0 > 4 holds.
Before p0 < 15, it is always the case that if t0 >= 1 holds, then j1 = 3 eventually holds.
After r0 = 15 until t0 <= 4, it is always the case that h0 < 12 holds.
Before l1 > 4, it is always the case that b1 >= 9 holds.
After j1 = 10, it is always the case that if q0 = 13 holds, then d0 >= 14 previously held.
After j0 >= 7, it is always the case that if e1 <= 10 holds, then q0 = 13 previously held and was preceded by l1 > 0 .
Between n0 <= 0 and l1 < 7, it is always the case that if y0 < 1 holds and is succeeded by s0 >= 0, then t0 > 11 previously held.
Between x0 > 2 and m1 < 0, it is always the case that if g1 <= 9 holds and is succeeded by m1 <= 5, then k1 <= 11 previously held.
After i0 >= 5 until p0 >= 1, it is always the case that if p0 < 8 holds, then b1 = 14 eventually holds and is succeeded by q0 = 13, where g1 < 3 does not hold between b1 = 14 and q0 = 13 .
Globally, d1 >= 1 eventually holds.
Globally, it is always the case that if e1 > 15 holds, then m1 <= 10 eventually holds and is succeeded by k0 > 15 .
Globally, it is never the case that a1 < 3 holds.
After d1 > 6, it is always the case that if j1 = 0 holds, then c1 = 6 previously held.
Between l0 < 7 and l0 > 1, it is always the case that if a0 >= 6 holds, then d1 >= 6 eventually holds and is succeeded by d1 > 14, where a1 >= 15 does not hold between d1 >= 6 and d1 > 14 .
Between r0 < 15 and y0 < 7, it is never the case that i0 < 13 holds.
Before q0 > 14, it is always the case that if c1 <= 15 holds, then j1 = 7 eventually holds and is succeeded by s0 <= 7, where o0 = 6 does not hold between j1 = 7 and s0 <= 7 .
Globally, it is always the case that if l1 < 14 holds and is succeeded by r0 >= 13, then e0 >= 13 eventually holds after r0 >= 13 .
Between y0 < 6 and b0 <= 9, it is always the case that if s0 < 13 holds, then m1 <= 15 previously held.
Before v0 >= 2, it is always the case that if a0 = 3 holds, then z0 > 0 eventually holds and is succeeded by b1 >= 13 .
Between i1 <= 11 and p0 <= 1, g0 < 14 eventually holds.
Before i1 <= 1, it is always the case that if a1 > 8 holds and is succeeded by g1 = 7, then g1 <= 5 eventually holds after g1 = 7 .
After e1 <= 12 until c1 <= 2, it is always the case that if g1 = 7 holds, then i0 >= 9 eventually holds.
After r0 > 1, it is always the case that e1 >= 2 holds.
Globally, it is always the case that if b0 = 5 holds and is succeeded by q0 > 4, then h0 >= 7 eventually holds after q0 > 4 .
After e1 <= 0 until e1 > 14, it is always the case that if l1 = 10 holds and is succeeded by z0 = 10, then e1 >= 7 eventually holds after z0 = 10 .
Between a1 > 14 and a0 < 15, it is always the case that if v0 <= 3 holds and is succeeded by i1 > 10, then m0 > 11 eventually holds after i1 > 10 .
Between f0 >= 8 and e1 > 1, it is never the case that o0 = 3 holds.
Before w0 >= 5, it is never the case that h0 >= 1 holds.
Between j0 > 14 and u0 >= 3, it is always the case that if i1 = 5 holds, then v0 = 8 previously held.
Before m1 = 10, it is always the case that if m0 >= 2 holds and is succeeded by y0 <= 6, then j1 = 5 eventually holds after y0 <= 6 .
Between v0 < 13 and d0 <= 0, it is always the case that if a1 <= 10 holds, then f1 = 4 previously held and was preceded by n0 <= 0 .
Globally, it is always the case that if h0 >= 2 holds and is succeeded by o0 < 6, then m0 > 8 eventually holds after o0 < 6 .
Globally, it is always the case that if a0 <= 7 holds and is succeeded by o0 <= 0, then e0 = 8 eventually holds after o0 <= 0 .
Before u0 >= 3, it is always the case that if x0 >= 12 holds, then e0 >= 15 previously held and was preceded by e0 >= 10 .
After x0 < 0 until u0 <= 15, it is always the case that if i1 >= 11 holds, then g0 <= 5 eventually holds and is succeeded by l1 = 9 .
After k0 < 10, it is always the case that if e0 > 5 holds and is succeeded by u0 <= 4, then m1 = 11 previously held.
Between r0 >= 4 and b1 >= 9, it is always the case that if i0 > 2 holds, then c1 < 0 eventually holds.
Between s0 < 3 and b1 > 6, it is always the case that if z0 > 1 holds, then g0 < 13 eventually holds and is succeeded by k0 < 3, where g1 = 11 does not hold between g0 < 13 and k0 < 3 .
Globally, it is never the case that z0 = 14 holds.
After e0 < 14 until q0 >= 6, m1 < 2 eventually holds.
After d0 < 5 until d1 <= 9, it is always the case that if h0 >= 14 holds, then t0 <= 6 previously held.
Between m1 = 3 and q0 < 13, it is always the case that if l1 < 14 holds, then c0 > 12 eventually holds and is succeeded by m0 >= 13 .
Globally, it is always the case that if m0 = 6 holds, then h0 > 14 eventually holds.
Between y0 = 3 and i0 = 8, it is always the case that if d1 >= 6 holds and is succeeded by u0 < 7, then s0 > 7 previously held.
After p0 < 3, it is always the case that if c0 <= 14 holds, then o0 > 5 eventually holds and is succeeded by a1 <= 6, where g1 >= 11 does not hold between o0 > 5 and a1 <= 6 .
Globally, it is always the case that if p0 < 14 holds, then k1 > 9 eventually holds.
Globally, it is always the case that if q0 = 8 holds and is succeeded by g1 = 14, then k1 <= 0 previously held.
Between d0 > 3 and u0 = 3, it is always the case that if h1 < 3 holds, then a0 <= 11 eventually holds and is succeeded by c0 = 3 .
After w0 < 11, it is always the case that if l1 > 12 holds, then a0 > 7 eventually holds and is succeeded by j0 >= 8 .
Globally, it is always the case that if y0 <= 0 holds and is succeeded by h0 < 1, then p0 >= 5 previously held.
Before t0 > 12, it is always the case that if a0 < 1 holds and is succeeded by d0 = 10, then o0 >= 0 previously held.
Globally, it is always the case that if l1 >= 2 holds, then l0 >= 3 eventually holds and is succeeded by a0 = 6, where o0 > 12 does not hold between l0 >= 3 and a0 = 6 .
Globally, it is always the case that if m0 >= 8 holds, then q0 = 14 previously held.
After w0 > 0 until r0 >= 13, it is never the case that e0 <= 11 holds.
Before e1 > 1, it is never the case that b0 < 10 holds.
Globally, it is always the case that if m0 = 4 holds and is succeeded by d0 <= 13, then m1 = 14 previously held.
After a1 > 2, it is always the case that i0 = 7 holds.
After d0 >= 9, it is always the case that if f1 > 1 holds and is succeeded by g1 > 11, then y0 = 3 previously held.
Globally, it is always the case that if s0 < 5 holds and is succeeded by t0 = 13, then z0 > 8 eventually holds after t0 = 13 .
Globally, it is always the case that if h0 = 1 holds and is succeeded by m1 >= 13, then y0 <= 6 previously held.
Globally, it is always the case that if d0 >= 10 holds, then h0 >= 4 eventually holds.
