Globally, it is always the case that if f0 <= 3 holds, then d0 >= 20 eventually holds and is succeeded by n0 <= 28, where o0 >= 19 does not hold between d0 >= 20 and n0 <= 28 .
Before c0 < 28, it is always the case that if i0 <= 2 holds, then d0 <= 29 eventually holds.
After k0 < 15, it is always the case that if b0 = 8 holds and is succeeded by i0 <= 12, then d0 = 29 previously held.
After r0 <= 15, it is always the case that if n0 > 22 holds, then p0 >= 26 eventually holds.
Globally, q0 > 16 eventually holds.
After h0 <= 30, it is always the case that e0 <= 14 holds.
Globally, it is always the case that if a0 > 25 holds, then s0 > 13 previously held.
Before a0 > 7, it is always the case that if e0 > 2 holds, then p0 >= 23 eventually holds and is succeeded by m0 >= 9, where d0 >= 5 does not hold between p0 >= 23 and m0 >= 9 .
After e0 < 0, it is always the case that if n0 <= 22 holds, then s0 >= 20 previously held and was preceded by i0 = 22 .
Between b0 >= 0 and q0 > 20, it is never the case that e0 >= 20 holds.
Between i0 < 13 and a0 >= 27, it is always the case that if h0 >= 26 holds, then o0 > 1 eventually holds and is succeeded by q0 = 20 .
Before c0 < 13, it is never the case that a0 >= 9 holds.
After s0 >= 24, it is always the case that if s0 < 9 holds, then m0 = 22 eventually holds.
Between c0 >= 19 and h0 = 16, it is always the case that if e0 > 12 holds, then s0 < 3 previously held and was preceded by j0 <= 0 .
Between a0 <= 9 and m0 >= 20, it is always the case that g0 < 16 holds.
Before g0 >= 10, it is always the case that if e0 <= 16 holds, then a0 < 9 eventually holds and is succeeded by l0 > 18, where p0 < 22 does not hold between a0 < 9 and l0 > 18 .
After m0 <= 16, it is always the case that if c0 > 19 holds, then i0 > 29 eventually holds.
After m0 <= 21, it is always the case that if h0 <= 31 holds, then a0 <= 4 eventually holds and is succeeded by i0 <= 16 .
Between l0 < 21 and d0 <= 18, it is always the case that g0 < 1 holds.
Before e0 <= 2, it is always the case that if o0 = 7 holds, then e0 < 5 eventually holds and is succeeded by p0 < 20, where o0 <= 1 does not hold between e0 < 5 and p0 < 20 .
Between j0 > 20 and g0 > 8, it is always the case that if h0 <= 3 holds, then c0 >= 13 eventually holds and is succeeded by s0 <= 10 .
Between f0 = 1 and r0 <= 8, it is always the case that if f0 > 29 holds, then q0 = 30 previously held and was preceded by q0 > 11 .
Globally, it is always the case that if k0 > 25 holds, then k0 >= 14 previously held.
Between m0 < 23 and j0 >= 0, g0 < 26 eventually holds.
Between e0 > 29 and n0 <= 19, it is never the case that d0 >= 17 holds.
Between a0 >= 7 and h0 >= 27, it is always the case that if s0 <= 3 holds and is succeeded by d0 > 15, then d0 >= 7 eventually holds after d0 > 15 .
Between s0 > 23 and n0 > 17, it is never the case that q0 > 1 holds.
Between a0 = 15 and n0 >= 0, it is always the case that if c0 > 31 holds, then c0 > 14 previously held and was preceded by q0 <= 5 .
After r0 < 30, it is always the case that if d0 >= 20 holds, then f0 > 0 eventually holds.
Between j0 >= 16 and a0 >= 10, it is always the case that if e0 > 6 holds, then d0 <= 5 eventually holds and is succeeded by i0 > 26 .
Between p0 < 18 and o0 < 12, it is always the case that if e0 = 16 holds, then c0 > 22 eventually holds and is succeeded by a0 <= 14 .
After j0 >= 9, it is always the case that if b0 >= 0 holds, then c0 >= 13 eventually holds.
After c0 < 11, it is always the case that if h0 < 17 holds and is succeeded by m0 >= 28, then m0 >= 9 previously held.
Between c0 >= 10 and l0 > 22, h0 < 18 eventually holds.
Globally, it is always the case that if i0 <= 22 holds and is succeeded by b0 < 5, then q0 = 16 previously held.
After d0 >= 10, it is always the case that if d0 > 25 holds and is succeeded by c0 > 30, then a0 < 11 previously held.
After l0 < 11 until i0 <= 17, q0 >= 5 eventually holds.
Between f0 > 10 and h0 >= 5, it is always the case that if k0 < 7 holds and is succeeded by g0 > 29, then h0 > 15 previously held.
Before h0 <= 23, it is always the case that if e0 <= 19 holds, then r0 < 21 eventually holds and is succeeded by d0 <= 6, where k0 < 22 does not hold between r0 < 21 and d0 <= 6 .
Between s0 >= 15 and m0 < 22, it is never the case that l0 = 9 holds.
After k0 > 14 until e0 <= 2, it is always the case that if r0 <= 23 holds, then s0 > 30 eventually holds.
After i0 = 14, it is always the case that i0 >= 1 holds.
Globally, it is always the case that h0 <= 0 holds.
After f0 <= 9, j0 >= 0 eventually holds.
Between p0 = 3 and c0 <= 17, it is always the case that if e0 = 10 holds and is succeeded by g0 < 17, then h0 = 4 eventually holds after g0 < 17 .
Before a0 >= 25, o0 >= 15 eventually holds.
After o0 < 9 until s0 = 31, it is always the case that if l0 = 3 holds, then a0 <= 14 previously held and was preceded by q0 = 17 .
After p0 = 20, it is always the case that if o0 = 31 holds and is succeeded by q0 > 28, then l0 < 9 previously held.
Between e0 >= 14 and r0 <= 1, it is always the case that if i0 = 14 holds, then n0 = 3 previously held.
After f0 <= 27, it is always the case that if i0 = 13 holds and is succeeded by d0 = 19, then l0 = 19 eventually holds after d0 = 19 .
Between i0 >= 29 and d0 = 14, it is always the case that if o0 > 14 holds and is succeeded by j0 = 19, then g0 < 1 previously held.
After g0 >= 10, it is always the case that if i0 > 14 holds, then l0 <= 20 previously held and was preceded by i0 < 6 .
Before h0 = 7, it is always the case that if q0 = 4 holds, then i0 > 11 eventually holds and is succeeded by m0 >= 6, where b0 > 13 does not hold between i0 > 11 and m0 >= 6 .
Between o0 > 9 and k0 = 16, it is always the case that if q0 = 5 holds, then l0 <= 10 eventually holds and is succeeded by j0 < 14 .
Before s0 < 27, it is always the case that if n0 > 25 holds, then i0 < 12 eventually holds and is succeeded by l0 < 5 .
After n0 <= 14, it is always the case that if r0 > 5 holds and is succeeded by r0 < 28, then d0 > 8 previously held.
Before d0 <= 17, it is always the case that if i0 > 4 holds, then e0 <= 20 previously held and was preceded by l0 = 10 .
Globally, it is always the case that if e0 = 3 holds, then b0 > 7 eventually holds and is succeeded by m0 >= 4 .
Before g0 >= 21, it is always the case that b0 <= 4 holds.
Between g0 >= 27 and h0 < 26, it is always the case that if l0 < 7 holds, then i0 > 13 eventually holds.
