Between m0 > 2 and y0 > 0, it is always the case that t0 < 2 holds.
After v0 >= 5 until l0 = 4, it is always the case that if s0 = 6 holds and is succeeded by o0 = 4, then v0 >= 2 eventually holds after o0 = 4 .
Between a1 >= 6 and x0 < 6, it is always the case that if q0 <= 0 holds, then l0 < 7 eventually holds and is succeeded by u0 <= 2, where s0 > 5 does not hold between l0 < 7 and u0 <= 2 .
Before b0 < 1, it is always the case that if k0 >= 2 holds and is succeeded by l1 = 6, then y0 >= 6 previously held.
Globally, it is always the case that if k1 >= 2 holds, then a1 = 5 eventually holds.
Between p0 > 2 and t0 < 3, e1 > 2 eventually holds.
After d1 < 5 until s0 > 0, it is always the case that i0 <= 1 holds.
After w0 = 4, it is always the case that if l0 >= 1 holds and is succeeded by i0 >= 6, then q0 >= 7 previously held.
Globally, it is always the case that if v0 < 0 holds, then d1 > 4 previously held and was preceded by g0 <= 5 .
Between b1 = 3 and j0 = 2, d1 <= 1 eventually holds.
After f0 >= 4 until d1 <= 7, it is always the case that if u0 < 7 holds, then w0 = 2 eventually holds.
After a1 >= 5, it is always the case that if u0 >= 1 holds and is succeeded by d1 > 5, then a0 < 1 previously held.
After w0 <= 1, it is always the case that if y0 > 3 holds, then e0 <= 4 previously held and was preceded by h0 = 2 .
Before w0 <= 7, it is always the case that if i1 = 3 holds and is succeeded by l0 > 7, then r0 > 2 previously held.
Globally, it is always the case that if w0 <= 3 holds and is succeeded by p0 < 4, then d0 < 3 previously held.
Between x0 <= 4 and e1 < 0, it is always the case that if l1 = 0 holds, then m1 > 4 eventually holds and is succeeded by n0 > 4, where r0 = 3 does not hold between m1 > 4 and n0 > 4 .
Between g0 < 3 and h0 <= 1, it is always the case that if a0 = 6 holds and is succeeded by w0 > 2, then r0 <= 1 eventually holds after w0 > 2 .
Globally, it is always the case that if d1 <= 3 holds and is succeeded by i0 = 7, then w0 = 2 eventually holds after i0 = 7 .
Before i1 > 3, it is always the case that if z0 <= 0 holds, then o0 > 2 eventually holds and is succeeded by g0 = 3 .
Globally, it is never the case that t0 <= 6 holds.
Before t0 = 5, it is never the case that u0 = 5 holds.
Before u0 = 4, x0 >= 6 eventually holds.
After r0 > 5 until e0 < 6, it is always the case that if x0 >= 5 holds and is succeeded by y0 = 4, then x0 < 1 previously held.
After p0 = 1 until e0 < 5, it is always the case that if x0 < 4 holds, then b1 = 4 eventually holds.
After i1 = 5, it is never the case that y0 > 1 holds.
After q0 > 0 until y0 <= 5, it is always the case that if h1 <= 1 holds, then l0 >= 2 previously held and was preceded by i1 <= 3 .
Before c1 < 4, it is never the case that m1 < 7 holds.
After a1 <= 0, m1 >= 5 eventually holds.
Between o0 > 5 and b0 <= 0, it is always the case that if y0 <= 6 holds and is succeeded by w0 >= 4, then i0 <= 4 previously held.
After l1 >= 7, it is always the case that if e1 > 0 holds and is succeeded by f0 >= 6, then s0 >= 6 previously held.
Globally, it is always the case that if h1 >= 6 holds and is succeeded by h0 < 1, then d0 > 2 eventually holds after h0 < 1 .
Before c0 < 1, it is always the case that if x0 < 2 holds, then j1 = 6 previously held and was preceded by s0 = 7 .
Globally, it is always the case that if c0 >= 4 holds, then j0 = 5 eventually holds.
After j0 > 7, it is always the case that if d0 = 4 holds, then d1 < 4 eventually holds and is succeeded by e1 > 4 .
Between p0 <= 0 and k0 = 3, it is always the case that if e0 >= 2 holds, then h0 < 1 eventually holds and is succeeded by c0 <= 6, where f1 < 6 does not hold between h0 < 1 and c0 <= 6 .
Between g1 = 2 and n0 <= 2, it is always the case that a0 <= 5 holds.
After k1 > 1 until v0 <= 7, it is always the case that if d0 >= 7 holds and is succeeded by k1 > 6, then u0 >= 5 eventually holds after k1 > 6 .
After h0 <= 3, z0 <= 6 eventually holds.
Before a1 <= 1, it is always the case that if d1 < 5 holds, then k0 < 3 eventually holds and is succeeded by c1 > 5, where a0 >= 4 does not hold between k0 < 3 and c1 > 5 .
Before p0 >= 2, it is always the case that if w0 = 7 holds and is succeeded by e1 <= 0, then g1 <= 7 previously held.
After f1 < 2 until j0 = 1, it is never the case that b1 >= 0 holds.
After z0 = 0, it is always the case that if j0 >= 4 holds and is succeeded by k1 >= 6, then k0 < 0 previously held.
Globally, it is always the case that if x0 <= 6 holds, then m1 = 1 previously held and was preceded by e1 = 0 .
Between s0 < 3 and a0 > 7, it is always the case that if i1 >= 0 holds, then n0 = 6 eventually holds and is succeeded by x0 < 1 .
Before x0 = 3, it is always the case that if w0 = 4 holds and is succeeded by t0 < 4, then g0 > 1 eventually holds after t0 < 4 .
After x0 > 4, it is always the case that if e1 >= 7 holds, then o0 < 0 eventually holds and is succeeded by a1 >= 4, where h0 >= 6 does not hold between o0 < 0 and a1 >= 4 .
After j1 < 1, it is always the case that if i1 = 5 holds, then e0 = 6 previously held.
After i0 >= 2, it is always the case that z0 <= 0 holds.
Globally, f1 > 7 eventually holds.
Globally, it is always the case that if i0 = 2 holds, then l0 < 0 eventually holds and is succeeded by c0 < 5 .
After u0 = 5 until i0 > 5, it is never the case that b0 = 3 holds.
Before y0 > 2, it is always the case that if e0 <= 5 holds and is succeeded by h1 > 1, then m1 = 3 previously held.
Globally, it is always the case that if i0 <= 6 holds, then r0 >= 4 previously held and was preceded by d0 >= 5 .
Between p0 > 0 and y0 = 2, it is always the case that if i1 = 6 holds and is succeeded by g0 < 2, then i1 <= 7 previously held.
Between l0 < 6 and k1 <= 7, f0 <= 2 eventually holds.
After z0 >= 7 until k1 < 2, it is always the case that if d0 = 0 holds, then x0 < 7 eventually holds.
After i1 <= 3 until c0 < 5, it is never the case that e0 > 4 holds.
After g0 >= 0, it is never the case that y0 < 5 holds.
After n0 < 0, it is always the case that if k0 >= 4 holds, then i1 < 3 previously held and was preceded by o0 > 1 .
Before v0 < 4, it is always the case that if e1 > 4 holds, then s0 <= 4 eventually holds.
Between a0 = 7 and p0 = 7, it is always the case that if d0 = 6 holds, then e0 > 4 previously held.
Globally, p0 < 5 eventually holds.
After a0 = 2, it is always the case that if l1 >= 4 holds and is succeeded by o0 >= 7, then f0 = 0 eventually holds after o0 >= 7 .
Between j0 >= 1 and l1 > 2, it is always the case that if y0 >= 3 holds and is succeeded by m1 <= 6, then f1 > 5 eventually holds after m1 <= 6 .
Before o0 > 0, it is always the case that if c0 >= 4 holds, then v0 < 3 eventually holds.
After b1 <= 5, it is always the case that if k0 > 7 holds, then j0 < 0 eventually holds and is succeeded by d0 >= 1 .
After c1 > 2, it is always the case that if i1 > 0 holds, then d1 <= 2 previously held.
Between k0 < 3 and t0 < 1, it is always the case that if y0 = 6 holds and is succeeded by a1 >= 3, then l1 >= 2 previously held.
Before u0 <= 1, it is always the case that if r0 >= 0 holds and is succeeded by f1 = 1, then g0 < 4 previously held.
Before d0 < 5, it is always the case that g1 = 4 holds.
After b0 >= 0 until g0 >= 5, it is always the case that if d1 = 6 holds and is succeeded by n0 = 7, then c0 >= 5 previously held.
After f1 < 6 until f1 >= 2, it is always the case that if x0 >= 6 holds and is succeeded by h1 < 2, then o0 > 6 eventually holds after h1 < 2 .
Globally, it is always the case that if c1 < 7 holds, then c0 <= 1 eventually holds.
Globally, it is always the case that if z0 < 3 holds, then k0 >= 1 eventually holds.
Globally, it is always the case that if l1 >= 0 holds, then e1 > 4 eventually holds and is succeeded by p0 >= 2, where v0 = 0 does not hold between e1 > 4 and p0 >= 2 .
After p0 = 6 until e1 >= 4, it is always the case that if b0 > 3 holds and is succeeded by v0 <= 2, then z0 > 5 eventually holds after v0 <= 2 .
After l0 >= 6, it is always the case that if i0 < 1 holds and is succeeded by v0 = 4, then q0 >= 0 eventually holds after v0 = 4 .
After d0 >= 2, it is always the case that if a1 = 2 holds, then t0 >= 3 eventually holds.
Globally, u0 >= 6 eventually holds.
Before e0 >= 3, it is always the case that if t0 > 1 holds, then c0 > 0 eventually holds.
Between f1 <= 2 and t0 = 3, it is always the case that if m1 = 6 holds, then y0 >= 3 eventually holds and is succeeded by t0 <= 6 .
After y0 < 6 until u0 > 5, j1 >= 6 eventually holds.
Between m1 <= 2 and a0 > 1, it is always the case that if i0 >= 6 holds, then t0 >= 2 eventually holds.
Before h0 > 3, it is always the case that if e0 < 2 holds, then q0 = 5 eventually holds.
After f0 > 0 until s0 = 3, b1 <= 0 eventually holds.
Between m0 > 5 and g1 < 5, it is always the case that if a0 >= 1 holds, then p0 < 0 previously held.
Before h1 < 1, it is always the case that if k0 = 0 holds, then d0 <= 3 previously held.
Before j0 <= 5, g1 > 6 eventually holds.
Before w0 >= 4, it is always the case that if h0 <= 0 holds, then s0 >= 1 eventually holds.
Before y0 >= 3, it is always the case that if p0 < 2 holds, then f0 = 3 eventually holds and is succeeded by c1 >= 1 .
After a0 = 6, it is always the case that if k1 >= 1 holds and is succeeded by z0 > 6, then b1 <= 5 previously held.
Globally, it is always the case that g0 < 6 holds.
Between y0 <= 5 and a0 >= 7, it is always the case that v0 = 2 holds.
After c0 < 3, it is always the case that if l0 <= 2 holds, then c1 <= 4 previously held.
Globally, it is always the case that if h0 >= 5 holds, then q0 <= 1 previously held.
After w0 <= 6, it is always the case that if z0 < 1 holds and is succeeded by d0 > 2, then i1 < 7 previously held.
Before y0 < 2, it is always the case that if y0 >= 2 holds, then k0 <= 0 previously held.
Globally, it is always the case that if d1 >= 6 holds, then s0 > 7 previously held and was preceded by b1 > 6 .
After a0 < 4, it is always the case that if j1 > 3 holds and is succeeded by h1 < 4, then e0 >= 2 previously held.
Globally, it is always the case that if g1 = 2 holds, then n0 > 6 previously held.
After e0 < 6, it is always the case that if i0 >= 6 holds, then g0 < 2 previously held and was preceded by y0 < 0 .
Before g1 = 5, it is always the case that if h0 = 0 holds, then k1 >= 4 previously held and was preceded by y0 < 4 .
After m0 > 3, it is always the case that if r0 = 0 holds, then g0 = 4 previously held.
Between j1 = 3 and j1 = 4, it is never the case that b0 = 5 holds.
Globally, it is always the case that if s0 >= 3 holds and is succeeded by l1 > 7, then f1 = 5 eventually holds after l1 > 7 .
Between f1 < 2 and y0 = 3, it is always the case that if a1 >= 5 holds and is succeeded by c1 > 3, then p0 = 7 previously held.
Between l0 = 1 and h0 = 7, it is always the case that if f0 <= 2 holds and is succeeded by r0 < 5, then i1 <= 0 eventually holds after r0 < 5 .
Between g1 >= 6 and i0 >= 4, it is always the case that if i1 = 5 holds, then l0 = 0 eventually holds and is succeeded by z0 <= 2 .
Between b1 < 2 and p0 <= 5, it is always the case that if t0 = 1 holds and is succeeded by j1 > 7, then g1 >= 7 eventually holds after j1 > 7 .
After o0 >= 1, it is always the case that if d0 = 4 holds, then s0 <= 3 previously held and was preceded by g0 < 2 .
After r0 > 6 until t0 >= 3, it is always the case that if n0 = 0 holds, then r0 >= 0 previously held and was preceded by h0 <= 0 .
After t0 = 2 until d0 <= 4, it is always the case that if d1 >= 2 holds, then j0 >= 3 eventually holds.
Between j1 >= 1 and d0 < 7, p0 > 4 eventually holds.
After d0 <= 0 until w0 < 7, it is always the case that if f0 <= 4 holds, then j1 = 6 eventually holds and is succeeded by b1 >= 2 .
Before y0 < 3, it is always the case that if b1 = 5 holds, then l1 >= 7 previously held.
After m0 <= 1 until n0 >= 2, it is always the case that if y0 < 2 holds and is succeeded by g0 <= 2, then q0 >= 0 previously held.
After c0 > 0, it is always the case that if r0 > 6 holds, then c0 >= 4 eventually holds.
After w0 >= 7, d0 > 4 eventually holds.
After a0 > 6 until b0 > 4, it is always the case that if m1 <= 3 holds and is succeeded by d1 < 0, then y0 = 6 previously held.
After j1 <= 4, it is always the case that if v0 >= 7 holds, then c0 >= 2 previously held and was preceded by y0 > 2 .
After a1 < 0, it is always the case that if m1 <= 7 holds, then a0 > 4 eventually holds and is succeeded by i1 <= 7 .
After l1 >= 2, it is always the case that if w0 > 6 holds, then a1 < 2 eventually holds and is succeeded by j0 >= 1, where m0 > 2 does not hold between a1 < 2 and j0 >= 1 .
Globally, it is never the case that l1 >= 2 holds.
Between j0 < 2 and w0 = 0, it is never the case that r0 >= 6 holds.
After d0 <= 7 until l0 <= 0, it is never the case that m1 = 2 holds.
After y0 < 1, it is always the case that if f1 >= 7 holds and is succeeded by a1 > 1, then n0 = 5 eventually holds after a1 > 1 .
After q0 = 4, it is always the case that if b1 <= 7 holds and is succeeded by a0 <= 6, then e0 >= 1 eventually holds after a0 <= 6 .
After u0 >= 6 until c1 <= 7, it is always the case that if k1 >= 0 holds and is succeeded by z0 >= 2, then l1 > 2 previously held.
Between e0 > 6 and e1 > 2, it is always the case that if j1 > 5 holds, then e0 > 1 eventually holds and is succeeded by m1 <= 4, where x0 <= 1 does not hold between e0 > 1 and m1 <= 4 .
Globally, it is never the case that f1 = 4 holds.
Before k0 = 6, it is never the case that v0 <= 6 holds.
Between l0 < 4 and j1 > 4, it is always the case that if f1 = 2 holds, then i1 <= 3 eventually holds and is succeeded by n0 >= 0 .
After o0 <= 6, it is always the case that if q0 <= 7 holds and is succeeded by h0 >= 4, then f0 = 1 eventually holds after h0 >= 4 .
After a0 <= 2, it is always the case that if m0 <= 3 holds, then s0 >= 3 eventually holds and is succeeded by x0 <= 0, where w0 <= 3 does not hold between s0 >= 3 and x0 <= 0 .
Before n0 <= 3, it is never the case that d0 >= 2 holds.
After g1 = 1, it is never the case that n0 < 3 holds.
After f1 = 7 until v0 >= 6, it is always the case that if y0 <= 4 holds, then v0 >= 4 eventually holds and is succeeded by q0 = 3 .
After u0 = 3 until y0 < 4, it is always the case that if j0 <= 7 holds, then f1 <= 7 eventually holds.
After m1 = 6, it is always the case that if t0 >= 0 holds, then c1 > 3 eventually holds.
Between i0 <= 7 and o0 < 1, it is always the case that b0 < 6 holds.
After i0 <= 2 until a1 >= 3, it is always the case that if m1 >= 1 holds, then h0 <= 5 eventually holds and is succeeded by d1 >= 4 .
After e0 < 3 until i1 = 6, it is always the case that if k0 = 0 holds, then x0 > 0 previously held and was preceded by d1 <= 6 .
After v0 <= 7 until s0 >= 0, it is always the case that i1 = 4 holds.
Globally, it is never the case that z0 > 6 holds.
After s0 <= 5 until l0 > 3, it is always the case that if k1 <= 4 holds, then f1 > 3 eventually holds and is succeeded by m0 >= 7 .
Globally, it is never the case that m1 = 4 holds.
After f0 > 7 until z0 < 4, s0 <= 5 eventually holds.
Between a0 >= 7 and t0 >= 5, it is always the case that if d0 >= 1 holds and is succeeded by f1 > 1, then c0 > 7 previously held.
Before a0 >= 2, it is always the case that if x0 < 3 holds, then y0 > 0 previously held.
Before p0 >= 7, it is always the case that if a1 = 7 holds, then y0 <= 7 eventually holds and is succeeded by h1 = 5 .
After d1 = 0 until c0 >= 3, it is always the case that if j0 > 1 holds, then k0 <= 5 eventually holds and is succeeded by p0 < 7 .
After j1 <= 5, it is always the case that if l0 >= 2 holds, then p0 < 2 eventually holds and is succeeded by m0 < 2, where b1 > 1 does not hold between p0 < 2 and m0 < 2 .
Between x0 > 1 and o0 <= 0, it is always the case that if p0 <= 0 holds, then l0 >= 3 previously held.
Before x0 < 0, it is always the case that if p0 > 7 holds, then q0 = 7 eventually holds.
Before l1 < 4, it is always the case that if g0 < 3 holds, then a1 >= 1 previously held and was preceded by h0 >= 4 .
After b1 < 6, it is always the case that if s0 <= 2 holds, then i1 <= 3 eventually holds.
After x0 > 1 until z0 = 5, it is never the case that g1 < 5 holds.
After o0 < 7 until z0 < 1, it is always the case that if h1 < 2 holds, then e0 >= 1 previously held.
After t0 <= 5 until q0 > 2, it is always the case that if g1 = 5 holds, then f1 > 6 previously held.
Globally, it is always the case that if x0 < 1 holds and is succeeded by h0 > 3, then f0 < 2 previously held.
After c1 >= 1, it is never the case that k1 <= 3 holds.
After v0 >= 6 until a0 >= 7, it is always the case that if m1 <= 5 holds, then r0 > 1 eventually holds.
Between v0 >= 2 and s0 <= 1, it is always the case that if o0 <= 3 holds and is succeeded by h1 <= 5, then t0 = 3 previously held.
Globally, it is never the case that x0 < 1 holds.
Between g1 > 2 and e1 >= 0, it is always the case that if g0 = 0 holds, then j1 < 6 eventually holds and is succeeded by e1 = 5, where c0 = 2 does not hold between j1 < 6 and e1 = 5 .
After o0 <= 3 until j1 <= 6, it is always the case that if x0 >= 6 holds and is succeeded by l0 >= 5, then h0 <= 6 eventually holds after l0 >= 5 .
Between e1 <= 1 and b1 > 7, it is always the case that if l1 <= 5 holds, then h0 = 4 previously held and was preceded by e0 < 7 .
Globally, it is never the case that n0 < 5 holds.
Globally, it is always the case that if h0 > 6 holds and is succeeded by m1 >= 2, then n0 >= 5 eventually holds after m1 >= 2 .
Before l1 < 1, it is always the case that if h1 >= 1 holds and is succeeded by f1 >= 5, then b0 < 1 previously held.
After u0 = 6, it is always the case that if k1 >= 3 holds and is succeeded by v0 = 4, then n0 > 0 previously held.
Between c1 > 6 and t0 > 7, it is always the case that if h1 > 4 holds, then a0 >= 6 previously held and was preceded by n0 > 1 .
After d0 < 5 until t0 > 6, it is always the case that if i0 < 3 holds, then j0 >= 1 eventually holds and is succeeded by d0 > 5, where w0 <= 1 does not hold between j0 >= 1 and d0 > 5 .
After a1 > 3 until t0 < 7, it is always the case that if r0 < 5 holds and is succeeded by m1 >= 5, then y0 >= 6 previously held.
After x0 <= 3, it is always the case that f0 < 0 holds.
Between f1 = 2 and u0 >= 0, it is always the case that if w0 > 5 holds and is succeeded by y0 > 0, then i1 <= 5 eventually holds after y0 > 0 .
Before k1 = 6, it is always the case that a0 < 5 holds.
After k1 <= 0, it is always the case that if h0 >= 3 holds, then b0 >= 0 previously held.
After a0 < 2, it is never the case that a1 > 7 holds.
After k1 >= 2 until l0 >= 0, it is always the case that if g0 = 4 holds, then q0 = 0 previously held and was preceded by t0 = 3 .
After x0 < 2, it is always the case that if r0 > 3 holds, then t0 = 0 previously held and was preceded by b0 = 7 .
Globally, it is never the case that e0 > 7 holds.
After k0 = 4 until v0 = 4, it is never the case that y0 <= 2 holds.
After p0 < 4 until k1 <= 5, s0 = 1 eventually holds.
Between a1 > 5 and t0 <= 4, it is always the case that if i1 = 4 holds and is succeeded by a1 > 1, then w0 = 7 eventually holds after a1 > 1 .
Before j0 <= 2, it is always the case that if w0 = 6 holds and is succeeded by g0 <= 4, then i1 = 5 previously held.
Before m1 >= 2, it is always the case that if f0 >= 7 holds, then r0 <= 2 previously held.
Before v0 > 7, it is always the case that if v0 <= 2 holds, then f0 >= 0 eventually holds and is succeeded by x0 = 4, where h1 >= 7 does not hold between f0 >= 0 and x0 = 4 .
After w0 < 7 until k0 >= 7, it is always the case that if f0 < 4 holds and is succeeded by l1 > 1, then y0 <= 2 previously held.
Before h0 = 0, it is always the case that if g1 < 0 holds and is succeeded by k0 < 5, then l0 > 4 eventually holds after k0 < 5 .
Before i1 < 6, it is always the case that if t0 = 7 holds and is succeeded by w0 >= 7, then c0 > 4 previously held.
Before c1 < 7, it is never the case that u0 > 4 holds.
After i1 >= 4 until i0 <= 4, it is always the case that if h0 = 3 holds, then x0 >= 2 eventually holds.
After e0 = 0, it is always the case that if u0 < 2 holds, then w0 > 4 eventually holds and is succeeded by s0 = 6 .
After b1 >= 1, it is never the case that g0 <= 0 holds.
Globally, it is always the case that if g0 > 0 holds, then t0 >= 0 eventually holds and is succeeded by o0 <= 4, where m1 = 7 does not hold between t0 >= 0 and o0 <= 4 .
After q0 >= 5 until g0 = 2, it is never the case that g0 = 3 holds.
Globally, it is always the case that if f0 > 7 holds, then c1 < 7 eventually holds and is succeeded by t0 > 3 .
Before l1 < 6, it is always the case that if h1 > 3 holds, then t0 > 4 eventually holds and is succeeded by n0 <= 1 .
Globally, it is always the case that if s0 = 5 holds, then g0 < 4 eventually holds.
Before k1 <= 5, it is always the case that if g0 <= 3 holds, then g0 > 0 eventually holds.
After b1 > 3, it is always the case that if g1 = 5 holds, then f0 > 5 eventually holds and is succeeded by e0 > 6, where i0 = 2 does not hold between f0 > 5 and e0 > 6 .
Between p0 <= 1 and g0 = 2, it is always the case that if m1 < 6 holds and is succeeded by j1 >= 4, then c1 >= 3 previously held.
After u0 > 3, it is always the case that if p0 <= 2 holds, then i1 >= 6 eventually holds and is succeeded by i1 >= 7, where f0 >= 1 does not hold between i1 >= 6 and i1 >= 7 .
After o0 > 3 until i1 = 3, it is never the case that h1 < 3 holds.
After a0 > 6 until g1 < 1, it is always the case that if f1 > 3 holds, then c1 <= 6 eventually holds.
After m0 = 0, it is always the case that if f1 <= 5 holds, then y0 > 0 previously held and was preceded by b0 > 5 .
Before k0 = 5, it is always the case that if h0 < 3 holds, then c0 <= 5 eventually holds and is succeeded by f1 > 4, where q0 >= 2 does not hold between c0 <= 5 and f1 > 4 .
After x0 < 0, it is always the case that if s0 < 2 holds, then f1 <= 1 previously held and was preceded by e1 >= 2 .
After k0 >= 7, it is always the case that if j1 > 2 holds, then a0 = 2 eventually holds.
Before d0 < 5, it is always the case that if c1 > 1 holds and is succeeded by m1 = 0, then j1 < 7 previously held.
After b1 >= 7, it is always the case that if c0 < 2 holds, then h0 < 2 eventually holds and is succeeded by g1 = 1 .
Before c1 > 3, it is always the case that if s0 < 3 holds, then k0 > 7 eventually holds.
Between r0 = 6 and k0 > 4, it is always the case that if a1 = 1 holds, then f1 <= 2 eventually holds.
Between j0 <= 2 and k0 <= 6, j0 > 7 eventually holds.
After t0 >= 5 until a0 = 6, it is always the case that if u0 <= 5 holds and is succeeded by k1 = 1, then g1 = 4 previously held.
Globally, it is always the case that if e1 = 5 holds and is succeeded by l0 <= 2, then g1 > 7 previously held.
After d0 < 4, it is always the case that if f0 > 7 holds and is succeeded by e0 <= 2, then c0 >= 7 eventually holds after e0 <= 2 .
Before x0 > 7, it is always the case that if b0 < 7 holds, then q0 <= 5 previously held and was preceded by q0 >= 2 .
Before a1 >= 2, it is always the case that if i1 >= 7 holds and is succeeded by e0 < 6, then b1 = 4 eventually holds after e0 < 6 .
After l0 > 7 until a0 <= 0, it is always the case that if o0 = 5 holds and is succeeded by h1 > 5, then f1 = 3 previously held.
Globally, it is always the case that if t0 > 4 holds, then m1 < 6 previously held and was preceded by j0 >= 6 .
After p0 < 7 until z0 >= 5, it is always the case that if f1 >= 7 holds, then i1 = 5 previously held.
After k1 = 7 until m0 <= 4, it is always the case that if k0 >= 7 holds, then j0 >= 1 eventually holds and is succeeded by t0 >= 1, where t0 <= 7 does not hold between j0 >= 1 and t0 >= 1 .
After k0 = 5 until w0 > 6, it is always the case that if x0 > 6 holds, then s0 <= 6 previously held.
Between a0 > 1 and i1 <= 6, l0 < 2 eventually holds.
Between a0 >= 1 and b0 = 3, it is always the case that if l0 >= 1 holds and is succeeded by r0 = 2, then v0 >= 0 eventually holds after r0 = 2 .
Between a0 = 7 and h1 = 2, it is always the case that if j0 > 1 holds, then e0 = 1 eventually holds.
Between i0 < 2 and n0 < 3, it is always the case that j0 <= 1 holds.
Globally, it is always the case that if m0 < 2 holds, then p0 < 1 previously held and was preceded by l0 = 4 .
Before u0 > 7, it is always the case that b1 <= 1 holds.
Globally, it is always the case that if w0 >= 1 holds, then g1 > 2 eventually holds.
After q0 <= 1 until a1 >= 0, it is always the case that if f1 = 4 holds and is succeeded by k1 > 3, then b0 < 5 eventually holds after k1 > 3 .
Between w0 >= 4 and g0 >= 7, it is always the case that if x0 = 0 holds, then h1 <= 6 eventually holds.
Before i1 > 4, it is always the case that if w0 > 7 holds, then m1 = 6 eventually holds and is succeeded by g0 > 3, where b0 >= 6 does not hold between m1 = 6 and g0 > 3 .
After l1 = 1, it is always the case that if i0 <= 7 holds and is succeeded by a0 = 3, then l0 = 7 eventually holds after a0 = 3 .
Globally, it is always the case that if a0 = 1 holds, then x0 = 5 eventually holds and is succeeded by m0 <= 1 .
Between g0 <= 1 and x0 < 6, it is always the case that if s0 < 3 holds, then v0 <= 3 previously held and was preceded by o0 >= 5 .
Globally, it is always the case that if a0 < 2 holds, then a0 = 3 previously held.
Between g0 = 4 and e0 < 0, it is always the case that if y0 > 0 holds and is succeeded by i0 > 2, then q0 < 2 eventually holds after i0 > 2 .
