Before w2 > 30, it is always the case that if y0 = 29 holds, then e2 >= 20 eventually holds and is succeeded by k0 <= 4, where g2 < 11 does not hold between e2 >= 20 and k0 <= 4 .
After z2 <= 11, it is always the case that if w1 <= 15 holds, then w2 >= 2 eventually holds.
Before d2 > 0, it is always the case that if a2 <= 12 holds and is succeeded by m0 < 13, then w1 > 16 eventually holds after m0 < 13 .
After h0 = 1 until m1 >= 26, it is always the case that k0 > 25 holds.
Globally, it is always the case that if a1 < 18 holds, then f0 = 7 eventually holds.
Globally, it is never the case that o1 < 10 holds.
Between z2 = 26 and d1 > 20, it is always the case that if t1 = 14 holds and is succeeded by t0 >= 22, then o0 < 27 previously held.
Between l0 > 12 and r2 = 2, it is always the case that if d1 > 6 holds, then e2 = 18 eventually holds and is succeeded by g2 > 10, where t2 = 30 does not hold between e2 = 18 and g2 > 10 .
After d2 <= 12 until q2 > 27, it is always the case that if k1 = 25 holds, then m1 < 2 eventually holds and is succeeded by o1 > 27, where l2 >= 3 does not hold between m1 < 2 and o1 > 27 .
Globally, it is always the case that if g2 > 21 holds, then p2 <= 8 eventually holds and is succeeded by n1 > 20 .
Globally, it is always the case that if k1 = 31 holds and is succeeded by f2 >= 2, then c0 <= 16 eventually holds after f2 >= 2 .
Between v1 < 27 and a1 <= 28, it is always the case that if a1 = 16 holds and is succeeded by z2 <= 20, then r0 > 30 previously held.
Globally, it is always the case that if f2 >= 5 holds, then f2 = 13 eventually holds and is succeeded by h2 <= 5 .
Before y0 = 4, it is never the case that i0 > 29 holds.
Before d0 >= 17, it is always the case that if k0 >= 19 holds, then v0 < 19 previously held.
Between j2 >= 13 and p0 <= 14, it is always the case that if v1 = 25 holds, then h0 >= 2 eventually holds and is succeeded by o2 >= 3, where w1 < 23 does not hold between h0 >= 2 and o2 >= 3 .
Before p1 = 2, it is always the case that if s1 <= 29 holds, then i0 <= 27 eventually holds and is succeeded by o1 >= 0, where q1 = 25 does not hold between i0 <= 27 and o1 >= 0 .
After r1 < 12 until p1 >= 14, it is always the case that if v2 = 6 holds and is succeeded by y2 > 9, then d1 < 5 previously held.
Globally, it is always the case that o0 = 21 holds.
After m0 >= 4, it is always the case that if s0 > 18 holds and is succeeded by d1 > 14, then b1 <= 11 eventually holds after d1 > 14 .
After w1 >= 27 until h2 > 26, it is always the case that if v2 < 14 holds, then e0 > 31 eventually holds and is succeeded by s1 > 23 .
Between r0 > 6 and k1 < 30, it is always the case that if q1 <= 22 holds, then d1 >= 17 eventually holds and is succeeded by h1 < 25 .
Between a2 >= 19 and a3 <= 17, it is always the case that if c2 < 5 holds and is succeeded by f1 < 8, then v1 < 0 previously held.
After s0 <= 17 until a2 <= 10, it is always the case that if r2 <= 10 holds, then y2 = 8 previously held and was preceded by y1 < 17 .
Between a1 <= 2 and v0 >= 25, it is always the case that if n0 > 5 holds, then b0 <= 20 eventually holds and is succeeded by z0 <= 25 .
Between l0 = 0 and q0 = 28, it is never the case that v1 = 25 holds.
Between j2 = 28 and q2 < 28, it is never the case that o1 = 2 holds.
After r2 <= 12, it is always the case that if w2 = 29 holds and is succeeded by o2 > 6, then c1 >= 16 previously held.
Globally, it is always the case that if e0 > 12 holds, then q2 >= 18 previously held.
Globally, it is never the case that l1 < 9 holds.
Globally, u1 = 14 eventually holds.
Between g1 <= 26 and q0 <= 3, it is always the case that j0 = 28 holds.
Before h0 <= 27, it is always the case that if l2 = 25 holds, then r2 > 27 eventually holds and is succeeded by h2 > 28, where r1 <= 8 does not hold between r2 > 27 and h2 > 28 .
After w2 >= 19 until x1 >= 6, it is always the case that if r2 >= 11 holds, then v2 >= 17 previously held and was preceded by o2 = 14 .
After d1 = 1 until z0 < 22, it is always the case that if u2 < 4 holds, then x2 > 22 eventually holds.
Before i1 < 13, it is always the case that if l1 < 13 holds, then j1 >= 7 previously held.
After m2 < 24, s1 >= 0 eventually holds.
Globally, it is always the case that if i1 < 23 holds, then t1 < 3 eventually holds and is succeeded by b1 < 22, where q0 > 30 does not hold between t1 < 3 and b1 < 22 .
Globally, it is always the case that if c1 < 7 holds, then m1 >= 7 previously held and was preceded by e2 < 17 .
Before u1 > 6, it is always the case that if o2 <= 26 holds, then h2 > 17 previously held.
After d2 = 13 until n0 >= 23, it is always the case that q1 <= 18 holds.
Before r1 < 0, it is always the case that if c2 = 4 holds, then g0 <= 4 eventually holds.
After d0 >= 2 until s0 >= 27, it is never the case that g2 <= 30 holds.
Before l1 > 0, v2 > 26 eventually holds.
Between q1 = 27 and b1 = 7, z1 <= 22 eventually holds.
After p1 = 8 until u1 > 19, it is always the case that h0 < 6 holds.
Globally, it is always the case that if b1 > 31 holds, then d0 <= 10 eventually holds and is succeeded by v0 < 21, where c1 > 6 does not hold between d0 <= 10 and v0 < 21 .
Before r0 > 25, it is always the case that if s2 < 17 holds, then n1 = 7 eventually holds.
Between g1 >= 30 and a1 = 1, it is always the case that if v2 <= 10 holds, then g0 < 24 eventually holds.
After t2 > 19 until v2 = 29, it is always the case that if w0 < 5 holds, then l0 <= 19 previously held and was preceded by e1 <= 12 .
Before d1 > 24, it is always the case that if e2 < 1 holds, then f0 < 12 eventually holds and is succeeded by s1 = 13, where d0 >= 17 does not hold between f0 < 12 and s1 = 13 .
After z2 = 15 until a3 = 1, it is always the case that if w2 < 19 holds, then v2 < 27 eventually holds.
Before p0 <= 11, it is always the case that if m1 < 23 holds, then g0 <= 17 previously held and was preceded by f0 <= 27 .
Globally, it is always the case that if u1 <= 5 holds, then v1 = 10 eventually holds and is succeeded by u2 > 5 .
Between y2 < 9 and u0 > 20, it is always the case that if b1 > 0 holds, then q0 > 0 eventually holds and is succeeded by o0 = 10 .
Between x2 < 26 and v0 = 21, it is never the case that z1 >= 11 holds.
Before e0 < 7, it is always the case that if k1 > 10 holds, then q2 = 9 eventually holds and is succeeded by z0 = 28, where a1 > 30 does not hold between q2 = 9 and z0 = 28 .
After w1 <= 15 until d0 = 16, it is always the case that h1 = 23 holds.
Before k0 <= 21, it is always the case that if m2 < 10 holds, then j0 < 29 previously held and was preceded by t1 >= 27 .
Before m1 = 30, it is always the case that if a1 < 24 holds, then q2 <= 22 eventually holds.
Before d2 < 5, it is always the case that if t2 > 15 holds and is succeeded by p0 = 24, then i0 > 15 eventually holds after p0 = 24 .
After g2 = 3 until b1 >= 3, it is always the case that if l0 < 30 holds, then v2 > 14 previously held and was preceded by h0 >= 28 .
After a3 < 31, x2 >= 29 eventually holds.
Globally, it is never the case that m1 > 1 holds.
After m0 < 24 until b2 > 30, it is always the case that if q0 >= 29 holds, then b2 <= 21 previously held and was preceded by e2 <= 16 .
Before n2 = 15, r1 <= 5 eventually holds.
Between h0 = 15 and a2 >= 13, it is always the case that if b1 > 25 holds, then j0 = 19 previously held.
Between f2 > 27 and v1 <= 28, it is always the case that if a3 <= 4 holds, then w0 < 2 previously held and was preceded by x2 = 7 .
Globally, q0 >= 4 eventually holds.
Before c0 = 18, it is always the case that if n2 = 14 holds, then r0 <= 3 previously held.
Between c2 = 10 and l2 = 9, it is always the case that if i2 <= 18 holds, then z0 = 14 previously held.
After d2 <= 8, it is always the case that h1 > 4 holds.
Globally, it is always the case that if t2 = 1 holds, then c2 >= 14 previously held and was preceded by t2 >= 30 .
After y1 >= 19, it is always the case that if z2 >= 20 holds, then d0 > 12 previously held and was preceded by c2 > 9 .
Between s1 < 28 and a0 <= 14, it is always the case that if j0 > 13 holds, then a1 >= 5 eventually holds.
Before c1 < 6, it is always the case that z1 > 7 holds.
After z1 < 5, it is always the case that if i2 > 15 holds and is succeeded by y2 < 17, then b1 >= 28 eventually holds after y2 < 17 .
After q0 = 12 until i2 > 8, it is always the case that if y2 >= 3 holds, then t1 >= 7 previously held and was preceded by v2 >= 1 .
Between e2 <= 9 and i2 > 9, it is always the case that if n1 = 0 holds, then j0 > 24 eventually holds.
Before v1 < 5, it is always the case that if k2 > 28 holds and is succeeded by t1 < 15, then q2 > 20 previously held.
Before k1 >= 6, it is always the case that if a1 >= 24 holds and is succeeded by m1 = 18, then x1 < 1 eventually holds after m1 = 18 .
After c1 > 28, it is always the case that if v2 > 24 holds and is succeeded by f1 <= 13, then o2 < 22 previously held.
Between r0 = 1 and e2 < 28, it is always the case that if p0 = 8 holds and is succeeded by p0 > 19, then f2 <= 21 previously held.
Before b2 = 27, it is always the case that if h0 < 19 holds, then b2 <= 26 eventually holds.
Globally, it is always the case that if u0 < 24 holds and is succeeded by m0 >= 22, then k1 = 9 previously held.
After p1 = 30 until i1 <= 23, it is always the case that if w2 > 11 holds and is succeeded by h1 > 29, then p1 >= 11 eventually holds after h1 > 29 .
After d2 >= 6, it is always the case that u1 >= 3 holds.
After j2 < 1 until c1 >= 21, it is always the case that if k1 > 23 holds, then s2 < 22 previously held.
After j1 = 21 until l1 = 4, it is always the case that if r0 = 25 holds, then y0 <= 24 eventually holds and is succeeded by t2 < 12 .
Before c0 > 8, it is always the case that if c2 < 26 holds, then z1 > 5 eventually holds and is succeeded by p1 < 16, where f0 < 15 does not hold between z1 > 5 and p1 < 16 .
Before g0 = 10, it is always the case that if g2 < 11 holds, then d2 < 11 previously held.
After x0 >= 25, it is always the case that if k2 < 10 holds, then q0 < 25 eventually holds and is succeeded by z0 < 30 .
Globally, it is always the case that if t2 >= 27 holds and is succeeded by v1 <= 13, then d2 < 13 previously held.
Globally, it is always the case that y1 >= 7 holds.
Between q2 >= 14 and u0 > 19, it is always the case that if m0 >= 26 holds, then b2 > 2 eventually holds.
Before j2 > 3, x0 < 31 eventually holds.
Before w1 < 22, it is always the case that if p1 < 6 holds, then t0 = 24 previously held.
Globally, it is always the case that if f1 > 10 holds, then l1 < 0 previously held.
After r0 < 31 until z2 >= 2, a1 < 6 eventually holds.
Between j1 <= 5 and n1 <= 3, it is always the case that if s0 = 17 holds and is succeeded by f0 > 25, then t1 > 3 previously held.
After g0 > 4, it is always the case that if r2 >= 9 holds and is succeeded by k1 >= 10, then c2 = 24 eventually holds after k1 >= 10 .
After u2 >= 22, it is always the case that if b2 = 16 holds, then i2 >= 22 eventually holds.
After m2 = 22, it is always the case that if n2 >= 12 holds, then n0 > 30 previously held.
After g2 = 21, it is always the case that if o0 > 3 holds, then h0 > 31 eventually holds.
After h1 >= 16 until p1 < 17, it is always the case that if w1 = 7 holds and is succeeded by t1 = 20, then m0 = 15 previously held.
Globally, it is never the case that j2 > 14 holds.
Globally, it is always the case that if r2 = 22 holds, then m0 >= 7 eventually holds.
Before z1 = 13, it is never the case that y0 > 7 holds.
Globally, it is always the case that if z1 < 19 holds, then u0 = 2 previously held.
Between z0 < 30 and i0 = 30, it is always the case that if v1 >= 2 holds and is succeeded by r0 >= 25, then k2 >= 9 eventually holds after r0 >= 25 .
Between a2 < 4 and s2 = 26, it is always the case that if h0 >= 7 holds, then k1 = 7 eventually holds and is succeeded by b2 >= 25, where d0 < 1 does not hold between k1 = 7 and b2 >= 25 .
Between e2 = 21 and m2 = 19, it is always the case that if c1 <= 1 holds, then z0 >= 5 previously held.
After d1 < 6 until x0 >= 9, it is never the case that r1 > 7 holds.
Globally, it is always the case that if u0 <= 23 holds, then t1 >= 6 previously held and was preceded by r0 < 11 .
Globally, it is always the case that if o1 <= 10 holds, then o1 >= 23 eventually holds.
After z1 > 9, it is always the case that if e1 >= 15 holds and is succeeded by p2 >= 25, then l1 > 23 eventually holds after p2 >= 25 .
Globally, it is never the case that h1 > 20 holds.
Between j2 < 7 and k2 = 27, it is never the case that t0 > 13 holds.
Globally, it is never the case that j0 < 5 holds.
After c2 <= 11 until u2 = 29, it is always the case that if u2 > 19 holds, then v0 = 11 previously held.
