Before a0 < 4, it is always the case that if c0 > 0 holds and is succeeded by e0 < 12, then f0 <= 7 eventually holds after e0 < 12 .
Before f0 = 3, it is always the case that if d0 < 12 holds and is succeeded by g0 < 13, then f0 < 1 eventually holds after g0 < 13 .
After d0 < 12 until c0 <= 14, it is always the case that h0 > 10 holds.
After i0 >= 7 until f0 > 9, it is always the case that if a0 <= 0 holds, then e0 >= 3 eventually holds and is succeeded by c0 <= 8 .
Between i0 < 11 and b0 < 11, it is always the case that if i0 > 1 holds and is succeeded by e0 > 11, then i0 > 5 eventually holds after e0 > 11 .
After c0 = 1, it is always the case that if e0 >= 7 holds, then c0 = 7 previously held.
Globally, it is always the case that if d0 = 0 holds and is succeeded by a0 > 11, then e0 <= 14 previously held.
Between d0 >= 13 and e0 >= 5, it is never the case that b0 <= 13 holds.
Globally, it is always the case that if f0 = 13 holds, then i0 <= 6 previously held.
After d0 < 12 until f0 < 14, it is always the case that if h0 < 3 holds, then d0 > 5 eventually holds and is succeeded by g0 < 4, where f0 < 0 does not hold between d0 > 5 and g0 < 4 .
After a0 <= 4 until c0 < 3, it is always the case that h0 <= 1 holds.
Between g0 <= 0 and c0 > 3, it is never the case that b0 < 3 holds.
Between a0 > 3 and b0 = 1, it is always the case that if a0 < 12 holds, then h0 >= 7 previously held and was preceded by g0 >= 5 .
Before i0 > 2, it is always the case that if d0 = 4 holds and is succeeded by i0 <= 11, then g0 >= 5 eventually holds after i0 <= 11 .
Globally, it is always the case that if b0 < 6 holds, then c0 > 9 eventually holds and is succeeded by i0 = 0 .
After a0 >= 5 until g0 > 12, it is always the case that if h0 <= 3 holds, then h0 <= 7 previously held.
Globally, it is always the case that if c0 >= 2 holds, then a0 > 0 eventually holds and is succeeded by c0 = 7, where d0 = 6 does not hold between a0 > 0 and c0 = 7 .
Globally, it is never the case that f0 <= 0 holds.
After i0 = 9 until i0 <= 3, it is always the case that if b0 = 12 holds and is succeeded by a0 >= 14, then c0 < 13 eventually holds after a0 >= 14 .
Globally, it is always the case that if h0 > 10 holds and is succeeded by a0 > 1, then g0 = 14 eventually holds after a0 > 1 .
After e0 < 1, it is always the case that if f0 > 0 holds and is succeeded by f0 >= 6, then g0 < 4 eventually holds after f0 >= 6 .
Before g0 = 6, it is always the case that if h0 > 14 holds, then g0 = 0 previously held.
Globally, it is never the case that d0 <= 3 holds.
After b0 = 12 until f0 > 11, i0 >= 9 eventually holds.
Globally, it is always the case that if h0 < 13 holds, then f0 < 15 previously held and was preceded by c0 >= 11 .
Globally, it is always the case that if c0 >= 5 holds, then b0 > 5 eventually holds.
Before f0 = 13, it is always the case that a0 > 15 holds.
Between g0 >= 8 and d0 <= 12, it is always the case that if i0 <= 15 holds, then e0 <= 10 eventually holds and is succeeded by g0 >= 15 .
Before b0 = 3, it is always the case that if f0 = 7 holds and is succeeded by d0 >= 14, then h0 >= 5 eventually holds after d0 >= 14 .
Globally, it is always the case that if c0 >= 5 holds and is succeeded by b0 >= 10, then g0 = 11 eventually holds after b0 >= 10 .
Globally, it is always the case that if c0 < 12 holds and is succeeded by b0 <= 0, then b0 < 13 eventually holds after b0 <= 0 .
Before b0 < 2, it is always the case that if f0 > 11 holds, then f0 > 11 eventually holds.
Between c0 <= 5 and b0 >= 12, it is always the case that if h0 > 10 holds and is succeeded by i0 >= 0, then c0 >= 10 previously held.
Between i0 > 15 and c0 <= 9, it is always the case that if c0 >= 13 holds, then g0 > 3 eventually holds and is succeeded by a0 >= 7, where g0 < 15 does not hold between g0 > 3 and a0 >= 7 .
After b0 > 4, it is always the case that if a0 >= 3 holds, then d0 > 10 eventually holds and is succeeded by a0 < 3, where g0 <= 9 does not hold between d0 > 10 and a0 < 3 .
Globally, it is always the case that if h0 > 11 holds, then h0 < 14 previously held.
Before h0 > 5, it is always the case that if g0 >= 4 holds, then a0 >= 1 previously held and was preceded by i0 >= 3 .
Globally, it is always the case that if d0 >= 4 holds, then e0 = 12 eventually holds and is succeeded by f0 >= 11, where a0 = 9 does not hold between e0 = 12 and f0 >= 11 .
Globally, it is always the case that if c0 >= 4 holds and is succeeded by a0 < 0, then f0 <= 6 eventually holds after a0 < 0 .
Before i0 > 2, it is always the case that if f0 <= 15 holds, then h0 <= 2 previously held.
Between g0 <= 1 and e0 <= 13, it is always the case that if d0 <= 5 holds and is succeeded by h0 = 14, then g0 = 11 previously held.
After c0 >= 11 until a0 > 6, it is always the case that g0 <= 13 holds.
After h0 >= 1 until g0 = 6, h0 = 0 eventually holds.
Globally, it is always the case that if f0 < 10 holds, then c0 <= 9 previously held and was preceded by e0 < 0 .
Globally, it is always the case that if i0 >= 11 holds and is succeeded by i0 >= 5, then g0 < 2 eventually holds after i0 >= 5 .
After b0 < 11, it is always the case that if c0 >= 6 holds, then i0 < 2 eventually holds and is succeeded by c0 <= 2, where b0 < 14 does not hold between i0 < 2 and c0 <= 2 .
Globally, it is always the case that if d0 >= 14 holds and is succeeded by i0 <= 6, then i0 <= 6 previously held.
After d0 > 6, it is always the case that a0 = 15 holds.
After d0 <= 9, it is never the case that e0 >= 10 holds.
Globally, it is always the case that if i0 <= 15 holds and is succeeded by h0 >= 13, then a0 > 15 eventually holds after h0 >= 13 .
Globally, it is always the case that if i0 > 15 holds, then i0 > 8 eventually holds and is succeeded by c0 <= 11, where b0 < 12 does not hold between i0 > 8 and c0 <= 11 .
Before h0 = 9, it is never the case that e0 = 10 holds.
Between g0 <= 1 and b0 > 2, it is never the case that h0 < 7 holds.
Globally, it is never the case that b0 < 1 holds.
After i0 > 14 until b0 < 12, it is always the case that if b0 > 1 holds, then c0 >= 11 previously held.
Before b0 = 4, it is always the case that if f0 = 12 holds and is succeeded by c0 >= 3, then c0 <= 10 previously held.
Between a0 > 13 and a0 > 0, it is always the case that if a0 = 10 holds, then f0 = 0 previously held.
Between g0 = 0 and g0 <= 6, it is always the case that h0 > 5 holds.
Globally, it is always the case that if b0 = 6 holds and is succeeded by e0 >= 10, then h0 = 2 eventually holds after e0 >= 10 .
Globally, it is always the case that if e0 > 3 holds, then a0 = 15 eventually holds and is succeeded by g0 < 13 .
Globally, it is always the case that if b0 >= 4 holds, then h0 <= 8 eventually holds and is succeeded by f0 <= 7, where h0 < 9 does not hold between h0 <= 8 and f0 <= 7 .
Between d0 >= 12 and a0 < 5, it is always the case that if g0 > 5 holds and is succeeded by i0 > 13, then c0 > 4 eventually holds after i0 > 13 .
After c0 <= 15, it is always the case that if g0 > 0 holds, then d0 > 7 previously held.
Before h0 <= 7, it is never the case that c0 >= 7 holds.
Globally, it is always the case that if b0 < 7 holds, then d0 = 0 eventually holds.
Between f0 < 9 and i0 > 5, it is always the case that if d0 < 6 holds and is succeeded by g0 = 3, then f0 >= 6 previously held.
Before i0 >= 15, it is always the case that c0 < 11 holds.
Between h0 >= 6 and a0 > 9, it is always the case that if h0 > 0 holds, then f0 = 1 eventually holds.
Between i0 >= 8 and g0 > 1, it is always the case that if f0 <= 11 holds, then a0 = 3 previously held.
After d0 >= 4 until c0 <= 7, it is always the case that i0 >= 5 holds.
After h0 <= 12 until c0 > 3, it is always the case that if i0 < 5 holds, then h0 > 12 previously held.
After b0 = 13 until d0 = 9, it is always the case that if i0 >= 14 holds and is succeeded by f0 < 12, then b0 = 10 previously held.
After d0 >= 11 until c0 = 8, it is always the case that if b0 = 0 holds, then g0 < 7 eventually holds and is succeeded by a0 < 7 .
Globally, it is always the case that if d0 >= 14 holds, then d0 < 11 eventually holds and is succeeded by g0 = 1, where e0 <= 11 does not hold between d0 < 11 and g0 = 1 .
After a0 >= 5 until f0 < 7, it is never the case that e0 >= 15 holds.
Before g0 < 0, it is always the case that if g0 > 11 holds, then g0 < 11 eventually holds.
After d0 >= 3, it is always the case that if f0 <= 6 holds and is succeeded by c0 >= 8, then i0 <= 12 previously held.
Globally, it is always the case that if a0 >= 14 holds and is succeeded by g0 > 13, then g0 <= 7 previously held.
Between i0 < 11 and d0 = 14, it is always the case that if h0 = 3 holds, then b0 >= 13 eventually holds.
Between b0 <= 11 and i0 >= 12, h0 <= 2 eventually holds.
Between e0 <= 1 and f0 > 10, g0 > 1 eventually holds.
After g0 < 3 until b0 = 12, it is always the case that if f0 < 11 holds, then e0 >= 9 eventually holds and is succeeded by f0 < 10 .
Before c0 = 8, it is always the case that if i0 > 12 holds, then g0 <= 9 eventually holds and is succeeded by h0 < 8 .
After c0 = 5, it is always the case that if g0 < 9 holds, then a0 > 10 eventually holds.
After c0 = 5, it is always the case that if f0 >= 5 holds and is succeeded by h0 <= 14, then a0 > 14 eventually holds after h0 <= 14 .
After h0 < 10, it is always the case that if h0 >= 7 holds and is succeeded by c0 <= 4, then g0 > 13 previously held.
After c0 < 15 until i0 = 0, it is always the case that if f0 = 7 holds, then e0 > 15 previously held.
Before h0 >= 13, it is always the case that if d0 <= 12 holds and is succeeded by c0 >= 5, then h0 < 8 previously held.
Between d0 > 3 and c0 >= 13, it is never the case that h0 <= 7 holds.
After i0 < 2, it is always the case that if e0 < 13 holds, then c0 < 7 eventually holds and is succeeded by e0 > 14, where e0 > 2 does not hold between c0 < 7 and e0 > 14 .
After b0 <= 5 until f0 > 7, it is always the case that if d0 = 9 holds, then a0 >= 9 previously held.
After d0 > 7, it is always the case that h0 < 9 holds.
Globally, it is always the case that h0 > 3 holds.
After d0 < 14, it is always the case that if c0 = 10 holds, then g0 >= 13 previously held and was preceded by a0 <= 5 .
Between a0 <= 2 and c0 = 3, it is always the case that if i0 < 11 holds, then a0 >= 8 eventually holds and is succeeded by i0 <= 9 .
After e0 < 12 until e0 < 2, it is always the case that i0 = 0 holds.
After c0 >= 12, it is always the case that if i0 = 4 holds, then e0 < 5 eventually holds and is succeeded by a0 < 8 .
After h0 >= 4 until i0 <= 2, it is always the case that if e0 > 3 holds, then h0 > 4 eventually holds and is succeeded by a0 = 3, where e0 < 12 does not hold between h0 > 4 and a0 = 3 .
After i0 >= 12, it is always the case that if d0 = 1 holds, then f0 > 4 previously held.
After e0 < 12, f0 >= 9 eventually holds.
Between i0 > 7 and f0 <= 1, it is always the case that if d0 = 6 holds, then d0 = 6 eventually holds and is succeeded by a0 > 3, where e0 <= 14 does not hold between d0 = 6 and a0 > 3 .
Globally, it is always the case that a0 = 6 holds.
Between f0 > 11 and d0 = 7, b0 = 1 eventually holds.
After f0 <= 5, it is always the case that if h0 = 13 holds and is succeeded by i0 >= 10, then f0 = 12 eventually holds after i0 >= 10 .
Globally, it is never the case that h0 <= 10 holds.
Globally, it is always the case that if e0 >= 2 holds, then d0 = 7 eventually holds.
Globally, it is always the case that if b0 > 15 holds and is succeeded by g0 = 1, then b0 < 9 previously held.
After c0 >= 15 until d0 > 1, it is always the case that if e0 <= 2 holds, then g0 >= 6 previously held and was preceded by e0 <= 3 .
Before e0 = 12, it is always the case that if a0 <= 13 holds and is succeeded by d0 > 12, then g0 = 3 previously held.
After c0 < 2 until h0 > 12, it is always the case that if i0 >= 11 holds and is succeeded by c0 < 13, then d0 >= 10 eventually holds after c0 < 13 .
Between h0 = 2 and h0 >= 14, h0 <= 2 eventually holds.
Before e0 < 4, it is always the case that if f0 <= 15 holds, then i0 >= 0 eventually holds.
After a0 <= 0, it is always the case that d0 = 0 holds.
Before f0 <= 3, it is always the case that if d0 = 1 holds, then i0 > 10 previously held and was preceded by b0 > 8 .
Before c0 = 15, it is never the case that h0 = 12 holds.
Before d0 = 7, it is always the case that h0 = 8 holds.
After e0 > 14 until h0 > 3, it is always the case that if d0 <= 14 holds and is succeeded by h0 = 2, then f0 = 13 previously held.
Globally, it is always the case that if b0 > 15 holds, then c0 = 0 eventually holds and is succeeded by b0 <= 2 .
After d0 >= 5, it is always the case that if c0 < 7 holds, then f0 >= 5 previously held.
Before e0 < 15, it is never the case that i0 < 15 holds.
