After u3 < 1, it is always the case that if i0 >= 4 holds, then m1 >= 15 eventually holds and is succeeded by s1 > 4 .
After r4 <= 7, it is always the case that if j1 <= 11 holds and is succeeded by i2 = 4, then t3 <= 0 eventually holds after i2 = 4 .
Before c3 >= 2, it is always the case that if u2 > 9 holds, then d1 <= 10 eventually holds and is succeeded by b1 > 5, where e5 <= 12 does not hold between d1 <= 10 and b1 > 5 .
After t1 >= 6 until l5 > 4, it is always the case that j3 >= 1 holds.
Globally, it is always the case that if y4 < 2 holds, then y5 > 3 previously held and was preceded by i0 = 11 .
Before l0 < 1, it is always the case that if b0 = 4 holds, then x5 >= 10 previously held.
Before m1 = 11, it is never the case that o4 > 11 holds.
After u2 < 9 until w3 > 0, it is always the case that if i1 = 0 holds and is succeeded by w3 > 7, then a4 = 10 previously held.
Globally, it is never the case that o4 = 3 holds.
Before b1 >= 3, it is always the case that if s4 < 1 holds, then i3 = 8 previously held and was preceded by l4 <= 11 .
Before o4 <= 10, it is never the case that a1 >= 1 holds.
After c6 >= 3, i3 > 14 eventually holds.
Before f2 <= 15, it is never the case that v5 < 13 holds.
After b0 < 3, it is never the case that h5 <= 6 holds.
Between s3 < 2 and f5 = 13, it is always the case that e1 < 7 holds.
After l3 = 12 until j5 >= 2, it is always the case that if r4 >= 2 holds, then f0 > 1 previously held.
Between e4 < 8 and q5 >= 1, it is always the case that c5 = 9 holds.
After z1 = 11 until a1 >= 11, it is never the case that t3 >= 2 holds.
After u4 >= 7 until u0 <= 2, it is always the case that if n5 = 13 holds, then t3 = 13 eventually holds and is succeeded by t3 > 15 .
After g2 <= 9, it is never the case that x5 = 10 holds.
Globally, it is always the case that if v1 = 12 holds and is succeeded by u0 >= 7, then j2 < 9 eventually holds after u0 >= 7 .
Globally, it is always the case that if g4 <= 12 holds and is succeeded by t0 = 1, then y2 = 14 previously held.
After q3 <= 14 until c6 > 7, it is always the case that if z2 = 13 holds, then q3 > 10 previously held and was preceded by r0 = 5 .
Before o3 > 9, it is always the case that f5 = 7 holds.
After p3 < 6, it is always the case that if p5 <= 14 holds, then g0 = 10 previously held and was preceded by t2 < 5 .
Between p1 > 3 and u2 < 11, it is always the case that if q2 >= 11 holds, then q3 = 3 eventually holds.
Between a3 <= 0 and f5 >= 10, it is always the case that if h4 < 10 holds and is succeeded by y5 <= 3, then c6 > 15 previously held.
After v3 = 10, it is always the case that k0 >= 10 holds.
After n1 < 4, it is always the case that if i2 = 12 holds, then i3 < 7 eventually holds and is succeeded by m0 <= 11 .
Between x4 < 5 and n4 > 9, it is always the case that if v4 < 4 holds and is succeeded by g5 < 2, then t2 = 3 previously held.
Between x2 < 5 and x5 < 1, it is always the case that b6 < 11 holds.
Between i2 <= 12 and a5 > 15, it is always the case that if z3 < 5 holds, then j2 > 11 previously held.
Globally, it is always the case that if g4 > 6 holds, then y4 >= 7 eventually holds and is succeeded by a0 = 8, where h3 < 1 does not hold between y4 >= 7 and a0 = 8 .
After i5 <= 13 until q1 >= 8, it is always the case that if v5 < 12 holds and is succeeded by g2 >= 8, then d3 < 15 eventually holds after g2 >= 8 .
Between o1 < 9 and g3 > 8, it is always the case that if v1 < 1 holds, then k2 = 0 previously held.
Globally, it is always the case that if x1 < 10 holds, then x1 > 10 previously held and was preceded by i5 < 4 .
Before p4 >= 0, it is always the case that if y4 > 1 holds and is succeeded by f4 < 7, then b3 <= 12 eventually holds after f4 < 7 .
Globally, it is always the case that if p4 >= 12 holds, then z2 >= 0 previously held and was preceded by h2 < 12 .
Globally, it is always the case that if l5 > 7 holds, then y1 > 6 eventually holds and is succeeded by q5 > 0 .
After o1 < 9 until e4 >= 5, it is always the case that if p2 = 7 holds and is succeeded by q2 = 4, then h1 = 2 eventually holds after q2 = 4 .
Before h5 >= 14, it is always the case that if i2 > 11 holds, then u5 > 4 eventually holds and is succeeded by o4 >= 15 .
Before l3 < 6, it is always the case that if k0 > 2 holds, then i3 > 5 eventually holds and is succeeded by u2 = 1 .
Globally, it is always the case that if r4 < 1 holds and is succeeded by l3 = 11, then r3 > 14 eventually holds after l3 = 11 .
Between n0 <= 3 and d0 <= 0, it is always the case that if f0 = 9 holds, then i0 < 13 eventually holds and is succeeded by j5 <= 11, where j0 >= 7 does not hold between i0 < 13 and j5 <= 11 .
Before l4 > 3, it is always the case that if r0 = 5 holds, then o2 < 15 eventually holds and is succeeded by n3 > 2, where y4 < 2 does not hold between o2 < 15 and n3 > 2 .
Between k1 >= 13 and x0 = 5, it is always the case that if y1 < 2 holds, then f5 <= 3 eventually holds and is succeeded by f1 > 5, where w4 >= 13 does not hold between f5 <= 3 and f1 > 5 .
Between c2 = 0 and h2 >= 13, it is always the case that if g1 = 15 holds, then s0 <= 1 eventually holds.
Before s0 >= 7, it is always the case that if v2 <= 12 holds and is succeeded by b0 >= 15, then a3 < 1 previously held.
After t3 > 9, it is always the case that if e2 <= 6 holds, then x1 > 12 eventually holds and is succeeded by n2 >= 10 .
After b6 >= 8, a4 >= 12 eventually holds.
After o0 <= 12 until r3 < 5, it is always the case that if y2 = 4 holds, then o2 < 14 eventually holds and is succeeded by s4 > 7 .
Globally, it is always the case that n5 < 5 holds.
Globally, o5 = 10 eventually holds.
After d2 <= 3, it is always the case that if i3 < 13 holds and is succeeded by o3 < 4, then k4 = 5 eventually holds after o3 < 4 .
Between o5 > 14 and o5 = 3, it is never the case that l2 <= 5 holds.
Between s4 = 7 and b0 = 7, it is always the case that if i0 <= 4 holds and is succeeded by w1 > 3, then b3 >= 5 eventually holds after w1 > 3 .
Before c1 < 13, a6 > 15 eventually holds.
Before n2 < 13, it is always the case that if n2 = 13 holds, then s3 > 4 eventually holds and is succeeded by k1 = 0 .
Before o3 < 12, it is always the case that if w4 > 7 holds, then j0 = 0 previously held.
Between i3 <= 1 and q2 < 0, it is always the case that b3 < 4 holds.
Before e0 <= 9, it is always the case that if e3 > 0 holds, then o1 > 8 eventually holds.
Between r1 < 0 and a0 < 9, it is never the case that v2 <= 1 holds.
Globally, it is always the case that if l1 = 2 holds and is succeeded by r3 <= 14, then g0 >= 14 eventually holds after r3 <= 14 .
Between r1 < 2 and u2 = 11, it is always the case that if j0 <= 11 holds, then g0 = 9 previously held.
Between n1 < 5 and d4 < 6, j3 <= 4 eventually holds.
Before n5 < 13, it is never the case that a3 = 4 holds.
Before m3 <= 6, e4 <= 7 eventually holds.
After x3 < 3, y3 > 1 eventually holds.
Globally, it is always the case that if l5 = 6 holds, then f0 >= 15 eventually holds and is succeeded by h5 >= 11 .
After b3 > 3, it is always the case that if a4 > 15 holds, then b4 < 4 previously held.
Before q4 < 15, it is always the case that if y3 < 1 holds, then n2 >= 7 previously held.
Globally, it is never the case that e3 = 5 holds.
Globally, q3 < 1 eventually holds.
Globally, it is always the case that b0 = 12 holds.
Between y4 <= 4 and l3 = 4, it is always the case that if r3 > 6 holds and is succeeded by j4 <= 7, then u2 < 12 eventually holds after j4 <= 7 .
After c1 < 13, it is always the case that if y1 <= 7 holds, then r3 <= 2 previously held.
After k3 >= 0, it is always the case that if l4 = 2 holds, then h0 >= 5 eventually holds and is succeeded by m2 = 8, where y5 >= 3 does not hold between h0 >= 5 and m2 = 8 .
Before a3 > 2, it is always the case that if p5 < 13 holds, then n4 > 15 eventually holds.
After x2 < 10, it is never the case that a6 < 12 holds.
Between u4 >= 4 and d5 <= 2, it is always the case that if m4 < 9 holds, then a0 >= 9 previously held and was preceded by h5 > 5 .
Between g0 >= 3 and t4 <= 7, it is always the case that j2 <= 5 holds.
Between f2 > 14 and a3 > 9, it is always the case that if b4 >= 14 holds, then j2 = 13 previously held and was preceded by b5 <= 6 .
After n1 <= 4, it is always the case that if s2 <= 14 holds and is succeeded by u1 = 14, then q0 <= 11 eventually holds after u1 = 14 .
Globally, it is always the case that if g1 > 7 holds, then f4 < 12 previously held and was preceded by h5 > 3 .
Between q0 >= 8 and w1 < 8, z5 = 8 eventually holds.
After m2 <= 14, it is always the case that if c2 < 15 holds, then h4 >= 13 eventually holds and is succeeded by z5 >= 14 .
Before g5 <= 8, it is always the case that if f1 >= 11 holds and is succeeded by r2 = 2, then g2 <= 5 eventually holds after r2 = 2 .
Before r3 <= 1, it is always the case that if y1 >= 6 holds and is succeeded by x4 = 3, then v2 <= 10 previously held.
Before x1 >= 12, y5 >= 0 eventually holds.
Globally, it is always the case that if i4 > 6 holds and is succeeded by q3 <= 5, then m1 > 6 eventually holds after q3 <= 5 .
Globally, it is always the case that if b6 = 8 holds and is succeeded by i1 < 11, then l2 = 10 previously held.
After k4 >= 8, it is always the case that if b1 > 4 holds, then q0 > 11 previously held and was preceded by q5 <= 13 .
Globally, l2 >= 5 eventually holds.
After q5 <= 8, it is always the case that w4 <= 15 holds.
After g4 <= 8 until f2 = 0, it is never the case that c1 = 11 holds.
Globally, it is always the case that if n0 <= 10 holds, then u3 > 4 eventually holds and is succeeded by h1 >= 10 .
After r3 >= 6 until r0 <= 13, t2 > 12 eventually holds.
After i3 <= 13 until k4 > 15, it is always the case that if n0 >= 11 holds, then w4 < 15 eventually holds and is succeeded by h0 < 3, where h1 <= 3 does not hold between w4 < 15 and h0 < 3 .
Before t3 < 13, it is always the case that if p5 < 2 holds, then t3 < 5 previously held.
Globally, it is never the case that l2 < 4 holds.
Between l0 <= 1 and b5 = 15, it is always the case that if h5 >= 6 holds, then g5 > 15 eventually holds and is succeeded by q1 <= 2, where c0 > 5 does not hold between g5 > 15 and q1 <= 2 .
Between b6 >= 13 and i4 = 7, it is always the case that if r3 < 5 holds, then r3 <= 1 eventually holds and is succeeded by a6 = 2, where f2 <= 12 does not hold between r3 <= 1 and a6 = 2 .
After b1 < 14 until g5 <= 12, it is always the case that if d0 >= 13 holds, then r5 >= 5 eventually holds.
After o3 > 9 until w0 < 4, it is always the case that if m4 <= 5 holds and is succeeded by w1 = 5, then q1 < 8 previously held.
Between l1 < 2 and f1 < 10, it is always the case that if l3 <= 10 holds, then m3 > 3 eventually holds and is succeeded by y5 >= 7 .
After i4 = 13, it is always the case that s1 = 0 holds.
After f2 > 6 until x4 >= 5, it is always the case that if j4 = 11 holds, then k5 <= 11 previously held.
Between s2 <= 9 and s3 > 7, it is never the case that h2 >= 7 holds.
Globally, it is always the case that if q3 = 5 holds, then k3 <= 4 previously held.
Before n0 < 14, it is always the case that if b0 < 0 holds, then i0 > 12 previously held and was preceded by r4 < 3 .
Between k5 >= 3 and n2 > 9, it is never the case that c2 <= 8 holds.
After e4 > 1 until b1 >= 15, it is always the case that if d2 >= 5 holds and is succeeded by s2 >= 1, then g0 = 8 eventually holds after s2 >= 1 .
Globally, it is always the case that if v5 >= 15 holds, then a1 > 8 eventually holds.
Between j4 > 4 and a3 > 6, it is always the case that if s0 <= 5 holds, then u2 >= 4 previously held and was preceded by t3 > 8 .
After d2 <= 13 until q2 < 15, it is always the case that if c6 >= 9 holds and is succeeded by p5 > 5, then m4 < 9 previously held.
After p2 > 14 until z1 <= 7, it is always the case that if l4 > 8 holds, then s2 < 10 eventually holds and is succeeded by b1 > 13 .
After z0 >= 13 until h1 = 14, it is always the case that e4 > 8 holds.
After s3 = 7, it is always the case that if n5 >= 2 holds, then c0 >= 5 eventually holds and is succeeded by p4 < 8, where z1 <= 0 does not hold between c0 >= 5 and p4 < 8 .
After b3 > 1, it is always the case that if p1 < 10 holds, then z5 >= 9 eventually holds and is succeeded by b3 >= 5, where u4 >= 14 does not hold between z5 >= 9 and b3 >= 5 .
After e3 >= 4, h5 > 5 eventually holds.
