Between z0 > 7 and h1 >= 6, it is always the case that if j0 < 5 holds and is succeeded by s0 > 4, then q0 > 3 eventually holds after s0 > 4 .
Globally, it is never the case that d0 > 7 holds.
After l0 >= 5, it is always the case that if g0 <= 3 holds, then s0 < 5 previously held and was preceded by c0 < 7 .
Before i0 > 6, it is always the case that if l0 > 7 holds, then f0 >= 1 previously held and was preceded by d1 = 5 .
Globally, it is always the case that if m1 < 7 holds and is succeeded by y0 <= 0, then j0 = 3 eventually holds after y0 <= 0 .
Globally, it is always the case that if i1 >= 6 holds, then y0 <= 1 previously held.
After w0 = 6, it is always the case that if b0 > 6 holds, then h0 >= 4 previously held.
Globally, it is never the case that s0 <= 6 holds.
After m0 < 0 until l0 <= 3, it is always the case that if e1 < 4 holds, then j1 < 7 previously held.
After d0 <= 2, it is always the case that if g0 <= 1 holds, then x0 > 3 previously held and was preceded by a0 = 7 .
After z0 <= 1 until a0 <= 1, it is never the case that y0 >= 7 holds.
After m1 = 3, it is always the case that if l0 <= 6 holds, then e1 > 4 eventually holds and is succeeded by x0 <= 6 .
After x0 = 5 until b0 >= 0, it is always the case that j1 >= 6 holds.
After a1 > 4 until m1 >= 2, it is always the case that if f0 = 0 holds, then e0 < 0 eventually holds.
Between j1 >= 5 and k1 = 0, it is always the case that k0 = 4 holds.
Between f1 >= 5 and d1 < 0, it is never the case that n0 > 2 holds.
Globally, it is never the case that d1 >= 2 holds.
Before d1 <= 2, it is always the case that if g0 > 5 holds, then g1 <= 1 previously held and was preceded by c0 < 5 .
Before i0 < 5, it is always the case that if c0 > 2 holds, then j0 = 7 eventually holds and is succeeded by x0 <= 2 .
Before n0 >= 3, it is always the case that if c1 <= 0 holds and is succeeded by k1 = 7, then w0 >= 5 eventually holds after k1 = 7 .
Between j0 < 2 and d0 < 4, it is always the case that if e1 = 4 holds and is succeeded by a0 <= 3, then l0 > 1 eventually holds after a0 <= 3 .
Before u0 <= 7, it is always the case that if a0 = 7 holds, then w0 < 3 previously held.
Before u0 > 5, it is always the case that f1 < 6 holds.
After k0 = 1 until f0 >= 4, it is always the case that if d1 < 1 holds, then u0 > 4 previously held.
Before q0 < 4, it is always the case that j1 >= 2 holds.
After t0 >= 5 until k0 = 3, it is always the case that m1 < 5 holds.
Before j0 <= 2, it is always the case that if m0 > 4 holds, then k0 <= 0 eventually holds and is succeeded by i0 <= 0, where o0 <= 0 does not hold between k0 <= 0 and i0 <= 0 .
After i0 = 4 until a1 >= 7, it is always the case that if b0 < 3 holds, then q0 >= 3 previously held and was preceded by c0 = 6 .
After u0 <= 7, it is always the case that if s0 <= 4 holds, then q0 = 7 eventually holds.
Globally, it is always the case that if b1 >= 7 holds, then k1 <= 5 eventually holds and is succeeded by m1 <= 4 .
Globally, it is always the case that if f1 <= 2 holds, then t0 >= 5 eventually holds and is succeeded by a1 >= 7 .
Between l0 = 3 and o0 > 6, t0 > 3 eventually holds.
Before e1 >= 7, it is always the case that if l0 >= 5 holds, then y0 <= 3 previously held and was preceded by j0 > 6 .
Between z0 <= 5 and l0 <= 7, it is always the case that if g1 >= 4 holds, then v0 > 5 eventually holds.
After f0 < 4, it is always the case that if o0 = 0 holds, then e1 >= 3 eventually holds.
After i1 < 4 until s0 > 4, it is always the case that if z0 <= 0 holds, then h1 < 0 previously held and was preceded by g1 > 5 .
Between l1 = 0 and i0 = 4, it is always the case that if b0 < 1 holds, then h1 = 0 eventually holds.
Globally, it is never the case that y0 < 7 holds.
Between k0 >= 2 and n0 <= 7, it is always the case that if l1 < 2 holds, then w0 >= 6 previously held and was preceded by h0 > 2 .
After m0 < 0, it is always the case that if h0 >= 7 holds, then u0 > 5 previously held and was preceded by v0 < 0 .
After k0 > 0, it is always the case that if w0 < 3 holds, then g1 <= 6 eventually holds and is succeeded by z0 > 3, where j1 < 3 does not hold between g1 <= 6 and z0 > 3 .
After y0 > 6, it is always the case that if a0 > 7 holds, then a1 <= 3 eventually holds.
Between b0 >= 6 and z0 >= 1, it is always the case that if b1 >= 1 holds, then l1 <= 5 eventually holds and is succeeded by w0 < 4, where t0 = 4 does not hold between l1 <= 5 and w0 < 4 .
Globally, it is always the case that if j1 < 2 holds, then r0 >= 2 previously held.
After l0 < 4 until r0 > 3, i0 < 7 eventually holds.
Globally, it is always the case that if v0 > 7 holds and is succeeded by c0 <= 7, then v0 >= 7 eventually holds after c0 <= 7 .
Before i1 >= 5, it is always the case that if d0 < 0 holds and is succeeded by i1 >= 4, then i0 >= 4 previously held.
Before d0 >= 6, it is always the case that if j0 = 6 holds and is succeeded by c1 >= 5, then r0 > 7 previously held.
Globally, r0 <= 4 eventually holds.
After g0 <= 2, it is never the case that i0 >= 7 holds.
Before c0 < 5, it is always the case that w0 = 3 holds.
Between j0 <= 7 and b1 < 7, it is never the case that j0 >= 5 holds.
Between k0 <= 1 and d1 <= 3, it is always the case that if f1 > 0 holds, then f0 > 7 previously held and was preceded by g1 = 2 .
After w0 > 2 until g1 < 1, it is always the case that if e0 > 0 holds and is succeeded by w0 >= 1, then a1 > 6 eventually holds after w0 >= 1 .
Globally, it is always the case that if j0 > 1 holds and is succeeded by h0 <= 7, then k0 >= 5 previously held.
Between c1 > 5 and b1 <= 4, it is always the case that if e1 > 2 holds, then r0 >= 7 previously held.
After a1 <= 4 until e1 = 5, it is always the case that if v0 <= 7 holds and is succeeded by b0 = 0, then i1 > 1 eventually holds after b0 = 0 .
After h1 > 2, it is always the case that if m0 > 5 holds, then j1 <= 2 previously held.
After d1 <= 7, it is always the case that if i0 < 2 holds and is succeeded by f1 <= 3, then e0 < 2 eventually holds after f1 <= 3 .
After e0 = 3, it is always the case that if j1 <= 1 holds and is succeeded by k0 > 6, then e0 < 1 previously held.
Before c1 <= 7, it is always the case that r0 <= 3 holds.
Between i0 <= 7 and d1 <= 6, it is always the case that if e1 <= 6 holds, then m0 <= 0 previously held.
Between z0 <= 7 and f1 < 1, it is always the case that if z0 < 5 holds and is succeeded by t0 <= 5, then g0 <= 3 previously held.
Before u0 >= 0, it is always the case that r0 >= 2 holds.
Globally, it is always the case that if a1 >= 1 holds, then c0 < 3 previously held.
After y0 > 2 until c1 = 6, it is never the case that r0 > 3 holds.
Globally, it is always the case that t0 <= 2 holds.
Between e1 > 6 and u0 <= 7, it is always the case that m0 = 7 holds.
Between r0 <= 7 and l0 < 5, it is always the case that if z0 <= 1 holds, then r0 < 1 eventually holds and is succeeded by j0 >= 0, where c1 <= 1 does not hold between r0 < 1 and j0 >= 0 .
Before g1 = 0, it is never the case that j1 < 7 holds.
Globally, it is always the case that if k1 < 4 holds and is succeeded by d0 > 4, then f1 = 4 eventually holds after d0 > 4 .
Between h1 > 5 and m1 > 7, it is always the case that if u0 <= 3 holds and is succeeded by k1 < 6, then r0 < 5 eventually holds after k1 < 6 .
Between q0 < 6 and q0 = 7, a1 = 7 eventually holds.
Before f0 <= 7, it is never the case that i0 > 4 holds.
After i0 > 3 until p0 < 6, it is always the case that m0 > 2 holds.
Globally, it is always the case that if o0 < 7 holds, then k1 < 5 eventually holds and is succeeded by k0 >= 0, where c1 = 7 does not hold between k1 < 5 and k0 >= 0 .
After c0 <= 6, it is never the case that g0 < 1 holds.
After b0 <= 3 until h0 <= 3, it is always the case that if u0 > 0 holds, then g0 = 2 previously held and was preceded by h1 = 5 .
Between b1 > 0 and h1 < 7, it is always the case that if r0 <= 0 holds and is succeeded by e0 >= 7, then r0 > 7 previously held.
After h1 > 4, it is always the case that if a0 >= 5 holds, then g0 > 0 previously held.
Before k1 = 7, it is always the case that if m1 > 7 holds, then d0 >= 7 previously held.
Between b0 > 7 and w0 <= 0, it is always the case that d0 >= 2 holds.
Before o0 < 1, k1 > 1 eventually holds.
Between h1 < 2 and x0 = 4, it is always the case that if e1 <= 0 holds, then y0 < 1 eventually holds and is succeeded by h0 >= 7 .
Between f1 < 5 and j0 <= 4, it is always the case that if y0 <= 2 holds, then d1 < 3 eventually holds and is succeeded by e0 = 5, where u0 < 0 does not hold between d1 < 3 and e0 = 5 .
Before j0 = 2, it is always the case that if c0 <= 6 holds and is succeeded by f0 <= 4, then h0 <= 2 previously held.
After l0 > 2, a0 > 5 eventually holds.
After j0 = 1 until d1 < 1, it is always the case that if j0 = 7 holds, then b1 = 3 eventually holds and is succeeded by e1 > 5, where d0 <= 4 does not hold between b1 = 3 and e1 > 5 .
Between a0 <= 5 and o0 > 3, it is always the case that if d0 > 2 holds, then b1 = 5 previously held.
After k0 <= 3, it is always the case that if g1 = 6 holds, then e1 < 1 eventually holds.
After a1 < 4, it is always the case that if v0 < 3 holds, then j0 = 0 eventually holds.
Globally, it is always the case that if r0 >= 4 holds, then y0 < 7 previously held and was preceded by b1 > 0 .
Before l1 >= 6, it is always the case that if l0 < 7 holds, then t0 >= 2 eventually holds and is succeeded by p0 >= 0, where a1 < 3 does not hold between t0 >= 2 and p0 >= 0 .
Between u0 > 3 and m1 >= 6, it is always the case that if c0 < 6 holds, then j1 >= 7 eventually holds and is succeeded by x0 < 6, where y0 > 0 does not hold between j1 >= 7 and x0 < 6 .
Globally, it is never the case that v0 < 6 holds.
Globally, it is always the case that if b0 = 5 holds, then f1 <= 4 eventually holds and is succeeded by r0 = 3 .
Between w0 < 5 and g1 > 1, it is always the case that k0 = 5 holds.
Between a1 < 1 and e0 = 6, it is always the case that if y0 < 1 holds and is succeeded by g0 >= 4, then k1 > 3 eventually holds after g0 >= 4 .
After f1 = 6, it is always the case that if h1 < 7 holds, then a1 < 3 eventually holds and is succeeded by k0 >= 3 .
After y0 >= 4 until l1 = 7, it is always the case that if h0 >= 6 holds, then j0 < 1 eventually holds and is succeeded by f0 > 3, where v0 = 4 does not hold between j0 < 1 and f0 > 3 .
Between g0 = 7 and q0 > 3, e1 = 0 eventually holds.
Before p0 < 5, it is always the case that if d0 <= 5 holds and is succeeded by c0 <= 3, then w0 >= 6 previously held.
Between h0 = 0 and a0 = 3, it is never the case that c0 < 2 holds.
After m1 >= 2 until g0 <= 5, it is always the case that if b0 <= 1 holds, then q0 = 3 previously held and was preceded by v0 < 3 .
After j0 = 6 until g0 = 0, it is always the case that if i0 < 1 holds, then t0 >= 7 previously held and was preceded by e1 < 7 .
After f1 > 0 until a0 >= 7, it is always the case that if j1 > 4 holds and is succeeded by a0 > 4, then l0 > 5 previously held.
Between l1 < 1 and d1 = 6, it is always the case that if f0 <= 7 holds, then c0 <= 2 eventually holds and is succeeded by d1 = 0 .
Before c0 = 7, it is always the case that if m0 <= 3 holds and is succeeded by c1 >= 7, then z0 > 1 eventually holds after c1 >= 7 .
Before y0 > 2, it is never the case that v0 > 3 holds.
Globally, it is always the case that if z0 < 3 holds, then l0 < 0 previously held and was preceded by e1 <= 2 .
After l0 <= 2, it is always the case that w0 <= 2 holds.
Before w0 < 2, it is always the case that if g0 >= 5 holds and is succeeded by f0 > 5, then e0 > 4 previously held.
After w0 = 6 until n0 >= 3, it is always the case that if f1 >= 2 holds, then g0 <= 6 eventually holds.
Between o0 > 0 and f0 < 1, l1 < 7 eventually holds.
After f0 > 5 until e1 < 7, it is always the case that if y0 < 7 holds, then i1 = 7 eventually holds and is succeeded by t0 <= 5, where c0 <= 2 does not hold between i1 = 7 and t0 <= 5 .
After h0 <= 6, it is always the case that if k0 <= 7 holds, then j1 <= 7 eventually holds and is succeeded by n0 > 0 .
After y0 = 3, c1 > 5 eventually holds.
After g0 = 0 until z0 = 2, it is always the case that if f1 > 7 holds, then j1 >= 4 previously held.
After j1 = 5, it is always the case that if g0 < 6 holds and is succeeded by m0 > 4, then s0 >= 1 eventually holds after m0 > 4 .
Before j1 > 7, it is always the case that if g1 > 1 holds and is succeeded by v0 < 7, then u0 <= 2 eventually holds after v0 < 7 .
