Between v9 >= 31 and d7 >= 14, it is never the case that a1 <= 15 holds.
Before a11 < 19, it is always the case that if b6 < 14 holds and is succeeded by v11 = 3, then c10 < 14 previously held.
After y9 >= 18, it is always the case that if b0 = 31 holds, then q11 = 0 eventually holds and is succeeded by s10 = 10 .
Before n7 > 24, it is always the case that if j5 > 20 holds and is succeeded by o9 > 10, then u2 = 11 eventually holds after o9 > 10 .
After q4 < 29 until b5 = 1, it is always the case that if f7 >= 23 holds, then o9 <= 2 eventually holds.
Between n8 > 17 and p7 < 23, it is always the case that if j5 = 21 holds, then b5 <= 11 previously held and was preceded by j3 < 20 .
After y7 <= 7, it is always the case that f5 <= 4 holds.
Globally, it is always the case that if o5 <= 2 holds and is succeeded by s5 = 24, then h10 <= 13 previously held.
After y7 <= 4 until s7 < 28, s6 = 27 eventually holds.
Globally, r6 >= 26 eventually holds.
Between c0 <= 27 and d4 <= 5, it is never the case that f9 >= 15 holds.
Globally, it is never the case that b12 >= 8 holds.
After g6 > 27 until v6 > 15, it is always the case that if g7 >= 29 holds, then l11 = 27 eventually holds.
Before u7 = 16, it is always the case that if a9 <= 19 holds, then u11 >= 30 previously held.
Between g6 = 6 and m11 = 25, it is never the case that b8 >= 29 holds.
Between s3 > 17 and k11 <= 18, it is always the case that if w1 < 30 holds, then r3 = 9 eventually holds.
Globally, it is always the case that if g0 < 25 holds and is succeeded by h2 < 29, then c9 < 5 eventually holds after h2 < 29 .
After k5 > 24, it is always the case that if m9 >= 19 holds, then i0 >= 16 eventually holds.
Globally, it is never the case that v9 = 20 holds.
Between v11 = 24 and m2 = 10, it is always the case that j9 >= 0 holds.
Globally, o10 < 2 eventually holds.
Globally, it is always the case that if c2 > 14 holds, then q4 = 19 previously held.
Between b0 >= 9 and q4 = 16, it is always the case that f11 < 20 holds.
After d7 = 6, it is always the case that u9 > 10 holds.
After i7 > 27, it is always the case that if l5 < 5 holds, then p0 >= 12 eventually holds and is succeeded by u6 >= 29 .
After j7 >= 5, it is always the case that if d6 = 13 holds and is succeeded by i8 < 6, then w11 >= 23 eventually holds after i8 < 6 .
After f4 = 9, it is always the case that n5 = 8 holds.
After s4 < 31 until z3 > 13, it is always the case that if j2 >= 18 holds and is succeeded by e9 >= 29, then v11 = 9 previously held.
Globally, it is always the case that w2 <= 24 holds.
Before d0 < 22, it is always the case that if v3 <= 16 holds, then l10 < 13 eventually holds.
Before p7 <= 22, it is always the case that if p6 < 31 holds, then m7 >= 5 previously held.
Before k11 >= 15, it is always the case that if f8 = 5 holds, then p4 > 5 eventually holds and is succeeded by m10 >= 22 .
Between l5 < 9 and q8 <= 25, u8 = 18 eventually holds.
Globally, it is always the case that if i4 = 0 holds and is succeeded by p0 <= 24, then k9 < 19 eventually holds after p0 <= 24 .
After b4 < 7, it is always the case that if t10 > 22 holds and is succeeded by v10 = 8, then d6 = 2 eventually holds after v10 = 8 .
Between h2 >= 28 and u6 >= 31, it is always the case that q5 = 1 holds.
Before s0 > 28, it is always the case that if t5 < 11 holds, then e1 >= 24 eventually holds and is succeeded by s10 < 0 .
Globally, it is always the case that if v10 <= 5 holds and is succeeded by v5 = 31, then v6 = 14 previously held.
After v2 <= 31 until z7 >= 26, it is always the case that if l11 <= 15 holds, then n5 >= 13 eventually holds and is succeeded by z2 <= 24, where p10 = 28 does not hold between n5 >= 13 and z2 <= 24 .
Between g4 = 10 and e5 > 8, it is always the case that if d7 = 6 holds, then t9 <= 2 eventually holds and is succeeded by h2 < 19, where q8 > 4 does not hold between t9 <= 2 and h2 < 19 .
After w9 > 29 until q9 < 1, it is always the case that if r2 >= 0 holds, then t10 >= 11 eventually holds and is succeeded by b0 > 18 .
After c1 = 7 until u6 <= 29, it is always the case that if o4 > 5 holds, then c3 = 16 eventually holds and is succeeded by e5 < 31, where g2 >= 7 does not hold between c3 = 16 and e5 < 31 .
Globally, it is never the case that n11 > 24 holds.
Globally, it is always the case that if f8 = 22 holds, then x11 >= 13 previously held.
After p3 < 2, c0 <= 20 eventually holds.
Before n1 <= 17, it is always the case that o9 = 19 holds.
Globally, it is always the case that if k8 >= 16 holds, then z0 >= 23 previously held.
Between x8 < 30 and x7 > 22, it is always the case that if a2 = 25 holds, then q10 > 31 eventually holds and is succeeded by p10 >= 24 .
Between q9 < 8 and r4 >= 5, it is always the case that if b12 < 10 holds and is succeeded by d10 >= 19, then t11 = 20 eventually holds after d10 >= 19 .
After g12 <= 5 until z7 > 27, it is always the case that if z2 = 19 holds, then u3 = 0 previously held.
Between f5 >= 14 and h9 = 23, it is always the case that if f3 = 24 holds, then y9 > 27 eventually holds and is succeeded by i2 < 18, where x10 = 30 does not hold between y9 > 27 and i2 < 18 .
After d12 <= 18 until d6 < 0, it is always the case that if d8 = 13 holds, then n0 < 24 previously held and was preceded by e2 <= 31 .
Between o7 <= 25 and r6 <= 25, it is always the case that if x5 = 26 holds, then s11 < 0 eventually holds.
Globally, it is always the case that if h3 > 13 holds, then h9 < 22 eventually holds and is succeeded by k8 > 31, where c7 > 25 does not hold between h9 < 22 and k8 > 31 .
After r5 > 5, it is always the case that if q3 >= 29 holds, then o1 = 2 eventually holds and is succeeded by t9 < 9, where v2 < 24 does not hold between o1 = 2 and t9 < 9 .
Between p9 < 10 and v0 > 28, it is always the case that i9 = 23 holds.
After d6 = 29, it is always the case that if o7 > 19 holds, then l7 <= 16 previously held and was preceded by j0 >= 23 .
After s11 <= 14 until c11 < 21, it is always the case that l3 >= 7 holds.
Before j6 >= 14, it is never the case that g4 = 20 holds.
After g11 > 13 until e12 = 30, it is always the case that if p8 <= 11 holds, then j11 > 24 previously held.
Globally, it is never the case that w2 <= 13 holds.
Before f11 > 3, it is always the case that if a7 < 10 holds, then o2 < 22 previously held and was preceded by f9 <= 23 .
After o6 <= 16 until t3 <= 29, it is always the case that if c12 < 3 holds, then o1 < 22 eventually holds and is succeeded by g2 = 16, where k0 > 25 does not hold between o1 < 22 and g2 = 16 .
Between m7 = 5 and l11 < 30, it is always the case that if c1 < 27 holds and is succeeded by h4 = 1, then r10 >= 1 eventually holds after h4 = 1 .
After v1 < 2, it is always the case that if o3 <= 12 holds, then g2 = 1 eventually holds.
Globally, it is always the case that if b4 >= 15 holds, then j11 >= 26 eventually holds and is succeeded by t11 = 28, where n11 <= 30 does not hold between j11 >= 26 and t11 = 28 .
After x9 <= 9, v4 <= 23 eventually holds.
Before p6 <= 13, it is always the case that if y8 <= 5 holds, then z5 > 16 previously held.
Between r3 >= 15 and u9 >= 0, it is never the case that h3 <= 26 holds.
Before c7 > 13, it is always the case that r6 <= 25 holds.
After e12 = 20 until r0 = 25, it is always the case that r1 = 15 holds.
Between q3 <= 1 and b1 > 19, it is always the case that if b10 = 21 holds, then r10 = 29 eventually holds and is succeeded by l6 = 18 .
Before g11 >= 25, it is always the case that g3 >= 23 holds.
After g12 < 11, it is always the case that if r10 <= 4 holds, then v1 >= 13 previously held.
Between w3 < 19 and p0 <= 7, it is always the case that if w1 >= 15 holds, then n10 > 4 eventually holds and is succeeded by v2 < 27 .
Before c2 <= 27, it is always the case that if g12 < 7 holds and is succeeded by k2 <= 24, then q4 <= 0 eventually holds after k2 <= 24 .
After t11 < 8 until i9 <= 26, it is always the case that if w2 > 26 holds, then e6 > 31 eventually holds and is succeeded by a0 <= 28, where y0 <= 13 does not hold between e6 > 31 and a0 <= 28 .
Before r9 < 4, it is always the case that if f9 > 21 holds, then v5 > 21 previously held and was preceded by r9 < 9 .
After a11 <= 12 until v7 = 23, it is always the case that if b6 <= 30 holds, then e10 < 15 eventually holds and is succeeded by v7 = 14 .
After z9 <= 17, it is always the case that if n3 >= 17 holds, then r7 <= 14 eventually holds and is succeeded by u6 = 23 .
After o9 = 3, it is always the case that if h2 > 3 holds, then j0 <= 23 eventually holds and is succeeded by y0 > 16 .
Globally, it is always the case that if w6 <= 21 holds and is succeeded by p7 <= 14, then w9 > 26 previously held.
Before j0 = 15, it is always the case that if q2 < 3 holds and is succeeded by u1 < 25, then s11 = 22 previously held.
Before u11 > 11, it is always the case that if i8 = 17 holds, then a12 <= 14 eventually holds and is succeeded by e8 <= 20, where u0 > 4 does not hold between a12 <= 14 and e8 <= 20 .
Globally, it is always the case that if u11 < 3 holds and is succeeded by s10 = 28, then b9 > 14 eventually holds after s10 = 28 .
Before m7 >= 6, it is always the case that if z8 > 7 holds, then k7 > 11 eventually holds.
After x10 < 28, it is always the case that if m9 > 0 holds and is succeeded by a9 = 5, then b10 <= 21 previously held.
After d4 <= 19, it is always the case that k7 <= 22 holds.
After e9 >= 1 until y0 > 6, it is always the case that if q5 < 16 holds, then p4 >= 30 eventually holds and is succeeded by u9 < 14, where b12 > 31 does not hold between p4 >= 30 and u9 < 14 .
Before m1 > 13, o3 >= 24 eventually holds.
Before j7 = 25, it is always the case that if c2 > 8 holds, then d10 <= 7 previously held and was preceded by v7 = 12 .
Between m7 >= 14 and w3 < 9, k7 = 1 eventually holds.
Globally, it is always the case that if p3 < 3 holds, then w2 <= 9 previously held.
After y11 < 30 until p3 < 7, it is always the case that if m9 < 8 holds, then h2 = 20 eventually holds and is succeeded by u6 < 17, where f5 < 1 does not hold between h2 = 20 and u6 < 17 .
Globally, it is never the case that f0 < 1 holds.
Before y9 < 10, it is never the case that r8 > 7 holds.
After q9 < 16, it is always the case that x10 < 17 holds.
Globally, it is always the case that if v3 < 26 holds, then e6 <= 18 eventually holds.
Globally, it is always the case that if f8 < 24 holds, then u4 < 7 previously held and was preceded by u11 = 30 .
After a2 = 1, it is never the case that i6 > 22 holds.
Globally, it is always the case that if k0 >= 28 holds and is succeeded by m6 >= 22, then i8 > 27 eventually holds after m6 >= 22 .
Globally, it is always the case that if h1 = 28 holds, then w5 >= 10 eventually holds.
After w7 < 29, it is always the case that if s4 >= 26 holds, then h4 = 2 previously held and was preceded by o8 <= 24 .
Before t7 >= 16, it is never the case that s2 < 21 holds.
After j5 = 30 until h7 <= 2, it is always the case that if w8 < 12 holds and is succeeded by w1 = 16, then a1 < 4 eventually holds after w1 = 16 .
After a10 >= 12 until e3 < 6, it is always the case that if r0 = 17 holds and is succeeded by n1 >= 10, then r2 > 10 eventually holds after n1 >= 10 .
Between w0 < 29 and j5 < 18, it is always the case that if b0 > 29 holds, then x0 = 8 eventually holds and is succeeded by x6 < 2, where z0 = 7 does not hold between x0 = 8 and x6 < 2 .
Between p11 <= 15 and l5 > 11, it is always the case that if e1 > 3 holds, then x6 < 27 eventually holds and is succeeded by m5 <= 12 .
After z5 < 14 until o3 = 23, it is always the case that if z10 >= 9 holds and is succeeded by t2 < 31, then c6 = 5 eventually holds after t2 < 31 .
Before h10 > 12, it is always the case that if o6 <= 19 holds, then u5 <= 26 eventually holds.
Between c11 >= 7 and e4 > 13, it is always the case that if a0 = 7 holds, then t8 >= 5 eventually holds and is succeeded by w4 = 29, where s2 < 4 does not hold between t8 >= 5 and w4 = 29 .
Before y10 > 23, it is always the case that if w7 >= 7 holds, then f9 > 14 previously held and was preceded by v5 > 28 .
Before o5 <= 4, it is never the case that g3 >= 3 holds.
After u5 > 30, it is always the case that if e3 > 16 holds, then d5 <= 26 eventually holds and is succeeded by c8 = 3 .
After t7 <= 4 until m4 < 23, it is always the case that if a3 <= 11 holds, then l10 > 29 eventually holds and is succeeded by b0 < 28 .
Before f10 >= 28, it is always the case that if w4 = 7 holds and is succeeded by u5 >= 29, then t5 <= 23 previously held.
After a8 <= 1 until l0 = 23, it is always the case that if x7 >= 26 holds, then a0 >= 30 previously held.
After t7 < 8, it is always the case that z9 < 1 holds.
Between p3 >= 20 and e2 > 3, it is always the case that if j5 <= 3 holds, then y11 = 9 previously held.
Between s0 > 10 and b4 > 25, it is always the case that if n6 < 1 holds and is succeeded by j7 > 13, then c4 = 2 eventually holds after j7 > 13 .
After w5 = 10 until g8 = 14, c4 > 26 eventually holds.
After j11 < 22, it is always the case that if c6 = 27 holds and is succeeded by j4 > 14, then k3 > 13 eventually holds after j4 > 14 .
Globally, it is always the case that if i10 <= 1 holds, then i2 = 25 eventually holds.
After v0 < 8, it is always the case that z4 = 13 holds.
Between d7 = 12 and h6 < 29, it is always the case that if y7 > 18 holds, then g1 <= 15 eventually holds.
Globally, it is never the case that p1 < 1 holds.
After e1 <= 9 until a6 >= 14, it is always the case that if c8 > 15 holds, then n0 <= 17 previously held.
After l7 >= 27 until w0 >= 25, it is always the case that l11 > 30 holds.
Globally, it is always the case that if d1 < 29 holds, then g6 >= 0 previously held and was preceded by i5 >= 17 .
Globally, it is always the case that if d2 = 9 holds, then l3 = 26 previously held and was preceded by e3 = 30 .
After w5 = 20, it is always the case that if k11 < 18 holds, then y2 = 26 eventually holds and is succeeded by d8 > 20, where a8 > 14 does not hold between y2 = 26 and d8 > 20 .
Globally, it is always the case that if s4 <= 22 holds, then o7 > 8 previously held and was preceded by a10 <= 30 .
Before l4 < 21, it is always the case that if c10 < 6 holds, then s9 <= 13 eventually holds.
Between s1 <= 30 and h6 > 29, it is always the case that if r2 < 12 holds, then t4 = 1 eventually holds and is succeeded by m0 < 16, where v6 < 3 does not hold between t4 = 1 and m0 < 16 .
After d7 < 6, it is always the case that if s3 >= 26 holds and is succeeded by y5 <= 30, then f5 < 4 eventually holds after y5 <= 30 .
Before q4 >= 12, it is always the case that if g4 <= 25 holds, then o11 <= 22 eventually holds.
After p2 <= 10 until h6 >= 9, it is always the case that if h6 <= 11 holds and is succeeded by v0 > 12, then h8 < 2 previously held.
After w11 > 4, it is always the case that b11 < 24 holds.
Globally, it is always the case that if t8 > 28 holds, then r11 > 23 eventually holds and is succeeded by c0 >= 29 .
Between u7 > 0 and q4 < 4, it is always the case that if o2 <= 28 holds and is succeeded by c3 <= 23, then m4 > 24 eventually holds after c3 <= 23 .
Before x0 >= 4, it is always the case that if o0 > 15 holds, then n1 > 26 previously held.
Before k1 = 29, it is always the case that if z3 > 23 holds, then t6 >= 18 previously held.
Globally, it is always the case that if g1 <= 13 holds and is succeeded by a4 >= 3, then l5 <= 9 eventually holds after a4 >= 3 .
Globally, it is always the case that i2 < 9 holds.
Globally, it is always the case that if g2 > 9 holds and is succeeded by c11 = 16, then x4 <= 27 previously held.
Before n1 <= 15, it is always the case that o4 > 0 holds.
Between d3 > 5 and o11 > 27, it is always the case that if x6 >= 5 holds and is succeeded by q4 = 4, then w7 > 23 eventually holds after q4 = 4 .
After a6 >= 4 until q8 = 21, it is always the case that if q6 = 9 holds, then a2 > 16 eventually holds.
Globally, e0 <= 5 eventually holds.
Before s0 > 6, it is always the case that if l10 >= 29 holds, then t4 > 13 eventually holds.
After e3 <= 24 until z9 >= 20, it is always the case that if e11 >= 25 holds and is succeeded by e10 <= 13, then b6 = 24 eventually holds after e10 <= 13 .
Between f7 > 29 and g10 = 31, it is always the case that if t5 = 4 holds, then t1 > 25 previously held and was preceded by a2 <= 3 .
Before h3 <= 19, it is always the case that if r11 <= 19 holds, then a8 <= 15 eventually holds and is succeeded by n7 = 8 .
Globally, it is always the case that if m0 >= 26 holds, then g5 > 18 previously held.
After k3 = 6 until v6 = 2, it is always the case that if r11 = 14 holds and is succeeded by v10 >= 31, then e8 = 19 previously held.
After u10 > 15, it is always the case that if s2 >= 25 holds, then d3 >= 23 eventually holds and is succeeded by f6 <= 7, where e8 < 0 does not hold between d3 >= 23 and f6 <= 7 .
Between c6 > 4 and f3 > 7, it is always the case that if l3 = 5 holds, then k11 < 29 previously held and was preceded by j11 = 11 .
After s7 = 0, it is always the case that if m11 >= 8 holds, then n11 > 14 eventually holds and is succeeded by x2 <= 2 .
Between f12 = 26 and l6 >= 19, it is always the case that if s1 = 22 holds, then z4 = 4 previously held and was preceded by p10 < 21 .
Before x9 <= 23, it is always the case that if y8 > 20 holds, then l10 <= 17 eventually holds and is succeeded by y7 < 6, where x7 <= 27 does not hold between l10 <= 17 and y7 < 6 .
Globally, g5 <= 0 eventually holds.
Between o9 <= 5 and r8 < 29, it is always the case that if x5 <= 4 holds, then m6 = 19 previously held.
Between b8 > 24 and i11 < 13, it is always the case that if u4 < 28 holds and is succeeded by w11 = 6, then s4 >= 26 eventually holds after w11 = 6 .
After q6 > 4 until v4 <= 1, it is always the case that if v7 <= 17 holds and is succeeded by o7 = 30, then o4 >= 8 eventually holds after o7 = 30 .
Between e8 = 25 and p6 = 17, it is always the case that if v3 = 1 holds, then l4 > 17 eventually holds and is succeeded by l1 = 22 .
After v11 <= 18, it is always the case that if y11 < 23 holds, then b7 <= 14 previously held and was preceded by m4 <= 6 .
After l0 > 16, m0 < 24 eventually holds.
Before f2 = 8, it is always the case that if z6 > 11 holds and is succeeded by z0 = 31, then m11 <= 14 previously held.
Globally, it is always the case that if a11 = 22 holds, then q7 < 27 previously held.
After g8 = 16, it is always the case that if m1 >= 28 holds and is succeeded by j9 = 1, then u6 < 8 previously held.
Between x8 < 17 and y2 > 13, it is always the case that if y3 < 5 holds, then p1 > 0 eventually holds.
After h8 > 6, it is always the case that if m11 > 22 holds, then b4 <= 22 eventually holds and is succeeded by d12 >= 5 .
Before k2 >= 6, it is always the case that if n0 >= 17 holds, then j11 >= 12 eventually holds.
After a9 = 16 until f9 <= 17, it is always the case that if w5 <= 31 holds, then j11 = 28 eventually holds and is succeeded by x10 > 1, where b7 >= 2 does not hold between j11 = 28 and x10 > 1 .
After c12 >= 12, it is always the case that if u9 = 22 holds and is succeeded by h4 = 23, then k8 < 26 previously held.
Before x5 > 25, it is always the case that if b0 < 5 holds, then u10 > 27 previously held and was preceded by r8 > 17 .
Globally, it is always the case that if k4 > 0 holds and is succeeded by r7 = 18, then n8 > 24 previously held.
Globally, it is always the case that f6 < 0 holds.
Before h4 > 29, it is always the case that if q2 <= 0 holds, then y6 >= 15 previously held.
Between z3 >= 21 and q6 >= 9, it is always the case that if e9 < 14 holds, then s7 <= 19 eventually holds.
Globally, it is never the case that g12 <= 15 holds.
After n2 <= 13 until c6 >= 5, it is always the case that if i7 < 24 holds and is succeeded by w1 < 23, then z2 = 5 eventually holds after w1 < 23 .
Before d9 >= 28, it is always the case that if b2 > 5 holds, then x9 < 7 previously held.
After e12 >= 16, it is always the case that if i10 < 9 holds and is succeeded by n0 <= 14, then a4 = 10 previously held.
Between v2 >= 19 and n5 <= 17, it is always the case that if r10 > 11 holds, then q5 >= 12 eventually holds and is succeeded by a7 >= 29 .
Before x10 <= 27, it is always the case that if g2 > 22 holds, then i10 > 8 previously held.
Between s9 > 14 and e7 >= 9, it is never the case that p4 >= 20 holds.
Between u6 >= 25 and r8 <= 24, it is always the case that if t7 <= 17 holds, then g4 >= 22 previously held and was preceded by g9 < 3 .
Globally, it is always the case that m5 < 28 holds.
Globally, it is always the case that if g7 > 29 holds and is succeeded by v3 > 6, then o4 > 0 previously held.
Globally, it is always the case that if u2 = 20 holds and is succeeded by h11 = 2, then a2 > 9 previously held.
After p6 < 15, it is always the case that if w5 <= 23 holds, then z2 < 28 eventually holds and is succeeded by s2 >= 24 .
Between y6 > 27 and s4 < 30, it is always the case that if e0 = 15 holds, then g5 > 13 previously held and was preceded by r5 > 0 .
After a3 >= 14 until p11 <= 1, it is always the case that if m8 <= 16 holds and is succeeded by m11 < 28, then l11 < 14 previously held.
After o7 < 6 until p5 > 19, it is always the case that if f11 > 21 holds and is succeeded by s0 < 10, then u4 >= 12 eventually holds after s0 < 10 .
After b12 = 21, it is always the case that if q3 >= 8 holds, then l6 = 24 previously held.
After j8 < 26, e2 > 25 eventually holds.
After x8 <= 26, it is always the case that if r0 <= 2 holds, then o10 < 16 previously held and was preceded by b11 > 15 .
Before n5 = 28, it is always the case that if m0 < 25 holds and is succeeded by u9 <= 15, then j0 >= 24 eventually holds after u9 <= 15 .
After k11 = 8 until m8 >= 6, it is always the case that if f7 > 30 holds and is succeeded by j10 = 2, then e12 < 10 previously held.
Before e5 = 24, it is always the case that if x7 = 8 holds and is succeeded by h5 > 28, then j7 > 24 previously held.
After w6 >= 8, it is always the case that if f6 <= 10 holds, then g7 = 28 previously held.
After k8 >= 19 until m9 >= 21, it is always the case that if a0 < 15 holds, then o2 <= 11 previously held.
Globally, it is never the case that v6 < 18 holds.
Before u4 > 6, it is always the case that if o2 >= 23 holds, then x4 >= 2 eventually holds and is succeeded by i0 = 2, where q1 < 9 does not hold between x4 >= 2 and i0 = 2 .
Between x7 = 22 and h4 <= 4, it is always the case that if a11 < 29 holds and is succeeded by p6 > 6, then u6 = 17 eventually holds after p6 > 6 .
After s10 < 19, it is always the case that g12 = 23 holds.
Before f12 <= 7, it is always the case that if v8 <= 11 holds, then d7 < 28 previously held.
Between v5 = 3 and o6 = 11, it is always the case that if m1 < 30 holds, then d6 < 13 eventually holds and is succeeded by y6 > 11, where d2 < 6 does not hold between d6 < 13 and y6 > 11 .
After a2 = 9 until n7 < 4, it is always the case that if g0 = 9 holds, then l5 > 26 eventually holds and is succeeded by q7 <= 23, where t10 > 22 does not hold between l5 > 26 and q7 <= 23 .
After s6 < 10 until f11 >= 28, it is always the case that if v10 >= 6 holds, then l0 = 24 previously held.
Before p10 < 10, it is always the case that if e6 >= 23 holds, then t3 <= 22 eventually holds and is succeeded by b8 > 10 .
Before w3 = 18, it is always the case that if u4 <= 0 holds, then v7 > 11 eventually holds and is succeeded by r10 > 21 .
After m2 <= 23, it is always the case that if n4 > 3 holds and is succeeded by g12 <= 18, then u4 <= 20 previously held.
Between s5 = 0 and i3 = 10, m9 = 26 eventually holds.
After k4 <= 19 until o8 >= 15, it is always the case that if y10 < 17 holds, then r0 >= 14 previously held and was preceded by w10 = 12 .
Globally, it is always the case that if l5 <= 2 holds, then h8 < 21 eventually holds.
Globally, it is always the case that if n7 < 28 holds, then m2 > 13 eventually holds and is succeeded by x10 > 9 .
Between y2 < 14 and t0 >= 22, it is always the case that u7 >= 16 holds.
Globally, k5 >= 15 eventually holds.
Between p7 = 21 and t3 >= 0, it is always the case that if i0 >= 12 holds, then s1 <= 11 previously held.
After s11 <= 28, i4 > 27 eventually holds.
Globally, it is always the case that if p8 <= 14 holds, then x8 <= 21 eventually holds and is succeeded by x1 < 24, where w3 < 9 does not hold between x8 <= 21 and x1 < 24 .
Globally, it is always the case that h2 <= 30 holds.
Between f9 > 3 and s0 >= 26, it is always the case that if k9 >= 28 holds, then k1 >= 6 eventually holds and is succeeded by o11 < 16, where k6 < 19 does not hold between k1 >= 6 and o11 < 16 .
After g2 >= 8, it is always the case that if t4 < 25 holds, then f6 <= 24 previously held.
Between y5 >= 2 and b1 <= 5, it is always the case that if y3 < 20 holds and is succeeded by l9 < 29, then h1 = 3 eventually holds after l9 < 29 .
After t3 < 18 until n4 > 20, it is always the case that if o11 >= 17 holds, then g5 >= 6 previously held and was preceded by u1 = 18 .
Globally, it is always the case that if q11 < 30 holds, then n10 = 5 previously held and was preceded by i7 = 7 .
After l8 <= 12, it is always the case that if y11 > 1 holds and is succeeded by c5 < 25, then n11 < 11 eventually holds after c5 < 25 .
After j3 >= 3 until b11 < 1, it is always the case that if l6 > 20 holds and is succeeded by w3 > 21, then q9 = 24 eventually holds after w3 > 21 .
Before a8 <= 19, it is always the case that if m0 < 1 holds and is succeeded by a11 >= 29, then p10 > 9 eventually holds after a11 >= 29 .
After p4 >= 9 until o9 >= 3, it is always the case that if u4 <= 20 holds, then s6 = 23 eventually holds and is succeeded by p3 < 17, where f10 > 13 does not hold between s6 = 23 and p3 < 17 .
After b11 >= 19, it is always the case that r8 < 5 holds.
Before a4 = 27, y1 > 18 eventually holds.
Between s0 >= 4 and t9 <= 25, s10 < 28 eventually holds.
Globally, it is never the case that f8 > 10 holds.
After y6 <= 10 until q4 = 20, it is always the case that if z5 <= 5 holds and is succeeded by t11 < 7, then p3 < 26 previously held.
Before n8 <= 26, it is always the case that if v5 <= 5 holds, then g10 < 17 eventually holds and is succeeded by f3 >= 28, where o9 <= 23 does not hold between g10 < 17 and f3 >= 28 .
After d4 < 20, it is always the case that if g10 > 8 holds, then d0 > 6 previously held.
