Globally, it is never the case that d0 >= 30 holds.
Between o0 <= 7 and f0 < 3, j0 < 12 eventually holds.
Globally, it is always the case that if d0 < 5 holds, then a0 > 9 eventually holds and is succeeded by l0 >= 1 .
Before k0 <= 29, it is always the case that if s0 <= 4 holds, then e0 >= 13 previously held and was preceded by p0 <= 23 .
Globally, it is always the case that if k0 < 11 holds and is succeeded by d0 <= 26, then k0 > 11 eventually holds after d0 <= 26 .
Between n0 <= 9 and r0 >= 3, m0 > 5 eventually holds.
After l0 <= 9 until j0 <= 23, it is always the case that if e0 = 13 holds, then l0 > 20 eventually holds and is succeeded by q0 >= 21 .
After i0 > 8 until q0 <= 10, it is always the case that if d0 = 19 holds, then b0 = 27 eventually holds and is succeeded by q0 > 11 .
Between n0 <= 22 and f0 <= 26, it is always the case that if i0 <= 10 holds and is succeeded by e0 >= 24, then c0 = 0 previously held.
Before o0 <= 13, it is always the case that if b0 = 29 holds and is succeeded by a0 <= 4, then g0 >= 21 eventually holds after a0 <= 4 .
Globally, it is never the case that l0 = 3 holds.
Between p0 = 1 and i0 > 11, it is always the case that if f0 > 18 holds and is succeeded by i0 > 2, then s0 >= 21 eventually holds after i0 > 2 .
Globally, n0 > 1 eventually holds.
After s0 >= 23, it is always the case that if e0 <= 23 holds, then f0 <= 10 eventually holds and is succeeded by m0 < 15, where b0 > 22 does not hold between f0 <= 10 and m0 < 15 .
Before d0 > 13, o0 < 19 eventually holds.
After l0 <= 24 until m0 = 23, it is never the case that m0 < 6 holds.
Globally, it is always the case that if c0 < 29 holds and is succeeded by c0 < 13, then g0 = 1 previously held.
After o0 > 28, it is always the case that if d0 < 19 holds, then k0 <= 31 eventually holds and is succeeded by s0 <= 21 .
Between o0 > 5 and d0 < 0, it is always the case that if l0 < 15 holds and is succeeded by d0 <= 4, then i0 > 27 eventually holds after d0 <= 4 .
Globally, it is always the case that if o0 < 23 holds, then h0 >= 9 eventually holds and is succeeded by h0 > 16, where r0 < 9 does not hold between h0 >= 9 and h0 > 16 .
Globally, it is always the case that if o0 = 14 holds, then j0 >= 17 eventually holds and is succeeded by p0 <= 23, where h0 > 22 does not hold between j0 >= 17 and p0 <= 23 .
After c0 > 18, it is always the case that if q0 >= 15 holds, then g0 = 14 eventually holds and is succeeded by b0 < 0, where e0 >= 9 does not hold between g0 = 14 and b0 < 0 .
Before o0 >= 16, it is always the case that if b0 <= 11 holds, then l0 >= 11 eventually holds and is succeeded by f0 < 27 .
After m0 < 8 until i0 >= 22, g0 < 22 eventually holds.
After s0 >= 17 until q0 >= 18, it is always the case that if d0 = 2 holds, then i0 < 11 eventually holds and is succeeded by e0 > 24, where j0 >= 13 does not hold between i0 < 11 and e0 > 24 .
After l0 < 9 until d0 <= 13, it is always the case that if j0 <= 7 holds and is succeeded by a0 = 4, then f0 = 28 previously held.
Before g0 < 29, it is always the case that if a0 > 14 holds, then e0 >= 3 eventually holds.
After j0 = 1 until f0 < 30, it is always the case that if m0 = 21 holds and is succeeded by q0 = 19, then s0 <= 7 eventually holds after q0 = 19 .
Between f0 <= 17 and s0 <= 16, it is always the case that e0 > 24 holds.
Before i0 >= 11, it is always the case that if f0 = 3 holds, then n0 <= 15 eventually holds and is succeeded by c0 <= 13, where b0 = 10 does not hold between n0 <= 15 and c0 <= 13 .
Between i0 = 2 and l0 > 10, it is never the case that e0 <= 4 holds.
After s0 <= 3, it is always the case that if l0 < 13 holds, then n0 > 22 previously held.
Globally, it is always the case that e0 = 3 holds.
Before l0 >= 2, it is always the case that if a0 > 26 holds, then a0 <= 27 eventually holds.
Globally, it is always the case that k0 <= 17 holds.
After e0 = 17, it is never the case that l0 = 19 holds.
After k0 <= 27 until q0 = 28, it is always the case that if l0 < 13 holds and is succeeded by o0 < 14, then l0 > 1 eventually holds after o0 < 14 .
Globally, it is always the case that if g0 >= 26 holds, then r0 = 25 eventually holds and is succeeded by o0 > 14, where g0 >= 20 does not hold between r0 = 25 and o0 > 14 .
After a0 = 14, it is always the case that if s0 = 12 holds, then k0 <= 5 previously held and was preceded by a0 > 4 .
After h0 = 21, it is never the case that k0 >= 17 holds.
After i0 = 6, it is never the case that e0 > 31 holds.
Before f0 <= 20, it is never the case that l0 = 28 holds.
Between f0 <= 6 and j0 < 7, it is always the case that b0 < 3 holds.
Globally, it is never the case that c0 <= 26 holds.
After k0 >= 15, it is always the case that if a0 > 14 holds, then q0 > 29 eventually holds and is succeeded by h0 = 13, where e0 <= 29 does not hold between q0 > 29 and h0 = 13 .
Before f0 = 23, it is always the case that if f0 < 14 holds, then o0 = 7 previously held and was preceded by j0 < 10 .
Before i0 <= 6, it is always the case that if s0 > 6 holds, then e0 = 5 eventually holds.
Before k0 = 29, it is always the case that if q0 >= 31 holds, then b0 < 18 previously held and was preceded by m0 > 5 .
After n0 < 0 until f0 < 31, it is always the case that if p0 <= 27 holds, then d0 < 17 eventually holds.
Globally, it is always the case that if c0 < 27 holds, then l0 = 28 eventually holds.
Before r0 >= 9, it is always the case that q0 <= 24 holds.
Between m0 > 23 and p0 <= 9, it is always the case that if l0 < 1 holds, then s0 > 7 eventually holds and is succeeded by l0 > 5, where k0 >= 27 does not hold between s0 > 7 and l0 > 5 .
Before e0 > 29, it is always the case that l0 > 14 holds.
Before n0 = 10, n0 = 4 eventually holds.
Before n0 <= 5, it is always the case that if b0 > 23 holds, then n0 < 19 eventually holds.
After p0 > 15, it is always the case that if s0 >= 0 holds, then k0 = 14 previously held and was preceded by n0 < 6 .
Between a0 <= 0 and n0 = 11, it is always the case that if c0 = 11 holds, then l0 = 31 previously held.
Before h0 < 19, it is never the case that s0 < 25 holds.
Before b0 = 25, it is always the case that if e0 = 16 holds, then c0 = 22 eventually holds.
Before k0 = 31, it is always the case that if s0 <= 2 holds, then p0 > 7 eventually holds.
