Before k2 <= 1, it is always the case that if n1 > 2 holds and is succeeded by u1 <= 0, then x2 < 0 eventually holds after u1 <= 0 .
Before b2 >= 3, it is always the case that if w2 = 3 holds and is succeeded by u0 <= 2, then q2 <= 0 previously held.
Before b1 < 3, it is always the case that if t1 > 2 holds, then l2 = 1 eventually holds.
Globally, it is never the case that v1 >= 0 holds.
Globally, it is always the case that if m0 < 1 holds, then l2 > 3 previously held.
After o2 >= 1 until p1 = 3, q1 >= 0 eventually holds.
Globally, it is always the case that if l0 = 3 holds, then c1 < 2 eventually holds and is succeeded by a0 = 2 .
Before r1 > 0, it is always the case that if h1 = 2 holds, then o0 = 3 eventually holds.
Between o1 > 1 and n2 = 3, it is always the case that if t0 >= 3 holds, then l0 > 1 eventually holds and is succeeded by a1 = 3, where y2 > 1 does not hold between l0 > 1 and a1 = 3 .
Globally, it is always the case that if c2 = 0 holds, then h2 < 2 previously held.
Before a1 > 2, it is never the case that q0 < 1 holds.
Between j2 <= 3 and l0 >= 3, it is never the case that v0 > 3 holds.
After t1 >= 3, it is always the case that if z2 > 2 holds, then x2 = 0 eventually holds and is succeeded by h0 = 1, where b1 <= 1 does not hold between x2 = 0 and h0 = 1 .
Between p1 > 2 and z0 > 0, it is always the case that if u1 >= 3 holds, then p0 <= 1 previously held.
Globally, it is always the case that a0 > 0 holds.
Before k2 = 0, l2 >= 0 eventually holds.
Between m0 >= 3 and v0 >= 3, it is always the case that if d0 = 1 holds, then n0 > 2 eventually holds.
After a0 = 1, it is always the case that if q1 < 1 holds and is succeeded by r1 >= 0, then g2 <= 3 eventually holds after r1 >= 0 .
After a3 = 0 until f2 > 2, it is always the case that if x0 > 3 holds and is succeeded by x2 <= 3, then m2 >= 2 eventually holds after x2 <= 3 .
Between w1 = 2 and t0 >= 3, it is always the case that if u2 < 0 holds, then x2 <= 2 previously held.
Between y1 < 3 and m2 <= 0, it is always the case that if c1 < 1 holds and is succeeded by z1 <= 2, then c1 > 3 previously held.
After h1 = 3, it is always the case that if s0 < 2 holds, then s0 > 1 previously held.
Before a1 = 3, it is always the case that if v2 <= 1 holds and is succeeded by z1 < 0, then t0 = 0 eventually holds after z1 < 0 .
Between f2 > 2 and b2 = 2, it is always the case that if j1 >= 3 holds, then f1 <= 3 eventually holds and is succeeded by z0 >= 1, where u2 = 1 does not hold between f1 <= 3 and z0 >= 1 .
Before e0 <= 2, it is always the case that if o1 <= 2 holds, then b2 > 1 eventually holds and is succeeded by u2 >= 2, where r0 < 2 does not hold between b2 > 1 and u2 >= 2 .
Globally, it is always the case that if e0 <= 3 holds and is succeeded by d2 >= 3, then i1 <= 3 eventually holds after d2 >= 3 .
Between v2 <= 0 and z1 <= 2, it is always the case that if n1 >= 0 holds and is succeeded by u1 <= 3, then l2 > 2 previously held.
Before m0 <= 3, it is always the case that if x2 <= 3 holds and is succeeded by t1 <= 0, then o1 < 3 previously held.
Globally, it is always the case that if g2 <= 1 holds, then z2 <= 2 eventually holds.
After u2 > 1, it is always the case that if k1 = 2 holds, then r1 >= 1 previously held.
After d2 >= 0, it is always the case that if v1 <= 3 holds, then u1 > 2 previously held.
After d0 > 0 until w0 >= 2, it is always the case that if t2 = 2 holds, then a0 < 1 eventually holds and is succeeded by v1 >= 2, where l2 = 0 does not hold between a0 < 1 and v1 >= 2 .
After k1 <= 2, it is always the case that e1 >= 0 holds.
After r2 >= 1, it is never the case that y1 <= 0 holds.
Before t2 >= 0, l1 <= 1 eventually holds.
After h2 < 2, it is always the case that if b2 > 1 holds and is succeeded by b0 > 0, then i2 < 3 eventually holds after b0 > 0 .
After w1 < 0 until t2 = 2, it is always the case that if a3 = 1 holds, then k2 <= 3 previously held.
After x2 >= 0, it is always the case that if u1 >= 3 holds, then c0 >= 3 eventually holds.
After u0 > 0 until h1 < 1, it is always the case that n1 < 1 holds.
After p1 > 1, l1 <= 0 eventually holds.
Globally, it is always the case that if s0 < 1 holds, then v0 > 0 previously held and was preceded by z1 < 3 .
Before c0 > 1, it is always the case that if d1 >= 0 holds, then s1 > 2 previously held.
After p2 > 2, it is always the case that if q1 > 3 holds and is succeeded by o1 < 3, then c0 <= 0 previously held.
After a3 = 0, it is always the case that j2 < 3 holds.
After l0 > 0 until f0 = 1, it is always the case that if g1 = 1 holds and is succeeded by d0 >= 1, then m2 = 2 eventually holds after d0 >= 1 .
Before p1 >= 3, it is always the case that if m1 <= 3 holds, then c1 >= 0 previously held and was preceded by l2 < 2 .
Before g1 >= 3, it is always the case that if f1 = 1 holds, then u2 >= 3 previously held and was preceded by j1 >= 0 .
Before u1 >= 0, b1 > 0 eventually holds.
After y2 <= 3, it is always the case that if e1 < 0 holds, then k0 = 0 previously held and was preceded by q1 >= 1 .
After u1 < 3 until o1 <= 2, it is always the case that if h0 = 0 holds, then g1 = 3 eventually holds.
After a3 <= 1, it is always the case that if h0 <= 2 holds and is succeeded by b2 > 1, then a0 = 3 previously held.
After m1 = 3, it is always the case that if q1 >= 1 holds, then x2 <= 3 eventually holds and is succeeded by q0 = 1, where k0 > 2 does not hold between x2 <= 3 and q0 = 1 .
Globally, it is never the case that f1 <= 3 holds.
Before j2 <= 2, it is always the case that if l0 >= 3 holds, then z1 < 0 eventually holds.
Between z0 >= 1 and j0 = 1, it is always the case that if r0 > 1 holds, then h1 <= 1 eventually holds.
Before c0 >= 2, it is always the case that if x2 <= 0 holds, then t1 = 0 eventually holds.
Between r1 > 3 and t2 < 1, it is always the case that if k2 < 1 holds and is succeeded by u2 >= 1, then b2 > 2 eventually holds after u2 >= 1 .
After p1 < 0 until w0 > 1, it is always the case that if f2 = 1 holds, then r2 >= 3 eventually holds and is succeeded by j0 = 1 .
After j1 >= 1, it is always the case that if i0 > 2 holds, then u1 >= 0 previously held.
Between t2 < 0 and y1 <= 2, it is always the case that if d0 <= 3 holds, then a2 >= 3 previously held and was preceded by o2 < 3 .
After d1 = 3, it is always the case that a2 > 2 holds.
Globally, it is always the case that if d1 = 3 holds, then k2 = 1 previously held and was preceded by o1 > 2 .
After d2 >= 1, it is always the case that if z2 >= 3 holds, then c1 < 3 previously held.
Globally, it is always the case that if d0 <= 0 holds, then y1 = 1 previously held.
Before g2 = 3, it is always the case that if t0 > 1 holds and is succeeded by i1 = 2, then a3 > 3 previously held.
Between f1 <= 0 and a0 < 2, c1 = 1 eventually holds.
After r0 <= 0, it is always the case that if m2 < 0 holds, then a2 >= 0 previously held and was preceded by w1 = 3 .
After y0 > 1 until z0 <= 2, it is never the case that t0 > 1 holds.
After q2 = 0 until j1 > 1, it is never the case that r1 > 0 holds.
After a3 >= 2, it is always the case that if u0 > 3 holds, then q1 >= 2 previously held and was preceded by l2 < 2 .
Globally, it is always the case that if h2 >= 0 holds, then k0 <= 0 eventually holds and is succeeded by a2 >= 0 .
Between a1 = 1 and g1 <= 0, it is never the case that e1 <= 0 holds.
Globally, it is always the case that p2 = 0 holds.
After w0 < 3, it is always the case that if e1 <= 3 holds, then c2 <= 3 eventually holds and is succeeded by i0 < 0, where q1 = 0 does not hold between c2 <= 3 and i0 < 0 .
Between r2 <= 2 and o1 = 0, it is never the case that a3 >= 0 holds.
Before q2 > 0, it is always the case that if s2 > 1 holds and is succeeded by k2 = 0, then s0 = 3 eventually holds after k2 = 0 .
Globally, it is always the case that if w1 < 2 holds and is succeeded by a3 > 1, then f0 > 1 eventually holds after a3 > 1 .
Globally, it is always the case that g0 <= 3 holds.
Before v0 < 2, d1 = 1 eventually holds.
Globally, it is always the case that if v2 = 2 holds and is succeeded by k1 >= 0, then z2 > 2 eventually holds after k1 >= 0 .
Globally, it is always the case that if i2 > 3 holds, then b0 >= 2 eventually holds and is succeeded by f2 < 3 .
Between t2 < 1 and l0 <= 2, it is always the case that if s1 > 2 holds and is succeeded by w0 <= 2, then j2 <= 1 previously held.
Globally, it is always the case that if j1 > 2 holds and is succeeded by z2 < 2, then v0 = 3 eventually holds after z2 < 2 .
After v0 = 2, it is always the case that p2 < 3 holds.
Between d0 > 0 and z0 = 3, it is always the case that if c0 < 1 holds and is succeeded by u0 > 1, then m2 >= 0 eventually holds after u0 > 1 .
Between q2 > 0 and z2 <= 1, it is always the case that if h1 < 2 holds, then p1 < 1 previously held and was preceded by n2 <= 1 .
Between a1 = 3 and t2 >= 1, it is always the case that if w0 = 0 holds, then o1 = 3 previously held.
Between u1 < 1 and x1 <= 0, it is never the case that x2 = 3 holds.
Globally, it is always the case that if h0 > 3 holds and is succeeded by z0 >= 0, then f0 <= 0 previously held.
After s0 = 0, it is always the case that if i0 > 1 holds, then i2 > 1 previously held and was preceded by i1 < 1 .
Globally, it is always the case that if v1 < 3 holds and is succeeded by o2 > 2, then y0 >= 2 eventually holds after o2 > 2 .
After w0 <= 3, it is always the case that if u2 > 2 holds, then o1 > 3 previously held.
Between f0 = 2 and c1 < 3, it is always the case that if k1 >= 2 holds, then f0 > 3 previously held.
Between u1 >= 3 and l1 > 0, it is always the case that if b2 = 0 holds and is succeeded by l2 <= 2, then v1 < 3 eventually holds after l2 <= 2 .
After p2 < 1, it is always the case that if i1 < 2 holds and is succeeded by s0 < 0, then v0 = 1 eventually holds after s0 < 0 .
After i2 > 2, it is always the case that p1 > 1 holds.
Before i2 >= 3, it is always the case that if i0 > 0 holds and is succeeded by a0 = 1, then g0 = 0 eventually holds after a0 = 1 .
Globally, it is always the case that r0 = 3 holds.
After v1 >= 3, it is always the case that if v0 >= 1 holds, then m0 > 1 eventually holds.
Globally, it is never the case that a3 < 2 holds.
After m1 > 3 until j0 > 2, it is always the case that if z2 >= 3 holds, then f0 > 3 eventually holds and is succeeded by v0 >= 0 .
After r1 >= 2, it is always the case that g0 >= 0 holds.
After x1 = 1, it is always the case that if w2 = 3 holds, then y0 <= 3 eventually holds and is succeeded by r2 = 3, where w1 <= 0 does not hold between y0 <= 3 and r2 = 3 .
After y1 < 2 until m1 < 2, it is always the case that c1 >= 0 holds.
Before d2 < 0, it is always the case that if w1 > 3 holds, then x0 = 2 eventually holds and is succeeded by e2 = 3, where d1 >= 2 does not hold between x0 = 2 and e2 = 3 .
Before j1 = 0, it is always the case that if u1 <= 0 holds and is succeeded by v0 >= 1, then d2 <= 2 previously held.
After q0 > 1, it is always the case that if s1 < 3 holds, then v0 > 2 previously held and was preceded by w0 > 1 .
After e1 = 0, it is always the case that if r2 <= 2 holds, then e2 <= 2 eventually holds and is succeeded by k1 >= 1 .
Between v2 < 3 and w1 >= 2, it is always the case that if o0 < 2 holds, then q1 <= 0 previously held and was preceded by v1 < 0 .
Between n0 < 1 and n0 > 2, it is always the case that if n0 > 0 holds, then j0 <= 0 eventually holds.
Between p0 > 2 and b1 > 2, it is always the case that if o2 >= 1 holds, then m2 <= 3 previously held.
After v1 <= 3, it is always the case that if j0 > 2 holds, then l2 >= 0 eventually holds.
Before o1 <= 0, it is always the case that if n0 > 3 holds, then d2 > 1 eventually holds and is succeeded by j1 < 0, where b1 = 1 does not hold between d2 > 1 and j1 < 0 .
Before r0 < 2, it is always the case that if l2 > 2 holds and is succeeded by g2 <= 0, then s1 < 0 eventually holds after g2 <= 0 .
Between b0 > 2 and b0 <= 0, it is always the case that o1 < 1 holds.
Before i1 > 3, it is always the case that if j2 < 3 holds and is succeeded by f1 >= 2, then p0 = 3 eventually holds after f1 >= 2 .
Before y2 <= 3, it is always the case that if y1 < 2 holds and is succeeded by g0 = 0, then i1 = 0 eventually holds after g0 = 0 .
Globally, it is always the case that if n2 < 3 holds and is succeeded by w2 < 3, then t1 >= 1 previously held.
Globally, h0 = 0 eventually holds.
After s1 >= 1 until w1 < 0, it is always the case that if g2 <= 2 holds, then g2 < 3 eventually holds and is succeeded by y0 >= 0, where b2 < 2 does not hold between g2 < 3 and y0 >= 0 .
Between h2 >= 1 and b1 < 3, it is always the case that w0 = 3 holds.
After j0 >= 3 until t0 >= 2, it is always the case that if r0 = 1 holds, then l0 <= 2 previously held and was preceded by h1 = 3 .
Before e0 < 1, o0 >= 2 eventually holds.
Before i2 <= 0, it is never the case that z2 <= 0 holds.
After b2 >= 0, z1 > 0 eventually holds.
Globally, it is always the case that if a0 < 1 holds, then a2 >= 1 previously held.
Between e1 >= 3 and e2 > 1, it is always the case that if z0 < 3 holds and is succeeded by r2 = 2, then e1 < 2 previously held.
After u0 < 0 until d0 = 1, it is always the case that if i0 = 2 holds, then m0 <= 3 eventually holds and is succeeded by u2 >= 0, where g0 = 2 does not hold between m0 <= 3 and u2 >= 0 .
Globally, it is never the case that y0 < 3 holds.
After q2 = 3 until x1 = 1, it is always the case that if v2 = 3 holds and is succeeded by g1 <= 0, then n1 = 2 eventually holds after g1 <= 0 .
Before o1 = 3, it is always the case that if w1 > 0 holds, then c1 = 3 eventually holds.
After n1 > 1, it is always the case that if b2 <= 3 holds, then l0 <= 1 eventually holds and is succeeded by j2 <= 2, where j0 = 3 does not hold between l0 <= 1 and j2 <= 2 .
Between h2 < 1 and f2 < 2, it is always the case that if l1 > 2 holds and is succeeded by f2 < 1, then r2 >= 2 previously held.
After q0 <= 2, it is always the case that if h0 < 0 holds, then y1 >= 0 eventually holds.
After o2 > 0 until n2 >= 0, it is always the case that if v2 > 3 holds, then g1 > 0 eventually holds.
Globally, it is always the case that if f0 > 2 holds, then p2 > 3 eventually holds.
Between a1 = 3 and m2 >= 0, h2 > 2 eventually holds.
After w2 < 3, it is always the case that if v2 = 3 holds, then r0 = 0 eventually holds and is succeeded by v0 >= 2, where t2 <= 2 does not hold between r0 = 0 and v0 >= 2 .
After m2 <= 0 until b1 = 0, it is always the case that c0 < 3 holds.
Between g0 = 1 and w0 >= 1, it is always the case that if h1 >= 1 holds, then j1 >= 2 eventually holds.
Between o1 < 3 and a2 <= 3, w2 < 2 eventually holds.
Globally, it is always the case that if a1 < 2 holds and is succeeded by p1 <= 1, then i2 < 1 eventually holds after p1 <= 1 .
Before h2 <= 2, it is always the case that if j2 >= 0 holds and is succeeded by l2 < 0, then l0 < 0 eventually holds after l2 < 0 .
Between n1 <= 3 and c0 >= 1, it is always the case that if p0 >= 3 holds and is succeeded by q1 < 2, then o0 >= 0 eventually holds after q1 < 2 .
After j1 < 2, it is never the case that z2 >= 1 holds.
After q1 >= 3 until r1 < 3, it is always the case that if e2 >= 1 holds and is succeeded by f0 = 1, then i0 > 2 previously held.
After c0 > 2, it is always the case that if q2 < 3 holds, then t2 > 0 eventually holds and is succeeded by p2 = 1, where q0 > 3 does not hold between t2 > 0 and p2 = 1 .
Globally, it is always the case that if s0 >= 3 holds and is succeeded by a2 > 2, then l1 >= 1 previously held.
Globally, it is always the case that c2 >= 0 holds.
After v0 < 3, it is always the case that if x1 = 3 holds, then a1 < 0 eventually holds.
Globally, it is always the case that if h1 > 2 holds, then r2 > 2 eventually holds and is succeeded by p0 >= 2 .
After r0 = 3 until l2 >= 0, m2 <= 2 eventually holds.
Globally, it is always the case that if y2 = 2 holds and is succeeded by j0 >= 0, then j1 < 3 eventually holds after j0 >= 0 .
After b0 >= 3, it is always the case that if a0 <= 3 holds, then m1 = 1 eventually holds.
Before s2 = 0, it is always the case that if p2 = 1 holds and is succeeded by i2 > 3, then u0 <= 0 eventually holds after i2 > 3 .
After n0 >= 0 until y0 < 3, it is always the case that if s0 <= 3 holds, then a3 = 2 eventually holds and is succeeded by t0 > 2, where j0 < 3 does not hold between a3 = 2 and t0 > 2 .
After u2 = 3 until u0 = 1, it is always the case that if e0 < 0 holds and is succeeded by w1 >= 2, then u1 > 1 eventually holds after w1 >= 2 .
Before h1 > 2, it is always the case that o1 < 3 holds.
Globally, it is never the case that r1 > 0 holds.
After o1 = 2 until s0 <= 3, it is always the case that if h2 > 2 holds, then k0 > 2 eventually holds and is succeeded by v1 >= 0 .
Between p0 = 1 and c1 = 3, it is always the case that if c0 = 1 holds, then a3 <= 1 eventually holds.
Globally, b1 < 3 eventually holds.
After k2 > 0, it is always the case that h0 >= 3 holds.
Globally, it is always the case that if l2 = 1 holds, then a1 <= 1 eventually holds and is succeeded by u2 > 1 .
Before p1 >= 1, it is always the case that if e2 <= 1 holds, then c2 >= 0 previously held.
Before m2 <= 3, d2 = 2 eventually holds.
Before b1 >= 2, it is always the case that v0 <= 1 holds.
Globally, it is always the case that j2 = 0 holds.
Before k2 >= 0, it is always the case that if s2 = 2 holds, then b2 >= 1 previously held and was preceded by d2 < 3 .
After u2 <= 1 until h2 < 3, v2 > 2 eventually holds.
Before l1 >= 0, it is always the case that g1 > 2 holds.
Globally, it is never the case that t1 >= 1 holds.
Between i2 = 3 and w2 < 2, it is always the case that if x1 <= 3 holds, then y1 <= 3 eventually holds and is succeeded by k2 <= 1 .
After q2 <= 2 until v2 = 2, it is never the case that w0 > 3 holds.
Between t2 <= 2 and f2 > 2, it is always the case that if p2 < 0 holds, then a3 >= 3 eventually holds.
Between t2 >= 0 and p2 >= 1, it is always the case that if a2 <= 0 holds, then c1 < 1 eventually holds and is succeeded by i1 < 1, where y2 = 3 does not hold between c1 < 1 and i1 < 1 .
Before b1 < 2, it is always the case that if k2 < 0 holds, then q1 > 3 eventually holds.
Globally, it is always the case that if g0 > 3 holds, then i0 = 3 eventually holds.
Before v2 > 2, it is never the case that l0 < 0 holds.
Globally, it is always the case that if o2 < 1 holds, then a3 <= 3 eventually holds and is succeeded by w1 = 0 .
Between r2 >= 0 and g1 <= 2, it is never the case that g2 = 0 holds.
After m2 = 1, it is always the case that if i1 > 0 holds, then g2 > 0 eventually holds and is succeeded by q0 > 2 .
Globally, it is always the case that if r2 >= 2 holds, then p2 < 1 previously held.
Globally, it is always the case that if k2 >= 0 holds, then y2 < 3 previously held.
Before j0 < 3, j2 >= 3 eventually holds.
After t0 = 2 until d2 >= 2, it is always the case that y0 >= 1 holds.
After z0 = 1, a0 >= 0 eventually holds.
After r1 >= 0, r2 = 0 eventually holds.
Between v1 <= 0 and f1 = 0, it is always the case that if y0 = 2 holds and is succeeded by w2 < 3, then f2 > 2 eventually holds after w2 < 3 .
Between x2 <= 2 and w2 > 3, it is always the case that if u0 >= 2 holds, then f1 >= 0 eventually holds.
After l1 >= 0 until m2 < 2, it is always the case that if x2 >= 3 holds, then i2 >= 3 eventually holds and is succeeded by m2 >= 0, where s2 < 3 does not hold between i2 >= 3 and m2 >= 0 .
After e2 >= 0, it is always the case that l0 > 1 holds.
After q0 < 0, o1 < 2 eventually holds.
Between z2 > 2 and a0 < 0, it is always the case that if y2 <= 0 holds and is succeeded by q1 > 0, then e1 < 2 eventually holds after q1 > 0 .
After u0 < 2, it is always the case that if m1 >= 3 holds and is succeeded by x0 > 0, then c0 <= 2 previously held.
After w0 > 3, it is always the case that if z2 < 3 holds, then r0 <= 2 eventually holds and is succeeded by t1 > 3 .
After t2 >= 3 until b2 >= 0, it is always the case that if e1 > 3 holds, then g0 <= 2 eventually holds and is succeeded by p2 < 0, where u2 < 3 does not hold between g0 <= 2 and p2 < 0 .
After y2 > 2, it is always the case that if z1 < 3 holds, then j2 = 0 eventually holds and is succeeded by y1 <= 1, where i1 > 2 does not hold between j2 = 0 and y1 <= 1 .
Before j0 < 2, it is always the case that if d1 >= 2 holds, then j2 <= 1 eventually holds and is succeeded by a3 < 3, where j1 = 2 does not hold between j2 <= 1 and a3 < 3 .
After r2 < 3, it is always the case that if n1 <= 0 holds, then v1 > 2 previously held.
Between l1 > 3 and i2 = 3, it is always the case that if o2 >= 0 holds, then w0 <= 1 eventually holds.
After d1 < 2, o0 > 0 eventually holds.
After z1 = 2 until w0 <= 0, it is always the case that if d1 <= 0 holds, then b0 >= 0 eventually holds and is succeeded by x2 = 3, where i1 <= 0 does not hold between b0 >= 0 and x2 = 3 .
After q0 >= 0 until z0 < 0, it is always the case that a2 = 0 holds.
After y0 <= 0, it is always the case that if q0 = 1 holds, then z0 > 0 eventually holds and is succeeded by y0 < 0, where b0 >= 2 does not hold between z0 > 0 and y0 < 0 .
After j1 >= 1 until s0 >= 0, it is always the case that if e0 > 3 holds, then c0 >= 3 eventually holds and is succeeded by l2 <= 2, where y1 = 0 does not hold between c0 >= 3 and l2 <= 2 .
After c0 > 0 until u1 >= 2, it is never the case that x1 <= 3 holds.
After h1 < 2, b1 < 3 eventually holds.
After f1 >= 0 until r1 > 1, it is always the case that if r2 < 1 holds and is succeeded by e1 >= 0, then m0 < 1 eventually holds after e1 >= 0 .
Globally, it is always the case that if r2 <= 3 holds, then z1 = 1 previously held.
After s2 <= 0 until q0 < 2, d0 = 0 eventually holds.
Globally, it is always the case that if e2 > 2 holds, then h2 <= 1 eventually holds and is succeeded by i2 < 2 .
After c1 < 2 until v0 < 3, it is always the case that if i0 < 0 holds, then g1 >= 1 previously held.
Globally, it is always the case that if y1 > 0 holds and is succeeded by d1 >= 0, then l0 = 3 previously held.
After o2 >= 2, it is always the case that if a2 > 1 holds, then d0 >= 3 eventually holds.
After x0 >= 1, it is always the case that if x2 < 3 holds, then z0 > 1 previously held and was preceded by g0 < 0 .
After d2 = 1, it is always the case that if g0 <= 3 holds and is succeeded by k0 <= 1, then j0 < 0 previously held.
After f2 < 3, it is always the case that if v0 <= 1 holds, then f1 = 2 previously held and was preceded by b0 > 3 .
Globally, it is always the case that b2 < 1 holds.
After z2 < 1, it is always the case that if d2 > 3 holds, then c0 < 1 previously held.
Before q2 = 0, it is never the case that o0 <= 0 holds.
Between c0 <= 2 and b1 > 0, it is never the case that m2 = 2 holds.
After k1 = 3, it is always the case that if o0 > 3 holds, then i1 > 1 eventually holds and is succeeded by p2 < 2 .
Globally, it is always the case that if d2 >= 1 holds, then w2 > 2 previously held.
After z2 = 0 until b2 <= 2, it is always the case that s1 < 3 holds.
Globally, it is always the case that if a2 < 0 holds, then i1 <= 2 previously held and was preceded by u0 < 1 .
Globally, it is always the case that if l0 >= 2 holds, then l0 > 2 eventually holds and is succeeded by k0 <= 2 .
Globally, it is always the case that if y2 = 1 holds and is succeeded by k0 = 0, then b0 >= 1 eventually holds after k0 = 0 .
After v2 <= 0 until y2 = 2, it is always the case that if r0 > 3 holds and is succeeded by e0 <= 3, then b1 >= 2 eventually holds after e0 <= 3 .
After z2 <= 0, it is always the case that if d1 > 2 holds, then v0 >= 3 previously held.
Before w0 < 3, it is always the case that if k2 < 1 holds, then v2 > 0 previously held and was preceded by a1 > 2 .
After o1 <= 1 until i2 < 2, it is always the case that if g0 > 3 holds and is succeeded by o1 >= 0, then o1 < 1 previously held.
After b2 = 2 until p0 <= 0, it is always the case that if y2 < 2 holds, then n1 >= 0 eventually holds and is succeeded by z2 > 1 .
After g0 = 3 until v1 <= 0, it is never the case that x2 = 1 holds.
Between w1 <= 1 and j0 >= 0, it is never the case that v2 > 1 holds.
Globally, it is never the case that i1 <= 2 holds.
After q2 <= 1 until z0 = 2, it is always the case that v1 < 0 holds.
Between u1 = 0 and z2 < 0, g1 = 1 eventually holds.
Globally, c0 = 0 eventually holds.
After f1 > 3, it is always the case that if v0 = 1 holds and is succeeded by c2 <= 1, then a0 <= 2 previously held.
