Between m0 > 0 and o0 > 3, it is always the case that if d0 < 0 holds and is succeeded by k0 = 0, then h0 > 1 eventually holds after k0 = 0 .
Before q0 < 7, it is always the case that if b0 = 1 holds and is succeeded by p0 < 4, then d0 >= 4 previously held.
After s0 = 2, it is always the case that if c0 = 5 holds, then k0 <= 3 previously held.
After d0 = 7, l0 >= 6 eventually holds.
Between j0 >= 4 and e0 < 1, it is always the case that if g0 = 4 holds, then m0 = 6 eventually holds and is succeeded by g0 >= 5 .
Between l0 <= 7 and s0 = 2, it is always the case that if j0 <= 7 holds and is succeeded by p0 = 7, then m0 <= 3 previously held.
After r0 = 6 until b0 >= 6, it is always the case that if b0 = 5 holds and is succeeded by o0 = 3, then r0 = 5 eventually holds after o0 = 3 .
After f0 = 0, it is never the case that h0 >= 5 holds.
Globally, it is always the case that e0 = 2 holds.
Globally, it is never the case that m0 > 2 holds.
After n0 > 2 until j0 < 4, it is never the case that c0 >= 4 holds.
Globally, it is always the case that if e0 >= 3 holds, then l0 >= 4 eventually holds and is succeeded by b0 <= 2 .
Between j0 <= 4 and p0 < 0, it is always the case that if b0 <= 2 holds and is succeeded by s0 > 6, then o0 = 2 eventually holds after s0 > 6 .
Globally, it is always the case that if m0 <= 2 holds, then k0 = 3 eventually holds and is succeeded by c0 <= 5 .
Between c0 > 4 and k0 > 7, it is always the case that if e0 <= 1 holds, then j0 < 4 eventually holds.
Before p0 >= 1, it is never the case that g0 <= 7 holds.
Globally, it is always the case that if k0 = 3 holds, then o0 <= 0 eventually holds and is succeeded by i0 < 0 .
After j0 = 5 until m0 > 7, it is always the case that if i0 = 5 holds, then g0 > 4 previously held and was preceded by g0 < 1 .
After f0 < 0 until i0 > 4, it is always the case that if g0 = 4 holds, then s0 <= 0 eventually holds and is succeeded by s0 < 0, where q0 >= 4 does not hold between s0 <= 0 and s0 < 0 .
After e0 < 2 until h0 > 0, it is always the case that if g0 < 5 holds, then g0 <= 4 eventually holds and is succeeded by d0 >= 1, where g0 = 7 does not hold between g0 <= 4 and d0 >= 1 .
Before g0 >= 1, it is always the case that if c0 < 6 holds and is succeeded by c0 > 4, then h0 < 0 eventually holds after c0 > 4 .
After n0 = 2, it is never the case that l0 >= 2 holds.
Between d0 < 2 and n0 = 6, q0 < 4 eventually holds.
Before g0 <= 5, it is always the case that n0 < 4 holds.
Before m0 = 1, it is always the case that if c0 = 5 holds, then s0 <= 3 eventually holds and is succeeded by g0 <= 5, where g0 = 6 does not hold between s0 <= 3 and g0 <= 5 .
After o0 = 3 until k0 > 7, it is always the case that if d0 > 5 holds, then a0 <= 1 previously held and was preceded by h0 >= 0 .
After q0 = 7, it is always the case that f0 > 2 holds.
Before s0 <= 4, it is always the case that if a0 <= 2 holds, then g0 > 1 eventually holds and is succeeded by i0 < 0 .
Before b0 = 2, it is never the case that p0 >= 4 holds.
Between e0 > 4 and g0 <= 3, it is always the case that if p0 >= 7 holds and is succeeded by p0 <= 1, then d0 < 0 eventually holds after p0 <= 1 .
Before i0 > 6, it is always the case that if e0 < 0 holds and is succeeded by p0 = 6, then i0 = 0 eventually holds after p0 = 6 .
Before b0 >= 2, it is always the case that if f0 = 5 holds, then n0 > 4 eventually holds and is succeeded by g0 >= 3 .
After l0 = 0, c0 <= 3 eventually holds.
Before q0 <= 2, it is always the case that if o0 < 7 holds and is succeeded by a0 <= 6, then c0 < 7 eventually holds after a0 <= 6 .
After o0 < 0, it is always the case that if m0 > 4 holds and is succeeded by i0 < 2, then n0 <= 3 eventually holds after i0 < 2 .
Globally, it is always the case that q0 <= 0 holds.
Before q0 < 4, it is always the case that f0 = 3 holds.
Before k0 < 0, it is always the case that if o0 > 2 holds, then e0 <= 7 previously held.
After c0 > 3 until r0 < 0, it is always the case that b0 < 0 holds.
Between o0 > 4 and m0 < 2, it is always the case that if k0 < 1 holds, then c0 <= 1 eventually holds.
After e0 <= 3 until h0 >= 4, it is always the case that if m0 = 0 holds, then k0 < 5 eventually holds and is succeeded by i0 >= 3 .
After q0 = 4 until k0 = 5, it is always the case that if a0 <= 2 holds, then j0 = 5 previously held.
After n0 > 6, it is never the case that j0 >= 5 holds.
Globally, it is always the case that if b0 < 5 holds, then q0 = 7 previously held and was preceded by g0 = 2 .
Between d0 <= 0 and l0 < 3, it is always the case that j0 <= 4 holds.
Before j0 = 2, it is always the case that if k0 <= 3 holds, then s0 < 2 eventually holds.
Globally, i0 > 2 eventually holds.
Between k0 > 0 and o0 > 3, it is always the case that if i0 <= 4 holds and is succeeded by l0 < 4, then r0 = 5 previously held.
After j0 >= 0, it is always the case that n0 > 6 holds.
Between r0 >= 7 and o0 = 0, h0 = 3 eventually holds.
Globally, it is always the case that c0 <= 7 holds.
After l0 = 5, it is always the case that if f0 < 4 holds, then b0 <= 4 previously held and was preceded by r0 >= 5 .
After g0 > 2, it is always the case that if o0 <= 4 holds, then c0 <= 4 previously held and was preceded by o0 <= 0 .
Before e0 < 2, it is always the case that if f0 < 6 holds and is succeeded by k0 = 1, then q0 >= 3 eventually holds after k0 = 1 .
After s0 >= 5 until d0 > 4, it is always the case that if e0 <= 6 holds, then j0 <= 4 previously held.
After p0 > 1, it is always the case that if g0 > 6 holds, then h0 >= 6 eventually holds and is succeeded by g0 >= 3 .
Before i0 < 5, it is always the case that if k0 < 7 holds, then o0 > 2 previously held.
After e0 < 1, it is always the case that if k0 <= 3 holds, then i0 >= 6 eventually holds and is succeeded by s0 < 1, where a0 <= 1 does not hold between i0 >= 6 and s0 < 1 .
Between m0 = 0 and e0 >= 4, it is always the case that q0 > 3 holds.
Between l0 <= 0 and b0 = 5, it is always the case that n0 = 3 holds.
