After y2 <= 0 until g0 >= 15, it is always the case that if p1 = 5 holds and is succeeded by k0 <= 0, then y1 >= 2 eventually holds after k0 <= 0 .
Between n0 > 3 and h1 > 7, it is always the case that if b1 > 3 holds, then t1 >= 4 previously held and was preceded by a2 = 10 .
Globally, it is always the case that if a0 = 3 holds and is succeeded by k1 > 10, then j1 >= 4 eventually holds after k1 > 10 .
After i2 = 15 until l2 = 10, it is never the case that t0 >= 6 holds.
After v2 = 13 until g1 < 9, it is always the case that w2 = 10 holds.
After r0 <= 9 until w2 > 7, it is always the case that if v0 < 9 holds and is succeeded by b0 >= 4, then s0 <= 7 eventually holds after b0 >= 4 .
Globally, it is always the case that if k0 < 11 holds, then d1 >= 4 eventually holds and is succeeded by j1 > 12 .
After u1 < 5, it is never the case that x1 < 3 holds.
After o2 <= 7 until y2 > 13, it is always the case that if x1 = 4 holds, then j1 < 12 previously held and was preceded by p0 > 11 .
Globally, it is never the case that d1 >= 3 holds.
Before t1 <= 0, it is never the case that t2 <= 14 holds.
After y1 > 0, it is always the case that if o0 < 9 holds, then h0 <= 9 previously held.
Globally, it is never the case that y2 = 11 holds.
Globally, z0 = 7 eventually holds.
After d2 >= 12 until s0 < 0, it is always the case that if r1 < 8 holds, then t2 = 9 eventually holds and is succeeded by q1 >= 10, where k1 <= 8 does not hold between t2 = 9 and q1 >= 10 .
Before m2 > 7, it is always the case that if j1 >= 13 holds, then g2 <= 9 eventually holds and is succeeded by d1 > 2 .
After s2 = 2, it is never the case that w0 = 0 holds.
Between v0 > 0 and m1 = 0, it is always the case that if d2 < 10 holds and is succeeded by r1 > 8, then y1 > 1 eventually holds after r1 > 8 .
After g2 < 14 until p1 > 5, it is always the case that w2 >= 15 holds.
Globally, it is always the case that if y1 >= 15 holds, then d0 <= 8 eventually holds.
After f2 >= 15, it is always the case that if r1 < 7 holds, then e1 > 15 eventually holds and is succeeded by f0 >= 3 .
Globally, it is always the case that if g1 = 4 holds, then v1 < 8 previously held.
Before z1 <= 12, it is always the case that if h2 >= 3 holds, then t0 > 4 eventually holds and is succeeded by c0 = 5 .
Before j2 < 1, it is always the case that if d2 <= 8 holds and is succeeded by f1 < 0, then l2 = 13 previously held.
Globally, it is always the case that k1 <= 4 holds.
Between a2 > 14 and b0 = 13, it is always the case that if g0 > 8 holds, then c0 <= 13 eventually holds and is succeeded by i0 >= 3, where g2 <= 12 does not hold between c0 <= 13 and i0 >= 3 .
Before i0 = 9, it is never the case that i0 < 11 holds.
After z0 <= 0 until f2 = 3, it is always the case that if z1 >= 11 holds, then k1 <= 0 previously held.
Before n1 > 7, r2 <= 2 eventually holds.
After h2 >= 3, it is always the case that if b2 < 9 holds, then z1 >= 14 eventually holds and is succeeded by h2 = 14 .
Before x2 > 3, it is never the case that i2 < 12 holds.
Before u2 <= 8, p2 < 5 eventually holds.
Globally, it is always the case that if i2 >= 7 holds and is succeeded by b1 <= 8, then p0 >= 9 previously held.
Between r0 <= 8 and i0 < 8, it is always the case that if m1 < 14 holds, then n1 >= 9 previously held.
Before i1 < 11, it is always the case that if e0 <= 15 holds and is succeeded by a3 > 9, then i2 >= 15 eventually holds after a3 > 9 .
Globally, it is always the case that if a3 <= 6 holds, then k0 < 6 eventually holds and is succeeded by t0 >= 3, where i1 >= 4 does not hold between k0 < 6 and t0 >= 3 .
Globally, it is always the case that if u1 < 13 holds, then s2 < 4 eventually holds and is succeeded by t1 < 9, where v2 <= 2 does not hold between s2 < 4 and t1 < 9 .
Between j2 = 13 and r1 < 4, it is always the case that n0 <= 4 holds.
After c1 = 15 until u1 > 11, it is always the case that if u1 < 9 holds and is succeeded by v1 > 6, then r0 >= 4 previously held.
After w1 > 0 until z1 >= 12, it is always the case that if a2 < 5 holds, then r1 < 10 previously held and was preceded by m2 <= 14 .
Before v1 <= 13, it is always the case that if g1 = 15 holds, then y2 = 3 eventually holds and is succeeded by v1 >= 9, where d2 <= 7 does not hold between y2 = 3 and v1 >= 9 .
Globally, it is always the case that b0 >= 10 holds.
After d0 <= 11 until d1 > 15, it is always the case that if i2 = 11 holds, then k1 <= 10 previously held and was preceded by g1 >= 15 .
After o0 <= 5, it is always the case that if o0 >= 13 holds, then j1 <= 6 eventually holds and is succeeded by i0 >= 7 .
Between x0 < 15 and w2 <= 0, it is always the case that y1 <= 9 holds.
After y1 = 4, it is always the case that if n2 < 14 holds, then v2 > 6 eventually holds and is succeeded by m2 >= 14, where j0 < 0 does not hold between v2 > 6 and m2 >= 14 .
Globally, it is always the case that a3 <= 1 holds.
Globally, it is always the case that if k1 = 3 holds and is succeeded by u2 >= 15, then k0 >= 8 previously held.
Before h0 >= 0, it is never the case that c2 > 11 holds.
Globally, it is always the case that if t2 = 15 holds, then e0 = 13 eventually holds and is succeeded by o2 < 2 .
Between t0 >= 1 and p0 < 15, k1 < 4 eventually holds.
After e1 < 12, it is always the case that if g0 >= 1 holds, then z2 >= 3 eventually holds and is succeeded by c1 >= 8, where j2 = 6 does not hold between z2 >= 3 and c1 >= 8 .
Before w0 >= 4, it is always the case that if e2 = 8 holds, then s0 >= 13 eventually holds and is succeeded by c2 = 5, where o0 > 13 does not hold between s0 >= 13 and c2 = 5 .
After i1 = 8, it is always the case that if b2 < 9 holds and is succeeded by f0 < 7, then v1 >= 8 previously held.
Between r0 < 1 and m1 < 2, it is always the case that q0 > 3 holds.
Between a0 >= 5 and w2 = 4, it is always the case that if m1 = 1 holds, then j1 < 1 eventually holds.
Before n0 = 13, it is always the case that if u0 >= 5 holds, then g2 > 15 previously held.
After l0 < 4, it is always the case that if q1 >= 11 holds and is succeeded by n2 > 15, then n1 = 0 eventually holds after n2 > 15 .
After p0 = 0, it is always the case that if x1 <= 0 holds, then z2 > 3 eventually holds and is succeeded by k1 > 6 .
Between j2 = 13 and y2 = 9, t0 >= 1 eventually holds.
After o0 > 12 until a1 < 13, it is always the case that if f0 > 6 holds, then d2 <= 11 previously held.
After r1 < 7 until g2 > 15, it is never the case that j0 < 1 holds.
Globally, it is always the case that if y1 <= 15 holds, then a1 > 4 eventually holds and is succeeded by i0 < 15, where g0 <= 9 does not hold between a1 > 4 and i0 < 15 .
Between q0 < 4 and r1 < 1, it is always the case that if d0 >= 0 holds and is succeeded by a1 > 8, then b2 < 10 eventually holds after a1 > 8 .
Before n1 > 0, t0 <= 11 eventually holds.
Between r2 > 15 and n0 < 2, it is always the case that if e0 < 6 holds and is succeeded by z1 >= 4, then a2 = 7 eventually holds after z1 >= 4 .
After j1 <= 15, it is always the case that if u1 <= 14 holds and is succeeded by z2 = 3, then g1 <= 7 eventually holds after z2 = 3 .
Globally, it is always the case that y1 < 8 holds.
Between y2 < 9 and o1 > 8, it is always the case that s0 >= 14 holds.
Before b1 > 7, m2 > 8 eventually holds.
Globally, y1 > 14 eventually holds.
Globally, it is always the case that if u1 = 10 holds, then l0 > 10 eventually holds.
After g1 < 9, it is always the case that if u0 < 13 holds, then t2 > 13 previously held.
After a0 = 8, it is always the case that i0 = 5 holds.
Between w1 = 8 and p2 < 0, it is always the case that k1 > 7 holds.
Globally, it is always the case that if f1 >= 13 holds and is succeeded by j2 = 12, then q2 <= 6 previously held.
Before q0 <= 11, it is always the case that i1 <= 14 holds.
After c1 > 7, it is always the case that if o2 = 3 holds, then t0 > 10 eventually holds and is succeeded by g1 >= 12 .
After w0 >= 13, it is always the case that if l0 <= 8 holds, then v2 <= 5 eventually holds and is succeeded by c2 > 10 .
Globally, it is always the case that if p0 = 11 holds, then g1 > 11 eventually holds and is succeeded by m2 = 2 .
Between g0 > 5 and m0 >= 6, it is always the case that if r1 = 15 holds, then d0 > 1 eventually holds and is succeeded by r2 < 5, where h2 <= 9 does not hold between d0 > 1 and r2 < 5 .
After g0 < 0 until n2 > 2, it is always the case that t0 >= 5 holds.
After p0 < 11, it is always the case that if f0 < 6 holds, then u2 > 11 previously held and was preceded by a2 > 14 .
Between n0 = 7 and j2 >= 15, f0 = 1 eventually holds.
Between i1 = 0 and a0 >= 13, it is always the case that if i1 <= 6 holds, then m1 <= 14 eventually holds and is succeeded by i2 = 3 .
After p0 = 5, it is never the case that f1 >= 8 holds.
Between z2 <= 10 and l1 <= 3, it is always the case that if d2 >= 1 holds and is succeeded by a0 > 4, then l2 < 6 eventually holds after a0 > 4 .
Between a3 <= 1 and r2 < 9, it is always the case that if v0 = 8 holds and is succeeded by o1 < 10, then i2 < 3 previously held.
After g2 >= 13 until f0 = 1, it is always the case that if l1 < 15 holds, then n2 <= 5 previously held.
Globally, it is always the case that if e2 <= 14 holds, then p1 <= 15 eventually holds and is succeeded by t2 < 7, where k2 = 3 does not hold between p1 <= 15 and t2 < 7 .
Globally, it is always the case that if u1 >= 5 holds, then h0 < 11 eventually holds and is succeeded by q0 > 1 .
Before m2 > 11, it is always the case that if h1 >= 2 holds and is succeeded by n0 > 6, then u1 >= 1 previously held.
After f1 < 9, it is always the case that q2 = 11 holds.
Globally, it is always the case that if l0 > 6 holds and is succeeded by e2 > 8, then g1 > 13 eventually holds after e2 > 8 .
Globally, it is always the case that if v0 > 14 holds and is succeeded by d0 <= 4, then o2 = 3 previously held.
Before o0 <= 14, it is never the case that t1 = 1 holds.
Globally, it is always the case that if z2 <= 8 holds, then m2 <= 5 eventually holds and is succeeded by r0 = 0, where o1 = 8 does not hold between m2 <= 5 and r0 = 0 .
Between x2 >= 15 and x2 <= 0, it is always the case that if t1 >= 6 holds, then t2 < 6 previously held.
Between t0 > 8 and v1 = 0, it is always the case that if v1 < 12 holds and is succeeded by m0 = 12, then f1 < 2 eventually holds after m0 = 12 .
Between k2 >= 0 and y1 < 3, it is always the case that if d0 = 10 holds and is succeeded by n2 <= 5, then w2 > 5 eventually holds after n2 <= 5 .
Between c2 <= 3 and g2 = 6, it is never the case that u0 > 8 holds.
After p0 <= 11 until l2 < 15, it is always the case that if u0 <= 13 holds, then q1 > 3 eventually holds.
After l0 > 13 until i1 = 13, d1 < 2 eventually holds.
After p0 <= 14 until d1 = 8, it is always the case that if j1 > 3 holds, then l2 = 9 eventually holds.
After m0 <= 8 until c0 = 1, h2 > 12 eventually holds.
Between m2 <= 0 and v0 >= 12, it is always the case that if h0 = 15 holds and is succeeded by p2 > 6, then r1 > 10 previously held.
Globally, it is always the case that if q1 < 8 holds, then i0 > 9 previously held and was preceded by z2 <= 15 .
After a0 > 5, i2 <= 14 eventually holds.
Between h1 = 3 and u2 >= 5, it is always the case that if i2 <= 10 holds, then o1 > 1 eventually holds and is succeeded by k1 < 5 .
Globally, it is always the case that x1 <= 11 holds.
Globally, p0 = 2 eventually holds.
After k2 < 8, it is always the case that if i0 = 14 holds, then s1 >= 4 previously held and was preceded by y2 >= 14 .
Globally, it is always the case that if g1 >= 10 holds and is succeeded by m1 <= 8, then c0 >= 11 eventually holds after m1 <= 8 .
Before q0 <= 4, it is always the case that if s0 = 2 holds, then m1 <= 13 previously held.
Between j2 > 11 and d0 > 13, it is always the case that if t1 >= 4 holds, then l2 <= 2 eventually holds and is succeeded by f2 >= 0, where l1 <= 2 does not hold between l2 <= 2 and f2 >= 0 .
Between i1 < 3 and s0 = 14, it is always the case that if j2 > 12 holds, then x1 >= 13 eventually holds and is succeeded by z1 >= 14, where w2 < 15 does not hold between x1 >= 13 and z1 >= 14 .
Globally, it is always the case that if i2 < 7 holds, then b2 >= 4 eventually holds and is succeeded by j2 >= 14, where f2 > 10 does not hold between b2 >= 4 and j2 >= 14 .
After e1 < 6, a2 > 14 eventually holds.
After v1 < 1 until f0 > 5, it is always the case that if v1 >= 15 holds, then l1 <= 6 previously held.
Between o0 > 0 and n1 >= 4, it is always the case that if l2 > 9 holds and is succeeded by d2 < 7, then w1 < 12 eventually holds after d2 < 7 .
