Globally, it is always the case that if q2 >= 2 holds and is succeeded by d2 = 2, then m2 <= 2 eventually holds after d2 = 2 .
Between d0 > 3 and u1 <= 6, it is always the case that if p1 < 4 holds, then a1 <= 3 eventually holds and is succeeded by v0 = 0, where q0 > 1 does not hold between a1 <= 3 and v0 = 0 .
After f2 > 0, it is always the case that if b1 = 1 holds and is succeeded by n0 <= 1, then x1 = 2 eventually holds after n0 <= 1 .
After f0 > 4 until k0 < 0, it is always the case that if y0 = 2 holds, then b2 >= 2 eventually holds and is succeeded by b1 = 3, where o1 = 5 does not hold between b2 >= 2 and b1 = 3 .
Before i0 > 1, it is never the case that t2 >= 5 holds.
After t1 >= 2, it is always the case that if b2 < 7 holds, then z2 = 5 eventually holds.
After s2 < 3, it is always the case that if w0 <= 5 holds and is succeeded by e2 < 6, then f1 >= 2 previously held.
After p1 <= 0 until m0 <= 5, it is always the case that if d2 > 3 holds, then c0 >= 5 eventually holds and is succeeded by o2 = 0 .
Between j1 >= 1 and r2 >= 0, it is always the case that if g1 > 2 holds and is succeeded by i0 < 2, then q2 > 3 eventually holds after i0 < 2 .
After g1 >= 7 until m1 >= 5, it is always the case that if n2 = 2 holds, then z1 = 7 previously held.
Globally, it is always the case that if g1 >= 1 holds, then v1 >= 0 eventually holds.
After z2 < 7 until j0 <= 1, it is always the case that if q2 <= 7 holds and is succeeded by h2 > 3, then w0 < 7 eventually holds after h2 > 3 .
Globally, it is always the case that if d1 <= 3 holds, then q2 <= 7 eventually holds and is succeeded by m2 = 5 .
After v2 = 0 until c2 < 4, it is always the case that if m0 = 5 holds, then u0 < 7 previously held and was preceded by s2 <= 2 .
Between b2 >= 7 and a0 <= 1, it is always the case that if f1 < 3 holds, then i1 = 0 previously held.
After q0 <= 0, l1 > 2 eventually holds.
Globally, it is always the case that if h2 <= 6 holds, then n2 = 6 eventually holds.
Globally, it is never the case that b0 < 2 holds.
After n1 < 3, it is always the case that if s2 >= 6 holds and is succeeded by f1 <= 0, then q2 > 1 eventually holds after f1 <= 0 .
Before i2 > 0, it is never the case that q0 = 6 holds.
Globally, it is always the case that if l2 <= 3 holds and is succeeded by x1 < 6, then l1 <= 0 previously held.
Before l0 < 4, it is always the case that if f1 <= 1 holds, then f2 > 2 previously held and was preceded by x0 = 7 .
Between q2 > 1 and a0 > 2, it is always the case that l2 = 2 holds.
Globally, it is always the case that if b1 <= 5 holds and is succeeded by g1 > 4, then e1 = 0 previously held.
Between v0 >= 0 and t0 > 7, it is always the case that if m0 >= 3 holds, then y1 > 3 previously held.
Globally, it is always the case that if n1 = 1 holds, then e2 > 3 eventually holds and is succeeded by y2 < 0, where x2 = 4 does not hold between e2 > 3 and y2 < 0 .
After t1 = 7, it is always the case that if g1 = 7 holds and is succeeded by u2 = 4, then h0 >= 1 previously held.
Globally, it is always the case that if w1 > 4 holds and is succeeded by p2 > 2, then u2 < 3 eventually holds after p2 > 2 .
After b0 < 4 until a2 <= 7, it is always the case that if i1 <= 2 holds, then w2 >= 6 previously held.
After c2 > 5 until k1 < 3, it is always the case that if o1 <= 1 holds, then w1 <= 1 eventually holds and is succeeded by o2 <= 6 .
Globally, it is always the case that if c1 <= 2 holds and is succeeded by o0 <= 1, then m1 <= 0 eventually holds after o0 <= 1 .
Between l0 > 6 and o2 <= 1, it is always the case that w2 <= 1 holds.
Globally, it is always the case that if j0 = 0 holds and is succeeded by c1 > 0, then l0 > 7 eventually holds after c1 > 0 .
After f1 <= 1 until w1 > 1, it is always the case that if m1 = 6 holds, then z0 > 6 previously held.
Before n1 = 7, it is always the case that if h0 > 1 holds, then q0 <= 0 eventually holds.
Globally, it is always the case that if c1 = 5 holds, then f2 > 4 eventually holds and is succeeded by k1 < 5 .
After w2 < 0 until z2 >= 5, it is always the case that if e0 < 6 holds and is succeeded by w1 < 2, then d1 >= 2 previously held.
Between p1 < 7 and b0 < 6, f0 < 1 eventually holds.
After r0 >= 3, it is always the case that if q1 = 7 holds, then y2 < 6 eventually holds.
Globally, it is always the case that if i2 >= 7 holds, then l1 > 5 previously held and was preceded by h1 < 1 .
Before m1 < 4, it is always the case that if w2 < 5 holds, then x1 < 1 previously held.
Before e0 < 7, it is always the case that if e1 >= 4 holds, then z2 >= 7 previously held.
Before a0 > 5, it is always the case that if l2 < 5 holds, then h1 < 5 previously held and was preceded by o0 >= 1 .
After l2 >= 7, it is always the case that if x1 > 5 holds, then n1 > 0 previously held.
Between l2 = 6 and u0 <= 6, it is always the case that if w0 < 2 holds, then b0 = 3 eventually holds and is succeeded by b1 < 3 .
After a3 > 2, it is always the case that if b0 = 4 holds and is succeeded by u1 > 3, then b1 > 1 previously held.
Globally, it is always the case that if q0 = 4 holds, then q1 <= 7 eventually holds and is succeeded by d0 < 4 .
After a2 < 7, it is always the case that if i2 > 4 holds, then e0 < 5 eventually holds and is succeeded by y2 >= 4 .
Globally, it is always the case that if y1 < 3 holds, then u2 = 0 eventually holds.
Before h0 > 5, it is always the case that if p2 >= 6 holds, then s2 > 2 eventually holds.
Globally, it is always the case that d0 = 4 holds.
Globally, it is always the case that if t2 <= 1 holds, then n2 < 5 eventually holds and is succeeded by s0 = 1 .
Globally, it is always the case that if r2 <= 7 holds and is succeeded by y2 = 3, then g0 = 6 eventually holds after y2 = 3 .
Before r2 = 6, it is never the case that w1 > 2 holds.
Between k2 >= 7 and w1 <= 2, it is always the case that if w0 = 2 holds, then a2 = 3 eventually holds and is succeeded by q0 > 0 .
Between a1 = 6 and a2 > 4, it is always the case that if p2 <= 0 holds, then f1 < 7 eventually holds.
Before n2 > 7, t2 = 7 eventually holds.
Between h2 > 4 and n1 > 1, it is always the case that if m1 = 2 holds and is succeeded by p1 >= 2, then u2 < 6 previously held.
After i0 < 3 until s0 >= 4, it is always the case that if i2 > 7 holds and is succeeded by r0 >= 4, then c1 = 7 eventually holds after r0 >= 4 .
After r1 > 5, it is always the case that m0 = 3 holds.
Between u0 > 0 and o0 > 7, it is always the case that if e2 = 2 holds and is succeeded by z1 > 6, then f2 <= 4 previously held.
Before o1 = 3, it is always the case that if i2 < 3 holds and is succeeded by k1 = 4, then z1 >= 3 previously held.
Before q2 > 2, it is always the case that if o0 <= 0 holds, then z2 = 1 previously held and was preceded by q2 <= 2 .
After y0 = 2 until g2 >= 5, it is always the case that if l2 = 6 holds, then a2 >= 0 previously held.
Globally, it is always the case that if k0 < 5 holds, then j2 < 1 previously held.
Before n2 <= 5, it is always the case that if h0 >= 4 holds and is succeeded by i2 <= 2, then g2 < 3 previously held.
After a3 = 2 until e1 > 4, it is always the case that if i1 = 0 holds, then e2 >= 7 eventually holds and is succeeded by l1 = 4 .
After p0 <= 4, it is always the case that if w2 < 6 holds and is succeeded by b0 < 7, then r2 < 7 eventually holds after b0 < 7 .
Globally, it is always the case that if d1 = 7 holds and is succeeded by f1 = 6, then b2 <= 1 previously held.
Between q0 >= 3 and n1 >= 1, it is never the case that u2 <= 2 holds.
Between x2 > 4 and l1 < 1, it is always the case that if b1 = 6 holds, then a0 > 3 previously held and was preceded by f0 >= 4 .
Before d1 = 1, it is never the case that u1 < 7 holds.
After k0 = 2, it is always the case that if a0 = 0 holds, then y2 = 2 eventually holds and is succeeded by n0 = 0 .
After t2 >= 7 until y0 = 5, it is always the case that f1 = 7 holds.
Globally, it is always the case that if y2 <= 6 holds and is succeeded by b2 > 0, then t0 >= 7 previously held.
After z1 = 0, it is always the case that if y2 < 4 holds, then v0 >= 5 eventually holds and is succeeded by q0 >= 3 .
After l1 > 0 until p1 >= 7, it is always the case that if l0 > 3 holds, then p0 = 0 eventually holds and is succeeded by g0 > 1 .
Between y1 <= 7 and e0 < 0, it is always the case that if m0 > 4 holds, then r2 = 2 previously held.
After w2 > 1 until f1 > 4, it is always the case that if g1 = 4 holds, then z2 <= 5 eventually holds and is succeeded by k1 >= 3, where n2 < 5 does not hold between z2 <= 5 and k1 >= 3 .
After a2 >= 0, it is always the case that if h2 >= 2 holds, then x0 <= 4 eventually holds.
Globally, it is always the case that if j0 < 6 holds, then y1 <= 0 previously held.
Globally, it is always the case that if l1 < 7 holds, then k0 > 5 eventually holds.
Before z0 > 5, q2 <= 7 eventually holds.
After d2 = 3, it is always the case that if g1 = 0 holds and is succeeded by s1 <= 7, then f0 < 7 previously held.
Before a3 < 6, it is always the case that k2 > 4 holds.
Between p2 > 6 and p1 >= 4, it is never the case that a2 = 5 holds.
Between f2 <= 1 and f1 > 5, it is always the case that if o1 > 3 holds, then z2 > 5 previously held and was preceded by k2 <= 6 .
Between z2 <= 0 and h0 = 2, it is always the case that if i2 <= 6 holds and is succeeded by m2 < 3, then s1 >= 3 previously held.
Before f2 >= 6, it is always the case that if a0 <= 1 holds, then v0 <= 5 eventually holds and is succeeded by i2 >= 7 .
Between x0 <= 2 and e0 <= 3, it is always the case that if f2 < 3 holds, then s0 = 3 eventually holds.
After u2 >= 1, it is always the case that if m2 >= 0 holds, then v2 <= 0 previously held.
Globally, it is always the case that if m1 <= 3 holds, then x0 = 3 previously held.
Before q1 <= 5, it is always the case that if x0 <= 0 holds, then i1 = 1 eventually holds and is succeeded by k0 = 7, where r2 < 4 does not hold between i1 = 1 and k0 = 7 .
Before w1 < 5, it is always the case that if e2 < 4 holds, then c2 > 4 previously held and was preceded by y2 >= 5 .
After h0 < 4, b0 > 1 eventually holds.
Globally, it is always the case that if c0 > 5 holds and is succeeded by c0 < 0, then o2 >= 1 eventually holds after c0 < 0 .
After h0 <= 7 until m2 <= 4, it is always the case that u0 > 5 holds.
After a2 > 5, it is always the case that n0 < 2 holds.
Between o2 <= 5 and y0 > 4, it is always the case that if f2 <= 2 holds and is succeeded by j1 < 0, then k0 > 5 previously held.
Before f2 > 3, it is always the case that if b2 <= 7 holds and is succeeded by w0 <= 1, then n0 < 1 previously held.
Between u1 = 7 and m0 <= 6, it is always the case that if t1 > 4 holds, then l0 >= 3 eventually holds.
Before c1 <= 1, it is always the case that if l1 < 7 holds and is succeeded by f0 > 4, then c1 <= 7 previously held.
Between p2 >= 0 and z2 > 0, it is always the case that if a0 < 7 holds, then i0 = 4 eventually holds.
After w2 > 4 until z0 <= 3, it is always the case that if m2 > 4 holds and is succeeded by a2 <= 2, then p0 <= 5 eventually holds after a2 <= 2 .
Globally, it is always the case that if s0 <= 6 holds, then r0 = 2 previously held and was preceded by l0 <= 1 .
After a3 < 1, it is always the case that if m2 > 2 holds, then m1 <= 5 eventually holds.
Between q0 >= 7 and f0 > 6, it is always the case that if o2 >= 3 holds, then y1 <= 2 eventually holds and is succeeded by q2 < 3, where t0 <= 0 does not hold between y1 <= 2 and q2 < 3 .
After c2 <= 4 until a0 <= 2, w1 < 6 eventually holds.
Between z1 >= 0 and j2 >= 4, q1 >= 2 eventually holds.
Before k0 >= 2, it is always the case that if l2 > 4 holds, then s2 <= 5 eventually holds and is succeeded by q1 <= 5, where z0 <= 0 does not hold between s2 <= 5 and q1 <= 5 .
Before i1 <= 2, it is always the case that a2 = 6 holds.
Globally, it is always the case that if b1 >= 3 holds, then z0 >= 2 previously held.
Before r0 <= 7, it is always the case that if y1 <= 1 holds and is succeeded by c2 >= 2, then a1 < 7 previously held.
Before u2 < 6, it is always the case that if x0 < 4 holds, then g2 <= 0 previously held.
Globally, it is always the case that if m2 < 0 holds, then g0 > 2 previously held.
After g2 <= 6 until s2 <= 4, it is always the case that if a2 > 3 holds, then j1 >= 1 previously held.
Globally, it is always the case that if f2 >= 4 holds, then z0 >= 5 eventually holds and is succeeded by f1 > 7, where y2 <= 3 does not hold between z0 >= 5 and f1 > 7 .
After u2 = 0 until f1 > 3, it is always the case that if t2 <= 5 holds, then k1 = 5 eventually holds.
Before n2 < 1, it is always the case that if x0 > 6 holds and is succeeded by x1 >= 6, then e0 <= 6 previously held.
After c1 = 2, it is always the case that if w0 < 5 holds, then o2 >= 5 eventually holds and is succeeded by k0 = 6 .
After j2 < 3, it is always the case that if b2 < 4 holds, then u0 <= 3 eventually holds.
After y2 < 1 until k2 = 7, it is always the case that l2 <= 4 holds.
After d0 > 6, it is always the case that e2 <= 5 holds.
After u1 > 2 until f0 > 4, it is always the case that if k2 < 6 holds, then i1 >= 2 eventually holds and is succeeded by f2 <= 1 .
Before w1 < 0, it is always the case that if n1 <= 5 holds and is succeeded by b0 = 1, then o0 <= 4 previously held.
Between g1 = 3 and t0 < 3, it is always the case that if r2 <= 7 holds and is succeeded by s2 >= 4, then m0 >= 7 eventually holds after s2 >= 4 .
Globally, it is always the case that if x1 < 7 holds, then q2 > 5 previously held.
Before p2 >= 2, it is always the case that if s2 < 4 holds, then f1 >= 5 previously held and was preceded by v1 >= 4 .
Before a1 <= 0, it is always the case that if s2 <= 7 holds and is succeeded by h0 = 1, then r0 < 2 previously held.
Globally, it is always the case that if b0 >= 7 holds and is succeeded by u1 <= 2, then b1 <= 3 previously held.
Between x0 > 1 and x0 <= 6, it is always the case that if w1 = 7 holds and is succeeded by b1 < 2, then t2 < 6 previously held.
Between i0 = 1 and c1 = 7, it is always the case that if n0 <= 4 holds, then w0 = 7 eventually holds.
Between l1 <= 5 and c2 <= 4, s1 > 4 eventually holds.
After x2 >= 0 until t1 >= 6, it is always the case that if k0 < 1 holds, then l1 < 2 eventually holds and is succeeded by w2 = 5, where g1 > 5 does not hold between l1 < 2 and w2 = 5 .
After f2 < 3, it is always the case that c2 > 4 holds.
Before d2 = 5, it is always the case that if k1 > 3 holds and is succeeded by q1 > 3, then w0 > 2 eventually holds after q1 > 3 .
After h0 >= 6 until o1 >= 3, it is always the case that if t0 < 5 holds, then v1 >= 3 eventually holds.
After v2 >= 6, it is always the case that t0 < 4 holds.
After l2 <= 1 until n0 = 6, it is always the case that if p0 >= 0 holds, then f0 = 6 previously held.
Between o0 = 0 and r2 >= 2, it is always the case that if k2 >= 2 holds, then k2 <= 4 eventually holds.
Between n0 < 5 and i0 <= 1, it is never the case that z0 > 6 holds.
After g1 <= 6 until u0 > 4, it is always the case that if o0 = 2 holds, then t1 >= 1 previously held.
After q0 > 0, it is always the case that p2 = 5 holds.
Before b2 = 4, it is always the case that if e0 >= 3 holds, then x2 < 7 eventually holds and is succeeded by s0 >= 0, where y2 = 7 does not hold between x2 < 7 and s0 >= 0 .
Before h1 < 7, it is always the case that if x0 >= 5 holds and is succeeded by e1 >= 4, then v0 >= 2 eventually holds after e1 >= 4 .
Before t0 < 3, it is always the case that if m0 <= 6 holds, then j0 >= 2 previously held.
Before i0 >= 3, it is always the case that if o2 > 7 holds, then t0 >= 2 previously held.
After m2 <= 7 until t0 >= 7, it is always the case that if u0 > 7 holds, then f1 <= 1 previously held.
After j1 >= 7 until m2 > 2, it is always the case that if k0 = 7 holds, then b0 < 5 previously held.
After v2 < 5, it is always the case that w2 < 4 holds.
Between h0 = 0 and w0 = 1, it is always the case that if g0 >= 5 holds, then s2 < 3 eventually holds.
Globally, it is never the case that a3 <= 7 holds.
After p0 > 5, it is always the case that if s2 <= 4 holds and is succeeded by g0 < 2, then k2 < 1 eventually holds after g0 < 2 .
Between i2 >= 1 and i0 < 5, it is always the case that if n2 = 6 holds, then c2 > 1 previously held and was preceded by g1 <= 0 .
After k0 <= 2, it is always the case that if t2 > 2 holds, then n0 <= 2 eventually holds.
Before w2 < 2, it is always the case that e2 < 7 holds.
After x0 = 5, it is always the case that p2 <= 5 holds.
Between c1 < 2 and p2 <= 0, it is always the case that if j2 < 4 holds, then y0 > 7 eventually holds and is succeeded by r0 <= 7, where p2 < 1 does not hold between y0 > 7 and r0 <= 7 .
Globally, it is always the case that if g1 >= 7 holds and is succeeded by j1 <= 3, then o0 = 1 eventually holds after j1 <= 3 .
Globally, it is always the case that if p2 >= 6 holds and is succeeded by b2 > 0, then m0 = 7 previously held.
After k0 > 6 until u1 > 5, it is never the case that p1 = 7 holds.
After t1 > 6, it is always the case that if t1 > 6 holds, then g2 <= 2 eventually holds and is succeeded by m1 < 7 .
Before h0 > 1, it is always the case that if q2 < 6 holds, then l1 >= 5 previously held and was preceded by s0 > 2 .
Globally, k1 <= 2 eventually holds.
After h2 >= 0 until u1 >= 4, it is always the case that if s2 > 0 holds, then w1 > 3 eventually holds.
Globally, l2 < 4 eventually holds.
After w1 >= 4 until n1 = 5, it is always the case that if r1 = 3 holds, then x0 = 3 eventually holds and is succeeded by o2 > 6 .
Between p2 > 6 and b0 = 7, it is always the case that if e1 = 6 holds, then s1 = 7 eventually holds and is succeeded by j1 = 3, where z0 > 1 does not hold between s1 = 7 and j1 = 3 .
Globally, g2 = 0 eventually holds.
Globally, it is always the case that if v2 = 7 holds, then m2 < 6 eventually holds.
After p0 = 1, it is always the case that if e0 > 7 holds and is succeeded by b1 >= 6, then a0 = 1 eventually holds after b1 >= 6 .
Globally, it is always the case that if d2 <= 6 holds and is succeeded by d0 > 7, then s0 = 4 previously held.
After c1 > 5, it is always the case that if i2 >= 7 holds, then e0 <= 7 previously held.
After u2 < 4, it is always the case that if g2 < 0 holds and is succeeded by z0 > 5, then q2 > 1 eventually holds after z0 > 5 .
After p2 <= 5 until q0 > 6, it is always the case that x2 < 2 holds.
Before r0 = 1, it is always the case that if s2 >= 4 holds and is succeeded by c1 < 4, then x1 <= 6 eventually holds after c1 < 4 .
Globally, it is always the case that if a1 > 0 holds and is succeeded by a1 < 0, then f0 = 3 previously held.
Between d0 > 0 and d0 = 3, it is always the case that if k1 = 6 holds, then e2 <= 3 eventually holds and is succeeded by n1 > 3, where m1 > 0 does not hold between e2 <= 3 and n1 > 3 .
Between u1 > 4 and h2 >= 0, it is always the case that if q1 < 0 holds, then k0 >= 6 eventually holds and is succeeded by w0 = 3 .
After d1 > 2, it is always the case that o0 < 3 holds.
Globally, it is always the case that r0 > 5 holds.
After z1 <= 2, z1 = 4 eventually holds.
Globally, it is always the case that if s1 > 6 holds and is succeeded by h2 < 2, then q1 >= 7 previously held.
Globally, it is always the case that if k1 < 3 holds, then e1 > 6 previously held.
After h1 = 7 until d1 = 4, it is always the case that if d2 = 7 holds, then e0 < 3 eventually holds.
After m0 >= 0 until f1 > 4, it is always the case that if h1 >= 7 holds, then h1 = 3 eventually holds and is succeeded by b2 <= 5 .
After z1 > 7 until v1 >= 5, it is always the case that if j2 > 4 holds and is succeeded by s0 >= 0, then c2 >= 5 previously held.
Before w1 <= 0, it is always the case that if a2 = 6 holds, then q2 > 4 eventually holds and is succeeded by f0 < 6, where x0 < 2 does not hold between q2 > 4 and f0 < 6 .
After s0 >= 4 until y1 <= 1, it is always the case that if y2 = 7 holds and is succeeded by a2 = 1, then n1 < 5 eventually holds after a2 = 1 .
Before v2 <= 2, it is always the case that if n1 <= 2 holds, then s2 >= 7 previously held and was preceded by e2 >= 4 .
Between y0 > 3 and q0 >= 6, it is never the case that z1 = 2 holds.
Before p2 < 5, it is always the case that if y1 < 1 holds and is succeeded by x2 <= 5, then s0 <= 4 eventually holds after x2 <= 5 .
After u0 > 7, it is always the case that if e1 < 0 holds, then o0 >= 0 eventually holds and is succeeded by r0 <= 1, where y2 >= 0 does not hold between o0 >= 0 and r0 <= 1 .
After q0 > 7 until e1 <= 5, it is never the case that f2 >= 1 holds.
Globally, v0 > 0 eventually holds.
Before y2 < 3, it is always the case that if a1 >= 7 holds and is succeeded by i1 = 1, then i2 <= 5 eventually holds after i1 = 1 .
Globally, it is always the case that if b0 < 6 holds and is succeeded by b1 < 0, then v0 < 2 eventually holds after b1 < 0 .
After b0 > 0 until a1 < 2, it is always the case that if y1 = 2 holds, then p1 < 4 previously held.
After g2 >= 0 until l2 < 4, it is always the case that if f2 > 1 holds, then b0 <= 5 eventually holds and is succeeded by v2 = 7 .
Between k2 = 1 and v1 >= 2, it is never the case that u1 > 6 holds.
Between w0 >= 7 and g0 < 5, it is always the case that if c2 > 4 holds, then t0 < 4 eventually holds and is succeeded by d2 >= 0 .
Before c0 <= 6, it is always the case that if s2 = 4 holds, then a0 > 4 eventually holds and is succeeded by s0 < 1, where r2 > 1 does not hold between a0 > 4 and s0 < 1 .
Before d1 > 4, it is always the case that x2 > 3 holds.
Globally, w0 <= 3 eventually holds.
Before k0 = 5, j2 < 7 eventually holds.
After i0 >= 6 until b2 > 0, it is always the case that i1 > 2 holds.
Between f2 > 7 and q1 = 3, v0 = 6 eventually holds.
Before k1 > 7, it is always the case that if l2 <= 3 holds, then b2 < 6 previously held and was preceded by w2 < 3 .
After j1 < 4, it is always the case that if x1 = 7 holds, then a1 = 1 previously held and was preceded by k0 < 7 .
Before m1 <= 3, it is always the case that if v2 > 5 holds, then z0 = 7 eventually holds.
Before p0 >= 6, it is always the case that if y1 < 7 holds, then r2 <= 0 previously held and was preceded by r1 > 7 .
After g0 > 7 until q2 >= 4, it is always the case that if t1 < 3 holds, then v1 <= 6 eventually holds and is succeeded by b1 < 3, where d0 = 1 does not hold between v1 <= 6 and b1 < 3 .
After y0 > 3, it is always the case that if b0 = 6 holds, then n2 < 5 previously held and was preceded by c1 > 0 .
Before w2 < 4, it is always the case that if r0 < 0 holds, then k1 <= 5 previously held and was preceded by n2 >= 3 .
After i1 <= 6 until i2 <= 7, it is always the case that if e2 >= 1 holds, then z2 >= 4 previously held and was preceded by c0 > 2 .
After u0 <= 7 until a2 < 4, it is always the case that m2 > 3 holds.
Globally, it is always the case that j1 < 4 holds.
Between t2 > 0 and g0 <= 0, it is always the case that if v1 > 1 holds, then g2 = 0 previously held.
After b1 >= 6 until q1 = 7, it is always the case that if j0 >= 2 holds, then q2 <= 3 previously held and was preceded by a1 < 3 .
Between b2 <= 6 and m0 >= 0, it is never the case that f2 >= 7 holds.
Between u2 = 6 and s1 < 2, it is always the case that if x0 > 3 holds and is succeeded by r2 > 2, then g1 < 4 eventually holds after r2 > 2 .
Before d0 < 4, it is always the case that if k2 >= 6 holds, then n0 > 4 eventually holds.
After z2 < 4 until o0 <= 1, it is always the case that v1 < 0 holds.
After y2 = 6 until u0 <= 3, it is always the case that if j1 <= 0 holds, then y1 >= 3 eventually holds.
Globally, p1 > 1 eventually holds.
Between g0 = 2 and m1 > 0, it is always the case that if t0 < 0 holds, then a0 > 2 eventually holds and is succeeded by a0 > 5 .
Globally, it is always the case that if m2 = 4 holds, then v2 >= 6 previously held.
Before k1 <= 7, it is always the case that if c1 < 5 holds, then v2 < 5 previously held.
Between j2 > 6 and e2 > 2, it is always the case that if y1 < 7 holds, then y0 > 4 eventually holds.
Between x0 > 7 and i2 > 2, it is always the case that o0 >= 1 holds.
Before s0 = 4, z1 = 2 eventually holds.
Between k2 = 6 and p2 < 6, k2 > 6 eventually holds.
After j2 < 2, it is always the case that if b0 >= 5 holds, then a3 < 3 previously held and was preceded by e1 = 6 .
After g0 = 6, it is always the case that if e2 < 5 holds and is succeeded by o0 >= 4, then x0 >= 1 eventually holds after o0 >= 4 .
Between h2 < 3 and e0 >= 1, it is always the case that if a1 < 1 holds, then x2 < 3 previously held and was preceded by m1 <= 1 .
Globally, it is always the case that if c2 > 4 holds, then k1 < 2 eventually holds and is succeeded by n0 > 1 .
Globally, it is always the case that b0 = 2 holds.
Before j1 = 6, it is always the case that if x0 < 6 holds, then s0 < 3 previously held.
Before a3 >= 2, it is always the case that if k0 <= 7 holds and is succeeded by n2 = 7, then e1 > 4 previously held.
Globally, it is always the case that if s2 < 0 holds, then o2 > 2 eventually holds and is succeeded by e2 <= 0, where o0 >= 2 does not hold between o2 > 2 and e2 <= 0 .
