Before i0 = 14, it is always the case that if q0 < 3 holds and is succeeded by h0 < 8, then o0 = 2 previously held.
Before i0 <= 1, it is always the case that if g0 < 11 holds, then n0 >= 4 eventually holds and is succeeded by n0 > 1 .
Between c0 = 12 and c0 <= 9, k0 >= 15 eventually holds.
Between d0 < 15 and i0 >= 3, it is always the case that o0 = 9 holds.
Between b0 >= 9 and l0 <= 15, it is always the case that if h0 < 9 holds, then j0 >= 0 eventually holds and is succeeded by m0 >= 2 .
Between f0 <= 10 and l0 < 12, i0 < 1 eventually holds.
After g0 = 6 until o0 > 14, it is always the case that if j0 = 6 holds, then p0 <= 14 eventually holds and is succeeded by p0 <= 9, where d0 > 3 does not hold between p0 <= 14 and p0 <= 9 .
Between c0 = 3 and j0 <= 15, it is always the case that if f0 <= 10 holds and is succeeded by a0 > 10, then c0 > 9 eventually holds after a0 > 10 .
Before f0 > 1, it is always the case that if i0 <= 6 holds and is succeeded by j0 >= 10, then b0 >= 4 previously held.
Before s0 >= 4, it is always the case that if b0 > 9 holds and is succeeded by l0 < 12, then m0 > 7 previously held.
Between h0 > 7 and l0 > 12, it is always the case that if e0 <= 13 holds, then i0 < 3 previously held.
Between g0 < 8 and i0 = 12, it is never the case that o0 < 13 holds.
Before g0 < 5, it is always the case that g0 >= 1 holds.
Between s0 <= 8 and h0 < 6, it is always the case that m0 > 12 holds.
After b0 < 8 until o0 < 0, it is always the case that if r0 < 2 holds, then n0 > 8 previously held.
After k0 >= 14, it is always the case that if g0 = 1 holds, then h0 >= 5 previously held and was preceded by b0 <= 12 .
After k0 = 14, it is always the case that if b0 < 3 holds, then g0 <= 0 eventually holds and is succeeded by c0 >= 0, where r0 = 13 does not hold between g0 <= 0 and c0 >= 0 .
Before s0 < 4, it is always the case that r0 > 5 holds.
Before o0 >= 9, it is always the case that if l0 <= 13 holds and is succeeded by a0 >= 7, then m0 > 9 previously held.
Between d0 = 5 and c0 <= 6, it is always the case that if i0 <= 9 holds, then l0 < 14 eventually holds and is succeeded by m0 = 6 .
Between e0 >= 2 and e0 > 10, it is always the case that if l0 <= 13 holds and is succeeded by r0 > 3, then m0 >= 14 previously held.
Globally, it is always the case that if g0 = 6 holds and is succeeded by a0 <= 6, then k0 >= 9 previously held.
Before b0 >= 1, it is always the case that if q0 >= 6 holds, then j0 <= 9 eventually holds and is succeeded by h0 = 10, where q0 < 1 does not hold between j0 <= 9 and h0 = 10 .
After s0 <= 11 until j0 > 5, it is never the case that c0 <= 8 holds.
Between j0 <= 11 and a0 <= 2, it is never the case that a0 < 4 holds.
After b0 > 2 until m0 >= 10, it is always the case that if m0 > 4 holds and is succeeded by f0 > 3, then l0 <= 12 previously held.
Globally, d0 < 15 eventually holds.
After s0 = 10 until c0 = 2, h0 = 11 eventually holds.
After c0 = 12 until r0 <= 13, f0 = 12 eventually holds.
Globally, i0 > 7 eventually holds.
Before i0 >= 11, it is never the case that g0 = 1 holds.
Between l0 >= 3 and g0 >= 14, a0 <= 13 eventually holds.
Before o0 > 5, it is always the case that if e0 < 1 holds, then f0 <= 15 eventually holds.
Globally, it is always the case that if n0 = 6 holds and is succeeded by d0 <= 0, then r0 >= 7 previously held.
Between i0 = 8 and q0 < 2, it is always the case that if f0 >= 8 holds, then q0 >= 12 eventually holds.
After q0 <= 6, it is always the case that if r0 > 10 holds, then a0 <= 4 previously held.
After n0 >= 5 until a0 <= 9, it is always the case that if l0 < 11 holds, then l0 <= 1 eventually holds.
Before c0 < 7, it is always the case that if p0 <= 5 holds and is succeeded by i0 >= 7, then r0 > 7 previously held.
Between f0 < 2 and o0 = 2, m0 >= 12 eventually holds.
After a0 > 6, it is always the case that if b0 = 6 holds, then d0 < 15 eventually holds and is succeeded by n0 = 15 .
Before r0 <= 2, it is always the case that if a0 < 13 holds, then q0 > 1 eventually holds and is succeeded by m0 > 9, where c0 < 13 does not hold between q0 > 1 and m0 > 9 .
Globally, it is always the case that if a0 = 5 holds, then j0 <= 10 previously held.
Globally, m0 = 14 eventually holds.
Before q0 < 1, it is always the case that s0 <= 8 holds.
Before i0 < 3, it is always the case that if l0 < 10 holds, then n0 > 0 eventually holds and is succeeded by b0 > 12 .
After g0 <= 13 until n0 < 4, it is always the case that if q0 <= 2 holds, then f0 = 15 previously held.
Globally, it is always the case that q0 >= 15 holds.
After d0 > 9, it is always the case that if s0 > 10 holds, then j0 < 15 previously held and was preceded by r0 >= 2 .
After a0 > 4, it is always the case that q0 <= 6 holds.
Between l0 > 8 and r0 = 12, it is never the case that m0 = 11 holds.
Between c0 >= 7 and h0 > 12, it is always the case that if c0 > 10 holds, then r0 <= 10 previously held and was preceded by b0 > 6 .
Between l0 < 15 and f0 > 9, it is never the case that m0 <= 1 holds.
Before c0 >= 8, it is always the case that if c0 >= 8 holds, then l0 <= 7 eventually holds and is succeeded by l0 > 12 .
After n0 <= 12, e0 = 9 eventually holds.
Between h0 < 7 and q0 <= 4, f0 = 2 eventually holds.
Between g0 < 9 and a0 < 10, it is always the case that if r0 < 0 holds, then e0 <= 14 eventually holds and is succeeded by b0 <= 1, where o0 = 6 does not hold between e0 <= 14 and b0 <= 1 .
After f0 = 11 until k0 = 12, it is always the case that if f0 = 15 holds, then f0 = 2 eventually holds and is succeeded by q0 < 12, where f0 >= 2 does not hold between f0 = 2 and q0 < 12 .
Globally, it is always the case that if s0 <= 0 holds and is succeeded by g0 <= 3, then s0 <= 13 eventually holds after g0 <= 3 .
After b0 >= 15 until n0 = 3, it is always the case that b0 >= 10 holds.
Before d0 <= 12, it is always the case that if p0 > 9 holds, then i0 >= 7 previously held and was preceded by d0 <= 0 .
Globally, it is always the case that if l0 <= 10 holds, then c0 = 2 eventually holds.
Before c0 < 2, it is always the case that if c0 > 5 holds, then c0 = 12 eventually holds and is succeeded by h0 >= 6 .
Before k0 > 14, it is always the case that if s0 >= 15 holds, then a0 >= 2 eventually holds and is succeeded by k0 <= 7 .
Globally, m0 >= 0 eventually holds.
Before g0 < 14, p0 >= 4 eventually holds.
After o0 > 2 until a0 < 7, o0 = 3 eventually holds.
After d0 <= 4 until a0 = 2, it is always the case that if k0 = 6 holds, then d0 > 0 previously held.
Between k0 >= 14 and i0 <= 15, i0 >= 9 eventually holds.
After h0 <= 12, it is always the case that g0 = 14 holds.
Before s0 >= 1, m0 = 2 eventually holds.
After k0 < 14, it is always the case that if j0 < 11 holds, then f0 < 8 eventually holds and is succeeded by f0 <= 9 .
Between e0 = 13 and s0 <= 3, it is always the case that l0 > 5 holds.
Before p0 <= 13, it is always the case that if o0 >= 0 holds and is succeeded by n0 <= 15, then g0 = 10 eventually holds after n0 <= 15 .
Before h0 < 10, it is always the case that if k0 = 13 holds and is succeeded by p0 <= 0, then a0 <= 11 eventually holds after p0 <= 0 .
Between i0 <= 2 and p0 < 15, it is always the case that o0 <= 3 holds.
After o0 <= 8, it is always the case that b0 >= 3 holds.
After o0 = 13, it is always the case that if q0 <= 3 holds and is succeeded by i0 >= 9, then m0 <= 10 eventually holds after i0 >= 9 .
After h0 <= 14, it is always the case that if s0 >= 1 holds, then l0 < 15 previously held.
Before g0 >= 5, it is always the case that if q0 = 10 holds, then b0 = 14 eventually holds and is succeeded by s0 >= 5 .
After k0 = 0, it is always the case that d0 <= 7 holds.
After h0 <= 3, it is always the case that if s0 > 8 holds, then a0 >= 11 eventually holds and is succeeded by o0 < 8 .
Before p0 >= 9, b0 < 7 eventually holds.
Globally, it is always the case that k0 < 1 holds.
Globally, it is never the case that e0 >= 15 holds.
Globally, it is always the case that if d0 = 13 holds, then j0 = 2 previously held.
Between h0 > 2 and j0 <= 10, h0 > 6 eventually holds.
Before f0 < 13, it is always the case that if l0 > 13 holds, then k0 > 1 eventually holds and is succeeded by k0 > 2, where q0 <= 7 does not hold between k0 > 1 and k0 > 2 .
After k0 > 0 until a0 < 12, it is always the case that if i0 >= 14 holds, then s0 >= 7 eventually holds.
After c0 <= 6 until h0 < 8, it is always the case that if q0 >= 14 holds and is succeeded by n0 < 4, then s0 <= 12 previously held.
After d0 > 10 until r0 >= 14, it is always the case that if m0 > 6 holds, then c0 >= 9 previously held and was preceded by r0 < 3 .
Globally, it is always the case that if i0 = 9 holds and is succeeded by j0 <= 5, then g0 <= 1 eventually holds after j0 <= 5 .
After r0 = 10 until o0 < 4, k0 > 14 eventually holds.
After a0 <= 5 until p0 > 4, it is always the case that if d0 = 12 holds and is succeeded by h0 < 5, then n0 >= 10 eventually holds after h0 < 5 .
After q0 < 9, it is always the case that if g0 >= 1 holds, then o0 > 6 previously held.
After m0 = 15, d0 >= 2 eventually holds.
Globally, it is always the case that if f0 > 5 holds and is succeeded by f0 <= 3, then m0 > 10 eventually holds after f0 <= 3 .
Before d0 <= 10, d0 > 13 eventually holds.
Between n0 <= 12 and k0 > 3, it is always the case that if k0 > 13 holds, then a0 = 4 eventually holds.
Globally, it is always the case that if m0 = 2 holds, then l0 >= 11 previously held.
Globally, it is always the case that if j0 <= 4 holds, then l0 = 7 eventually holds and is succeeded by e0 < 11, where r0 = 11 does not hold between l0 = 7 and e0 < 11 .
Between m0 <= 11 and b0 >= 9, it is always the case that e0 < 5 holds.
Before s0 >= 8, it is always the case that if e0 <= 11 holds, then n0 < 7 previously held and was preceded by n0 < 7 .
Before d0 < 10, c0 >= 6 eventually holds.
After e0 > 15, it is always the case that if i0 >= 11 holds, then q0 <= 1 previously held and was preceded by p0 > 5 .
Before p0 = 14, it is never the case that a0 < 11 holds.
Before c0 = 0, n0 <= 3 eventually holds.
Between c0 < 12 and q0 = 0, it is always the case that if b0 <= 15 holds, then l0 < 1 eventually holds and is succeeded by e0 = 0, where f0 > 9 does not hold between l0 < 1 and e0 = 0 .
Globally, it is always the case that if f0 <= 4 holds and is succeeded by g0 <= 6, then p0 < 1 eventually holds after g0 <= 6 .
Between o0 > 3 and i0 <= 8, it is never the case that o0 = 3 holds.
After c0 < 3 until h0 <= 2, it is always the case that g0 = 6 holds.
After c0 <= 13 until c0 <= 0, it is always the case that if r0 > 7 holds, then i0 = 7 eventually holds and is succeeded by o0 >= 5 .
Between n0 = 3 and c0 > 8, r0 <= 10 eventually holds.
After j0 <= 8 until q0 = 12, it is always the case that if r0 < 7 holds, then r0 >= 6 previously held and was preceded by c0 = 2 .
Between r0 <= 13 and e0 <= 13, it is never the case that b0 > 13 holds.
Between f0 = 9 and q0 > 15, it is always the case that if l0 > 7 holds, then e0 >= 13 eventually holds and is succeeded by i0 < 8, where h0 >= 7 does not hold between e0 >= 13 and i0 < 8 .
After l0 < 0, it is always the case that if h0 < 8 holds, then p0 < 11 previously held.
Before l0 <= 14, it is always the case that if g0 <= 15 holds, then o0 > 10 eventually holds and is succeeded by j0 <= 15, where j0 >= 3 does not hold between o0 > 10 and j0 <= 15 .
After p0 < 1, it is always the case that if m0 >= 1 holds and is succeeded by r0 = 4, then j0 > 11 previously held.
After l0 > 13, it is always the case that if i0 < 4 holds, then g0 >= 11 eventually holds.
Before h0 < 12, a0 <= 7 eventually holds.
