Between y2 < 0 and m1 < 5, it is always the case that c1 = 10 holds.
Between m0 < 17 and t2 = 27, it is never the case that v0 >= 7 holds.
After r2 >= 4, it is always the case that if w5 < 27 holds, then g5 > 1 eventually holds.
Globally, it is always the case that if h5 <= 22 holds, then b6 = 5 eventually holds and is succeeded by q0 < 8, where d4 < 26 does not hold between b6 = 5 and q0 < 8 .
After x0 = 0, it is always the case that if j1 = 27 holds, then h0 = 30 eventually holds and is succeeded by m0 >= 7 .
Before g3 = 11, it is always the case that if n5 > 31 holds, then i2 >= 13 previously held.
Between q3 > 1 and o5 <= 10, it is always the case that if v0 > 27 holds, then p3 <= 1 previously held.
Globally, it is always the case that if o5 <= 20 holds and is succeeded by r2 < 29, then l1 < 23 eventually holds after r2 < 29 .
Globally, it is never the case that w1 < 15 holds.
Globally, it is never the case that l2 <= 19 holds.
Globally, it is always the case that if w0 < 27 holds, then e5 <= 14 previously held.
After r5 > 7 until y4 > 18, it is always the case that if r0 <= 15 holds, then d4 > 9 eventually holds and is succeeded by h4 > 19 .
Before e4 >= 20, it is always the case that if b0 = 23 holds, then m0 < 8 eventually holds and is succeeded by y1 > 2 .
After o0 < 0 until q4 >= 27, it is always the case that if i3 < 9 holds, then d1 < 31 previously held.
After e4 = 22, it is always the case that if b1 = 14 holds, then y5 = 29 eventually holds and is succeeded by z1 = 28 .
After b4 < 30 until b4 <= 10, it is never the case that u0 > 19 holds.
After y1 = 0, it is always the case that if d5 >= 1 holds, then f1 <= 18 eventually holds and is succeeded by s3 <= 22, where h5 <= 11 does not hold between f1 <= 18 and s3 <= 22 .
Globally, it is always the case that if z4 <= 25 holds, then o5 >= 0 previously held.
Globally, it is never the case that m3 >= 13 holds.
Between q1 <= 24 and k2 = 16, it is always the case that if p1 < 14 holds and is succeeded by z3 < 9, then o3 <= 18 eventually holds after z3 < 9 .
Between k5 > 21 and k5 > 10, it is always the case that if d1 > 8 holds, then s5 > 28 eventually holds and is succeeded by u0 > 27 .
Before e3 > 25, it is always the case that if t2 < 28 holds, then m0 <= 2 eventually holds and is succeeded by d1 <= 16 .
After o2 = 28, it is always the case that if v5 >= 30 holds, then i5 >= 29 previously held and was preceded by m0 <= 12 .
After h4 <= 6, it is always the case that if d4 <= 20 holds and is succeeded by y1 > 7, then t5 < 29 previously held.
After g0 > 28 until w0 > 12, it is always the case that if r2 = 28 holds, then j0 < 10 eventually holds.
Before a6 = 19, it is always the case that if d2 >= 26 holds and is succeeded by w2 >= 29, then c1 >= 14 eventually holds after w2 >= 29 .
After n3 > 17, it is always the case that h0 > 30 holds.
After c3 >= 18, it is always the case that if g1 < 4 holds and is succeeded by a1 = 5, then t1 >= 0 eventually holds after a1 = 5 .
Between z4 >= 11 and m0 < 4, it is never the case that r5 < 16 holds.
Globally, it is never the case that j5 <= 4 holds.
After v0 >= 21, it is always the case that w4 <= 30 holds.
Before y3 > 21, it is always the case that if b1 >= 23 holds, then p0 >= 8 eventually holds and is succeeded by r5 <= 1, where g1 < 3 does not hold between p0 >= 8 and r5 <= 1 .
After j2 <= 9, it is always the case that if l4 >= 2 holds, then y5 <= 1 previously held.
Between k4 <= 4 and v1 >= 20, it is always the case that if s5 >= 0 holds and is succeeded by h0 >= 16, then z4 = 4 previously held.
After q5 >= 17, e1 = 21 eventually holds.
Globally, it is always the case that if f5 < 7 holds, then b5 = 5 previously held.
After b5 >= 5 until w5 <= 30, it is always the case that if a0 < 21 holds and is succeeded by y1 < 11, then y4 >= 8 previously held.
After g1 >= 6, it is always the case that if v2 = 13 holds, then y3 = 3 eventually holds and is succeeded by j1 > 27, where h1 > 18 does not hold between y3 = 3 and j1 > 27 .
Globally, it is never the case that j2 <= 24 holds.
After b2 < 31, it is always the case that if v5 = 22 holds, then y2 >= 15 eventually holds and is succeeded by y0 > 26, where n5 <= 14 does not hold between y2 >= 15 and y0 > 26 .
Before b1 < 12, it is always the case that if n3 = 1 holds, then w0 = 18 eventually holds and is succeeded by c2 <= 6, where t4 < 7 does not hold between w0 = 18 and c2 <= 6 .
After b4 <= 11 until n4 <= 19, it is always the case that if y0 = 26 holds and is succeeded by a2 > 11, then r4 > 28 previously held.
After b6 > 20, it is always the case that g0 >= 11 holds.
Before e5 = 23, it is always the case that if v1 < 28 holds, then z1 < 2 eventually holds and is succeeded by i2 >= 28, where s0 < 29 does not hold between z1 < 2 and i2 >= 28 .
After x1 <= 5, it is always the case that if b1 >= 5 holds, then d2 >= 18 previously held and was preceded by n4 > 12 .
After i2 = 7, p0 < 31 eventually holds.
Globally, it is always the case that if v2 <= 29 holds and is succeeded by n3 < 24, then p4 >= 12 eventually holds after n3 < 24 .
Globally, it is always the case that if o4 = 10 holds, then y3 >= 7 eventually holds and is succeeded by k3 >= 7 .
Globally, it is never the case that n4 < 9 holds.
Before z2 > 12, it is always the case that if q5 = 6 holds, then t1 > 23 previously held and was preceded by y4 <= 8 .
After w3 = 14 until r0 > 15, it is always the case that if i0 > 4 holds, then l1 <= 18 eventually holds and is succeeded by z3 > 15 .
After m4 = 2, it is always the case that if b1 = 0 holds, then z5 <= 3 eventually holds.
After o0 >= 12, c6 <= 26 eventually holds.
After l5 < 7, it is always the case that if w3 <= 4 holds, then b3 = 14 eventually holds.
After a2 = 20, it is always the case that if b4 <= 11 holds, then q1 >= 2 previously held.
Between a3 = 0 and a6 < 30, i0 <= 9 eventually holds.
After q4 < 18 until f0 < 16, it is always the case that if g0 < 14 holds, then d3 = 19 eventually holds.
Globally, it is always the case that if p1 >= 29 holds, then o4 >= 28 eventually holds and is succeeded by w1 > 23, where m0 = 28 does not hold between o4 >= 28 and w1 > 23 .
Globally, it is always the case that if c6 < 23 holds, then x0 > 3 eventually holds and is succeeded by l2 = 22, where a3 = 6 does not hold between x0 > 3 and l2 = 22 .
After l0 >= 6 until g2 > 4, it is always the case that w4 = 20 holds.
Globally, it is always the case that a1 > 15 holds.
Between w3 = 0 and i4 <= 25, it is always the case that if j2 > 6 holds and is succeeded by t0 >= 5, then x2 = 28 previously held.
Between r5 < 15 and v2 >= 18, it is always the case that if y0 >= 3 holds and is succeeded by g4 = 20, then h0 <= 5 previously held.
After i4 <= 30, it is never the case that b1 > 26 holds.
Before n3 > 26, it is always the case that if s1 > 24 holds, then j4 < 23 previously held.
Globally, p3 > 5 eventually holds.
Globally, it is always the case that if q5 > 3 holds and is succeeded by j3 < 7, then p4 < 18 eventually holds after j3 < 7 .
After r2 > 14 until a4 > 8, it is always the case that if a4 >= 30 holds and is succeeded by l2 <= 22, then h0 = 29 previously held.
Between q2 <= 6 and a6 > 2, it is always the case that if z3 >= 10 holds and is succeeded by r0 = 29, then w4 = 16 previously held.
After k1 >= 12, it is always the case that if y4 <= 25 holds, then c1 <= 14 previously held.
After s4 = 14, it is always the case that t4 <= 25 holds.
After t2 = 15, it is always the case that if y2 < 18 holds, then h2 < 7 eventually holds and is succeeded by y2 = 27 .
After l0 >= 0 until e5 >= 2, it is always the case that if k4 = 1 holds, then x1 <= 29 eventually holds.
Before k1 >= 18, it is always the case that if m1 > 14 holds, then e2 >= 15 eventually holds.
Before y3 >= 4, y4 = 12 eventually holds.
Before x0 >= 0, it is always the case that if u1 = 19 holds, then v2 > 12 previously held and was preceded by u4 < 23 .
After o1 <= 30 until f5 > 30, it is never the case that p0 <= 13 holds.
Between j5 = 17 and b5 < 4, it is always the case that if d4 = 3 holds, then p5 <= 10 previously held.
Globally, it is always the case that if v4 >= 11 holds, then b5 <= 15 eventually holds and is succeeded by e2 = 22 .
After m4 > 29, it is always the case that if s0 >= 0 holds, then a3 > 11 eventually holds and is succeeded by d3 = 31 .
After v1 < 8, it is always the case that q5 <= 9 holds.
After f5 <= 17 until x2 > 2, it is always the case that if n2 <= 17 holds, then z3 <= 28 previously held and was preceded by v2 = 8 .
Before b2 < 16, it is never the case that m3 > 17 holds.
After r2 > 3 until j5 <= 23, it is always the case that if b2 < 1 holds, then g3 > 6 eventually holds and is succeeded by y5 >= 28, where s4 >= 3 does not hold between g3 > 6 and y5 >= 28 .
Between p1 = 18 and v3 < 18, it is always the case that if t2 > 31 holds, then k4 <= 5 eventually holds.
After g1 = 25 until v3 <= 3, c1 = 28 eventually holds.
After y5 >= 29 until r4 < 25, it is always the case that if v3 >= 19 holds, then m3 = 18 eventually holds and is succeeded by y1 >= 27 .
Before m3 < 22, a6 < 14 eventually holds.
Globally, it is always the case that if i4 <= 2 holds and is succeeded by k5 <= 28, then k2 = 9 previously held.
Before e3 = 5, it is always the case that if s5 > 16 holds and is succeeded by v4 = 25, then f0 <= 27 previously held.
Before w2 = 13, m3 >= 10 eventually holds.
After s0 > 10, it is always the case that if i0 <= 26 holds, then n1 <= 27 eventually holds.
After w4 >= 28, a6 >= 19 eventually holds.
Before s5 < 14, it is always the case that if d5 > 26 holds, then t1 > 28 eventually holds and is succeeded by d4 = 29 .
After c6 = 2, it is never the case that x1 >= 3 holds.
Globally, it is always the case that if w5 <= 9 holds, then n1 > 3 eventually holds and is succeeded by s4 <= 2, where u5 >= 19 does not hold between n1 > 3 and s4 <= 2 .
After u4 = 24 until v5 > 31, it is always the case that if x3 >= 24 holds and is succeeded by b2 >= 17, then f1 <= 12 eventually holds after b2 >= 17 .
Globally, it is always the case that p4 > 0 holds.
Globally, f1 > 1 eventually holds.
After a4 < 15, it is always the case that if d3 < 8 holds, then p2 = 10 eventually holds and is succeeded by n4 > 16, where x3 <= 21 does not hold between p2 = 10 and n4 > 16 .
Before c0 < 20, it is always the case that if c2 = 14 holds, then y4 <= 15 eventually holds and is succeeded by g5 < 6 .
Between f3 < 28 and u5 > 18, n2 <= 16 eventually holds.
Globally, it is always the case that if v5 <= 26 holds, then e2 <= 21 eventually holds.
After q2 < 10, it is always the case that if g3 <= 16 holds and is succeeded by l2 <= 26, then k0 = 15 eventually holds after l2 <= 26 .
After a5 = 1, it is always the case that if j4 > 7 holds, then o2 < 7 previously held and was preceded by d2 > 29 .
After q3 <= 21, it is always the case that if w5 < 1 holds and is succeeded by y1 <= 4, then d5 <= 31 eventually holds after y1 <= 4 .
Between a1 < 12 and i3 > 6, it is always the case that if t0 < 10 holds, then i3 >= 28 eventually holds.
Globally, it is always the case that if u2 = 19 holds and is succeeded by q0 = 16, then y3 > 12 previously held.
After c2 = 6 until a1 <= 10, it is always the case that if e5 > 9 holds, then z1 > 18 eventually holds and is succeeded by u0 < 19 .
Between x1 <= 6 and k3 >= 20, it is always the case that if q0 >= 20 holds and is succeeded by w4 = 18, then m2 >= 27 previously held.
After z1 > 12 until q4 > 6, p2 = 3 eventually holds.
Before y1 <= 26, it is always the case that if w4 >= 28 holds and is succeeded by d3 = 19, then m5 < 2 previously held.
Before m3 >= 4, it is always the case that if x5 >= 18 holds, then v4 <= 12 eventually holds and is succeeded by b3 > 3, where g0 < 25 does not hold between v4 <= 12 and b3 > 3 .
After i1 > 22 until i0 <= 0, it is always the case that if q1 <= 6 holds, then m4 <= 21 eventually holds and is succeeded by y2 < 0 .
After d5 > 31, it is always the case that if f4 > 15 holds, then b0 <= 3 eventually holds and is succeeded by f5 < 18 .
After c2 > 19 until a6 <= 6, it is always the case that if w4 > 3 holds, then t5 < 23 eventually holds.
After x2 <= 12, p2 <= 18 eventually holds.
After c2 = 15, it is always the case that if f2 < 25 holds, then s5 > 0 eventually holds and is succeeded by t0 < 7, where p2 >= 29 does not hold between s5 > 0 and t0 < 7 .
Between a5 >= 3 and z0 > 29, it is always the case that if d0 > 23 holds, then o5 >= 23 eventually holds.
Between q3 < 21 and x4 <= 17, it is always the case that if r3 > 23 holds, then n4 = 9 previously held and was preceded by w2 > 28 .
After u5 > 4, it is always the case that if m4 <= 5 holds and is succeeded by m3 = 9, then s4 > 30 previously held.
Globally, it is never the case that p3 < 1 holds.
Between u2 <= 7 and d4 = 11, it is always the case that if j0 < 2 holds and is succeeded by z0 > 18, then d2 = 0 eventually holds after z0 > 18 .
Between l1 < 26 and k2 <= 14, it is always the case that if t5 < 14 holds, then g5 < 18 eventually holds and is succeeded by a1 <= 29 .
After v3 > 14, d1 = 28 eventually holds.
Before y5 < 30, it is always the case that if h5 <= 16 holds, then a4 <= 15 previously held and was preceded by c2 <= 4 .
After r0 <= 6 until w4 = 5, it is always the case that h5 <= 23 holds.
Before o4 >= 30, k4 <= 12 eventually holds.
Globally, it is always the case that if v3 > 17 holds, then s5 <= 30 previously held and was preceded by w3 = 4 .
Before q3 < 30, it is always the case that if o4 > 10 holds and is succeeded by d5 < 30, then n5 >= 14 eventually holds after d5 < 30 .
Before w2 >= 10, it is always the case that s1 >= 12 holds.
Between t4 = 22 and p3 > 14, it is always the case that s2 > 29 holds.
After e1 >= 2 until b3 < 9, it is never the case that i2 > 17 holds.
After a0 > 29, it is never the case that m1 <= 23 holds.
After n4 = 22 until f2 > 12, it is always the case that if c0 < 0 holds, then r5 > 22 previously held and was preceded by p5 > 28 .
Globally, it is always the case that x5 >= 18 holds.
After d5 <= 8 until d3 = 14, it is never the case that i1 >= 17 holds.
Before r3 < 12, it is always the case that if f1 < 28 holds, then r3 > 0 eventually holds and is succeeded by a4 = 2, where r1 < 21 does not hold between r3 > 0 and a4 = 2 .
Between t4 > 0 and y2 < 25, it is always the case that if j1 > 18 holds, then z2 = 18 previously held and was preceded by i4 > 11 .
After t4 < 28, it is always the case that b5 > 14 holds.
Globally, it is always the case that if a1 = 6 holds and is succeeded by d0 < 18, then q3 > 20 eventually holds after d0 < 18 .
Globally, it is always the case that if p0 > 9 holds, then u2 >= 6 previously held.
After e5 = 30 until h0 < 3, it is always the case that k2 = 10 holds.
Globally, it is always the case that if j4 >= 1 holds, then e4 <= 30 eventually holds and is succeeded by n2 > 30, where k1 = 8 does not hold between e4 <= 30 and n2 > 30 .
Globally, w2 < 24 eventually holds.
Between w1 < 29 and l2 < 23, it is always the case that if c3 < 25 holds, then r2 = 13 previously held.
Between z1 >= 26 and d0 > 3, it is always the case that if f5 <= 13 holds, then p1 > 18 previously held.
After u2 <= 17, it is always the case that if z1 = 20 holds and is succeeded by b1 = 17, then i1 < 10 eventually holds after b1 = 17 .
Globally, it is always the case that if k1 <= 12 holds, then y3 < 18 eventually holds and is succeeded by j4 = 13, where m0 = 16 does not hold between y3 < 18 and j4 = 13 .
Before g2 <= 27, q3 = 19 eventually holds.
After u4 < 10, it is never the case that m3 <= 1 holds.
After x2 <= 6 until j4 > 25, it is always the case that if p4 < 28 holds, then h3 = 11 previously held and was preceded by v3 < 5 .
Before j4 >= 20, it is always the case that if a3 > 18 holds and is succeeded by u5 < 14, then k3 <= 8 eventually holds after u5 < 14 .
Globally, it is always the case that if o3 < 5 holds, then x2 <= 19 previously held and was preceded by z4 = 31 .
Between y3 >= 8 and d1 <= 18, it is always the case that if v2 >= 15 holds, then n1 >= 25 previously held and was preceded by c5 >= 26 .
After c2 = 13 until h5 = 23, e3 >= 27 eventually holds.
Globally, it is always the case that if b5 >= 19 holds, then x2 = 9 previously held.
After a3 <= 15, it is always the case that if y5 >= 1 holds, then g5 <= 29 previously held and was preceded by j3 >= 18 .
After y0 = 28 until p0 >= 2, it is always the case that k0 > 10 holds.
After i1 = 3 until l5 < 23, it is always the case that g5 <= 25 holds.
Globally, it is never the case that i5 <= 16 holds.
Between y5 = 18 and u2 = 5, it is always the case that if y3 <= 0 holds, then z3 > 4 eventually holds and is succeeded by j0 = 15, where u3 >= 2 does not hold between z3 > 4 and j0 = 15 .
Before s5 = 10, it is always the case that if b4 > 19 holds, then o2 < 5 eventually holds and is succeeded by t5 <= 28, where j3 < 2 does not hold between o2 < 5 and t5 <= 28 .
Between z5 < 23 and g4 > 13, h2 = 16 eventually holds.
Globally, it is always the case that if i5 > 20 holds and is succeeded by a4 > 9, then d0 < 19 eventually holds after a4 > 9 .
After r4 >= 25, it is always the case that if t4 = 20 holds, then z3 = 12 eventually holds and is succeeded by k4 < 9 .
Globally, it is always the case that e4 <= 19 holds.
Between s2 > 7 and m0 < 18, it is always the case that if v1 < 2 holds and is succeeded by y2 >= 13, then d2 >= 10 eventually holds after y2 >= 13 .
After a2 >= 30 until u1 < 4, it is always the case that if s2 = 17 holds and is succeeded by f0 = 27, then y5 = 18 previously held.
After b0 >= 30, it is always the case that if h3 < 9 holds, then j5 = 9 eventually holds and is succeeded by w0 > 14, where f4 > 20 does not hold between j5 = 9 and w0 > 14 .
Before k3 >= 30, it is always the case that if a0 > 30 holds, then s1 >= 4 previously held and was preceded by z2 >= 10 .
Before h1 > 28, d1 = 12 eventually holds.
After t4 <= 5 until a0 > 5, it is always the case that if x3 = 16 holds, then b4 = 10 previously held and was preceded by v1 > 30 .
Globally, it is always the case that if u0 < 27 holds, then t3 >= 1 previously held and was preceded by h3 >= 17 .
Globally, i3 < 0 eventually holds.
Between s3 = 14 and s5 >= 4, w5 >= 27 eventually holds.
After f2 < 4 until m4 > 8, it is always the case that if r4 < 2 holds, then c6 >= 3 eventually holds and is succeeded by g5 < 24 .
After g5 > 0 until q2 <= 7, it is always the case that o0 <= 9 holds.
Before e4 = 6, it is always the case that if s1 > 16 holds, then h0 <= 25 eventually holds and is succeeded by g0 > 11 .
Before a3 > 8, it is always the case that if r5 < 6 holds, then o4 = 17 eventually holds and is succeeded by r2 >= 2 .
After f2 < 3, h4 >= 20 eventually holds.
After e2 <= 9 until a1 = 11, it is always the case that if s5 < 21 holds, then b5 = 18 eventually holds.
Between g3 < 11 and k0 > 18, it is always the case that if j0 <= 30 holds, then v1 < 5 previously held.
After r3 < 14 until l5 >= 22, it is always the case that if e5 >= 31 holds, then n5 < 19 eventually holds and is succeeded by e4 <= 5, where u1 <= 5 does not hold between n5 < 19 and e4 <= 5 .
Between p1 <= 14 and l1 = 13, it is always the case that d2 <= 23 holds.
Before o4 <= 3, it is always the case that if n3 >= 21 holds and is succeeded by u4 >= 2, then x3 <= 12 eventually holds after u4 >= 2 .
Between s5 < 21 and h0 < 9, it is always the case that if u0 = 7 holds, then e4 <= 2 previously held and was preceded by r1 < 8 .
Between r0 >= 20 and k1 > 2, it is always the case that if k3 > 21 holds, then c2 < 20 previously held and was preceded by k4 <= 14 .
Globally, it is always the case that if o2 = 27 holds, then l3 > 2 eventually holds.
After b6 > 14, o0 >= 2 eventually holds.
Globally, i4 >= 31 eventually holds.
Globally, it is always the case that if g5 > 29 holds and is succeeded by t1 > 20, then z0 >= 13 previously held.
Globally, it is always the case that if f2 >= 17 holds, then s0 <= 10 previously held.
Between h1 < 23 and p2 <= 20, it is always the case that if v1 = 12 holds, then v3 > 27 previously held and was preceded by f0 >= 8 .
Between u5 >= 9 and m1 = 25, it is always the case that h2 > 8 holds.
Before h5 <= 18, it is always the case that if n2 >= 1 holds, then s1 < 14 eventually holds and is succeeded by p4 <= 9 .
Before v3 <= 26, it is always the case that if a3 = 3 holds, then g2 = 8 eventually holds.
After r3 = 4, it is always the case that if s0 >= 0 holds, then k3 = 24 previously held.
Globally, it is always the case that if l4 < 11 holds, then u3 < 30 eventually holds and is succeeded by t0 > 26, where j0 <= 20 does not hold between u3 < 30 and t0 > 26 .
Before m2 < 8, it is always the case that if z2 = 18 holds, then f4 = 23 eventually holds.
After t5 < 20 until u5 = 10, it is always the case that if f2 <= 18 holds, then v1 < 10 eventually holds and is succeeded by l5 >= 13, where u5 >= 3 does not hold between v1 < 10 and l5 >= 13 .
After a4 < 2, it is always the case that if s2 >= 9 holds and is succeeded by p4 < 14, then l1 > 29 eventually holds after p4 < 14 .
Between v5 <= 1 and i0 > 22, it is always the case that if i0 <= 29 holds, then m4 >= 14 previously held.
Before y5 > 19, it is always the case that if h5 = 8 holds, then k3 = 8 eventually holds.
Before o4 > 17, it is always the case that if p3 > 18 holds and is succeeded by t1 <= 14, then g5 < 6 eventually holds after t1 <= 14 .
Globally, it is always the case that if s4 > 0 holds, then e5 > 20 eventually holds and is succeeded by p4 >= 4 .
Before q5 = 10, it is always the case that if v1 > 17 holds, then c3 >= 5 eventually holds and is succeeded by d5 < 24 .
Before w2 = 0, it is always the case that if x2 >= 2 holds and is succeeded by u0 = 19, then p0 = 25 eventually holds after u0 = 19 .
After a1 <= 6, it is always the case that if k1 < 21 holds and is succeeded by f4 < 15, then c6 > 31 previously held.
Globally, it is always the case that if s3 <= 19 holds, then y3 <= 24 previously held.
Between z0 < 30 and m4 = 26, it is always the case that if p1 >= 0 holds and is succeeded by w5 = 7, then p3 >= 23 eventually holds after w5 = 7 .
Before w2 <= 15, it is never the case that r4 > 25 holds.
Before n1 <= 16, it is always the case that if d1 >= 13 holds and is succeeded by j5 = 25, then m0 >= 13 eventually holds after j5 = 25 .
Before a5 < 31, it is always the case that if z1 = 8 holds, then g3 = 31 eventually holds and is succeeded by q2 > 9 .
After j5 <= 1, it is always the case that if e1 >= 15 holds and is succeeded by m3 > 30, then u3 < 0 previously held.
Globally, it is always the case that if a0 < 23 holds, then e4 <= 30 previously held and was preceded by j0 < 0 .
After v1 <= 28 until i3 < 14, it is always the case that if m2 >= 28 holds and is succeeded by c2 < 15, then g3 = 15 eventually holds after c2 < 15 .
After y1 >= 18, it is always the case that if i0 >= 12 holds and is succeeded by h4 >= 31, then u3 <= 18 eventually holds after h4 >= 31 .
Globally, it is always the case that if b4 <= 11 holds, then u1 >= 12 eventually holds and is succeeded by u4 >= 2 .
Globally, it is always the case that if b1 > 30 holds, then w1 < 9 eventually holds.
After a2 < 12, it is always the case that if l4 = 3 holds, then v3 < 31 previously held and was preceded by z0 >= 4 .
After p4 < 31, it is always the case that if s1 >= 17 holds, then v4 < 19 eventually holds.
Between o4 = 30 and k0 = 13, it is always the case that if g0 > 20 holds and is succeeded by i3 <= 6, then v0 > 23 previously held.
Before r3 <= 20, it is always the case that if l5 < 25 holds, then g5 < 4 previously held and was preceded by f4 >= 10 .
Globally, it is always the case that if t1 > 22 holds, then q5 > 23 eventually holds.
Globally, it is always the case that if a2 >= 19 holds, then b4 <= 18 eventually holds and is succeeded by j2 <= 18, where k3 = 25 does not hold between b4 <= 18 and j2 <= 18 .
After l2 > 5, it is never the case that a4 = 21 holds.
Before u1 <= 22, it is always the case that if y5 > 15 holds, then h5 >= 28 previously held and was preceded by h4 = 16 .
After h4 > 26, it is always the case that if f4 = 26 holds, then y5 >= 17 eventually holds and is succeeded by o1 = 12 .
Before v0 < 31, it is always the case that if k0 <= 1 holds and is succeeded by z5 <= 23, then p3 >= 3 previously held.
Between r0 > 21 and p4 <= 11, it is always the case that if x5 > 7 holds, then p0 >= 30 eventually holds and is succeeded by u3 <= 29 .
After k5 >= 24, it is always the case that if e2 >= 12 holds and is succeeded by x0 <= 24, then l4 <= 13 eventually holds after x0 <= 24 .
After t0 <= 18, it is always the case that if s0 < 13 holds, then r2 <= 24 eventually holds.
After p0 <= 6 until i2 = 23, it is always the case that if i2 > 19 holds and is succeeded by w3 <= 26, then x5 <= 30 eventually holds after w3 <= 26 .
Globally, it is always the case that if q3 < 17 holds, then l1 = 27 eventually holds and is succeeded by c5 >= 24, where g0 > 24 does not hold between l1 = 27 and c5 >= 24 .
Globally, it is always the case that if f0 <= 1 holds and is succeeded by y0 = 3, then v4 = 24 previously held.
Globally, it is always the case that if f5 > 26 holds, then g3 = 13 eventually holds and is succeeded by x0 <= 9, where s5 = 3 does not hold between g3 = 13 and x0 <= 9 .
Between a0 >= 2 and f5 = 30, it is always the case that if q0 <= 4 holds, then a6 > 17 eventually holds and is succeeded by z4 >= 16, where y3 = 20 does not hold between a6 > 17 and z4 >= 16 .
Between n0 > 27 and p0 >= 7, it is always the case that if y3 = 25 holds, then m5 > 3 previously held.
Between g2 <= 25 and h3 >= 9, it is always the case that if k2 > 26 holds, then c6 >= 31 eventually holds.
