After r0 >= 14, it is always the case that if a0 >= 1 holds, then k0 <= 1 eventually holds and is succeeded by h0 > 12 .
Before i0 >= 6, it is always the case that if q0 >= 0 holds, then s0 < 11 eventually holds and is succeeded by p0 > 3, where p0 <= 3 does not hold between s0 < 11 and p0 > 3 .
After k0 = 13, r0 <= 7 eventually holds.
After i0 = 13, it is always the case that if e0 > 9 holds, then d0 = 12 previously held and was preceded by h0 <= 13 .
After f0 = 10, it is always the case that if m0 < 0 holds, then j0 < 6 previously held.
Before r0 <= 2, it is always the case that if r0 < 10 holds, then m0 = 15 eventually holds and is succeeded by q0 = 2, where g0 > 0 does not hold between m0 = 15 and q0 = 2 .
Before n0 = 7, it is always the case that if d0 >= 3 holds, then b0 = 6 previously held and was preceded by j0 <= 2 .
After a0 > 5, it is always the case that if l0 < 11 holds and is succeeded by m0 >= 5, then s0 = 11 previously held.
Before f0 >= 5, it is always the case that if a0 < 1 holds, then p0 < 9 previously held and was preceded by g0 <= 6 .
Before h0 >= 7, it is always the case that if m0 < 11 holds, then i0 = 9 eventually holds.
After c0 > 6 until s0 <= 5, it is always the case that if l0 >= 6 holds and is succeeded by f0 > 7, then k0 > 7 eventually holds after f0 > 7 .
After o0 < 8, g0 > 11 eventually holds.
After a0 > 11 until o0 > 15, it is always the case that if s0 > 0 holds, then n0 > 6 eventually holds and is succeeded by q0 < 11 .
Globally, it is always the case that if p0 > 8 holds, then d0 >= 1 eventually holds and is succeeded by a0 >= 4 .
Between l0 = 4 and e0 <= 8, it is always the case that if p0 <= 6 holds, then c0 >= 11 previously held.
After c0 <= 8 until m0 < 6, b0 = 15 eventually holds.
Between c0 < 9 and f0 < 5, it is always the case that a0 <= 5 holds.
Before c0 >= 0, it is always the case that f0 <= 0 holds.
After n0 <= 10 until g0 = 9, it is always the case that if g0 > 2 holds, then n0 = 10 previously held.
After s0 = 12 until c0 >= 15, it is never the case that s0 < 2 holds.
Between d0 > 9 and e0 > 12, it is always the case that p0 < 10 holds.
Between h0 < 13 and b0 = 11, it is always the case that if j0 < 0 holds and is succeeded by q0 > 2, then l0 < 7 previously held.
Between f0 = 10 and a0 <= 6, o0 = 1 eventually holds.
Globally, it is always the case that if p0 = 2 holds, then s0 >= 12 previously held and was preceded by o0 >= 5 .
After b0 <= 14, it is always the case that if c0 < 11 holds and is succeeded by a0 > 15, then h0 <= 4 previously held.
Between s0 < 1 and c0 > 3, it is always the case that if i0 <= 12 holds and is succeeded by p0 > 11, then h0 <= 6 previously held.
Before p0 > 5, it is always the case that if e0 < 15 holds and is succeeded by a0 = 14, then s0 >= 7 previously held.
After a0 >= 7, it is always the case that if n0 >= 9 holds, then l0 <= 1 previously held and was preceded by l0 <= 12 .
Before e0 >= 13, it is always the case that if q0 = 0 holds, then b0 <= 11 eventually holds.
Before g0 < 8, it is always the case that if i0 = 4 holds, then s0 = 12 eventually holds and is succeeded by k0 = 4 .
After s0 > 15 until m0 = 1, it is always the case that s0 <= 2 holds.
After i0 < 11 until e0 = 13, it is always the case that if o0 >= 11 holds, then r0 < 15 eventually holds and is succeeded by h0 <= 3 .
Before e0 >= 9, n0 = 3 eventually holds.
After i0 <= 3, it is always the case that if b0 > 10 holds and is succeeded by g0 = 5, then s0 <= 7 eventually holds after g0 = 5 .
After b0 <= 5, j0 = 2 eventually holds.
Before k0 < 15, it is always the case that if r0 > 14 holds, then g0 > 0 previously held and was preceded by f0 = 9 .
Globally, it is always the case that if g0 > 9 holds and is succeeded by m0 < 0, then b0 > 11 eventually holds after m0 < 0 .
Between k0 > 11 and e0 <= 10, it is always the case that if b0 = 0 holds, then g0 < 1 eventually holds.
After a0 < 2 until k0 < 15, it is always the case that if j0 < 1 holds, then h0 < 15 eventually holds and is succeeded by l0 = 8 .
Before g0 > 7, it is always the case that if h0 > 10 holds and is succeeded by i0 >= 10, then e0 <= 9 eventually holds after i0 >= 10 .
Globally, it is always the case that d0 > 5 holds.
Before r0 >= 6, it is always the case that if e0 < 14 holds, then q0 = 10 previously held and was preceded by r0 <= 14 .
Before d0 < 0, it is always the case that if i0 > 12 holds, then k0 <= 6 eventually holds and is succeeded by e0 >= 13 .
After l0 < 2 until k0 <= 11, it is always the case that if j0 > 7 holds and is succeeded by f0 = 10, then q0 > 2 eventually holds after f0 = 10 .
Globally, it is always the case that if c0 <= 14 holds and is succeeded by l0 < 1, then i0 > 7 eventually holds after l0 < 1 .
After m0 = 8, it is always the case that if h0 = 0 holds, then h0 > 11 eventually holds.
Between s0 > 7 and e0 < 4, it is always the case that m0 = 10 holds.
After g0 <= 2, it is always the case that if k0 < 4 holds and is succeeded by l0 < 4, then o0 = 8 previously held.
Between g0 = 11 and d0 < 7, it is always the case that if d0 < 11 holds and is succeeded by p0 < 3, then h0 >= 8 eventually holds after p0 < 3 .
After f0 >= 10, a0 = 3 eventually holds.
After q0 > 0 until o0 > 2, it is always the case that b0 <= 14 holds.
Globally, it is always the case that if m0 > 11 holds, then m0 >= 6 eventually holds and is succeeded by f0 <= 9 .
Between m0 > 1 and i0 > 10, it is always the case that if p0 <= 3 holds, then o0 > 9 eventually holds.
After e0 = 3 until q0 >= 12, it is always the case that if l0 >= 13 holds, then g0 >= 8 eventually holds and is succeeded by s0 < 15, where m0 > 0 does not hold between g0 >= 8 and s0 < 15 .
After n0 = 13, it is always the case that n0 = 14 holds.
Before s0 < 10, it is never the case that c0 = 10 holds.
After i0 >= 13, it is always the case that if m0 <= 5 holds, then c0 < 15 previously held and was preceded by p0 = 10 .
Between b0 > 9 and g0 > 9, it is always the case that if e0 < 1 holds, then j0 >= 10 eventually holds and is succeeded by h0 = 1, where n0 <= 9 does not hold between j0 >= 10 and h0 = 1 .
Before k0 = 11, it is always the case that if b0 < 0 holds, then p0 >= 2 previously held and was preceded by c0 > 1 .
Before m0 <= 10, g0 < 4 eventually holds.
