Before c2 < 3, it is always the case that q1 = 31 holds.
After c1 < 2 until s0 > 13, it is always the case that if h2 < 9 holds, then h0 >= 19 eventually holds.
Globally, it is always the case that if x0 = 14 holds, then t0 > 30 eventually holds and is succeeded by g2 >= 5 .
Between i1 > 28 and i0 >= 16, it is always the case that if b1 = 1 holds, then w2 > 5 eventually holds.
Between p1 = 4 and h2 >= 30, it is always the case that if t1 = 21 holds, then b2 = 26 previously held.
Between t0 <= 27 and t1 <= 27, it is always the case that if t0 = 15 holds, then v0 >= 18 previously held and was preceded by w1 < 12 .
After w0 <= 19, c2 > 30 eventually holds.
Globally, it is always the case that if f2 = 8 holds and is succeeded by d1 <= 10, then w0 <= 25 eventually holds after d1 <= 10 .
Globally, it is always the case that if z2 > 18 holds and is succeeded by f0 >= 27, then l2 > 24 previously held.
Globally, y0 <= 23 eventually holds.
Between d1 <= 1 and h2 = 23, it is always the case that if g1 <= 31 holds, then v2 <= 13 eventually holds and is succeeded by b2 <= 10, where c0 > 29 does not hold between v2 <= 13 and b2 <= 10 .
Before b2 < 8, it is always the case that if c0 <= 8 holds and is succeeded by p2 <= 20, then a1 > 0 eventually holds after p2 <= 20 .
After o1 <= 10 until a2 = 0, it is always the case that q1 >= 18 holds.
Globally, it is always the case that a0 >= 24 holds.
After c1 > 0, it is never the case that b1 > 14 holds.
After o0 >= 16 until c0 <= 7, it is always the case that if q2 > 12 holds, then b1 > 8 eventually holds and is succeeded by a1 >= 1, where d1 > 28 does not hold between b1 > 8 and a1 >= 1 .
Between u1 < 8 and z0 >= 4, it is always the case that if y2 > 15 holds, then e0 >= 1 previously held.
After a0 <= 21, it is always the case that if j0 > 18 holds, then k1 = 2 eventually holds and is succeeded by k1 = 24 .
After w1 <= 2, it is always the case that u1 < 27 holds.
Between i1 < 23 and q1 < 13, w1 >= 20 eventually holds.
After n0 > 3 until a2 <= 3, it is always the case that if p1 > 15 holds, then g0 = 14 eventually holds.
After w1 >= 10, it is always the case that if f2 <= 4 holds and is succeeded by f1 = 16, then n0 <= 7 previously held.
After z0 > 29 until p1 > 26, it is never the case that i0 = 10 holds.
After b0 = 21, it is always the case that if g1 < 23 holds, then v1 > 22 previously held.
After u1 >= 15, it is always the case that if u1 > 23 holds and is succeeded by c1 > 5, then t2 > 1 previously held.
After q2 < 23, it is always the case that if n2 <= 27 holds, then s1 = 6 previously held.
After i0 >= 10 until c1 >= 17, it is never the case that e1 >= 6 holds.
Globally, it is always the case that if g0 = 23 holds and is succeeded by o2 >= 17, then i2 >= 8 eventually holds after o2 >= 17 .
After x2 = 19, it is always the case that if t1 > 24 holds, then v1 = 21 previously held.
After c0 >= 3 until d1 < 19, it is always the case that if e1 < 28 holds, then u2 >= 3 previously held.
After z1 <= 1, it is always the case that if e1 > 29 holds, then j2 < 24 eventually holds and is succeeded by i0 >= 18 .
After h1 <= 8 until o1 <= 19, q0 < 27 eventually holds.
Between j1 <= 1 and q0 = 7, it is always the case that if p1 <= 9 holds and is succeeded by c1 < 9, then t2 >= 15 eventually holds after c1 < 9 .
Between n1 > 14 and v1 >= 26, it is always the case that if i2 > 16 holds, then f0 <= 18 eventually holds.
Between l2 >= 13 and k1 = 7, it is always the case that if f0 >= 3 holds and is succeeded by t1 < 7, then d1 > 30 previously held.
After r2 < 10 until m1 >= 11, it is never the case that e2 <= 4 holds.
After b1 < 30 until t2 <= 17, it is always the case that if s2 < 27 holds and is succeeded by g2 = 26, then t2 < 11 previously held.
Globally, i0 < 29 eventually holds.
Between d0 < 22 and b0 <= 4, it is always the case that if l1 > 22 holds and is succeeded by a1 < 2, then k2 = 30 eventually holds after a1 < 2 .
Between x1 > 26 and k1 > 24, u0 > 5 eventually holds.
After n2 >= 7, it is always the case that if a2 >= 5 holds, then g0 >= 25 eventually holds and is succeeded by b2 > 7, where i1 < 4 does not hold between g0 >= 25 and b2 > 7 .
Between n1 > 7 and z0 > 14, it is always the case that if f1 >= 20 holds and is succeeded by k0 < 2, then v2 = 15 previously held.
Between c1 > 12 and o0 <= 1, it is always the case that if j0 <= 14 holds, then t2 > 16 eventually holds.
After r2 = 22, it is always the case that if k0 > 28 holds and is succeeded by b1 > 9, then g1 > 7 previously held.
After e0 > 0 until s0 = 26, it is always the case that if x1 > 16 holds, then w0 = 9 previously held and was preceded by r2 = 11 .
Globally, it is always the case that if g0 <= 11 holds, then e0 = 5 eventually holds and is succeeded by i2 < 17, where x1 > 30 does not hold between e0 = 5 and i2 < 17 .
Globally, x1 >= 6 eventually holds.
After a0 <= 20 until w2 > 13, j2 <= 27 eventually holds.
After i2 > 2 until c1 <= 13, c1 < 31 eventually holds.
Before u2 < 12, o1 >= 25 eventually holds.
Before k0 = 14, it is always the case that if c1 >= 29 holds, then p2 < 3 eventually holds.
Before l1 < 2, it is always the case that if m1 > 5 holds and is succeeded by c2 >= 25, then l2 >= 4 eventually holds after c2 >= 25 .
Before c1 >= 4, it is always the case that v0 >= 9 holds.
Between y2 <= 27 and i1 >= 27, t2 < 25 eventually holds.
Between m1 <= 29 and f1 = 20, it is always the case that if f0 <= 13 holds and is succeeded by u0 <= 21, then b2 < 31 previously held.
Between f2 < 27 and w1 > 29, it is always the case that if z0 <= 24 holds, then u0 >= 17 eventually holds.
Before v0 >= 13, it is always the case that if g2 = 12 holds, then w1 <= 20 eventually holds.
Globally, c2 > 3 eventually holds.
Between u0 = 13 and i2 < 23, l0 >= 15 eventually holds.
Before d1 < 24, it is always the case that if v1 >= 15 holds, then w2 = 15 eventually holds and is succeeded by a1 >= 26, where v0 > 15 does not hold between w2 = 15 and a1 >= 26 .
Before a2 <= 12, it is always the case that if j1 > 7 holds and is succeeded by x2 > 3, then y2 <= 28 previously held.
After c1 <= 28 until k0 > 24, it is always the case that if g0 < 9 holds and is succeeded by s1 <= 6, then p0 <= 4 eventually holds after s1 <= 6 .
After w0 > 29, it is always the case that if d2 <= 18 holds and is succeeded by k1 > 10, then v0 = 31 previously held.
Globally, it is always the case that if u2 <= 17 holds, then h1 > 19 previously held and was preceded by i1 <= 29 .
Between p1 < 9 and m2 >= 14, it is always the case that if q1 >= 31 holds, then k2 <= 4 eventually holds and is succeeded by z2 = 16 .
After v2 < 14 until k2 <= 4, it is always the case that if m1 < 26 holds, then u2 < 8 previously held and was preceded by v2 < 7 .
Globally, it is always the case that if m1 > 13 holds and is succeeded by o0 <= 11, then v1 <= 19 eventually holds after o0 <= 11 .
After r1 = 5, it is never the case that d0 <= 7 holds.
Before c0 > 0, it is always the case that if y2 = 16 holds, then g0 > 17 eventually holds and is succeeded by x2 > 4, where o1 < 24 does not hold between g0 > 17 and x2 > 4 .
After b1 > 13, it is always the case that if l2 < 19 holds, then f2 >= 2 previously held.
Before t1 >= 16, it is always the case that if c1 > 1 holds, then n1 > 4 previously held.
Between k1 > 1 and s1 <= 6, it is always the case that if l0 <= 16 holds and is succeeded by k2 < 19, then e0 >= 16 eventually holds after k2 < 19 .
Between u2 = 5 and l0 >= 6, it is always the case that if t2 < 23 holds, then z1 > 9 eventually holds and is succeeded by b0 >= 10 .
After c1 < 15, it is always the case that if r1 = 2 holds, then g2 < 21 eventually holds.
Between z2 <= 3 and d2 >= 20, it is always the case that if l2 = 16 holds, then f2 >= 27 previously held.
After i0 <= 14 until t2 = 11, it is always the case that if l1 > 19 holds, then i1 = 30 eventually holds.
Globally, it is always the case that if f0 > 7 holds, then j0 >= 10 eventually holds and is succeeded by n1 < 22 .
Globally, it is always the case that o0 = 18 holds.
Globally, it is always the case that if p2 >= 11 holds, then q0 < 23 eventually holds and is succeeded by d1 = 21 .
After k2 >= 6 until d0 <= 17, it is always the case that d0 >= 26 holds.
Globally, it is always the case that if d1 < 16 holds, then z1 = 31 eventually holds.
After k2 >= 5, it is always the case that if f2 > 17 holds, then h0 >= 9 eventually holds.
Before n0 < 12, it is always the case that if h2 = 29 holds, then x1 < 6 previously held and was preceded by k0 > 4 .
Before b2 = 3, it is always the case that l1 <= 12 holds.
Before w1 < 10, it is never the case that q1 > 0 holds.
Globally, it is always the case that q1 >= 22 holds.
After w2 > 5 until d1 >= 9, it is always the case that if i0 = 7 holds, then m2 > 1 eventually holds and is succeeded by w0 >= 8, where f1 > 6 does not hold between m2 > 1 and w0 >= 8 .
After q0 = 5, it is always the case that if d2 <= 14 holds, then h2 <= 11 eventually holds and is succeeded by k0 <= 19, where b0 >= 10 does not hold between h2 <= 11 and k0 <= 19 .
Between c0 = 31 and a2 <= 3, it is always the case that if g1 > 4 holds, then a2 < 31 previously held and was preceded by a2 <= 12 .
After e1 > 17 until c1 = 3, it is always the case that if m0 >= 24 holds, then f0 > 30 eventually holds and is succeeded by j2 <= 5, where b0 <= 16 does not hold between f0 > 30 and j2 <= 5 .
After j2 = 12 until j1 > 3, f2 < 25 eventually holds.
Before z0 >= 20, d1 <= 0 eventually holds.
Between q0 < 9 and n2 >= 1, it is always the case that if l0 >= 16 holds, then p0 < 11 eventually holds.
Globally, z1 = 17 eventually holds.
After b2 <= 9, it is never the case that m2 >= 29 holds.
Globally, it is never the case that u1 <= 21 holds.
Globally, it is never the case that b1 < 9 holds.
After o1 = 20, it is always the case that if h1 = 1 holds, then e0 >= 25 previously held.
After u1 = 2, it is always the case that if r0 < 0 holds, then p2 >= 12 eventually holds and is succeeded by q1 <= 14, where b0 < 22 does not hold between p2 >= 12 and q1 <= 14 .
After k0 = 28, it is always the case that if h0 < 11 holds, then p2 <= 23 eventually holds.
Globally, it is always the case that if y2 < 7 holds, then w0 >= 15 previously held and was preceded by c1 < 24 .
Globally, it is never the case that m0 < 22 holds.
Globally, it is always the case that if l1 < 31 holds, then f2 = 7 previously held.
Before z1 >= 4, it is never the case that r1 <= 0 holds.
Globally, it is always the case that if r0 >= 17 holds and is succeeded by q2 > 19, then t1 <= 8 eventually holds after q2 > 19 .
After o2 < 20, it is always the case that if s2 = 17 holds, then s0 > 15 eventually holds.
After q0 > 10 until e0 <= 29, it is never the case that x2 > 31 holds.
After b2 >= 10, q0 = 18 eventually holds.
Before o1 = 26, it is never the case that u0 <= 18 holds.
Before v2 > 13, it is always the case that if o2 < 1 holds and is succeeded by j2 = 8, then x1 < 15 eventually holds after j2 = 8 .
Before f1 = 4, it is never the case that a3 <= 28 holds.
Before r1 < 11, e2 >= 7 eventually holds.
Before i2 < 1, it is always the case that if c2 <= 24 holds and is succeeded by n2 < 4, then z0 <= 4 previously held.
Between n2 > 25 and p0 = 4, it is always the case that if h2 >= 10 holds, then t1 < 7 eventually holds and is succeeded by p1 >= 29 .
Before d0 <= 3, it is always the case that if r2 < 30 holds and is succeeded by d1 < 31, then o1 > 18 eventually holds after d1 < 31 .
After p1 < 2 until j2 <= 10, it is never the case that e1 = 22 holds.
Before k2 >= 10, it is always the case that if e2 < 21 holds and is succeeded by i0 = 31, then g0 > 10 previously held.
Globally, it is always the case that if a3 > 17 holds, then s0 <= 29 eventually holds and is succeeded by h2 < 27, where a1 < 8 does not hold between s0 <= 29 and h2 < 27 .
Between h2 > 31 and s2 >= 23, t2 >= 12 eventually holds.
Before a0 = 23, it is always the case that if i2 = 19 holds and is succeeded by b0 <= 17, then m2 > 20 eventually holds after b0 <= 17 .
