Globally, it is never the case that c0 <= 0 holds.
Globally, it is always the case that if w0 > 1 holds, then k0 >= 1 eventually holds and is succeeded by h1 >= 2 .
After p0 = 2, it is always the case that if r0 = 0 holds, then f1 <= 2 eventually holds and is succeeded by k0 > 0 .
Before h0 > 3, it is always the case that if a0 = 2 holds, then e0 <= 1 eventually holds.
After a1 >= 0 until r0 <= 0, it is always the case that if z0 = 3 holds, then l0 <= 2 previously held and was preceded by d1 < 3 .
Globally, it is never the case that m0 = 1 holds.
Before b0 >= 2, it is always the case that if y0 = 3 holds, then l0 > 1 eventually holds and is succeeded by l0 > 0 .
Globally, it is always the case that if u0 = 1 holds, then l0 > 2 eventually holds and is succeeded by e1 <= 3, where j1 >= 3 does not hold between l0 > 2 and e1 <= 3 .
Before l1 < 1, d1 = 1 eventually holds.
Between a0 <= 1 and h0 = 1, it is always the case that if l0 <= 0 holds, then a0 > 1 eventually holds.
Globally, it is always the case that if r0 <= 3 holds, then u0 <= 2 previously held and was preceded by b1 < 3 .
Globally, it is always the case that if g1 >= 1 holds, then p0 >= 1 eventually holds and is succeeded by k0 = 1 .
Globally, it is always the case that if e1 <= 1 holds, then d1 > 1 previously held.
Between m1 = 3 and c1 = 0, it is always the case that if d0 > 1 holds, then v0 = 0 eventually holds and is succeeded by d1 > 2 .
After k0 <= 2 until h1 >= 0, it is always the case that if g0 <= 2 holds and is succeeded by l0 >= 3, then z0 <= 3 eventually holds after l0 >= 3 .
Between o0 < 1 and x0 > 0, it is always the case that if b0 >= 0 holds, then k0 <= 1 previously held.
After e1 > 1, it is always the case that if l1 < 1 holds, then t0 <= 0 previously held and was preceded by b1 <= 1 .
Globally, it is always the case that if w0 < 0 holds, then e0 = 3 eventually holds and is succeeded by h1 = 2 .
Before e0 = 2, it is always the case that if q0 >= 1 holds and is succeeded by u0 < 2, then i1 = 0 previously held.
Between j1 > 2 and t0 = 3, it is always the case that p0 < 2 holds.
After a1 = 2, it is always the case that if m0 > 3 holds and is succeeded by c1 > 1, then c0 > 3 previously held.
Globally, it is never the case that i0 >= 2 holds.
Before b0 > 1, it is never the case that r0 >= 0 holds.
After v0 > 0, it is always the case that if c1 <= 1 holds, then r0 <= 0 previously held and was preceded by x0 >= 1 .
Before t0 < 2, it is always the case that if d1 < 0 holds, then w0 >= 2 previously held and was preceded by x0 < 0 .
Globally, it is always the case that if y0 >= 2 holds, then x0 = 3 eventually holds and is succeeded by m0 < 0, where g0 > 1 does not hold between x0 = 3 and m0 < 0 .
Globally, it is always the case that if d1 > 3 holds, then q0 >= 3 previously held.
Between h0 >= 2 and g1 = 3, z0 <= 0 eventually holds.
Before r0 > 3, it is always the case that s0 > 2 holds.
Before r0 > 0, it is always the case that if m1 >= 0 holds, then l0 > 1 eventually holds and is succeeded by o0 < 2 .
Globally, it is always the case that t0 = 2 holds.
Before e1 < 0, it is always the case that if n0 <= 0 holds and is succeeded by d0 > 1, then i0 = 0 eventually holds after d0 > 1 .
Between l0 = 0 and e1 < 0, it is always the case that if f1 = 0 holds and is succeeded by u0 < 0, then z0 < 1 previously held.
After p0 > 3 until k0 >= 3, it is never the case that k1 = 0 holds.
Before e1 > 2, it is always the case that if u0 <= 3 holds, then g1 > 3 previously held and was preceded by h1 <= 2 .
Between d0 = 3 and a0 > 3, it is always the case that if p0 >= 1 holds, then a0 > 2 eventually holds.
Globally, it is always the case that if u0 < 0 holds, then b0 >= 1 previously held.
Between d1 <= 0 and b1 = 1, it is always the case that if z0 > 3 holds, then c1 >= 3 eventually holds.
After e0 <= 1 until z0 <= 2, it is always the case that o0 = 3 holds.
Globally, it is always the case that if j0 > 0 holds, then d1 <= 1 eventually holds and is succeeded by p0 <= 3, where y0 > 0 does not hold between d1 <= 1 and p0 <= 3 .
After e0 >= 3 until g0 < 0, it is always the case that if v0 >= 3 holds, then a1 >= 1 eventually holds and is succeeded by q0 >= 0, where w0 >= 1 does not hold between a1 >= 1 and q0 >= 0 .
Globally, it is always the case that if h1 < 2 holds and is succeeded by l1 > 1, then a1 >= 0 previously held.
After i0 > 1, it is always the case that if e0 > 2 holds, then j1 >= 3 previously held and was preceded by c0 = 1 .
After n0 > 3, it is always the case that if t0 <= 2 holds and is succeeded by y0 <= 1, then d1 < 3 previously held.
After q0 = 0, it is always the case that if o0 < 1 holds, then n0 >= 1 previously held and was preceded by q0 >= 2 .
After c1 <= 1, it is always the case that if e0 <= 1 holds, then x0 >= 2 eventually holds and is succeeded by b1 <= 1 .
After f0 < 0, it is never the case that c1 < 3 holds.
After e1 <= 0 until b0 > 2, it is always the case that if h1 > 3 holds and is succeeded by a1 > 1, then m1 > 2 previously held.
Globally, it is always the case that if r0 = 2 holds, then b0 = 1 eventually holds.
After d1 = 3, b0 <= 2 eventually holds.
Between s0 >= 2 and l1 < 0, it is never the case that v0 = 1 holds.
After a0 > 0 until l0 < 2, it is always the case that if r0 <= 2 holds and is succeeded by o0 < 1, then q0 <= 2 previously held.
Globally, it is always the case that if h0 = 2 holds, then a1 < 3 eventually holds and is succeeded by l1 > 3 .
Globally, it is always the case that if h0 >= 1 holds and is succeeded by r0 <= 1, then j1 < 3 previously held.
After a1 <= 0, it is always the case that if e0 < 1 holds, then z0 > 0 previously held and was preceded by o0 > 3 .
Globally, it is always the case that if h0 > 3 holds, then c1 < 1 previously held and was preceded by c0 < 1 .
Before c1 > 3, it is always the case that n0 <= 1 holds.
After e0 > 2, it is never the case that y0 = 3 holds.
Before a1 <= 3, it is always the case that if r0 = 3 holds, then g0 > 3 previously held.
Between p0 <= 2 and u0 > 2, it is always the case that if x0 > 0 holds, then q0 <= 0 previously held.
Between s0 > 1 and p0 < 3, it is always the case that if w0 >= 2 holds, then p0 = 0 previously held and was preceded by c0 >= 0 .
After l1 = 0 until c0 <= 0, it is always the case that x0 <= 2 holds.
After h1 = 3, it is always the case that if b1 < 3 holds and is succeeded by i1 <= 1, then j1 = 2 eventually holds after i1 <= 1 .
After h0 = 1, it is always the case that if h0 <= 3 holds, then k1 = 2 eventually holds and is succeeded by g1 > 0, where b1 >= 2 does not hold between k1 = 2 and g1 > 0 .
Between t0 < 0 and h0 < 0, it is always the case that n0 <= 0 holds.
Globally, it is never the case that a0 <= 2 holds.
After c1 >= 0 until j0 < 0, p0 = 1 eventually holds.
After a0 < 3 until g1 > 3, it is always the case that if a0 < 0 holds and is succeeded by e1 >= 1, then g0 >= 0 eventually holds after e1 >= 1 .
Before i0 >= 1, it is always the case that if a1 = 3 holds, then d0 <= 2 previously held.
Globally, it is always the case that if v0 < 2 holds, then i0 >= 1 eventually holds and is succeeded by d1 >= 1 .
After j0 > 2 until e0 < 0, it is always the case that if w0 < 2 holds and is succeeded by k0 > 1, then j1 < 0 previously held.
Globally, it is always the case that c0 > 2 holds.
Before l1 > 0, it is always the case that if m1 > 3 holds, then a0 <= 2 previously held and was preceded by c0 >= 0 .
After y0 < 3, b1 <= 2 eventually holds.
After e1 <= 2, it is always the case that if l1 = 3 holds, then z0 <= 2 previously held and was preceded by a0 >= 3 .
After e1 = 0 until k0 > 3, w0 > 2 eventually holds.
After b0 <= 2 until k1 <= 3, it is always the case that if f1 >= 2 holds, then g1 >= 0 eventually holds and is succeeded by d1 = 0, where b0 = 0 does not hold between g1 >= 0 and d1 = 0 .
After n0 >= 1 until u0 <= 3, it is always the case that if i0 > 3 holds, then c1 > 2 eventually holds and is succeeded by d1 >= 2 .
Between a1 = 2 and e0 < 2, it is always the case that if c0 < 2 holds and is succeeded by h1 <= 1, then g1 <= 0 previously held.
Before o0 >= 0, it is always the case that if o0 < 0 holds and is succeeded by c1 < 0, then p0 <= 0 previously held.
Between e0 = 2 and g0 >= 2, it is always the case that if j1 >= 3 holds, then v0 > 1 eventually holds and is succeeded by z0 >= 2, where r0 = 1 does not hold between v0 > 1 and z0 >= 2 .
Globally, it is always the case that if m0 <= 0 holds, then k0 > 0 eventually holds and is succeeded by p0 >= 2, where j0 < 2 does not hold between k0 > 0 and p0 >= 2 .
Globally, it is always the case that if n0 = 2 holds, then f1 <= 2 previously held.
After h1 >= 1 until g1 >= 0, it is always the case that if s0 <= 3 holds, then s0 = 2 eventually holds and is succeeded by q0 = 0 .
Before i0 = 2, it is always the case that if i0 = 1 holds and is succeeded by b0 > 0, then m1 < 0 previously held.
Between a0 < 0 and i1 < 3, it is always the case that if v0 <= 3 holds, then a1 >= 1 previously held.
Globally, it is always the case that if o0 < 2 holds, then l1 = 3 eventually holds and is succeeded by i1 > 0 .
After y0 = 0, it is always the case that if t0 >= 0 holds and is succeeded by g0 > 1, then x0 <= 3 previously held.
After l0 = 1 until h1 < 2, it is always the case that if f1 > 0 holds, then v0 = 0 eventually holds and is succeeded by l0 < 1, where k1 >= 3 does not hold between v0 = 0 and l0 < 1 .
Globally, it is always the case that if i0 < 1 holds, then m0 >= 0 eventually holds.
Before y0 < 0, it is always the case that if c0 < 2 holds, then l1 >= 3 previously held and was preceded by h1 <= 0 .
After k1 < 0, it is always the case that if m0 >= 3 holds, then x0 <= 1 eventually holds and is succeeded by b0 >= 2, where j1 <= 1 does not hold between x0 <= 1 and b0 >= 2 .
Between l0 < 2 and i1 = 2, it is always the case that if s0 = 0 holds, then c1 > 2 previously held.
After m1 > 3, it is always the case that if w0 >= 2 holds and is succeeded by v0 < 2, then z0 > 3 eventually holds after v0 < 2 .
After j0 < 0, it is always the case that m1 >= 3 holds.
After o0 = 2 until f1 = 1, it is always the case that if j0 = 3 holds, then g1 = 0 previously held.
Between d1 > 2 and l1 < 1, it is always the case that if u0 < 1 holds, then d0 = 2 eventually holds and is succeeded by k1 >= 1 .
After a1 > 2, it is always the case that if h1 <= 1 holds, then s0 <= 0 eventually holds.
Globally, it is always the case that if f1 <= 2 holds, then s0 >= 0 eventually holds and is succeeded by h1 > 0 .
Between l0 = 1 and j1 < 1, it is always the case that if p0 < 3 holds and is succeeded by u0 = 0, then r0 > 2 previously held.
Globally, it is never the case that a1 = 2 holds.
Between t0 > 3 and u0 < 1, it is always the case that if w0 > 0 holds and is succeeded by i0 <= 1, then j1 = 2 previously held.
After e0 = 1 until d1 >= 3, it is always the case that if h0 = 2 holds, then a1 = 1 eventually holds and is succeeded by a0 > 0 .
Between m1 = 1 and i1 <= 2, it is always the case that if y0 >= 0 holds, then n0 > 2 eventually holds.
Before i0 > 0, it is always the case that x0 > 3 holds.
Before u0 <= 0, it is always the case that if m0 > 1 holds, then b0 <= 1 previously held and was preceded by l0 >= 3 .
After o0 = 3 until f1 > 0, it is always the case that if j1 <= 1 holds and is succeeded by a1 <= 1, then d0 >= 1 previously held.
Between y0 < 3 and w0 > 2, it is always the case that if y0 < 1 holds, then i0 <= 3 previously held and was preceded by h0 >= 1 .
Globally, it is always the case that if a0 >= 3 holds, then l0 >= 2 previously held and was preceded by z0 >= 3 .
Before z0 < 0, it is always the case that if h1 <= 1 holds, then z0 <= 0 eventually holds.
After q0 >= 1, l0 <= 0 eventually holds.
Before j0 > 2, it is never the case that l1 = 0 holds.
Between q0 > 3 and w0 = 0, it is always the case that if f0 >= 3 holds, then e1 = 2 previously held and was preceded by d1 >= 2 .
Before j1 < 1, it is always the case that v0 < 2 holds.
After c1 >= 3 until k1 = 3, it is always the case that if b0 < 1 holds, then o0 < 2 eventually holds and is succeeded by l1 < 0, where u0 >= 3 does not hold between o0 < 2 and l1 < 0 .
Before z0 >= 2, it is always the case that if c0 < 3 holds, then d1 >= 3 eventually holds and is succeeded by g0 >= 0, where d1 >= 1 does not hold between d1 >= 3 and g0 >= 0 .
Between h1 < 0 and h1 >= 3, it is always the case that if b1 < 3 holds, then e0 <= 1 eventually holds.
Before g0 <= 1, it is always the case that b0 >= 3 holds.
Globally, it is always the case that if t0 < 3 holds, then k0 < 1 eventually holds and is succeeded by x0 <= 1 .
Between i1 > 0 and r0 >= 3, it is always the case that if d1 > 2 holds, then i0 >= 2 eventually holds.
