After m2 < 4 until g0 = 5, it is always the case that if r1 <= 6 holds, then l2 >= 0 eventually holds and is succeeded by e1 > 8 .
Before r0 >= 8, it is always the case that if a0 = 10 holds, then l2 < 1 eventually holds and is succeeded by a3 < 5 .
After h0 > 10 until s0 >= 4, it is always the case that if m2 >= 14 holds, then m2 <= 12 eventually holds.
After u0 > 3 until b0 > 9, it is always the case that if v0 <= 15 holds, then f0 <= 4 eventually holds and is succeeded by x2 < 0 .
Globally, d0 <= 9 eventually holds.
Globally, it is always the case that v0 < 5 holds.
Globally, it is always the case that if e1 > 15 holds and is succeeded by m2 > 9, then v1 > 4 eventually holds after m2 > 9 .
Between w1 > 5 and s1 <= 5, it is always the case that if z0 <= 3 holds, then b0 > 8 eventually holds.
Globally, it is always the case that if g2 >= 14 holds, then u1 >= 4 previously held.
After d2 <= 10, it is always the case that if g1 > 0 holds and is succeeded by e0 <= 7, then i1 = 5 eventually holds after e0 <= 7 .
Between j0 < 5 and p1 <= 9, it is always the case that if w0 > 12 holds, then o0 <= 6 eventually holds and is succeeded by v1 < 3 .
After l0 >= 12 until n1 <= 15, it is always the case that if v1 = 0 holds, then v1 < 0 previously held.
Before z1 > 12, it is always the case that if s0 <= 8 holds, then n2 >= 7 previously held and was preceded by c0 > 15 .
Globally, it is always the case that if k1 < 5 holds and is succeeded by u2 <= 15, then x2 > 1 eventually holds after u2 <= 15 .
Between w1 > 12 and j2 <= 14, it is always the case that if o1 <= 2 holds, then n2 < 1 eventually holds and is succeeded by m0 <= 14, where v2 < 15 does not hold between n2 < 1 and m0 <= 14 .
Between o2 <= 7 and l2 = 2, it is never the case that t0 = 2 holds.
After k2 >= 14, it is always the case that if e1 >= 1 holds and is succeeded by l1 = 12, then s1 = 3 previously held.
Before i2 > 10, it is always the case that if l0 < 10 holds, then r2 < 6 eventually holds and is succeeded by k2 > 13, where c1 >= 9 does not hold between r2 < 6 and k2 > 13 .
Before f2 = 10, it is always the case that if i2 >= 6 holds, then g1 >= 4 eventually holds.
Before i1 <= 1, x0 >= 1 eventually holds.
Between d2 < 5 and k2 < 15, it is always the case that if i1 > 13 holds, then u0 = 2 previously held.
Globally, it is always the case that if w2 > 11 holds, then h1 = 10 eventually holds and is succeeded by e2 <= 11, where z1 <= 11 does not hold between h1 = 10 and e2 <= 11 .
After z1 <= 9, it is always the case that if a1 = 10 holds and is succeeded by d2 <= 6, then g1 < 10 previously held.
Between x0 > 15 and j1 < 10, it is always the case that if m1 = 4 holds, then i0 = 0 previously held and was preceded by z1 >= 3 .
Between j0 = 14 and z0 >= 12, it is always the case that if b2 = 4 holds, then a0 > 7 eventually holds.
Before k2 <= 7, it is always the case that if e1 >= 3 holds and is succeeded by i0 >= 1, then d1 >= 9 eventually holds after i0 >= 1 .
After o2 < 2, it is always the case that if f0 = 14 holds, then m1 <= 5 eventually holds and is succeeded by a0 <= 7, where v2 < 13 does not hold between m1 <= 5 and a0 <= 7 .
Globally, it is always the case that if g1 < 12 holds, then x0 >= 6 eventually holds.
Globally, it is always the case that if u2 < 7 holds, then o0 >= 9 previously held.
After a3 < 1 until o2 = 3, it is always the case that if e1 >= 4 holds, then n1 < 15 previously held.
Between a2 < 5 and s0 <= 1, it is always the case that if s0 < 12 holds, then n2 > 7 previously held.
After r2 > 7 until v1 < 9, it is always the case that if d2 = 3 holds and is succeeded by i2 >= 14, then p0 < 15 eventually holds after i2 >= 14 .
After o0 >= 6 until p0 >= 6, it is always the case that if r2 = 9 holds, then z2 <= 0 eventually holds.
Globally, it is always the case that if j0 = 12 holds, then c0 > 1 previously held.
After w2 < 10, it is always the case that if i1 > 2 holds, then b2 > 14 eventually holds and is succeeded by t2 = 8 .
Between o1 >= 1 and f1 > 15, it is always the case that if x2 < 2 holds, then w1 > 7 previously held and was preceded by d0 >= 0 .
After a3 >= 8, it is always the case that if x1 > 4 holds, then b0 > 15 eventually holds and is succeeded by s1 <= 9, where e2 < 13 does not hold between b0 > 15 and s1 <= 9 .
Between p1 < 8 and e0 > 9, w1 < 11 eventually holds.
After l1 > 4, t1 <= 15 eventually holds.
Globally, it is always the case that if q0 > 1 holds, then n2 < 14 eventually holds and is succeeded by w0 > 4, where l1 < 7 does not hold between n2 < 14 and w0 > 4 .
Before o2 <= 9, it is always the case that s1 > 5 holds.
Between h1 = 13 and k0 >= 6, it is always the case that i1 = 1 holds.
After r1 = 11 until c1 <= 3, it is always the case that if q2 > 7 holds, then x2 > 15 eventually holds and is succeeded by m1 = 7, where y1 = 0 does not hold between x2 > 15 and m1 = 7 .
After i2 = 8, it is always the case that if b1 > 0 holds, then t2 >= 13 eventually holds.
After u1 < 9 until t0 > 3, it is always the case that if h2 <= 12 holds, then d2 <= 15 eventually holds.
Between i0 = 14 and m2 = 5, it is always the case that if k2 <= 4 holds and is succeeded by y1 = 15, then x0 = 12 previously held.
Between x0 = 5 and m0 = 12, it is never the case that f0 <= 1 holds.
After r0 >= 8 until m2 < 0, it is always the case that if h1 >= 9 holds, then q2 > 3 eventually holds.
Before r0 > 11, it is always the case that if f2 < 11 holds, then o2 >= 0 previously held and was preceded by s1 >= 13 .
Before r1 >= 5, it is always the case that h1 <= 5 holds.
Before g0 = 1, it is always the case that if j2 = 9 holds and is succeeded by h1 < 8, then d2 = 14 eventually holds after h1 < 8 .
Before l2 < 9, it is always the case that if t0 <= 10 holds, then p0 <= 5 previously held.
After b1 < 6 until a3 > 3, it is always the case that if n0 > 6 holds and is succeeded by w0 <= 1, then l1 < 3 previously held.
Globally, v1 = 5 eventually holds.
Before i0 < 3, it is always the case that if o1 = 8 holds, then k1 > 4 eventually holds.
After w2 <= 3 until q2 < 14, it is always the case that if o1 <= 11 holds and is succeeded by n0 = 3, then x2 < 12 eventually holds after n0 = 3 .
Between q0 = 10 and f2 >= 5, it is always the case that if e0 = 14 holds, then h2 < 1 eventually holds and is succeeded by v0 < 10 .
After u0 > 1 until x1 > 12, it is never the case that w1 > 15 holds.
Before e2 > 2, it is never the case that f1 >= 3 holds.
Before g2 >= 5, it is always the case that if p1 < 5 holds and is succeeded by w1 > 15, then r1 > 1 eventually holds after w1 > 15 .
Between a0 > 9 and y0 > 0, it is always the case that if w1 = 0 holds, then d2 >= 3 previously held and was preceded by b0 <= 9 .
After l1 = 12 until o0 >= 8, it is always the case that if m1 <= 12 holds and is succeeded by f1 <= 2, then p0 < 9 eventually holds after f1 <= 2 .
Between s1 <= 1 and r1 < 12, it is always the case that if c1 >= 14 holds, then d1 = 6 previously held.
After k1 = 11 until o2 >= 14, it is never the case that v0 <= 8 holds.
Globally, it is always the case that if j0 = 13 holds, then j0 >= 8 eventually holds and is succeeded by o2 <= 13 .
After o2 = 4, r1 >= 2 eventually holds.
Between x1 < 14 and d2 < 2, it is never the case that r2 < 5 holds.
After a1 < 4 until i2 <= 0, it is always the case that if g1 > 15 holds and is succeeded by v2 > 14, then p0 > 11 previously held.
Globally, it is always the case that if o0 = 10 holds, then x0 = 10 previously held.
Globally, it is always the case that g0 >= 13 holds.
After l1 <= 4 until w2 = 15, it is always the case that z2 = 12 holds.
Globally, it is always the case that if r1 <= 13 holds, then f2 >= 8 previously held.
After y1 <= 0 until s1 > 6, it is always the case that if h0 = 15 holds, then s0 >= 3 eventually holds and is succeeded by b1 > 8, where w1 >= 13 does not hold between s0 >= 3 and b1 > 8 .
Globally, it is always the case that if v0 <= 9 holds, then b2 < 11 previously held.
After g0 >= 14, it is always the case that if e1 > 11 holds, then d1 <= 14 previously held.
After l0 <= 8 until w2 = 5, it is always the case that if p1 = 6 holds and is succeeded by f1 < 12, then i0 = 8 eventually holds after f1 < 12 .
After r0 < 0, it is always the case that if a3 > 6 holds, then l0 > 6 previously held.
After y0 < 13, it is always the case that if b2 < 2 holds, then l2 <= 4 previously held and was preceded by h1 > 11 .
After n1 <= 14 until w2 < 12, it is always the case that if a3 = 7 holds, then z0 > 9 eventually holds and is succeeded by j1 < 14 .
Between n0 >= 13 and y2 < 7, it is never the case that n2 > 13 holds.
Before c1 > 10, it is always the case that if e2 > 0 holds and is succeeded by a2 < 15, then h2 < 12 previously held.
Globally, it is never the case that e2 <= 14 holds.
Globally, it is always the case that if a0 >= 6 holds, then e2 >= 2 previously held.
After n2 > 8, it is always the case that if z1 > 9 holds, then o0 <= 0 previously held.
After o0 = 3 until z1 < 14, it is always the case that if b0 = 7 holds, then b2 < 6 previously held and was preceded by c2 <= 4 .
Globally, it is always the case that if f2 >= 10 holds, then a2 > 7 eventually holds and is succeeded by k0 >= 7 .
Before b0 = 6, it is always the case that if v0 < 12 holds, then o0 < 5 eventually holds and is succeeded by a0 < 8 .
After w2 = 0, it is always the case that if c2 <= 3 holds, then u2 = 2 eventually holds and is succeeded by z2 < 1 .
After d2 > 4 until a2 = 0, it is always the case that g2 = 8 holds.
After x0 < 13 until t0 >= 8, it is always the case that if u1 = 4 holds and is succeeded by r0 >= 14, then q2 <= 15 eventually holds after r0 >= 14 .
After w0 <= 5 until b1 = 2, it is always the case that z2 < 4 holds.
Before a0 = 4, it is always the case that if r2 < 2 holds, then t0 = 13 eventually holds.
After h1 < 8, it is always the case that if b2 < 10 holds, then e0 > 4 previously held and was preceded by o2 < 1 .
Before k0 > 4, it is always the case that if f1 = 13 holds and is succeeded by t0 < 3, then w0 <= 12 eventually holds after t0 < 3 .
Before e2 = 4, it is always the case that if f0 <= 13 holds, then o1 <= 4 eventually holds.
After j1 = 13 until w2 >= 9, it is always the case that if r0 < 3 holds, then w0 >= 15 eventually holds and is succeeded by s0 <= 13 .
Before u0 = 4, it is always the case that if k2 < 8 holds, then p0 < 5 eventually holds and is succeeded by g2 <= 0 .
Before w1 > 3, it is always the case that if z2 <= 4 holds, then n0 >= 3 eventually holds and is succeeded by t0 > 14 .
Between h0 > 14 and q0 >= 6, it is always the case that if p1 <= 0 holds, then r2 >= 4 eventually holds.
Before p2 >= 2, it is never the case that n0 <= 9 holds.
Before y2 > 4, it is always the case that if l1 <= 5 holds, then i2 <= 12 eventually holds and is succeeded by s1 <= 13 .
After k1 <= 2 until c2 < 11, it is always the case that if b0 = 13 holds, then g2 < 10 eventually holds and is succeeded by h0 = 14 .
After l2 < 12, it is always the case that if x2 = 8 holds and is succeeded by c0 >= 9, then n0 >= 12 eventually holds after c0 >= 9 .
Before s0 >= 2, it is always the case that if k2 = 4 holds, then p0 < 11 previously held and was preceded by h2 < 9 .
Globally, it is always the case that if u1 >= 5 holds, then w2 > 8 previously held and was preceded by x2 <= 9 .
Globally, it is always the case that if d1 >= 11 holds and is succeeded by j2 > 8, then i1 > 7 eventually holds after j2 > 8 .
After x2 >= 6 until a3 = 5, it is always the case that if y1 <= 7 holds and is succeeded by z2 >= 14, then k0 = 15 previously held.
Globally, it is always the case that if q1 > 10 holds, then h2 = 14 previously held.
Globally, it is never the case that e2 <= 8 holds.
Globally, it is always the case that if n2 < 5 holds, then e0 < 2 eventually holds and is succeeded by x0 = 4, where y0 < 12 does not hold between e0 < 2 and x0 = 4 .
After b0 = 5, it is always the case that if y2 <= 5 holds, then l0 <= 2 eventually holds.
Between v0 < 3 and l0 > 10, it is always the case that if k1 = 11 holds and is succeeded by q0 <= 2, then n1 < 10 previously held.
Between u1 >= 3 and g1 >= 10, it is always the case that if d1 = 5 holds, then o1 <= 3 eventually holds.
Before q1 > 15, it is always the case that if z2 > 13 holds, then f2 = 8 eventually holds.
Between m1 < 6 and f2 <= 0, p0 > 6 eventually holds.
After k1 <= 15 until j0 <= 10, it is never the case that z2 <= 13 holds.
After f1 <= 0 until y0 < 6, it is always the case that if b1 >= 4 holds and is succeeded by w0 = 10, then t2 >= 4 previously held.
Before i2 >= 14, it is always the case that if r1 <= 6 holds, then o2 >= 7 previously held.
Between o1 < 7 and y1 <= 8, a3 > 8 eventually holds.
After j1 = 6 until k0 <= 9, it is always the case that if a0 > 12 holds, then t1 >= 10 previously held.
After h0 > 6, it is always the case that if o0 = 12 holds, then p1 > 7 eventually holds.
Between z0 >= 14 and m2 > 2, it is always the case that d2 > 3 holds.
Between y1 < 3 and i0 = 12, it is never the case that d2 <= 6 holds.
Between x2 = 5 and h0 <= 4, it is never the case that m1 > 1 holds.
After a3 > 1 until e2 <= 4, h2 > 9 eventually holds.
Before u2 > 7, it is never the case that i2 <= 0 holds.
Before f1 >= 7, it is always the case that if u2 >= 2 holds and is succeeded by t2 > 5, then x0 = 1 eventually holds after t2 > 5 .
After v2 <= 14, it is always the case that if j0 <= 4 holds, then h1 < 8 eventually holds and is succeeded by t1 < 2 .
Globally, it is always the case that if b1 > 14 holds, then t0 > 3 previously held.
After p2 < 14 until d2 > 13, it is always the case that if q0 <= 2 holds, then n2 <= 8 eventually holds and is succeeded by f0 = 4 .
Before t0 >= 13, it is always the case that if d2 > 0 holds and is succeeded by k2 > 14, then t1 < 13 eventually holds after k2 > 14 .
After l2 <= 15, it is always the case that if k1 < 1 holds, then z1 = 1 eventually holds.
Globally, it is always the case that if r2 <= 7 holds and is succeeded by s1 <= 12, then f1 < 6 eventually holds after s1 <= 12 .
After h0 < 0, it is always the case that if h2 = 11 holds and is succeeded by l2 = 15, then t1 >= 4 previously held.
Globally, it is always the case that if i0 <= 14 holds, then e0 = 4 previously held and was preceded by j2 = 4 .
After e1 <= 9 until y0 < 3, it is always the case that f1 >= 4 holds.
After i2 > 1, it is always the case that if d2 = 12 holds, then c2 <= 8 previously held.
Before j0 < 13, t1 <= 4 eventually holds.
After v0 >= 6 until i2 < 10, it is always the case that if u0 >= 14 holds, then t0 = 9 previously held and was preceded by p2 > 15 .
After r1 < 2, it is always the case that if z2 = 10 holds, then h2 < 8 previously held.
Between m2 >= 12 and k2 < 7, it is always the case that if e2 < 13 holds, then o2 = 6 previously held.
Before g0 < 7, it is always the case that c2 > 4 holds.
Before p2 < 5, it is always the case that if v2 < 15 holds, then v0 > 4 eventually holds.
After s1 >= 2 until e0 < 4, e0 <= 14 eventually holds.
After m1 > 9 until f1 <= 0, it is always the case that if o2 < 13 holds and is succeeded by u0 > 2, then t0 >= 15 eventually holds after u0 > 2 .
After b1 >= 14 until g1 = 13, it is always the case that r2 < 5 holds.
Between r0 <= 13 and o0 > 7, it is always the case that if d1 <= 10 holds, then b1 >= 11 previously held.
Between z0 > 9 and q0 = 0, it is always the case that if u1 >= 0 holds and is succeeded by y2 > 12, then t2 >= 14 eventually holds after y2 > 12 .
After d1 >= 14 until q0 <= 0, it is always the case that if g0 >= 9 holds and is succeeded by w2 <= 8, then t0 > 2 eventually holds after w2 <= 8 .
After r2 = 14 until o2 > 11, it is always the case that h2 > 0 holds.
Between f1 <= 7 and z0 >= 14, it is always the case that if e1 = 3 holds, then x1 > 5 eventually holds and is succeeded by u1 = 2, where s0 > 9 does not hold between x1 > 5 and u1 = 2 .
Globally, it is always the case that if o2 = 6 holds and is succeeded by y1 <= 1, then o2 < 11 previously held.
Before s0 < 1, i0 = 0 eventually holds.
Globally, i0 > 11 eventually holds.
Before k0 >= 5, it is always the case that if y2 >= 11 holds and is succeeded by p0 = 9, then z0 = 15 eventually holds after p0 = 9 .
Between i0 > 0 and h0 = 15, it is always the case that if e0 <= 12 holds, then a0 < 2 eventually holds and is succeeded by p2 >= 8, where b1 <= 0 does not hold between a0 < 2 and p2 >= 8 .
After g2 >= 15, it is always the case that i2 > 4 holds.
After i0 >= 12, it is always the case that if o1 < 4 holds, then n2 > 8 eventually holds.
Globally, it is never the case that n2 = 0 holds.
After a1 >= 11 until v0 < 13, it is always the case that if j1 < 4 holds, then h0 < 1 eventually holds and is succeeded by c0 <= 5, where f2 = 7 does not hold between h0 < 1 and c0 <= 5 .
After z1 > 6 until u2 > 1, it is always the case that n0 < 9 holds.
After h1 >= 14 until c2 > 1, it is always the case that if b2 = 0 holds and is succeeded by g2 > 10, then b0 <= 5 eventually holds after g2 > 10 .
After l1 <= 11 until b2 = 1, it is always the case that if z1 = 0 holds, then r0 < 5 previously held and was preceded by r1 < 0 .
Before j2 < 6, it is always the case that if c1 = 13 holds and is succeeded by d2 = 3, then g2 < 15 eventually holds after d2 = 3 .
Globally, it is always the case that if h1 < 9 holds, then s0 <= 3 eventually holds and is succeeded by t2 < 14, where z0 = 1 does not hold between s0 <= 3 and t2 < 14 .
Between u0 = 1 and h1 <= 8, it is always the case that if g0 > 2 holds, then a1 > 14 eventually holds and is succeeded by b2 = 4 .
Globally, it is always the case that if t1 <= 4 holds, then w0 >= 15 eventually holds and is succeeded by t0 = 6 .
After f1 < 12, it is always the case that if z0 <= 14 holds, then l0 = 0 eventually holds and is succeeded by e1 > 5 .
Before c1 < 9, it is always the case that if l1 <= 8 holds, then n2 = 13 previously held.
Between f0 = 11 and t1 >= 1, it is never the case that k2 < 6 holds.
After t1 <= 13, it is always the case that if v0 < 15 holds and is succeeded by j2 > 3, then c0 = 3 previously held.
Before a1 >= 0, it is always the case that a2 >= 8 holds.
Between y2 >= 5 and l0 <= 15, it is always the case that if m0 < 1 holds and is succeeded by h2 = 8, then y1 < 15 eventually holds after h2 = 8 .
Between b1 > 13 and c2 < 12, it is always the case that y0 = 6 holds.
After a1 <= 6, it is always the case that if k0 < 0 holds, then n0 > 5 eventually holds and is succeeded by a3 > 14 .
Globally, it is always the case that if q0 = 9 holds, then o0 > 6 eventually holds.
Before x2 <= 13, it is always the case that if q2 >= 14 holds and is succeeded by s2 < 12, then z2 = 5 previously held.
After w2 <= 11 until g1 <= 14, it is always the case that if z0 = 4 holds, then u2 > 7 eventually holds and is succeeded by c2 > 12 .
Between q0 = 12 and u1 > 9, it is always the case that if x2 = 14 holds, then w1 < 0 eventually holds.
After a1 >= 12, it is always the case that if s1 >= 14 holds and is succeeded by u2 = 15, then d2 < 4 eventually holds after u2 = 15 .
After e0 <= 6, it is always the case that a2 <= 12 holds.
Between k2 >= 14 and m1 < 12, it is always the case that if k2 > 5 holds, then m2 <= 7 previously held and was preceded by j2 = 12 .
Between b0 = 1 and v2 > 6, it is always the case that if g2 > 5 holds, then e2 <= 12 eventually holds and is succeeded by l1 < 8 .
Globally, it is always the case that if a0 < 4 holds, then w1 = 3 eventually holds.
Before r1 > 9, it is always the case that if k1 <= 7 holds, then j0 > 13 eventually holds.
Between f1 > 6 and d1 = 14, it is always the case that if q1 = 3 holds and is succeeded by x1 < 8, then a0 >= 5 previously held.
Between z1 = 0 and c1 < 10, it is always the case that if d2 >= 10 holds, then t2 > 9 previously held.
Before x2 = 5, it is always the case that if w1 > 9 holds, then a1 > 1 previously held.
After c1 <= 12 until p0 = 14, it is always the case that if m1 > 3 holds, then h1 < 6 eventually holds and is succeeded by h0 < 10 .
Between a2 = 7 and i1 >= 11, it is always the case that if r2 >= 7 holds, then a3 <= 12 eventually holds.
Before z1 > 11, it is always the case that if o1 = 15 holds, then v2 <= 13 previously held and was preceded by s1 > 8 .
Before u1 >= 8, a3 >= 15 eventually holds.
Between y2 = 15 and w2 < 7, it is always the case that if r1 = 7 holds, then n2 >= 13 eventually holds.
After r2 >= 1 until y1 < 14, it is always the case that if a1 = 3 holds, then e2 < 14 eventually holds.
After v1 >= 10, it is always the case that if z0 > 8 holds, then n2 < 5 eventually holds and is succeeded by e2 < 8, where z0 < 2 does not hold between n2 < 5 and e2 < 8 .
Before c0 < 1, it is always the case that if q2 > 15 holds and is succeeded by g0 <= 4, then h2 = 9 eventually holds after g0 <= 4 .
Globally, it is always the case that if i0 = 10 holds, then b1 < 2 previously held.
After p2 >= 2 until s1 > 12, it is always the case that if s2 < 11 holds, then z1 >= 1 eventually holds and is succeeded by e0 <= 8, where r1 < 5 does not hold between z1 >= 1 and e0 <= 8 .
Before b1 <= 13, it is always the case that if c0 > 13 holds, then q0 = 13 eventually holds.
Before a1 >= 6, it is always the case that if y2 = 13 holds, then z0 > 7 previously held.
After v2 = 12, it is always the case that if u1 <= 15 holds, then x0 > 4 previously held.
After n2 <= 14, it is always the case that d1 <= 0 holds.
Globally, it is always the case that x0 > 5 holds.
Before l1 > 3, it is always the case that if u2 <= 7 holds, then z2 = 7 previously held.
Globally, it is always the case that b1 <= 3 holds.
After w0 <= 3 until f1 >= 15, it is always the case that if l1 < 13 holds, then u1 = 1 previously held and was preceded by h2 >= 10 .
After x1 < 14 until k1 > 14, it is always the case that if r2 < 12 holds, then d1 >= 15 previously held and was preceded by h2 = 4 .
Globally, it is always the case that a2 > 3 holds.
After n0 >= 12 until u0 > 11, it is never the case that n1 > 14 holds.
Globally, it is always the case that if v2 < 4 holds and is succeeded by i0 <= 10, then r2 >= 3 eventually holds after i0 <= 10 .
Before a2 < 3, it is always the case that if f0 <= 14 holds, then f2 <= 7 eventually holds and is succeeded by e2 > 5, where s1 <= 4 does not hold between f2 <= 7 and e2 > 5 .
After q2 = 13, it is always the case that if u2 < 12 holds, then f0 < 5 previously held and was preceded by m1 > 3 .
Globally, it is never the case that y1 < 4 holds.
After a2 = 11 until b1 = 7, it is always the case that if t0 < 9 holds, then c1 <= 15 eventually holds and is succeeded by h1 <= 15, where o2 > 8 does not hold between c1 <= 15 and h1 <= 15 .
Globally, it is always the case that t1 > 0 holds.
After l2 <= 4, it is always the case that if d0 >= 8 holds, then n0 < 8 eventually holds and is succeeded by f1 = 6 .
After v0 = 2, it is always the case that p2 <= 4 holds.
After d2 > 8 until d1 <= 9, it is always the case that if y2 < 12 holds, then f2 >= 4 eventually holds.
After n2 >= 0, it is never the case that n1 < 10 holds.
Between q1 >= 7 and p1 > 4, it is always the case that if k2 = 2 holds, then r0 <= 6 eventually holds and is succeeded by a3 = 14 .
After f1 >= 0, it is never the case that d0 > 13 holds.
Before c1 >= 9, it is always the case that if f2 >= 13 holds and is succeeded by k2 < 0, then q2 >= 2 previously held.
Globally, it is always the case that q0 > 3 holds.
Between a2 >= 6 and w1 < 6, it is always the case that if n2 = 11 holds and is succeeded by e0 <= 1, then m0 < 5 eventually holds after e0 <= 1 .
After b0 <= 12 until h1 >= 4, it is always the case that a0 <= 6 holds.
After u0 = 9, it is always the case that if y0 < 2 holds, then f1 > 4 eventually holds.
After g2 <= 8, it is always the case that u1 = 14 holds.
Globally, it is always the case that if k1 < 6 holds and is succeeded by t2 >= 15, then h0 <= 11 previously held.
After l1 = 3, it is always the case that if h2 < 15 holds and is succeeded by h2 <= 0, then f2 >= 14 previously held.
Before c0 = 14, it is never the case that k2 = 11 holds.
Between m0 >= 7 and h0 <= 2, it is always the case that o2 >= 11 holds.
Before w1 >= 6, w2 < 15 eventually holds.
After w2 = 10 until m0 > 12, it is always the case that q2 >= 12 holds.
Globally, t2 <= 4 eventually holds.
Before i1 <= 10, it is always the case that if w2 >= 8 holds, then c0 <= 6 previously held.
Globally, m0 <= 5 eventually holds.
After n1 > 6, it is always the case that if z2 <= 8 holds, then o2 > 6 eventually holds.
After n1 > 13 until u1 > 6, it is always the case that if o0 < 7 holds, then q2 < 11 eventually holds and is succeeded by a0 = 3 .
After h1 > 1, it is always the case that if l2 > 13 holds and is succeeded by t1 <= 2, then b2 > 11 eventually holds after t1 <= 2 .
Before l0 = 7, it is always the case that if i1 > 0 holds, then b2 >= 14 previously held and was preceded by c0 > 13 .
