Before o1 < 4, it is never the case that y2 >= 13 holds.
Between i0 <= 7 and n1 < 5, it is always the case that if n2 <= 8 holds, then s0 <= 12 previously held.
After t1 < 14 until x0 <= 15, it is always the case that if d1 >= 11 holds and is succeeded by h2 > 1, then p1 >= 2 eventually holds after h2 > 1 .
After s0 >= 1, it is always the case that if m2 <= 10 holds, then t0 < 7 eventually holds.
Before z1 < 8, it is always the case that if s0 >= 7 holds, then y0 > 5 eventually holds and is succeeded by k1 < 14 .
Globally, it is always the case that if e2 > 3 holds, then b2 > 11 previously held.
After z0 >= 0 until v2 <= 6, it is always the case that if i1 <= 1 holds, then w1 = 10 previously held and was preceded by o0 = 9 .
Globally, it is never the case that x2 < 2 holds.
Before r2 <= 10, z0 <= 1 eventually holds.
After u1 >= 10 until t2 > 6, it is always the case that if e1 > 12 holds, then e0 < 7 previously held.
Globally, it is always the case that if b2 = 10 holds and is succeeded by n0 <= 2, then o1 < 12 eventually holds after n0 <= 2 .
Globally, it is always the case that if y2 = 13 holds, then b1 >= 12 previously held.
Globally, it is always the case that h0 = 2 holds.
After h1 > 13 until z1 > 1, it is always the case that if q1 <= 15 holds, then e1 <= 0 eventually holds and is succeeded by j1 = 3, where o2 = 6 does not hold between e1 <= 0 and j1 = 3 .
After b1 >= 5, it is always the case that if w1 > 8 holds, then u2 >= 0 eventually holds and is succeeded by c1 < 1 .
Before b2 < 9, it is always the case that if p1 < 1 holds, then a0 <= 7 eventually holds and is succeeded by n0 >= 6, where l2 <= 9 does not hold between a0 <= 7 and n0 >= 6 .
After s1 < 3, it is never the case that y2 > 3 holds.
Between m0 >= 0 and h0 >= 1, it is always the case that if g0 >= 5 holds, then j0 <= 10 previously held and was preceded by x0 < 7 .
After s1 >= 12, it is always the case that o1 = 1 holds.
After q2 <= 11, it is always the case that if l2 < 6 holds, then r1 = 13 eventually holds.
Before t2 <= 14, it is always the case that if f0 >= 0 holds, then t0 < 4 eventually holds.
Globally, it is never the case that d0 = 0 holds.
Before p1 <= 9, it is never the case that k0 > 0 holds.
After f2 < 13, it is never the case that t2 = 0 holds.
After d1 > 7, it is always the case that if a1 = 15 holds, then c0 > 3 previously held and was preceded by m2 > 5 .
Before g2 >= 11, it is always the case that if k1 = 6 holds and is succeeded by e1 > 10, then v0 <= 13 eventually holds after e1 > 10 .
After h2 = 9 until w0 = 9, it is never the case that c1 > 12 holds.
After g2 <= 11, it is always the case that x2 = 9 holds.
Between j1 = 15 and y2 > 1, it is always the case that if d1 <= 2 holds, then a1 = 15 previously held and was preceded by v1 < 15 .
Before d0 < 2, it is always the case that if j2 > 7 holds, then k0 = 12 previously held and was preceded by c0 < 0 .
After b2 = 15, it is always the case that if r0 > 9 holds, then a2 >= 3 eventually holds and is succeeded by w2 < 6 .
After s0 <= 7 until c1 < 8, it is always the case that if a1 <= 7 holds and is succeeded by g0 < 1, then u0 >= 12 eventually holds after g0 < 1 .
Between j2 = 12 and u1 >= 10, it is always the case that if y1 = 9 holds, then l0 <= 13 previously held.
After u0 >= 2 until q2 = 7, it is always the case that if b2 <= 8 holds, then q1 = 4 eventually holds.
After m2 = 10, it is never the case that s0 < 8 holds.
Globally, it is always the case that if t0 > 3 holds, then r1 < 9 previously held and was preceded by f2 = 11 .
Globally, it is always the case that if r0 > 15 holds, then y0 = 0 eventually holds.
After c1 < 15, q0 >= 10 eventually holds.
Between e1 >= 10 and z2 <= 11, it is always the case that if c0 > 5 holds, then m1 < 5 eventually holds and is succeeded by q0 >= 7 .
Between t2 >= 0 and f0 = 3, it is never the case that w0 >= 3 holds.
Globally, it is always the case that if r2 < 5 holds, then n2 <= 1 previously held.
After n0 <= 1, it is never the case that z2 > 2 holds.
Before o0 = 13, it is always the case that if f1 = 2 holds and is succeeded by f1 <= 12, then x2 > 4 eventually holds after f1 <= 12 .
Globally, it is always the case that if i0 = 4 holds, then n1 > 10 eventually holds and is succeeded by q0 <= 0, where f1 < 4 does not hold between n1 > 10 and q0 <= 0 .
Globally, it is always the case that if s0 < 12 holds, then w1 <= 15 eventually holds and is succeeded by k2 = 5 .
Between j2 < 13 and e0 <= 6, it is always the case that if a2 <= 5 holds and is succeeded by j2 >= 10, then x2 > 0 previously held.
After e1 <= 1 until b2 >= 6, it is always the case that if r0 >= 12 holds, then s2 >= 8 eventually holds and is succeeded by k0 < 13, where l1 > 2 does not hold between s2 >= 8 and k0 < 13 .
Between r2 = 2 and g1 = 13, it is never the case that g0 > 8 holds.
Between l2 <= 13 and t0 <= 11, it is always the case that if e2 <= 1 holds, then l1 = 6 eventually holds and is succeeded by n2 <= 12 .
Globally, it is always the case that if h2 <= 14 holds and is succeeded by k0 > 14, then v0 <= 4 eventually holds after k0 > 14 .
After v1 >= 6 until g0 > 5, it is always the case that if z2 <= 15 holds, then k2 <= 10 eventually holds and is succeeded by z2 <= 1, where a1 = 11 does not hold between k2 <= 10 and z2 <= 1 .
Globally, it is never the case that e2 <= 1 holds.
Globally, it is always the case that if a3 > 15 holds and is succeeded by p0 <= 0, then b1 > 2 eventually holds after p0 <= 0 .
Before j1 = 10, it is always the case that if g1 = 11 holds and is succeeded by i2 > 11, then f2 <= 15 eventually holds after i2 > 11 .
Between m0 < 15 and b1 > 9, p2 > 10 eventually holds.
Globally, it is always the case that if l2 < 1 holds, then b2 < 12 eventually holds.
After i2 = 9 until a0 < 14, it is always the case that if p0 >= 4 holds, then s0 < 9 eventually holds.
After z2 <= 1 until t0 > 0, it is always the case that if i1 > 11 holds, then o0 = 3 eventually holds and is succeeded by u2 = 6 .
Before g2 = 3, it is never the case that n2 > 4 holds.
Globally, it is always the case that if u2 >= 3 holds, then b2 > 0 previously held.
After p1 >= 12, it is always the case that if k0 > 4 holds and is succeeded by v2 >= 8, then c1 > 2 previously held.
Before i0 <= 4, s2 < 7 eventually holds.
Globally, it is always the case that if d0 <= 12 holds and is succeeded by a2 > 6, then l2 >= 8 eventually holds after a2 > 6 .
Globally, it is always the case that if w1 > 3 holds and is succeeded by z1 = 15, then u0 = 6 eventually holds after z1 = 15 .
After w0 > 7, it is always the case that if m1 < 12 holds, then p0 <= 2 eventually holds and is succeeded by h2 = 15, where s0 >= 2 does not hold between p0 <= 2 and h2 = 15 .
Globally, k1 > 14 eventually holds.
Globally, it is always the case that if z2 = 9 holds, then u1 >= 12 eventually holds and is succeeded by x1 > 5, where f2 = 15 does not hold between u1 >= 12 and x1 > 5 .
After u1 <= 12 until g1 >= 11, it is always the case that if l2 < 5 holds, then s2 = 13 eventually holds and is succeeded by r0 = 15, where w0 > 1 does not hold between s2 = 13 and r0 = 15 .
Between a1 = 12 and n0 > 13, it is never the case that u2 > 14 holds.
Globally, it is always the case that if q0 >= 14 holds, then a0 <= 3 eventually holds and is succeeded by x1 < 14, where x2 = 14 does not hold between a0 <= 3 and x1 < 14 .
After z2 = 3, v1 > 0 eventually holds.
After v0 <= 7, it is always the case that r2 >= 2 holds.
Between p1 < 7 and f0 <= 14, it is always the case that if y2 > 5 holds and is succeeded by k2 >= 14, then v2 = 8 eventually holds after k2 >= 14 .
After e1 < 7 until g2 < 4, it is always the case that if l0 >= 1 holds, then a0 < 13 eventually holds and is succeeded by n1 = 5, where k2 <= 0 does not hold between a0 < 13 and n1 = 5 .
Globally, it is always the case that if j2 = 7 holds, then t0 > 11 eventually holds and is succeeded by g0 <= 6 .
After x1 = 11, it is always the case that if t2 > 13 holds, then m0 > 10 previously held.
After c0 <= 12, c0 > 11 eventually holds.
After f2 < 14 until p2 > 2, it is always the case that if q2 >= 12 holds, then k0 > 9 previously held and was preceded by k1 > 15 .
Globally, it is always the case that if a2 > 13 holds, then c1 >= 7 eventually holds.
Globally, it is always the case that b0 >= 12 holds.
After z1 >= 11 until t1 <= 12, it is always the case that if p0 >= 0 holds, then t1 <= 9 eventually holds and is succeeded by l2 > 6 .
Between l2 > 14 and p1 < 8, it is always the case that if g2 >= 14 holds, then i2 > 0 previously held.
After a3 = 14 until b2 <= 3, it is always the case that if t0 >= 1 holds and is succeeded by f2 > 3, then a2 < 8 eventually holds after f2 > 3 .
Before k2 = 1, it is always the case that if f2 > 6 holds, then q2 > 13 eventually holds.
After t2 > 11 until b0 = 0, r2 >= 3 eventually holds.
Before q2 <= 1, it is always the case that if p2 < 1 holds, then j1 < 14 eventually holds and is succeeded by q2 < 7, where c2 = 12 does not hold between j1 < 14 and q2 < 7 .
Globally, t2 = 7 eventually holds.
After e2 > 0 until n2 < 6, it is always the case that if p1 = 14 holds, then n1 = 15 previously held.
After v2 >= 4 until q0 >= 3, it is always the case that if m1 > 1 holds, then b1 <= 2 previously held and was preceded by x0 >= 5 .
Between l2 > 0 and z2 < 6, it is always the case that if v2 <= 5 holds, then h0 > 9 eventually holds.
After l1 = 10, it is always the case that if l0 = 5 holds and is succeeded by b2 < 11, then m2 < 6 previously held.
Between s0 >= 15 and z0 <= 7, it is always the case that if w2 >= 1 holds, then e2 > 4 eventually holds and is succeeded by t2 < 12, where y0 < 2 does not hold between e2 > 4 and t2 < 12 .
Between x0 < 13 and a2 <= 15, it is never the case that t1 < 1 holds.
After b0 = 8 until s2 > 7, it is always the case that if g0 <= 15 holds and is succeeded by k2 > 14, then r2 <= 3 eventually holds after k2 > 14 .
Before f2 >= 6, it is always the case that if y2 >= 13 holds, then o2 = 8 previously held and was preceded by b2 >= 15 .
Between a1 >= 3 and s2 >= 15, it is always the case that if t0 = 13 holds, then r1 < 15 eventually holds and is succeeded by d2 <= 9, where y0 = 7 does not hold between r1 < 15 and d2 <= 9 .
Before g1 > 0, it is always the case that if b2 > 1 holds, then h1 <= 1 eventually holds.
Before e1 < 14, it is always the case that if h2 <= 12 holds and is succeeded by j2 > 11, then u1 > 15 eventually holds after j2 > 11 .
Before n2 = 15, it is always the case that n1 < 1 holds.
After r1 > 8, it is always the case that if i0 > 12 holds, then r2 < 3 eventually holds.
Between x0 > 6 and f2 = 12, it is always the case that q2 < 14 holds.
After r2 > 2, it is always the case that if t1 = 2 holds, then z0 = 15 previously held and was preceded by y2 >= 6 .
After b1 = 0 until b2 = 5, g2 = 13 eventually holds.
Globally, it is always the case that if q2 <= 7 holds and is succeeded by g2 >= 11, then x0 >= 6 eventually holds after g2 >= 11 .
Globally, r1 >= 4 eventually holds.
Before m2 >= 14, it is always the case that a2 = 7 holds.
After r0 >= 7 until j2 = 10, it is never the case that n0 < 15 holds.
After a0 >= 10 until w2 <= 6, it is always the case that if h2 < 4 holds, then p1 >= 1 previously held.
After i0 <= 3, it is never the case that i1 <= 15 holds.
Between n2 = 15 and s2 >= 0, c1 >= 3 eventually holds.
Between b2 > 13 and f1 >= 0, it is always the case that y0 = 8 holds.
Between k1 < 9 and o1 = 10, it is always the case that if h1 < 6 holds, then u1 = 2 eventually holds and is succeeded by p2 >= 12, where c1 <= 6 does not hold between u1 = 2 and p2 >= 12 .
Between q1 = 12 and r1 = 9, i0 = 1 eventually holds.
Globally, it is never the case that h0 >= 0 holds.
Globally, it is always the case that if b2 >= 6 holds, then z0 >= 4 eventually holds.
Before c2 <= 14, it is always the case that v0 = 14 holds.
Globally, it is always the case that if r0 < 9 holds and is succeeded by l0 >= 8, then g0 < 13 eventually holds after l0 >= 8 .
After w1 >= 15, it is always the case that if i2 > 6 holds, then v0 = 8 eventually holds and is succeeded by t0 >= 11 .
Before h2 = 11, it is always the case that if d0 <= 10 holds, then l1 >= 2 eventually holds and is succeeded by b2 > 15 .
Globally, it is always the case that if i0 >= 15 holds, then a3 >= 15 eventually holds and is succeeded by u1 = 12, where f0 > 11 does not hold between a3 >= 15 and u1 = 12 .
Between c2 >= 2 and w1 <= 11, it is always the case that if h0 > 3 holds and is succeeded by j2 = 4, then i1 > 15 eventually holds after j2 = 4 .
Globally, it is always the case that if v1 > 7 holds, then o2 < 1 eventually holds and is succeeded by n2 >= 15, where d0 > 6 does not hold between o2 < 1 and n2 >= 15 .
After m1 >= 1, it is always the case that u0 >= 9 holds.
Between c0 >= 11 and a1 <= 14, it is always the case that if v0 = 5 holds, then i2 <= 6 previously held and was preceded by r1 > 10 .
Between s1 > 11 and r0 > 10, it is always the case that if b0 <= 0 holds and is succeeded by x2 >= 4, then h1 <= 10 previously held.
Between k0 = 11 and n1 < 10, it is always the case that if e0 < 6 holds and is succeeded by d1 <= 6, then z1 >= 1 previously held.
After v1 >= 1, it is always the case that if i0 <= 13 holds and is succeeded by d0 > 15, then s0 = 9 previously held.
Between i1 <= 4 and g1 > 14, it is always the case that if h1 = 5 holds and is succeeded by w1 < 11, then k1 < 3 eventually holds after w1 < 11 .
After n0 < 15, it is never the case that t0 >= 3 holds.
Globally, it is always the case that if g2 <= 4 holds and is succeeded by d0 < 2, then r2 >= 6 eventually holds after d0 < 2 .
Between l0 < 3 and b1 > 11, it is always the case that if h0 < 12 holds, then q1 <= 4 eventually holds.
Globally, it is always the case that if q0 <= 6 holds and is succeeded by q0 = 14, then b2 >= 2 previously held.
After v2 <= 13, it is always the case that if y0 <= 7 holds, then k2 < 7 eventually holds and is succeeded by e0 >= 13 .
After q1 >= 12 until q0 > 9, s1 = 2 eventually holds.
After k0 > 1, it is always the case that y2 <= 14 holds.
After y2 = 8 until c0 < 8, it is never the case that f1 = 8 holds.
Globally, it is always the case that if o1 > 3 holds and is succeeded by a0 < 14, then s2 >= 7 previously held.
Globally, it is always the case that if o1 = 5 holds, then a2 <= 3 eventually holds.
Globally, f2 = 12 eventually holds.
After t1 < 9, it is always the case that if i1 <= 4 holds, then v1 = 7 eventually holds and is succeeded by y1 < 11 .
Between v0 < 14 and q2 <= 9, it is always the case that if v2 <= 7 holds and is succeeded by p0 >= 8, then q1 < 11 previously held.
Globally, it is always the case that if x2 <= 5 holds and is succeeded by g1 > 0, then l0 > 9 previously held.
Between a3 > 5 and l0 <= 6, it is always the case that if j2 <= 1 holds, then l1 < 7 eventually holds and is succeeded by i0 >= 6, where o1 >= 8 does not hold between l1 < 7 and i0 >= 6 .
After g2 > 10 until v2 <= 15, it is always the case that if z2 = 8 holds, then h2 < 7 eventually holds and is succeeded by r1 = 9, where u2 = 3 does not hold between h2 < 7 and r1 = 9 .
After a0 = 3 until n2 >= 10, it is always the case that if n2 >= 13 holds, then e0 >= 11 previously held.
Globally, it is always the case that if e1 < 13 holds and is succeeded by z2 = 3, then l2 > 13 eventually holds after z2 = 3 .
Between k2 >= 0 and v1 > 2, q1 < 12 eventually holds.
Before z2 <= 11, it is always the case that r1 <= 15 holds.
Before a2 = 12, it is always the case that if l0 <= 14 holds, then z2 < 11 previously held.
Before p1 >= 13, it is always the case that if k0 <= 8 holds, then f2 = 9 previously held and was preceded by e1 >= 3 .
After w1 = 2, p0 = 12 eventually holds.
Globally, it is always the case that if v0 >= 11 holds and is succeeded by s0 = 4, then w2 = 10 eventually holds after s0 = 4 .
After w0 = 14, it is never the case that v2 >= 1 holds.
After l0 < 10 until j1 <= 7, it is never the case that a2 >= 13 holds.
After e1 < 9 until p2 > 11, it is always the case that l0 > 13 holds.
After a2 < 5, it is always the case that if u1 >= 3 holds, then q0 < 10 previously held.
After j1 > 15 until x2 > 3, h1 = 11 eventually holds.
After a1 >= 9, j0 < 14 eventually holds.
Globally, it is never the case that k1 <= 5 holds.
After b0 < 15 until e2 >= 11, it is always the case that if u2 > 8 holds and is succeeded by g2 = 14, then b2 <= 1 eventually holds after g2 = 14 .
Between u2 < 2 and m1 > 12, it is never the case that b0 <= 15 holds.
After c1 > 3, s1 < 7 eventually holds.
After w1 < 6 until d0 <= 1, it is always the case that if i2 <= 4 holds, then w1 <= 11 eventually holds and is succeeded by o2 < 12 .
Globally, it is always the case that if a1 >= 6 holds and is succeeded by b2 = 8, then y2 <= 2 eventually holds after b2 = 8 .
Before e0 >= 2, w2 >= 15 eventually holds.
After e2 < 6, it is always the case that if r2 >= 14 holds, then q1 >= 13 previously held and was preceded by q0 < 0 .
After i2 <= 1 until w1 > 7, it is always the case that if i1 = 14 holds, then s1 < 10 eventually holds and is succeeded by p1 < 0, where x0 < 6 does not hold between s1 < 10 and p1 < 0 .
Between q0 > 10 and z0 <= 14, it is always the case that if p1 <= 12 holds, then t1 <= 7 eventually holds.
After t2 >= 14 until b0 < 0, it is always the case that if w0 >= 0 holds, then m1 = 2 previously held and was preceded by o1 = 3 .
After b2 <= 8, it is never the case that w1 < 7 holds.
After p2 > 15, e0 = 9 eventually holds.
Between m1 < 5 and u1 = 6, it is always the case that if c2 >= 12 holds and is succeeded by u1 <= 10, then w1 >= 7 previously held.
Between w2 = 11 and g1 >= 0, it is never the case that x0 > 12 holds.
After i1 >= 0, it is always the case that if y0 >= 4 holds, then y0 < 5 eventually holds.
Before p2 = 11, it is always the case that if q1 = 11 holds, then r1 <= 9 eventually holds.
Globally, it is always the case that if r0 >= 2 holds, then j0 < 7 eventually holds and is succeeded by b0 = 3 .
After h0 < 12 until q1 = 9, it is never the case that j1 >= 4 holds.
After y0 > 5 until v2 = 13, it is always the case that if t2 <= 13 holds and is succeeded by b1 >= 13, then g1 > 5 eventually holds after b1 >= 13 .
Before v0 < 4, it is always the case that if o0 <= 6 holds and is succeeded by a0 >= 15, then v1 >= 13 eventually holds after a0 >= 15 .
Globally, it is always the case that e0 > 11 holds.
After c0 > 11, it is always the case that if s2 < 8 holds and is succeeded by u1 >= 2, then c0 >= 2 eventually holds after u1 >= 2 .
Before p1 > 14, it is always the case that if k1 < 13 holds, then f0 >= 12 eventually holds and is succeeded by s1 >= 6, where h2 <= 10 does not hold between f0 >= 12 and s1 >= 6 .
After e1 <= 7 until s2 <= 5, it is always the case that if l2 >= 1 holds, then e0 = 3 eventually holds and is succeeded by t2 >= 7 .
After e2 <= 7, it is always the case that r0 > 12 holds.
After f0 <= 1 until v2 <= 3, it is always the case that if n2 > 4 holds, then q1 > 14 eventually holds and is succeeded by i2 < 3, where j1 <= 9 does not hold between q1 > 14 and i2 < 3 .
After r1 >= 0, it is always the case that if x0 <= 12 holds and is succeeded by t0 >= 7, then l0 = 7 previously held.
After q2 < 6, w2 >= 2 eventually holds.
Between n0 = 14 and q2 >= 9, it is always the case that if i0 = 0 holds, then z2 < 12 previously held.
Between l2 > 9 and j2 = 7, it is always the case that g0 > 7 holds.
After e2 > 14, it is always the case that if k2 > 1 holds, then o2 = 0 previously held.
After z0 = 1, it is never the case that z0 <= 4 holds.
Before r2 < 13, it is always the case that if j0 >= 4 holds and is succeeded by z0 < 14, then p1 < 9 previously held.
Before z0 > 5, it is always the case that if q1 = 13 holds, then a0 >= 1 eventually holds and is succeeded by c2 > 5, where n0 > 15 does not hold between a0 >= 1 and c2 > 5 .
Between o1 <= 14 and o2 <= 7, it is always the case that if p2 > 5 holds and is succeeded by u0 <= 14, then c1 = 14 eventually holds after u0 <= 14 .
Before f1 < 12, it is never the case that p2 <= 6 holds.
Globally, it is always the case that h1 <= 7 holds.
Between j2 >= 13 and l2 <= 10, it is always the case that if a2 <= 10 holds and is succeeded by l1 < 12, then k0 < 10 eventually holds after l1 < 12 .
Before r2 > 9, it is never the case that f0 = 8 holds.
Before r2 = 9, it is never the case that c1 >= 13 holds.
Before j0 < 4, it is always the case that if u2 >= 6 holds, then i2 < 7 eventually holds and is succeeded by s0 <= 2, where v2 > 12 does not hold between i2 < 7 and s0 <= 2 .
After q2 > 3 until h1 >= 7, it is always the case that if w0 > 8 holds, then g1 > 1 eventually holds and is succeeded by n2 >= 2 .
After j0 = 13 until v2 > 11, it is always the case that if t0 <= 10 holds, then r2 = 14 previously held.
After g1 < 6, it is always the case that if q0 < 0 holds, then k1 = 0 previously held.
Between d2 < 8 and l1 <= 5, it is always the case that if h2 <= 4 holds, then m0 >= 11 eventually holds and is succeeded by g2 >= 4, where e0 <= 15 does not hold between m0 >= 11 and g2 >= 4 .
After b1 < 4, it is always the case that r1 >= 6 holds.
Between y1 <= 3 and x1 <= 10, it is always the case that if d0 > 4 holds, then z0 <= 15 previously held and was preceded by e0 >= 12 .
After a1 = 8, it is always the case that if q2 <= 12 holds, then o0 >= 12 previously held and was preceded by e0 < 15 .
After t0 = 1 until c2 = 7, m0 < 3 eventually holds.
Before e0 = 3, it is always the case that if t2 < 3 holds, then e0 = 10 eventually holds.
After o1 = 1, it is never the case that e2 < 2 holds.
After a1 <= 7 until f0 = 4, it is always the case that if r2 > 0 holds, then t2 >= 9 eventually holds and is succeeded by d0 < 9 .
Before d0 > 3, it is always the case that if h0 = 12 holds, then b2 = 6 previously held.
Between b2 <= 11 and c1 > 9, it is always the case that if p1 <= 1 holds, then u1 = 12 eventually holds and is succeeded by y2 > 15, where k0 = 2 does not hold between u1 = 12 and y2 > 15 .
Before i0 < 0, it is always the case that if o1 > 0 holds, then d1 >= 7 previously held.
After b0 >= 15, it is always the case that if v0 > 10 holds, then x2 = 0 previously held and was preceded by t0 >= 15 .
Globally, it is always the case that if b1 >= 12 holds, then s2 = 8 previously held and was preceded by b2 <= 6 .
Between o0 > 3 and m1 <= 8, q1 = 15 eventually holds.
Between b2 >= 1 and y0 <= 10, it is always the case that if b2 > 8 holds, then e1 > 15 eventually holds and is succeeded by g1 >= 1, where i0 <= 5 does not hold between e1 > 15 and g1 >= 1 .
Between m0 >= 8 and r1 > 3, it is never the case that m1 <= 8 holds.
Before u0 > 3, it is always the case that if o2 >= 14 holds, then i0 = 15 eventually holds and is succeeded by s0 >= 15 .
Before u2 = 4, it is always the case that if m2 <= 6 holds, then a2 > 7 eventually holds and is succeeded by w0 <= 4 .
After f0 < 3 until q0 > 5, it is always the case that if f2 <= 10 holds, then w1 > 7 eventually holds and is succeeded by l2 > 6, where x2 > 1 does not hold between w1 > 7 and l2 > 6 .
After o2 <= 5, it is always the case that if n2 > 2 holds, then d0 <= 12 previously held.
Before w0 = 4, it is always the case that if q2 > 0 holds, then y0 <= 9 previously held.
After k2 = 6 until k0 < 13, it is never the case that e0 > 7 holds.
Before v2 > 5, it is always the case that j1 >= 6 holds.
Between b0 < 2 and u1 < 8, f2 <= 1 eventually holds.
After r1 < 11, it is never the case that q2 >= 9 holds.
After u1 < 6, it is always the case that if n2 <= 1 holds, then a0 < 13 eventually holds.
Between u0 < 4 and x0 <= 13, it is always the case that p0 <= 11 holds.
Before z0 < 6, it is always the case that if h2 <= 15 holds and is succeeded by q0 > 2, then q2 = 13 previously held.
After i1 >= 3 until d2 >= 12, it is always the case that if c1 < 13 holds, then u0 < 11 eventually holds and is succeeded by b0 >= 2, where r2 >= 4 does not hold between u0 < 11 and b0 >= 2 .
After g0 > 2 until z2 > 5, it is always the case that if j0 < 0 holds, then e0 <= 2 eventually holds and is succeeded by k2 > 0 .
After o1 > 5, it is always the case that g2 <= 7 holds.
Before v2 >= 1, it is always the case that if o0 <= 12 holds, then o1 <= 15 eventually holds.
Between m1 < 14 and r0 < 7, it is always the case that if x2 <= 5 holds and is succeeded by y0 = 13, then q0 >= 3 previously held.
After f2 <= 1, it is always the case that if s1 >= 2 holds, then b2 >= 6 previously held and was preceded by f1 <= 3 .
Before i0 <= 11, it is always the case that if l1 < 1 holds and is succeeded by c2 > 13, then o2 <= 13 eventually holds after c2 > 13 .
Globally, it is never the case that u0 >= 0 holds.
After h2 <= 5, r1 >= 14 eventually holds.
