After q0 < 6 until h0 > 1, it is always the case that if f0 > 8 holds, then l0 > 7 eventually holds and is succeeded by r0 < 30, where i0 <= 8 does not hold between l0 > 7 and r0 < 30 .
Between s0 < 3 and f0 < 18, it is always the case that if b0 > 19 holds and is succeeded by p0 >= 3, then g0 = 11 eventually holds after p0 >= 3 .
Before o0 = 19, it is always the case that if h0 < 9 holds, then j0 <= 30 previously held.
Globally, it is always the case that p0 >= 9 holds.
Globally, it is always the case that if j0 < 17 holds, then c0 <= 7 eventually holds and is succeeded by i0 <= 14, where d0 < 12 does not hold between c0 <= 7 and i0 <= 14 .
Before f0 > 3, it is always the case that b0 >= 5 holds.
Globally, it is always the case that if r0 > 2 holds and is succeeded by p0 < 14, then i0 = 7 previously held.
After c0 < 21 until k0 < 23, it is always the case that if m0 <= 27 holds, then e0 <= 31 eventually holds and is succeeded by f0 >= 17, where l0 <= 21 does not hold between e0 <= 31 and f0 >= 17 .
Globally, it is always the case that if i0 < 13 holds and is succeeded by e0 < 14, then j0 >= 16 eventually holds after e0 < 14 .
Globally, a0 >= 24 eventually holds.
Between p0 < 16 and m0 >= 0, p0 = 23 eventually holds.
After o0 = 6 until r0 < 21, it is always the case that if q0 > 17 holds and is succeeded by n0 > 21, then r0 < 21 previously held.
Globally, it is always the case that if k0 <= 10 holds, then o0 < 17 previously held and was preceded by h0 > 0 .
After c0 > 0, it is always the case that if f0 = 1 holds and is succeeded by j0 < 11, then o0 < 2 previously held.
Between o0 = 9 and k0 = 17, it is always the case that if m0 >= 29 holds, then a0 > 18 previously held.
Globally, it is always the case that if e0 > 7 holds, then m0 >= 7 eventually holds and is succeeded by p0 <= 11 .
Between e0 >= 16 and d0 = 0, it is always the case that if g0 = 29 holds, then c0 = 27 eventually holds.
After h0 <= 0 until n0 = 28, it is always the case that if l0 >= 4 holds, then k0 = 2 previously held and was preceded by q0 < 13 .
After k0 <= 24 until k0 >= 8, it is always the case that if m0 = 24 holds, then n0 >= 20 eventually holds and is succeeded by o0 > 28, where r0 = 3 does not hold between n0 >= 20 and o0 > 28 .
Between s0 >= 26 and o0 >= 25, it is always the case that f0 <= 30 holds.
After k0 >= 5 until n0 < 19, it is always the case that if q0 > 14 holds, then m0 > 24 eventually holds.
Globally, it is always the case that if d0 < 15 holds, then h0 < 28 eventually holds and is succeeded by f0 <= 25 .
After p0 >= 27 until d0 <= 23, it is always the case that if f0 = 17 holds, then e0 = 19 eventually holds and is succeeded by e0 = 21 .
After k0 < 13, g0 < 19 eventually holds.
Globally, it is always the case that if e0 >= 23 holds, then o0 <= 30 previously held.
After s0 <= 15, it is always the case that if r0 > 18 holds, then h0 > 30 eventually holds.
Between b0 > 31 and l0 < 29, it is never the case that m0 > 13 holds.
Before c0 >= 26, it is never the case that p0 <= 13 holds.
Between o0 >= 11 and n0 >= 12, it is always the case that if c0 = 8 holds, then s0 >= 3 previously held and was preceded by f0 <= 26 .
Before o0 = 8, it is always the case that r0 = 2 holds.
After k0 >= 20 until s0 <= 31, f0 > 10 eventually holds.
Globally, it is always the case that if r0 >= 28 holds and is succeeded by i0 >= 1, then n0 > 24 previously held.
Globally, it is always the case that if m0 <= 10 holds, then o0 >= 18 previously held and was preceded by q0 <= 19 .
After j0 = 20, it is always the case that if a0 >= 12 holds, then r0 < 24 previously held.
Before d0 <= 9, it is always the case that b0 >= 13 holds.
After q0 < 26 until q0 > 14, it is always the case that if g0 = 30 holds, then l0 >= 21 eventually holds.
Between o0 < 4 and g0 > 30, it is always the case that if h0 >= 12 holds, then n0 >= 11 previously held.
Globally, it is always the case that if h0 = 21 holds, then g0 > 10 eventually holds.
Before f0 <= 25, it is always the case that b0 <= 31 holds.
Globally, a0 > 25 eventually holds.
Before k0 = 23, it is always the case that if j0 = 18 holds, then e0 > 20 eventually holds and is succeeded by b0 = 28 .
Before j0 > 23, it is always the case that if s0 <= 24 holds, then o0 = 6 eventually holds.
After m0 = 13 until c0 > 24, it is always the case that if c0 <= 18 holds, then k0 = 6 previously held and was preceded by e0 < 5 .
Between i0 > 2 and g0 = 16, it is always the case that if q0 <= 26 holds, then m0 < 11 eventually holds.
Globally, it is always the case that f0 <= 17 holds.
Between p0 > 26 and p0 <= 4, it is never the case that q0 <= 11 holds.
Between m0 = 30 and r0 >= 27, i0 = 20 eventually holds.
Before a0 = 19, it is always the case that if j0 <= 24 holds, then r0 <= 15 eventually holds and is succeeded by k0 >= 4 .
Globally, it is always the case that b0 <= 19 holds.
Before k0 >= 19, it is always the case that if p0 >= 2 holds and is succeeded by a0 > 8, then i0 < 13 eventually holds after a0 > 8 .
After d0 = 24, it is always the case that if b0 > 17 holds, then b0 >= 18 previously held.
Globally, it is always the case that if i0 < 3 holds and is succeeded by k0 = 22, then f0 < 27 eventually holds after k0 = 22 .
Globally, it is always the case that if f0 >= 13 holds, then m0 < 3 eventually holds and is succeeded by e0 < 20 .
After q0 = 31, it is never the case that p0 <= 29 holds.
Between k0 > 12 and e0 > 18, it is always the case that if e0 < 13 holds and is succeeded by c0 > 29, then e0 < 21 previously held.
After r0 < 26 until h0 > 26, e0 <= 21 eventually holds.
Globally, it is never the case that h0 > 10 holds.
Between d0 < 4 and m0 >= 14, it is always the case that if g0 >= 4 holds and is succeeded by r0 < 26, then o0 <= 26 previously held.
Globally, it is always the case that if k0 = 21 holds and is succeeded by r0 < 3, then f0 < 30 previously held.
After d0 < 24 until e0 > 2, it is always the case that if o0 = 10 holds, then h0 <= 6 eventually holds and is succeeded by h0 = 12 .
Globally, it is always the case that if n0 <= 8 holds, then m0 = 26 eventually holds.
After e0 > 0 until c0 > 5, it is always the case that if a0 < 28 holds and is succeeded by g0 <= 19, then n0 < 30 eventually holds after g0 <= 19 .
Between a0 < 28 and k0 <= 15, it is always the case that if l0 > 10 holds, then k0 = 9 eventually holds and is succeeded by j0 = 1 .
After n0 <= 26 until n0 < 9, it is always the case that if g0 < 7 holds, then l0 = 26 eventually holds.
After g0 = 4, j0 = 22 eventually holds.
Globally, it is never the case that p0 < 23 holds.
Globally, it is always the case that if e0 > 17 holds and is succeeded by r0 >= 25, then o0 <= 20 eventually holds after r0 >= 25 .
After f0 >= 8, n0 <= 9 eventually holds.
After q0 <= 30, it is always the case that if j0 < 2 holds, then g0 > 20 eventually holds and is succeeded by b0 < 15, where g0 >= 1 does not hold between g0 > 20 and b0 < 15 .
Globally, it is always the case that if k0 <= 23 holds and is succeeded by p0 <= 5, then p0 <= 24 eventually holds after p0 <= 5 .
Globally, it is always the case that o0 >= 7 holds.
Before i0 = 13, it is always the case that if l0 >= 2 holds, then q0 <= 16 eventually holds and is succeeded by h0 < 7 .
Globally, it is always the case that j0 >= 8 holds.
Before e0 = 15, l0 < 6 eventually holds.
Between f0 <= 31 and s0 > 27, it is never the case that j0 = 19 holds.
Globally, it is always the case that if p0 < 20 holds, then l0 < 31 previously held and was preceded by a0 > 0 .
Between b0 < 9 and a0 < 23, it is always the case that if g0 < 9 holds, then q0 >= 30 previously held and was preceded by r0 >= 3 .
Before r0 < 25, it is always the case that if n0 > 1 holds, then o0 > 14 previously held.
After p0 > 22 until r0 >= 17, it is always the case that if h0 > 14 holds, then d0 <= 26 previously held.
After c0 < 22 until s0 <= 21, it is always the case that if o0 = 29 holds, then p0 > 30 previously held and was preceded by l0 > 27 .
After i0 = 2, it is never the case that c0 = 26 holds.
Before j0 < 9, it is always the case that if n0 > 9 holds, then k0 <= 12 eventually holds and is succeeded by e0 < 10 .
After s0 < 1 until k0 > 30, s0 > 24 eventually holds.
After a0 < 8 until i0 = 14, it is always the case that if m0 = 24 holds, then h0 < 25 eventually holds and is succeeded by j0 <= 20, where b0 < 20 does not hold between h0 < 25 and j0 <= 20 .
After q0 > 19 until i0 <= 19, it is always the case that if n0 > 19 holds, then a0 = 25 eventually holds.
After e0 <= 29 until q0 <= 29, it is always the case that if k0 < 14 holds, then d0 <= 18 eventually holds and is succeeded by i0 = 25 .
After n0 <= 6, it is always the case that if s0 <= 11 holds, then a0 <= 0 previously held and was preceded by a0 < 27 .
Globally, k0 <= 13 eventually holds.
Between b0 >= 14 and i0 = 9, it is always the case that p0 >= 5 holds.
After c0 <= 24, r0 > 7 eventually holds.
Before q0 = 14, it is never the case that j0 > 7 holds.
After n0 > 21, it is always the case that if i0 < 31 holds, then a0 > 12 previously held.
Before k0 > 3, it is always the case that if f0 >= 5 holds, then k0 < 11 eventually holds and is succeeded by m0 <= 30 .
After e0 <= 5, it is always the case that if c0 <= 30 holds and is succeeded by j0 = 23, then j0 >= 7 previously held.
Before k0 <= 5, it is always the case that if a0 < 24 holds, then q0 >= 19 eventually holds and is succeeded by j0 >= 22 .
Globally, it is always the case that if l0 >= 22 holds, then a0 = 30 eventually holds and is succeeded by e0 > 12, where i0 = 30 does not hold between a0 = 30 and e0 > 12 .
After e0 < 14, it is always the case that if o0 <= 17 holds, then d0 = 6 previously held.
After a0 = 26, it is always the case that if c0 <= 19 holds, then k0 < 7 previously held.
Between e0 > 27 and d0 <= 22, it is always the case that if m0 < 17 holds, then k0 <= 25 eventually holds and is succeeded by f0 >= 5 .
Between f0 <= 10 and c0 > 12, it is always the case that if k0 <= 21 holds, then e0 < 22 previously held.
Globally, it is always the case that if e0 < 5 holds, then a0 = 20 eventually holds and is succeeded by j0 = 20, where c0 <= 3 does not hold between a0 = 20 and j0 = 20 .
Globally, it is always the case that if g0 < 6 holds, then r0 > 1 eventually holds and is succeeded by n0 >= 30, where k0 < 3 does not hold between r0 > 1 and n0 >= 30 .
After b0 >= 9 until i0 >= 17, it is always the case that r0 = 22 holds.
After l0 >= 15 until m0 <= 25, d0 < 19 eventually holds.
After d0 < 29 until k0 = 24, it is always the case that if d0 > 28 holds, then e0 < 11 eventually holds and is succeeded by e0 = 6, where s0 <= 19 does not hold between e0 < 11 and e0 = 6 .
After m0 = 13 until j0 < 22, it is always the case that if j0 <= 27 holds, then n0 < 28 previously held.
After q0 >= 4, it is always the case that if o0 >= 14 holds, then p0 = 2 previously held and was preceded by e0 <= 31 .
Before d0 = 6, it is always the case that if r0 < 9 holds, then d0 >= 4 eventually holds.
After k0 >= 15, it is always the case that if g0 > 23 holds and is succeeded by b0 < 28, then g0 = 4 eventually holds after b0 < 28 .
Before p0 > 22, it is always the case that if q0 <= 13 holds, then g0 >= 31 previously held and was preceded by l0 >= 3 .
Before l0 >= 0, it is always the case that if q0 >= 2 holds and is succeeded by s0 <= 31, then o0 >= 7 eventually holds after s0 <= 31 .
After q0 < 3 until f0 <= 6, it is always the case that if e0 = 5 holds and is succeeded by b0 <= 22, then p0 <= 5 eventually holds after b0 <= 22 .
After r0 > 10 until o0 < 3, q0 = 28 eventually holds.
After o0 >= 25 until m0 = 2, it is always the case that if c0 = 23 holds, then q0 > 2 previously held.
After a0 < 17, it is always the case that j0 > 5 holds.
Globally, it is always the case that if l0 > 25 holds, then b0 < 24 previously held.
After s0 >= 11, it is always the case that if p0 <= 14 holds, then e0 > 29 previously held.
After i0 = 31 until l0 >= 9, it is always the case that if o0 >= 29 holds, then a0 >= 0 eventually holds and is succeeded by k0 < 31, where q0 > 14 does not hold between a0 >= 0 and k0 < 31 .
Between l0 <= 17 and s0 <= 5, it is always the case that if q0 < 5 holds, then m0 <= 0 eventually holds and is succeeded by l0 >= 8 .
After f0 > 20 until m0 <= 7, m0 >= 15 eventually holds.
Before q0 = 21, it is always the case that if g0 > 18 holds, then g0 >= 28 eventually holds.
Before p0 >= 26, it is always the case that if l0 < 1 holds, then f0 > 26 previously held.
Between p0 >= 6 and p0 <= 11, it is never the case that k0 >= 3 holds.
After q0 < 29, it is always the case that if j0 >= 11 holds, then d0 < 15 eventually holds and is succeeded by c0 <= 2, where f0 > 14 does not hold between d0 < 15 and c0 <= 2 .
Between e0 < 13 and q0 = 17, it is always the case that if n0 <= 6 holds, then g0 >= 24 eventually holds and is succeeded by h0 >= 7, where r0 = 3 does not hold between g0 >= 24 and h0 >= 7 .
Globally, it is always the case that if d0 = 11 holds and is succeeded by o0 < 0, then j0 < 14 previously held.
Between l0 >= 7 and m0 = 22, it is always the case that if r0 <= 17 holds, then g0 >= 8 previously held and was preceded by l0 <= 27 .
Globally, it is always the case that if n0 < 10 holds, then j0 > 26 previously held and was preceded by j0 >= 20 .
After k0 <= 24 until i0 > 1, it is always the case that if i0 <= 8 holds and is succeeded by a0 < 12, then h0 >= 15 previously held.
After f0 > 28 until e0 = 18, it is always the case that if f0 <= 12 holds, then i0 > 29 eventually holds.
Before g0 < 9, it is always the case that if n0 < 27 holds, then r0 < 18 previously held and was preceded by m0 <= 26 .
Before d0 >= 16, it is always the case that if h0 <= 21 holds, then n0 >= 22 eventually holds and is succeeded by j0 >= 25 .
Between a0 = 21 and n0 <= 9, it is always the case that if f0 <= 11 holds and is succeeded by l0 < 14, then a0 = 24 previously held.
Globally, it is always the case that if a0 <= 1 holds and is succeeded by m0 <= 14, then p0 = 23 eventually holds after m0 <= 14 .
Globally, it is always the case that if p0 < 0 holds, then i0 <= 0 eventually holds and is succeeded by l0 > 24, where r0 <= 8 does not hold between i0 <= 0 and l0 > 24 .
Before f0 > 26, it is never the case that h0 < 8 holds.
After b0 >= 10, it is always the case that if a0 >= 9 holds, then j0 <= 21 previously held and was preceded by m0 = 22 .
After l0 <= 1, it is always the case that if e0 <= 26 holds, then n0 = 6 eventually holds and is succeeded by g0 > 11 .
After n0 > 15 until q0 >= 9, it is always the case that if a0 >= 2 holds, then a0 < 3 previously held.
After g0 > 17 until m0 <= 18, it is always the case that if n0 = 25 holds, then b0 < 1 eventually holds and is succeeded by l0 = 18, where q0 <= 0 does not hold between b0 < 1 and l0 = 18 .
Globally, it is always the case that d0 <= 5 holds.
Before m0 < 19, it is always the case that if b0 > 25 holds, then b0 < 20 eventually holds and is succeeded by s0 >= 10 .
Between l0 >= 3 and a0 = 29, it is always the case that if k0 <= 24 holds, then f0 < 12 previously held and was preceded by g0 = 28 .
After d0 <= 23, it is always the case that if b0 <= 0 holds, then b0 <= 19 previously held and was preceded by j0 > 15 .
Between d0 <= 14 and s0 > 20, g0 >= 19 eventually holds.
After r0 = 12, it is always the case that if d0 < 9 holds, then d0 > 31 eventually holds and is succeeded by o0 = 14 .
Globally, it is never the case that n0 >= 4 holds.
Between n0 > 12 and n0 = 18, it is always the case that if n0 < 31 holds, then r0 >= 12 eventually holds and is succeeded by k0 = 28 .
Globally, it is always the case that l0 < 25 holds.
After m0 = 3 until i0 >= 23, it is never the case that m0 > 17 holds.
Before q0 >= 9, it is never the case that r0 >= 27 holds.
Between n0 <= 20 and e0 < 17, it is always the case that if j0 = 12 holds, then q0 <= 24 previously held.
After i0 = 6, k0 < 4 eventually holds.
After g0 = 30, it is always the case that if d0 <= 17 holds, then r0 <= 2 previously held and was preceded by f0 < 16 .
Before l0 < 0, it is always the case that if b0 > 15 holds, then c0 < 27 previously held.
After g0 <= 3, it is never the case that p0 <= 27 holds.
Globally, it is always the case that if c0 > 22 holds, then p0 >= 29 eventually holds.
After e0 < 21 until f0 < 25, it is always the case that if r0 > 9 holds and is succeeded by m0 > 30, then i0 < 5 previously held.
Globally, it is always the case that m0 < 0 holds.
Between d0 = 15 and c0 > 20, it is always the case that i0 > 20 holds.
Before m0 < 7, it is always the case that if f0 = 15 holds, then e0 < 30 eventually holds.
Globally, it is always the case that if j0 = 23 holds and is succeeded by b0 > 19, then h0 < 2 eventually holds after b0 > 19 .
Globally, it is always the case that if p0 < 8 holds and is succeeded by a0 = 0, then r0 = 29 previously held.
Before j0 >= 6, l0 >= 25 eventually holds.
After e0 > 26 until n0 < 29, it is always the case that if o0 < 22 holds, then p0 = 11 previously held.
After q0 >= 26, it is always the case that if n0 > 11 holds, then g0 = 25 eventually holds.
Globally, it is always the case that if j0 < 4 holds, then l0 = 14 eventually holds.
Between l0 <= 20 and o0 <= 20, it is always the case that if h0 > 23 holds and is succeeded by c0 <= 6, then g0 > 6 eventually holds after c0 <= 6 .
After a0 > 22 until a0 <= 21, it is always the case that if o0 = 30 holds and is succeeded by o0 <= 10, then q0 = 10 eventually holds after o0 <= 10 .
Globally, it is always the case that if m0 = 9 holds, then d0 = 28 eventually holds and is succeeded by f0 < 28, where i0 = 0 does not hold between d0 = 28 and f0 < 28 .
Globally, it is always the case that if o0 = 7 holds and is succeeded by k0 <= 9, then d0 <= 17 eventually holds after k0 <= 9 .
Globally, it is never the case that l0 <= 11 holds.
Between l0 >= 8 and o0 >= 22, it is always the case that if q0 < 4 holds, then p0 > 13 eventually holds and is succeeded by o0 >= 21, where s0 >= 31 does not hold between p0 > 13 and o0 >= 21 .
Between g0 >= 6 and k0 <= 22, it is never the case that f0 = 3 holds.
Between i0 < 25 and i0 = 6, it is always the case that if o0 <= 15 holds, then c0 <= 1 eventually holds and is succeeded by b0 < 14, where l0 >= 28 does not hold between c0 <= 1 and b0 < 14 .
After d0 >= 2, it is always the case that if i0 < 7 holds, then j0 < 8 previously held and was preceded by a0 < 4 .
After f0 >= 5 until s0 > 4, it is always the case that if p0 < 23 holds and is succeeded by f0 <= 20, then h0 < 15 eventually holds after f0 <= 20 .
Before o0 <= 14, it is always the case that if p0 > 19 holds and is succeeded by m0 <= 26, then r0 = 8 previously held.
Globally, it is never the case that r0 >= 18 holds.
After g0 <= 17 until q0 = 2, it is always the case that if q0 < 28 holds, then m0 >= 10 previously held and was preceded by f0 > 24 .
Before f0 = 13, it is always the case that if p0 = 13 holds and is succeeded by a0 = 2, then q0 < 30 previously held.
After e0 >= 31 until p0 < 17, it is always the case that n0 >= 21 holds.
Before e0 = 14, it is always the case that if p0 > 19 holds, then n0 >= 27 previously held and was preceded by k0 <= 24 .
Globally, s0 >= 15 eventually holds.
Between b0 > 24 and g0 <= 24, it is never the case that d0 = 19 holds.
Before h0 > 13, it is always the case that if b0 < 3 holds, then f0 > 27 previously held and was preceded by l0 <= 24 .
After l0 >= 31 until s0 >= 6, it is always the case that if j0 < 24 holds, then h0 > 22 previously held.
Between c0 = 10 and l0 >= 26, it is always the case that if h0 = 17 holds, then i0 = 8 previously held.
After r0 > 8 until h0 >= 27, it is always the case that c0 >= 7 holds.
After s0 >= 30, it is always the case that if k0 < 30 holds, then q0 > 7 previously held.
Globally, m0 < 11 eventually holds.
After b0 > 10, it is never the case that h0 >= 10 holds.
Between c0 >= 16 and h0 = 10, i0 < 7 eventually holds.
Before m0 >= 9, it is always the case that n0 = 15 holds.
After o0 > 15, it is always the case that if a0 > 24 holds and is succeeded by n0 < 10, then k0 >= 9 eventually holds after n0 < 10 .
After j0 = 7, it is always the case that if r0 < 11 holds and is succeeded by i0 > 30, then q0 < 18 eventually holds after i0 > 30 .
Before f0 >= 9, it is always the case that if m0 = 12 holds and is succeeded by j0 < 13, then m0 > 13 previously held.
Globally, it is always the case that if g0 > 29 holds, then o0 = 15 previously held and was preceded by q0 > 1 .
Between m0 = 9 and h0 < 17, it is always the case that if s0 = 12 holds, then o0 < 13 eventually holds.
After s0 < 24, it is always the case that if k0 <= 3 holds, then q0 = 22 eventually holds.
After m0 > 22, it is always the case that if c0 < 26 holds and is succeeded by l0 = 25, then p0 >= 5 eventually holds after l0 = 25 .
After m0 = 27 until p0 <= 27, it is always the case that if b0 = 16 holds and is succeeded by h0 < 21, then s0 >= 4 eventually holds after h0 < 21 .
After h0 >= 3, it is always the case that if f0 = 13 holds, then b0 = 16 previously held.
Globally, it is always the case that p0 = 14 holds.
Globally, it is never the case that f0 = 15 holds.
Globally, it is always the case that if a0 <= 0 holds and is succeeded by d0 = 28, then o0 = 18 previously held.
Before f0 >= 10, it is always the case that if s0 <= 17 holds, then g0 = 27 previously held.
After g0 <= 21, it is never the case that a0 <= 27 holds.
After r0 < 14, it is always the case that if j0 < 7 holds, then s0 < 25 eventually holds and is succeeded by f0 < 2, where m0 <= 4 does not hold between s0 < 25 and f0 < 2 .
After a0 > 20, a0 > 15 eventually holds.
After m0 > 5 until l0 <= 14, it is always the case that if g0 <= 15 holds and is succeeded by l0 < 31, then r0 > 18 previously held.
After s0 <= 24, it is always the case that if p0 >= 0 holds and is succeeded by q0 < 5, then l0 >= 12 eventually holds after q0 < 5 .
Between r0 > 0 and e0 >= 7, it is always the case that if i0 >= 23 holds and is succeeded by o0 >= 25, then g0 < 1 eventually holds after o0 >= 25 .
Before l0 = 8, it is always the case that if k0 = 26 holds, then i0 > 19 eventually holds and is succeeded by o0 > 15, where f0 >= 11 does not hold between i0 > 19 and o0 > 15 .
Globally, it is never the case that b0 = 10 holds.
Globally, it is always the case that if f0 = 19 holds, then r0 <= 20 eventually holds.
Globally, it is always the case that if c0 = 11 holds, then m0 > 5 previously held and was preceded by o0 > 13 .
After r0 >= 14 until e0 <= 1, it is always the case that if e0 >= 23 holds and is succeeded by q0 = 10, then q0 <= 16 previously held.
Globally, it is always the case that if d0 >= 2 holds and is succeeded by s0 <= 13, then n0 >= 8 eventually holds after s0 <= 13 .
After k0 > 17 until h0 > 13, it is always the case that if p0 = 5 holds, then g0 > 0 eventually holds and is succeeded by p0 <= 23, where p0 = 17 does not hold between g0 > 0 and p0 <= 23 .
Between h0 <= 6 and o0 = 3, it is always the case that if d0 = 0 holds, then l0 < 17 eventually holds and is succeeded by e0 >= 2, where s0 < 17 does not hold between l0 < 17 and e0 >= 2 .
After l0 > 2 until a0 = 11, it is always the case that if m0 >= 20 holds, then d0 = 9 eventually holds and is succeeded by s0 > 12 .
After s0 > 3, it is always the case that if n0 > 22 holds and is succeeded by h0 < 30, then n0 > 1 eventually holds after h0 < 30 .
Before l0 >= 19, it is always the case that if r0 = 5 holds, then f0 = 16 previously held.
After b0 < 16 until g0 < 30, it is always the case that if b0 > 31 holds, then n0 >= 25 eventually holds.
After d0 <= 3 until j0 < 29, it is never the case that l0 < 23 holds.
After a0 <= 22 until n0 >= 2, it is always the case that if r0 <= 3 holds, then j0 >= 10 eventually holds and is succeeded by n0 <= 22 .
After d0 = 3 until k0 < 3, it is always the case that if c0 >= 16 holds, then j0 < 16 eventually holds and is succeeded by o0 < 8, where n0 = 11 does not hold between j0 < 16 and o0 < 8 .
Between j0 <= 29 and d0 < 9, it is always the case that if e0 < 5 holds, then l0 < 27 previously held and was preceded by a0 <= 0 .
Between l0 >= 28 and b0 >= 10, it is always the case that a0 > 3 holds.
Globally, c0 = 16 eventually holds.
Between m0 = 1 and p0 = 30, it is always the case that if b0 <= 23 holds and is succeeded by l0 >= 2, then g0 >= 29 eventually holds after l0 >= 2 .
Globally, it is always the case that if r0 <= 8 holds, then b0 > 21 eventually holds and is succeeded by p0 > 14, where g0 > 8 does not hold between b0 > 21 and p0 > 14 .
Globally, b0 <= 17 eventually holds.
Between e0 = 1 and a0 >= 7, it is always the case that if q0 > 2 holds and is succeeded by j0 > 4, then k0 = 22 previously held.
Between h0 = 9 and q0 > 10, it is always the case that if p0 < 28 holds and is succeeded by n0 <= 8, then i0 <= 23 previously held.
Before m0 > 5, it is always the case that if m0 < 0 holds, then a0 > 10 eventually holds.
Globally, it is always the case that if s0 <= 30 holds, then r0 = 16 eventually holds.
Before d0 = 6, it is always the case that if n0 >= 21 holds and is succeeded by j0 = 28, then f0 <= 16 previously held.
After k0 = 13 until q0 = 26, it is always the case that f0 > 31 holds.
