After f0 <= 20, it is always the case that if h0 <= 3 holds, then a0 <= 9 eventually holds and is succeeded by e0 > 28 .
Globally, it is always the case that if i0 <= 31 holds, then c0 <= 12 eventually holds and is succeeded by g0 <= 30 .
After a0 < 18, it is always the case that if g0 < 7 holds, then e0 = 6 eventually holds and is succeeded by e0 <= 13, where h0 = 30 does not hold between e0 = 6 and e0 <= 13 .
Between e0 < 9 and e0 < 17, it is always the case that if h0 = 9 holds and is succeeded by a0 >= 25, then c0 < 27 eventually holds after a0 >= 25 .
After e0 < 17 until a0 <= 25, it is always the case that if b0 >= 10 holds and is succeeded by b0 = 30, then c0 <= 20 eventually holds after b0 = 30 .
After h0 > 25, it is always the case that if f0 < 12 holds, then e0 >= 5 eventually holds and is succeeded by e0 > 20 .
After e0 = 4 until i0 > 23, it is never the case that a0 = 1 holds.
After e0 < 1 until c0 > 18, it is always the case that if h0 < 9 holds and is succeeded by i0 >= 29, then i0 > 5 eventually holds after i0 >= 29 .
Globally, it is always the case that if g0 < 22 holds, then c0 >= 11 previously held.
Globally, it is never the case that e0 = 26 holds.
Globally, it is always the case that if a0 <= 7 holds, then d0 < 12 eventually holds.
Before i0 <= 4, e0 >= 24 eventually holds.
Between e0 < 13 and i0 > 8, it is always the case that if c0 < 2 holds, then i0 >= 12 eventually holds.
Between a0 = 16 and g0 > 8, it is always the case that if g0 >= 5 holds and is succeeded by b0 > 31, then a0 >= 19 previously held.
After i0 < 10, it is always the case that if c0 <= 11 holds and is succeeded by c0 = 10, then c0 < 31 eventually holds after c0 = 10 .
After b0 >= 27 until e0 < 2, it is always the case that if c0 = 15 holds and is succeeded by c0 >= 27, then h0 <= 8 eventually holds after c0 >= 27 .
Before h0 < 31, it is always the case that if b0 <= 0 holds, then b0 < 26 previously held.
After f0 = 8, it is always the case that if e0 < 6 holds, then d0 = 8 previously held and was preceded by a0 = 9 .
Between h0 < 30 and g0 > 18, it is always the case that if b0 < 16 holds, then f0 < 29 eventually holds and is succeeded by g0 >= 29, where h0 > 9 does not hold between f0 < 29 and g0 >= 29 .
Between g0 < 8 and b0 = 13, it is always the case that if i0 <= 26 holds, then b0 = 1 eventually holds and is succeeded by b0 = 24 .
After b0 < 23, it is always the case that if c0 > 24 holds and is succeeded by i0 > 8, then h0 > 2 eventually holds after i0 > 8 .
Before a0 <= 3, it is always the case that h0 <= 7 holds.
Before a0 <= 6, it is always the case that if f0 > 20 holds, then g0 > 13 eventually holds and is succeeded by d0 <= 17 .
Between c0 = 7 and e0 = 15, g0 > 3 eventually holds.
Globally, it is always the case that if e0 > 6 holds and is succeeded by e0 > 5, then e0 < 29 eventually holds after e0 > 5 .
Before h0 < 15, it is always the case that if d0 > 0 holds, then e0 >= 17 eventually holds.
After h0 < 17, it is always the case that if b0 <= 17 holds, then a0 = 10 eventually holds and is succeeded by f0 > 31, where h0 >= 2 does not hold between a0 = 10 and f0 > 31 .
Between b0 <= 11 and h0 >= 19, it is never the case that d0 <= 30 holds.
Between c0 < 31 and g0 <= 30, it is always the case that if a0 <= 22 holds and is succeeded by c0 <= 3, then b0 < 25 previously held.
Globally, it is always the case that if a0 = 9 holds and is succeeded by e0 >= 24, then f0 > 31 eventually holds after e0 >= 24 .
Globally, it is always the case that i0 < 20 holds.
Globally, it is always the case that if g0 > 5 holds, then e0 <= 27 previously held and was preceded by e0 > 11 .
Between d0 < 1 and h0 = 6, it is always the case that if d0 <= 8 holds and is succeeded by e0 >= 11, then h0 <= 23 eventually holds after e0 >= 11 .
Between b0 = 20 and c0 = 14, it is always the case that if b0 <= 8 holds and is succeeded by g0 >= 31, then f0 = 2 previously held.
After h0 < 31, e0 > 18 eventually holds.
After c0 >= 3 until i0 >= 22, it is always the case that if g0 = 12 holds, then e0 = 21 previously held.
After f0 >= 9 until d0 <= 0, it is always the case that if i0 < 5 holds, then e0 > 2 eventually holds and is succeeded by a0 = 24, where b0 > 1 does not hold between e0 > 2 and a0 = 24 .
Globally, it is always the case that if a0 > 12 holds, then f0 >= 24 previously held.
Globally, it is always the case that if f0 = 23 holds, then c0 <= 1 previously held and was preceded by a0 < 19 .
Between c0 < 14 and c0 < 2, it is always the case that if d0 = 21 holds, then c0 > 7 previously held.
After f0 = 30 until d0 > 14, it is always the case that if d0 = 26 holds, then h0 = 14 eventually holds and is succeeded by d0 = 5 .
After h0 >= 28 until c0 < 30, it is always the case that if c0 = 16 holds, then e0 >= 9 eventually holds.
After f0 < 21 until c0 > 11, it is always the case that if e0 <= 15 holds, then e0 = 4 previously held.
Globally, it is always the case that if b0 >= 1 holds, then d0 < 18 previously held and was preceded by h0 = 26 .
Between a0 >= 10 and a0 > 25, it is never the case that g0 >= 1 holds.
Between f0 >= 29 and i0 >= 22, it is always the case that if h0 >= 9 holds, then a0 >= 31 eventually holds.
Between h0 = 16 and e0 < 10, it is always the case that if g0 > 5 holds and is succeeded by b0 = 24, then c0 <= 31 previously held.
After c0 >= 6 until f0 <= 1, it is always the case that if f0 >= 5 holds and is succeeded by c0 >= 18, then d0 >= 15 eventually holds after c0 >= 18 .
Globally, h0 > 28 eventually holds.
After c0 <= 17 until g0 >= 20, it is always the case that if b0 < 0 holds and is succeeded by e0 = 17, then d0 <= 14 previously held.
Globally, it is always the case that if c0 = 0 holds and is succeeded by c0 <= 0, then g0 >= 20 previously held.
Between a0 > 17 and h0 = 0, it is always the case that if c0 = 17 holds, then f0 <= 9 eventually holds and is succeeded by c0 <= 29, where h0 = 29 does not hold between f0 <= 9 and c0 <= 29 .
After a0 = 6 until i0 >= 29, it is always the case that f0 <= 3 holds.
After b0 >= 8, it is always the case that if g0 <= 26 holds, then e0 <= 11 eventually holds and is succeeded by e0 = 2 .
Between d0 >= 5 and b0 >= 0, it is never the case that i0 = 26 holds.
After b0 < 23, it is always the case that if f0 >= 17 holds, then i0 < 25 eventually holds and is succeeded by b0 = 21 .
After a0 <= 17 until a0 <= 31, it is always the case that if d0 <= 0 holds, then a0 >= 22 eventually holds and is succeeded by d0 > 11 .
Before h0 > 29, it is never the case that b0 <= 26 holds.
Before d0 = 25, it is always the case that if d0 <= 19 holds and is succeeded by c0 <= 10, then a0 >= 17 previously held.
After g0 > 27, it is always the case that if c0 >= 17 holds, then g0 < 18 eventually holds and is succeeded by f0 < 27, where c0 <= 27 does not hold between g0 < 18 and f0 < 27 .
After h0 > 16, it is always the case that if a0 = 1 holds, then d0 > 29 previously held.
After e0 > 6, it is always the case that if c0 > 26 holds, then g0 > 3 eventually holds.
Before d0 > 23, it is always the case that if c0 >= 10 holds, then i0 <= 24 eventually holds and is succeeded by i0 < 26, where b0 <= 14 does not hold between i0 <= 24 and i0 < 26 .
After h0 <= 2, it is always the case that if i0 <= 18 holds, then e0 >= 14 previously held and was preceded by i0 < 22 .
Between e0 < 26 and h0 < 20, it is always the case that if g0 > 6 holds, then b0 < 12 previously held.
Between c0 <= 23 and i0 < 22, it is always the case that if f0 >= 29 holds, then c0 < 10 previously held.
Between d0 = 8 and c0 <= 6, it is always the case that if c0 > 31 holds, then b0 = 9 previously held.
After a0 >= 10, it is always the case that if d0 > 19 holds, then h0 < 31 eventually holds and is succeeded by d0 <= 30 .
Before b0 <= 17, it is always the case that if b0 = 6 holds, then c0 < 1 eventually holds and is succeeded by h0 = 18 .
After f0 > 18 until a0 < 23, it is always the case that if d0 < 30 holds, then h0 < 31 eventually holds and is succeeded by b0 = 26 .
After a0 > 7 until i0 > 29, f0 < 13 eventually holds.
After i0 >= 17, it is always the case that if c0 < 16 holds, then g0 > 1 eventually holds and is succeeded by a0 > 22, where g0 > 13 does not hold between g0 > 1 and a0 > 22 .
Globally, it is always the case that if i0 < 26 holds, then e0 < 17 eventually holds and is succeeded by c0 = 27 .
Before g0 > 14, it is never the case that i0 < 29 holds.
After e0 >= 27, it is always the case that if c0 = 20 holds, then a0 < 8 eventually holds and is succeeded by i0 >= 31 .
Between g0 = 25 and c0 > 1, it is always the case that if c0 >= 3 holds, then c0 > 15 previously held and was preceded by i0 < 14 .
Before d0 > 8, it is always the case that if d0 >= 25 holds, then f0 >= 12 eventually holds and is succeeded by h0 <= 14 .
After a0 = 24, it is always the case that if e0 < 19 holds, then b0 < 24 eventually holds and is succeeded by e0 > 26, where i0 < 13 does not hold between b0 < 24 and e0 > 26 .
Globally, it is always the case that if a0 >= 2 holds and is succeeded by i0 <= 8, then f0 = 11 eventually holds after i0 <= 8 .
After e0 = 25 until g0 > 16, it is always the case that if f0 < 5 holds and is succeeded by g0 > 24, then a0 = 10 previously held.
Before e0 < 18, it is always the case that if e0 < 29 holds and is succeeded by b0 > 30, then c0 > 7 previously held.
After f0 < 14, it is always the case that if e0 < 31 holds and is succeeded by h0 > 18, then i0 < 2 previously held.
After f0 >= 20, it is always the case that if g0 >= 4 holds, then h0 >= 16 eventually holds and is succeeded by b0 < 19 .
Before h0 >= 31, it is always the case that if f0 = 24 holds, then c0 > 28 previously held.
Between g0 <= 22 and g0 = 2, it is always the case that if i0 < 13 holds and is succeeded by g0 >= 29, then c0 < 12 eventually holds after g0 >= 29 .
After g0 > 14, c0 < 30 eventually holds.
After i0 > 5 until a0 = 26, it is never the case that b0 <= 5 holds.
Globally, it is never the case that i0 <= 17 holds.
Between b0 > 0 and h0 = 12, it is always the case that if f0 >= 11 holds, then g0 < 27 eventually holds and is succeeded by c0 > 7, where h0 <= 6 does not hold between g0 < 27 and c0 > 7 .
Before h0 >= 18, c0 >= 30 eventually holds.
Globally, g0 < 20 eventually holds.
Globally, it is always the case that if f0 >= 4 holds, then f0 < 4 previously held.
Between i0 >= 4 and g0 = 12, it is always the case that a0 <= 19 holds.
After f0 > 5, it is always the case that if f0 = 2 holds, then a0 = 21 previously held and was preceded by f0 <= 14 .
After f0 >= 11 until e0 < 2, it is always the case that if i0 >= 4 holds and is succeeded by h0 >= 10, then d0 > 17 previously held.
After c0 = 1 until c0 = 8, it is always the case that a0 <= 22 holds.
Globally, it is always the case that if d0 >= 9 holds, then i0 = 1 eventually holds and is succeeded by e0 < 1 .
After a0 < 30 until f0 >= 19, it is always the case that if e0 = 30 holds and is succeeded by i0 < 16, then c0 = 21 previously held.
Between c0 = 8 and d0 > 10, it is always the case that if b0 = 8 holds, then d0 = 25 eventually holds and is succeeded by i0 = 28 .
Before b0 > 23, it is always the case that if b0 > 5 holds, then i0 < 7 previously held.
After a0 >= 18 until f0 >= 13, it is always the case that if g0 <= 24 holds, then f0 = 21 eventually holds and is succeeded by b0 > 18, where b0 > 7 does not hold between f0 = 21 and b0 > 18 .
After h0 >= 28, it is always the case that if e0 = 19 holds, then a0 >= 12 previously held.
After f0 = 2, it is always the case that e0 = 17 holds.
After d0 = 20 until i0 < 31, it is always the case that if a0 <= 31 holds, then d0 = 6 eventually holds and is succeeded by i0 = 19, where i0 > 14 does not hold between d0 = 6 and i0 = 19 .
Before e0 >= 7, it is always the case that if i0 = 18 holds, then c0 = 10 previously held.
After d0 = 1, it is always the case that if i0 = 3 holds, then d0 <= 23 eventually holds and is succeeded by b0 < 8 .
Between f0 < 10 and d0 = 17, it is always the case that if h0 = 4 holds, then e0 <= 8 previously held.
After e0 >= 10 until e0 >= 18, it is never the case that b0 < 9 holds.
Globally, it is always the case that if i0 < 0 holds, then f0 = 16 eventually holds and is succeeded by f0 < 17 .
After d0 < 22, it is never the case that b0 > 11 holds.
Before a0 > 0, it is always the case that if g0 <= 23 holds, then a0 >= 24 previously held.
After h0 > 6 until f0 <= 31, it is always the case that if e0 < 31 holds, then i0 < 12 previously held.
Globally, it is always the case that if f0 >= 11 holds, then a0 = 28 eventually holds.
Globally, c0 > 0 eventually holds.
Globally, f0 < 26 eventually holds.
Before a0 = 19, it is always the case that if g0 <= 22 holds, then g0 > 17 eventually holds and is succeeded by f0 > 24 .
After a0 = 6, it is never the case that h0 > 3 holds.
Before f0 < 12, it is always the case that if a0 = 13 holds and is succeeded by b0 > 15, then h0 < 17 previously held.
Between i0 >= 14 and c0 = 23, it is always the case that if d0 < 25 holds, then h0 <= 13 previously held.
Globally, it is always the case that if f0 < 5 holds, then a0 > 24 eventually holds and is succeeded by c0 <= 18 .
