After a0 > 1, it is always the case that if a0 > 0 holds, then a0 > 1 eventually holds and is succeeded by a0 <= 1 .
After a0 <= 1 until a0 > 0, it is always the case that if a0 = 0 holds, then a0 > 0 previously held and was preceded by a0 = 0 .
Between a0 >= 0 and a0 > 1, a0 > 0 eventually holds.
Globally, it is never the case that a0 >= 0 holds.
After a0 > 0, it is always the case that if a0 > 0 holds and is succeeded by a0 = 0, then a0 >= 1 eventually holds after a0 = 0 .
After a0 > 0 until a0 <= 1, it is never the case that a0 < 1 holds.
Globally, a0 >= 0 eventually holds.
Globally, a0 > 0 eventually holds.
