Between y0 >= 15 and j1 > 17, b0 = 18 eventually holds.
After s0 <= 6, it is always the case that if k1 >= 27 holds, then z0 < 11 eventually holds.
After r0 <= 22 until n0 >= 1, it is always the case that c0 = 24 holds.
Between u0 >= 5 and y0 < 2, it is always the case that j0 = 15 holds.
Between b0 = 5 and m1 > 31, it is always the case that if l1 >= 21 holds and is succeeded by s0 < 28, then j1 = 31 eventually holds after s0 < 28 .
Before d0 >= 0, it is always the case that if a0 >= 11 holds, then q0 <= 4 previously held.
Between d0 = 13 and j0 < 26, it is always the case that if u0 = 20 holds, then b0 < 15 eventually holds.
After n0 < 16 until w0 >= 20, it is always the case that if p0 < 14 holds, then g1 > 14 eventually holds and is succeeded by c1 <= 21, where i1 = 22 does not hold between g1 > 14 and c1 <= 21 .
Between x0 = 26 and c0 < 2, it is always the case that c0 = 24 holds.
Between e0 = 11 and i1 > 5, it is never the case that p0 <= 18 holds.
Globally, it is always the case that if k0 = 4 holds, then w0 >= 16 previously held and was preceded by i1 < 5 .
Globally, it is never the case that g1 <= 2 holds.
After u0 <= 13, it is always the case that if c1 <= 27 holds, then h1 > 24 eventually holds.
After b1 <= 12 until y0 >= 1, it is always the case that if h1 > 16 holds and is succeeded by k0 <= 27, then q0 < 2 eventually holds after k0 <= 27 .
Globally, it is always the case that g1 > 31 holds.
After o0 <= 22, it is always the case that w0 >= 3 holds.
Before g1 > 9, it is always the case that if i1 <= 16 holds, then u0 >= 20 eventually holds and is succeeded by k1 = 31, where a0 = 26 does not hold between u0 >= 20 and k1 = 31 .
After g1 < 17, it is always the case that if h1 <= 29 holds, then b1 >= 15 previously held and was preceded by t0 = 18 .
Globally, it is always the case that if h0 >= 17 holds, then j0 <= 28 previously held and was preceded by m1 = 13 .
Globally, it is always the case that if u0 = 26 holds, then a0 <= 6 previously held.
Before g0 = 17, it is always the case that if g0 <= 24 holds and is succeeded by d0 >= 6, then q0 < 3 previously held.
Between d0 = 24 and i0 > 24, it is always the case that if g0 > 23 holds and is succeeded by a1 >= 14, then s0 < 9 previously held.
After a1 > 23 until q0 = 28, it is always the case that if g0 <= 24 holds, then n0 > 21 previously held.
After c1 <= 20 until m1 >= 15, it is always the case that v0 <= 28 holds.
After h0 = 25 until e0 > 5, v0 <= 8 eventually holds.
Before z0 = 31, it is always the case that if f1 = 14 holds and is succeeded by i1 > 29, then b0 >= 8 eventually holds after i1 > 29 .
Between d1 <= 14 and c0 >= 14, it is always the case that if a0 > 10 holds, then d0 > 23 previously held.
After b1 > 5 until l0 >= 12, it is always the case that if j0 > 10 holds and is succeeded by b0 <= 8, then h0 <= 18 eventually holds after b0 <= 8 .
After c1 < 17, it is always the case that u0 = 26 holds.
After j1 < 16, v0 <= 9 eventually holds.
After f0 >= 18 until n0 <= 3, it is always the case that if j0 > 8 holds and is succeeded by f0 < 2, then r0 <= 30 previously held.
Between m0 > 1 and e1 < 4, it is always the case that if s0 > 9 holds, then a0 > 17 eventually holds and is succeeded by k0 = 29 .
Before v0 >= 5, it is always the case that x0 > 3 holds.
Before h0 > 9, it is always the case that if d0 < 29 holds, then q0 >= 6 eventually holds and is succeeded by b0 <= 20 .
Between h0 = 28 and k1 < 8, it is always the case that if n0 <= 20 holds and is succeeded by a1 <= 16, then b1 <= 6 eventually holds after a1 <= 16 .
Globally, it is always the case that g1 <= 23 holds.
After b1 < 8 until l0 > 19, it is never the case that g0 = 9 holds.
Globally, it is never the case that u0 >= 31 holds.
Between w0 = 27 and c1 <= 30, it is never the case that j1 <= 18 holds.
After h1 > 15 until z0 < 29, it is always the case that if g1 <= 0 holds and is succeeded by i0 > 25, then h0 >= 20 previously held.
After k1 > 0 until t0 >= 31, it is always the case that if g0 = 18 holds, then z0 <= 23 previously held.
Before v0 >= 3, it is always the case that if k0 = 15 holds, then h0 > 1 eventually holds and is succeeded by l0 >= 1 .
Globally, it is always the case that if j1 < 26 holds and is succeeded by b1 = 25, then i1 = 14 previously held.
After b1 <= 22 until k1 > 5, c0 > 29 eventually holds.
After m1 = 16, it is never the case that j1 <= 23 holds.
After a0 <= 16, it is always the case that if u0 = 10 holds, then o0 < 11 eventually holds and is succeeded by k1 > 2 .
Globally, it is always the case that if j0 < 24 holds and is succeeded by k1 <= 22, then h1 <= 24 previously held.
Before l0 = 31, it is always the case that if b1 >= 5 holds and is succeeded by e0 <= 11, then o0 >= 25 previously held.
Before l0 >= 23, it is always the case that if h0 <= 6 holds, then b0 > 14 previously held.
After l1 <= 22 until q0 = 30, it is always the case that if a1 = 14 holds, then x0 < 20 previously held and was preceded by h0 <= 8 .
Globally, it is always the case that z0 <= 12 holds.
Globally, it is always the case that if r0 <= 12 holds and is succeeded by q0 <= 20, then c1 <= 19 previously held.
Between s0 < 30 and p0 > 31, it is never the case that t0 > 24 holds.
Globally, it is always the case that if v0 >= 24 holds and is succeeded by p0 >= 16, then b1 <= 16 previously held.
After l0 >= 19 until r0 >= 7, it is always the case that if g0 < 5 holds, then c0 <= 20 eventually holds.
After g1 = 15, it is always the case that g1 < 24 holds.
Globally, it is always the case that if d1 >= 10 holds and is succeeded by f1 = 24, then u0 = 1 previously held.
Before x0 > 17, it is always the case that if h0 < 13 holds and is succeeded by a0 <= 28, then b0 <= 1 previously held.
Before e1 < 3, it is always the case that if b0 < 12 holds and is succeeded by j0 <= 11, then n0 = 6 previously held.
Globally, it is always the case that if m1 < 12 holds, then k0 = 2 previously held and was preceded by q0 > 18 .
After k1 <= 19 until x0 < 8, it is always the case that if m1 < 1 holds and is succeeded by c0 > 23, then i1 >= 6 previously held.
After c1 > 7 until a1 <= 2, it is always the case that i1 = 12 holds.
Between i0 <= 9 and q0 >= 31, it is always the case that if k0 < 13 holds, then f1 <= 18 eventually holds.
After j1 <= 19 until u0 <= 30, it is always the case that if p0 = 13 holds, then a1 <= 27 eventually holds and is succeeded by l0 < 28, where b0 >= 15 does not hold between a1 <= 27 and l0 < 28 .
After d1 < 11, it is always the case that if m0 < 20 holds, then q0 >= 4 eventually holds.
Between l1 > 25 and b0 <= 12, it is always the case that if o0 < 14 holds, then j1 >= 10 previously held.
After f0 >= 23 until r0 > 6, it is always the case that if x0 = 6 holds and is succeeded by j0 >= 28, then f1 > 28 previously held.
After l0 > 22 until e0 > 24, it is always the case that if b1 < 21 holds and is succeeded by s0 = 22, then i1 = 5 previously held.
Before i1 > 7, it is always the case that if s0 < 21 holds and is succeeded by g0 <= 29, then i1 >= 31 eventually holds after g0 <= 29 .
After l0 < 21, t0 = 9 eventually holds.
Globally, it is always the case that if j0 < 2 holds and is succeeded by f1 <= 3, then f0 < 7 previously held.
Globally, it is always the case that if h0 < 0 holds and is succeeded by h1 <= 4, then y0 <= 3 previously held.
Between s0 < 23 and p0 < 20, it is never the case that d0 <= 30 holds.
After m1 < 21 until k0 > 28, l0 < 10 eventually holds.
Globally, it is always the case that if a1 < 8 holds, then k0 > 0 previously held.
After o0 < 16, it is always the case that if b0 >= 25 holds and is succeeded by a1 = 13, then k0 <= 20 eventually holds after a1 = 13 .
Before f1 < 7, it is always the case that if u0 > 23 holds, then v0 <= 28 previously held and was preceded by b1 > 20 .
After m1 = 2, it is never the case that n0 = 12 holds.
Globally, it is always the case that c1 <= 2 holds.
Before w0 <= 10, it is always the case that if j0 <= 10 holds, then d1 < 25 eventually holds and is succeeded by s0 = 18, where f1 <= 5 does not hold between d1 < 25 and s0 = 18 .
Between k1 = 18 and t0 >= 28, it is always the case that if i0 <= 15 holds and is succeeded by h1 >= 7, then t0 >= 12 eventually holds after h1 >= 7 .
Globally, it is always the case that if j0 = 20 holds, then w0 > 31 previously held.
Globally, it is always the case that if j0 < 12 holds and is succeeded by d0 >= 11, then a0 >= 16 previously held.
After y0 >= 27 until a0 = 8, it is always the case that if r0 < 1 holds, then m0 > 26 eventually holds and is succeeded by s0 <= 31, where h1 > 31 does not hold between m0 > 26 and s0 <= 31 .
Before y0 > 19, it is always the case that if p0 = 5 holds, then m0 = 4 eventually holds.
After q0 <= 12 until s0 < 23, it is never the case that a0 = 12 holds.
Globally, it is always the case that if e0 >= 2 holds, then x0 < 13 eventually holds.
After y0 >= 22 until a1 = 24, it is always the case that if l1 <= 7 holds and is succeeded by e1 <= 2, then i0 > 8 eventually holds after e1 <= 2 .
After e1 = 29 until i0 >= 26, it is always the case that if v0 >= 10 holds, then f1 < 29 eventually holds.
Between h0 > 24 and m0 = 19, it is always the case that if q0 > 15 holds and is succeeded by e1 <= 12, then c1 >= 30 previously held.
After f1 < 6 until y0 <= 13, it is always the case that m1 < 24 holds.
After g0 >= 30 until r0 > 18, it is never the case that l0 = 24 holds.
After d0 = 4, it is always the case that if p0 >= 29 holds, then i0 = 4 eventually holds and is succeeded by d0 >= 14, where x0 < 30 does not hold between i0 = 4 and d0 >= 14 .
Before s0 > 24, it is always the case that if d1 < 18 holds and is succeeded by t0 >= 6, then a0 > 16 eventually holds after t0 >= 6 .
Globally, it is always the case that if h1 = 17 holds, then b0 <= 28 eventually holds and is succeeded by r0 <= 25 .
After j0 < 18 until a0 = 2, it is always the case that if d1 < 0 holds, then s0 < 16 eventually holds and is succeeded by f0 < 1 .
After z0 > 19, it is always the case that m1 >= 20 holds.
Before y0 <= 21, d1 < 6 eventually holds.
Globally, s0 >= 11 eventually holds.
Between i0 > 16 and e0 < 27, it is always the case that if h0 = 21 holds, then k1 > 2 eventually holds and is succeeded by s0 < 29 .
Between x0 >= 24 and y0 > 7, it is always the case that if i1 < 27 holds, then n0 >= 24 eventually holds.
After b0 >= 20, it is always the case that e0 > 16 holds.
After u0 < 12 until g1 = 20, it is always the case that if a0 <= 23 holds, then h0 >= 22 eventually holds.
Before k0 > 11, it is always the case that if w0 <= 18 holds, then f1 > 5 eventually holds.
Before d0 <= 28, it is always the case that if m1 < 22 holds, then p0 = 26 eventually holds and is succeeded by k0 >= 8, where o0 < 17 does not hold between p0 = 26 and k0 >= 8 .
Before j1 <= 17, it is always the case that if y0 >= 10 holds, then j1 = 10 eventually holds.
Before x0 < 19, it is always the case that n0 < 14 holds.
Between a1 >= 14 and q0 = 17, it is always the case that if d0 <= 6 holds, then i1 < 13 previously held.
Between l1 < 13 and y0 = 11, it is never the case that g1 >= 10 holds.
Between v0 <= 10 and j0 >= 0, it is always the case that if k1 = 9 holds and is succeeded by h1 >= 30, then d1 = 31 eventually holds after h1 >= 30 .
After l0 < 9, it is always the case that if b0 > 31 holds, then w0 >= 18 previously held.
After t0 <= 14, it is always the case that if d0 = 4 holds and is succeeded by a0 <= 30, then r0 >= 31 eventually holds after a0 <= 30 .
Between z0 > 7 and b0 <= 25, it is always the case that if c0 < 21 holds, then x0 >= 7 previously held.
Before w0 > 6, it is always the case that if d0 < 21 holds, then l0 = 3 eventually holds and is succeeded by g1 = 11, where t0 = 25 does not hold between l0 = 3 and g1 = 11 .
Between d1 = 13 and i0 > 25, n0 > 25 eventually holds.
Between w0 = 2 and b0 = 31, it is always the case that if n0 < 28 holds, then k1 > 0 eventually holds and is succeeded by c1 > 1, where m1 = 22 does not hold between k1 > 0 and c1 > 1 .
After h0 > 24, it is never the case that x0 < 13 holds.
Before y0 >= 11, it is always the case that if k0 < 23 holds, then a0 >= 11 eventually holds and is succeeded by s0 > 26, where g0 > 16 does not hold between a0 >= 11 and s0 > 26 .
Between b0 <= 18 and a0 >= 27, it is always the case that if l1 >= 29 holds, then k1 = 26 eventually holds and is succeeded by r0 <= 14, where v0 <= 9 does not hold between k1 = 26 and r0 <= 14 .
Before i0 > 24, it is always the case that if e1 < 10 holds, then n0 >= 28 previously held.
After q0 <= 29 until k1 >= 22, d0 <= 27 eventually holds.
After v0 >= 24, it is always the case that u0 < 31 holds.
After n0 >= 12 until h1 < 18, it is always the case that if c0 <= 0 holds, then z0 <= 2 eventually holds and is succeeded by w0 >= 4, where m1 >= 11 does not hold between z0 <= 2 and w0 >= 4 .
After d0 > 3 until e1 < 9, it is always the case that if e1 <= 29 holds and is succeeded by p0 < 4, then n0 <= 30 previously held.
After h0 >= 11 until m1 <= 18, it is always the case that h0 > 8 holds.
Globally, it is always the case that if t0 = 14 holds, then d0 >= 6 previously held.
Between i0 >= 26 and o0 < 7, it is always the case that a1 > 1 holds.
Before d1 < 30, it is always the case that if f1 < 29 holds and is succeeded by e1 = 5, then a0 >= 15 previously held.
After v0 = 27 until e1 = 20, it is never the case that i1 <= 31 holds.
After b1 <= 15, g0 >= 29 eventually holds.
After g0 = 15, it is always the case that if i0 < 16 holds, then g0 = 11 previously held.
After s0 > 15 until k0 > 3, it is always the case that if c0 > 29 holds, then j1 = 15 previously held.
Between n0 <= 30 and t0 < 11, it is always the case that g0 < 10 holds.
Between s0 < 5 and f1 = 4, it is never the case that i1 >= 2 holds.
After s0 >= 28 until e1 > 15, it is always the case that if j1 < 16 holds, then q0 > 26 previously held and was preceded by l1 > 22 .
After t0 > 31 until f0 > 23, it is always the case that if p0 > 9 holds and is succeeded by g0 <= 2, then k1 = 11 previously held.
After j0 <= 30 until z0 > 28, it is always the case that if c0 >= 2 holds, then e0 < 24 eventually holds.
Globally, it is always the case that if e0 <= 11 holds and is succeeded by i1 <= 3, then g0 = 29 eventually holds after i1 <= 3 .
Globally, it is always the case that if z0 >= 3 holds and is succeeded by e1 > 22, then y0 > 30 previously held.
Before d0 <= 4, it is always the case that if k1 = 22 holds and is succeeded by b1 < 11, then d1 < 2 previously held.
Globally, it is always the case that if r0 >= 1 holds, then o0 <= 23 eventually holds and is succeeded by k1 = 17, where c1 = 31 does not hold between o0 <= 23 and k1 = 17 .
Between t0 <= 2 and q0 > 31, it is always the case that if x0 < 19 holds and is succeeded by x0 < 12, then z0 >= 6 previously held.
Between h1 < 20 and b0 <= 1, it is always the case that if i1 >= 5 holds and is succeeded by g1 = 25, then a1 > 20 eventually holds after g1 = 25 .
Globally, it is always the case that if l0 >= 9 holds and is succeeded by o0 < 29, then g0 <= 23 eventually holds after o0 < 29 .
Globally, it is always the case that if g0 = 30 holds, then m1 <= 11 eventually holds and is succeeded by i0 > 23, where p0 < 1 does not hold between m1 <= 11 and i0 > 23 .
After c0 >= 21 until u0 <= 18, it is always the case that if e0 > 6 holds, then m1 > 9 previously held.
After f1 > 4, it is always the case that if i0 > 1 holds, then p0 < 7 eventually holds.
Globally, it is never the case that y0 <= 1 holds.
After j1 < 21 until o0 > 28, it is always the case that if j1 < 3 holds, then u0 > 5 previously held and was preceded by l1 >= 10 .
Before c1 = 31, it is always the case that if a0 > 7 holds, then c1 >= 27 eventually holds.
After t0 >= 12 until c1 > 13, it is always the case that f0 <= 8 holds.
After a0 = 23, it is always the case that if a0 <= 18 holds, then o0 >= 5 previously held.
After g0 <= 27, it is always the case that if m1 = 6 holds, then h1 > 0 previously held and was preceded by b1 = 2 .
After e1 < 17 until d0 = 13, a1 = 6 eventually holds.
Before b0 > 21, it is always the case that if n0 < 1 holds and is succeeded by h0 > 10, then l1 <= 3 previously held.
After b0 > 29, w0 < 31 eventually holds.
Globally, it is always the case that if i0 = 12 holds, then r0 > 23 eventually holds.
Before r0 < 5, it is always the case that if r0 <= 30 holds and is succeeded by h1 = 7, then h0 > 13 previously held.
After u0 < 18, it is always the case that g0 = 26 holds.
Before a1 >= 14, it is always the case that if p0 >= 20 holds, then u0 >= 27 previously held and was preceded by a1 < 2 .
After k0 >= 19, it is always the case that if j1 > 21 holds, then c1 > 6 previously held.
Before l0 < 8, it is never the case that c1 < 16 holds.
Before e0 < 21, it is always the case that if h1 < 5 holds, then w0 >= 26 previously held.
After v0 > 19, l1 = 21 eventually holds.
After p0 <= 16 until w0 < 18, it is always the case that if b1 < 28 holds, then d0 < 3 eventually holds.
After d1 >= 31, it is never the case that h0 >= 5 holds.
After x0 < 16 until b1 > 21, it is never the case that h1 < 28 holds.
Before y0 > 5, it is always the case that if s0 > 9 holds and is succeeded by c0 < 4, then p0 < 23 eventually holds after c0 < 4 .
Globally, b1 = 11 eventually holds.
After c0 <= 16 until t0 > 26, it is always the case that c0 <= 31 holds.
Before y0 < 13, it is always the case that if x0 <= 14 holds, then k0 >= 16 eventually holds and is succeeded by g0 <= 8 .
After t0 < 11 until s0 < 30, it is never the case that w0 >= 12 holds.
After g1 = 17, it is always the case that if o0 < 2 holds, then t0 = 13 previously held and was preceded by d1 > 12 .
After a0 > 21 until r0 > 7, it is never the case that k1 > 23 holds.
After b1 = 10 until b1 < 24, it is always the case that if i0 < 0 holds, then j0 < 18 eventually holds and is succeeded by r0 <= 0, where a0 <= 0 does not hold between j0 < 18 and r0 <= 0 .
After e1 < 0 until o0 <= 20, it is always the case that if a0 = 11 holds, then c0 < 17 eventually holds and is succeeded by w0 = 15 .
Globally, it is always the case that if x0 > 9 holds, then h1 = 26 eventually holds and is succeeded by a0 = 19, where m0 < 5 does not hold between h1 = 26 and a0 = 19 .
Before d1 >= 21, it is always the case that if m0 > 15 holds, then l1 >= 1 previously held and was preceded by f0 <= 2 .
After b1 > 1 until e0 < 21, it is always the case that if j0 <= 3 holds, then p0 <= 12 eventually holds and is succeeded by m0 > 24, where s0 > 5 does not hold between p0 <= 12 and m0 > 24 .
Globally, it is never the case that m1 < 29 holds.
After f0 = 24 until c1 = 17, it is always the case that if h0 >= 21 holds, then w0 <= 3 eventually holds and is succeeded by n0 = 0 .
Globally, it is never the case that c0 < 27 holds.
Between f1 > 24 and m1 > 27, it is always the case that d0 > 13 holds.
Globally, it is always the case that if t0 = 25 holds, then a0 >= 24 eventually holds and is succeeded by d0 <= 30, where m1 <= 17 does not hold between a0 >= 24 and d0 <= 30 .
After g0 <= 26 until y0 >= 2, it is always the case that b0 < 11 holds.
After t0 = 28 until j0 > 18, it is always the case that if a1 >= 15 holds, then a0 >= 27 eventually holds and is succeeded by m0 >= 17 .
After v0 <= 13, it is always the case that if v0 = 27 holds, then e0 >= 4 previously held and was preceded by w0 = 18 .
Between j0 = 8 and v0 > 23, it is always the case that if z0 >= 22 holds and is succeeded by n0 <= 30, then m0 >= 6 previously held.
Between x0 < 9 and a1 <= 15, it is always the case that if m0 <= 21 holds, then g1 >= 10 previously held.
Before d0 = 31, it is always the case that if q0 = 15 holds, then j1 >= 4 eventually holds and is succeeded by a0 >= 31, where b1 > 3 does not hold between j1 >= 4 and a0 >= 31 .
Between d1 >= 12 and i1 <= 10, it is always the case that if x0 >= 17 holds and is succeeded by j0 <= 24, then w0 < 30 previously held.
Before k0 = 6, it is always the case that if h1 = 2 holds and is succeeded by j0 > 26, then a1 >= 8 eventually holds after j0 > 26 .
Globally, it is always the case that if a0 = 5 holds, then l0 <= 27 previously held.
Before j0 <= 3, it is always the case that if m1 = 25 holds, then a1 = 30 eventually holds.
Between b0 >= 15 and u0 > 9, it is always the case that if m0 > 27 holds, then c1 >= 21 eventually holds.
After l0 > 8, it is always the case that if i1 >= 2 holds, then b0 <= 17 eventually holds and is succeeded by u0 < 15 .
After b1 >= 31 until l1 = 14, it is never the case that o0 = 27 holds.
After j1 < 3 until d1 < 16, it is always the case that if h1 < 3 holds, then x0 >= 23 eventually holds and is succeeded by a1 = 7 .
Between k1 = 17 and g0 = 4, it is always the case that if l1 = 13 holds, then h0 = 22 previously held and was preceded by k1 < 30 .
Between v0 > 24 and a0 = 7, it is always the case that if k1 = 31 holds, then q0 >= 28 eventually holds.
Between y0 = 20 and v0 <= 24, it is always the case that if l1 > 25 holds, then r0 >= 30 previously held and was preceded by x0 >= 30 .
Globally, it is always the case that if j1 <= 31 holds, then i0 = 19 eventually holds.
After s0 > 27, it is always the case that if l0 > 30 holds and is succeeded by i0 <= 10, then c0 = 7 eventually holds after i0 <= 10 .
Before i0 < 4, it is always the case that if c0 = 12 holds and is succeeded by s0 < 2, then k1 <= 5 previously held.
After z0 <= 30 until j0 < 11, it is always the case that if b0 <= 3 holds, then j1 > 11 eventually holds and is succeeded by d1 > 20, where y0 > 10 does not hold between j1 > 11 and d1 > 20 .
After e0 <= 13 until y0 > 30, it is always the case that if c0 >= 26 holds, then j1 = 20 previously held and was preceded by q0 <= 6 .
After v0 <= 28, it is always the case that if b1 <= 24 holds, then c0 > 6 eventually holds and is succeeded by e0 = 28, where h0 > 16 does not hold between c0 > 6 and e0 = 28 .
Globally, it is never the case that x0 >= 10 holds.
After f0 >= 5 until d0 <= 28, it is always the case that if m1 = 1 holds, then m0 >= 6 previously held.
After z0 > 23, it is always the case that if z0 > 14 holds, then k1 <= 5 previously held.
Before a1 < 26, it is always the case that if a1 = 9 holds, then o0 >= 11 previously held and was preceded by b0 >= 25 .
Globally, it is always the case that if f0 >= 14 holds and is succeeded by c0 < 26, then a1 = 0 previously held.
Between m1 > 31 and g1 > 23, it is always the case that if y0 >= 26 holds and is succeeded by y0 <= 6, then v0 <= 28 previously held.
Globally, it is always the case that if y0 = 23 holds and is succeeded by z0 < 13, then o0 < 11 eventually holds after z0 < 13 .
After e0 < 13, it is always the case that if h0 > 16 holds, then g1 < 24 eventually holds.
Globally, it is always the case that if e1 < 5 holds and is succeeded by g1 = 18, then z0 = 3 eventually holds after g1 = 18 .
Globally, it is always the case that if o0 <= 18 holds, then a0 < 21 eventually holds.
After j1 >= 27 until h1 <= 8, it is always the case that if l0 > 23 holds and is succeeded by l0 <= 23, then g0 >= 13 eventually holds after l0 <= 23 .
Between f1 < 26 and v0 < 12, it is always the case that if r0 <= 20 holds, then x0 = 30 previously held.
After r0 <= 9 until d0 >= 5, it is always the case that if k1 = 20 holds, then g1 < 15 eventually holds and is succeeded by x0 = 16, where z0 < 15 does not hold between g1 < 15 and x0 = 16 .
After n0 >= 11 until m1 < 26, it is always the case that if s0 = 30 holds, then f1 > 19 eventually holds.
Between k1 < 1 and a0 > 5, it is always the case that if l1 = 3 holds, then i1 > 9 previously held and was preceded by f0 <= 25 .
Before q0 <= 5, it is always the case that if j0 >= 27 holds, then l1 = 3 previously held.
Between z0 = 10 and g0 = 1, w0 = 20 eventually holds.
After i0 < 28, it is always the case that if g0 <= 2 holds and is succeeded by z0 < 20, then i0 <= 9 previously held.
Before t0 < 30, it is always the case that if y0 > 9 holds, then f0 < 9 eventually holds and is succeeded by k1 > 22 .
Globally, it is always the case that if h0 = 23 holds, then w0 = 26 previously held.
Globally, it is always the case that if j0 <= 27 holds and is succeeded by k0 > 12, then k1 >= 27 previously held.
Before s0 < 29, m0 > 8 eventually holds.
After s0 < 9, it is always the case that if m1 >= 5 holds, then q0 > 12 previously held and was preceded by z0 < 26 .
Between a0 < 18 and a0 < 3, it is always the case that if b1 <= 14 holds and is succeeded by j1 >= 21, then h1 < 7 eventually holds after j1 >= 21 .
After h1 >= 30 until l1 <= 29, it is always the case that if p0 > 20 holds, then b0 < 9 previously held.
Between e0 = 19 and x0 <= 24, it is always the case that if c0 < 26 holds, then r0 >= 15 previously held and was preceded by o0 >= 16 .
Between w0 <= 30 and z0 <= 4, it is always the case that if k0 <= 15 holds, then i1 >= 24 eventually holds.
After b0 < 12, it is always the case that if y0 < 21 holds, then f1 <= 27 previously held.
After l0 < 2, it is always the case that if s0 < 21 holds and is succeeded by e0 = 16, then f1 < 4 previously held.
Globally, it is always the case that if j0 = 6 holds, then o0 >= 25 previously held.
Between k1 < 19 and h0 < 18, it is always the case that if e1 = 25 holds and is succeeded by z0 > 14, then x0 > 22 eventually holds after z0 > 14 .
Globally, it is always the case that if e0 >= 7 holds, then a1 > 1 eventually holds.
Between d0 > 18 and h1 <= 4, f1 > 21 eventually holds.
