After b5 < 0, it is always the case that if j3 < 3 holds and is succeeded by s11 >= 6, then q6 <= 0 eventually holds after s11 >= 6 .
After o6 = 7 until t2 < 0, it is always the case that if g3 < 1 holds, then d6 <= 3 previously held and was preceded by d7 <= 0 .
Before l7 < 7, it is never the case that w9 = 3 holds.
Before p7 >= 0, it is never the case that i4 <= 7 holds.
Globally, it is always the case that if p7 < 0 holds and is succeeded by c7 <= 4, then f1 >= 4 eventually holds after c7 <= 4 .
Globally, it is always the case that if m9 > 0 holds, then m2 >= 1 eventually holds.
After m6 >= 4 until l9 > 2, it is always the case that if t9 > 1 holds, then d9 > 6 eventually holds and is succeeded by z7 = 6, where a1 > 4 does not hold between d9 > 6 and z7 = 6 .
After v11 <= 0, it is never the case that t11 <= 3 holds.
Globally, s2 >= 4 eventually holds.
After r2 > 5, it is always the case that d7 = 6 holds.
Globally, it is always the case that if y10 = 6 holds and is succeeded by n11 >= 7, then y4 < 3 previously held.
Before u3 <= 5, it is always the case that if c0 >= 0 holds, then x3 > 7 previously held and was preceded by u8 >= 3 .
Before e6 = 6, it is always the case that if j2 < 5 holds, then a7 > 5 eventually holds and is succeeded by o3 <= 5 .
After x7 <= 7 until r10 < 2, m0 >= 2 eventually holds.
After w1 < 7, it is always the case that if n2 <= 6 holds and is succeeded by t4 <= 1, then p8 <= 3 previously held.
After b4 < 5 until w10 >= 5, it is always the case that if f3 < 3 holds, then h7 < 2 eventually holds and is succeeded by d7 = 4 .
After h1 <= 2 until g4 < 4, it is always the case that r6 <= 7 holds.
After e3 < 4, it is always the case that g8 = 2 holds.
After x5 >= 7, it is always the case that if r4 < 7 holds, then y11 >= 4 previously held.
Before m7 >= 5, it is always the case that m5 = 6 holds.
After u2 < 0 until c11 = 7, it is always the case that if m3 < 1 holds, then w9 >= 0 eventually holds and is succeeded by g10 <= 0, where u9 = 4 does not hold between w9 >= 0 and g10 <= 0 .
Globally, it is always the case that if h4 <= 3 holds and is succeeded by l5 <= 6, then d4 < 2 previously held.
After u11 = 6, it is always the case that s9 >= 7 holds.
Before m2 < 4, it is always the case that if m9 < 1 holds and is succeeded by b12 <= 7, then i2 <= 6 eventually holds after b12 <= 7 .
After z5 = 5, it is never the case that d7 >= 7 holds.
After h3 < 4, it is always the case that f7 > 6 holds.
Globally, it is always the case that if i11 <= 6 holds, then h0 >= 5 eventually holds and is succeeded by f6 > 6, where g12 <= 1 does not hold between h0 >= 5 and f6 > 6 .
Globally, it is always the case that if n7 > 5 holds, then j9 < 7 eventually holds and is succeeded by q1 = 1 .
After m4 <= 5 until c2 < 5, it is never the case that c3 <= 7 holds.
After v10 < 3 until f3 <= 2, it is always the case that b3 = 7 holds.
Between p2 = 1 and d7 <= 3, it is always the case that e8 <= 4 holds.
Between f0 < 4 and n2 >= 3, it is never the case that f7 > 1 holds.
After h1 > 1 until e10 <= 3, it is always the case that if q0 < 0 holds, then n3 < 0 previously held.
After z10 = 3, it is always the case that if k11 < 1 holds, then l7 < 3 previously held.
Before e8 > 6, it is always the case that s8 < 4 holds.
Between g9 > 3 and d7 >= 1, it is always the case that if y3 < 5 holds, then j0 > 5 eventually holds and is succeeded by d0 < 4 .
Between a6 < 3 and c10 = 0, it is always the case that w9 >= 6 holds.
Before l0 > 1, it is always the case that if m2 <= 2 holds, then f11 = 2 eventually holds.
Globally, it is always the case that if y7 >= 6 holds, then y7 < 2 previously held and was preceded by e1 = 5 .
After o11 >= 4 until d7 <= 1, it is always the case that if t7 < 0 holds, then b12 > 3 previously held.
After o9 < 3, it is never the case that s1 >= 2 holds.
After i4 > 2, f10 > 6 eventually holds.
Between l10 < 5 and e9 >= 3, it is always the case that if i9 > 3 holds, then l6 > 2 eventually holds and is succeeded by y4 = 4, where o2 > 2 does not hold between l6 > 2 and y4 = 4 .
Globally, it is never the case that i7 > 1 holds.
Before p1 > 7, it is always the case that if a2 >= 4 holds and is succeeded by e8 > 6, then f0 > 1 eventually holds after e8 > 6 .
After q4 = 7 until o6 > 0, it is always the case that if u3 >= 1 holds, then n2 > 5 previously held and was preceded by g4 > 2 .
After m7 <= 5, it is always the case that if v6 > 4 holds, then s1 > 7 eventually holds and is succeeded by c4 > 0, where l9 >= 6 does not hold between s1 > 7 and c4 > 0 .
After c6 > 1 until k1 > 1, it is always the case that if p6 = 5 holds and is succeeded by c2 < 1, then n6 <= 3 previously held.
After a0 = 4, it is always the case that if o7 = 3 holds, then a3 > 6 eventually holds and is succeeded by d6 > 3 .
After k0 = 5 until q4 > 5, it is always the case that a3 < 0 holds.
Globally, it is always the case that if m6 <= 4 holds and is succeeded by k9 = 6, then d3 = 3 previously held.
After p7 <= 0, it is always the case that if v4 < 6 holds, then u11 < 3 eventually holds and is succeeded by g2 = 6, where j10 >= 6 does not hold between u11 < 3 and g2 = 6 .
Between w2 > 3 and o6 < 1, it is always the case that if z7 < 0 holds and is succeeded by s10 >= 0, then y10 > 3 eventually holds after s10 >= 0 .
After v8 <= 2 until v6 > 4, it is always the case that if b9 <= 4 holds and is succeeded by d8 >= 3, then n9 < 3 eventually holds after d8 >= 3 .
After h6 > 1, it is always the case that if a0 <= 1 holds, then f5 > 3 previously held and was preceded by p7 < 6 .
Before o8 > 0, it is always the case that l3 = 5 holds.
Before v2 > 1, it is always the case that if c7 = 3 holds, then b6 >= 6 previously held.
Globally, it is always the case that if z8 = 4 holds, then u5 = 0 previously held.
Before r8 > 3, it is always the case that if w5 > 4 holds and is succeeded by q2 = 3, then l9 <= 0 previously held.
Globally, it is always the case that r9 < 0 holds.
Between j5 >= 7 and w8 <= 6, it is always the case that if h2 < 1 holds and is succeeded by o2 <= 3, then x10 > 0 previously held.
After p11 < 2 until l1 <= 4, it is always the case that if k2 <= 7 holds, then c1 = 7 previously held.
Globally, it is always the case that if u8 = 3 holds, then j0 > 5 eventually holds and is succeeded by h0 >= 7, where m2 >= 5 does not hold between j0 > 5 and h0 >= 7 .
Between x11 < 7 and i3 <= 2, it is always the case that if c4 >= 7 holds and is succeeded by u7 <= 0, then l8 >= 2 eventually holds after u7 <= 0 .
After x11 = 7 until y11 < 6, it is always the case that if q5 > 4 holds, then z10 > 4 previously held.
Globally, it is always the case that if s3 < 0 holds, then n9 > 6 previously held.
After k5 < 5 until x0 > 1, it is never the case that u1 >= 0 holds.
Before o5 >= 4, it is always the case that if z5 <= 5 holds, then y2 = 4 eventually holds.
Between n10 > 3 and w5 <= 6, it is always the case that k9 >= 7 holds.
Between m4 < 1 and q3 <= 3, it is never the case that x1 <= 5 holds.
Globally, it is always the case that r4 > 4 holds.
Globally, it is always the case that if k6 < 4 holds, then o6 > 2 eventually holds and is succeeded by c5 = 4 .
Globally, it is always the case that if e2 <= 1 holds, then l4 >= 5 eventually holds.
Between v10 >= 1 and g1 >= 6, it is always the case that if h2 > 5 holds, then d10 > 2 eventually holds and is succeeded by u10 = 6 .
Globally, it is always the case that if u1 > 6 holds and is succeeded by y10 = 7, then d2 >= 4 previously held.
Before i0 < 7, it is always the case that if c1 <= 4 holds, then c5 <= 0 eventually holds.
After e0 < 3 until n7 <= 3, it is always the case that if s10 > 3 holds, then c4 = 0 eventually holds and is succeeded by i6 > 6, where h2 < 3 does not hold between c4 = 0 and i6 > 6 .
Globally, it is always the case that if a5 <= 4 holds and is succeeded by p3 = 4, then h3 >= 2 previously held.
Globally, it is always the case that r0 < 1 holds.
After h3 < 2 until e0 < 5, it is always the case that if k11 >= 1 holds, then k0 <= 5 previously held.
After j10 > 2 until s1 >= 2, it is always the case that if w7 = 6 holds, then l0 <= 1 eventually holds and is succeeded by e5 > 1 .
Globally, it is always the case that if i7 < 3 holds, then q6 >= 4 eventually holds.
Between b7 >= 7 and r8 <= 1, it is always the case that if g11 = 3 holds, then t9 > 0 eventually holds and is succeeded by t2 >= 6 .
Globally, it is always the case that if f12 = 7 holds, then b11 < 5 eventually holds.
After j3 < 1, it is always the case that if k1 > 4 holds, then w6 <= 7 eventually holds and is succeeded by a4 = 3, where a11 > 6 does not hold between w6 <= 7 and a4 = 3 .
Globally, it is always the case that if e10 <= 2 holds, then v8 > 5 previously held.
Before g12 < 3, it is always the case that if m4 = 0 holds, then m2 = 0 eventually holds.
After c5 > 6, it is always the case that if j1 >= 0 holds, then q7 = 1 eventually holds.
Before l11 > 6, it is always the case that if v7 = 1 holds, then n8 < 6 eventually holds.
Before u1 <= 6, it is always the case that if c0 = 0 holds, then e0 = 4 previously held and was preceded by g5 < 7 .
After p4 >= 3 until o3 <= 7, it is always the case that if g7 < 0 holds, then d1 <= 6 eventually holds and is succeeded by s5 = 5 .
Globally, it is always the case that if w8 = 3 holds and is succeeded by v5 = 3, then q8 < 7 previously held.
Between d9 < 1 and b11 = 7, it is always the case that if g9 = 0 holds, then e8 < 1 eventually holds and is succeeded by u0 >= 2 .
Between d11 = 7 and f11 >= 5, it is never the case that z7 > 6 holds.
After m1 >= 1 until t11 > 1, b1 > 4 eventually holds.
Globally, it is always the case that if o8 < 2 holds and is succeeded by b0 = 0, then u8 >= 4 eventually holds after b0 = 0 .
Before w8 = 6, it is always the case that if h2 > 5 holds, then a1 <= 3 previously held and was preceded by j6 > 2 .
Between p6 = 6 and i11 > 2, it is always the case that if g12 = 4 holds and is succeeded by k1 >= 5, then p8 = 4 previously held.
Between w11 = 7 and g7 > 0, it is always the case that if u2 >= 4 holds and is succeeded by g5 < 2, then p0 < 6 eventually holds after g5 < 2 .
Before b11 = 3, it is always the case that if b3 < 7 holds, then j5 > 2 previously held and was preceded by o6 >= 6 .
Between v0 = 0 and g3 > 7, it is always the case that if u7 > 0 holds, then o1 <= 0 eventually holds and is succeeded by d12 <= 4, where v9 <= 0 does not hold between o1 <= 0 and d12 <= 4 .
After m2 < 2, it is always the case that if h11 <= 4 holds, then l0 > 6 eventually holds and is succeeded by r4 = 5, where i10 >= 4 does not hold between l0 > 6 and r4 = 5 .
After q0 <= 5, it is always the case that if q7 < 3 holds, then m1 = 4 previously held.
After j7 = 2, it is always the case that if m9 <= 7 holds, then d5 = 4 eventually holds.
Between c7 <= 7 and p8 <= 3, it is always the case that if l0 >= 4 holds, then t10 <= 5 eventually holds.
After k4 > 2 until s11 = 4, it is always the case that if g2 >= 1 holds and is succeeded by w0 > 2, then a6 <= 3 previously held.
After h8 < 6, it is always the case that if d2 = 1 holds and is succeeded by p9 >= 6, then z4 < 7 eventually holds after p9 >= 6 .
After i1 = 5, it is always the case that if r7 <= 5 holds and is succeeded by a5 >= 5, then p5 > 1 previously held.
Between q11 = 5 and a7 >= 3, it is always the case that if i0 < 5 holds, then x9 < 5 eventually holds and is succeeded by b6 <= 6 .
After v3 = 7, it is always the case that if c9 > 7 holds and is succeeded by r5 >= 3, then o1 = 7 eventually holds after r5 >= 3 .
After x9 < 0, it is always the case that l4 > 4 holds.
Globally, it is always the case that if y9 <= 4 holds, then f5 <= 6 eventually holds.
Globally, it is always the case that if y9 > 0 holds, then h10 >= 7 eventually holds and is succeeded by d4 <= 0 .
After n2 = 6 until a6 < 6, it is always the case that if v1 < 3 holds and is succeeded by h3 < 1, then t8 = 5 previously held.
Between g6 <= 7 and d8 <= 5, it is always the case that if j4 < 7 holds, then d12 > 3 previously held and was preceded by u7 >= 6 .
Globally, it is always the case that if z4 < 2 holds, then y8 < 1 previously held.
After m11 <= 4, it is always the case that if p8 >= 4 holds, then a10 < 4 previously held and was preceded by j4 < 4 .
Globally, it is always the case that if g5 < 1 holds and is succeeded by a1 >= 5, then u8 > 0 previously held.
After r3 > 7 until v7 <= 3, p1 <= 4 eventually holds.
Globally, it is always the case that if n9 <= 3 holds and is succeeded by v5 < 0, then c10 >= 5 eventually holds after v5 < 0 .
Before f11 <= 5, it is always the case that if g5 <= 4 holds, then r3 > 0 previously held.
After d8 >= 6 until r7 <= 2, it is always the case that if f12 = 4 holds and is succeeded by r5 = 7, then m10 >= 5 previously held.
After h2 > 2 until q4 > 0, it is always the case that if x3 = 1 holds and is succeeded by d7 >= 2, then z3 >= 1 eventually holds after d7 >= 2 .
Before d12 > 0, it is always the case that if b1 = 7 holds, then q4 = 3 previously held.
Before q11 = 5, it is never the case that a9 < 4 holds.
After d4 <= 6 until j7 = 6, it is always the case that if l4 > 1 holds and is succeeded by s10 < 3, then g4 >= 7 previously held.
After w4 > 6, it is always the case that if j6 = 1 holds and is succeeded by c3 = 0, then j2 = 6 previously held.
Between b1 = 5 and i9 >= 2, it is always the case that if l8 = 6 holds, then s8 = 0 previously held and was preceded by b4 < 3 .
Globally, it is always the case that if x2 > 5 holds and is succeeded by q9 >= 5, then z4 > 4 previously held.
Between z4 < 6 and p5 <= 5, it is always the case that if c6 <= 2 holds, then e11 > 1 eventually holds.
After g10 = 1 until g4 < 1, it is always the case that if t2 > 0 holds, then j7 <= 7 previously held.
Before y10 <= 2, it is always the case that if o8 >= 5 holds, then s5 <= 4 eventually holds and is succeeded by c5 < 6 .
Globally, it is always the case that if l4 <= 5 holds, then g8 <= 3 previously held and was preceded by m0 >= 5 .
After z1 > 1, it is always the case that if a8 = 0 holds and is succeeded by n9 > 0, then w7 < 4 eventually holds after n9 > 0 .
After l1 <= 7 until g3 >= 2, it is always the case that if w9 <= 1 holds, then f6 = 3 previously held.
After n11 < 7, it is always the case that if g9 < 5 holds, then i4 < 0 previously held.
Before t4 <= 2, it is always the case that if e3 >= 4 holds and is succeeded by q6 < 6, then u6 <= 2 eventually holds after q6 < 6 .
Between d7 = 4 and j11 > 6, it is always the case that if m9 > 6 holds, then q6 > 1 eventually holds and is succeeded by g10 > 2, where n3 = 2 does not hold between q6 > 1 and g10 > 2 .
After g11 < 0 until b10 < 4, it is always the case that if a11 >= 6 holds and is succeeded by b0 >= 6, then s11 <= 6 previously held.
After q9 > 7 until m7 < 5, it is never the case that e0 = 7 holds.
After t10 < 0 until n1 >= 7, it is always the case that if w8 < 7 holds and is succeeded by x5 = 5, then g12 < 1 eventually holds after x5 = 5 .
After n10 >= 0, it is always the case that if y6 > 4 holds and is succeeded by n3 > 1, then k2 >= 5 eventually holds after n3 > 1 .
After y5 <= 4, it is always the case that if h6 <= 0 holds, then l4 = 0 eventually holds and is succeeded by g1 <= 1, where j10 > 5 does not hold between l4 = 0 and g1 <= 1 .
Before n10 > 3, k10 = 4 eventually holds.
After z8 >= 2 until m8 <= 7, it is always the case that if i2 >= 6 holds, then j6 < 0 eventually holds and is succeeded by m8 = 0 .
Between b7 = 1 and t3 = 3, it is always the case that if h7 > 3 holds, then t4 = 2 eventually holds.
Before z5 > 5, it is always the case that if o2 < 2 holds and is succeeded by s4 < 2, then o11 < 0 eventually holds after s4 < 2 .
Between z0 < 7 and f11 = 3, it is always the case that if x2 = 5 holds and is succeeded by w9 > 6, then h2 < 1 previously held.
After z10 = 5, it is always the case that if c4 = 6 holds, then p10 < 4 eventually holds.
After q10 = 2, it is never the case that d5 > 1 holds.
Between o1 <= 7 and d7 > 5, it is always the case that if w9 < 4 holds, then d5 > 5 previously held.
After w4 > 4, it is always the case that if a5 >= 1 holds and is succeeded by d7 > 1, then z8 = 1 eventually holds after d7 > 1 .
Before f7 >= 6, it is always the case that if i1 >= 6 holds, then b4 > 3 previously held and was preceded by b9 < 1 .
After z0 < 5, it is always the case that y10 >= 6 holds.
Before k4 <= 7, it is always the case that if q1 = 5 holds, then x4 > 0 eventually holds.
Before j6 < 4, it is always the case that r11 >= 5 holds.
Globally, it is always the case that if s0 <= 6 holds, then v1 < 4 eventually holds and is succeeded by p5 >= 1, where k1 > 7 does not hold between v1 < 4 and p5 >= 1 .
After r9 < 0 until c8 <= 1, it is always the case that if b10 >= 3 holds and is succeeded by i6 <= 0, then w1 > 0 previously held.
Before z1 >= 0, it is always the case that f9 = 0 holds.
After a2 < 0, it is always the case that if g10 > 0 holds, then b9 <= 0 previously held.
Globally, it is always the case that d7 > 5 holds.
After e11 < 6, it is always the case that if f12 > 6 holds and is succeeded by x10 < 2, then h7 < 1 previously held.
Globally, it is always the case that if o7 >= 5 holds, then c3 > 1 eventually holds and is succeeded by z2 = 7 .
After y0 <= 6, it is always the case that if y2 <= 0 holds, then t6 <= 7 eventually holds and is succeeded by h4 = 7, where t9 < 1 does not hold between t6 <= 7 and h4 = 7 .
After u11 <= 1, a9 = 6 eventually holds.
Before q6 = 4, it is always the case that if n2 <= 0 holds, then o11 = 6 eventually holds and is succeeded by d12 = 6 .
Globally, it is always the case that if r2 < 2 holds, then r11 > 2 previously held.
After o1 >= 6, it is always the case that if t0 > 3 holds, then g12 = 0 previously held.
After w7 = 1 until n6 >= 3, it is always the case that if f3 >= 2 holds, then m3 > 2 previously held.
Globally, it is always the case that if l9 > 4 holds, then c6 <= 5 eventually holds and is succeeded by b8 = 5 .
After d8 < 1 until a7 < 5, it is always the case that if o11 > 5 holds, then f3 = 0 eventually holds.
After a12 >= 5 until l7 >= 6, it is always the case that if h3 <= 3 holds, then y10 >= 3 eventually holds.
Between w7 = 0 and c2 <= 3, it is always the case that if h4 >= 4 holds, then v2 = 6 eventually holds and is succeeded by e7 < 5, where q6 = 6 does not hold between v2 = 6 and e7 < 5 .
Globally, it is always the case that if g7 > 1 holds, then q5 >= 6 previously held.
After y4 = 0, a9 <= 0 eventually holds.
Between o2 = 2 and s8 <= 6, it is always the case that if k3 <= 7 holds, then x10 < 7 eventually holds and is succeeded by m4 < 6 .
Globally, it is always the case that if d2 = 2 holds and is succeeded by f10 <= 4, then s11 >= 1 eventually holds after f10 <= 4 .
Globally, it is always the case that if d9 <= 3 holds, then r4 <= 0 previously held.
Between y3 > 5 and l1 > 4, it is always the case that if e2 <= 4 holds, then k5 > 5 previously held and was preceded by c7 < 2 .
After w8 <= 5, it is always the case that if r4 = 5 holds, then o8 < 2 previously held.
Before w3 < 5, it is always the case that if p1 <= 7 holds, then u8 > 4 eventually holds.
Between w11 < 1 and c1 >= 4, it is always the case that if t2 = 4 holds, then g8 <= 0 eventually holds.
After v8 > 5 until r0 > 2, it is never the case that i4 > 0 holds.
After n3 > 7 until j8 <= 1, it is always the case that if l9 < 5 holds, then z0 > 7 eventually holds and is succeeded by s3 >= 2 .
After t10 < 6, it is always the case that l1 = 3 holds.
Before l9 > 6, it is always the case that if c1 < 4 holds, then y4 < 5 eventually holds.
After g1 < 7 until b2 >= 6, it is never the case that h5 >= 3 holds.
After o6 < 2 until p5 > 6, it is always the case that if q3 = 6 holds, then j8 >= 5 previously held.
After e10 > 5 until j5 <= 1, it is always the case that if a0 <= 7 holds and is succeeded by g1 <= 0, then c7 > 0 previously held.
Between h8 > 1 and m4 < 6, it is always the case that if o4 < 1 holds, then v7 <= 4 previously held and was preceded by d6 = 5 .
Between f1 > 5 and t7 = 1, it is always the case that if t0 < 2 holds and is succeeded by a0 = 3, then t5 < 6 eventually holds after a0 = 3 .
Before c0 <= 4, it is always the case that if d1 = 5 holds and is succeeded by a5 < 1, then g6 <= 7 eventually holds after a5 < 1 .
Globally, z0 = 6 eventually holds.
Globally, it is always the case that if g6 = 5 holds, then k7 = 0 previously held and was preceded by j2 < 5 .
Globally, r6 < 6 eventually holds.
Before e6 >= 0, it is always the case that if o9 > 6 holds, then c1 = 7 eventually holds and is succeeded by o11 = 6, where a4 < 4 does not hold between c1 = 7 and o11 = 6 .
Globally, it is always the case that t0 >= 5 holds.
Before h11 > 2, it is always the case that u7 <= 6 holds.
After t6 < 5 until q9 > 1, it is always the case that if g0 <= 5 holds, then b10 < 0 previously held and was preceded by m3 > 6 .
Globally, it is always the case that if w0 <= 5 holds and is succeeded by u3 > 1, then o4 = 3 eventually holds after u3 > 1 .
Globally, it is always the case that if r0 <= 1 holds, then w1 >= 3 previously held and was preceded by o11 >= 7 .
Before x9 <= 0, f8 = 2 eventually holds.
Between y4 < 5 and o9 >= 4, it is always the case that if o9 < 0 holds, then p4 = 7 previously held and was preceded by o4 > 0 .
After y1 >= 2, it is always the case that if y3 < 1 holds, then s0 = 5 eventually holds and is succeeded by d4 >= 3, where f3 < 1 does not hold between s0 = 5 and d4 >= 3 .
After j8 >= 0 until g10 >= 0, it is always the case that if i8 <= 6 holds, then c1 <= 4 previously held.
After o4 >= 4, it is always the case that if i0 <= 5 holds and is succeeded by p0 > 5, then a9 = 3 eventually holds after p0 > 5 .
Between p7 > 6 and k6 < 4, it is never the case that n3 < 3 holds.
After g4 >= 6, it is always the case that if p7 = 0 holds and is succeeded by b7 > 1, then d6 <= 5 eventually holds after b7 > 1 .
After t1 > 6 until u3 < 2, it is always the case that if s6 >= 1 holds, then x2 > 2 eventually holds and is succeeded by g7 >= 2, where l4 < 4 does not hold between x2 > 2 and g7 >= 2 .
After r7 < 1 until n8 = 0, x0 <= 5 eventually holds.
Globally, it is never the case that s10 > 6 holds.
After p8 <= 3, it is always the case that if c2 <= 2 holds, then d5 <= 4 eventually holds.
After u6 > 6 until q8 > 1, it is always the case that if k3 <= 4 holds, then p9 = 1 eventually holds and is succeeded by a3 = 3 .
Between k11 >= 6 and m11 = 0, it is always the case that g4 < 2 holds.
After g11 > 0 until g1 > 3, it is always the case that if x8 >= 4 holds and is succeeded by g4 < 3, then e10 <= 2 previously held.
Between z4 >= 1 and w4 >= 2, it is always the case that if v6 <= 2 holds, then h2 = 5 previously held and was preceded by y7 >= 0 .
Globally, it is always the case that if x10 > 3 holds and is succeeded by u10 >= 1, then z8 < 6 previously held.
Globally, it is always the case that if m6 = 3 holds and is succeeded by e10 > 4, then o6 <= 0 previously held.
After m8 < 4 until h9 >= 1, it is always the case that if m3 < 7 holds, then t4 = 3 previously held and was preceded by b9 = 1 .
After w8 > 7, it is always the case that if p9 = 1 holds, then q6 >= 2 eventually holds and is succeeded by f5 >= 3 .
Between w1 <= 5 and z3 > 3, it is always the case that if j7 >= 4 holds, then j7 > 5 eventually holds and is succeeded by i8 = 6, where k11 < 3 does not hold between j7 > 5 and i8 = 6 .
Globally, it is always the case that if j10 = 1 holds, then b9 <= 0 previously held and was preceded by y0 = 7 .
After c12 > 2 until e2 <= 7, it is always the case that if h3 > 6 holds, then f4 > 7 previously held.
After o11 >= 4, it is always the case that u10 >= 5 holds.
Before l4 >= 2, b12 <= 0 eventually holds.
Between s3 < 4 and f9 = 3, it is always the case that if p1 >= 5 holds, then w9 >= 6 previously held and was preceded by f7 <= 5 .
Globally, it is always the case that if j3 < 3 holds and is succeeded by y6 < 6, then d1 > 5 eventually holds after y6 < 6 .
After f10 > 3, it is always the case that e12 > 0 holds.
After n11 >= 6 until r5 = 3, it is always the case that if k11 = 1 holds, then f11 > 7 previously held.
Before f12 >= 0, t3 < 5 eventually holds.
After k11 = 1 until i5 >= 4, it is never the case that m0 >= 7 holds.
Globally, it is always the case that if i11 > 6 holds, then w4 = 2 previously held and was preceded by b6 = 3 .
Globally, it is always the case that if b5 < 6 holds, then t3 > 4 eventually holds and is succeeded by u1 < 2 .
After o1 > 3 until s2 > 2, it is always the case that if s3 > 1 holds, then w3 = 4 eventually holds and is succeeded by k9 < 4, where u5 = 5 does not hold between w3 = 4 and k9 < 4 .
After j0 >= 2, it is always the case that e6 <= 7 holds.
Globally, it is always the case that if m2 < 6 holds, then u6 >= 3 previously held and was preceded by r11 >= 7 .
After g5 >= 5 until v6 >= 6, it is never the case that c2 <= 4 holds.
Globally, it is always the case that if y2 > 1 holds, then z4 >= 3 previously held and was preceded by k6 = 3 .
After a12 <= 0 until j1 >= 5, it is always the case that if y1 >= 3 holds, then j5 = 7 eventually holds and is succeeded by w4 < 4, where p0 <= 5 does not hold between j5 = 7 and w4 < 4 .
Globally, it is always the case that h11 = 6 holds.
