After a0 = 1 until a0 > 5, b0 > 3 eventually holds.
Before b0 >= 4, it is never the case that a0 < 6 holds.
After b0 > 3, it is always the case that if d0 < 11 holds and is succeeded by a0 >= 7, then d0 > 4 previously held.
Before b0 <= 0, it is always the case that if b0 < 11 holds, then b0 = 1 eventually holds and is succeeded by a0 > 0, where c0 > 3 does not hold between b0 = 1 and a0 > 0 .
Globally, it is always the case that if a0 > 8 holds, then b0 > 8 previously held.
Between a0 = 15 and a0 >= 7, it is always the case that b0 > 6 holds.
Between d0 >= 2 and b0 < 13, it is never the case that b0 < 12 holds.
After a0 = 1 until d0 >= 8, it is never the case that a0 = 12 holds.
Between c0 < 12 and c0 > 14, it is always the case that if a0 > 0 holds, then c0 > 9 eventually holds and is succeeded by b0 < 3 .
After a0 < 5 until c0 <= 5, it is always the case that if a0 > 4 holds, then c0 >= 0 previously held.
After c0 >= 6, it is always the case that if a0 < 11 holds, then a0 > 15 eventually holds.
After b0 > 0, it is always the case that if b0 = 0 holds and is succeeded by c0 < 14, then c0 >= 9 eventually holds after c0 < 14 .
Before b0 < 14, it is always the case that a0 < 7 holds.
Before a0 < 9, it is always the case that if c0 >= 12 holds, then d0 > 1 eventually holds and is succeeded by b0 > 3 .
After c0 < 1 until b0 > 14, it is always the case that if c0 > 2 holds and is succeeded by a0 < 11, then d0 <= 14 eventually holds after a0 < 11 .
Globally, it is never the case that c0 < 8 holds.
Globally, b0 < 3 eventually holds.
Between d0 > 12 and a0 < 6, it is always the case that if b0 = 9 holds and is succeeded by b0 > 11, then c0 = 6 eventually holds after b0 > 11 .
After c0 = 6 until b0 <= 8, it is always the case that if b0 > 4 holds, then c0 < 4 previously held and was preceded by b0 = 11 .
Globally, it is always the case that if d0 < 4 holds, then c0 > 5 previously held.
After d0 = 15, b0 < 0 eventually holds.
Before a0 < 10, it is always the case that if d0 <= 8 holds, then b0 <= 11 previously held and was preceded by d0 >= 4 .
Before b0 < 7, it is always the case that if d0 = 5 holds, then c0 <= 15 previously held.
Globally, b0 > 1 eventually holds.
Between d0 = 15 and c0 <= 11, it is always the case that if d0 < 15 holds, then c0 = 10 eventually holds and is succeeded by b0 > 4, where d0 = 11 does not hold between c0 = 10 and b0 > 4 .
Between c0 = 12 and a0 >= 12, it is always the case that d0 <= 1 holds.
Globally, it is always the case that if d0 > 12 holds and is succeeded by b0 >= 13, then d0 >= 12 previously held.
Before d0 > 10, it is always the case that if d0 <= 13 holds, then c0 >= 4 eventually holds and is succeeded by d0 >= 10, where c0 = 13 does not hold between c0 >= 4 and d0 >= 10 .
After c0 < 13 until b0 < 1, it is never the case that b0 > 15 holds.
Between b0 <= 0 and c0 < 4, c0 >= 1 eventually holds.
After c0 > 4, a0 = 13 eventually holds.
Between b0 = 0 and a0 >= 10, it is never the case that b0 < 8 holds.
Globally, it is always the case that if b0 >= 9 holds, then d0 <= 2 eventually holds.
After b0 < 11, it is always the case that if c0 = 0 holds, then a0 = 6 previously held and was preceded by c0 = 7 .
Before d0 > 9, it is always the case that if b0 < 12 holds, then d0 = 15 previously held and was preceded by b0 = 9 .
After c0 < 4 until d0 < 0, it is always the case that a0 = 14 holds.
Before a0 >= 5, it is always the case that if c0 >= 6 holds, then d0 = 3 eventually holds and is succeeded by c0 <= 11 .
Between a0 > 9 and b0 >= 0, it is always the case that if b0 = 11 holds, then b0 > 8 eventually holds and is succeeded by c0 > 6, where b0 = 11 does not hold between b0 > 8 and c0 > 6 .
After c0 >= 5, it is always the case that if a0 < 10 holds, then c0 = 4 previously held and was preceded by a0 < 7 .
After d0 < 5, it is always the case that if c0 = 7 holds and is succeeded by b0 <= 10, then c0 <= 6 previously held.
Globally, it is always the case that if d0 < 1 holds, then a0 < 9 eventually holds and is succeeded by a0 = 12 .
After b0 < 2, it is always the case that if c0 > 5 holds and is succeeded by c0 <= 4, then b0 = 2 eventually holds after c0 <= 4 .
Before a0 >= 2, it is always the case that if c0 > 14 holds, then d0 > 14 previously held and was preceded by d0 = 5 .
Between c0 <= 14 and a0 >= 4, it is always the case that if b0 > 3 holds, then b0 > 14 previously held and was preceded by b0 <= 0 .
Before b0 <= 10, it is always the case that if a0 < 2 holds, then c0 > 2 eventually holds.
Between a0 >= 5 and d0 < 4, it is always the case that if d0 > 0 holds, then c0 = 11 previously held.
After c0 = 11 until d0 < 0, it is always the case that if d0 >= 13 holds, then c0 <= 8 previously held.
Globally, it is never the case that b0 <= 0 holds.
Between a0 < 5 and d0 <= 1, b0 < 12 eventually holds.
Between a0 = 1 and d0 = 12, it is always the case that if c0 < 5 holds, then c0 <= 1 previously held.
After b0 < 0, it is always the case that if b0 < 11 holds, then d0 > 6 eventually holds and is succeeded by d0 >= 12, where d0 = 12 does not hold between d0 > 6 and d0 >= 12 .
After b0 <= 8, it is always the case that if c0 <= 3 holds, then d0 >= 15 previously held and was preceded by c0 >= 6 .
Globally, it is always the case that if b0 > 1 holds, then d0 <= 9 previously held and was preceded by b0 = 7 .
Between d0 >= 12 and c0 > 12, it is always the case that if d0 <= 12 holds, then a0 > 3 previously held and was preceded by b0 = 15 .
Before b0 > 1, it is always the case that if a0 > 11 holds, then c0 < 14 eventually holds and is succeeded by d0 <= 13 .
Before b0 >= 7, it is always the case that if b0 < 2 holds and is succeeded by d0 >= 6, then c0 < 13 previously held.
Globally, it is always the case that if d0 <= 12 holds, then a0 >= 15 previously held.
After c0 = 6 until c0 < 13, it is always the case that if a0 > 4 holds, then c0 <= 7 eventually holds.
Between d0 < 5 and d0 < 10, it is always the case that b0 < 13 holds.
Before a0 = 8, it is always the case that if a0 > 11 holds, then b0 = 9 previously held.
Globally, it is always the case that if d0 <= 12 holds and is succeeded by c0 <= 12, then d0 > 5 eventually holds after c0 <= 12 .
After a0 >= 15, it is always the case that if c0 >= 15 holds, then a0 < 5 previously held.
Globally, it is always the case that if a0 >= 9 holds, then b0 > 3 eventually holds.
After c0 > 0, it is always the case that if c0 > 10 holds, then c0 >= 6 previously held.
After d0 <= 12 until d0 < 13, it is always the case that if b0 = 5 holds, then b0 < 5 previously held and was preceded by a0 = 0 .
After c0 > 11, it is always the case that if c0 <= 4 holds, then c0 < 11 eventually holds.
After d0 = 2, it is always the case that if b0 = 8 holds, then a0 < 2 eventually holds and is succeeded by b0 > 14 .
After a0 < 15, it is always the case that if b0 >= 14 holds, then c0 > 11 previously held and was preceded by c0 < 12 .
Between b0 >= 14 and c0 = 13, it is always the case that if c0 > 3 holds, then d0 <= 12 eventually holds and is succeeded by b0 >= 8 .
Before b0 >= 4, it is always the case that c0 >= 1 holds.
After c0 = 8, b0 >= 5 eventually holds.
After a0 < 12 until a0 > 15, it is always the case that if a0 = 3 holds, then c0 > 8 eventually holds and is succeeded by d0 >= 3 .
Before b0 <= 14, it is always the case that d0 <= 15 holds.
Globally, it is always the case that if d0 > 3 holds, then b0 = 8 eventually holds.
Before b0 = 10, it is always the case that if b0 <= 0 holds and is succeeded by a0 <= 3, then c0 < 7 eventually holds after a0 <= 3 .
Between b0 > 2 and c0 <= 13, it is always the case that c0 = 9 holds.
After c0 > 5, it is never the case that b0 >= 6 holds.
After c0 = 5 until a0 > 13, it is always the case that if b0 < 4 holds, then b0 < 12 previously held.
Before a0 > 15, it is always the case that a0 >= 7 holds.
Before a0 < 1, it is always the case that if b0 > 15 holds and is succeeded by a0 <= 7, then c0 <= 3 previously held.
After d0 < 7, it is always the case that if d0 < 8 holds, then d0 = 9 eventually holds and is succeeded by b0 < 12 .
After c0 >= 4, it is always the case that if b0 > 13 holds, then c0 < 2 previously held and was preceded by b0 <= 9 .
After d0 > 6, it is never the case that c0 <= 15 holds.
Before b0 > 15, it is always the case that if b0 >= 3 holds and is succeeded by c0 <= 13, then c0 < 8 previously held.
After a0 <= 5 until b0 > 1, it is always the case that if b0 < 2 holds and is succeeded by d0 < 0, then b0 > 3 previously held.
Before d0 = 1, it is always the case that c0 >= 3 holds.
Before b0 <= 9, it is always the case that if d0 <= 10 holds, then b0 < 14 previously held.
After d0 >= 10 until a0 < 12, it is always the case that if b0 < 2 holds, then b0 > 3 eventually holds and is succeeded by d0 < 6 .
Before a0 >= 13, it is always the case that if b0 > 7 holds and is succeeded by b0 < 10, then b0 >= 11 eventually holds after b0 < 10 .
Before c0 = 4, it is always the case that if b0 >= 14 holds, then a0 = 10 eventually holds.
Before b0 <= 9, it is always the case that if c0 > 10 holds, then b0 > 9 eventually holds.
After c0 > 3, it is never the case that d0 <= 6 holds.
After d0 >= 2 until b0 <= 12, it is always the case that if b0 = 13 holds, then d0 >= 15 eventually holds and is succeeded by c0 <= 5 .
Between c0 <= 11 and c0 >= 4, it is always the case that if c0 < 1 holds, then a0 = 4 eventually holds.
After b0 >= 15, it is always the case that if c0 = 1 holds, then a0 >= 2 eventually holds.
Globally, it is never the case that a0 > 1 holds.
Before c0 < 5, it is always the case that if a0 >= 5 holds and is succeeded by a0 < 12, then a0 >= 1 previously held.
After c0 > 2, it is always the case that if d0 < 5 holds, then c0 > 13 eventually holds and is succeeded by b0 < 2, where d0 >= 8 does not hold between c0 > 13 and b0 < 2 .
Between b0 >= 3 and c0 > 11, it is always the case that if c0 = 10 holds, then d0 < 11 eventually holds and is succeeded by c0 < 2 .
Between b0 = 15 and a0 > 2, it is always the case that a0 > 15 holds.
Before b0 >= 3, it is always the case that if a0 = 5 holds, then c0 > 15 previously held.
Globally, b0 > 10 eventually holds.
Between b0 = 0 and d0 = 9, it is always the case that if a0 <= 15 holds, then c0 <= 11 eventually holds.
After d0 > 3 until c0 < 14, it is always the case that if b0 >= 14 holds, then d0 = 9 eventually holds and is succeeded by d0 > 2 .
Before a0 > 11, it is always the case that if a0 > 14 holds, then b0 <= 0 eventually holds and is succeeded by d0 <= 11 .
After d0 >= 15 until d0 < 5, it is always the case that if d0 < 2 holds, then d0 > 12 eventually holds.
After d0 < 8 until b0 <= 7, it is always the case that if b0 >= 7 holds, then d0 > 5 eventually holds.
After b0 >= 2 until a0 > 2, it is always the case that if d0 = 8 holds, then a0 >= 3 eventually holds and is succeeded by b0 = 4, where a0 < 2 does not hold between a0 >= 3 and b0 = 4 .
Between c0 < 9 and c0 > 5, it is always the case that d0 > 15 holds.
Between d0 < 0 and d0 > 12, it is always the case that if b0 = 1 holds, then b0 >= 8 eventually holds.
After b0 >= 6, it is never the case that c0 < 15 holds.
Globally, it is always the case that if a0 > 3 holds, then c0 < 15 eventually holds and is succeeded by d0 >= 15, where a0 < 3 does not hold between c0 < 15 and d0 >= 15 .
Globally, it is always the case that if b0 < 5 holds, then a0 <= 13 previously held and was preceded by c0 > 7 .
After b0 > 9, it is always the case that if b0 > 8 holds and is succeeded by c0 <= 3, then d0 > 4 eventually holds after c0 <= 3 .
After c0 < 10 until c0 = 3, it is always the case that if c0 < 6 holds, then b0 <= 2 eventually holds.
After b0 <= 13, it is never the case that c0 <= 1 holds.
Between a0 > 2 and c0 = 9, it is always the case that if a0 > 12 holds and is succeeded by c0 > 13, then b0 > 7 previously held.
Before d0 <= 5, it is always the case that if a0 <= 4 holds and is succeeded by c0 = 1, then a0 > 5 previously held.
Between c0 <= 13 and b0 >= 15, it is never the case that b0 <= 5 holds.
After d0 < 7, it is always the case that if d0 >= 2 holds, then c0 >= 7 previously held.
