Globally, it is never the case that g0 <= 18 holds.
After s0 = 21, it is always the case that if j1 < 14 holds, then g0 = 8 eventually holds and is succeeded by t0 > 2 .
Between o0 > 19 and j1 <= 19, it is always the case that if y0 <= 3 holds, then h1 <= 17 eventually holds.
Globally, it is always the case that if k1 = 14 holds and is succeeded by a0 > 0, then g0 <= 1 previously held.
Between r0 <= 1 and b0 > 23, it is always the case that z0 >= 27 holds.
After e1 >= 31 until k1 < 10, it is always the case that if w0 <= 4 holds, then v0 > 29 eventually holds and is succeeded by k0 = 28 .
After x0 >= 14, it is always the case that d1 >= 29 holds.
After a1 <= 30 until j0 <= 11, it is always the case that if d0 > 30 holds, then f0 < 24 previously held and was preceded by a0 < 24 .
After f1 < 24 until a0 >= 26, it is always the case that if c1 <= 19 holds, then s0 > 2 eventually holds.
Before c0 >= 2, it is always the case that if v0 > 6 holds, then d1 <= 24 previously held.
After w0 <= 30, it is always the case that if m0 > 6 holds, then k1 = 16 eventually holds.
Globally, it is always the case that if b1 <= 4 holds and is succeeded by k0 <= 28, then p0 <= 16 previously held.
After e1 < 24, it is always the case that if g0 <= 13 holds and is succeeded by d0 < 27, then s0 <= 27 eventually holds after d0 < 27 .
After j1 > 31 until g0 >= 25, it is always the case that if i0 < 7 holds, then g1 < 22 eventually holds and is succeeded by g0 < 21, where m1 = 8 does not hold between g1 < 22 and g0 < 21 .
Before j1 > 23, it is always the case that if v0 < 3 holds and is succeeded by f0 < 31, then i1 >= 28 eventually holds after f0 < 31 .
Before m0 <= 2, it is always the case that if f1 >= 3 holds, then v0 < 3 previously held and was preceded by a0 <= 16 .
After d1 < 10 until h1 <= 10, it is always the case that if u0 <= 10 holds, then f1 < 8 previously held and was preceded by n0 >= 8 .
Globally, it is always the case that if u0 = 17 holds, then b0 >= 15 eventually holds and is succeeded by g1 = 13 .
Globally, it is always the case that if j0 < 11 holds, then g1 <= 21 previously held.
Before l1 = 16, it is always the case that if d0 <= 28 holds, then r0 >= 8 eventually holds.
After q0 <= 13, it is always the case that if f0 > 20 holds, then k0 >= 17 eventually holds and is succeeded by l1 >= 12 .
Before m1 > 5, d1 < 26 eventually holds.
After l0 >= 5, it is never the case that h1 <= 14 holds.
After f0 < 27 until k1 > 1, it is never the case that f0 = 6 holds.
Before g1 >= 25, it is always the case that m0 >= 25 holds.
Before z0 >= 5, it is always the case that e1 > 25 holds.
Globally, it is always the case that if i1 >= 15 holds, then g0 <= 31 eventually holds and is succeeded by e0 <= 27 .
Globally, it is always the case that if y0 > 16 holds and is succeeded by w0 >= 12, then c1 <= 22 previously held.
Before t0 >= 9, it is always the case that if x0 <= 8 holds, then n0 <= 14 previously held and was preceded by t0 >= 19 .
After j0 > 27 until h1 >= 29, it is never the case that m1 < 26 holds.
Between a0 > 15 and g0 <= 22, it is always the case that if f1 <= 19 holds, then h1 > 12 previously held.
After a0 <= 27 until w0 <= 20, it is always the case that if e1 = 19 holds and is succeeded by a0 >= 21, then d0 = 19 previously held.
Globally, it is always the case that if h1 <= 29 holds, then n0 < 15 previously held.
Between i0 < 4 and i0 < 14, it is always the case that if r0 <= 25 holds, then q0 < 18 eventually holds and is succeeded by n0 > 22, where z0 = 21 does not hold between q0 < 18 and n0 > 22 .
After g0 <= 4, it is always the case that if h0 <= 15 holds, then o0 = 3 eventually holds.
Globally, it is never the case that m0 > 27 holds.
After l0 <= 29, it is never the case that g1 >= 2 holds.
Between a1 > 21 and a0 > 18, it is always the case that x0 > 10 holds.
Before f1 = 25, it is always the case that if k1 >= 21 holds, then e1 > 17 eventually holds and is succeeded by e1 < 4 .
Globally, it is always the case that if r0 > 6 holds, then y0 >= 28 previously held.
Between i1 <= 7 and x0 = 13, g0 > 10 eventually holds.
After j1 > 8 until g1 > 12, it is always the case that if f1 > 17 holds, then h1 = 14 eventually holds.
After w0 >= 18, it is never the case that m0 <= 3 holds.
Before o0 = 6, it is always the case that if e0 > 31 holds and is succeeded by a1 = 22, then x0 = 8 previously held.
Globally, it is always the case that if v0 <= 21 holds, then h1 <= 4 eventually holds.
Globally, it is always the case that if j1 < 15 holds and is succeeded by u0 >= 25, then z0 >= 28 eventually holds after u0 >= 25 .
After p0 = 15, it is always the case that if i1 > 7 holds and is succeeded by b1 = 27, then c1 <= 11 previously held.
Between h0 = 7 and h1 = 15, it is always the case that if l0 = 8 holds, then g1 <= 24 previously held and was preceded by c0 > 29 .
Globally, it is always the case that if l0 > 5 holds, then a1 < 1 eventually holds.
After g1 = 18, it is always the case that if m1 = 20 holds and is succeeded by x0 > 20, then e0 < 27 previously held.
Globally, it is always the case that if b1 <= 5 holds, then a1 = 23 eventually holds and is succeeded by s0 <= 9 .
Globally, it is always the case that if b0 < 25 holds and is succeeded by e0 < 4, then t0 > 29 previously held.
Globally, it is always the case that if f0 >= 10 holds, then d0 >= 22 previously held and was preceded by o0 > 3 .
After u0 > 31, it is always the case that if h0 > 5 holds, then t0 >= 4 eventually holds and is succeeded by m0 > 1 .
Before h0 > 7, it is always the case that n0 <= 11 holds.
Before g0 >= 9, it is always the case that if l1 <= 7 holds and is succeeded by l0 > 28, then f1 > 0 eventually holds after l0 > 28 .
After a1 <= 14, it is always the case that if h1 > 11 holds, then b1 <= 1 eventually holds and is succeeded by v0 > 17, where c0 >= 7 does not hold between b1 <= 1 and v0 > 17 .
After e1 >= 8 until x0 < 8, it is always the case that if r0 < 7 holds, then n0 > 11 previously held and was preceded by d1 <= 28 .
Before f1 < 4, it is always the case that g0 >= 9 holds.
After b1 <= 19 until h0 >= 6, it is always the case that if u0 >= 25 holds, then c1 >= 28 previously held and was preceded by t0 <= 17 .
Between t0 = 3 and e0 > 11, it is always the case that if b0 < 20 holds, then z0 = 28 previously held and was preceded by l0 < 16 .
Before c0 < 7, f0 = 19 eventually holds.
Before f1 = 25, it is always the case that if i1 <= 18 holds and is succeeded by a0 < 30, then b0 = 20 previously held.
After b0 > 28, it is always the case that if l1 < 12 holds, then s0 > 14 previously held and was preceded by w0 < 22 .
Between e0 > 6 and p0 >= 25, it is always the case that if d1 >= 15 holds, then e0 >= 13 eventually holds and is succeeded by d0 <= 6, where i0 >= 17 does not hold between e0 >= 13 and d0 <= 6 .
After c1 <= 13 until e1 = 25, it is never the case that e1 > 15 holds.
Before e1 > 30, it is always the case that if r0 <= 26 holds, then h1 <= 11 eventually holds and is succeeded by a0 = 23, where e0 >= 12 does not hold between h1 <= 11 and a0 = 23 .
After q0 < 27, it is always the case that if l1 <= 16 holds, then a1 < 21 previously held.
After h1 = 19, it is always the case that if n0 >= 16 holds, then l1 = 7 eventually holds.
After v0 <= 4, it is always the case that if e0 <= 6 holds, then h0 > 13 eventually holds and is succeeded by e1 <= 3, where i1 <= 16 does not hold between h0 > 13 and e1 <= 3 .
Before j0 <= 4, it is always the case that a1 >= 15 holds.
Between p0 < 23 and h0 < 4, it is always the case that if z0 < 18 holds, then m1 >= 27 previously held.
Globally, it is always the case that if z0 >= 27 holds, then n0 >= 10 previously held and was preceded by l1 > 11 .
Before q0 > 6, it is always the case that if b1 >= 5 holds, then t0 > 18 eventually holds and is succeeded by l0 <= 24 .
After d1 > 17 until a1 >= 24, it is always the case that o0 < 8 holds.
After h0 > 5, i0 > 9 eventually holds.
Before h1 = 2, it is always the case that if z0 <= 2 holds, then b1 < 27 eventually holds.
Between b1 < 19 and l0 < 13, it is always the case that if t0 < 31 holds, then q0 < 15 eventually holds and is succeeded by b0 <= 8 .
After a0 = 16 until a0 <= 9, it is always the case that if j1 < 19 holds and is succeeded by g0 >= 11, then e1 <= 13 eventually holds after g0 >= 11 .
Before i1 < 15, it is always the case that if k0 < 12 holds, then l1 > 16 eventually holds and is succeeded by z0 < 12, where j1 < 23 does not hold between l1 > 16 and z0 < 12 .
After m1 > 13, it is never the case that n0 = 14 holds.
Between k0 > 27 and r0 >= 4, u0 > 19 eventually holds.
Before j0 >= 7, it is always the case that if b0 <= 18 holds, then n0 > 13 eventually holds.
After o0 >= 4 until l0 = 11, it is always the case that if h1 = 3 holds, then f0 <= 15 eventually holds.
Between g0 > 25 and f0 <= 22, it is always the case that if j0 >= 24 holds and is succeeded by b0 > 5, then s0 < 16 eventually holds after b0 > 5 .
Globally, it is always the case that if i1 < 23 holds and is succeeded by l0 = 8, then f1 > 16 previously held.
Between l1 > 17 and x0 > 31, it is always the case that if l0 = 4 holds and is succeeded by g0 <= 11, then f1 <= 9 eventually holds after g0 <= 11 .
Globally, it is always the case that if i0 = 12 holds, then z0 = 15 previously held and was preceded by o0 < 21 .
Globally, it is always the case that h1 <= 7 holds.
After f1 <= 31, it is always the case that if d0 > 9 holds and is succeeded by k0 < 2, then m1 <= 18 previously held.
Before h0 <= 26, it is always the case that if m1 < 2 holds, then m0 = 1 eventually holds.
Before g0 >= 13, q0 < 19 eventually holds.
Globally, it is always the case that if y0 <= 22 holds and is succeeded by f1 >= 2, then m1 < 19 eventually holds after f1 >= 2 .
Globally, it is always the case that if t0 >= 24 holds, then m0 = 8 previously held and was preceded by m1 = 15 .
Globally, it is always the case that if l1 <= 11 holds and is succeeded by d0 > 8, then j0 > 19 eventually holds after d0 > 8 .
Between f0 < 12 and q0 < 8, it is never the case that m1 = 19 holds.
Before z0 < 28, k0 <= 12 eventually holds.
After o0 = 30 until j1 > 13, l1 <= 31 eventually holds.
Between b0 <= 31 and l0 > 2, it is always the case that if h0 = 7 holds, then v0 > 16 previously held.
Before v0 < 7, it is always the case that if u0 >= 17 holds and is succeeded by f1 < 17, then z0 < 28 previously held.
Before y0 >= 2, it is always the case that if b1 > 21 holds, then s0 <= 23 eventually holds.
Globally, it is never the case that x0 <= 30 holds.
After u0 >= 26 until u0 = 28, it is always the case that if z0 <= 23 holds and is succeeded by c0 >= 23, then k0 >= 28 eventually holds after c0 >= 23 .
Before l0 <= 6, it is always the case that if l0 <= 29 holds, then m0 >= 6 previously held and was preceded by x0 <= 9 .
Globally, it is always the case that if j1 = 28 holds, then m1 > 20 eventually holds and is succeeded by d1 >= 26 .
Before d0 <= 10, it is always the case that if x0 = 16 holds and is succeeded by c1 > 26, then k0 > 18 previously held.
After a0 < 24, it is always the case that if k1 = 10 holds, then d0 > 24 eventually holds and is succeeded by q0 <= 0 .
Globally, it is always the case that if m0 > 14 holds and is succeeded by o0 > 14, then b0 > 31 eventually holds after o0 > 14 .
Globally, it is always the case that if l1 < 17 holds and is succeeded by g1 > 27, then v0 > 1 previously held.
Before q0 < 9, it is always the case that a0 < 13 holds.
Between g1 < 29 and h0 < 4, it is always the case that if w0 >= 26 holds, then c0 <= 1 eventually holds.
After l0 >= 31, it is always the case that if w0 > 15 holds, then m0 = 14 eventually holds.
Between d0 >= 18 and j1 <= 2, it is always the case that if r0 <= 20 holds, then n0 = 15 eventually holds and is succeeded by e1 <= 27 .
After b1 > 10, g1 < 6 eventually holds.
After u0 < 27 until v0 > 5, it is always the case that if b0 = 18 holds, then p0 > 20 previously held.
Between a1 < 2 and x0 = 23, it is always the case that if t0 >= 11 holds, then v0 = 13 eventually holds and is succeeded by y0 <= 22, where w0 = 10 does not hold between v0 = 13 and y0 <= 22 .
After i1 <= 2, g0 < 6 eventually holds.
Before c1 >= 0, it is always the case that if d1 >= 12 holds, then w0 > 13 eventually holds and is succeeded by t0 >= 9, where d1 < 11 does not hold between w0 > 13 and t0 >= 9 .
After m0 >= 29 until a1 > 16, it is never the case that j0 >= 26 holds.
After b1 <= 26 until p0 < 23, j0 < 5 eventually holds.
Globally, it is never the case that m1 > 17 holds.
Between r0 <= 26 and a0 > 25, it is always the case that if k1 > 0 holds and is succeeded by c1 < 1, then c1 < 21 previously held.
Globally, it is always the case that if d1 > 20 holds and is succeeded by g0 > 11, then i0 = 12 eventually holds after g0 > 11 .
Between n0 <= 11 and s0 = 28, it is always the case that if e0 < 15 holds, then o0 < 0 eventually holds.
After g1 <= 12, it is always the case that if e0 < 4 holds, then l1 < 1 eventually holds and is succeeded by i1 > 13, where h0 > 17 does not hold between l1 < 1 and i1 > 13 .
Between i1 <= 4 and h1 > 0, it is always the case that if a1 < 12 holds, then e0 >= 27 eventually holds.
After b0 >= 25, it is always the case that if k0 > 19 holds and is succeeded by l1 > 10, then p0 < 5 previously held.
After p0 < 31 until g1 > 3, it is never the case that g1 >= 15 holds.
Between w0 = 10 and g1 > 9, it is always the case that if p0 >= 18 holds, then e0 < 25 previously held.
Before c1 <= 27, it is always the case that if t0 > 18 holds, then f1 <= 22 eventually holds and is succeeded by f1 <= 3, where l0 >= 23 does not hold between f1 <= 22 and f1 <= 3 .
Before c1 <= 29, it is always the case that if v0 > 21 holds, then i0 = 23 eventually holds and is succeeded by u0 < 16 .
Globally, it is always the case that if w0 = 6 holds and is succeeded by b1 > 18, then w0 <= 17 previously held.
After i0 >= 10 until u0 >= 1, it is always the case that if a0 < 23 holds and is succeeded by j0 = 24, then n0 = 7 eventually holds after j0 = 24 .
Before g0 < 23, it is always the case that if a0 < 25 holds, then u0 = 4 eventually holds and is succeeded by v0 > 5 .
Before p0 <= 23, it is always the case that if x0 >= 3 holds, then e1 = 23 previously held and was preceded by j0 > 16 .
After o0 < 23 until e1 < 30, it is always the case that if y0 <= 10 holds and is succeeded by c0 = 24, then l1 <= 19 eventually holds after c0 = 24 .
Globally, it is never the case that g0 = 25 holds.
After l0 = 21, it is always the case that l1 = 30 holds.
After g1 < 22, it is always the case that if e1 = 16 holds, then q0 >= 18 eventually holds and is succeeded by q0 < 8 .
After k1 > 8, it is always the case that h0 = 8 holds.
Before e0 > 15, it is never the case that e0 <= 14 holds.
Globally, it is always the case that if b0 = 31 holds and is succeeded by k0 = 21, then s0 >= 17 eventually holds after k0 = 21 .
After u0 = 16, d0 <= 4 eventually holds.
Before n0 >= 3, it is always the case that if l1 >= 10 holds, then a1 <= 11 previously held.
Globally, it is never the case that i1 >= 21 holds.
After a1 < 23, it is always the case that if q0 < 26 holds, then f1 >= 19 previously held.
After b1 = 15 until m1 = 11, it is always the case that if m1 >= 4 holds, then h0 = 25 eventually holds.
After d0 <= 7 until v0 > 3, it is always the case that if i1 < 15 holds, then g0 > 5 previously held.
After i1 > 3 until n0 < 23, it is always the case that if h1 < 6 holds and is succeeded by x0 > 29, then n0 > 15 eventually holds after x0 > 29 .
Globally, it is always the case that if l1 > 13 holds, then y0 = 15 previously held and was preceded by f0 > 1 .
Globally, it is always the case that if c0 >= 0 holds and is succeeded by b0 < 18, then b0 <= 2 eventually holds after b0 < 18 .
Globally, it is always the case that if a0 <= 12 holds, then o0 >= 27 previously held and was preceded by k1 > 8 .
Before z0 > 24, it is always the case that if c1 > 11 holds, then z0 = 5 eventually holds and is succeeded by l0 > 6, where g1 <= 24 does not hold between z0 = 5 and l0 > 6 .
Between u0 > 31 and z0 <= 19, it is always the case that if t0 < 27 holds, then f1 <= 11 previously held.
After q0 <= 18 until a1 = 11, it is always the case that if k0 >= 4 holds, then g0 > 18 previously held and was preceded by a0 < 24 .
Globally, it is never the case that a0 = 5 holds.
Before g0 > 31, it is always the case that if m1 <= 0 holds and is succeeded by s0 <= 31, then z0 > 22 eventually holds after s0 <= 31 .
After i1 >= 20, it is always the case that if n0 >= 19 holds and is succeeded by q0 <= 19, then m0 <= 10 eventually holds after q0 <= 19 .
After w0 >= 27 until n0 >= 26, it is always the case that j1 <= 15 holds.
After b0 >= 2, it is always the case that if m1 < 22 holds, then f0 >= 13 previously held and was preceded by e0 = 30 .
Before r0 <= 7, a1 >= 13 eventually holds.
Before y0 = 29, it is always the case that if e0 > 22 holds, then i0 = 4 eventually holds and is succeeded by t0 > 14 .
Between u0 < 4 and e1 > 21, it is always the case that if o0 >= 15 holds and is succeeded by p0 >= 8, then g0 >= 6 eventually holds after p0 >= 8 .
Before f0 <= 17, it is always the case that z0 < 10 holds.
Globally, it is always the case that if z0 >= 19 holds, then b1 < 15 eventually holds and is succeeded by o0 >= 1 .
After g0 >= 3, it is always the case that if a1 <= 29 holds, then w0 = 3 eventually holds.
After z0 >= 1, it is always the case that if d0 >= 16 holds, then c0 = 4 previously held.
Globally, it is always the case that if q0 <= 29 holds, then l1 <= 20 eventually holds and is succeeded by t0 >= 20, where e1 < 30 does not hold between l1 <= 20 and t0 >= 20 .
After o0 <= 25, it is never the case that c0 = 4 holds.
Before a1 >= 2, it is always the case that if i0 <= 14 holds, then b1 <= 4 previously held.
After a0 <= 1, g0 = 29 eventually holds.
Before z0 < 17, it is always the case that if m0 >= 24 holds and is succeeded by i1 = 13, then y0 > 24 eventually holds after i1 = 13 .
Between i0 >= 19 and d1 > 28, it is always the case that if a0 < 30 holds, then b1 >= 15 eventually holds and is succeeded by e0 < 28 .
Globally, u0 < 26 eventually holds.
Globally, it is always the case that if d0 = 16 holds and is succeeded by h1 >= 20, then h1 = 18 previously held.
After i1 > 18, it is always the case that if s0 >= 9 holds, then n0 < 21 eventually holds and is succeeded by h1 = 14, where f0 < 23 does not hold between n0 < 21 and h1 = 14 .
After u0 <= 31, it is always the case that if b1 > 22 holds, then t0 < 2 eventually holds.
Before c1 < 16, it is always the case that if s0 = 20 holds and is succeeded by d0 < 30, then l1 >= 4 previously held.
Before g0 <= 11, it is always the case that if k1 <= 8 holds, then d1 >= 28 eventually holds and is succeeded by d0 < 3, where h1 = 21 does not hold between d1 >= 28 and d0 < 3 .
Between t0 >= 8 and p0 > 2, it is always the case that if h0 = 3 holds, then g0 < 10 eventually holds.
After q0 = 2 until f0 >= 16, it is always the case that if f1 = 29 holds, then c1 < 23 eventually holds and is succeeded by m0 > 11, where l0 < 14 does not hold between c1 < 23 and m0 > 11 .
After k1 <= 24, it is always the case that if a0 < 7 holds and is succeeded by k0 < 23, then i0 > 10 previously held.
After w0 > 1, it is always the case that if i0 = 19 holds and is succeeded by h0 >= 13, then d0 >= 19 previously held.
After t0 > 26 until h1 <= 13, it is always the case that if d0 > 20 holds, then x0 = 19 previously held and was preceded by i0 <= 7 .
Between h0 <= 26 and u0 = 23, it is always the case that if a1 > 26 holds, then b1 = 5 eventually holds and is succeeded by u0 < 11, where f1 >= 12 does not hold between b1 = 5 and u0 < 11 .
Between v0 > 13 and e0 = 18, it is never the case that j1 < 2 holds.
Globally, it is always the case that if k1 >= 2 holds and is succeeded by k0 >= 30, then i0 > 13 eventually holds after k0 >= 30 .
After f0 >= 26 until k0 = 28, it is always the case that if f1 = 23 holds, then l1 = 4 eventually holds.
Globally, it is always the case that s0 > 16 holds.
Between f1 > 6 and c1 > 5, it is always the case that if a1 < 6 holds, then j1 > 11 eventually holds and is succeeded by p0 < 26, where u0 = 20 does not hold between j1 > 11 and p0 < 26 .
Before m0 < 28, it is always the case that if h0 < 25 holds and is succeeded by j1 > 31, then m1 <= 28 eventually holds after j1 > 31 .
After e1 = 27, it is always the case that y0 <= 16 holds.
Globally, it is always the case that if d1 > 7 holds, then n0 <= 1 eventually holds and is succeeded by j1 <= 17, where c1 = 27 does not hold between n0 <= 1 and j1 <= 17 .
Globally, z0 > 24 eventually holds.
Globally, it is always the case that if g1 = 0 holds, then d1 > 6 eventually holds and is succeeded by c1 > 14, where g1 < 20 does not hold between d1 > 6 and c1 > 14 .
After m0 < 17, it is always the case that if g1 <= 6 holds, then n0 < 22 eventually holds.
Between f0 < 13 and w0 = 18, it is always the case that b0 = 13 holds.
Globally, z0 > 0 eventually holds.
After m0 = 20, it is always the case that if y0 > 2 holds and is succeeded by y0 >= 12, then u0 >= 17 previously held.
Globally, it is always the case that if f1 >= 1 holds, then e1 >= 9 eventually holds and is succeeded by g0 > 23 .
Globally, it is always the case that if j1 <= 16 holds, then s0 <= 3 previously held.
Between n0 >= 6 and h1 >= 13, it is always the case that i1 >= 11 holds.
Globally, it is always the case that if w0 > 3 holds, then n0 >= 18 eventually holds.
Between f0 <= 5 and o0 > 4, it is always the case that if g0 <= 9 holds, then v0 <= 1 eventually holds and is succeeded by t0 >= 19 .
After m1 > 18, it is always the case that if a0 < 16 holds, then g1 < 27 previously held and was preceded by r0 <= 19 .
After j0 <= 20 until l1 <= 31, r0 = 16 eventually holds.
After m1 = 4, it is always the case that if g1 = 16 holds, then x0 > 12 previously held and was preceded by j1 < 31 .
After g0 >= 12, q0 >= 17 eventually holds.
Between v0 < 15 and d0 <= 30, it is never the case that x0 > 9 holds.
After a1 >= 30 until s0 = 1, it is always the case that if d1 < 9 holds, then z0 <= 20 eventually holds.
Before g1 <= 6, it is always the case that if c0 > 26 holds, then d0 <= 29 previously held.
After r0 <= 30, it is always the case that if m1 >= 26 holds, then b1 = 29 eventually holds and is succeeded by x0 >= 19 .
Before e0 < 0, it is always the case that if y0 >= 21 holds, then r0 > 14 eventually holds and is succeeded by s0 > 23, where q0 >= 9 does not hold between r0 > 14 and s0 > 23 .
After k1 > 1 until u0 <= 0, it is always the case that if i1 > 4 holds, then l0 < 30 previously held.
After j1 >= 12 until u0 = 15, it is always the case that if h1 = 22 holds and is succeeded by c0 > 13, then i1 < 27 eventually holds after c0 > 13 .
Before l1 <= 4, it is never the case that w0 > 28 holds.
Globally, it is always the case that if l0 > 30 holds and is succeeded by t0 >= 19, then o0 > 20 previously held.
Between z0 <= 31 and x0 >= 14, it is always the case that if b1 > 1 holds, then p0 = 9 previously held.
After o0 = 19, it is always the case that if e1 = 4 holds and is succeeded by a0 = 6, then j0 > 29 eventually holds after a0 = 6 .
After g1 >= 24 until i1 = 30, it is always the case that if w0 > 28 holds, then l0 <= 4 eventually holds.
Between m0 < 22 and f0 = 10, it is always the case that if m1 >= 5 holds, then h0 <= 3 eventually holds and is succeeded by j1 <= 12, where d1 = 17 does not hold between h0 <= 3 and j1 <= 12 .
After x0 < 18 until f1 < 7, it is always the case that if p0 = 31 holds, then k0 <= 12 previously held and was preceded by o0 >= 29 .
Before u0 <= 16, it is always the case that if e1 >= 22 holds and is succeeded by m0 <= 3, then m0 < 10 previously held.
Globally, it is always the case that if f1 = 17 holds, then v0 = 26 previously held.
After b1 < 19 until l0 > 10, it is always the case that y0 < 20 holds.
Before b1 > 29, it is always the case that if i0 < 20 holds and is succeeded by c0 = 17, then w0 < 7 eventually holds after c0 = 17 .
After t0 > 19 until h1 > 26, b1 < 26 eventually holds.
Globally, it is always the case that o0 > 8 holds.
After i0 > 24, it is always the case that if d0 <= 5 holds, then p0 < 2 previously held.
Globally, it is always the case that if n0 >= 19 holds, then j0 > 27 eventually holds.
Between l0 >= 28 and y0 = 25, it is never the case that s0 < 8 holds.
Before q0 = 31, it is always the case that if d0 >= 29 holds, then k0 <= 11 eventually holds and is succeeded by u0 > 1, where a0 = 20 does not hold between k0 <= 11 and u0 > 1 .
Before d1 <= 16, it is always the case that if f1 <= 0 holds and is succeeded by f1 <= 17, then g0 <= 19 eventually holds after f1 <= 17 .
After v0 = 20, c1 = 21 eventually holds.
Globally, it is always the case that if b0 >= 22 holds, then k0 > 12 previously held.
Before d0 < 30, it is always the case that if m1 < 20 holds, then f1 < 11 eventually holds.
Between e0 <= 18 and c0 = 18, it is never the case that v0 = 9 holds.
Between f1 = 1 and r0 < 11, it is always the case that if a1 >= 27 holds, then k0 < 14 previously held and was preceded by m1 >= 25 .
Between a0 < 1 and l0 = 16, it is always the case that if h0 > 30 holds, then f1 = 2 eventually holds and is succeeded by d1 > 12, where o0 = 10 does not hold between f1 = 2 and d1 > 12 .
After c0 > 2 until h0 <= 30, it is always the case that if c0 = 19 holds and is succeeded by g0 < 0, then d1 = 26 previously held.
