After n0 <= 3, it is always the case that if n0 = 5 holds, then i0 > 4 previously held and was preceded by h0 > 0 .
After e0 <= 3 until r0 >= 5, it is always the case that if b0 > 5 holds, then s0 < 1 eventually holds and is succeeded by h0 = 3, where d0 < 4 does not hold between s0 < 1 and h0 = 3 .
After c0 < 1 until m0 = 2, g0 >= 6 eventually holds.
After h0 < 4 until p0 > 6, j0 < 1 eventually holds.
After e0 <= 1 until b0 <= 1, it is always the case that a0 < 6 holds.
After j0 < 0, it is always the case that if a0 = 4 holds, then d0 = 2 eventually holds and is succeeded by s0 = 4, where d0 > 1 does not hold between d0 = 2 and s0 = 4 .
After r0 > 0, it is always the case that if r0 = 2 holds and is succeeded by h0 = 3, then o0 >= 1 previously held.
After d0 <= 7, it is always the case that if p0 = 7 holds and is succeeded by s0 < 6, then h0 <= 0 previously held.
After h0 > 0 until g0 < 7, it is never the case that h0 < 2 holds.
Globally, it is always the case that if g0 > 7 holds, then m0 <= 5 eventually holds and is succeeded by q0 >= 2, where p0 > 1 does not hold between m0 <= 5 and q0 >= 2 .
Globally, it is always the case that if b0 < 7 holds, then f0 = 4 previously held and was preceded by b0 < 7 .
Before r0 >= 7, it is always the case that k0 < 4 holds.
Globally, it is always the case that if r0 <= 5 holds, then s0 = 0 previously held.
Globally, it is always the case that if l0 = 4 holds, then h0 <= 3 eventually holds and is succeeded by i0 < 1 .
Between f0 = 4 and p0 > 3, it is always the case that if h0 > 6 holds, then c0 <= 6 previously held.
After s0 < 0 until q0 >= 2, it is always the case that if o0 >= 7 holds, then b0 = 2 eventually holds and is succeeded by h0 >= 2, where n0 = 4 does not hold between b0 = 2 and h0 >= 2 .
Before c0 > 5, it is always the case that j0 = 1 holds.
Globally, it is always the case that if e0 = 6 holds, then f0 = 4 eventually holds and is succeeded by k0 > 0 .
Before c0 > 2, it is always the case that if n0 > 4 holds and is succeeded by q0 >= 3, then n0 >= 3 eventually holds after q0 >= 3 .
Before a0 > 0, it is always the case that if r0 = 2 holds, then o0 < 4 eventually holds.
Between m0 >= 3 and f0 > 1, it is always the case that if b0 >= 1 holds, then f0 >= 0 eventually holds.
After a0 >= 7 until c0 < 3, it is always the case that if e0 <= 4 holds and is succeeded by d0 = 0, then d0 = 6 previously held.
Between m0 >= 5 and g0 = 1, it is always the case that if e0 = 1 holds and is succeeded by o0 = 6, then c0 < 5 previously held.
After o0 = 6 until m0 > 1, it is always the case that if e0 >= 2 holds, then m0 > 7 eventually holds and is succeeded by j0 > 2, where d0 <= 2 does not hold between m0 > 7 and j0 > 2 .
Between s0 < 2 and p0 >= 4, it is always the case that if q0 < 5 holds and is succeeded by a0 >= 1, then s0 >= 7 eventually holds after a0 >= 1 .
Between a0 < 2 and c0 >= 2, it is always the case that if p0 <= 6 holds, then s0 > 1 eventually holds.
Between j0 > 7 and g0 <= 5, it is always the case that if b0 > 0 holds, then c0 >= 7 previously held and was preceded by e0 > 4 .
After b0 < 2 until d0 = 1, it is always the case that if m0 < 1 holds, then f0 >= 4 eventually holds and is succeeded by f0 > 1 .
Globally, it is always the case that m0 > 5 holds.
After q0 < 7 until h0 < 5, g0 > 4 eventually holds.
Globally, it is always the case that h0 < 4 holds.
Globally, it is always the case that if k0 > 6 holds, then k0 = 5 eventually holds and is succeeded by j0 <= 0, where a0 <= 1 does not hold between k0 = 5 and j0 <= 0 .
Globally, it is always the case that b0 = 2 holds.
After l0 >= 3, it is always the case that f0 < 2 holds.
After n0 = 3 until h0 = 7, it is always the case that if c0 < 2 holds, then h0 <= 4 previously held and was preceded by n0 < 7 .
After g0 < 6 until n0 > 3, r0 > 4 eventually holds.
Between f0 <= 7 and e0 <= 3, it is never the case that p0 >= 5 holds.
After s0 > 0, it is always the case that if s0 <= 1 holds and is succeeded by a0 <= 0, then f0 < 1 previously held.
Globally, it is always the case that if o0 >= 0 holds, then h0 >= 3 eventually holds.
After d0 = 4, it is always the case that if m0 < 3 holds and is succeeded by a0 = 6, then k0 < 1 eventually holds after a0 = 6 .
After a0 = 6, j0 < 1 eventually holds.
Between m0 <= 4 and a0 < 3, it is never the case that n0 >= 0 holds.
After n0 > 0 until n0 >= 6, it is never the case that s0 <= 2 holds.
After d0 = 5, it is never the case that g0 >= 2 holds.
Globally, it is always the case that if o0 <= 5 holds, then h0 > 7 eventually holds and is succeeded by r0 <= 1, where o0 < 0 does not hold between h0 > 7 and r0 <= 1 .
Before l0 <= 3, i0 > 3 eventually holds.
After e0 < 4, it is always the case that if o0 <= 5 holds, then o0 >= 7 eventually holds.
After q0 < 0 until j0 >= 0, r0 < 6 eventually holds.
Between g0 = 2 and b0 >= 4, it is always the case that if p0 = 7 holds and is succeeded by r0 <= 2, then c0 < 3 previously held.
Globally, it is always the case that if r0 > 0 holds, then n0 < 1 eventually holds and is succeeded by e0 >= 0 .
Globally, it is always the case that d0 > 5 holds.
Before m0 > 7, a0 = 5 eventually holds.
After q0 <= 7, d0 >= 2 eventually holds.
Before o0 > 2, it is always the case that if d0 < 4 holds, then a0 < 3 eventually holds and is succeeded by d0 < 1 .
Globally, it is always the case that if d0 <= 6 holds, then r0 <= 3 previously held and was preceded by r0 < 1 .
Globally, it is always the case that if p0 < 5 holds, then r0 <= 6 previously held.
After e0 <= 5, it is always the case that if s0 < 6 holds, then e0 = 5 eventually holds and is succeeded by d0 > 2, where k0 < 6 does not hold between e0 = 5 and d0 > 2 .
After b0 <= 6, it is always the case that if p0 = 4 holds, then i0 > 6 previously held.
Between m0 < 7 and p0 >= 2, it is always the case that if e0 >= 1 holds, then h0 = 5 eventually holds.
Globally, it is always the case that if h0 > 2 holds, then e0 >= 4 previously held and was preceded by g0 <= 3 .
