Between e0 >= 19 and y0 <= 15, it is always the case that if l1 < 7 holds, then f2 > 7 eventually holds and is succeeded by x0 > 8 .
After v0 >= 26, it is always the case that if r2 <= 2 holds, then o0 < 27 eventually holds and is succeeded by s2 <= 22 .
Globally, it is always the case that if p0 <= 12 holds and is succeeded by w2 > 21, then i1 > 13 previously held.
After a0 > 31 until y2 = 19, it is always the case that if d2 < 23 holds, then l2 >= 7 eventually holds and is succeeded by p0 >= 4 .
Between d2 > 8 and y0 = 25, it is never the case that n0 >= 13 holds.
Globally, it is always the case that if v2 < 3 holds and is succeeded by o0 <= 5, then z2 = 11 previously held.
After c0 > 5 until q1 > 29, it is never the case that p1 < 26 holds.
Globally, it is always the case that if e1 = 12 holds, then x1 > 18 eventually holds and is succeeded by x2 = 10 .
Globally, it is always the case that z2 >= 30 holds.
After z0 <= 28 until h0 < 15, it is never the case that y2 = 21 holds.
Between c0 <= 30 and y0 = 13, it is always the case that if u2 <= 5 holds, then p2 > 12 eventually holds.
Before h2 >= 28, it is always the case that r1 = 16 holds.
Globally, it is always the case that j0 < 16 holds.
After t1 = 7 until e2 >= 18, it is always the case that v2 >= 13 holds.
Between h1 < 1 and g0 > 4, it is always the case that if y1 = 0 holds, then j2 >= 9 eventually holds and is succeeded by i1 > 5, where z1 < 5 does not hold between j2 >= 9 and i1 > 5 .
Globally, it is always the case that if f0 <= 16 holds and is succeeded by p0 >= 22, then k1 <= 7 eventually holds after p0 >= 22 .
Between g2 = 24 and n2 >= 15, it is always the case that if v2 <= 15 holds and is succeeded by y2 < 3, then t1 >= 4 eventually holds after y2 < 3 .
After e0 <= 23 until c2 = 0, it is always the case that if h1 <= 6 holds, then t1 = 24 eventually holds and is succeeded by c0 <= 6 .
After c1 <= 16 until u0 = 2, it is always the case that k1 >= 9 holds.
Between l2 >= 16 and n2 > 4, it is always the case that if n0 < 22 holds and is succeeded by w0 > 21, then q2 = 14 previously held.
After b0 < 1, it is always the case that if a1 <= 21 holds, then w1 > 1 eventually holds and is succeeded by u2 > 24, where a2 <= 26 does not hold between w1 > 1 and u2 > 24 .
Between m0 >= 14 and i2 < 31, q0 < 1 eventually holds.
Between v2 < 23 and a1 = 23, it is always the case that if z1 < 7 holds, then y1 <= 26 eventually holds and is succeeded by m2 = 3, where p1 <= 22 does not hold between y1 <= 26 and m2 = 3 .
Between h0 >= 19 and k0 >= 2, it is always the case that if h0 < 20 holds, then x2 < 31 eventually holds.
Between w0 <= 1 and v2 >= 4, it is always the case that if r1 = 12 holds, then c1 <= 0 eventually holds.
After o2 >= 5, it is always the case that if i0 = 23 holds, then k1 <= 2 eventually holds and is succeeded by c2 >= 2, where p1 >= 4 does not hold between k1 <= 2 and c2 >= 2 .
After d0 > 21, it is never the case that m2 > 18 holds.
Globally, it is always the case that if b2 <= 0 holds, then x0 < 27 eventually holds and is succeeded by n2 > 10 .
Globally, it is always the case that r2 < 2 holds.
After v2 >= 12, it is always the case that if k0 > 0 holds and is succeeded by v0 > 3, then b2 = 6 eventually holds after v0 > 3 .
After k0 = 26, it is always the case that if y1 < 29 holds, then x0 <= 6 previously held.
Before t2 > 25, it is never the case that v0 >= 3 holds.
After c1 = 7, it is always the case that if y1 <= 9 holds and is succeeded by z0 > 27, then k1 = 20 eventually holds after z0 > 27 .
Globally, it is always the case that if n1 >= 18 holds, then t0 = 6 eventually holds and is succeeded by i2 <= 9, where d0 = 17 does not hold between t0 = 6 and i2 <= 9 .
After g0 <= 23 until w1 <= 31, it is always the case that if m1 > 27 holds and is succeeded by a0 > 17, then k1 > 9 previously held.
After d2 > 22 until j1 >= 21, it is always the case that if n2 <= 22 holds and is succeeded by j2 <= 4, then v1 >= 1 previously held.
After j1 = 7, it is always the case that if z1 = 8 holds, then h1 = 5 previously held.
Before q1 <= 6, it is always the case that if p2 >= 15 holds and is succeeded by j0 < 26, then q1 < 10 eventually holds after j0 < 26 .
After i2 <= 1, it is always the case that if d1 = 5 holds, then n0 <= 5 eventually holds.
Before v2 < 3, it is always the case that if o1 < 3 holds and is succeeded by i1 > 7, then l0 <= 1 eventually holds after i1 > 7 .
Globally, it is always the case that if m1 = 20 holds and is succeeded by k0 < 2, then d2 <= 26 previously held.
After k0 = 29 until c1 > 22, it is always the case that if d2 = 24 holds, then i1 <= 28 eventually holds and is succeeded by k0 >= 10, where v1 <= 14 does not hold between i1 <= 28 and k0 >= 10 .
After t1 >= 15, k0 >= 31 eventually holds.
Globally, it is always the case that y0 >= 30 holds.
After n2 <= 19, j2 < 17 eventually holds.
Before h2 > 11, it is always the case that if i0 = 28 holds and is succeeded by d0 < 8, then q1 < 31 eventually holds after d0 < 8 .
After x1 <= 15, it is always the case that if f1 >= 24 holds, then q2 = 8 eventually holds.
Globally, it is always the case that if t1 < 26 holds, then i2 = 0 eventually holds and is succeeded by u0 <= 23, where n2 = 17 does not hold between i2 = 0 and u0 <= 23 .
Before l0 = 28, e2 = 26 eventually holds.
Globally, it is always the case that p1 = 14 holds.
Before w0 > 16, it is always the case that if i2 = 18 holds, then c0 >= 24 previously held.
Between e2 >= 9 and w0 = 0, it is always the case that if h0 = 21 holds, then v2 >= 1 eventually holds and is succeeded by d2 >= 6, where o1 >= 11 does not hold between v2 >= 1 and d2 >= 6 .
Before p0 < 18, it is always the case that if x2 >= 8 holds and is succeeded by b2 >= 19, then m1 >= 15 eventually holds after b2 >= 19 .
Between c0 <= 25 and k1 <= 22, it is never the case that q0 > 15 holds.
Before w2 = 19, it is always the case that if o0 < 15 holds, then q0 > 25 previously held.
Globally, it is always the case that v2 = 21 holds.
Before f0 > 6, it is always the case that if a1 > 8 holds and is succeeded by e2 >= 4, then k2 >= 6 previously held.
Globally, it is never the case that b1 <= 27 holds.
After h1 > 5 until b2 <= 15, it is always the case that j1 >= 2 holds.
After d1 < 2, it is never the case that x0 <= 8 holds.
After s1 <= 30, it is always the case that if r0 < 28 holds, then u0 = 1 previously held and was preceded by z0 >= 17 .
Globally, it is never the case that c0 > 2 holds.
After f1 < 16, it is always the case that if t1 >= 18 holds, then v0 < 1 previously held.
Between l0 = 9 and q0 > 0, it is always the case that if c0 < 1 holds and is succeeded by c1 >= 6, then z1 = 23 eventually holds after c1 >= 6 .
After q2 > 2, it is always the case that l2 < 17 holds.
Between u1 = 28 and g2 <= 6, it is always the case that e0 >= 8 holds.
Between k2 <= 14 and m1 = 24, it is always the case that if k0 > 22 holds, then b2 <= 18 previously held.
Globally, it is always the case that if y0 < 7 holds, then i0 < 25 previously held.
After x1 > 0, it is always the case that if y1 > 31 holds, then u1 > 1 previously held and was preceded by m0 >= 9 .
Globally, it is always the case that j0 > 6 holds.
Globally, it is always the case that if e0 > 29 holds, then u0 >= 31 eventually holds and is succeeded by a2 < 6, where m2 <= 12 does not hold between u0 >= 31 and a2 < 6 .
Globally, it is never the case that c1 = 29 holds.
Globally, it is always the case that if w2 >= 16 holds and is succeeded by t1 <= 18, then f2 > 18 previously held.
Before t0 <= 14, it is always the case that if v0 > 24 holds, then i2 > 21 previously held.
Before q2 < 13, it is always the case that if l2 <= 9 holds, then b2 < 5 eventually holds and is succeeded by r1 > 14, where l1 >= 25 does not hold between b2 < 5 and r1 > 14 .
Globally, it is always the case that if h1 >= 29 holds, then h2 <= 25 eventually holds.
Before s1 <= 22, a1 = 9 eventually holds.
Between h0 = 11 and g2 >= 28, it is never the case that h0 >= 19 holds.
After r2 > 4, it is always the case that l2 < 24 holds.
Between e0 <= 2 and p1 > 17, it is always the case that if t0 <= 2 holds, then a2 > 12 eventually holds and is succeeded by i1 = 5 .
Globally, it is always the case that if q1 > 14 holds, then v1 > 3 eventually holds and is succeeded by s2 <= 9, where l0 = 20 does not hold between v1 > 3 and s2 <= 9 .
After m0 >= 18, it is always the case that if m2 > 10 holds, then z1 >= 30 eventually holds and is succeeded by h0 > 31 .
After p0 >= 13 until q0 < 3, it is never the case that o1 > 5 holds.
After x0 <= 1 until x2 = 8, it is always the case that if j2 >= 21 holds, then h0 < 1 eventually holds.
After l1 > 0, it is always the case that if y0 >= 15 holds, then m0 < 23 previously held.
After l2 >= 3, it is always the case that l1 < 31 holds.
Between z2 >= 5 and t0 < 19, it is always the case that d2 > 30 holds.
Before e1 >= 10, it is always the case that if g0 > 7 holds and is succeeded by s0 < 18, then d2 = 1 previously held.
Between a2 >= 12 and n0 > 18, it is always the case that if l0 <= 13 holds and is succeeded by f2 < 6, then d0 >= 28 previously held.
After b1 <= 10, it is always the case that if m1 >= 23 holds, then e0 >= 26 previously held and was preceded by j2 <= 24 .
Between d1 >= 27 and p0 < 0, z2 > 24 eventually holds.
Before a3 > 15, it is always the case that if c0 > 16 holds, then w1 >= 27 eventually holds and is succeeded by g2 > 13 .
After q0 = 5 until f1 >= 30, it is always the case that if c1 > 28 holds, then u0 > 25 eventually holds and is succeeded by g1 = 25, where f1 >= 12 does not hold between u0 > 25 and g1 = 25 .
After h1 = 23, it is always the case that w0 > 13 holds.
Before g2 > 17, u0 >= 27 eventually holds.
Between g0 > 19 and c2 = 9, it is always the case that if c1 <= 19 holds, then z2 < 30 previously held and was preceded by v1 >= 19 .
After o0 >= 20, it is never the case that c0 = 3 holds.
After g0 > 22 until y2 < 9, u0 <= 14 eventually holds.
Before c1 < 1, it is always the case that if d1 < 26 holds and is succeeded by r0 < 21, then j0 <= 21 eventually holds after r0 < 21 .
Globally, it is always the case that if m1 < 20 holds, then h2 >= 28 previously held and was preceded by e2 <= 29 .
After a2 = 10, l1 >= 1 eventually holds.
After c0 < 4 until f2 <= 19, it is never the case that b2 <= 7 holds.
After y1 >= 4 until s0 >= 13, it is always the case that if x2 < 12 holds and is succeeded by c2 >= 15, then j1 <= 0 eventually holds after c2 >= 15 .
Before e2 >= 1, it is always the case that if w1 = 4 holds and is succeeded by k1 >= 28, then x0 = 0 previously held.
Between f0 = 20 and v2 = 20, it is always the case that if a3 > 31 holds, then q0 <= 25 previously held and was preceded by t0 >= 19 .
Between c1 < 28 and c0 = 12, it is always the case that if a0 = 24 holds, then h0 >= 24 previously held.
After h0 = 7 until f0 < 26, it is always the case that if p2 <= 17 holds and is succeeded by u0 <= 25, then d1 > 27 eventually holds after u0 <= 25 .
Between c2 = 12 and o0 < 29, it is always the case that l1 < 19 holds.
Between n0 = 26 and e1 >= 24, it is always the case that if t2 <= 21 holds, then k1 > 13 eventually holds.
Between z2 > 17 and u0 > 17, it is always the case that if e2 < 31 holds and is succeeded by u0 <= 27, then j1 >= 7 eventually holds after u0 <= 27 .
Globally, it is always the case that if q2 > 9 holds, then e2 < 6 eventually holds and is succeeded by c1 <= 17, where u1 > 3 does not hold between e2 < 6 and c1 <= 17 .
Before h1 >= 18, it is always the case that o0 <= 20 holds.
After t2 <= 23, it is always the case that if a3 >= 5 holds, then h1 >= 19 eventually holds.
Globally, it is always the case that if n1 < 1 holds and is succeeded by p0 >= 3, then s2 = 21 eventually holds after p0 >= 3 .
Between x1 < 23 and z0 = 5, it is always the case that if m0 < 11 holds, then g2 < 1 eventually holds.
After w2 <= 11 until b2 < 24, it is always the case that if q2 > 13 holds, then l1 < 24 previously held.
Between g0 >= 31 and n2 <= 20, it is always the case that if o0 <= 7 holds and is succeeded by a1 < 29, then x1 = 3 eventually holds after a1 < 29 .
Globally, it is always the case that if c1 = 25 holds, then f2 <= 15 eventually holds and is succeeded by m0 > 20 .
Between r0 >= 8 and d0 <= 18, it is always the case that p1 < 21 holds.
After a3 = 8, it is always the case that if d2 > 28 holds, then p0 = 20 eventually holds and is succeeded by q1 > 12, where s0 <= 6 does not hold between p0 = 20 and q1 > 12 .
After l1 >= 10 until a0 <= 31, it is always the case that if h0 <= 28 holds, then t0 = 25 eventually holds and is succeeded by f0 = 12, where u2 <= 15 does not hold between t0 = 25 and f0 = 12 .
After i1 < 15 until j1 = 0, it is always the case that if u1 < 9 holds, then y2 < 19 previously held.
After g0 > 22 until c2 > 0, it is always the case that if z2 <= 22 holds, then r0 = 15 eventually holds and is succeeded by e0 = 17 .
After u0 <= 21, it is always the case that if h2 > 11 holds, then q0 = 26 previously held.
Before m2 >= 22, it is always the case that if o2 > 1 holds, then n0 > 21 previously held and was preceded by w1 > 20 .
Between x2 > 31 and l1 = 9, it is always the case that if i2 >= 8 holds, then r1 = 1 previously held and was preceded by u0 <= 26 .
After q0 <= 7, it is always the case that if v0 <= 3 holds, then i2 > 13 eventually holds and is succeeded by r1 < 5 .
Globally, it is always the case that if t2 >= 29 holds, then u1 <= 17 eventually holds.
Between w2 > 6 and g2 <= 8, it is always the case that if g0 >= 31 holds, then q1 < 29 eventually holds and is succeeded by m2 <= 15 .
Before w0 >= 21, it is always the case that if f0 >= 30 holds and is succeeded by d1 = 22, then v2 = 7 previously held.
Before h1 >= 14, it is always the case that if p2 >= 1 holds, then y1 >= 15 eventually holds and is succeeded by h0 > 10 .
After o1 < 3 until d2 < 22, i1 < 30 eventually holds.
After q1 >= 11, it is always the case that if n2 <= 29 holds, then q1 <= 2 eventually holds and is succeeded by o1 = 15, where x0 <= 5 does not hold between q1 <= 2 and o1 = 15 .
Before m0 < 2, z0 > 25 eventually holds.
Globally, it is always the case that if p2 <= 29 holds, then f1 < 17 previously held.
Before l2 >= 28, it is always the case that if i2 > 28 holds and is succeeded by y1 < 22, then h1 = 16 eventually holds after y1 < 22 .
After t0 = 10 until n1 <= 8, it is always the case that if i2 < 10 holds, then l2 >= 16 previously held.
After m1 = 12 until m2 >= 24, it is always the case that if h1 = 1 holds and is succeeded by w2 <= 12, then w1 < 25 previously held.
Before j1 >= 20, it is always the case that if p1 = 18 holds, then x2 > 5 previously held.
After i0 <= 18 until y2 = 21, it is always the case that z1 > 13 holds.
Before x2 > 14, it is always the case that if w1 < 19 holds and is succeeded by l1 <= 21, then o0 = 21 eventually holds after l1 <= 21 .
After n2 > 30, it is always the case that if q1 > 21 holds and is succeeded by f2 >= 23, then w0 = 22 eventually holds after f2 >= 23 .
After q2 = 9 until q0 <= 1, it is never the case that w0 < 19 holds.
Before n0 > 29, it is always the case that if s1 <= 16 holds and is succeeded by x0 = 14, then k2 >= 18 eventually holds after x0 = 14 .
After o2 < 0, it is never the case that r1 >= 9 holds.
Between l1 < 24 and u2 <= 6, o0 <= 28 eventually holds.
Between b0 = 4 and a2 >= 27, it is always the case that if y2 < 17 holds, then k0 = 8 eventually holds and is succeeded by j0 <= 1 .
Between q2 < 30 and h1 < 3, it is always the case that if c2 = 11 holds and is succeeded by j0 < 22, then y0 < 24 previously held.
After g1 < 24, it is always the case that if e1 >= 11 holds and is succeeded by l2 <= 25, then k0 < 14 previously held.
Between i2 < 26 and y0 > 9, it is always the case that if w1 = 7 holds, then n1 > 29 previously held.
After l1 < 5, it is always the case that if r2 < 16 holds, then r0 > 4 eventually holds and is succeeded by q0 = 17, where t2 = 28 does not hold between r0 > 4 and q0 = 17 .
Before a2 = 7, it is always the case that if b2 <= 20 holds, then m2 = 6 eventually holds and is succeeded by y2 >= 27, where t0 >= 4 does not hold between m2 = 6 and y2 >= 27 .
Before k1 >= 4, it is always the case that t0 < 3 holds.
Before k1 < 14, it is always the case that if h0 < 23 holds, then b1 = 4 eventually holds.
Globally, it is always the case that if b2 <= 16 holds and is succeeded by e1 = 9, then d1 < 8 previously held.
After q2 > 19, it is always the case that if h0 > 21 holds, then i2 >= 25 previously held.
After e1 >= 7, y0 >= 29 eventually holds.
After g1 = 18, it is always the case that if o2 = 6 holds and is succeeded by d1 > 26, then a3 > 25 previously held.
After y2 < 25, u1 = 8 eventually holds.
Before s0 >= 21, it is always the case that if u0 <= 1 holds, then v1 <= 5 previously held.
After f1 = 3 until l0 > 29, it is always the case that if e0 <= 3 holds, then q2 > 27 previously held.
Globally, it is always the case that if q2 <= 23 holds, then d2 < 15 previously held.
Before o0 > 10, l1 = 19 eventually holds.
Between e1 <= 26 and p2 >= 19, n2 > 4 eventually holds.
After z2 <= 2 until p2 = 18, e2 <= 17 eventually holds.
Before m0 > 30, it is always the case that if y1 = 21 holds, then d1 < 8 previously held.
Globally, it is always the case that if r1 <= 14 holds, then r0 < 28 previously held.
After g0 >= 2 until t0 = 30, it is always the case that if g0 >= 5 holds, then s0 >= 4 eventually holds.
Globally, g1 >= 23 eventually holds.
Between f1 > 23 and q1 <= 3, it is always the case that o1 < 11 holds.
Between w0 <= 0 and y2 = 31, it is never the case that r1 <= 17 holds.
Between m1 = 3 and n1 > 11, it is never the case that r2 > 4 holds.
After x1 < 0, m1 > 21 eventually holds.
Globally, u0 = 10 eventually holds.
After y1 = 29, it is always the case that if k2 = 14 holds, then y1 < 1 previously held.
Globally, it is always the case that if v1 >= 24 holds, then b2 < 0 eventually holds and is succeeded by j2 <= 24, where e1 > 18 does not hold between b2 < 0 and j2 <= 24 .
Between m2 > 27 and j1 <= 19, it is always the case that if j1 < 22 holds, then b2 > 3 previously held.
After z0 <= 16 until r2 < 29, it is always the case that if g2 = 28 holds, then o0 < 30 previously held and was preceded by b1 = 18 .
After v1 < 23, it is always the case that if c0 < 7 holds, then q2 > 29 eventually holds and is succeeded by e0 < 17 .
Between a1 = 15 and m1 >= 10, it is always the case that if y1 <= 21 holds, then u0 > 28 previously held.
After i0 > 19 until n1 >= 1, it is always the case that a3 < 18 holds.
Globally, it is always the case that if g1 <= 10 holds, then i0 > 24 previously held and was preceded by w2 = 21 .
After x1 < 28 until m0 >= 16, it is always the case that if c0 >= 16 holds, then f1 > 12 previously held and was preceded by x2 > 14 .
Before r0 = 1, o0 < 23 eventually holds.
After n1 = 29, it is always the case that if q2 > 9 holds and is succeeded by a1 > 13, then f1 > 7 previously held.
Before a0 < 13, it is never the case that b1 >= 21 holds.
Between a1 > 16 and g2 >= 28, it is always the case that if v0 > 26 holds, then o0 = 4 eventually holds and is succeeded by n2 < 14, where x2 >= 0 does not hold between o0 = 4 and n2 < 14 .
Between y0 <= 19 and k2 < 4, it is always the case that if j0 <= 8 holds, then f0 > 31 eventually holds.
Globally, it is never the case that t0 > 12 holds.
After f0 >= 9, it is always the case that if m1 < 1 holds, then p0 < 17 eventually holds and is succeeded by e2 < 29 .
After x0 = 14 until u0 = 29, h1 > 23 eventually holds.
Between m1 < 6 and m0 > 20, it is always the case that if w0 > 0 holds, then r1 >= 30 previously held and was preceded by t0 >= 7 .
Before n0 > 4, it is always the case that if j2 >= 29 holds, then q2 <= 11 eventually holds and is succeeded by o2 > 0 .
Globally, it is always the case that if g0 <= 4 holds, then o2 >= 26 eventually holds.
After q0 = 16 until d1 <= 7, it is always the case that if o1 = 7 holds and is succeeded by p2 <= 17, then l2 >= 20 previously held.
After d2 > 26, it is always the case that if x0 > 7 holds, then o1 <= 12 previously held.
Before u2 = 15, it is always the case that if y0 >= 25 holds, then b2 = 28 previously held.
Before x0 > 13, u2 = 14 eventually holds.
Before z2 <= 13, it is always the case that if z0 > 15 holds, then y0 >= 29 eventually holds.
Globally, it is always the case that if s2 <= 3 holds, then y0 = 30 previously held.
After q0 < 27, it is always the case that if v1 <= 29 holds, then y1 >= 23 previously held and was preceded by n0 <= 24 .
Globally, it is always the case that y2 > 4 holds.
Between y0 < 22 and t0 = 14, o0 < 19 eventually holds.
Between l0 <= 30 and y2 > 4, it is never the case that l2 < 12 holds.
Before k2 >= 2, it is always the case that if o0 < 30 holds, then w2 < 23 eventually holds and is succeeded by p1 < 16, where c2 > 18 does not hold between w2 < 23 and p1 < 16 .
Before a1 >= 22, it is always the case that if v0 >= 1 holds, then z2 >= 15 previously held and was preceded by a1 <= 12 .
Before v1 < 22, it is always the case that if l2 = 27 holds and is succeeded by l0 <= 23, then o2 = 29 eventually holds after l0 <= 23 .
Between b1 < 19 and b2 > 10, it is always the case that if i1 >= 21 holds, then a3 <= 25 eventually holds and is succeeded by c2 >= 20 .
After b0 <= 12 until j0 = 3, it is always the case that if q2 = 6 holds, then e1 > 1 eventually holds and is succeeded by j1 >= 13 .
After h1 < 22, it is always the case that if s1 > 15 holds, then n2 = 14 previously held and was preceded by p1 <= 21 .
After v1 = 12, it is always the case that if s2 >= 16 holds, then x0 > 4 previously held.
After o0 <= 9 until e0 <= 22, it is always the case that if w0 < 11 holds, then t2 = 18 eventually holds and is succeeded by i1 > 2, where n2 = 3 does not hold between t2 = 18 and i1 > 2 .
Before e1 <= 31, it is always the case that if p0 = 26 holds, then n1 > 29 eventually holds.
Between q1 <= 20 and v2 >= 5, it is always the case that if i0 >= 26 holds, then t2 = 6 previously held and was preceded by u1 < 30 .
Before r0 > 17, it is always the case that if a2 < 26 holds, then q0 >= 13 eventually holds.
Globally, it is always the case that if x2 < 12 holds, then j2 >= 22 eventually holds and is succeeded by z2 <= 1 .
Globally, d0 < 27 eventually holds.
Before w1 < 12, o2 <= 23 eventually holds.
Globally, it is always the case that if s0 >= 15 holds, then p0 = 8 previously held and was preceded by o2 <= 16 .
Globally, it is always the case that if j0 <= 7 holds, then z2 <= 5 eventually holds.
Between s2 < 8 and l1 < 31, it is always the case that if s1 < 0 holds, then u0 < 11 eventually holds and is succeeded by q1 >= 28 .
After q0 <= 24 until y1 <= 10, it is always the case that if y2 = 17 holds and is succeeded by g2 <= 18, then c0 <= 26 previously held.
Globally, it is never the case that h1 >= 26 holds.
Globally, it is always the case that if b1 > 20 holds, then a0 > 8 eventually holds and is succeeded by u1 = 18 .
Globally, u1 = 30 eventually holds.
After v1 > 7, it is always the case that b0 = 7 holds.
After b1 <= 10, it is always the case that if y0 < 12 holds and is succeeded by g2 <= 5, then e0 > 18 previously held.
Globally, it is always the case that if y2 > 25 holds, then q1 = 11 previously held.
Before j2 <= 5, it is always the case that if u0 >= 8 holds and is succeeded by t2 > 27, then n2 = 11 eventually holds after t2 > 27 .
After a0 <= 22 until x2 = 20, it is always the case that if z0 <= 29 holds, then f1 >= 14 previously held and was preceded by j1 > 4 .
Between y2 = 5 and m2 > 1, it is always the case that o0 <= 29 holds.
After w0 <= 8 until x2 <= 23, it is always the case that if a2 >= 20 holds and is succeeded by q0 <= 25, then p0 <= 2 eventually holds after q0 <= 25 .
Globally, y0 = 8 eventually holds.
After t1 <= 6, it is always the case that if o2 >= 9 holds, then o2 = 4 eventually holds.
Globally, h2 < 9 eventually holds.
Globally, it is always the case that if b2 > 7 holds, then f0 <= 16 eventually holds.
After j0 > 24, it is always the case that if e1 > 4 holds and is succeeded by n2 = 31, then o1 <= 18 previously held.
After g1 <= 16 until w0 = 14, it is always the case that if o2 = 8 holds, then u0 > 8 eventually holds and is succeeded by r2 > 15 .
Globally, it is always the case that if j2 >= 7 holds and is succeeded by a1 >= 10, then i1 > 0 eventually holds after a1 >= 10 .
Globally, it is always the case that if v2 <= 22 holds, then a2 > 21 eventually holds and is succeeded by l2 = 26, where j0 >= 21 does not hold between a2 > 21 and l2 = 26 .
