After g0 < 0 until h0 < 3, it is always the case that if c0 < 2 holds and is succeeded by c0 = 9, then e0 >= 11 previously held.
After a0 <= 4 until g0 = 5, it is always the case that if b0 > 4 holds, then c0 >= 1 eventually holds and is succeeded by a0 <= 11, where i0 >= 2 does not hold between c0 >= 1 and a0 <= 11 .
After g0 <= 0 until g0 > 7, it is always the case that if b0 <= 15 holds, then f0 >= 9 eventually holds and is succeeded by d0 > 2 .
Between h0 <= 8 and c0 > 7, it is always the case that g0 < 8 holds.
Globally, it is always the case that if f0 <= 12 holds, then d0 <= 0 eventually holds and is succeeded by g0 = 6, where i0 <= 13 does not hold between d0 <= 0 and g0 = 6 .
Before i0 > 4, it is always the case that if h0 = 14 holds, then e0 <= 13 previously held and was preceded by a0 < 14 .
After b0 >= 12 until b0 < 4, it is never the case that a0 < 2 holds.
Between f0 >= 7 and e0 >= 4, it is always the case that if e0 = 1 holds, then b0 = 12 eventually holds.
After i0 > 0 until d0 < 2, it is never the case that c0 < 6 holds.
Globally, it is always the case that if f0 <= 2 holds and is succeeded by a0 < 3, then a0 >= 13 eventually holds after a0 < 3 .
Between f0 > 15 and b0 > 3, it is never the case that b0 <= 10 holds.
After c0 = 1 until b0 <= 2, it is always the case that if c0 = 5 holds, then h0 < 3 eventually holds and is succeeded by f0 > 14 .
After e0 > 13 until g0 = 4, it is always the case that g0 = 5 holds.
Before f0 < 12, b0 < 11 eventually holds.
After b0 <= 4 until e0 = 10, it is always the case that if f0 > 4 holds and is succeeded by b0 > 8, then f0 >= 0 previously held.
Globally, it is never the case that e0 <= 11 holds.
Between h0 = 0 and a0 > 11, it is always the case that if g0 = 0 holds, then g0 < 0 eventually holds.
After h0 > 10, it is always the case that if g0 < 6 holds, then i0 >= 14 previously held.
Globally, it is always the case that if h0 >= 7 holds and is succeeded by i0 <= 0, then c0 >= 10 previously held.
After g0 = 7 until b0 >= 3, it is always the case that if b0 < 0 holds and is succeeded by a0 < 6, then c0 < 2 eventually holds after a0 < 6 .
Between g0 <= 13 and h0 < 12, it is always the case that if d0 = 11 holds, then i0 > 0 eventually holds.
Before g0 >= 14, it is always the case that if g0 < 0 holds, then a0 > 12 previously held.
Between h0 = 10 and g0 >= 13, it is always the case that if d0 >= 11 holds and is succeeded by a0 <= 2, then c0 > 0 eventually holds after a0 <= 2 .
Before h0 < 9, it is always the case that if b0 = 4 holds and is succeeded by i0 <= 14, then c0 > 13 eventually holds after i0 <= 14 .
Between d0 <= 0 and d0 <= 0, i0 <= 12 eventually holds.
After a0 < 12, it is always the case that if a0 = 4 holds, then b0 = 9 previously held and was preceded by h0 >= 12 .
Between a0 < 15 and f0 >= 5, it is always the case that if e0 = 9 holds, then f0 = 9 previously held and was preceded by d0 > 2 .
After c0 = 13, it is always the case that d0 = 12 holds.
After b0 <= 8 until d0 < 2, it is always the case that c0 < 8 holds.
Between d0 < 12 and f0 >= 9, it is always the case that f0 >= 15 holds.
Globally, f0 >= 0 eventually holds.
After d0 = 4 until e0 = 2, it is always the case that if i0 <= 0 holds and is succeeded by h0 >= 1, then c0 > 3 eventually holds after h0 >= 1 .
After g0 = 15 until d0 < 0, it is always the case that d0 <= 7 holds.
Before g0 > 7, it is never the case that e0 > 0 holds.
Globally, it is always the case that if g0 > 15 holds and is succeeded by i0 <= 5, then e0 <= 7 eventually holds after i0 <= 5 .
Between e0 < 13 and e0 > 2, it is always the case that if b0 = 11 holds, then c0 > 1 eventually holds and is succeeded by e0 > 0, where i0 > 2 does not hold between c0 > 1 and e0 > 0 .
Globally, it is always the case that if h0 < 11 holds, then i0 > 7 previously held and was preceded by a0 >= 3 .
Between f0 > 3 and h0 > 1, it is always the case that if g0 >= 6 holds, then h0 = 4 eventually holds and is succeeded by h0 < 12 .
After i0 >= 9, it is always the case that if c0 <= 13 holds, then f0 <= 10 previously held and was preceded by h0 <= 3 .
Before i0 = 2, it is always the case that if i0 < 13 holds and is succeeded by a0 > 2, then a0 <= 4 eventually holds after a0 > 2 .
Before f0 < 14, a0 > 5 eventually holds.
After f0 <= 11 until c0 <= 1, it is always the case that if d0 > 7 holds, then i0 = 8 eventually holds and is succeeded by g0 > 7 .
Between c0 >= 4 and f0 < 2, it is always the case that if d0 > 15 holds, then d0 <= 14 eventually holds and is succeeded by f0 >= 5, where a0 >= 10 does not hold between d0 <= 14 and f0 >= 5 .
Before f0 > 10, it is always the case that if a0 >= 10 holds, then e0 < 13 previously held.
After h0 > 11 until e0 >= 5, it is always the case that if a0 <= 10 holds, then d0 < 1 eventually holds and is succeeded by d0 >= 15 .
Globally, it is always the case that if i0 < 12 holds, then h0 < 4 eventually holds and is succeeded by b0 = 1, where c0 > 9 does not hold between h0 < 4 and b0 = 1 .
Globally, it is never the case that f0 < 2 holds.
Before f0 > 3, it is always the case that if i0 < 5 holds and is succeeded by b0 <= 15, then h0 = 2 previously held.
Globally, it is always the case that if f0 > 8 holds, then h0 <= 4 eventually holds and is succeeded by h0 < 11, where a0 <= 2 does not hold between h0 <= 4 and h0 < 11 .
Between c0 = 11 and e0 > 5, it is always the case that if e0 <= 11 holds, then i0 >= 9 eventually holds and is succeeded by h0 > 12, where f0 > 7 does not hold between i0 >= 9 and h0 > 12 .
Between g0 = 14 and a0 <= 13, it is never the case that d0 = 2 holds.
After e0 > 4, it is never the case that d0 > 6 holds.
After d0 = 10 until h0 >= 6, it is always the case that if b0 = 14 holds, then a0 = 9 previously held.
Before h0 >= 12, it is always the case that if a0 < 11 holds, then f0 > 8 previously held and was preceded by g0 > 8 .
Between b0 = 10 and g0 > 7, it is always the case that if c0 <= 8 holds, then b0 <= 14 previously held.
Before i0 < 14, e0 = 15 eventually holds.
After e0 = 1 until c0 > 1, it is never the case that f0 = 12 holds.
Before a0 >= 0, it is always the case that if a0 > 9 holds and is succeeded by c0 = 9, then b0 >= 6 previously held.
After b0 = 14 until f0 = 1, it is always the case that if f0 > 1 holds, then h0 >= 1 eventually holds and is succeeded by h0 >= 14 .
After h0 >= 8 until e0 <= 9, it is never the case that g0 > 14 holds.
