After v7 > 9, it is always the case that if q8 <= 22 holds, then f1 = 19 eventually holds.
After y2 < 3, it is always the case that if z5 >= 5 holds and is succeeded by q3 = 14, then q2 > 9 eventually holds after q3 = 14 .
After v8 >= 14 until m5 < 3, it is always the case that if z3 < 23 holds and is succeeded by m11 = 17, then r10 <= 10 previously held.
After u2 < 28, it is always the case that if u8 >= 26 holds and is succeeded by r7 >= 4, then b11 >= 0 previously held.
Before q4 < 29, it is always the case that if r7 >= 31 holds, then w3 > 5 eventually holds and is succeeded by u11 = 24, where y8 >= 3 does not hold between w3 > 5 and u11 = 24 .
Between h4 > 26 and o3 < 1, it is always the case that y8 > 31 holds.
Between j8 > 27 and n3 <= 7, it is always the case that if v11 > 25 holds and is succeeded by r11 > 14, then z6 > 16 eventually holds after r11 > 14 .
Globally, b6 >= 23 eventually holds.
After j1 <= 29, it is always the case that if d3 > 31 holds, then z10 > 8 previously held and was preceded by i6 = 8 .
Between u2 <= 15 and w10 < 31, it is always the case that if g4 < 21 holds and is succeeded by a6 = 30, then t5 > 14 eventually holds after a6 = 30 .
After w6 < 26, it is always the case that if u3 >= 2 holds, then a7 > 10 previously held.
After l3 = 5, it is always the case that if j11 = 30 holds and is succeeded by j8 >= 2, then t1 <= 12 eventually holds after j8 >= 2 .
After y1 = 4 until q4 = 9, it is always the case that if a7 >= 26 holds and is succeeded by x2 < 28, then l3 <= 29 eventually holds after x2 < 28 .
Before a4 <= 31, it is always the case that u7 < 17 holds.
Globally, it is always the case that if q4 >= 8 holds and is succeeded by q0 > 12, then h7 <= 2 previously held.
Between j9 < 2 and j6 = 31, it is always the case that if m5 < 12 holds, then v7 < 6 previously held and was preceded by t4 > 1 .
Globally, it is always the case that d1 > 11 holds.
After f0 > 15, it is always the case that if r5 = 30 holds and is succeeded by m3 <= 4, then a2 <= 30 previously held.
After k7 >= 14, it is always the case that if l2 > 21 holds and is succeeded by i2 >= 7, then d6 = 15 previously held.
Between y8 > 25 and a11 = 13, it is always the case that b9 = 21 holds.
After e10 >= 12, it is always the case that if y8 = 8 holds, then n4 = 13 previously held and was preceded by c2 < 8 .
Between g0 >= 2 and t1 = 1, it is always the case that if w5 <= 11 holds, then j11 >= 31 previously held and was preceded by n7 < 25 .
Before p4 >= 14, it is always the case that if r10 = 1 holds, then a5 <= 5 previously held.
Before u10 < 0, it is always the case that if b5 = 21 holds, then j4 = 27 previously held.
After u11 > 14 until j11 > 10, it is always the case that if k3 >= 22 holds, then o8 <= 26 previously held and was preceded by d7 < 4 .
Before m10 <= 7, it is always the case that if m6 <= 21 holds, then i6 < 27 previously held.
Before u2 > 15, it is never the case that b4 <= 30 holds.
After i7 <= 21 until e9 <= 21, it is always the case that if c10 <= 31 holds, then r1 >= 0 eventually holds.
Before h0 > 3, it is always the case that if w5 = 19 holds, then c9 <= 30 previously held and was preceded by p8 = 9 .
Globally, o8 <= 17 eventually holds.
Between k1 > 9 and l9 < 29, it is always the case that if i2 < 17 holds, then g6 <= 23 eventually holds.
After i11 >= 15 until c8 = 7, it is never the case that a5 < 11 holds.
Before l9 >= 8, u3 > 15 eventually holds.
Before f4 <= 29, it is always the case that if f1 > 3 holds, then k10 > 25 eventually holds.
After m11 = 19, it is always the case that if w8 < 19 holds and is succeeded by f3 <= 25, then e8 <= 0 eventually holds after f3 <= 25 .
Before r3 > 1, it is always the case that if n4 < 14 holds, then o9 < 2 eventually holds and is succeeded by v7 <= 18 .
After o8 >= 4 until x2 > 7, c2 = 2 eventually holds.
Globally, it is always the case that if y1 > 24 holds, then d3 >= 3 previously held and was preceded by c8 > 5 .
After x1 = 31 until u11 >= 7, p9 > 8 eventually holds.
Between c0 <= 23 and s2 < 9, it is always the case that w4 >= 15 holds.
Before f8 > 31, it is always the case that if z8 = 28 holds and is succeeded by c4 > 13, then b10 = 27 eventually holds after c4 > 13 .
Between s1 < 6 and v10 = 24, it is always the case that if g10 < 22 holds, then w2 <= 13 eventually holds and is succeeded by x3 <= 0, where x11 < 21 does not hold between w2 <= 13 and x3 <= 0 .
After t8 >= 23, it is always the case that if q11 = 25 holds, then y5 >= 26 eventually holds.
Before c8 <= 28, it is always the case that if r9 < 14 holds and is succeeded by a8 < 18, then j5 <= 3 previously held.
Before u8 >= 30, it is always the case that n1 <= 10 holds.
After l11 = 0 until z10 > 9, it is never the case that u3 > 2 holds.
After c10 >= 28 until c6 >= 18, it is always the case that c1 = 15 holds.
After c3 < 4, it is always the case that if u4 < 9 holds and is succeeded by b5 >= 11, then v6 >= 3 eventually holds after b5 >= 11 .
Between w8 = 20 and h2 = 20, it is always the case that if l2 = 4 holds and is succeeded by m0 > 6, then m9 < 11 eventually holds after m0 > 6 .
After y3 > 1, it is always the case that if c11 >= 20 holds, then p0 <= 18 previously held.
Globally, it is always the case that if t0 >= 8 holds, then f11 < 7 eventually holds and is succeeded by x11 > 11 .
Globally, a7 < 3 eventually holds.
After s2 < 29 until u4 < 5, it is never the case that l11 >= 22 holds.
Before w2 = 13, it is never the case that b11 < 17 holds.
Before t7 < 30, it is always the case that d9 > 3 holds.
After l11 <= 27, it is always the case that c7 > 30 holds.
After n10 <= 14 until f9 >= 22, it is always the case that if y6 <= 8 holds and is succeeded by i9 <= 15, then e7 = 21 eventually holds after i9 <= 15 .
After x11 < 7 until k3 >= 15, it is always the case that if k1 >= 18 holds, then e6 < 2 eventually holds.
After k2 >= 30, it is always the case that if y2 <= 24 holds, then d9 <= 10 previously held and was preceded by q8 <= 31 .
Globally, it is always the case that if q7 <= 12 holds, then w1 > 19 previously held and was preceded by a8 >= 14 .
Between w6 > 13 and a3 = 30, it is never the case that i1 >= 23 holds.
After e10 > 10 until d8 < 21, it is never the case that l4 < 0 holds.
Globally, it is always the case that if v8 = 1 holds, then m2 = 25 eventually holds and is succeeded by a3 < 1 .
Before l6 >= 24, it is never the case that l10 < 22 holds.
Globally, v1 < 31 eventually holds.
Globally, it is always the case that if o0 > 26 holds, then m7 < 28 eventually holds and is succeeded by q4 <= 22, where i0 >= 17 does not hold between m7 < 28 and q4 <= 22 .
After e12 <= 14 until a9 <= 19, it is always the case that w2 >= 5 holds.
Between k0 > 2 and e8 <= 8, it is always the case that u4 <= 2 holds.
After k3 = 6, it is always the case that if b3 <= 11 holds, then j5 > 16 previously held.
After e8 <= 17, it is always the case that if u3 > 0 holds, then d2 < 22 eventually holds and is succeeded by g7 < 23 .
Globally, it is always the case that q7 > 10 holds.
After x7 = 3, it is never the case that v5 < 17 holds.
After u2 >= 4, it is always the case that if m9 < 4 holds and is succeeded by y10 <= 12, then x2 < 3 previously held.
Globally, it is never the case that t1 < 19 holds.
Globally, it is always the case that if c1 = 10 holds, then l1 < 0 eventually holds.
After k6 < 23, it is always the case that l0 >= 19 holds.
Globally, it is always the case that d0 = 9 holds.
Between k9 >= 31 and t5 = 4, n2 > 18 eventually holds.
Before j5 = 7, it is always the case that a1 <= 13 holds.
Between k2 < 25 and s1 < 27, it is always the case that f5 <= 11 holds.
After s4 < 17, it is always the case that e1 = 27 holds.
After y6 <= 14, y11 >= 7 eventually holds.
Before u4 < 28, it is always the case that if a6 >= 12 holds, then u11 >= 6 eventually holds and is succeeded by y3 > 0 .
Before u10 >= 16, it is always the case that if c1 = 10 holds and is succeeded by m6 = 12, then s11 < 27 previously held.
After v1 < 18 until y2 <= 14, a0 <= 2 eventually holds.
Before y10 > 11, it is always the case that if d2 = 12 holds and is succeeded by l0 <= 5, then i0 > 20 previously held.
Between h8 < 17 and b8 = 1, it is never the case that b1 <= 28 holds.
Between s0 = 24 and p6 <= 23, it is always the case that if h1 >= 21 holds, then s4 <= 20 previously held.
After o1 <= 3 until d10 < 11, it is always the case that if b3 = 13 holds, then n10 = 12 eventually holds.
Before g7 < 16, it is always the case that if m8 < 25 holds, then x10 >= 14 eventually holds and is succeeded by x0 <= 10 .
Between s0 > 15 and a5 <= 31, it is always the case that if d12 < 18 holds, then l11 >= 31 previously held and was preceded by y3 = 6 .
After y0 <= 8, it is always the case that if d1 > 25 holds, then s8 = 1 eventually holds and is succeeded by w11 = 4, where x10 > 25 does not hold between s8 = 1 and w11 = 4 .
Globally, it is always the case that if i0 < 17 holds, then t11 <= 6 eventually holds and is succeeded by f12 = 28 .
Before e5 < 8, it is always the case that if e11 >= 7 holds, then t3 > 24 eventually holds and is succeeded by b3 >= 24 .
After p1 >= 2, it is always the case that if b5 = 21 holds, then o5 = 0 eventually holds and is succeeded by m3 <= 7 .
Between p4 < 22 and l4 < 1, it is always the case that if h6 < 12 holds, then q9 < 21 eventually holds.
Between d5 > 1 and y8 <= 26, it is always the case that if z11 >= 25 holds and is succeeded by k1 < 31, then v3 > 4 eventually holds after k1 < 31 .
Globally, it is always the case that if w0 <= 17 holds and is succeeded by i10 < 2, then i3 = 20 previously held.
After p2 >= 14 until l0 = 31, it is always the case that if s1 = 2 holds, then c5 >= 17 eventually holds and is succeeded by q3 >= 21, where j7 < 12 does not hold between c5 >= 17 and q3 >= 21 .
Globally, it is always the case that if m5 <= 19 holds, then j11 <= 5 eventually holds and is succeeded by w0 >= 25 .
Before w10 = 22, it is always the case that if l6 >= 5 holds, then u0 < 8 previously held.
Globally, it is always the case that r4 >= 31 holds.
Between u1 <= 15 and d0 > 10, it is always the case that if v4 > 2 holds, then i2 < 11 eventually holds and is succeeded by j4 > 8 .
Globally, it is always the case that q7 = 14 holds.
Before u8 > 21, it is always the case that f8 >= 30 holds.
After t10 >= 31, it is never the case that g0 = 23 holds.
Globally, it is always the case that if t10 < 19 holds and is succeeded by s6 > 9, then j3 <= 2 eventually holds after s6 > 9 .
Globally, it is always the case that if f5 > 22 holds, then v11 = 19 eventually holds and is succeeded by n11 < 0 .
After s0 > 18, it is never the case that p1 >= 30 holds.
After l0 > 3 until v8 >= 21, it is always the case that if q11 > 7 holds, then c8 < 27 eventually holds and is succeeded by w0 < 17 .
After n10 <= 28 until h3 >= 11, it is always the case that if r11 = 12 holds, then c5 = 12 previously held.
Before m8 < 20, it is always the case that r7 <= 14 holds.
After j4 <= 31 until n10 <= 0, it is always the case that w4 <= 18 holds.
After c0 <= 28, it is always the case that if h2 <= 31 holds and is succeeded by j1 = 26, then g6 > 2 previously held.
After p6 <= 17, it is always the case that if j3 <= 21 holds, then y1 < 1 eventually holds and is succeeded by f2 = 16 .
Before h7 <= 21, it is always the case that if c6 > 30 holds, then h0 < 12 previously held and was preceded by f4 <= 11 .
After t2 < 0 until j4 >= 2, g4 > 18 eventually holds.
After z6 > 20, it is never the case that g7 = 31 holds.
Globally, r10 = 0 eventually holds.
Between h5 >= 13 and h1 <= 16, it is never the case that q11 <= 27 holds.
After v8 <= 1 until o10 = 29, it is always the case that if c2 > 29 holds, then m3 = 4 eventually holds and is succeeded by g9 > 14 .
After b3 <= 1, it is always the case that if x7 >= 10 holds, then u6 <= 31 previously held and was preceded by e3 <= 23 .
After p3 <= 11 until y5 < 12, it is always the case that if d5 >= 29 holds, then p10 >= 18 previously held and was preceded by y9 = 27 .
Between d1 > 6 and o1 <= 30, it is always the case that if x0 < 9 holds and is succeeded by w3 < 28, then w10 <= 5 eventually holds after w3 < 28 .
Between b3 = 31 and t11 < 17, it is always the case that y4 < 7 holds.
After k8 > 28 until i11 <= 28, it is always the case that if f5 < 28 holds, then l1 <= 7 previously held and was preceded by v11 <= 24 .
Before r2 = 27, it is always the case that if p6 <= 19 holds, then t6 >= 5 eventually holds.
After k9 = 4, it is always the case that if h2 <= 26 holds and is succeeded by j9 < 21, then l2 < 18 previously held.
Before g1 > 30, it is always the case that if e9 >= 9 holds, then q9 < 22 previously held and was preceded by f10 <= 23 .
Before o9 <= 26, it is always the case that if y7 = 6 holds and is succeeded by c8 < 18, then a7 >= 24 eventually holds after c8 < 18 .
Globally, it is always the case that if k8 > 1 holds, then k10 = 14 eventually holds.
Globally, it is always the case that if h11 = 17 holds and is succeeded by h5 > 29, then u6 >= 14 eventually holds after h5 > 29 .
After e1 >= 2, it is always the case that if z3 < 24 holds, then i11 = 9 previously held and was preceded by t3 < 14 .
After e4 <= 4 until y9 <= 30, it is always the case that if h8 = 0 holds, then s1 = 20 previously held.
Between h9 = 14 and f5 <= 22, it is always the case that if o0 > 22 holds, then g0 = 19 eventually holds and is succeeded by i1 > 15 .
Between k0 <= 3 and j5 = 12, it is always the case that if h8 < 14 holds, then l11 <= 12 eventually holds and is succeeded by q6 > 21, where e1 <= 8 does not hold between l11 <= 12 and q6 > 21 .
Globally, it is always the case that if q4 <= 20 holds, then u4 = 27 eventually holds.
After e12 >= 0 until f2 = 28, it is always the case that if w2 <= 4 holds, then b11 >= 6 previously held.
Before q0 < 17, r6 >= 7 eventually holds.
Before d11 > 21, it is never the case that f7 < 22 holds.
Before l7 = 8, it is always the case that if v0 > 27 holds, then r4 > 27 eventually holds and is succeeded by e7 = 3, where j1 >= 16 does not hold between r4 > 27 and e7 = 3 .
After l4 <= 22 until r11 = 16, it is never the case that d9 >= 15 holds.
After t10 < 7 until n5 <= 14, it is always the case that if q11 <= 9 holds and is succeeded by s10 < 23, then i1 < 11 previously held.
After s2 <= 11, it is always the case that if b12 < 30 holds and is succeeded by o3 > 26, then a4 = 2 eventually holds after o3 > 26 .
After c8 = 11 until k10 <= 25, it is always the case that if a4 >= 25 holds, then c11 >= 3 eventually holds and is succeeded by m8 > 21, where a9 >= 28 does not hold between c11 >= 3 and m8 > 21 .
Before a0 > 17, it is never the case that p4 < 10 holds.
Between c7 <= 12 and o9 < 23, it is always the case that if z8 = 14 holds, then w4 = 19 eventually holds.
Before y3 >= 25, it is always the case that if u10 > 9 holds and is succeeded by w0 <= 5, then k10 >= 0 previously held.
After a5 <= 3, it is always the case that if n10 > 8 holds, then i2 > 16 previously held.
Before c10 > 28, it is always the case that if k8 < 15 holds, then p9 > 9 eventually holds.
After q11 < 17 until c2 <= 28, it is always the case that if q0 >= 3 holds and is succeeded by h1 > 5, then z2 <= 4 eventually holds after h1 > 5 .
Globally, it is always the case that if q4 = 21 holds, then q6 >= 26 eventually holds.
After i9 = 2, it is always the case that if e7 >= 11 holds and is succeeded by i0 = 20, then x6 = 2 eventually holds after i0 = 20 .
Between q7 < 5 and f9 > 2, it is never the case that v6 >= 26 holds.
Before y10 = 24, it is always the case that if h2 < 8 holds, then d7 = 13 previously held and was preceded by p0 = 9 .
Globally, it is always the case that if m9 <= 7 holds, then x2 <= 20 eventually holds and is succeeded by y11 <= 22, where u1 <= 28 does not hold between x2 <= 20 and y11 <= 22 .
Before i4 = 28, it is always the case that if l1 >= 29 holds, then g6 < 25 previously held.
After r0 <= 21 until w3 = 14, it is never the case that w11 < 28 holds.
Between t0 <= 25 and p9 < 27, it is always the case that if e11 < 7 holds and is succeeded by f4 < 24, then f9 >= 13 eventually holds after f4 < 24 .
Between b8 < 8 and t7 <= 19, it is never the case that r3 <= 19 holds.
After f8 < 9, it is always the case that t1 >= 17 holds.
After v0 > 3 until i5 < 8, it is always the case that if n3 <= 23 holds, then v0 = 24 eventually holds and is succeeded by x9 = 21, where i11 > 6 does not hold between v0 = 24 and x9 = 21 .
Before e4 <= 23, it is always the case that if p8 < 16 holds and is succeeded by p11 <= 13, then x11 = 18 previously held.
Between b5 = 18 and l7 > 6, it is always the case that if y5 = 18 holds, then t5 >= 2 previously held and was preceded by c11 = 31 .
Before p4 = 17, it is always the case that if r7 <= 17 holds, then v5 >= 27 eventually holds and is succeeded by p1 >= 21 .
After k0 > 24 until f1 < 9, it is always the case that if p10 <= 14 holds, then a10 < 20 eventually holds and is succeeded by l8 = 10 .
Between a11 < 19 and c6 = 15, it is always the case that if q9 = 13 holds, then b4 > 19 eventually holds.
After i1 <= 1 until t8 > 12, it is always the case that if r4 <= 2 holds and is succeeded by w10 <= 20, then m7 >= 12 eventually holds after w10 <= 20 .
Between f2 > 30 and b3 = 25, it is always the case that if a4 > 8 holds, then j5 = 0 previously held and was preceded by y1 > 4 .
After i9 = 16, it is always the case that if j2 > 26 holds, then o7 > 1 eventually holds and is succeeded by u7 >= 14 .
Globally, it is always the case that r9 < 8 holds.
After j9 < 0 until v4 > 19, it is always the case that if h5 > 15 holds, then k8 < 9 previously held.
Globally, it is always the case that if f11 > 26 holds and is succeeded by t3 >= 20, then r10 >= 25 previously held.
Globally, it is always the case that if p0 >= 22 holds, then n2 >= 26 previously held.
After s2 > 21 until z6 = 5, it is always the case that if n11 < 24 holds, then z11 = 17 previously held and was preceded by e5 = 19 .
After j6 <= 10 until x0 = 24, it is always the case that if y11 = 7 holds, then n8 = 16 eventually holds.
Before d6 >= 22, it is always the case that if j9 >= 4 holds, then x8 >= 17 previously held.
Globally, it is always the case that if y6 > 2 holds, then p1 <= 14 previously held.
Globally, it is always the case that c10 >= 22 holds.
Between p2 = 7 and l0 > 31, it is always the case that if c5 <= 28 holds, then d11 >= 5 eventually holds and is succeeded by q7 = 5, where u8 < 11 does not hold between d11 >= 5 and q7 = 5 .
Between l9 < 5 and u2 > 16, it is always the case that if b2 = 24 holds, then t11 > 31 eventually holds and is succeeded by n8 <= 14, where x0 < 25 does not hold between t11 > 31 and n8 <= 14 .
Before w1 = 13, it is always the case that if g4 = 1 holds, then o2 <= 7 eventually holds and is succeeded by l5 <= 16 .
Between x0 = 25 and m2 >= 21, v5 >= 11 eventually holds.
After e8 = 5, f4 = 18 eventually holds.
Between d8 < 13 and t8 <= 2, it is never the case that n8 < 26 holds.
Between z9 = 2 and g6 > 28, it is always the case that if j11 >= 16 holds, then z1 > 21 eventually holds and is succeeded by h11 >= 8, where r10 = 6 does not hold between z1 > 21 and h11 >= 8 .
Before a1 >= 4, it is always the case that if t7 = 11 holds, then z8 >= 15 eventually holds and is succeeded by v7 >= 24, where q4 >= 11 does not hold between z8 >= 15 and v7 >= 24 .
Before e9 = 6, it is always the case that w7 > 22 holds.
Globally, it is never the case that a10 > 30 holds.
Before o1 >= 14, it is always the case that if k8 < 15 holds, then y6 >= 9 eventually holds and is succeeded by h3 < 25, where z2 = 20 does not hold between y6 >= 9 and h3 < 25 .
Globally, it is always the case that o4 <= 8 holds.
Before w6 < 8, it is always the case that if p1 < 2 holds, then e5 >= 9 eventually holds and is succeeded by g10 >= 5, where k11 < 0 does not hold between e5 >= 9 and g10 >= 5 .
Globally, it is always the case that if x7 <= 26 holds, then d6 < 29 previously held and was preceded by u6 < 10 .
Before z3 > 4, it is always the case that if i11 >= 6 holds and is succeeded by b4 < 13, then z6 > 28 eventually holds after b4 < 13 .
Globally, it is always the case that p4 >= 2 holds.
After b5 < 25 until d10 = 15, it is always the case that if v7 > 28 holds and is succeeded by c4 >= 15, then i11 >= 20 previously held.
Globally, it is always the case that if u1 <= 7 holds, then z0 <= 2 previously held.
After b0 = 31 until j5 = 31, it is always the case that if e9 = 9 holds and is succeeded by g0 > 1, then g0 < 5 previously held.
Before e6 = 26, it is always the case that if i1 > 22 holds, then b2 > 14 previously held.
Globally, n5 < 10 eventually holds.
Between z2 = 13 and h10 >= 1, it is always the case that if c1 > 22 holds and is succeeded by k4 = 27, then e6 = 4 eventually holds after k4 = 27 .
After a0 >= 1, it is always the case that f11 <= 6 holds.
Between w2 < 29 and y3 >= 26, it is always the case that if j1 = 9 holds, then o1 < 2 previously held.
Between s7 < 5 and q10 = 1, it is always the case that if z0 < 11 holds, then p7 >= 9 eventually holds and is succeeded by q0 = 9, where q11 < 11 does not hold between p7 >= 9 and q0 = 9 .
Between w9 = 0 and y3 < 26, it is never the case that p7 < 2 holds.
Between p4 = 12 and c1 < 21, it is always the case that if x7 > 19 holds, then r2 >= 9 previously held and was preceded by y6 = 26 .
Globally, it is always the case that if r11 < 19 holds, then g1 >= 19 eventually holds.
After o6 >= 5, it is always the case that if m7 < 13 holds, then b9 <= 8 eventually holds and is succeeded by b5 > 28 .
After z3 >= 24 until a3 < 9, it is always the case that u6 > 25 holds.
Before j8 <= 5, it is always the case that if g3 > 20 holds, then g0 <= 2 eventually holds.
After s2 <= 29 until g8 <= 19, it is always the case that if r8 < 4 holds, then x10 > 3 eventually holds and is succeeded by x5 <= 30, where p1 < 15 does not hold between x10 > 3 and x5 <= 30 .
Before x2 > 31, it is always the case that if g5 = 1 holds and is succeeded by t1 > 26, then f7 = 15 eventually holds after t1 > 26 .
After s2 >= 31, it is never the case that j3 = 16 holds.
After q6 = 20 until w7 > 16, it is always the case that if y0 <= 29 holds, then z6 >= 26 eventually holds and is succeeded by r5 = 9 .
Globally, it is always the case that if y11 >= 28 holds, then y8 >= 1 previously held.
After c9 = 0, it is always the case that if m9 < 19 holds, then l8 <= 26 previously held and was preceded by h10 > 31 .
Between q6 = 24 and t2 > 23, it is always the case that if d11 >= 21 holds and is succeeded by d6 < 29, then b5 < 11 previously held.
Before z2 = 15, it is always the case that if j5 >= 28 holds, then b9 = 9 eventually holds.
Globally, it is always the case that if o9 >= 0 holds and is succeeded by o3 < 30, then a2 < 10 previously held.
After v9 >= 8, it is always the case that if h3 > 18 holds, then t4 = 10 eventually holds.
Before e7 > 20, it is never the case that e0 > 0 holds.
After c11 = 8 until a1 > 25, it is always the case that if b5 >= 6 holds, then j3 = 26 eventually holds and is succeeded by e7 < 28 .
Before l7 <= 24, it is always the case that if o0 >= 25 holds and is succeeded by t10 >= 24, then t10 < 16 eventually holds after t10 >= 24 .
After h10 = 26, it is always the case that m0 <= 27 holds.
After m4 > 16, it is always the case that if g4 < 6 holds, then x1 <= 30 previously held.
After c0 >= 16, it is always the case that if x3 >= 11 holds, then i3 < 28 previously held.
After o4 < 28, it is always the case that if j2 < 6 holds, then f12 > 19 previously held.
Globally, it is always the case that if m2 < 9 holds, then d2 = 7 previously held.
Globally, it is always the case that if h11 < 9 holds, then w7 >= 4 eventually holds and is succeeded by x2 = 20, where b11 < 16 does not hold between w7 >= 4 and x2 = 20 .
Globally, it is always the case that if l1 = 28 holds, then x7 > 10 eventually holds and is succeeded by z0 >= 8 .
Globally, it is never the case that g5 < 20 holds.
Before f8 = 23, it is always the case that if n7 = 29 holds, then q11 > 19 eventually holds.
Globally, it is always the case that if p11 < 28 holds, then o8 > 6 previously held.
Globally, it is always the case that if z3 >= 9 holds, then q1 < 6 eventually holds.
After b3 = 30 until j5 = 24, it is always the case that if o7 >= 4 holds, then j2 <= 24 eventually holds.
After y6 = 8, it is always the case that if c11 = 6 holds, then p0 = 5 previously held and was preceded by h8 <= 18 .
After m1 >= 25 until z8 >= 19, it is never the case that e8 <= 24 holds.
Before w5 < 25, it is always the case that if v6 > 20 holds, then e0 >= 1 previously held.
After j11 = 20 until o4 <= 8, it is always the case that if e8 = 7 holds and is succeeded by j6 = 26, then s8 = 29 eventually holds after j6 = 26 .
Globally, it is always the case that k4 > 11 holds.
