Between c0 > 13 and l1 > 1, it is always the case that if w0 <= 16 holds and is succeeded by l0 = 15, then i0 <= 29 eventually holds after l0 = 15 .
Between m1 >= 9 and g1 <= 15, it is never the case that f1 <= 8 holds.
After k0 = 21 until y0 >= 27, it is always the case that if l0 = 9 holds and is succeeded by y0 <= 9, then u0 > 18 previously held.
Globally, l1 <= 16 eventually holds.
After d1 < 26 until i0 = 24, it is always the case that if i0 >= 16 holds and is succeeded by k1 = 23, then m1 >= 13 previously held.
After n0 = 10 until j1 > 9, it is always the case that if m0 >= 27 holds, then q0 < 9 eventually holds and is succeeded by j0 <= 27, where h0 > 9 does not hold between q0 < 9 and j0 <= 27 .
Between r0 = 22 and g0 >= 30, it is never the case that o0 >= 28 holds.
Between k1 < 14 and e0 > 23, e1 = 22 eventually holds.
After h0 > 17, it is always the case that if v0 = 30 holds and is succeeded by k1 = 25, then j0 <= 12 previously held.
Before h1 >= 5, u0 = 2 eventually holds.
Before t0 >= 8, it is always the case that if f1 > 26 holds and is succeeded by f0 > 20, then u0 >= 2 previously held.
After h1 > 2, it is always the case that if f0 <= 8 holds, then k1 < 20 previously held and was preceded by h0 = 22 .
Before x0 <= 0, it is always the case that if s0 < 6 holds, then a1 <= 18 eventually holds and is succeeded by k1 >= 26, where y0 <= 31 does not hold between a1 <= 18 and k1 >= 26 .
Globally, it is always the case that if i1 <= 24 holds, then r0 > 30 previously held and was preceded by l0 >= 0 .
Globally, it is always the case that v0 > 24 holds.
After b0 > 14, it is always the case that if l1 <= 3 holds, then g1 = 6 eventually holds and is succeeded by b1 > 8 .
After a0 <= 7, it is never the case that w0 > 27 holds.
Globally, it is always the case that if c1 = 25 holds, then c0 = 14 eventually holds and is succeeded by u0 = 0, where i0 < 7 does not hold between c0 = 14 and u0 = 0 .
Globally, it is never the case that x0 <= 13 holds.
Between a1 < 9 and m0 > 1, it is always the case that if m1 > 16 holds, then j1 = 13 previously held and was preceded by j0 > 3 .
Between m1 > 6 and j1 < 10, w0 < 25 eventually holds.
After w0 <= 10, it is always the case that if c0 < 0 holds, then m0 >= 6 previously held.
After s0 >= 18, it is always the case that k1 = 9 holds.
After h1 = 29, it is always the case that m0 > 8 holds.
Before d1 >= 25, it is always the case that if s0 <= 1 holds, then e0 = 18 eventually holds.
Globally, v0 = 9 eventually holds.
Before o0 <= 27, it is always the case that if d0 > 20 holds and is succeeded by m0 = 20, then f1 <= 15 previously held.
Before z0 = 16, it is always the case that if r0 >= 19 holds, then e0 < 27 eventually holds and is succeeded by s0 >= 11 .
After w0 > 12, it is always the case that m0 <= 8 holds.
Between t0 = 20 and f1 <= 18, it is always the case that if l1 > 4 holds, then m0 >= 5 eventually holds.
After m0 = 4 until p0 = 17, it is always the case that m1 >= 10 holds.
Before e1 < 3, it is always the case that if n0 <= 10 holds, then s0 > 23 eventually holds.
Between b0 < 23 and g0 = 4, it is always the case that if n0 <= 19 holds and is succeeded by g0 < 27, then h1 <= 24 previously held.
After s0 = 27, it is always the case that j0 <= 15 holds.
Between f1 <= 4 and b0 < 18, it is always the case that if l0 = 18 holds, then q0 < 12 previously held and was preceded by m0 <= 31 .
Before g1 >= 19, it is always the case that if g1 < 4 holds and is succeeded by d1 > 7, then v0 >= 25 previously held.
Globally, it is always the case that if c1 < 27 holds, then m0 >= 10 previously held and was preceded by v0 < 14 .
Globally, it is always the case that w0 <= 17 holds.
Before l1 = 26, it is always the case that if y0 >= 29 holds, then o0 >= 1 eventually holds.
After t0 >= 0, it is always the case that if b0 < 14 holds and is succeeded by q0 >= 4, then s0 < 19 eventually holds after q0 >= 4 .
After d1 < 10, it is never the case that a0 < 20 holds.
After a1 <= 16, it is always the case that x0 > 2 holds.
After d0 = 28, it is always the case that if h1 >= 20 holds, then h1 <= 19 eventually holds.
Globally, it is always the case that if j1 > 18 holds and is succeeded by e1 >= 20, then p0 >= 14 previously held.
After q0 > 1, it is always the case that if k1 = 4 holds and is succeeded by b0 > 17, then d0 = 7 eventually holds after b0 > 17 .
Between d1 = 3 and t0 > 9, it is always the case that if w0 >= 7 holds, then d1 <= 8 previously held.
Before f0 = 4, it is never the case that u0 <= 13 holds.
After e1 < 30 until c0 > 18, it is always the case that if f0 < 7 holds, then h1 < 9 previously held and was preceded by t0 = 25 .
Globally, l0 = 5 eventually holds.
Before l1 <= 1, it is always the case that if i1 <= 29 holds, then a1 <= 15 eventually holds and is succeeded by j1 > 16, where z0 >= 23 does not hold between a1 <= 15 and j1 > 16 .
After w0 >= 11 until w0 < 3, it is always the case that if r0 <= 2 holds, then c0 < 25 eventually holds.
After a0 = 23 until u0 > 18, it is never the case that m0 > 1 holds.
After i0 > 30, it is never the case that s0 <= 10 holds.
Before j1 > 30, it is always the case that if v0 >= 27 holds, then b1 = 11 eventually holds.
After d1 < 7 until r0 = 31, it is always the case that if h1 < 24 holds, then y0 > 28 eventually holds and is succeeded by e0 < 22, where a0 = 3 does not hold between y0 > 28 and e0 < 22 .
After b1 < 4 until k1 > 19, it is always the case that if c1 >= 23 holds, then b1 >= 3 eventually holds and is succeeded by m0 < 23 .
Before y0 >= 1, it is always the case that if m0 < 20 holds, then u0 >= 23 eventually holds.
After u0 >= 1 until v0 = 4, it is always the case that if t0 >= 7 holds, then s0 = 5 eventually holds.
After i1 < 9, it is always the case that if h0 = 26 holds, then x0 >= 13 eventually holds and is succeeded by g1 = 6, where t0 < 20 does not hold between x0 >= 13 and g1 = 6 .
Between b1 = 15 and v0 > 26, it is always the case that if h0 <= 18 holds, then r0 > 27 previously held and was preceded by a0 < 13 .
Before c0 > 20, it is always the case that i1 >= 30 holds.
Globally, it is always the case that if b0 < 6 holds, then f1 = 15 previously held.
Between w0 <= 26 and m1 < 28, it is always the case that if e1 > 10 holds, then x0 <= 19 eventually holds and is succeeded by h1 <= 29, where w0 < 28 does not hold between x0 <= 19 and h1 <= 29 .
Globally, it is always the case that p0 <= 20 holds.
After w0 < 7 until v0 >= 1, it is always the case that if s0 > 21 holds and is succeeded by a1 = 2, then i1 > 25 eventually holds after a1 = 2 .
Between x0 > 2 and k1 < 19, it is never the case that d1 > 13 holds.
After v0 >= 9, it is always the case that if b1 >= 4 holds, then o0 <= 2 previously held and was preceded by n0 <= 12 .
Before g0 = 27, y0 < 21 eventually holds.
After o0 > 2 until a1 = 15, it is always the case that if f1 = 24 holds, then d0 <= 1 previously held.
Between g1 < 21 and f1 = 20, it is always the case that if v0 > 8 holds and is succeeded by k0 > 23, then x0 <= 29 previously held.
After l1 < 30, it is always the case that if z0 >= 28 holds, then c1 < 1 previously held and was preceded by b1 <= 25 .
Before k1 > 26, m1 < 31 eventually holds.
After d0 < 12, e1 >= 9 eventually holds.
Globally, it is always the case that if k1 >= 6 holds and is succeeded by k1 = 1, then k1 = 19 eventually holds after k1 = 1 .
Globally, it is never the case that j1 > 11 holds.
After f1 <= 0, it is always the case that x0 < 0 holds.
After i1 < 4 until x0 < 15, it is always the case that if f0 >= 23 holds and is succeeded by e1 = 21, then g0 > 13 previously held.
Between a1 <= 21 and m1 < 29, it is always the case that if u0 < 3 holds and is succeeded by h1 <= 5, then e0 > 10 previously held.
After a0 > 2 until d1 >= 20, it is always the case that if v0 <= 2 holds and is succeeded by q0 < 28, then p0 > 3 eventually holds after q0 < 28 .
After z0 = 25, it is always the case that if k1 >= 29 holds, then a1 = 18 eventually holds and is succeeded by t0 >= 25, where m1 <= 14 does not hold between a1 = 18 and t0 >= 25 .
Globally, it is always the case that if f1 <= 27 holds, then f0 < 23 eventually holds and is succeeded by j1 > 21, where c1 <= 6 does not hold between f0 < 23 and j1 > 21 .
After k0 >= 18, it is always the case that if c0 > 4 holds, then h0 >= 11 eventually holds.
After k0 >= 29, it is always the case that if i1 < 3 holds, then z0 > 21 eventually holds and is succeeded by b1 >= 23, where g1 <= 24 does not hold between z0 > 21 and b1 >= 23 .
Between p0 < 2 and c0 >= 25, it is always the case that if f0 >= 6 holds, then k0 < 0 eventually holds.
Globally, it is always the case that if d1 < 27 holds and is succeeded by r0 >= 24, then g1 > 25 previously held.
Between g1 >= 29 and s0 < 3, it is always the case that if q0 > 8 holds, then e1 >= 13 previously held and was preceded by h0 > 24 .
Globally, it is always the case that if i1 > 6 holds, then y0 < 24 eventually holds.
Before g1 = 14, it is always the case that k1 = 13 holds.
Globally, it is always the case that if h1 < 15 holds and is succeeded by h1 > 12, then m1 < 25 previously held.
After h1 < 1 until x0 > 4, it is always the case that if i1 <= 26 holds and is succeeded by k1 = 31, then h0 >= 26 previously held.
After k0 >= 8, it is always the case that if s0 < 29 holds, then w0 < 7 eventually holds and is succeeded by f1 >= 13, where f1 < 2 does not hold between w0 < 7 and f1 >= 13 .
After m1 <= 27 until c1 <= 23, it is always the case that x0 > 28 holds.
Between l0 <= 28 and k1 = 12, it is always the case that if c1 < 23 holds and is succeeded by f1 = 13, then j1 < 14 previously held.
After b0 < 10, it is never the case that c1 = 10 holds.
Between k0 > 2 and d0 > 14, it is always the case that if w0 <= 26 holds and is succeeded by s0 = 18, then a0 <= 7 previously held.
Globally, it is always the case that d0 <= 15 holds.
Before s0 < 30, it is always the case that if h1 = 8 holds and is succeeded by g0 = 26, then k1 = 31 previously held.
Before o0 >= 12, it is always the case that if f0 < 22 holds, then e0 < 2 eventually holds.
Globally, it is always the case that if c1 <= 6 holds and is succeeded by a1 >= 24, then m1 > 15 previously held.
After g0 = 14, it is always the case that if l0 > 31 holds, then w0 = 11 eventually holds and is succeeded by o0 <= 26, where b0 = 9 does not hold between w0 = 11 and o0 <= 26 .
After e0 >= 13 until l1 <= 4, it is always the case that if g0 > 15 holds, then k1 <= 0 eventually holds.
Between e1 > 24 and p0 = 4, it is never the case that y0 > 5 holds.
After x0 <= 15 until e1 > 11, it is always the case that if u0 > 15 holds, then g1 < 22 eventually holds.
Before l0 < 2, it is always the case that if w0 >= 1 holds, then r0 = 4 eventually holds.
Between k1 <= 18 and u0 > 22, it is never the case that f0 >= 7 holds.
Globally, it is always the case that if p0 > 2 holds, then m0 < 3 previously held.
Before x0 <= 5, y0 <= 2 eventually holds.
Between b0 <= 11 and g1 < 8, it is never the case that i1 < 22 holds.
Before k0 < 28, it is never the case that d0 >= 19 holds.
Globally, it is always the case that if q0 = 21 holds and is succeeded by c1 = 3, then r0 < 21 eventually holds after c1 = 3 .
After l1 >= 27 until r0 < 9, it is never the case that n0 >= 13 holds.
Before j1 <= 18, it is always the case that if t0 > 31 holds and is succeeded by g0 >= 10, then f1 > 30 previously held.
After k0 < 17 until a1 < 10, it is always the case that if p0 <= 4 holds, then r0 <= 24 eventually holds and is succeeded by d1 = 20, where x0 >= 6 does not hold between r0 <= 24 and d1 = 20 .
After i1 = 30 until p0 > 24, f0 > 25 eventually holds.
After z0 = 20 until o0 = 8, it is always the case that if z0 = 1 holds and is succeeded by j1 <= 0, then p0 > 16 eventually holds after j1 <= 0 .
After t0 = 6 until f1 <= 29, it is always the case that if z0 <= 10 holds, then b1 >= 8 eventually holds and is succeeded by o0 = 23 .
Before a1 < 15, it is always the case that if b0 < 4 holds, then h1 > 17 previously held and was preceded by q0 <= 15 .
After a0 <= 19 until z0 > 26, it is always the case that if e1 = 13 holds and is succeeded by u0 = 16, then a0 <= 24 eventually holds after u0 = 16 .
Before b1 <= 22, it is always the case that if h1 <= 2 holds, then k1 = 2 eventually holds.
After c1 >= 20, it is always the case that if c0 = 5 holds, then b0 >= 12 eventually holds.
Between g1 = 24 and e1 < 13, it is always the case that if e1 < 29 holds and is succeeded by o0 = 12, then f1 >= 6 previously held.
After k1 = 10, it is always the case that if x0 > 2 holds and is succeeded by b0 = 16, then q0 >= 18 previously held.
Before o0 < 1, it is always the case that if m0 < 3 holds, then h0 >= 6 eventually holds and is succeeded by g1 < 15, where f0 = 18 does not hold between h0 >= 6 and g1 < 15 .
After k1 < 20 until h0 >= 13, it is always the case that if a1 > 23 holds, then d0 = 21 previously held.
Before e0 >= 10, it is always the case that if a0 > 1 holds and is succeeded by f0 < 13, then o0 >= 16 eventually holds after f0 < 13 .
After e0 >= 23, it is always the case that if g1 <= 18 holds and is succeeded by r0 > 21, then h1 > 21 previously held.
After l1 > 14, it is always the case that if n0 < 12 holds and is succeeded by x0 = 12, then b1 >= 16 eventually holds after x0 = 12 .
After n0 <= 20 until n0 = 27, it is always the case that if c1 < 6 holds and is succeeded by h0 <= 15, then s0 < 0 previously held.
After b0 <= 3, it is never the case that c1 = 15 holds.
Between b1 > 30 and m0 >= 12, it is always the case that e1 >= 16 holds.
Before b1 > 29, it is never the case that m0 = 15 holds.
After g1 > 13, it is always the case that c0 < 30 holds.
Between e0 < 13 and h1 < 25, it is always the case that if h1 <= 5 holds, then g0 < 25 eventually holds and is succeeded by s0 >= 3, where d0 = 22 does not hold between g0 < 25 and s0 >= 3 .
Between m1 >= 13 and k1 = 21, it is always the case that if c1 >= 24 holds and is succeeded by l0 >= 16, then k1 > 8 eventually holds after l0 >= 16 .
Globally, it is always the case that if e0 > 31 holds and is succeeded by z0 < 13, then k1 = 31 eventually holds after z0 < 13 .
After j0 = 9 until w0 >= 19, a1 <= 22 eventually holds.
Between j0 > 2 and m0 >= 7, z0 > 22 eventually holds.
After a0 <= 19, it is always the case that if d1 < 25 holds, then f1 > 1 eventually holds and is succeeded by h0 < 13, where l1 = 2 does not hold between f1 > 1 and h0 < 13 .
After z0 <= 12, it is always the case that if n0 >= 15 holds, then t0 > 1 eventually holds.
Before e1 > 15, it is always the case that e1 < 2 holds.
After a1 >= 11, it is always the case that if h1 <= 18 holds, then f0 <= 28 previously held.
Before h1 > 8, it is always the case that if d1 < 4 holds, then d1 < 14 eventually holds and is succeeded by p0 = 17 .
Between i1 >= 28 and q0 >= 25, it is always the case that if e0 >= 26 holds and is succeeded by b0 <= 10, then m1 >= 28 eventually holds after b0 <= 10 .
After d0 <= 25 until i0 > 6, it is always the case that if h0 = 26 holds and is succeeded by p0 = 21, then r0 >= 3 previously held.
Between j0 < 5 and m0 <= 7, it is always the case that e1 = 6 holds.
Between i0 > 9 and u0 <= 16, it is always the case that if c1 = 14 holds and is succeeded by j0 >= 27, then w0 > 14 previously held.
After o0 > 2 until v0 <= 15, it is always the case that if y0 >= 8 holds, then z0 = 26 previously held.
Globally, it is never the case that t0 = 27 holds.
Before c0 > 22, it is always the case that if d1 > 18 holds, then m1 >= 12 eventually holds.
Between j1 = 22 and w0 > 5, it is always the case that if i0 >= 1 holds and is succeeded by k0 >= 1, then i1 < 28 eventually holds after k0 >= 1 .
After u0 <= 6 until m1 < 13, it is always the case that if q0 >= 27 holds, then i0 <= 15 previously held and was preceded by d1 >= 12 .
After a1 > 1 until w0 < 5, it is always the case that if n0 > 14 holds and is succeeded by s0 > 19, then c1 > 6 eventually holds after s0 > 19 .
After g1 >= 16 until b0 = 11, it is always the case that k1 > 19 holds.
Between m1 = 6 and g0 <= 9, y0 = 21 eventually holds.
Globally, it is never the case that m1 > 17 holds.
After o0 > 2, it is always the case that if k1 = 15 holds, then d0 < 30 eventually holds.
After b1 = 4, it is always the case that if b0 >= 2 holds, then o0 > 6 eventually holds and is succeeded by k1 >= 12 .
After o0 < 31 until x0 = 0, it is always the case that if x0 = 26 holds, then m1 <= 1 previously held and was preceded by t0 < 19 .
Before o0 <= 24, s0 <= 3 eventually holds.
Between a0 <= 6 and g0 <= 25, it is always the case that if a0 < 26 holds and is succeeded by c0 <= 0, then o0 <= 18 eventually holds after c0 <= 0 .
Before l0 < 4, it is always the case that if d0 <= 8 holds, then s0 < 15 eventually holds and is succeeded by m1 = 11, where f1 <= 28 does not hold between s0 < 15 and m1 = 11 .
Between l0 >= 7 and r0 <= 19, a0 <= 29 eventually holds.
Between c0 = 19 and y0 > 7, it is never the case that i1 <= 25 holds.
After k1 >= 1, it is always the case that if c0 <= 22 holds, then p0 = 18 eventually holds.
Globally, it is always the case that if d1 >= 14 holds, then l0 > 23 previously held and was preceded by i1 <= 4 .
After z0 <= 11 until j1 >= 14, it is always the case that if w0 <= 7 holds, then i0 <= 19 eventually holds and is succeeded by f0 <= 20 .
Before b0 >= 9, it is always the case that if v0 <= 21 holds and is succeeded by h1 > 22, then g1 >= 13 eventually holds after h1 > 22 .
Globally, it is always the case that if e1 < 23 holds, then w0 > 10 eventually holds and is succeeded by h0 = 16, where f0 = 28 does not hold between w0 > 10 and h0 = 16 .
Before f0 > 21, it is always the case that if j0 >= 26 holds, then l1 > 22 eventually holds and is succeeded by m0 < 28 .
Before l0 >= 14, it is always the case that if b0 <= 17 holds and is succeeded by m1 >= 24, then e0 = 27 previously held.
Globally, it is always the case that if p0 >= 23 holds, then f0 > 14 previously held.
Before u0 > 19, it is always the case that if a0 > 9 holds, then k0 = 5 eventually holds and is succeeded by r0 <= 22, where p0 >= 26 does not hold between k0 = 5 and r0 <= 22 .
Between v0 > 4 and f1 >= 1, it is always the case that if d0 > 28 holds, then e0 <= 6 eventually holds.
Globally, it is always the case that if g1 = 6 holds, then g1 = 29 eventually holds and is succeeded by h0 > 9, where p0 = 29 does not hold between g1 = 29 and h0 > 9 .
Between d0 >= 27 and d1 = 13, it is always the case that if q0 < 8 holds and is succeeded by u0 < 23, then t0 <= 26 previously held.
Globally, it is never the case that m1 >= 12 holds.
After l1 <= 14 until v0 < 1, it is always the case that if t0 > 13 holds, then t0 = 17 eventually holds and is succeeded by d0 >= 15 .
Before t0 = 27, it is always the case that if m0 < 20 holds and is succeeded by l0 >= 8, then y0 = 12 previously held.
Before l1 >= 1, it is never the case that k1 >= 27 holds.
After e0 < 17, j1 <= 5 eventually holds.
After b1 >= 19 until o0 = 28, it is always the case that if k1 > 5 holds, then v0 < 29 eventually holds and is succeeded by e0 = 12, where l0 > 27 does not hold between v0 < 29 and e0 = 12 .
Globally, it is never the case that c1 >= 29 holds.
Globally, m1 >= 12 eventually holds.
After f1 <= 0, it is always the case that if e1 < 7 holds, then s0 = 8 eventually holds and is succeeded by a1 > 11, where l0 > 3 does not hold between s0 = 8 and a1 > 11 .
Between e1 > 11 and f0 >= 10, it is always the case that if a1 <= 30 holds and is succeeded by x0 <= 28, then n0 = 22 eventually holds after x0 <= 28 .
After c0 <= 2 until m0 < 13, it is always the case that j0 < 22 holds.
After k1 = 7 until y0 = 7, it is always the case that if i0 < 27 holds, then m0 < 20 eventually holds and is succeeded by a1 > 18 .
Between i1 <= 6 and z0 = 13, it is always the case that if b0 < 2 holds and is succeeded by w0 < 16, then b1 = 7 previously held.
Globally, it is always the case that if p0 <= 18 holds, then v0 <= 5 eventually holds and is succeeded by d1 >= 2, where l0 = 17 does not hold between v0 <= 5 and d1 >= 2 .
Globally, it is never the case that v0 < 27 holds.
After k1 >= 4 until c1 > 13, it is never the case that z0 < 5 holds.
After x0 = 2, it is always the case that if f1 > 3 holds, then z0 > 31 eventually holds.
Globally, l1 > 27 eventually holds.
Between p0 = 21 and e0 < 1, it is never the case that d1 > 5 holds.
Before c0 < 20, it is always the case that if s0 = 21 holds, then f1 > 30 eventually holds.
Between c0 >= 19 and y0 >= 8, it is always the case that if b0 = 4 holds, then g1 > 25 eventually holds.
After e0 < 23 until e0 <= 25, it is always the case that if e1 > 26 holds, then t0 > 0 eventually holds and is succeeded by x0 >= 15, where m0 >= 24 does not hold between t0 > 0 and x0 >= 15 .
Between k1 = 3 and h0 <= 23, d0 <= 17 eventually holds.
Between m1 = 16 and h1 <= 8, o0 > 19 eventually holds.
Globally, it is always the case that if j1 > 30 holds and is succeeded by a1 < 29, then j0 > 23 previously held.
Globally, it is always the case that if r0 <= 22 holds, then b1 >= 27 eventually holds.
After j1 > 4 until c1 > 4, it is always the case that if o0 < 27 holds, then h1 > 30 previously held.
Between b1 < 19 and e1 <= 8, it is always the case that if h0 >= 9 holds, then y0 > 8 eventually holds and is succeeded by h1 <= 21 .
After f1 <= 5 until m1 >= 15, it is always the case that if e1 = 22 holds, then r0 = 27 eventually holds.
Between d1 >= 12 and i1 >= 10, it is always the case that x0 < 26 holds.
Globally, it is always the case that if o0 <= 10 holds, then k1 <= 14 eventually holds.
Globally, it is never the case that h0 < 28 holds.
Before j0 > 7, k1 >= 12 eventually holds.
After b0 > 1, it is never the case that l0 >= 13 holds.
Between i1 < 18 and e0 > 10, it is always the case that if r0 > 7 holds, then x0 <= 24 eventually holds.
After m0 > 14 until q0 <= 26, it is always the case that v0 = 18 holds.
After z0 < 30, it is always the case that if l1 < 20 holds, then f0 = 25 previously held and was preceded by r0 <= 5 .
Globally, it is always the case that if o0 < 23 holds, then k1 <= 14 previously held and was preceded by c1 >= 3 .
Between c1 > 14 and f0 = 28, it is always the case that if o0 <= 28 holds, then q0 <= 20 previously held.
After i1 >= 11, it is always the case that if j1 > 5 holds and is succeeded by v0 >= 15, then e0 < 2 eventually holds after v0 >= 15 .
Globally, it is always the case that if s0 >= 17 holds, then o0 > 29 eventually holds and is succeeded by o0 >= 6, where m1 >= 24 does not hold between o0 > 29 and o0 >= 6 .
Globally, it is always the case that if o0 = 5 holds and is succeeded by p0 > 30, then o0 > 0 previously held.
After z0 <= 30, it is never the case that s0 < 19 holds.
Before y0 > 15, it is always the case that if s0 >= 29 holds and is succeeded by b1 > 18, then a0 < 4 previously held.
After v0 = 13, it is always the case that if k0 >= 6 holds, then m1 = 5 previously held and was preceded by i0 >= 8 .
Before t0 < 2, it is always the case that if j1 > 23 holds, then k1 = 31 previously held.
Globally, it is always the case that if s0 <= 4 holds and is succeeded by u0 > 10, then l0 <= 30 eventually holds after u0 > 10 .
After e0 > 4 until h1 > 8, it is never the case that l1 = 0 holds.
Globally, y0 <= 11 eventually holds.
Before l1 > 15, it is always the case that if l0 >= 7 holds, then g1 > 11 eventually holds.
After w0 < 3, o0 < 17 eventually holds.
Globally, it is always the case that if p0 > 18 holds and is succeeded by r0 = 4, then b1 < 8 eventually holds after r0 = 4 .
Globally, it is always the case that if y0 <= 27 holds and is succeeded by g0 <= 29, then j1 = 26 previously held.
Between d1 = 11 and e0 > 11, it is always the case that if v0 >= 5 holds, then j1 < 0 previously held and was preceded by v0 < 30 .
Globally, it is always the case that if k0 <= 14 holds, then k0 <= 5 previously held.
After y0 < 9, it is always the case that if g0 = 26 holds, then g0 >= 26 eventually holds.
After h0 = 18 until b1 = 24, it is always the case that n0 > 27 holds.
After v0 >= 7 until r0 < 4, it is always the case that if e0 < 16 holds and is succeeded by z0 < 25, then s0 = 31 eventually holds after z0 < 25 .
After c0 < 18 until h0 > 9, it is always the case that if f1 < 11 holds, then c0 = 30 previously held and was preceded by f1 > 25 .
Globally, it is always the case that if h1 <= 8 holds, then n0 < 21 eventually holds and is succeeded by m0 = 14, where m1 < 30 does not hold between n0 < 21 and m0 = 14 .
Globally, e0 <= 6 eventually holds.
Between j1 = 2 and a0 = 11, f1 = 5 eventually holds.
Globally, it is always the case that if o0 <= 7 holds, then z0 >= 6 eventually holds and is succeeded by z0 > 30 .
Before x0 = 13, it is always the case that if y0 <= 19 holds and is succeeded by a0 <= 25, then i1 > 1 eventually holds after a0 <= 25 .
After q0 <= 29 until o0 < 6, it is always the case that if h0 <= 21 holds and is succeeded by x0 >= 19, then p0 = 12 previously held.
