Before h11 = 21, it is always the case that if n9 < 5 holds, then h7 <= 15 previously held.
Between o3 > 15 and u8 < 1, it is always the case that if d0 <= 16 holds and is succeeded by t0 > 13, then v9 <= 21 eventually holds after t0 > 13 .
Between m11 < 29 and r1 < 1, it is always the case that if m11 > 9 holds, then z3 > 31 previously held and was preceded by y2 <= 0 .
After y10 < 9, it is always the case that if g4 > 28 holds, then v4 >= 25 eventually holds.
Globally, l0 = 10 eventually holds.
After k11 <= 3 until i4 <= 9, it is always the case that if c3 < 29 holds, then k0 > 25 eventually holds.
Between f9 < 11 and d11 < 25, it is always the case that m11 < 20 holds.
After n5 <= 20, it is always the case that if g2 > 26 holds and is succeeded by o11 <= 23, then o2 <= 25 previously held.
Before l6 >= 6, o11 > 30 eventually holds.
After i11 < 5 until z9 = 7, it is always the case that if a5 > 11 holds and is succeeded by g5 <= 16, then k11 <= 24 eventually holds after g5 <= 16 .
After a2 > 6, it is never the case that b11 >= 28 holds.
Before k7 = 10, it is always the case that if t2 >= 20 holds, then z11 > 29 eventually holds and is succeeded by p2 > 23 .
Before c2 > 3, it is always the case that if q8 = 6 holds and is succeeded by p10 = 4, then e8 <= 27 eventually holds after p10 = 4 .
Between w3 = 13 and t9 > 30, it is always the case that if q1 < 2 holds, then o5 >= 31 eventually holds and is succeeded by z2 <= 22 .
After d6 >= 9 until a2 > 15, it is always the case that if r0 < 7 holds and is succeeded by u8 > 10, then k0 < 11 eventually holds after u8 > 10 .
Between p2 > 19 and m6 >= 12, it is always the case that p5 <= 30 holds.
After f3 = 3, it is always the case that if h9 >= 10 holds, then e1 < 7 previously held and was preceded by a1 >= 6 .
Globally, it is always the case that if n1 <= 15 holds, then s1 > 20 previously held and was preceded by i6 >= 20 .
Globally, it is always the case that if w11 = 30 holds and is succeeded by b6 < 6, then n10 >= 2 eventually holds after b6 < 6 .
Globally, it is always the case that if y7 <= 1 holds, then w5 = 16 eventually holds.
Between u5 >= 2 and w0 = 24, it is always the case that if o3 = 25 holds, then f11 = 19 eventually holds.
Globally, it is always the case that if a0 = 26 holds and is succeeded by b11 <= 13, then s9 = 23 eventually holds after b11 <= 13 .
After e1 = 12, it is always the case that j11 <= 21 holds.
After e6 = 10, it is always the case that f0 <= 17 holds.
After r9 < 18, it is always the case that if y4 >= 6 holds and is succeeded by x9 < 28, then g10 > 21 eventually holds after x9 < 28 .
Between i9 >= 31 and e4 <= 29, l0 <= 17 eventually holds.
Before q7 >= 0, it is always the case that if v10 > 16 holds, then c10 >= 12 eventually holds and is succeeded by f7 = 24, where b2 >= 7 does not hold between c10 >= 12 and f7 = 24 .
Between x1 < 2 and s0 <= 27, s2 = 8 eventually holds.
Between y2 < 26 and z6 <= 20, it is always the case that if r0 <= 19 holds, then v10 < 18 previously held and was preceded by u8 >= 27 .
After m2 >= 1 until f7 <= 21, it is always the case that if f7 > 26 holds, then q5 > 7 previously held.
After p3 < 16 until d1 = 8, it is never the case that l2 = 2 holds.
After u9 <= 14, it is always the case that if b10 = 20 holds and is succeeded by c0 < 13, then o2 < 12 eventually holds after c0 < 13 .
After d8 > 23 until g7 <= 10, it is always the case that if q11 >= 18 holds and is succeeded by l9 > 14, then o8 < 6 eventually holds after l9 > 14 .
Before j5 >= 24, it is always the case that if b4 >= 6 holds, then p2 >= 29 eventually holds and is succeeded by c12 > 14 .
Globally, it is always the case that if x3 < 19 holds, then i5 < 9 eventually holds.
After p2 >= 10 until s0 > 31, it is always the case that if f8 = 20 holds, then z4 < 16 previously held and was preceded by n10 < 15 .
Before q9 < 5, it is never the case that s3 = 12 holds.
After n11 = 15, it is always the case that if z10 >= 24 holds, then p6 < 28 previously held.
Before k11 >= 20, it is always the case that m3 > 31 holds.
Globally, it is always the case that if e4 < 12 holds, then d10 = 11 eventually holds and is succeeded by c2 < 15, where p9 <= 29 does not hold between d10 = 11 and c2 < 15 .
After z7 <= 1 until x2 >= 20, it is never the case that h3 <= 20 holds.
Globally, it is always the case that if d8 = 5 holds, then u9 < 3 eventually holds and is succeeded by x8 = 24 .
Before k8 > 11, it is always the case that if q1 = 9 holds, then l1 < 0 previously held.
After b1 >= 5, it is never the case that j10 = 1 holds.
After n1 > 13, it is never the case that i5 < 29 holds.
Globally, it is always the case that if q0 <= 2 holds, then o0 = 4 previously held.
Between e0 >= 15 and p9 >= 28, it is always the case that if u6 = 24 holds and is succeeded by c6 = 14, then c3 > 22 eventually holds after c6 = 14 .
After l0 >= 6 until y11 <= 29, it is always the case that v7 = 23 holds.
Globally, it is always the case that q1 >= 16 holds.
Between n0 > 17 and n4 < 29, it is always the case that if z5 >= 30 holds, then n10 < 23 eventually holds and is succeeded by z1 >= 29, where d3 = 8 does not hold between n10 < 23 and z1 >= 29 .
Before i5 = 12, it is always the case that if u9 < 7 holds and is succeeded by r11 <= 28, then y7 < 24 eventually holds after r11 <= 28 .
After g10 = 13, it is always the case that if v8 >= 7 holds, then p5 >= 2 previously held.
Globally, it is always the case that if k9 > 20 holds and is succeeded by t11 <= 23, then h10 <= 19 previously held.
After d0 <= 14 until s2 <= 18, it is always the case that if z11 < 20 holds and is succeeded by a12 >= 2, then u10 >= 2 previously held.
After w7 = 4, it is always the case that if t7 <= 9 holds, then f6 <= 10 previously held and was preceded by j0 >= 24 .
After q2 = 29 until h9 <= 30, it is always the case that if u10 > 1 holds and is succeeded by z10 >= 19, then z8 > 19 previously held.
Before v0 < 24, it is always the case that if n5 > 16 holds, then d6 <= 12 eventually holds and is succeeded by p10 <= 31 .
After d9 < 29, it is never the case that l2 > 8 holds.
Before m7 = 15, it is always the case that if k11 < 27 holds, then y1 <= 8 previously held.
Between x10 >= 12 and r6 = 15, it is always the case that if g4 > 3 holds, then p5 <= 27 eventually holds and is succeeded by f12 >= 15 .
Globally, it is always the case that if n2 >= 0 holds, then d7 = 26 previously held.
Before r0 <= 16, s10 > 20 eventually holds.
After d11 > 19 until m0 <= 17, it is never the case that i0 < 21 holds.
Before x0 = 24, it is always the case that if q10 <= 23 holds, then n8 >= 25 eventually holds and is succeeded by z4 <= 20 .
Between x7 >= 21 and p11 <= 6, it is always the case that if r2 > 3 holds, then n4 <= 4 previously held and was preceded by v9 <= 31 .
Globally, it is always the case that n0 >= 28 holds.
After c3 >= 18, it is always the case that x2 < 8 holds.
Before m9 <= 14, it is always the case that if s2 >= 30 holds and is succeeded by v3 <= 27, then i1 = 11 eventually holds after v3 <= 27 .
Before a6 >= 7, it is always the case that if u6 <= 12 holds and is succeeded by i1 > 22, then f8 >= 18 eventually holds after i1 > 22 .
Between c10 = 27 and m9 <= 30, it is always the case that if r5 >= 15 holds and is succeeded by g1 <= 12, then u7 = 23 previously held.
After l0 > 7 until w11 < 3, it is always the case that o6 <= 8 holds.
Globally, it is never the case that h4 = 15 holds.
After g10 <= 6 until l11 <= 6, s4 >= 11 eventually holds.
After z0 <= 4 until h2 < 19, it is always the case that if u6 <= 19 holds, then v7 < 20 previously held.
After u3 >= 12, it is always the case that if m9 > 18 holds, then r0 < 20 eventually holds.
Before z4 >= 27, it is always the case that if l2 <= 6 holds, then r1 = 30 eventually holds and is succeeded by v3 < 15 .
After g1 < 26, it is always the case that if e3 < 5 holds, then l7 <= 1 previously held.
After v11 <= 30 until w10 < 29, it is always the case that if d7 > 31 holds, then h6 = 23 eventually holds and is succeeded by h5 <= 1 .
After y9 = 2 until w3 >= 10, e9 > 25 eventually holds.
Between v7 < 29 and p1 <= 25, it is always the case that if m11 <= 28 holds, then x0 <= 19 eventually holds and is succeeded by p4 > 12, where k7 = 24 does not hold between x0 <= 19 and p4 > 12 .
Before g8 < 18, a8 = 14 eventually holds.
After g0 <= 8, it is always the case that if r11 < 0 holds, then o11 > 10 eventually holds.
Globally, it is always the case that if c8 < 1 holds, then k9 >= 27 previously held and was preceded by w7 = 22 .
Between e2 = 5 and n1 < 14, it is never the case that c2 < 18 holds.
Before c0 < 29, it is always the case that if e9 < 13 holds and is succeeded by t4 > 11, then i1 <= 3 eventually holds after t4 > 11 .
After b11 > 1, it is always the case that if e0 = 7 holds, then a2 >= 10 eventually holds and is succeeded by m0 <= 30, where d4 = 4 does not hold between a2 >= 10 and m0 <= 30 .
After q6 = 8, it is always the case that if v3 > 24 holds, then y3 >= 27 eventually holds and is succeeded by o6 >= 15 .
Between l3 >= 19 and a6 = 0, it is never the case that c10 = 22 holds.
Between r0 >= 21 and k9 < 27, it is always the case that if b6 > 8 holds, then k7 > 5 previously held.
Between r5 < 15 and z11 >= 27, it is always the case that if n1 <= 3 holds and is succeeded by w5 < 15, then f5 < 28 eventually holds after w5 < 15 .
After v4 = 6 until r0 = 14, r11 >= 6 eventually holds.
Between b4 >= 19 and x9 = 31, it is always the case that if m4 < 4 holds, then y3 = 22 eventually holds and is succeeded by o9 >= 19, where s2 > 29 does not hold between y3 = 22 and o9 >= 19 .
After o7 <= 15, it is always the case that if u0 >= 24 holds, then q0 >= 12 previously held and was preceded by c5 <= 16 .
After s11 > 18 until z11 > 26, it is always the case that if j7 >= 5 holds, then f6 > 14 previously held.
After o8 <= 4, it is never the case that b10 >= 1 holds.
Globally, it is always the case that if i3 > 15 holds and is succeeded by k9 = 3, then i3 >= 13 eventually holds after k9 = 3 .
Before u7 > 27, it is always the case that if s2 >= 30 holds, then p8 > 9 eventually holds and is succeeded by b11 = 28, where p9 > 2 does not hold between p8 > 9 and b11 = 28 .
After n3 <= 8 until u0 = 24, it is always the case that if e12 = 26 holds and is succeeded by h4 < 17, then n2 <= 19 eventually holds after h4 < 17 .
Globally, a6 <= 3 eventually holds.
Between r5 > 8 and h9 = 31, it is never the case that k1 >= 13 holds.
After j11 = 4 until y5 > 14, it is always the case that if i7 = 3 holds, then h7 >= 13 eventually holds.
Before q10 = 29, q9 >= 22 eventually holds.
After q4 = 14 until p6 > 12, it is always the case that if m5 < 10 holds and is succeeded by h7 <= 2, then z0 >= 20 previously held.
Globally, k0 < 26 eventually holds.
After p6 >= 30 until m9 < 22, it is always the case that if q0 > 24 holds, then f3 < 27 eventually holds and is succeeded by b3 < 5 .
After f8 >= 30, it is always the case that if x2 <= 27 holds, then m9 < 8 previously held and was preceded by s5 >= 26 .
After w5 >= 27, it is always the case that if c0 > 12 holds, then u7 >= 1 eventually holds.
Between z2 < 7 and g8 > 18, it is always the case that if z6 < 3 holds, then d9 <= 8 eventually holds and is succeeded by e7 = 6, where j10 >= 1 does not hold between d9 <= 8 and e7 = 6 .
Before q11 < 19, it is always the case that a11 = 19 holds.
After b5 > 3 until j5 >= 2, it is never the case that o5 < 11 holds.
Before q1 >= 14, it is always the case that if u9 = 16 holds, then j0 = 8 previously held and was preceded by g4 <= 30 .
After r2 > 2, it is always the case that if w10 >= 9 holds and is succeeded by r1 < 5, then h9 <= 16 eventually holds after r1 < 5 .
Between s2 >= 22 and x8 <= 29, it is always the case that if v11 >= 28 holds, then b5 > 3 eventually holds and is succeeded by p4 > 1, where a9 >= 26 does not hold between b5 > 3 and p4 > 1 .
Between t2 <= 16 and c3 < 24, it is always the case that if p9 = 16 holds, then p3 >= 24 eventually holds and is succeeded by l11 <= 23, where i3 < 0 does not hold between p3 >= 24 and l11 <= 23 .
Before n5 > 0, it is always the case that if l4 <= 24 holds, then v2 <= 9 previously held and was preceded by l3 < 17 .
After b0 = 17, it is always the case that if f5 = 0 holds, then t8 >= 24 eventually holds.
After c11 >= 22 until i9 > 30, it is always the case that if z8 >= 10 holds and is succeeded by l7 = 30, then v6 <= 23 previously held.
After s9 >= 30, h0 >= 16 eventually holds.
Globally, it is never the case that q3 = 28 holds.
After c0 = 30, it is always the case that if g10 < 26 holds and is succeeded by x0 < 14, then n4 >= 26 eventually holds after x0 < 14 .
