Globally, h0 = 17 eventually holds.
After i0 > 2, it is always the case that if g0 < 14 holds, then a0 <= 27 previously held.
Globally, it is always the case that if b0 < 1 holds and is succeeded by b0 > 31, then c0 <= 4 eventually holds after b0 > 31 .
After c0 <= 20 until e0 > 16, it is always the case that if e0 = 9 holds, then a0 <= 14 eventually holds and is succeeded by a0 >= 31, where e0 < 21 does not hold between a0 <= 14 and a0 >= 31 .
After d0 < 31 until i0 <= 8, it is always the case that if e0 > 27 holds, then h0 <= 25 eventually holds and is succeeded by h0 > 3, where a0 < 23 does not hold between h0 <= 25 and h0 > 3 .
After a0 > 3 until f0 <= 20, it is always the case that b0 >= 18 holds.
After b0 >= 20, it is always the case that h0 > 12 holds.
After e0 <= 7 until d0 > 15, it is always the case that if i0 >= 10 holds, then f0 >= 19 eventually holds and is succeeded by a0 = 2, where g0 <= 6 does not hold between f0 >= 19 and a0 = 2 .
Globally, it is always the case that e0 <= 10 holds.
Between g0 > 16 and e0 <= 2, it is always the case that h0 < 14 holds.
Between a0 >= 18 and c0 >= 27, it is always the case that i0 = 5 holds.
Globally, it is always the case that if f0 > 13 holds, then b0 <= 11 previously held and was preceded by d0 >= 8 .
Between c0 >= 12 and d0 <= 15, it is never the case that f0 > 15 holds.
Between h0 < 7 and f0 > 24, it is always the case that if i0 < 5 holds, then b0 <= 16 eventually holds.
Globally, it is always the case that if g0 >= 27 holds, then a0 >= 11 previously held.
Globally, it is always the case that if b0 < 24 holds, then d0 = 16 eventually holds and is succeeded by h0 = 16 .
Between g0 > 15 and g0 > 15, it is always the case that if b0 <= 11 holds, then f0 > 10 previously held.
After d0 >= 26 until h0 = 28, it is always the case that if g0 >= 27 holds, then f0 = 17 eventually holds.
Between b0 < 27 and e0 >= 19, it is always the case that g0 <= 7 holds.
Before f0 = 27, it is never the case that e0 = 9 holds.
Between c0 = 6 and e0 > 5, h0 > 15 eventually holds.
Globally, b0 > 18 eventually holds.
After e0 < 10 until i0 >= 8, it is always the case that a0 > 12 holds.
After d0 <= 23, it is always the case that if g0 >= 13 holds, then h0 < 4 eventually holds.
After h0 > 30, it is always the case that if c0 > 25 holds, then g0 = 14 eventually holds and is succeeded by g0 > 24 .
After h0 < 27, d0 = 12 eventually holds.
After i0 <= 1, it is always the case that if e0 = 6 holds, then h0 >= 7 eventually holds and is succeeded by h0 = 6, where e0 > 10 does not hold between h0 >= 7 and h0 = 6 .
After b0 <= 6, it is always the case that if f0 = 30 holds, then c0 <= 28 eventually holds and is succeeded by a0 = 31, where h0 = 23 does not hold between c0 <= 28 and a0 = 31 .
After d0 > 25 until f0 < 17, it is always the case that if d0 <= 12 holds, then f0 = 16 eventually holds.
Globally, it is never the case that g0 <= 2 holds.
After h0 < 4 until h0 < 3, g0 < 2 eventually holds.
After h0 <= 29 until d0 = 18, it is always the case that b0 <= 29 holds.
Before h0 < 1, it is always the case that if d0 <= 8 holds, then d0 > 17 eventually holds and is succeeded by g0 > 14 .
After f0 <= 3 until e0 < 25, it is always the case that if i0 >= 26 holds, then a0 < 12 eventually holds and is succeeded by f0 < 21, where c0 < 26 does not hold between a0 < 12 and f0 < 21 .
Between a0 >= 24 and i0 < 9, it is always the case that if h0 <= 14 holds and is succeeded by d0 <= 12, then i0 > 9 previously held.
Between h0 = 0 and c0 < 31, it is always the case that if a0 > 25 holds, then h0 >= 16 eventually holds and is succeeded by d0 >= 10 .
Globally, it is always the case that if a0 < 3 holds, then f0 <= 15 previously held.
Before e0 = 17, it is always the case that if h0 >= 29 holds, then b0 >= 22 eventually holds and is succeeded by d0 <= 4 .
After c0 < 5, it is always the case that if h0 < 2 holds, then h0 < 0 previously held.
Globally, it is always the case that if g0 >= 21 holds and is succeeded by h0 = 21, then e0 < 7 previously held.
After d0 = 25 until a0 < 18, it is always the case that if i0 <= 22 holds, then a0 >= 11 previously held.
Between h0 < 5 and e0 = 11, it is always the case that if i0 >= 2 holds, then g0 <= 5 eventually holds and is succeeded by d0 >= 4, where h0 < 10 does not hold between g0 <= 5 and d0 >= 4 .
After a0 = 29, it is never the case that d0 >= 12 holds.
After g0 = 19, it is always the case that if a0 = 29 holds, then d0 >= 20 eventually holds and is succeeded by i0 < 2, where f0 <= 20 does not hold between d0 >= 20 and i0 < 2 .
After b0 > 9 until h0 <= 3, it is always the case that if i0 < 6 holds and is succeeded by c0 >= 24, then g0 >= 18 previously held.
Between h0 <= 19 and i0 = 10, it is always the case that if h0 < 30 holds, then e0 >= 30 eventually holds.
After f0 <= 31 until c0 >= 13, it is always the case that if f0 < 23 holds, then e0 = 27 eventually holds and is succeeded by d0 >= 25 .
Between g0 < 21 and c0 = 5, it is never the case that b0 = 29 holds.
Before a0 <= 2, it is never the case that i0 > 1 holds.
Globally, it is always the case that if f0 > 8 holds, then g0 > 30 previously held.
After c0 = 1, it is always the case that if b0 = 9 holds, then d0 < 21 previously held and was preceded by a0 <= 19 .
Between g0 > 1 and b0 <= 5, it is always the case that if e0 <= 25 holds, then h0 > 10 previously held and was preceded by a0 > 8 .
Before e0 = 29, it is always the case that f0 >= 17 holds.
After g0 > 10, it is always the case that if a0 <= 11 holds, then g0 >= 21 eventually holds and is succeeded by g0 >= 2, where a0 >= 1 does not hold between g0 >= 21 and g0 >= 2 .
After e0 = 31 until d0 > 11, it is always the case that if f0 <= 8 holds, then h0 >= 22 eventually holds and is succeeded by b0 = 3, where c0 = 27 does not hold between h0 >= 22 and b0 = 3 .
After f0 <= 18, it is always the case that if c0 > 4 holds, then h0 > 25 previously held.
Globally, it is always the case that if f0 <= 11 holds, then i0 > 6 eventually holds and is succeeded by f0 = 5, where a0 = 29 does not hold between i0 > 6 and f0 = 5 .
After i0 > 16 until f0 > 31, it is always the case that if a0 >= 3 holds, then h0 >= 9 previously held and was preceded by a0 < 26 .
After c0 >= 19 until e0 < 11, it is always the case that if e0 <= 28 holds, then a0 <= 27 eventually holds and is succeeded by i0 >= 6 .
After e0 < 6, it is always the case that if h0 >= 1 holds and is succeeded by c0 > 18, then f0 <= 3 eventually holds after c0 > 18 .
Between h0 > 16 and i0 < 24, it is always the case that g0 > 9 holds.
Between h0 <= 14 and f0 >= 22, it is never the case that g0 > 28 holds.
Before i0 < 1, it is always the case that if a0 = 23 holds, then c0 < 11 previously held and was preceded by h0 < 16 .
Between f0 >= 24 and b0 < 7, it is always the case that if f0 > 14 holds, then a0 < 11 eventually holds.
Globally, g0 > 9 eventually holds.
After c0 = 14, it is always the case that if b0 = 11 holds, then i0 = 6 eventually holds and is succeeded by h0 >= 11 .
After g0 = 12, c0 >= 15 eventually holds.
After i0 <= 12, it is always the case that if f0 < 6 holds, then i0 < 31 previously held and was preceded by i0 >= 3 .
Before b0 >= 27, it is always the case that if a0 >= 8 holds, then i0 <= 6 eventually holds and is succeeded by c0 <= 6 .
Between c0 < 18 and f0 < 22, it is always the case that b0 > 4 holds.
Between g0 <= 11 and f0 > 28, it is never the case that c0 > 4 holds.
After c0 <= 12 until i0 = 7, d0 = 14 eventually holds.
Globally, it is never the case that c0 = 6 holds.
Globally, it is always the case that g0 = 10 holds.
Between d0 > 5 and d0 <= 19, d0 = 18 eventually holds.
After c0 = 7, f0 >= 19 eventually holds.
Globally, it is always the case that if c0 <= 17 holds, then h0 = 2 eventually holds and is succeeded by b0 <= 5 .
Before a0 = 23, g0 <= 29 eventually holds.
Between g0 <= 0 and b0 >= 1, it is always the case that if h0 >= 0 holds, then f0 > 25 eventually holds.
After c0 <= 6, it is always the case that b0 < 25 holds.
After d0 = 4, it is always the case that if g0 > 2 holds, then f0 = 14 eventually holds and is succeeded by h0 = 24, where i0 > 21 does not hold between f0 = 14 and h0 = 24 .
Globally, it is always the case that if i0 >= 9 holds, then g0 = 29 previously held.
Before g0 > 17, it is always the case that if h0 = 31 holds, then e0 < 7 eventually holds and is succeeded by e0 >= 8, where g0 <= 4 does not hold between e0 < 7 and e0 >= 8 .
After a0 < 24 until c0 > 10, it is always the case that if g0 > 25 holds, then i0 <= 9 previously held.
Before c0 >= 10, it is always the case that if b0 < 17 holds, then f0 < 7 eventually holds and is succeeded by c0 = 20 .
Between d0 = 0 and h0 < 18, it is always the case that if c0 >= 20 holds, then i0 < 12 previously held.
After c0 = 17 until f0 < 31, it is always the case that if f0 < 19 holds and is succeeded by i0 <= 5, then g0 = 22 previously held.
After h0 >= 19, it is always the case that c0 >= 17 holds.
Between e0 = 24 and f0 > 13, it is always the case that if i0 > 16 holds, then b0 < 2 eventually holds and is succeeded by f0 < 22 .
After d0 < 23, it is always the case that if i0 >= 31 holds and is succeeded by g0 >= 3, then h0 <= 26 previously held.
Before h0 > 19, it is always the case that if b0 <= 1 holds, then a0 >= 23 eventually holds.
Before g0 > 31, it is always the case that if e0 < 21 holds, then b0 < 14 eventually holds.
Globally, it is never the case that c0 > 25 holds.
Globally, it is always the case that if e0 = 16 holds, then d0 >= 3 eventually holds.
Globally, it is never the case that d0 < 8 holds.
Before a0 <= 26, it is always the case that if b0 <= 20 holds, then d0 < 3 eventually holds and is succeeded by c0 > 17 .
Before e0 > 4, a0 >= 20 eventually holds.
Before i0 < 15, it is never the case that i0 = 20 holds.
Between i0 < 9 and a0 > 29, it is always the case that if c0 <= 1 holds, then i0 >= 20 previously held.
Globally, it is always the case that if d0 >= 26 holds, then i0 < 1 previously held.
After a0 < 20 until g0 > 23, it is always the case that if b0 <= 0 holds, then b0 <= 25 eventually holds.
After f0 >= 14 until b0 <= 23, it is always the case that if d0 >= 25 holds, then b0 > 6 previously held.
Between a0 < 23 and e0 >= 24, g0 > 23 eventually holds.
Before a0 <= 6, it is always the case that if i0 > 17 holds, then c0 < 21 eventually holds and is succeeded by f0 >= 2 .
Between g0 = 2 and g0 > 16, it is always the case that if d0 >= 15 holds, then c0 < 20 previously held and was preceded by i0 > 29 .
Before a0 <= 25, it is always the case that if c0 = 25 holds, then g0 > 30 eventually holds and is succeeded by b0 < 0, where d0 >= 12 does not hold between g0 > 30 and b0 < 0 .
After e0 <= 9 until c0 = 25, it is always the case that if b0 = 22 holds and is succeeded by i0 < 23, then b0 = 0 eventually holds after i0 < 23 .
Globally, it is always the case that if d0 = 5 holds, then i0 <= 15 previously held and was preceded by b0 = 9 .
Between g0 <= 11 and g0 < 5, it is always the case that g0 > 4 holds.
Before d0 < 16, it is always the case that if c0 >= 23 holds, then h0 < 20 previously held.
Between g0 < 23 and f0 >= 21, it is always the case that if b0 > 27 holds, then c0 = 9 previously held and was preceded by f0 < 29 .
Between f0 <= 8 and a0 > 9, it is always the case that c0 = 19 holds.
Between e0 >= 14 and h0 <= 31, e0 < 11 eventually holds.
Globally, it is always the case that if i0 = 25 holds, then h0 = 24 previously held and was preceded by d0 >= 4 .
After i0 <= 19 until d0 = 17, it is always the case that if c0 = 27 holds and is succeeded by b0 >= 22, then c0 = 17 eventually holds after b0 >= 22 .
Between e0 = 18 and e0 < 17, it is always the case that if a0 > 12 holds, then a0 > 7 eventually holds and is succeeded by i0 >= 4 .
Globally, it is always the case that if g0 < 23 holds, then i0 <= 20 eventually holds.
Globally, g0 >= 6 eventually holds.
Between e0 <= 18 and f0 >= 26, it is always the case that if i0 < 14 holds, then i0 <= 18 previously held.
Between f0 >= 10 and c0 >= 30, it is always the case that if f0 >= 28 holds, then h0 < 12 previously held.
Between h0 < 2 and d0 < 0, it is always the case that if h0 = 19 holds, then e0 >= 12 eventually holds and is succeeded by i0 < 21 .
After g0 = 4, it is always the case that if i0 > 28 holds, then h0 <= 10 eventually holds and is succeeded by e0 = 3 .
After a0 <= 28 until c0 <= 14, it is always the case that if e0 > 11 holds, then i0 >= 9 previously held.
After e0 > 27 until g0 > 6, it is always the case that if d0 <= 11 holds and is succeeded by b0 < 30, then h0 > 2 previously held.
After h0 < 13 until b0 < 14, it is always the case that if a0 < 30 holds and is succeeded by h0 > 25, then d0 = 6 previously held.
Globally, e0 = 27 eventually holds.
Between b0 < 30 and e0 <= 18, it is always the case that if a0 < 29 holds, then h0 <= 8 previously held and was preceded by g0 <= 10 .
Before a0 <= 25, it is always the case that if d0 < 15 holds, then b0 >= 4 eventually holds and is succeeded by f0 = 2 .
After a0 >= 19 until f0 >= 13, it is always the case that if a0 < 31 holds and is succeeded by g0 > 16, then b0 <= 9 eventually holds after g0 > 16 .
Between e0 < 11 and i0 < 11, it is always the case that if a0 > 14 holds and is succeeded by b0 > 5, then i0 >= 17 previously held.
Globally, it is always the case that if g0 = 3 holds, then e0 >= 12 eventually holds and is succeeded by c0 = 26, where c0 < 17 does not hold between e0 >= 12 and c0 = 26 .
After b0 = 17, it is always the case that if i0 >= 22 holds, then i0 = 25 eventually holds.
After f0 < 12, it is always the case that if e0 <= 14 holds, then h0 > 22 eventually holds and is succeeded by h0 < 7 .
After a0 > 12, it is always the case that if e0 > 21 holds, then c0 > 7 previously held and was preceded by e0 < 29 .
Between d0 > 28 and d0 >= 0, it is always the case that if e0 > 4 holds and is succeeded by a0 < 12, then a0 <= 24 previously held.
After h0 <= 26, it is always the case that if a0 <= 31 holds, then f0 <= 13 previously held and was preceded by d0 >= 0 .
Between a0 = 29 and i0 > 16, it is always the case that if e0 = 28 holds, then e0 <= 4 previously held and was preceded by i0 = 7 .
After f0 < 22 until c0 < 11, it is always the case that if d0 >= 23 holds, then d0 > 1 eventually holds and is succeeded by a0 <= 23, where g0 = 11 does not hold between d0 > 1 and a0 <= 23 .
Between d0 = 11 and h0 <= 17, it is always the case that d0 >= 21 holds.
After i0 <= 6 until h0 < 26, it is always the case that if h0 = 27 holds, then i0 >= 11 previously held.
After c0 <= 26, h0 < 23 eventually holds.
After g0 > 15 until h0 <= 5, it is always the case that e0 = 10 holds.
Between e0 >= 15 and c0 = 14, it is never the case that g0 < 17 holds.
Globally, it is always the case that if b0 >= 26 holds, then g0 > 11 eventually holds and is succeeded by i0 > 8, where g0 <= 6 does not hold between g0 > 11 and i0 > 8 .
Globally, it is always the case that if i0 < 18 holds, then e0 > 6 previously held.
Globally, a0 > 4 eventually holds.
Between c0 <= 22 and e0 > 0, it is always the case that h0 >= 6 holds.
After i0 >= 16 until g0 >= 31, it is always the case that if d0 <= 28 holds, then e0 = 2 eventually holds.
Between g0 < 14 and d0 > 6, g0 = 10 eventually holds.
Between a0 <= 31 and g0 < 5, it is always the case that if a0 > 8 holds and is succeeded by i0 < 5, then e0 >= 19 previously held.
After i0 < 21 until b0 = 19, it is always the case that i0 >= 24 holds.
After c0 > 9, it is always the case that if g0 = 0 holds, then i0 > 7 eventually holds and is succeeded by g0 >= 24, where g0 = 27 does not hold between i0 > 7 and g0 >= 24 .
Before e0 >= 21, it is always the case that if d0 < 12 holds, then d0 > 21 eventually holds and is succeeded by c0 >= 27 .
Globally, b0 = 3 eventually holds.
After g0 >= 9 until a0 >= 1, it is always the case that if i0 < 18 holds and is succeeded by f0 >= 14, then h0 >= 30 eventually holds after f0 >= 14 .
Before g0 = 2, i0 > 14 eventually holds.
After c0 = 10 until f0 = 15, it is always the case that if b0 = 2 holds, then e0 <= 23 eventually holds and is succeeded by i0 <= 31 .
Between g0 < 13 and e0 = 29, it is never the case that b0 < 25 holds.
Globally, it is always the case that g0 >= 19 holds.
After i0 <= 14, it is always the case that b0 = 13 holds.
After d0 < 30 until b0 < 18, it is always the case that if b0 < 14 holds, then f0 >= 28 eventually holds and is succeeded by c0 <= 19 .
Before e0 >= 17, it is always the case that if f0 < 18 holds and is succeeded by b0 < 26, then f0 = 25 previously held.
Globally, it is always the case that if d0 >= 18 holds, then i0 >= 22 eventually holds and is succeeded by d0 < 27, where g0 >= 21 does not hold between i0 >= 22 and d0 < 27 .
After c0 > 11 until b0 <= 28, it is always the case that if f0 <= 13 holds, then i0 <= 26 eventually holds.
Between g0 < 14 and f0 >= 9, it is always the case that if a0 >= 21 holds, then c0 < 2 eventually holds and is succeeded by f0 = 6, where d0 >= 22 does not hold between c0 < 2 and f0 = 6 .
After e0 >= 24 until h0 = 11, it is always the case that if d0 >= 16 holds and is succeeded by b0 > 5, then b0 = 21 previously held.
After b0 >= 11, it is always the case that if h0 > 24 holds, then i0 > 3 eventually holds and is succeeded by f0 = 16, where f0 = 23 does not hold between i0 > 3 and f0 = 16 .
Between i0 > 7 and h0 >= 13, it is never the case that c0 >= 20 holds.
Between b0 = 5 and h0 = 27, it is always the case that if g0 <= 9 holds, then b0 < 20 eventually holds and is succeeded by b0 >= 8, where f0 <= 24 does not hold between b0 < 20 and b0 >= 8 .
After i0 < 21 until g0 > 6, d0 > 8 eventually holds.
After e0 = 16, d0 > 16 eventually holds.
After c0 >= 7 until b0 >= 19, it is always the case that e0 <= 31 holds.
Between h0 > 16 and i0 >= 21, it is always the case that if f0 > 23 holds, then h0 < 27 previously held.
After f0 >= 13, it is always the case that if c0 = 3 holds, then f0 >= 16 eventually holds and is succeeded by c0 <= 24 .
Before a0 >= 1, it is always the case that d0 <= 28 holds.
Before a0 >= 5, it is always the case that e0 = 16 holds.
Globally, it is always the case that if f0 <= 19 holds, then b0 = 4 eventually holds and is succeeded by e0 < 30 .
Between i0 > 19 and b0 <= 28, it is always the case that if b0 >= 5 holds, then d0 = 23 previously held.
Between h0 < 9 and c0 <= 15, d0 = 31 eventually holds.
After f0 <= 9 until g0 = 12, it is always the case that if h0 >= 15 holds and is succeeded by b0 < 8, then d0 <= 12 eventually holds after b0 < 8 .
After e0 = 16, it is always the case that if f0 <= 9 holds, then c0 > 5 eventually holds.
Between h0 = 14 and b0 <= 31, it is always the case that if c0 >= 17 holds, then c0 < 12 eventually holds.
Before c0 >= 9, it is always the case that g0 <= 30 holds.
Globally, it is always the case that if h0 > 15 holds and is succeeded by a0 < 26, then d0 < 1 eventually holds after a0 < 26 .
After f0 = 6 until d0 > 15, it is always the case that d0 < 3 holds.
Before a0 > 9, it is always the case that if i0 <= 19 holds and is succeeded by b0 <= 28, then e0 >= 28 previously held.
Between d0 < 25 and a0 <= 2, it is always the case that if f0 >= 12 holds and is succeeded by f0 < 15, then g0 > 6 previously held.
After b0 < 8 until f0 > 30, i0 < 23 eventually holds.
Globally, it is always the case that f0 > 15 holds.
After e0 > 31, it is always the case that if a0 < 26 holds, then g0 < 20 eventually holds.
Between h0 > 6 and a0 <= 5, it is always the case that if h0 < 27 holds, then g0 <= 5 eventually holds and is succeeded by h0 = 25 .
Globally, it is always the case that if d0 >= 3 holds, then e0 <= 1 eventually holds and is succeeded by i0 < 27 .
Before e0 >= 12, it is always the case that if g0 > 6 holds and is succeeded by i0 >= 15, then b0 = 11 previously held.
Before a0 < 1, it is always the case that i0 >= 28 holds.
Before a0 > 12, it is always the case that if i0 >= 17 holds and is succeeded by a0 <= 31, then f0 = 3 eventually holds after a0 <= 31 .
Globally, it is always the case that if c0 >= 1 holds, then g0 = 28 eventually holds.
After a0 <= 10 until b0 = 2, it is always the case that if g0 > 30 holds, then e0 = 26 eventually holds and is succeeded by h0 > 10, where c0 >= 0 does not hold between e0 = 26 and h0 > 10 .
Globally, it is never the case that a0 >= 18 holds.
After a0 < 16, it is always the case that if e0 >= 29 holds and is succeeded by g0 <= 26, then e0 >= 8 previously held.
Before a0 > 31, it is always the case that if i0 > 9 holds, then i0 = 8 eventually holds.
Between d0 >= 28 and b0 < 20, it is always the case that if d0 < 16 holds, then c0 = 7 eventually holds.
Between c0 < 5 and e0 = 17, it is always the case that h0 >= 10 holds.
Between e0 >= 29 and c0 = 2, it is always the case that if b0 >= 1 holds and is succeeded by i0 <= 27, then h0 > 10 eventually holds after i0 <= 27 .
Between g0 = 19 and i0 > 12, it is always the case that if a0 <= 19 holds and is succeeded by b0 >= 15, then d0 >= 29 eventually holds after b0 >= 15 .
Between i0 < 15 and b0 >= 28, it is always the case that if g0 >= 28 holds, then i0 >= 26 eventually holds and is succeeded by h0 > 3 .
Globally, h0 = 12 eventually holds.
Between f0 > 14 and d0 = 18, d0 > 26 eventually holds.
Globally, it is always the case that f0 = 7 holds.
After c0 > 4 until i0 >= 23, it is always the case that if b0 > 16 holds and is succeeded by h0 > 26, then f0 <= 23 eventually holds after h0 > 26 .
Before e0 >= 24, it is never the case that i0 >= 23 holds.
Globally, it is always the case that if c0 <= 24 holds and is succeeded by g0 = 21, then g0 = 26 previously held.
After i0 < 24, it is never the case that i0 < 8 holds.
Globally, it is always the case that if c0 > 20 holds and is succeeded by a0 = 5, then i0 <= 14 previously held.
Before f0 = 29, it is always the case that if c0 <= 19 holds, then c0 = 16 eventually holds and is succeeded by b0 <= 1 .
Before g0 < 21, it is always the case that if i0 <= 27 holds, then f0 < 3 previously held and was preceded by g0 = 5 .
After a0 >= 20, it is always the case that f0 <= 5 holds.
After e0 < 12, it is always the case that if g0 >= 18 holds and is succeeded by i0 = 18, then i0 > 3 previously held.
After e0 > 29, it is always the case that if i0 = 6 holds, then g0 >= 0 eventually holds and is succeeded by h0 <= 22 .
After c0 < 1 until e0 <= 16, a0 > 4 eventually holds.
After i0 > 23 until f0 <= 0, it is always the case that if c0 = 11 holds, then f0 <= 9 eventually holds and is succeeded by c0 = 6 .
After g0 < 24, it is always the case that if i0 <= 11 holds and is succeeded by a0 > 22, then e0 > 29 eventually holds after a0 > 22 .
After b0 >= 10 until a0 < 13, it is always the case that h0 > 3 holds.
Between b0 = 26 and i0 >= 17, it is never the case that a0 = 25 holds.
Globally, it is always the case that if i0 <= 30 holds, then i0 = 9 previously held.
After a0 < 30 until a0 > 10, it is always the case that b0 <= 1 holds.
Globally, it is always the case that if b0 <= 21 holds, then e0 = 25 eventually holds and is succeeded by g0 <= 18 .
Globally, it is always the case that if e0 < 31 holds and is succeeded by d0 > 4, then b0 < 16 eventually holds after d0 > 4 .
Globally, it is always the case that if f0 < 19 holds, then g0 >= 1 eventually holds and is succeeded by g0 >= 10, where d0 < 10 does not hold between g0 >= 1 and g0 >= 10 .
Between f0 < 21 and c0 >= 8, h0 > 8 eventually holds.
Before i0 < 26, f0 > 9 eventually holds.
Between a0 = 11 and f0 = 21, it is always the case that i0 <= 6 holds.
Globally, it is always the case that if a0 >= 18 holds, then h0 <= 26 eventually holds and is succeeded by g0 >= 27, where g0 > 23 does not hold between h0 <= 26 and g0 >= 27 .
After d0 > 23 until e0 >= 14, it is always the case that if f0 > 18 holds and is succeeded by f0 >= 31, then c0 <= 26 previously held.
Globally, it is always the case that if d0 = 31 holds, then e0 < 8 eventually holds and is succeeded by i0 = 9, where c0 >= 22 does not hold between e0 < 8 and i0 = 9 .
Globally, it is always the case that if f0 < 10 holds, then a0 <= 4 previously held.
Between f0 = 20 and e0 = 25, it is always the case that g0 > 26 holds.
Before b0 > 0, it is always the case that if e0 >= 9 holds and is succeeded by i0 <= 7, then f0 <= 7 previously held.
Between g0 = 11 and b0 = 17, it is always the case that if g0 > 27 holds, then f0 >= 31 previously held and was preceded by h0 < 17 .
Globally, g0 >= 26 eventually holds.
After a0 < 31 until c0 <= 16, it is always the case that if g0 > 23 holds and is succeeded by c0 = 19, then g0 >= 27 eventually holds after c0 = 19 .
