After y1 >= 23 until v4 = 17, it is always the case that if l1 >= 10 holds and is succeeded by m0 < 4, then g0 >= 23 eventually holds after m0 < 4 .
Globally, it is always the case that if h5 <= 5 holds, then k1 >= 7 previously held and was preceded by e1 <= 3 .
After z4 <= 9 until j3 < 12, it is always the case that if f4 > 5 holds and is succeeded by b0 <= 24, then j2 <= 15 eventually holds after b0 <= 24 .
Between u4 <= 1 and q5 < 11, it is always the case that if t5 < 10 holds and is succeeded by p0 = 6, then b5 = 28 eventually holds after p0 = 6 .
Between s1 = 28 and s3 = 23, it is never the case that a5 < 0 holds.
Before x2 >= 16, it is always the case that if z1 = 1 holds and is succeeded by f1 >= 4, then h3 = 1 eventually holds after f1 >= 4 .
Between q3 = 21 and z4 < 27, it is always the case that if a4 < 17 holds, then p1 > 7 eventually holds and is succeeded by x5 = 22 .
Before u5 >= 26, it is always the case that o3 > 15 holds.
Globally, it is always the case that if b2 = 19 holds, then j3 <= 31 eventually holds and is succeeded by w3 > 3 .
Before q5 > 10, it is always the case that if m4 = 6 holds, then i1 < 21 previously held and was preceded by g4 <= 27 .
Before m5 <= 9, it is always the case that if g4 < 15 holds, then q5 < 26 eventually holds and is succeeded by p0 > 31, where l4 < 1 does not hold between q5 < 26 and p0 > 31 .
Globally, it is always the case that if b0 = 17 holds and is succeeded by p3 < 30, then y0 >= 23 eventually holds after p3 < 30 .
After x0 > 12 until z4 < 2, it is always the case that m4 >= 1 holds.
Globally, it is always the case that if q0 <= 19 holds, then b5 <= 16 previously held and was preceded by p3 = 31 .
Globally, it is always the case that if p2 > 12 holds and is succeeded by s4 >= 3, then x2 < 9 eventually holds after s4 >= 3 .
Before y4 > 8, it is always the case that i0 < 7 holds.
After c3 = 0 until b6 = 19, it is always the case that if a4 = 20 holds, then y4 <= 24 previously held and was preceded by m4 < 29 .
After u4 >= 3, it is always the case that p4 <= 8 holds.
Before n3 > 2, it is always the case that if i2 <= 0 holds, then n2 > 18 eventually holds and is succeeded by r1 <= 7, where r5 >= 11 does not hold between n2 > 18 and r1 <= 7 .
Before r4 = 24, it is always the case that if i1 < 2 holds, then x1 = 11 eventually holds and is succeeded by s0 <= 10 .
After i5 >= 13 until v2 < 8, it is always the case that if u2 >= 17 holds, then f5 > 23 eventually holds and is succeeded by f5 <= 13, where l2 >= 7 does not hold between f5 > 23 and f5 <= 13 .
Between z0 >= 21 and g2 < 25, it is always the case that s5 > 15 holds.
Globally, it is always the case that if b0 >= 24 holds and is succeeded by w4 >= 1, then m3 >= 3 eventually holds after w4 >= 1 .
Before l0 >= 12, it is always the case that if l0 < 4 holds and is succeeded by l2 < 28, then k1 < 7 previously held.
After m0 < 4, it is always the case that if p4 > 16 holds and is succeeded by u2 >= 29, then x2 = 0 eventually holds after u2 >= 29 .
Between y3 > 10 and w3 >= 31, it is always the case that if j0 = 6 holds, then l2 < 30 eventually holds.
After z5 < 24 until b2 > 21, it is always the case that if d2 > 6 holds, then r0 = 25 eventually holds.
Before z1 > 18, it is always the case that r0 = 11 holds.
After q3 < 8 until v0 > 27, it is always the case that if p3 > 7 holds, then f2 > 18 previously held.
After j5 <= 29, it is always the case that if d4 = 13 holds, then v1 >= 24 eventually holds and is succeeded by y2 = 24, where o0 <= 5 does not hold between v1 >= 24 and y2 = 24 .
After q2 < 21 until k0 > 20, it is never the case that b6 < 14 holds.
Before x0 = 16, it is always the case that if i2 > 26 holds, then l2 >= 4 previously held and was preceded by s5 = 8 .
Before h3 > 2, it is always the case that if t0 < 14 holds, then w2 <= 4 eventually holds.
Globally, it is always the case that if e3 <= 8 holds, then b0 = 0 eventually holds and is succeeded by s5 = 1 .
Between c1 <= 0 and t1 < 27, it is always the case that if e5 < 15 holds, then b2 = 1 eventually holds and is succeeded by g2 >= 18 .
After r3 = 5, it is always the case that if q2 > 22 holds, then r2 = 20 previously held.
After p2 <= 6, it is always the case that if k5 <= 18 holds and is succeeded by j3 = 26, then z0 < 23 eventually holds after j3 = 26 .
Globally, it is always the case that if w1 < 5 holds, then f5 = 5 eventually holds and is succeeded by t1 > 2, where v3 < 4 does not hold between f5 = 5 and t1 > 2 .
After j2 <= 11 until c5 > 20, it is always the case that if s2 >= 6 holds, then o3 < 13 eventually holds and is succeeded by z5 < 9, where u4 >= 13 does not hold between o3 < 13 and z5 < 9 .
Between y1 > 19 and f1 <= 6, it is never the case that b0 < 6 holds.
After x5 < 19, it is always the case that v5 > 28 holds.
Before v1 < 10, h3 > 2 eventually holds.
After v3 >= 2 until k4 > 11, it is always the case that if w0 = 16 holds and is succeeded by b2 > 30, then j0 = 20 eventually holds after b2 > 30 .
After x3 >= 18 until y2 <= 17, it is always the case that g4 <= 3 holds.
Before k2 >= 8, it is always the case that if m0 = 13 holds and is succeeded by m1 <= 14, then p5 <= 17 previously held.
After u1 = 6, v4 >= 26 eventually holds.
Between k3 < 21 and q1 = 3, it is always the case that if i1 <= 28 holds, then o4 >= 27 previously held and was preceded by t3 <= 18 .
Globally, it is always the case that if n5 >= 12 holds, then z1 > 5 eventually holds.
Globally, it is always the case that if x5 < 21 holds, then y5 = 22 previously held and was preceded by s4 <= 27 .
Between l1 = 30 and p3 >= 0, it is always the case that if p3 > 5 holds, then u5 < 17 eventually holds and is succeeded by r5 > 3 .
Between r1 > 7 and q2 >= 0, it is always the case that if a3 > 27 holds, then n1 < 24 previously held.
Globally, it is always the case that o5 = 7 holds.
After q0 >= 12, k2 <= 2 eventually holds.
After a3 >= 30, it is always the case that if z3 <= 11 holds and is succeeded by w4 >= 8, then o5 = 29 previously held.
After m5 <= 31, it is always the case that if z1 > 11 holds, then y4 > 10 eventually holds and is succeeded by i5 < 23, where c0 <= 29 does not hold between y4 > 10 and i5 < 23 .
Before x5 <= 10, it is always the case that if s3 <= 11 holds, then t4 < 19 eventually holds and is succeeded by s2 >= 21, where k5 > 10 does not hold between t4 < 19 and s2 >= 21 .
Before z2 < 8, it is always the case that if r3 >= 23 holds, then i4 <= 9 eventually holds.
Between m0 > 4 and g3 < 11, it is always the case that g2 < 27 holds.
Before z4 <= 3, it is always the case that if b4 <= 14 holds, then b3 = 0 previously held.
After f0 > 9, it is always the case that if s4 >= 23 holds, then f5 = 10 eventually holds.
After m2 >= 1, it is always the case that a4 <= 30 holds.
Before t0 <= 17, it is always the case that if r4 > 31 holds, then z0 >= 2 previously held and was preceded by e2 > 30 .
After c4 = 6 until e1 < 3, it is always the case that if c1 = 9 holds and is succeeded by d1 > 23, then q5 <= 15 eventually holds after d1 > 23 .
Globally, it is never the case that u4 = 9 holds.
Before x3 = 13, it is always the case that x5 = 19 holds.
After l4 < 22 until k2 >= 6, it is always the case that if c1 >= 7 holds, then e1 > 30 eventually holds and is succeeded by x5 > 4, where z0 < 18 does not hold between e1 > 30 and x5 > 4 .
Globally, it is always the case that r1 < 3 holds.
After q5 = 12 until a3 <= 20, it is always the case that if p0 <= 17 holds, then d1 >= 30 previously held.
After r1 >= 8, it is always the case that if t5 > 12 holds, then j4 < 16 previously held and was preceded by w5 <= 17 .
Globally, it is always the case that y3 <= 16 holds.
Globally, it is always the case that if u3 <= 6 holds, then q5 > 31 eventually holds and is succeeded by b4 > 22, where x4 < 28 does not hold between q5 > 31 and b4 > 22 .
After a2 >= 0, n1 > 9 eventually holds.
Between r2 >= 16 and a0 >= 17, it is always the case that if o1 = 25 holds, then s3 > 21 previously held and was preceded by x3 < 30 .
After z4 = 8 until q4 > 7, it is always the case that if i0 >= 3 holds and is succeeded by z3 > 24, then q5 >= 30 previously held.
Before r1 = 30, it is always the case that if q1 < 26 holds and is succeeded by o5 < 8, then p1 <= 22 previously held.
Before r1 > 29, it is always the case that if x3 >= 21 holds, then b1 < 3 previously held.
After h3 = 6 until f5 = 13, it is always the case that if n4 = 3 holds, then n3 >= 13 eventually holds.
After l0 > 13, it is never the case that i5 >= 26 holds.
Globally, it is always the case that if g2 >= 19 holds and is succeeded by k4 < 2, then q0 = 27 eventually holds after k4 < 2 .
Between j5 <= 6 and t1 >= 24, it is always the case that if y5 >= 28 holds, then g4 = 29 eventually holds.
After b0 > 19 until l1 > 20, it is always the case that if q4 <= 3 holds, then o0 <= 12 previously held and was preceded by w1 < 26 .
After a6 <= 19, it is always the case that if u3 > 15 holds, then k0 < 21 eventually holds and is succeeded by k5 >= 10, where p5 < 23 does not hold between k0 < 21 and k5 >= 10 .
After c0 = 7 until h0 <= 23, it is always the case that if q0 <= 8 holds and is succeeded by x3 = 31, then h1 = 17 previously held.
After e0 <= 23, it is always the case that if h1 < 5 holds, then u5 = 14 eventually holds and is succeeded by w4 = 31, where d1 > 1 does not hold between u5 = 14 and w4 = 31 .
Before h0 <= 3, it is always the case that if s4 <= 22 holds, then j0 <= 15 previously held and was preceded by q5 <= 4 .
Globally, it is always the case that a0 > 25 holds.
After c6 > 23, t1 < 2 eventually holds.
Before n1 >= 22, it is always the case that if n3 = 30 holds and is succeeded by v3 < 22, then w5 = 18 eventually holds after v3 < 22 .
Between p4 >= 3 and e2 >= 28, it is always the case that if l5 < 30 holds, then p2 <= 21 eventually holds and is succeeded by n3 <= 30, where j0 >= 22 does not hold between p2 <= 21 and n3 <= 30 .
Between a1 > 27 and g1 = 28, it is always the case that if x2 <= 12 holds, then k5 = 27 previously held.
After m2 = 1, it is always the case that if j3 < 2 holds, then c0 >= 24 eventually holds.
Globally, it is always the case that if h4 >= 16 holds, then c4 > 7 previously held.
After l5 > 19, it is always the case that if s3 = 5 holds, then l0 = 2 eventually holds.
After l3 > 19 until a6 = 14, it is always the case that if e5 >= 7 holds, then s5 < 29 eventually holds and is succeeded by o5 = 25, where b0 > 26 does not hold between s5 < 29 and o5 = 25 .
Globally, it is never the case that e2 >= 0 holds.
After m3 <= 28, i1 >= 13 eventually holds.
Between a6 = 13 and s0 < 19, it is always the case that if g5 > 13 holds and is succeeded by k0 <= 11, then a4 = 2 previously held.
After y5 <= 7, o5 > 23 eventually holds.
After h1 < 21 until a5 <= 31, it is always the case that if e0 > 31 holds, then d0 <= 12 eventually holds.
After g0 = 11 until x2 >= 27, it is always the case that if y1 = 1 holds, then t3 = 24 previously held and was preceded by j4 < 27 .
After i1 = 21 until p3 > 25, it is always the case that if q3 <= 26 holds, then q0 = 16 previously held and was preceded by m1 >= 19 .
Globally, it is always the case that if d0 < 28 holds, then r5 >= 19 previously held and was preceded by s3 <= 27 .
Before e5 <= 22, it is always the case that if z4 > 27 holds and is succeeded by r2 >= 1, then v0 > 0 previously held.
Before h5 < 15, it is always the case that if g3 > 24 holds, then b4 >= 7 eventually holds.
Between c2 < 6 and t1 > 30, it is always the case that if e4 = 2 holds, then r2 > 2 eventually holds and is succeeded by p5 < 29, where p1 > 9 does not hold between r2 > 2 and p5 < 29 .
After b5 > 14, it is always the case that if a5 > 28 holds, then e0 = 9 eventually holds and is succeeded by u5 < 23, where a0 >= 30 does not hold between e0 = 9 and u5 < 23 .
After k2 = 13, it is always the case that if n2 = 1 holds, then b6 > 21 eventually holds and is succeeded by k0 >= 2 .
Before t4 <= 8, it is always the case that if s2 <= 29 holds, then d3 <= 11 eventually holds and is succeeded by i0 >= 30 .
Before s1 < 21, it is always the case that if m4 <= 26 holds, then o0 > 29 previously held.
Before u5 < 1, it is always the case that if d0 <= 31 holds, then n5 = 23 previously held and was preceded by a5 >= 10 .
Before y3 <= 22, it is always the case that if g5 >= 5 holds, then h4 >= 25 eventually holds and is succeeded by p0 >= 25 .
After h2 > 15, it is always the case that if u2 >= 11 holds, then n0 = 23 previously held.
Globally, it is always the case that if h0 < 8 holds, then y1 >= 20 previously held and was preceded by l2 < 15 .
Between h1 < 21 and l2 <= 28, it is always the case that if e1 <= 7 holds, then t5 = 27 eventually holds and is succeeded by o0 <= 7 .
Before d5 = 12, it is always the case that if j2 < 8 holds, then y2 > 29 eventually holds.
After l0 <= 24, it is always the case that if i3 < 20 holds and is succeeded by x5 < 17, then o4 = 0 previously held.
After p5 = 12, it is always the case that if f2 <= 18 holds, then b5 < 18 eventually holds and is succeeded by s1 <= 2 .
After l3 = 5 until x0 <= 21, o0 <= 14 eventually holds.
After t2 >= 4, it is always the case that if c6 = 10 holds, then o2 = 2 eventually holds and is succeeded by b5 <= 6 .
Globally, it is always the case that if s5 >= 9 holds, then x3 >= 10 eventually holds and is succeeded by e3 > 0 .
Between k4 < 4 and z2 < 15, it is always the case that if r2 <= 7 holds and is succeeded by c3 >= 0, then z2 = 5 eventually holds after c3 >= 0 .
Globally, it is always the case that if w1 = 7 holds and is succeeded by s5 = 28, then x3 >= 20 previously held.
Globally, it is always the case that if f1 >= 12 holds and is succeeded by k1 <= 30, then w2 < 19 eventually holds after k1 <= 30 .
Between p2 <= 9 and f0 <= 29, it is always the case that if q5 >= 6 holds, then y1 >= 30 eventually holds and is succeeded by r1 = 1 .
After l2 <= 29, it is always the case that if d2 < 10 holds, then u2 < 16 eventually holds.
After g3 > 5, it is always the case that if z0 <= 22 holds, then u2 < 15 previously held and was preceded by r4 = 31 .
Before i3 >= 23, it is always the case that if q0 = 21 holds and is succeeded by n5 > 16, then m1 < 8 eventually holds after n5 > 16 .
After r3 < 9, b0 = 8 eventually holds.
After o4 <= 17, it is always the case that if p0 > 22 holds, then k0 = 20 eventually holds.
After f4 = 25 until d4 > 9, it is always the case that o4 > 6 holds.
Between y4 = 28 and d1 < 15, r1 = 3 eventually holds.
Before u3 < 29, it is always the case that if a6 = 13 holds, then c2 > 26 eventually holds.
Between e0 = 11 and x4 = 28, it is never the case that k5 < 21 holds.
Globally, it is always the case that if u2 > 24 holds, then g1 = 6 eventually holds and is succeeded by t5 <= 1, where q3 >= 21 does not hold between g1 = 6 and t5 <= 1 .
Before s1 = 26, it is never the case that q2 < 22 holds.
After g3 < 17 until z3 > 6, it is always the case that if u0 = 1 holds, then v3 < 1 previously held.
Before a2 < 5, g5 >= 22 eventually holds.
Globally, it is never the case that u1 < 14 holds.
Globally, it is always the case that if g1 >= 5 holds, then w4 < 11 previously held.
Before q1 <= 21, it is always the case that q4 < 4 holds.
Between o2 = 27 and w2 <= 11, it is always the case that if r0 = 14 holds, then m5 < 25 previously held.
Globally, it is always the case that if h5 <= 12 holds, then w2 <= 5 previously held and was preceded by s2 < 7 .
After w0 >= 23, it is always the case that if n5 <= 21 holds, then n3 > 10 eventually holds and is succeeded by u1 <= 31 .
Between v0 > 24 and g0 < 5, it is always the case that if l1 >= 29 holds, then r1 >= 27 eventually holds and is succeeded by y4 <= 9 .
After z3 < 18 until o3 <= 12, it is always the case that if g2 <= 10 holds, then p1 > 9 previously held and was preceded by m2 <= 29 .
Between p0 >= 30 and r1 = 11, it is always the case that o0 > 2 holds.
Globally, it is always the case that if n0 >= 8 holds, then j4 > 1 previously held.
Globally, it is never the case that t0 <= 8 holds.
Between g3 <= 2 and i1 < 14, it is always the case that if i2 <= 6 holds, then g3 <= 30 previously held and was preceded by j3 <= 24 .
After r2 >= 1, it is always the case that if w0 > 16 holds, then q4 = 10 eventually holds and is succeeded by c0 = 31, where m4 <= 6 does not hold between q4 = 10 and c0 = 31 .
Before h3 = 5, i0 <= 0 eventually holds.
Before i2 > 17, it is always the case that if g3 > 3 holds and is succeeded by v0 > 22, then n0 < 6 eventually holds after v0 > 22 .
Between b1 <= 13 and k1 >= 19, it is always the case that g5 < 13 holds.
Before s0 < 4, it is always the case that if o1 >= 0 holds, then c3 <= 23 eventually holds and is succeeded by q2 >= 14, where p1 > 24 does not hold between c3 <= 23 and q2 >= 14 .
After q5 > 8, it is always the case that if u3 > 0 holds, then g3 > 14 eventually holds and is succeeded by n4 = 23, where q3 < 28 does not hold between g3 > 14 and n4 = 23 .
Before d3 = 16, p4 <= 21 eventually holds.
After s3 = 4 until l0 = 0, it is always the case that if g1 <= 11 holds and is succeeded by t1 <= 3, then e3 > 6 eventually holds after t1 <= 3 .
Before w3 > 26, it is always the case that if x5 < 2 holds and is succeeded by i3 = 27, then l4 = 26 previously held.
After h4 <= 7 until e0 <= 16, it is never the case that l5 >= 10 holds.
Before e4 < 26, it is always the case that if x4 > 7 holds, then b5 > 22 previously held.
Between y2 <= 22 and r1 <= 20, it is always the case that if j1 > 29 holds, then q5 >= 23 eventually holds and is succeeded by d2 >= 0, where e5 > 10 does not hold between q5 >= 23 and d2 >= 0 .
Globally, i1 >= 18 eventually holds.
Globally, it is always the case that r3 <= 12 holds.
Globally, it is always the case that if n1 = 0 holds, then j1 > 28 eventually holds and is succeeded by w5 = 23, where p3 > 8 does not hold between j1 > 28 and w5 = 23 .
Globally, it is always the case that if h3 < 29 holds and is succeeded by w5 = 4, then h5 >= 22 previously held.
Before i0 < 19, it is always the case that if r4 > 1 holds and is succeeded by z1 >= 20, then s0 < 29 previously held.
Globally, it is always the case that if i2 >= 18 holds, then j1 > 3 eventually holds.
Before t4 <= 23, it is never the case that j4 <= 3 holds.
Before k2 >= 9, it is always the case that if s2 >= 23 holds, then n4 = 23 eventually holds and is succeeded by f2 = 22, where g3 = 25 does not hold between n4 = 23 and f2 = 22 .
After e2 < 1 until o1 <= 6, it is always the case that if r0 >= 27 holds, then i2 >= 12 eventually holds and is succeeded by s1 < 12, where y5 >= 15 does not hold between i2 >= 12 and s1 < 12 .
Between s3 < 15 and m0 > 1, it is always the case that if q3 < 21 holds and is succeeded by x2 >= 18, then h0 < 16 eventually holds after x2 >= 18 .
Globally, it is always the case that if j0 = 17 holds and is succeeded by t0 <= 16, then a5 > 21 previously held.
After f5 > 27 until f0 <= 18, it is always the case that i5 > 11 holds.
Globally, it is always the case that if q4 = 10 holds, then y5 < 28 previously held.
Before t3 < 28, it is always the case that if t3 < 24 holds and is succeeded by j1 <= 27, then j2 < 11 eventually holds after j1 <= 27 .
After l5 < 13, it is always the case that if b4 > 23 holds and is succeeded by k3 = 30, then q0 < 15 eventually holds after k3 = 30 .
After x2 >= 23, it is always the case that s0 <= 3 holds.
Before z3 >= 14, it is always the case that if m5 > 1 holds, then g4 >= 28 eventually holds and is succeeded by t3 > 31, where c3 < 26 does not hold between g4 >= 28 and t3 > 31 .
After q1 = 8 until x4 > 20, it is never the case that d1 <= 1 holds.
Before p1 > 25, it is always the case that w3 = 0 holds.
Before i3 < 12, it is always the case that if b6 > 14 holds, then r4 <= 26 previously held.
After e5 >= 12, it is always the case that if p1 = 31 holds and is succeeded by c6 <= 15, then u2 < 6 previously held.
Globally, u1 >= 28 eventually holds.
Globally, it is always the case that if d3 = 14 holds and is succeeded by d2 < 14, then a3 < 21 previously held.
Globally, it is always the case that if d2 < 31 holds, then k3 = 22 eventually holds and is succeeded by i4 >= 20, where p0 = 10 does not hold between k3 = 22 and i4 >= 20 .
Before s3 <= 22, it is always the case that if p3 >= 21 holds, then a0 <= 9 eventually holds and is succeeded by u3 <= 2, where m3 >= 8 does not hold between a0 <= 9 and u3 <= 2 .
After g0 < 23 until q2 = 17, it is always the case that if o0 <= 1 holds, then l2 <= 8 previously held.
After c2 < 26, it is always the case that d2 = 13 holds.
After i0 < 8, it is always the case that if p3 = 20 holds and is succeeded by u2 < 26, then i5 < 30 previously held.
After t2 < 23 until b5 >= 29, it is always the case that if k5 < 8 holds, then b6 = 5 previously held.
After m1 < 7, it is always the case that if k3 < 29 holds and is succeeded by j2 > 31, then f2 < 31 previously held.
Between b5 < 7 and p1 >= 7, it is never the case that m3 <= 22 holds.
After y3 >= 19 until n1 <= 14, it is always the case that if j2 = 15 holds and is succeeded by p4 <= 6, then a2 < 25 previously held.
Globally, it is always the case that r3 = 27 holds.
Globally, it is never the case that t5 <= 25 holds.
Between n0 > 18 and y5 <= 28, it is always the case that if h1 <= 22 holds, then m0 < 10 eventually holds.
Globally, it is always the case that if u3 < 1 holds, then g2 < 6 eventually holds and is succeeded by r0 <= 5, where j1 <= 11 does not hold between g2 < 6 and r0 <= 5 .
After k2 > 0, it is always the case that if l3 <= 30 holds, then j1 <= 17 eventually holds.
After a4 >= 7 until g5 = 27, it is always the case that x4 < 10 holds.
Globally, it is always the case that if i1 > 23 holds, then a6 = 8 eventually holds.
Before s4 <= 4, it is always the case that if q3 >= 12 holds, then t5 < 23 eventually holds.
Before n2 < 2, it is always the case that h2 < 21 holds.
Before k5 = 23, y4 > 5 eventually holds.
Before o5 <= 19, it is never the case that n5 = 3 holds.
Between m1 >= 14 and h1 > 18, it is always the case that g1 = 11 holds.
After b3 <= 10, it is always the case that if o3 <= 22 holds, then q3 <= 22 previously held and was preceded by v5 > 24 .
Before y0 < 14, it is always the case that if x0 = 14 holds, then q2 <= 9 previously held.
Before q4 <= 21, it is always the case that if g1 <= 4 holds, then x1 = 10 eventually holds and is succeeded by i4 >= 17 .
After g2 = 12, it is always the case that if r1 = 4 holds and is succeeded by c3 = 15, then d0 > 31 eventually holds after c3 = 15 .
After m2 < 7 until h3 > 18, it is always the case that if v2 <= 1 holds, then k0 >= 23 eventually holds and is succeeded by a3 = 11, where l1 >= 19 does not hold between k0 >= 23 and a3 = 11 .
After n1 < 26, it is always the case that if a1 = 20 holds, then j0 > 15 previously held and was preceded by h0 = 4 .
Globally, it is always the case that if z4 <= 17 holds and is succeeded by d3 >= 15, then d4 >= 26 previously held.
Before q5 = 13, it is always the case that if n4 < 22 holds, then f2 <= 12 eventually holds and is succeeded by y4 < 19 .
Globally, it is always the case that if g2 >= 9 holds, then r2 < 26 eventually holds.
Globally, it is always the case that j5 = 30 holds.
Between e3 = 17 and h2 >= 19, it is always the case that s0 = 20 holds.
After v0 >= 6 until y1 = 10, it is never the case that o3 <= 16 holds.
Between a4 <= 3 and n3 <= 10, it is always the case that if h5 = 24 holds, then u1 >= 31 previously held and was preceded by j2 <= 22 .
Before x4 > 4, it is always the case that if a0 < 4 holds, then x2 < 13 eventually holds.
After c6 <= 22 until o3 > 21, it is never the case that a6 < 28 holds.
After u4 <= 18 until w5 < 2, it is always the case that if p0 < 1 holds, then g4 = 25 eventually holds and is succeeded by w3 > 4 .
After z4 > 18, it is always the case that if t5 = 20 holds, then w3 < 23 previously held.
Between l3 > 20 and a5 <= 3, it is always the case that if c3 = 28 holds and is succeeded by d0 > 17, then t4 >= 3 eventually holds after d0 > 17 .
After w5 = 11 until e0 > 12, it is always the case that if p3 >= 19 holds, then v4 = 6 previously held and was preceded by a4 < 6 .
Before q3 = 10, it is always the case that l5 <= 10 holds.
Between z4 < 0 and b4 >= 20, it is always the case that if n1 = 3 holds and is succeeded by x4 = 16, then k0 <= 16 eventually holds after x4 = 16 .
Globally, it is always the case that if l2 >= 5 holds, then j1 = 26 previously held and was preceded by g4 >= 6 .
Before s0 < 21, it is always the case that if b3 <= 11 holds and is succeeded by s2 >= 7, then h3 = 19 previously held.
After g4 >= 4 until y1 < 23, it is always the case that if f1 > 18 holds, then r4 > 8 eventually holds.
Globally, it is always the case that if w4 <= 13 holds, then b6 = 3 previously held.
Globally, it is always the case that if i3 = 0 holds, then c3 > 17 eventually holds and is succeeded by s4 >= 17, where u2 < 4 does not hold between c3 > 17 and s4 >= 17 .
After k3 < 6, it is always the case that if h5 >= 0 holds and is succeeded by d0 < 30, then j2 >= 24 previously held.
After s3 >= 13, it is always the case that if l3 > 2 holds, then o1 > 12 eventually holds and is succeeded by m4 > 8, where v2 <= 15 does not hold between o1 > 12 and m4 > 8 .
Globally, it is always the case that if d4 = 19 holds, then o4 = 3 previously held and was preceded by p5 <= 2 .
Globally, it is always the case that if n3 = 27 holds, then k0 = 15 eventually holds.
Before g1 = 26, it is never the case that z3 < 5 holds.
After e5 <= 7, x1 > 0 eventually holds.
Globally, it is always the case that if d4 >= 6 holds, then u1 > 20 eventually holds and is succeeded by w0 <= 28 .
After y5 > 4, it is always the case that if n1 < 11 holds, then n2 < 22 eventually holds and is succeeded by r4 = 17 .
Before w4 >= 14, it is never the case that y1 >= 14 holds.
