Between i0 = 3 and n0 < 1, it is always the case that if d0 = 2 holds and is succeeded by o0 <= 6, then r0 > 7 previously held.
After p0 <= 2, it is always the case that if k0 > 5 holds and is succeeded by g0 > 7, then e0 <= 1 eventually holds after g0 > 7 .
Globally, it is always the case that if r0 = 3 holds and is succeeded by c0 <= 5, then b0 > 2 previously held.
Before j0 = 4, it is always the case that if c0 >= 5 holds, then k0 = 4 previously held.
Before i0 = 4, it is always the case that h0 > 4 holds.
Globally, it is always the case that if h0 <= 0 holds and is succeeded by l0 = 5, then m0 >= 3 eventually holds after l0 = 5 .
Between q0 > 4 and d0 <= 0, b0 = 7 eventually holds.
After j0 = 7 until r0 = 6, c0 > 3 eventually holds.
After b0 >= 2 until s0 = 6, it is never the case that o0 < 5 holds.
Before a0 <= 6, it is always the case that if f0 <= 6 holds, then e0 >= 0 previously held.
Globally, it is always the case that if g0 < 2 holds, then l0 < 0 previously held.
Before g0 = 1, it is always the case that if m0 < 7 holds and is succeeded by b0 < 0, then n0 <= 4 previously held.
Between k0 > 7 and i0 < 3, it is always the case that if s0 >= 3 holds, then o0 < 7 eventually holds and is succeeded by q0 <= 7, where l0 >= 4 does not hold between o0 < 7 and q0 <= 7 .
After l0 < 1 until r0 = 6, it is never the case that l0 < 5 holds.
After j0 < 5, it is always the case that if k0 <= 7 holds, then a0 <= 1 eventually holds.
After f0 <= 1, it is always the case that if q0 > 7 holds and is succeeded by b0 >= 4, then s0 = 2 eventually holds after b0 >= 4 .
After s0 >= 7, it is always the case that if g0 = 2 holds, then p0 > 4 eventually holds.
Between m0 >= 5 and g0 >= 3, m0 = 6 eventually holds.
Before j0 < 4, it is always the case that if e0 < 2 holds and is succeeded by j0 >= 5, then r0 > 5 eventually holds after j0 >= 5 .
After h0 >= 4, it is never the case that c0 < 0 holds.
After r0 <= 2 until s0 = 4, it is always the case that if d0 > 5 holds, then s0 <= 3 previously held and was preceded by k0 <= 6 .
After s0 > 2 until a0 > 6, it is always the case that if o0 > 1 holds and is succeeded by n0 <= 7, then r0 > 2 previously held.
After h0 = 4, it is always the case that if r0 < 1 holds, then n0 <= 6 previously held and was preceded by h0 > 0 .
Before l0 = 2, it is always the case that j0 > 0 holds.
Before s0 < 5, n0 <= 0 eventually holds.
After g0 >= 7 until m0 < 7, it is always the case that if i0 <= 4 holds and is succeeded by b0 < 7, then q0 >= 1 previously held.
Globally, it is always the case that if o0 < 1 holds, then f0 > 7 previously held.
After p0 <= 4 until r0 <= 6, it is always the case that if m0 >= 3 holds, then r0 = 7 previously held and was preceded by d0 <= 2 .
After m0 = 0 until s0 < 0, it is always the case that if m0 = 5 holds, then q0 >= 5 eventually holds.
After a0 < 6 until o0 = 4, it is always the case that if a0 >= 3 holds, then n0 <= 0 eventually holds and is succeeded by n0 <= 4, where d0 <= 0 does not hold between n0 <= 0 and n0 <= 4 .
After c0 < 4 until g0 <= 2, j0 = 5 eventually holds.
Before m0 < 7, it is always the case that if d0 >= 3 holds, then q0 >= 0 previously held.
After d0 = 4 until m0 < 0, it is always the case that if b0 < 6 holds and is succeeded by r0 <= 1, then n0 > 3 eventually holds after r0 <= 1 .
After n0 < 3 until p0 < 6, it is always the case that if a0 > 2 holds, then n0 >= 3 eventually holds and is succeeded by g0 = 5, where j0 > 4 does not hold between n0 >= 3 and g0 = 5 .
Between j0 <= 0 and a0 = 7, it is never the case that c0 <= 5 holds.
After q0 = 0 until j0 > 2, it is always the case that if b0 < 6 holds, then a0 >= 2 eventually holds.
After h0 <= 5, g0 <= 7 eventually holds.
Before r0 > 1, it is always the case that p0 = 5 holds.
Before g0 < 1, it is always the case that if o0 > 5 holds and is succeeded by o0 <= 7, then n0 < 4 eventually holds after o0 <= 7 .
Globally, it is always the case that if b0 < 5 holds, then l0 <= 2 previously held and was preceded by g0 >= 0 .
Globally, it is never the case that l0 < 6 holds.
Between h0 <= 5 and o0 >= 7, it is always the case that if i0 = 5 holds, then m0 > 3 eventually holds and is succeeded by o0 > 6, where d0 = 2 does not hold between m0 > 3 and o0 > 6 .
After q0 <= 5, it is always the case that e0 >= 4 holds.
Between s0 = 4 and m0 > 5, b0 < 5 eventually holds.
Between j0 > 0 and c0 < 4, it is always the case that if c0 <= 7 holds, then m0 >= 5 previously held.
After s0 >= 0 until r0 < 1, it is always the case that if f0 < 5 holds, then a0 = 5 previously held and was preceded by i0 <= 7 .
Before r0 = 3, it is always the case that d0 > 5 holds.
After i0 = 7 until o0 >= 7, it is always the case that if o0 <= 7 holds, then c0 >= 5 previously held.
Between r0 >= 4 and f0 = 6, it is always the case that e0 < 4 holds.
After h0 >= 5 until b0 = 3, it is always the case that if o0 < 0 holds and is succeeded by n0 < 7, then h0 < 3 eventually holds after n0 < 7 .
Before n0 >= 2, it is always the case that r0 <= 4 holds.
After g0 > 7, it is always the case that if b0 > 4 holds, then n0 < 1 previously held and was preceded by p0 = 1 .
Before d0 = 2, it is always the case that if p0 < 1 holds, then j0 >= 7 eventually holds and is succeeded by m0 = 6, where b0 = 3 does not hold between j0 >= 7 and m0 = 6 .
Globally, it is always the case that if r0 >= 6 holds, then a0 > 5 previously held.
After o0 < 0 until i0 = 6, it is always the case that if n0 >= 1 holds and is succeeded by a0 <= 5, then g0 > 7 eventually holds after a0 <= 5 .
Before g0 <= 4, it is always the case that if g0 >= 4 holds, then c0 >= 4 eventually holds and is succeeded by q0 = 1 .
After j0 = 2, it is always the case that if j0 < 6 holds, then c0 = 2 eventually holds and is succeeded by b0 >= 3 .
Before n0 <= 6, it is always the case that if m0 = 1 holds and is succeeded by r0 < 6, then f0 = 5 previously held.
Between q0 < 0 and r0 <= 0, q0 >= 0 eventually holds.
After o0 <= 3, it is always the case that if k0 = 3 holds, then n0 >= 3 eventually holds and is succeeded by a0 = 3 .
