Between g3 = 6 and k4 = 2, it is always the case that w1 = 0 holds.
Globally, it is always the case that if s2 = 3 holds, then y4 > 6 previously held.
After p4 > 1, it is always the case that if e5 <= 7 holds, then l3 = 1 eventually holds.
Between u5 = 7 and s1 > 6, it is always the case that if a4 > 1 holds, then e5 >= 6 eventually holds.
After y5 < 0, it is always the case that n4 <= 6 holds.
Before f2 < 7, it is always the case that if s5 >= 2 holds and is succeeded by t4 = 5, then l2 > 3 eventually holds after t4 = 5 .
After w3 >= 4, it is always the case that if y5 < 5 holds, then i1 = 4 eventually holds and is succeeded by a1 > 6, where a5 < 3 does not hold between i1 = 4 and a1 > 6 .
Before v5 > 1, it is always the case that z3 > 5 holds.
After u5 = 5, it is always the case that if b5 >= 4 holds, then a6 > 6 eventually holds and is succeeded by t3 > 6 .
Before i3 < 1, it is always the case that if h0 <= 1 holds, then e0 = 5 previously held.
Between x5 > 6 and v4 <= 6, it is never the case that t0 <= 7 holds.
After q5 >= 1 until q0 = 2, it is always the case that if a1 <= 6 holds, then y4 >= 0 previously held and was preceded by a6 <= 0 .
After r1 <= 0 until p4 >= 5, it is always the case that if b0 > 6 holds, then x2 = 4 eventually holds.
Before t2 < 5, it is always the case that if n5 > 7 holds and is succeeded by a4 > 5, then z1 > 4 eventually holds after a4 > 5 .
After r4 = 2 until q2 = 0, s1 < 6 eventually holds.
Between g3 >= 5 and s1 >= 1, it is never the case that e3 >= 5 holds.
Before n1 > 3, l3 <= 5 eventually holds.
Before t2 <= 2, it is always the case that if d1 > 0 holds, then s2 >= 3 eventually holds.
After b5 = 7, it is never the case that e2 = 3 holds.
Before d3 > 2, o1 < 2 eventually holds.
Between b5 >= 6 and g0 <= 5, it is always the case that if m0 = 6 holds, then m2 = 3 previously held.
After o1 <= 1 until w0 < 4, it is always the case that if x4 = 6 holds, then n4 < 6 eventually holds and is succeeded by z3 >= 7, where g5 = 4 does not hold between n4 < 6 and z3 >= 7 .
Before v1 > 4, it is always the case that q2 >= 2 holds.
After c0 > 2, it is never the case that e3 >= 7 holds.
Between x5 = 3 and u5 >= 0, it is always the case that if b1 <= 1 holds, then c5 < 0 eventually holds.
Globally, it is always the case that if v0 <= 0 holds, then x0 <= 7 previously held.
Before g4 < 0, it is never the case that x2 <= 2 holds.
After y1 >= 4 until p2 >= 6, it is always the case that if i3 <= 0 holds, then p1 < 6 previously held and was preceded by t0 >= 1 .
After a5 < 2 until e3 = 3, it is always the case that q4 <= 6 holds.
After g0 > 3 until f2 >= 5, it is always the case that if a1 = 3 holds, then b1 < 4 previously held and was preceded by d1 <= 3 .
After d0 > 3 until e3 = 0, it is always the case that if c5 < 3 holds, then k3 >= 4 previously held and was preceded by w0 >= 1 .
Globally, it is always the case that if o4 > 1 holds, then q2 < 6 eventually holds.
Before d0 <= 1, it is always the case that if u2 < 5 holds, then d3 = 1 eventually holds.
Globally, it is always the case that if o5 < 1 holds, then e5 = 2 eventually holds and is succeeded by f0 = 1 .
Before s5 < 2, it is never the case that c5 >= 1 holds.
After c0 = 4, it is always the case that if o1 < 6 holds, then g1 = 6 eventually holds and is succeeded by h3 < 4, where m4 < 2 does not hold between g1 = 6 and h3 < 4 .
After z1 >= 4 until c6 = 4, it is always the case that if y4 > 2 holds, then b0 < 7 eventually holds and is succeeded by n5 > 1, where i3 <= 5 does not hold between b0 < 7 and n5 > 1 .
After g2 < 1 until g4 = 3, it is always the case that if g5 > 7 holds, then j3 >= 5 eventually holds and is succeeded by f0 < 4 .
After m4 <= 3 until v2 < 2, it is never the case that z2 < 3 holds.
Globally, it is always the case that if e5 >= 6 holds, then t3 = 6 previously held and was preceded by v2 < 3 .
After w3 = 1 until p5 >= 7, it is always the case that if h0 >= 7 holds, then c0 > 2 eventually holds.
Before v3 = 5, it is always the case that if k0 > 6 holds, then m5 = 5 previously held and was preceded by a5 >= 3 .
Globally, it is always the case that if v2 = 1 holds, then d5 > 5 eventually holds and is succeeded by b6 <= 0 .
Before y1 < 0, it is always the case that if t4 > 3 holds and is succeeded by v1 > 2, then z2 <= 7 eventually holds after v1 > 2 .
Before x1 >= 5, it is always the case that if r5 > 0 holds, then a1 <= 5 previously held.
Globally, it is always the case that if l1 >= 1 holds and is succeeded by c0 < 3, then q3 < 0 previously held.
Globally, it is always the case that if t5 <= 1 holds, then d1 >= 4 eventually holds and is succeeded by t0 <= 2, where v3 < 7 does not hold between d1 >= 4 and t0 <= 2 .
Before k4 > 5, it is always the case that if q5 = 3 holds, then n2 <= 0 previously held.
Between n5 = 4 and g3 = 7, it is always the case that if s3 < 6 holds, then k2 <= 7 previously held and was preceded by g4 < 3 .
Before e0 >= 2, it is always the case that if z3 <= 0 holds and is succeeded by u5 = 7, then u2 >= 2 previously held.
Before u3 >= 4, q1 >= 5 eventually holds.
Between d3 <= 2 and e1 = 2, it is always the case that if z5 = 3 holds, then b5 <= 5 previously held.
Globally, it is always the case that if f5 < 4 holds and is succeeded by v5 < 3, then i4 < 1 previously held.
Between e2 <= 6 and y4 > 7, it is always the case that if z4 <= 0 holds, then d0 = 1 previously held and was preceded by w5 > 3 .
Before b2 <= 1, it is always the case that if m2 <= 3 holds and is succeeded by a0 >= 3, then t5 > 4 eventually holds after a0 >= 3 .
Before h2 > 1, it is always the case that if j4 = 1 holds and is succeeded by e1 = 2, then f5 < 7 previously held.
Before a1 <= 6, p0 >= 0 eventually holds.
Globally, it is always the case that if w2 = 1 holds and is succeeded by x5 < 7, then a2 = 5 previously held.
After r2 > 0 until x3 = 6, it is always the case that if w1 < 7 holds, then k2 >= 0 eventually holds and is succeeded by l4 >= 7 .
Between k5 > 0 and s3 = 3, x2 <= 0 eventually holds.
Between b4 >= 5 and x2 >= 2, it is always the case that if r2 > 0 holds, then g2 <= 5 eventually holds and is succeeded by w5 <= 3 .
Before e0 > 1, s5 <= 2 eventually holds.
After v4 <= 6 until z5 > 0, it is always the case that if y1 = 1 holds and is succeeded by y4 = 4, then w5 > 2 previously held.
Before s3 < 5, it is always the case that if g5 = 1 holds and is succeeded by l3 > 1, then h2 > 1 eventually holds after l3 > 1 .
After w2 < 5 until v5 = 4, it is always the case that if q0 = 1 holds and is succeeded by s1 > 0, then p4 <= 5 previously held.
Before i1 <= 1, it is always the case that if g5 < 1 holds, then v0 = 6 eventually holds.
Before g0 >= 4, it is always the case that if l2 <= 7 holds, then j4 >= 0 previously held.
Globally, it is always the case that if g3 = 1 holds, then o5 > 0 previously held and was preceded by f3 > 0 .
Before d4 > 7, it is always the case that if v3 < 6 holds, then h2 <= 2 previously held.
Before d2 >= 3, it is always the case that if w0 >= 6 holds, then y2 = 2 eventually holds.
Before f0 <= 0, it is always the case that if h1 > 5 holds, then u0 <= 6 eventually holds.
Between j4 > 2 and t2 = 2, it is always the case that if j5 < 3 holds, then i4 > 7 previously held.
Globally, it is always the case that if y5 = 1 holds, then z4 <= 6 eventually holds.
After y1 > 7 until y2 > 0, it is always the case that if u0 >= 1 holds, then v4 > 6 eventually holds and is succeeded by s1 < 0, where b6 = 5 does not hold between v4 > 6 and s1 < 0 .
Globally, it is always the case that if k5 >= 6 holds, then t5 = 6 eventually holds and is succeeded by u5 < 3 .
After u5 < 6 until y5 > 7, it is always the case that f5 <= 6 holds.
Before l3 > 7, it is always the case that if k2 >= 7 holds, then t3 > 3 eventually holds and is succeeded by q3 = 4, where q4 > 1 does not hold between t3 > 3 and q3 = 4 .
After s4 = 5, it is always the case that if h0 > 7 holds, then g2 < 4 previously held and was preceded by j5 >= 5 .
Globally, it is always the case that if l0 < 4 holds, then w1 >= 0 eventually holds.
Before f1 > 2, it is never the case that j4 > 1 holds.
Between v0 >= 4 and v1 >= 6, it is never the case that b2 > 2 holds.
After h0 <= 2, it is always the case that if c6 = 3 holds and is succeeded by v5 > 0, then j1 = 7 previously held.
Globally, it is always the case that if k1 < 0 holds, then g4 < 4 previously held and was preceded by d5 < 6 .
After j2 <= 0, it is always the case that if h5 <= 1 holds, then r4 = 1 previously held and was preceded by v2 < 2 .
Before k4 >= 3, it is always the case that j4 <= 6 holds.
Globally, it is always the case that if h0 <= 6 holds, then j5 = 0 previously held.
Before a6 >= 2, it is always the case that if r5 > 1 holds, then d0 >= 2 previously held.
After b0 <= 2 until h0 = 5, it is always the case that if y4 = 0 holds, then e3 >= 6 previously held.
After p1 < 5 until c5 = 1, it is always the case that if b5 = 0 holds, then s2 <= 0 eventually holds and is succeeded by t3 > 6, where z3 = 7 does not hold between s2 <= 0 and t3 > 6 .
Globally, it is always the case that if v4 < 4 holds and is succeeded by g0 = 4, then e4 >= 6 eventually holds after g0 = 4 .
Before d0 <= 4, it is always the case that if g4 < 4 holds, then p0 > 6 eventually holds and is succeeded by c5 >= 0, where v3 <= 5 does not hold between p0 > 6 and c5 >= 0 .
Before y3 < 0, e1 <= 2 eventually holds.
Between l0 >= 6 and i0 <= 4, it is always the case that if l0 >= 2 holds, then n0 > 5 eventually holds and is succeeded by w2 <= 7 .
After a4 = 2 until v5 < 7, it is always the case that if a6 >= 7 holds, then n4 < 3 previously held.
After u1 < 3, w5 <= 0 eventually holds.
After m3 >= 6 until a5 > 3, it is always the case that if c1 < 2 holds, then p0 < 4 eventually holds and is succeeded by b4 = 3 .
After h2 >= 1, it is always the case that if z3 = 5 holds and is succeeded by q1 = 2, then t0 = 7 eventually holds after q1 = 2 .
After l0 = 7 until y0 >= 4, it is always the case that if z0 <= 5 holds, then z4 = 5 eventually holds and is succeeded by l2 < 4 .
After c5 > 6, it is always the case that if e1 = 6 holds, then g2 = 4 previously held.
Before f5 = 1, m4 <= 5 eventually holds.
Globally, it is always the case that a1 <= 7 holds.
After f3 > 7, it is always the case that if y4 > 1 holds, then g1 <= 0 previously held.
Globally, it is always the case that if s3 = 4 holds, then n5 > 1 eventually holds and is succeeded by q2 = 4 .
Globally, it is always the case that if i5 > 2 holds, then g5 >= 7 previously held and was preceded by z3 < 0 .
Between l3 = 1 and c0 < 0, q2 > 4 eventually holds.
Before e2 = 6, it is always the case that if f1 = 6 holds, then r5 > 6 previously held and was preceded by k3 < 1 .
Before y1 <= 6, it is never the case that n4 <= 4 holds.
After k1 <= 3 until b0 = 1, it is always the case that if m1 > 6 holds, then l3 <= 6 eventually holds.
Globally, it is always the case that if p2 < 7 holds and is succeeded by q0 >= 7, then j0 < 4 previously held.
Between f4 > 0 and w1 > 2, it is always the case that if d1 >= 1 holds, then m1 < 6 previously held and was preceded by p4 < 5 .
After i3 < 0 until e5 >= 0, it is always the case that if d2 <= 6 holds, then q0 < 4 eventually holds.
After h0 >= 4 until x2 >= 0, it is always the case that if m2 <= 7 holds, then f4 >= 1 eventually holds.
After p4 >= 4 until k2 = 6, k3 <= 2 eventually holds.
Before a2 = 6, it is always the case that if f3 > 7 holds, then v5 > 0 previously held.
After w3 >= 6, it is always the case that g5 = 6 holds.
Between f5 <= 6 and f4 > 5, it is always the case that if f3 < 7 holds, then i1 < 7 eventually holds and is succeeded by z4 >= 7, where f2 >= 7 does not hold between i1 < 7 and z4 >= 7 .
After y2 >= 4 until w0 < 0, it is never the case that a2 > 6 holds.
Before r1 < 2, it is always the case that if f4 <= 7 holds and is succeeded by y1 = 7, then j5 = 7 eventually holds after y1 = 7 .
Globally, it is always the case that if z5 = 2 holds, then a0 = 4 eventually holds and is succeeded by o1 <= 1, where g0 = 1 does not hold between a0 = 4 and o1 <= 1 .
After w3 <= 3 until k2 >= 1, it is always the case that q5 = 5 holds.
After q3 < 4, it is always the case that if m0 >= 5 holds and is succeeded by f0 <= 6, then q0 > 0 eventually holds after f0 <= 6 .
Between c0 > 2 and h2 = 4, u0 = 2 eventually holds.
After f0 >= 7, it is always the case that if u4 = 0 holds and is succeeded by b0 > 7, then n2 = 1 previously held.
Between z5 > 6 and o3 <= 5, it is always the case that if h4 >= 0 holds, then u3 > 5 previously held.
Globally, it is always the case that if t2 = 4 holds, then q5 >= 2 eventually holds and is succeeded by k3 > 7 .
Before c3 > 2, it is always the case that if i4 <= 4 holds, then f0 > 0 previously held.
Before p3 < 5, it is always the case that if s1 > 0 holds, then i2 <= 4 eventually holds.
Between y1 < 5 and t1 <= 2, it is always the case that o1 = 6 holds.
Before j0 <= 7, it is always the case that if a2 < 7 holds, then c4 < 5 previously held and was preceded by w5 >= 5 .
After x5 = 7, it is always the case that c3 > 0 holds.
Between p2 < 1 and p1 > 2, it is always the case that a3 >= 6 holds.
Globally, it is always the case that if l1 > 3 holds, then n1 < 6 eventually holds and is succeeded by o3 <= 7, where b0 < 2 does not hold between n1 < 6 and o3 <= 7 .
After j4 >= 4, s4 = 4 eventually holds.
Between r2 > 7 and z0 >= 2, it is always the case that if a0 >= 7 holds, then b2 < 6 previously held and was preceded by x2 >= 5 .
Between b2 > 6 and d2 > 7, it is always the case that if c4 <= 7 holds, then d0 < 1 eventually holds and is succeeded by p5 <= 3 .
Globally, it is always the case that if u2 < 7 holds, then u5 < 2 eventually holds and is succeeded by n5 > 7 .
After x0 = 3 until h3 = 2, it is never the case that z3 >= 7 holds.
Globally, it is never the case that h5 <= 6 holds.
After m4 <= 7 until n0 = 4, z3 > 1 eventually holds.
Before v2 >= 1, e1 <= 7 eventually holds.
Before x3 < 3, it is always the case that a5 = 4 holds.
Globally, it is always the case that if s4 >= 5 holds and is succeeded by r3 > 4, then b0 < 2 previously held.
After o3 > 4 until v5 <= 7, it is always the case that if v4 > 5 holds, then s1 > 1 eventually holds.
After d5 < 5, it is always the case that if l4 = 1 holds, then h0 < 7 previously held.
Globally, it is never the case that a2 >= 0 holds.
After x2 < 2, it is always the case that f1 <= 1 holds.
After s4 >= 5, it is never the case that f1 >= 3 holds.
After y1 > 5, it is never the case that a0 <= 1 holds.
Globally, it is always the case that if q1 = 3 holds, then u3 <= 1 eventually holds.
Between v1 > 6 and o1 > 6, it is always the case that if e5 >= 1 holds and is succeeded by w4 = 3, then i2 < 4 previously held.
After m0 >= 5 until e3 < 2, it is always the case that if q2 = 3 holds, then e3 < 6 eventually holds.
Globally, it is always the case that if k1 >= 1 holds, then g0 > 7 previously held and was preceded by w0 = 1 .
Before r3 <= 2, g3 < 3 eventually holds.
Between b3 = 4 and z0 > 1, it is always the case that s1 > 7 holds.
After q0 < 4 until c1 <= 1, it is always the case that if d0 <= 7 holds, then a1 <= 5 previously held.
After x1 < 2 until z3 > 1, b3 > 7 eventually holds.
Globally, it is always the case that if i2 < 0 holds and is succeeded by t4 > 2, then k2 < 7 eventually holds after t4 > 2 .
After y2 <= 4 until g5 >= 0, it is always the case that if f0 = 6 holds, then j0 < 1 previously held and was preceded by b0 > 7 .
After p0 >= 6, n5 >= 5 eventually holds.
Between k4 >= 3 and v1 <= 6, it is always the case that if w3 <= 4 holds and is succeeded by o3 < 6, then g2 > 4 eventually holds after o3 < 6 .
Before h2 < 5, it is always the case that if d1 >= 3 holds, then c0 >= 7 eventually holds and is succeeded by y0 > 5 .
After m3 < 7, it is always the case that if b5 <= 1 holds and is succeeded by j3 < 7, then s0 = 0 eventually holds after j3 < 7 .
Globally, it is always the case that if g2 <= 3 holds and is succeeded by v0 <= 7, then m0 <= 7 eventually holds after v0 <= 7 .
Between x5 <= 3 and q5 = 0, j4 = 3 eventually holds.
Between w0 = 5 and s4 >= 4, it is always the case that if x3 > 1 holds, then c2 = 3 previously held.
Before a2 = 3, p3 >= 7 eventually holds.
Globally, it is always the case that g0 < 3 holds.
Between s0 <= 5 and h4 > 0, q3 >= 4 eventually holds.
After n3 >= 7, h4 = 6 eventually holds.
After x2 <= 5 until u5 = 5, it is always the case that if t3 < 7 holds, then b1 = 2 previously held.
After n4 <= 4, it is always the case that if g5 = 0 holds and is succeeded by k5 > 1, then k5 < 3 eventually holds after k5 > 1 .
After t2 >= 6, it is always the case that if g1 <= 4 holds, then c2 < 5 eventually holds.
After f1 = 5, it is always the case that if a6 < 0 holds, then j4 > 0 eventually holds and is succeeded by v3 >= 0 .
Globally, it is always the case that if h1 > 4 holds and is succeeded by g4 = 1, then c2 <= 5 previously held.
Globally, c6 > 4 eventually holds.
Between r4 = 2 and s0 = 0, it is always the case that if a1 < 0 holds, then u3 < 7 previously held and was preceded by c0 = 1 .
After m1 = 6 until q3 > 4, it is always the case that if o4 = 5 holds, then w2 < 5 eventually holds and is succeeded by q5 < 2 .
Globally, it is always the case that o1 > 1 holds.
After e5 >= 7, it is always the case that if j0 <= 2 holds, then h1 > 5 previously held.
Globally, it is always the case that g4 >= 6 holds.
Before b1 = 3, it is always the case that if b1 <= 7 holds, then a5 >= 6 eventually holds and is succeeded by j1 <= 4 .
After n4 > 6, it is never the case that u0 <= 5 holds.
Globally, it is always the case that f1 = 3 holds.
After e3 <= 5 until c4 = 1, it is always the case that if q1 < 3 holds, then g0 = 5 previously held and was preceded by n0 > 4 .
Between k1 < 1 and m4 = 6, it is always the case that if k0 = 0 holds, then d1 <= 1 eventually holds and is succeeded by s1 <= 2, where a6 < 0 does not hold between d1 <= 1 and s1 <= 2 .
Before c1 < 4, it is always the case that if y3 < 6 holds, then h4 >= 4 eventually holds and is succeeded by l5 < 1, where t1 = 3 does not hold between h4 >= 4 and l5 < 1 .
After i4 = 1, it is always the case that if a0 < 7 holds, then h5 = 3 eventually holds and is succeeded by j3 >= 1 .
Globally, it is always the case that w1 <= 1 holds.
After x0 = 7, it is always the case that if t0 >= 3 holds, then d2 >= 4 previously held.
After m1 = 7 until o1 >= 0, it is always the case that if o0 < 7 holds, then w5 < 1 eventually holds and is succeeded by q3 <= 7 .
After b4 = 7 until x5 > 4, it is always the case that if x0 <= 2 holds, then d3 = 7 eventually holds.
Before w3 > 1, it is always the case that if e3 >= 2 holds, then c2 < 4 eventually holds and is succeeded by v3 < 4 .
After w3 <= 2, it is always the case that h4 = 7 holds.
Globally, h5 <= 0 eventually holds.
Between x4 = 4 and o3 < 5, it is always the case that if m3 > 7 holds and is succeeded by l1 >= 1, then v2 < 4 previously held.
Before m3 > 0, it is always the case that if j0 = 1 holds, then a5 <= 4 previously held and was preceded by z3 = 1 .
Globally, it is always the case that if a1 < 1 holds, then h3 <= 6 previously held.
Globally, it is always the case that if i5 < 2 holds and is succeeded by n1 > 5, then s5 < 1 eventually holds after n1 > 5 .
After f4 >= 3, t0 < 6 eventually holds.
Globally, it is always the case that if y5 = 3 holds and is succeeded by v5 = 2, then i3 > 1 previously held.
After l3 < 5 until m2 <= 5, it is never the case that b2 > 4 holds.
Before w1 < 5, a1 = 7 eventually holds.
Before w5 = 6, it is always the case that o3 < 7 holds.
Globally, it is always the case that if m5 >= 4 holds, then v3 = 4 previously held.
Before m3 < 1, it is always the case that if f5 <= 0 holds, then o2 <= 6 eventually holds and is succeeded by p2 = 2, where f3 <= 6 does not hold between o2 <= 6 and p2 = 2 .
After a3 >= 1 until i5 >= 2, it is always the case that if v4 = 3 holds, then c6 > 7 eventually holds and is succeeded by i0 > 0, where a1 > 7 does not hold between c6 > 7 and i0 > 0 .
Before x0 < 6, it is always the case that if j5 < 3 holds, then m4 >= 4 eventually holds and is succeeded by u1 >= 2 .
Globally, it is never the case that q3 > 1 holds.
After p1 = 7 until j1 < 4, it is always the case that if z5 = 5 holds, then u4 <= 4 previously held.
After e2 > 0 until z1 <= 2, it is always the case that if m0 >= 5 holds and is succeeded by c1 < 4, then g3 >= 3 eventually holds after c1 < 4 .
After k0 > 0 until a2 > 4, it is always the case that if l0 > 5 holds, then y0 >= 1 previously held.
Between y3 <= 4 and i3 = 5, it is always the case that if q2 <= 0 holds, then w3 = 6 eventually holds.
Globally, m2 < 6 eventually holds.
After c3 = 7 until e3 = 2, it is always the case that if p0 < 1 holds, then d2 >= 0 previously held and was preceded by k0 <= 3 .
After f5 = 6 until o2 <= 0, it is always the case that if w3 >= 1 holds, then i4 <= 3 previously held and was preceded by d5 > 4 .
Before q5 >= 3, it is always the case that if p4 = 3 holds, then w4 < 7 eventually holds.
After s0 >= 0 until w2 >= 7, it is never the case that x5 = 2 holds.
Between s5 <= 5 and m1 > 1, it is always the case that if e1 < 3 holds, then p4 < 0 eventually holds and is succeeded by x1 > 5, where k3 > 3 does not hold between p4 < 0 and x1 > 5 .
Between k5 > 2 and t5 <= 1, it is always the case that if v0 < 7 holds, then e2 = 6 previously held.
Before s2 < 5, it is always the case that if x1 <= 2 holds, then c2 > 6 previously held and was preceded by c5 < 2 .
Before k5 = 3, it is always the case that if j2 < 6 holds, then y0 <= 7 eventually holds and is succeeded by z0 <= 1 .
After i5 = 1, it is always the case that if x2 >= 1 holds, then t2 <= 7 eventually holds.
Before w0 >= 2, it is always the case that l0 < 1 holds.
Before w3 = 6, it is always the case that if n1 = 7 holds, then v4 = 6 eventually holds and is succeeded by c2 >= 6 .
Before k4 <= 2, it is always the case that if l2 >= 4 holds, then b4 > 4 eventually holds and is succeeded by h5 > 2, where m4 < 4 does not hold between b4 > 4 and h5 > 2 .
Globally, it is never the case that r0 = 3 holds.
Between j2 <= 0 and w5 = 5, it is always the case that if u3 > 5 holds and is succeeded by i4 = 5, then r3 = 2 previously held.
Between l0 = 6 and s5 = 6, it is always the case that if p5 >= 1 holds, then i1 <= 1 eventually holds and is succeeded by o3 >= 5 .
After f3 >= 4 until j0 = 2, it is always the case that if l5 > 6 holds, then n1 > 1 previously held.
Globally, it is always the case that if g3 <= 2 holds and is succeeded by h4 > 4, then m4 < 4 previously held.
After a0 = 3, it is always the case that if q1 <= 3 holds, then u4 > 2 eventually holds and is succeeded by n2 <= 3, where o2 >= 3 does not hold between u4 > 2 and n2 <= 3 .
After z0 = 0, it is never the case that d2 <= 4 holds.
Globally, it is always the case that if h2 <= 3 holds, then g2 > 7 previously held.
Globally, it is always the case that if r0 <= 6 holds, then e0 > 0 eventually holds and is succeeded by l1 >= 1, where n0 = 6 does not hold between e0 > 0 and l1 >= 1 .
Globally, it is always the case that if j4 > 0 holds, then j1 = 3 previously held.
Globally, it is always the case that if g0 >= 6 holds, then h3 = 3 eventually holds.
After w5 >= 7 until x5 >= 3, it is always the case that if m0 <= 6 holds, then r0 > 5 eventually holds and is succeeded by q0 <= 0 .
After d3 < 2 until p5 = 1, it is always the case that if a1 < 7 holds, then o0 >= 7 eventually holds and is succeeded by q3 <= 4 .
Between c3 = 1 and w1 >= 1, it is always the case that if u1 < 3 holds, then n3 <= 2 eventually holds and is succeeded by n1 >= 3, where m4 >= 6 does not hold between n3 <= 2 and n1 >= 3 .
Globally, s4 >= 1 eventually holds.
