Between d0 <= 2 and y5 >= 3, it is always the case that if l4 <= 0 holds, then c5 >= 3 eventually holds and is succeeded by t3 = 0, where q5 = 2 does not hold between c5 >= 3 and t3 = 0 .
Globally, it is always the case that if w1 >= 2 holds, then m5 > 0 previously held and was preceded by i5 <= 1 .
Between g1 < 0 and z0 <= 1, it is always the case that if j0 >= 3 holds, then s2 = 1 eventually holds and is succeeded by s2 <= 1, where b4 = 3 does not hold between s2 = 1 and s2 <= 1 .
After w0 > 0 until t3 > 3, it is always the case that if r0 > 3 holds and is succeeded by f1 <= 1, then i5 = 2 eventually holds after f1 <= 1 .
Globally, it is always the case that if a5 < 0 holds and is succeeded by w4 >= 3, then w5 < 1 eventually holds after w4 >= 3 .
After j3 < 3, it is always the case that if d5 = 1 holds and is succeeded by h0 > 3, then b4 >= 3 previously held.
Between a6 >= 0 and u2 < 2, n0 <= 1 eventually holds.
After o3 < 2, it is never the case that t0 <= 1 holds.
Between y2 > 0 and a4 <= 3, it is always the case that if e4 <= 1 holds and is succeeded by j5 < 1, then h2 = 1 previously held.
Globally, it is always the case that if e3 = 3 holds, then c4 <= 1 eventually holds.
After d2 = 2 until p2 >= 1, it is always the case that y0 = 0 holds.
Globally, it is always the case that if g3 > 2 holds, then h1 >= 2 previously held and was preceded by w5 <= 2 .
After t1 < 0, q5 = 0 eventually holds.
Globally, it is always the case that if g5 < 1 holds, then r5 <= 3 previously held.
After s0 < 0 until i4 <= 3, it is always the case that if r5 <= 1 holds, then k4 >= 0 eventually holds and is succeeded by d1 > 3 .
Before t4 >= 3, it is always the case that if i4 < 3 holds and is succeeded by x2 < 0, then i0 = 1 eventually holds after x2 < 0 .
Between k1 >= 3 and t4 = 0, it is always the case that if u2 > 3 holds and is succeeded by f5 < 1, then d1 < 3 previously held.
Between c2 = 1 and o3 > 1, it is always the case that if n3 < 1 holds, then w1 > 0 eventually holds.
Between j0 <= 1 and t2 >= 1, it is always the case that if z0 > 1 holds, then h2 = 0 previously held.
Globally, it is always the case that if m2 = 3 holds and is succeeded by k3 = 3, then o3 > 3 previously held.
Globally, it is always the case that if d0 < 3 holds and is succeeded by p4 <= 2, then w4 >= 3 previously held.
Between c4 >= 1 and y1 >= 1, it is always the case that if q1 > 3 holds, then k4 < 3 previously held and was preceded by s3 <= 3 .
Globally, it is always the case that if e5 = 0 holds and is succeeded by r2 = 0, then j3 = 1 eventually holds after r2 = 0 .
After r5 <= 3 until r0 < 3, it is always the case that if d1 < 3 holds, then e3 = 0 eventually holds.
After a5 <= 3, it is always the case that if h4 > 2 holds, then e4 >= 0 previously held.
Between t3 >= 1 and d4 > 0, it is always the case that if b4 = 3 holds, then o2 >= 1 eventually holds.
After e3 >= 2, it is always the case that if a3 <= 3 holds and is succeeded by a1 = 1, then w5 = 3 previously held.
Globally, it is always the case that if g0 = 3 holds, then g5 > 1 eventually holds and is succeeded by w4 < 0, where b1 = 2 does not hold between g5 > 1 and w4 < 0 .
After i3 >= 1, it is never the case that p5 < 2 holds.
Before i1 > 2, it is never the case that p3 <= 2 holds.
After n1 <= 1 until c4 = 2, it is always the case that if q1 >= 0 holds, then c1 <= 1 eventually holds and is succeeded by c0 < 3 .
Globally, m1 > 1 eventually holds.
After n0 = 3 until s0 = 1, it is always the case that if z2 <= 1 holds, then b1 = 1 eventually holds and is succeeded by e3 >= 1, where a4 = 0 does not hold between b1 = 1 and e3 >= 1 .
Globally, it is always the case that if f0 >= 3 holds, then t2 <= 1 eventually holds and is succeeded by x3 <= 1, where p0 > 2 does not hold between t2 <= 1 and x3 <= 1 .
Between w4 = 2 and p3 = 1, it is always the case that if z3 < 3 holds, then u4 <= 3 eventually holds and is succeeded by j5 <= 2 .
Globally, it is always the case that if y3 >= 2 holds, then e3 >= 1 previously held and was preceded by m1 <= 2 .
Before f0 >= 0, it is always the case that if x3 = 3 holds, then x0 >= 3 eventually holds.
After e3 <= 1 until u1 < 0, d1 >= 1 eventually holds.
Between z0 <= 1 and v5 <= 0, it is always the case that if x4 <= 0 holds, then j3 > 1 eventually holds and is succeeded by z3 > 2, where i5 <= 3 does not hold between j3 > 1 and z3 > 2 .
After c5 > 2, it is always the case that c0 <= 0 holds.
Between r5 >= 3 and o3 >= 0, it is always the case that if a3 > 0 holds and is succeeded by z4 < 0, then u3 > 2 eventually holds after z4 < 0 .
Between c2 = 2 and y0 >= 0, it is always the case that if p0 <= 0 holds, then e1 >= 0 previously held and was preceded by q1 <= 0 .
After q3 > 3 until s5 >= 3, w2 < 2 eventually holds.
Between u4 <= 1 and h3 >= 1, it is always the case that f2 >= 1 holds.
Between a1 > 1 and c0 = 2, it is always the case that if n2 > 0 holds, then i4 = 1 previously held and was preceded by b6 = 3 .
Globally, it is always the case that if c0 <= 0 holds, then r2 >= 0 previously held.
Between x4 <= 3 and b4 = 1, it is always the case that if j1 >= 1 holds, then o4 < 0 eventually holds and is succeeded by z4 > 0, where m4 > 1 does not hold between o4 < 0 and z4 > 0 .
Between k2 < 0 and h5 = 2, it is always the case that if h0 = 3 holds, then d5 <= 2 eventually holds and is succeeded by v3 < 0 .
After y2 > 3, it is always the case that if s3 > 2 holds, then p3 > 2 eventually holds and is succeeded by t0 > 0, where d3 >= 1 does not hold between p3 > 2 and t0 > 0 .
Before o3 > 3, it is always the case that if j5 = 2 holds, then c0 >= 3 eventually holds and is succeeded by x2 >= 2, where z2 >= 1 does not hold between c0 >= 3 and x2 >= 2 .
After u2 = 3 until i0 > 2, g3 < 1 eventually holds.
Before g2 > 3, it is always the case that if i3 < 1 holds, then y3 >= 2 eventually holds and is succeeded by y0 > 1, where o2 >= 2 does not hold between y3 >= 2 and y0 > 1 .
After s5 > 3 until n2 = 3, it is always the case that if a1 = 0 holds, then g2 >= 2 eventually holds.
Between s4 = 1 and x3 < 1, it is always the case that if c1 < 3 holds, then q3 < 0 eventually holds and is succeeded by x1 > 3 .
After t2 < 2 until c0 < 2, it is always the case that if x0 > 2 holds and is succeeded by b2 = 2, then v4 > 0 eventually holds after b2 = 2 .
Globally, it is always the case that if o4 >= 2 holds, then w3 > 3 eventually holds.
After y5 < 0, it is always the case that if v3 < 1 holds and is succeeded by h1 >= 1, then b4 = 3 eventually holds after h1 >= 1 .
Globally, it is always the case that if g4 < 0 holds and is succeeded by k2 <= 1, then g3 < 0 eventually holds after k2 <= 1 .
After e0 >= 1 until g5 = 2, it is always the case that if x3 > 0 holds and is succeeded by a4 > 0, then q4 = 3 eventually holds after a4 > 0 .
Globally, it is always the case that if d0 > 0 holds and is succeeded by k3 = 1, then g1 = 3 previously held.
Before k3 < 1, it is never the case that j4 <= 0 holds.
Between z0 >= 0 and e5 <= 2, it is never the case that a4 > 0 holds.
Between h1 < 0 and p2 >= 2, it is always the case that if x3 > 0 holds, then j2 > 2 previously held and was preceded by c0 = 1 .
After x3 <= 3, it is always the case that if h2 <= 1 holds, then r1 > 2 previously held and was preceded by k4 >= 2 .
Before k5 >= 1, it is always the case that if p4 > 2 holds and is succeeded by p2 <= 2, then r3 > 3 eventually holds after p2 <= 2 .
Globally, it is always the case that l2 <= 3 holds.
After y0 < 1, it is always the case that if n5 > 3 holds, then b5 > 0 eventually holds and is succeeded by s4 = 0, where k3 < 2 does not hold between b5 > 0 and s4 = 0 .
After f5 <= 0, it is always the case that if k1 = 0 holds, then i1 < 3 previously held.
Before y2 >= 3, it is always the case that if q0 = 2 holds and is succeeded by j5 > 3, then f0 >= 3 eventually holds after j5 > 3 .
After y2 > 2, m3 = 2 eventually holds.
Before h0 < 3, i1 <= 2 eventually holds.
After f3 <= 0, it is always the case that if z3 >= 0 holds and is succeeded by h5 <= 3, then o3 >= 1 previously held.
After h0 > 0, it is always the case that if a1 = 3 holds, then f3 < 0 previously held and was preceded by l3 = 2 .
After p4 >= 2, it is always the case that if c0 <= 1 holds, then q0 < 3 eventually holds and is succeeded by z3 > 0 .
Before s1 < 1, a0 = 0 eventually holds.
After u2 = 2, it is always the case that b2 <= 1 holds.
Between b4 = 0 and t0 > 3, it is always the case that if p3 < 2 holds and is succeeded by j1 > 0, then g2 <= 2 eventually holds after j1 > 0 .
Between i5 = 3 and m3 < 2, it is always the case that if d4 > 0 holds, then z4 < 2 eventually holds and is succeeded by u3 > 2, where r0 = 1 does not hold between z4 < 2 and u3 > 2 .
After i1 = 1 until y2 < 3, it is always the case that if v4 < 2 holds, then h1 > 3 previously held.
Between l2 = 3 and n5 > 2, it is always the case that if l4 <= 0 holds, then x0 > 1 previously held and was preceded by m2 <= 0 .
After t5 >= 2 until g4 = 0, it is always the case that if a3 <= 0 holds, then i0 <= 2 previously held.
Globally, it is always the case that if q3 = 2 holds, then i2 <= 1 eventually holds and is succeeded by d5 <= 0 .
Globally, it is always the case that y5 < 2 holds.
Before l2 >= 3, it is always the case that if y4 < 0 holds, then e0 >= 0 previously held.
Before j0 < 3, it is always the case that g3 >= 0 holds.
After p4 > 0, it is always the case that if q2 >= 3 holds and is succeeded by s0 > 3, then b1 >= 3 previously held.
Globally, it is always the case that if p2 >= 1 holds and is succeeded by u3 = 1, then s3 < 2 eventually holds after u3 = 1 .
Before j1 >= 0, it is always the case that if b0 >= 2 holds and is succeeded by y2 <= 1, then t2 = 1 previously held.
After j4 <= 0, it is always the case that s5 > 1 holds.
After f4 >= 1 until l5 > 0, it is always the case that h5 > 1 holds.
Before n3 >= 2, it is always the case that if e0 = 3 holds and is succeeded by p4 > 2, then h1 > 1 previously held.
After m1 > 0, it is always the case that if f2 > 0 holds and is succeeded by h5 > 2, then r5 > 0 previously held.
Between x0 < 3 and z4 <= 1, it is always the case that if p2 < 2 holds, then d3 > 3 previously held.
Between e0 >= 2 and j1 = 2, it is always the case that if c0 >= 2 holds, then b4 = 3 eventually holds and is succeeded by e1 = 2, where x0 < 3 does not hold between b4 = 3 and e1 = 2 .
Globally, it is always the case that if a4 < 3 holds, then w3 >= 3 previously held and was preceded by x3 = 0 .
Between p3 > 2 and p1 = 3, it is always the case that if s5 = 1 holds, then d3 > 3 previously held and was preceded by c3 < 0 .
Globally, it is always the case that if h1 <= 1 holds and is succeeded by i5 > 3, then m5 = 3 eventually holds after i5 > 3 .
Before j0 > 0, it is always the case that if u5 = 3 holds, then u5 >= 0 eventually holds.
After h3 >= 1, it is never the case that l4 < 0 holds.
Between m2 > 3 and b5 = 2, it is always the case that if w1 < 2 holds, then c5 = 3 eventually holds and is succeeded by i2 <= 2, where f0 <= 2 does not hold between c5 = 3 and i2 <= 2 .
After m4 >= 2 until o4 = 0, it is always the case that if b1 >= 2 holds, then k4 > 2 previously held.
Between g4 >= 2 and y3 = 1, it is always the case that if m0 = 1 holds, then g3 < 2 previously held and was preceded by d2 = 0 .
After c6 <= 3 until p2 <= 0, it is never the case that h0 = 1 holds.
Globally, it is always the case that if e4 >= 3 holds, then b4 >= 2 previously held and was preceded by y3 >= 2 .
Before h3 >= 1, it is always the case that if i5 < 3 holds, then h3 > 1 previously held and was preceded by g5 > 1 .
Between c2 > 2 and s1 <= 0, m0 = 1 eventually holds.
After f2 > 3 until a3 > 3, it is always the case that if n2 > 1 holds, then d1 <= 1 eventually holds and is succeeded by a2 = 0 .
After i3 <= 3 until i3 < 3, it is always the case that if l1 = 3 holds, then q5 > 1 eventually holds and is succeeded by p5 > 2, where s2 = 2 does not hold between q5 > 1 and p5 > 2 .
Globally, it is always the case that if f5 = 2 holds, then k3 = 0 previously held and was preceded by m0 <= 3 .
Between j3 <= 3 and a3 > 3, it is always the case that if v1 >= 3 holds, then k0 > 3 eventually holds.
After v3 = 3 until p4 < 2, it is always the case that if o3 = 3 holds, then o3 <= 2 previously held.
After r0 <= 0, it is always the case that if w2 <= 0 holds, then b2 = 2 previously held.
After u0 > 0, u1 >= 0 eventually holds.
After o0 >= 1, it is always the case that if d4 <= 2 holds, then i5 <= 3 previously held.
Globally, it is always the case that if q5 <= 3 holds and is succeeded by z5 <= 3, then p2 >= 2 eventually holds after z5 <= 3 .
After x5 <= 3 until s2 >= 0, it is always the case that if c1 > 3 holds, then j3 <= 0 previously held and was preceded by g0 > 1 .
Between o2 < 2 and z4 = 2, m4 = 2 eventually holds.
Between g2 = 2 and j4 >= 0, it is never the case that x4 <= 1 holds.
After x4 < 3 until c6 > 1, it is always the case that if h5 >= 2 holds, then m5 > 2 eventually holds.
Before j3 > 0, it is always the case that c4 < 2 holds.
