After a0 <= 7 until h0 = 2, it is always the case that e0 = 23 holds.
After o0 < 11 until j0 = 30, it is always the case that if b0 > 7 holds, then h0 <= 24 previously held and was preceded by p0 >= 27 .
After m0 < 8 until h0 <= 11, it is always the case that if d0 <= 24 holds, then o0 <= 4 eventually holds and is succeeded by d0 >= 10, where g0 = 17 does not hold between o0 <= 4 and d0 >= 10 .
Globally, it is always the case that if k0 > 6 holds and is succeeded by g0 >= 6, then s0 = 16 eventually holds after g0 >= 6 .
After e0 < 25, f0 <= 16 eventually holds.
Before q0 > 4, it is always the case that if j0 < 21 holds, then r0 >= 30 previously held.
Between p0 >= 9 and f0 <= 21, it is always the case that if g0 > 31 holds and is succeeded by h0 <= 1, then d0 = 21 previously held.
Before c0 >= 25, it is always the case that if n0 >= 11 holds, then n0 < 12 previously held and was preceded by n0 = 26 .
Before m0 < 23, r0 > 2 eventually holds.
Between c0 >= 30 and j0 >= 10, it is always the case that if c0 > 25 holds, then h0 > 11 eventually holds and is succeeded by a0 = 30 .
After d0 <= 20, it is always the case that if c0 < 10 holds, then g0 = 21 eventually holds.
Between s0 >= 25 and q0 < 24, it is always the case that if g0 = 5 holds, then i0 = 10 eventually holds and is succeeded by c0 = 11 .
After n0 = 25, it is always the case that if i0 = 19 holds, then o0 <= 30 eventually holds and is succeeded by p0 = 2 .
Before j0 = 27, it is always the case that if q0 = 12 holds and is succeeded by i0 > 18, then e0 >= 24 eventually holds after i0 > 18 .
Before h0 = 2, it is always the case that if j0 <= 26 holds and is succeeded by g0 = 27, then s0 < 13 eventually holds after g0 = 27 .
Globally, it is always the case that j0 >= 29 holds.
After f0 >= 8 until e0 = 20, p0 >= 21 eventually holds.
Globally, it is never the case that d0 <= 22 holds.
Between p0 <= 30 and a0 <= 11, it is always the case that if o0 = 1 holds, then q0 <= 26 eventually holds.
After p0 <= 15, it is never the case that g0 > 7 holds.
After c0 >= 18, it is always the case that if k0 > 31 holds, then a0 > 17 previously held and was preceded by j0 >= 22 .
Between d0 < 18 and e0 > 28, it is always the case that if h0 <= 2 holds and is succeeded by r0 >= 20, then m0 > 24 eventually holds after r0 >= 20 .
Between f0 = 12 and b0 >= 6, it is always the case that if p0 = 10 holds, then m0 = 17 previously held.
Between e0 = 21 and j0 > 1, it is never the case that g0 > 0 holds.
Globally, it is always the case that if q0 <= 19 holds, then d0 >= 6 eventually holds and is succeeded by k0 >= 5 .
After a0 > 22 until f0 > 30, it is always the case that h0 >= 25 holds.
After p0 >= 15, it is never the case that h0 < 20 holds.
Globally, it is always the case that if i0 < 9 holds, then r0 < 6 previously held.
After o0 <= 3, it is never the case that p0 = 15 holds.
After c0 >= 25 until j0 = 18, it is always the case that if h0 > 20 holds and is succeeded by k0 > 19, then q0 <= 2 previously held.
After q0 > 12, it is always the case that k0 <= 24 holds.
Between h0 > 31 and e0 > 28, it is always the case that if c0 >= 20 holds, then i0 = 20 previously held and was preceded by i0 > 5 .
Globally, it is always the case that if k0 <= 22 holds, then l0 > 15 eventually holds and is succeeded by q0 >= 19 .
Globally, it is always the case that if e0 = 27 holds, then e0 < 10 eventually holds and is succeeded by l0 <= 25, where j0 > 7 does not hold between e0 < 10 and l0 <= 25 .
After k0 > 28 until b0 < 29, i0 = 16 eventually holds.
Globally, it is always the case that if e0 >= 1 holds, then n0 >= 5 previously held.
After j0 <= 5 until b0 >= 19, it is always the case that if g0 >= 10 holds, then b0 <= 24 eventually holds.
Before g0 >= 29, it is always the case that if c0 < 13 holds, then a0 = 30 previously held.
Globally, it is always the case that if f0 = 11 holds, then s0 = 30 eventually holds and is succeeded by l0 = 21, where j0 = 4 does not hold between s0 = 30 and l0 = 21 .
Globally, it is always the case that if p0 > 12 holds, then o0 > 29 eventually holds.
After l0 <= 13, it is always the case that if l0 <= 18 holds, then g0 <= 6 previously held.
Globally, it is always the case that if n0 >= 10 holds, then l0 = 8 eventually holds and is succeeded by p0 > 11, where e0 = 7 does not hold between l0 = 8 and p0 > 11 .
After m0 <= 9 until i0 = 5, l0 < 18 eventually holds.
Between c0 < 18 and m0 > 11, it is always the case that if f0 >= 17 holds, then n0 < 24 previously held and was preceded by f0 = 25 .
Before c0 >= 27, it is always the case that if h0 = 30 holds, then l0 = 23 eventually holds and is succeeded by e0 < 10, where n0 < 27 does not hold between l0 = 23 and e0 < 10 .
After e0 <= 9 until e0 < 24, it is never the case that p0 >= 26 holds.
After j0 < 27, it is always the case that if g0 > 28 holds, then e0 <= 19 eventually holds and is succeeded by c0 < 20, where p0 >= 24 does not hold between e0 <= 19 and c0 < 20 .
Between l0 < 19 and c0 >= 10, it is always the case that if p0 > 11 holds, then k0 = 14 previously held.
After e0 >= 19 until o0 <= 18, it is never the case that h0 > 6 holds.
After a0 < 0, it is always the case that a0 < 22 holds.
After l0 <= 3 until l0 >= 27, it is always the case that if c0 > 17 holds, then p0 < 16 previously held and was preceded by h0 > 23 .
Between l0 >= 27 and h0 > 0, it is always the case that if s0 < 22 holds, then l0 >= 18 previously held.
Before q0 >= 6, it is always the case that if h0 >= 21 holds, then d0 > 23 previously held and was preceded by r0 >= 25 .
After a0 >= 23 until g0 <= 6, c0 < 14 eventually holds.
After n0 <= 28, it is always the case that j0 < 29 holds.
After g0 <= 27 until m0 > 21, it is always the case that if i0 >= 7 holds, then i0 < 18 previously held and was preceded by n0 > 25 .
Before b0 < 6, it is always the case that if i0 <= 27 holds, then k0 >= 8 previously held and was preceded by i0 > 16 .
Globally, c0 <= 6 eventually holds.
After k0 <= 14 until p0 = 26, it is always the case that if q0 = 25 holds, then r0 <= 20 eventually holds and is succeeded by f0 <= 6, where n0 = 29 does not hold between r0 <= 20 and f0 <= 6 .
Before e0 <= 6, it is always the case that if p0 < 22 holds, then a0 > 31 eventually holds and is succeeded by r0 > 7 .
After m0 <= 17, it is always the case that if a0 <= 30 holds, then k0 <= 29 eventually holds and is succeeded by s0 >= 13 .
Before h0 <= 14, it is always the case that if d0 = 22 holds, then j0 <= 17 previously held and was preceded by n0 < 2 .
Globally, it is always the case that if c0 < 15 holds and is succeeded by a0 > 5, then n0 < 21 previously held.
Globally, it is always the case that if g0 < 1 holds, then j0 >= 2 previously held and was preceded by e0 >= 8 .
Between s0 >= 21 and n0 >= 2, it is always the case that if k0 > 14 holds, then l0 >= 4 previously held.
After m0 <= 10, it is always the case that f0 < 26 holds.
After c0 < 28, it is always the case that if r0 <= 11 holds, then m0 < 1 eventually holds and is succeeded by o0 > 7 .
Before d0 = 9, it is always the case that m0 <= 30 holds.
Globally, it is always the case that if j0 <= 31 holds, then f0 > 28 previously held.
Between r0 = 12 and k0 > 14, it is always the case that if d0 > 11 holds and is succeeded by e0 <= 19, then j0 < 22 previously held.
Globally, it is never the case that r0 < 17 holds.
Between e0 >= 18 and n0 <= 26, it is always the case that if h0 < 11 holds, then d0 > 6 previously held and was preceded by a0 > 8 .
After a0 < 17 until i0 = 24, it is always the case that if g0 = 29 holds, then h0 > 18 previously held and was preceded by q0 > 19 .
Before a0 < 29, it is always the case that if s0 = 11 holds, then e0 = 3 eventually holds.
After o0 < 3 until l0 > 8, it is always the case that if r0 >= 21 holds, then p0 >= 21 eventually holds.
After s0 < 18, it is always the case that g0 >= 29 holds.
Before b0 < 23, it is always the case that if k0 < 30 holds, then e0 < 21 eventually holds and is succeeded by k0 <= 19 .
After d0 = 22, it is always the case that if o0 <= 5 holds, then l0 > 19 previously held.
Between k0 <= 4 and e0 < 15, it is always the case that if j0 = 20 holds, then k0 <= 25 previously held and was preceded by r0 < 19 .
Between a0 > 28 and j0 = 14, it is always the case that i0 > 2 holds.
Before p0 >= 5, it is never the case that c0 < 18 holds.
After a0 = 20, it is always the case that if n0 <= 2 holds, then j0 = 16 previously held and was preceded by i0 > 25 .
Globally, it is always the case that if m0 <= 23 holds, then h0 > 29 previously held and was preceded by e0 < 0 .
Before c0 <= 6, it is always the case that if c0 <= 20 holds, then s0 >= 16 previously held.
After p0 = 16, it is always the case that l0 < 25 holds.
Globally, it is always the case that l0 > 0 holds.
Between e0 <= 27 and s0 = 12, it is always the case that if c0 >= 11 holds and is succeeded by b0 >= 19, then g0 >= 23 eventually holds after b0 >= 19 .
Between b0 = 30 and r0 > 9, it is always the case that if f0 < 14 holds and is succeeded by p0 = 12, then n0 > 11 eventually holds after p0 = 12 .
After k0 > 23, it is never the case that h0 > 3 holds.
After l0 >= 11, it is always the case that if i0 > 19 holds, then s0 = 26 eventually holds and is succeeded by f0 = 8 .
Between e0 < 7 and h0 <= 12, it is always the case that f0 < 29 holds.
Globally, it is never the case that d0 <= 13 holds.
After c0 = 18 until a0 = 6, it is always the case that if j0 = 10 holds and is succeeded by e0 = 11, then e0 <= 29 eventually holds after e0 = 11 .
Between i0 <= 17 and s0 = 30, it is always the case that if o0 <= 9 holds, then c0 < 18 eventually holds and is succeeded by b0 = 26 .
After n0 <= 27, it is always the case that if d0 <= 19 holds and is succeeded by a0 <= 3, then m0 < 7 previously held.
Globally, it is always the case that if s0 < 8 holds, then b0 = 17 eventually holds and is succeeded by l0 < 4 .
After g0 >= 9, it is never the case that g0 >= 19 holds.
After o0 > 14 until p0 > 18, it is always the case that i0 < 14 holds.
Before f0 < 26, it is never the case that n0 = 18 holds.
Between o0 >= 16 and j0 <= 0, it is always the case that q0 < 24 holds.
Globally, it is always the case that if e0 > 1 holds, then r0 >= 27 eventually holds and is succeeded by r0 <= 0, where s0 <= 2 does not hold between r0 >= 27 and r0 <= 0 .
After a0 <= 8, n0 < 5 eventually holds.
Between e0 >= 23 and m0 > 24, it is always the case that if k0 < 11 holds and is succeeded by g0 < 3, then d0 = 29 previously held.
After f0 <= 24 until p0 <= 16, it is never the case that o0 < 28 holds.
Between b0 = 7 and e0 >= 31, l0 < 6 eventually holds.
Between p0 < 12 and f0 < 12, it is always the case that if m0 <= 2 holds, then d0 >= 21 eventually holds and is succeeded by l0 >= 4, where i0 = 6 does not hold between d0 >= 21 and l0 >= 4 .
Globally, it is always the case that if n0 >= 10 holds and is succeeded by r0 > 7, then r0 < 21 eventually holds after r0 > 7 .
Globally, it is always the case that if b0 < 7 holds and is succeeded by i0 > 3, then p0 > 23 eventually holds after i0 > 3 .
Globally, it is always the case that if l0 = 0 holds, then l0 < 3 eventually holds.
Before e0 >= 22, it is never the case that p0 >= 14 holds.
Globally, it is always the case that p0 <= 8 holds.
Between o0 <= 17 and c0 > 27, it is never the case that s0 > 29 holds.
Before q0 < 22, it is always the case that s0 < 20 holds.
Before m0 = 1, it is never the case that a0 <= 30 holds.
Between c0 >= 14 and f0 < 11, it is never the case that b0 <= 21 holds.
After n0 = 24 until m0 >= 5, it is always the case that if e0 < 9 holds, then s0 <= 21 previously held and was preceded by f0 = 17 .
Globally, it is always the case that if p0 = 17 holds and is succeeded by s0 = 15, then r0 > 26 previously held.
Between n0 = 24 and m0 < 25, it is always the case that if j0 < 14 holds, then n0 = 4 eventually holds.
Between c0 <= 0 and o0 > 11, it is always the case that if k0 = 20 holds, then d0 > 2 eventually holds and is succeeded by m0 <= 22, where m0 > 20 does not hold between d0 > 2 and m0 <= 22 .
Globally, it is always the case that if b0 = 0 holds, then q0 = 19 eventually holds and is succeeded by q0 >= 25 .
