After o0 < 4, it is always the case that if j5 < 13 holds, then b6 = 13 previously held.
After x0 >= 15, it is always the case that if c0 <= 17 holds and is succeeded by j1 > 25, then p0 < 29 eventually holds after j1 > 25 .
After i4 < 16, it is never the case that d4 >= 3 holds.
Before e2 = 12, it is always the case that if v1 >= 14 holds and is succeeded by k0 >= 6, then j0 < 9 eventually holds after k0 >= 6 .
After k5 <= 9 until l2 <= 30, it is always the case that if m4 <= 25 holds, then x0 < 31 previously held and was preceded by i0 = 13 .
Globally, it is always the case that if a5 >= 11 holds and is succeeded by z0 >= 4, then h2 < 15 previously held.
Between l0 >= 16 and x0 < 12, it is always the case that if o1 > 7 holds, then x0 >= 9 eventually holds and is succeeded by e5 = 30 .
Globally, it is always the case that if e2 > 18 holds, then j1 <= 27 previously held and was preceded by c6 >= 29 .
Globally, it is always the case that if h4 < 11 holds and is succeeded by i5 >= 22, then y5 > 28 previously held.
Globally, w0 < 9 eventually holds.
After z3 = 1 until m0 >= 8, it is always the case that if c3 <= 18 holds, then a6 <= 25 eventually holds.
After b2 = 18 until f5 > 23, r1 <= 6 eventually holds.
After l5 < 9 until t0 >= 20, it is always the case that a3 > 2 holds.
After i0 < 16 until y2 < 16, it is always the case that if u0 <= 15 holds, then p5 <= 7 eventually holds and is succeeded by j2 <= 12 .
Globally, it is always the case that if o3 <= 24 holds and is succeeded by u4 <= 14, then g0 < 20 previously held.
Before l4 = 8, it is always the case that if z4 = 11 holds and is succeeded by w4 >= 25, then h2 <= 19 previously held.
After p5 <= 7 until a5 >= 3, it is always the case that if r1 >= 29 holds, then v0 <= 29 eventually holds.
Globally, it is always the case that if p0 >= 23 holds, then i4 > 5 previously held.
After m5 >= 10, it is always the case that if u2 < 27 holds and is succeeded by v3 >= 23, then n5 >= 14 previously held.
After d1 <= 25, it is always the case that if e5 = 16 holds and is succeeded by j5 < 10, then m1 > 30 eventually holds after j5 < 10 .
Before l4 >= 0, it is always the case that if w0 < 20 holds, then k2 = 2 eventually holds.
Between e0 < 11 and y0 >= 28, it is always the case that if y5 < 24 holds, then y3 = 2 eventually holds and is succeeded by i1 > 11, where j3 = 13 does not hold between y3 = 2 and i1 > 11 .
Between s5 < 7 and b3 < 28, it is always the case that z1 >= 30 holds.
After i5 >= 17 until f1 <= 24, it is always the case that r1 > 4 holds.
After o0 <= 23 until p3 >= 13, it is always the case that if j1 < 2 holds, then k2 = 12 eventually holds and is succeeded by v5 = 24 .
After e3 > 19 until k1 < 15, it is never the case that w0 <= 24 holds.
Globally, z5 < 13 eventually holds.
Globally, b2 > 31 eventually holds.
After p1 <= 11 until k0 = 17, it is always the case that if n2 >= 26 holds, then w2 > 14 previously held and was preceded by i1 < 5 .
After j4 > 20 until m0 = 15, it is always the case that if p5 = 30 holds and is succeeded by i4 < 27, then n2 >= 5 eventually holds after i4 < 27 .
Globally, it is always the case that if z3 <= 25 holds, then p4 < 24 eventually holds and is succeeded by x1 <= 30 .
Before j5 >= 30, it is always the case that if a4 >= 1 holds, then v2 <= 18 eventually holds and is succeeded by j3 < 12 .
Between n4 = 28 and y0 = 17, a0 <= 8 eventually holds.
Between c2 = 7 and b4 > 26, it is always the case that if o2 <= 21 holds, then e0 < 16 eventually holds.
Between w2 < 23 and q4 = 5, it is always the case that if n2 > 8 holds, then e5 > 20 previously held.
Globally, it is always the case that if r0 >= 24 holds, then m4 < 3 eventually holds and is succeeded by f5 >= 7, where n3 = 12 does not hold between m4 < 3 and f5 >= 7 .
After c6 > 20, it is always the case that if k0 <= 30 holds and is succeeded by b6 >= 27, then u2 > 27 previously held.
Globally, it is always the case that if e0 = 21 holds and is succeeded by l0 = 0, then c0 >= 3 eventually holds after l0 = 0 .
After y3 < 4, it is always the case that if v1 <= 6 holds and is succeeded by u1 > 17, then d5 <= 7 eventually holds after u1 > 17 .
Between d0 >= 26 and i2 > 13, it is always the case that if a4 = 30 holds, then z3 = 13 previously held and was preceded by c1 < 18 .
Globally, it is always the case that if h3 <= 22 holds and is succeeded by k4 <= 28, then u0 > 12 previously held.
After w4 >= 0 until u4 = 25, it is never the case that u1 >= 13 holds.
Before z5 < 2, it is always the case that if r5 > 4 holds, then p2 <= 12 eventually holds.
Before n5 >= 22, it is always the case that h5 >= 1 holds.
Between i5 < 25 and a6 <= 22, it is always the case that if t2 >= 13 holds, then u0 = 8 previously held and was preceded by p5 >= 4 .
Between r2 = 30 and f1 >= 8, it is always the case that if e5 > 16 holds, then c2 >= 4 eventually holds and is succeeded by k0 < 5, where n3 > 13 does not hold between c2 >= 4 and k0 < 5 .
After c3 < 1, it is always the case that if m3 = 28 holds, then v5 > 5 eventually holds.
Between m0 = 21 and c3 < 10, h3 < 23 eventually holds.
Before d1 = 28, it is always the case that z4 <= 22 holds.
After l3 >= 13, it is always the case that c0 >= 25 holds.
After d1 <= 15 until v1 <= 2, d3 = 29 eventually holds.
Between a6 = 28 and j2 = 26, it is always the case that if y2 >= 22 holds, then i2 >= 27 previously held and was preceded by t2 < 14 .
Between e5 = 31 and h2 <= 24, it is always the case that if d2 >= 9 holds and is succeeded by s5 <= 27, then d2 = 12 previously held.
Between l1 <= 12 and b5 >= 8, k4 > 22 eventually holds.
After n4 = 22, it is always the case that if h2 < 19 holds, then u5 >= 11 previously held and was preceded by z5 <= 11 .
Before j5 > 25, it is always the case that if y3 >= 18 holds and is succeeded by x3 < 22, then o2 < 26 eventually holds after x3 < 22 .
Between p5 <= 21 and i5 < 0, it is always the case that if p5 < 10 holds, then y1 <= 0 eventually holds and is succeeded by t4 <= 18, where p1 < 29 does not hold between y1 <= 0 and t4 <= 18 .
Between s4 >= 1 and b6 <= 12, it is always the case that if x0 < 12 holds, then z2 >= 8 previously held and was preceded by g2 >= 21 .
After a5 >= 16 until c1 < 13, it is always the case that if l1 > 29 holds, then n1 = 17 eventually holds and is succeeded by l3 >= 31, where x4 = 5 does not hold between n1 = 17 and l3 >= 31 .
After c6 <= 15, it is never the case that p3 = 7 holds.
Before z2 < 29, it is always the case that if g2 < 15 holds, then d3 > 10 eventually holds.
Between a6 > 6 and r4 = 4, it is always the case that if e1 > 3 holds and is succeeded by p5 >= 12, then a1 <= 6 eventually holds after p5 >= 12 .
After w3 >= 31 until q4 > 8, it is always the case that if d2 >= 3 holds and is succeeded by h5 >= 18, then z4 >= 26 previously held.
Globally, it is always the case that if o2 < 17 holds, then t1 < 9 eventually holds and is succeeded by c5 >= 31, where d3 = 18 does not hold between t1 < 9 and c5 >= 31 .
Globally, it is always the case that if k4 <= 3 holds and is succeeded by u5 >= 16, then c2 > 0 previously held.
Globally, z1 > 6 eventually holds.
Globally, it is never the case that z5 < 16 holds.
After v5 < 12 until b6 > 31, it is always the case that if y1 = 27 holds, then w0 = 3 eventually holds.
After u5 < 13 until u0 <= 18, it is always the case that if p4 = 3 holds, then l0 >= 14 eventually holds and is succeeded by a5 >= 13 .
After n0 < 29 until o1 > 24, u4 <= 3 eventually holds.
Globally, it is always the case that if b0 > 16 holds, then a4 > 9 eventually holds.
Between w4 <= 19 and h0 > 9, it is always the case that if f5 = 19 holds, then v0 < 31 previously held.
After i3 <= 9, it is never the case that g4 <= 3 holds.
After y3 > 10 until l3 < 9, it is always the case that if w0 >= 26 holds, then k2 = 16 eventually holds.
Globally, it is always the case that if u0 > 11 holds, then k5 = 0 eventually holds.
After x5 > 1, it is always the case that if f5 > 7 holds, then w3 <= 29 eventually holds and is succeeded by g0 < 6 .
Globally, it is always the case that if z4 <= 3 holds, then j0 < 14 previously held and was preceded by k0 = 21 .
Globally, it is always the case that if c1 <= 7 holds, then s0 = 0 previously held and was preceded by g1 >= 18 .
Between f3 > 30 and k3 > 15, it is always the case that if d4 <= 23 holds and is succeeded by m4 >= 30, then w5 = 8 eventually holds after m4 >= 30 .
After a4 <= 0, it is always the case that if a3 > 8 holds and is succeeded by n3 < 4, then m5 < 22 eventually holds after n3 < 4 .
Globally, it is always the case that if m0 < 20 holds, then t0 > 7 previously held.
After k5 = 6 until k2 = 18, it is always the case that if w2 <= 7 holds, then h1 = 13 eventually holds.
Between k2 = 31 and f2 <= 0, it is always the case that if u1 > 22 holds, then i4 = 17 previously held.
Before h0 > 18, it is always the case that y2 > 21 holds.
Before k4 <= 30, it is always the case that if h2 = 4 holds, then k0 >= 6 eventually holds and is succeeded by k0 <= 25, where p3 < 10 does not hold between k0 >= 6 and k0 <= 25 .
Globally, it is always the case that if f5 <= 7 holds, then v4 < 29 eventually holds and is succeeded by i5 < 26 .
After g2 = 24 until m3 >= 8, r1 >= 25 eventually holds.
After w2 < 7, it is always the case that if d4 = 4 holds and is succeeded by p3 < 26, then o1 = 16 eventually holds after p3 < 26 .
Between n1 > 17 and z5 <= 29, it is always the case that if x4 = 27 holds, then j2 > 13 eventually holds.
After j3 <= 30 until b6 <= 0, it is always the case that if g5 > 6 holds, then s5 > 21 eventually holds and is succeeded by g1 > 3, where j2 = 11 does not hold between s5 > 21 and g1 > 3 .
Globally, it is always the case that d5 >= 19 holds.
Globally, it is always the case that i3 <= 23 holds.
Globally, it is always the case that if k4 = 4 holds and is succeeded by w5 = 23, then v4 <= 27 previously held.
Before u1 = 4, it is never the case that b1 > 5 holds.
Before b0 <= 15, it is always the case that if q5 = 6 holds, then s1 < 23 eventually holds.
Between a4 > 27 and e4 <= 18, it is always the case that q5 < 4 holds.
Globally, it is always the case that if k5 = 8 holds, then i1 = 25 previously held and was preceded by l0 >= 14 .
Between k4 < 15 and k4 > 0, it is always the case that if m1 <= 28 holds, then e4 < 12 eventually holds.
Between c3 >= 21 and q4 >= 12, it is always the case that if w2 = 10 holds, then h1 <= 17 eventually holds and is succeeded by o3 <= 9, where x1 < 23 does not hold between h1 <= 17 and o3 <= 9 .
After t4 < 6, it is always the case that if t0 >= 22 holds and is succeeded by l5 < 18, then s4 <= 13 eventually holds after l5 < 18 .
After e0 >= 23 until i1 <= 10, it is always the case that if r2 < 16 holds, then b6 >= 16 eventually holds and is succeeded by b5 = 15, where k0 <= 15 does not hold between b6 >= 16 and b5 = 15 .
Between p2 > 18 and v4 < 26, it is always the case that if v0 > 7 holds and is succeeded by k4 >= 1, then j4 >= 20 previously held.
Before w0 = 13, it is always the case that if o5 < 3 holds and is succeeded by y5 < 2, then s5 <= 31 previously held.
Before f3 = 15, it is always the case that if h4 >= 16 holds, then x1 <= 14 eventually holds and is succeeded by h1 > 5 .
After x2 > 11 until y3 <= 18, it is always the case that if r0 > 0 holds, then w2 >= 17 previously held.
Globally, it is always the case that if n5 < 6 holds, then s2 <= 3 previously held and was preceded by b0 = 24 .
After w5 = 10, it is always the case that if k2 >= 30 holds and is succeeded by x2 >= 17, then t0 = 11 eventually holds after x2 >= 17 .
Between y4 = 28 and k0 <= 31, it is always the case that if r3 >= 30 holds and is succeeded by g1 >= 15, then w3 >= 6 previously held.
Between z5 <= 23 and y2 < 14, it is always the case that if m5 > 20 holds, then d1 < 28 previously held and was preceded by d3 = 1 .
After s5 < 7, it is always the case that if v5 > 5 holds, then s4 > 10 eventually holds.
Before c4 < 25, it is always the case that if e5 > 11 holds, then s4 <= 1 previously held.
Before l3 = 9, it is always the case that e1 <= 22 holds.
After a5 < 1 until z0 <= 22, it is always the case that if k2 < 31 holds, then k2 >= 9 eventually holds.
After s3 < 2 until u0 <= 9, it is always the case that if x4 <= 29 holds, then h2 = 26 eventually holds.
Before b1 < 24, d2 >= 22 eventually holds.
After a0 >= 19, it is always the case that if t3 > 4 holds, then x0 = 0 eventually holds.
Before g3 < 25, x2 > 6 eventually holds.
After a3 = 7, it is always the case that if y2 >= 25 holds and is succeeded by w1 > 16, then y3 = 21 previously held.
After w0 >= 8 until t4 <= 20, d5 <= 13 eventually holds.
Globally, it is always the case that if h0 = 16 holds and is succeeded by i4 >= 16, then i3 < 30 previously held.
