Before c2 > 7, it is always the case that if e21 >= 24 holds and is succeeded by j24 = 23, then f6 <= 2 eventually holds after j24 = 23 .
Between h3 >= 29 and y1 < 12, it is always the case that a13 <= 12 holds.
After j20 <= 31 until u10 <= 22, it is always the case that if t23 >= 17 holds and is succeeded by i4 > 23, then x5 <= 16 eventually holds after i4 > 23 .
Between o11 <= 31 and f16 = 21, it is always the case that if h3 <= 8 holds, then v5 >= 30 previously held.
After v16 = 4, it is always the case that if f13 < 14 holds and is succeeded by g4 > 12, then p22 <= 14 previously held.
Globally, it is always the case that if i10 <= 27 holds and is succeeded by n22 < 4, then v21 = 3 eventually holds after n22 < 4 .
Globally, y15 > 4 eventually holds.
Globally, it is never the case that z9 >= 21 holds.
Before l8 = 25, it is always the case that if j3 = 13 holds, then z6 >= 23 previously held and was preceded by a20 <= 3 .
Before k8 >= 14, it is never the case that l20 < 25 holds.
After d5 = 4 until f19 = 5, it is always the case that if h17 > 6 holds, then p11 <= 12 previously held and was preceded by e12 = 19 .
Between n4 < 21 and b17 < 24, it is always the case that if h1 <= 25 holds, then v18 <= 25 previously held and was preceded by a8 > 4 .
Before v4 = 3, it is always the case that if w8 >= 18 holds, then x4 = 26 previously held.
Before a22 = 11, it is always the case that if i21 <= 17 holds, then m5 >= 1 previously held.
Before e15 >= 26, it is always the case that if o21 >= 14 holds and is succeeded by a12 >= 15, then f2 >= 4 eventually holds after a12 >= 15 .
After e18 > 23 until y4 >= 5, it is always the case that if t1 <= 23 holds, then c24 > 20 eventually holds.
After l3 <= 31 until m3 < 20, it is always the case that p7 > 8 holds.
After q23 = 0, it is always the case that t14 > 16 holds.
Before v1 > 9, it is always the case that if z9 > 31 holds, then x20 < 9 eventually holds and is succeeded by m20 >= 11 .
After b14 = 18, it is always the case that if w11 <= 11 holds and is succeeded by a15 = 30, then k20 = 19 previously held.
Globally, it is always the case that if e3 < 10 holds, then y8 <= 12 previously held and was preceded by p17 >= 24 .
Before g12 = 19, it is always the case that if n17 <= 4 holds, then e11 > 17 eventually holds and is succeeded by y17 = 18 .
Before x13 >= 8, it is always the case that if d19 < 9 holds and is succeeded by x8 <= 6, then n12 >= 17 eventually holds after x8 <= 6 .
After z14 = 17, it is always the case that if v1 = 4 holds, then f14 = 28 previously held and was preceded by f24 <= 0 .
After q13 >= 8 until y14 >= 0, it is always the case that if d17 > 2 holds, then p4 <= 3 previously held and was preceded by x23 < 22 .
Globally, it is never the case that h9 = 15 holds.
Before l22 > 28, it is always the case that if h9 >= 0 holds, then a19 < 28 previously held and was preceded by h7 > 27 .
After b17 <= 1, it is always the case that if t17 > 22 holds and is succeeded by g2 < 17, then u4 = 25 previously held.
After v16 >= 11 until z12 <= 8, it is always the case that if p5 >= 23 holds, then l3 < 6 eventually holds and is succeeded by b10 <= 12 .
After m12 < 30 until q8 = 8, it is always the case that if k4 < 22 holds, then z16 >= 1 eventually holds.
After f24 < 30 until u21 = 12, it is always the case that if h21 = 31 holds, then x2 >= 28 eventually holds and is succeeded by s21 > 29, where w20 < 16 does not hold between x2 >= 28 and s21 > 29 .
After z20 < 19, it is always the case that if l21 <= 19 holds, then o5 <= 2 previously held and was preceded by b9 = 4 .
Globally, it is always the case that if i17 < 0 holds, then x14 >= 29 eventually holds.
After q0 >= 31, it is always the case that if p10 = 26 holds, then x18 <= 27 previously held and was preceded by d13 = 10 .
Between g23 >= 4 and e6 = 11, it is always the case that if l13 <= 13 holds, then a18 >= 24 eventually holds and is succeeded by l11 > 10, where n12 < 25 does not hold between a18 >= 24 and l11 > 10 .
Globally, it is always the case that if n12 > 23 holds, then l10 < 4 eventually holds.
Globally, it is always the case that if r23 <= 2 holds, then n21 >= 17 previously held and was preceded by g9 <= 2 .
After p20 < 0 until z7 < 21, it is always the case that if b0 < 14 holds, then l18 < 28 eventually holds.
Globally, it is never the case that a12 >= 28 holds.
After y11 >= 2, it is always the case that if x13 > 1 holds, then v10 > 31 previously held.
Between a1 > 29 and c16 = 1, it is always the case that if k15 <= 18 holds, then r22 >= 23 previously held and was preceded by p23 >= 18 .
Globally, it is always the case that if i17 <= 8 holds and is succeeded by v7 <= 29, then n11 > 16 previously held.
After m19 < 19, it is always the case that if y6 = 23 holds and is succeeded by m8 >= 6, then q19 = 12 eventually holds after m8 >= 6 .
After d11 = 0 until l21 >= 28, it is always the case that if m21 > 9 holds, then z18 = 24 eventually holds and is succeeded by i15 > 10 .
After v17 > 9, it is always the case that if p0 > 8 holds, then s11 >= 29 eventually holds and is succeeded by y19 > 8 .
After n6 = 8, it is always the case that q7 > 8 holds.
After l24 < 26 until t15 = 11, it is always the case that if b22 < 16 holds, then b20 = 13 previously held and was preceded by q9 = 17 .
After j8 = 17, u14 <= 31 eventually holds.
Globally, it is always the case that v1 > 12 holds.
After g9 <= 26 until x15 >= 2, it is always the case that if m14 < 11 holds, then c2 >= 6 eventually holds and is succeeded by z21 < 27, where p17 > 2 does not hold between c2 >= 6 and z21 < 27 .
After z8 < 6, it is always the case that l20 <= 3 holds.
After s19 >= 17 until n9 > 5, it is always the case that if n19 <= 8 holds, then u10 >= 15 eventually holds and is succeeded by e14 = 12 .
Between g4 > 4 and o3 < 5, s9 <= 7 eventually holds.
Between z13 > 24 and t11 = 6, it is always the case that if o5 >= 15 holds, then g0 < 10 eventually holds.
Between h13 > 12 and k24 >= 14, it is always the case that if c19 >= 29 holds, then h13 > 1 eventually holds.
After m6 < 19, it is always the case that f13 <= 7 holds.
Before i3 <= 3, it is always the case that if i5 < 24 holds, then t6 <= 5 eventually holds.
Before d0 <= 12, it is always the case that if o22 <= 3 holds, then i13 = 28 eventually holds.
Before r6 > 20, i9 > 17 eventually holds.
After x18 > 12 until y3 < 24, i23 >= 11 eventually holds.
After r21 <= 21 until u14 = 20, it is never the case that g21 = 16 holds.
After i7 >= 3, it is always the case that k17 = 7 holds.
Between c12 >= 3 and j1 < 19, it is always the case that if q17 <= 14 holds, then s5 < 19 eventually holds and is succeeded by f20 > 4, where n17 <= 13 does not hold between s5 < 19 and f20 > 4 .
Before p21 = 11, it is always the case that if h7 > 13 holds and is succeeded by q8 < 10, then b20 >= 12 eventually holds after q8 < 10 .
Before k3 = 29, it is always the case that if q13 < 14 holds, then t19 > 14 eventually holds and is succeeded by i7 >= 20, where p4 < 15 does not hold between t19 > 14 and i7 >= 20 .
After e4 >= 7, it is always the case that if p16 <= 27 holds, then q22 <= 18 eventually holds and is succeeded by b21 >= 13, where g10 <= 31 does not hold between q22 <= 18 and b21 >= 13 .
Before q21 > 11, it is never the case that e0 < 1 holds.
After f10 = 20 until y10 < 3, it is always the case that if z11 < 16 holds, then r19 >= 9 previously held and was preceded by c22 < 0 .
Before r11 < 20, it is always the case that l24 >= 1 holds.
Before h7 > 2, it is always the case that if e13 = 7 holds, then l1 > 25 eventually holds and is succeeded by n18 > 0, where k4 < 9 does not hold between l1 > 25 and n18 > 0 .
Before x2 >= 2, y22 >= 23 eventually holds.
Between x10 < 30 and d23 >= 17, it is always the case that if h14 <= 10 holds, then h7 > 8 eventually holds.
Globally, it is always the case that if c9 < 15 holds, then t14 < 9 eventually holds and is succeeded by r5 <= 12 .
After y3 < 24 until k22 >= 4, it is always the case that if u0 <= 3 holds, then t3 < 7 previously held and was preceded by k2 >= 3 .
Between v11 > 7 and x8 < 3, it is always the case that if o5 >= 13 holds, then j20 < 30 previously held and was preceded by g22 < 17 .
Globally, it is always the case that if p20 = 6 holds, then e3 <= 15 eventually holds and is succeeded by m9 = 17, where q12 >= 1 does not hold between e3 <= 15 and m9 = 17 .
Globally, it is always the case that if l0 > 3 holds and is succeeded by o0 <= 20, then s9 = 5 eventually holds after o0 <= 20 .
Between p17 <= 31 and a13 >= 7, it is always the case that if k16 <= 27 holds and is succeeded by w13 <= 26, then l23 >= 14 previously held.
After n23 > 9 until j5 = 24, it is always the case that if t23 < 6 holds and is succeeded by s1 < 4, then e1 <= 11 previously held.
After a21 < 21 until q23 < 24, it is always the case that if n7 = 22 holds, then z13 > 6 eventually holds and is succeeded by o8 < 27 .
After g17 > 13 until y16 > 8, it is always the case that h7 > 22 holds.
Before r16 = 1, it is never the case that k22 = 19 holds.
After d16 = 7, it is always the case that v8 >= 24 holds.
Before n11 >= 17, it is always the case that if c16 < 27 holds, then w11 >= 26 previously held and was preceded by y5 = 4 .
Before e21 < 0, it is always the case that if v18 = 3 holds and is succeeded by u13 = 31, then l22 < 23 eventually holds after u13 = 31 .
Between j5 > 2 and k9 > 13, it is always the case that if z3 <= 14 holds, then l22 = 15 previously held.
Between q17 < 0 and z14 < 17, it is always the case that if d15 < 18 holds, then c24 <= 22 previously held.
After r18 = 28, it is always the case that if u11 = 4 holds, then j9 >= 31 eventually holds and is succeeded by o4 < 18, where b24 >= 27 does not hold between j9 >= 31 and o4 < 18 .
After j10 > 6, it is always the case that if f19 = 6 holds, then f11 >= 1 eventually holds and is succeeded by t1 >= 28, where s2 = 15 does not hold between f11 >= 1 and t1 >= 28 .
Before p4 > 12, it is never the case that c20 <= 29 holds.
Between e15 >= 10 and k16 = 17, it is always the case that if m4 <= 28 holds, then z10 < 25 eventually holds and is succeeded by g19 <= 22, where i16 > 10 does not hold between z10 < 25 and g19 <= 22 .
After d9 = 7, it is always the case that if c4 < 1 holds, then o12 <= 24 previously held and was preceded by s21 >= 13 .
Before t1 = 10, it is never the case that g8 < 23 holds.
Globally, it is always the case that if b9 = 19 holds, then l7 > 19 eventually holds and is succeeded by b21 > 12 .
Globally, it is always the case that if o16 >= 16 holds, then z17 <= 27 eventually holds and is succeeded by c7 < 24 .
After r19 = 13 until e3 >= 28, it is always the case that if e5 >= 15 holds, then o14 <= 3 eventually holds.
Globally, it is always the case that h1 > 22 holds.
Between c14 > 2 and a19 <= 17, it is always the case that if l22 <= 27 holds, then k11 < 8 previously held.
Between p4 >= 2 and m8 < 4, it is always the case that if c5 <= 27 holds, then w2 >= 26 previously held.
Before r8 < 17, it is always the case that if r7 <= 4 holds, then q6 < 17 eventually holds and is succeeded by b17 = 13 .
Between j21 < 17 and m2 <= 1, it is always the case that if z17 = 30 holds, then y5 <= 20 eventually holds and is succeeded by y23 >= 29, where r5 >= 21 does not hold between y5 <= 20 and y23 >= 29 .
Between u19 = 20 and j24 > 30, it is always the case that if c14 <= 30 holds, then v20 = 28 eventually holds and is succeeded by u11 <= 15, where n2 < 16 does not hold between v20 = 28 and u11 <= 15 .
Before u7 < 29, it is always the case that if i10 < 7 holds and is succeeded by v15 < 30, then m12 < 11 eventually holds after v15 < 30 .
Between y2 < 0 and b3 < 11, it is always the case that if t5 < 24 holds, then g24 = 28 eventually holds and is succeeded by h10 > 10, where w18 >= 12 does not hold between g24 = 28 and h10 > 10 .
Between v4 < 8 and x3 = 18, it is always the case that if w9 >= 3 holds, then v17 <= 6 previously held.
After c11 >= 1, it is always the case that if w8 >= 27 holds, then r6 > 24 eventually holds and is succeeded by x7 >= 5, where x9 <= 4 does not hold between r6 > 24 and x7 >= 5 .
Before u10 > 14, it is always the case that if f10 = 18 holds, then e3 <= 8 eventually holds and is succeeded by w2 < 26, where r8 >= 22 does not hold between e3 <= 8 and w2 < 26 .
Between a9 = 31 and v23 > 21, it is always the case that if k5 = 5 holds and is succeeded by v11 <= 12, then w11 >= 7 previously held.
After k2 <= 17, it is always the case that if p10 > 1 holds, then c19 <= 25 previously held and was preceded by i9 >= 20 .
Before a11 = 30, it is always the case that if m18 = 27 holds, then z0 >= 23 eventually holds and is succeeded by j20 >= 2 .
Before l8 >= 16, it is always the case that n18 > 27 holds.
After h3 > 28 until q3 = 15, r10 = 17 eventually holds.
After b24 < 14 until d18 < 8, it is always the case that if s10 >= 11 holds and is succeeded by j3 < 24, then m10 < 14 previously held.
After y22 < 27, it is always the case that if z21 > 4 holds, then n8 <= 10 eventually holds.
Globally, s3 <= 24 eventually holds.
Before i14 <= 20, y11 >= 20 eventually holds.
Globally, p13 < 28 eventually holds.
Before y4 = 11, it is always the case that if m11 >= 8 holds, then o1 > 8 eventually holds.
Before l22 < 4, it is always the case that if o3 = 9 holds, then q8 <= 13 eventually holds.
After a21 < 24, it is always the case that if q14 <= 3 holds and is succeeded by t19 > 17, then z19 = 11 previously held.
Between m22 >= 11 and l17 >= 9, u2 >= 1 eventually holds.
Before w0 = 13, it is always the case that if n7 > 20 holds, then q12 <= 8 previously held and was preceded by d16 = 2 .
Between d22 >= 1 and k15 <= 26, it is never the case that p3 = 14 holds.
Before u7 <= 22, it is always the case that if b14 >= 16 holds, then e10 <= 5 eventually holds and is succeeded by f15 < 3 .
Globally, it is always the case that if b22 < 11 holds and is succeeded by z14 >= 26, then q11 >= 19 previously held.
Globally, it is always the case that if i6 > 10 holds and is succeeded by t14 < 1, then x4 >= 13 previously held.
Globally, it is always the case that if d20 = 30 holds and is succeeded by j11 <= 11, then m16 >= 6 eventually holds after j11 <= 11 .
Between f1 < 24 and s0 = 27, it is always the case that if r20 = 24 holds, then y12 <= 9 eventually holds.
Between o12 < 25 and i6 > 19, b13 >= 22 eventually holds.
Between v16 > 0 and u21 > 18, it is always the case that if t11 >= 9 holds and is succeeded by g7 >= 6, then l20 = 17 eventually holds after g7 >= 6 .
Before z23 <= 8, e18 = 12 eventually holds.
Before r1 < 21, k6 = 2 eventually holds.
After y14 > 0 until o21 >= 31, it is never the case that f15 < 16 holds.
Between u18 < 27 and x0 <= 29, it is always the case that if s1 <= 26 holds, then c2 >= 6 eventually holds and is succeeded by f6 > 6 .
Globally, it is always the case that u11 <= 9 holds.
Before w5 >= 23, it is always the case that if k14 > 15 holds, then y14 > 16 eventually holds and is succeeded by b10 > 14, where w6 > 8 does not hold between y14 > 16 and b10 > 14 .
After g22 > 22, it is always the case that c4 <= 17 holds.
Before k9 >= 12, it is never the case that c4 <= 12 holds.
Globally, a23 > 23 eventually holds.
Globally, it is always the case that if w2 > 24 holds, then l2 <= 9 eventually holds and is succeeded by a18 <= 3, where m6 >= 13 does not hold between l2 <= 9 and a18 <= 3 .
Globally, it is always the case that if z11 <= 19 holds, then m24 >= 10 eventually holds and is succeeded by b4 <= 28 .
After k23 > 23, it is never the case that f9 >= 8 holds.
After d21 = 0 until d6 >= 23, it is always the case that if j14 > 10 holds and is succeeded by u17 >= 5, then y8 > 17 eventually holds after u17 >= 5 .
Between a20 < 19 and a11 <= 7, i1 <= 4 eventually holds.
Between m8 > 17 and i17 > 6, it is always the case that if z6 >= 11 holds, then a4 < 2 previously held and was preceded by h16 = 21 .
Before p14 > 22, it is always the case that if i6 < 21 holds, then w11 >= 30 previously held and was preceded by k13 > 12 .
After a17 <= 6, it is always the case that if q8 = 4 holds and is succeeded by p18 >= 9, then g16 = 23 previously held.
Globally, l16 > 29 eventually holds.
After s15 = 9, it is always the case that if q15 = 1 holds, then g22 >= 9 previously held and was preceded by l7 <= 12 .
After l18 <= 5, it is always the case that if a9 <= 23 holds, then d15 = 4 eventually holds.
Between s22 > 25 and t21 <= 24, it is never the case that x9 < 18 holds.
Globally, b7 = 5 eventually holds.
After g3 <= 6, it is always the case that if w7 > 18 holds and is succeeded by s7 >= 5, then c4 = 10 eventually holds after s7 >= 5 .
Between e16 > 23 and t0 >= 13, it is never the case that r12 = 5 holds.
Between z12 <= 8 and d23 < 2, it is always the case that if b5 >= 1 holds and is succeeded by k16 >= 7, then c22 > 10 previously held.
After d3 = 8 until t19 > 22, it is always the case that i14 <= 0 holds.
Before k14 >= 26, it is always the case that if m23 < 28 holds and is succeeded by c22 >= 4, then u16 < 17 previously held.
Between a4 <= 18 and g12 >= 13, it is never the case that z8 > 2 holds.
After l0 = 1 until b1 >= 3, it is always the case that if n13 >= 17 holds, then u21 = 29 eventually holds and is succeeded by w11 >= 14, where b7 = 24 does not hold between u21 = 29 and w11 >= 14 .
Before y8 >= 20, it is always the case that if g4 < 6 holds, then i7 < 2 previously held and was preceded by z13 = 5 .
After t10 = 12 until f4 <= 16, it is always the case that if a14 < 29 holds and is succeeded by w18 <= 30, then a0 >= 28 eventually holds after w18 <= 30 .
Between z20 < 4 and h18 < 31, it is always the case that if x10 = 10 holds, then m8 >= 25 previously held.
Globally, it is never the case that v15 > 19 holds.
Between s11 < 27 and q2 >= 21, it is always the case that if k21 <= 4 holds, then p13 < 24 eventually holds.
After f3 <= 29 until n10 >= 6, a20 = 14 eventually holds.
Globally, it is always the case that if x6 > 23 holds, then g14 < 5 previously held.
After l15 <= 23 until u5 < 12, it is always the case that if f3 <= 26 holds and is succeeded by z3 = 16, then n15 = 16 previously held.
Between s17 >= 27 and n14 < 3, it is never the case that z4 < 16 holds.
Before c17 > 30, it is always the case that if u18 <= 20 holds and is succeeded by a20 = 15, then b23 = 9 eventually holds after a20 = 15 .
Between z23 > 24 and u9 >= 18, it is always the case that if m4 < 20 holds, then r12 >= 1 eventually holds.
Globally, it is always the case that if n8 > 10 holds and is succeeded by o14 = 21, then z4 <= 23 previously held.
Between f2 = 31 and q5 >= 18, r10 < 12 eventually holds.
Between b9 < 14 and e9 <= 5, m3 >= 19 eventually holds.
Before i11 <= 14, it is always the case that if j5 < 8 holds, then y11 >= 25 previously held and was preceded by j10 <= 6 .
Before w12 = 23, it is always the case that if g5 > 1 holds, then u17 > 19 eventually holds.
Globally, it is always the case that if d8 <= 12 holds and is succeeded by d19 <= 9, then h23 = 30 eventually holds after d19 <= 9 .
Before a11 <= 15, it is never the case that f7 <= 30 holds.
After d23 < 25, it is always the case that if x8 > 2 holds, then v14 > 15 previously held and was preceded by s15 = 5 .
Between m22 >= 3 and o23 < 8, it is always the case that if v19 = 3 holds and is succeeded by c0 = 30, then l5 <= 13 eventually holds after c0 = 30 .
Globally, it is always the case that k19 = 31 holds.
Globally, it is always the case that if c14 >= 13 holds, then t3 <= 5 eventually holds and is succeeded by h11 >= 22, where f3 > 5 does not hold between t3 <= 5 and h11 >= 22 .
Globally, it is always the case that p0 <= 7 holds.
Between t2 = 5 and u23 <= 25, it is always the case that if t3 = 30 holds, then p13 < 3 eventually holds.
Before j8 <= 1, it is always the case that if w0 >= 21 holds, then y5 >= 6 previously held.
Before q8 < 28, it is always the case that if d19 = 12 holds, then k8 > 3 eventually holds and is succeeded by b21 < 29, where q0 > 5 does not hold between k8 > 3 and b21 < 29 .
After k11 > 16, it is always the case that if r7 < 16 holds, then r4 >= 20 eventually holds.
Between a6 >= 25 and d20 >= 9, e2 > 17 eventually holds.
Globally, it is always the case that c22 > 9 holds.
After n23 <= 28 until r1 > 29, it is always the case that if f21 <= 31 holds and is succeeded by u2 > 10, then w1 > 24 previously held.
Before r9 >= 14, it is never the case that a21 > 19 holds.
After n18 > 8 until c15 <= 4, it is always the case that if z15 = 10 holds, then g15 <= 12 previously held and was preceded by e22 > 24 .
Between e5 >= 6 and r8 = 30, it is always the case that if u19 <= 29 holds, then q14 > 6 eventually holds.
Before b22 <= 10, it is always the case that if g19 > 31 holds, then b0 = 26 eventually holds.
Globally, u11 = 14 eventually holds.
Between x14 <= 9 and o14 > 15, it is always the case that if m6 > 4 holds, then l7 < 13 previously held.
After u2 <= 5, g19 > 16 eventually holds.
Before k21 >= 22, it is always the case that a2 = 1 holds.
Before u21 < 27, it is always the case that if v4 > 14 holds, then h14 = 14 eventually holds.
After p3 >= 10 until p11 < 18, l24 >= 10 eventually holds.
After a3 < 28, it is always the case that if p3 < 10 holds, then d3 > 1 previously held.
After t21 = 26, it is always the case that if d19 <= 8 holds and is succeeded by f10 < 5, then u9 < 6 previously held.
Globally, it is never the case that d19 < 4 holds.
Before m4 >= 9, it is always the case that if s4 <= 20 holds, then q4 >= 31 eventually holds.
Between g16 >= 21 and y3 > 1, it is always the case that if i0 < 22 holds, then n9 < 29 eventually holds and is succeeded by c13 < 25 .
After s7 >= 7, it is always the case that if i12 = 17 holds and is succeeded by s11 >= 13, then k5 >= 1 eventually holds after s11 >= 13 .
After r16 <= 10 until o7 > 30, it is always the case that if y14 > 7 holds, then c17 = 18 eventually holds and is succeeded by p18 < 3 .
Globally, it is always the case that if f13 >= 30 holds, then s11 = 3 previously held and was preceded by q21 < 24 .
After f9 >= 13, it is always the case that if j19 > 23 holds, then i12 < 27 previously held and was preceded by i21 > 25 .
After h4 < 22, it is always the case that if d2 >= 0 holds, then y15 <= 13 previously held.
Before c20 >= 20, it is always the case that if j15 > 25 holds, then b9 < 11 eventually holds and is succeeded by r7 > 18 .
After d17 >= 5 until e17 <= 12, it is always the case that if j13 >= 9 holds and is succeeded by c17 = 1, then c13 < 15 previously held.
After j3 >= 6 until g4 < 1, it is always the case that if u19 <= 15 holds, then z3 > 6 eventually holds.
After r21 >= 30, k19 >= 13 eventually holds.
After y16 > 30, it is always the case that if y19 < 23 holds, then x18 = 0 eventually holds and is succeeded by u15 = 29, where l9 <= 30 does not hold between x18 = 0 and u15 = 29 .
After k24 > 15 until g1 > 11, it is always the case that if g13 = 23 holds and is succeeded by t7 < 24, then j7 > 31 eventually holds after t7 < 24 .
Before r14 < 26, it is always the case that if l19 >= 28 holds, then k22 = 12 previously held and was preceded by m4 >= 24 .
After s18 > 13, k22 <= 10 eventually holds.
After v0 <= 10, p23 <= 1 eventually holds.
After d0 = 24 until r19 <= 3, it is always the case that if x16 < 9 holds, then h18 > 29 previously held and was preceded by v15 = 10 .
After n4 <= 10, it is always the case that if o10 <= 6 holds and is succeeded by f18 >= 7, then l7 < 5 previously held.
Globally, it is always the case that if y17 <= 22 holds, then f22 < 10 eventually holds and is succeeded by b19 > 27, where l20 < 10 does not hold between f22 < 10 and b19 > 27 .
Globally, it is always the case that if g16 <= 11 holds, then a0 <= 8 eventually holds and is succeeded by i4 > 26, where i15 >= 16 does not hold between a0 <= 8 and i4 > 26 .
After o22 >= 29 until t0 >= 30, it is always the case that if d8 = 0 holds, then g8 < 2 previously held and was preceded by m6 >= 18 .
After r16 <= 1 until o8 > 24, it is always the case that if a5 < 27 holds, then q1 <= 7 eventually holds.
Globally, it is always the case that if f3 > 3 holds, then o1 = 31 previously held.
After w0 > 14 until x21 >= 11, it is always the case that if c2 > 0 holds, then u0 > 9 eventually holds and is succeeded by c14 <= 5 .
After i4 < 4, it is always the case that if b3 >= 4 holds, then n11 > 10 eventually holds and is succeeded by e17 > 22 .
Between h14 = 11 and o13 >= 28, it is always the case that if u20 = 2 holds, then y8 < 4 previously held and was preceded by g4 < 24 .
After q13 < 7 until i1 = 11, it is always the case that if a15 <= 2 holds, then n3 = 15 eventually holds.
After z13 >= 19, it is always the case that w18 < 2 holds.
Before c23 > 23, it is always the case that if i22 < 19 holds, then q17 = 27 eventually holds and is succeeded by f4 > 29, where f20 < 10 does not hold between q17 = 27 and f4 > 29 .
After f16 > 17, it is never the case that h16 >= 30 holds.
After j5 = 26 until r5 = 7, it is always the case that if l1 > 9 holds, then n24 <= 19 eventually holds.
Between n0 = 7 and h7 >= 13, it is always the case that if t21 >= 21 holds and is succeeded by h11 > 5, then o7 = 31 previously held.
After w5 <= 16 until a8 = 2, it is always the case that if v17 < 19 holds, then l21 > 8 eventually holds and is succeeded by g10 <= 15 .
Between s14 >= 29 and b18 <= 12, it is never the case that v8 <= 7 holds.
After k7 < 3 until c24 >= 26, it is always the case that g7 > 12 holds.
After z1 > 1, it is always the case that if x16 >= 28 holds and is succeeded by h16 > 19, then j8 < 11 eventually holds after h16 > 19 .
After r21 >= 7, it is always the case that if a3 < 13 holds, then x4 = 23 eventually holds and is succeeded by e18 < 24 .
Globally, it is always the case that p4 = 28 holds.
