After c1 = 0 until d0 = 7, it is always the case that if n0 >= 15 holds, then f0 = 6 eventually holds and is succeeded by a1 >= 7 .
Globally, it is always the case that if t0 <= 6 holds, then q0 < 5 previously held.
Globally, it is always the case that if a0 <= 0 holds, then h0 > 2 eventually holds and is succeeded by k0 >= 2, where k0 > 10 does not hold between h0 > 2 and k0 >= 2 .
Globally, it is always the case that if g0 = 1 holds and is succeeded by k1 <= 5, then c1 > 5 eventually holds after k1 <= 5 .
After k0 >= 12 until i0 = 6, it is always the case that if r0 > 2 holds and is succeeded by q0 <= 1, then a1 = 1 previously held.
After m1 >= 6 until m0 >= 12, it is always the case that if b0 > 1 holds, then l1 <= 9 previously held and was preceded by z0 < 5 .
After f0 > 12 until t0 < 5, it is always the case that s0 < 0 holds.
After f0 > 2, it is always the case that if p0 < 1 holds and is succeeded by x0 < 3, then x0 > 13 eventually holds after x0 < 3 .
Globally, it is always the case that if f0 < 3 holds, then x0 = 14 previously held and was preceded by s0 < 5 .
After y0 = 1, it is always the case that i1 = 5 holds.
After f1 <= 1, it is never the case that k1 = 4 holds.
Between d0 < 4 and k1 = 12, it is always the case that if d0 < 5 holds and is succeeded by q0 <= 12, then b0 >= 9 eventually holds after q0 <= 12 .
Globally, k1 < 13 eventually holds.
After y0 < 9, it is always the case that if h0 = 12 holds, then i0 >= 8 eventually holds.
After f1 <= 2 until d1 = 10, it is always the case that if b1 >= 13 holds and is succeeded by e0 = 10, then z0 < 11 eventually holds after e0 = 10 .
Before j1 >= 13, it is always the case that if k0 >= 1 holds, then a0 <= 0 previously held.
Globally, it is always the case that if l0 >= 8 holds, then c0 <= 13 eventually holds and is succeeded by l0 >= 8, where f1 < 2 does not hold between c0 <= 13 and l0 >= 8 .
After c1 = 8, it is always the case that b0 < 2 holds.
Between l1 > 7 and f0 = 6, it is always the case that u0 = 11 holds.
Globally, it is always the case that if m1 <= 12 holds, then c0 = 4 previously held.
After f0 < 3 until r0 <= 9, it is always the case that if m0 = 10 holds, then c0 = 9 previously held and was preceded by k0 > 12 .
After r0 > 4 until i0 < 10, it is always the case that if f0 > 5 holds and is succeeded by x0 <= 12, then h1 < 14 previously held.
Between a1 >= 4 and m0 = 5, it is always the case that c1 >= 6 holds.
Before n0 < 6, it is always the case that if r0 = 15 holds and is succeeded by a0 > 0, then b0 > 5 previously held.
Between i0 = 10 and i1 <= 2, it is always the case that if i0 <= 8 holds and is succeeded by e1 = 5, then m1 > 1 previously held.
Globally, it is always the case that if k0 = 4 holds, then b0 >= 15 eventually holds and is succeeded by h0 = 7, where p0 > 0 does not hold between b0 >= 15 and h0 = 7 .
After g1 = 5, it is always the case that if l0 <= 5 holds and is succeeded by a1 <= 13, then u0 < 15 previously held.
Between k0 = 9 and m1 <= 13, it is never the case that s0 = 13 holds.
Between p0 > 15 and h0 >= 15, it is always the case that if x0 <= 7 holds, then d0 >= 4 previously held.
After r0 >= 3 until s0 = 12, it is always the case that if m0 < 12 holds, then b0 <= 8 eventually holds.
Before s0 < 6, it is always the case that x0 >= 6 holds.
Between m1 >= 12 and e1 <= 11, it is always the case that j0 < 5 holds.
After c1 = 11 until i1 > 1, m0 >= 1 eventually holds.
Between q0 <= 13 and n0 < 11, it is always the case that if w0 = 0 holds and is succeeded by e0 < 5, then f1 = 8 eventually holds after e0 < 5 .
Between m1 < 5 and u0 < 9, it is always the case that z0 = 9 holds.
Before j1 = 1, it is always the case that if d1 = 6 holds, then w0 <= 12 eventually holds.
Between e0 > 9 and j0 <= 15, it is always the case that if g0 = 13 holds and is succeeded by o0 >= 1, then j1 <= 7 previously held.
Between l1 = 15 and i0 <= 4, it is never the case that w0 >= 4 holds.
Globally, it is always the case that if g0 <= 8 holds, then d1 > 14 eventually holds and is succeeded by g1 = 2, where d1 <= 2 does not hold between d1 > 14 and g1 = 2 .
Between f0 <= 13 and y0 = 8, it is always the case that if i1 < 15 holds, then a1 > 0 previously held and was preceded by m1 >= 14 .
After s0 = 8, it is always the case that f0 <= 8 holds.
After e0 <= 2 until m1 = 2, it is always the case that if c1 = 7 holds, then l0 <= 13 eventually holds.
After o0 = 11 until m0 > 5, it is always the case that if h0 < 14 holds, then j1 = 10 eventually holds and is succeeded by m1 <= 11, where g0 = 14 does not hold between j1 = 10 and m1 <= 11 .
Globally, it is never the case that r0 <= 11 holds.
After g1 >= 1, it is always the case that if h0 > 11 holds, then i1 < 8 eventually holds.
Globally, it is always the case that if k0 < 12 holds, then v0 > 2 previously held and was preceded by m1 < 5 .
After b0 > 1 until f1 >= 5, it is always the case that if c1 = 3 holds, then h0 < 13 eventually holds and is succeeded by z0 < 5, where f0 >= 7 does not hold between h0 < 13 and z0 < 5 .
Before b0 <= 6, it is always the case that if i1 >= 8 holds, then i0 < 1 eventually holds and is succeeded by t0 = 1 .
Before c1 > 13, g0 < 7 eventually holds.
Globally, it is always the case that if t0 <= 12 holds, then m0 >= 5 eventually holds.
After n0 < 10 until c0 = 0, it is always the case that if k0 = 9 holds, then m1 < 3 eventually holds and is succeeded by j0 > 12 .
After k1 >= 8 until h0 >= 14, it is always the case that if g0 = 9 holds and is succeeded by d0 >= 10, then o0 < 7 previously held.
After o0 > 4, it is always the case that if l0 > 9 holds and is succeeded by m0 = 12, then a0 < 5 previously held.
Globally, it is never the case that s0 <= 11 holds.
After d0 < 3 until f0 = 3, it is always the case that b1 > 14 holds.
After a0 > 12, it is always the case that if m1 = 14 holds, then d1 > 5 eventually holds and is succeeded by p0 >= 6, where n0 > 15 does not hold between d1 > 5 and p0 >= 6 .
Globally, it is always the case that if k0 = 10 holds and is succeeded by u0 <= 10, then c1 > 6 eventually holds after u0 <= 10 .
Before f0 >= 10, it is always the case that if l0 > 3 holds and is succeeded by d1 >= 4, then z0 >= 8 eventually holds after d1 >= 4 .
Globally, it is always the case that if l1 < 4 holds, then b0 = 8 eventually holds and is succeeded by i0 < 15 .
After t0 >= 3, it is always the case that if s0 <= 11 holds and is succeeded by j1 = 10, then h1 < 0 previously held.
Globally, i0 < 11 eventually holds.
Between e1 >= 10 and f0 > 7, it is always the case that i1 >= 6 holds.
After c0 < 13, it is always the case that if g1 > 6 holds, then b0 >= 3 eventually holds and is succeeded by j0 = 11, where q0 = 8 does not hold between b0 >= 3 and j0 = 11 .
Before y0 < 13, it is always the case that if m0 > 7 holds and is succeeded by b1 <= 0, then z0 >= 11 previously held.
After h1 = 1, it is always the case that if k0 <= 11 holds, then h0 <= 9 eventually holds.
After n0 < 6, it is never the case that p0 = 9 holds.
Before s0 < 10, it is always the case that if d0 <= 10 holds, then d1 > 3 previously held.
Before s0 = 5, i0 > 7 eventually holds.
Between a0 < 0 and b0 <= 2, it is always the case that if m0 <= 6 holds, then p0 > 7 previously held.
Before l0 > 13, it is always the case that if l1 = 14 holds, then j0 = 1 eventually holds and is succeeded by k0 > 13, where j0 >= 0 does not hold between j0 = 1 and k0 > 13 .
After i1 > 2, it is always the case that e1 <= 14 holds.
After c0 = 8, it is always the case that if k0 = 12 holds, then r0 <= 7 eventually holds and is succeeded by n0 < 7, where e1 < 15 does not hold between r0 <= 7 and n0 < 7 .
Before o0 > 7, it is always the case that if i0 >= 10 holds and is succeeded by l1 < 1, then q0 < 10 eventually holds after l1 < 1 .
Globally, g0 > 9 eventually holds.
Before x0 = 11, it is always the case that if b0 >= 1 holds, then t0 > 10 eventually holds.
After o0 = 12, it is always the case that if b1 = 14 holds and is succeeded by l1 > 11, then u0 = 10 previously held.
After k0 = 13, it is always the case that if b1 > 8 holds and is succeeded by m1 >= 6, then h0 >= 13 previously held.
Globally, it is always the case that t0 >= 7 holds.
Between n0 < 15 and h0 > 1, it is always the case that if x0 >= 9 holds and is succeeded by o0 < 6, then g1 <= 10 eventually holds after o0 < 6 .
Globally, it is always the case that if e1 > 8 holds, then f1 > 3 eventually holds.
Globally, it is always the case that if c1 <= 0 holds, then g0 > 11 eventually holds and is succeeded by e1 = 11 .
Between w0 <= 5 and q0 > 9, it is always the case that if i0 < 13 holds, then j1 < 1 eventually holds and is succeeded by g0 <= 12, where k0 > 4 does not hold between j1 < 1 and g0 <= 12 .
After z0 = 3 until k1 <= 1, it is always the case that if f1 >= 10 holds, then g1 = 2 eventually holds and is succeeded by s0 = 1 .
Globally, it is always the case that if x0 > 11 holds, then x0 >= 5 previously held and was preceded by d0 > 14 .
Before s0 >= 10, it is always the case that if o0 >= 8 holds, then h0 = 7 eventually holds and is succeeded by b0 = 11, where o0 = 8 does not hold between h0 = 7 and b0 = 11 .
After a0 <= 12 until h0 >= 4, it is always the case that h1 < 14 holds.
After o0 <= 15 until j0 > 10, it is always the case that if q0 = 7 holds and is succeeded by q0 > 9, then r0 <= 10 previously held.
After m0 > 11 until z0 <= 14, it is always the case that if q0 = 15 holds and is succeeded by s0 > 15, then u0 <= 11 eventually holds after s0 > 15 .
Between i0 <= 9 and s0 > 15, it is never the case that b1 > 5 holds.
After l1 = 10, m1 > 12 eventually holds.
Globally, it is always the case that if n0 = 0 holds and is succeeded by c1 > 0, then o0 < 4 eventually holds after c1 > 0 .
After o0 > 5 until c0 = 1, it is always the case that l1 <= 1 holds.
After l1 = 15, it is always the case that if v0 > 0 holds, then s0 < 12 eventually holds and is succeeded by t0 = 9 .
After n0 <= 12 until g0 >= 6, it is never the case that f0 < 7 holds.
Before l0 = 0, g0 >= 14 eventually holds.
Globally, it is always the case that if m0 = 13 holds and is succeeded by m1 <= 14, then v0 < 13 eventually holds after m1 <= 14 .
Before d0 >= 2, j1 >= 8 eventually holds.
After u0 < 6 until t0 <= 10, it is always the case that i0 > 7 holds.
After k1 < 9 until t0 <= 15, it is always the case that if c1 < 7 holds and is succeeded by w0 < 7, then b1 < 11 eventually holds after w0 < 7 .
Between m1 <= 8 and g0 = 8, it is always the case that m0 > 15 holds.
Globally, it is always the case that if v0 >= 8 holds, then a0 > 6 previously held and was preceded by d1 < 12 .
Between i1 >= 1 and s0 > 8, it is always the case that if t0 >= 3 holds, then c1 >= 10 eventually holds and is succeeded by z0 < 8 .
After k1 < 7, it is always the case that if p0 >= 15 holds and is succeeded by a1 >= 5, then d1 <= 1 previously held.
After e0 > 15, f1 < 10 eventually holds.
Between c1 > 5 and a0 <= 3, it is always the case that if z0 >= 6 holds and is succeeded by b0 >= 10, then r0 <= 10 eventually holds after b0 >= 10 .
After o0 <= 8, it is always the case that if k0 >= 5 holds, then t0 > 5 eventually holds.
Globally, it is always the case that if d0 >= 14 holds, then v0 <= 7 eventually holds and is succeeded by e1 = 1, where n0 <= 14 does not hold between v0 <= 7 and e1 = 1 .
After y0 <= 4 until t0 > 11, it is always the case that if n0 >= 15 holds, then e1 >= 1 eventually holds and is succeeded by j0 > 4, where g1 > 11 does not hold between e1 >= 1 and j0 > 4 .
After i1 < 6 until g1 >= 15, it is always the case that if x0 <= 1 holds, then l1 = 2 eventually holds.
Globally, it is always the case that if i1 > 4 holds, then n0 = 11 previously held.
Globally, it is always the case that if f0 < 11 holds, then r0 > 0 eventually holds.
After g0 > 11 until i0 = 13, it is always the case that if h0 < 3 holds, then g0 > 6 previously held and was preceded by i0 < 7 .
After d0 <= 11, it is never the case that x0 = 5 holds.
After t0 < 4, it is always the case that x0 <= 5 holds.
After g1 <= 1 until d1 < 14, it is always the case that if f1 > 0 holds, then u0 < 12 previously held and was preceded by o0 >= 1 .
After g1 < 11 until e0 < 9, it is always the case that if b1 >= 2 holds, then b1 = 15 eventually holds and is succeeded by w0 >= 8 .
Before i0 >= 10, it is always the case that if d1 >= 8 holds and is succeeded by j1 <= 10, then f0 > 7 eventually holds after j1 <= 10 .
Between g0 >= 10 and q0 <= 10, it is always the case that if w0 = 2 holds, then o0 > 10 eventually holds and is succeeded by d0 > 5 .
Between z0 >= 1 and k1 >= 5, it is never the case that w0 < 5 holds.
After y0 > 10, it is always the case that if j1 <= 13 holds and is succeeded by i1 < 11, then c0 > 1 eventually holds after i1 < 11 .
Before k0 = 0, it is always the case that j0 <= 12 holds.
Before j0 = 5, it is always the case that d0 <= 5 holds.
Globally, it is always the case that if p0 = 5 holds, then u0 = 15 previously held and was preceded by n0 > 4 .
Between x0 > 12 and d1 >= 3, it is always the case that if l1 >= 1 holds and is succeeded by c1 = 2, then c0 >= 4 eventually holds after c1 = 2 .
Before g1 = 15, j0 = 4 eventually holds.
Before j1 >= 8, it is always the case that if a1 = 10 holds, then n0 = 15 previously held.
After h1 < 12 until a1 <= 15, it is always the case that if p0 > 11 holds, then x0 >= 4 eventually holds.
Globally, it is always the case that if e0 > 11 holds, then b0 < 6 previously held and was preceded by e1 <= 12 .
Before s0 < 2, it is always the case that if m1 > 5 holds, then h0 > 5 eventually holds and is succeeded by e1 > 5 .
Before k0 > 11, it is always the case that if k0 = 6 holds and is succeeded by i0 <= 3, then o0 >= 10 eventually holds after i0 <= 3 .
Between d0 <= 10 and a0 >= 3, a0 > 6 eventually holds.
Before h0 > 13, it is always the case that if l0 < 2 holds, then x0 < 1 previously held and was preceded by m1 <= 10 .
Between f0 = 15 and h0 < 13, it is always the case that if n0 <= 8 holds, then l0 <= 10 eventually holds and is succeeded by x0 = 7 .
After a0 <= 5 until a0 = 4, it is always the case that if c0 < 0 holds, then q0 > 13 eventually holds and is succeeded by h0 < 8 .
Before f0 <= 9, it is always the case that if e1 = 15 holds and is succeeded by k1 >= 7, then g0 > 15 eventually holds after k1 >= 7 .
After l1 > 2 until v0 > 14, it is always the case that if k1 > 2 holds, then q0 <= 8 eventually holds and is succeeded by p0 > 11, where z0 > 2 does not hold between q0 <= 8 and p0 > 11 .
Between a0 > 2 and h0 <= 3, it is never the case that t0 < 9 holds.
After d1 <= 4, it is always the case that if g1 >= 0 holds, then i1 <= 14 eventually holds and is succeeded by q0 < 11, where b1 <= 3 does not hold between i1 <= 14 and q0 < 11 .
Between h1 <= 7 and i1 > 7, it is always the case that if x0 < 9 holds, then s0 >= 14 eventually holds and is succeeded by b0 > 10, where l0 > 7 does not hold between s0 >= 14 and b0 > 10 .
Before f1 <= 7, it is always the case that if z0 <= 12 holds, then v0 = 3 eventually holds and is succeeded by h0 <= 11, where f1 < 1 does not hold between v0 = 3 and h0 <= 11 .
Between b1 = 8 and b1 > 1, it is always the case that d1 <= 15 holds.
After k1 = 3 until h1 > 8, it is never the case that i1 <= 12 holds.
After m0 <= 12, it is always the case that if j1 <= 8 holds and is succeeded by z0 <= 1, then w0 = 9 eventually holds after z0 <= 1 .
Between g1 < 1 and z0 <= 7, it is always the case that if v0 > 3 holds, then t0 <= 2 eventually holds and is succeeded by h1 = 3 .
Between u0 < 1 and v0 <= 2, it is always the case that if h1 < 1 holds, then h0 < 1 previously held and was preceded by a1 <= 12 .
Between d1 < 8 and x0 >= 5, it is always the case that if u0 = 1 holds and is succeeded by y0 = 5, then i0 > 8 previously held.
After w0 > 12, it is always the case that if a1 > 0 holds, then m1 > 15 eventually holds and is succeeded by u0 >= 6, where u0 <= 3 does not hold between m1 > 15 and u0 >= 6 .
Between r0 < 13 and m0 > 3, it is never the case that m0 > 7 holds.
After z0 = 6 until z0 = 15, it is always the case that if s0 = 14 holds and is succeeded by i1 > 15, then w0 > 12 eventually holds after i1 > 15 .
Between i0 <= 14 and c0 < 0, it is always the case that if a1 = 8 holds, then r0 = 1 previously held and was preceded by n0 = 11 .
Globally, j1 >= 15 eventually holds.
After y0 > 0, it is always the case that if k0 = 4 holds and is succeeded by c0 <= 2, then u0 <= 14 previously held.
Before a1 = 11, it is always the case that if r0 < 1 holds and is succeeded by l1 > 10, then c1 >= 15 eventually holds after l1 > 10 .
Between o0 <= 7 and y0 >= 6, s0 > 14 eventually holds.
After b1 > 5 until a1 <= 1, it is never the case that g0 = 4 holds.
Globally, it is never the case that j1 < 7 holds.
After d0 >= 8, it is never the case that h0 <= 9 holds.
After f0 = 8, it is always the case that if h0 >= 5 holds, then e0 <= 0 previously held and was preceded by y0 <= 12 .
After x0 <= 0, it is always the case that if u0 >= 7 holds and is succeeded by m0 > 1, then u0 > 8 eventually holds after m0 > 1 .
After c1 < 9 until i0 < 11, it is always the case that if i0 <= 3 holds, then z0 > 10 previously held.
Before h0 < 1, it is always the case that if j1 < 10 holds, then l0 = 12 previously held and was preceded by c0 >= 15 .
Before b1 < 6, it is always the case that if n0 = 15 holds, then k1 <= 10 eventually holds and is succeeded by t0 >= 3 .
After f1 >= 7, it is always the case that if z0 <= 0 holds, then l0 > 15 eventually holds and is succeeded by z0 = 11, where b1 < 13 does not hold between l0 > 15 and z0 = 11 .
Before i0 > 2, it is always the case that if a1 > 3 holds, then a1 >= 2 eventually holds and is succeeded by j0 >= 11 .
Before d0 < 0, it is always the case that if d1 = 15 holds, then a1 < 10 eventually holds and is succeeded by d0 >= 10, where l0 < 14 does not hold between a1 < 10 and d0 >= 10 .
After h0 >= 14 until a0 >= 13, it is always the case that if g0 > 2 holds, then n0 > 14 eventually holds and is succeeded by q0 >= 4 .
Globally, e1 <= 13 eventually holds.
Globally, it is always the case that if m0 >= 14 holds, then v0 <= 0 eventually holds and is succeeded by c0 >= 8 .
Before x0 >= 0, it is always the case that if g0 <= 1 holds, then h0 = 15 eventually holds and is succeeded by l0 < 13, where b0 = 8 does not hold between h0 = 15 and l0 < 13 .
Between e0 <= 1 and h1 > 8, it is always the case that if c1 >= 14 holds, then m1 > 12 previously held and was preceded by r0 >= 8 .
After s0 >= 8 until e1 <= 8, it is always the case that if f1 >= 15 holds and is succeeded by i0 <= 4, then x0 <= 0 eventually holds after i0 <= 4 .
After z0 > 5, it is always the case that if l1 = 11 holds, then p0 >= 1 eventually holds and is succeeded by v0 <= 1 .
After p0 < 10, m0 <= 11 eventually holds.
Globally, it is always the case that if c1 = 2 holds, then f1 <= 1 previously held and was preceded by h0 = 3 .
Between p0 >= 1 and j0 < 8, it is always the case that if v0 = 2 holds and is succeeded by s0 < 4, then s0 > 3 eventually holds after s0 < 4 .
After s0 >= 13 until l0 >= 6, it is never the case that h0 >= 10 holds.
Between a0 >= 9 and a1 >= 8, it is always the case that if s0 >= 15 holds and is succeeded by i1 >= 5, then e1 < 7 previously held.
Between h0 <= 4 and b1 < 6, it is always the case that if i1 = 13 holds, then h0 = 15 previously held.
Globally, m0 = 1 eventually holds.
After b0 <= 0, it is always the case that if w0 < 15 holds, then f0 < 1 eventually holds and is succeeded by k1 < 0, where j0 = 2 does not hold between f0 < 1 and k1 < 0 .
After a1 = 7, it is always the case that if c1 = 7 holds, then c0 <= 6 eventually holds.
Before l1 > 2, it is always the case that if h0 <= 2 holds, then b0 >= 14 eventually holds and is succeeded by h0 > 15 .
After p0 >= 9 until y0 > 3, it is always the case that if b1 < 14 holds, then j1 = 4 eventually holds and is succeeded by r0 >= 9 .
After u0 >= 13 until n0 < 9, it is always the case that if s0 < 9 holds and is succeeded by m0 = 2, then l0 <= 9 previously held.
Between v0 >= 0 and e0 < 4, it is always the case that if q0 >= 15 holds, then h1 <= 11 eventually holds and is succeeded by a0 <= 12 .
After h1 > 10 until g0 <= 4, it is always the case that if j0 > 10 holds and is succeeded by f1 > 6, then q0 < 5 eventually holds after f1 > 6 .
Before l0 <= 5, it is always the case that if d0 <= 5 holds and is succeeded by g1 >= 15, then p0 < 3 previously held.
Between k1 <= 12 and f1 >= 9, it is always the case that if z0 <= 14 holds, then m0 < 4 eventually holds and is succeeded by d0 <= 2 .
Globally, it is always the case that if a1 = 2 holds, then v0 > 5 eventually holds and is succeeded by y0 > 7, where e1 >= 5 does not hold between v0 > 5 and y0 > 7 .
After j0 >= 9, it is always the case that if r0 < 12 holds and is succeeded by p0 <= 13, then n0 = 10 previously held.
Between l0 >= 7 and y0 >= 10, it is always the case that if e0 = 5 holds, then n0 <= 14 eventually holds and is succeeded by k1 > 12, where i0 <= 6 does not hold between n0 <= 14 and k1 > 12 .
Before v0 >= 10, it is always the case that if d0 < 10 holds, then t0 <= 6 eventually holds and is succeeded by c1 = 12, where u0 = 5 does not hold between t0 <= 6 and c1 = 12 .
Between t0 < 1 and f0 <= 5, t0 >= 8 eventually holds.
Before g0 > 13, it is always the case that if z0 < 1 holds, then f0 <= 12 eventually holds and is succeeded by l1 >= 14 .
After z0 < 8, it is always the case that if s0 < 7 holds, then m1 >= 0 eventually holds and is succeeded by d1 > 10 .
Before a1 >= 15, it is always the case that if j0 > 14 holds and is succeeded by f1 < 4, then l0 >= 7 eventually holds after f1 < 4 .
After y0 < 11 until g1 >= 12, it is always the case that if l1 >= 4 holds, then l0 >= 13 previously held.
Between f1 < 4 and i1 < 3, it is always the case that if c1 = 4 holds and is succeeded by l0 > 13, then t0 >= 3 eventually holds after l0 > 13 .
After u0 = 9 until m0 > 4, it is always the case that if h0 <= 2 holds and is succeeded by g0 < 8, then b1 <= 4 eventually holds after g0 < 8 .
Before m1 < 0, it is always the case that if w0 >= 2 holds and is succeeded by j1 > 7, then y0 = 6 previously held.
After b0 < 15 until l1 <= 14, it is always the case that if j1 >= 3 holds, then k1 = 4 eventually holds and is succeeded by b1 >= 12, where i0 < 0 does not hold between k1 = 4 and b1 >= 12 .
Between d1 = 0 and y0 <= 14, it is always the case that if g1 <= 10 holds, then m1 > 14 previously held.
Between s0 > 13 and h1 >= 15, it is always the case that if c1 < 15 holds, then s0 <= 11 previously held.
Before r0 = 0, it is always the case that if p0 >= 3 holds, then w0 > 1 eventually holds and is succeeded by w0 > 7 .
Globally, it is always the case that if g0 >= 11 holds and is succeeded by i1 >= 12, then m0 >= 3 previously held.
After l0 = 3 until d1 <= 9, it is always the case that if u0 = 13 holds, then a0 < 2 eventually holds and is succeeded by y0 > 5 .
Between d1 < 1 and r0 = 11, it is always the case that if d1 = 10 holds, then l1 >= 11 previously held.
After x0 <= 12, it is always the case that if m0 >= 0 holds, then p0 < 3 previously held.
Globally, it is always the case that if s0 = 3 holds, then u0 < 10 previously held.
After s0 >= 7, it is always the case that if a0 = 4 holds, then o0 > 9 previously held and was preceded by e1 = 6 .
Between z0 >= 6 and c1 > 6, it is always the case that if e1 < 2 holds, then t0 >= 12 eventually holds and is succeeded by b0 <= 3, where v0 <= 5 does not hold between t0 >= 12 and b0 <= 3 .
Globally, it is always the case that if i0 <= 7 holds, then y0 <= 13 eventually holds and is succeeded by v0 = 6, where h0 <= 10 does not hold between y0 <= 13 and v0 = 6 .
Globally, it is always the case that if d0 < 15 holds and is succeeded by j1 >= 9, then o0 = 9 previously held.
Between o0 < 6 and f0 = 13, it is always the case that if d0 >= 7 holds and is succeeded by m0 >= 0, then f0 <= 3 eventually holds after m0 >= 0 .
Globally, it is always the case that if i0 >= 10 holds and is succeeded by t0 < 0, then i0 < 1 previously held.
Before l1 < 11, it is always the case that s0 = 10 holds.
After g1 > 6 until h1 <= 12, it is always the case that if z0 >= 8 holds, then q0 >= 10 eventually holds and is succeeded by f0 <= 15, where g1 = 7 does not hold between q0 >= 10 and f0 <= 15 .
After z0 = 14 until a0 = 1, it is always the case that if t0 <= 1 holds, then f0 < 9 previously held and was preceded by b0 >= 0 .
After a1 < 11, it is always the case that if e0 <= 3 holds, then a1 >= 8 eventually holds.
After g1 <= 0, r0 < 13 eventually holds.
Globally, g0 = 9 eventually holds.
Before h0 < 15, it is always the case that j1 = 0 holds.
After i0 < 13, it is never the case that l0 >= 1 holds.
After h0 >= 0, it is always the case that if i1 <= 15 holds, then l1 <= 9 eventually holds and is succeeded by e0 <= 6 .
After k1 <= 12, it is always the case that if i0 >= 8 holds, then x0 >= 11 previously held.
Globally, it is always the case that if b0 > 11 holds, then a0 = 12 eventually holds.
After m1 > 3 until e0 < 8, it is always the case that if f0 = 11 holds and is succeeded by h0 = 7, then s0 > 0 previously held.
Between w0 = 5 and f1 > 8, k1 < 7 eventually holds.
After g0 >= 10, it is always the case that i0 <= 4 holds.
Before q0 < 9, it is always the case that m0 = 6 holds.
Globally, it is always the case that v0 >= 8 holds.
After e0 >= 1 until b0 < 11, it is always the case that if j0 >= 8 holds and is succeeded by b0 <= 11, then o0 > 9 previously held.
Before n0 = 12, it is never the case that d0 = 14 holds.
Between b0 > 1 and t0 > 4, it is always the case that if h1 > 9 holds, then q0 = 1 eventually holds and is succeeded by z0 > 14, where d1 > 5 does not hold between q0 = 1 and z0 > 14 .
Globally, it is always the case that g0 > 12 holds.
Before b1 >= 6, it is always the case that if q0 <= 2 holds, then k0 < 9 previously held and was preceded by h0 >= 13 .
After h1 >= 0, it is always the case that if c1 > 14 holds, then e0 < 9 previously held.
Between m0 > 8 and b1 > 10, it is always the case that y0 > 10 holds.
After c0 = 7 until n0 <= 14, it is always the case that if r0 <= 4 holds, then u0 >= 10 eventually holds.
Before b1 < 8, it is always the case that if d0 > 8 holds, then e0 < 6 eventually holds.
