After b0 = 4 until c0 <= 6, it is always the case that a0 > 1 holds.
Globally, it is always the case that if c0 > 6 holds, then d0 >= 2 eventually holds and is succeeded by b0 = 1, where c0 > 6 does not hold between d0 >= 2 and b0 = 1 .
Before a0 > 5, it is always the case that if a0 <= 3 holds, then d0 = 0 eventually holds and is succeeded by c0 < 3 .
Globally, it is always the case that a0 > 0 holds.
Before c0 = 0, it is always the case that if d0 < 2 holds, then c0 < 7 eventually holds and is succeeded by d0 > 6, where d0 > 5 does not hold between c0 < 7 and d0 > 6 .
After d0 < 6, it is always the case that if c0 <= 5 holds, then c0 < 4 eventually holds and is succeeded by a0 < 0, where d0 = 2 does not hold between c0 < 4 and a0 < 0 .
Globally, it is always the case that if a0 <= 7 holds, then a0 >= 0 eventually holds and is succeeded by a0 > 6, where a0 > 3 does not hold between a0 >= 0 and a0 > 6 .
Between d0 < 3 and b0 < 0, it is always the case that a0 <= 2 holds.
Between a0 = 7 and b0 <= 3, it is always the case that if d0 <= 5 holds, then c0 < 4 eventually holds and is succeeded by a0 >= 6 .
Globally, c0 <= 4 eventually holds.
After d0 > 3, it is never the case that c0 >= 6 holds.
Before d0 <= 6, c0 >= 1 eventually holds.
Between a0 <= 0 and c0 < 5, it is always the case that if d0 > 0 holds, then d0 < 2 previously held and was preceded by d0 >= 7 .
Globally, it is never the case that a0 < 3 holds.
After b0 <= 1, d0 >= 7 eventually holds.
Before a0 < 2, it is always the case that if d0 <= 7 holds and is succeeded by b0 > 6, then a0 > 0 previously held.
Before d0 >= 4, it is always the case that if d0 <= 2 holds, then d0 > 6 previously held.
Before c0 = 5, it is always the case that if b0 <= 7 holds, then b0 <= 3 eventually holds.
Before c0 > 1, it is always the case that if c0 <= 2 holds, then b0 >= 3 previously held.
After d0 < 5, it is always the case that if c0 <= 3 holds, then c0 > 0 previously held.
After b0 > 5 until b0 < 2, it is always the case that if b0 < 2 holds, then a0 > 6 eventually holds.
Before a0 > 0, b0 >= 7 eventually holds.
Globally, it is never the case that c0 = 3 holds.
Before a0 = 1, it is always the case that if b0 >= 4 holds, then d0 >= 2 eventually holds and is succeeded by d0 < 0 .
Globally, it is never the case that b0 = 7 holds.
After a0 = 7 until d0 = 2, it is always the case that if a0 >= 0 holds, then d0 >= 4 previously held.
Globally, it is always the case that if a0 = 7 holds, then c0 < 7 eventually holds and is succeeded by c0 < 1 .
After a0 <= 1, it is always the case that if a0 = 5 holds, then b0 < 3 previously held.
Before d0 <= 7, it is always the case that if d0 = 5 holds, then b0 >= 5 eventually holds.
After a0 >= 2, a0 = 3 eventually holds.
After d0 > 2, it is always the case that if a0 <= 1 holds and is succeeded by a0 > 3, then d0 <= 2 eventually holds after a0 > 3 .
After a0 <= 4 until a0 > 6, it is always the case that if a0 < 1 holds and is succeeded by b0 = 5, then c0 <= 6 eventually holds after b0 = 5 .
Before a0 <= 2, it is always the case that if a0 <= 0 holds, then a0 <= 2 eventually holds and is succeeded by a0 < 7, where d0 > 4 does not hold between a0 <= 2 and a0 < 7 .
After c0 > 1 until c0 = 0, it is always the case that b0 > 5 holds.
Before d0 = 1, it is always the case that if b0 <= 3 holds, then a0 <= 6 eventually holds and is succeeded by c0 <= 0, where c0 <= 0 does not hold between a0 <= 6 and c0 <= 0 .
Between c0 = 7 and b0 >= 4, it is always the case that if a0 > 3 holds, then b0 <= 2 eventually holds and is succeeded by c0 < 1 .
Before b0 >= 0, it is always the case that if a0 > 0 holds and is succeeded by d0 > 7, then d0 = 2 previously held.
After b0 >= 4, it is always the case that if d0 > 1 holds, then c0 = 4 eventually holds.
Globally, a0 <= 4 eventually holds.
After d0 = 6, it is always the case that if a0 < 6 holds, then a0 = 4 eventually holds and is succeeded by c0 <= 4 .
Globally, it is always the case that if a0 < 6 holds, then d0 = 6 eventually holds.
Before d0 <= 2, it is always the case that if d0 >= 3 holds and is succeeded by d0 = 3, then c0 >= 5 previously held.
Before c0 > 6, it is always the case that if a0 > 0 holds and is succeeded by b0 <= 3, then b0 >= 0 previously held.
Globally, it is always the case that if c0 > 4 holds, then b0 <= 2 eventually holds.
Globally, it is always the case that if d0 >= 4 holds, then b0 >= 0 previously held and was preceded by d0 <= 6 .
Globally, it is always the case that if d0 = 0 holds, then b0 <= 4 eventually holds.
Between a0 <= 7 and d0 < 3, it is always the case that if a0 = 5 holds, then b0 < 5 previously held and was preceded by d0 = 3 .
After a0 < 4 until d0 <= 4, d0 < 2 eventually holds.
After c0 <= 5, it is always the case that if a0 = 6 holds, then c0 <= 3 eventually holds and is succeeded by c0 > 2 .
After b0 > 7 until b0 > 3, it is always the case that if d0 = 4 holds, then c0 <= 4 previously held and was preceded by b0 = 6 .
After d0 <= 6, it is never the case that b0 > 6 holds.
After a0 >= 6 until b0 > 0, it is always the case that if d0 > 5 holds, then b0 = 2 eventually holds and is succeeded by a0 < 4, where b0 > 1 does not hold between b0 = 2 and a0 < 4 .
Before d0 > 3, it is never the case that d0 > 5 holds.
After a0 < 2 until a0 >= 2, it is always the case that if c0 < 4 holds, then b0 <= 6 previously held and was preceded by b0 <= 2 .
Globally, it is always the case that c0 <= 0 holds.
After a0 > 2 until b0 >= 3, it is always the case that if b0 < 1 holds, then d0 > 6 previously held and was preceded by d0 >= 2 .
Between d0 < 5 and a0 <= 7, it is always the case that if c0 = 4 holds and is succeeded by c0 <= 4, then c0 = 1 eventually holds after c0 <= 4 .
After a0 < 2, it is always the case that d0 = 0 holds.
Before c0 > 7, c0 <= 5 eventually holds.
Between a0 <= 3 and c0 <= 0, a0 > 3 eventually holds.
After a0 >= 6 until b0 = 6, it is always the case that if c0 = 5 holds and is succeeded by a0 >= 4, then c0 <= 7 previously held.
Before a0 = 4, it is always the case that if b0 > 2 holds and is succeeded by a0 > 2, then b0 < 0 previously held.
After d0 < 6, it is always the case that if d0 = 1 holds, then d0 >= 6 eventually holds.
Between d0 < 4 and c0 <= 3, it is always the case that if a0 >= 7 holds, then b0 = 4 previously held and was preceded by c0 < 3 .
After b0 >= 4, it is always the case that if d0 >= 1 holds and is succeeded by b0 >= 1, then d0 = 5 eventually holds after b0 >= 1 .
After c0 = 7 until c0 <= 6, it is always the case that a0 > 5 holds.
Before a0 > 2, it is always the case that if c0 < 4 holds, then c0 >= 4 previously held.
Between c0 > 6 and c0 = 7, it is always the case that if b0 <= 1 holds, then a0 >= 7 eventually holds.
Before d0 < 5, it is always the case that if d0 > 2 holds, then a0 >= 1 eventually holds and is succeeded by c0 < 7, where a0 <= 1 does not hold between a0 >= 1 and c0 < 7 .
After c0 >= 3, it is always the case that if d0 <= 6 holds, then c0 <= 6 eventually holds and is succeeded by b0 < 0 .
After d0 <= 6, it is always the case that if d0 >= 7 holds and is succeeded by d0 = 7, then d0 = 2 previously held.
Globally, it is never the case that a0 >= 1 holds.
Before b0 <= 2, it is always the case that if d0 <= 1 holds and is succeeded by a0 >= 7, then a0 < 6 previously held.
After a0 = 4 until b0 > 7, it is always the case that if c0 >= 7 holds, then d0 < 1 previously held.
Globally, it is always the case that if a0 > 0 holds, then b0 >= 5 eventually holds and is succeeded by a0 = 5 .
After a0 < 6, it is never the case that b0 = 6 holds.
After d0 > 6 until b0 > 6, it is always the case that if a0 > 5 holds, then a0 < 5 eventually holds.
Globally, it is always the case that if c0 = 5 holds, then d0 = 0 eventually holds and is succeeded by d0 >= 7 .
Before c0 < 4, it is always the case that if a0 = 1 holds and is succeeded by b0 >= 5, then d0 > 7 previously held.
After b0 < 2, it is always the case that if c0 >= 2 holds, then c0 > 7 eventually holds.
Globally, it is always the case that if c0 > 5 holds, then a0 = 7 eventually holds.
Between a0 < 0 and c0 = 7, it is always the case that if b0 > 6 holds and is succeeded by b0 <= 0, then d0 = 2 eventually holds after b0 <= 0 .
Before a0 > 0, it is never the case that c0 >= 0 holds.
Between a0 > 0 and c0 < 2, it is always the case that if d0 <= 6 holds, then a0 > 5 eventually holds and is succeeded by d0 <= 4, where b0 = 7 does not hold between a0 > 5 and d0 <= 4 .
After d0 > 5, it is always the case that if a0 > 6 holds and is succeeded by d0 >= 6, then c0 >= 3 eventually holds after d0 >= 6 .
Globally, it is never the case that d0 < 0 holds.
Globally, it is always the case that b0 > 6 holds.
Before d0 > 3, it is always the case that if b0 > 5 holds, then a0 <= 0 eventually holds and is succeeded by d0 >= 5 .
Globally, a0 > 4 eventually holds.
After b0 >= 5 until d0 >= 3, it is always the case that if b0 < 5 holds, then c0 = 0 eventually holds and is succeeded by a0 = 0, where a0 < 5 does not hold between c0 = 0 and a0 = 0 .
Before c0 <= 3, it is always the case that if b0 >= 0 holds, then d0 >= 1 previously held and was preceded by b0 <= 3 .
After c0 > 4 until d0 >= 7, it is always the case that if a0 = 1 holds and is succeeded by a0 < 0, then b0 <= 7 previously held.
After c0 > 7, it is always the case that if d0 = 7 holds, then a0 >= 1 previously held and was preceded by d0 < 1 .
Between d0 <= 7 and c0 >= 6, it is never the case that a0 = 5 holds.
After d0 < 6, it is always the case that if b0 < 1 holds and is succeeded by b0 < 5, then d0 >= 3 previously held.
After b0 = 4 until d0 > 4, it is always the case that if d0 < 5 holds, then d0 < 2 eventually holds.
After d0 < 1 until b0 = 2, it is always the case that if c0 > 7 holds, then b0 >= 1 eventually holds and is succeeded by c0 <= 3 .
Before b0 > 1, it is always the case that if a0 > 2 holds and is succeeded by b0 <= 5, then a0 < 4 previously held.
After a0 <= 0, it is always the case that if a0 >= 6 holds and is succeeded by b0 < 2, then a0 < 3 eventually holds after b0 < 2 .
After a0 > 3, it is never the case that d0 <= 3 holds.
After c0 <= 1, it is always the case that if a0 = 4 holds, then c0 < 2 eventually holds and is succeeded by a0 = 5, where b0 = 5 does not hold between c0 < 2 and a0 = 5 .
After c0 >= 5, a0 < 3 eventually holds.
Globally, it is always the case that if d0 <= 3 holds, then d0 > 3 eventually holds and is succeeded by d0 <= 1, where a0 < 0 does not hold between d0 > 3 and d0 <= 1 .
After b0 <= 6, it is never the case that c0 >= 3 holds.
Before c0 >= 7, it is never the case that c0 > 0 holds.
Before b0 = 7, it is always the case that if a0 < 6 holds and is succeeded by d0 = 1, then d0 >= 3 previously held.
After c0 >= 4 until d0 = 7, it is always the case that if d0 > 3 holds and is succeeded by d0 <= 2, then a0 >= 7 eventually holds after d0 <= 2 .
After a0 >= 4, it is always the case that if c0 < 6 holds, then c0 < 7 eventually holds.
Globally, it is always the case that if a0 <= 7 holds and is succeeded by c0 = 4, then b0 > 4 previously held.
After b0 <= 0 until d0 <= 0, it is always the case that if d0 < 7 holds, then a0 >= 2 eventually holds and is succeeded by a0 < 2, where c0 > 2 does not hold between a0 >= 2 and a0 < 2 .
After a0 = 7 until b0 = 5, a0 = 3 eventually holds.
After b0 > 3 until d0 >= 2, it is always the case that if b0 <= 2 holds, then a0 < 2 eventually holds.
Between b0 > 3 and d0 < 5, it is always the case that if a0 >= 1 holds and is succeeded by a0 < 1, then d0 >= 7 eventually holds after a0 < 1 .
Between a0 > 6 and d0 = 7, it is never the case that c0 > 1 holds.
Between b0 <= 0 and c0 > 7, it is never the case that b0 = 7 holds.
After d0 < 0, it is always the case that if d0 <= 1 holds, then a0 > 3 eventually holds.
Before d0 <= 3, a0 < 2 eventually holds.
After c0 <= 6 until c0 = 6, it is always the case that b0 > 1 holds.
After b0 < 7 until b0 >= 7, it is always the case that if a0 <= 3 holds and is succeeded by c0 <= 4, then b0 <= 1 previously held.
After d0 > 4, it is always the case that if b0 >= 6 holds, then d0 < 5 eventually holds and is succeeded by d0 >= 2 .
