Globally, it is always the case that b0 < 4 holds.
After h0 < 8, a0 > 14 eventually holds.
After a0 > 14 until h0 < 3, it is always the case that if h0 < 2 holds, then a0 > 3 eventually holds and is succeeded by f0 = 9 .
Between d0 = 14 and i0 <= 3, it is always the case that c0 < 3 holds.
After c0 >= 7 until b0 <= 2, it is always the case that if c0 <= 2 holds and is succeeded by c0 = 8, then b0 <= 0 previously held.
Globally, it is always the case that if c0 < 15 holds, then f0 < 2 eventually holds.
Between f0 <= 15 and b0 < 13, it is always the case that i0 > 13 holds.
Before b0 >= 3, it is always the case that if d0 < 0 holds, then d0 <= 3 eventually holds.
Before e0 > 7, it is always the case that if a0 < 5 holds, then a0 > 15 eventually holds.
After h0 = 12, it is always the case that e0 > 14 holds.
After f0 >= 4, it is always the case that if e0 = 14 holds and is succeeded by c0 > 13, then c0 > 11 eventually holds after c0 > 13 .
Before h0 > 3, it is always the case that if h0 > 12 holds and is succeeded by c0 >= 12, then e0 < 14 previously held.
After i0 >= 7 until e0 > 5, it is always the case that if c0 = 0 holds, then b0 < 7 eventually holds and is succeeded by g0 >= 1, where c0 <= 8 does not hold between b0 < 7 and g0 >= 1 .
Before a0 > 3, it is always the case that if e0 = 1 holds, then d0 >= 6 eventually holds.
Between f0 > 10 and c0 < 9, it is always the case that if i0 <= 2 holds, then h0 >= 15 previously held and was preceded by c0 > 11 .
After i0 = 3, it is always the case that if d0 > 5 holds and is succeeded by a0 < 8, then i0 < 0 eventually holds after a0 < 8 .
After g0 < 7 until i0 <= 14, it is always the case that if e0 < 15 holds and is succeeded by g0 >= 12, then e0 < 15 previously held.
Between c0 >= 3 and g0 = 7, it is always the case that if f0 > 3 holds, then c0 > 5 eventually holds and is succeeded by i0 >= 2 .
Before d0 < 4, it is always the case that if c0 = 7 holds, then h0 <= 4 previously held and was preceded by b0 >= 14 .
Before a0 >= 13, it is always the case that e0 >= 13 holds.
Globally, it is always the case that h0 < 0 holds.
Before d0 < 4, it is never the case that b0 > 0 holds.
Between c0 <= 14 and f0 = 9, it is never the case that f0 <= 2 holds.
After f0 = 5 until g0 <= 4, it is always the case that if h0 <= 0 holds and is succeeded by d0 <= 12, then c0 = 9 eventually holds after d0 <= 12 .
After i0 >= 1 until e0 > 9, it is always the case that b0 = 0 holds.
Before d0 >= 9, it is always the case that if f0 < 11 holds, then b0 > 14 previously held.
Between g0 < 13 and d0 = 0, it is always the case that if d0 = 4 holds, then c0 >= 4 previously held.
After c0 = 11, c0 >= 14 eventually holds.
Between f0 <= 12 and g0 < 15, it is always the case that if g0 < 9 holds, then e0 <= 13 previously held.
After c0 > 15 until d0 <= 13, it is always the case that if h0 >= 2 holds, then e0 >= 1 previously held and was preceded by a0 <= 13 .
Between f0 = 8 and h0 = 11, it is always the case that h0 = 14 holds.
After e0 = 11, it is never the case that c0 <= 11 holds.
Globally, it is always the case that if d0 > 8 holds, then b0 > 13 eventually holds and is succeeded by d0 > 6, where i0 = 8 does not hold between b0 > 13 and d0 > 6 .
Globally, it is always the case that if d0 < 12 holds, then c0 > 2 previously held and was preceded by h0 >= 4 .
After a0 > 5 until h0 <= 7, b0 >= 5 eventually holds.
After i0 <= 2, it is always the case that if e0 >= 2 holds and is succeeded by a0 > 11, then b0 = 14 eventually holds after a0 > 11 .
Between c0 >= 4 and f0 < 0, it is always the case that if i0 >= 5 holds, then e0 <= 13 eventually holds.
Between i0 = 13 and c0 < 12, it is always the case that if h0 > 7 holds, then c0 >= 5 previously held and was preceded by f0 = 13 .
Before h0 < 6, it is always the case that if a0 = 9 holds, then h0 > 9 eventually holds.
Before g0 <= 10, it is never the case that d0 >= 14 holds.
After a0 = 7 until d0 > 9, it is always the case that e0 >= 4 holds.
Before a0 = 8, it is always the case that if a0 = 6 holds, then h0 >= 11 eventually holds and is succeeded by b0 = 15 .
After b0 <= 10, it is always the case that if h0 >= 10 holds, then a0 > 15 previously held.
After c0 > 9 until h0 <= 0, it is always the case that if c0 <= 12 holds, then e0 = 8 previously held.
After d0 > 6 until c0 < 7, a0 > 14 eventually holds.
Between c0 < 9 and d0 = 4, it is never the case that g0 <= 11 holds.
Between b0 = 10 and b0 <= 3, it is always the case that if a0 < 5 holds, then g0 = 2 eventually holds and is succeeded by a0 < 5 .
After h0 > 5 until h0 > 10, it is always the case that if f0 < 12 holds, then c0 = 15 eventually holds and is succeeded by a0 > 11 .
After g0 > 1 until h0 >= 3, it is always the case that if g0 <= 6 holds, then h0 < 4 previously held.
Between d0 < 11 and g0 < 12, it is always the case that f0 < 13 holds.
Globally, it is always the case that if f0 = 9 holds, then h0 <= 2 eventually holds.
Between f0 > 2 and d0 > 12, it is always the case that if h0 > 11 holds, then f0 > 7 eventually holds.
Before e0 < 7, it is always the case that if a0 = 13 holds, then b0 < 9 eventually holds.
Before a0 > 4, i0 = 11 eventually holds.
Globally, it is always the case that if a0 <= 9 holds and is succeeded by e0 >= 1, then a0 = 4 eventually holds after e0 >= 1 .
After d0 < 10 until d0 < 7, it is always the case that if b0 = 0 holds, then g0 <= 7 previously held.
Before g0 <= 0, it is never the case that d0 >= 9 holds.
After h0 = 15, it is always the case that if e0 < 5 holds and is succeeded by b0 < 4, then g0 < 11 eventually holds after b0 < 4 .
After a0 > 6, it is always the case that if g0 = 4 holds, then a0 <= 7 eventually holds and is succeeded by f0 >= 15 .
Between a0 <= 6 and d0 > 13, it is always the case that if f0 < 13 holds, then a0 <= 14 eventually holds and is succeeded by g0 <= 7, where b0 <= 10 does not hold between a0 <= 14 and g0 <= 7 .
After b0 = 8, it is never the case that e0 > 15 holds.
After a0 <= 14 until i0 = 5, it is always the case that if d0 < 9 holds and is succeeded by h0 < 2, then f0 < 7 eventually holds after h0 < 2 .
After g0 < 0, it is always the case that if b0 <= 11 holds and is succeeded by e0 > 0, then h0 <= 0 eventually holds after e0 > 0 .
After c0 < 1, it is always the case that if h0 < 15 holds, then h0 > 5 eventually holds and is succeeded by f0 > 2 .
Globally, it is always the case that f0 < 8 holds.
Before c0 >= 11, it is always the case that if h0 = 9 holds, then d0 > 14 eventually holds and is succeeded by a0 >= 5 .
After b0 = 7, it is always the case that c0 >= 13 holds.
Before g0 <= 2, it is always the case that if g0 >= 11 holds and is succeeded by c0 > 9, then h0 >= 13 eventually holds after c0 > 9 .
Between b0 <= 0 and d0 > 5, it is always the case that if f0 = 4 holds, then e0 = 4 previously held and was preceded by d0 < 5 .
Before c0 > 9, it is always the case that if e0 = 0 holds, then d0 > 5 eventually holds and is succeeded by c0 > 12 .
Before c0 > 4, it is always the case that a0 = 13 holds.
After i0 < 5 until h0 >= 5, it is always the case that d0 > 8 holds.
Before b0 <= 11, f0 = 11 eventually holds.
Before c0 >= 15, it is always the case that if g0 > 12 holds, then g0 > 1 previously held.
Globally, it is always the case that if e0 <= 8 holds, then a0 > 1 eventually holds.
After g0 >= 15, it is always the case that c0 <= 14 holds.
After f0 > 2 until h0 < 7, it is always the case that if c0 = 3 holds, then h0 >= 8 previously held and was preceded by h0 = 10 .
Between h0 < 11 and a0 <= 5, it is always the case that if d0 > 1 holds, then a0 < 5 previously held.
After h0 > 6, it is always the case that if h0 >= 6 holds and is succeeded by i0 <= 0, then e0 < 0 eventually holds after i0 <= 0 .
After c0 = 7, it is always the case that if g0 = 3 holds, then g0 < 11 eventually holds and is succeeded by f0 > 8, where g0 > 12 does not hold between g0 < 11 and f0 > 8 .
Before b0 >= 11, it is always the case that if d0 >= 11 holds and is succeeded by e0 <= 11, then b0 > 2 eventually holds after e0 <= 11 .
After e0 < 7, it is always the case that if d0 >= 11 holds, then a0 <= 9 previously held and was preceded by a0 > 4 .
After f0 >= 15 until c0 >= 2, it is always the case that if c0 >= 5 holds, then f0 = 4 previously held.
Between b0 >= 0 and b0 < 14, it is always the case that if i0 < 10 holds, then c0 = 9 eventually holds and is succeeded by g0 > 7, where c0 <= 11 does not hold between c0 = 9 and g0 > 7 .
Before d0 > 13, it is always the case that if a0 = 8 holds, then f0 > 3 eventually holds and is succeeded by d0 <= 5, where a0 >= 11 does not hold between f0 > 3 and d0 <= 5 .
Globally, it is always the case that if d0 >= 14 holds, then c0 > 15 eventually holds and is succeeded by c0 >= 8 .
Globally, it is always the case that if f0 < 1 holds, then a0 = 6 eventually holds and is succeeded by g0 > 3 .
After c0 <= 5, i0 <= 0 eventually holds.
Globally, it is always the case that if h0 = 10 holds and is succeeded by e0 >= 7, then d0 = 10 eventually holds after e0 >= 7 .
Globally, it is never the case that h0 < 15 holds.
After c0 > 3, it is never the case that e0 < 4 holds.
Globally, d0 >= 3 eventually holds.
After b0 <= 7 until h0 = 11, it is never the case that g0 < 9 holds.
Before b0 < 4, it is never the case that b0 = 2 holds.
Before f0 > 3, it is never the case that d0 = 12 holds.
After b0 >= 5, it is always the case that if b0 > 12 holds, then h0 >= 0 previously held and was preceded by b0 >= 10 .
After d0 > 7 until d0 < 8, e0 >= 14 eventually holds.
After d0 = 13, it is never the case that b0 < 1 holds.
After e0 = 14, it is always the case that if a0 >= 13 holds, then e0 < 12 eventually holds and is succeeded by a0 < 6, where f0 > 9 does not hold between e0 < 12 and a0 < 6 .
Between i0 > 4 and a0 > 12, it is always the case that if e0 >= 15 holds, then a0 > 7 previously held and was preceded by b0 >= 13 .
Before h0 < 0, it is always the case that d0 = 10 holds.
Before h0 = 9, it is always the case that if f0 = 3 holds, then d0 = 7 previously held.
Before h0 = 8, it is always the case that if b0 <= 4 holds, then f0 <= 7 previously held.
After d0 > 14, it is always the case that if a0 >= 13 holds, then d0 <= 15 eventually holds and is succeeded by c0 = 8 .
Between f0 < 13 and h0 < 15, it is always the case that if c0 >= 7 holds, then h0 >= 15 previously held and was preceded by f0 <= 11 .
Before b0 <= 2, it is always the case that if d0 <= 13 holds, then e0 >= 12 previously held.
After a0 = 10 until h0 > 12, it is always the case that if d0 >= 0 holds, then i0 > 9 eventually holds and is succeeded by a0 <= 12, where b0 > 8 does not hold between i0 > 9 and a0 <= 12 .
After i0 < 5 until a0 <= 5, it is always the case that if i0 > 14 holds and is succeeded by c0 < 4, then d0 > 10 eventually holds after c0 < 4 .
After g0 = 15, i0 >= 15 eventually holds.
After a0 >= 14 until i0 <= 12, it is always the case that if f0 < 9 holds, then a0 < 4 previously held and was preceded by h0 <= 2 .
Globally, it is always the case that if e0 < 1 holds, then a0 = 9 previously held and was preceded by b0 = 0 .
After g0 > 7 until c0 > 14, it is always the case that if i0 <= 12 holds, then c0 > 14 previously held and was preceded by a0 > 3 .
Between a0 = 8 and b0 >= 4, it is always the case that if g0 >= 15 holds, then g0 = 15 previously held.
Globally, it is always the case that if i0 = 15 holds, then a0 = 1 eventually holds.
Between g0 > 8 and i0 = 6, it is always the case that if i0 > 9 holds, then b0 < 5 previously held and was preceded by b0 > 0 .
After e0 < 7 until d0 > 15, it is always the case that if h0 <= 2 holds, then c0 <= 3 eventually holds.
Between f0 >= 12 and g0 <= 14, it is always the case that if g0 <= 15 holds, then d0 > 5 eventually holds and is succeeded by c0 <= 11 .
Globally, it is always the case that if c0 = 9 holds and is succeeded by b0 >= 9, then d0 < 3 eventually holds after b0 >= 9 .
Before h0 > 5, it is always the case that if i0 > 1 holds, then d0 >= 8 eventually holds.
After e0 = 1 until e0 < 7, it is never the case that a0 >= 8 holds.
