After b0 = 18, it is always the case that if h1 >= 30 holds, then a2 = 20 previously held.
Between y2 = 29 and s1 > 26, it is always the case that l2 = 5 holds.
Before e1 = 13, it is always the case that if p1 >= 2 holds, then d2 < 12 eventually holds and is succeeded by b0 = 28, where n0 = 28 does not hold between d2 < 12 and b0 = 28 .
Between y0 >= 29 and j2 = 25, it is never the case that r2 <= 19 holds.
After e2 > 31 until z2 > 23, it is always the case that if f1 = 2 holds, then g2 <= 4 eventually holds and is succeeded by n1 < 5, where u1 >= 2 does not hold between g2 <= 4 and n1 < 5 .
Before b1 < 23, it is always the case that a2 < 23 holds.
Before n1 = 11, it is always the case that if a1 <= 1 holds, then m1 >= 8 previously held and was preceded by r0 = 2 .
Between v1 = 7 and v0 <= 22, it is always the case that f1 = 11 holds.
Globally, it is always the case that if z2 >= 19 holds, then f0 > 15 previously held.
Before t1 >= 10, it is always the case that if g1 <= 10 holds and is succeeded by i2 = 27, then d0 < 13 eventually holds after i2 = 27 .
Between m1 >= 7 and j2 >= 4, it is always the case that if x0 >= 14 holds, then y0 <= 11 previously held and was preceded by v1 > 15 .
Between p1 <= 23 and q1 = 20, a1 < 18 eventually holds.
After a1 <= 9 until y0 < 21, it is always the case that if w0 <= 15 holds, then t0 < 5 eventually holds and is succeeded by k0 = 31 .
Between q1 > 13 and h2 < 22, it is always the case that if w2 > 24 holds and is succeeded by s2 >= 13, then i0 = 7 eventually holds after s2 >= 13 .
After n1 > 12 until l2 > 11, k1 = 30 eventually holds.
Globally, it is always the case that if p2 > 18 holds, then z1 = 7 previously held and was preceded by j2 <= 24 .
After n2 = 0, it is always the case that if c2 > 16 holds and is succeeded by r0 <= 8, then z1 >= 6 previously held.
Before e2 > 15, it is always the case that if a0 <= 29 holds, then q2 >= 22 eventually holds and is succeeded by a1 < 9 .
After z0 = 15, it is always the case that if w1 = 7 holds and is succeeded by v0 <= 5, then v0 >= 6 previously held.
Before g2 >= 11, it is always the case that p1 = 15 holds.
Between i0 <= 15 and m2 > 3, it is always the case that if y2 < 31 holds, then k1 = 28 previously held.
Globally, it is always the case that if h2 >= 22 holds, then d1 = 17 eventually holds.
After l2 > 16 until d1 < 15, it is always the case that if h2 = 15 holds and is succeeded by k2 <= 27, then a0 = 15 previously held.
Before z2 > 29, it is always the case that if r2 = 7 holds, then b1 > 27 previously held and was preceded by d2 = 5 .
After i0 > 13 until j1 > 12, y2 >= 26 eventually holds.
Between s2 > 18 and d1 >= 30, it is never the case that v2 = 31 holds.
Globally, it is always the case that if v0 <= 11 holds and is succeeded by j2 < 13, then n0 <= 23 eventually holds after j2 < 13 .
Globally, it is never the case that s0 >= 7 holds.
After y2 < 15, it is always the case that if m2 = 2 holds, then z1 <= 26 previously held and was preceded by a3 >= 16 .
After c0 = 17, it is always the case that if d1 > 5 holds, then y2 <= 20 eventually holds and is succeeded by f2 < 0 .
Globally, it is always the case that if j1 = 21 holds, then b2 = 9 eventually holds.
After h2 > 3 until e1 < 26, l1 <= 10 eventually holds.
Between y2 <= 0 and n0 <= 25, it is always the case that i1 <= 4 holds.
After c1 > 1 until v0 >= 9, it is always the case that if t2 < 8 holds, then s2 < 26 previously held and was preceded by v2 < 16 .
After u1 < 1, it is always the case that if z0 > 3 holds, then f0 <= 26 eventually holds and is succeeded by s2 < 2 .
After r1 >= 26, it is always the case that if w2 >= 9 holds, then m2 <= 11 eventually holds and is succeeded by d1 < 31 .
Before u1 < 18, it is never the case that y1 < 25 holds.
After e2 < 16, it is always the case that if e2 <= 12 holds, then a0 < 29 eventually holds and is succeeded by a1 >= 14 .
After a3 < 20 until b1 < 14, it is always the case that if i0 > 20 holds, then i0 >= 16 previously held and was preceded by q1 <= 19 .
Globally, it is always the case that if w1 = 7 holds, then w2 < 13 previously held.
Between x1 < 30 and n2 > 20, it is always the case that if i2 = 9 holds, then j1 <= 18 eventually holds.
After g1 >= 19 until e1 = 27, it is always the case that if e1 < 14 holds, then w2 >= 1 eventually holds and is succeeded by m0 > 19 .
Globally, r0 < 29 eventually holds.
After x2 >= 13, it is always the case that if p0 < 18 holds, then j2 < 9 eventually holds.
After g1 <= 23, it is always the case that if r1 <= 15 holds, then y2 >= 22 eventually holds and is succeeded by p1 < 21 .
After z0 < 7 until i1 = 21, it is always the case that if h0 <= 4 holds, then r1 < 20 previously held.
Between g0 >= 3 and q1 < 17, it is always the case that d1 >= 11 holds.
After c2 = 1 until a1 < 12, it is always the case that if v0 > 9 holds, then g1 < 7 eventually holds and is succeeded by i1 < 28 .
Globally, it is always the case that if d0 = 30 holds and is succeeded by s1 > 4, then p1 > 6 previously held.
Between e2 = 22 and c1 <= 13, it is always the case that if b0 >= 28 holds, then n1 >= 17 previously held and was preceded by j1 > 6 .
Before v2 <= 15, it is always the case that if u2 = 13 holds, then o1 >= 11 eventually holds and is succeeded by p2 = 5, where v2 >= 2 does not hold between o1 >= 11 and p2 = 5 .
After t2 <= 16 until v2 > 30, it is always the case that if s2 < 5 holds, then q0 > 9 eventually holds and is succeeded by o2 = 17, where o1 <= 23 does not hold between q0 > 9 and o2 = 17 .
After i2 < 8, it is never the case that v1 >= 9 holds.
After c1 = 23, it is always the case that if y1 = 19 holds, then r0 = 18 eventually holds.
Between f2 = 17 and l2 < 0, it is always the case that if e0 >= 30 holds and is succeeded by c1 < 31, then c2 < 7 previously held.
After e0 <= 31, it is always the case that if h1 < 5 holds and is succeeded by v1 >= 24, then l0 >= 9 previously held.
Before p1 <= 18, it is always the case that if k1 >= 27 holds, then w0 <= 28 eventually holds and is succeeded by a3 < 0, where j2 >= 10 does not hold between w0 <= 28 and a3 < 0 .
After r0 < 3, it is always the case that if o0 < 17 holds, then l1 = 11 previously held and was preceded by s1 = 10 .
After e1 > 29 until z2 >= 24, it is always the case that if v1 > 9 holds, then o0 = 10 eventually holds and is succeeded by x1 = 12 .
After w2 < 1 until n2 = 1, it is always the case that if l2 > 23 holds, then z0 <= 13 eventually holds and is succeeded by o0 < 25 .
Globally, it is always the case that if t2 < 16 holds and is succeeded by w1 > 23, then d2 < 27 eventually holds after w1 > 23 .
Globally, it is always the case that if q2 >= 6 holds, then i1 < 22 eventually holds and is succeeded by q2 = 0 .
After u2 >= 7, it is always the case that if y0 <= 27 holds and is succeeded by c0 = 8, then l2 > 2 previously held.
Before t1 = 16, it is always the case that if j1 > 16 holds, then x1 > 1 eventually holds and is succeeded by x2 >= 16 .
After c2 > 15, it is always the case that if v1 >= 0 holds, then y2 >= 20 eventually holds.
Between m0 = 1 and d2 > 3, it is always the case that if u2 > 14 holds and is succeeded by o2 <= 30, then p0 <= 3 previously held.
Before i0 >= 20, it is always the case that if i2 = 29 holds, then u0 <= 10 eventually holds.
Between y2 >= 2 and c2 < 9, it is always the case that if m1 < 15 holds and is succeeded by c2 >= 22, then t2 <= 16 eventually holds after c2 >= 22 .
After c0 < 22, it is always the case that if e1 > 6 holds and is succeeded by z1 = 31, then w1 <= 13 eventually holds after z1 = 31 .
After u2 > 11 until v0 >= 24, it is always the case that if x1 = 12 holds and is succeeded by o1 <= 9, then q1 >= 13 eventually holds after o1 <= 9 .
After y0 > 9, it is always the case that if l1 <= 23 holds and is succeeded by e1 <= 1, then z2 < 13 eventually holds after e1 <= 1 .
Between r2 < 5 and t1 = 17, it is always the case that if y2 < 11 holds, then a3 > 26 eventually holds and is succeeded by g1 > 13 .
Between z0 <= 13 and o0 >= 22, it is always the case that if t2 = 1 holds, then n1 <= 28 eventually holds and is succeeded by b1 <= 4 .
Globally, it is always the case that if z0 >= 12 holds, then s2 >= 21 previously held.
After p0 > 12 until k0 >= 21, e2 >= 20 eventually holds.
Globally, it is always the case that if r2 >= 15 holds and is succeeded by u1 < 22, then u2 >= 3 previously held.
After m2 > 29, it is never the case that d1 > 6 holds.
Before b2 <= 9, it is always the case that if p1 > 29 holds and is succeeded by p2 = 17, then n0 = 19 previously held.
Globally, it is always the case that if l1 >= 18 holds, then n0 > 6 eventually holds and is succeeded by p2 >= 24, where c0 >= 7 does not hold between n0 > 6 and p2 >= 24 .
Before y0 > 16, it is always the case that if o2 = 21 holds and is succeeded by b0 >= 25, then j2 < 12 eventually holds after b0 >= 25 .
After q1 > 11, it is never the case that y2 < 9 holds.
After p1 <= 15 until x2 <= 14, it is always the case that if z0 > 28 holds and is succeeded by s1 < 17, then n0 >= 30 eventually holds after s1 < 17 .
Globally, it is always the case that s2 <= 7 holds.
Globally, f0 >= 0 eventually holds.
After a1 = 6 until p1 >= 15, it is never the case that e0 < 11 holds.
Globally, it is always the case that if u1 <= 4 holds and is succeeded by c2 < 26, then n2 <= 29 previously held.
Before t2 = 23, it is never the case that b1 > 11 holds.
After v2 < 9 until e1 = 16, it is always the case that if d0 >= 16 holds, then u2 >= 31 previously held and was preceded by f2 < 27 .
Between v1 = 5 and i1 > 24, it is never the case that y1 > 25 holds.
After n0 >= 27, it is always the case that if d1 > 13 holds, then l0 > 20 previously held.
Between d1 < 5 and y1 > 27, m0 < 14 eventually holds.
Between d2 <= 7 and p1 = 0, it is always the case that if b1 >= 17 holds, then r0 = 26 previously held.
Globally, it is always the case that v0 = 24 holds.
After l2 <= 26 until l1 = 29, it is always the case that if n0 <= 13 holds, then v0 < 8 eventually holds and is succeeded by p1 >= 24 .
After d0 > 7 until e1 >= 5, it is never the case that t1 = 31 holds.
Between s1 < 8 and c1 <= 20, it is always the case that if p2 > 14 holds, then d2 >= 8 eventually holds.
Between x0 < 18 and x1 > 16, it is always the case that if s2 > 26 holds, then g2 >= 12 eventually holds and is succeeded by i0 = 16, where d2 < 25 does not hold between g2 >= 12 and i0 = 16 .
After x1 <= 24 until v0 = 25, it is never the case that d1 > 18 holds.
Globally, it is always the case that if h2 >= 18 holds and is succeeded by c0 = 17, then e1 <= 17 previously held.
After p2 > 4, r1 < 0 eventually holds.
After d2 >= 12, it is always the case that r2 < 12 holds.
Globally, it is always the case that if m0 = 4 holds, then k2 = 18 previously held.
After q2 > 8 until a1 < 25, it is always the case that if h0 < 14 holds and is succeeded by g0 > 14, then e2 <= 7 eventually holds after g0 > 14 .
Between s2 = 2 and d1 = 4, it is always the case that if p0 >= 10 holds, then x0 < 19 previously held.
After w0 = 16, it is always the case that if v0 < 20 holds, then w0 <= 26 previously held.
Before j2 <= 15, it is always the case that if x0 <= 17 holds, then o2 = 21 previously held.
Globally, it is always the case that if c2 >= 14 holds and is succeeded by u1 > 25, then f2 = 1 eventually holds after u1 > 25 .
After m1 >= 13, t2 = 24 eventually holds.
After k1 < 28, it is always the case that if p1 > 2 holds, then s2 = 8 eventually holds and is succeeded by v1 >= 6 .
After a2 < 13 until r2 = 13, it is never the case that c2 < 26 holds.
After z0 = 25 until u0 = 10, it is always the case that if i1 < 8 holds, then f2 < 14 eventually holds and is succeeded by s1 > 16 .
Before p2 <= 2, it is always the case that if t1 >= 10 holds, then r1 <= 10 eventually holds and is succeeded by d2 > 25, where i2 = 6 does not hold between r1 <= 10 and d2 > 25 .
After k0 >= 26, it is always the case that if v2 < 28 holds, then b2 > 28 previously held and was preceded by d1 = 25 .
Between h2 > 18 and r2 < 13, it is always the case that if n1 = 1 holds and is succeeded by m0 > 16, then x1 < 19 eventually holds after m0 > 16 .
Between t0 = 11 and f1 = 9, it is always the case that if i0 < 10 holds, then q0 < 26 eventually holds and is succeeded by o2 = 28, where p0 < 26 does not hold between q0 < 26 and o2 = 28 .
After f0 >= 13 until x0 = 18, it is always the case that k0 <= 1 holds.
After u0 > 22 until y1 > 10, it is always the case that if t1 > 26 holds, then a1 < 20 previously held.
Between w0 >= 22 and g2 <= 14, it is always the case that if c2 = 15 holds, then p2 >= 15 eventually holds.
Between y0 <= 20 and y0 >= 9, it is always the case that if e1 <= 28 holds, then p0 < 2 eventually holds and is succeeded by r0 >= 4, where r2 < 18 does not hold between p0 < 2 and r0 >= 4 .
Globally, it is never the case that p1 >= 5 holds.
Before o0 < 16, it is always the case that if a3 = 7 holds and is succeeded by z1 = 5, then k0 <= 1 previously held.
Before z1 <= 24, it is never the case that u0 <= 5 holds.
Between p0 > 0 and t0 = 22, it is never the case that a3 > 4 holds.
Before q0 >= 27, it is always the case that if p0 < 19 holds, then x2 < 6 eventually holds and is succeeded by t2 <= 4, where n2 < 4 does not hold between x2 < 6 and t2 <= 4 .
After w2 < 21 until i1 < 16, it is always the case that if j2 > 30 holds, then o1 < 2 eventually holds and is succeeded by a3 >= 21 .
Globally, it is always the case that if a3 <= 23 holds and is succeeded by a1 = 16, then q2 < 23 previously held.
Between e2 <= 12 and x2 > 3, it is always the case that if r2 < 20 holds and is succeeded by s0 >= 21, then g1 <= 25 previously held.
After t0 < 11 until v1 = 23, it is always the case that if c1 <= 10 holds, then q1 >= 19 eventually holds and is succeeded by m1 > 8, where s2 > 20 does not hold between q1 >= 19 and m1 > 8 .
Between k1 < 0 and h1 < 29, it is never the case that a2 > 1 holds.
Before z2 >= 25, it is always the case that if x2 = 30 holds, then k0 = 25 eventually holds and is succeeded by g2 > 9 .
Before z0 = 29, it is always the case that if v1 < 15 holds and is succeeded by u1 = 4, then h0 > 22 eventually holds after u1 = 4 .
After j0 > 1, it is always the case that if o1 <= 15 holds, then l1 > 5 eventually holds.
Before p1 >= 30, it is never the case that n2 <= 11 holds.
Between j2 = 8 and h0 > 12, it is always the case that j0 < 29 holds.
Between b2 < 12 and n2 = 24, it is always the case that if p1 = 0 holds, then h0 > 19 previously held and was preceded by c1 = 27 .
After r0 < 14 until w1 = 16, it is always the case that e0 <= 10 holds.
After n0 >= 12 until k2 >= 9, it is always the case that if w0 <= 26 holds and is succeeded by f2 > 15, then r2 > 10 previously held.
Between c1 >= 30 and e0 > 5, it is always the case that if x0 <= 25 holds and is succeeded by h0 <= 1, then w2 > 16 eventually holds after h0 <= 1 .
Globally, it is always the case that if f0 >= 11 holds, then k0 < 4 previously held and was preceded by j0 = 0 .
Before u2 < 4, it is always the case that if r0 >= 7 holds, then j0 < 18 eventually holds and is succeeded by m1 < 8, where p0 = 19 does not hold between j0 < 18 and m1 < 8 .
Before x0 > 29, it is always the case that if p1 = 21 holds, then w0 = 19 previously held.
After k2 >= 30, it is always the case that if r2 > 8 holds, then v0 >= 16 eventually holds and is succeeded by k2 > 0 .
After s2 >= 31 until c2 >= 25, it is always the case that if r2 < 13 holds and is succeeded by q0 <= 1, then c2 <= 31 previously held.
After k2 <= 21, it is always the case that if o0 > 8 holds, then v2 < 9 eventually holds.
Between p1 > 6 and c1 = 26, it is always the case that if i2 = 13 holds and is succeeded by y0 < 20, then v2 > 23 previously held.
After m2 < 18, it is always the case that if n2 < 12 holds, then l0 >= 14 eventually holds and is succeeded by w0 <= 1 .
Before a1 <= 18, it is always the case that if u2 > 29 holds, then c1 = 20 eventually holds and is succeeded by p0 = 2, where u0 = 31 does not hold between c1 = 20 and p0 = 2 .
Globally, it is always the case that l0 <= 20 holds.
Between i1 = 12 and z2 < 12, it is always the case that if e1 = 16 holds and is succeeded by s1 < 26, then d0 <= 5 previously held.
Between v2 = 30 and x0 = 2, it is never the case that a0 < 29 holds.
Globally, it is always the case that if f2 < 5 holds, then p0 < 15 eventually holds and is succeeded by a1 > 17, where g2 = 22 does not hold between p0 < 15 and a1 > 17 .
Before z1 > 4, it is always the case that if x0 >= 9 holds, then e1 <= 19 eventually holds and is succeeded by m1 = 21 .
After g0 > 16, it is always the case that if o2 = 9 holds, then q0 < 27 previously held.
Before t0 <= 9, it is always the case that if p2 > 21 holds, then t1 > 23 eventually holds and is succeeded by v1 = 21 .
Globally, it is always the case that if g1 < 9 holds and is succeeded by o0 > 0, then t0 < 21 previously held.
After s0 > 2 until z2 >= 12, it is always the case that if g0 < 5 holds and is succeeded by x2 = 11, then j0 = 5 eventually holds after x2 = 11 .
Between h2 > 27 and f1 >= 24, it is always the case that if k0 < 15 holds and is succeeded by k2 = 7, then j2 >= 6 eventually holds after k2 = 7 .
After s2 < 31 until d1 >= 20, it is always the case that j0 > 24 holds.
Between c0 = 1 and a1 <= 31, it is always the case that if z2 = 30 holds and is succeeded by j1 >= 18, then m2 <= 15 eventually holds after j1 >= 18 .
Between u0 = 11 and j1 = 2, it is always the case that if v0 = 21 holds and is succeeded by k0 = 18, then v2 > 18 previously held.
Before r1 > 20, it is always the case that if s0 = 29 holds, then p1 > 19 previously held and was preceded by d1 = 11 .
Between c2 = 31 and s1 <= 6, it is always the case that if v2 = 7 holds and is succeeded by g0 = 3, then z1 >= 30 eventually holds after g0 = 3 .
Between d1 <= 11 and p0 = 6, it is always the case that c1 <= 28 holds.
After y0 >= 29, it is always the case that if t1 <= 13 holds, then r2 = 2 previously held and was preceded by r0 < 12 .
After o1 < 26 until w2 = 6, it is always the case that if x2 <= 7 holds, then g2 < 27 eventually holds and is succeeded by r2 < 16, where m2 < 26 does not hold between g2 < 27 and r2 < 16 .
After h1 <= 31 until p1 = 13, it is always the case that if x0 <= 28 holds, then f1 < 5 eventually holds.
After b2 > 15 until j1 > 2, it is always the case that p0 <= 15 holds.
Globally, s2 >= 20 eventually holds.
Between a2 <= 23 and n2 > 18, it is always the case that if o2 = 21 holds, then p2 <= 22 previously held.
After q2 < 25, it is always the case that if q1 = 27 holds, then c1 = 27 eventually holds and is succeeded by z1 = 23, where h1 < 20 does not hold between c1 = 27 and z1 = 23 .
Between p0 < 23 and j1 > 28, it is always the case that if t0 > 15 holds, then v0 < 11 eventually holds and is succeeded by w2 = 17, where y2 >= 14 does not hold between v0 < 11 and w2 = 17 .
After n1 > 14, it is always the case that q0 >= 10 holds.
After j1 = 15 until f0 < 3, it is always the case that if c0 = 11 holds, then w0 <= 5 eventually holds and is succeeded by f2 = 18, where m0 > 10 does not hold between w0 <= 5 and f2 = 18 .
Globally, e1 >= 10 eventually holds.
After n2 >= 13 until p2 >= 26, it is always the case that q0 < 24 holds.
Between v2 > 10 and e2 = 30, it is always the case that if h0 > 9 holds and is succeeded by w0 > 19, then f0 = 18 previously held.
Globally, n2 <= 9 eventually holds.
Globally, it is always the case that s2 > 20 holds.
Before c2 > 24, it is always the case that if p0 = 21 holds, then q2 >= 25 previously held.
Before i2 > 10, it is always the case that if w2 <= 28 holds, then q0 >= 12 eventually holds and is succeeded by v2 <= 6, where w1 < 22 does not hold between q0 >= 12 and v2 <= 6 .
Between d2 < 4 and o2 >= 10, it is always the case that if e0 > 20 holds and is succeeded by e2 < 8, then x2 >= 27 eventually holds after e2 < 8 .
After t2 <= 18, it is always the case that if e1 >= 9 holds and is succeeded by j2 < 12, then m2 >= 8 eventually holds after j2 < 12 .
After z0 = 21 until g0 > 19, it is always the case that if t0 >= 15 holds, then e1 > 8 eventually holds.
After i1 >= 7, it is always the case that if o2 < 11 holds, then s0 > 7 previously held.
After c2 = 22, it is always the case that if j2 >= 15 holds and is succeeded by a3 = 13, then k0 < 7 eventually holds after a3 = 13 .
Between x2 <= 31 and f1 >= 30, it is always the case that if a3 >= 17 holds, then d0 <= 26 previously held and was preceded by t1 = 30 .
After x1 <= 21 until b1 <= 11, it is always the case that if o1 > 30 holds, then q2 <= 12 eventually holds.
After w2 <= 23, it is always the case that if m2 < 16 holds and is succeeded by f0 > 0, then q0 = 22 previously held.
After p1 >= 5, it is always the case that if x2 = 24 holds, then d2 <= 8 previously held.
Between c2 <= 30 and j1 <= 28, it is always the case that if f2 = 7 holds, then p1 > 26 eventually holds and is succeeded by y2 < 2 .
After x0 > 7 until w2 < 5, it is always the case that if n2 < 30 holds and is succeeded by y1 = 10, then f0 > 4 eventually holds after y1 = 10 .
Between q0 > 25 and q1 > 7, it is always the case that if r2 <= 16 holds, then e0 > 16 eventually holds and is succeeded by q1 = 13, where o1 < 26 does not hold between e0 > 16 and q1 = 13 .
Before z2 = 11, it is always the case that z2 > 23 holds.
After y1 <= 27 until w2 = 27, u1 < 25 eventually holds.
Before u2 < 4, it is always the case that if e2 < 13 holds, then z1 >= 4 eventually holds.
After c0 <= 9 until i1 > 0, p2 < 16 eventually holds.
Before j0 > 25, it is always the case that if b2 <= 11 holds and is succeeded by b0 = 1, then u1 <= 8 previously held.
After b1 >= 0, it is always the case that if o0 = 15 holds, then z1 >= 21 previously held.
Globally, it is always the case that if j1 = 3 holds, then j1 < 1 eventually holds and is succeeded by q1 <= 7, where c0 = 26 does not hold between j1 < 1 and q1 <= 7 .
Before e2 <= 8, it is always the case that if r0 < 20 holds and is succeeded by p1 < 14, then k0 = 4 eventually holds after p1 < 14 .
After x0 < 26, it is always the case that if n1 <= 3 holds, then j0 = 26 previously held.
After g2 >= 7, it is always the case that if x1 <= 16 holds, then z2 < 20 eventually holds and is succeeded by r0 > 28, where s1 >= 19 does not hold between z2 < 20 and r0 > 28 .
Globally, it is always the case that m2 < 16 holds.
After o0 >= 17 until r0 >= 20, it is never the case that b0 = 29 holds.
Before q0 = 9, it is always the case that if a2 >= 14 holds and is succeeded by r0 < 0, then r1 < 9 previously held.
Globally, it is always the case that if f0 >= 14 holds, then e0 > 25 eventually holds.
After o1 <= 15, it is always the case that if o0 > 8 holds, then z2 = 23 eventually holds and is succeeded by t2 >= 25, where j2 = 10 does not hold between z2 = 23 and t2 >= 25 .
Before o0 = 25, it is always the case that if q2 = 3 holds, then x0 > 21 previously held and was preceded by p1 <= 30 .
Between l2 = 2 and y1 < 0, it is always the case that if s2 <= 26 holds, then s1 >= 15 eventually holds and is succeeded by a2 < 30 .
Globally, it is never the case that f2 > 26 holds.
After m0 > 27, h2 > 20 eventually holds.
Before t2 > 10, d2 >= 7 eventually holds.
After o0 < 31 until r0 = 13, it is never the case that k1 = 28 holds.
Globally, x0 <= 28 eventually holds.
After p0 < 23 until e0 > 28, q2 <= 7 eventually holds.
Between c2 >= 17 and j2 < 21, it is always the case that if n1 < 22 holds, then l0 = 29 eventually holds.
After g2 < 3 until k1 <= 30, it is always the case that if a0 <= 5 holds and is succeeded by u1 > 10, then a3 = 17 eventually holds after u1 > 10 .
Globally, it is always the case that if o2 = 31 holds, then r1 >= 29 eventually holds and is succeeded by a2 = 19 .
Before m1 > 19, it is always the case that if v0 > 17 holds and is succeeded by i0 > 25, then a3 <= 24 eventually holds after i0 > 25 .
After b0 >= 24, it is always the case that if b1 <= 19 holds, then g0 = 6 eventually holds and is succeeded by b0 <= 21, where o1 >= 24 does not hold between g0 = 6 and b0 <= 21 .
Before i0 <= 18, it is always the case that if h2 = 21 holds and is succeeded by o1 < 22, then s1 <= 11 eventually holds after o1 < 22 .
Between y1 >= 20 and z0 >= 28, it is never the case that b2 <= 6 holds.
After h2 = 15 until s1 = 9, a0 > 10 eventually holds.
Between u2 = 17 and h0 >= 1, it is always the case that k2 = 16 holds.
After t1 > 1, it is always the case that if l2 < 9 holds, then a0 <= 28 eventually holds and is succeeded by x2 < 16 .
Between z0 >= 4 and j1 > 1, it is always the case that if o1 < 25 holds, then v2 > 17 previously held and was preceded by t2 > 13 .
Before e2 <= 4, it is always the case that if y1 < 11 holds, then o1 < 27 previously held and was preceded by g2 = 27 .
Before r1 < 24, it is always the case that if o2 <= 28 holds, then m0 > 19 eventually holds.
Globally, o0 = 21 eventually holds.
Before m0 = 26, it is always the case that if l0 < 23 holds and is succeeded by r1 > 14, then c0 > 16 eventually holds after r1 > 14 .
Between v1 >= 21 and c2 > 4, it is always the case that if y1 > 21 holds and is succeeded by y0 >= 9, then u1 < 2 previously held.
After f1 > 25 until f2 >= 15, it is always the case that if q2 <= 25 holds and is succeeded by q1 >= 9, then p0 > 6 previously held.
Globally, it is always the case that if f0 < 15 holds and is succeeded by a0 > 6, then t2 >= 18 previously held.
Before d1 = 13, it is never the case that q2 <= 8 holds.
Globally, it is always the case that if v1 = 30 holds, then x2 = 22 previously held and was preceded by d0 > 10 .
After u2 <= 15, it is always the case that if u0 >= 5 holds and is succeeded by n0 < 15, then c1 > 14 eventually holds after n0 < 15 .
Globally, it is always the case that if k0 = 5 holds, then j1 <= 3 previously held and was preceded by s2 >= 18 .
Before a2 >= 5, it is never the case that r1 > 17 holds.
Globally, n2 > 21 eventually holds.
After u0 = 2 until p0 <= 20, it is always the case that if b1 <= 9 holds, then u2 = 18 previously held.
