Globally, it is always the case that if t0 >= 6 holds, then y0 = 6 previously held.
Between v1 > 4 and x1 > 9, it is always the case that if w1 > 4 holds and is succeeded by b1 >= 1, then y0 >= 10 eventually holds after b1 >= 1 .
Between a3 = 1 and o1 < 14, it is never the case that f1 <= 10 holds.
Between v1 < 0 and y1 > 4, it is always the case that if n0 < 3 holds and is succeeded by s0 < 4, then y1 < 9 previously held.
Between s0 <= 2 and u1 < 14, it is always the case that if c0 <= 10 holds, then f0 <= 8 eventually holds.
Between b0 >= 13 and o1 <= 8, it is always the case that if h0 > 15 holds and is succeeded by z2 < 13, then f0 = 1 previously held.
After a3 >= 11 until k0 >= 14, it is always the case that if c0 > 15 holds, then z0 > 10 eventually holds and is succeeded by u2 <= 11, where k2 <= 7 does not hold between z0 > 10 and u2 <= 11 .
Globally, it is always the case that r2 = 3 holds.
Globally, it is always the case that if b0 > 1 holds, then m1 = 4 eventually holds and is succeeded by m0 < 0 .
After v0 = 11, it is never the case that f0 >= 1 holds.
Before b0 < 6, it is always the case that if r1 > 3 holds, then z2 = 4 previously held and was preceded by y0 > 13 .
After r0 <= 3, it is always the case that if p0 <= 5 holds, then j0 <= 3 eventually holds and is succeeded by x2 <= 7 .
Globally, it is always the case that if i1 < 14 holds, then m0 <= 1 eventually holds.
After l1 > 15 until a0 = 14, it is never the case that j1 = 1 holds.
After v2 < 4 until a3 <= 11, it is always the case that if e0 > 0 holds, then n2 = 13 previously held.
After t0 >= 8 until y1 <= 15, n2 >= 11 eventually holds.
After p2 = 0 until l0 = 5, it is always the case that if a2 > 6 holds, then k2 <= 4 eventually holds.
Globally, it is always the case that if s0 = 14 holds, then g2 >= 11 previously held.
Between m0 <= 0 and r0 < 6, it is always the case that if s2 < 2 holds, then j0 < 6 eventually holds and is succeeded by d0 < 2 .
After f2 > 10, it is always the case that if v1 = 15 holds and is succeeded by h1 <= 7, then q1 >= 10 previously held.
Between w2 = 9 and e1 = 4, it is always the case that if c0 = 14 holds and is succeeded by z2 <= 9, then x1 <= 3 eventually holds after z2 <= 9 .
After z1 >= 13 until d2 = 14, it is never the case that t1 >= 8 holds.
Between z0 >= 15 and q2 < 14, j0 = 9 eventually holds.
Before g0 = 1, it is always the case that if o0 = 0 holds, then s2 = 10 previously held.
After b2 > 5, it is always the case that if y1 > 10 holds, then q2 = 4 previously held.
Globally, it is always the case that q0 < 3 holds.
Between p2 = 9 and s1 > 9, it is always the case that if d0 = 7 holds, then q1 > 12 eventually holds and is succeeded by w1 >= 15, where m0 > 11 does not hold between q1 > 12 and w1 >= 15 .
Between w1 >= 2 and o1 > 0, f1 >= 14 eventually holds.
After n2 > 10, it is always the case that if s2 > 12 holds, then w0 <= 5 previously held.
Between r1 > 14 and s0 = 4, it is always the case that o0 = 3 holds.
Globally, it is always the case that if e2 < 14 holds, then k2 <= 6 previously held and was preceded by q0 < 14 .
Globally, it is always the case that if s2 > 14 holds and is succeeded by q0 >= 0, then k2 >= 2 previously held.
Before q1 > 9, it is always the case that if v1 <= 13 holds, then q1 >= 0 eventually holds and is succeeded by t1 <= 7, where r2 < 14 does not hold between q1 >= 0 and t1 <= 7 .
After b2 < 10 until z0 < 11, l0 = 1 eventually holds.
Before b2 >= 0, it is always the case that if t1 <= 10 holds and is succeeded by n1 < 13, then o2 > 0 previously held.
After x2 <= 0, it is always the case that if g1 >= 15 holds, then q1 = 1 eventually holds and is succeeded by x2 > 2 .
After p1 <= 11 until y2 > 12, it is always the case that if x0 > 8 holds, then p0 < 14 eventually holds and is succeeded by p1 = 7 .
Between q0 < 11 and y1 < 15, it is never the case that u2 < 13 holds.
After o2 >= 12 until j0 = 13, it is always the case that if y2 > 15 holds and is succeeded by v0 = 1, then t0 > 11 previously held.
Between t0 > 11 and j1 = 13, it is always the case that if k2 <= 14 holds, then u2 < 9 eventually holds.
After z1 >= 6 until c1 > 12, it is always the case that v0 >= 8 holds.
Before e0 < 0, it is always the case that if j2 <= 10 holds, then j1 < 9 eventually holds and is succeeded by w0 <= 0 .
Between r1 = 0 and y0 = 6, it is always the case that t0 >= 14 holds.
Between o0 = 3 and s1 < 1, it is always the case that d2 <= 11 holds.
Globally, it is always the case that i0 > 11 holds.
After a1 <= 0 until y2 >= 14, it is always the case that if k1 <= 10 holds and is succeeded by u0 <= 1, then s1 > 15 previously held.
After t1 <= 8 until u0 < 8, it is always the case that if a2 = 4 holds, then c1 > 2 eventually holds and is succeeded by f1 = 13 .
After z0 > 6, q2 >= 14 eventually holds.
Between u1 = 13 and f0 > 1, it is always the case that if v0 = 11 holds, then i0 >= 5 previously held.
Between t1 <= 1 and b0 <= 3, it is always the case that if q2 >= 1 holds, then f1 <= 11 eventually holds.
Before n2 <= 12, it is always the case that if h1 > 6 holds, then q0 > 3 previously held and was preceded by a2 > 5 .
Between v1 >= 2 and g2 = 12, it is always the case that if x2 < 7 holds, then y0 <= 4 previously held and was preceded by a0 >= 4 .
Between n1 >= 2 and j2 < 12, it is always the case that if k2 <= 15 holds, then o1 = 2 previously held and was preceded by y0 = 6 .
Between z2 <= 0 and a3 = 0, it is always the case that if t1 <= 15 holds and is succeeded by y0 >= 3, then m2 < 12 previously held.
Before y0 <= 13, it is always the case that if x2 <= 8 holds, then q2 <= 11 previously held.
After f2 <= 4 until q0 > 2, it is always the case that if o0 > 2 holds and is succeeded by h0 = 0, then p0 <= 6 eventually holds after h0 = 0 .
Between i1 > 12 and a3 < 6, it is always the case that if l2 <= 3 holds, then z0 >= 7 previously held and was preceded by s0 < 4 .
After a1 = 11 until x1 < 3, it is always the case that if h2 <= 6 holds, then p0 >= 2 eventually holds.
After p1 <= 14, it is always the case that if a1 >= 10 holds and is succeeded by d0 = 14, then k2 > 0 eventually holds after d0 = 14 .
Before x1 = 2, j2 >= 1 eventually holds.
After y2 >= 13, it is always the case that m0 = 13 holds.
Globally, g0 = 8 eventually holds.
After m0 > 0, it is never the case that x0 <= 7 holds.
Globally, it is always the case that if t1 >= 3 holds, then v0 >= 15 previously held and was preceded by g2 < 4 .
Between l1 = 5 and u0 > 0, it is always the case that m0 <= 14 holds.
Before x1 < 3, it is always the case that if i0 >= 1 holds and is succeeded by w1 <= 12, then p2 < 15 previously held.
Before b0 < 13, r0 >= 2 eventually holds.
Between m0 < 9 and q0 <= 6, u1 > 5 eventually holds.
Before y0 <= 8, it is always the case that if s1 = 8 holds, then d2 < 9 eventually holds and is succeeded by y0 >= 1 .
After g1 <= 10, it is always the case that l2 >= 15 holds.
After b2 < 7, it is always the case that m2 >= 11 holds.
Before y1 >= 9, q2 < 9 eventually holds.
After a2 = 2, it is always the case that if a1 < 1 holds and is succeeded by h0 >= 12, then h1 <= 12 eventually holds after h0 >= 12 .
Globally, b2 < 7 eventually holds.
After m2 <= 1, it is always the case that if i2 = 14 holds, then e1 > 0 eventually holds and is succeeded by y1 = 10, where u1 <= 15 does not hold between e1 > 0 and y1 = 10 .
After s2 > 12, it is always the case that if o0 <= 7 holds, then g2 < 12 previously held and was preceded by h2 = 15 .
Globally, it is always the case that if z1 <= 1 holds and is succeeded by c1 >= 3, then b2 > 9 eventually holds after c1 >= 3 .
After w0 <= 0 until m0 <= 0, it is always the case that d1 < 6 holds.
Before w2 = 15, it is always the case that if f0 = 3 holds, then s1 > 2 previously held.
Before c1 > 14, it is always the case that if t2 = 2 holds and is succeeded by y0 >= 2, then o1 < 7 eventually holds after y0 >= 2 .
Globally, it is always the case that if w0 > 15 holds, then b0 < 3 previously held.
Globally, it is always the case that if k1 <= 2 holds, then w0 < 12 eventually holds and is succeeded by v1 > 14, where h2 > 0 does not hold between w0 < 12 and v1 > 14 .
After x2 = 11, it is always the case that if h2 <= 3 holds and is succeeded by j2 > 12, then p2 > 7 previously held.
After n2 < 12, it is always the case that if c0 >= 5 holds, then w2 >= 7 eventually holds.
Globally, it is always the case that if q1 > 13 holds, then b1 < 3 eventually holds.
Before e0 > 6, it is always the case that if w0 <= 1 holds, then w1 >= 10 eventually holds and is succeeded by n2 <= 10, where d1 > 2 does not hold between w1 >= 10 and n2 <= 10 .
Between u0 = 5 and d0 < 14, it is always the case that if a3 = 9 holds, then x0 = 0 eventually holds and is succeeded by m0 >= 11 .
Globally, it is always the case that if d1 <= 2 holds and is succeeded by d0 = 0, then r2 >= 12 previously held.
Between w0 > 10 and p1 < 0, it is always the case that if v2 = 14 holds, then u2 = 8 eventually holds and is succeeded by z0 >= 3 .
Between z1 < 2 and u2 > 13, it is always the case that if g1 > 13 holds, then j1 = 5 eventually holds and is succeeded by u0 > 10 .
Before a2 >= 6, it is always the case that if e0 < 14 holds and is succeeded by a0 = 11, then l1 <= 12 eventually holds after a0 = 11 .
Globally, it is always the case that c0 = 2 holds.
After f2 > 15 until t1 > 4, it is always the case that if n1 < 5 holds, then g1 >= 9 eventually holds and is succeeded by y1 <= 9 .
Before m0 = 9, it is always the case that if b0 < 2 holds and is succeeded by a1 >= 9, then a1 <= 3 previously held.
After o2 = 1 until x1 < 2, it is never the case that q0 >= 0 holds.
Between t0 = 5 and m1 >= 12, it is always the case that if w2 < 12 holds, then c1 <= 4 previously held.
Globally, it is always the case that b2 >= 14 holds.
Between f2 < 7 and v2 < 4, it is always the case that if n2 = 15 holds, then w1 < 3 eventually holds.
Before k1 <= 15, j1 > 5 eventually holds.
After q1 >= 14 until i2 >= 13, it is always the case that if e1 <= 12 holds, then m1 >= 1 previously held and was preceded by s2 <= 4 .
After p2 = 5 until p0 > 8, it is always the case that if z2 >= 3 holds and is succeeded by o1 <= 7, then a2 < 6 previously held.
Between d2 > 2 and x1 <= 10, it is never the case that a1 >= 1 holds.
Before j1 <= 1, it is always the case that if q2 = 5 holds and is succeeded by m2 <= 0, then a2 <= 1 eventually holds after m2 <= 0 .
Globally, it is always the case that if l0 > 10 holds, then k1 >= 3 previously held.
Before e1 > 6, it is always the case that if w0 = 9 holds, then v2 >= 10 previously held.
After i1 < 14, it is always the case that if b0 <= 1 holds, then e2 < 8 previously held.
After w0 <= 0, it is always the case that if q0 < 0 holds, then x2 >= 8 previously held.
Globally, it is always the case that if s1 < 8 holds, then b1 = 4 eventually holds and is succeeded by h0 > 6 .
Before s2 <= 12, it is always the case that if z1 <= 14 holds, then x2 = 1 eventually holds and is succeeded by h0 > 2, where a1 > 1 does not hold between x2 = 1 and h0 > 2 .
Between i1 = 12 and j2 <= 3, it is always the case that if l1 < 7 holds, then d0 > 6 eventually holds and is succeeded by h1 <= 14, where z2 > 8 does not hold between d0 > 6 and h1 <= 14 .
Globally, it is always the case that if g2 < 5 holds, then e1 >= 6 previously held.
After j0 >= 14, it is always the case that if g2 <= 5 holds, then r1 >= 3 eventually holds.
Globally, it is always the case that if a2 > 1 holds, then l2 >= 1 previously held and was preceded by z1 < 4 .
Between i0 <= 0 and v1 >= 12, it is always the case that if u0 > 7 holds, then b0 < 1 eventually holds and is succeeded by s1 = 12, where r2 >= 1 does not hold between b0 < 1 and s1 = 12 .
Globally, it is always the case that if a1 <= 2 holds, then j2 <= 3 eventually holds.
After a1 < 11, it is always the case that if p0 >= 8 holds, then p0 = 12 previously held and was preceded by o1 < 5 .
Globally, it is never the case that f0 >= 11 holds.
Between z2 < 3 and y0 < 6, it is always the case that if b0 <= 14 holds, then a3 <= 10 eventually holds and is succeeded by r2 >= 1 .
Globally, it is always the case that l0 <= 3 holds.
Before f0 < 12, it is always the case that if a3 <= 4 holds, then k2 >= 11 previously held.
Globally, it is always the case that if o2 < 8 holds, then g2 <= 1 eventually holds.
Before j2 <= 7, it is always the case that if w2 < 11 holds, then y0 <= 6 eventually holds and is succeeded by k2 >= 7 .
Between l1 = 4 and w1 < 1, it is never the case that c0 > 15 holds.
Before s2 = 11, it is always the case that if c1 > 1 holds and is succeeded by t0 >= 13, then o1 <= 7 previously held.
Globally, p1 < 6 eventually holds.
Before y1 < 7, it is always the case that if n2 = 14 holds, then x2 >= 0 eventually holds and is succeeded by i2 < 15 .
After l0 = 7, it is never the case that v0 = 9 holds.
Globally, it is always the case that if u0 >= 13 holds and is succeeded by c1 < 1, then f2 = 15 eventually holds after c1 < 1 .
After a2 < 6 until o0 = 14, it is always the case that if e1 < 8 holds, then d2 = 5 eventually holds.
Globally, it is always the case that if u2 <= 6 holds, then v2 > 6 eventually holds.
After s0 < 9 until o0 >= 8, it is always the case that n1 < 5 holds.
Before h0 > 15, it is always the case that if d2 >= 2 holds, then v2 <= 12 eventually holds and is succeeded by v2 = 6, where w1 >= 10 does not hold between v2 <= 12 and v2 = 6 .
Globally, it is always the case that if d2 > 0 holds, then d0 >= 4 previously held.
Between g2 >= 3 and l1 = 5, it is always the case that if i2 <= 0 holds, then b0 < 6 previously held and was preceded by s0 <= 1 .
Globally, it is always the case that if m2 > 6 holds, then a2 <= 2 eventually holds and is succeeded by t2 = 0, where a3 < 15 does not hold between a2 <= 2 and t2 = 0 .
Between b0 <= 5 and f2 > 10, it is always the case that if w2 < 9 holds, then k0 < 3 eventually holds.
Between h1 = 4 and f1 < 0, it is always the case that if h2 <= 6 holds and is succeeded by a3 = 1, then d1 <= 5 previously held.
Before n0 > 11, it is always the case that if w0 < 6 holds and is succeeded by w1 >= 2, then s2 >= 5 previously held.
After y1 <= 12 until t0 = 2, it is always the case that if w1 = 6 holds, then k0 <= 2 eventually holds and is succeeded by g2 <= 8, where w2 < 7 does not hold between k0 <= 2 and g2 <= 8 .
Between z2 <= 14 and e1 < 11, it is never the case that o1 <= 1 holds.
After f2 > 1 until j0 < 9, it is always the case that if t2 < 2 holds, then o0 = 9 previously held.
After t1 = 3 until j0 <= 9, it is always the case that if a2 = 5 holds, then e1 <= 11 previously held.
Globally, it is always the case that if e1 <= 0 holds and is succeeded by f1 = 4, then e2 <= 4 previously held.
Between a3 > 12 and t0 >= 2, x0 = 8 eventually holds.
Before o2 > 7, it is always the case that if w0 >= 3 holds, then g0 >= 7 previously held and was preceded by k1 >= 9 .
Between h2 = 2 and f2 <= 3, it is always the case that if m1 < 3 holds, then z1 >= 11 eventually holds and is succeeded by p2 <= 7 .
Before h1 < 6, it is always the case that if o1 = 11 holds and is succeeded by s1 >= 11, then y0 = 4 eventually holds after s1 >= 11 .
Globally, it is always the case that if d1 < 7 holds, then y2 > 11 eventually holds and is succeeded by h0 > 3, where f2 = 11 does not hold between y2 > 11 and h0 > 3 .
After u2 = 6, it is always the case that if s2 > 11 holds, then b0 < 6 previously held.
Between m1 < 8 and f0 >= 12, it is always the case that if s0 < 13 holds, then q0 > 1 eventually holds and is succeeded by w1 >= 6 .
Before a1 < 13, it is always the case that if h1 >= 11 holds, then u2 = 1 eventually holds and is succeeded by x2 <= 9 .
Globally, it is always the case that if g2 = 3 holds, then w0 < 0 eventually holds.
After l2 >= 15, v0 >= 12 eventually holds.
Before u2 <= 15, it is always the case that if a0 > 14 holds, then j1 = 4 eventually holds.
Before m2 >= 3, it is always the case that if l0 >= 3 holds, then a1 >= 5 previously held.
After p2 <= 12, it is always the case that if y2 < 0 holds, then f2 <= 11 previously held.
Between h0 = 11 and y2 = 7, it is always the case that if w1 >= 8 holds and is succeeded by u1 > 7, then k0 = 14 eventually holds after u1 > 7 .
After s0 >= 9, it is always the case that if c1 <= 10 holds, then p2 >= 10 eventually holds.
After x0 >= 2, it is always the case that if o1 <= 14 holds and is succeeded by g1 >= 10, then d2 >= 3 eventually holds after g1 >= 10 .
Between z1 < 14 and k1 = 7, it is always the case that if d0 >= 11 holds, then n1 <= 3 previously held and was preceded by d0 < 8 .
Between o1 <= 12 and v0 >= 8, it is always the case that t0 > 5 holds.
Globally, it is always the case that if y2 > 1 holds, then e2 >= 7 eventually holds and is succeeded by m0 <= 10, where i1 > 7 does not hold between e2 >= 7 and m0 <= 10 .
Globally, it is always the case that if d2 = 0 holds, then x2 >= 15 eventually holds.
Before b1 < 3, it is always the case that n0 > 8 holds.
After u2 > 1, it is always the case that if l1 = 7 holds, then s0 = 14 previously held and was preceded by t0 > 13 .
Globally, it is always the case that if y1 <= 9 holds and is succeeded by t1 <= 13, then m0 <= 5 previously held.
Before c0 < 14, it is always the case that if m1 >= 9 holds, then d2 >= 10 eventually holds and is succeeded by s2 < 6 .
After e1 <= 7, it is always the case that if h2 >= 14 holds, then v1 <= 14 previously held.
Between x0 >= 2 and n2 > 12, it is always the case that if g0 < 0 holds, then i0 <= 1 eventually holds and is succeeded by v1 > 11, where x2 < 2 does not hold between i0 <= 1 and v1 > 11 .
After d2 >= 4 until e2 > 5, it is always the case that if n1 < 13 holds and is succeeded by z1 >= 7, then x1 >= 8 eventually holds after z1 >= 7 .
After a3 > 10, u0 > 5 eventually holds.
Between u1 = 14 and k2 <= 6, it is always the case that if y0 = 14 holds, then i0 > 8 eventually holds and is succeeded by q2 > 3, where q0 <= 0 does not hold between i0 > 8 and q2 > 3 .
After x1 > 2 until s0 < 4, s1 < 14 eventually holds.
Before v0 > 1, it is always the case that if k0 >= 1 holds, then d1 = 9 previously held.
Before b2 >= 2, it is always the case that if o0 <= 9 holds, then l2 > 6 eventually holds and is succeeded by h1 <= 13 .
Between t1 = 11 and y2 < 10, it is always the case that if e1 > 6 holds, then a2 = 11 eventually holds and is succeeded by h0 <= 7, where v2 = 9 does not hold between a2 = 11 and h0 <= 7 .
After s2 >= 12 until e2 < 14, it is always the case that if b0 > 6 holds, then o0 > 1 previously held.
Globally, it is never the case that q0 = 11 holds.
After m1 = 12, k0 >= 5 eventually holds.
Before u0 = 15, it is always the case that if l1 <= 2 holds, then o1 >= 0 previously held and was preceded by m2 <= 6 .
After n1 = 0 until h1 = 11, it is always the case that v1 = 5 holds.
Before v1 > 6, it is always the case that if t1 < 13 holds and is succeeded by d2 <= 11, then y1 > 9 eventually holds after d2 <= 11 .
Before c0 >= 4, it is always the case that if y0 <= 0 holds and is succeeded by h2 < 14, then f2 < 15 eventually holds after h2 < 14 .
Between a3 < 5 and q0 <= 1, it is always the case that if u1 < 13 holds and is succeeded by z2 = 15, then n1 > 8 previously held.
After q0 = 0 until t2 <= 9, it is always the case that if s0 > 10 holds, then n2 = 0 previously held and was preceded by g2 > 12 .
After l2 = 7 until h2 >= 1, it is always the case that if v0 = 0 holds, then k0 >= 3 previously held.
Before k0 < 6, it is always the case that if a2 > 11 holds and is succeeded by e1 = 5, then r0 >= 2 previously held.
Before h1 <= 2, it is always the case that if g2 < 12 holds, then b2 = 7 previously held and was preceded by b0 >= 2 .
After f1 = 13 until z1 >= 7, it is always the case that if b1 <= 15 holds and is succeeded by d2 <= 13, then i1 >= 12 previously held.
After n2 <= 0 until u2 >= 11, it is always the case that if f2 < 3 holds, then a1 < 4 eventually holds and is succeeded by j2 > 15, where e0 = 5 does not hold between a1 < 4 and j2 > 15 .
Globally, it is always the case that if y0 < 14 holds, then f0 < 2 eventually holds and is succeeded by u2 <= 8, where w1 < 15 does not hold between f0 < 2 and u2 <= 8 .
After h1 > 15, l2 = 6 eventually holds.
After d1 < 4 until e0 <= 8, it is always the case that if x1 < 8 holds, then y1 = 3 eventually holds and is succeeded by f2 > 3 .
Before c0 > 5, o2 < 14 eventually holds.
After i0 <= 11, it is always the case that if c0 >= 0 holds, then z1 = 11 eventually holds and is succeeded by c0 >= 8 .
After p2 >= 14 until r2 <= 13, it is always the case that if y1 <= 15 holds, then l2 <= 13 previously held.
Between e0 <= 6 and q0 <= 0, it is never the case that s2 < 11 holds.
Before k2 < 13, it is always the case that if b1 > 2 holds and is succeeded by f0 > 1, then l0 < 5 eventually holds after f0 > 1 .
After k0 = 13, it is always the case that if l2 > 11 holds, then l0 = 3 eventually holds and is succeeded by c1 >= 8, where c2 > 2 does not hold between l0 = 3 and c1 >= 8 .
After w2 = 14 until e1 >= 9, it is always the case that if z2 >= 10 holds and is succeeded by l0 <= 10, then h1 < 8 eventually holds after l0 <= 10 .
After y0 <= 12, it is always the case that if l0 < 9 holds and is succeeded by x0 >= 9, then a2 = 10 eventually holds after x0 >= 9 .
Before n0 <= 9, it is always the case that if n2 <= 4 holds, then p2 >= 4 eventually holds and is succeeded by s2 = 2 .
After l0 <= 13 until a1 = 8, it is always the case that if l0 > 9 holds, then c0 < 3 eventually holds and is succeeded by z2 < 14 .
Before p2 = 10, it is always the case that if p1 = 4 holds, then i2 < 15 eventually holds and is succeeded by u1 > 2 .
Globally, it is always the case that if n2 = 13 holds, then p0 < 14 eventually holds.
Before q1 = 11, it is always the case that if x1 > 12 holds, then b0 < 0 previously held and was preceded by r0 <= 12 .
After q0 < 9 until o1 = 12, it is always the case that o2 < 12 holds.
Globally, it is never the case that o2 > 9 holds.
Between d1 = 4 and q0 > 13, it is always the case that if s2 < 2 holds, then t1 > 9 eventually holds.
After l1 <= 9, a1 <= 9 eventually holds.
Between p0 >= 12 and b1 <= 5, it is always the case that if j0 <= 6 holds, then y0 >= 13 previously held and was preceded by c2 = 6 .
Globally, g0 = 9 eventually holds.
After m2 <= 1 until y1 <= 5, it is always the case that if o0 = 6 holds and is succeeded by f1 < 3, then l0 > 12 previously held.
Globally, it is always the case that if b0 < 14 holds and is succeeded by p1 > 6, then x2 >= 4 previously held.
Between r2 > 7 and n0 < 0, it is always the case that l1 >= 8 holds.
Globally, it is always the case that if i0 <= 15 holds, then h2 = 9 eventually holds.
After c2 = 12, it is always the case that if d2 < 10 holds, then u1 = 14 eventually holds and is succeeded by j0 <= 12 .
After s2 > 8 until m2 = 5, it is always the case that e1 > 6 holds.
After w0 = 13 until i2 > 3, it is always the case that if n0 < 13 holds and is succeeded by e0 <= 1, then q1 = 10 previously held.
After r2 = 14 until i0 > 10, it is always the case that if y2 = 1 holds, then w1 < 8 eventually holds and is succeeded by t2 >= 15 .
Between d2 > 15 and c0 > 9, it is always the case that if y2 >= 10 holds, then n0 >= 4 eventually holds and is succeeded by p1 <= 9 .
After r0 < 1 until b0 >= 10, it is never the case that u1 <= 14 holds.
Before l1 <= 2, it is always the case that if m0 = 10 holds and is succeeded by z1 < 12, then b2 < 7 eventually holds after z1 < 12 .
After g0 >= 6 until t0 < 1, it is always the case that if f0 < 9 holds and is succeeded by n1 > 13, then r2 = 9 eventually holds after n1 > 13 .
Before w0 < 14, it is always the case that if z0 <= 14 holds, then j2 < 10 previously held and was preceded by q0 <= 2 .
Globally, it is always the case that m2 < 5 holds.
Before s0 >= 3, it is always the case that v2 > 2 holds.
Between k2 <= 1 and p1 = 3, it is always the case that if d2 >= 7 holds, then k2 <= 13 eventually holds.
Globally, it is always the case that if r2 >= 10 holds and is succeeded by x0 <= 13, then y0 > 2 previously held.
Globally, it is never the case that n0 > 6 holds.
Globally, it is always the case that if p0 >= 5 holds, then b2 <= 10 previously held and was preceded by y2 > 0 .
Before e2 <= 14, r0 <= 1 eventually holds.
After e1 = 2 until w1 <= 15, it is always the case that if z2 = 6 holds and is succeeded by i2 > 2, then w2 = 15 previously held.
After q1 = 15, a1 < 0 eventually holds.
Before i0 >= 2, it is always the case that if d0 >= 4 holds, then x0 = 6 previously held.
Globally, it is always the case that if a2 <= 0 holds, then o1 >= 7 eventually holds and is succeeded by q1 > 9, where t1 < 7 does not hold between o1 >= 7 and q1 > 9 .
Globally, y0 >= 0 eventually holds.
After q0 >= 5 until p2 < 8, it is always the case that if x0 = 15 holds, then g0 > 5 previously held and was preceded by z0 <= 7 .
Between a3 <= 1 and l2 = 9, it is always the case that if q2 < 1 holds, then w0 > 12 previously held.
Globally, it is always the case that d2 >= 7 holds.
