Globally, b0 >= 2 eventually holds.
Between d0 < 0 and r1 >= 1, it is never the case that q1 < 3 holds.
After i0 < 0 until u1 < 1, it is always the case that z2 >= 0 holds.
Globally, e1 > 1 eventually holds.
After f0 > 3, it is always the case that if x2 = 1 holds, then d0 > 0 eventually holds and is succeeded by i2 <= 0, where f0 < 3 does not hold between d0 > 0 and i2 <= 0 .
Globally, it is always the case that if g1 < 2 holds, then q0 <= 3 eventually holds and is succeeded by s1 >= 0, where f1 < 1 does not hold between q0 <= 3 and s1 >= 0 .
Globally, it is always the case that if e2 <= 2 holds and is succeeded by n2 <= 2, then m0 > 0 previously held.
Before b0 >= 2, it is always the case that g2 < 2 holds.
After y0 > 2 until y2 = 2, s0 > 3 eventually holds.
Before t0 = 2, it is always the case that if c2 >= 1 holds, then t2 > 0 previously held.
After x0 = 0 until w1 = 2, it is always the case that if o1 = 0 holds and is succeeded by h2 > 3, then a1 = 2 eventually holds after h2 > 3 .
Before o0 < 2, it is always the case that if i0 <= 2 holds, then n2 > 3 eventually holds.
Between n2 >= 0 and o0 >= 0, it is always the case that g0 <= 3 holds.
After r1 >= 3 until s2 <= 0, it is always the case that if k2 = 0 holds, then r1 < 3 eventually holds and is succeeded by g2 >= 2 .
Before o1 = 2, a3 >= 2 eventually holds.
Between c0 <= 0 and j2 >= 3, it is always the case that if x1 <= 1 holds, then w1 > 2 previously held and was preceded by r0 >= 2 .
Globally, it is always the case that if k2 < 3 holds, then r0 > 1 previously held.
Globally, it is always the case that if o0 >= 3 holds, then b0 = 2 eventually holds and is succeeded by o0 < 1 .
Globally, it is always the case that if d2 >= 2 holds and is succeeded by s0 = 2, then v0 = 0 eventually holds after s0 = 2 .
After g2 > 0 until n1 = 1, it is always the case that if b2 = 1 holds, then d1 > 3 eventually holds and is succeeded by c0 = 1, where j1 = 1 does not hold between d1 > 3 and c0 = 1 .
Before i2 < 2, it is always the case that if w1 = 0 holds, then v2 < 3 eventually holds and is succeeded by o2 > 0 .
Before p0 >= 0, it is always the case that if e0 = 1 holds, then a3 >= 3 previously held and was preceded by d0 < 3 .
Between o2 <= 2 and p0 > 0, it is always the case that g0 < 3 holds.
Globally, it is always the case that if y0 > 0 holds, then q0 < 2 previously held and was preceded by l0 >= 0 .
Globally, it is always the case that if u2 < 1 holds, then z0 = 0 eventually holds and is succeeded by x2 > 0, where o2 >= 1 does not hold between z0 = 0 and x2 > 0 .
After n2 = 0, it is always the case that if g1 = 0 holds and is succeeded by x0 > 0, then g0 > 2 previously held.
After b1 < 3, it is always the case that if u2 >= 2 holds, then d2 < 0 previously held.
Globally, it is always the case that if x0 > 1 holds, then v0 > 1 eventually holds and is succeeded by y1 >= 3, where a3 <= 1 does not hold between v0 > 1 and y1 >= 3 .
Before r1 > 0, it is always the case that if o2 <= 2 holds, then p2 = 1 eventually holds and is succeeded by b0 > 0, where f2 > 1 does not hold between p2 = 1 and b0 > 0 .
Globally, it is never the case that k1 >= 3 holds.
After i0 < 1, it is always the case that if g0 >= 0 holds, then x1 < 3 eventually holds and is succeeded by v0 = 1 .
Globally, it is always the case that if c0 < 1 holds, then i2 <= 2 eventually holds.
After y0 <= 2 until y2 >= 2, it is always the case that if a0 < 2 holds, then k2 = 1 eventually holds.
After g1 > 1 until s2 = 2, it is always the case that y0 = 1 holds.
After c1 > 3, it is never the case that e2 < 1 holds.
Between o2 = 2 and t1 <= 0, it is always the case that if m2 < 0 holds and is succeeded by a2 >= 0, then k2 > 2 previously held.
Globally, it is always the case that j1 < 2 holds.
Between v1 >= 2 and x1 > 0, it is always the case that if j0 >= 3 holds and is succeeded by y1 <= 1, then y0 = 3 eventually holds after y1 <= 1 .
Globally, it is always the case that if n0 <= 0 holds, then y2 = 1 eventually holds.
After n0 <= 0, it is always the case that if v2 = 1 holds, then v2 > 2 previously held.
Before d2 > 2, it is always the case that if z1 >= 0 holds and is succeeded by i2 <= 0, then k1 > 1 previously held.
Globally, f1 = 2 eventually holds.
After d2 = 0 until h2 = 0, it is always the case that if m2 = 3 holds and is succeeded by b0 < 0, then u0 = 1 eventually holds after b0 < 0 .
Globally, it is always the case that if u1 = 3 holds, then m2 <= 0 previously held and was preceded by k1 <= 0 .
After x2 = 2 until j1 = 0, l0 >= 3 eventually holds.
Globally, it is never the case that s2 <= 3 holds.
Globally, it is always the case that v1 = 0 holds.
After p0 > 3, it is always the case that if z1 < 2 holds, then a3 <= 0 previously held and was preceded by m0 >= 3 .
Before v1 <= 2, it is always the case that if n2 < 3 holds, then r1 > 1 eventually holds and is succeeded by d1 < 2 .
Before g2 > 3, it is never the case that p2 = 3 holds.
Between y2 <= 0 and h1 = 1, it is always the case that if t1 <= 2 holds, then h0 > 3 eventually holds.
After l1 <= 1, it is always the case that if r0 >= 2 holds, then q1 >= 0 eventually holds.
After c2 < 2 until z0 >= 3, it is never the case that g1 > 2 holds.
After x0 > 1, it is always the case that if b2 <= 3 holds, then i2 < 2 eventually holds and is succeeded by q2 >= 3, where x1 < 0 does not hold between i2 < 2 and q2 >= 3 .
Globally, it is always the case that if g0 >= 0 holds, then h2 >= 2 eventually holds and is succeeded by q0 > 0 .
Globally, it is always the case that if i0 = 2 holds, then c1 <= 3 eventually holds and is succeeded by d0 <= 2, where r1 >= 0 does not hold between c1 <= 3 and d0 <= 2 .
After w2 <= 2 until t0 <= 3, it is always the case that if h2 = 2 holds, then j0 >= 1 previously held.
Between i0 >= 2 and z2 = 2, it is always the case that if q1 >= 0 holds, then j0 > 0 eventually holds and is succeeded by c1 > 1, where v2 < 0 does not hold between j0 > 0 and c1 > 1 .
Between f1 >= 2 and h1 <= 0, d1 <= 2 eventually holds.
Globally, it is always the case that if b2 = 1 holds, then h0 = 0 previously held.
After y0 <= 2, it is always the case that if o0 < 1 holds and is succeeded by r1 >= 0, then p0 >= 0 previously held.
After q1 = 1, it is always the case that if b0 = 0 holds, then j0 > 2 previously held.
After b2 >= 3, it is always the case that if l0 = 2 holds, then e2 >= 3 eventually holds.
Globally, it is always the case that if a2 <= 3 holds, then p1 <= 1 previously held.
Globally, it is always the case that if s1 <= 3 holds, then w1 <= 2 previously held.
Between j1 <= 0 and j2 > 0, it is never the case that f2 <= 0 holds.
After t1 < 1, it is always the case that if a0 <= 0 holds and is succeeded by a2 >= 1, then g2 <= 2 eventually holds after a2 >= 1 .
After q2 >= 1, it is always the case that if w1 <= 1 holds, then n1 = 1 eventually holds and is succeeded by s0 <= 3, where a2 >= 0 does not hold between n1 = 1 and s0 <= 3 .
Before w1 = 2, it is never the case that o2 < 0 holds.
Globally, it is always the case that if o0 <= 0 holds, then g1 = 1 previously held.
After v1 > 2 until m2 > 0, it is always the case that if m0 < 2 holds and is succeeded by l0 <= 1, then e0 > 2 previously held.
Before m1 = 2, it is always the case that if m0 > 2 holds, then k0 > 0 eventually holds and is succeeded by y2 > 3, where v1 > 3 does not hold between k0 > 0 and y2 > 3 .
Globally, it is always the case that if c0 >= 0 holds and is succeeded by p2 > 3, then f1 < 0 eventually holds after p2 > 3 .
After r1 >= 3, it is always the case that if y1 = 3 holds and is succeeded by i1 >= 2, then a0 >= 3 eventually holds after i1 >= 2 .
Before g1 >= 3, it is always the case that if f1 > 3 holds, then i0 <= 2 eventually holds.
Globally, v1 = 2 eventually holds.
Between p0 <= 2 and e1 = 0, it is always the case that if a2 >= 2 holds and is succeeded by v1 <= 2, then e1 < 1 eventually holds after v1 <= 2 .
After b0 > 3, it is always the case that if n2 = 2 holds, then x1 < 1 eventually holds.
Between n0 < 0 and l2 <= 2, it is always the case that if n1 = 1 holds, then k1 = 1 previously held and was preceded by j2 >= 1 .
Between q2 > 3 and v0 <= 3, it is always the case that if k1 < 3 holds, then p1 < 1 previously held and was preceded by e0 >= 0 .
Between a3 > 1 and v0 >= 3, it is always the case that if c0 < 1 holds and is succeeded by f1 < 1, then a0 <= 0 eventually holds after f1 < 1 .
Globally, it is always the case that p1 >= 0 holds.
After d0 <= 1 until s0 > 3, it is never the case that g1 = 2 holds.
Before u0 > 3, it is always the case that f1 = 0 holds.
Between v2 <= 2 and i1 <= 3, it is always the case that if l1 <= 1 holds and is succeeded by b2 = 0, then c0 <= 3 eventually holds after b2 = 0 .
Before a3 = 0, it is always the case that if h1 >= 2 holds and is succeeded by n1 <= 1, then n2 = 0 eventually holds after n1 <= 1 .
Before r1 > 1, it is always the case that if z0 = 1 holds, then l2 > 3 previously held and was preceded by u1 > 3 .
After s1 <= 2 until n2 = 2, it is always the case that p2 > 2 holds.
Before v2 <= 2, it is always the case that i0 >= 1 holds.
After m1 = 2 until g1 >= 3, it is always the case that if o2 < 2 holds, then g0 > 3 previously held and was preceded by f0 > 3 .
Between j0 = 2 and h0 < 1, it is always the case that if b0 = 1 holds and is succeeded by b1 <= 3, then j1 <= 1 previously held.
Before h0 >= 3, it is always the case that if p0 >= 2 holds, then o2 < 1 previously held.
Before s0 = 3, it is never the case that s2 > 3 holds.
Before k1 = 2, it is always the case that if e1 >= 0 holds, then e2 <= 1 previously held.
Between m2 < 0 and m0 = 2, it is always the case that if f1 >= 3 holds, then e2 > 3 eventually holds and is succeeded by e2 >= 2, where x2 <= 2 does not hold between e2 > 3 and e2 >= 2 .
After u0 < 3, w1 >= 3 eventually holds.
After q0 >= 2 until g1 = 0, it is always the case that if s1 = 0 holds and is succeeded by a1 > 3, then b0 = 1 previously held.
Between m2 <= 0 and d0 >= 1, it is always the case that if e1 <= 1 holds, then l1 = 1 eventually holds and is succeeded by a0 > 2, where z1 <= 2 does not hold between l1 = 1 and a0 > 2 .
After u2 <= 2, it is always the case that if q1 >= 3 holds, then t2 >= 0 eventually holds.
Between i0 <= 1 and z2 >= 2, p0 < 2 eventually holds.
Globally, it is always the case that if h1 >= 3 holds, then v2 = 0 eventually holds.
After u0 <= 2 until k1 > 0, it is never the case that h1 < 0 holds.
Between g2 <= 0 and m0 > 2, q0 > 3 eventually holds.
Between w2 >= 2 and h1 >= 3, it is always the case that if d0 >= 0 holds, then m1 <= 2 previously held.
Before a2 < 1, it is always the case that if d1 = 3 holds and is succeeded by j2 < 1, then q1 >= 2 eventually holds after j2 < 1 .
Globally, it is always the case that if a2 < 0 holds, then p1 = 0 eventually holds and is succeeded by g1 > 2 .
Globally, it is never the case that k2 = 3 holds.
After b0 < 2 until d2 = 2, it is always the case that if u1 < 0 holds and is succeeded by a1 < 3, then r0 < 1 previously held.
Globally, it is always the case that if l2 = 2 holds, then d2 <= 0 previously held.
After p2 < 0, it is always the case that if f0 <= 2 holds, then j1 > 1 previously held.
After o2 > 2 until e2 < 1, it is always the case that if d0 >= 1 holds and is succeeded by q0 <= 1, then a2 <= 0 previously held.
Before d1 < 3, it is never the case that i2 >= 2 holds.
After k2 > 0 until v0 > 3, it is always the case that if h2 >= 1 holds, then u2 = 0 eventually holds.
Before h1 > 2, it is always the case that if e2 < 2 holds, then n0 >= 1 eventually holds and is succeeded by l2 <= 1, where f1 < 0 does not hold between n0 >= 1 and l2 <= 1 .
Before m1 < 3, it is always the case that if a0 < 1 holds, then g0 <= 3 eventually holds and is succeeded by d2 < 1, where j1 < 2 does not hold between g0 <= 3 and d2 < 1 .
Globally, it is always the case that if x2 < 3 holds, then b2 >= 0 eventually holds.
After s0 = 0 until w0 <= 1, it is always the case that if r2 = 1 holds, then a1 < 1 previously held.
After a1 >= 1, it is always the case that if e2 >= 3 holds, then l2 = 0 previously held.
Before p1 = 0, it is always the case that j2 >= 3 holds.
Before k2 = 3, it is always the case that m2 = 0 holds.
