After u0 > 7, it is always the case that if e1 = 0 holds, then j1 > 22 previously held.
After j1 = 11, it is always the case that if o0 < 16 holds, then a1 <= 8 previously held and was preceded by t0 = 23 .
After h0 < 29 until m0 >= 9, it is always the case that if p0 > 26 holds, then j1 <= 7 eventually holds and is succeeded by r0 <= 20 .
Between b1 < 20 and q0 >= 7, it is always the case that if w0 = 15 holds, then b1 > 13 eventually holds and is succeeded by k0 = 13, where q0 < 22 does not hold between b1 > 13 and k0 = 13 .
Globally, it is always the case that if o0 > 17 holds and is succeeded by x0 >= 28, then c0 > 16 previously held.
After d0 <= 11 until f0 = 22, it is always the case that if j1 <= 3 holds and is succeeded by p0 = 13, then f1 > 12 eventually holds after p0 = 13 .
After r0 <= 26 until w0 >= 15, it is always the case that if e0 >= 25 holds, then r0 < 13 eventually holds.
Between g1 = 31 and a0 <= 16, it is always the case that if m1 > 5 holds, then i0 >= 14 eventually holds.
After g1 >= 2, it is always the case that if s0 <= 13 holds, then d0 < 0 eventually holds.
Globally, it is always the case that if k0 = 18 holds and is succeeded by k1 > 13, then b0 = 22 previously held.
After f0 <= 21, it is always the case that if c1 >= 20 holds, then l0 = 24 eventually holds.
After g1 = 13, it is always the case that if a0 < 13 holds and is succeeded by l1 <= 15, then k1 > 2 previously held.
Globally, it is always the case that if q0 = 18 holds and is succeeded by b1 > 7, then h0 <= 30 eventually holds after b1 > 7 .
Between y0 >= 23 and w0 < 9, j0 = 30 eventually holds.
Globally, it is always the case that if y0 < 20 holds, then k1 = 21 previously held.
Globally, c0 > 17 eventually holds.
Globally, it is always the case that if r0 > 19 holds, then c1 = 13 previously held and was preceded by m1 > 29 .
Between h1 = 17 and z0 <= 8, it is never the case that h1 = 24 holds.
After m0 <= 3, it is always the case that if m0 < 29 holds and is succeeded by l0 = 28, then g1 >= 24 eventually holds after l0 = 28 .
Before f1 >= 3, s0 <= 22 eventually holds.
Before k1 <= 30, it is always the case that if o0 = 9 holds, then z0 > 12 eventually holds.
Before v0 <= 3, it is always the case that if l0 >= 26 holds, then l1 < 9 previously held.
Before i1 >= 7, it is never the case that h0 = 15 holds.
Between h0 > 26 and m0 <= 3, it is always the case that s0 >= 21 holds.
After t0 < 19, it is always the case that if l0 <= 12 holds and is succeeded by h1 < 16, then b0 <= 26 previously held.
Globally, it is always the case that a0 <= 22 holds.
Before b1 < 12, it is always the case that if u0 >= 12 holds, then r0 <= 28 eventually holds.
Globally, it is always the case that if g1 < 9 holds and is succeeded by e0 >= 28, then b1 <= 19 previously held.
Before y0 < 16, d0 <= 26 eventually holds.
After e0 = 28 until d0 >= 1, it is always the case that if w0 >= 30 holds and is succeeded by c0 >= 13, then h1 <= 25 previously held.
Before h0 = 7, it is always the case that if l1 <= 18 holds, then i0 <= 13 previously held and was preceded by g0 < 27 .
Globally, it is always the case that if y0 = 14 holds and is succeeded by q0 <= 23, then q0 >= 30 eventually holds after q0 <= 23 .
Between b0 < 7 and o0 > 26, it is always the case that if s0 >= 9 holds, then i0 <= 18 eventually holds.
After r0 < 17, it is always the case that if y0 < 25 holds and is succeeded by x0 = 5, then f0 >= 8 eventually holds after x0 = 5 .
Before l1 < 27, it is always the case that if d0 >= 1 holds and is succeeded by q0 <= 17, then c0 < 10 eventually holds after q0 <= 17 .
Before w0 >= 11, it is always the case that if u0 < 6 holds, then c0 <= 20 previously held.
After k0 > 30 until z0 <= 27, it is always the case that if i0 <= 22 holds, then b1 > 21 previously held.
After a0 > 12 until y0 = 21, it is always the case that b0 < 2 holds.
Before n0 > 12, it is always the case that if f0 = 11 holds, then u0 = 3 eventually holds and is succeeded by v0 = 23 .
After e1 = 9 until h1 > 13, it is always the case that if v0 > 10 holds, then n0 = 24 previously held.
Globally, it is never the case that y0 > 29 holds.
Before v0 < 16, it is never the case that g1 = 31 holds.
Before k1 < 5, it is always the case that w0 > 31 holds.
After c0 = 25 until m0 < 25, it is always the case that if l1 <= 29 holds, then a1 > 13 eventually holds and is succeeded by x0 <= 9 .
After a1 >= 13, it is always the case that if e0 <= 16 holds, then q0 > 9 eventually holds and is succeeded by j1 > 29 .
After o0 >= 23, it is always the case that m1 >= 3 holds.
After e0 <= 17, it is always the case that l0 <= 12 holds.
Before g1 >= 28, it is always the case that if h0 <= 4 holds, then f1 > 29 previously held.
After q0 = 23 until e0 > 5, it is always the case that if a0 <= 28 holds and is succeeded by z0 < 16, then c0 > 9 eventually holds after z0 < 16 .
Globally, it is never the case that m1 <= 17 holds.
Before h0 = 6, it is always the case that if h1 = 14 holds, then l1 < 24 eventually holds.
After e0 = 11 until h1 >= 29, it is always the case that if q0 > 7 holds, then b0 >= 6 previously held.
Globally, it is always the case that if a1 >= 1 holds, then l1 < 2 previously held and was preceded by e1 <= 13 .
After r0 = 3 until l0 <= 30, it is always the case that if l0 <= 30 holds, then l1 > 27 previously held.
Between x0 > 16 and k1 > 14, it is never the case that z0 = 22 holds.
Globally, it is always the case that a1 >= 12 holds.
Globally, it is always the case that if e0 <= 30 holds, then m0 < 27 eventually holds and is succeeded by c0 >= 14, where p0 = 25 does not hold between m0 < 27 and c0 >= 14 .
After e1 <= 4 until d0 > 28, it is always the case that if z0 < 0 holds, then u0 <= 5 previously held.
Globally, it is always the case that if l0 >= 12 holds, then k0 >= 10 eventually holds and is succeeded by u0 = 3, where j1 <= 28 does not hold between k0 >= 10 and u0 = 3 .
After i0 < 22 until w0 <= 31, it is always the case that if i1 <= 4 holds, then z0 <= 21 previously held.
After k1 = 24, it is always the case that if j1 >= 21 holds, then r0 > 24 eventually holds.
After s0 > 22, it is never the case that c1 > 17 holds.
Between k0 >= 25 and b0 >= 19, it is always the case that if i0 = 8 holds and is succeeded by f0 = 26, then c1 = 17 previously held.
Between i1 = 14 and g0 = 11, it is always the case that if g1 = 2 holds, then g0 <= 13 previously held.
After i1 < 24 until r0 = 2, it is always the case that if j1 < 8 holds and is succeeded by v0 > 10, then l1 = 23 eventually holds after v0 > 10 .
After h1 < 21 until h1 >= 13, it is always the case that if h1 > 3 holds, then m0 >= 21 eventually holds and is succeeded by m1 > 22 .
Globally, it is always the case that a0 = 4 holds.
After b0 >= 20, it is always the case that if h1 = 31 holds, then h0 < 22 eventually holds and is succeeded by e0 < 3, where f0 = 26 does not hold between h0 < 22 and e0 < 3 .
After u0 <= 25, s0 > 27 eventually holds.
Globally, it is always the case that if e0 = 23 holds and is succeeded by s0 <= 23, then r0 < 25 eventually holds after s0 <= 23 .
After j1 <= 8 until g1 = 20, it is always the case that if h1 <= 19 holds and is succeeded by a0 > 12, then r0 > 29 previously held.
After i0 > 31, it is always the case that if z0 >= 25 holds, then i0 > 11 previously held.
Before s0 <= 22, it is always the case that if g1 = 0 holds, then l1 >= 29 eventually holds and is succeeded by b1 >= 3, where c1 = 6 does not hold between l1 >= 29 and b1 >= 3 .
Between n0 < 22 and w0 = 2, it is always the case that if z0 > 31 holds, then a0 > 1 previously held.
After q0 <= 8 until f0 < 18, it is never the case that a0 < 8 holds.
Before b0 > 1, it is always the case that if d1 < 28 holds, then q0 > 12 eventually holds and is succeeded by l1 = 9, where q0 > 10 does not hold between q0 > 12 and l1 = 9 .
After b0 > 15, it is always the case that if i0 = 7 holds, then a0 <= 8 previously held and was preceded by m1 < 12 .
After j1 <= 17, it is always the case that if f0 >= 21 holds, then q0 <= 2 eventually holds and is succeeded by t0 = 19 .
Before f0 < 28, it is always the case that if l0 = 19 holds and is succeeded by t0 > 24, then c1 <= 30 eventually holds after t0 > 24 .
Before m1 = 25, it is always the case that if x0 = 9 holds, then l1 > 6 eventually holds and is succeeded by a1 = 31 .
After f1 < 23, it is always the case that if g1 = 27 holds, then g1 > 30 previously held and was preceded by h0 = 24 .
Between j1 >= 23 and d1 >= 27, it is always the case that if x0 >= 29 holds, then y0 = 24 eventually holds and is succeeded by m1 <= 6, where f1 <= 9 does not hold between y0 = 24 and m1 <= 6 .
Globally, it is always the case that if z0 < 29 holds, then h1 <= 17 previously held.
Before p0 < 8, it is always the case that if r0 < 17 holds and is succeeded by y0 > 2, then d0 <= 26 eventually holds after y0 > 2 .
Globally, it is always the case that if k0 <= 31 holds, then h1 <= 19 eventually holds and is succeeded by b0 > 23 .
After k0 = 14, it is always the case that e0 = 11 holds.
After d0 < 28 until i0 <= 25, it is never the case that m1 > 24 holds.
Before s0 > 1, y0 > 11 eventually holds.
Before z0 >= 6, it is always the case that if s0 > 20 holds, then d1 >= 1 previously held.
Before r0 = 2, it is never the case that j0 >= 6 holds.
After f0 = 9 until q0 > 11, it is always the case that if k0 > 28 holds, then p0 > 24 eventually holds.
After a1 > 6 until m1 = 7, it is always the case that if o0 < 27 holds, then u0 <= 26 previously held and was preceded by k0 > 14 .
Between e1 <= 4 and c0 > 9, it is always the case that if b1 > 21 holds and is succeeded by m0 = 27, then p0 <= 5 eventually holds after m0 = 27 .
After b1 >= 25, it is always the case that if k0 <= 23 holds, then e0 > 31 previously held and was preceded by k1 = 17 .
Before t0 < 19, it is always the case that if j0 < 21 holds, then e0 >= 8 eventually holds.
After h1 > 16 until g1 < 8, a0 = 0 eventually holds.
Globally, it is always the case that if e1 = 21 holds, then k1 < 31 eventually holds.
After b1 > 0, u0 > 1 eventually holds.
Globally, it is always the case that if c1 >= 25 holds and is succeeded by x0 < 26, then f0 < 21 previously held.
Between k1 = 0 and m1 >= 30, it is always the case that if m1 >= 21 holds, then v0 <= 24 previously held.
After m0 < 5, it is always the case that if x0 >= 8 holds, then u0 <= 18 previously held and was preceded by k0 > 19 .
After k0 < 23 until j1 < 12, it is always the case that if i0 = 7 holds, then r0 <= 8 previously held and was preceded by c1 < 19 .
Between j1 > 10 and t0 > 13, it is never the case that m1 >= 9 holds.
Globally, it is never the case that s0 < 20 holds.
After d0 >= 11, it is always the case that if l0 >= 3 holds and is succeeded by l1 >= 14, then v0 = 8 eventually holds after l1 >= 14 .
Between c1 >= 2 and k1 <= 22, it is always the case that g1 >= 10 holds.
After y0 >= 6 until s0 > 8, it is always the case that if b1 >= 14 holds, then w0 > 2 previously held.
After i0 < 6 until d0 = 16, it is always the case that if m1 = 17 holds and is succeeded by u0 <= 22, then m0 = 20 previously held.
After i1 >= 20, it is always the case that if k1 <= 30 holds, then d1 = 17 eventually holds and is succeeded by c0 < 30 .
After z0 <= 7, it is always the case that if h1 < 16 holds, then e0 >= 29 previously held.
After k1 >= 30, it is always the case that if c1 = 9 holds and is succeeded by h0 < 3, then y0 >= 28 previously held.
Between c0 > 25 and h0 > 14, it is never the case that j0 = 6 holds.
Before l1 = 14, it is always the case that if o0 = 27 holds, then b1 < 6 previously held and was preceded by b1 >= 7 .
After i0 = 17 until d0 >= 13, it is always the case that if v0 >= 8 holds, then r0 < 20 eventually holds and is succeeded by k0 = 30 .
Globally, it is always the case that if o0 < 30 holds, then b1 < 19 previously held.
Between m0 <= 24 and i0 >= 2, it is always the case that if b0 > 3 holds, then y0 = 25 eventually holds and is succeeded by b0 = 26 .
After j1 > 9, it is always the case that if i1 >= 2 holds, then h0 >= 6 eventually holds and is succeeded by a0 <= 8 .
Globally, it is always the case that if z0 < 30 holds, then a1 = 31 eventually holds.
Globally, it is always the case that if g0 < 24 holds, then t0 < 20 previously held and was preceded by p0 <= 5 .
Between i1 <= 24 and q0 = 20, it is always the case that if q0 <= 7 holds, then d1 >= 0 previously held.
After o0 > 9, it is never the case that h0 > 25 holds.
Between b0 > 16 and w0 > 30, it is always the case that if m0 <= 22 holds, then e1 < 26 eventually holds and is succeeded by i1 > 18 .
After l1 >= 26, it is always the case that i1 >= 17 holds.
Before f0 > 8, it is always the case that if i1 = 14 holds, then x0 < 7 previously held.
After d0 >= 31, it is always the case that if d1 >= 13 holds, then k1 = 9 eventually holds and is succeeded by b0 >= 25, where k0 < 28 does not hold between k1 = 9 and b0 >= 25 .
Between l1 >= 29 and j1 <= 8, it is always the case that if v0 >= 0 holds, then y0 <= 22 eventually holds and is succeeded by v0 >= 4, where y0 >= 0 does not hold between y0 <= 22 and v0 >= 4 .
Between j1 = 23 and r0 > 22, it is always the case that if l1 > 8 holds, then x0 = 7 previously held.
After d0 >= 23, it is always the case that if d0 = 26 holds, then f0 = 12 previously held and was preceded by f0 >= 11 .
After v0 < 4 until f1 >= 20, u0 = 17 eventually holds.
After b0 > 15 until j0 >= 22, d1 < 12 eventually holds.
After i0 < 18, it is always the case that if m1 >= 17 holds and is succeeded by o0 = 5, then l0 <= 3 previously held.
After b1 >= 9, q0 = 3 eventually holds.
After j1 > 22 until e1 <= 6, it is always the case that if d1 > 9 holds and is succeeded by m0 >= 29, then d0 < 8 eventually holds after m0 >= 29 .
Globally, it is always the case that if o0 > 14 holds, then h0 <= 17 previously held and was preceded by m0 = 6 .
Globally, it is always the case that if m1 < 11 holds, then f0 = 7 eventually holds and is succeeded by a1 > 28 .
Before f0 = 21, it is always the case that if f1 = 10 holds and is succeeded by r0 = 5, then i0 > 29 eventually holds after r0 = 5 .
Globally, it is never the case that i1 >= 27 holds.
Globally, it is always the case that d0 < 30 holds.
Before e1 <= 21, it is always the case that if g0 = 3 holds, then z0 > 27 eventually holds.
After k1 = 22, it is always the case that if w0 > 29 holds, then c0 = 24 eventually holds and is succeeded by k0 = 24 .
Before d1 >= 13, it is always the case that if s0 > 16 holds, then i1 > 16 previously held.
After b0 < 1 until u0 < 30, it is always the case that if y0 < 19 holds, then a0 < 1 previously held and was preceded by o0 > 17 .
Before y0 >= 16, it is always the case that if d1 >= 21 holds and is succeeded by n0 > 12, then i1 = 26 previously held.
After y0 <= 22 until f0 <= 7, it is always the case that if x0 = 16 holds, then l1 < 27 eventually holds and is succeeded by q0 <= 5 .
Between j0 <= 17 and j1 < 16, it is always the case that if o0 <= 18 holds, then h1 = 28 eventually holds and is succeeded by t0 < 28 .
After m1 = 20 until f0 >= 26, it is always the case that if x0 <= 29 holds and is succeeded by c1 >= 23, then g0 >= 7 previously held.
After e0 > 13, it is always the case that u0 <= 19 holds.
After c0 <= 6, it is always the case that d1 >= 11 holds.
After j1 > 10 until j1 <= 21, it is always the case that if o0 = 2 holds, then a0 = 15 previously held and was preceded by z0 = 2 .
After b1 < 25, it is always the case that if k0 = 16 holds, then e1 = 30 previously held and was preceded by d1 = 11 .
Globally, a0 <= 8 eventually holds.
After x0 < 12, k0 = 27 eventually holds.
After z0 >= 14 until l1 <= 12, it is always the case that if w0 = 30 holds and is succeeded by j1 >= 8, then t0 = 10 previously held.
Before v0 <= 11, b0 = 26 eventually holds.
Globally, it is always the case that if c1 < 5 holds, then f1 >= 22 eventually holds.
Before g1 < 29, it is always the case that if r0 > 23 holds, then m0 >= 15 eventually holds and is succeeded by m1 > 8 .
Globally, it is always the case that if i0 <= 23 holds and is succeeded by v0 > 5, then l0 >= 21 eventually holds after v0 > 5 .
Globally, it is always the case that if v0 >= 16 holds and is succeeded by b1 >= 21, then j0 <= 25 eventually holds after b1 >= 21 .
After k1 = 18, it is always the case that if i1 = 15 holds, then u0 <= 26 eventually holds and is succeeded by h0 < 15 .
After r0 > 25, it is always the case that if b1 > 28 holds and is succeeded by a1 >= 10, then t0 < 12 eventually holds after a1 >= 10 .
Globally, it is always the case that if v0 < 10 holds and is succeeded by g0 = 4, then c1 <= 18 previously held.
Globally, it is always the case that if n0 > 20 holds, then p0 = 9 eventually holds and is succeeded by g0 = 1, where c1 > 4 does not hold between p0 = 9 and g0 = 1 .
Globally, it is always the case that if y0 < 14 holds, then t0 >= 0 previously held and was preceded by g0 = 8 .
Between n0 > 0 and c0 > 18, it is always the case that h0 > 31 holds.
Before j1 >= 6, m0 <= 24 eventually holds.
After l0 = 3 until a1 > 12, it is always the case that if z0 > 31 holds and is succeeded by b0 <= 21, then h0 >= 19 eventually holds after b0 <= 21 .
Before e0 >= 27, it is always the case that if r0 = 6 holds, then j0 <= 25 eventually holds and is succeeded by p0 <= 22, where i0 <= 17 does not hold between j0 <= 25 and p0 <= 22 .
After r0 = 14 until e1 = 24, it is never the case that k1 > 17 holds.
After l1 <= 30 until w0 < 31, it is never the case that m1 = 9 holds.
After n0 >= 6, w0 <= 24 eventually holds.
Globally, it is always the case that if h0 = 22 holds, then j1 < 14 eventually holds and is succeeded by x0 <= 24, where i1 < 26 does not hold between j1 < 14 and x0 <= 24 .
Before z0 >= 22, it is always the case that c0 <= 10 holds.
Globally, it is never the case that g0 >= 26 holds.
Before s0 <= 15, it is always the case that if r0 < 15 holds and is succeeded by m0 > 4, then n0 > 23 previously held.
Before h0 < 15, f1 >= 9 eventually holds.
Globally, it is never the case that m1 = 31 holds.
After g1 < 31, it is always the case that if a1 > 8 holds, then g0 > 29 previously held.
After f0 > 29 until a0 > 22, it is never the case that e0 >= 20 holds.
After k0 >= 23 until b1 = 5, it is never the case that z0 < 23 holds.
Between c1 <= 24 and j1 <= 6, it is always the case that e0 = 3 holds.
Before u0 >= 4, it is always the case that if k0 >= 13 holds, then l1 < 30 eventually holds.
Before r0 = 29, it is always the case that if k1 >= 4 holds, then w0 > 10 eventually holds and is succeeded by j0 >= 18 .
Between a1 = 5 and o0 >= 24, it is always the case that if j1 > 28 holds and is succeeded by h0 > 6, then c1 > 5 previously held.
After i0 >= 28, it is always the case that if m0 = 30 holds, then d1 >= 29 eventually holds and is succeeded by l0 = 7 .
Before x0 <= 1, it is never the case that k1 >= 17 holds.
After l1 = 23, f0 = 9 eventually holds.
Between o0 <= 19 and e1 > 17, d1 = 19 eventually holds.
Globally, it is always the case that if e1 < 28 holds and is succeeded by k1 > 29, then k1 >= 30 eventually holds after k1 > 29 .
Globally, it is always the case that if q0 > 18 holds, then g1 < 2 previously held and was preceded by n0 >= 28 .
After a1 > 1, it is always the case that if e1 <= 6 holds and is succeeded by m1 >= 29, then c1 < 14 previously held.
Globally, it is always the case that if e0 = 15 holds and is succeeded by l1 <= 20, then m1 > 6 eventually holds after l1 <= 20 .
Globally, it is always the case that if l0 < 31 holds, then x0 >= 16 eventually holds and is succeeded by d0 < 23, where d1 = 17 does not hold between x0 >= 16 and d0 < 23 .
After k0 = 7, it is always the case that if s0 <= 24 holds and is succeeded by l1 <= 7, then x0 > 28 eventually holds after l1 <= 7 .
After a0 >= 4 until p0 < 11, it is always the case that i1 < 10 holds.
Globally, it is always the case that if g1 > 19 holds and is succeeded by j1 > 7, then t0 < 4 previously held.
Before d1 > 16, it is always the case that if i1 < 5 holds, then r0 = 17 eventually holds.
After d1 <= 18, it is never the case that e1 < 0 holds.
Before m0 >= 2, it is always the case that if a0 <= 23 holds, then y0 > 23 eventually holds and is succeeded by u0 <= 13, where h1 = 5 does not hold between y0 > 23 and u0 <= 13 .
After b0 = 24, it is always the case that if v0 >= 4 holds, then i0 <= 3 eventually holds and is succeeded by g1 = 6 .
Between s0 <= 18 and f0 > 9, it is always the case that z0 <= 30 holds.
Between i1 < 24 and c0 <= 18, it is always the case that if c0 = 2 holds and is succeeded by d0 <= 11, then h0 < 21 eventually holds after d0 <= 11 .
After i1 <= 15 until l1 >= 15, it is always the case that if m0 = 26 holds, then i0 < 29 eventually holds and is succeeded by c0 = 9, where v0 < 10 does not hold between i0 < 29 and c0 = 9 .
After o0 = 11 until m1 = 5, it is always the case that if k0 = 29 holds, then b1 <= 1 eventually holds.
Before m0 > 4, it is always the case that if a0 > 21 holds, then k1 > 15 previously held and was preceded by d0 >= 5 .
Globally, it is always the case that if e0 = 30 holds and is succeeded by q0 < 3, then i1 < 23 previously held.
Globally, it is always the case that u0 <= 20 holds.
Globally, it is always the case that if x0 >= 18 holds, then b1 > 5 eventually holds.
Globally, it is always the case that if b1 < 27 holds, then b1 <= 27 eventually holds and is succeeded by d1 >= 29 .
After m1 > 26, it is always the case that if v0 >= 23 holds, then c0 < 28 previously held and was preceded by c1 >= 12 .
After f1 < 29, e0 >= 16 eventually holds.
Between b1 > 5 and s0 < 16, it is always the case that if t0 < 10 holds and is succeeded by o0 <= 8, then d0 = 7 eventually holds after o0 <= 8 .
After g1 >= 15 until t0 > 27, m0 > 6 eventually holds.
Before b0 > 1, it is always the case that u0 > 14 holds.
Before d1 > 1, it is always the case that if y0 = 1 holds and is succeeded by o0 <= 1, then m0 < 29 previously held.
After g1 <= 17 until j1 = 29, u0 <= 29 eventually holds.
Between m0 >= 20 and l1 <= 6, it is always the case that if h0 <= 31 holds, then i1 >= 6 eventually holds.
After q0 = 5, it is always the case that if h1 >= 20 holds and is succeeded by h1 = 23, then n0 < 22 previously held.
Before i1 > 3, u0 = 14 eventually holds.
Before e1 >= 10, it is always the case that if h1 >= 24 holds, then f1 < 21 eventually holds.
Between w0 < 31 and c1 <= 11, it is always the case that y0 > 22 holds.
After e0 > 8 until e1 <= 9, it is always the case that if x0 = 4 holds, then m0 > 19 eventually holds and is succeeded by d0 = 23 .
Between u0 > 2 and u0 > 5, it is always the case that if n0 < 18 holds, then l0 <= 5 eventually holds and is succeeded by i1 <= 0, where r0 <= 25 does not hold between l0 <= 5 and i1 <= 0 .
Before b1 = 15, it is always the case that if f1 <= 25 holds, then e0 = 9 eventually holds and is succeeded by x0 >= 13 .
Globally, it is always the case that if j0 = 15 holds and is succeeded by z0 > 16, then i0 > 29 eventually holds after z0 > 16 .
After h1 >= 9, it is never the case that r0 = 31 holds.
Before b1 = 22, it is always the case that if h0 < 15 holds, then h0 > 21 previously held.
Between m0 >= 29 and p0 >= 16, it is always the case that if n0 = 5 holds, then y0 <= 11 previously held and was preceded by l1 = 24 .
Before t0 < 3, it is always the case that if i0 >= 2 holds and is succeeded by d1 = 11, then a1 > 26 previously held.
After p0 > 10 until c0 > 5, it is always the case that if h0 <= 28 holds, then s0 = 9 eventually holds and is succeeded by o0 < 27, where h0 >= 22 does not hold between s0 = 9 and o0 < 27 .
Before b1 > 7, u0 > 25 eventually holds.
Before f0 > 4, it is always the case that if o0 = 19 holds, then k0 < 18 eventually holds.
After h0 < 6, it is always the case that if m0 = 24 holds, then a1 = 30 eventually holds and is succeeded by l0 >= 7 .
After l1 < 17, it is always the case that if s0 >= 14 holds and is succeeded by z0 >= 3, then h0 = 6 previously held.
Before v0 < 13, it is always the case that if p0 <= 11 holds, then f0 <= 14 eventually holds and is succeeded by o0 < 21 .
Before f0 > 13, it is always the case that r0 >= 17 holds.
After m0 <= 4 until s0 >= 2, y0 < 9 eventually holds.
Between z0 = 25 and h1 = 14, it is always the case that if e0 < 19 holds, then m1 = 11 previously held and was preceded by j0 < 20 .
After s0 <= 12, it is always the case that if l1 > 9 holds and is succeeded by p0 <= 25, then i1 >= 17 previously held.
Globally, it is always the case that if h1 > 3 holds and is succeeded by w0 < 27, then c0 < 25 eventually holds after w0 < 27 .
After d0 > 17 until d1 <= 5, it is always the case that if y0 = 8 holds and is succeeded by f0 < 25, then k1 < 4 eventually holds after f0 < 25 .
