After x13 > 2, it is always the case that if a15 <= 2 holds, then y10 > 2 eventually holds and is succeeded by n5 = 3, where a6 < 0 does not hold between y10 > 2 and n5 = 3 .
Before j4 = 2, a11 < 1 eventually holds.
Before q1 > 0, it is always the case that if i14 = 2 holds, then f22 <= 0 previously held and was preceded by t8 > 1 .
Before y1 > 1, it is always the case that if j21 <= 1 holds and is succeeded by a9 < 0, then x15 >= 1 previously held.
Globally, it is always the case that if d16 >= 2 holds, then i14 = 0 eventually holds and is succeeded by g20 <= 1, where h7 >= 0 does not hold between i14 = 0 and g20 <= 1 .
Globally, it is always the case that if r19 > 3 holds and is succeeded by j13 <= 1, then g21 <= 2 eventually holds after j13 <= 1 .
After p19 = 1, it is always the case that if i17 <= 3 holds, then s20 > 3 eventually holds and is succeeded by j22 >= 3 .
After q16 <= 2 until n21 = 3, r1 = 1 eventually holds.
Between z0 <= 0 and q0 <= 2, it is always the case that if e2 = 3 holds, then o12 = 2 eventually holds.
Globally, it is always the case that if o23 < 3 holds, then w8 >= 1 eventually holds.
Before a0 < 2, it is always the case that if a8 <= 3 holds, then p1 <= 2 previously held and was preceded by e1 <= 2 .
Globally, it is never the case that l7 >= 1 holds.
After s0 = 2, it is always the case that if e13 >= 1 holds and is succeeded by u3 > 2, then h10 <= 0 previously held.
Before r5 > 2, o17 < 1 eventually holds.
Before f22 > 0, it is always the case that if t1 > 3 holds, then p21 = 0 previously held.
Globally, it is always the case that if w21 = 3 holds, then w11 <= 3 eventually holds.
After o10 < 3 until n3 >= 0, it is always the case that if i19 = 3 holds, then l15 <= 3 eventually holds and is succeeded by n6 < 3 .
After y8 > 1 until n2 < 3, it is always the case that if b2 < 3 holds, then d3 = 2 eventually holds and is succeeded by s14 < 2 .
Globally, it is always the case that b6 < 0 holds.
After d24 > 1, it is always the case that if l18 >= 1 holds, then w1 = 3 eventually holds and is succeeded by e15 = 3, where d0 < 2 does not hold between w1 = 3 and e15 = 3 .
After b13 <= 1 until w12 > 2, it is never the case that i12 <= 1 holds.
Before q0 <= 3, it is always the case that if m18 <= 3 holds, then w14 = 3 eventually holds and is succeeded by r6 = 1 .
Between g14 <= 0 and t11 = 0, it is always the case that o6 = 1 holds.
Between u23 < 3 and c17 = 3, it is always the case that if u7 < 2 holds, then w16 < 1 previously held and was preceded by e12 > 0 .
After k21 < 2, it is always the case that if g22 > 0 holds, then o19 >= 1 eventually holds and is succeeded by m24 <= 2 .
Before g6 <= 0, it is always the case that if d6 <= 1 holds, then e18 < 2 previously held and was preceded by b16 = 1 .
Before f13 > 0, it is always the case that if t9 >= 2 holds, then k24 <= 0 eventually holds and is succeeded by m14 <= 1, where p9 >= 2 does not hold between k24 <= 0 and m14 <= 1 .
Globally, it is always the case that if q1 = 2 holds, then y15 >= 1 eventually holds and is succeeded by n15 > 2, where y7 = 0 does not hold between y15 >= 1 and n15 > 2 .
Before x0 < 1, it is always the case that if x8 > 1 holds, then o1 > 3 eventually holds.
After u23 < 0 until g13 = 1, it is always the case that if k23 > 3 holds, then y20 >= 2 eventually holds and is succeeded by d12 <= 2 .
After a17 > 3, it is always the case that if g5 <= 0 holds, then v2 < 2 eventually holds.
Globally, it is always the case that if r4 > 0 holds, then q10 < 2 eventually holds and is succeeded by s5 = 1 .
Between w2 < 2 and q22 > 0, it is always the case that if e24 <= 1 holds and is succeeded by x21 < 2, then l20 = 0 eventually holds after x21 < 2 .
Before g0 > 0, it is always the case that if k10 >= 3 holds and is succeeded by n8 > 2, then i11 > 3 eventually holds after n8 > 2 .
After u10 <= 2, it is always the case that x4 >= 1 holds.
Before o2 >= 0, it is always the case that if i15 < 2 holds, then n7 > 3 previously held and was preceded by f21 > 3 .
Between o12 <= 0 and a8 < 3, it is always the case that w21 < 2 holds.
After m8 >= 0 until p8 >= 2, it is always the case that if p3 < 0 holds, then n22 >= 0 eventually holds and is succeeded by a7 >= 1 .
Globally, it is always the case that if o8 >= 2 holds, then o2 < 2 previously held and was preceded by y10 <= 0 .
Before g7 < 3, it is always the case that t10 = 0 holds.
After q0 >= 2 until p4 <= 1, it is always the case that c15 = 0 holds.
After c12 < 0 until l11 > 0, it is never the case that g21 = 3 holds.
After d18 >= 3, it is always the case that if q2 < 0 holds, then a21 > 3 eventually holds and is succeeded by k2 > 1 .
After q2 < 2, it is always the case that if f18 <= 0 holds, then a1 <= 3 eventually holds and is succeeded by c19 < 1, where g8 = 0 does not hold between a1 <= 3 and c19 < 1 .
After k8 < 0 until q11 >= 0, it is always the case that t21 < 3 holds.
Before d19 <= 2, it is always the case that if y3 = 2 holds and is succeeded by l1 < 3, then i12 >= 1 previously held.
After j11 < 3 until f3 <= 1, it is never the case that z19 < 1 holds.
Before w9 >= 3, it is always the case that if s22 > 3 holds, then g18 <= 2 previously held.
Between b6 <= 2 and k2 = 0, d5 <= 2 eventually holds.
After g16 <= 1 until p12 > 3, it is always the case that if i17 = 3 holds, then r11 >= 0 previously held and was preceded by p16 > 1 .
After s16 >= 0, it is never the case that t14 < 3 holds.
Between w7 < 1 and h12 <= 0, it is always the case that if u17 <= 3 holds, then z1 > 0 previously held and was preceded by p16 = 1 .
After c7 > 2, it is always the case that if c10 <= 2 holds and is succeeded by m0 = 2, then p9 > 2 eventually holds after m0 = 2 .
After e10 > 2 until h3 = 1, it is always the case that if w12 <= 2 holds, then c12 > 2 eventually holds and is succeeded by u4 >= 0 .
Between b18 >= 3 and b21 >= 3, it is always the case that if w5 >= 2 holds and is succeeded by m22 < 1, then r6 < 0 previously held.
Between n23 = 1 and x11 > 2, it is always the case that h9 < 2 holds.
Globally, it is always the case that if a9 = 0 holds, then z7 <= 1 previously held and was preceded by z21 >= 3 .
After f17 = 1 until k6 = 0, it is always the case that v6 = 2 holds.
Between f1 < 1 and l24 = 1, it is always the case that if i19 < 1 holds, then e4 = 2 previously held.
After n6 < 1 until i3 >= 2, it is never the case that b17 = 1 holds.
Globally, it is always the case that f12 <= 0 holds.
Between b5 < 1 and a18 < 1, it is always the case that if g20 > 1 holds, then q8 > 2 previously held and was preceded by s15 < 3 .
After a22 < 3 until o22 < 2, it is never the case that e13 > 2 holds.
Before u9 = 1, it is always the case that if o9 > 0 holds, then e8 = 0 eventually holds and is succeeded by p9 <= 1, where e10 <= 3 does not hold between e8 = 0 and p9 <= 1 .
After u20 > 0, it is always the case that k20 <= 3 holds.
Before d13 < 0, it is always the case that if e24 < 1 holds and is succeeded by d12 = 0, then o24 > 1 eventually holds after d12 = 0 .
Before j19 <= 1, a2 < 2 eventually holds.
After r16 > 3 until m17 = 2, it is always the case that if r3 > 0 holds and is succeeded by s11 <= 2, then r20 = 2 eventually holds after s11 <= 2 .
Between z9 <= 0 and j18 >= 0, it is always the case that if j9 <= 3 holds, then x15 > 0 eventually holds and is succeeded by u6 > 2, where w19 >= 3 does not hold between x15 > 0 and u6 > 2 .
Before d7 <= 2, it is always the case that if l3 > 2 holds, then g21 > 2 eventually holds.
Between e5 <= 2 and e18 < 1, it is always the case that if v5 <= 0 holds and is succeeded by m15 > 3, then s7 > 1 eventually holds after m15 > 3 .
After f24 = 3 until m10 <= 1, it is always the case that if m21 >= 1 holds, then a24 < 3 previously held and was preceded by w4 = 2 .
Globally, it is always the case that if q20 = 3 holds, then f15 = 3 eventually holds and is succeeded by s13 >= 2 .
Globally, it is always the case that if j13 >= 0 holds, then o0 >= 0 eventually holds and is succeeded by w19 >= 3 .
After d11 < 2 until i17 <= 2, it is always the case that if w23 > 1 holds and is succeeded by i5 <= 2, then i22 > 0 eventually holds after i5 <= 2 .
After x17 < 0, it is always the case that f5 = 0 holds.
Before b0 >= 2, it is never the case that w8 = 3 holds.
Between d7 > 2 and j11 <= 3, it is always the case that if p10 > 2 holds and is succeeded by s14 < 2, then w22 > 2 previously held.
After n2 >= 1 until d22 <= 0, it is always the case that if r15 = 3 holds, then v3 < 1 eventually holds.
Between h12 < 1 and h14 >= 2, it is always the case that if i22 > 3 holds, then g24 >= 2 previously held.
Globally, it is always the case that if w12 = 2 holds, then c12 < 3 eventually holds and is succeeded by r20 <= 2, where r8 > 2 does not hold between c12 < 3 and r20 <= 2 .
Between z9 < 3 and p7 > 2, it is never the case that x22 < 1 holds.
Globally, it is always the case that if l9 < 1 holds and is succeeded by s20 = 3, then i15 = 3 previously held.
After g24 = 2, it is always the case that if k21 < 0 holds and is succeeded by k4 < 3, then o23 < 0 previously held.
After o13 > 1, it is always the case that if h8 > 2 holds, then t14 > 0 previously held.
After s3 >= 1 until c9 = 1, it is always the case that if b21 < 3 holds and is succeeded by e24 <= 0, then a3 >= 3 previously held.
Between q8 = 0 and k14 <= 3, it is always the case that if v13 = 1 holds, then w3 = 3 eventually holds and is succeeded by i9 <= 3, where w12 <= 1 does not hold between w3 = 3 and i9 <= 3 .
Before f13 > 1, it is always the case that if r2 > 0 holds and is succeeded by p17 >= 2, then o16 > 3 eventually holds after p17 >= 2 .
Globally, it is always the case that if y3 <= 2 holds and is succeeded by e16 >= 0, then d18 < 2 previously held.
After u13 <= 2 until j9 < 3, it is always the case that if y22 >= 2 holds, then n12 = 0 previously held and was preceded by q21 <= 3 .
After u2 > 0 until k1 = 0, it is always the case that if a3 <= 1 holds, then j20 = 0 eventually holds.
Before e20 < 3, v11 >= 0 eventually holds.
After i9 = 2 until f7 > 2, it is always the case that if t16 >= 3 holds, then f3 = 2 eventually holds and is succeeded by c7 > 1, where r22 <= 2 does not hold between f3 = 2 and c7 > 1 .
Between y4 <= 0 and s23 >= 1, it is always the case that w15 < 1 holds.
Between j23 <= 3 and m23 > 1, x20 < 2 eventually holds.
Before k23 < 0, it is always the case that if n24 >= 2 holds, then h17 <= 3 eventually holds.
Before f2 < 1, it is always the case that if f19 >= 2 holds and is succeeded by b21 = 3, then v19 > 2 previously held.
After w22 <= 2 until t20 > 1, it is always the case that if k18 > 2 holds and is succeeded by r4 >= 3, then k24 >= 2 eventually holds after r4 >= 3 .
Globally, it is always the case that if c19 > 2 holds and is succeeded by c11 < 2, then t12 < 2 previously held.
Before f6 = 0, it is always the case that if p2 < 1 holds, then n5 < 0 previously held.
Before k17 >= 1, it is always the case that if x16 > 2 holds, then y23 < 2 previously held and was preceded by v16 > 1 .
Before d21 > 0, it is always the case that if y1 <= 2 holds and is succeeded by g1 > 0, then p5 < 1 eventually holds after g1 > 0 .
Globally, it is always the case that if a17 <= 3 holds, then j18 < 2 eventually holds and is succeeded by p9 > 0, where x8 = 1 does not hold between j18 < 2 and p9 > 0 .
Between v14 <= 2 and v13 <= 1, it is always the case that if s15 = 0 holds, then f24 > 0 eventually holds and is succeeded by d2 >= 1 .
After a5 > 3, it is never the case that g22 >= 2 holds.
Before w13 = 2, it is always the case that if a1 = 3 holds, then h8 = 0 eventually holds and is succeeded by v2 <= 2, where w10 = 3 does not hold between h8 = 0 and v2 <= 2 .
After m15 > 2, it is always the case that if a17 < 2 holds and is succeeded by z23 = 2, then r17 = 3 previously held.
After j2 >= 3 until j11 >= 2, it is always the case that if y8 >= 1 holds, then p6 < 1 eventually holds and is succeeded by v18 = 3, where n2 = 1 does not hold between p6 < 1 and v18 = 3 .
Before r2 < 3, it is always the case that if e5 > 1 holds, then c9 = 0 eventually holds and is succeeded by r1 > 2, where f9 <= 0 does not hold between c9 = 0 and r1 > 2 .
After e18 > 0, it is always the case that if f12 > 0 holds and is succeeded by n15 >= 1, then k17 > 1 eventually holds after n15 >= 1 .
Globally, it is always the case that if h10 <= 0 holds and is succeeded by p9 < 2, then e18 <= 2 previously held.
Between m6 = 1 and n10 <= 3, it is never the case that l15 <= 3 holds.
Before o0 <= 0, it is always the case that if y8 < 1 holds, then i20 > 3 eventually holds and is succeeded by d16 <= 2, where f7 < 2 does not hold between i20 > 3 and d16 <= 2 .
After l2 = 0, it is always the case that if g11 < 1 holds, then i6 <= 2 previously held.
Before c3 > 1, it is always the case that if j24 <= 1 holds, then x20 <= 2 eventually holds.
Globally, it is always the case that if s6 >= 0 holds, then j14 <= 3 eventually holds.
Before w10 >= 3, it is never the case that x3 = 0 holds.
After a20 = 1, it is always the case that if s1 < 1 holds and is succeeded by k18 = 1, then p23 > 1 previously held.
Globally, it is always the case that j24 = 0 holds.
Globally, it is always the case that if i20 <= 0 holds, then x18 >= 1 previously held and was preceded by x2 < 1 .
Before u20 > 1, p10 >= 2 eventually holds.
Before m7 < 3, it is always the case that if a8 = 2 holds, then c1 < 0 previously held.
After z23 < 2 until n17 <= 3, it is always the case that if t18 > 3 holds, then s12 <= 1 eventually holds and is succeeded by p15 = 1, where e2 = 3 does not hold between s12 <= 1 and p15 = 1 .
Before g3 <= 1, it is always the case that a14 >= 3 holds.
Before u20 >= 0, w6 <= 1 eventually holds.
Before z23 < 0, y3 = 2 eventually holds.
Before m12 >= 2, it is never the case that x13 > 0 holds.
Between r16 >= 1 and j9 <= 1, it is always the case that if b16 >= 2 holds, then o2 < 2 previously held.
Globally, it is never the case that l5 <= 2 holds.
Globally, it is always the case that if t13 < 1 holds, then u6 >= 2 previously held and was preceded by q6 < 0 .
After v0 > 3 until q8 < 2, it is always the case that if r9 = 3 holds, then p8 > 1 eventually holds and is succeeded by o14 < 0, where x11 <= 2 does not hold between p8 > 1 and o14 < 0 .
Between j12 > 1 and e22 >= 3, it is always the case that y15 > 3 holds.
Globally, it is always the case that if k15 < 0 holds, then s3 < 3 previously held and was preceded by g20 > 1 .
After t5 = 0 until g17 > 3, it is always the case that t0 = 1 holds.
After z1 = 0 until k0 > 0, it is always the case that if v14 > 2 holds and is succeeded by h2 = 3, then x8 = 2 eventually holds after h2 = 3 .
Before t22 <= 1, it is always the case that if h7 >= 2 holds and is succeeded by j2 < 2, then a24 = 2 previously held.
Globally, l8 = 2 eventually holds.
Before g0 = 0, it is always the case that if e14 = 1 holds and is succeeded by g3 > 2, then x14 > 2 eventually holds after g3 > 2 .
Before u14 <= 3, it is always the case that if u14 >= 3 holds, then a10 >= 1 eventually holds and is succeeded by b14 <= 3 .
Before r11 <= 0, it is never the case that z20 > 0 holds.
Globally, it is always the case that if g12 >= 2 holds, then a22 < 1 previously held.
After d4 = 2 until c21 > 1, it is always the case that x17 > 3 holds.
After z17 < 2, y4 >= 2 eventually holds.
After h16 <= 0 until i12 <= 2, it is always the case that if b18 < 2 holds, then z0 < 1 previously held and was preceded by y15 > 1 .
After v18 <= 2, it is always the case that if j11 = 0 holds, then b21 < 3 previously held and was preceded by a5 <= 2 .
Globally, it is always the case that if w15 >= 1 holds, then c18 < 1 eventually holds and is succeeded by k0 >= 1, where q6 = 1 does not hold between c18 < 1 and k0 >= 1 .
Globally, it is always the case that z6 < 0 holds.
Globally, it is always the case that if q22 < 2 holds, then h11 <= 2 previously held.
After t10 >= 3 until j7 > 2, it is always the case that if p5 < 2 holds, then e5 >= 0 eventually holds and is succeeded by p5 >= 3 .
After h21 < 0, it is always the case that if n18 < 3 holds and is succeeded by g19 > 1, then g14 > 0 previously held.
Globally, it is always the case that if i24 > 0 holds and is succeeded by m11 = 1, then w9 < 2 eventually holds after m11 = 1 .
Before t12 <= 3, it is always the case that if w8 < 1 holds and is succeeded by y6 < 0, then r23 < 0 eventually holds after y6 < 0 .
Before k18 < 2, it is always the case that t3 <= 2 holds.
After l15 = 0 until z16 = 1, it is always the case that if p17 < 0 holds, then b2 < 1 eventually holds and is succeeded by u18 > 1, where w17 > 2 does not hold between b2 < 1 and u18 > 1 .
After j2 >= 3, it is always the case that if b18 > 1 holds and is succeeded by j7 < 1, then w0 < 1 previously held.
Before u3 > 0, it is always the case that if l14 < 2 holds, then w12 = 3 eventually holds.
After l0 = 0 until k16 <= 3, it is always the case that if h11 < 2 holds, then a6 > 0 eventually holds.
After n20 < 1, it is never the case that u15 < 0 holds.
Between g18 = 2 and s6 > 1, it is always the case that if p18 > 3 holds, then p10 = 3 eventually holds and is succeeded by i4 > 0 .
After g16 = 1 until r6 < 0, it is always the case that if f1 < 1 holds and is succeeded by g19 < 2, then w4 > 0 previously held.
Before h2 = 2, it is always the case that if t9 >= 1 holds, then e2 > 2 previously held and was preceded by w17 < 3 .
After m6 <= 3 until v4 < 2, it is always the case that p8 >= 2 holds.
Before f14 <= 2, it is always the case that if g4 < 3 holds and is succeeded by g8 < 3, then p9 = 3 previously held.
Between j1 = 3 and t20 = 1, it is always the case that if s22 = 2 holds, then m22 <= 2 eventually holds.
Between o5 <= 1 and p2 < 0, it is always the case that if e14 > 3 holds and is succeeded by g7 >= 0, then u19 > 0 previously held.
Before d17 = 2, it is always the case that if c7 > 2 holds and is succeeded by i0 < 3, then k12 <= 1 previously held.
Globally, it is always the case that if o19 > 2 holds, then d3 > 2 eventually holds and is succeeded by f24 < 2, where o5 = 1 does not hold between d3 > 2 and f24 < 2 .
After a13 >= 3 until h18 <= 1, it is always the case that if h0 > 1 holds, then c22 < 3 eventually holds and is succeeded by x8 = 3 .
Before g14 < 2, it is always the case that if k16 <= 0 holds, then r20 > 0 previously held.
Before v8 >= 0, it is always the case that b20 > 1 holds.
After b14 < 2, it is always the case that if e0 < 0 holds and is succeeded by m1 >= 2, then j19 >= 2 eventually holds after m1 >= 2 .
Between v4 >= 2 and m0 >= 0, it is always the case that if r23 >= 3 holds, then d3 > 1 eventually holds.
Before f22 > 3, it is always the case that q23 >= 2 holds.
After u2 <= 1 until r5 > 2, it is always the case that if b8 > 0 holds, then u20 = 0 eventually holds and is succeeded by c7 >= 2, where h16 = 0 does not hold between u20 = 0 and c7 >= 2 .
Between t16 > 0 and c1 < 2, it is always the case that if o18 >= 2 holds and is succeeded by x17 <= 3, then h5 < 3 eventually holds after x17 <= 3 .
Globally, it is always the case that r3 >= 1 holds.
Before r18 >= 3, it is always the case that if z11 = 0 holds, then v4 < 2 previously held and was preceded by r22 = 0 .
Between x1 <= 1 and x16 >= 2, it is always the case that if p16 > 3 holds, then t16 = 1 previously held and was preceded by w23 < 2 .
After l10 >= 0 until k16 >= 3, it is always the case that p22 >= 0 holds.
After h17 < 0 until j12 < 0, it is always the case that if v13 = 1 holds, then w20 > 3 eventually holds.
Before g9 <= 2, it is always the case that if y2 <= 2 holds and is succeeded by d0 <= 0, then t17 > 0 eventually holds after d0 <= 0 .
After x19 = 2, it is always the case that if h2 <= 3 holds, then w17 > 3 eventually holds and is succeeded by y0 < 3 .
Globally, it is never the case that l18 = 0 holds.
Before l18 < 3, l3 < 3 eventually holds.
After a9 >= 2 until q13 <= 2, it is never the case that e18 > 0 holds.
Before p4 = 2, f4 >= 0 eventually holds.
After k18 = 2, it is always the case that if z11 > 3 holds and is succeeded by q7 <= 0, then x2 < 1 previously held.
After v6 > 2 until o16 <= 0, it is never the case that h8 >= 2 holds.
After k3 >= 2 until u21 = 3, it is always the case that if w8 <= 1 holds, then f10 < 0 previously held and was preceded by z8 <= 1 .
Before n9 <= 0, it is always the case that if b16 <= 1 holds, then x11 >= 0 eventually holds.
Before e2 < 2, it is always the case that if d13 > 2 holds, then q14 > 3 eventually holds and is succeeded by z12 >= 3, where m19 >= 2 does not hold between q14 > 3 and z12 >= 3 .
After x23 = 0 until p16 >= 0, e15 > 3 eventually holds.
After j22 >= 2 until i7 <= 1, it is always the case that if y9 >= 2 holds, then s10 <= 1 previously held.
Before k2 < 3, it is always the case that if v16 >= 3 holds, then p17 = 3 eventually holds and is succeeded by t7 <= 2 .
After o3 = 2 until t0 < 3, it is always the case that if u18 = 3 holds and is succeeded by r12 >= 2, then s17 < 2 eventually holds after r12 >= 2 .
After e9 >= 2, it is never the case that x2 > 2 holds.
Before o14 > 0, f21 >= 0 eventually holds.
After g16 > 0 until c20 < 1, it is never the case that r9 >= 1 holds.
Globally, it is always the case that if d17 <= 1 holds and is succeeded by a4 < 3, then d19 > 2 previously held.
After t12 >= 3 until h5 >= 2, it is always the case that if u12 > 3 holds, then y3 >= 3 eventually holds and is succeeded by u6 < 0, where w13 >= 1 does not hold between y3 >= 3 and u6 < 0 .
After i15 = 2, y3 > 0 eventually holds.
Between d3 <= 0 and o7 = 1, it is always the case that if d18 <= 3 holds, then t8 >= 0 eventually holds and is succeeded by q11 >= 3, where m1 >= 1 does not hold between t8 >= 0 and q11 >= 3 .
After n8 < 0, it is always the case that if g8 >= 1 holds, then w10 >= 1 previously held.
Before o9 >= 0, it is always the case that if x5 = 2 holds and is succeeded by p2 < 0, then r9 > 2 previously held.
Between z16 <= 0 and j24 <= 2, it is always the case that if t15 = 3 holds, then i0 <= 2 previously held and was preceded by w12 < 1 .
Between l12 = 1 and s4 < 3, it is always the case that if d0 = 2 holds, then o19 > 2 previously held.
After n2 <= 0 until l13 <= 1, it is always the case that if w18 < 0 holds, then x11 > 2 previously held.
Between p23 > 0 and f23 < 1, it is never the case that n21 <= 0 holds.
After d4 <= 3 until u14 < 2, it is always the case that if i10 >= 2 holds, then f24 < 0 eventually holds and is succeeded by g4 < 0, where s1 = 0 does not hold between f24 < 0 and g4 < 0 .
After i21 = 1 until u13 > 3, it is always the case that if h0 > 2 holds, then n2 < 2 eventually holds and is succeeded by a16 <= 1 .
Globally, it is always the case that if g1 <= 2 holds, then w23 <= 0 previously held and was preceded by h4 >= 0 .
Before n14 <= 1, it is always the case that if z20 >= 3 holds, then t1 <= 1 previously held.
Before k15 >= 2, it is never the case that v10 = 2 holds.
Globally, it is always the case that if m19 > 1 holds, then m17 < 0 eventually holds and is succeeded by r2 < 2, where d23 <= 3 does not hold between m17 < 0 and r2 < 2 .
Globally, it is always the case that if m8 = 2 holds, then s18 = 0 previously held.
Between u6 > 1 and y19 < 2, it is always the case that if r15 > 0 holds, then j13 = 0 eventually holds and is succeeded by e6 = 1 .
Between z19 >= 0 and d20 = 1, it is always the case that if d7 = 3 holds, then y18 >= 2 eventually holds and is succeeded by x3 > 3 .
Globally, it is always the case that p4 >= 1 holds.
Globally, it is always the case that if q0 > 1 holds, then z17 >= 1 previously held and was preceded by j2 >= 2 .
Before x18 > 1, it is never the case that p14 > 0 holds.
Globally, it is always the case that if a11 <= 1 holds and is succeeded by v12 > 1, then w22 < 0 eventually holds after v12 > 1 .
After g24 <= 2 until o14 <= 0, k4 <= 3 eventually holds.
Before q23 > 0, it is always the case that if g10 < 1 holds, then c14 > 0 previously held and was preceded by k19 >= 0 .
Globally, it is never the case that a10 > 2 holds.
Globally, it is always the case that i20 <= 0 holds.
Before a12 >= 2, it is always the case that if k19 <= 2 holds, then y9 = 1 eventually holds and is succeeded by e21 < 0 .
After z7 = 1, it is always the case that if q13 > 1 holds, then f6 = 3 previously held.
After f8 < 0 until a18 <= 1, m1 >= 1 eventually holds.
After j17 = 2, it is always the case that if r21 >= 0 holds, then d6 >= 0 previously held.
After u16 <= 0 until d22 > 2, it is always the case that y4 >= 0 holds.
Before p9 < 2, it is always the case that if y1 = 1 holds, then z5 > 0 previously held.
Globally, it is always the case that if x23 >= 2 holds and is succeeded by u17 > 0, then z20 = 2 eventually holds after u17 > 0 .
Before k18 >= 3, it is always the case that if h21 < 3 holds and is succeeded by l5 >= 2, then r4 = 3 previously held.
Between y21 = 3 and m15 < 0, it is always the case that if m7 < 2 holds, then n8 >= 3 previously held.
After d12 <= 0 until u12 > 1, n12 < 2 eventually holds.
Before a7 >= 1, it is always the case that if e6 = 1 holds, then b9 > 0 eventually holds and is succeeded by c19 <= 0, where n24 < 3 does not hold between b9 > 0 and c19 <= 0 .
After k14 <= 1, it is always the case that if g24 >= 1 holds and is succeeded by r7 >= 3, then t21 >= 1 previously held.
Before g9 = 0, it is always the case that x17 > 2 holds.
Globally, it is always the case that if o4 <= 3 holds and is succeeded by h8 = 1, then v17 < 1 eventually holds after h8 = 1 .
After e3 >= 0 until g6 < 0, it is always the case that if m1 <= 0 holds, then n1 = 1 previously held and was preceded by o14 = 0 .
