Before s21 = 6, it is always the case that if h6 <= 1 holds, then p21 > 0 eventually holds and is succeeded by m21 < 5 .
After u15 <= 1 until i0 < 3, it is always the case that if c0 >= 1 holds, then y18 = 1 previously held and was preceded by b6 < 2 .
Before i7 < 0, it is always the case that if q23 = 1 holds and is succeeded by v6 < 0, then b1 <= 4 previously held.
After z10 = 2, n1 < 0 eventually holds.
Before r11 >= 7, it is always the case that if c3 = 7 holds, then w8 = 2 previously held and was preceded by q11 <= 1 .
Globally, it is always the case that c21 = 1 holds.
After z2 >= 7 until b13 >= 1, it is always the case that if v13 = 4 holds, then z16 <= 0 previously held and was preceded by i3 < 1 .
After i15 >= 7 until w19 = 3, it is always the case that if z9 >= 2 holds, then j16 > 7 previously held and was preceded by f5 < 1 .
After c12 <= 6, it is always the case that if l11 > 6 holds, then a20 < 3 eventually holds and is succeeded by u11 <= 2, where f24 <= 0 does not hold between a20 < 3 and u11 <= 2 .
Globally, it is always the case that if a20 >= 6 holds, then w16 > 6 eventually holds and is succeeded by i24 > 1, where q20 >= 5 does not hold between w16 > 6 and i24 > 1 .
After q0 <= 2, it is always the case that if s14 > 3 holds, then s0 >= 6 eventually holds and is succeeded by v23 > 6 .
After a23 <= 7, w23 > 0 eventually holds.
Globally, it is always the case that t21 <= 4 holds.
After k0 > 6 until d18 = 6, it is always the case that if i3 > 2 holds and is succeeded by i20 >= 2, then k7 >= 5 previously held.
Between l17 <= 7 and j18 <= 4, it is always the case that l8 <= 4 holds.
After j16 > 2 until d20 = 4, it is always the case that if w4 >= 0 holds and is succeeded by i2 = 6, then o2 = 0 eventually holds after i2 = 6 .
Before c5 = 6, it is always the case that if z2 > 2 holds and is succeeded by f5 > 6, then d23 = 0 eventually holds after f5 > 6 .
After n21 <= 6 until b24 >= 0, it is always the case that if o3 > 5 holds, then p14 >= 0 eventually holds.
After b12 > 3, it is always the case that if z19 <= 5 holds and is succeeded by a17 >= 0, then w20 < 5 previously held.
After d9 > 5, it is never the case that f9 < 1 holds.
Globally, b11 > 5 eventually holds.
Between t7 > 4 and m0 >= 6, it is never the case that k15 >= 2 holds.
After c0 < 4 until k21 > 7, it is always the case that c3 = 7 holds.
Between u12 = 7 and y16 <= 0, it is always the case that if e18 >= 6 holds, then u6 >= 0 previously held and was preceded by z10 = 0 .
Between w20 = 3 and l19 < 5, it is always the case that if t19 > 7 holds, then u19 <= 1 previously held and was preceded by a5 < 3 .
Between v4 >= 6 and g15 >= 0, it is always the case that if d14 >= 3 holds, then i6 <= 4 eventually holds and is succeeded by j12 < 2 .
Before x13 < 7, it is always the case that if o19 >= 5 holds and is succeeded by x1 > 5, then t16 <= 7 eventually holds after x1 > 5 .
Globally, it is always the case that if f6 = 4 holds, then g9 = 0 previously held and was preceded by m20 = 4 .
After d8 >= 3, it is never the case that j7 <= 3 holds.
After h11 > 1, it is always the case that if s12 >= 3 holds, then e6 > 2 eventually holds and is succeeded by v2 <= 7, where e21 < 4 does not hold between e6 > 2 and v2 <= 7 .
After v9 > 6, it is always the case that if w4 < 4 holds, then g0 > 2 eventually holds.
After y6 < 5, it is always the case that if n14 <= 0 holds, then w21 < 1 previously held and was preceded by i24 < 2 .
Globally, it is always the case that if d24 > 5 holds and is succeeded by x3 < 1, then t5 >= 2 previously held.
Globally, it is always the case that if s22 >= 5 holds, then b3 >= 2 previously held and was preceded by i21 >= 6 .
Before v21 < 7, it is always the case that o10 < 6 holds.
After m12 < 6 until a24 > 6, it is always the case that if z3 = 3 holds, then k4 = 5 eventually holds.
Between l19 >= 0 and d18 <= 3, it is always the case that if f0 > 3 holds, then x23 <= 2 previously held.
Globally, it is always the case that if b13 < 7 holds and is succeeded by o16 >= 2, then l7 >= 2 previously held.
Between m3 <= 4 and g8 > 2, it is always the case that if a21 > 0 holds, then q2 > 2 previously held and was preceded by m17 = 4 .
Globally, it is always the case that if u7 >= 1 holds, then l16 > 3 eventually holds and is succeeded by l22 = 1, where p14 >= 2 does not hold between l16 > 3 and l22 = 1 .
After l18 >= 3, it is always the case that if d6 > 1 holds, then f9 <= 2 previously held and was preceded by t6 >= 1 .
Between s8 < 6 and d20 >= 0, it is never the case that w6 <= 4 holds.
Between v5 >= 3 and n24 = 1, it is always the case that if r12 = 6 holds and is succeeded by m14 > 7, then r22 > 7 eventually holds after m14 > 7 .
Between f14 < 5 and c23 < 0, it is always the case that if f17 > 4 holds, then m20 <= 0 previously held.
After l21 > 2, it is always the case that i12 < 7 holds.
After x7 < 2 until d20 >= 2, it is always the case that if l2 < 5 holds, then b1 <= 4 eventually holds.
After g3 <= 4, it is always the case that d11 > 3 holds.
After b15 > 5, it is always the case that if d5 = 7 holds, then m16 <= 3 eventually holds.
Between c8 <= 4 and m8 < 2, it is always the case that if v12 <= 1 holds and is succeeded by r19 <= 2, then m15 < 0 previously held.
Globally, it is always the case that if e10 > 4 holds, then v0 < 4 eventually holds and is succeeded by d9 > 3 .
Globally, it is always the case that if v20 <= 0 holds and is succeeded by s4 = 2, then q21 > 3 eventually holds after s4 = 2 .
Between q23 < 2 and s17 = 3, s11 = 4 eventually holds.
After q20 < 5, it is always the case that if x9 < 6 holds, then c5 <= 4 eventually holds and is succeeded by g11 = 0, where j18 >= 7 does not hold between c5 <= 4 and g11 = 0 .
Before n17 > 2, it is always the case that if e4 > 5 holds, then f2 = 4 eventually holds.
After u20 >= 1, it is always the case that if f24 < 2 holds and is succeeded by t13 > 1, then i15 = 2 previously held.
Between w6 >= 6 and q20 < 5, it is always the case that if u3 = 4 holds and is succeeded by t14 <= 6, then p5 <= 6 previously held.
Globally, it is always the case that if o6 < 7 holds, then u13 <= 7 eventually holds and is succeeded by d3 <= 4, where w7 >= 0 does not hold between u13 <= 7 and d3 <= 4 .
After e22 = 3 until w16 >= 3, it is always the case that if x19 >= 0 holds and is succeeded by d4 = 3, then l3 < 2 previously held.
Between l17 = 1 and w3 > 7, it is always the case that if n7 <= 4 holds, then t8 = 5 previously held and was preceded by j3 < 0 .
Between x10 > 7 and r4 <= 2, it is never the case that u13 <= 2 holds.
After g12 < 3 until q16 <= 7, it is always the case that if a22 <= 6 holds and is succeeded by u11 = 6, then c16 <= 3 previously held.
Globally, it is never the case that d11 > 7 holds.
Between b23 = 1 and l9 = 5, it is always the case that if g21 = 2 holds, then b20 = 5 eventually holds and is succeeded by a16 < 0 .
After c8 < 4, it is always the case that if w9 >= 7 holds and is succeeded by k14 = 0, then t0 >= 6 previously held.
Between e4 < 1 and l13 < 2, i2 = 0 eventually holds.
After p13 = 3 until i11 > 4, it is always the case that if f1 >= 0 holds and is succeeded by u8 = 5, then m1 <= 0 eventually holds after u8 = 5 .
Before m20 <= 7, it is never the case that a11 >= 4 holds.
After r12 <= 1, it is always the case that if v20 > 3 holds and is succeeded by a4 = 4, then g21 = 4 eventually holds after a4 = 4 .
Before l7 < 4, it is always the case that if b8 = 2 holds, then s20 >= 2 eventually holds and is succeeded by a6 < 3, where d13 <= 3 does not hold between s20 >= 2 and a6 < 3 .
Before e10 = 3, it is always the case that if b7 < 2 holds, then q8 > 1 previously held.
Globally, it is always the case that if a6 < 3 holds, then y0 >= 0 eventually holds and is succeeded by g17 > 5 .
Between m1 <= 3 and r17 >= 5, it is never the case that u17 = 2 holds.
Before u20 < 4, it is always the case that if u6 <= 0 holds, then z22 < 0 previously held and was preceded by j5 >= 6 .
Before z17 >= 5, it is always the case that if l20 < 4 holds, then t11 = 7 previously held and was preceded by x13 < 5 .
After p15 > 0 until g24 > 2, it is always the case that if q3 < 5 holds and is succeeded by d21 > 5, then q13 > 5 previously held.
After z11 >= 6 until j23 > 5, c6 >= 6 eventually holds.
After r11 <= 3 until a18 = 6, it is always the case that if i0 > 6 holds, then y11 > 7 eventually holds and is succeeded by o1 = 5, where k2 <= 6 does not hold between y11 > 7 and o1 = 5 .
After q5 > 3, it is always the case that if g20 < 5 holds, then i16 <= 2 eventually holds and is succeeded by f17 < 1, where x0 <= 4 does not hold between i16 <= 2 and f17 < 1 .
Before n11 > 5, it is always the case that if y1 < 1 holds and is succeeded by v6 < 2, then a21 >= 0 eventually holds after v6 < 2 .
After b3 >= 6, it is always the case that if c22 = 0 holds, then n3 >= 0 previously held.
Before p22 >= 0, it is always the case that if s5 > 3 holds, then l18 >= 0 previously held and was preceded by h7 >= 4 .
After p8 > 3 until f23 >= 3, it is always the case that if m24 <= 6 holds, then l6 < 3 previously held and was preceded by g24 >= 5 .
After n24 >= 7 until w8 < 7, it is always the case that if o7 <= 6 holds and is succeeded by s11 > 2, then r12 <= 5 eventually holds after s11 > 2 .
Globally, d15 > 5 eventually holds.
After d22 = 0 until x18 <= 2, it is always the case that if c9 > 4 holds, then e5 >= 3 previously held.
After n3 <= 7, it is always the case that if p5 = 6 holds, then t22 = 7 eventually holds.
After f17 >= 7 until g9 > 4, it is always the case that if y21 <= 2 holds, then p12 < 5 eventually holds and is succeeded by c23 > 5, where a0 < 4 does not hold between p12 < 5 and c23 > 5 .
After r1 >= 5 until i9 < 0, it is always the case that if s21 > 5 holds, then x9 <= 2 previously held and was preceded by a11 <= 4 .
Before w22 >= 0, it is always the case that h17 >= 7 holds.
After w3 > 7 until o8 = 5, it is always the case that if x22 = 3 holds, then u19 >= 0 previously held.
After h11 = 4, it is never the case that r17 > 1 holds.
After h9 > 4 until s17 <= 2, it is always the case that s3 >= 3 holds.
Globally, it is always the case that if p1 = 6 holds, then t18 >= 7 previously held and was preceded by i2 <= 0 .
Between c2 >= 7 and k6 <= 6, it is never the case that k1 > 2 holds.
After c8 >= 2, it is always the case that if f10 <= 6 holds and is succeeded by g10 >= 1, then u17 >= 0 eventually holds after g10 >= 1 .
Before n10 >= 7, it is always the case that if a9 <= 4 holds, then m15 > 5 previously held and was preceded by e1 > 6 .
Before r21 = 2, it is always the case that if h11 >= 5 holds, then c24 < 1 eventually holds and is succeeded by l0 <= 6, where f14 > 7 does not hold between c24 < 1 and l0 <= 6 .
Between o9 < 3 and y17 >= 4, it is always the case that if k23 <= 2 holds, then h1 = 6 eventually holds and is succeeded by w20 < 1 .
Between v8 < 5 and n17 > 2, it is always the case that if k10 <= 4 holds, then q17 >= 7 eventually holds and is succeeded by d6 <= 7 .
After g15 >= 5 until a3 < 0, j10 < 7 eventually holds.
After m7 = 3, y9 <= 2 eventually holds.
Globally, it is always the case that if r2 = 1 holds and is succeeded by s8 >= 1, then j7 >= 6 eventually holds after s8 >= 1 .
Globally, it is never the case that z15 = 2 holds.
After o6 > 2, e11 > 2 eventually holds.
Globally, it is never the case that n24 >= 1 holds.
Before k8 >= 0, it is always the case that if v15 = 6 holds, then a4 <= 1 eventually holds.
After z5 >= 5 until w3 > 7, it is always the case that if j13 <= 2 holds and is succeeded by y21 < 5, then i20 >= 0 previously held.
After h3 > 6, it is never the case that w22 > 4 holds.
Globally, it is always the case that if v2 < 5 holds, then x4 > 1 eventually holds and is succeeded by y0 >= 6, where m17 < 2 does not hold between x4 > 1 and y0 >= 6 .
Globally, it is always the case that if e15 > 6 holds, then t3 = 5 eventually holds and is succeeded by q8 < 6 .
Between c7 > 6 and b2 > 4, it is always the case that if i24 <= 4 holds, then v6 >= 4 eventually holds.
Globally, it is always the case that if r10 = 4 holds, then g8 >= 7 previously held.
Between l12 >= 0 and i7 > 2, it is always the case that if r7 = 0 holds and is succeeded by z15 > 6, then z19 <= 0 eventually holds after z15 > 6 .
After i22 < 5 until z12 < 3, it is always the case that s5 > 0 holds.
Globally, it is always the case that if r9 >= 3 holds and is succeeded by d15 <= 1, then q14 >= 2 eventually holds after d15 <= 1 .
After r5 < 1, it is always the case that k1 < 2 holds.
Globally, it is always the case that if f12 > 4 holds and is succeeded by u10 < 4, then d11 >= 6 eventually holds after u10 < 4 .
Before g20 >= 3, it is always the case that if a12 >= 7 holds, then q9 < 3 previously held.
Before i18 <= 5, it is always the case that if r20 >= 4 holds and is succeeded by n9 = 0, then f8 <= 1 eventually holds after n9 = 0 .
After y2 < 4, it is always the case that if x6 = 1 holds, then d18 > 4 previously held.
