After a0 >= 0, it is always the case that if a0 >= 5 holds, then a0 >= 5 eventually holds.
Before a0 <= 3, it is always the case that if a0 >= 1 holds, then a0 = 7 eventually holds and is succeeded by a0 >= 7, where a0 <= 5 does not hold between a0 = 7 and a0 >= 7 .
Globally, it is always the case that if a0 > 1 holds, then a0 > 0 previously held.
Before a0 <= 5, it is always the case that if a0 > 3 holds and is succeeded by a0 < 4, then a0 > 3 previously held.
After a0 >= 5, it is always the case that a0 >= 4 holds.
Globally, it is always the case that a0 >= 4 holds.
Before a0 = 7, it is always the case that a0 >= 0 holds.
After a0 <= 4, it is never the case that a0 >= 4 holds.
