After c0 < 22, it is never the case that d0 = 14 holds.
After a0 <= 4 until d0 <= 21, a0 >= 11 eventually holds.
Globally, it is always the case that if a0 >= 15 holds, then d0 < 3 eventually holds and is succeeded by c0 = 19 .
Before a0 < 12, it is always the case that if d0 >= 29 holds, then d0 > 29 eventually holds and is succeeded by a0 < 19, where c0 = 24 does not hold between d0 > 29 and a0 < 19 .
After b0 >= 4 until c0 < 0, it is always the case that if b0 <= 17 holds, then a0 > 6 eventually holds.
Between d0 < 7 and a0 = 7, it is always the case that if b0 <= 20 holds and is succeeded by b0 >= 29, then c0 = 12 previously held.
Between b0 < 31 and c0 >= 1, it is always the case that if b0 <= 8 holds, then a0 >= 2 eventually holds.
Globally, it is never the case that b0 >= 31 holds.
After d0 > 13 until c0 < 23, it is always the case that if c0 < 10 holds, then b0 < 10 eventually holds and is succeeded by d0 < 7, where a0 < 3 does not hold between b0 < 10 and d0 < 7 .
After d0 > 26, it is always the case that if d0 = 20 holds, then c0 = 19 previously held.
After b0 <= 17 until d0 = 24, it is always the case that a0 > 8 holds.
Globally, it is always the case that if b0 < 26 holds, then a0 > 29 eventually holds and is succeeded by c0 > 13 .
After a0 >= 23 until a0 > 12, it is always the case that if b0 > 30 holds, then a0 < 6 eventually holds and is succeeded by b0 >= 18 .
Before d0 < 9, it is always the case that if a0 < 9 holds and is succeeded by d0 > 14, then d0 = 27 eventually holds after d0 > 14 .
Between a0 <= 18 and c0 < 31, it is never the case that c0 > 11 holds.
Between d0 = 22 and d0 > 23, it is always the case that if d0 < 4 holds, then a0 < 6 previously held.
Between c0 >= 6 and c0 >= 7, it is always the case that if a0 <= 10 holds, then d0 <= 10 eventually holds.
Between c0 = 10 and b0 < 21, it is always the case that d0 >= 12 holds.
After a0 = 23 until b0 >= 0, it is always the case that if a0 = 6 holds, then b0 = 22 eventually holds.
After a0 = 18 until a0 >= 25, it is always the case that if d0 < 23 holds, then b0 < 31 previously held.
Globally, it is always the case that if b0 >= 26 holds, then a0 <= 30 previously held.
After d0 = 5, it is never the case that b0 > 12 holds.
Before c0 > 5, it is always the case that if a0 > 28 holds and is succeeded by d0 < 30, then c0 >= 23 eventually holds after d0 < 30 .
Before b0 >= 16, it is always the case that if b0 >= 16 holds and is succeeded by b0 <= 16, then d0 = 31 previously held.
After d0 < 9, it is always the case that if d0 <= 2 holds, then c0 >= 2 previously held and was preceded by c0 < 23 .
Before c0 = 9, it is always the case that if d0 <= 6 holds, then c0 >= 23 previously held.
Before c0 < 24, it is always the case that if c0 <= 21 holds and is succeeded by d0 >= 20, then d0 >= 4 eventually holds after d0 >= 20 .
Globally, it is always the case that if c0 < 30 holds, then b0 < 22 previously held and was preceded by b0 = 28 .
Between c0 <= 27 and b0 <= 26, it is always the case that b0 > 2 holds.
Before c0 >= 0, it is always the case that if b0 >= 20 holds and is succeeded by d0 = 22, then c0 = 11 previously held.
Between d0 < 26 and d0 > 15, it is always the case that if a0 = 0 holds, then a0 = 20 previously held and was preceded by a0 = 2 .
After b0 < 15 until a0 <= 4, it is always the case that if a0 >= 18 holds, then a0 > 1 eventually holds and is succeeded by d0 = 4 .
Before c0 > 24, it is always the case that if c0 <= 9 holds, then b0 >= 23 previously held.
Globally, it is always the case that a0 >= 24 holds.
After a0 = 22, it is always the case that if d0 >= 0 holds, then d0 > 8 eventually holds and is succeeded by d0 <= 20 .
Between d0 >= 13 and b0 >= 15, it is always the case that if d0 <= 16 holds, then d0 >= 18 eventually holds and is succeeded by c0 <= 22, where b0 >= 7 does not hold between d0 >= 18 and c0 <= 22 .
Before c0 = 28, it is never the case that c0 < 7 holds.
Between c0 > 0 and b0 > 3, it is always the case that if a0 = 30 holds and is succeeded by d0 <= 28, then d0 <= 16 previously held.
Before d0 <= 29, it is never the case that c0 <= 18 holds.
After a0 >= 7, it is always the case that if c0 = 9 holds and is succeeded by d0 >= 24, then c0 >= 23 eventually holds after d0 >= 24 .
Globally, c0 = 1 eventually holds.
Globally, it is always the case that if a0 = 24 holds and is succeeded by b0 = 5, then b0 > 23 eventually holds after b0 = 5 .
Before a0 > 26, it is always the case that if b0 <= 13 holds, then b0 = 0 eventually holds and is succeeded by a0 = 28, where a0 <= 7 does not hold between b0 = 0 and a0 = 28 .
Before b0 < 15, it is always the case that if b0 < 6 holds and is succeeded by b0 < 25, then c0 >= 28 previously held.
After c0 >= 18 until a0 < 29, it is never the case that c0 > 12 holds.
After d0 <= 9, it is always the case that if d0 < 6 holds, then a0 <= 21 eventually holds.
Globally, it is always the case that if d0 >= 16 holds, then c0 >= 21 eventually holds and is succeeded by b0 = 28, where c0 = 2 does not hold between c0 >= 21 and b0 = 28 .
Between a0 <= 14 and a0 <= 8, it is always the case that if c0 <= 30 holds, then c0 >= 21 eventually holds.
After d0 = 9 until c0 > 31, it is always the case that if d0 < 26 holds, then d0 = 29 eventually holds and is succeeded by c0 > 26, where a0 >= 21 does not hold between d0 = 29 and c0 > 26 .
Before a0 <= 25, it is always the case that if c0 > 3 holds and is succeeded by c0 = 21, then c0 > 13 eventually holds after c0 = 21 .
After d0 = 11 until a0 < 14, it is always the case that c0 <= 14 holds.
Globally, it is always the case that if b0 >= 12 holds and is succeeded by a0 > 14, then d0 > 28 eventually holds after a0 > 14 .
After d0 <= 9, c0 <= 12 eventually holds.
Between c0 >= 16 and a0 < 20, it is always the case that if b0 = 29 holds, then b0 < 18 eventually holds.
After a0 > 3, it is never the case that c0 = 18 holds.
Globally, it is always the case that if b0 = 15 holds, then c0 < 23 eventually holds.
Between c0 < 28 and c0 <= 26, it is always the case that if d0 > 23 holds, then d0 >= 28 eventually holds and is succeeded by c0 = 9, where c0 = 30 does not hold between d0 >= 28 and c0 = 9 .
After c0 < 29, it is always the case that if a0 = 9 holds, then c0 >= 21 eventually holds and is succeeded by c0 = 4 .
After d0 < 25, it is always the case that if c0 = 3 holds, then b0 = 29 eventually holds and is succeeded by a0 < 6, where a0 <= 4 does not hold between b0 = 29 and a0 < 6 .
Globally, it is always the case that if a0 <= 22 holds, then d0 > 20 previously held and was preceded by a0 = 12 .
After c0 > 6 until a0 > 29, it is always the case that if d0 <= 27 holds, then b0 > 22 eventually holds and is succeeded by b0 > 28 .
After a0 <= 10, it is always the case that if b0 > 6 holds and is succeeded by c0 > 27, then c0 > 29 previously held.
After a0 > 0, it is never the case that b0 > 30 holds.
Before d0 <= 7, it is always the case that if a0 >= 9 holds and is succeeded by c0 < 25, then a0 >= 15 previously held.
Globally, it is always the case that if d0 < 14 holds, then b0 = 17 eventually holds and is succeeded by b0 >= 9, where c0 = 24 does not hold between b0 = 17 and b0 >= 9 .
Globally, it is never the case that c0 > 6 holds.
After b0 <= 16 until b0 = 17, it is always the case that if b0 <= 5 holds, then a0 <= 1 previously held.
After c0 = 3, it is always the case that if a0 > 14 holds and is succeeded by d0 < 18, then d0 > 4 previously held.
Before b0 < 25, it is always the case that if c0 <= 26 holds, then a0 > 28 previously held and was preceded by d0 <= 1 .
Before c0 < 22, it is always the case that if d0 > 22 holds, then c0 > 4 eventually holds and is succeeded by d0 < 25 .
After d0 > 31, it is always the case that d0 > 4 holds.
After d0 < 5 until b0 = 5, it is always the case that d0 >= 8 holds.
Before d0 < 7, it is always the case that if a0 = 3 holds and is succeeded by c0 <= 12, then a0 <= 21 previously held.
After c0 > 29 until c0 < 13, it is always the case that if b0 > 16 holds, then d0 > 13 eventually holds.
Between a0 = 12 and d0 = 23, it is always the case that if b0 <= 17 holds, then b0 > 10 previously held and was preceded by a0 <= 11 .
After b0 > 26, it is always the case that c0 = 19 holds.
Between b0 = 7 and a0 > 28, it is always the case that c0 >= 29 holds.
Before b0 > 2, it is never the case that a0 > 31 holds.
Before c0 >= 27, it is never the case that a0 <= 22 holds.
After c0 < 21 until a0 < 17, it is always the case that b0 <= 1 holds.
Between a0 > 26 and b0 < 27, it is always the case that if b0 <= 5 holds and is succeeded by c0 <= 31, then a0 > 9 previously held.
After a0 < 10 until d0 <= 26, it is always the case that if b0 < 10 holds, then a0 >= 31 previously held and was preceded by b0 > 27 .
Between c0 < 28 and a0 <= 27, it is always the case that if d0 = 1 holds and is succeeded by c0 = 7, then d0 < 29 previously held.
Before c0 < 11, it is always the case that if a0 <= 30 holds, then b0 >= 2 previously held.
After d0 = 6, it is always the case that b0 = 1 holds.
After c0 >= 7 until a0 > 4, b0 = 18 eventually holds.
Between a0 >= 4 and a0 > 12, it is always the case that if c0 >= 15 holds and is succeeded by a0 = 25, then d0 > 21 eventually holds after a0 = 25 .
Globally, it is always the case that if c0 > 11 holds, then b0 = 13 eventually holds and is succeeded by b0 > 29 .
Globally, it is always the case that if a0 = 12 holds and is succeeded by d0 = 10, then a0 >= 2 previously held.
After b0 > 29 until a0 <= 23, a0 > 17 eventually holds.
Before a0 <= 14, it is always the case that if c0 < 21 holds, then c0 > 23 previously held.
After d0 >= 28, it is always the case that if b0 > 17 holds, then a0 = 1 previously held.
After b0 = 16 until a0 > 0, it is always the case that if c0 = 7 holds, then a0 >= 4 previously held and was preceded by d0 <= 18 .
After d0 >= 10 until b0 > 23, it is never the case that a0 < 18 holds.
Between b0 >= 18 and b0 < 19, it is never the case that c0 > 3 holds.
Globally, it is always the case that if a0 >= 30 holds, then a0 = 22 previously held.
Between d0 > 8 and d0 = 15, it is always the case that if c0 > 17 holds, then c0 >= 1 eventually holds and is succeeded by a0 <= 29, where a0 >= 13 does not hold between c0 >= 1 and a0 <= 29 .
After c0 >= 14, it is always the case that if b0 = 13 holds, then d0 > 8 eventually holds.
Before b0 > 29, it is always the case that if a0 <= 6 holds, then a0 < 27 eventually holds and is succeeded by b0 < 31 .
Before c0 < 24, it is always the case that b0 < 5 holds.
After a0 > 6, it is always the case that if a0 > 11 holds, then d0 = 15 eventually holds and is succeeded by d0 = 18 .
After c0 = 5, it is always the case that if a0 >= 4 holds, then a0 > 11 previously held.
After a0 >= 29, it is always the case that if d0 = 20 holds, then a0 > 9 previously held and was preceded by a0 <= 2 .
Between b0 < 0 and b0 >= 2, it is always the case that if b0 < 30 holds, then c0 < 12 eventually holds and is succeeded by d0 > 26, where c0 < 15 does not hold between c0 < 12 and d0 > 26 .
After c0 = 22, it is always the case that if a0 = 15 holds and is succeeded by c0 = 18, then a0 < 7 eventually holds after c0 = 18 .
After b0 <= 5 until b0 = 14, it is always the case that if d0 <= 16 holds, then a0 <= 9 eventually holds and is succeeded by a0 >= 28, where c0 > 19 does not hold between a0 <= 9 and a0 >= 28 .
After a0 >= 17, it is always the case that if d0 = 25 holds and is succeeded by a0 >= 20, then d0 < 26 previously held.
After a0 < 29, it is always the case that if c0 >= 26 holds, then d0 > 15 eventually holds and is succeeded by d0 = 9 .
Before d0 > 15, it is always the case that if b0 = 12 holds and is succeeded by d0 <= 11, then d0 = 14 previously held.
After b0 >= 31, it is always the case that if d0 = 28 holds, then c0 >= 24 previously held and was preceded by b0 = 27 .
Globally, it is always the case that if b0 = 16 holds, then c0 = 2 eventually holds and is succeeded by d0 < 28 .
Between a0 >= 2 and a0 > 5, it is always the case that if a0 > 16 holds, then c0 > 3 eventually holds.
Between a0 < 15 and b0 >= 24, it is always the case that if b0 = 30 holds, then d0 = 21 previously held.
After b0 = 7 until d0 = 6, it is never the case that a0 = 8 holds.
Globally, it is always the case that if a0 > 1 holds, then a0 = 14 eventually holds.
After a0 = 10 until b0 >= 26, it is always the case that if c0 <= 12 holds, then d0 < 18 eventually holds and is succeeded by d0 >= 5 .
After a0 < 5 until d0 >= 17, it is always the case that if a0 <= 30 holds, then c0 = 16 previously held and was preceded by b0 > 14 .
After b0 < 18, it is always the case that if b0 >= 11 holds, then b0 < 16 previously held and was preceded by d0 >= 20 .
Globally, it is always the case that if c0 = 31 holds and is succeeded by b0 < 1, then d0 > 25 previously held.
Globally, it is never the case that a0 > 1 holds.
After a0 >= 17, it is always the case that if d0 > 14 holds, then b0 > 9 previously held and was preceded by b0 <= 5 .
Between d0 = 1 and b0 > 20, it is always the case that if d0 > 10 holds and is succeeded by b0 > 3, then b0 > 6 previously held.
After d0 = 31, it is always the case that c0 >= 13 holds.
Before c0 < 7, it is always the case that a0 > 23 holds.
After d0 <= 25, it is always the case that if a0 <= 25 holds, then d0 < 31 eventually holds.
Globally, it is always the case that if b0 < 17 holds, then b0 < 11 eventually holds and is succeeded by b0 >= 2, where b0 = 6 does not hold between b0 < 11 and b0 >= 2 .
Before d0 = 2, it is always the case that if c0 <= 28 holds, then a0 > 20 previously held.
Globally, it is always the case that if a0 > 17 holds, then d0 <= 28 eventually holds and is succeeded by a0 > 26 .
After d0 = 1 until c0 <= 14, it is always the case that if d0 <= 17 holds, then b0 = 18 eventually holds and is succeeded by a0 > 13, where d0 > 21 does not hold between b0 = 18 and a0 > 13 .
After a0 = 23, it is always the case that if d0 > 14 holds, then c0 = 7 eventually holds.
Before b0 < 12, c0 = 1 eventually holds.
Before b0 >= 17, it is always the case that if b0 > 21 holds, then c0 = 8 eventually holds and is succeeded by b0 <= 23 .
Globally, it is always the case that if c0 = 13 holds, then a0 > 1 eventually holds and is succeeded by d0 >= 19, where b0 = 7 does not hold between a0 > 1 and d0 >= 19 .
Before b0 > 0, it is always the case that if d0 < 24 holds, then d0 > 2 eventually holds.
After c0 >= 6, it is always the case that if d0 >= 11 holds, then c0 <= 30 previously held.
Between d0 = 23 and c0 >= 23, it is always the case that if b0 >= 12 holds, then d0 <= 28 eventually holds and is succeeded by a0 = 16 .
Before c0 > 0, it is always the case that if b0 = 17 holds, then d0 > 24 previously held and was preceded by b0 >= 14 .
Before b0 < 22, it is always the case that c0 > 14 holds.
Before c0 = 26, it is always the case that if b0 >= 28 holds, then b0 < 24 eventually holds.
After c0 = 0 until a0 = 31, it is always the case that if a0 > 18 holds, then c0 = 24 eventually holds and is succeeded by a0 >= 1 .
Between c0 >= 2 and a0 <= 1, it is always the case that c0 <= 5 holds.
Globally, it is always the case that d0 = 25 holds.
Before d0 < 9, it is always the case that if b0 < 9 holds and is succeeded by a0 <= 15, then a0 > 24 eventually holds after a0 <= 15 .
After a0 >= 5 until c0 = 11, it is always the case that if c0 <= 22 holds, then c0 > 25 eventually holds and is succeeded by c0 >= 13, where d0 <= 2 does not hold between c0 > 25 and c0 >= 13 .
After a0 < 9, it is always the case that if d0 <= 12 holds, then a0 < 0 eventually holds and is succeeded by b0 = 9, where a0 > 17 does not hold between a0 < 0 and b0 = 9 .
Between c0 = 9 and d0 < 14, it is always the case that if d0 >= 12 holds, then c0 > 1 previously held.
Before c0 >= 12, it is always the case that if c0 = 10 holds, then c0 >= 10 eventually holds and is succeeded by a0 = 11, where a0 >= 1 does not hold between c0 >= 10 and a0 = 11 .
After a0 >= 18 until a0 <= 28, it is always the case that if c0 = 18 holds, then c0 <= 12 eventually holds.
After b0 > 21 until b0 < 3, it is always the case that if c0 >= 31 holds, then b0 <= 22 previously held.
Globally, it is always the case that if d0 > 19 holds, then b0 = 4 eventually holds and is succeeded by b0 = 13, where d0 = 1 does not hold between b0 = 4 and b0 = 13 .
Before a0 < 19, it is always the case that if d0 <= 0 holds, then a0 = 2 previously held and was preceded by b0 < 22 .
After c0 = 0, it is always the case that if c0 >= 14 holds, then b0 <= 30 eventually holds.
After a0 >= 21 until a0 >= 12, it is always the case that c0 = 16 holds.
Globally, it is always the case that a0 < 17 holds.
Globally, it is always the case that a0 = 12 holds.
Between a0 < 9 and d0 > 14, it is never the case that b0 = 13 holds.
Between a0 > 30 and b0 <= 9, it is always the case that if a0 >= 1 holds, then a0 <= 20 eventually holds and is succeeded by c0 <= 12 .
After b0 >= 29 until c0 <= 17, it is always the case that if d0 >= 19 holds and is succeeded by b0 > 2, then b0 <= 18 eventually holds after b0 > 2 .
Before d0 <= 13, d0 <= 1 eventually holds.
After b0 <= 10 until b0 >= 23, it is always the case that c0 = 31 holds.
After c0 > 28 until c0 > 16, c0 < 5 eventually holds.
Before a0 = 30, it is always the case that if a0 = 27 holds and is succeeded by d0 >= 23, then a0 < 11 eventually holds after d0 >= 23 .
After b0 = 27 until b0 >= 13, it is always the case that a0 >= 4 holds.
After d0 <= 23, it is always the case that if d0 <= 29 holds, then b0 >= 18 previously held and was preceded by a0 < 11 .
Before d0 >= 19, it is always the case that if b0 <= 15 holds, then b0 >= 23 eventually holds and is succeeded by d0 = 26, where b0 = 8 does not hold between b0 >= 23 and d0 = 26 .
After d0 <= 28, it is always the case that if b0 = 13 holds, then a0 < 21 previously held.
Between a0 >= 28 and a0 >= 16, it is always the case that if a0 < 14 holds, then c0 = 12 previously held and was preceded by b0 >= 8 .
Between b0 < 18 and a0 < 14, it is always the case that if d0 < 25 holds, then b0 = 11 eventually holds and is succeeded by c0 < 19 .
Before a0 < 13, it is never the case that b0 > 2 holds.
Globally, it is always the case that if c0 < 12 holds, then a0 <= 0 previously held.
Globally, b0 < 26 eventually holds.
After c0 > 28, it is always the case that if b0 = 30 holds, then b0 < 21 previously held and was preceded by b0 < 17 .
Globally, it is always the case that if b0 = 14 holds, then d0 <= 25 eventually holds and is succeeded by b0 > 18, where a0 >= 1 does not hold between d0 <= 25 and b0 > 18 .
Before d0 <= 24, it is always the case that if c0 = 21 holds and is succeeded by a0 = 28, then a0 > 2 previously held.
Globally, it is always the case that if d0 = 28 holds and is succeeded by a0 < 1, then c0 >= 14 previously held.
Between b0 <= 12 and b0 >= 11, b0 = 25 eventually holds.
Globally, c0 < 10 eventually holds.
Before c0 >= 1, it is always the case that if a0 > 20 holds, then c0 > 8 eventually holds and is succeeded by b0 < 9, where d0 >= 16 does not hold between c0 > 8 and b0 < 9 .
Between a0 >= 9 and a0 >= 7, it is always the case that if c0 >= 9 holds, then b0 < 27 previously held and was preceded by a0 > 27 .
Globally, it is always the case that if b0 > 8 holds, then c0 > 15 previously held and was preceded by a0 > 23 .
Between b0 = 30 and b0 = 3, it is always the case that if d0 < 31 holds and is succeeded by c0 > 22, then d0 > 11 previously held.
Globally, it is always the case that if a0 = 18 holds, then c0 > 28 previously held.
After a0 < 27, it is always the case that if a0 >= 1 holds, then d0 > 4 previously held and was preceded by b0 <= 6 .
After d0 < 19 until a0 >= 7, it is always the case that if d0 = 13 holds and is succeeded by b0 = 28, then b0 = 26 eventually holds after b0 = 28 .
Before b0 >= 26, it is always the case that b0 >= 13 holds.
After c0 = 16 until a0 > 25, it is always the case that if c0 > 1 holds, then a0 >= 28 eventually holds.
After a0 > 2, it is always the case that if a0 >= 21 holds, then d0 > 28 eventually holds and is succeeded by d0 >= 0, where a0 > 29 does not hold between d0 > 28 and d0 >= 0 .
After d0 = 26, it is always the case that if b0 >= 13 holds, then c0 >= 11 eventually holds and is succeeded by b0 < 22, where a0 = 17 does not hold between c0 >= 11 and b0 < 22 .
After b0 < 16, a0 = 23 eventually holds.
Globally, c0 > 7 eventually holds.
Between d0 <= 21 and c0 = 28, it is always the case that if a0 < 9 holds and is succeeded by c0 > 1, then c0 <= 16 eventually holds after c0 > 1 .
Globally, it is always the case that if a0 < 10 holds, then d0 <= 19 eventually holds.
Before b0 >= 28, it is always the case that if d0 < 10 holds, then b0 >= 29 eventually holds and is succeeded by d0 >= 9, where b0 <= 29 does not hold between b0 >= 29 and d0 >= 9 .
After c0 > 29 until a0 >= 26, it is always the case that if d0 > 1 holds, then b0 < 23 eventually holds.
After a0 = 11, it is always the case that if c0 >= 22 holds and is succeeded by a0 = 7, then a0 >= 8 eventually holds after a0 = 7 .
After d0 >= 5, it is always the case that if b0 >= 29 holds and is succeeded by d0 <= 28, then a0 < 24 eventually holds after d0 <= 28 .
Before a0 > 16, it is never the case that a0 < 9 holds.
Globally, d0 >= 25 eventually holds.
After d0 >= 13, d0 >= 5 eventually holds.
Before b0 < 10, it is always the case that if c0 <= 12 holds, then b0 >= 22 previously held.
Globally, it is always the case that if c0 < 19 holds, then c0 >= 22 eventually holds.
Globally, it is always the case that if b0 < 5 holds, then a0 >= 10 eventually holds and is succeeded by c0 = 18 .
After a0 <= 0, it is always the case that if d0 > 3 holds, then d0 < 9 eventually holds.
After d0 > 2 until d0 <= 14, it is always the case that if c0 >= 2 holds, then a0 >= 29 eventually holds.
After b0 >= 25 until d0 >= 18, it is always the case that if b0 > 23 holds, then b0 > 10 eventually holds and is succeeded by c0 < 18 .
After a0 <= 5 until c0 >= 16, d0 >= 24 eventually holds.
After a0 > 17 until b0 > 30, it is always the case that if c0 >= 28 holds, then c0 = 3 previously held.
After a0 = 21, it is always the case that if c0 = 20 holds, then c0 > 12 eventually holds and is succeeded by d0 <= 4, where a0 <= 9 does not hold between c0 > 12 and d0 <= 4 .
Globally, it is always the case that if a0 <= 21 holds, then d0 <= 25 eventually holds.
Before d0 > 5, it is always the case that if d0 > 1 holds, then b0 = 23 eventually holds.
Globally, it is always the case that b0 >= 22 holds.
After b0 > 21, it is always the case that if c0 = 20 holds, then d0 >= 22 eventually holds and is succeeded by b0 <= 20, where d0 >= 18 does not hold between d0 >= 22 and b0 <= 20 .
Between a0 <= 25 and d0 < 29, it is always the case that if c0 = 12 holds and is succeeded by b0 <= 9, then c0 = 30 eventually holds after b0 <= 9 .
Globally, it is always the case that c0 >= 10 holds.
Before a0 = 17, it is always the case that if d0 >= 1 holds and is succeeded by b0 = 0, then a0 < 15 previously held.
Between d0 >= 12 and b0 = 26, it is always the case that if a0 <= 5 holds, then a0 >= 9 previously held.
Globally, d0 = 13 eventually holds.
Globally, it is always the case that if a0 = 9 holds, then c0 < 17 previously held and was preceded by b0 < 14 .
Before a0 <= 25, it is always the case that if d0 >= 9 holds, then a0 < 6 eventually holds.
Before d0 >= 4, it is always the case that if d0 = 24 holds, then c0 = 3 previously held and was preceded by c0 > 27 .
Between b0 = 20 and b0 >= 8, a0 >= 22 eventually holds.
After a0 < 11 until d0 = 12, it is always the case that if d0 < 17 holds and is succeeded by a0 <= 19, then c0 <= 4 eventually holds after a0 <= 19 .
Before b0 = 31, it is always the case that if c0 = 15 holds and is succeeded by a0 <= 19, then c0 > 24 eventually holds after a0 <= 19 .
Globally, it is always the case that if d0 = 20 holds, then a0 = 25 eventually holds.
Globally, it is never the case that d0 >= 1 holds.
After b0 >= 25, it is always the case that c0 <= 24 holds.
Globally, d0 = 31 eventually holds.
Before d0 >= 15, it is always the case that if d0 > 0 holds and is succeeded by b0 = 8, then b0 <= 8 previously held.
After c0 <= 14, a0 >= 31 eventually holds.
After a0 <= 13 until a0 = 4, it is always the case that if c0 = 10 holds, then a0 <= 8 eventually holds and is succeeded by b0 >= 5 .
After a0 > 18, it is always the case that if a0 >= 23 holds, then d0 = 28 eventually holds.
After c0 >= 22, b0 > 29 eventually holds.
Globally, it is always the case that if c0 = 22 holds and is succeeded by b0 > 27, then b0 < 21 eventually holds after b0 > 27 .
Between a0 = 12 and d0 = 15, it is always the case that if d0 >= 27 holds, then c0 < 4 previously held.
After b0 < 19 until c0 = 17, it is always the case that if c0 > 14 holds and is succeeded by a0 > 29, then c0 <= 22 previously held.
Before a0 = 11, it is always the case that if b0 < 11 holds and is succeeded by c0 >= 25, then d0 <= 28 previously held.
Between c0 = 18 and a0 <= 3, it is always the case that if d0 > 17 holds and is succeeded by c0 = 10, then c0 < 7 eventually holds after c0 = 10 .
Between c0 = 20 and a0 <= 23, it is always the case that c0 > 30 holds.
After a0 > 0, it is always the case that if a0 < 6 holds, then b0 >= 23 previously held.
Before b0 > 18, it is always the case that if c0 <= 0 holds, then b0 > 3 eventually holds and is succeeded by a0 >= 31, where d0 < 10 does not hold between b0 > 3 and a0 >= 31 .
