Before a0 >= 0, it is always the case that if a0 >= 1 holds, then a0 = 1 previously held and was preceded by a0 >= 1 .
After a0 < 1 until a0 < 0, it is never the case that a0 <= 0 holds.
After a0 >= 1, it is always the case that a0 < 1 holds.
Between a0 > 0 and a0 = 1, it is always the case that if a0 > 0 holds, then a0 <= 0 eventually holds and is succeeded by a0 <= 1 .
Between a0 < 0 and a0 >= 0, it is always the case that if a0 > 0 holds, then a0 > 0 eventually holds and is succeeded by a0 <= 1 .
Globally, a0 > 1 eventually holds.
After a0 = 0, it is always the case that if a0 < 0 holds, then a0 >= 0 previously held and was preceded by a0 >= 1 .
After a0 < 0 until a0 > 1, it is always the case that if a0 > 0 holds, then a0 >= 0 eventually holds and is succeeded by a0 <= 1 .
