After f0 <= 3 until m0 < 0, it is always the case that if m0 > 1 holds and is succeeded by k0 = 1, then n0 = 0 eventually holds after k0 = 1 .
Before k0 < 2, it is always the case that if b0 < 3 holds and is succeeded by b0 >= 1, then q0 < 2 eventually holds after b0 >= 1 .
After q0 >= 0, it is always the case that if k0 > 3 holds and is succeeded by o0 < 0, then e0 = 2 eventually holds after o0 < 0 .
After j0 >= 1, it is always the case that if c0 > 1 holds, then m0 >= 0 eventually holds and is succeeded by j0 > 2 .
After s0 < 2, it is always the case that if a0 < 3 holds, then m0 <= 1 eventually holds and is succeeded by e0 > 0 .
After r0 > 2, it is never the case that r0 < 3 holds.
Between i0 < 1 and k0 < 1, f0 > 1 eventually holds.
Globally, d0 < 2 eventually holds.
After j0 = 2, it is always the case that if n0 >= 3 holds, then k0 < 2 eventually holds and is succeeded by p0 = 1 .
Before o0 > 1, it is never the case that b0 = 3 holds.
Between n0 < 2 and p0 <= 3, it is always the case that if h0 > 3 holds, then g0 <= 0 previously held.
After a0 >= 1, it is always the case that if k0 = 2 holds and is succeeded by g0 = 0, then a0 >= 1 previously held.
Between i0 <= 1 and j0 >= 0, it is never the case that l0 >= 2 holds.
After o0 <= 3 until f0 <= 3, i0 <= 0 eventually holds.
Globally, it is always the case that if r0 = 3 holds, then k0 >= 1 eventually holds and is succeeded by o0 < 1, where d0 >= 3 does not hold between k0 >= 1 and o0 < 1 .
Before n0 = 1, it is always the case that if r0 >= 1 holds, then k0 < 1 eventually holds.
After r0 = 1, it is always the case that if a0 = 0 holds, then e0 > 0 eventually holds and is succeeded by a0 = 2 .
Before a0 < 0, it is always the case that if o0 < 2 holds, then f0 = 0 eventually holds and is succeeded by a0 > 0, where j0 > 1 does not hold between f0 = 0 and a0 > 0 .
Before q0 = 2, it is always the case that if g0 > 3 holds, then f0 < 2 eventually holds.
Between a0 < 1 and l0 = 0, it is always the case that l0 <= 3 holds.
Globally, it is always the case that if s0 >= 0 holds, then j0 = 1 previously held and was preceded by a0 > 3 .
After h0 = 0 until l0 <= 0, it is never the case that s0 < 0 holds.
Before r0 = 1, it is always the case that s0 > 2 holds.
Before c0 < 1, it is never the case that f0 < 0 holds.
Globally, it is always the case that if q0 < 1 holds, then h0 < 0 previously held.
Between h0 < 1 and f0 > 0, it is always the case that if p0 = 1 holds and is succeeded by f0 = 2, then l0 < 0 previously held.
Between i0 = 2 and a0 <= 1, it is always the case that if r0 <= 0 holds, then i0 = 1 eventually holds and is succeeded by j0 > 3, where i0 > 0 does not hold between i0 = 1 and j0 > 3 .
After f0 < 0, it is always the case that if k0 <= 2 holds and is succeeded by m0 >= 3, then c0 < 0 previously held.
After d0 > 0, it is always the case that if c0 = 2 holds and is succeeded by i0 = 3, then f0 = 0 eventually holds after i0 = 3 .
After s0 > 0 until l0 = 3, it is always the case that if h0 < 1 holds, then a0 >= 2 eventually holds and is succeeded by p0 < 2 .
After r0 = 3, it is always the case that if a0 > 1 holds, then j0 < 2 previously held and was preceded by m0 < 0 .
After a0 <= 2, it is always the case that if q0 <= 3 holds, then h0 <= 2 eventually holds.
Between f0 <= 0 and i0 > 2, b0 = 3 eventually holds.
Globally, it is always the case that if m0 <= 3 holds, then q0 >= 3 previously held and was preceded by a0 <= 2 .
Between e0 = 3 and m0 < 1, it is never the case that q0 <= 3 holds.
After f0 <= 3 until g0 <= 0, it is always the case that g0 >= 2 holds.
After p0 <= 0 until j0 = 3, r0 < 1 eventually holds.
After q0 >= 3, q0 > 2 eventually holds.
Globally, it is always the case that if p0 = 2 holds, then d0 >= 0 eventually holds.
Between c0 = 2 and c0 = 0, it is always the case that if b0 <= 3 holds, then i0 <= 1 previously held.
Before i0 > 0, it is always the case that if d0 = 0 holds and is succeeded by s0 = 1, then k0 >= 0 previously held.
After m0 >= 2, it is always the case that if r0 > 3 holds and is succeeded by n0 >= 2, then h0 <= 3 eventually holds after n0 >= 2 .
After g0 >= 0 until o0 < 3, it is always the case that if m0 > 1 holds, then r0 < 1 previously held and was preceded by m0 = 3 .
Before l0 <= 2, d0 <= 2 eventually holds.
After p0 > 3, it is always the case that if d0 = 3 holds and is succeeded by o0 > 1, then d0 > 2 previously held.
After k0 <= 3 until n0 = 2, it is never the case that n0 >= 3 holds.
Before q0 > 1, it is always the case that if d0 < 1 holds, then r0 >= 0 previously held.
Globally, it is always the case that if a0 = 2 holds and is succeeded by a0 >= 0, then h0 = 2 eventually holds after a0 >= 0 .
Before o0 = 1, it is always the case that if e0 > 0 holds, then a0 > 3 previously held and was preceded by f0 < 3 .
After c0 = 3, it is always the case that if n0 >= 3 holds, then d0 = 1 previously held and was preceded by g0 < 3 .
Between j0 > 3 and i0 <= 0, it is always the case that if s0 = 3 holds and is succeeded by m0 = 3, then i0 > 2 previously held.
Between a0 = 1 and e0 < 3, it is never the case that j0 >= 3 holds.
Globally, it is always the case that if s0 <= 3 holds, then a0 >= 3 eventually holds.
After o0 <= 3 until f0 > 0, it is always the case that if q0 < 3 holds and is succeeded by r0 < 3, then r0 >= 3 eventually holds after r0 < 3 .
Before b0 > 2, it is never the case that l0 > 2 holds.
After b0 <= 0, it is always the case that if n0 = 3 holds and is succeeded by d0 >= 3, then o0 < 2 eventually holds after d0 >= 3 .
After p0 >= 2 until f0 <= 0, it is always the case that if q0 > 0 holds, then h0 < 0 eventually holds and is succeeded by l0 >= 1 .
Between o0 >= 3 and b0 <= 1, it is always the case that if d0 < 2 holds, then k0 >= 2 eventually holds and is succeeded by k0 > 1, where k0 > 0 does not hold between k0 >= 2 and k0 > 1 .
Before a0 = 0, it is always the case that if a0 = 0 holds, then d0 = 2 eventually holds and is succeeded by p0 < 0, where d0 >= 1 does not hold between d0 = 2 and p0 < 0 .
Before n0 >= 2, it is always the case that if q0 >= 2 holds, then f0 = 3 eventually holds and is succeeded by p0 = 1 .
After n0 = 2 until l0 > 3, it is always the case that j0 = 3 holds.
After i0 > 1, it is always the case that if o0 > 0 holds, then q0 = 3 eventually holds and is succeeded by k0 <= 3 .
Globally, it is always the case that p0 <= 3 holds.
After e0 >= 3, it is always the case that if n0 = 3 holds and is succeeded by h0 < 0, then c0 >= 1 previously held.
After f0 < 0, it is always the case that if o0 = 3 holds, then q0 <= 0 eventually holds and is succeeded by f0 >= 1 .
After m0 = 2, it is always the case that g0 <= 1 holds.
Before k0 < 3, it is always the case that if o0 > 0 holds, then k0 < 3 previously held.
After j0 > 0, it is always the case that if c0 > 0 holds and is succeeded by b0 = 2, then s0 < 3 eventually holds after b0 = 2 .
Globally, it is always the case that i0 = 3 holds.
Globally, it is always the case that if c0 < 1 holds, then h0 = 2 eventually holds and is succeeded by f0 >= 2 .
Globally, it is always the case that o0 < 1 holds.
After g0 > 3, it is always the case that if e0 <= 0 holds, then d0 >= 2 eventually holds and is succeeded by m0 >= 3 .
Before s0 > 2, it is always the case that if m0 <= 3 holds and is succeeded by r0 >= 2, then b0 <= 0 eventually holds after r0 >= 2 .
Before e0 < 3, it is always the case that if l0 > 2 holds, then m0 = 1 eventually holds and is succeeded by c0 > 0, where m0 <= 3 does not hold between m0 = 1 and c0 > 0 .
After e0 <= 2, it is always the case that if h0 > 1 holds, then m0 < 3 previously held and was preceded by n0 <= 1 .
Before l0 = 0, it is always the case that if r0 = 2 holds, then j0 <= 2 eventually holds and is succeeded by c0 > 3, where l0 <= 1 does not hold between j0 <= 2 and c0 > 3 .
Before m0 < 2, it is never the case that r0 = 2 holds.
Before i0 >= 3, it is always the case that if j0 > 2 holds and is succeeded by c0 <= 2, then j0 = 2 previously held.
After b0 < 2 until f0 <= 2, it is always the case that if q0 <= 0 holds, then i0 >= 3 previously held.
Globally, it is always the case that if r0 > 0 holds, then g0 = 2 previously held and was preceded by d0 <= 3 .
Before p0 <= 3, e0 <= 0 eventually holds.
After l0 = 1 until m0 < 1, it is always the case that if f0 >= 2 holds, then b0 <= 2 eventually holds and is succeeded by l0 >= 2 .
After j0 >= 1 until f0 > 0, n0 <= 0 eventually holds.
After e0 > 2, it is always the case that if r0 <= 2 holds, then p0 < 1 previously held and was preceded by b0 <= 1 .
Globally, it is always the case that s0 <= 0 holds.
Globally, it is always the case that if d0 = 0 holds and is succeeded by r0 > 2, then s0 > 3 previously held.
Before p0 <= 1, it is always the case that if s0 < 1 holds and is succeeded by h0 < 2, then s0 = 0 eventually holds after h0 < 2 .
Between o0 < 3 and o0 <= 3, m0 = 2 eventually holds.
Globally, it is always the case that if c0 >= 0 holds, then l0 = 1 eventually holds.
Between f0 > 1 and s0 > 2, it is always the case that if r0 <= 1 holds, then o0 > 3 eventually holds.
Between c0 > 3 and g0 < 1, it is always the case that if c0 >= 0 holds, then o0 <= 2 previously held.
After p0 <= 1 until f0 = 1, it is always the case that if m0 <= 0 holds, then h0 = 0 previously held and was preceded by g0 >= 1 .
After e0 > 1, it is always the case that if a0 >= 3 holds, then e0 <= 3 previously held.
After m0 >= 3 until f0 > 1, it is always the case that if k0 >= 1 holds and is succeeded by b0 < 2, then p0 = 1 eventually holds after b0 < 2 .
After f0 = 2 until o0 = 0, it is always the case that l0 > 3 holds.
Globally, it is always the case that if m0 >= 1 holds, then g0 > 1 eventually holds and is succeeded by p0 >= 3 .
Between o0 >= 2 and i0 = 1, it is never the case that h0 = 2 holds.
Before k0 > 0, it is always the case that if r0 >= 1 holds, then d0 > 1 eventually holds and is succeeded by e0 < 3 .
Before m0 = 0, it is always the case that if o0 > 0 holds, then e0 < 1 previously held and was preceded by g0 > 2 .
Between r0 > 2 and c0 <= 0, n0 > 3 eventually holds.
Before a0 <= 3, it is never the case that g0 >= 3 holds.
After i0 <= 3 until s0 <= 0, it is always the case that if p0 > 1 holds and is succeeded by q0 < 0, then b0 = 0 eventually holds after q0 < 0 .
After r0 >= 2, it is always the case that if g0 < 1 holds, then g0 > 3 eventually holds and is succeeded by c0 < 3, where q0 = 0 does not hold between g0 > 3 and c0 < 3 .
Between p0 > 1 and a0 > 3, it is always the case that if n0 >= 2 holds, then d0 > 1 eventually holds and is succeeded by f0 >= 2, where i0 < 2 does not hold between d0 > 1 and f0 >= 2 .
Between j0 <= 2 and m0 = 0, m0 <= 1 eventually holds.
After n0 >= 1 until o0 <= 2, it is always the case that if p0 = 2 holds, then n0 >= 0 previously held.
Between d0 >= 2 and p0 < 2, it is always the case that if f0 > 2 holds, then o0 > 1 eventually holds.
After g0 < 0 until f0 > 3, it is always the case that if b0 = 1 holds and is succeeded by n0 = 2, then m0 <= 3 eventually holds after n0 = 2 .
After s0 < 1, e0 < 2 eventually holds.
Globally, it is always the case that if n0 >= 3 holds and is succeeded by b0 > 0, then h0 > 3 previously held.
Globally, it is always the case that if i0 <= 0 holds, then i0 = 3 previously held and was preceded by f0 = 3 .
Between a0 >= 2 and f0 < 3, it is always the case that if e0 >= 1 holds, then n0 <= 3 eventually holds and is succeeded by g0 = 1, where i0 < 0 does not hold between n0 <= 3 and g0 = 1 .
Globally, it is always the case that i0 <= 1 holds.
Globally, it is always the case that if k0 <= 2 holds, then r0 > 2 eventually holds and is succeeded by a0 <= 0 .
After h0 <= 0 until o0 <= 0, it is always the case that if p0 < 2 holds, then g0 >= 3 previously held.
Between d0 >= 2 and l0 <= 3, it is always the case that if b0 >= 1 holds and is succeeded by i0 <= 3, then a0 < 1 eventually holds after i0 <= 3 .
Globally, it is always the case that if c0 < 2 holds, then p0 >= 0 previously held and was preceded by r0 <= 3 .
Before o0 <= 0, it is always the case that if l0 >= 2 holds, then d0 = 3 previously held and was preceded by c0 < 0 .
After i0 < 1, it is always the case that if o0 >= 1 holds, then o0 < 3 eventually holds.
After d0 > 3, it is always the case that if l0 > 3 holds, then m0 >= 0 previously held.
