Between a2 > 0 and q5 = 1, y9 = 3 eventually holds.
Globally, it is always the case that if o0 < 0 holds, then p0 <= 2 eventually holds and is succeeded by l11 < 2 .
Before w9 >= 1, it is always the case that if w11 > 2 holds, then z6 = 2 previously held and was preceded by w6 = 1 .
Before n0 <= 1, it is always the case that if n11 > 2 holds, then c12 < 3 eventually holds and is succeeded by a10 < 0, where y7 = 0 does not hold between c12 < 3 and a10 < 0 .
After r11 = 0, it is always the case that if a11 >= 2 holds, then k6 < 2 eventually holds and is succeeded by e11 < 3 .
Between j11 = 0 and n2 > 0, it is always the case that if d7 = 3 holds, then h8 <= 3 previously held.
Globally, it is always the case that if e9 <= 0 holds and is succeeded by u2 <= 0, then i7 < 0 previously held.
Globally, it is always the case that if h0 <= 2 holds, then i4 < 0 eventually holds and is succeeded by r7 = 3, where c2 <= 1 does not hold between i4 < 0 and r7 = 3 .
Between b1 = 3 and w9 = 3, it is always the case that if x10 <= 2 holds, then s1 = 3 previously held.
After z0 < 0, it is always the case that if c11 < 3 holds, then l11 >= 1 previously held.
Between v4 >= 2 and w2 >= 3, it is always the case that if t9 >= 2 holds, then f0 = 2 eventually holds.
Before d1 <= 2, it is always the case that if c8 <= 0 holds, then g9 >= 1 eventually holds and is succeeded by s8 >= 2, where d11 < 1 does not hold between g9 >= 1 and s8 >= 2 .
After s1 > 0 until g5 < 1, it is never the case that o0 > 2 holds.
Globally, it is always the case that if k10 = 0 holds and is succeeded by r2 = 2, then z5 < 2 previously held.
Between n3 > 1 and q0 <= 0, it is always the case that if p5 >= 1 holds, then u2 < 2 eventually holds and is succeeded by n7 < 0, where f12 > 1 does not hold between u2 < 2 and n7 < 0 .
Globally, it is always the case that if e0 >= 2 holds and is succeeded by l7 > 3, then n6 > 2 previously held.
Globally, it is always the case that if o4 <= 0 holds, then y8 < 0 eventually holds and is succeeded by x3 > 3, where s10 >= 0 does not hold between y8 < 0 and x3 > 3 .
Globally, it is always the case that if r7 <= 0 holds and is succeeded by n0 > 3, then y11 >= 0 previously held.
Globally, it is always the case that if h2 <= 0 holds, then c8 <= 0 eventually holds.
After c1 > 0, it is always the case that if y1 = 1 holds, then d4 <= 0 eventually holds and is succeeded by r5 > 3, where i4 >= 0 does not hold between d4 <= 0 and r5 > 3 .
After i10 > 2 until j9 <= 1, it is always the case that if z11 > 1 holds, then a3 >= 3 eventually holds and is succeeded by m10 >= 3 .
After q7 <= 3, it is always the case that f7 >= 3 holds.
After j10 <= 0, it is always the case that if k2 < 3 holds, then i2 = 2 eventually holds and is succeeded by x11 >= 3, where y9 = 3 does not hold between i2 = 2 and x11 >= 3 .
After y11 < 3 until h0 > 0, it is always the case that j5 <= 3 holds.
Between r8 <= 0 and z11 < 0, it is always the case that if c9 >= 1 holds, then y6 > 2 eventually holds and is succeeded by i5 >= 1, where o0 <= 1 does not hold between y6 > 2 and i5 >= 1 .
Globally, y7 <= 2 eventually holds.
Between e9 >= 0 and c0 >= 2, it is always the case that if a7 = 1 holds, then u6 <= 0 eventually holds.
Globally, it is always the case that if i5 = 0 holds, then a9 > 3 eventually holds and is succeeded by a5 < 3 .
After v8 = 0, it is always the case that if e9 >= 3 holds and is succeeded by e5 = 2, then u6 >= 2 eventually holds after e5 = 2 .
Before z2 = 3, it is never the case that d11 > 2 holds.
Between o5 >= 0 and k11 >= 3, it is always the case that o8 < 0 holds.
Before i8 < 2, it is always the case that if o10 >= 1 holds, then v7 = 3 eventually holds and is succeeded by l7 = 2, where p7 >= 1 does not hold between v7 = 3 and l7 = 2 .
After j7 <= 0 until z10 < 1, it is always the case that if w10 <= 0 holds, then d6 < 3 eventually holds and is succeeded by j11 < 3 .
Between v10 < 3 and d6 > 1, it is always the case that if y4 > 0 holds, then u3 < 1 previously held and was preceded by e8 >= 2 .
Globally, it is always the case that if b9 = 1 holds, then t1 > 1 eventually holds and is succeeded by v7 >= 3 .
Before h7 <= 2, it is always the case that r1 < 3 holds.
After l1 > 3 until z9 = 3, it is always the case that if c5 > 3 holds and is succeeded by j4 < 1, then u2 >= 3 eventually holds after j4 < 1 .
Before n5 > 2, it is always the case that if r10 >= 3 holds, then y8 >= 3 previously held and was preceded by j10 <= 1 .
After o0 >= 1 until k1 <= 3, it is never the case that n2 <= 1 holds.
Between h5 <= 2 and p7 <= 2, it is always the case that if k2 > 3 holds and is succeeded by r6 > 1, then w7 >= 3 previously held.
After b7 < 2 until r0 = 0, it is always the case that if w4 = 2 holds, then l3 <= 0 eventually holds and is succeeded by z0 >= 2 .
Globally, it is always the case that if k11 <= 0 holds and is succeeded by f12 = 0, then y3 >= 3 previously held.
After i8 <= 0 until n10 >= 3, it is always the case that if m4 >= 3 holds and is succeeded by c8 > 3, then d9 > 2 eventually holds after c8 > 3 .
After c5 >= 0 until y4 >= 0, it is always the case that if a11 <= 0 holds, then c8 <= 3 eventually holds and is succeeded by f12 >= 0, where f3 = 0 does not hold between c8 <= 3 and f12 >= 0 .
Before h3 <= 1, it is always the case that if b2 <= 0 holds, then f12 = 3 eventually holds and is succeeded by l11 < 2 .
Globally, it is always the case that if f3 <= 2 holds and is succeeded by t10 <= 2, then q10 = 3 previously held.
Globally, z11 < 1 eventually holds.
Globally, it is always the case that if r3 = 3 holds, then c11 > 0 eventually holds.
After a7 <= 2, it is always the case that if c10 <= 2 holds, then b5 > 2 eventually holds and is succeeded by a4 <= 1 .
Before g2 < 2, it is always the case that h9 <= 1 holds.
Globally, it is always the case that if y9 <= 1 holds and is succeeded by c4 > 0, then v1 > 3 eventually holds after c4 > 0 .
Between z1 <= 3 and z0 <= 1, it is always the case that if q4 < 3 holds, then t1 = 1 eventually holds and is succeeded by a9 < 2 .
Before v5 > 2, it is always the case that w9 >= 0 holds.
After a2 > 1 until g1 <= 1, l3 = 0 eventually holds.
Before l9 = 1, it is always the case that if f2 <= 0 holds and is succeeded by o7 < 3, then h6 >= 2 eventually holds after o7 < 3 .
Globally, it is always the case that if e5 = 1 holds, then p4 >= 3 eventually holds and is succeeded by t5 < 0, where n9 <= 1 does not hold between p4 >= 3 and t5 < 0 .
After i1 = 0, q9 > 2 eventually holds.
After h9 >= 2 until m2 <= 1, b0 <= 0 eventually holds.
After y10 < 2, it is always the case that if v1 <= 2 holds and is succeeded by e9 > 3, then g9 = 0 eventually holds after e9 > 3 .
After j4 < 3, it is always the case that if z11 <= 1 holds, then a12 > 0 previously held and was preceded by u4 = 1 .
Between f1 <= 2 and y7 = 1, it is never the case that n2 <= 2 holds.
Between x7 >= 2 and e1 = 0, it is never the case that b1 <= 3 holds.
After d10 >= 2, it is never the case that s4 >= 1 holds.
After g8 <= 3 until y7 = 1, it is always the case that if k7 < 2 holds and is succeeded by b10 >= 0, then i5 <= 1 eventually holds after b10 >= 0 .
After s3 >= 1 until t4 < 3, it is always the case that if s11 = 3 holds and is succeeded by q7 < 3, then h3 <= 0 previously held.
Between m2 > 2 and t3 >= 1, it is always the case that if v0 = 3 holds and is succeeded by d6 < 1, then t10 >= 3 previously held.
After u4 > 1, it is always the case that if d3 < 1 holds, then o3 <= 3 previously held.
Between n4 >= 2 and a11 <= 1, it is always the case that if i11 <= 3 holds, then m11 > 1 previously held and was preceded by b4 = 3 .
After w1 > 2, it is always the case that if x1 <= 3 holds, then l10 = 3 previously held.
Globally, it is always the case that if e8 > 3 holds and is succeeded by n9 <= 3, then a6 > 2 previously held.
After f12 >= 2, y8 >= 0 eventually holds.
Between o4 = 2 and k3 >= 0, it is always the case that if y4 = 0 holds, then j5 > 2 previously held.
Globally, it is always the case that if x11 <= 0 holds, then s9 < 3 eventually holds and is succeeded by p8 <= 0, where a2 >= 3 does not hold between s9 < 3 and p8 <= 0 .
Globally, it is always the case that if j7 > 0 holds, then t0 < 0 eventually holds.
Globally, it is always the case that v3 < 1 holds.
Globally, it is always the case that v10 <= 1 holds.
Globally, e1 < 3 eventually holds.
Before s6 > 3, it is always the case that if p8 <= 1 holds and is succeeded by m2 = 2, then g10 = 3 previously held.
Before k2 >= 3, it is always the case that if s9 = 2 holds, then k8 = 3 eventually holds and is succeeded by w2 = 3, where g10 = 0 does not hold between k8 = 3 and w2 = 3 .
Globally, it is always the case that if f8 > 2 holds and is succeeded by q9 = 2, then s3 <= 0 eventually holds after q9 = 2 .
After i11 >= 3 until a0 <= 1, it is always the case that if e8 >= 2 holds, then w1 >= 2 eventually holds and is succeeded by c3 <= 1, where l11 > 0 does not hold between w1 >= 2 and c3 <= 1 .
Between j5 > 0 and a11 < 1, it is always the case that if l2 <= 3 holds, then c12 < 3 eventually holds and is succeeded by i6 > 2 .
After p9 > 2, it is always the case that if n1 = 2 holds, then s1 <= 2 eventually holds and is succeeded by e2 >= 1 .
Between n4 <= 0 and f0 >= 1, it is always the case that if j4 <= 0 holds, then x10 > 1 eventually holds and is succeeded by e6 < 2 .
Between r2 <= 3 and c4 > 3, it is always the case that if k1 > 3 holds, then k3 > 1 eventually holds and is succeeded by c4 <= 0 .
Globally, it is always the case that if a1 = 0 holds and is succeeded by u8 >= 1, then o0 > 2 previously held.
Before e2 > 1, n10 > 0 eventually holds.
Between e8 > 0 and j8 >= 2, d11 = 0 eventually holds.
After g12 <= 3 until c1 <= 1, it is always the case that if u8 < 2 holds, then z6 > 1 previously held and was preceded by c9 <= 0 .
Between h2 >= 3 and n7 < 2, it is always the case that if w10 = 3 holds, then y8 = 3 eventually holds.
After w6 = 2 until z5 > 1, it is always the case that if d4 <= 0 holds, then o6 <= 0 previously held and was preceded by o3 > 3 .
Before e5 >= 0, it is always the case that if s3 <= 2 holds, then m2 <= 1 eventually holds and is succeeded by x8 <= 1, where y9 >= 2 does not hold between m2 <= 1 and x8 <= 1 .
After j10 <= 1, it is never the case that c12 <= 1 holds.
Before e9 = 1, it is always the case that if g6 <= 0 holds, then p9 >= 0 eventually holds and is succeeded by j1 = 2 .
After p7 >= 1 until m7 < 0, it is always the case that if u8 < 3 holds, then x4 > 1 eventually holds.
Between n2 < 1 and y1 >= 3, it is always the case that m6 <= 2 holds.
Globally, it is always the case that if e4 >= 2 holds and is succeeded by m1 >= 2, then h4 = 0 eventually holds after m1 >= 2 .
After h8 < 1 until k11 <= 0, it is always the case that if p11 < 3 holds, then o11 = 2 previously held and was preceded by b4 > 1 .
Globally, it is always the case that if m3 >= 1 holds and is succeeded by t0 < 0, then d6 >= 2 previously held.
Before e10 >= 3, it is always the case that if l2 < 2 holds, then f8 <= 1 previously held.
Between e2 >= 1 and i9 >= 2, it is always the case that r6 < 2 holds.
After r9 >= 0 until k7 = 3, it is always the case that t10 = 0 holds.
Between w9 = 3 and w2 < 0, it is always the case that if h0 >= 0 holds, then w3 < 2 previously held.
Before y0 >= 2, it is always the case that if c3 = 2 holds, then r5 <= 0 eventually holds and is succeeded by m5 > 2 .
Between f12 = 0 and w5 < 0, e0 > 1 eventually holds.
After l1 = 0, it is always the case that if g7 > 1 holds, then c10 = 1 eventually holds and is succeeded by k6 >= 2 .
After r0 > 3, it is always the case that b0 >= 1 holds.
After d10 < 1 until b7 > 2, it is always the case that if g10 >= 2 holds and is succeeded by j5 = 2, then x11 >= 1 previously held.
Globally, it is always the case that if u7 < 3 holds, then b4 < 1 eventually holds and is succeeded by y8 = 0, where e4 = 3 does not hold between b4 < 1 and y8 = 0 .
Globally, it is never the case that o9 > 3 holds.
Before d11 > 2, it is always the case that f5 <= 1 holds.
Between k10 > 1 and z6 >= 0, q8 <= 2 eventually holds.
Before a2 <= 3, v6 >= 1 eventually holds.
After f4 < 0, it is never the case that t8 < 2 holds.
Before p8 > 0, it is always the case that if o8 = 2 holds, then s4 > 1 eventually holds and is succeeded by d10 >= 3, where y11 <= 3 does not hold between s4 > 1 and d10 >= 3 .
Globally, it is always the case that if o0 < 3 holds, then r6 = 3 eventually holds.
After q9 <= 0, it is always the case that h4 < 0 holds.
Globally, it is always the case that g8 < 0 holds.
Globally, it is always the case that if b2 <= 0 holds, then l2 < 1 previously held and was preceded by g5 = 3 .
After f6 = 0, v5 >= 2 eventually holds.
After g1 = 3, it is always the case that p6 < 1 holds.
Before y7 >= 3, it is always the case that if g4 = 2 holds and is succeeded by n1 < 3, then k3 = 1 previously held.
After k4 >= 0, it is always the case that if x5 <= 1 holds, then h7 < 2 eventually holds and is succeeded by f3 >= 1, where m2 > 2 does not hold between h7 < 2 and f3 >= 1 .
Globally, it is always the case that if l8 <= 3 holds, then f10 < 2 eventually holds and is succeeded by p3 = 0 .
Globally, s9 <= 0 eventually holds.
After d4 <= 0, it is always the case that i7 <= 3 holds.
Globally, it is never the case that w0 < 0 holds.
After d12 >= 0, it is always the case that if k7 >= 3 holds, then h7 <= 3 eventually holds and is succeeded by v7 = 0, where r11 > 2 does not hold between h7 <= 3 and v7 = 0 .
After c3 > 2, it is always the case that if w1 < 0 holds, then i9 <= 3 previously held.
After x9 = 0, it is always the case that if c0 <= 0 holds, then h5 = 1 eventually holds and is succeeded by u4 = 2, where x4 < 1 does not hold between h5 = 1 and u4 = 2 .
Globally, it is always the case that if z5 <= 3 holds, then r0 >= 1 eventually holds.
Between l0 <= 0 and e5 <= 0, it is always the case that a9 >= 1 holds.
After q1 = 3 until h7 < 1, it is always the case that if x4 = 1 holds, then s5 < 3 previously held.
Globally, it is always the case that if u11 < 1 holds and is succeeded by l9 >= 2, then p3 > 2 eventually holds after l9 >= 2 .
Between p0 > 3 and m1 >= 0, it is always the case that if b10 >= 1 holds, then a11 > 0 eventually holds and is succeeded by r3 = 2 .
After g7 >= 0 until u0 <= 2, it is always the case that if p9 >= 0 holds, then d8 > 3 eventually holds and is succeeded by s8 <= 0, where l6 <= 0 does not hold between d8 > 3 and s8 <= 0 .
After z9 <= 3, it is always the case that if c11 = 3 holds, then d1 > 2 eventually holds and is succeeded by d4 < 2, where i1 = 1 does not hold between d1 > 2 and d4 < 2 .
Before o5 = 3, it is always the case that if f4 > 3 holds, then w0 > 0 eventually holds.
After e1 > 2 until n0 > 1, it is always the case that if v2 > 0 holds and is succeeded by w4 = 3, then r2 < 3 previously held.
After l6 > 3, it is always the case that if g5 < 0 holds, then m9 <= 0 eventually holds and is succeeded by w5 > 0 .
Before h6 <= 1, it is always the case that if b6 > 3 holds, then n7 < 1 previously held and was preceded by p7 < 3 .
After w6 = 0, it is always the case that if e6 > 0 holds and is succeeded by a5 < 2, then n4 <= 1 eventually holds after a5 < 2 .
Between v1 > 0 and l2 = 2, it is always the case that if u11 = 0 holds and is succeeded by y7 < 1, then c8 > 0 previously held.
Between c11 > 0 and k8 <= 2, it is always the case that if b9 >= 1 holds, then j11 < 2 previously held and was preceded by s3 < 2 .
After k1 > 3, it is never the case that q11 < 3 holds.
Before w6 < 1, it is always the case that if x5 > 1 holds and is succeeded by a5 <= 0, then c8 = 3 previously held.
Globally, it is always the case that if w9 < 3 holds, then o3 < 0 previously held.
After f10 = 3, it is never the case that e4 >= 3 holds.
Globally, it is always the case that if d12 > 0 holds, then k3 < 1 previously held.
After e0 > 1, it is always the case that if d2 >= 1 holds, then m9 >= 0 eventually holds.
After b8 <= 2, it is always the case that if p7 >= 0 holds, then h0 > 0 previously held.
Between f7 >= 2 and q3 > 1, it is always the case that if n1 <= 0 holds, then h10 = 0 previously held.
After c6 = 3, it is always the case that if w0 > 1 holds, then s2 > 0 eventually holds and is succeeded by f10 = 1 .
Before p3 = 0, it is always the case that if o2 = 1 holds, then z10 > 1 eventually holds and is succeeded by x1 < 2 .
After k1 < 3 until d11 < 3, it is always the case that if f4 > 3 holds and is succeeded by c1 = 1, then o2 <= 0 eventually holds after c1 = 1 .
After l6 > 0, t1 = 0 eventually holds.
Between f4 < 3 and f3 < 2, q5 = 0 eventually holds.
After h7 < 3, it is always the case that if s0 = 1 holds and is succeeded by h0 = 2, then r11 < 2 eventually holds after h0 = 2 .
Globally, it is always the case that if e3 <= 0 holds, then u3 < 3 eventually holds and is succeeded by w0 > 3 .
Between j5 < 3 and g0 < 3, it is always the case that f9 = 0 holds.
Globally, it is always the case that if k3 < 0 holds, then y3 > 1 eventually holds.
After g8 <= 2, it is never the case that b1 <= 3 holds.
After r1 = 0, g5 >= 3 eventually holds.
Before q0 > 1, it is always the case that if x4 <= 1 holds, then z5 > 3 eventually holds and is succeeded by v7 <= 2 .
Between h0 >= 3 and m0 = 1, it is always the case that if v11 > 1 holds, then c9 < 2 previously held.
After w7 < 1 until z10 < 1, it is always the case that if q2 < 1 holds, then b2 >= 1 previously held and was preceded by u7 <= 0 .
After f2 = 3, it is always the case that if s5 < 1 holds, then q5 <= 0 eventually holds and is succeeded by p6 >= 0 .
Before h10 > 3, it is always the case that if l3 = 1 holds and is succeeded by r11 < 2, then z4 > 2 previously held.
Before b11 <= 0, it is always the case that if s1 < 1 holds, then b9 <= 3 eventually holds and is succeeded by a1 < 2, where i1 >= 3 does not hold between b9 <= 3 and a1 < 2 .
Globally, it is always the case that if v2 < 2 holds and is succeeded by l9 < 0, then i5 >= 2 eventually holds after l9 < 0 .
After i11 < 1, it is always the case that if o0 = 3 holds, then f7 >= 1 eventually holds and is succeeded by n9 = 2, where x10 = 3 does not hold between f7 >= 1 and n9 = 2 .
Globally, it is always the case that if j3 = 3 holds and is succeeded by v11 <= 0, then h9 > 0 eventually holds after v11 <= 0 .
Globally, it is always the case that if q2 <= 3 holds, then w2 > 2 eventually holds and is succeeded by l11 = 2 .
After y4 = 3, it is always the case that y7 >= 0 holds.
Between i11 < 3 and v8 < 3, it is always the case that if m0 <= 1 holds, then l4 = 2 previously held and was preceded by d11 > 1 .
After f3 >= 0 until v1 >= 2, it is always the case that if f7 < 0 holds and is succeeded by j0 >= 1, then q6 <= 2 previously held.
After v10 > 3, it is never the case that r8 > 1 holds.
Globally, it is always the case that f10 > 2 holds.
Before l6 <= 1, it is always the case that if n11 >= 2 holds, then g11 = 2 eventually holds and is succeeded by o2 <= 2 .
After q0 >= 1 until o3 <= 2, q10 <= 3 eventually holds.
Globally, it is never the case that u3 = 2 holds.
Before v8 >= 0, it is always the case that m4 > 3 holds.
Between v10 <= 0 and n11 > 0, it is always the case that if i0 = 1 holds, then y6 > 0 previously held and was preceded by t8 >= 3 .
Globally, it is always the case that r1 > 3 holds.
After p10 = 3 until k10 <= 1, a9 < 0 eventually holds.
Globally, it is never the case that b10 < 0 holds.
Globally, it is always the case that if m0 >= 3 holds, then y0 >= 1 previously held.
Before g12 = 3, it is always the case that if k4 = 2 holds, then l3 < 0 previously held and was preceded by z9 <= 3 .
Before o0 > 3, it is always the case that if y7 > 2 holds, then r0 < 3 eventually holds.
After y9 < 0 until e3 >= 0, it is never the case that a2 > 2 holds.
Before b12 < 2, it is always the case that if t8 <= 1 holds, then f10 >= 3 previously held.
Globally, it is never the case that o4 < 0 holds.
Globally, it is always the case that if m2 = 1 holds, then l10 <= 0 previously held.
Between t7 >= 0 and w0 < 3, it is always the case that if z5 < 2 holds and is succeeded by t6 >= 0, then o0 >= 2 eventually holds after t6 >= 0 .
Before g0 > 0, it is always the case that if b12 < 0 holds, then f1 = 1 eventually holds.
After y7 > 3 until z2 > 2, it is never the case that f7 < 2 holds.
Globally, it is never the case that b1 >= 1 holds.
After f8 >= 2 until t10 < 0, it is always the case that if k1 = 3 holds, then p8 >= 1 eventually holds and is succeeded by c5 >= 3 .
After u5 <= 0, it is always the case that if u6 < 0 holds, then c11 >= 2 eventually holds and is succeeded by j11 <= 3 .
Globally, it is always the case that if h4 < 3 holds and is succeeded by k11 >= 3, then d8 = 0 previously held.
After n3 >= 0 until l9 < 2, it is always the case that if f7 >= 2 holds, then f2 >= 0 eventually holds and is succeeded by x5 = 1, where o4 > 3 does not hold between f2 >= 0 and x5 = 1 .
Between u5 = 2 and q9 <= 2, it is always the case that if z7 > 3 holds and is succeeded by k1 < 0, then a1 >= 0 previously held.
After w10 <= 2, it is always the case that if h1 > 1 holds, then k7 = 1 previously held and was preceded by h11 = 0 .
After l9 >= 2, it is always the case that if t10 < 3 holds, then t11 < 0 eventually holds and is succeeded by q2 <= 2 .
After x11 >= 3, it is always the case that e6 >= 2 holds.
Between w9 > 2 and s1 = 1, it is always the case that if e8 <= 2 holds, then e7 < 2 eventually holds and is succeeded by u0 <= 2 .
Globally, w0 = 1 eventually holds.
After c10 = 2 until o7 <= 0, it is never the case that x7 <= 2 holds.
Globally, c5 <= 2 eventually holds.
Before v0 = 1, it is always the case that if c2 <= 0 holds and is succeeded by b5 > 3, then w5 <= 0 previously held.
Globally, r0 = 0 eventually holds.
Globally, it is always the case that if f1 > 1 holds, then v6 > 2 eventually holds and is succeeded by g8 < 1, where s0 = 2 does not hold between v6 > 2 and g8 < 1 .
Before e9 <= 1, it is always the case that if n8 >= 3 holds and is succeeded by p6 < 2, then e6 < 1 previously held.
Between n11 <= 2 and h6 = 0, it is always the case that s3 >= 3 holds.
Globally, it is always the case that if e4 > 1 holds and is succeeded by p7 = 1, then u11 > 3 eventually holds after p7 = 1 .
Before z11 > 3, it is always the case that if e4 > 3 holds, then f3 = 1 eventually holds and is succeeded by k6 < 1 .
Between s8 > 3 and l2 = 1, it is always the case that if n0 <= 3 holds, then j5 > 0 previously held and was preceded by g4 < 0 .
Between z9 = 1 and i10 < 0, it is always the case that if z11 >= 0 holds, then d1 = 2 previously held.
Between b4 > 3 and g1 < 2, it is always the case that e9 = 2 holds.
After e3 <= 2 until k11 > 1, it is always the case that if a3 = 0 holds, then v11 = 3 previously held.
Between g1 >= 2 and s6 = 3, it is always the case that if o11 >= 0 holds, then s0 < 2 previously held and was preceded by t8 > 0 .
Between l9 >= 3 and g8 = 3, it is always the case that if e0 >= 2 holds, then g0 <= 0 eventually holds.
After f4 > 1, it is always the case that if x3 > 2 holds, then i6 >= 3 eventually holds and is succeeded by m10 > 1 .
Before b1 < 3, it is always the case that if e1 <= 3 holds, then l4 < 2 previously held.
Between p11 > 1 and d7 >= 0, p4 < 3 eventually holds.
Before m0 < 2, it is always the case that if a12 < 3 holds, then n9 < 3 eventually holds and is succeeded by n4 >= 2 .
After j9 >= 2, it is always the case that if w4 > 3 holds, then k11 > 2 previously held.
Between j4 = 3 and q8 > 0, it is always the case that if u7 < 3 holds, then e2 = 2 previously held.
After w0 < 1, it is always the case that if q1 > 3 holds, then s4 = 1 eventually holds.
Between v7 >= 1 and x3 >= 2, it is always the case that if u1 < 1 holds, then f6 < 3 eventually holds and is succeeded by o8 > 1 .
Before b2 >= 0, it is always the case that if f1 > 3 holds, then k0 = 1 previously held and was preceded by x8 >= 3 .
Before p11 = 0, it is always the case that i11 > 0 holds.
Before g5 < 2, it is always the case that if l10 < 0 holds, then d11 < 1 eventually holds and is succeeded by p2 < 1, where p1 <= 2 does not hold between d11 < 1 and p2 < 1 .
Before i7 > 1, it is always the case that if j2 = 1 holds, then p0 < 0 previously held and was preceded by t1 <= 3 .
Globally, it is always the case that if z0 >= 3 holds, then j11 < 0 previously held and was preceded by w2 <= 0 .
After q1 = 0, it is always the case that if r2 = 2 holds, then t8 < 1 eventually holds and is succeeded by o11 >= 1 .
Before j3 <= 3, it is always the case that if b2 <= 1 holds and is succeeded by a5 > 2, then a10 > 0 previously held.
Globally, it is never the case that j3 <= 1 holds.
Between b10 > 0 and p5 >= 3, it is never the case that y6 < 3 holds.
After r7 < 3 until d10 <= 2, it is always the case that if u5 = 3 holds and is succeeded by k4 <= 2, then o8 >= 0 eventually holds after k4 <= 2 .
