After d0 = 2 until m0 < 0, it is always the case that if t0 > 0 holds, then s0 < 2 eventually holds and is succeeded by g1 <= 1 .
Between c0 < 1 and a1 = 1, it is always the case that a0 <= 2 holds.
Before z0 > 1, it is never the case that y0 >= 3 holds.
Globally, it is always the case that if m1 > 0 holds, then o0 < 2 eventually holds and is succeeded by k0 = 3, where e0 <= 3 does not hold between o0 < 2 and k0 = 3 .
After h0 < 0 until s0 <= 1, it is always the case that if r0 < 0 holds, then f1 = 0 previously held and was preceded by c0 = 0 .
After b1 >= 1 until j0 >= 2, it is never the case that w0 = 1 holds.
Globally, it is always the case that if m0 < 2 holds, then a0 > 1 previously held.
Before l0 > 2, it is always the case that if d1 = 0 holds and is succeeded by l1 > 1, then z0 = 3 eventually holds after l1 > 1 .
Between m1 > 2 and a1 > 1, c0 = 3 eventually holds.
After u0 >= 1, it is always the case that if e0 = 0 holds and is succeeded by u0 >= 3, then r0 < 3 eventually holds after u0 >= 3 .
After f0 = 0 until p0 = 0, it is always the case that if k1 = 1 holds, then u0 > 1 eventually holds and is succeeded by c0 < 0 .
After x0 = 0 until y0 = 3, it is always the case that if e0 >= 3 holds, then c0 < 2 previously held.
Before g0 > 2, it is always the case that if a1 < 1 holds, then l0 >= 3 eventually holds and is succeeded by d0 <= 0 .
Before l1 <= 3, it is always the case that if l1 <= 1 holds, then f0 > 3 eventually holds and is succeeded by v0 < 1, where w0 <= 0 does not hold between f0 > 3 and v0 < 1 .
Globally, it is always the case that a0 = 1 holds.
Between t0 > 3 and l0 >= 0, it is always the case that if i1 <= 1 holds and is succeeded by n0 = 1, then s0 < 2 eventually holds after n0 = 1 .
Globally, t0 < 0 eventually holds.
After v0 >= 1 until g0 < 0, it is never the case that u0 = 2 holds.
Between d1 >= 2 and d1 = 2, it is always the case that o0 > 2 holds.
Before x0 < 0, d1 <= 2 eventually holds.
Before g1 <= 2, e1 <= 2 eventually holds.
After n0 <= 3, h1 <= 0 eventually holds.
Before g1 >= 2, it is never the case that n0 <= 3 holds.
Between c0 >= 2 and n0 <= 2, x0 <= 1 eventually holds.
After d1 <= 2 until n0 < 3, it is always the case that if s0 >= 2 holds, then y0 <= 1 eventually holds and is succeeded by h1 = 2 .
Globally, i1 > 2 eventually holds.
Globally, it is always the case that if l0 = 1 holds, then h0 > 1 previously held.
Globally, it is always the case that if l0 >= 2 holds, then v0 < 2 eventually holds.
Globally, it is always the case that if y0 >= 1 holds, then i1 >= 3 eventually holds and is succeeded by i1 = 0 .
Before i0 >= 2, it is always the case that if m0 < 3 holds, then z0 > 2 eventually holds and is succeeded by a1 > 1 .
After n0 <= 1, it is always the case that c0 <= 3 holds.
After m0 > 2 until i1 = 2, it is always the case that if m0 <= 2 holds, then g1 < 0 previously held and was preceded by s0 > 2 .
Between x0 < 0 and d1 = 0, it is always the case that if g1 = 2 holds, then l0 < 1 eventually holds.
Between g0 <= 3 and g0 = 2, it is always the case that if a1 < 1 holds and is succeeded by h1 > 3, then q0 = 3 previously held.
After y0 <= 1, it is always the case that if c0 = 3 holds, then s0 >= 3 previously held.
After b0 >= 1 until d0 >= 2, it is always the case that if x0 = 3 holds and is succeeded by u0 = 0, then m1 = 0 previously held.
After f0 <= 1, it is always the case that if d0 < 2 holds, then k0 = 2 previously held and was preceded by i1 <= 3 .
Globally, it is always the case that o0 > 2 holds.
After j1 = 2 until u0 >= 2, it is always the case that if j1 >= 2 holds, then x0 > 2 eventually holds.
After x0 = 1 until h0 > 1, it is always the case that if l1 = 3 holds, then r0 <= 2 previously held.
Between z0 = 3 and n0 < 1, i0 > 3 eventually holds.
After q0 < 3, it is always the case that if w0 < 0 holds, then c1 = 1 eventually holds.
Before j0 > 2, y0 >= 3 eventually holds.
Before e0 >= 3, v0 < 0 eventually holds.
After a0 < 0, e0 <= 3 eventually holds.
Globally, it is never the case that h0 > 2 holds.
After j0 = 0 until r0 >= 3, it is always the case that if h1 > 0 holds and is succeeded by e1 >= 0, then y0 < 1 eventually holds after e1 >= 0 .
After j0 < 2, j0 >= 3 eventually holds.
Globally, it is always the case that if a0 <= 3 holds, then g1 >= 2 eventually holds.
Between i0 < 0 and x0 < 0, it is always the case that if w0 = 1 holds and is succeeded by w0 = 3, then j0 > 1 previously held.
Between a1 = 0 and h0 <= 0, r0 >= 3 eventually holds.
Between d0 >= 0 and y0 = 0, w0 <= 3 eventually holds.
Globally, it is always the case that if n0 >= 0 holds, then g1 = 1 eventually holds and is succeeded by h1 < 1, where f1 >= 3 does not hold between g1 = 1 and h1 < 1 .
After y0 >= 2, it is always the case that if w0 = 2 holds and is succeeded by y0 < 1, then b1 = 3 previously held.
After n0 <= 0, it is always the case that if p0 = 0 holds and is succeeded by f1 <= 3, then a1 < 3 previously held.
After i1 <= 1, it is always the case that if a1 >= 3 holds, then b0 > 3 eventually holds.
Before d0 = 1, it is always the case that if f0 < 1 holds, then u0 <= 2 previously held and was preceded by i1 >= 0 .
Globally, it is always the case that if t0 < 3 holds, then i1 <= 3 eventually holds and is succeeded by x0 > 1, where c0 <= 3 does not hold between i1 <= 3 and x0 > 1 .
Between x0 <= 3 and x0 = 0, v0 > 1 eventually holds.
After x0 >= 3 until i1 <= 2, it is always the case that if i1 = 3 holds and is succeeded by a0 > 0, then r0 < 2 previously held.
After l0 < 1 until c0 > 1, it is always the case that if e0 < 2 holds and is succeeded by n0 < 2, then r0 > 0 previously held.
Before i0 <= 2, it is always the case that if d1 >= 0 holds, then o0 > 2 previously held.
After p0 < 3, it is always the case that if i1 > 1 holds, then y0 >= 1 previously held.
Before k1 < 0, c0 >= 1 eventually holds.
Before k1 >= 1, it is never the case that r0 < 1 holds.
Before m1 >= 1, it is never the case that e0 = 0 holds.
Globally, it is always the case that if e1 < 2 holds, then h1 > 2 eventually holds.
After c1 < 1 until k0 < 3, it is always the case that if d1 = 3 holds and is succeeded by x0 = 2, then d0 = 2 eventually holds after x0 = 2 .
Between l0 < 2 and l0 <= 0, it is always the case that if w0 = 0 holds, then i1 = 2 previously held.
Between d0 >= 1 and c0 > 0, it is never the case that c0 < 2 holds.
After l0 = 2 until m1 > 0, it is always the case that if h1 <= 3 holds and is succeeded by k0 < 3, then x0 = 2 eventually holds after k0 < 3 .
After h0 < 3 until j1 >= 1, it is never the case that c1 = 2 holds.
After m1 >= 0, it is always the case that if v0 > 2 holds, then a1 < 0 eventually holds and is succeeded by z0 < 3 .
After p0 < 2, it is always the case that if k1 > 0 holds and is succeeded by c0 < 2, then r0 <= 2 eventually holds after c0 < 2 .
Before o0 < 0, it is always the case that if b0 < 1 holds and is succeeded by s0 >= 3, then t0 <= 1 previously held.
After h0 >= 1 until r0 >= 0, it is always the case that if w0 < 0 holds, then h1 = 0 eventually holds.
Before z0 < 0, it is always the case that if g1 >= 2 holds, then l1 < 0 previously held and was preceded by q0 <= 0 .
After v0 > 2, k0 = 0 eventually holds.
Between o0 = 2 and p0 <= 0, it is always the case that if a0 >= 0 holds and is succeeded by j1 <= 3, then p0 > 2 previously held.
Between j0 = 1 and s0 <= 3, it is never the case that g1 > 3 holds.
Between i0 < 1 and g0 <= 2, it is always the case that if b0 <= 3 holds and is succeeded by r0 >= 1, then e0 < 1 eventually holds after r0 >= 1 .
After a0 >= 1 until y0 > 2, it is always the case that if o0 < 0 holds, then g1 <= 2 eventually holds.
After m1 = 0, b0 < 2 eventually holds.
After y0 <= 2, it is always the case that if l0 = 2 holds, then j0 <= 0 eventually holds and is succeeded by w0 > 0, where y0 >= 0 does not hold between j0 <= 0 and w0 > 0 .
Globally, it is always the case that if i0 <= 3 holds and is succeeded by a0 > 2, then b1 < 2 eventually holds after a0 > 2 .
After e0 > 1, it is always the case that if g0 <= 3 holds, then p0 >= 0 eventually holds and is succeeded by m1 >= 1 .
Globally, it is always the case that if h1 >= 3 holds, then n0 > 3 eventually holds and is succeeded by j1 > 3, where h0 >= 0 does not hold between n0 > 3 and j1 > 3 .
After h1 <= 3 until d1 >= 3, it is never the case that h0 < 2 holds.
Before k1 = 1, it is always the case that if k0 < 0 holds, then e0 >= 2 eventually holds.
Between e0 > 3 and j0 >= 1, it is always the case that if e1 = 1 holds, then b0 <= 2 eventually holds and is succeeded by g0 <= 2, where c0 <= 0 does not hold between b0 <= 2 and g0 <= 2 .
Between v0 > 1 and f1 < 2, h0 >= 3 eventually holds.
After j0 >= 2, it is always the case that if k0 <= 1 holds, then u0 < 0 eventually holds and is succeeded by e0 > 1, where g0 > 1 does not hold between u0 < 0 and e0 > 1 .
After y0 > 2 until u0 > 0, it is always the case that b0 < 0 holds.
After a1 > 1 until f0 = 2, it is always the case that if x0 = 3 holds and is succeeded by g1 >= 3, then k0 < 1 eventually holds after g1 >= 3 .
After i0 < 0 until j1 > 2, it is always the case that if f1 = 1 holds, then c1 > 2 previously held.
After g1 > 0 until j0 <= 3, it is always the case that i1 >= 0 holds.
After g1 = 1, it is always the case that j1 <= 0 holds.
Between t0 = 2 and t0 < 2, it is always the case that if a1 = 2 holds, then d0 <= 2 previously held.
Before y0 <= 1, it is always the case that if k1 < 3 holds, then f0 = 1 previously held.
After h0 >= 0, it is always the case that if b0 >= 3 holds and is succeeded by a1 > 1, then f1 > 3 eventually holds after a1 > 1 .
After m1 = 1 until d0 > 2, it is always the case that if t0 < 0 holds and is succeeded by g1 >= 0, then x0 > 2 previously held.
After e0 <= 2, it is always the case that if g0 <= 0 holds and is succeeded by l1 >= 0, then k0 < 3 eventually holds after l1 >= 0 .
Globally, it is always the case that if d1 < 1 holds, then f0 < 1 eventually holds and is succeeded by a0 >= 2, where d1 >= 3 does not hold between f0 < 1 and a0 >= 2 .
Between f0 > 2 and z0 >= 3, it is always the case that if i1 > 2 holds and is succeeded by l1 > 1, then j1 >= 0 eventually holds after l1 > 1 .
After f0 <= 1, it is always the case that if p0 >= 1 holds and is succeeded by l0 < 2, then s0 < 3 previously held.
After v0 > 3 until o0 = 0, e0 >= 0 eventually holds.
Globally, it is always the case that if i1 > 0 holds, then g0 <= 2 eventually holds and is succeeded by r0 <= 2, where h1 > 1 does not hold between g0 <= 2 and r0 <= 2 .
After d1 < 0, h0 > 0 eventually holds.
After a1 >= 1, it is always the case that if v0 >= 1 holds, then d1 >= 0 previously held.
Globally, it is never the case that h0 >= 1 holds.
Before l1 = 2, it is always the case that l0 >= 1 holds.
Between m1 < 2 and j0 > 1, it is never the case that k0 < 3 holds.
Globally, it is always the case that if x0 <= 2 holds and is succeeded by z0 = 0, then v0 > 2 eventually holds after z0 = 0 .
Between w0 = 0 and n0 > 0, it is never the case that x0 <= 3 holds.
After v0 >= 1 until k0 > 0, it is always the case that if i1 = 1 holds and is succeeded by d1 = 3, then j0 = 2 previously held.
Before b0 < 0, it is always the case that if d1 < 0 holds, then b1 <= 0 eventually holds and is succeeded by g0 > 1, where v0 > 2 does not hold between b1 <= 0 and g0 > 1 .
Between l0 > 3 and f0 = 1, it is always the case that if k1 < 2 holds, then f0 < 1 previously held.
After c1 = 1, k0 = 3 eventually holds.
Between w0 >= 2 and j1 < 0, it is always the case that if l1 < 0 holds and is succeeded by a1 < 3, then k0 <= 1 eventually holds after a1 < 3 .
Between m1 >= 0 and n0 <= 0, j1 > 1 eventually holds.
After u0 = 3, it is always the case that if c0 >= 3 holds, then i1 = 2 previously held.
After j0 >= 3 until h0 < 0, it is always the case that if s0 <= 0 holds, then c0 <= 2 eventually holds and is succeeded by a0 = 0, where f0 = 3 does not hold between c0 <= 2 and a0 = 0 .
Globally, it is always the case that if k0 <= 2 holds, then z0 < 0 previously held and was preceded by d0 > 2 .
After e1 = 2, it is always the case that if t0 < 3 holds, then z0 >= 3 eventually holds.
After a0 > 3, j1 >= 0 eventually holds.
After n0 = 1 until x0 = 1, it is always the case that if c0 <= 3 holds, then e0 >= 1 eventually holds and is succeeded by a1 = 3, where b1 >= 0 does not hold between e0 >= 1 and a1 = 3 .
Between g0 >= 2 and k1 <= 1, it is always the case that if m0 <= 3 holds, then e1 = 1 eventually holds and is succeeded by v0 > 1, where g0 > 3 does not hold between e1 = 1 and v0 > 1 .
Globally, it is always the case that if b1 > 2 holds and is succeeded by l0 <= 2, then c0 > 3 eventually holds after l0 <= 2 .
After d0 < 2, it is always the case that if k1 <= 3 holds, then e0 < 1 eventually holds.
After g1 >= 0, it is always the case that if r0 < 3 holds, then j0 <= 2 previously held and was preceded by l0 > 3 .
After d1 < 2, it is always the case that if w0 > 2 holds and is succeeded by z0 <= 0, then k1 <= 3 eventually holds after z0 <= 0 .
Globally, it is always the case that if y0 = 1 holds and is succeeded by d0 <= 1, then g1 > 3 eventually holds after d0 <= 1 .
After f1 <= 1 until g0 >= 0, it is always the case that if x0 < 3 holds, then e1 >= 2 previously held.
Globally, it is always the case that if s0 < 1 holds, then y0 = 3 previously held.
After l0 = 1, it is always the case that if y0 <= 3 holds and is succeeded by d0 < 0, then d0 >= 2 eventually holds after d0 < 0 .
After i1 <= 3, it is always the case that if o0 <= 3 holds, then d1 >= 1 previously held.
After t0 < 0 until s0 = 3, it is always the case that if h0 <= 3 holds and is succeeded by e1 <= 1, then n0 = 1 previously held.
Between o0 <= 0 and i0 > 2, it is always the case that if e1 > 1 holds and is succeeded by l1 < 2, then g0 <= 0 eventually holds after l1 < 2 .
After x0 < 1 until x0 > 1, it is always the case that if f1 = 3 holds and is succeeded by s0 <= 0, then l0 = 1 eventually holds after s0 <= 0 .
After z0 <= 0, it is always the case that if c1 <= 0 holds, then c0 > 2 eventually holds and is succeeded by c0 > 3, where a1 < 0 does not hold between c0 > 2 and c0 > 3 .
After z0 < 0 until k1 = 1, it is never the case that j0 <= 1 holds.
Between a0 > 0 and x0 = 3, it is never the case that r0 > 1 holds.
Before p0 = 3, it is always the case that if r0 <= 2 holds, then h0 >= 0 previously held and was preceded by k1 < 1 .
After x0 > 0, it is always the case that if h1 = 0 holds, then y0 <= 2 eventually holds and is succeeded by q0 < 3, where k1 < 0 does not hold between y0 <= 2 and q0 < 3 .
Between a0 >= 2 and f1 = 2, it is always the case that if g1 >= 1 holds, then c0 = 0 eventually holds and is succeeded by q0 = 0 .
After d0 = 0, it is never the case that f0 = 1 holds.
After a0 = 2, it is always the case that if e1 > 1 holds, then t0 >= 1 previously held and was preceded by y0 >= 1 .
Globally, it is always the case that if a1 <= 2 holds, then i1 > 0 eventually holds and is succeeded by d1 >= 3, where t0 > 2 does not hold between i1 > 0 and d1 >= 3 .
Before h0 <= 0, it is always the case that if i1 = 1 holds, then h1 <= 1 eventually holds and is succeeded by i1 <= 1, where l1 = 0 does not hold between h1 <= 1 and i1 <= 1 .
Before s0 >= 3, it is always the case that if w0 > 0 holds, then g0 >= 2 previously held and was preceded by e0 > 2 .
Between n0 < 2 and b0 <= 1, it is always the case that if d1 >= 1 holds, then s0 > 2 eventually holds and is succeeded by c0 >= 3, where c1 >= 2 does not hold between s0 > 2 and c0 >= 3 .
Between b1 < 0 and i1 = 1, it is always the case that if w0 > 2 holds, then j0 = 2 previously held and was preceded by f0 > 2 .
Globally, it is always the case that if g0 >= 3 holds, then c0 = 0 previously held and was preceded by c0 <= 0 .
After b0 = 0, it is always the case that if g1 <= 1 holds and is succeeded by y0 > 1, then i0 < 1 previously held.
Between c1 >= 0 and f0 < 1, it is always the case that if f0 = 1 holds, then f1 >= 0 eventually holds and is succeeded by j0 < 1 .
After i0 <= 0, it is always the case that if d1 = 3 holds and is succeeded by h0 <= 1, then m0 = 2 previously held.
After l1 >= 3 until o0 >= 3, it is always the case that if j0 <= 2 holds, then h0 < 1 previously held and was preceded by i1 > 0 .
After z0 <= 2 until k1 = 2, it is always the case that if l1 >= 2 holds and is succeeded by k1 = 3, then q0 <= 3 previously held.
Between r0 = 2 and h0 < 1, it is always the case that if z0 = 0 holds, then c0 >= 0 eventually holds and is succeeded by z0 <= 3, where c0 = 0 does not hold between c0 >= 0 and z0 <= 3 .
Globally, it is always the case that if a1 > 0 holds, then h0 = 3 previously held and was preceded by w0 > 1 .
Before d1 = 3, it is always the case that if i1 < 0 holds, then l0 > 1 eventually holds.
Between c0 <= 1 and d1 >= 2, it is always the case that if y0 < 3 holds, then j0 <= 1 previously held.
After q0 <= 3 until m0 = 2, it is always the case that k0 = 3 holds.
Before g0 <= 2, it is always the case that if n0 >= 1 holds and is succeeded by s0 > 3, then e1 = 0 eventually holds after s0 > 3 .
After h1 > 2, it is always the case that m1 > 2 holds.
Before e1 = 2, it is always the case that if r0 > 1 holds, then a1 < 1 previously held and was preceded by u0 = 0 .
After q0 = 2 until b0 < 3, it is always the case that if g1 = 3 holds, then i1 < 2 eventually holds and is succeeded by d0 >= 2, where j1 > 2 does not hold between i1 < 2 and d0 >= 2 .
Between p0 < 1 and h1 <= 0, it is always the case that if c1 > 0 holds and is succeeded by l0 <= 3, then w0 < 1 eventually holds after l0 <= 3 .
After j1 <= 2, it is always the case that if k1 < 0 holds and is succeeded by a1 > 2, then d0 <= 1 previously held.
After l1 = 0, it is always the case that l0 > 3 holds.
Before a1 >= 2, it is always the case that if o0 >= 0 holds, then r0 <= 1 previously held and was preceded by k1 >= 2 .
Between x0 > 2 and l0 = 0, it is always the case that if m1 = 1 holds and is succeeded by a0 >= 3, then e0 < 2 eventually holds after a0 >= 3 .
Globally, it is always the case that p0 < 0 holds.
Before k1 = 1, it is never the case that j1 < 0 holds.
Between j1 < 0 and k0 >= 3, it is always the case that if u0 > 1 holds, then r0 > 0 eventually holds and is succeeded by l1 > 2 .
After h0 > 1, j0 <= 2 eventually holds.
Between i1 > 0 and a1 <= 1, h0 = 3 eventually holds.
After v0 <= 1, it is always the case that if g1 <= 1 holds and is succeeded by i0 <= 3, then l1 <= 3 previously held.
Globally, it is always the case that if q0 <= 0 holds, then a1 = 3 previously held and was preceded by l0 <= 0 .
After i1 > 3 until d0 = 0, it is always the case that if p0 > 2 holds, then y0 <= 3 eventually holds and is succeeded by r0 = 0 .
After g0 >= 0 until c1 = 2, it is always the case that if s0 > 0 holds, then b1 < 1 eventually holds.
After c0 <= 2, it is always the case that if y0 >= 3 holds and is succeeded by j0 = 0, then g1 = 0 previously held.
After y0 = 2 until e0 > 0, it is always the case that if n0 = 1 holds, then m1 < 1 previously held.
After e1 >= 1, h1 = 0 eventually holds.
Globally, it is always the case that if u0 > 2 holds, then b1 > 0 eventually holds.
After r0 = 2, it is always the case that c0 <= 3 holds.
After m1 = 3, it is always the case that if x0 < 1 holds, then f0 > 0 previously held.
Before g1 > 3, it is always the case that if k0 <= 0 holds, then j1 < 3 previously held and was preceded by f0 = 1 .
Before r0 > 1, it is always the case that if t0 <= 3 holds, then i1 <= 2 previously held.
After t0 >= 1, it is always the case that if e1 = 0 holds, then y0 = 1 previously held.
After q0 >= 1, it is never the case that a0 >= 1 holds.
After a1 = 0 until t0 >= 1, it is always the case that if b0 <= 1 holds, then o0 > 2 previously held.
After u0 > 3, it is always the case that if h0 >= 0 holds, then h0 >= 0 previously held.
Between n0 = 2 and k1 = 3, it is always the case that if s0 < 2 holds and is succeeded by u0 <= 1, then w0 > 2 previously held.
After n0 <= 1, it is always the case that if d0 = 3 holds, then i0 < 2 previously held.
After e0 >= 0 until f0 <= 0, it is always the case that if i1 > 2 holds, then k1 <= 1 previously held.
Before h1 < 2, it is always the case that if b1 >= 1 holds, then z0 = 1 previously held.
Before m0 <= 2, it is always the case that if e1 = 0 holds, then l1 = 3 previously held.
After c0 < 1, it is always the case that if f0 = 3 holds and is succeeded by d1 < 3, then a1 > 1 previously held.
Before b0 >= 3, it is always the case that if r0 <= 0 holds, then h0 <= 1 eventually holds and is succeeded by c1 > 2 .
After e0 > 1 until y0 > 0, it is always the case that if k1 > 2 holds, then f0 < 1 eventually holds and is succeeded by y0 < 3, where o0 <= 2 does not hold between f0 < 1 and y0 < 3 .
Between j1 <= 3 and s0 > 0, it is always the case that if w0 <= 0 holds, then p0 >= 1 eventually holds and is succeeded by d1 < 0 .
After i1 >= 1 until j1 = 0, it is always the case that j1 = 1 holds.
Globally, e0 >= 0 eventually holds.
Globally, it is always the case that if k1 <= 0 holds, then s0 >= 1 eventually holds.
Globally, it is never the case that c1 = 1 holds.
Before y0 >= 1, it is always the case that if y0 > 1 holds, then d0 <= 2 previously held and was preceded by j1 <= 0 .
Before d0 <= 1, it is always the case that if f0 < 2 holds, then a1 = 3 previously held.
Before l1 > 3, it is always the case that if f1 = 0 holds, then z0 = 1 previously held and was preceded by g1 = 1 .
After f1 <= 1 until d1 < 0, it is always the case that if q0 = 1 holds and is succeeded by y0 = 2, then j0 >= 0 previously held.
After f1 > 0, it is always the case that f0 > 1 holds.
After h1 <= 1 until v0 >= 1, it is never the case that f0 > 0 holds.
After h0 < 0 until f1 > 3, it is always the case that if i0 <= 1 holds, then s0 > 3 eventually holds and is succeeded by l1 = 0 .
After c1 >= 2, it is always the case that if k0 = 1 holds and is succeeded by k0 >= 2, then b1 >= 0 previously held.
After q0 <= 2 until d0 < 0, it is always the case that if l0 = 2 holds, then e1 < 1 previously held and was preceded by w0 <= 3 .
Between h0 = 3 and g1 >= 2, it is always the case that if p0 >= 2 holds, then m1 = 3 eventually holds.
Before n0 > 0, it is always the case that if f1 > 3 holds, then e0 < 2 previously held and was preceded by g0 <= 0 .
After z0 <= 3, it is always the case that if i1 >= 2 holds and is succeeded by c1 > 1, then o0 = 0 eventually holds after c1 > 1 .
Between d1 < 1 and z0 = 2, it is always the case that if d1 = 2 holds, then s0 >= 1 eventually holds and is succeeded by g1 >= 3, where y0 > 1 does not hold between s0 >= 1 and g1 >= 3 .
After l0 <= 0, it is always the case that if h0 <= 2 holds, then w0 > 3 eventually holds and is succeeded by c1 = 3 .
Between r0 <= 2 and i0 = 2, it is always the case that if m0 >= 0 holds, then y0 > 0 eventually holds and is succeeded by b1 >= 2, where a1 >= 1 does not hold between y0 > 0 and b1 >= 2 .
After c0 <= 2 until n0 > 1, it is never the case that u0 = 2 holds.
Between l1 = 2 and u0 = 2, it is always the case that if j1 >= 3 holds, then l1 < 2 eventually holds and is succeeded by i0 > 0, where m0 > 1 does not hold between l1 < 2 and i0 > 0 .
Between b0 = 1 and z0 >= 0, it is always the case that if a1 >= 1 holds, then g1 >= 1 eventually holds and is succeeded by x0 > 1, where v0 <= 2 does not hold between g1 >= 1 and x0 > 1 .
After b1 > 1 until t0 >= 1, it is always the case that if t0 = 3 holds, then p0 < 0 previously held.
Globally, it is never the case that f0 <= 1 holds.
Between j1 > 0 and h0 <= 1, it is always the case that if q0 <= 0 holds, then a1 <= 2 previously held and was preceded by c1 <= 1 .
After c0 > 0 until d1 > 3, it is always the case that if b1 = 2 holds, then k0 < 2 eventually holds.
Before p0 <= 1, it is always the case that if k0 = 3 holds, then g1 > 2 eventually holds and is succeeded by f1 <= 3, where m0 < 0 does not hold between g1 > 2 and f1 <= 3 .
After g0 > 0 until k1 = 1, it is always the case that k0 > 0 holds.
After e1 >= 2, it is always the case that if e1 >= 1 holds, then u0 >= 2 eventually holds.
After b1 <= 3 until z0 = 0, m1 >= 0 eventually holds.
Globally, it is never the case that b1 = 3 holds.
Before y0 <= 3, x0 = 0 eventually holds.
Globally, it is always the case that s0 < 1 holds.
Between a0 > 0 and e1 = 0, it is never the case that a1 > 1 holds.
After i0 = 2, it is always the case that if u0 <= 0 holds, then y0 < 1 eventually holds.
Before w0 = 0, it is always the case that if m0 < 0 holds, then u0 <= 3 previously held.
Globally, f0 >= 2 eventually holds.
After c0 >= 3, it is never the case that l0 = 1 holds.
