After p0 < 3 until v0 = 1, it is never the case that h1 = 0 holds.
Between m1 > 2 and j0 >= 0, it is always the case that if t0 > 3 holds and is succeeded by q0 > 0, then c1 <= 0 eventually holds after q0 > 0 .
After f1 > 2, it is always the case that if x0 >= 1 holds, then r0 < 1 eventually holds.
Between x0 = 1 and r0 > 0, it is always the case that g1 < 2 holds.
After l0 >= 2, it is always the case that if a1 > 0 holds, then l1 > 2 previously held and was preceded by m1 < 1 .
After c1 <= 2, j0 = 2 eventually holds.
Between j1 <= 1 and e1 > 2, it is always the case that if x0 > 2 holds, then o0 >= 1 previously held and was preceded by f0 < 1 .
After l1 < 1 until g1 = 3, it is always the case that if e0 >= 0 holds, then m0 >= 1 eventually holds.
After u0 > 0 until c1 > 1, it is never the case that a0 <= 0 holds.
After b0 = 2, it is always the case that if b1 >= 3 holds, then k0 < 3 previously held and was preceded by e1 = 0 .
Globally, n0 < 1 eventually holds.
Between p0 > 2 and l1 <= 2, it is always the case that if g1 >= 3 holds, then i0 >= 2 eventually holds and is succeeded by l0 = 2 .
Between r0 > 0 and c1 > 1, it is never the case that i1 = 3 holds.
Before g0 > 3, it is always the case that if c1 > 0 holds, then u0 >= 2 previously held.
Globally, it is never the case that l1 < 3 holds.
After a0 > 3, it is never the case that j0 < 0 holds.
Before x0 > 3, it is always the case that if k1 <= 2 holds, then v0 >= 2 previously held and was preceded by o0 = 0 .
Globally, a0 > 0 eventually holds.
Globally, it is always the case that if k0 > 2 holds and is succeeded by g1 < 0, then m0 <= 2 eventually holds after g1 < 0 .
Between j1 > 2 and u0 > 2, it is always the case that if i1 < 2 holds, then d1 > 2 eventually holds.
After h1 < 0, it is always the case that if c1 <= 2 holds, then f1 < 3 eventually holds and is succeeded by f0 >= 3, where k1 >= 3 does not hold between f1 < 3 and f0 >= 3 .
After l1 >= 3 until w0 >= 2, it is always the case that if c0 < 0 holds, then p0 <= 1 eventually holds and is succeeded by b0 > 3, where n0 <= 3 does not hold between p0 <= 1 and b0 > 3 .
After c1 > 3 until e1 < 1, it is always the case that if f1 >= 3 holds, then h0 <= 3 previously held.
Before q0 = 1, it is always the case that if d0 = 1 holds, then i0 = 1 eventually holds and is succeeded by x0 < 1, where s0 > 0 does not hold between i0 = 1 and x0 < 1 .
Between i0 < 2 and i1 < 2, v0 > 3 eventually holds.
After l0 < 0, it is always the case that if o0 = 3 holds and is succeeded by x0 >= 0, then z0 = 0 eventually holds after x0 >= 0 .
Before c1 < 2, m0 > 2 eventually holds.
Before b0 >= 1, g1 <= 2 eventually holds.
After s0 >= 2, it is always the case that if e1 >= 0 holds, then g0 = 0 eventually holds and is succeeded by k0 >= 3, where g1 >= 3 does not hold between g0 = 0 and k0 >= 3 .
Between m0 <= 1 and p0 <= 2, x0 > 0 eventually holds.
After k1 = 2 until y0 <= 2, it is always the case that if e1 = 0 holds, then q0 < 2 eventually holds and is succeeded by e0 >= 2, where s0 > 2 does not hold between q0 < 2 and e0 >= 2 .
After d0 = 1 until f1 < 3, v0 >= 2 eventually holds.
Before l1 <= 3, it is always the case that if v0 = 2 holds, then c1 = 2 previously held and was preceded by c1 = 1 .
Globally, it is always the case that k0 = 2 holds.
Globally, it is always the case that if h0 > 2 holds and is succeeded by k1 < 1, then n0 < 0 previously held.
After q0 > 0 until l0 >= 3, it is never the case that b0 >= 2 holds.
After e0 <= 0, k1 = 3 eventually holds.
After a1 <= 2 until f1 <= 3, it is always the case that if d1 <= 0 holds, then f0 = 0 previously held and was preceded by h1 >= 2 .
Before r0 >= 0, it is always the case that if j1 > 0 holds, then m0 < 0 eventually holds and is succeeded by g1 < 0 .
Before x0 = 2, it is always the case that if k1 < 0 holds, then d1 <= 3 eventually holds and is succeeded by v0 >= 2 .
After b1 > 1 until l0 <= 0, it is always the case that if g0 >= 0 holds, then a1 > 2 previously held and was preceded by k1 <= 2 .
After d0 >= 2, it is always the case that if b1 < 1 holds, then s0 < 0 previously held.
Between d0 > 2 and z0 < 3, it is always the case that if l0 = 3 holds and is succeeded by m1 > 1, then f0 >= 1 eventually holds after m1 > 1 .
Before f1 = 2, it is always the case that if i0 > 3 holds, then l1 <= 3 eventually holds.
Before f1 <= 0, f0 <= 2 eventually holds.
Globally, l1 < 1 eventually holds.
Before g0 <= 1, it is always the case that b0 < 2 holds.
Between y0 < 0 and u0 <= 3, it is never the case that h1 <= 3 holds.
Between u0 >= 0 and j1 = 1, it is always the case that p0 = 0 holds.
Between s0 = 0 and e1 > 1, it is always the case that if i1 <= 0 holds and is succeeded by i1 <= 3, then c0 >= 3 previously held.
After y0 = 0, it is always the case that if d0 < 1 holds, then t0 >= 1 eventually holds and is succeeded by j0 = 0, where e0 = 2 does not hold between t0 >= 1 and j0 = 0 .
Between p0 = 3 and s0 = 2, it is always the case that if h1 <= 3 holds and is succeeded by v0 < 3, then c0 > 2 eventually holds after v0 < 3 .
After d1 < 3 until r0 < 0, it is always the case that if a1 <= 3 holds and is succeeded by e0 < 2, then l0 > 1 previously held.
Between k1 < 3 and j1 <= 2, m1 < 1 eventually holds.
Globally, it is always the case that if c0 <= 1 holds, then f0 = 2 eventually holds.
After m0 = 0 until c1 > 2, e0 = 3 eventually holds.
Before b0 < 0, it is always the case that if c1 = 0 holds, then x0 > 0 previously held.
Before b1 <= 3, it is always the case that if y0 > 2 holds and is succeeded by h0 < 0, then b1 < 2 previously held.
After f1 > 0, it is always the case that if p0 = 3 holds, then v0 >= 3 previously held and was preceded by w0 = 2 .
After k0 < 2, it is always the case that if u0 < 0 holds, then k1 >= 1 eventually holds.
