Globally, it is always the case that if c0 > 2 holds, then f0 > 3 previously held.
Globally, it is always the case that if b0 > 1 holds, then g0 >= 1 previously held.
After b0 <= 3, it is always the case that if i0 < 2 holds and is succeeded by d0 <= 3, then f0 > 3 previously held.
Between f0 >= 2 and e0 > 1, it is always the case that if g0 > 0 holds, then g0 < 3 previously held.
Between a0 <= 3 and d0 >= 3, it is never the case that b0 < 0 holds.
After h0 <= 2, it is always the case that if e0 >= 2 holds, then e0 <= 0 eventually holds and is succeeded by f0 < 3, where c0 <= 2 does not hold between e0 <= 0 and f0 < 3 .
After e0 = 1 until h0 <= 0, it is always the case that if i0 = 3 holds, then c0 < 3 eventually holds and is succeeded by d0 < 1 .
After g0 < 0, it is never the case that g0 <= 0 holds.
Globally, it is always the case that if a0 > 2 holds, then g0 <= 0 eventually holds.
Globally, it is always the case that if b0 < 1 holds and is succeeded by h0 >= 1, then h0 < 1 previously held.
Globally, it is always the case that if h0 < 3 holds and is succeeded by i0 > 3, then f0 >= 0 eventually holds after i0 > 3 .
Between h0 > 0 and e0 <= 2, it is always the case that if e0 < 0 holds, then a0 >= 3 eventually holds.
After d0 <= 0, it is always the case that if c0 <= 1 holds and is succeeded by e0 >= 3, then h0 <= 1 eventually holds after e0 >= 3 .
Before h0 <= 3, it is always the case that if g0 <= 1 holds and is succeeded by a0 <= 2, then h0 > 3 previously held.
After f0 <= 0 until e0 <= 2, it is always the case that if a0 < 0 holds, then e0 <= 3 previously held and was preceded by a0 < 2 .
Globally, it is never the case that h0 >= 0 holds.
Between h0 > 1 and h0 < 3, it is always the case that if d0 = 0 holds, then b0 > 2 previously held.
After e0 > 3, it is always the case that if b0 < 2 holds and is succeeded by e0 <= 1, then b0 > 2 eventually holds after e0 <= 1 .
Between c0 < 3 and e0 = 2, it is always the case that if c0 >= 0 holds, then h0 >= 3 eventually holds.
After c0 < 1 until c0 <= 0, it is always the case that if f0 > 3 holds, then f0 = 2 previously held and was preceded by e0 >= 3 .
After c0 < 2 until f0 >= 2, it is always the case that if h0 < 1 holds and is succeeded by a0 = 1, then d0 <= 2 previously held.
After i0 >= 0 until h0 = 3, it is always the case that if e0 >= 0 holds, then c0 >= 0 eventually holds and is succeeded by e0 > 3 .
Before e0 > 1, h0 > 0 eventually holds.
After i0 <= 2 until i0 = 2, it is always the case that if b0 >= 2 holds, then f0 >= 1 previously held.
Between c0 > 3 and h0 <= 0, it is always the case that if a0 < 2 holds, then d0 <= 0 eventually holds.
Globally, e0 = 2 eventually holds.
After f0 >= 2, it is always the case that if b0 >= 2 holds, then a0 > 2 previously held.
Globally, a0 < 2 eventually holds.
Globally, it is always the case that if e0 > 3 holds and is succeeded by f0 = 2, then a0 <= 2 previously held.
Globally, it is always the case that if e0 > 2 holds, then h0 < 1 eventually holds and is succeeded by c0 > 2, where c0 < 2 does not hold between h0 < 1 and c0 > 2 .
After f0 >= 0 until d0 > 0, it is always the case that if h0 >= 0 holds, then f0 = 2 previously held and was preceded by g0 > 3 .
Globally, it is always the case that if a0 >= 2 holds, then g0 >= 3 eventually holds and is succeeded by e0 < 1, where c0 >= 2 does not hold between g0 >= 3 and e0 < 1 .
Before e0 >= 0, it is always the case that if g0 > 2 holds, then b0 = 2 previously held.
After h0 = 2 until a0 = 2, it is always the case that if g0 < 2 holds and is succeeded by d0 <= 0, then b0 < 0 eventually holds after d0 <= 0 .
Before g0 >= 2, it is always the case that if f0 >= 0 holds, then f0 > 0 previously held and was preceded by i0 = 3 .
Before i0 <= 0, it is always the case that if i0 > 2 holds and is succeeded by e0 = 2, then e0 > 0 eventually holds after e0 = 2 .
Before h0 = 3, it is always the case that if h0 < 0 holds and is succeeded by b0 < 3, then c0 > 0 previously held.
After e0 < 3, it is always the case that if i0 < 0 holds, then e0 > 0 eventually holds and is succeeded by i0 <= 1 .
After c0 < 3 until d0 <= 0, it is always the case that if h0 <= 0 holds, then c0 <= 0 eventually holds.
After c0 < 3, it is always the case that if e0 >= 2 holds, then d0 <= 1 previously held and was preceded by c0 < 1 .
Before f0 > 0, it is always the case that if e0 > 2 holds and is succeeded by g0 > 3, then c0 >= 3 previously held.
Between a0 = 3 and b0 >= 1, it is never the case that i0 = 2 holds.
Globally, it is always the case that if h0 < 3 holds, then c0 = 0 eventually holds.
After g0 > 1 until a0 <= 0, it is always the case that if i0 > 3 holds, then b0 > 1 eventually holds and is succeeded by a0 <= 0, where g0 = 0 does not hold between b0 > 1 and a0 <= 0 .
After i0 <= 0 until h0 >= 3, it is always the case that if e0 > 3 holds, then h0 >= 2 eventually holds and is succeeded by d0 = 0 .
Globally, it is always the case that if i0 = 3 holds and is succeeded by d0 <= 3, then c0 >= 0 eventually holds after d0 <= 3 .
Between e0 = 1 and g0 < 1, it is never the case that a0 >= 2 holds.
Globally, it is always the case that if g0 >= 1 holds and is succeeded by e0 <= 2, then h0 < 2 eventually holds after e0 <= 2 .
Before g0 < 0, f0 >= 0 eventually holds.
After f0 > 2 until e0 = 2, it is never the case that a0 > 1 holds.
Between c0 <= 0 and b0 = 0, it is always the case that if d0 > 1 holds, then e0 < 1 eventually holds and is succeeded by e0 = 2 .
Globally, it is always the case that if i0 >= 1 holds, then b0 <= 1 previously held and was preceded by f0 >= 2 .
Between f0 < 3 and d0 = 1, d0 >= 3 eventually holds.
After g0 > 3, it is always the case that i0 = 2 holds.
Between c0 > 2 and b0 = 1, it is never the case that i0 > 3 holds.
Globally, it is always the case that if f0 > 2 holds, then c0 = 3 eventually holds and is succeeded by g0 = 1, where d0 = 0 does not hold between c0 = 3 and g0 = 1 .
After a0 = 1, it is always the case that if i0 < 1 holds and is succeeded by g0 < 1, then f0 < 0 previously held.
After c0 >= 2, f0 < 1 eventually holds.
Before g0 <= 1, it is always the case that if f0 = 0 holds, then g0 < 3 previously held.
Between h0 <= 1 and g0 > 0, it is always the case that if h0 < 3 holds, then a0 <= 1 previously held.
