Before q11 > 9, it is never the case that y1 > 10 holds.
Before g1 > 9, it is always the case that if d10 = 2 holds, then g5 <= 5 eventually holds and is succeeded by n4 > 4 .
Between s3 = 15 and y10 > 10, it is always the case that if e10 > 15 holds, then z7 < 2 eventually holds and is succeeded by r0 < 3, where d1 >= 8 does not hold between z7 < 2 and r0 < 3 .
After x5 = 5 until s3 < 3, it is always the case that if x3 >= 1 holds, then o5 >= 15 previously held.
After n5 = 9, it is always the case that if k9 >= 2 holds and is succeeded by r3 < 14, then y0 < 3 previously held.
After p8 >= 2, it is always the case that if j2 = 10 holds, then x2 >= 5 previously held and was preceded by d2 = 3 .
Between o2 >= 7 and a1 >= 14, it is always the case that if j11 > 6 holds and is succeeded by y5 >= 4, then a11 > 6 previously held.
Between o2 < 13 and p8 <= 12, it is never the case that q0 > 9 holds.
Between d1 >= 5 and k5 > 5, it is always the case that if b6 = 15 holds, then d12 <= 10 previously held and was preceded by q4 < 9 .
Globally, it is always the case that f5 <= 6 holds.
Between v3 > 5 and f8 = 2, it is always the case that if w9 >= 8 holds, then b10 > 6 eventually holds and is succeeded by r9 = 5 .
Globally, it is always the case that if z11 >= 5 holds, then n8 > 8 eventually holds.
Before s8 >= 3, it is always the case that if e8 = 3 holds, then o8 > 14 previously held and was preceded by h2 = 5 .
Globally, it is always the case that if f10 < 2 holds and is succeeded by j8 <= 2, then m2 = 3 previously held.
Between n7 <= 0 and p11 >= 4, it is always the case that if p11 > 5 holds, then x0 >= 15 previously held and was preceded by f10 >= 6 .
After u7 <= 6, it is always the case that if y11 <= 15 holds, then h0 <= 10 eventually holds and is succeeded by e4 = 8 .
Globally, it is always the case that if s10 = 10 holds and is succeeded by p11 >= 5, then q4 > 5 previously held.
Globally, it is always the case that if o4 > 4 holds, then o9 < 7 previously held.
Between e5 <= 9 and p1 <= 3, it is always the case that if u10 >= 12 holds, then r6 >= 14 eventually holds and is succeeded by o4 = 6, where g0 >= 2 does not hold between r6 >= 14 and o4 = 6 .
After q0 >= 7 until o0 < 13, it is never the case that g5 <= 4 holds.
After w9 <= 5 until o5 >= 5, it is never the case that c5 > 0 holds.
After i3 = 11, it is always the case that if u8 = 0 holds and is succeeded by f1 > 9, then v2 < 1 previously held.
Between r1 = 15 and f2 = 3, it is always the case that if x3 = 15 holds and is succeeded by k1 > 1, then y5 = 12 eventually holds after k1 > 1 .
After p6 < 12, it is always the case that if t2 > 3 holds, then u9 <= 4 eventually holds.
After d8 < 10 until y7 >= 9, it is always the case that if s3 < 12 holds, then h4 < 9 previously held and was preceded by k5 = 0 .
Globally, it is always the case that if j0 = 14 holds, then p11 < 12 previously held and was preceded by l6 < 7 .
Before l10 = 6, it is always the case that if t6 < 2 holds, then x2 < 15 eventually holds and is succeeded by f12 = 4 .
After o2 >= 5, x7 >= 9 eventually holds.
Before a4 >= 5, it is always the case that if z11 > 12 holds, then a4 <= 14 eventually holds.
Globally, it is always the case that if d4 < 9 holds and is succeeded by m3 >= 15, then n0 >= 9 previously held.
After j10 > 14, it is always the case that if u2 >= 12 holds, then k1 > 3 eventually holds and is succeeded by m4 <= 7 .
Between p6 > 7 and q0 < 4, it is never the case that h8 >= 15 holds.
After n6 <= 2, it is always the case that if w6 <= 14 holds, then r3 <= 4 previously held and was preceded by r1 <= 5 .
Before b3 < 6, it is always the case that if w0 > 10 holds, then y0 > 11 eventually holds and is succeeded by h7 > 7 .
Globally, it is always the case that if v10 <= 15 holds, then w4 < 5 eventually holds and is succeeded by p4 <= 2 .
After y1 > 2, it is always the case that e11 <= 1 holds.
Between s2 < 12 and d2 <= 13, it is always the case that if v8 >= 14 holds, then q11 < 14 previously held and was preceded by t7 <= 1 .
Globally, it is always the case that g9 < 0 holds.
After u4 > 8, n9 >= 7 eventually holds.
After q8 = 14 until m8 = 13, it is always the case that if q9 < 11 holds, then y11 >= 3 eventually holds and is succeeded by k2 >= 9, where m4 < 4 does not hold between y11 >= 3 and k2 >= 9 .
Between d7 < 3 and l11 < 11, it is always the case that if x2 <= 2 holds, then u0 >= 1 previously held.
After d12 >= 13, it is always the case that if b1 <= 6 holds, then e9 > 15 eventually holds and is succeeded by l6 = 6, where m3 > 14 does not hold between e9 > 15 and l6 = 6 .
Globally, it is always the case that l7 > 14 holds.
Between o10 = 8 and f9 <= 6, it is never the case that d10 <= 10 holds.
Before i9 >= 15, it is always the case that if f10 < 3 holds, then e8 = 1 previously held.
Before x8 < 6, it is always the case that k4 <= 3 holds.
After p0 <= 13, it is never the case that m7 <= 15 holds.
Before u7 <= 7, it is always the case that if i9 = 13 holds, then u1 < 10 previously held and was preceded by n7 > 5 .
After y9 < 0 until z11 = 2, it is always the case that if h8 > 11 holds, then g3 = 9 eventually holds and is succeeded by d0 > 6 .
Globally, it is always the case that if s3 > 7 holds, then r1 >= 10 eventually holds and is succeeded by i4 <= 10, where t6 < 7 does not hold between r1 >= 10 and i4 <= 10 .
After h1 <= 15 until g11 < 0, it is always the case that g11 = 6 holds.
Before x9 > 6, it is always the case that if l4 < 12 holds and is succeeded by d4 < 15, then y2 < 3 previously held.
After p6 < 11, it is always the case that if t7 < 0 holds, then p2 <= 5 previously held and was preceded by c6 < 6 .
After u8 <= 11 until z10 > 6, it is always the case that if g9 < 4 holds and is succeeded by r1 > 0, then z0 > 10 previously held.
Between s7 < 7 and b9 < 9, it is always the case that if x9 < 5 holds, then o11 = 10 previously held and was preceded by f11 > 3 .
After n9 = 8 until v9 <= 9, z6 <= 2 eventually holds.
Globally, it is never the case that g9 <= 0 holds.
Before n6 = 12, it is always the case that if t6 < 3 holds, then p4 <= 7 eventually holds and is succeeded by p4 > 8, where w10 > 8 does not hold between p4 <= 7 and p4 > 8 .
Between g3 >= 0 and u7 >= 13, c3 > 15 eventually holds.
Globally, it is never the case that q11 <= 9 holds.
After p11 < 3, it is always the case that if f12 < 3 holds and is succeeded by b10 = 7, then h8 = 11 eventually holds after b10 = 7 .
After v6 >= 4, it is always the case that if b12 = 3 holds, then m8 > 7 previously held.
Between r0 >= 7 and e4 >= 7, it is always the case that n10 > 0 holds.
Before e11 >= 10, it is always the case that if n2 < 8 holds, then i9 <= 12 previously held.
Between v7 >= 13 and m4 > 10, it is always the case that t4 < 3 holds.
Between m5 < 4 and z9 <= 15, it is always the case that if z4 <= 1 holds, then c8 >= 13 eventually holds and is succeeded by d6 >= 15, where p5 > 9 does not hold between c8 >= 13 and d6 >= 15 .
After i0 >= 9 until v9 < 4, it is always the case that if j11 = 14 holds and is succeeded by y10 = 4, then m5 >= 11 eventually holds after y10 = 4 .
After e7 = 11, o6 < 12 eventually holds.
Between i11 = 14 and s9 = 4, it is always the case that if r3 = 5 holds and is succeeded by i7 >= 14, then v0 < 4 previously held.
Between z2 <= 3 and d7 > 15, it is always the case that if a8 < 4 holds and is succeeded by b5 < 0, then y5 <= 7 eventually holds after b5 < 0 .
After o5 < 9 until m0 > 14, it is always the case that g7 <= 1 holds.
Before h11 >= 14, it is always the case that if e3 <= 7 holds, then h7 < 6 previously held.
After v3 > 10 until t4 > 8, it is always the case that x11 < 14 holds.
Globally, it is always the case that u7 > 13 holds.
After w2 < 15, v1 = 10 eventually holds.
Before y2 = 15, it is always the case that if d7 <= 7 holds, then o4 = 14 eventually holds and is succeeded by a9 <= 6 .
Globally, y6 >= 8 eventually holds.
After o4 < 2, it is never the case that c2 > 8 holds.
Between e4 > 0 and u11 < 5, it is always the case that if a0 < 14 holds, then o11 < 10 previously held.
After b4 > 4, it is always the case that if j6 >= 3 holds, then u10 < 14 eventually holds.
After x4 >= 13, it is never the case that i6 < 11 holds.
Globally, d10 = 7 eventually holds.
After l11 < 0 until f5 > 8, it is always the case that if z0 = 12 holds and is succeeded by w8 = 6, then s10 = 12 eventually holds after w8 = 6 .
Before g1 <= 8, it is always the case that if t2 <= 10 holds and is succeeded by y11 >= 1, then w8 <= 13 eventually holds after y11 >= 1 .
Between k4 > 1 and n3 > 1, it is always the case that if s4 < 0 holds, then a1 >= 6 eventually holds.
Before n7 < 12, it is always the case that u0 < 10 holds.
After b11 <= 8, it is never the case that m1 < 9 holds.
Globally, it is always the case that r10 < 7 holds.
After c6 > 1, it is always the case that if s9 >= 12 holds and is succeeded by f10 > 0, then b1 < 11 eventually holds after f10 > 0 .
Between e5 > 10 and g1 >= 12, it is always the case that if p6 < 13 holds and is succeeded by w5 <= 12, then p10 <= 11 eventually holds after w5 <= 12 .
After j7 >= 14 until a2 >= 0, it is always the case that if v9 <= 9 holds, then k5 >= 3 previously held.
Globally, it is always the case that if g2 < 6 holds, then a11 < 0 previously held and was preceded by n1 <= 3 .
After m11 >= 14, it is never the case that p11 > 14 holds.
Globally, it is always the case that if y9 < 4 holds, then k4 > 14 eventually holds and is succeeded by p7 >= 15 .
Globally, it is always the case that if s8 > 3 holds, then s3 <= 7 eventually holds.
After f1 = 3, it is always the case that if k1 >= 9 holds and is succeeded by g10 > 11, then j2 >= 7 previously held.
After w11 = 10 until t5 <= 4, it is always the case that if d0 = 5 holds, then a4 >= 3 eventually holds.
After d4 > 14 until a3 < 11, c9 = 7 eventually holds.
Before b6 <= 1, it is always the case that if v8 <= 6 holds, then b4 < 4 previously held.
Before i8 <= 15, it is always the case that if c10 = 5 holds and is succeeded by c1 = 1, then i6 = 7 previously held.
After z4 < 12, it is never the case that j8 >= 5 holds.
After w1 > 5 until y8 < 8, it is always the case that if n3 < 7 holds, then p7 <= 0 eventually holds.
Before z2 >= 2, it is never the case that q10 <= 13 holds.
Before q4 = 12, it is always the case that if y10 <= 7 holds and is succeeded by n10 <= 15, then w7 <= 0 eventually holds after n10 <= 15 .
Before p9 > 13, o8 >= 2 eventually holds.
Before y8 = 8, it is never the case that a2 > 13 holds.
After l7 < 12, it is always the case that if l11 < 9 holds, then e9 <= 4 previously held and was preceded by h10 >= 9 .
Between q8 = 6 and p8 <= 5, it is always the case that if l7 > 14 holds and is succeeded by w1 >= 0, then r6 > 11 eventually holds after w1 >= 0 .
Globally, f7 <= 6 eventually holds.
After h3 > 4 until d9 < 12, it is always the case that if v9 < 4 holds, then p7 >= 3 eventually holds.
Before c10 >= 5, e1 >= 2 eventually holds.
Between b3 <= 12 and s6 = 5, h2 >= 8 eventually holds.
Between q11 >= 5 and f5 = 6, it is always the case that if r3 > 15 holds, then e6 <= 6 eventually holds.
Before b4 >= 11, it is always the case that if b6 < 13 holds, then f3 < 10 eventually holds and is succeeded by o11 >= 0 .
After w8 <= 13 until j1 <= 5, it is never the case that u5 = 9 holds.
After l7 = 4 until c6 = 13, it is always the case that l10 = 13 holds.
After e10 > 7, it is always the case that if u0 >= 12 holds, then b11 <= 5 eventually holds and is succeeded by a4 > 13, where y3 = 3 does not hold between b11 <= 5 and a4 > 13 .
Before z8 > 2, it is always the case that if z0 > 0 holds, then i1 > 14 previously held and was preceded by n7 < 8 .
Globally, it is always the case that if g12 = 6 holds and is succeeded by s9 = 1, then g2 > 9 eventually holds after s9 = 1 .
Between j6 > 0 and u3 < 10, it is always the case that if u2 = 13 holds, then i3 <= 10 previously held.
