After z1 >= 5 until e2 > 3, it is always the case that if k2 <= 6 holds, then h2 < 7 previously held.
Before x2 <= 4, it is always the case that if y0 < 1 holds and is succeeded by d5 > 5, then m4 = 6 eventually holds after d5 > 5 .
Between s1 = 5 and u4 > 1, it is always the case that if a5 <= 1 holds, then o2 > 5 previously held and was preceded by z4 <= 3 .
Globally, it is always the case that u2 < 0 holds.
Globally, it is always the case that if i1 <= 5 holds, then d4 <= 0 eventually holds and is succeeded by k5 <= 1, where y4 > 6 does not hold between d4 <= 0 and k5 <= 1 .
After m1 = 3 until y2 <= 2, f5 >= 6 eventually holds.
Before o2 = 3, it is always the case that if l0 = 6 holds, then z3 <= 2 previously held.
Globally, it is always the case that if o5 >= 4 holds and is succeeded by j2 >= 4, then a2 > 6 eventually holds after j2 >= 4 .
After s1 > 0 until n2 >= 2, it is always the case that if g4 <= 1 holds, then b3 >= 0 eventually holds.
Globally, it is never the case that i4 > 6 holds.
Between c2 >= 5 and e4 >= 4, it is always the case that t3 <= 5 holds.
Between j3 >= 3 and w2 > 2, it is never the case that e0 > 5 holds.
After r1 <= 3 until q5 < 0, it is always the case that if h4 < 7 holds, then y0 < 6 eventually holds and is succeeded by l3 = 3 .
Before v3 >= 5, it is always the case that if z5 = 7 holds, then u1 <= 6 eventually holds.
After c4 < 6 until r4 >= 3, n0 = 4 eventually holds.
After x0 = 2 until l1 >= 1, it is always the case that if u2 > 3 holds, then q3 >= 3 eventually holds and is succeeded by f5 < 6, where a3 <= 3 does not hold between q3 >= 3 and f5 < 6 .
Globally, m0 <= 7 eventually holds.
Globally, it is always the case that if f2 = 3 holds, then a6 > 0 eventually holds and is succeeded by a5 < 4, where a1 >= 7 does not hold between a6 > 0 and a5 < 4 .
Globally, it is always the case that if c0 = 3 holds and is succeeded by c0 >= 0, then w1 = 2 eventually holds after c0 >= 0 .
Between v2 = 0 and e5 >= 1, it is always the case that if u4 > 4 holds and is succeeded by u1 > 7, then o4 > 6 eventually holds after u1 > 7 .
Before s3 >= 0, it is always the case that if m3 >= 2 holds, then b4 >= 0 eventually holds.
After o0 < 3 until z1 = 1, it is always the case that if o1 > 4 holds, then h3 <= 1 previously held and was preceded by m0 < 7 .
After r4 > 7, it is always the case that if h1 = 6 holds, then h4 > 0 previously held.
After j5 < 2, it is always the case that if p3 <= 4 holds, then v1 >= 5 previously held and was preceded by a0 > 5 .
After z4 = 1, it is always the case that if g2 = 4 holds, then m3 <= 5 eventually holds and is succeeded by v5 <= 0, where c1 = 7 does not hold between m3 <= 5 and v5 <= 0 .
After n3 <= 3, it is never the case that b3 = 7 holds.
Before y2 = 7, it is always the case that if p2 < 3 holds, then g1 < 7 previously held and was preceded by i4 <= 3 .
Globally, it is always the case that b0 <= 2 holds.
Globally, it is always the case that if n0 < 0 holds, then p0 <= 7 eventually holds and is succeeded by r3 >= 7, where o1 >= 3 does not hold between p0 <= 7 and r3 >= 7 .
Globally, it is always the case that if h4 > 6 holds, then q4 < 1 previously held.
Before i2 > 1, it is always the case that if f2 >= 7 holds and is succeeded by z1 <= 3, then j0 >= 0 previously held.
Between n2 >= 1 and s3 > 4, it is always the case that if h2 < 1 holds, then v1 >= 2 previously held.
Between l2 > 2 and k2 >= 3, it is always the case that if b0 < 3 holds, then u2 = 4 previously held.
After i5 = 2, it is never the case that c0 < 1 holds.
After p5 = 1, it is always the case that if w5 >= 5 holds, then y0 = 4 eventually holds and is succeeded by e5 >= 0, where x3 >= 4 does not hold between y0 = 4 and e5 >= 0 .
Before i4 <= 4, it is always the case that if x4 = 1 holds, then u2 < 2 eventually holds and is succeeded by y0 < 1, where u5 >= 7 does not hold between u2 < 2 and y0 < 1 .
Between u4 > 3 and i3 <= 0, it is always the case that if p5 < 0 holds and is succeeded by p0 >= 6, then i5 > 0 eventually holds after p0 >= 6 .
Globally, it is always the case that c2 = 3 holds.
Between a6 <= 7 and h4 <= 5, r3 = 5 eventually holds.
Globally, it is always the case that r4 < 0 holds.
After w0 = 4 until c6 < 1, it is always the case that if l4 <= 7 holds, then z1 > 7 eventually holds and is succeeded by m1 <= 2 .
Between n3 > 4 and n3 >= 7, it is never the case that c3 = 2 holds.
Before m5 < 2, it is always the case that if g2 < 4 holds, then m0 = 4 eventually holds and is succeeded by y0 <= 4, where h1 = 6 does not hold between m0 = 4 and y0 <= 4 .
Before d4 = 3, it is always the case that if o0 = 2 holds, then j4 = 4 previously held.
Between m3 >= 7 and b5 <= 2, it is always the case that if a3 >= 1 holds and is succeeded by e0 = 1, then r3 >= 2 eventually holds after e0 = 1 .
Before r1 < 7, n3 < 3 eventually holds.
Before f1 = 6, it is always the case that z4 < 5 holds.
Between k1 > 1 and b2 >= 4, it is always the case that if k4 <= 1 holds and is succeeded by e4 <= 1, then b1 < 3 previously held.
After y2 = 1, it is always the case that if i5 = 7 holds and is succeeded by s1 <= 4, then r0 <= 4 eventually holds after s1 <= 4 .
Globally, it is never the case that v2 >= 0 holds.
After j0 = 0 until t2 < 3, it is always the case that if c1 > 1 holds and is succeeded by b1 <= 1, then h2 > 0 previously held.
After s5 >= 1 until v5 <= 2, d5 >= 6 eventually holds.
Before z1 >= 2, it is always the case that if k4 < 2 holds, then e1 > 5 previously held.
Before h1 >= 1, it is always the case that if i1 = 6 holds, then x4 < 0 previously held and was preceded by b2 <= 1 .
After v2 = 2 until v3 >= 7, it is always the case that if j5 < 4 holds, then f1 <= 4 previously held and was preceded by h4 <= 2 .
Before n2 <= 6, it is always the case that if x4 >= 5 holds, then u1 = 4 previously held.
After c5 > 7 until o3 > 1, it is always the case that if q0 = 5 holds and is succeeded by d2 <= 5, then m2 < 7 previously held.
Before d2 = 2, it is always the case that if n0 < 1 holds, then g3 <= 0 eventually holds and is succeeded by w0 < 5, where w2 < 7 does not hold between g3 <= 0 and w0 < 5 .
After w3 < 0, it is always the case that s3 >= 1 holds.
After h5 >= 2, it is always the case that if t1 < 2 holds, then c2 <= 6 eventually holds and is succeeded by p3 = 4, where c6 >= 4 does not hold between c2 <= 6 and p3 = 4 .
Between h3 > 7 and s4 <= 5, it is always the case that if l3 >= 1 holds, then b0 <= 7 eventually holds and is succeeded by p1 < 4 .
After o3 >= 0, it is never the case that g1 > 4 holds.
Between c5 <= 2 and s3 >= 2, it is always the case that q4 >= 2 holds.
Globally, it is always the case that if z1 >= 5 holds, then q4 = 2 eventually holds.
Before w5 < 6, u4 = 6 eventually holds.
Globally, it is never the case that l0 = 1 holds.
Before v3 <= 4, it is always the case that if m1 > 6 holds, then t4 >= 2 previously held and was preceded by z0 <= 4 .
After a5 >= 1 until u2 > 6, it is never the case that e3 = 7 holds.
Between x1 = 4 and c6 <= 6, it is always the case that if d0 > 3 holds and is succeeded by y1 <= 0, then u1 >= 5 previously held.
Before e1 < 2, it is always the case that if a4 >= 2 holds, then h4 = 5 previously held.
After p5 < 6 until r5 < 3, it is always the case that if b2 < 4 holds and is succeeded by e4 <= 7, then m1 >= 4 eventually holds after e4 <= 7 .
Before u5 >= 4, it is always the case that if t3 <= 3 holds, then e2 >= 2 previously held.
After n1 <= 1, it is always the case that if a2 > 5 holds and is succeeded by f3 < 7, then t2 > 7 eventually holds after f3 < 7 .
Globally, o4 < 2 eventually holds.
Between g1 <= 3 and e2 >= 6, it is always the case that if z0 = 2 holds, then n3 <= 7 previously held and was preceded by d2 >= 4 .
After q5 <= 6, it is never the case that n3 = 1 holds.
Globally, it is always the case that if q0 >= 3 holds, then f3 < 1 previously held.
After m1 < 5, it is always the case that if u5 >= 4 holds and is succeeded by t5 > 1, then w1 = 4 eventually holds after t5 > 1 .
After u5 <= 3 until u0 <= 1, i0 < 3 eventually holds.
After i5 > 2 until b6 < 1, k2 > 2 eventually holds.
Before j4 <= 6, it is always the case that a0 <= 6 holds.
Globally, it is always the case that if n0 >= 6 holds, then z1 > 4 eventually holds.
Between a2 < 1 and c4 > 0, it is always the case that if q0 > 1 holds, then q5 >= 4 eventually holds.
After i2 >= 7, it is always the case that if o2 <= 5 holds, then e2 >= 0 previously held and was preceded by e4 > 1 .
Between c2 >= 0 and u4 = 3, r1 > 2 eventually holds.
Before s4 = 4, it is always the case that if x5 >= 5 holds, then s3 < 7 eventually holds.
Between b0 < 7 and k3 < 1, it is always the case that p5 >= 0 holds.
After d4 >= 2, it is always the case that if b0 = 3 holds, then v4 > 1 eventually holds.
After n2 < 2 until z4 = 6, it is always the case that if z4 > 2 holds, then d1 = 7 eventually holds.
Between r0 = 7 and p4 >= 4, it is always the case that if q2 <= 7 holds, then z3 >= 3 eventually holds and is succeeded by m0 <= 0, where p0 < 3 does not hold between z3 >= 3 and m0 <= 0 .
Before s4 < 6, it is always the case that if x1 <= 0 holds, then y3 <= 7 eventually holds and is succeeded by u1 > 5 .
After u1 > 6, it is always the case that if l1 < 1 holds, then r4 > 4 eventually holds and is succeeded by f0 > 5, where k1 >= 2 does not hold between r4 > 4 and f0 > 5 .
Globally, it is always the case that if i0 <= 5 holds, then a5 > 2 eventually holds.
Between z4 = 4 and s1 <= 3, it is always the case that if v0 <= 0 holds and is succeeded by q3 < 7, then e5 >= 7 eventually holds after q3 < 7 .
After d3 <= 0, it is always the case that if x1 <= 7 holds and is succeeded by x4 > 1, then o2 >= 0 eventually holds after x4 > 1 .
Before b5 > 0, it is always the case that if e1 > 2 holds, then d3 < 3 eventually holds and is succeeded by y1 > 3 .
Globally, it is always the case that if f4 >= 2 holds and is succeeded by r4 > 7, then e1 > 3 eventually holds after r4 > 7 .
Before h3 = 1, it is never the case that l2 >= 2 holds.
Between x2 < 4 and q1 <= 5, it is always the case that if g4 <= 1 holds, then i3 <= 5 eventually holds and is succeeded by w1 = 1 .
Between t3 <= 2 and j2 > 6, s3 <= 2 eventually holds.
Globally, it is never the case that h2 <= 3 holds.
After d2 < 1 until b5 = 2, s0 = 6 eventually holds.
Between d0 >= 2 and n1 <= 3, it is always the case that if c0 = 0 holds, then s0 = 5 eventually holds and is succeeded by e2 > 1 .
Globally, it is always the case that if x3 >= 2 holds, then i5 = 0 eventually holds.
After w1 < 2, it is always the case that if e0 < 1 holds, then f3 < 4 previously held and was preceded by b4 >= 4 .
Before a4 >= 3, it is always the case that if j2 >= 3 holds, then r2 < 4 previously held.
Between s4 >= 3 and j4 < 5, it is always the case that if e0 <= 1 holds and is succeeded by o5 = 7, then p1 > 6 eventually holds after o5 = 7 .
After v1 >= 2 until r4 < 3, it is always the case that p3 = 2 holds.
Globally, it is always the case that if g0 <= 4 holds, then t4 > 0 previously held and was preceded by v5 >= 5 .
Globally, it is always the case that if a3 < 5 holds and is succeeded by t1 = 0, then c6 >= 3 previously held.
Before p5 <= 0, it is always the case that if b1 < 7 holds and is succeeded by o4 < 7, then j5 = 3 eventually holds after o4 < 7 .
After c4 >= 6 until f0 <= 5, m3 > 7 eventually holds.
Globally, h3 = 5 eventually holds.
Before s5 = 5, it is always the case that if b3 <= 4 holds, then z5 < 4 previously held and was preceded by s5 > 2 .
After q3 = 4 until m1 < 2, it is always the case that if q3 >= 3 holds and is succeeded by k0 < 6, then y4 <= 0 previously held.
Globally, it is always the case that if t4 <= 0 holds, then x0 = 0 eventually holds.
After n3 < 6, it is always the case that if i5 = 3 holds, then q0 < 4 previously held.
After v5 > 4 until b6 <= 5, it is always the case that if t4 < 6 holds and is succeeded by b0 >= 2, then p4 < 5 eventually holds after b0 >= 2 .
Globally, it is always the case that if l2 > 5 holds and is succeeded by t5 = 5, then h4 <= 7 previously held.
After n4 <= 5 until w4 <= 4, it is always the case that if r1 >= 7 holds, then t1 > 5 eventually holds and is succeeded by f0 < 5 .
After e0 > 0, it is always the case that if e0 = 2 holds, then g5 < 3 eventually holds and is succeeded by z3 >= 2, where h4 = 6 does not hold between g5 < 3 and z3 >= 2 .
Globally, it is always the case that if e5 <= 2 holds, then e1 < 5 eventually holds.
After f3 >= 3 until i0 >= 2, it is never the case that t5 >= 1 holds.
Between c4 < 1 and k2 = 0, it is never the case that p4 < 2 holds.
Between t4 > 4 and t5 > 2, b4 >= 7 eventually holds.
Globally, it is always the case that if a5 >= 5 holds, then t3 >= 7 eventually holds and is succeeded by s0 < 6 .
Between l3 < 0 and k0 <= 3, it is never the case that k0 >= 2 holds.
After a0 <= 7, it is never the case that m4 < 6 holds.
After o3 = 2 until l2 <= 2, it is always the case that if j2 = 0 holds, then x1 < 4 previously held.
Globally, it is always the case that if u3 < 4 holds, then f4 <= 7 eventually holds and is succeeded by h5 > 6 .
Between i2 < 6 and i5 >= 1, it is always the case that if d0 < 1 holds, then l3 >= 5 previously held.
Between d1 <= 4 and m5 <= 3, it is always the case that if i3 >= 1 holds, then o4 = 7 eventually holds and is succeeded by f5 >= 7, where n5 <= 5 does not hold between o4 = 7 and f5 >= 7 .
Between i5 <= 7 and c3 >= 3, it is always the case that if j5 <= 4 holds, then m2 < 2 eventually holds and is succeeded by v5 = 4, where s2 <= 4 does not hold between m2 < 2 and v5 = 4 .
Between f0 > 7 and a2 <= 7, it is always the case that p0 > 1 holds.
After k2 = 1, it is never the case that q4 >= 2 holds.
Before y5 >= 7, it is always the case that if m5 <= 3 holds, then s2 = 6 previously held.
Globally, it is always the case that if q2 = 6 holds, then f1 > 1 eventually holds and is succeeded by c6 < 3 .
Globally, it is always the case that if l1 > 3 holds, then g1 >= 0 previously held.
Between b2 < 4 and s5 > 3, it is always the case that y1 <= 3 holds.
Before w1 = 2, x0 <= 1 eventually holds.
Between g2 <= 5 and p4 >= 4, r0 <= 0 eventually holds.
After i3 < 7, it is always the case that if h1 <= 2 holds and is succeeded by r4 = 3, then z5 >= 4 eventually holds after r4 = 3 .
After l4 = 5, it is always the case that if g2 < 2 holds and is succeeded by a3 >= 5, then y4 < 7 previously held.
Between b3 < 7 and g4 = 2, it is always the case that if t1 <= 3 holds and is succeeded by x4 < 0, then b5 > 0 eventually holds after x4 < 0 .
Before p3 >= 3, it is always the case that if l2 <= 1 holds and is succeeded by n2 < 1, then k1 > 6 eventually holds after n2 < 1 .
Between w1 < 1 and t0 < 1, it is always the case that t1 = 3 holds.
Between x5 = 1 and s1 <= 6, l1 >= 3 eventually holds.
Before r4 = 5, f5 >= 6 eventually holds.
After m3 >= 7 until n5 <= 6, it is always the case that f5 < 1 holds.
Between c6 < 6 and n0 < 4, it is never the case that t1 >= 2 holds.
Before c6 = 0, it is always the case that if d4 = 3 holds and is succeeded by u1 > 4, then y4 = 5 eventually holds after u1 > 4 .
Between c5 < 7 and p5 < 7, it is always the case that b0 <= 7 holds.
After y2 >= 3 until m4 >= 6, it is always the case that if w4 > 6 holds and is succeeded by t0 >= 7, then o4 <= 4 previously held.
After z3 > 6, it is always the case that if a3 = 6 holds, then l3 > 2 eventually holds and is succeeded by q4 <= 4, where y5 = 0 does not hold between l3 > 2 and q4 <= 4 .
Before t1 < 5, u4 < 7 eventually holds.
After c0 > 5 until d0 = 5, it is always the case that if v2 < 3 holds, then z1 = 7 previously held and was preceded by o1 < 0 .
After b1 = 4, it is always the case that if f5 > 2 holds, then r3 <= 5 eventually holds and is succeeded by i4 = 3, where f0 = 2 does not hold between r3 <= 5 and i4 = 3 .
Between m3 >= 0 and r5 < 6, it is always the case that if y5 >= 5 holds, then u3 > 0 eventually holds.
Globally, it is always the case that if f0 <= 0 holds, then r1 = 6 eventually holds and is succeeded by v4 < 0 .
Before z3 < 6, it is always the case that if q1 <= 2 holds, then r1 < 0 eventually holds.
Globally, it is always the case that e4 = 5 holds.
Between k1 > 3 and m4 = 0, it is always the case that b5 >= 7 holds.
Between b5 >= 0 and s2 = 4, it is always the case that if r1 < 3 holds, then g1 <= 2 previously held and was preceded by w2 >= 3 .
After h0 < 7 until p0 < 1, it is always the case that if l2 = 6 holds, then s0 >= 2 eventually holds.
Before n1 >= 3, it is always the case that if l2 >= 7 holds and is succeeded by c1 > 3, then x3 = 6 previously held.
After w0 = 3, it is always the case that if k1 = 1 holds, then l2 <= 4 eventually holds and is succeeded by o2 <= 4, where p3 <= 0 does not hold between l2 <= 4 and o2 <= 4 .
After a6 < 4 until u4 = 4, it is always the case that if r5 >= 5 holds, then i3 < 3 eventually holds.
Between h5 >= 5 and r1 = 4, it is always the case that if z0 >= 2 holds, then c5 >= 4 eventually holds and is succeeded by f4 < 3, where n5 <= 3 does not hold between c5 >= 4 and f4 < 3 .
After h3 <= 6, it is always the case that r3 > 2 holds.
Between j2 > 6 and v1 <= 6, it is always the case that if r4 = 0 holds, then s5 = 3 previously held and was preceded by n1 > 1 .
Globally, it is always the case that if r0 > 5 holds, then g4 <= 7 eventually holds.
Globally, it is always the case that if d0 > 1 holds and is succeeded by u0 <= 1, then h4 = 7 previously held.
Between o0 <= 6 and c5 = 6, it is always the case that o1 >= 6 holds.
Before h4 > 1, it is always the case that if f1 < 6 holds, then l3 <= 4 eventually holds and is succeeded by b0 = 0, where h2 >= 7 does not hold between l3 <= 4 and b0 = 0 .
After n4 > 1 until p2 <= 5, z0 = 5 eventually holds.
Globally, it is always the case that if j0 > 5 holds and is succeeded by s0 > 2, then x3 = 3 eventually holds after s0 > 2 .
Before c2 = 2, it is always the case that if q2 = 6 holds, then d1 >= 2 eventually holds.
After u5 <= 0 until y1 >= 5, it is always the case that if w5 > 6 holds and is succeeded by g3 >= 7, then q2 <= 1 previously held.
After h3 = 4, s4 >= 0 eventually holds.
Before m0 > 0, a0 > 7 eventually holds.
Before a6 > 0, it is always the case that if k4 >= 1 holds and is succeeded by b1 >= 1, then o5 < 7 eventually holds after b1 >= 1 .
After v2 >= 7, it is always the case that k5 < 4 holds.
Between y1 > 4 and o4 > 6, e2 <= 5 eventually holds.
After x4 > 0, x0 = 6 eventually holds.
After g1 <= 6, it is always the case that if x4 > 7 holds and is succeeded by l3 > 7, then c3 >= 7 previously held.
After k0 > 0 until g1 < 5, it is always the case that if f4 = 6 holds and is succeeded by s3 < 5, then q2 <= 1 eventually holds after s3 < 5 .
Globally, it is always the case that if w0 = 4 holds, then e5 > 0 eventually holds and is succeeded by r4 > 4 .
Globally, it is never the case that w1 > 5 holds.
After p3 >= 2, u3 > 1 eventually holds.
After h5 >= 4, it is always the case that if g1 = 5 holds, then b0 <= 0 previously held and was preceded by y1 <= 7 .
After p1 <= 2, it is never the case that e3 > 3 holds.
Before c6 <= 3, it is always the case that if h2 > 1 holds, then s1 <= 7 previously held.
Before s2 > 2, it is always the case that if m0 < 0 holds and is succeeded by b1 <= 4, then k1 > 0 previously held.
After p4 = 5, it is never the case that g2 > 5 holds.
Before m2 = 6, it is always the case that if b6 >= 4 holds, then u3 >= 3 eventually holds and is succeeded by l4 >= 1 .
Before z3 <= 6, it is always the case that if d5 > 2 holds and is succeeded by s1 > 0, then d0 < 3 eventually holds after s1 > 0 .
Between a6 < 3 and b6 > 0, it is always the case that if b2 > 2 holds, then p3 < 7 eventually holds and is succeeded by c1 = 1 .
Globally, it is always the case that if x4 >= 4 holds, then a5 = 3 eventually holds.
After s3 = 0, it is always the case that if e4 >= 0 holds, then q0 >= 3 eventually holds and is succeeded by j0 <= 6, where n1 >= 1 does not hold between q0 >= 3 and j0 <= 6 .
Between t1 < 2 and f3 = 0, it is never the case that q1 >= 2 holds.
After b4 >= 3, it is always the case that if i3 > 2 holds, then d5 >= 6 eventually holds and is succeeded by x0 = 4, where a5 < 2 does not hold between d5 >= 6 and x0 = 4 .
After j0 >= 1 until j1 > 7, it is always the case that if b6 <= 4 holds, then x2 < 3 eventually holds and is succeeded by a2 < 6, where y4 = 6 does not hold between x2 < 3 and a2 < 6 .
Before e0 < 3, it is always the case that if m0 >= 1 holds and is succeeded by e5 < 7, then t4 > 1 previously held.
After i0 >= 6, it is never the case that a5 >= 2 holds.
After x0 <= 4, it is always the case that if k1 < 6 holds and is succeeded by c5 >= 6, then f2 <= 6 eventually holds after c5 >= 6 .
Globally, it is always the case that if j2 < 3 holds and is succeeded by q1 < 5, then i4 = 1 previously held.
Globally, it is always the case that if q3 < 1 holds, then d2 < 2 previously held.
After c5 > 7, it is always the case that if g1 < 6 holds, then w2 <= 3 previously held.
After q3 < 0, it is always the case that if w5 >= 5 holds, then n1 < 3 previously held and was preceded by f5 < 5 .
After d1 < 0, it is always the case that if b0 = 3 holds and is succeeded by w5 > 2, then m4 > 0 eventually holds after w5 > 2 .
Before u4 = 5, it is always the case that if s1 >= 7 holds, then r5 >= 6 previously held.
After w1 < 3, it is always the case that h2 > 5 holds.
Globally, it is always the case that if h4 < 0 holds, then s5 > 6 eventually holds and is succeeded by i0 <= 1 .
Before k3 <= 7, p4 <= 3 eventually holds.
After z1 > 5 until z5 < 5, it is never the case that q5 <= 6 holds.
Globally, it is always the case that if x4 > 4 holds and is succeeded by e0 < 1, then n5 = 5 eventually holds after e0 < 1 .
Between o4 <= 7 and h1 < 3, it is always the case that z0 <= 5 holds.
Globally, it is always the case that if f1 > 1 holds and is succeeded by e5 <= 2, then w3 > 4 previously held.
Before h0 <= 7, it is never the case that e3 >= 5 holds.
Between i4 < 4 and m4 >= 7, it is always the case that if v0 = 3 holds, then p1 <= 3 previously held.
After d4 < 6 until r4 = 2, it is always the case that if c5 < 4 holds, then k0 = 6 eventually holds and is succeeded by d5 = 0 .
Between b1 < 6 and g3 >= 2, it is never the case that y2 < 0 holds.
Globally, it is always the case that if i0 < 6 holds, then j3 > 5 previously held.
Before n5 < 2, it is always the case that p3 < 0 holds.
Between w5 <= 6 and a6 > 1, it is never the case that t3 < 2 holds.
Globally, it is always the case that if m1 > 6 holds and is succeeded by r5 > 1, then d3 > 4 eventually holds after r5 > 1 .
Between u4 < 6 and k3 = 0, it is always the case that if w2 < 4 holds, then k2 >= 3 eventually holds.
After a6 >= 3, it is always the case that if c5 >= 0 holds, then e2 = 4 eventually holds and is succeeded by c3 < 6 .
Globally, it is always the case that if c4 < 5 holds, then l3 > 3 previously held and was preceded by q5 < 3 .
After s5 = 0, it is always the case that if o1 = 4 holds, then j3 <= 3 eventually holds.
Before m4 = 6, it is always the case that if a6 >= 2 holds, then u2 = 0 previously held and was preceded by r3 < 2 .
After a4 >= 0, it is never the case that h0 < 5 holds.
Before d4 <= 3, it is never the case that e5 < 6 holds.
Between k5 <= 4 and a1 = 4, it is always the case that n2 <= 5 holds.
After j4 < 7, it is always the case that if d5 >= 3 holds, then v1 = 5 eventually holds.
Before t0 <= 2, it is always the case that h4 > 1 holds.
Before l3 > 2, it is always the case that if j5 > 1 holds, then k1 > 4 eventually holds and is succeeded by d1 <= 7 .
Globally, it is always the case that if p3 < 4 holds, then u1 >= 7 eventually holds and is succeeded by w4 = 5 .
Between p0 <= 7 and n2 < 4, it is always the case that w0 > 2 holds.
After b1 >= 2 until m4 < 0, it is always the case that if n5 >= 5 holds, then w5 >= 4 eventually holds and is succeeded by i4 < 4 .
