Globally, it is always the case that if f0 < 4 holds, then q0 < 1 previously held and was preceded by s0 < 7 .
Globally, it is always the case that r0 < 4 holds.
Between i0 = 2 and s0 > 2, it is always the case that e0 <= 2 holds.
After i0 > 3, it is always the case that if p0 = 4 holds and is succeeded by m0 = 0, then j0 >= 0 previously held.
Globally, it is always the case that if q0 = 1 holds, then a0 = 2 previously held and was preceded by p0 > 0 .
Before g0 > 1, it is always the case that if q0 < 1 holds, then p0 = 2 previously held and was preceded by b0 >= 0 .
After q0 > 2, it is always the case that if r0 >= 2 holds, then g0 = 2 previously held and was preceded by q0 > 2 .
Before f0 = 2, it is always the case that if c0 > 4 holds and is succeeded by p0 >= 7, then s0 = 6 previously held.
After i0 <= 3, it is always the case that if q0 <= 5 holds, then q0 <= 1 eventually holds and is succeeded by a0 < 1, where k0 = 1 does not hold between q0 <= 1 and a0 < 1 .
Between c0 > 5 and i0 >= 1, it is always the case that if r0 = 6 holds, then c0 < 4 previously held and was preceded by g0 <= 4 .
Globally, it is always the case that if l0 < 0 holds and is succeeded by r0 = 5, then i0 <= 6 eventually holds after r0 = 5 .
Between g0 > 5 and l0 < 7, it is always the case that if p0 <= 1 holds and is succeeded by q0 < 3, then q0 <= 2 eventually holds after q0 < 3 .
Between j0 >= 2 and l0 = 2, p0 < 6 eventually holds.
Globally, it is always the case that if i0 >= 0 holds, then f0 <= 0 eventually holds.
Between a0 = 4 and m0 >= 2, it is never the case that m0 < 1 holds.
After r0 = 0, it is always the case that if f0 < 0 holds and is succeeded by k0 > 0, then l0 > 1 eventually holds after k0 > 0 .
Before k0 = 5, it is always the case that g0 < 4 holds.
Before s0 = 0, it is always the case that if m0 > 4 holds, then c0 > 0 previously held and was preceded by e0 > 5 .
After c0 = 3, it is always the case that if b0 <= 1 holds and is succeeded by f0 <= 1, then b0 <= 1 eventually holds after f0 <= 1 .
After o0 < 6 until a0 < 7, it is always the case that if o0 <= 2 holds, then e0 > 4 eventually holds and is succeeded by l0 >= 1 .
After n0 = 7 until n0 < 3, i0 = 3 eventually holds.
After r0 = 3, it is never the case that i0 = 0 holds.
Between r0 > 5 and s0 <= 3, it is always the case that if d0 = 3 holds and is succeeded by o0 > 4, then c0 >= 1 eventually holds after o0 > 4 .
Between l0 = 3 and j0 >= 6, it is always the case that if l0 >= 4 holds, then d0 <= 1 previously held and was preceded by e0 > 0 .
After c0 <= 1 until q0 <= 7, it is always the case that if l0 >= 6 holds, then m0 <= 7 eventually holds and is succeeded by a0 <= 4, where m0 <= 2 does not hold between m0 <= 7 and a0 <= 4 .
After c0 < 4, it is always the case that m0 > 0 holds.
Between k0 <= 1 and h0 > 0, it is always the case that if m0 >= 3 holds, then i0 <= 3 previously held and was preceded by r0 = 1 .
After d0 > 4, it is always the case that if f0 > 4 holds, then j0 >= 3 previously held and was preceded by q0 >= 4 .
After i0 >= 0, it is always the case that if l0 = 0 holds and is succeeded by r0 <= 3, then f0 < 1 eventually holds after r0 <= 3 .
Before f0 <= 5, it is always the case that if c0 = 3 holds, then l0 < 2 previously held and was preceded by s0 > 5 .
After f0 < 4, it is always the case that if b0 >= 2 holds and is succeeded by a0 = 0, then a0 < 0 previously held.
After p0 < 2 until r0 > 5, it is always the case that if b0 = 3 holds, then i0 = 6 eventually holds.
Between o0 = 1 and k0 = 5, it is never the case that b0 < 0 holds.
Globally, it is always the case that if s0 >= 6 holds, then o0 < 7 previously held.
Globally, it is never the case that j0 > 0 holds.
Before b0 < 2, it is always the case that if e0 <= 0 holds, then c0 < 4 previously held.
After h0 = 6, it is always the case that if c0 = 6 holds and is succeeded by g0 >= 6, then c0 >= 0 previously held.
Globally, it is never the case that b0 = 3 holds.
Globally, it is always the case that if m0 >= 0 holds, then g0 >= 6 eventually holds and is succeeded by f0 > 6 .
After d0 >= 7 until e0 > 2, it is always the case that if h0 <= 7 holds, then n0 <= 0 eventually holds and is succeeded by r0 < 0 .
Globally, it is always the case that if a0 <= 1 holds, then q0 >= 5 eventually holds.
Between n0 <= 6 and n0 > 1, it is always the case that if q0 >= 1 holds, then r0 <= 6 eventually holds and is succeeded by g0 <= 4 .
After c0 = 3, it is always the case that l0 > 7 holds.
Between k0 >= 4 and c0 = 6, it is always the case that if k0 >= 2 holds and is succeeded by g0 < 2, then h0 <= 1 eventually holds after g0 < 2 .
After e0 >= 1, it is always the case that if g0 > 0 holds, then j0 >= 6 eventually holds.
Between h0 <= 4 and j0 <= 1, it is never the case that j0 >= 3 holds.
Before b0 = 1, it is always the case that if n0 = 4 holds, then l0 = 4 previously held.
Between e0 = 0 and f0 >= 7, it is always the case that if s0 = 2 holds and is succeeded by c0 < 5, then s0 <= 4 previously held.
After d0 > 4 until j0 <= 6, it is always the case that q0 >= 1 holds.
Between e0 >= 6 and b0 > 6, it is always the case that if c0 = 5 holds, then i0 < 5 eventually holds and is succeeded by a0 > 3 .
After r0 < 4 until g0 > 7, it is always the case that if b0 < 1 holds, then e0 >= 7 previously held and was preceded by r0 < 3 .
After o0 <= 5 until c0 = 7, it is always the case that if g0 >= 5 holds, then n0 <= 1 previously held and was preceded by d0 <= 0 .
Before o0 < 1, it is always the case that if q0 >= 2 holds, then l0 > 3 previously held.
Before n0 = 7, it is never the case that i0 > 7 holds.
Before o0 < 3, it is never the case that k0 <= 1 holds.
After b0 > 0, k0 >= 4 eventually holds.
Globally, it is always the case that if g0 > 3 holds, then k0 < 3 eventually holds.
Globally, it is always the case that if s0 = 6 holds, then h0 <= 6 eventually holds and is succeeded by c0 > 6, where c0 <= 7 does not hold between h0 <= 6 and c0 > 6 .
After n0 = 7, m0 = 2 eventually holds.
Before d0 = 1, it is always the case that if q0 < 6 holds, then j0 = 4 previously held and was preceded by a0 < 0 .
After l0 = 0 until k0 <= 1, it is always the case that k0 > 0 holds.
Globally, it is always the case that if s0 <= 4 holds, then h0 >= 1 eventually holds.
Before e0 = 5, it is always the case that if n0 > 2 holds, then k0 <= 6 previously held.
After c0 < 6 until p0 = 0, it is always the case that g0 > 0 holds.
After s0 = 7, it is always the case that if c0 >= 2 holds and is succeeded by o0 > 0, then n0 <= 2 eventually holds after o0 > 0 .
Before d0 < 2, e0 = 3 eventually holds.
After s0 < 7, it is always the case that if d0 >= 1 holds, then j0 > 2 eventually holds and is succeeded by b0 >= 5, where e0 = 1 does not hold between j0 > 2 and b0 >= 5 .
Globally, it is always the case that if b0 > 3 holds, then l0 >= 3 previously held and was preceded by a0 > 5 .
Globally, it is always the case that if g0 > 5 holds and is succeeded by r0 <= 3, then p0 < 5 eventually holds after r0 <= 3 .
After k0 = 6, it is always the case that if r0 <= 1 holds, then k0 <= 5 eventually holds and is succeeded by j0 <= 2 .
After c0 < 5 until d0 > 2, it is always the case that if r0 < 5 holds, then g0 >= 2 eventually holds and is succeeded by c0 >= 6 .
After a0 > 4, it is never the case that n0 < 1 holds.
Before o0 > 7, it is always the case that if j0 <= 1 holds and is succeeded by p0 < 5, then m0 = 0 previously held.
After p0 < 2, g0 >= 3 eventually holds.
After q0 < 3 until o0 >= 1, it is always the case that if c0 <= 7 holds, then r0 <= 0 eventually holds.
Between k0 < 4 and j0 >= 2, it is always the case that k0 >= 4 holds.
Before b0 < 1, it is always the case that if n0 > 3 holds and is succeeded by g0 > 7, then i0 < 7 previously held.
Between a0 <= 1 and g0 < 1, it is always the case that if d0 = 0 holds, then d0 >= 6 eventually holds and is succeeded by l0 > 4 .
After a0 = 6 until e0 <= 0, it is always the case that o0 < 2 holds.
After e0 < 5, it is always the case that if g0 = 2 holds, then i0 > 3 eventually holds.
After a0 <= 5, it is always the case that if l0 <= 1 holds, then c0 <= 1 eventually holds and is succeeded by k0 > 2 .
Globally, b0 = 5 eventually holds.
Between i0 = 1 and d0 <= 3, it is always the case that if q0 = 7 holds, then n0 = 4 previously held and was preceded by n0 >= 1 .
After i0 <= 2 until g0 <= 3, it is never the case that h0 > 0 holds.
Between k0 < 4 and n0 >= 3, it is always the case that if n0 > 4 holds, then r0 = 2 previously held and was preceded by k0 = 3 .
Globally, it is always the case that if a0 < 7 holds and is succeeded by g0 >= 0, then k0 < 2 previously held.
After g0 < 6, it is never the case that i0 = 1 holds.
After h0 >= 2 until h0 > 1, it is never the case that s0 = 1 holds.
After f0 >= 4, it is always the case that if s0 > 2 holds, then c0 > 1 previously held and was preceded by f0 < 4 .
Between j0 > 0 and q0 >= 4, it is never the case that j0 = 4 holds.
After e0 < 5, f0 > 6 eventually holds.
After b0 = 2, it is always the case that if k0 > 2 holds, then m0 < 1 eventually holds and is succeeded by e0 < 2 .
Before e0 <= 3, it is never the case that q0 > 6 holds.
After m0 > 0 until p0 > 5, r0 >= 7 eventually holds.
After i0 > 5, it is always the case that g0 < 2 holds.
After n0 = 4 until q0 >= 7, it is always the case that if r0 < 1 holds, then i0 = 3 eventually holds.
After i0 = 4 until e0 = 5, c0 < 6 eventually holds.
Before m0 < 2, it is always the case that if p0 = 7 holds, then d0 <= 1 eventually holds and is succeeded by r0 >= 7, where d0 >= 2 does not hold between d0 <= 1 and r0 >= 7 .
Before l0 <= 2, it is always the case that if e0 = 1 holds and is succeeded by j0 > 3, then p0 = 3 previously held.
After b0 = 0, it is always the case that if p0 = 4 holds, then r0 > 2 previously held.
Globally, it is always the case that if m0 < 1 holds, then e0 <= 7 eventually holds.
After p0 <= 0, it is always the case that if g0 >= 2 holds, then q0 = 3 eventually holds and is succeeded by j0 <= 4, where k0 = 7 does not hold between q0 = 3 and j0 <= 4 .
After s0 > 6 until j0 = 3, it is never the case that n0 = 3 holds.
After p0 > 1 until k0 <= 7, it is always the case that if p0 < 7 holds and is succeeded by h0 = 0, then m0 <= 7 eventually holds after h0 = 0 .
Before a0 = 0, m0 < 2 eventually holds.
Before p0 = 6, it is always the case that if b0 < 3 holds, then b0 <= 3 eventually holds and is succeeded by p0 = 2, where c0 > 0 does not hold between b0 <= 3 and p0 = 2 .
Before m0 < 1, it is never the case that p0 > 4 holds.
Between c0 > 1 and p0 = 2, g0 < 7 eventually holds.
Between o0 <= 4 and b0 <= 1, it is always the case that if j0 <= 1 holds and is succeeded by q0 = 5, then a0 > 2 eventually holds after q0 = 5 .
Before r0 <= 4, it is always the case that if i0 <= 4 holds, then e0 > 2 previously held and was preceded by b0 = 5 .
Globally, s0 = 6 eventually holds.
Before c0 = 7, it is always the case that if i0 > 2 holds, then s0 = 1 eventually holds and is succeeded by s0 > 7, where m0 = 2 does not hold between s0 = 1 and s0 > 7 .
Before b0 <= 6, it is always the case that if s0 > 0 holds, then l0 > 7 eventually holds and is succeeded by m0 > 3 .
After j0 < 7, it is always the case that if g0 > 1 holds and is succeeded by k0 < 1, then a0 = 0 previously held.
After q0 < 1 until a0 = 6, it is never the case that a0 <= 2 holds.
After m0 > 1 until h0 < 2, it is always the case that if g0 = 3 holds and is succeeded by j0 = 3, then k0 > 1 eventually holds after j0 = 3 .
After b0 = 3 until g0 >= 1, it is never the case that k0 > 6 holds.
After l0 >= 6, l0 = 2 eventually holds.
After b0 <= 5 until r0 > 2, it is always the case that if a0 = 2 holds and is succeeded by p0 <= 6, then g0 >= 5 eventually holds after p0 <= 6 .
Between d0 <= 6 and p0 <= 1, it is always the case that if a0 > 6 holds and is succeeded by n0 >= 5, then o0 < 0 eventually holds after n0 >= 5 .
Between a0 > 1 and f0 > 3, it is always the case that if p0 = 5 holds, then g0 = 5 eventually holds.
Globally, it is always the case that if m0 >= 4 holds and is succeeded by o0 > 1, then l0 > 0 previously held.
After m0 > 3 until l0 < 7, it is never the case that s0 = 2 holds.
After d0 <= 0, it is never the case that k0 >= 2 holds.
Globally, a0 = 0 eventually holds.
Globally, it is always the case that b0 = 2 holds.
After d0 = 4 until j0 <= 0, it is always the case that s0 < 4 holds.
Between b0 >= 3 and f0 > 3, it is always the case that if g0 = 2 holds and is succeeded by r0 < 6, then g0 < 5 eventually holds after r0 < 6 .
After p0 > 4, it is always the case that a0 > 1 holds.
After k0 <= 3, it is always the case that if l0 > 2 holds, then m0 < 7 previously held.
Between c0 < 5 and a0 = 3, it is always the case that if l0 >= 3 holds, then k0 = 0 eventually holds.
Between a0 < 6 and p0 > 0, it is always the case that if n0 = 5 holds and is succeeded by r0 <= 3, then i0 = 0 eventually holds after r0 <= 3 .
Globally, it is always the case that if l0 <= 3 holds and is succeeded by h0 = 3, then k0 > 1 eventually holds after h0 = 3 .
Globally, it is always the case that if q0 <= 5 holds, then i0 < 6 previously held.
Before j0 >= 0, it is always the case that if r0 > 1 holds, then l0 = 5 eventually holds and is succeeded by b0 > 2 .
Between q0 < 2 and a0 > 0, it is always the case that if o0 > 3 holds, then o0 <= 0 eventually holds.
Before i0 > 5, d0 < 6 eventually holds.
Before r0 = 5, it is always the case that if m0 = 6 holds, then j0 >= 5 eventually holds and is succeeded by d0 < 0 .
After s0 >= 5 until i0 <= 7, it is always the case that if r0 = 6 holds, then k0 = 5 eventually holds.
Before m0 <= 6, it is always the case that if m0 <= 7 holds, then l0 <= 5 previously held and was preceded by o0 < 1 .
Between r0 < 0 and q0 >= 0, it is always the case that if n0 < 6 holds, then k0 = 1 eventually holds.
Before k0 > 4, it is always the case that if q0 <= 3 holds, then p0 <= 7 previously held.
Globally, it is always the case that if k0 > 2 holds and is succeeded by r0 = 7, then c0 < 7 previously held.
Before b0 < 0, it is always the case that if e0 <= 1 holds, then b0 > 5 previously held and was preceded by j0 <= 0 .
Before i0 = 3, c0 > 1 eventually holds.
After a0 <= 0, it is never the case that d0 >= 7 holds.
Between a0 > 3 and o0 = 5, j0 >= 1 eventually holds.
Before r0 >= 7, it is always the case that if s0 > 7 holds, then m0 >= 4 eventually holds and is succeeded by a0 >= 2 .
Globally, it is always the case that if r0 = 4 holds, then h0 = 2 eventually holds and is succeeded by c0 = 4 .
Globally, it is always the case that if k0 < 2 holds and is succeeded by q0 <= 3, then e0 = 0 eventually holds after q0 <= 3 .
Before j0 >= 2, it is always the case that if m0 <= 5 holds, then l0 >= 4 eventually holds and is succeeded by k0 >= 6, where i0 >= 5 does not hold between l0 >= 4 and k0 >= 6 .
After l0 >= 1 until p0 > 7, it is always the case that if j0 <= 5 holds and is succeeded by o0 <= 0, then i0 > 6 previously held.
Globally, it is always the case that if i0 < 0 holds and is succeeded by d0 < 5, then c0 <= 6 previously held.
After f0 > 0, it is always the case that if p0 < 2 holds, then j0 > 4 previously held and was preceded by n0 >= 3 .
Between j0 >= 5 and g0 < 4, it is never the case that f0 = 7 holds.
Before h0 >= 6, it is never the case that f0 > 3 holds.
After i0 >= 6 until o0 > 0, it is always the case that if e0 < 7 holds, then c0 = 7 previously held.
Globally, it is always the case that if h0 < 6 holds, then q0 <= 3 eventually holds and is succeeded by q0 >= 4 .
After g0 > 5, it is always the case that if j0 >= 1 holds and is succeeded by d0 = 0, then q0 > 6 eventually holds after d0 = 0 .
After o0 = 4, it is always the case that if m0 > 0 holds, then i0 >= 2 eventually holds.
After p0 >= 6 until r0 >= 1, it is always the case that if o0 = 3 holds, then m0 > 7 previously held and was preceded by n0 >= 6 .
Globally, it is always the case that if o0 <= 5 holds, then o0 > 5 eventually holds and is succeeded by c0 <= 0 .
After d0 > 3 until r0 <= 5, n0 > 0 eventually holds.
After a0 <= 0, it is always the case that if l0 > 3 holds, then e0 < 0 eventually holds and is succeeded by m0 < 2, where h0 > 4 does not hold between e0 < 0 and m0 < 2 .
After q0 = 0 until f0 < 4, it is never the case that g0 = 4 holds.
Before e0 < 0, it is never the case that a0 < 3 holds.
Between e0 < 4 and a0 >= 6, it is always the case that if i0 >= 6 holds, then e0 < 5 eventually holds.
Between p0 > 6 and a0 > 5, it is always the case that if p0 = 4 holds, then l0 < 1 previously held and was preceded by r0 <= 3 .
Globally, it is always the case that b0 > 7 holds.
After d0 = 5, it is always the case that if s0 >= 4 holds, then m0 < 1 eventually holds and is succeeded by r0 = 3, where h0 = 4 does not hold between m0 < 1 and r0 = 3 .
After s0 < 4, it is always the case that if o0 >= 1 holds and is succeeded by j0 < 4, then o0 >= 5 eventually holds after j0 < 4 .
After m0 <= 3 until g0 > 7, it is always the case that c0 >= 4 holds.
Globally, it is never the case that l0 < 6 holds.
Between g0 = 3 and r0 = 3, it is always the case that if l0 = 5 holds, then b0 >= 1 eventually holds and is succeeded by r0 < 5, where g0 < 0 does not hold between b0 >= 1 and r0 < 5 .
After m0 > 2 until l0 > 6, it is always the case that if p0 >= 4 holds, then f0 >= 0 previously held and was preceded by o0 = 7 .
After q0 < 4, q0 >= 0 eventually holds.
After k0 <= 4, it is always the case that if i0 > 0 holds, then i0 < 3 eventually holds.
After n0 >= 0, it is always the case that if m0 >= 5 holds, then k0 < 1 previously held and was preceded by b0 <= 0 .
Before f0 < 1, it is never the case that i0 > 6 holds.
After b0 = 3, g0 <= 2 eventually holds.
After f0 > 6 until j0 = 5, it is always the case that if n0 = 7 holds, then r0 >= 6 previously held and was preceded by a0 >= 5 .
Globally, it is always the case that if f0 < 3 holds, then j0 = 4 previously held and was preceded by n0 < 5 .
Globally, it is always the case that if i0 <= 3 holds, then s0 >= 6 eventually holds and is succeeded by e0 <= 2, where a0 < 4 does not hold between s0 >= 6 and e0 <= 2 .
Before h0 = 7, it is never the case that j0 > 7 holds.
Between j0 = 1 and o0 > 4, it is always the case that if p0 >= 1 holds, then r0 <= 3 eventually holds and is succeeded by s0 <= 3, where o0 > 1 does not hold between r0 <= 3 and s0 <= 3 .
Before e0 < 6, it is always the case that if e0 > 7 holds, then d0 = 5 previously held.
After j0 <= 4, it is always the case that if k0 > 2 holds, then p0 = 6 previously held and was preceded by b0 >= 1 .
After d0 <= 6 until o0 = 3, it is always the case that if h0 = 0 holds, then g0 > 1 eventually holds and is succeeded by h0 < 2 .
Globally, it is always the case that if a0 < 3 holds, then l0 <= 7 eventually holds and is succeeded by m0 >= 2 .
Between g0 >= 4 and m0 = 1, it is always the case that if h0 > 4 holds, then k0 < 1 previously held.
After j0 <= 0 until m0 >= 4, it is always the case that if g0 > 5 holds and is succeeded by k0 < 4, then s0 > 5 previously held.
After c0 <= 7 until i0 >= 4, it is always the case that if h0 >= 3 holds and is succeeded by b0 > 6, then j0 > 7 eventually holds after b0 > 6 .
Between i0 <= 6 and h0 > 6, it is always the case that if a0 < 4 holds and is succeeded by e0 > 6, then s0 < 0 eventually holds after e0 > 6 .
Globally, it is always the case that if q0 >= 3 holds and is succeeded by l0 >= 1, then g0 < 6 previously held.
Globally, it is always the case that if n0 = 7 holds, then o0 <= 3 eventually holds and is succeeded by n0 < 3 .
Between f0 > 3 and h0 >= 2, it is never the case that o0 < 4 holds.
Before l0 <= 4, it is always the case that if q0 <= 1 holds, then q0 < 6 previously held.
After i0 > 3, it is always the case that if b0 < 1 holds and is succeeded by i0 < 3, then d0 <= 1 eventually holds after i0 < 3 .
After l0 > 4 until b0 = 2, it is always the case that a0 <= 5 holds.
Between r0 >= 0 and e0 >= 2, it is always the case that if k0 < 3 holds, then q0 < 1 eventually holds and is succeeded by o0 >= 3 .
After i0 < 3, k0 < 0 eventually holds.
Globally, it is always the case that if g0 > 5 holds, then l0 >= 3 eventually holds.
Globally, it is always the case that if a0 < 6 holds and is succeeded by a0 > 4, then e0 > 5 previously held.
After i0 < 2, it is never the case that p0 = 5 holds.
After m0 < 6 until c0 >= 3, it is always the case that if r0 <= 4 holds and is succeeded by n0 = 6, then e0 <= 2 eventually holds after n0 = 6 .
After c0 <= 4 until l0 < 5, it is always the case that k0 <= 5 holds.
Between d0 > 5 and l0 = 1, it is always the case that if l0 = 6 holds, then f0 >= 0 eventually holds.
Between h0 = 7 and g0 = 3, it is always the case that if f0 >= 7 holds, then s0 < 1 eventually holds.
Between g0 = 4 and h0 >= 2, it is always the case that if k0 > 0 holds, then n0 >= 6 previously held and was preceded by m0 = 6 .
Between p0 <= 3 and b0 < 4, e0 <= 7 eventually holds.
After o0 <= 6, it is always the case that if j0 <= 3 holds, then k0 = 2 eventually holds and is succeeded by n0 >= 0, where g0 > 7 does not hold between k0 = 2 and n0 >= 0 .
After g0 <= 6 until p0 = 4, it is always the case that if k0 > 4 holds, then m0 >= 1 previously held and was preceded by p0 <= 6 .
Between c0 >= 0 and g0 > 3, it is always the case that if m0 = 5 holds and is succeeded by r0 > 6, then k0 = 4 eventually holds after r0 > 6 .
After q0 <= 2, h0 = 0 eventually holds.
Before s0 > 6, it is always the case that if s0 >= 1 holds, then l0 < 3 previously held and was preceded by j0 < 3 .
Globally, it is always the case that if e0 >= 2 holds, then j0 > 2 eventually holds and is succeeded by m0 > 3 .
Globally, it is always the case that if m0 < 7 holds and is succeeded by d0 = 3, then h0 >= 7 eventually holds after d0 = 3 .
Globally, it is always the case that if c0 = 0 holds and is succeeded by e0 <= 4, then b0 < 1 eventually holds after e0 <= 4 .
After r0 <= 0, it is always the case that if r0 > 5 holds, then p0 >= 4 previously held and was preceded by l0 <= 2 .
After b0 >= 3 until h0 = 7, it is always the case that if h0 = 0 holds, then e0 >= 3 eventually holds and is succeeded by q0 <= 3 .
After c0 > 3 until h0 >= 2, it is always the case that c0 > 2 holds.
Before p0 > 2, it is always the case that if o0 <= 4 holds and is succeeded by h0 < 6, then r0 < 0 eventually holds after h0 < 6 .
Between m0 < 7 and q0 >= 1, it is always the case that if f0 >= 4 holds and is succeeded by k0 = 5, then p0 >= 6 eventually holds after k0 = 5 .
Between i0 > 5 and s0 >= 2, it is always the case that if o0 >= 5 holds, then m0 <= 7 eventually holds and is succeeded by n0 <= 1 .
Globally, it is always the case that if i0 > 3 holds, then b0 < 2 previously held.
After o0 > 2, it is always the case that if s0 >= 2 holds and is succeeded by h0 <= 5, then i0 >= 5 eventually holds after h0 <= 5 .
After s0 <= 2 until b0 < 6, it is always the case that if g0 >= 7 holds, then j0 <= 6 previously held and was preceded by i0 = 0 .
After p0 >= 5, it is always the case that if c0 >= 5 holds, then c0 > 0 eventually holds.
Globally, o0 <= 2 eventually holds.
After r0 > 1 until b0 = 1, it is always the case that if s0 = 1 holds and is succeeded by p0 = 6, then a0 <= 0 previously held.
Before o0 < 7, it is always the case that i0 > 3 holds.
Globally, it is always the case that if i0 = 4 holds, then d0 > 3 eventually holds.
After o0 >= 0 until i0 < 7, it is always the case that if g0 > 2 holds, then b0 <= 5 previously held.
After p0 < 7 until a0 < 0, it is always the case that if k0 < 1 holds, then q0 > 3 eventually holds and is succeeded by c0 < 5 .
After k0 <= 0 until h0 < 6, it is always the case that if r0 = 4 holds and is succeeded by q0 = 4, then g0 <= 4 eventually holds after q0 = 4 .
Before c0 < 4, it is always the case that if s0 <= 6 holds, then n0 <= 1 eventually holds and is succeeded by b0 <= 0 .
Before s0 = 3, it is always the case that if i0 > 2 holds, then c0 < 4 previously held and was preceded by h0 >= 1 .
Between f0 = 1 and q0 >= 0, it is always the case that if r0 > 2 holds, then f0 >= 6 previously held and was preceded by j0 <= 6 .
After s0 < 3, it is always the case that if e0 >= 0 holds, then b0 <= 6 previously held and was preceded by j0 <= 0 .
Between f0 = 3 and b0 < 7, c0 <= 5 eventually holds.
