Globally, it is always the case that if m0 > 29 holds, then k1 > 9 eventually holds and is succeeded by c1 > 5, where a1 = 14 does not hold between k1 > 9 and c1 > 5 .
After g1 <= 21, it is always the case that if j0 >= 2 holds and is succeeded by t0 > 13, then l0 = 1 previously held.
After b1 < 25 until b0 <= 11, u0 = 8 eventually holds.
After m0 < 18, it is always the case that if g1 >= 8 holds, then l1 > 3 previously held and was preceded by d1 < 12 .
After m1 = 22 until e1 > 22, it is always the case that if y0 <= 8 holds, then f0 > 15 eventually holds and is succeeded by h1 > 1, where w0 > 13 does not hold between f0 > 15 and h1 > 1 .
Globally, it is always the case that if s0 > 27 holds and is succeeded by j1 > 3, then m1 < 28 previously held.
Globally, it is always the case that if k1 <= 28 holds and is succeeded by l1 <= 17, then c1 < 16 eventually holds after l1 <= 17 .
Before f0 <= 26, it is always the case that if o0 = 31 holds, then a1 = 18 eventually holds and is succeeded by f0 = 5, where j0 >= 22 does not hold between a1 = 18 and f0 = 5 .
Between k0 = 23 and k1 >= 10, it is always the case that k1 = 28 holds.
Between l0 <= 21 and e0 = 27, r0 > 24 eventually holds.
After m1 = 9, it is always the case that if k0 <= 25 holds, then f1 <= 31 previously held.
After r0 = 23, it is always the case that if h1 > 9 holds, then g1 >= 16 eventually holds.
After g0 > 28, it is always the case that if b1 > 21 holds, then v0 >= 17 previously held and was preceded by h0 > 5 .
After m1 >= 6, it is always the case that if f0 > 8 holds, then e0 = 23 previously held.
Before b0 < 17, it is always the case that if m1 > 13 holds, then n0 = 0 eventually holds.
After c0 > 28 until d1 >= 2, it is never the case that m0 < 15 holds.
Globally, it is always the case that r0 < 0 holds.
Before x0 > 24, it is always the case that p0 <= 1 holds.
Before h1 >= 30, it is always the case that if a1 <= 17 holds and is succeeded by h0 < 8, then o0 > 26 previously held.
Between a1 <= 16 and f1 > 3, it is always the case that if s0 >= 14 holds, then i1 > 13 previously held.
After k1 <= 2, it is always the case that u0 <= 15 holds.
Globally, it is never the case that s0 = 28 holds.
Before n0 = 19, it is always the case that a0 = 9 holds.
Globally, it is always the case that h0 <= 14 holds.
Before e1 >= 22, it is never the case that c0 < 29 holds.
Globally, it is never the case that w0 <= 16 holds.
Before m0 > 16, it is always the case that if j1 < 8 holds, then j1 = 26 eventually holds and is succeeded by d1 < 13, where t0 = 27 does not hold between j1 = 26 and d1 < 13 .
Globally, it is always the case that if x0 <= 12 holds, then k0 <= 28 previously held.
After t0 <= 5, it is always the case that g0 = 28 holds.
After l0 > 3, it is always the case that if c0 = 28 holds, then j0 >= 22 previously held.
Globally, it is always the case that u0 < 26 holds.
Before o0 >= 22, it is always the case that d1 > 23 holds.
After r0 >= 20 until c1 = 14, it is always the case that b0 >= 21 holds.
Between v0 = 27 and h0 < 25, it is always the case that if e0 = 4 holds, then j0 = 20 eventually holds and is succeeded by b1 > 6, where i1 > 4 does not hold between j0 = 20 and b1 > 6 .
Globally, it is always the case that if l0 > 3 holds and is succeeded by i1 > 26, then j1 > 20 previously held.
After i0 <= 20, it is never the case that g0 < 16 holds.
Between x0 >= 15 and w0 = 0, it is always the case that if b1 <= 26 holds, then k1 <= 13 previously held and was preceded by y0 >= 28 .
Before b1 > 19, it is always the case that if k1 >= 3 holds, then w0 > 3 eventually holds.
After n0 >= 4, it is always the case that if v0 = 22 holds, then z0 > 27 previously held and was preceded by e0 <= 26 .
After f1 < 10, it is always the case that if q0 > 20 holds, then t0 = 17 previously held and was preceded by u0 >= 31 .
After c0 <= 21, it is always the case that if q0 >= 1 holds and is succeeded by w0 > 16, then b1 <= 31 previously held.
Globally, it is always the case that if k1 <= 29 holds and is succeeded by i0 <= 20, then x0 <= 13 previously held.
After l1 = 13 until k0 < 1, it is never the case that p0 > 29 holds.
After b0 > 11 until g0 < 15, it is always the case that if n0 >= 28 holds and is succeeded by y0 <= 5, then a0 >= 10 previously held.
Globally, it is always the case that u0 = 29 holds.
Globally, it is always the case that m0 = 16 holds.
Before b0 <= 9, it is always the case that if j0 = 25 holds, then q0 < 21 eventually holds.
After i1 >= 30 until c0 > 24, f1 > 24 eventually holds.
Before t0 >= 25, it is always the case that if t0 < 19 holds, then c0 >= 28 previously held.
Between r0 = 8 and a1 <= 11, it is always the case that if e0 <= 23 holds, then k0 > 20 eventually holds and is succeeded by p0 <= 27, where f0 <= 3 does not hold between k0 > 20 and p0 <= 27 .
After k0 <= 25 until f0 = 12, it is always the case that if j0 = 20 holds, then a1 >= 27 eventually holds.
Between c1 > 16 and q0 > 27, it is always the case that if f0 = 31 holds, then y0 >= 14 previously held and was preceded by y0 = 28 .
Between m1 = 15 and e0 <= 21, i0 < 2 eventually holds.
Between g1 = 24 and j1 >= 12, it is always the case that if o0 > 12 holds, then c0 >= 9 previously held.
Before s0 >= 12, it is never the case that i0 <= 19 holds.
Before o0 < 9, it is always the case that if k1 > 31 holds, then j0 < 1 previously held.
Before w0 > 28, it is never the case that i0 = 13 holds.
Before l0 = 27, it is always the case that if q0 > 14 holds and is succeeded by s0 < 3, then b1 = 15 previously held.
After k1 >= 1, it is never the case that z0 <= 28 holds.
After u0 < 29, it is never the case that h1 <= 8 holds.
After b0 < 20, t0 = 8 eventually holds.
After f0 <= 15 until i0 = 12, it is always the case that w0 = 11 holds.
Between a0 >= 16 and z0 >= 13, it is always the case that if i1 < 30 holds, then d0 = 5 eventually holds.
After r0 >= 31, it is always the case that if g1 <= 3 holds and is succeeded by p0 <= 21, then b0 < 19 previously held.
Before h1 <= 21, it is always the case that if y0 < 14 holds and is succeeded by w0 > 22, then h0 <= 31 previously held.
Between v0 < 14 and k1 >= 21, it is always the case that if c1 <= 26 holds, then j1 < 11 eventually holds and is succeeded by i1 = 20, where a0 <= 26 does not hold between j1 < 11 and i1 = 20 .
Before c0 < 27, it is always the case that if a0 < 3 holds, then f1 < 16 previously held and was preceded by i0 > 9 .
Before f0 >= 0, it is always the case that if m1 <= 30 holds and is succeeded by a0 <= 14, then c0 > 0 eventually holds after a0 <= 14 .
After c0 = 4, it is always the case that if e1 < 13 holds, then b0 <= 3 eventually holds.
Between b0 >= 6 and o0 > 6, it is never the case that w0 <= 23 holds.
Globally, it is always the case that h1 > 9 holds.
Between g1 = 5 and e1 < 19, it is always the case that if k0 < 2 holds, then b0 > 9 eventually holds.
Globally, it is always the case that if b1 < 1 holds and is succeeded by u0 < 22, then g1 > 20 eventually holds after u0 < 22 .
Between i0 < 20 and m1 > 25, it is always the case that s0 <= 12 holds.
Before m0 < 6, it is always the case that if h1 < 9 holds, then c1 > 15 eventually holds.
After q0 = 24 until b1 > 4, it is never the case that m1 = 3 holds.
Between h1 < 15 and a0 <= 22, it is always the case that if s0 < 24 holds, then w0 <= 31 eventually holds and is succeeded by y0 <= 5 .
Between j1 >= 23 and x0 = 31, it is always the case that if d0 >= 16 holds, then k1 = 10 previously held and was preceded by d1 < 6 .
After z0 <= 14 until q0 > 13, it is never the case that z0 >= 26 holds.
After h0 < 19, it is never the case that o0 >= 6 holds.
Before f0 > 27, it is always the case that if t0 < 1 holds, then l1 = 17 previously held and was preceded by c0 >= 16 .
Globally, b0 <= 8 eventually holds.
After z0 <= 3 until i1 <= 22, it is always the case that if h1 > 26 holds and is succeeded by s0 >= 17, then f0 < 20 eventually holds after s0 >= 17 .
Between j0 >= 10 and b1 = 28, it is always the case that if l1 < 12 holds, then e0 <= 3 previously held and was preceded by j1 = 21 .
Globally, it is always the case that if y0 <= 2 holds, then b1 > 25 eventually holds and is succeeded by z0 >= 24, where a0 > 0 does not hold between b1 > 25 and z0 >= 24 .
Between t0 < 29 and e1 = 4, it is always the case that l1 = 13 holds.
Globally, it is always the case that if x0 < 11 holds, then p0 < 7 eventually holds.
After o0 <= 20, it is always the case that if i1 <= 12 holds, then n0 <= 16 eventually holds.
After h1 >= 31 until m0 < 4, it is always the case that if v0 <= 6 holds, then h1 = 16 previously held.
Globally, it is always the case that if b0 <= 20 holds, then e1 <= 11 eventually holds and is succeeded by u0 < 16 .
After i1 = 21 until p0 <= 28, it is always the case that if v0 = 27 holds and is succeeded by j1 >= 30, then j1 >= 19 previously held.
After l1 = 22 until g0 >= 22, it is never the case that i1 >= 6 holds.
After u0 > 27 until q0 >= 4, it is always the case that if q0 = 26 holds, then y0 < 6 eventually holds and is succeeded by h0 <= 18 .
Before i1 < 7, it is always the case that if m0 = 13 holds, then g1 < 7 eventually holds and is succeeded by w0 >= 22, where i1 > 8 does not hold between g1 < 7 and w0 >= 22 .
Between f0 < 17 and x0 < 22, it is always the case that a0 <= 15 holds.
Between a0 < 19 and a0 >= 20, c0 <= 31 eventually holds.
After b1 = 25 until c1 > 22, it is always the case that s0 >= 10 holds.
Before d0 >= 3, it is always the case that if d1 >= 4 holds, then b1 > 22 eventually holds and is succeeded by n0 = 10, where y0 > 19 does not hold between b1 > 22 and n0 = 10 .
Globally, it is never the case that a0 < 7 holds.
After l0 < 9, it is always the case that if o0 > 24 holds, then l1 = 31 previously held.
After d0 = 25 until v0 <= 27, it is always the case that if k0 = 18 holds, then k0 <= 13 previously held.
After k1 < 1, it is always the case that if i1 > 26 holds and is succeeded by c0 < 0, then c1 > 28 previously held.
After u0 > 9 until i0 = 10, it is always the case that if g1 > 8 holds, then s0 >= 29 eventually holds.
Between b0 <= 8 and q0 > 16, it is always the case that if c1 > 17 holds and is succeeded by y0 > 7, then d1 >= 1 previously held.
After o0 < 29 until r0 >= 29, it is always the case that if k0 > 23 holds, then a0 < 27 eventually holds and is succeeded by v0 >= 19 .
Globally, it is always the case that if m0 <= 8 holds, then d1 <= 7 eventually holds and is succeeded by s0 >= 1, where i0 >= 31 does not hold between d1 <= 7 and s0 >= 1 .
After d1 >= 26, it is always the case that if k0 <= 7 holds, then o0 = 18 eventually holds.
Before l1 = 13, it is always the case that if n0 = 9 holds, then d0 >= 12 previously held.
Globally, it is always the case that if r0 >= 18 holds, then g1 <= 12 previously held and was preceded by v0 <= 27 .
Before i0 = 30, it is always the case that if b1 > 21 holds and is succeeded by m1 = 6, then a0 < 9 eventually holds after m1 = 6 .
Globally, it is always the case that b1 < 1 holds.
After n0 < 14 until x0 <= 14, it is always the case that if s0 < 22 holds and is succeeded by h1 >= 16, then b1 > 22 previously held.
After c0 <= 16, it is always the case that if h0 <= 9 holds and is succeeded by c0 < 30, then a1 <= 22 eventually holds after c0 < 30 .
After c1 > 20, it is always the case that if d1 < 29 holds, then f1 = 31 eventually holds and is succeeded by c1 > 31 .
Globally, it is always the case that z0 = 31 holds.
After i1 < 25, it is never the case that n0 > 4 holds.
Globally, it is always the case that if v0 >= 10 holds and is succeeded by k1 < 17, then d0 < 30 previously held.
After e0 > 13 until k1 < 8, it is always the case that f1 > 23 holds.
Before f1 <= 1, it is always the case that if b1 < 1 holds, then q0 <= 12 eventually holds and is succeeded by p0 = 2 .
Before e1 < 28, it is always the case that if f1 = 21 holds, then a0 < 17 eventually holds and is succeeded by r0 <= 17, where v0 > 27 does not hold between a0 < 17 and r0 <= 17 .
