Between q0 > 7 and r1 > 7, it is never the case that h1 = 4 holds.
Globally, it is always the case that if d1 >= 4 holds and is succeeded by a2 <= 7, then o0 < 5 eventually holds after a2 <= 7 .
Between j2 <= 1 and m2 < 1, it is always the case that c2 >= 3 holds.
After c0 < 7, it is always the case that if k1 >= 1 holds, then n2 < 4 previously held.
Between e0 >= 7 and c0 < 0, it is always the case that if i1 < 7 holds and is succeeded by j2 <= 4, then a0 >= 1 previously held.
After a1 < 4, it is always the case that if u1 = 1 holds and is succeeded by c1 < 0, then r1 <= 6 previously held.
After v2 >= 1, it is always the case that if w0 >= 7 holds, then m2 > 2 eventually holds and is succeeded by w0 = 4, where e2 = 6 does not hold between m2 > 2 and w0 = 4 .
Globally, r0 = 0 eventually holds.
Globally, d2 <= 5 eventually holds.
After x2 < 4 until m1 <= 7, it is always the case that f2 > 0 holds.
Globally, it is always the case that if c1 >= 4 holds, then a3 < 4 eventually holds and is succeeded by j2 = 0 .
After m0 >= 4, it is always the case that if a0 = 0 holds, then v0 <= 0 eventually holds and is succeeded by t1 > 6, where f0 > 1 does not hold between v0 <= 0 and t1 > 6 .
After n2 < 5 until w0 >= 3, it is always the case that if c0 <= 6 holds, then k0 = 3 eventually holds.
Globally, it is never the case that r0 <= 4 holds.
Between p0 = 1 and u0 <= 0, it is always the case that if r0 = 4 holds, then k2 > 7 eventually holds and is succeeded by z2 <= 5, where h1 = 6 does not hold between k2 > 7 and z2 <= 5 .
Between d0 = 4 and k2 = 3, it is always the case that if s0 <= 6 holds and is succeeded by f0 = 1, then c2 < 6 eventually holds after f0 = 1 .
After c2 <= 4 until z1 <= 7, it is always the case that if d2 >= 3 holds, then s2 = 1 eventually holds.
Between p2 = 7 and o2 <= 2, it is always the case that if k0 = 1 holds and is succeeded by m0 > 2, then g1 < 1 previously held.
Before g1 <= 4, it is always the case that if q2 <= 1 holds, then x2 > 5 eventually holds.
After c0 <= 6, it is never the case that x1 < 2 holds.
Globally, it is always the case that if j2 <= 5 holds, then e2 < 5 eventually holds and is succeeded by u0 >= 2, where n2 <= 2 does not hold between e2 < 5 and u0 >= 2 .
After g1 < 5 until b2 < 0, it is always the case that if h2 > 0 holds, then y0 = 4 previously held and was preceded by a1 < 2 .
After f2 = 1 until d0 <= 0, it is always the case that if u1 < 5 holds, then d1 >= 2 eventually holds.
After y0 < 1 until k1 > 5, it is always the case that if f1 <= 5 holds, then k1 > 5 eventually holds and is succeeded by t2 < 7, where w1 <= 5 does not hold between k1 > 5 and t2 < 7 .
Before z2 = 6, it is always the case that z2 <= 2 holds.
After s0 > 6 until f2 < 2, it is always the case that if o0 = 4 holds and is succeeded by v2 >= 7, then y0 >= 6 previously held.
Globally, it is always the case that if u2 = 2 holds, then i0 < 4 previously held and was preceded by a0 >= 6 .
Between b0 > 6 and e0 < 5, it is never the case that a0 <= 6 holds.
After s2 <= 1 until i1 = 2, k1 <= 2 eventually holds.
Globally, z1 > 5 eventually holds.
Globally, it is always the case that if r1 > 1 holds, then r1 >= 3 previously held.
Between h1 < 3 and i1 <= 4, it is always the case that if w1 >= 3 holds, then z0 = 1 previously held.
After w2 > 3, it is always the case that if n0 = 6 holds, then g2 > 3 eventually holds and is succeeded by l2 < 0, where i1 < 0 does not hold between g2 > 3 and l2 < 0 .
After b2 >= 4, it is always the case that if c2 = 2 holds, then m0 > 2 previously held.
Globally, it is always the case that if e1 = 5 holds and is succeeded by h1 >= 7, then g0 > 0 previously held.
After k0 = 5, it is always the case that if k1 < 5 holds, then g1 > 4 eventually holds and is succeeded by v0 = 5, where q1 <= 7 does not hold between g1 > 4 and v0 = 5 .
Before h1 > 3, it is always the case that if r0 >= 0 holds and is succeeded by g0 >= 1, then h2 = 7 eventually holds after g0 >= 1 .
After h0 > 3, it is always the case that if x1 >= 7 holds, then j0 < 7 previously held and was preceded by m1 = 1 .
After l2 > 3 until i2 <= 6, it is always the case that if v1 < 3 holds, then h2 <= 4 eventually holds and is succeeded by c0 <= 3, where l0 <= 2 does not hold between h2 <= 4 and c0 <= 3 .
Globally, it is always the case that if x2 = 3 holds, then f1 <= 3 eventually holds and is succeeded by v2 < 6, where c0 >= 2 does not hold between f1 <= 3 and v2 < 6 .
Before z2 > 0, it is never the case that s2 >= 6 holds.
Globally, it is always the case that if f2 >= 3 holds, then h1 >= 3 eventually holds.
After y1 < 7 until c1 > 4, it is always the case that if j0 > 1 holds, then k0 = 6 eventually holds.
Globally, it is always the case that if h2 < 7 holds and is succeeded by c2 >= 7, then c1 < 7 previously held.
After z0 >= 1, it is always the case that if t2 = 0 holds and is succeeded by h2 < 0, then f1 = 2 previously held.
Between z1 <= 7 and v1 < 1, it is always the case that o0 > 7 holds.
After u0 > 2, a3 = 7 eventually holds.
Before j1 <= 1, it is always the case that if d0 < 2 holds, then q1 <= 3 eventually holds.
Globally, it is always the case that if q0 > 0 holds, then e2 < 5 previously held.
Globally, it is always the case that if y2 > 0 holds, then h1 = 1 eventually holds and is succeeded by o0 <= 4 .
Before b2 = 5, it is always the case that if d2 <= 6 holds and is succeeded by e2 = 4, then k1 = 4 eventually holds after e2 = 4 .
Before c2 <= 7, it is always the case that if w2 > 7 holds, then r1 = 4 eventually holds.
After b1 <= 5 until h0 < 6, it is always the case that if n2 <= 4 holds, then a1 >= 4 eventually holds.
Between u2 <= 0 and v0 <= 1, it is always the case that if v0 = 2 holds, then v0 >= 6 previously held.
After q2 = 1, it is always the case that if m1 = 5 holds and is succeeded by g2 = 2, then b2 < 0 previously held.
After p1 <= 3, it is always the case that if p2 = 1 holds, then l0 <= 7 previously held and was preceded by f0 < 7 .
Between x2 <= 0 and g0 = 3, it is always the case that if d2 >= 6 holds, then f2 < 4 eventually holds.
After a2 > 7 until v1 >= 5, it is never the case that w1 = 6 holds.
Before c1 = 1, it is always the case that if h1 >= 7 holds and is succeeded by g2 <= 2, then y0 <= 3 eventually holds after g2 <= 2 .
Globally, it is always the case that if x1 = 7 holds, then g0 > 2 previously held and was preceded by l0 >= 2 .
Before g0 >= 2, it is always the case that e1 <= 1 holds.
Globally, it is always the case that if g1 >= 2 holds, then a2 >= 2 eventually holds and is succeeded by p2 > 7 .
After d0 = 3, it is never the case that h1 > 3 holds.
After b1 = 3, n1 < 4 eventually holds.
Globally, it is always the case that if k0 > 4 holds, then v0 < 7 eventually holds and is succeeded by v2 < 4 .
Between y2 > 6 and m0 >= 0, it is always the case that if d0 >= 3 holds and is succeeded by i0 > 1, then g0 = 5 eventually holds after i0 > 1 .
After e2 >= 6 until u2 < 5, it is always the case that v1 <= 0 holds.
After f1 <= 4 until k0 <= 6, it is always the case that if v1 > 4 holds, then c0 < 1 previously held and was preceded by j0 > 7 .
Globally, it is always the case that if f1 <= 4 holds, then r2 < 0 previously held.
Between x2 <= 7 and p1 <= 1, it is always the case that if a1 < 4 holds and is succeeded by d0 >= 3, then w0 > 2 eventually holds after d0 >= 3 .
Between p0 <= 0 and t0 > 6, it is always the case that if r0 <= 2 holds and is succeeded by a2 > 4, then a0 < 3 previously held.
After g2 = 5 until u1 >= 3, it is always the case that if x1 >= 6 holds, then i2 >= 0 eventually holds and is succeeded by t1 <= 2 .
Globally, it is always the case that if z1 < 6 holds, then u2 >= 6 eventually holds.
Globally, it is always the case that if j2 >= 3 holds, then q1 < 3 previously held and was preceded by z0 < 2 .
After u2 > 6 until a2 <= 1, it is always the case that if o1 >= 2 holds, then m2 >= 0 previously held.
Globally, it is always the case that if s2 < 2 holds, then a1 <= 0 eventually holds and is succeeded by y0 >= 2, where n1 <= 2 does not hold between a1 <= 0 and y0 >= 2 .
After m0 > 4 until m0 <= 2, it is always the case that if c1 < 3 holds and is succeeded by w1 >= 5, then u1 < 4 previously held.
Globally, it is always the case that if e0 <= 2 holds, then a1 >= 2 previously held and was preceded by n1 <= 7 .
After v2 < 1 until l1 = 1, it is always the case that z1 <= 1 holds.
After h0 <= 0, i0 >= 1 eventually holds.
Globally, it is always the case that j0 < 7 holds.
After i0 = 5 until o1 > 0, it is always the case that if e0 > 2 holds, then i2 < 6 previously held and was preceded by e0 > 3 .
After v2 > 5 until w1 < 7, it is always the case that if t1 >= 6 holds, then r2 < 4 eventually holds and is succeeded by b2 > 3 .
After s2 >= 6 until q2 >= 3, it is always the case that if v1 > 0 holds, then q0 < 5 eventually holds and is succeeded by y2 > 5, where q0 < 4 does not hold between q0 < 5 and y2 > 5 .
After c1 > 1 until s2 = 5, it is always the case that if s1 >= 4 holds, then x1 >= 0 previously held and was preceded by h0 <= 1 .
After l2 > 0 until o0 = 3, it is always the case that if j2 < 1 holds, then b2 = 2 eventually holds and is succeeded by r1 < 7, where e1 < 7 does not hold between b2 = 2 and r1 < 7 .
Between s0 <= 2 and n0 >= 4, it is always the case that if e2 < 6 holds, then f0 = 5 eventually holds.
Globally, it is always the case that if p0 <= 7 holds, then z2 >= 1 previously held and was preceded by e2 > 4 .
After z0 <= 1 until e2 < 4, it is always the case that if o1 > 4 holds and is succeeded by o2 <= 2, then w2 > 5 eventually holds after o2 <= 2 .
Globally, it is always the case that if b0 > 2 holds and is succeeded by k2 >= 1, then o1 > 6 eventually holds after k2 >= 1 .
Before g0 = 7, it is always the case that if y0 >= 0 holds and is succeeded by f0 <= 6, then d0 >= 0 eventually holds after f0 <= 6 .
Globally, it is always the case that if c1 < 2 holds, then k2 > 2 previously held and was preceded by c1 <= 1 .
After c0 >= 0, it is always the case that if a3 > 2 holds, then v1 <= 7 previously held and was preceded by b1 <= 1 .
After e1 > 3 until j2 > 3, it is always the case that if g1 >= 6 holds, then j1 > 4 previously held and was preceded by a1 <= 2 .
Before i2 >= 7, it is always the case that if n1 = 2 holds, then k0 > 4 eventually holds and is succeeded by q1 <= 0 .
Globally, it is always the case that g2 >= 3 holds.
After n2 = 4, it is always the case that g2 <= 0 holds.
Before l0 >= 3, it is always the case that if f0 >= 0 holds, then y1 = 2 eventually holds and is succeeded by q0 >= 0, where n0 >= 6 does not hold between y1 = 2 and q0 >= 0 .
After b0 > 0, it is always the case that if y0 <= 4 holds and is succeeded by a2 < 7, then h1 <= 3 eventually holds after a2 < 7 .
Before n0 >= 1, it is never the case that k2 < 2 holds.
After m0 < 2, it is always the case that if a3 > 7 holds, then j1 <= 1 eventually holds and is succeeded by u2 > 5 .
After o1 > 5 until n2 >= 3, it is never the case that f2 = 6 holds.
After w0 = 7, it is always the case that if c1 <= 1 holds and is succeeded by i1 <= 0, then h0 >= 5 previously held.
Before g0 = 6, it is always the case that g0 > 0 holds.
Between q1 = 2 and t2 < 4, it is always the case that if p0 > 7 holds, then z2 <= 3 eventually holds.
Globally, it is never the case that u2 < 5 holds.
Before f1 = 1, it is always the case that if o1 <= 1 holds, then e0 >= 7 eventually holds.
After s1 = 3 until e1 >= 7, it is always the case that if a3 = 7 holds and is succeeded by y2 >= 4, then f0 <= 3 eventually holds after y2 >= 4 .
Between v2 < 6 and o2 <= 5, it is always the case that if u2 = 7 holds, then x2 > 5 previously held and was preceded by z1 > 0 .
Before d2 < 5, it is always the case that d1 = 5 holds.
After v0 > 1, it is always the case that if a2 <= 0 holds, then s1 > 5 eventually holds and is succeeded by e2 <= 7, where e2 >= 3 does not hold between s1 > 5 and e2 <= 7 .
After u0 < 5, it is always the case that if v0 >= 7 holds, then p1 <= 7 eventually holds and is succeeded by n1 > 5 .
After p1 <= 3 until m1 < 5, it is never the case that g2 < 6 holds.
Before k0 >= 6, it is always the case that if v1 <= 6 holds, then j1 < 0 eventually holds and is succeeded by s1 <= 5, where u2 > 4 does not hold between j1 < 0 and s1 <= 5 .
Between g2 > 4 and a1 > 0, it is always the case that if a3 >= 3 holds, then e2 >= 2 eventually holds and is succeeded by x2 = 4 .
Between v2 = 3 and x0 = 0, it is always the case that if f1 >= 0 holds and is succeeded by o1 <= 4, then y1 >= 6 eventually holds after o1 <= 4 .
After g0 >= 0, it is always the case that if u0 <= 2 holds, then t0 > 0 eventually holds and is succeeded by d0 <= 3 .
Between v2 = 0 and n2 < 6, it is always the case that if w1 = 1 holds, then m1 >= 2 eventually holds and is succeeded by b1 = 7, where a0 > 5 does not hold between m1 >= 2 and b1 = 7 .
Globally, it is always the case that b2 <= 7 holds.
Globally, it is never the case that g0 < 1 holds.
