Between d3 <= 12 and j1 > 13, it is always the case that if t3 >= 5 holds, then y0 = 10 previously held and was preceded by z5 = 23 .
Globally, it is always the case that a1 >= 20 holds.
After a4 >= 27 until y2 = 20, it is always the case that if j3 <= 16 holds, then i2 < 19 eventually holds and is succeeded by k3 = 13 .
After y4 < 2 until y2 < 31, it is always the case that if f0 < 11 holds and is succeeded by m0 > 31, then z4 = 30 previously held.
Between d4 <= 13 and y1 < 22, h1 >= 0 eventually holds.
After g1 > 31 until r1 <= 18, it is always the case that if y1 = 4 holds, then s5 < 0 eventually holds and is succeeded by x4 = 1, where h3 >= 24 does not hold between s5 < 0 and x4 = 1 .
Globally, it is always the case that if b2 <= 23 holds, then y2 < 22 eventually holds.
After g1 >= 2 until t0 = 29, it is always the case that if s4 <= 25 holds and is succeeded by x4 > 1, then h0 >= 29 eventually holds after x4 > 1 .
Between b0 = 10 and z2 = 9, it is always the case that i2 > 28 holds.
Between e0 = 24 and v1 = 15, it is always the case that u1 >= 5 holds.
Globally, it is always the case that if q1 <= 16 holds, then q3 = 2 previously held and was preceded by d1 <= 12 .
After w0 > 29, it is always the case that if g5 > 27 holds and is succeeded by p4 >= 5, then l5 < 26 previously held.
Globally, it is always the case that if c5 < 5 holds, then k3 < 16 eventually holds and is succeeded by z5 > 14, where i0 <= 19 does not hold between k3 < 16 and z5 > 14 .
After n4 < 3 until v5 > 17, it is always the case that if d0 < 0 holds, then b6 < 19 previously held and was preceded by n2 >= 15 .
After b0 = 24 until u2 = 15, it is always the case that if s0 > 30 holds, then c1 <= 21 previously held.
After y2 <= 31 until u0 < 24, it is always the case that if r2 < 11 holds, then g2 > 26 previously held and was preceded by j2 = 23 .
Before h1 < 17, it is always the case that if t2 >= 12 holds, then b4 = 2 eventually holds and is succeeded by s1 > 26 .
Globally, it is always the case that if s4 > 6 holds, then z5 > 17 eventually holds.
Between u1 = 20 and j3 = 19, it is always the case that o3 > 18 holds.
After q4 < 13 until a2 < 17, it is never the case that r4 > 18 holds.
After d4 < 4, it is always the case that if c6 >= 15 holds, then d3 < 1 eventually holds and is succeeded by d1 < 6, where i3 <= 4 does not hold between d3 < 1 and d1 < 6 .
Between o0 <= 16 and a3 < 1, it is always the case that if m4 < 29 holds and is succeeded by g4 = 1, then l3 >= 25 previously held.
Between k2 <= 29 and s2 < 0, l4 >= 22 eventually holds.
After d5 <= 12, it is always the case that if h4 <= 23 holds, then a0 = 9 eventually holds and is succeeded by v0 > 1 .
After d4 = 19, it is always the case that if c6 >= 7 holds, then f1 > 6 eventually holds and is succeeded by e0 <= 21, where r0 <= 0 does not hold between f1 > 6 and e0 <= 21 .
After v3 <= 14, it is always the case that n4 > 3 holds.
After b2 >= 8 until d3 <= 16, it is never the case that k3 >= 5 holds.
Before l1 = 9, it is always the case that r4 >= 25 holds.
Before p1 < 14, it is always the case that if e5 <= 1 holds, then h2 <= 27 eventually holds and is succeeded by k3 >= 10 .
After j2 >= 21, it is always the case that if z4 > 12 holds, then s2 = 26 previously held.
Globally, it is always the case that x2 > 17 holds.
After o4 < 19 until k1 > 0, it is always the case that if f2 > 31 holds, then v2 > 15 previously held and was preceded by a6 > 0 .
Between y0 > 15 and t4 <= 2, it is always the case that if w2 > 25 holds, then g5 >= 29 previously held.
Before w3 > 21, it is always the case that if i0 = 16 holds, then u4 <= 12 eventually holds and is succeeded by v5 < 20 .
Globally, it is always the case that if u0 <= 0 holds and is succeeded by i5 < 12, then i5 > 2 eventually holds after i5 < 12 .
Between o4 > 18 and o1 <= 28, it is always the case that if s1 > 17 holds and is succeeded by y2 <= 5, then b0 >= 4 previously held.
Between n4 = 28 and t1 > 5, it is always the case that if w5 < 21 holds and is succeeded by d1 <= 11, then v1 < 23 previously held.
Globally, it is always the case that if v0 < 21 holds and is succeeded by o2 = 0, then e3 > 19 previously held.
After q3 = 3, it is always the case that if s2 > 26 holds, then o3 < 21 previously held.
Globally, it is always the case that if t1 < 8 holds, then n2 < 12 eventually holds.
After i1 < 22, it is always the case that if o1 >= 6 holds, then s5 > 6 previously held.
Before j0 > 10, it is always the case that if j4 < 7 holds, then b5 = 23 eventually holds and is succeeded by o0 > 29, where u3 < 21 does not hold between b5 = 23 and o0 > 29 .
After l4 < 16 until e0 = 4, it is always the case that if o2 = 6 holds, then z2 >= 30 previously held and was preceded by u5 < 23 .
After t4 < 28 until v1 = 15, it is always the case that if p2 <= 9 holds and is succeeded by g4 < 11, then k0 <= 20 eventually holds after g4 < 11 .
Before d0 <= 25, it is always the case that m3 > 4 holds.
Before z1 <= 1, it is always the case that if a2 >= 22 holds, then k4 < 22 eventually holds and is succeeded by t0 > 9 .
Before b4 > 23, it is always the case that if d4 < 7 holds, then z1 = 13 eventually holds and is succeeded by h5 > 15, where v4 > 12 does not hold between z1 = 13 and h5 > 15 .
Globally, it is never the case that j0 = 15 holds.
After r3 > 30, it is always the case that w0 > 7 holds.
After q3 = 13, q0 >= 31 eventually holds.
After u1 > 1, it is never the case that w1 > 20 holds.
Globally, it is never the case that i1 <= 6 holds.
Between k3 >= 5 and i5 >= 17, it is always the case that if u3 >= 28 holds, then l0 <= 3 eventually holds and is succeeded by v5 > 25, where y0 <= 7 does not hold between l0 <= 3 and v5 > 25 .
Between z3 > 29 and x2 < 28, j3 = 18 eventually holds.
After l3 < 28, it is always the case that if o0 < 30 holds and is succeeded by t1 >= 1, then q1 = 21 eventually holds after t1 >= 1 .
Globally, it is always the case that if n3 >= 29 holds, then k3 >= 13 previously held and was preceded by h3 <= 0 .
After m1 = 8, it is always the case that if f4 < 16 holds, then e2 >= 19 eventually holds and is succeeded by f5 <= 29, where d5 < 11 does not hold between e2 >= 19 and f5 <= 29 .
Globally, it is always the case that if r5 < 1 holds, then e2 > 30 eventually holds and is succeeded by l4 > 17 .
After n0 < 30 until i3 >= 23, it is always the case that if c3 = 16 holds, then r5 < 13 previously held.
After a1 > 0, it is always the case that if c3 < 4 holds, then w2 < 26 eventually holds and is succeeded by w5 <= 11 .
After t2 >= 3 until v5 < 28, q0 <= 15 eventually holds.
Globally, it is always the case that if b5 >= 8 holds, then r4 > 4 eventually holds and is succeeded by j5 >= 16 .
After x3 <= 12, it is always the case that if l2 <= 7 holds, then b3 <= 6 eventually holds and is succeeded by b3 < 17, where r3 <= 8 does not hold between b3 <= 6 and b3 < 17 .
After f1 < 5, it is always the case that p2 >= 17 holds.
After r4 <= 0 until i3 <= 29, it is never the case that p4 >= 8 holds.
Between o3 >= 18 and m0 < 13, it is always the case that if s2 < 14 holds, then q1 <= 22 previously held and was preceded by w1 > 25 .
Between r1 > 6 and t5 >= 27, it is never the case that s5 = 12 holds.
After a1 < 27 until o0 < 2, it is always the case that if o5 < 29 holds, then o5 <= 30 eventually holds and is succeeded by b2 <= 9 .
Before q4 >= 22, it is always the case that if i0 <= 14 holds, then i2 > 18 eventually holds and is succeeded by b4 <= 3 .
Between m0 > 20 and b6 <= 15, it is always the case that if v0 = 2 holds, then o3 < 28 previously held and was preceded by k0 > 29 .
Globally, it is always the case that if g3 = 12 holds, then k1 < 20 eventually holds and is succeeded by d0 = 29, where k5 <= 14 does not hold between k1 < 20 and d0 = 29 .
Before a2 <= 1, it is always the case that if f5 >= 0 holds and is succeeded by j2 >= 0, then p5 > 31 previously held.
Between p3 <= 8 and i0 >= 23, it is always the case that if i0 >= 10 holds, then a0 <= 31 eventually holds.
After e1 < 18 until b0 > 26, it is always the case that l0 > 26 holds.
After i1 > 23, it is always the case that if j0 = 10 holds, then a2 < 18 eventually holds and is succeeded by u4 < 25, where i1 < 31 does not hold between a2 < 18 and u4 < 25 .
After w5 > 13 until l1 > 21, it is always the case that c2 <= 10 holds.
Before j1 >= 6, f5 = 25 eventually holds.
Globally, it is always the case that z5 = 4 holds.
Between c5 >= 0 and z3 = 19, it is always the case that if f2 >= 12 holds, then i0 > 22 eventually holds and is succeeded by x4 >= 8, where w5 < 22 does not hold between i0 > 22 and x4 >= 8 .
Before r3 > 12, it is always the case that if n0 < 5 holds, then b0 <= 11 eventually holds and is succeeded by o2 = 11 .
Globally, p4 = 23 eventually holds.
Between c4 >= 24 and r4 > 6, it is always the case that f1 >= 31 holds.
Globally, c1 < 3 eventually holds.
Globally, it is always the case that if t5 >= 23 holds, then p4 > 2 eventually holds and is succeeded by a5 < 1 .
Before m2 < 15, it is always the case that l5 >= 16 holds.
Between t2 > 16 and b6 <= 27, it is always the case that if o5 > 13 holds, then v3 <= 2 previously held and was preceded by o1 <= 22 .
After a2 = 20 until x1 <= 12, it is always the case that if d1 = 21 holds, then f3 <= 12 eventually holds and is succeeded by b3 > 13 .
Between y5 >= 25 and y5 >= 20, it is always the case that if z0 <= 15 holds, then j2 < 31 eventually holds and is succeeded by l4 = 17, where p1 < 11 does not hold between j2 < 31 and l4 = 17 .
Globally, it is never the case that a1 = 21 holds.
After p3 = 5 until s1 = 21, it is always the case that if o3 <= 0 holds and is succeeded by b0 = 9, then w3 <= 22 eventually holds after b0 = 9 .
Globally, it is always the case that if v0 = 18 holds and is succeeded by e2 < 29, then m2 > 17 eventually holds after e2 < 29 .
Between c5 <= 5 and h3 = 28, it is always the case that if z4 < 15 holds, then s2 < 8 eventually holds.
Between q4 <= 2 and n3 < 14, it is always the case that if m1 < 23 holds, then m2 < 6 eventually holds and is succeeded by n4 > 28, where a0 = 0 does not hold between m2 < 6 and n4 > 28 .
After l2 >= 27, it is never the case that x5 > 10 holds.
After d0 < 2, it is always the case that if d5 <= 14 holds and is succeeded by n4 < 11, then t2 < 26 eventually holds after n4 < 11 .
Before t3 <= 16, a1 = 16 eventually holds.
Between h0 = 25 and n0 >= 1, it is always the case that if k0 > 19 holds and is succeeded by y0 < 5, then m1 = 25 eventually holds after y0 < 5 .
After h0 > 4, it is never the case that n4 >= 29 holds.
Between h4 < 24 and o1 >= 12, it is always the case that if d5 < 23 holds, then d2 >= 14 previously held and was preceded by l1 < 1 .
After w5 < 13 until q5 <= 14, it is always the case that if i3 = 0 holds and is succeeded by m2 = 12, then d2 <= 20 previously held.
After v1 <= 5, it is always the case that if k1 >= 12 holds, then c4 > 8 eventually holds.
After h5 >= 6 until c0 < 19, it is always the case that o2 >= 18 holds.
After q5 = 7 until o2 < 26, it is always the case that b4 >= 8 holds.
Before e0 = 15, it is always the case that if s5 <= 12 holds, then x3 > 9 eventually holds and is succeeded by v1 >= 17, where j2 = 29 does not hold between x3 > 9 and v1 >= 17 .
Globally, it is always the case that if c3 <= 13 holds, then o1 = 24 eventually holds and is succeeded by r0 < 1 .
Globally, it is always the case that if a2 = 16 holds, then g2 < 12 eventually holds.
After t5 < 26, it is always the case that if u4 <= 6 holds and is succeeded by b5 >= 19, then h1 > 18 eventually holds after b5 >= 19 .
Globally, it is always the case that if h5 > 13 holds, then s3 < 25 previously held.
After s1 >= 12 until w2 >= 3, it is always the case that if p0 = 8 holds, then y4 = 2 previously held and was preceded by z1 = 8 .
Between m2 <= 23 and x0 = 20, it is always the case that if u5 > 8 holds, then l5 > 26 previously held and was preceded by j3 > 16 .
After h4 <= 24 until e1 <= 8, it is always the case that if r1 >= 26 holds, then j0 = 21 previously held and was preceded by a0 > 20 .
Globally, it is always the case that if i4 > 25 holds, then c6 >= 10 previously held and was preceded by w4 < 3 .
After x5 <= 21 until k4 = 22, it is never the case that e4 >= 11 holds.
After g5 < 25, it is always the case that if b5 >= 6 holds, then a2 > 20 previously held.
After h1 > 26 until m3 <= 4, l1 <= 16 eventually holds.
Before m0 >= 2, it is always the case that if m4 <= 10 holds, then c5 = 18 previously held.
Before l5 > 18, d0 <= 0 eventually holds.
After u2 >= 3 until f1 <= 8, it is always the case that s1 < 25 holds.
Between z0 >= 7 and u2 < 2, it is always the case that if s5 > 25 holds and is succeeded by q4 = 1, then s4 >= 21 previously held.
After b0 = 30, it is always the case that v5 < 31 holds.
After r3 <= 20, it is always the case that if u1 > 4 holds, then g3 >= 9 eventually holds.
Globally, it is always the case that if q4 < 8 holds, then m3 >= 11 eventually holds and is succeeded by v0 = 4, where v4 <= 14 does not hold between m3 >= 11 and v0 = 4 .
Before a4 = 2, v3 = 19 eventually holds.
Between u2 > 28 and r3 >= 11, it is always the case that if s5 > 30 holds, then b1 >= 9 eventually holds and is succeeded by w2 > 22 .
Globally, it is always the case that if z0 >= 7 holds, then y4 >= 26 previously held.
After e3 < 5 until g2 <= 1, it is always the case that a2 <= 3 holds.
Before f3 >= 2, u2 < 29 eventually holds.
After m4 > 16, it is always the case that if e1 = 17 holds, then l5 <= 1 eventually holds and is succeeded by b5 > 27 .
Globally, it is always the case that if n2 = 31 holds, then e0 > 19 eventually holds and is succeeded by e5 >= 0 .
After i5 <= 10, it is always the case that if z3 < 11 holds, then x3 < 20 eventually holds and is succeeded by t4 <= 3 .
Before x4 >= 8, t1 > 23 eventually holds.
Globally, it is always the case that if t2 > 23 holds, then t4 < 8 previously held.
Between k4 = 27 and b4 < 8, it is always the case that if p2 >= 7 holds, then c4 = 31 eventually holds and is succeeded by i2 <= 25, where k5 >= 15 does not hold between c4 = 31 and i2 <= 25 .
Between p5 = 24 and v2 > 2, it is always the case that p0 > 15 holds.
Globally, it is always the case that if m0 < 11 holds, then u5 <= 8 previously held.
After f1 > 23 until c6 >= 25, it is never the case that p0 > 9 holds.
After o1 >= 3, it is always the case that n5 >= 7 holds.
Globally, it is always the case that if z2 <= 20 holds, then d0 = 31 previously held and was preceded by i1 < 22 .
Before e4 >= 25, it is always the case that if b2 >= 25 holds and is succeeded by o0 = 26, then t1 >= 13 previously held.
Before x3 < 4, it is always the case that if b6 = 12 holds, then l3 = 5 eventually holds.
Before u0 < 6, it is never the case that a4 > 18 holds.
Between m3 < 2 and h5 < 3, it is always the case that if b5 = 3 holds and is succeeded by v4 > 7, then a1 < 28 eventually holds after v4 > 7 .
Globally, it is always the case that l3 >= 2 holds.
After z4 <= 23, it is always the case that m2 = 2 holds.
Before l4 > 0, it is always the case that if y0 > 0 holds and is succeeded by g2 < 30, then a2 < 4 previously held.
Globally, it is always the case that if a1 >= 19 holds, then n5 >= 21 eventually holds.
After v1 <= 1 until m0 <= 19, it is always the case that if l2 = 1 holds, then v4 > 6 eventually holds.
After s2 <= 31 until g0 < 26, it is always the case that y2 <= 5 holds.
After t3 > 11, o3 >= 28 eventually holds.
Globally, it is always the case that if p0 < 0 holds, then c4 <= 23 eventually holds.
Globally, it is always the case that if o2 = 13 holds, then u4 >= 9 eventually holds.
After z2 < 5 until t2 <= 7, it is always the case that if b1 < 22 holds, then t2 <= 1 eventually holds and is succeeded by c4 <= 28 .
Between a5 = 25 and w3 = 23, it is always the case that if e1 <= 29 holds, then t4 = 31 eventually holds and is succeeded by c0 > 4 .
After c4 < 16 until b3 < 6, it is always the case that if p0 < 26 holds and is succeeded by y1 = 27, then u1 > 26 eventually holds after y1 = 27 .
Before l5 >= 12, it is never the case that s3 < 2 holds.
Globally, it is always the case that if c2 > 15 holds, then e5 <= 20 previously held and was preceded by c2 = 9 .
After i4 < 17, it is always the case that if n3 >= 24 holds, then d3 = 20 eventually holds and is succeeded by s1 > 9, where u1 = 20 does not hold between d3 = 20 and s1 > 9 .
After n4 >= 5 until a0 > 19, it is always the case that if r1 >= 3 holds, then d4 <= 3 previously held and was preceded by b4 >= 24 .
Globally, it is never the case that y2 < 14 holds.
After a5 <= 26 until w1 > 23, it is always the case that if u4 <= 24 holds and is succeeded by a5 < 12, then u1 <= 18 previously held.
Before h3 > 16, it is never the case that b5 = 14 holds.
Globally, it is always the case that if p5 = 0 holds and is succeeded by n1 <= 21, then q2 >= 5 eventually holds after n1 <= 21 .
Globally, it is always the case that if g3 >= 16 holds, then k2 < 15 eventually holds and is succeeded by f3 >= 14, where v1 = 12 does not hold between k2 < 15 and f3 >= 14 .
After l3 <= 26 until e5 <= 10, it is always the case that o0 > 27 holds.
Between e0 = 2 and y1 > 13, it is always the case that if a2 <= 13 holds and is succeeded by x5 < 22, then f5 = 16 previously held.
After b4 >= 24, it is always the case that if k3 >= 26 holds and is succeeded by d2 > 5, then n5 <= 28 eventually holds after d2 > 5 .
Globally, d1 > 29 eventually holds.
Globally, it is always the case that c0 >= 23 holds.
Globally, it is always the case that if j3 >= 0 holds, then u2 = 21 eventually holds and is succeeded by h1 > 31 .
After m1 = 16 until j1 < 26, h5 <= 19 eventually holds.
After w2 > 12 until t3 > 10, it is always the case that if y1 <= 23 holds, then g4 >= 28 eventually holds and is succeeded by k2 > 23, where l3 >= 29 does not hold between g4 >= 28 and k2 > 23 .
Globally, it is always the case that if z2 <= 29 holds, then f0 < 10 previously held.
Between i5 = 23 and u3 >= 1, it is always the case that if h3 >= 0 holds, then w5 > 12 previously held.
Before c0 < 0, s1 <= 13 eventually holds.
Before j3 = 10, it is always the case that t3 > 6 holds.
Between g3 >= 28 and b4 <= 13, it is always the case that if p5 >= 19 holds and is succeeded by x2 <= 31, then z1 <= 27 previously held.
Globally, it is never the case that a5 <= 27 holds.
After q2 = 20, m4 < 27 eventually holds.
Between h0 = 16 and i2 <= 20, it is always the case that e5 <= 15 holds.
Between r2 >= 24 and f5 >= 30, it is always the case that if r0 >= 19 holds, then q1 < 9 eventually holds and is succeeded by a2 > 5 .
Before k4 < 12, it is always the case that if y1 < 25 holds, then u5 < 0 previously held and was preceded by s1 < 23 .
After n0 >= 26, it is always the case that f2 < 2 holds.
After n5 >= 1 until b0 > 15, it is always the case that if u1 < 8 holds, then n1 <= 13 eventually holds.
Between z2 = 27 and x2 > 17, o5 > 11 eventually holds.
Before n4 > 14, it is always the case that if i4 > 9 holds and is succeeded by q3 >= 31, then u4 >= 0 eventually holds after q3 >= 31 .
After m4 >= 19 until t0 < 16, it is always the case that if r3 <= 4 holds and is succeeded by r2 < 11, then m3 < 22 previously held.
Between w1 <= 27 and r3 <= 0, it is always the case that d4 >= 5 holds.
Before z2 <= 8, it is always the case that if f5 > 19 holds, then d0 <= 16 previously held.
Before u3 < 6, it is always the case that if r5 > 5 holds, then h3 > 7 previously held and was preceded by z5 > 19 .
Between s2 <= 25 and k5 = 20, it is always the case that if h4 < 23 holds, then m5 = 7 eventually holds and is succeeded by l5 = 11 .
After p0 >= 4 until x0 < 20, a4 > 10 eventually holds.
After x1 = 21 until o4 > 22, it is always the case that if s5 = 16 holds, then x2 <= 26 previously held and was preceded by q0 < 23 .
Globally, it is always the case that if s1 < 7 holds, then s4 < 22 previously held and was preceded by q0 >= 3 .
Globally, it is always the case that if f4 > 28 holds and is succeeded by a3 >= 16, then l2 = 22 previously held.
After j0 = 1 until k4 = 27, it is always the case that if d4 > 8 holds, then n5 <= 0 eventually holds and is succeeded by l0 = 27, where a2 <= 23 does not hold between n5 <= 0 and l0 = 27 .
After h3 = 6, it is always the case that if h0 >= 31 holds, then v0 <= 23 eventually holds.
After x5 <= 27 until k4 < 24, it is never the case that i0 >= 21 holds.
After c0 <= 6 until w4 >= 4, it is always the case that if t3 < 6 holds, then b5 < 13 previously held and was preceded by u1 < 25 .
Between l2 < 24 and e0 < 21, it is always the case that if i2 >= 20 holds, then c4 >= 4 eventually holds and is succeeded by d2 = 1, where h5 = 2 does not hold between c4 >= 4 and d2 = 1 .
Before b4 > 25, it is always the case that if f0 <= 30 holds, then l3 = 26 previously held.
Before t1 = 24, it is always the case that if u4 > 24 holds and is succeeded by o0 >= 31, then r2 < 29 previously held.
Before v3 > 20, it is never the case that g2 <= 12 holds.
Globally, it is always the case that if t1 = 6 holds, then g2 >= 19 eventually holds and is succeeded by o3 > 5, where b2 < 28 does not hold between g2 >= 19 and o3 > 5 .
Globally, it is always the case that if l0 = 28 holds, then e2 >= 24 eventually holds and is succeeded by v3 < 31, where p1 <= 20 does not hold between e2 >= 24 and v3 < 31 .
After d3 >= 12, k2 > 12 eventually holds.
Between x2 <= 23 and c3 > 21, it is always the case that if d3 < 1 holds, then q0 > 30 eventually holds.
After k4 = 7, it is always the case that if d5 >= 29 holds, then b2 <= 13 eventually holds and is succeeded by i1 <= 20, where k1 = 26 does not hold between b2 <= 13 and i1 <= 20 .
After e1 > 14 until w4 <= 15, it is always the case that if t5 > 8 holds, then o5 < 15 eventually holds and is succeeded by n3 < 20 .
After p2 < 10 until h1 >= 13, it is always the case that if j2 = 5 holds and is succeeded by c6 >= 5, then a6 < 8 previously held.
After b6 >= 11 until m2 < 25, it is always the case that if e3 <= 10 holds, then h3 > 24 eventually holds and is succeeded by g4 = 3, where f4 < 31 does not hold between h3 > 24 and g4 = 3 .
Globally, it is always the case that b3 = 5 holds.
Globally, it is always the case that if f5 > 0 holds and is succeeded by u2 = 11, then e3 < 20 eventually holds after u2 = 11 .
After m3 > 9 until f3 = 26, it is always the case that if a0 < 28 holds, then a2 = 6 previously held.
Before c0 <= 6, it is always the case that if z5 > 15 holds and is succeeded by u1 > 30, then m0 >= 18 eventually holds after u1 > 30 .
Between q1 >= 6 and b2 < 29, it is never the case that j5 >= 16 holds.
After i4 <= 25, it is always the case that a1 = 13 holds.
Before x0 > 4, it is always the case that if j5 <= 21 holds, then a1 <= 11 previously held.
Between b2 > 14 and u0 > 26, it is always the case that if x2 < 8 holds and is succeeded by t2 >= 5, then x1 < 14 previously held.
Between b4 = 5 and f5 >= 2, it is always the case that if h1 <= 12 holds, then v5 > 10 previously held.
Globally, it is always the case that if i5 <= 5 holds, then b2 > 2 previously held.
Globally, it is always the case that if f5 > 29 holds, then v5 < 25 previously held and was preceded by g5 > 10 .
After f1 > 19, it is always the case that if z5 = 3 holds, then i1 >= 6 eventually holds.
Between s2 <= 1 and s1 <= 18, it is always the case that if t1 = 2 holds, then o4 = 17 eventually holds and is succeeded by s0 <= 18, where q3 < 30 does not hold between o4 = 17 and s0 <= 18 .
Before f0 >= 16, it is always the case that if x2 <= 27 holds and is succeeded by w1 < 3, then c6 = 8 previously held.
Before j0 > 3, it is always the case that if h1 > 11 holds and is succeeded by z2 = 28, then x3 = 26 previously held.
After p2 <= 29, it is always the case that f0 = 7 holds.
Globally, it is always the case that if f5 >= 2 holds, then y2 > 5 eventually holds and is succeeded by d5 <= 2, where y2 > 19 does not hold between y2 > 5 and d5 <= 2 .
Between z2 = 14 and h4 >= 12, it is never the case that n2 > 18 holds.
Globally, it is always the case that p1 <= 9 holds.
After w3 = 14 until t3 < 21, it is always the case that if p4 < 6 holds, then t4 > 30 previously held.
Globally, it is always the case that if n3 < 13 holds, then l4 = 9 eventually holds and is succeeded by d4 < 12, where i0 <= 30 does not hold between l4 = 9 and d4 < 12 .
Globally, it is always the case that if p2 = 16 holds, then h0 < 15 eventually holds.
Between g3 <= 9 and r2 <= 31, it is always the case that if k1 < 3 holds, then q3 <= 1 previously held and was preceded by n2 < 26 .
Globally, it is always the case that if s2 >= 0 holds, then c1 < 12 eventually holds and is succeeded by m2 >= 27 .
After b4 = 31, it is never the case that z0 > 25 holds.
After k2 <= 24, it is always the case that if u1 > 13 holds, then k1 < 31 previously held and was preceded by q5 < 8 .
Between f0 >= 6 and i4 >= 3, it is always the case that if r2 > 7 holds, then s4 < 23 previously held and was preceded by d3 >= 24 .
Globally, it is always the case that if r0 = 15 holds and is succeeded by a3 = 9, then w5 < 9 previously held.
Before e5 < 5, it is always the case that if x5 <= 26 holds, then b4 < 9 previously held.
Globally, it is always the case that if j0 = 20 holds, then i0 <= 18 eventually holds and is succeeded by b6 = 26, where n3 < 17 does not hold between i0 <= 18 and b6 = 26 .
