After k0 < 7, it is always the case that if l0 <= 0 holds, then b0 <= 0 eventually holds.
After a0 > 2 until g0 = 7, it is always the case that if l0 > 7 holds and is succeeded by c0 = 4, then p0 > 5 previously held.
Globally, it is always the case that if m0 = 3 holds, then m0 <= 6 previously held and was preceded by h0 = 1 .
Before n0 = 2, it is always the case that if o0 <= 0 holds, then o0 > 7 eventually holds and is succeeded by r0 >= 4 .
Globally, it is always the case that if c0 >= 2 holds, then j0 < 5 eventually holds.
Between o0 > 5 and r0 = 1, it is always the case that if n0 >= 7 holds, then i0 = 5 eventually holds and is succeeded by r0 > 2 .
Before i0 > 1, it is always the case that if q0 < 7 holds and is succeeded by i0 > 2, then d0 < 7 previously held.
Between n0 < 4 and g0 < 1, it is always the case that if c0 >= 7 holds, then c0 = 7 previously held and was preceded by h0 >= 2 .
Between s0 > 7 and s0 = 4, it is never the case that d0 < 2 holds.
Before c0 < 1, it is always the case that if l0 < 1 holds, then j0 > 7 eventually holds and is succeeded by g0 >= 6 .
After e0 > 2 until f0 < 6, it is always the case that if n0 <= 2 holds, then g0 = 3 eventually holds.
Between a0 >= 7 and m0 < 2, e0 > 6 eventually holds.
After c0 = 6 until m0 <= 7, it is always the case that l0 < 3 holds.
Before q0 > 0, it is always the case that if f0 = 4 holds and is succeeded by n0 < 1, then c0 > 7 eventually holds after n0 < 1 .
Between h0 <= 7 and b0 < 3, it is always the case that if b0 < 0 holds, then p0 = 6 eventually holds and is succeeded by o0 = 7 .
Before s0 = 5, it is always the case that if b0 > 5 holds, then d0 < 5 eventually holds and is succeeded by r0 > 6 .
After p0 >= 4 until p0 = 2, k0 < 6 eventually holds.
After n0 = 0, it is always the case that if m0 = 1 holds, then i0 >= 4 eventually holds.
Globally, it is never the case that o0 < 0 holds.
Between o0 > 2 and r0 = 2, it is always the case that if a0 >= 1 holds and is succeeded by p0 = 6, then d0 > 0 previously held.
After k0 < 0, it is always the case that if m0 > 0 holds and is succeeded by c0 >= 7, then m0 = 0 previously held.
After c0 = 7 until i0 < 7, it is always the case that if m0 = 4 holds, then g0 < 3 eventually holds.
After g0 > 2 until c0 < 4, it is always the case that if f0 = 3 holds, then a0 > 4 eventually holds and is succeeded by l0 < 7 .
Globally, it is always the case that if s0 <= 3 holds, then r0 < 1 eventually holds and is succeeded by e0 < 6 .
After n0 > 7, it is always the case that if f0 = 7 holds, then r0 < 2 previously held and was preceded by e0 < 7 .
Globally, it is always the case that if a0 < 4 holds, then g0 = 2 previously held.
Between p0 <= 0 and s0 < 0, it is always the case that if d0 < 3 holds and is succeeded by s0 <= 4, then j0 < 7 eventually holds after s0 <= 4 .
After l0 >= 5 until b0 <= 7, it is always the case that if o0 <= 2 holds and is succeeded by h0 >= 7, then j0 >= 7 eventually holds after h0 >= 7 .
Globally, it is never the case that a0 < 5 holds.
Between c0 < 7 and i0 = 5, it is always the case that if c0 > 0 holds, then l0 < 6 eventually holds and is succeeded by o0 >= 2, where j0 > 0 does not hold between l0 < 6 and o0 >= 2 .
Before h0 = 0, it is always the case that if s0 <= 4 holds, then m0 >= 5 eventually holds and is succeeded by d0 < 2, where e0 = 1 does not hold between m0 >= 5 and d0 < 2 .
Globally, it is always the case that if h0 >= 1 holds and is succeeded by d0 > 3, then g0 < 4 eventually holds after d0 > 3 .
Before f0 > 6, it is always the case that n0 > 4 holds.
Between p0 > 5 and p0 < 1, it is always the case that if l0 >= 0 holds, then p0 >= 4 previously held.
Before o0 = 1, o0 = 2 eventually holds.
Globally, it is always the case that if s0 >= 4 holds, then b0 >= 6 eventually holds and is succeeded by p0 > 2 .
Between a0 >= 3 and o0 = 7, i0 >= 0 eventually holds.
Globally, it is always the case that if p0 = 0 holds, then k0 < 6 previously held and was preceded by q0 >= 7 .
Between s0 > 7 and m0 >= 3, it is always the case that if n0 = 3 holds and is succeeded by l0 = 5, then o0 > 1 previously held.
Globally, it is never the case that a0 < 6 holds.
Between n0 = 7 and d0 < 4, it is always the case that if j0 = 5 holds, then e0 >= 2 eventually holds and is succeeded by q0 >= 6, where d0 <= 7 does not hold between e0 >= 2 and q0 >= 6 .
After a0 = 6, it is always the case that if e0 < 7 holds, then f0 <= 5 eventually holds and is succeeded by s0 = 7, where g0 < 1 does not hold between f0 <= 5 and s0 = 7 .
Before g0 < 3, it is always the case that if q0 < 2 holds, then d0 <= 1 eventually holds and is succeeded by c0 < 1 .
Between s0 >= 2 and o0 >= 1, it is always the case that if c0 >= 4 holds, then i0 <= 2 eventually holds and is succeeded by b0 <= 1, where e0 > 3 does not hold between i0 <= 2 and b0 <= 1 .
Between e0 = 2 and o0 > 3, it is never the case that d0 = 7 holds.
Between d0 <= 1 and l0 = 1, it is always the case that if c0 = 3 holds and is succeeded by j0 >= 4, then b0 = 5 previously held.
After f0 <= 0 until r0 > 1, it is always the case that if j0 <= 4 holds, then n0 <= 1 eventually holds and is succeeded by i0 <= 5, where a0 < 0 does not hold between n0 <= 1 and i0 <= 5 .
After e0 <= 2 until j0 > 6, it is always the case that if a0 <= 7 holds and is succeeded by p0 = 3, then o0 >= 0 eventually holds after p0 = 3 .
After c0 < 4, it is always the case that if h0 >= 4 holds and is succeeded by m0 > 7, then j0 <= 1 eventually holds after m0 > 7 .
Globally, it is always the case that s0 = 1 holds.
Before k0 < 1, it is always the case that if n0 < 5 holds and is succeeded by b0 <= 6, then m0 >= 3 previously held.
Globally, it is always the case that if a0 = 3 holds, then g0 = 6 previously held.
Between k0 < 6 and g0 >= 5, it is always the case that i0 <= 4 holds.
After h0 <= 7, it is always the case that if c0 < 3 holds and is succeeded by g0 > 2, then a0 <= 7 previously held.
Globally, it is always the case that if b0 >= 7 holds and is succeeded by s0 < 3, then f0 <= 6 eventually holds after s0 < 3 .
Between b0 >= 7 and h0 < 1, p0 = 3 eventually holds.
Globally, it is always the case that if g0 <= 7 holds, then f0 = 0 eventually holds.
Before b0 <= 0, it is always the case that if k0 > 5 holds, then f0 <= 3 eventually holds.
Before k0 <= 2, it is always the case that if g0 > 5 holds, then g0 = 1 eventually holds and is succeeded by o0 < 3 .
Globally, it is always the case that if l0 < 7 holds, then i0 = 3 previously held.
After m0 > 1 until l0 <= 3, it is always the case that if g0 >= 0 holds, then g0 = 2 previously held.
After j0 <= 6 until o0 <= 5, it is always the case that if o0 < 1 holds, then q0 >= 7 eventually holds and is succeeded by r0 > 3, where s0 = 0 does not hold between q0 >= 7 and r0 > 3 .
After c0 = 2 until b0 > 3, it is always the case that if b0 <= 4 holds and is succeeded by o0 < 4, then e0 = 7 eventually holds after o0 < 4 .
After h0 <= 6 until p0 >= 5, it is always the case that if q0 >= 4 holds, then j0 = 4 previously held.
After e0 >= 0, it is always the case that if h0 <= 4 holds, then d0 >= 7 eventually holds.
Between i0 >= 0 and j0 > 4, it is always the case that if o0 < 7 holds and is succeeded by k0 >= 0, then f0 < 7 previously held.
Before j0 < 1, it is never the case that c0 < 4 holds.
Before n0 > 2, it is always the case that if c0 < 3 holds, then d0 >= 2 eventually holds and is succeeded by m0 < 2 .
Between d0 <= 6 and f0 = 1, it is never the case that b0 <= 1 holds.
After a0 = 6 until q0 <= 1, it is always the case that o0 < 5 holds.
Globally, it is always the case that if r0 > 3 holds and is succeeded by a0 >= 5, then h0 = 4 previously held.
After m0 = 7, it is always the case that if m0 > 1 holds, then l0 < 6 previously held and was preceded by e0 >= 3 .
Globally, it is always the case that if n0 > 4 holds, then h0 < 5 previously held and was preceded by q0 = 5 .
After a0 < 3 until h0 > 6, s0 = 6 eventually holds.
Before j0 >= 1, it is always the case that if f0 = 0 holds, then p0 <= 2 previously held and was preceded by o0 >= 4 .
After o0 < 4 until k0 < 1, it is always the case that if g0 <= 6 holds, then g0 < 4 eventually holds and is succeeded by h0 = 1, where r0 <= 5 does not hold between g0 < 4 and h0 = 1 .
After m0 >= 5 until h0 > 4, it is always the case that if g0 = 5 holds and is succeeded by o0 = 3, then b0 < 1 previously held.
After s0 >= 3 until a0 = 0, it is always the case that s0 < 5 holds.
After g0 >= 2, it is always the case that if a0 >= 6 holds, then j0 = 7 previously held and was preceded by a0 > 1 .
Between m0 < 5 and m0 < 7, b0 = 1 eventually holds.
After c0 > 6 until q0 <= 4, it is always the case that if i0 >= 2 holds, then l0 >= 6 previously held and was preceded by l0 = 0 .
Between q0 = 3 and l0 = 7, it is never the case that e0 = 7 holds.
Before c0 > 5, it is always the case that f0 = 5 holds.
Before e0 <= 6, it is always the case that if q0 = 3 holds and is succeeded by i0 <= 3, then b0 > 3 eventually holds after i0 <= 3 .
Between m0 > 4 and k0 >= 0, it is always the case that e0 <= 0 holds.
After b0 >= 3, it is always the case that c0 > 0 holds.
After k0 <= 7 until f0 < 2, it is always the case that if g0 <= 3 holds and is succeeded by p0 >= 0, then i0 >= 4 eventually holds after p0 >= 0 .
After k0 < 7, it is never the case that m0 = 1 holds.
Globally, it is always the case that if l0 >= 7 holds, then l0 <= 6 eventually holds and is succeeded by h0 <= 1, where a0 <= 6 does not hold between l0 <= 6 and h0 <= 1 .
Globally, it is always the case that if g0 > 3 holds, then f0 = 7 previously held.
After k0 > 0 until s0 > 0, it is never the case that c0 = 5 holds.
After g0 <= 7, it is always the case that if s0 = 1 holds and is succeeded by p0 > 2, then g0 > 1 eventually holds after p0 > 2 .
Before h0 > 6, it is always the case that if j0 < 3 holds, then n0 >= 4 eventually holds.
Globally, it is always the case that if i0 = 0 holds, then k0 <= 6 eventually holds and is succeeded by e0 < 2 .
After i0 = 3 until o0 >= 0, it is never the case that k0 >= 1 holds.
After c0 = 4 until q0 = 7, it is always the case that if l0 > 2 holds, then r0 <= 5 previously held.
Between q0 < 7 and a0 >= 5, it is always the case that if n0 > 7 holds, then h0 >= 0 eventually holds and is succeeded by o0 = 5 .
Before g0 >= 0, it is always the case that if i0 > 2 holds and is succeeded by s0 >= 5, then l0 > 1 previously held.
Globally, j0 < 4 eventually holds.
Globally, l0 <= 5 eventually holds.
Between i0 < 1 and d0 > 2, it is always the case that if n0 < 1 holds, then h0 >= 2 previously held.
Between k0 = 0 and d0 >= 1, it is always the case that if q0 > 5 holds, then r0 <= 6 eventually holds and is succeeded by d0 > 0 .
After a0 < 4, it is always the case that if r0 <= 3 holds, then e0 >= 4 previously held.
After o0 <= 6, it is always the case that if d0 = 3 holds, then r0 = 6 previously held and was preceded by d0 <= 3 .
Globally, it is always the case that a0 <= 3 holds.
After p0 < 5, it is always the case that if f0 >= 0 holds, then p0 = 1 eventually holds.
After g0 >= 1, it is always the case that p0 < 0 holds.
After c0 <= 1, it is always the case that if s0 <= 6 holds and is succeeded by d0 > 4, then p0 < 7 previously held.
Between m0 >= 4 and e0 < 3, it is always the case that if q0 = 4 holds and is succeeded by d0 = 3, then q0 = 3 eventually holds after d0 = 3 .
After f0 = 5 until l0 > 7, it is always the case that if f0 <= 5 holds, then r0 < 7 eventually holds.
Globally, it is always the case that if q0 >= 3 holds, then o0 = 6 eventually holds.
Globally, it is never the case that l0 > 0 holds.
Globally, it is always the case that if s0 <= 0 holds and is succeeded by q0 = 4, then m0 >= 3 previously held.
Between d0 = 2 and s0 >= 1, it is always the case that if h0 < 3 holds, then j0 = 4 previously held.
Globally, r0 < 2 eventually holds.
After a0 > 7, it is always the case that if f0 = 0 holds and is succeeded by p0 >= 3, then h0 >= 4 eventually holds after p0 >= 3 .
Between a0 > 3 and b0 < 6, it is always the case that if p0 >= 6 holds, then f0 <= 0 eventually holds and is succeeded by e0 < 6 .
Globally, it is always the case that s0 <= 7 holds.
Between q0 >= 5 and r0 = 2, it is always the case that if s0 <= 5 holds and is succeeded by m0 <= 7, then s0 = 3 eventually holds after m0 <= 7 .
Between e0 <= 1 and g0 = 5, it is always the case that if g0 <= 4 holds, then f0 <= 7 previously held and was preceded by l0 > 7 .
