Between z1 < 0 and w1 < 2, it is always the case that if v0 < 4 holds, then p2 > 3 previously held and was preceded by r0 > 1 .
After n0 > 1, it is always the case that if d2 > 3 holds, then i1 >= 4 eventually holds.
After b1 = 7 until o2 <= 3, it is always the case that t1 < 1 holds.
After f1 >= 4 until d0 < 4, it is always the case that if s0 > 5 holds, then x0 <= 0 eventually holds.
After c1 > 7 until c1 < 6, it is always the case that if h0 < 5 holds, then x1 >= 5 previously held and was preceded by a3 < 1 .
Between z0 >= 1 and o0 >= 5, it is always the case that if g0 > 7 holds, then g0 >= 0 eventually holds and is succeeded by v0 > 4 .
After q0 >= 1 until x1 < 5, it is always the case that if r0 > 6 holds, then h1 >= 7 previously held and was preceded by k1 < 4 .
Between s2 >= 6 and e0 <= 3, it is always the case that if m2 > 5 holds, then x2 = 4 previously held.
Between v1 = 1 and b2 > 3, it is always the case that if c1 < 3 holds, then p2 <= 6 eventually holds and is succeeded by p0 < 4, where g1 < 5 does not hold between p2 <= 6 and p0 < 4 .
Globally, it is always the case that i1 < 7 holds.
After q1 >= 1, it is always the case that if w0 <= 2 holds, then d2 < 2 eventually holds and is succeeded by v2 <= 6, where s2 = 6 does not hold between d2 < 2 and v2 <= 6 .
Before m0 >= 1, it is always the case that if v0 = 4 holds, then y2 = 2 eventually holds and is succeeded by e0 >= 2, where h1 >= 7 does not hold between y2 = 2 and e0 >= 2 .
Between m1 < 1 and a3 = 4, it is never the case that n2 <= 4 holds.
Between g0 > 0 and e2 <= 4, it is always the case that if b1 > 0 holds, then b2 >= 3 previously held and was preceded by n2 < 3 .
After b0 = 3, it is always the case that if o1 = 4 holds and is succeeded by i1 > 2, then z0 = 1 previously held.
Before l2 < 3, it is always the case that o0 < 4 holds.
Globally, it is always the case that if r0 <= 1 holds, then g0 <= 7 previously held and was preceded by h0 = 0 .
After d2 <= 4, q2 <= 1 eventually holds.
Before a2 <= 1, it is always the case that if o1 = 0 holds and is succeeded by d2 > 4, then v1 > 1 previously held.
Before q2 > 0, it is always the case that if a0 = 0 holds, then e1 = 0 previously held.
Between u2 = 0 and x0 < 3, it is always the case that if a0 >= 5 holds, then o2 = 2 eventually holds and is succeeded by u0 = 0, where l0 > 7 does not hold between o2 = 2 and u0 = 0 .
After q1 >= 6 until i0 > 0, it is always the case that if s1 = 3 holds, then h2 <= 5 previously held.
Globally, it is never the case that g0 < 1 holds.
After c2 <= 2 until p2 >= 1, it is always the case that if y0 <= 2 holds, then q1 < 2 eventually holds.
Globally, it is always the case that j1 = 4 holds.
Between w1 = 3 and b0 = 0, it is always the case that t1 < 2 holds.
After r2 <= 2, it is always the case that if u1 <= 2 holds and is succeeded by a3 <= 1, then w0 = 5 previously held.
Globally, it is always the case that if j1 < 7 holds and is succeeded by h0 >= 1, then w2 <= 2 eventually holds after h0 >= 1 .
After z1 > 2 until s1 > 7, it is always the case that if z2 = 3 holds, then z1 > 0 eventually holds and is succeeded by w2 < 3, where e0 = 4 does not hold between z1 > 0 and w2 < 3 .
Between m0 = 6 and c2 <= 3, it is always the case that if k2 >= 4 holds, then q0 > 3 previously held.
Before a1 = 3, it is always the case that if c2 > 1 holds and is succeeded by l2 <= 4, then o2 > 2 eventually holds after l2 <= 4 .
After x1 >= 4, it is always the case that if e0 = 0 holds, then j2 <= 7 eventually holds.
Globally, it is always the case that if k2 > 0 holds and is succeeded by p1 >= 5, then a3 < 3 eventually holds after p1 >= 5 .
Before f0 <= 1, h2 = 0 eventually holds.
After j1 > 7, it is always the case that if a3 <= 5 holds, then g2 < 4 previously held and was preceded by a1 > 4 .
Globally, it is always the case that if i0 > 7 holds, then w0 = 1 previously held.
Globally, it is never the case that r2 = 0 holds.
Globally, it is never the case that m0 > 0 holds.
After g2 < 4 until n2 <= 6, it is always the case that if n2 > 5 holds, then b2 <= 7 previously held.
Globally, it is always the case that d1 < 1 holds.
Globally, it is always the case that if k2 <= 4 holds and is succeeded by v1 = 5, then l0 >= 4 previously held.
Before c1 >= 2, it is always the case that if l0 <= 1 holds, then g0 < 0 eventually holds and is succeeded by p1 > 0 .
Globally, it is always the case that r0 > 6 holds.
After k0 >= 1, it is never the case that i0 = 4 holds.
After g1 < 4, k2 = 3 eventually holds.
After t0 >= 6, it is always the case that if q2 > 2 holds, then u1 > 1 eventually holds.
Globally, it is always the case that j0 > 0 holds.
After q0 > 6 until r2 = 2, it is always the case that if a0 > 1 holds and is succeeded by g1 <= 4, then u1 >= 3 previously held.
Before f0 = 2, it is always the case that if t0 = 7 holds, then g2 < 6 eventually holds and is succeeded by k2 > 2, where a0 = 1 does not hold between g2 < 6 and k2 > 2 .
After f2 >= 1, it is always the case that if g1 > 0 holds and is succeeded by g1 >= 5, then q1 > 2 eventually holds after g1 >= 5 .
After l1 <= 6, it is always the case that if p2 > 3 holds and is succeeded by m0 > 0, then o0 >= 1 previously held.
Globally, it is always the case that if x0 >= 0 holds, then h2 < 1 previously held and was preceded by x0 < 1 .
Globally, it is always the case that if n2 = 5 holds, then r1 <= 0 previously held.
Between b1 <= 1 and j0 > 5, it is always the case that if w2 <= 0 holds, then o0 < 4 eventually holds.
Before y0 <= 5, it is never the case that q0 >= 6 holds.
Globally, t2 = 7 eventually holds.
Between y2 = 4 and q1 <= 7, it is always the case that if h2 = 7 holds, then i2 < 6 previously held and was preceded by q1 <= 0 .
After z1 < 4 until x0 <= 2, it is always the case that i0 >= 0 holds.
After y2 = 7 until t2 = 5, it is always the case that if y0 < 4 holds and is succeeded by y0 < 4, then d1 > 7 previously held.
Between y1 > 2 and x0 <= 7, it is always the case that if q1 = 3 holds, then n2 >= 5 eventually holds and is succeeded by i1 >= 2, where u0 < 7 does not hold between n2 >= 5 and i1 >= 2 .
