After i0 >= 3, it is always the case that if f0 = 2 holds, then d0 < 2 eventually holds.
After e0 < 0 until d0 >= 1, it is always the case that if c0 < 1 holds, then f0 < 2 eventually holds and is succeeded by e0 > 1 .
Globally, it is always the case that if e0 <= 1 holds, then f0 <= 1 eventually holds and is succeeded by g0 = 0 .
Between b0 < 1 and g0 >= 0, it is always the case that a0 = 2 holds.
Before a0 = 3, it is always the case that if h0 > 1 holds and is succeeded by d0 > 2, then h0 >= 2 eventually holds after d0 > 2 .
Globally, it is always the case that g0 = 3 holds.
After f0 > 0, it is always the case that if g0 < 0 holds and is succeeded by b0 <= 2, then f0 > 1 previously held.
Between c0 > 0 and b0 <= 1, it is always the case that if h0 < 0 holds and is succeeded by e0 < 3, then d0 = 1 previously held.
Before d0 <= 1, it is always the case that if d0 = 0 holds, then b0 >= 2 eventually holds and is succeeded by e0 <= 2, where d0 = 2 does not hold between b0 >= 2 and e0 <= 2 .
Before b0 < 0, a0 < 1 eventually holds.
Globally, it is always the case that if f0 > 3 holds, then i0 > 0 previously held.
Globally, it is always the case that e0 < 3 holds.
Between e0 >= 3 and i0 < 0, it is always the case that if e0 >= 1 holds and is succeeded by i0 >= 1, then d0 >= 2 previously held.
Before e0 <= 1, it is always the case that i0 <= 0 holds.
Between b0 > 2 and e0 > 0, d0 < 2 eventually holds.
After c0 < 0 until c0 > 2, it is never the case that b0 >= 0 holds.
Before a0 <= 0, e0 >= 3 eventually holds.
Before g0 > 2, it is always the case that if d0 <= 3 holds and is succeeded by d0 < 3, then b0 >= 3 eventually holds after d0 < 3 .
Between h0 >= 3 and c0 <= 0, it is always the case that if i0 >= 0 holds, then f0 < 3 previously held and was preceded by h0 >= 3 .
Between h0 >= 1 and d0 > 1, it is always the case that if a0 > 3 holds, then a0 < 0 eventually holds and is succeeded by i0 = 1 .
After c0 = 1, it is never the case that b0 = 2 holds.
Globally, it is never the case that h0 = 2 holds.
Before c0 = 0, it is always the case that if e0 <= 3 holds, then g0 < 1 previously held and was preceded by e0 >= 1 .
Globally, it is always the case that if b0 = 1 holds, then f0 >= 2 eventually holds and is succeeded by f0 > 0, where a0 >= 1 does not hold between f0 >= 2 and f0 > 0 .
After d0 <= 1 until a0 < 0, g0 >= 2 eventually holds.
Between h0 > 2 and d0 < 3, it is always the case that if i0 < 3 holds, then a0 < 2 eventually holds.
Before c0 = 1, it is always the case that if c0 <= 1 holds, then b0 < 2 eventually holds and is succeeded by a0 <= 0 .
After a0 < 0 until f0 < 0, it is never the case that d0 < 3 holds.
Between a0 > 3 and d0 <= 0, it is always the case that if h0 > 2 holds, then b0 <= 0 eventually holds.
After i0 < 1 until a0 <= 1, it is always the case that if h0 = 2 holds, then b0 < 2 eventually holds.
Between i0 < 0 and h0 > 3, it is never the case that a0 >= 1 holds.
After e0 < 0 until h0 < 1, it is always the case that if d0 = 2 holds and is succeeded by h0 > 2, then d0 < 1 previously held.
After e0 > 3, it is never the case that f0 = 3 holds.
After f0 < 0, it is always the case that if h0 < 2 holds, then g0 <= 1 eventually holds and is succeeded by c0 = 0, where f0 <= 2 does not hold between g0 <= 1 and c0 = 0 .
After b0 >= 1, it is always the case that if g0 = 2 holds, then a0 <= 3 previously held.
Before c0 <= 2, it is never the case that d0 > 1 holds.
After g0 = 3, it is always the case that d0 < 1 holds.
Before i0 >= 1, it is always the case that if h0 >= 0 holds, then i0 <= 1 eventually holds and is succeeded by c0 = 1, where h0 > 2 does not hold between i0 <= 1 and c0 = 1 .
Globally, it is always the case that if e0 = 0 holds, then d0 <= 2 previously held.
After c0 >= 2 until h0 > 0, it is always the case that if h0 = 1 holds, then e0 > 3 eventually holds and is succeeded by e0 <= 3 .
Globally, it is always the case that if e0 <= 3 holds, then g0 <= 0 previously held and was preceded by h0 = 3 .
Globally, it is never the case that i0 <= 1 holds.
Between g0 >= 1 and b0 > 2, it is always the case that if a0 <= 3 holds, then a0 <= 3 previously held and was preceded by a0 <= 2 .
Between c0 <= 2 and d0 > 2, it is always the case that if i0 > 3 holds, then f0 = 2 eventually holds and is succeeded by b0 <= 2, where g0 >= 0 does not hold between f0 = 2 and b0 <= 2 .
After b0 >= 2, it is always the case that if a0 = 0 holds, then f0 <= 3 previously held.
Globally, it is always the case that h0 <= 1 holds.
Globally, it is always the case that if g0 < 3 holds, then h0 <= 1 eventually holds and is succeeded by i0 = 3, where g0 >= 3 does not hold between h0 <= 1 and i0 = 3 .
After d0 < 3, it is always the case that if b0 < 0 holds, then e0 > 3 eventually holds and is succeeded by f0 >= 1, where c0 < 3 does not hold between e0 > 3 and f0 >= 1 .
After e0 >= 0, it is always the case that if e0 < 3 holds, then a0 = 0 previously held and was preceded by g0 < 3 .
After h0 <= 1 until e0 >= 3, it is always the case that if d0 < 0 holds, then e0 = 2 eventually holds.
Between c0 > 3 and a0 <= 2, b0 = 0 eventually holds.
Between d0 <= 0 and d0 > 3, it is always the case that if e0 <= 2 holds and is succeeded by i0 > 2, then b0 = 1 eventually holds after i0 > 2 .
After i0 = 0, it is always the case that if g0 = 2 holds, then a0 > 3 previously held and was preceded by g0 >= 1 .
After i0 = 2 until a0 <= 3, it is always the case that if b0 = 2 holds and is succeeded by a0 >= 3, then d0 > 0 eventually holds after a0 >= 3 .
Globally, it is always the case that c0 <= 3 holds.
Before f0 > 0, it is always the case that if i0 < 0 holds and is succeeded by c0 > 0, then i0 = 0 eventually holds after c0 > 0 .
After g0 >= 0 until e0 = 3, it is always the case that if b0 = 1 holds and is succeeded by e0 < 2, then f0 >= 1 previously held.
After c0 >= 3 until f0 <= 2, it is never the case that c0 < 3 holds.
Before a0 >= 2, h0 = 2 eventually holds.
After i0 > 1, it is never the case that d0 > 3 holds.
