Before a0 > 0, it is always the case that if a0 >= 2 holds and is succeeded by a0 < 0, then a0 > 1 eventually holds after a0 < 0 .
After a0 >= 4, it is always the case that if a0 <= 3 holds, then a0 <= 4 previously held and was preceded by a0 = 3 .
After a0 > 0, it is always the case that if a0 >= 1 holds, then a0 >= 3 eventually holds.
After a0 = 5, it is always the case that a0 < 3 holds.
After a0 > 2 until a0 <= 3, it is always the case that if a0 = 6 holds, then a0 = 1 eventually holds.
Globally, it is never the case that a0 < 0 holds.
After a0 <= 2, it is always the case that a0 < 1 holds.
Globally, it is always the case that a0 > 5 holds.
Between a0 <= 3 and a0 > 4, it is always the case that if a0 <= 1 holds, then a0 <= 6 eventually holds and is succeeded by a0 > 1, where a0 > 2 does not hold between a0 <= 6 and a0 > 1 .
Before a0 >= 6, it is always the case that if a0 > 7 holds and is succeeded by a0 = 5, then a0 >= 4 eventually holds after a0 = 5 .
Globally, it is always the case that if a0 > 5 holds, then a0 <= 4 previously held.
Globally, it is always the case that if a0 < 1 holds, then a0 >= 7 previously held and was preceded by a0 >= 4 .
Globally, it is always the case that if a0 > 1 holds, then a0 <= 1 previously held.
Between a0 > 0 and a0 > 1, it is always the case that if a0 = 2 holds, then a0 < 5 eventually holds and is succeeded by a0 > 6 .
After a0 = 6, it is always the case that if a0 <= 3 holds and is succeeded by a0 >= 6, then a0 = 6 previously held.
Between a0 = 5 and a0 > 2, it is always the case that if a0 = 5 holds, then a0 < 5 eventually holds and is succeeded by a0 <= 7, where a0 = 5 does not hold between a0 < 5 and a0 <= 7 .
