After b0 <= 23, it is always the case that if b0 < 8 holds, then h0 > 28 eventually holds and is succeeded by d0 <= 22 .
After a0 = 5, it is always the case that if k0 > 6 holds, then c0 = 6 eventually holds and is succeeded by p0 > 1, where i0 <= 25 does not hold between c0 = 6 and p0 > 1 .
After m0 < 26, it is always the case that m0 = 21 holds.
Globally, it is always the case that if o0 < 0 holds, then q0 <= 30 previously held and was preceded by c0 <= 26 .
Before h0 = 22, it is always the case that if e0 < 29 holds, then k0 > 13 eventually holds.
After s0 > 28 until k0 >= 24, it is always the case that if i0 <= 25 holds, then d0 <= 1 eventually holds.
Globally, it is always the case that if e0 <= 8 holds, then j0 < 24 eventually holds.
Between a0 > 9 and m0 <= 6, it is always the case that if i0 <= 23 holds and is succeeded by l0 = 24, then d0 = 28 eventually holds after l0 = 24 .
After p0 <= 31, it is always the case that if r0 < 13 holds, then p0 < 28 eventually holds and is succeeded by c0 = 24, where k0 < 21 does not hold between p0 < 28 and c0 = 24 .
After f0 >= 6 until a0 > 30, g0 >= 0 eventually holds.
Between j0 >= 22 and o0 > 21, it is always the case that if c0 <= 16 holds and is succeeded by r0 <= 0, then n0 >= 1 eventually holds after r0 <= 0 .
Before f0 <= 10, it is always the case that if c0 <= 6 holds, then i0 <= 1 eventually holds and is succeeded by s0 < 4, where j0 > 24 does not hold between i0 <= 1 and s0 < 4 .
After l0 <= 5, it is always the case that if f0 < 8 holds, then h0 = 20 previously held.
After o0 < 15 until p0 = 3, it is always the case that p0 > 22 holds.
Globally, it is always the case that if b0 = 16 holds, then f0 < 29 eventually holds and is succeeded by j0 >= 29, where e0 > 8 does not hold between f0 < 29 and j0 >= 29 .
After o0 < 22, it is always the case that if q0 > 16 holds and is succeeded by d0 > 22, then g0 >= 28 previously held.
Globally, it is always the case that b0 >= 14 holds.
After f0 < 27 until n0 > 21, it is always the case that if n0 = 30 holds and is succeeded by h0 < 8, then p0 < 27 eventually holds after h0 < 8 .
Before j0 < 6, it is always the case that if j0 <= 15 holds, then k0 > 29 eventually holds and is succeeded by i0 >= 8, where m0 <= 16 does not hold between k0 > 29 and i0 >= 8 .
Globally, it is always the case that if i0 >= 20 holds, then j0 < 16 eventually holds.
Between n0 < 1 and d0 >= 19, a0 >= 12 eventually holds.
After a0 <= 7, it is always the case that if h0 = 6 holds, then k0 < 18 eventually holds.
Before i0 = 27, it is always the case that if r0 >= 18 holds, then h0 > 29 previously held and was preceded by g0 <= 23 .
After i0 > 14 until e0 >= 0, it is always the case that q0 < 28 holds.
After f0 < 27, it is always the case that if h0 = 13 holds, then o0 >= 27 eventually holds and is succeeded by a0 >= 7, where g0 > 22 does not hold between o0 >= 27 and a0 >= 7 .
After m0 < 4, it is always the case that if k0 >= 3 holds, then g0 > 7 eventually holds.
Between j0 > 7 and q0 < 14, it is always the case that if l0 >= 15 holds and is succeeded by h0 < 4, then b0 < 25 eventually holds after h0 < 4 .
After i0 = 11, it is always the case that if j0 >= 10 holds, then b0 >= 31 eventually holds and is succeeded by r0 >= 23 .
After c0 = 28 until r0 = 28, k0 = 6 eventually holds.
After g0 <= 23 until h0 = 17, it is always the case that s0 < 26 holds.
Before g0 = 4, it is always the case that n0 < 31 holds.
Globally, it is always the case that if l0 > 23 holds and is succeeded by b0 <= 3, then r0 > 3 previously held.
After k0 <= 23 until l0 < 15, it is always the case that if p0 < 5 holds, then k0 > 8 eventually holds.
Globally, it is always the case that if l0 <= 30 holds, then n0 < 12 eventually holds.
After b0 <= 25 until g0 <= 8, it is never the case that q0 < 31 holds.
After j0 > 12, it is always the case that if o0 < 4 holds, then o0 >= 4 eventually holds and is succeeded by h0 <= 2 .
After i0 > 30, it is never the case that p0 <= 29 holds.
Before s0 > 31, it is always the case that if e0 < 6 holds, then d0 > 9 eventually holds and is succeeded by e0 <= 16 .
Before l0 > 16, it is always the case that if m0 < 9 holds and is succeeded by c0 <= 26, then d0 <= 16 previously held.
Between o0 >= 27 and i0 >= 14, it is always the case that if f0 > 12 holds and is succeeded by n0 >= 25, then r0 = 20 previously held.
Globally, it is always the case that if j0 <= 10 holds, then e0 > 16 eventually holds and is succeeded by r0 >= 14 .
After l0 > 25 until c0 < 25, it is always the case that q0 = 2 holds.
Between e0 = 27 and m0 < 3, it is always the case that if k0 >= 3 holds, then d0 > 2 previously held and was preceded by f0 > 10 .
Globally, f0 < 26 eventually holds.
Before d0 < 2, it is always the case that if c0 = 26 holds, then c0 = 30 previously held.
Before j0 >= 6, it is always the case that if i0 >= 28 holds, then h0 > 25 eventually holds.
Between c0 >= 4 and a0 < 10, it is always the case that if n0 > 22 holds, then a0 = 18 previously held and was preceded by h0 > 14 .
Between s0 = 20 and h0 <= 24, l0 > 26 eventually holds.
After i0 < 3 until d0 >= 5, it is always the case that if q0 >= 12 holds and is succeeded by s0 > 0, then f0 >= 31 previously held.
Globally, it is always the case that if p0 < 12 holds and is succeeded by f0 >= 21, then e0 <= 13 previously held.
After s0 = 25, it is always the case that if c0 > 11 holds and is succeeded by n0 >= 7, then m0 >= 19 eventually holds after n0 >= 7 .
Globally, it is always the case that if s0 < 9 holds, then q0 < 1 eventually holds and is succeeded by j0 > 31 .
Globally, it is always the case that if c0 = 27 holds, then n0 >= 28 eventually holds.
Before b0 >= 16, it is always the case that if d0 <= 15 holds and is succeeded by r0 >= 19, then i0 >= 19 previously held.
Before i0 <= 7, it is always the case that if o0 = 22 holds, then b0 = 30 eventually holds and is succeeded by q0 = 12, where e0 > 19 does not hold between b0 = 30 and q0 = 12 .
Between i0 >= 30 and s0 < 10, it is always the case that if o0 < 25 holds, then q0 < 12 previously held and was preceded by m0 = 31 .
After r0 >= 19 until p0 = 6, it is always the case that if o0 > 13 holds, then i0 > 30 eventually holds and is succeeded by g0 > 19, where c0 <= 22 does not hold between i0 > 30 and g0 > 19 .
After j0 <= 12, it is never the case that i0 = 27 holds.
After c0 > 29, it is always the case that if k0 > 21 holds and is succeeded by e0 <= 8, then g0 < 21 eventually holds after e0 <= 8 .
Globally, it is always the case that if k0 > 6 holds and is succeeded by p0 < 13, then n0 < 18 eventually holds after p0 < 13 .
After o0 > 29, it is always the case that if d0 <= 4 holds, then f0 < 10 previously held.
Globally, it is always the case that d0 < 2 holds.
After c0 = 31 until p0 = 6, it is always the case that if c0 >= 18 holds, then c0 = 19 eventually holds and is succeeded by g0 = 9 .
Before n0 = 9, it is always the case that if r0 < 25 holds, then g0 < 20 eventually holds.
After l0 <= 30, it is always the case that if p0 > 31 holds, then c0 = 15 eventually holds and is succeeded by n0 <= 4 .
Globally, it is always the case that if q0 < 30 holds, then q0 >= 21 previously held and was preceded by g0 > 31 .
Globally, it is always the case that if h0 <= 18 holds, then b0 = 29 previously held and was preceded by k0 <= 5 .
Globally, it is never the case that s0 = 21 holds.
Before n0 = 20, it is always the case that if m0 > 2 holds and is succeeded by i0 >= 23, then e0 = 17 eventually holds after i0 >= 23 .
After a0 >= 8 until j0 < 8, it is always the case that if h0 = 12 holds and is succeeded by k0 >= 21, then d0 < 28 previously held.
Before d0 > 25, it is always the case that if e0 > 24 holds, then o0 = 24 eventually holds.
After p0 <= 12 until k0 = 21, it is never the case that q0 < 31 holds.
Globally, it is always the case that if g0 > 25 holds and is succeeded by p0 = 29, then l0 >= 28 eventually holds after p0 = 29 .
After p0 >= 2 until h0 >= 30, it is always the case that if f0 < 30 holds, then a0 = 20 eventually holds and is succeeded by s0 < 14, where l0 <= 3 does not hold between a0 = 20 and s0 < 14 .
Before n0 < 18, it is never the case that q0 = 13 holds.
After c0 > 17 until f0 = 12, it is always the case that if m0 > 14 holds and is succeeded by i0 <= 17, then g0 >= 13 previously held.
Between b0 > 30 and o0 <= 3, it is always the case that if e0 >= 5 holds, then b0 >= 0 eventually holds and is succeeded by b0 > 9 .
Between c0 = 2 and b0 > 28, j0 = 31 eventually holds.
Between q0 = 17 and k0 < 10, it is always the case that n0 <= 10 holds.
Globally, it is always the case that if b0 <= 27 holds, then g0 = 5 eventually holds and is succeeded by c0 < 24, where k0 = 7 does not hold between g0 = 5 and c0 < 24 .
Between o0 = 20 and n0 > 7, it is always the case that if q0 >= 4 holds, then e0 > 16 previously held.
Before d0 > 8, it is always the case that if s0 > 27 holds and is succeeded by h0 <= 22, then q0 > 10 eventually holds after h0 <= 22 .
Before o0 >= 1, it is always the case that if n0 > 1 holds, then q0 > 11 eventually holds and is succeeded by g0 > 22 .
Between o0 >= 28 and k0 = 5, it is always the case that if s0 <= 5 holds, then q0 = 13 previously held and was preceded by a0 < 12 .
Before f0 >= 18, it is never the case that e0 = 6 holds.
After r0 > 20 until o0 = 4, c0 > 13 eventually holds.
After s0 >= 3, it is always the case that q0 < 15 holds.
Before m0 <= 2, it is always the case that if n0 >= 28 holds, then l0 = 11 eventually holds.
Between s0 = 29 and o0 <= 29, it is always the case that if b0 > 22 holds, then r0 > 7 eventually holds.
After a0 <= 23, it is always the case that if m0 < 22 holds, then r0 > 17 previously held.
Before s0 = 14, it is always the case that m0 <= 21 holds.
Between o0 >= 17 and l0 = 31, it is always the case that h0 = 22 holds.
Before q0 = 8, it is always the case that if i0 > 8 holds, then m0 <= 19 eventually holds.
Globally, m0 > 7 eventually holds.
After k0 <= 26, it is always the case that if b0 >= 2 holds, then o0 = 22 previously held.
After b0 > 25, it is always the case that if c0 < 16 holds and is succeeded by f0 > 19, then m0 = 29 eventually holds after f0 > 19 .
Between s0 <= 16 and k0 > 29, it is always the case that if e0 < 24 holds and is succeeded by s0 <= 11, then l0 >= 9 eventually holds after s0 <= 11 .
Between n0 <= 27 and s0 < 18, it is always the case that e0 > 25 holds.
Before e0 > 12, it is always the case that if s0 > 12 holds, then l0 >= 8 eventually holds and is succeeded by k0 <= 8 .
After j0 < 15, it is always the case that if c0 >= 2 holds, then i0 >= 3 eventually holds and is succeeded by k0 > 7, where a0 = 11 does not hold between i0 >= 3 and k0 > 7 .
After a0 = 19, it is always the case that if d0 = 24 holds, then a0 > 19 previously held.
Between f0 < 1 and p0 = 28, it is always the case that if c0 > 0 holds, then q0 < 6 eventually holds and is succeeded by f0 > 10 .
After c0 < 7 until j0 <= 17, p0 = 1 eventually holds.
After b0 <= 9, q0 = 17 eventually holds.
After e0 <= 12, f0 > 11 eventually holds.
Between g0 > 11 and i0 < 28, it is always the case that if h0 > 13 holds, then c0 > 16 eventually holds and is succeeded by r0 >= 1 .
After p0 <= 11 until n0 <= 4, it is always the case that if r0 >= 15 holds and is succeeded by h0 <= 22, then c0 <= 17 previously held.
Between h0 >= 24 and i0 > 7, it is always the case that if e0 < 21 holds, then s0 > 25 eventually holds.
After e0 > 25, it is always the case that if b0 > 28 holds, then p0 < 8 eventually holds.
After b0 <= 16 until b0 <= 14, g0 = 16 eventually holds.
Before b0 <= 28, it is always the case that if b0 = 1 holds and is succeeded by i0 <= 22, then n0 > 11 eventually holds after i0 <= 22 .
After g0 = 4, it is always the case that if m0 > 6 holds, then l0 <= 9 eventually holds and is succeeded by e0 > 11 .
Between m0 < 17 and m0 >= 10, it is always the case that if q0 < 10 holds, then i0 < 15 eventually holds.
Before l0 = 17, it is always the case that if d0 <= 28 holds, then g0 >= 13 previously held.
Between e0 < 6 and h0 >= 2, n0 < 9 eventually holds.
Between s0 <= 20 and d0 < 10, it is always the case that if n0 <= 7 holds, then r0 < 11 eventually holds and is succeeded by f0 >= 5, where k0 < 1 does not hold between r0 < 11 and f0 >= 5 .
After b0 < 29, it is always the case that if s0 > 5 holds, then m0 < 3 eventually holds and is succeeded by i0 >= 29, where p0 >= 9 does not hold between m0 < 3 and i0 >= 29 .
Before a0 < 16, it is always the case that if n0 > 24 holds and is succeeded by f0 = 5, then e0 >= 28 eventually holds after f0 = 5 .
After o0 > 9 until i0 = 18, it is always the case that if b0 >= 24 holds and is succeeded by o0 >= 26, then b0 = 16 eventually holds after o0 >= 26 .
After d0 = 8 until k0 <= 1, it is always the case that if c0 > 15 holds, then p0 >= 25 previously held.
After q0 < 14, it is always the case that if r0 = 13 holds, then o0 >= 10 eventually holds and is succeeded by p0 <= 20 .
Between d0 = 14 and j0 <= 30, it is always the case that r0 > 11 holds.
Before o0 <= 20, it is always the case that if b0 > 11 holds, then s0 < 5 eventually holds and is succeeded by s0 = 18, where r0 < 8 does not hold between s0 < 5 and s0 = 18 .
Globally, it is always the case that if h0 > 5 holds and is succeeded by e0 < 12, then a0 > 16 eventually holds after e0 < 12 .
After n0 = 4 until n0 >= 16, it is always the case that a0 = 19 holds.
Before i0 >= 3, it is always the case that if i0 > 7 holds, then q0 < 21 eventually holds and is succeeded by i0 >= 8, where d0 <= 0 does not hold between q0 < 21 and i0 >= 8 .
Between a0 > 0 and g0 >= 25, it is never the case that c0 <= 10 holds.
Globally, it is always the case that if n0 = 2 holds, then e0 > 30 previously held and was preceded by o0 < 18 .
After p0 = 30 until m0 < 31, it is always the case that if o0 >= 5 holds, then o0 = 0 eventually holds and is succeeded by j0 < 24 .
Before f0 <= 31, it is always the case that d0 <= 24 holds.
Between b0 <= 18 and r0 <= 21, it is always the case that if s0 >= 28 holds and is succeeded by o0 >= 11, then g0 > 3 eventually holds after o0 >= 11 .
Globally, it is never the case that g0 <= 26 holds.
After c0 = 21, it is always the case that if n0 > 25 holds and is succeeded by o0 < 7, then c0 = 28 eventually holds after o0 < 7 .
Globally, it is always the case that if f0 <= 4 holds, then i0 >= 25 eventually holds and is succeeded by o0 > 30, where m0 <= 20 does not hold between i0 >= 25 and o0 > 30 .
After m0 > 27, it is always the case that if o0 = 19 holds, then g0 > 29 eventually holds and is succeeded by i0 = 25 .
Globally, it is always the case that if m0 > 21 holds and is succeeded by j0 <= 25, then r0 <= 7 previously held.
After b0 = 0, it is always the case that if f0 > 1 holds, then g0 < 6 eventually holds and is succeeded by i0 = 21, where b0 = 14 does not hold between g0 < 6 and i0 = 21 .
After r0 >= 26 until k0 <= 22, it is always the case that if e0 >= 0 holds and is succeeded by k0 > 3, then p0 <= 6 eventually holds after k0 > 3 .
After q0 > 10 until g0 <= 8, it is always the case that if b0 = 28 holds, then o0 > 25 eventually holds and is succeeded by b0 >= 10 .
After a0 <= 27 until f0 < 2, it is always the case that if c0 = 27 holds, then k0 <= 23 eventually holds.
Globally, it is always the case that if c0 = 10 holds, then q0 > 24 eventually holds and is succeeded by l0 >= 22 .
Before a0 < 11, f0 >= 19 eventually holds.
Globally, it is always the case that if i0 > 5 holds, then e0 < 27 eventually holds and is succeeded by p0 = 17 .
After m0 >= 29 until i0 > 14, it is always the case that if o0 > 10 holds and is succeeded by c0 = 3, then k0 < 4 previously held.
After e0 < 9 until k0 > 28, it is always the case that if l0 >= 12 holds, then k0 < 2 previously held and was preceded by l0 < 27 .
Globally, c0 = 17 eventually holds.
Before k0 >= 23, it is always the case that if j0 = 17 holds, then j0 < 7 previously held and was preceded by a0 >= 1 .
Between k0 <= 18 and m0 >= 4, it is always the case that if p0 < 11 holds, then e0 = 25 eventually holds and is succeeded by q0 <= 5, where f0 <= 30 does not hold between e0 = 25 and q0 <= 5 .
Between i0 < 1 and c0 >= 17, it is always the case that if k0 > 18 holds, then q0 < 13 eventually holds and is succeeded by c0 <= 19, where l0 < 20 does not hold between q0 < 13 and c0 <= 19 .
After l0 <= 8 until i0 < 18, it is always the case that if p0 < 25 holds, then e0 >= 5 eventually holds.
Before e0 = 14, m0 >= 17 eventually holds.
Between b0 = 26 and b0 < 17, it is always the case that if f0 <= 16 holds, then r0 > 23 eventually holds and is succeeded by b0 >= 21 .
After m0 >= 30 until l0 >= 18, it is always the case that f0 < 0 holds.
Between j0 >= 15 and n0 > 12, k0 <= 2 eventually holds.
After s0 = 31, it is always the case that if b0 < 8 holds, then o0 < 17 previously held.
Globally, it is always the case that if b0 = 4 holds, then a0 <= 0 previously held and was preceded by g0 > 17 .
Globally, it is always the case that if g0 > 0 holds and is succeeded by g0 > 17, then i0 = 31 eventually holds after g0 > 17 .
After p0 > 23, it is always the case that if i0 > 13 holds, then s0 > 7 eventually holds.
After b0 >= 22 until o0 < 1, it is always the case that if m0 > 13 holds and is succeeded by a0 >= 30, then e0 < 18 previously held.
Globally, it is always the case that if c0 <= 29 holds and is succeeded by n0 = 14, then i0 <= 19 previously held.
Between h0 >= 14 and r0 < 26, it is always the case that if e0 = 5 holds, then n0 <= 31 eventually holds and is succeeded by k0 > 27, where d0 >= 5 does not hold between n0 <= 31 and k0 > 27 .
Before r0 >= 16, it is always the case that if j0 <= 31 holds and is succeeded by m0 <= 20, then k0 = 25 previously held.
Globally, it is always the case that if e0 = 21 holds, then l0 > 13 eventually holds.
Before r0 = 22, it is always the case that if i0 >= 21 holds, then o0 >= 30 previously held and was preceded by i0 >= 21 .
After j0 <= 18, it is always the case that if f0 < 20 holds, then b0 > 17 previously held and was preceded by a0 < 16 .
Between n0 < 12 and e0 >= 6, it is always the case that if r0 >= 20 holds, then m0 = 11 eventually holds and is succeeded by c0 < 14, where c0 <= 4 does not hold between m0 = 11 and c0 < 14 .
Before f0 <= 13, it is always the case that if i0 >= 3 holds, then b0 <= 14 eventually holds.
Globally, it is always the case that if s0 >= 21 holds, then c0 >= 0 eventually holds and is succeeded by c0 = 4, where m0 < 21 does not hold between c0 >= 0 and c0 = 4 .
After a0 <= 6 until j0 >= 28, it is always the case that if a0 > 9 holds and is succeeded by i0 >= 3, then h0 > 0 previously held.
Before g0 >= 29, it is always the case that if n0 < 28 holds, then b0 <= 20 eventually holds and is succeeded by j0 > 7, where m0 >= 31 does not hold between b0 <= 20 and j0 > 7 .
After s0 < 12 until g0 <= 14, it is always the case that if s0 > 5 holds, then q0 >= 6 eventually holds and is succeeded by k0 <= 15, where c0 < 28 does not hold between q0 >= 6 and k0 <= 15 .
Globally, it is always the case that if b0 > 24 holds, then m0 >= 31 eventually holds and is succeeded by p0 = 30 .
Globally, it is always the case that j0 >= 30 holds.
Before j0 <= 7, it is always the case that if j0 < 30 holds, then s0 = 12 eventually holds and is succeeded by d0 > 3 .
After f0 > 6 until e0 = 27, it is always the case that if p0 > 18 holds and is succeeded by k0 = 19, then o0 > 28 previously held.
Before m0 > 29, it is always the case that if a0 < 23 holds and is succeeded by p0 >= 23, then b0 < 4 previously held.
Before h0 = 10, it is always the case that if j0 = 1 holds, then h0 > 19 eventually holds and is succeeded by i0 = 14 .
Globally, it is always the case that if s0 < 7 holds, then l0 > 6 eventually holds and is succeeded by j0 < 4, where s0 = 9 does not hold between l0 > 6 and j0 < 4 .
Before r0 >= 9, f0 <= 9 eventually holds.
Globally, it is always the case that if g0 > 24 holds, then e0 = 9 previously held.
Globally, it is always the case that if r0 <= 19 holds, then a0 <= 14 eventually holds and is succeeded by j0 < 17, where e0 > 1 does not hold between a0 <= 14 and j0 < 17 .
Before g0 <= 24, it is always the case that a0 >= 12 holds.
After q0 < 30 until r0 = 3, it is always the case that if q0 >= 19 holds and is succeeded by j0 >= 5, then q0 > 7 previously held.
After q0 > 13, e0 < 18 eventually holds.
After d0 < 15, it is always the case that if a0 >= 21 holds, then e0 >= 22 previously held and was preceded by d0 < 21 .
Between a0 < 22 and i0 > 8, it is always the case that if b0 >= 24 holds, then s0 > 5 eventually holds and is succeeded by b0 < 9 .
After c0 = 23 until q0 = 28, it is always the case that if f0 < 31 holds, then b0 = 0 eventually holds.
After f0 <= 11 until n0 < 28, it is never the case that s0 >= 10 holds.
Before l0 > 16, it is always the case that if d0 = 20 holds and is succeeded by k0 >= 19, then k0 > 31 previously held.
Between f0 <= 26 and b0 <= 24, n0 <= 19 eventually holds.
Before d0 = 26, it is always the case that if r0 < 10 holds, then j0 > 0 eventually holds.
Between k0 < 20 and l0 < 28, it is always the case that if i0 >= 1 holds, then f0 <= 20 eventually holds and is succeeded by b0 = 3, where i0 > 17 does not hold between f0 <= 20 and b0 = 3 .
After c0 < 15 until g0 >= 8, it is always the case that if g0 > 22 holds, then j0 < 11 previously held and was preceded by p0 <= 6 .
After j0 >= 0 until j0 = 24, it is always the case that if a0 <= 28 holds, then h0 = 7 eventually holds.
Before d0 >= 14, it is always the case that if q0 > 10 holds, then b0 = 22 previously held and was preceded by k0 > 20 .
After k0 = 17 until h0 > 4, it is always the case that if a0 < 0 holds, then d0 = 17 eventually holds and is succeeded by b0 <= 0, where s0 < 18 does not hold between d0 = 17 and b0 <= 0 .
After q0 < 2 until k0 <= 27, it is always the case that if g0 <= 18 holds, then m0 < 31 previously held.
Globally, it is never the case that j0 = 0 holds.
After s0 > 15, it is always the case that if l0 = 19 holds, then a0 > 2 previously held and was preceded by f0 > 23 .
After p0 <= 3, it is always the case that if i0 <= 16 holds, then r0 > 2 previously held and was preceded by m0 = 26 .
Before m0 > 4, it is always the case that if o0 = 30 holds, then n0 < 2 eventually holds and is succeeded by g0 >= 13, where k0 >= 29 does not hold between n0 < 2 and g0 >= 13 .
After d0 > 30, it is always the case that if f0 <= 11 holds, then g0 = 13 previously held and was preceded by s0 <= 20 .
Between d0 < 0 and s0 < 15, it is always the case that i0 < 29 holds.
After c0 < 12, it is always the case that if a0 < 8 holds, then e0 >= 11 previously held.
Before r0 <= 24, it is always the case that if e0 < 11 holds, then f0 <= 28 eventually holds and is succeeded by r0 > 7, where q0 = 2 does not hold between f0 <= 28 and r0 > 7 .
Between h0 <= 7 and p0 > 17, it is always the case that if i0 > 6 holds, then o0 >= 4 eventually holds.
After j0 > 17, it is always the case that if q0 <= 1 holds, then o0 <= 27 previously held and was preceded by c0 < 18 .
Globally, it is always the case that if e0 >= 19 holds and is succeeded by j0 <= 23, then i0 >= 3 previously held.
Globally, it is always the case that if p0 = 0 holds and is succeeded by h0 > 24, then m0 > 16 eventually holds after h0 > 24 .
Globally, it is always the case that if a0 > 23 holds, then i0 >= 17 eventually holds and is succeeded by f0 = 0 .
Globally, it is always the case that if k0 = 21 holds, then p0 >= 12 eventually holds.
After b0 > 1, it is always the case that if n0 < 14 holds, then o0 <= 14 eventually holds and is succeeded by q0 < 19 .
Between r0 <= 19 and c0 <= 22, it is always the case that a0 <= 1 holds.
Between g0 > 2 and p0 > 11, it is always the case that if o0 > 11 holds, then j0 > 24 eventually holds.
Before b0 <= 2, it is never the case that f0 <= 22 holds.
After c0 > 19, it is always the case that if r0 >= 9 holds and is succeeded by r0 < 21, then m0 >= 27 eventually holds after r0 < 21 .
Globally, it is always the case that if h0 > 6 holds and is succeeded by j0 > 26, then p0 >= 25 previously held.
After k0 = 18, it is always the case that if m0 <= 0 holds, then j0 > 16 eventually holds and is succeeded by l0 >= 21, where d0 >= 25 does not hold between j0 > 16 and l0 >= 21 .
Globally, it is always the case that if b0 = 20 holds, then h0 > 28 eventually holds.
Before m0 <= 31, it is never the case that d0 >= 26 holds.
After c0 > 14 until s0 > 9, it is always the case that if k0 = 28 holds, then j0 < 12 eventually holds and is succeeded by a0 > 26, where l0 <= 22 does not hold between j0 < 12 and a0 > 26 .
Before g0 = 2, it is always the case that if i0 < 21 holds and is succeeded by j0 < 28, then b0 = 17 previously held.
Between o0 < 1 and q0 < 12, it is always the case that if i0 <= 20 holds, then m0 < 23 eventually holds and is succeeded by n0 < 20, where o0 > 25 does not hold between m0 < 23 and n0 < 20 .
Before h0 >= 12, it is never the case that r0 < 15 holds.
Globally, it is always the case that if h0 <= 30 holds, then f0 = 26 previously held and was preceded by h0 >= 20 .
After k0 > 1, it is always the case that if h0 <= 10 holds, then g0 >= 2 eventually holds and is succeeded by g0 = 25, where k0 >= 20 does not hold between g0 >= 2 and g0 = 25 .
After n0 > 23, it is always the case that if g0 > 12 holds, then n0 >= 18 previously held.
Between p0 <= 19 and i0 >= 2, it is always the case that if h0 = 23 holds, then r0 < 1 eventually holds and is succeeded by s0 < 22 .
After s0 <= 24 until d0 < 13, it is always the case that if d0 < 22 holds, then s0 = 12 eventually holds and is succeeded by e0 < 22 .
Globally, it is always the case that if j0 = 10 holds, then b0 >= 31 previously held and was preceded by d0 >= 12 .
After g0 = 11, it is always the case that if f0 = 11 holds, then l0 = 17 previously held.
Globally, l0 < 26 eventually holds.
After m0 <= 23 until q0 < 20, it is always the case that p0 < 13 holds.
Globally, it is always the case that h0 > 11 holds.
Globally, it is always the case that g0 = 10 holds.
After a0 > 7 until m0 < 10, it is always the case that if e0 <= 18 holds, then g0 >= 10 eventually holds.
After i0 > 16 until m0 > 24, it is never the case that a0 <= 25 holds.
After m0 <= 3, it is never the case that i0 < 19 holds.
After p0 >= 15 until l0 >= 29, it is always the case that if l0 = 26 holds, then g0 < 5 previously held.
Between d0 > 20 and e0 >= 28, it is always the case that if p0 < 8 holds, then c0 > 27 previously held.
