Globally, it is always the case that if a10 = 20 holds, then h5 >= 25 eventually holds and is succeeded by g7 > 23, where k12 > 18 does not hold between h5 >= 25 and g7 > 23 .
Between m6 < 22 and i22 > 4, it is always the case that if h0 < 8 holds and is succeeded by k9 >= 25, then c0 <= 25 previously held.
Before r2 = 10, it is always the case that if n11 = 10 holds, then g8 >= 28 previously held and was preceded by s19 > 24 .
After l16 >= 9 until v6 = 26, it is always the case that if h14 = 6 holds and is succeeded by p20 = 24, then m6 > 10 eventually holds after p20 = 24 .
After r9 > 19, it is always the case that if x18 > 11 holds and is succeeded by e23 <= 3, then w4 > 31 eventually holds after e23 <= 3 .
Globally, it is always the case that if z5 <= 26 holds and is succeeded by u2 = 20, then n3 = 10 eventually holds after u2 = 20 .
After v17 = 5, it is always the case that if t11 <= 23 holds and is succeeded by h6 >= 0, then v6 <= 26 eventually holds after h6 >= 0 .
After w18 = 22 until c10 = 28, it is always the case that n2 > 17 holds.
Globally, it is always the case that if y10 >= 30 holds, then g24 >= 27 eventually holds.
After v2 > 13 until e2 <= 26, it is always the case that w4 < 13 holds.
Before e0 <= 12, n20 >= 18 eventually holds.
After h21 <= 1 until i6 <= 16, q6 <= 30 eventually holds.
Before g21 >= 16, it is always the case that k15 > 14 holds.
Globally, it is always the case that if q18 < 0 holds, then n2 >= 30 previously held and was preceded by f1 < 23 .
After h4 >= 20 until i0 <= 25, it is always the case that if g9 < 9 holds, then o19 > 27 eventually holds and is succeeded by u5 < 11 .
After b7 <= 3, it is always the case that if q19 < 19 holds, then p19 >= 3 eventually holds and is succeeded by u7 <= 9, where p8 = 0 does not hold between p19 >= 3 and u7 <= 9 .
Before r6 >= 11, it is always the case that if j20 > 1 holds, then h5 > 29 previously held.
After q5 < 20, it is always the case that if b4 < 23 holds, then k9 > 23 eventually holds and is succeeded by f15 <= 26, where c20 = 2 does not hold between k9 > 23 and f15 <= 26 .
After i2 < 28 until z23 >= 21, it is always the case that if w12 <= 21 holds and is succeeded by a0 >= 4, then g13 <= 10 eventually holds after a0 >= 4 .
Globally, it is always the case that if d2 < 5 holds and is succeeded by m23 > 2, then r2 > 10 previously held.
Globally, it is always the case that if t3 >= 22 holds, then h23 > 13 previously held.
Between w18 > 2 and q6 >= 28, it is always the case that if f16 = 5 holds, then u4 <= 25 previously held and was preceded by i3 > 12 .
Between h10 <= 7 and b9 < 17, it is always the case that if x19 >= 27 holds, then j4 >= 18 previously held.
Globally, it is always the case that if l7 <= 11 holds and is succeeded by b23 < 23, then m4 = 23 previously held.
After j11 > 14, it is always the case that if g4 >= 0 holds, then c11 < 23 eventually holds.
Before c12 = 22, it is always the case that if z21 > 8 holds, then j3 >= 16 eventually holds.
Between q15 = 9 and c6 <= 15, it is always the case that if b1 = 12 holds, then f10 = 11 previously held and was preceded by x21 >= 9 .
Globally, it is always the case that if r14 > 25 holds, then s14 >= 12 eventually holds.
Between k20 = 2 and c9 > 16, it is always the case that if g5 < 2 holds, then e21 = 26 previously held and was preceded by h0 < 9 .
After p4 < 7, it is never the case that m10 <= 14 holds.
After o6 > 21 until s19 <= 12, it is always the case that if p19 <= 5 holds, then f13 >= 10 previously held.
Between x15 = 4 and l24 >= 20, t20 > 4 eventually holds.
After s23 > 19 until p19 <= 26, it is always the case that if l2 <= 3 holds, then l9 = 3 previously held and was preceded by u20 >= 7 .
After j7 < 17, it is always the case that if d17 > 27 holds, then b0 > 8 eventually holds.
Globally, it is never the case that d13 < 12 holds.
Between i14 > 22 and z2 <= 4, it is always the case that d5 <= 23 holds.
Globally, it is always the case that if u19 = 21 holds, then d0 < 3 eventually holds and is succeeded by t17 > 6, where t6 > 25 does not hold between d0 < 3 and t17 > 6 .
Between v12 < 8 and b1 < 20, it is always the case that l13 = 7 holds.
Globally, it is always the case that if s11 > 31 holds and is succeeded by p0 < 21, then z9 >= 0 eventually holds after p0 < 21 .
Before f6 <= 1, it is never the case that m14 > 21 holds.
Between m21 <= 9 and e17 >= 1, it is always the case that if e8 >= 7 holds and is succeeded by f5 = 10, then w19 <= 5 eventually holds after f5 = 10 .
Between b2 >= 8 and l12 <= 25, it is always the case that if l7 <= 21 holds, then d17 <= 29 eventually holds and is succeeded by i7 >= 14 .
After g13 = 6 until j6 <= 4, it is always the case that if c7 < 15 holds and is succeeded by t17 = 9, then w7 = 10 previously held.
Before y0 >= 7, it is always the case that if q1 = 25 holds and is succeeded by r10 >= 26, then q10 > 13 eventually holds after r10 >= 26 .
Globally, it is always the case that if j20 > 20 holds, then u10 > 13 eventually holds.
After h14 > 24, it is always the case that q3 <= 4 holds.
Between x0 > 6 and b15 >= 2, it is always the case that if i15 >= 14 holds, then y5 = 5 previously held and was preceded by t1 >= 9 .
Globally, it is always the case that z13 <= 23 holds.
After h8 > 26 until w13 = 17, it is always the case that if t15 <= 9 holds and is succeeded by v19 > 8, then n23 > 2 previously held.
After p3 < 3, it is always the case that if k16 >= 9 holds, then j14 > 10 eventually holds and is succeeded by p4 > 29 .
Between m9 > 7 and s1 < 28, it is always the case that j18 > 7 holds.
Between p8 = 19 and y7 < 6, it is always the case that if o16 < 26 holds, then r18 >= 6 eventually holds and is succeeded by e22 > 0, where v8 > 18 does not hold between r18 >= 6 and e22 > 0 .
After s21 >= 24, it is never the case that u14 <= 17 holds.
Before f9 < 29, it is always the case that if s3 >= 3 holds and is succeeded by e1 > 22, then k12 > 9 eventually holds after e1 > 22 .
Between l19 = 3 and r1 = 7, it is always the case that if i13 = 27 holds, then d15 <= 24 previously held and was preceded by t21 <= 3 .
Globally, it is always the case that if z22 = 2 holds, then k1 = 1 previously held and was preceded by f18 >= 1 .
Before z0 = 12, it is always the case that if v6 > 0 holds, then n19 >= 19 previously held and was preceded by m3 >= 17 .
Before r23 > 22, it is always the case that if u21 = 1 holds, then n16 <= 31 previously held.
Globally, it is always the case that if s6 > 28 holds and is succeeded by o12 = 30, then n10 <= 30 eventually holds after o12 = 30 .
Globally, it is always the case that p23 > 30 holds.
After u9 > 27 until h6 >= 1, it is always the case that if r19 > 2 holds, then z11 < 24 previously held.
Between j4 > 28 and h7 = 3, it is always the case that r20 < 20 holds.
Between q10 = 2 and b7 = 24, it is always the case that if b12 <= 2 holds, then h10 >= 31 eventually holds and is succeeded by q2 <= 7, where v2 <= 29 does not hold between h10 >= 31 and q2 <= 7 .
After y11 = 14 until b0 = 26, it is always the case that if i2 <= 20 holds, then l20 > 6 eventually holds and is succeeded by o2 > 27 .
After d13 <= 22 until r17 > 6, it is always the case that if s9 < 5 holds, then x3 = 4 previously held.
Between x12 < 23 and z2 > 3, it is always the case that if q8 >= 9 holds, then g12 >= 1 eventually holds.
Before b7 < 6, it is always the case that r5 > 31 holds.
Globally, it is always the case that if j14 > 5 holds and is succeeded by b19 < 11, then l24 > 3 eventually holds after b19 < 11 .
Globally, it is always the case that if j8 > 20 holds, then g1 >= 1 previously held and was preceded by n12 > 24 .
Between d19 = 25 and h4 = 8, u17 > 8 eventually holds.
After p13 <= 29, it is always the case that if l23 = 13 holds and is succeeded by c6 > 7, then u10 = 14 eventually holds after c6 > 7 .
Globally, it is always the case that b4 <= 20 holds.
Before o17 = 29, it is always the case that if r0 > 27 holds and is succeeded by l14 <= 27, then l6 = 17 eventually holds after l14 <= 27 .
Between s20 > 26 and i5 > 19, it is never the case that p9 >= 5 holds.
Before a18 = 2, it is always the case that if m15 >= 11 holds, then k19 <= 19 previously held and was preceded by n16 >= 0 .
Before b6 < 17, it is never the case that c8 > 1 holds.
After f14 <= 12, it is always the case that if m8 = 22 holds, then b13 <= 2 eventually holds and is succeeded by z11 >= 18, where b22 >= 6 does not hold between b13 <= 2 and z11 >= 18 .
After f22 > 11 until i14 <= 19, it is always the case that if w2 <= 12 holds, then r18 <= 27 eventually holds and is succeeded by t16 <= 22, where j3 < 21 does not hold between r18 <= 27 and t16 <= 22 .
Before z11 = 21, it is never the case that j22 > 5 holds.
After v6 < 3, d5 = 7 eventually holds.
Before d0 < 3, it is always the case that if y7 <= 18 holds, then z22 <= 9 previously held.
Globally, it is always the case that if v8 <= 0 holds and is succeeded by o22 = 5, then l11 = 25 previously held.
Between n6 > 9 and v10 >= 8, it is always the case that if l9 > 18 holds and is succeeded by w20 > 15, then a12 < 17 previously held.
Globally, it is always the case that if k20 <= 29 holds and is succeeded by f1 < 10, then t1 < 26 eventually holds after f1 < 10 .
Between o16 >= 3 and x0 <= 10, it is never the case that t0 = 1 holds.
After a20 < 30, it is always the case that if m14 >= 14 holds, then z9 >= 26 eventually holds and is succeeded by e20 = 1 .
Between k12 = 21 and w0 <= 28, it is always the case that if u18 < 3 holds, then t19 = 16 previously held and was preceded by v9 > 19 .
Between g3 < 1 and k18 > 28, it is always the case that if s13 <= 31 holds, then o11 <= 5 eventually holds and is succeeded by c24 = 24, where w7 >= 30 does not hold between o11 <= 5 and c24 = 24 .
Before b10 <= 26, it is always the case that if t10 = 8 holds, then h14 > 11 previously held and was preceded by d16 <= 5 .
After h16 >= 8 until j15 > 19, it is always the case that a14 < 2 holds.
Before z8 = 14, it is always the case that p6 = 14 holds.
Before p4 >= 22, it is always the case that if l1 <= 2 holds, then d15 <= 5 previously held and was preceded by d5 < 10 .
Before n9 > 19, it is always the case that if v13 < 29 holds, then i4 >= 15 eventually holds and is succeeded by d15 >= 12, where u11 >= 20 does not hold between i4 >= 15 and d15 >= 12 .
Between a16 = 19 and n5 >= 8, it is always the case that if b24 = 29 holds and is succeeded by o7 >= 29, then m23 < 21 previously held.
Globally, it is always the case that if e5 < 8 holds and is succeeded by r5 < 6, then o12 >= 5 eventually holds after r5 < 6 .
Before i23 < 9, it is never the case that k10 <= 7 holds.
Before e13 >= 16, it is always the case that if t9 > 6 holds, then l14 < 7 eventually holds and is succeeded by w11 = 24 .
After f13 = 18, it is always the case that if k23 > 8 holds, then n4 = 20 previously held.
After g4 <= 18 until h23 > 14, it is always the case that if r7 >= 23 holds and is succeeded by b18 < 18, then q19 > 19 previously held.
Between n11 > 21 and f19 >= 10, it is always the case that if i8 < 16 holds, then m23 = 31 eventually holds and is succeeded by k21 >= 16, where g14 >= 23 does not hold between m23 = 31 and k21 >= 16 .
Between c22 = 28 and u22 > 1, it is always the case that v8 < 28 holds.
Globally, it is never the case that a13 < 3 holds.
Between k4 = 3 and p22 = 26, it is always the case that if m5 >= 16 holds and is succeeded by n0 = 14, then b8 > 27 previously held.
After n3 <= 15, it is never the case that h4 <= 7 holds.
After j19 >= 29, it is always the case that if r15 <= 4 holds, then t13 > 9 eventually holds and is succeeded by f20 > 20, where e11 = 16 does not hold between t13 > 9 and f20 > 20 .
After t7 = 9 until z21 >= 10, it is always the case that if v1 >= 17 holds, then k5 >= 14 eventually holds.
After m2 <= 21, it is always the case that if p20 >= 19 holds, then x0 = 24 previously held and was preceded by d11 < 29 .
Globally, it is always the case that if a4 <= 9 holds and is succeeded by s0 < 21, then b24 >= 4 eventually holds after s0 < 21 .
Before n7 > 18, j11 >= 16 eventually holds.
Globally, it is always the case that if k23 >= 8 holds, then y11 >= 12 previously held and was preceded by u3 < 20 .
Globally, it is never the case that w11 <= 26 holds.
Before h14 >= 31, it is always the case that p17 >= 5 holds.
After g13 >= 8, it is always the case that if d20 > 30 holds and is succeeded by h21 >= 8, then b7 <= 0 previously held.
Globally, it is always the case that if w13 = 30 holds, then x22 = 8 eventually holds.
Before c6 > 21, it is always the case that if p5 >= 19 holds, then a7 < 4 eventually holds.
Between r8 = 29 and c23 > 5, it is always the case that if b1 >= 4 holds, then t13 >= 14 eventually holds and is succeeded by a14 <= 7, where a9 < 24 does not hold between t13 >= 14 and a14 <= 7 .
Before l13 <= 20, it is never the case that j8 > 10 holds.
After x16 >= 6 until e2 > 1, it is never the case that x4 <= 31 holds.
Globally, it is always the case that s21 <= 11 holds.
Globally, it is always the case that if a23 <= 25 holds and is succeeded by b0 = 14, then m5 >= 28 eventually holds after b0 = 14 .
Globally, c4 < 17 eventually holds.
After n19 <= 2, it is always the case that if w7 <= 28 holds, then f11 >= 18 eventually holds.
Between z20 = 25 and v2 > 16, it is always the case that if w0 > 7 holds and is succeeded by s21 >= 5, then d22 = 2 previously held.
Between r5 > 23 and k8 >= 10, it is always the case that if a23 <= 25 holds, then d4 >= 0 previously held.
Between s11 < 3 and h9 <= 2, it is always the case that if e19 <= 23 holds, then v23 < 8 eventually holds and is succeeded by x22 >= 15, where z4 >= 9 does not hold between v23 < 8 and x22 >= 15 .
Before p23 = 24, it is always the case that if y8 > 25 holds, then t17 = 17 eventually holds.
Before r12 = 29, it is always the case that if d6 > 5 holds, then l1 = 26 eventually holds.
Globally, it is always the case that if q10 >= 18 holds and is succeeded by y9 <= 6, then t23 > 12 eventually holds after y9 <= 6 .
After o19 < 14, it is always the case that if o12 = 12 holds, then b12 > 3 eventually holds and is succeeded by c11 > 17 .
After s8 > 30, it is always the case that if g4 >= 21 holds and is succeeded by j12 <= 14, then w15 < 24 eventually holds after j12 <= 14 .
After h24 >= 1 until a2 <= 23, it is always the case that if d17 < 6 holds, then m17 > 0 eventually holds and is succeeded by j20 <= 5 .
After x10 <= 7 until j16 <= 22, it is always the case that if o19 <= 6 holds, then j11 = 5 eventually holds and is succeeded by u8 = 10, where a6 > 11 does not hold between j11 = 5 and u8 = 10 .
Between o1 = 7 and q0 > 31, it is always the case that if u6 < 1 holds and is succeeded by j17 = 25, then n23 = 17 eventually holds after j17 = 25 .
After s23 >= 3 until j6 >= 6, it is always the case that if a20 > 3 holds, then n19 = 27 eventually holds.
Globally, it is always the case that if g5 > 1 holds, then f11 = 23 eventually holds and is succeeded by p16 < 6 .
Between v6 >= 16 and u3 < 4, it is always the case that if y1 < 7 holds, then e7 <= 29 previously held and was preceded by g11 > 15 .
After n4 > 16 until v23 > 26, it is always the case that if a17 <= 31 holds, then q18 > 23 previously held and was preceded by g7 > 28 .
After d19 = 30, it is always the case that if i21 <= 18 holds, then v7 <= 14 eventually holds and is succeeded by t5 < 29, where a3 >= 4 does not hold between v7 <= 14 and t5 < 29 .
After y10 = 31 until q6 > 5, it is always the case that if q11 <= 16 holds and is succeeded by u16 < 5, then r8 > 14 previously held.
After l23 >= 23, it is never the case that a7 <= 13 holds.
Between m18 >= 10 and c23 >= 11, it is always the case that if k5 < 12 holds, then f14 >= 27 eventually holds and is succeeded by m0 > 19 .
Between h17 > 9 and i13 <= 19, it is always the case that if i11 > 15 holds and is succeeded by q1 <= 25, then f2 >= 23 previously held.
Between b15 < 30 and b14 <= 4, it is always the case that if t23 > 25 holds, then q1 = 15 previously held and was preceded by h6 = 11 .
Between l11 < 5 and u15 <= 8, it is always the case that if x3 = 10 holds and is succeeded by u8 <= 30, then t16 <= 6 previously held.
Globally, a22 > 27 eventually holds.
Before h18 < 3, it is always the case that if r16 = 10 holds, then u9 >= 0 previously held.
Before u6 <= 31, it is always the case that if n0 = 16 holds, then m12 < 11 eventually holds and is succeeded by f21 < 31, where u22 >= 7 does not hold between m12 < 11 and f21 < 31 .
Before l0 > 5, it is always the case that l13 < 13 holds.
After b2 = 12 until x17 < 17, e9 = 30 eventually holds.
Before t13 <= 30, it is always the case that if d5 > 27 holds, then u19 >= 1 previously held and was preceded by x21 = 29 .
After a1 = 17 until b11 > 19, it is always the case that if a0 <= 7 holds, then p12 <= 6 eventually holds and is succeeded by t6 = 17 .
After h3 > 11 until g24 < 24, it is never the case that f7 = 17 holds.
Between x7 < 5 and q4 < 1, it is always the case that if s18 = 27 holds, then d11 = 10 eventually holds.
Between p1 > 3 and p21 > 2, it is never the case that l16 < 16 holds.
Before u16 >= 13, it is always the case that if z14 > 17 holds and is succeeded by w16 <= 29, then s22 <= 18 eventually holds after w16 <= 29 .
After x2 < 5, it is always the case that if i2 = 18 holds, then m3 > 29 eventually holds.
Globally, it is always the case that e15 > 8 holds.
After b5 >= 3, it is always the case that if q12 <= 16 holds, then l14 < 28 previously held and was preceded by t0 = 27 .
Before k22 <= 21, it is never the case that x9 > 27 holds.
Globally, it is always the case that x17 > 29 holds.
Between p6 <= 8 and u15 >= 20, it is never the case that f22 <= 2 holds.
Between n24 > 15 and a19 <= 13, it is always the case that if c12 > 5 holds, then a24 <= 17 eventually holds and is succeeded by o2 <= 25 .
Between u9 <= 17 and q19 <= 17, it is always the case that if u9 > 31 holds, then b5 <= 13 eventually holds and is succeeded by o15 < 22 .
Globally, it is always the case that if i21 = 7 holds, then c4 > 13 previously held.
Between q13 >= 14 and l1 < 26, it is always the case that if c6 = 1 holds and is succeeded by i1 < 22, then h24 < 0 previously held.
Before m2 = 4, it is always the case that if o8 > 0 holds, then p12 < 26 previously held.
Globally, it is always the case that if h4 < 17 holds and is succeeded by m8 = 7, then o17 <= 28 eventually holds after m8 = 7 .
Before s6 < 21, it is always the case that x5 = 9 holds.
After s20 >= 27 until z0 > 27, it is never the case that q23 < 30 holds.
After l21 <= 13, it is always the case that if y22 = 3 holds, then w3 >= 28 eventually holds and is succeeded by r19 > 14, where m14 >= 29 does not hold between w3 >= 28 and r19 > 14 .
After d14 > 10 until a22 >= 1, it is always the case that if r5 = 4 holds, then h20 < 5 eventually holds and is succeeded by m12 >= 5 .
Between r3 >= 6 and q0 = 2, it is always the case that if w1 <= 7 holds and is succeeded by g7 = 26, then r8 < 24 previously held.
Globally, it is always the case that if q5 <= 24 holds and is succeeded by x4 >= 2, then w0 <= 7 previously held.
Globally, it is always the case that if j18 < 24 holds, then h6 <= 4 eventually holds.
Globally, it is always the case that if v13 < 25 holds, then h21 > 9 previously held.
Globally, it is always the case that if w14 = 29 holds, then n20 < 4 previously held and was preceded by b2 < 18 .
Before m11 = 28, it is always the case that if u21 >= 23 holds, then n24 <= 25 eventually holds and is succeeded by l5 >= 22, where u21 <= 29 does not hold between n24 <= 25 and l5 >= 22 .
Globally, y14 = 19 eventually holds.
After s7 >= 24, it is always the case that if c23 = 13 holds, then p11 <= 13 eventually holds.
Before e16 = 4, it is always the case that n23 = 15 holds.
Between s17 <= 11 and i12 <= 20, it is always the case that if s8 > 11 holds, then d15 <= 9 eventually holds and is succeeded by i12 < 4 .
After y23 >= 4, it is always the case that if v15 < 17 holds and is succeeded by q5 = 27, then c14 < 6 eventually holds after q5 = 27 .
After e22 > 0, it is never the case that r6 < 26 holds.
Globally, it is always the case that if a7 > 14 holds, then k17 <= 5 previously held and was preceded by t14 > 11 .
Globally, it is always the case that if v0 >= 8 holds, then v18 >= 25 eventually holds and is succeeded by x1 <= 1, where e21 <= 1 does not hold between v18 >= 25 and x1 <= 1 .
After d3 > 21 until a7 > 9, it is always the case that if g17 > 17 holds and is succeeded by e7 <= 15, then b9 <= 19 previously held.
After u23 = 14, it is always the case that if d2 <= 22 holds, then k20 > 15 previously held.
Globally, it is always the case that if e20 > 27 holds, then r2 = 24 eventually holds and is succeeded by z5 <= 25 .
Before k15 > 23, it is always the case that if c9 < 10 holds, then s15 < 4 eventually holds.
Globally, l13 <= 31 eventually holds.
Before l1 > 31, it is always the case that if p17 < 4 holds and is succeeded by n24 < 29, then e11 = 2 eventually holds after n24 < 29 .
After p4 > 0 until k4 = 6, it is never the case that a6 = 6 holds.
After b5 < 0 until n9 < 6, it is always the case that if s1 < 27 holds and is succeeded by c1 <= 12, then y18 >= 6 previously held.
Globally, it is always the case that if p12 < 25 holds, then t13 <= 31 eventually holds and is succeeded by o23 = 30 .
After x12 = 9 until r13 <= 16, it is always the case that if x23 < 10 holds and is succeeded by e19 > 3, then l17 >= 15 eventually holds after e19 > 3 .
After p20 <= 14, it is always the case that if v14 > 13 holds, then q3 >= 31 eventually holds and is succeeded by k19 > 16 .
Before p2 > 3, it is always the case that if a0 >= 23 holds, then r9 > 0 previously held.
Globally, it is never the case that d2 < 4 holds.
After p16 < 5, it is always the case that if a14 < 21 holds, then n16 <= 17 eventually holds and is succeeded by h18 > 9, where q1 < 12 does not hold between n16 <= 17 and h18 > 9 .
Between q18 = 8 and y7 >= 19, it is never the case that h11 <= 10 holds.
After p17 <= 21 until n2 < 14, it is always the case that y0 > 17 holds.
Between g1 < 26 and p10 < 10, it is always the case that if g0 > 21 holds, then c12 <= 24 previously held.
Globally, it is always the case that if w11 <= 22 holds, then m19 <= 5 eventually holds and is succeeded by j3 < 13, where q6 > 5 does not hold between m19 <= 5 and j3 < 13 .
After n23 < 13, it is always the case that v1 >= 31 holds.
After c5 = 19, it is always the case that if k7 = 29 holds, then f1 >= 11 previously held and was preceded by s18 > 6 .
Globally, it is always the case that if t14 < 18 holds, then i1 > 0 eventually holds.
Between y9 >= 3 and z0 >= 1, it is never the case that w3 < 14 holds.
After l2 >= 4 until n4 > 6, it is always the case that if h9 < 30 holds, then j23 <= 30 eventually holds.
Before d16 = 8, it is always the case that if a11 = 31 holds, then x22 < 9 eventually holds and is succeeded by g5 > 3, where h5 < 14 does not hold between x22 < 9 and g5 > 3 .
Before m11 > 19, it is always the case that if e19 > 26 holds and is succeeded by l6 > 4, then e13 >= 21 previously held.
After w15 = 1 until m14 = 22, it is never the case that g24 < 11 holds.
After n24 >= 11, k11 > 27 eventually holds.
Globally, it is never the case that m1 >= 4 holds.
After e8 >= 9 until e4 >= 27, it is always the case that i3 >= 22 holds.
Globally, it is always the case that if q1 >= 28 holds, then r10 > 17 previously held.
After x17 > 23 until d13 < 28, y9 > 1 eventually holds.
Between j1 = 22 and z23 >= 16, it is always the case that if c0 < 26 holds, then w3 <= 12 eventually holds and is succeeded by n19 > 13 .
After e11 < 24 until l13 > 5, it is always the case that if y8 > 10 holds, then i19 >= 21 previously held and was preceded by v20 > 5 .
Globally, it is always the case that if e7 > 3 holds, then d11 < 7 eventually holds and is succeeded by a6 = 5, where d10 > 19 does not hold between d11 < 7 and a6 = 5 .
After k17 < 19 until x16 > 25, it is always the case that if l3 <= 19 holds, then w16 >= 31 previously held and was preceded by h16 < 15 .
After b12 > 27, it is always the case that if h8 > 24 holds and is succeeded by s21 < 12, then b21 = 21 eventually holds after s21 < 12 .
After j19 = 17 until y11 >= 19, it is always the case that if g21 <= 7 holds and is succeeded by d23 >= 11, then l14 > 5 eventually holds after d23 >= 11 .
After o14 = 21 until j13 = 24, it is always the case that if x3 > 7 holds and is succeeded by f12 >= 7, then f6 <= 29 previously held.
Between l0 <= 22 and p1 >= 22, it is always the case that if e19 = 9 holds and is succeeded by d22 >= 3, then x16 >= 22 eventually holds after d22 >= 3 .
After i18 < 17, it is always the case that if l17 = 28 holds, then u23 >= 19 previously held.
Before p13 > 21, it is never the case that u5 < 19 holds.
After r2 >= 10 until w11 > 10, it is always the case that if l7 > 27 holds and is succeeded by e20 > 16, then g23 > 14 eventually holds after e20 > 16 .
Globally, q8 > 18 eventually holds.
Between e15 = 7 and w14 = 3, it is always the case that t20 >= 11 holds.
Between y15 = 28 and e15 < 26, it is never the case that d13 <= 9 holds.
Before f18 > 7, it is always the case that if u9 < 24 holds, then w16 <= 13 eventually holds and is succeeded by h8 >= 27, where z19 >= 12 does not hold between w16 <= 13 and h8 >= 27 .
Between s10 <= 2 and z9 >= 9, it is always the case that if y9 <= 11 holds, then i3 >= 2 eventually holds and is succeeded by v3 <= 16 .
Between k12 = 0 and v7 = 1, it is always the case that if k0 = 18 holds, then c20 <= 30 previously held.
Globally, it is always the case that if h4 <= 2 holds and is succeeded by a19 = 30, then a10 > 2 eventually holds after a19 = 30 .
Between a19 <= 26 and x8 < 15, it is always the case that if g4 < 23 holds, then l10 >= 12 eventually holds and is succeeded by x20 > 24 .
Before o13 > 19, it is always the case that if k23 < 20 holds and is succeeded by y7 = 0, then q21 > 28 eventually holds after y7 = 0 .
Globally, c8 <= 2 eventually holds.
Between d21 < 20 and e9 < 6, it is always the case that if a4 <= 23 holds and is succeeded by r17 = 4, then o15 <= 23 eventually holds after r17 = 4 .
Before h1 >= 16, j20 <= 19 eventually holds.
After m1 = 15 until e21 = 8, it is always the case that if j5 < 1 holds, then x22 < 0 eventually holds.
