After c0 > 12 until f1 >= 10, it is always the case that if p0 <= 13 holds, then j0 > 4 eventually holds and is succeeded by l1 <= 1, where g0 < 7 does not hold between j0 > 4 and l1 <= 1 .
Before q0 <= 7, it is always the case that u0 = 4 holds.
Before h0 > 7, it is always the case that if x0 > 4 holds, then f0 > 14 eventually holds.
Globally, it is always the case that if m1 = 0 holds, then h1 <= 10 eventually holds.
After r0 = 1 until k1 < 14, k1 <= 3 eventually holds.
Before y0 >= 14, it is never the case that w0 > 5 holds.
After b0 <= 7 until p0 <= 4, it is always the case that if y0 < 8 holds and is succeeded by t0 > 15, then d1 > 10 previously held.
Between k1 = 6 and m1 > 0, it is always the case that w0 < 9 holds.
Globally, n0 = 0 eventually holds.
Globally, it is always the case that if u0 > 8 holds and is succeeded by k0 > 8, then a0 > 9 previously held.
Before k0 = 10, it is always the case that if d0 > 5 holds, then d0 > 13 previously held.
Globally, it is always the case that if e0 > 13 holds and is succeeded by d0 >= 11, then r0 = 2 eventually holds after d0 >= 11 .
After r0 < 15 until l1 <= 6, it is always the case that a1 < 3 holds.
Before d0 >= 14, it is always the case that w0 < 8 holds.
Between v0 < 9 and k1 <= 11, it is always the case that if n0 >= 7 holds, then r0 > 9 previously held and was preceded by d1 > 6 .
Globally, it is always the case that if k0 <= 4 holds, then a0 = 1 previously held.
After v0 <= 11, it is always the case that if e0 <= 15 holds, then m1 < 12 eventually holds and is succeeded by l0 <= 15, where r0 > 4 does not hold between m1 < 12 and l0 <= 15 .
Between e0 = 2 and l1 >= 11, it is always the case that if b1 > 7 holds, then b1 >= 8 previously held and was preceded by c1 > 11 .
Globally, it is always the case that j1 < 14 holds.
After b0 > 1 until o0 <= 9, it is always the case that if b0 > 4 holds, then q0 < 9 eventually holds and is succeeded by y0 < 4, where o0 < 9 does not hold between q0 < 9 and y0 < 4 .
Between k0 <= 8 and z0 >= 8, it is always the case that if m1 <= 12 holds, then u0 < 4 previously held.
Globally, it is always the case that u0 >= 9 holds.
Before d1 <= 11, it is always the case that if e1 >= 9 holds, then f1 > 12 previously held and was preceded by k1 >= 15 .
Globally, it is always the case that y0 >= 12 holds.
Between g1 = 9 and o0 < 12, it is always the case that if d0 <= 0 holds, then n0 > 4 eventually holds and is succeeded by v0 > 4, where n0 >= 9 does not hold between n0 > 4 and v0 > 4 .
Globally, it is always the case that if m0 = 9 holds, then j1 < 4 eventually holds and is succeeded by c1 >= 8 .
After j0 > 4, it is always the case that if b1 > 13 holds, then f0 <= 10 eventually holds.
After i1 > 1 until g1 < 8, p0 >= 1 eventually holds.
Globally, it is always the case that if l0 <= 13 holds and is succeeded by c1 = 7, then l1 >= 11 previously held.
Before b1 < 1, it is never the case that b0 > 4 holds.
Between g0 < 14 and e0 >= 1, it is always the case that g1 <= 10 holds.
After x0 <= 7, it is always the case that a0 < 3 holds.
After g0 >= 15, it is always the case that l1 = 1 holds.
Globally, it is always the case that if b0 >= 12 holds, then r0 >= 2 eventually holds and is succeeded by i1 <= 13, where o0 > 9 does not hold between r0 >= 2 and i1 <= 13 .
After a0 <= 13 until m1 < 15, it is always the case that if l1 >= 6 holds and is succeeded by g1 = 11, then d1 < 15 previously held.
After h0 > 15, it is always the case that w0 > 13 holds.
Globally, it is always the case that if i0 > 3 holds and is succeeded by m0 = 1, then k0 > 7 previously held.
Globally, it is always the case that if s0 = 10 holds, then m1 < 11 previously held and was preceded by d0 >= 10 .
Before k1 >= 15, it is always the case that if i0 >= 9 holds and is succeeded by k1 = 14, then m1 = 6 previously held.
Globally, it is always the case that if k0 >= 9 holds, then n0 > 2 eventually holds and is succeeded by g1 <= 8 .
After b0 < 13, it is always the case that if i1 >= 3 holds, then d1 > 5 eventually holds and is succeeded by a0 = 12, where g0 >= 5 does not hold between d1 > 5 and a0 = 12 .
Globally, it is always the case that if l1 = 5 holds, then j1 >= 10 previously held and was preceded by c1 > 15 .
After k0 < 11, it is always the case that if m0 >= 8 holds, then l0 < 8 eventually holds and is succeeded by l0 < 8 .
Globally, it is always the case that if s0 > 11 holds, then w0 >= 10 eventually holds.
After i1 = 8, it is always the case that if o0 = 11 holds, then w0 = 9 eventually holds and is succeeded by e1 < 15 .
Between b0 < 13 and l1 >= 15, i1 > 4 eventually holds.
After q0 < 10 until m1 >= 0, l0 = 12 eventually holds.
Before x0 >= 5, it is always the case that if h0 <= 14 holds and is succeeded by c0 >= 2, then c1 >= 12 eventually holds after c0 >= 2 .
Between k1 = 5 and m1 < 6, it is always the case that if a1 >= 1 holds and is succeeded by e0 <= 9, then t0 >= 7 eventually holds after e0 <= 9 .
Between g0 < 8 and f1 < 14, e1 = 7 eventually holds.
After v0 > 13 until z0 > 15, it is always the case that if g1 <= 15 holds, then a1 >= 15 previously held.
Globally, it is always the case that h1 = 10 holds.
Before o0 = 5, a0 >= 2 eventually holds.
Before k0 <= 11, it is always the case that i1 >= 9 holds.
After w0 <= 11, i0 <= 12 eventually holds.
After g1 = 8, f0 > 5 eventually holds.
After b1 <= 4, it is always the case that if h0 = 3 holds, then s0 <= 14 eventually holds and is succeeded by u0 <= 5 .
After g1 < 8 until f0 > 6, it is always the case that if m0 = 13 holds, then m0 > 5 previously held and was preceded by g1 <= 0 .
Before z0 >= 1, it is always the case that if e0 < 10 holds, then v0 >= 11 previously held.
Between l0 > 6 and q0 < 4, j1 < 8 eventually holds.
Globally, it is always the case that if c0 >= 15 holds and is succeeded by k0 <= 9, then r0 <= 8 previously held.
Before h0 <= 11, it is always the case that if e0 >= 10 holds and is succeeded by m1 = 5, then b1 <= 6 previously held.
After b0 < 12 until e1 < 15, it is always the case that if j0 >= 2 holds and is succeeded by o0 < 3, then a0 = 4 eventually holds after o0 < 3 .
After m1 < 4 until l1 < 1, j0 > 7 eventually holds.
Between m0 >= 8 and j1 > 14, it is always the case that if x0 >= 5 holds, then s0 > 3 eventually holds and is succeeded by t0 <= 0 .
Before f1 = 15, b0 = 6 eventually holds.
After g1 > 10, it is always the case that if i0 > 10 holds, then l1 < 2 eventually holds.
After i0 = 13, it is always the case that m0 = 3 holds.
Globally, it is always the case that if t0 >= 12 holds and is succeeded by p0 <= 11, then a1 < 9 previously held.
Globally, it is always the case that if j1 < 8 holds and is succeeded by v0 <= 12, then g1 <= 5 previously held.
Between n0 < 6 and g1 < 5, it is always the case that if w0 <= 7 holds, then l0 < 6 previously held and was preceded by p0 >= 7 .
Globally, it is always the case that if o0 < 14 holds and is succeeded by r0 > 8, then a1 < 6 previously held.
Before l0 <= 10, i0 >= 3 eventually holds.
Before c0 = 1, it is always the case that if d0 = 2 holds, then a0 <= 15 eventually holds and is succeeded by h0 < 5, where x0 <= 3 does not hold between a0 <= 15 and h0 < 5 .
Globally, q0 > 0 eventually holds.
Before m1 < 15, it is always the case that if m0 >= 5 holds, then f0 <= 0 eventually holds and is succeeded by n0 < 6 .
Globally, it is always the case that if d0 < 3 holds and is succeeded by j1 = 14, then n0 > 9 previously held.
After g1 <= 14 until h1 > 13, it is always the case that if f1 = 2 holds and is succeeded by l0 <= 13, then g1 >= 3 eventually holds after l0 <= 13 .
Before x0 >= 10, it is always the case that if q0 <= 8 holds and is succeeded by q0 >= 6, then m1 = 2 eventually holds after q0 >= 6 .
Before q0 > 8, it is always the case that if l1 = 13 holds, then t0 <= 2 eventually holds and is succeeded by v0 >= 3 .
Globally, it is always the case that if e0 < 5 holds, then z0 = 13 previously held and was preceded by a1 >= 1 .
After w0 < 11 until g0 >= 1, it is always the case that if m1 >= 11 holds, then m0 = 6 previously held.
Between m1 <= 2 and b0 = 5, it is always the case that if c1 <= 4 holds, then t0 > 11 previously held.
After c1 > 4 until d1 >= 3, it is never the case that e1 <= 12 holds.
After x0 > 8 until a1 = 15, it is always the case that if f0 = 14 holds and is succeeded by u0 = 10, then e1 > 14 previously held.
After e0 > 8 until a1 > 7, it is always the case that if d0 < 13 holds, then m0 <= 7 eventually holds and is succeeded by e1 > 10, where k0 < 13 does not hold between m0 <= 7 and e1 > 10 .
Before e1 = 15, it is always the case that if h0 > 15 holds, then p0 <= 3 previously held.
After p0 <= 9, it is always the case that if j0 >= 15 holds and is succeeded by p0 < 9, then j0 <= 4 previously held.
Before o0 >= 3, it is always the case that if v0 = 13 holds and is succeeded by f0 > 2, then g1 > 15 previously held.
After z0 <= 0 until i0 < 8, it is always the case that if z0 < 6 holds and is succeeded by o0 < 5, then a1 > 4 previously held.
Before e0 < 5, it is never the case that h0 >= 4 holds.
Globally, it is always the case that if a1 > 10 holds, then g1 <= 14 previously held.
Globally, it is always the case that if y0 > 3 holds and is succeeded by e1 < 0, then v0 < 9 eventually holds after e1 < 0 .
After h0 <= 15, f1 >= 4 eventually holds.
After s0 >= 6, it is always the case that if u0 = 1 holds, then d0 < 4 previously held and was preceded by u0 >= 9 .
Globally, it is always the case that if d0 <= 3 holds, then z0 < 6 eventually holds.
After t0 > 0 until e0 < 10, it is never the case that k1 >= 15 holds.
Globally, it is always the case that if a1 <= 4 holds, then f0 > 3 previously held and was preceded by n0 < 5 .
Between d0 < 3 and l0 > 7, it is always the case that if z0 >= 0 holds, then o0 >= 13 eventually holds and is succeeded by t0 < 5 .
Before t0 > 3, it is always the case that if j0 >= 6 holds, then o0 = 3 eventually holds.
After r0 >= 8 until n0 = 11, it is always the case that if g0 >= 2 holds, then o0 > 4 eventually holds and is succeeded by c1 > 13, where i1 <= 1 does not hold between o0 > 4 and c1 > 13 .
Before j1 < 13, it is always the case that if d1 = 3 holds, then k0 > 12 eventually holds and is succeeded by s0 > 8 .
Between g0 > 0 and c1 < 3, it is always the case that if u0 > 11 holds, then i1 <= 2 previously held.
Before j0 < 2, it is always the case that if b0 = 7 holds, then w0 > 13 eventually holds and is succeeded by g1 = 4 .
Before m0 <= 12, it is always the case that if b1 >= 10 holds, then y0 <= 5 eventually holds.
Before d1 = 13, it is always the case that if w0 > 6 holds, then a1 < 14 eventually holds and is succeeded by m0 = 12, where z0 > 6 does not hold between a1 < 14 and m0 = 12 .
Globally, it is always the case that if n0 = 4 holds, then d1 <= 13 eventually holds and is succeeded by f1 >= 13, where c1 > 9 does not hold between d1 <= 13 and f1 >= 13 .
Between d0 > 13 and a0 <= 7, it is always the case that if z0 >= 6 holds, then z0 = 11 eventually holds and is succeeded by i1 >= 2 .
After e0 = 5, it is always the case that if r0 < 5 holds and is succeeded by t0 <= 1, then g1 >= 6 previously held.
Between d1 >= 12 and y0 >= 2, it is always the case that if t0 = 12 holds, then i0 > 12 previously held and was preceded by g1 >= 3 .
Before k1 > 12, it is always the case that if j1 >= 12 holds, then j0 < 3 eventually holds and is succeeded by a0 > 2, where x0 > 13 does not hold between j0 < 3 and a0 > 2 .
Between i1 > 4 and n0 >= 0, a0 = 14 eventually holds.
Globally, it is always the case that c0 = 4 holds.
After h0 < 14 until l1 >= 15, it is always the case that if y0 < 2 holds, then z0 < 1 eventually holds and is succeeded by k0 = 3, where f0 <= 6 does not hold between z0 < 1 and k0 = 3 .
Between t0 <= 14 and f0 < 11, it is always the case that if j1 = 13 holds, then c0 = 11 eventually holds and is succeeded by k1 < 4, where s0 > 3 does not hold between c0 = 11 and k1 < 4 .
After o0 = 0, e1 > 5 eventually holds.
Globally, it is always the case that if a1 <= 8 holds and is succeeded by i0 >= 2, then d1 = 10 eventually holds after i0 >= 2 .
After i1 = 4, it is always the case that if i0 >= 0 holds and is succeeded by e0 <= 10, then g0 < 13 eventually holds after e0 <= 10 .
Before p0 = 14, it is always the case that if c0 <= 15 holds and is succeeded by a1 >= 15, then q0 = 12 eventually holds after a1 >= 15 .
After m0 < 14, it is always the case that if m0 >= 11 holds, then p0 = 13 eventually holds.
Globally, it is never the case that s0 >= 11 holds.
Before i1 > 2, a1 > 15 eventually holds.
Globally, it is always the case that if n0 = 11 holds, then g0 > 5 previously held and was preceded by e0 <= 8 .
After d1 < 14 until p0 = 6, it is always the case that if e0 > 4 holds and is succeeded by m0 > 2, then e0 >= 5 eventually holds after m0 > 2 .
Globally, it is never the case that p0 = 0 holds.
After g1 > 10, it is always the case that h1 > 13 holds.
Globally, it is always the case that if c0 >= 13 holds, then v0 >= 4 previously held.
Globally, it is always the case that if h0 < 3 holds and is succeeded by l0 <= 13, then f0 < 3 eventually holds after l0 <= 13 .
Before u0 > 7, it is always the case that if t0 > 1 holds, then c1 < 13 eventually holds and is succeeded by y0 <= 3 .
Globally, it is always the case that if l1 = 9 holds, then a1 < 10 eventually holds and is succeeded by b0 = 8 .
After j0 = 2 until d0 <= 7, it is always the case that if m1 > 0 holds, then l0 = 0 eventually holds and is succeeded by e1 < 12, where f1 = 0 does not hold between l0 = 0 and e1 < 12 .
After m1 >= 8, it is always the case that if p0 > 9 holds and is succeeded by o0 > 11, then t0 < 7 eventually holds after o0 > 11 .
Globally, it is always the case that if f0 <= 12 holds, then m1 >= 3 previously held and was preceded by w0 >= 5 .
After k0 >= 4 until t0 > 7, it is always the case that if j1 = 1 holds, then f1 >= 4 eventually holds and is succeeded by i1 > 11 .
Between q0 <= 12 and i0 < 15, it is always the case that if m1 < 1 holds, then h1 < 2 eventually holds and is succeeded by s0 >= 10 .
Globally, it is always the case that c1 <= 12 holds.
Between k0 >= 3 and k0 < 14, it is always the case that if f1 >= 13 holds and is succeeded by f1 < 4, then r0 = 3 eventually holds after f1 < 4 .
Between m0 >= 6 and e1 > 4, l0 <= 9 eventually holds.
After m1 < 14, it is always the case that if t0 >= 8 holds, then u0 >= 14 previously held.
After d0 <= 2, it is always the case that if l1 <= 1 holds, then l0 >= 9 previously held and was preceded by j0 <= 10 .
After o0 = 11, it is always the case that if r0 < 6 holds, then a0 >= 13 eventually holds and is succeeded by i0 > 13, where f1 >= 2 does not hold between a0 >= 13 and i0 > 13 .
Globally, it is never the case that j1 <= 13 holds.
Before f0 = 3, it is always the case that if t0 <= 8 holds, then b0 >= 9 eventually holds and is succeeded by o0 > 11 .
After e1 = 8 until b1 < 2, f0 < 8 eventually holds.
Before f0 < 5, it is always the case that if q0 < 6 holds and is succeeded by o0 >= 15, then j0 >= 1 eventually holds after o0 >= 15 .
Between w0 > 3 and m0 < 4, it is always the case that h0 >= 13 holds.
After h0 = 5, it is always the case that m1 = 5 holds.
After a1 >= 14, it is always the case that if i1 = 4 holds, then x0 > 12 eventually holds and is succeeded by i0 < 13 .
After o0 <= 1 until q0 >= 3, it is always the case that if y0 > 1 holds and is succeeded by b0 = 12, then z0 > 9 previously held.
After d1 = 15, it is always the case that if f0 >= 15 holds, then c0 <= 8 eventually holds.
Globally, it is always the case that if i0 = 11 holds and is succeeded by m0 = 1, then a0 <= 13 previously held.
Before s0 <= 0, it is always the case that if c1 = 12 holds and is succeeded by a1 <= 6, then a1 <= 8 previously held.
After k1 <= 0, it is always the case that if n0 = 9 holds, then v0 = 15 previously held and was preceded by t0 <= 11 .
Between b0 >= 3 and g0 > 13, it is always the case that if b1 = 2 holds, then m0 = 7 eventually holds.
After f1 < 6 until m0 < 15, it is always the case that if r0 <= 2 holds, then n0 = 8 previously held.
After j0 >= 9 until l0 = 11, it is always the case that if w0 = 8 holds and is succeeded by m1 = 13, then e1 >= 2 eventually holds after m1 = 13 .
Between f0 >= 13 and s0 = 8, it is always the case that if f0 < 1 holds, then q0 > 2 previously held and was preceded by a1 <= 12 .
Before c1 <= 0, it is always the case that if f1 < 12 holds, then n0 >= 3 previously held and was preceded by e0 <= 3 .
After m0 <= 10 until g1 = 0, it is always the case that if k1 < 1 holds, then b0 > 4 eventually holds.
After p0 >= 14 until o0 >= 9, it is always the case that if j1 <= 9 holds, then r0 <= 8 eventually holds and is succeeded by m0 < 14, where n0 >= 8 does not hold between r0 <= 8 and m0 < 14 .
Globally, it is always the case that if p0 < 2 holds, then e1 < 13 previously held.
Globally, it is always the case that if v0 > 6 holds, then f0 >= 9 eventually holds.
After t0 = 4, it is always the case that if a1 < 2 holds, then f1 < 15 eventually holds and is succeeded by c0 > 5, where j1 >= 9 does not hold between f1 < 15 and c0 > 5 .
Between t0 = 6 and h0 < 10, it is always the case that if u0 < 3 holds, then n0 < 7 eventually holds.
Between d0 > 11 and g0 < 8, it is always the case that if j1 < 8 holds, then h1 >= 14 previously held and was preceded by t0 <= 15 .
Before k0 = 8, it is always the case that if f1 > 8 holds, then v0 > 7 previously held.
Before m0 <= 7, it is never the case that o0 < 4 holds.
After j1 >= 3 until d1 > 0, it is always the case that if i0 = 3 holds, then r0 <= 1 eventually holds and is succeeded by d1 >= 4 .
Between r0 >= 4 and c0 <= 0, it is always the case that if w0 > 10 holds, then a1 > 2 previously held.
Between h0 < 7 and t0 > 14, it is always the case that if f0 >= 7 holds, then w0 = 14 previously held.
After t0 > 15 until m1 = 3, it is always the case that if t0 > 13 holds, then b1 < 9 eventually holds and is succeeded by g0 > 3 .
After b1 > 3 until e1 = 14, it is always the case that if j0 < 15 holds, then f1 > 3 eventually holds.
Between j1 > 6 and h1 = 15, it is always the case that if e0 < 1 holds, then a1 < 13 previously held.
Globally, it is always the case that if y0 >= 9 holds and is succeeded by r0 >= 1, then g0 >= 1 previously held.
Between a0 = 9 and i0 < 14, it is always the case that if v0 >= 1 holds and is succeeded by e0 < 12, then c1 < 7 eventually holds after e0 < 12 .
Globally, it is always the case that if x0 > 1 holds, then s0 < 5 previously held and was preceded by u0 <= 12 .
Globally, k1 <= 6 eventually holds.
After o0 <= 3 until u0 = 14, it is always the case that i0 > 6 holds.
Between y0 <= 9 and e0 > 1, it is never the case that i0 = 3 holds.
After j0 < 2 until w0 >= 5, u0 >= 13 eventually holds.
Before e1 >= 11, it is always the case that if i1 = 14 holds, then h1 = 9 eventually holds.
Globally, it is never the case that q0 <= 6 holds.
After y0 <= 1 until i1 < 4, it is always the case that if j0 <= 2 holds, then i0 = 13 previously held and was preceded by c0 <= 15 .
Between d1 >= 8 and d0 <= 14, it is always the case that if p0 < 9 holds and is succeeded by j0 >= 0, then g0 > 3 eventually holds after j0 >= 0 .
After q0 = 3 until n0 > 13, it is always the case that if q0 > 12 holds and is succeeded by g0 < 3, then e1 >= 3 eventually holds after g0 < 3 .
Between w0 >= 3 and i0 < 0, it is always the case that if l1 < 12 holds, then h0 < 6 eventually holds.
Between c1 = 1 and g0 < 14, it is always the case that if s0 < 14 holds, then z0 <= 14 previously held and was preceded by b0 > 4 .
After g1 = 2 until b1 = 4, it is never the case that e1 = 13 holds.
After l0 > 8, l1 > 9 eventually holds.
After k0 >= 2, it is never the case that e1 = 1 holds.
Between o0 = 1 and c0 > 11, it is always the case that if m1 > 0 holds, then c1 > 15 eventually holds.
Between t0 < 13 and b0 >= 3, it is always the case that if b1 < 14 holds and is succeeded by q0 = 13, then e1 > 5 eventually holds after q0 = 13 .
Between h0 > 2 and m1 <= 15, it is always the case that if e1 >= 4 holds, then f1 <= 10 previously held and was preceded by v0 = 4 .
After k1 > 0, it is always the case that if i1 = 11 holds and is succeeded by k0 >= 5, then f1 < 3 previously held.
Globally, it is always the case that if s0 > 1 holds and is succeeded by z0 < 4, then o0 = 11 previously held.
Globally, it is always the case that if x0 >= 13 holds and is succeeded by e1 < 4, then y0 = 9 eventually holds after e1 < 4 .
Globally, it is always the case that if a0 > 11 holds, then j1 = 7 previously held.
After q0 < 9, it is always the case that if w0 = 12 holds, then d1 >= 15 eventually holds and is succeeded by d1 >= 13 .
After j1 > 3, it is always the case that if j1 = 0 holds, then q0 <= 5 eventually holds and is succeeded by d1 <= 1, where g1 >= 5 does not hold between q0 <= 5 and d1 <= 1 .
Between e0 > 10 and h1 < 3, it is always the case that if e1 < 15 holds, then k1 > 5 eventually holds and is succeeded by a0 <= 15 .
After t0 > 3, it is always the case that if k0 >= 12 holds, then e1 <= 0 eventually holds and is succeeded by g1 > 3, where a0 <= 3 does not hold between e1 <= 0 and g1 > 3 .
After l1 < 1 until b1 <= 4, it is never the case that a1 <= 6 holds.
Between m1 >= 9 and h0 >= 6, it is always the case that f0 <= 11 holds.
Between l1 < 8 and m1 < 3, l0 = 15 eventually holds.
Globally, it is always the case that if r0 <= 7 holds, then c0 = 0 eventually holds and is succeeded by g0 > 12, where k1 <= 4 does not hold between c0 = 0 and g0 > 12 .
Before i0 <= 10, it is always the case that m0 <= 13 holds.
After e0 = 15, it is always the case that i0 > 4 holds.
Globally, it is always the case that if h1 > 15 holds, then p0 >= 12 previously held.
After c1 = 6 until x0 <= 15, it is always the case that if j0 = 13 holds and is succeeded by v0 > 8, then u0 = 15 eventually holds after v0 > 8 .
Before r0 <= 0, it is always the case that if z0 <= 14 holds, then s0 = 11 eventually holds and is succeeded by m1 >= 3 .
Between f1 > 9 and g0 < 15, it is always the case that if l1 < 3 holds, then k1 = 9 previously held and was preceded by g0 > 13 .
Between p0 = 7 and i1 > 9, it is always the case that if v0 = 1 holds, then d0 > 5 previously held and was preceded by a1 > 6 .
Before k0 = 13, it is always the case that if m0 < 6 holds, then s0 >= 2 eventually holds and is succeeded by e1 < 0, where i1 = 6 does not hold between s0 >= 2 and e1 < 0 .
After n0 = 4 until c1 >= 8, it is always the case that if m1 < 13 holds, then s0 <= 15 eventually holds and is succeeded by u0 >= 12 .
Globally, it is always the case that if q0 >= 2 holds and is succeeded by k1 = 15, then g0 >= 14 previously held.
Between g1 > 1 and r0 >= 9, it is always the case that if c1 = 7 holds, then j0 >= 0 eventually holds and is succeeded by b0 <= 9, where w0 = 1 does not hold between j0 >= 0 and b0 <= 9 .
After k1 > 9, it is always the case that if i1 <= 11 holds, then f0 > 6 eventually holds and is succeeded by j1 = 7, where b1 <= 13 does not hold between f0 > 6 and j1 = 7 .
Between f1 >= 14 and i0 > 5, it is always the case that if o0 < 7 holds, then i0 = 13 eventually holds and is succeeded by x0 >= 11 .
Globally, it is always the case that if m1 <= 7 holds and is succeeded by w0 < 8, then f0 >= 15 eventually holds after w0 < 8 .
Globally, it is always the case that if d0 > 0 holds, then v0 <= 15 eventually holds and is succeeded by n0 > 4 .
After b0 = 8 until v0 = 2, n0 = 7 eventually holds.
After p0 > 10, it is always the case that if a1 < 14 holds, then l1 = 6 eventually holds and is succeeded by h0 >= 15, where b0 >= 2 does not hold between l1 = 6 and h0 >= 15 .
After a1 = 6 until a1 < 12, it is always the case that if k1 <= 15 holds, then l1 < 15 eventually holds and is succeeded by c1 = 5 .
After y0 > 13 until o0 = 14, r0 = 11 eventually holds.
After q0 >= 15 until k1 > 10, l0 >= 1 eventually holds.
Globally, it is always the case that if m1 >= 15 holds, then d1 > 15 eventually holds and is succeeded by j0 = 15, where z0 > 9 does not hold between d1 > 15 and j0 = 15 .
Globally, it is always the case that if t0 >= 11 holds and is succeeded by b1 >= 0, then i0 = 0 previously held.
Globally, it is always the case that if f1 >= 6 holds and is succeeded by c0 >= 14, then h0 = 14 eventually holds after c0 >= 14 .
Globally, it is always the case that c0 <= 4 holds.
After v0 > 6 until h1 >= 15, it is always the case that m0 >= 9 holds.
Between f1 >= 6 and a0 <= 2, it is always the case that if g0 >= 2 holds, then m0 <= 14 eventually holds and is succeeded by x0 <= 15, where e1 > 0 does not hold between m0 <= 14 and x0 <= 15 .
Before r0 > 11, x0 = 8 eventually holds.
Globally, it is always the case that if h0 <= 2 holds and is succeeded by y0 = 12, then s0 = 11 previously held.
After u0 <= 10, it is always the case that if r0 > 13 holds, then d0 > 14 eventually holds and is succeeded by l1 > 11, where l0 = 13 does not hold between d0 > 14 and l1 > 11 .
Globally, it is always the case that if e1 <= 15 holds and is succeeded by h0 >= 11, then h0 <= 11 eventually holds after h0 >= 11 .
Globally, it is always the case that if a1 < 8 holds, then e0 < 1 previously held.
After h0 = 13 until i0 > 3, it is always the case that if m1 < 4 holds, then r0 < 0 eventually holds.
Between b0 = 3 and j1 <= 6, it is never the case that g0 <= 8 holds.
Before p0 >= 6, it is always the case that if g1 < 12 holds, then c1 <= 8 eventually holds and is succeeded by d0 >= 11, where k0 < 14 does not hold between c1 <= 8 and d0 >= 11 .
Between j1 > 4 and m1 < 2, it is always the case that if v0 >= 13 holds, then q0 <= 14 eventually holds and is succeeded by b0 < 4 .
