Globally, it is never the case that x0 < 3 holds.
Between s0 > 1 and b0 < 3, it is always the case that if y1 > 0 holds and is succeeded by m0 = 2, then p2 > 1 eventually holds after m0 = 2 .
Between p2 = 0 and e2 < 2, it is always the case that if z1 < 3 holds and is succeeded by m1 < 3, then w1 >= 3 eventually holds after m1 < 3 .
After v2 >= 2, it is always the case that if m1 > 0 holds, then o0 = 2 previously held.
After l1 >= 0 until g2 < 1, it is never the case that x1 < 0 holds.
After c1 < 1, it is always the case that if w2 > 1 holds, then w2 = 2 previously held and was preceded by t2 > 2 .
After s1 < 1, it is always the case that if c0 <= 3 holds, then n0 >= 0 previously held.
Between e2 >= 1 and h2 <= 0, b1 > 2 eventually holds.
After v0 > 3, it is always the case that if h1 = 3 holds, then q1 < 0 eventually holds.
Globally, it is always the case that if r1 > 3 holds, then i1 < 2 eventually holds.
Before p1 < 2, it is always the case that if m0 <= 0 holds, then x2 = 3 eventually holds and is succeeded by g1 <= 2 .
After x1 = 3, it is always the case that if h0 > 0 holds and is succeeded by q0 >= 2, then n0 >= 2 previously held.
Globally, it is always the case that if a0 = 1 holds, then l2 > 2 previously held and was preceded by c0 <= 1 .
Before m2 <= 1, it is never the case that k1 >= 1 holds.
After d1 >= 0, it is always the case that if p1 <= 1 holds and is succeeded by f0 >= 0, then n2 < 2 previously held.
After x0 < 3 until n2 >= 2, it is never the case that a0 > 2 holds.
After e2 >= 2 until h1 >= 1, z0 > 0 eventually holds.
Before g1 = 2, b1 <= 0 eventually holds.
Globally, it is always the case that if j0 <= 1 holds and is succeeded by n2 < 2, then z0 < 0 eventually holds after n2 < 2 .
Before g2 < 2, it is always the case that if y1 > 0 holds, then i0 >= 2 eventually holds and is succeeded by c0 <= 2 .
Between n2 >= 1 and y0 >= 2, it is always the case that if m0 <= 0 holds, then t2 < 2 eventually holds and is succeeded by s1 < 0, where k1 <= 3 does not hold between t2 < 2 and s1 < 0 .
After y0 >= 2 until c2 = 0, it is always the case that n2 < 2 holds.
After y0 < 0 until r2 < 3, it is always the case that if j0 <= 2 holds, then e0 <= 3 previously held.
Between m0 > 1 and o0 >= 3, it is always the case that if y1 = 0 holds, then d0 > 2 eventually holds.
After t0 <= 2 until q2 >= 3, it is never the case that x0 >= 1 holds.
Between t2 = 1 and i2 > 3, it is always the case that if n1 = 0 holds and is succeeded by a2 >= 0, then f0 >= 2 eventually holds after a2 >= 0 .
After v1 = 1, it is always the case that if a3 < 1 holds and is succeeded by e1 = 3, then p1 = 0 previously held.
Globally, i2 = 0 eventually holds.
Globally, it is always the case that if w1 >= 3 holds, then r2 > 1 eventually holds.
After i0 > 3 until a3 <= 2, it is always the case that if w0 <= 1 holds, then n0 >= 3 previously held and was preceded by a0 < 3 .
Between v0 < 3 and l2 <= 0, it is never the case that y1 >= 1 holds.
After a0 < 0, it is always the case that if c2 = 2 holds and is succeeded by d0 = 2, then d0 <= 2 eventually holds after d0 = 2 .
Between i1 > 0 and t1 > 0, it is always the case that if c2 < 0 holds, then t1 >= 1 previously held and was preceded by m1 < 0 .
Between g0 >= 2 and c1 < 3, it is never the case that b2 <= 2 holds.
After h2 < 1, it is always the case that if p0 > 1 holds, then l2 < 3 eventually holds and is succeeded by c1 < 1 .
Before r2 = 3, it is never the case that z1 = 1 holds.
Before r1 >= 3, it is always the case that if r0 > 2 holds and is succeeded by h2 = 1, then o1 < 1 eventually holds after h2 = 1 .
Before v1 = 3, it is always the case that e0 <= 0 holds.
Globally, it is always the case that if q0 <= 0 holds, then d0 >= 1 previously held and was preceded by z1 < 0 .
Between i1 > 0 and t0 >= 1, it is never the case that q0 > 1 holds.
Globally, it is always the case that y0 = 2 holds.
Globally, it is always the case that if j1 = 3 holds, then h0 < 1 previously held.
After r1 >= 3 until y1 > 1, it is always the case that if h2 = 3 holds and is succeeded by s0 >= 3, then a2 < 0 eventually holds after s0 >= 3 .
After n0 <= 2 until e0 > 3, it is always the case that if o2 < 1 holds, then l0 > 0 previously held and was preceded by n2 = 3 .
Globally, it is always the case that h1 <= 3 holds.
Between h1 > 3 and r1 <= 3, it is always the case that if b0 <= 1 holds, then s1 = 1 eventually holds and is succeeded by q1 > 3, where r2 >= 3 does not hold between s1 = 1 and q1 > 3 .
Globally, it is always the case that if n0 <= 2 holds, then s2 < 3 eventually holds and is succeeded by g0 > 1 .
Before a3 >= 2, it is always the case that if s1 > 1 holds and is succeeded by m0 < 1, then r0 = 2 eventually holds after m0 < 1 .
After t0 = 1 until b0 > 1, it is never the case that x0 >= 2 holds.
After t0 >= 1 until a1 >= 3, it is always the case that if t2 = 0 holds, then t1 <= 3 previously held.
After m2 >= 3, it is always the case that l2 > 0 holds.
Between o0 < 2 and q1 <= 0, it is always the case that if k1 > 1 holds, then l0 > 2 previously held.
Before f1 <= 1, it is always the case that if w2 <= 0 holds, then n1 <= 0 eventually holds and is succeeded by d1 = 2, where z2 >= 3 does not hold between n1 <= 0 and d1 = 2 .
Before b0 = 1, k2 = 3 eventually holds.
Between v1 > 0 and r0 <= 1, it is always the case that if j2 < 2 holds and is succeeded by y0 > 3, then s2 = 0 previously held.
Before l1 = 2, it is never the case that u0 >= 1 holds.
After i0 <= 2 until c1 = 1, it is always the case that if x0 > 2 holds and is succeeded by k2 <= 2, then f0 = 1 previously held.
Between d1 = 3 and w0 >= 2, it is always the case that if l1 < 1 holds, then n0 < 3 eventually holds.
After m2 < 3 until r0 >= 2, r1 > 0 eventually holds.
After k0 < 1, it is always the case that if n1 > 0 holds and is succeeded by r0 > 1, then t0 <= 1 previously held.
Between i1 = 1 and y2 > 0, it is always the case that if x0 >= 2 holds and is succeeded by f1 > 0, then d0 >= 0 eventually holds after f1 > 0 .
After l0 > 1 until r1 <= 0, it is always the case that if x1 > 0 holds and is succeeded by a1 < 1, then d1 > 1 eventually holds after a1 < 1 .
After m2 < 1 until l2 > 2, it is always the case that if v2 <= 0 holds and is succeeded by l0 >= 3, then p1 >= 3 eventually holds after l0 >= 3 .
After n1 <= 0 until j2 <= 1, it is always the case that if n1 < 2 holds, then i1 >= 1 eventually holds.
Between a1 >= 3 and x2 = 1, it is always the case that if k2 < 1 holds and is succeeded by k2 < 0, then j1 > 2 eventually holds after k2 < 0 .
After p0 >= 0, it is always the case that if q0 = 2 holds, then a1 > 2 previously held and was preceded by c1 >= 3 .
After i1 <= 0, it is always the case that k1 = 0 holds.
Before b0 > 2, it is always the case that if k0 > 3 holds, then q0 > 2 eventually holds and is succeeded by u1 > 1 .
After v2 >= 1, it is always the case that if x0 = 2 holds and is succeeded by k1 > 2, then y1 < 1 eventually holds after k1 > 2 .
After b1 > 0 until z0 = 1, it is always the case that if o1 <= 2 holds, then x1 < 2 previously held and was preceded by y0 >= 2 .
After a2 = 2 until c1 = 1, it is always the case that if p1 > 3 holds, then e2 <= 1 eventually holds and is succeeded by h0 = 1 .
Before m1 <= 3, k0 = 3 eventually holds.
After m2 > 3 until z0 >= 2, it is always the case that if t2 < 3 holds and is succeeded by o2 > 3, then j1 < 1 previously held.
After m1 <= 0, it is always the case that if r1 <= 3 holds, then x0 <= 0 eventually holds and is succeeded by u0 = 3, where a0 > 2 does not hold between x0 <= 0 and u0 = 3 .
Between h2 > 0 and h1 <= 3, it is always the case that if w0 < 3 holds and is succeeded by n0 = 3, then k1 <= 0 previously held.
Globally, it is always the case that if d1 < 2 holds, then e2 <= 0 previously held and was preceded by h2 < 1 .
After j2 <= 1 until w2 >= 2, it is always the case that if b0 = 0 holds, then p1 < 2 previously held and was preceded by c0 <= 0 .
Between k0 < 1 and y1 <= 1, it is always the case that if x2 <= 3 holds, then a1 < 3 previously held.
After a0 = 2, it is always the case that if j0 > 1 holds, then r0 < 2 previously held and was preceded by t2 = 0 .
Between s0 = 1 and u0 < 3, c0 < 3 eventually holds.
After w1 < 1, it is always the case that if g0 >= 0 holds and is succeeded by o1 >= 1, then a1 > 0 previously held.
Between e2 < 3 and q1 <= 3, it is always the case that if m1 > 3 holds, then f0 < 1 eventually holds.
Globally, it is never the case that r1 < 3 holds.
After t1 = 0, it is always the case that if j2 = 1 holds and is succeeded by d1 < 3, then d0 > 0 previously held.
After b1 = 3, it is always the case that if u2 < 1 holds and is succeeded by k2 < 3, then e0 = 0 eventually holds after k2 < 3 .
Globally, it is always the case that if q0 < 2 holds, then g1 < 0 eventually holds and is succeeded by l0 <= 0, where r2 >= 2 does not hold between g1 < 0 and l0 <= 0 .
Globally, it is always the case that if o2 < 3 holds and is succeeded by c0 = 0, then a1 > 2 previously held.
After d0 = 0 until w1 > 2, it is always the case that if d2 > 2 holds and is succeeded by p0 >= 0, then x0 < 0 previously held.
After v2 < 0, it is always the case that v0 = 0 holds.
Globally, it is always the case that if p1 = 2 holds, then j1 = 3 eventually holds and is succeeded by j0 <= 1, where a2 > 1 does not hold between j1 = 3 and j0 <= 1 .
Before o2 = 3, it is always the case that if h1 <= 0 holds and is succeeded by x2 <= 2, then v2 >= 2 eventually holds after x2 <= 2 .
After s1 = 1 until i2 >= 1, c2 < 2 eventually holds.
After l0 = 2 until s0 <= 2, it is always the case that if s1 = 1 holds, then v2 < 2 eventually holds.
After r1 = 1, it is always the case that if t2 = 1 holds, then l2 >= 1 eventually holds.
After t2 >= 2 until y0 = 3, it is always the case that if m0 <= 2 holds and is succeeded by x2 > 1, then i1 >= 1 eventually holds after x2 > 1 .
Between l1 <= 2 and i1 > 0, it is always the case that if r2 <= 2 holds, then p2 >= 1 previously held.
Between x0 = 2 and b2 > 3, it is always the case that if e1 = 1 holds, then d0 < 2 eventually holds.
After b2 <= 0, r0 = 2 eventually holds.
Before s0 = 3, it is always the case that if k2 < 2 holds, then l2 > 3 previously held and was preceded by j0 < 1 .
Between x1 > 0 and f0 < 0, y1 > 2 eventually holds.
Between e1 = 2 and y0 <= 1, it is always the case that if p2 < 3 holds, then n2 <= 2 eventually holds and is succeeded by h1 >= 3, where u0 >= 1 does not hold between n2 <= 2 and h1 >= 3 .
Globally, it is always the case that if e2 > 2 holds, then t2 = 1 eventually holds.
Globally, it is always the case that if y1 >= 3 holds, then k0 <= 0 eventually holds and is succeeded by h1 <= 0, where t1 <= 1 does not hold between k0 <= 0 and h1 <= 0 .
Before l2 < 3, it is always the case that if j2 > 3 holds, then v2 <= 0 eventually holds.
After k2 <= 0 until x1 > 3, it is always the case that if b2 >= 2 holds, then a2 <= 1 eventually holds and is succeeded by a3 < 1 .
After x2 = 3, it is always the case that if m2 < 3 holds and is succeeded by b0 >= 0, then u2 > 2 eventually holds after b0 >= 0 .
Globally, q2 <= 0 eventually holds.
After z0 > 1, it is always the case that if c2 <= 0 holds and is succeeded by h2 <= 2, then k0 < 2 previously held.
After r2 >= 1, it is always the case that if u1 <= 2 holds and is succeeded by c1 > 0, then u0 <= 2 eventually holds after c1 > 0 .
Before y0 > 1, it is never the case that e2 > 1 holds.
Before i1 > 2, it is always the case that o2 <= 2 holds.
Globally, it is never the case that t2 > 2 holds.
After d0 > 1, it is always the case that if f1 < 3 holds, then j1 < 1 previously held and was preceded by d0 > 1 .
Before f0 = 2, it is never the case that s1 >= 2 holds.
After y1 = 0 until w0 > 3, it is always the case that if a1 <= 1 holds, then x2 < 1 previously held.
Globally, it is never the case that d2 < 1 holds.
Globally, it is always the case that if w2 > 2 holds, then n1 >= 0 previously held.
Globally, g0 <= 1 eventually holds.
Globally, it is always the case that if q0 <= 2 holds, then n2 < 0 eventually holds and is succeeded by i1 >= 1 .
Before w2 > 2, q0 <= 2 eventually holds.
After t0 >= 0, it is always the case that if r0 > 1 holds, then u1 > 3 previously held and was preceded by u2 <= 2 .
Between s2 <= 2 and a3 > 2, it is always the case that c2 <= 0 holds.
After e1 > 1, it is always the case that if m1 = 0 holds, then w1 >= 0 eventually holds.
After t1 < 1 until i0 >= 2, q1 > 0 eventually holds.
After w1 = 2 until a1 >= 2, u0 > 2 eventually holds.
Globally, it is never the case that s2 < 1 holds.
Globally, it is never the case that s2 > 3 holds.
After u2 < 0, it is always the case that if t0 > 2 holds and is succeeded by l2 <= 2, then g2 >= 2 previously held.
After c1 = 3, it is always the case that if o2 < 3 holds, then o2 >= 2 previously held and was preceded by b1 = 3 .
Before e0 > 3, it is always the case that if n1 < 1 holds, then t0 <= 0 previously held and was preceded by c2 > 1 .
Before q0 > 1, it is always the case that if b1 > 1 holds, then v2 < 0 eventually holds.
Between u1 > 1 and o1 = 2, it is always the case that if v1 < 0 holds, then k0 = 1 eventually holds and is succeeded by k2 = 1, where c1 <= 2 does not hold between k0 = 1 and k2 = 1 .
Between i0 >= 1 and i2 <= 2, it is always the case that if y2 > 0 holds and is succeeded by p2 <= 0, then v2 > 1 previously held.
Globally, it is always the case that t1 > 0 holds.
After i2 > 0 until w1 <= 2, d1 > 1 eventually holds.
Before k0 >= 0, it is always the case that if c2 <= 3 holds, then o0 = 2 previously held.
Globally, it is always the case that if b0 = 2 holds, then i0 = 2 eventually holds and is succeeded by z0 >= 3, where j2 < 3 does not hold between i0 = 2 and z0 >= 3 .
After o2 < 0, it is always the case that if r0 < 2 holds, then h1 = 1 previously held.
Globally, it is always the case that if h0 = 2 holds and is succeeded by d1 > 0, then z0 = 3 previously held.
After t2 < 3, j2 > 0 eventually holds.
Before a0 = 1, a0 <= 2 eventually holds.
Globally, it is never the case that z1 > 0 holds.
Between c2 < 1 and q2 < 2, it is always the case that if u2 >= 0 holds, then s1 < 2 previously held.
After z1 >= 2 until y2 >= 2, it is always the case that if d2 <= 2 holds and is succeeded by h2 > 1, then o0 >= 3 eventually holds after h2 > 1 .
Before g2 >= 3, it is always the case that if t2 > 3 holds, then z0 > 2 previously held.
After f2 < 1, t2 < 0 eventually holds.
Before v2 >= 1, it is always the case that r2 >= 1 holds.
After j0 >= 0, it is always the case that if m0 <= 1 holds, then k2 <= 0 previously held and was preceded by c1 >= 2 .
Before x0 = 0, it is always the case that if j0 < 3 holds, then m2 < 1 eventually holds and is succeeded by j1 <= 1, where y2 >= 3 does not hold between m2 < 1 and j1 <= 1 .
After e0 >= 2 until l1 = 2, it is always the case that if c1 > 2 holds, then v1 >= 2 eventually holds and is succeeded by h0 < 0 .
After o2 = 3 until b1 <= 0, it is always the case that if k0 <= 3 holds, then m2 = 0 eventually holds and is succeeded by r0 > 2 .
After h1 = 0 until r0 >= 1, it is always the case that if e1 > 0 holds, then v0 < 0 eventually holds and is succeeded by p1 >= 0, where i1 <= 0 does not hold between v0 < 0 and p1 >= 0 .
Between m2 >= 3 and j0 <= 2, it is always the case that if s0 <= 2 holds, then w1 = 1 eventually holds.
Globally, it is always the case that g0 >= 1 holds.
Between o0 <= 1 and o2 < 1, it is always the case that if m0 >= 1 holds, then h1 < 3 eventually holds.
Globally, it is always the case that if d1 > 2 holds and is succeeded by s1 < 2, then s2 < 0 eventually holds after s1 < 2 .
Before r0 < 1, it is always the case that if p1 >= 0 holds, then b1 >= 1 previously held.
After m0 < 0, it is always the case that j0 < 0 holds.
Globally, it is always the case that if v1 = 3 holds, then y1 = 2 previously held.
After q2 <= 1, it is always the case that if r1 >= 2 holds, then u0 > 3 previously held.
Before l1 <= 2, it is never the case that x2 = 3 holds.
Between u0 <= 2 and q1 < 1, it is never the case that x2 > 2 holds.
Before a0 <= 1, it is always the case that p1 < 0 holds.
Globally, it is always the case that if a2 = 3 holds, then e2 <= 3 eventually holds and is succeeded by d1 >= 2 .
Between r0 > 1 and r1 >= 2, it is always the case that d0 >= 3 holds.
After e1 >= 0, it is always the case that if c0 >= 0 holds, then d2 < 3 eventually holds and is succeeded by j1 <= 3 .
Between j0 > 1 and r2 <= 0, it is always the case that if a0 >= 0 holds, then k0 >= 0 eventually holds and is succeeded by l2 = 3, where n2 < 3 does not hold between k0 >= 0 and l2 = 3 .
Globally, it is always the case that if l1 = 2 holds and is succeeded by z0 > 3, then z0 >= 2 eventually holds after z0 > 3 .
After t2 >= 0, it is never the case that n0 > 0 holds.
Globally, it is always the case that if z1 <= 0 holds and is succeeded by k2 = 1, then n2 >= 2 eventually holds after k2 = 1 .
Globally, x1 = 2 eventually holds.
Before g0 < 2, it is always the case that if w0 >= 3 holds, then v0 <= 0 eventually holds.
Before i1 > 0, it is never the case that i2 = 0 holds.
Between c2 <= 0 and e0 > 0, l0 >= 1 eventually holds.
After q1 = 0 until y1 < 1, it is always the case that if w2 < 3 holds, then n2 <= 3 eventually holds.
Before r1 > 3, it is always the case that if v0 > 3 holds and is succeeded by u1 < 1, then y2 >= 2 previously held.
Globally, it is always the case that if k1 > 2 holds, then f1 <= 3 eventually holds and is succeeded by w0 = 2 .
Between r1 < 2 and a1 > 1, it is always the case that if z1 <= 0 holds, then w0 < 2 previously held.
After d1 = 2 until d0 < 2, it is always the case that if e1 >= 0 holds, then g1 < 3 previously held.
Before z0 < 3, it is always the case that if n0 <= 1 holds, then i1 <= 3 previously held and was preceded by p2 > 3 .
Between x1 < 3 and p0 < 3, it is never the case that d1 > 1 holds.
Before q1 < 1, it is always the case that w2 <= 0 holds.
After r2 > 1 until g0 > 3, it is always the case that if d0 > 1 holds, then n0 = 1 eventually holds and is succeeded by a0 <= 2 .
Between l0 >= 3 and g0 <= 0, it is always the case that if c1 > 1 holds and is succeeded by k2 = 0, then z1 < 3 previously held.
Before i0 > 3, it is always the case that r1 > 2 holds.
After f2 <= 2, it is always the case that if v2 = 1 holds, then o2 <= 2 eventually holds.
Before d1 >= 2, it is always the case that if f1 < 3 holds, then p1 = 0 eventually holds and is succeeded by m2 <= 1, where v2 > 1 does not hold between p1 = 0 and m2 <= 1 .
After v1 = 2, it is always the case that if y1 > 3 holds, then o0 >= 2 previously held.
Between o2 > 3 and k2 >= 0, it is always the case that if v0 > 0 holds, then e1 < 0 eventually holds and is succeeded by g2 <= 2, where e0 >= 2 does not hold between e1 < 0 and g2 <= 2 .
Before w1 <= 1, it is never the case that z2 >= 3 holds.
Before o2 < 3, it is always the case that if d1 = 1 holds, then a2 > 1 previously held and was preceded by z1 = 0 .
Globally, it is always the case that c1 > 1 holds.
Globally, it is always the case that if d2 >= 2 holds, then x0 = 2 previously held and was preceded by k2 >= 3 .
Globally, it is always the case that if c1 < 0 holds, then w1 < 0 eventually holds and is succeeded by x2 >= 0, where j2 < 0 does not hold between w1 < 0 and x2 >= 0 .
After t0 <= 2, it is always the case that if i1 <= 3 holds, then z0 > 1 previously held and was preceded by e2 >= 1 .
Globally, it is always the case that if z1 > 1 holds, then x2 = 0 eventually holds.
After b2 > 1 until z2 > 1, it is always the case that if j1 <= 3 holds, then d1 >= 3 previously held.
After h1 >= 0 until g0 >= 0, it is always the case that if h1 < 1 holds, then a1 >= 3 previously held and was preceded by u2 < 0 .
After s0 < 2 until n2 <= 3, it is always the case that if t2 >= 2 holds and is succeeded by i1 >= 0, then o2 <= 1 previously held.
Before c1 > 3, it is always the case that if c0 < 2 holds and is succeeded by x0 >= 0, then u1 <= 1 previously held.
Between c0 <= 3 and x1 > 2, it is always the case that if p2 = 1 holds, then s1 = 2 eventually holds and is succeeded by z0 >= 1 .
After a0 < 0 until v1 > 2, it is always the case that if b1 >= 2 holds, then s0 <= 1 eventually holds.
Before w2 >= 2, it is always the case that if a1 = 2 holds, then b1 <= 2 eventually holds and is succeeded by o1 > 0, where w2 > 1 does not hold between b1 <= 2 and o1 > 0 .
After k1 > 0 until g0 > 1, it is always the case that if h0 = 0 holds and is succeeded by u2 > 2, then d2 > 2 eventually holds after u2 > 2 .
Before a1 > 3, it is never the case that b0 < 1 holds.
Globally, it is always the case that v2 > 1 holds.
Before r1 >= 2, it is always the case that if m0 >= 0 holds, then e1 > 3 previously held and was preceded by a2 >= 3 .
Between e0 <= 3 and t0 > 2, it is always the case that if j0 <= 3 holds, then c0 > 1 previously held and was preceded by m2 = 0 .
Before z2 = 0, a2 < 0 eventually holds.
Before h0 = 0, it is always the case that if r2 = 2 holds and is succeeded by u0 = 3, then a2 < 3 eventually holds after u0 = 3 .
After l0 > 0 until a2 >= 3, it is always the case that if t0 = 1 holds, then a1 > 0 eventually holds.
After y2 < 3 until x1 <= 1, it is always the case that if u0 < 2 holds, then e1 > 0 eventually holds and is succeeded by z1 < 3, where a1 = 1 does not hold between e1 > 0 and z1 < 3 .
After c2 <= 3, it is always the case that if g1 < 2 holds, then x2 < 0 previously held.
After t0 < 2, it is never the case that a3 <= 0 holds.
Globally, it is always the case that if v2 > 2 holds, then j0 > 2 eventually holds.
Before d1 < 0, it is always the case that q1 = 3 holds.
Before s0 >= 0, it is always the case that if h2 > 0 holds, then a0 > 2 previously held and was preceded by a3 <= 0 .
Before b1 = 3, it is always the case that if e1 >= 2 holds, then r1 <= 0 eventually holds and is succeeded by u2 > 1 .
Before i2 <= 2, it is always the case that g2 = 0 holds.
Before a3 = 2, it is always the case that if o1 < 0 holds and is succeeded by c1 < 2, then a1 > 2 eventually holds after c1 < 2 .
After w2 = 1 until n1 <= 2, it is always the case that if f1 >= 3 holds, then x1 >= 2 previously held and was preceded by q1 <= 3 .
After w2 < 3, it is never the case that i2 < 1 holds.
Globally, it is always the case that if v0 > 3 holds, then o1 >= 2 eventually holds and is succeeded by f2 >= 0 .
After r2 < 1, it is always the case that if c2 < 0 holds and is succeeded by v1 >= 3, then o0 <= 1 eventually holds after v1 >= 3 .
Globally, it is always the case that if j1 < 3 holds, then q2 < 1 eventually holds and is succeeded by b0 = 1 .
After q2 = 2 until p2 >= 3, it is always the case that if x2 < 2 holds and is succeeded by f1 >= 0, then l1 = 0 eventually holds after f1 >= 0 .
Before l1 > 0, it is always the case that if j1 < 1 holds and is succeeded by l1 >= 1, then y1 < 3 eventually holds after l1 >= 1 .
After y1 < 0 until r2 < 2, it is always the case that if m1 >= 3 holds, then c1 = 3 eventually holds.
After k0 = 0, it is always the case that if s1 < 3 holds and is succeeded by k2 = 1, then m2 <= 1 eventually holds after k2 = 1 .
Globally, it is always the case that if c1 > 0 holds and is succeeded by n1 = 2, then n1 >= 0 eventually holds after n1 = 2 .
Globally, it is always the case that if r2 >= 0 holds, then y1 > 1 eventually holds.
After z2 <= 1 until p0 < 1, it is always the case that if a0 = 2 holds, then k2 >= 3 eventually holds and is succeeded by c0 = 0, where q2 = 0 does not hold between k2 >= 3 and c0 = 0 .
After k2 <= 2, it is always the case that u2 > 2 holds.
Globally, it is always the case that if m2 < 2 holds, then k2 <= 3 eventually holds.
After w0 >= 1 until u2 < 2, it is always the case that if e0 < 1 holds, then i1 > 1 eventually holds.
Globally, it is always the case that if h1 > 0 holds, then c1 >= 0 previously held.
After u2 > 0, it is always the case that if m1 > 0 holds, then n1 <= 0 eventually holds.
After p2 >= 0 until i2 < 3, it is always the case that if o0 = 1 holds, then j1 > 3 eventually holds and is succeeded by o1 = 2 .
After u1 > 0, it is always the case that if j0 > 3 holds, then k0 < 2 previously held and was preceded by h0 = 0 .
Globally, it is always the case that if v0 = 0 holds, then a3 > 2 eventually holds.
