After g6 <= 15 until d2 > 12, it is always the case that f2 = 2 holds.
After x1 <= 23, it is always the case that if z4 = 24 holds and is succeeded by p1 <= 11, then m2 >= 26 eventually holds after p1 <= 11 .
Globally, b7 >= 7 eventually holds.
Between z3 = 11 and w6 <= 17, it is always the case that if z2 = 21 holds, then v2 < 19 eventually holds and is succeeded by k0 = 15 .
Globally, it is always the case that if q2 < 13 holds, then y2 = 16 eventually holds.
After i3 < 16, it is always the case that if q7 = 6 holds, then b7 <= 5 eventually holds and is succeeded by b7 >= 2, where t2 = 15 does not hold between b7 <= 5 and b7 >= 2 .
After g5 >= 30, it is always the case that if a8 <= 30 holds, then r0 < 26 eventually holds and is succeeded by c3 > 30 .
Before z9 >= 26, it is always the case that b4 < 20 holds.
After e11 > 6 until k9 >= 6, it is always the case that if y10 <= 13 holds, then d8 > 5 eventually holds and is succeeded by p5 < 16, where r11 < 13 does not hold between d8 > 5 and p5 < 16 .
After v5 >= 18, it is always the case that if p11 >= 4 holds, then u1 < 24 eventually holds and is succeeded by y9 >= 27 .
After c1 = 10, it is always the case that w3 < 3 holds.
Globally, it is always the case that if p6 > 22 holds and is succeeded by j11 = 4, then k3 > 16 previously held.
Before e8 < 1, it is never the case that d2 < 10 holds.
After c11 >= 3 until e11 < 10, it is always the case that if k8 > 20 holds, then z10 = 4 eventually holds and is succeeded by q6 < 18 .
Before b7 < 15, it is always the case that if i0 >= 31 holds, then j0 <= 16 eventually holds and is succeeded by m2 > 5, where m7 > 27 does not hold between j0 <= 16 and m2 > 5 .
Between w3 >= 30 and m1 <= 4, it is always the case that if p5 < 16 holds, then t4 <= 7 eventually holds and is succeeded by e9 = 29, where d11 < 31 does not hold between t4 <= 7 and e9 = 29 .
After z3 = 22, it is always the case that if o2 > 20 holds, then t5 < 21 eventually holds and is succeeded by j2 <= 10, where q11 >= 24 does not hold between t5 < 21 and j2 <= 10 .
Before r7 <= 17, t11 < 27 eventually holds.
After x1 = 24, h5 > 5 eventually holds.
After q8 = 17 until x10 > 20, it is always the case that d9 < 24 holds.
Before b0 > 9, it is always the case that if p10 = 6 holds, then q10 > 12 eventually holds and is succeeded by r8 >= 19 .
Before z11 > 21, it is never the case that p7 = 6 holds.
Between p11 < 29 and d7 > 13, it is always the case that if p7 >= 25 holds and is succeeded by m9 >= 9, then n2 >= 31 eventually holds after m9 >= 9 .
After r1 = 25 until d1 >= 10, it is always the case that if u2 >= 21 holds and is succeeded by o7 >= 6, then h1 < 14 previously held.
Globally, it is never the case that n2 > 18 holds.
Before q5 < 22, it is always the case that if l7 = 3 holds, then x11 >= 14 previously held.
After d3 = 14 until n11 > 25, it is never the case that i2 = 23 holds.
Before r7 > 23, it is never the case that u5 >= 27 holds.
After d7 > 16 until t8 >= 1, it is always the case that if p0 = 15 holds, then q4 > 21 previously held.
After o10 = 10 until w11 >= 19, it is always the case that if o8 < 5 holds, then h3 >= 8 eventually holds and is succeeded by t5 <= 11 .
Before c9 = 4, q6 = 6 eventually holds.
Between c1 = 15 and e10 > 6, it is always the case that if b11 < 17 holds, then d5 > 29 previously held and was preceded by p4 < 10 .
Globally, k6 <= 8 eventually holds.
Before g4 >= 21, it is always the case that if d4 > 8 holds, then a2 > 16 previously held.
Globally, it is always the case that if m4 > 16 holds, then i9 = 4 previously held and was preceded by d8 >= 12 .
After l7 > 0, it is always the case that if b4 <= 10 holds, then p8 = 2 previously held and was preceded by c1 <= 4 .
Before n0 <= 2, it is never the case that s5 > 24 holds.
Globally, it is always the case that if c1 = 27 holds and is succeeded by w7 > 10, then q1 = 23 eventually holds after w7 > 10 .
After c1 >= 23 until t8 <= 3, b10 > 10 eventually holds.
Between d1 = 27 and i3 = 1, it is always the case that if p10 >= 21 holds, then z2 <= 15 eventually holds and is succeeded by n7 < 28 .
Globally, it is always the case that if m2 < 31 holds, then c5 > 29 eventually holds and is succeeded by r0 > 10, where c3 >= 31 does not hold between c5 > 29 and r0 > 10 .
Before t10 > 22, it is always the case that if u9 <= 1 holds, then x10 >= 18 previously held.
Between g0 < 31 and n0 <= 29, it is always the case that if z1 = 18 holds and is succeeded by z8 <= 18, then h3 = 28 eventually holds after z8 <= 18 .
After a3 <= 19, it is always the case that c2 < 30 holds.
After j2 < 23, e4 >= 12 eventually holds.
After z10 < 12, it is always the case that if q11 <= 28 holds, then k7 >= 3 eventually holds and is succeeded by k5 <= 28, where h2 <= 28 does not hold between k7 >= 3 and k5 <= 28 .
After p6 <= 25, it is never the case that s0 <= 19 holds.
Before q9 < 27, it is always the case that if r10 <= 4 holds and is succeeded by i6 < 15, then u8 > 18 previously held.
Before z4 > 25, it is always the case that if z9 > 8 holds and is succeeded by u0 < 21, then z6 = 17 eventually holds after u0 < 21 .
After b7 < 18, it is always the case that if h6 <= 6 holds, then i9 > 2 previously held.
Between y6 = 10 and n0 <= 11, it is always the case that if r8 >= 14 holds, then h5 >= 0 previously held and was preceded by s5 = 25 .
Globally, it is always the case that if f3 >= 15 holds and is succeeded by i10 <= 22, then r10 > 18 eventually holds after i10 <= 22 .
Before z4 >= 12, it is always the case that if e2 < 26 holds and is succeeded by c9 = 23, then d5 = 29 eventually holds after c9 = 23 .
Globally, a6 >= 29 eventually holds.
Before c1 < 23, it is never the case that s4 = 26 holds.
After x7 <= 14, it is always the case that k1 <= 30 holds.
Before f1 < 9, it is always the case that if u8 = 21 holds, then z2 < 2 previously held.
Globally, it is never the case that s5 = 1 holds.
After j1 = 18 until j6 <= 7, z5 > 29 eventually holds.
After n6 = 28, it is always the case that if k2 > 22 holds and is succeeded by d7 = 14, then b2 = 30 eventually holds after d7 = 14 .
Globally, it is always the case that if u0 <= 21 holds, then n2 <= 10 eventually holds and is succeeded by m9 < 21, where w4 < 23 does not hold between n2 <= 10 and m9 < 21 .
Between g3 <= 25 and u4 <= 2, c10 > 6 eventually holds.
After c1 = 5 until w7 <= 10, it is always the case that if h7 > 2 holds and is succeeded by u1 >= 3, then v9 < 19 eventually holds after u1 >= 3 .
After t7 > 19 until p7 < 16, it is always the case that if r0 >= 7 holds and is succeeded by m9 > 18, then b11 = 19 eventually holds after m9 > 18 .
After u1 <= 24 until d10 = 14, it is always the case that if i9 >= 5 holds, then r4 <= 10 eventually holds and is succeeded by b9 > 7, where n3 <= 12 does not hold between r4 <= 10 and b9 > 7 .
After m3 < 23 until k4 >= 4, it is always the case that if h0 > 7 holds, then i10 <= 20 eventually holds and is succeeded by h2 >= 7 .
Between m7 < 21 and y5 > 12, it is always the case that if f1 < 22 holds, then b10 > 11 eventually holds.
After d10 <= 13, it is always the case that if l11 < 15 holds, then c8 <= 21 eventually holds and is succeeded by l3 >= 31 .
Globally, it is always the case that o7 > 0 holds.
After s0 <= 24 until p9 >= 30, it is always the case that if n5 < 27 holds, then c2 > 29 eventually holds.
Globally, it is always the case that r3 = 20 holds.
Globally, it is always the case that u4 = 19 holds.
After c12 = 9, it is always the case that if y9 >= 25 holds, then o6 <= 31 previously held and was preceded by z11 = 3 .
Between i2 < 25 and i6 > 10, it is always the case that m10 = 14 holds.
Before t0 >= 28, it is always the case that if i6 < 10 holds, then p11 >= 2 previously held.
Before f1 >= 16, it is always the case that if p11 = 8 holds, then d12 < 15 eventually holds and is succeeded by s3 = 3, where r6 > 29 does not hold between d12 < 15 and s3 = 3 .
After a4 <= 17, it is always the case that if f12 <= 9 holds and is succeeded by p10 <= 31, then a8 <= 29 eventually holds after p10 <= 31 .
After i0 = 8 until n1 = 1, it is always the case that if m9 > 11 holds, then x10 < 13 eventually holds.
After r1 > 25 until r1 < 0, it is always the case that if k0 = 4 holds, then h9 = 17 previously held and was preceded by l4 >= 4 .
Between e0 < 7 and g8 >= 1, it is always the case that if w7 >= 28 holds, then n3 = 8 previously held and was preceded by r3 > 8 .
Globally, u1 <= 30 eventually holds.
Before v1 < 0, it is always the case that if s7 = 9 holds, then i11 >= 31 previously held and was preceded by z0 <= 23 .
Before s5 >= 25, it is always the case that if e5 <= 10 holds and is succeeded by h9 >= 11, then y7 = 29 previously held.
Between y5 > 14 and x2 > 27, it is always the case that if s0 <= 21 holds and is succeeded by t7 > 17, then g10 < 3 eventually holds after t7 > 17 .
Between l11 >= 14 and x5 >= 2, it is always the case that if e0 <= 13 holds and is succeeded by o1 >= 9, then i10 >= 25 previously held.
Before x2 >= 2, it is always the case that if y8 > 19 holds, then h9 <= 15 eventually holds and is succeeded by q10 <= 16, where x5 > 5 does not hold between h9 <= 15 and q10 <= 16 .
After v1 >= 27, j6 < 17 eventually holds.
After t7 >= 23, it is always the case that if s0 >= 31 holds, then z10 > 12 eventually holds and is succeeded by b7 < 11 .
Globally, it is never the case that p9 >= 19 holds.
After t1 < 15, it is always the case that if g7 = 17 holds, then g0 > 11 previously held and was preceded by w11 >= 5 .
Before j2 > 10, f1 >= 17 eventually holds.
Before o1 > 26, it is always the case that if v0 >= 13 holds and is succeeded by k8 = 9, then l7 <= 28 previously held.
After f4 > 6, it is always the case that m5 = 31 holds.
Globally, it is always the case that if y10 = 6 holds, then g7 > 15 previously held.
Globally, it is always the case that if h3 > 1 holds, then a1 >= 11 eventually holds and is succeeded by k8 >= 20, where m11 < 11 does not hold between a1 >= 11 and k8 >= 20 .
Globally, it is always the case that if y6 > 11 holds and is succeeded by p9 <= 2, then a6 >= 16 eventually holds after p9 <= 2 .
After f3 > 29 until e0 < 0, it is always the case that if a10 = 31 holds, then b12 = 13 eventually holds and is succeeded by a5 <= 16, where o6 <= 29 does not hold between b12 = 13 and a5 <= 16 .
After q0 > 3 until f6 >= 14, it is always the case that if q11 = 13 holds, then k0 <= 19 previously held and was preceded by r4 >= 4 .
After d10 >= 0 until t9 <= 25, it is always the case that if j11 > 1 holds, then w0 < 13 eventually holds and is succeeded by k1 >= 6 .
After u9 < 7, it is always the case that if e12 > 18 holds, then z9 = 24 previously held.
After d3 = 0, j3 = 17 eventually holds.
Before u2 = 6, it is always the case that if c12 < 0 holds, then h3 <= 19 eventually holds and is succeeded by q5 <= 29, where b12 = 16 does not hold between h3 <= 19 and q5 <= 29 .
After g0 >= 3, it is never the case that i2 < 22 holds.
Between m0 < 22 and u11 > 16, it is always the case that if x7 <= 10 holds, then p4 = 18 previously held and was preceded by e4 >= 24 .
After a10 > 31, it is always the case that if a10 > 15 holds, then p4 > 23 eventually holds and is succeeded by q6 <= 30, where h7 = 21 does not hold between p4 > 23 and q6 <= 30 .
Between i0 >= 10 and y0 > 3, it is always the case that if p4 = 4 holds, then h4 <= 15 eventually holds.
Between i9 < 29 and l10 <= 3, n1 < 25 eventually holds.
Globally, it is always the case that if u7 >= 28 holds, then d5 = 25 eventually holds and is succeeded by x9 <= 1 .
Globally, it is always the case that if z1 >= 17 holds, then f8 < 4 eventually holds.
Before w0 = 29, it is always the case that if d1 = 21 holds, then c7 <= 28 previously held.
Globally, it is always the case that if o5 >= 14 holds, then m2 > 28 eventually holds and is succeeded by p0 = 19, where z2 > 10 does not hold between m2 > 28 and p0 = 19 .
Globally, it is never the case that b5 <= 20 holds.
After u11 >= 0, it is always the case that if v11 < 9 holds, then v9 = 22 previously held.
Between o2 < 20 and o4 <= 27, i3 <= 2 eventually holds.
Globally, it is always the case that if u2 >= 6 holds, then r6 < 5 eventually holds and is succeeded by i9 > 4, where l9 <= 3 does not hold between r6 < 5 and i9 > 4 .
Between a8 > 7 and u5 >= 0, it is always the case that if u10 < 8 holds, then p3 <= 14 previously held.
After c7 > 24 until h0 <= 31, it is never the case that i10 <= 28 holds.
After a1 < 9, it is always the case that if a10 <= 8 holds and is succeeded by r9 >= 2, then q10 < 21 previously held.
Before x8 < 5, it is always the case that if o1 = 17 holds, then b1 < 24 eventually holds and is succeeded by b12 >= 20 .
Before i11 <= 4, it is always the case that if f10 < 18 holds, then g6 = 20 previously held and was preceded by v1 = 8 .
After c11 >= 27 until y8 <= 9, it is always the case that if p2 < 13 holds, then c6 = 18 previously held and was preceded by a4 < 13 .
Between f7 < 22 and l6 > 30, it is always the case that if c3 < 3 holds and is succeeded by e0 = 4, then c12 < 17 eventually holds after e0 = 4 .
After h5 <= 16 until c9 <= 15, it is always the case that o4 = 5 holds.
After b1 < 7 until n7 <= 9, it is always the case that if z11 < 21 holds, then g8 < 8 eventually holds and is succeeded by e11 > 20 .
Before a0 >= 18, it is always the case that if g6 > 28 holds, then q2 = 18 previously held and was preceded by l0 = 5 .
After u11 > 21, it is always the case that if i11 <= 28 holds, then l0 <= 27 eventually holds and is succeeded by h9 > 5, where f0 < 30 does not hold between l0 <= 27 and h9 > 5 .
Globally, it is always the case that if m9 <= 30 holds, then l6 = 26 eventually holds and is succeeded by d10 <= 16 .
Between y8 > 18 and z3 = 2, it is always the case that w10 = 31 holds.
Between f1 = 14 and h0 = 23, it is always the case that if r11 >= 5 holds, then t2 < 28 previously held and was preceded by m11 <= 6 .
After s10 = 30, u6 < 19 eventually holds.
Between v9 = 14 and n7 < 7, it is never the case that k6 = 5 holds.
After q9 = 2 until a12 > 31, it is always the case that if m1 = 26 holds, then d3 >= 18 previously held.
Between c5 > 7 and p9 < 20, it is always the case that if u5 > 26 holds and is succeeded by z1 = 17, then b5 < 3 previously held.
Globally, it is always the case that if n0 = 19 holds, then y4 <= 6 eventually holds and is succeeded by z11 >= 19, where k2 = 0 does not hold between y4 <= 6 and z11 >= 19 .
Before r2 < 4, it is always the case that if w6 = 23 holds, then y3 = 16 eventually holds and is succeeded by o3 > 31, where t3 > 10 does not hold between y3 = 16 and o3 > 31 .
Globally, it is always the case that m4 = 29 holds.
Globally, it is always the case that if b1 = 1 holds, then g10 < 14 eventually holds and is succeeded by o3 < 9, where n3 > 19 does not hold between g10 < 14 and o3 < 9 .
After x2 > 25 until o9 >= 11, it is never the case that c11 > 13 holds.
After t7 >= 4, it is always the case that if z10 > 3 holds, then d2 >= 2 eventually holds and is succeeded by f0 > 29, where j7 > 0 does not hold between d2 >= 2 and f0 > 29 .
After e6 = 16 until q9 <= 25, it is always the case that f7 > 0 holds.
After t2 >= 7, it is always the case that if t0 <= 0 holds, then v0 <= 19 previously held and was preceded by l1 < 27 .
Before r1 >= 15, it is always the case that if t9 > 18 holds, then n7 > 24 previously held.
Between i5 > 24 and f8 < 11, it is always the case that if a7 >= 9 holds, then w6 < 22 eventually holds and is succeeded by i2 >= 13 .
After r6 = 19 until s11 = 23, it is always the case that if s5 <= 26 holds, then y3 <= 5 eventually holds and is succeeded by z7 <= 31 .
After r6 > 19 until o10 < 31, j10 = 1 eventually holds.
After q11 > 16, it is always the case that if t11 < 31 holds and is succeeded by w3 = 14, then a9 = 1 previously held.
Between d7 > 10 and y5 = 24, it is always the case that if j4 <= 28 holds, then y11 <= 23 previously held.
Between m6 = 4 and b1 = 12, it is always the case that if m10 > 6 holds, then j11 <= 4 previously held.
Before t0 < 28, it is always the case that if t1 <= 16 holds and is succeeded by q0 <= 18, then f8 > 28 previously held.
Before v9 >= 7, it is always the case that if x8 < 19 holds, then g2 < 18 eventually holds.
After n10 >= 19 until b4 >= 10, it is always the case that if f2 = 0 holds and is succeeded by n5 > 31, then s2 < 1 eventually holds after n5 > 31 .
Before f0 >= 31, it is always the case that if i1 < 3 holds, then c9 > 19 eventually holds and is succeeded by k2 > 24 .
After u6 = 22 until d1 <= 13, it is always the case that if j5 > 10 holds and is succeeded by z1 < 11, then g11 <= 30 previously held.
Globally, it is always the case that if z11 = 18 holds, then g9 >= 14 previously held and was preceded by z1 = 15 .
Before x1 <= 20, it is always the case that if o11 > 6 holds, then f5 > 13 eventually holds.
Between q2 = 25 and x3 < 29, it is always the case that if o0 < 30 holds, then w1 >= 7 eventually holds and is succeeded by h7 = 7 .
Between u3 <= 22 and a10 >= 23, it is always the case that if p9 > 4 holds, then o8 < 21 eventually holds and is succeeded by x10 >= 28 .
Before o6 >= 15, it is always the case that if s5 = 12 holds and is succeeded by s8 < 1, then o5 <= 11 previously held.
After n0 <= 9, it is always the case that w9 >= 1 holds.
After n9 <= 20 until y3 > 3, it is always the case that if n10 < 18 holds, then i2 < 12 previously held.
Before n9 >= 23, it is always the case that if e3 < 12 holds, then t7 <= 31 previously held and was preceded by u6 <= 6 .
Globally, it is always the case that if f10 >= 20 holds, then d7 < 13 eventually holds and is succeeded by c2 < 26 .
After g9 >= 31 until f4 <= 23, it is always the case that if t3 > 1 holds, then v10 = 23 eventually holds and is succeeded by k0 < 27, where e4 = 24 does not hold between v10 = 23 and k0 < 27 .
Between m6 = 30 and v5 > 5, it is always the case that if j5 <= 2 holds and is succeeded by c1 < 25, then m9 < 17 previously held.
After m6 = 3 until h2 <= 9, it is always the case that if i4 > 12 holds and is succeeded by g1 = 12, then s1 < 28 previously held.
Before f0 = 30, it is always the case that x3 >= 12 holds.
Between f0 > 10 and w11 >= 9, it is always the case that if a11 < 8 holds and is succeeded by x7 < 3, then u1 <= 31 eventually holds after x7 < 3 .
Before p4 = 11, it is always the case that if g6 <= 27 holds, then u2 >= 9 eventually holds.
Before m6 = 20, it is always the case that if d3 > 25 holds, then c5 = 31 eventually holds.
Globally, it is never the case that y2 = 0 holds.
Globally, j4 = 18 eventually holds.
Globally, it is always the case that if c10 >= 26 holds, then k1 > 11 previously held.
After c12 >= 5, it is always the case that if a9 <= 19 holds, then v10 <= 30 previously held.
After x11 >= 13, it is always the case that if h8 <= 24 holds and is succeeded by o11 >= 4, then f4 <= 10 previously held.
Globally, it is always the case that if y0 < 11 holds and is succeeded by s9 <= 17, then p6 > 8 eventually holds after s9 <= 17 .
Globally, it is always the case that if h10 < 22 holds, then t4 = 20 eventually holds and is succeeded by m4 < 28, where m5 > 8 does not hold between t4 = 20 and m4 < 28 .
Before u8 > 25, it is always the case that if u0 = 15 holds, then s2 <= 11 previously held.
Between s2 >= 1 and l4 >= 10, it is never the case that p0 = 1 holds.
Globally, it is always the case that if l1 = 23 holds, then r5 <= 15 eventually holds and is succeeded by m11 <= 30 .
After d12 > 18 until f12 = 25, it is always the case that f12 <= 8 holds.
After f12 < 16, it is never the case that b12 = 6 holds.
Before z0 = 13, it is always the case that if t3 >= 10 holds, then z11 > 3 eventually holds and is succeeded by o4 < 2, where r4 >= 8 does not hold between z11 > 3 and o4 < 2 .
Globally, it is always the case that if d10 <= 1 holds and is succeeded by k3 > 17, then x7 > 10 eventually holds after k3 > 17 .
Globally, it is always the case that if e9 > 16 holds and is succeeded by r2 < 7, then x11 >= 4 eventually holds after r2 < 7 .
Before r0 < 23, it is always the case that v3 < 30 holds.
Globally, it is always the case that if f11 <= 16 holds, then j9 > 2 previously held.
After k11 > 15 until n4 = 2, it is always the case that if z10 <= 0 holds and is succeeded by q9 <= 1, then z9 >= 26 eventually holds after q9 <= 1 .
After q9 <= 18, it is always the case that if y1 = 6 holds, then s11 > 6 eventually holds and is succeeded by e11 <= 24, where b2 >= 26 does not hold between s11 > 6 and e11 <= 24 .
After x8 > 13 until o10 <= 23, it is always the case that if v6 >= 7 holds, then r8 < 1 eventually holds and is succeeded by j10 < 5, where q5 >= 16 does not hold between r8 < 1 and j10 < 5 .
Before y1 > 10, it is always the case that if e3 > 13 holds, then k9 >= 7 eventually holds.
After a0 = 19 until p3 <= 21, it is always the case that if u10 = 1 holds and is succeeded by n7 > 27, then p2 >= 26 previously held.
After r2 > 25 until r5 = 15, it is always the case that if p2 >= 6 holds, then h6 > 18 previously held and was preceded by d0 >= 4 .
Before r9 > 18, it is always the case that t4 > 22 holds.
Globally, w9 <= 6 eventually holds.
After g2 < 27, it is always the case that if p6 <= 7 holds, then c2 <= 30 previously held.
Before v6 >= 16, it is always the case that if k4 < 21 holds and is succeeded by m5 >= 3, then u11 = 6 previously held.
After k2 >= 4, it is always the case that if j4 >= 16 holds and is succeeded by t1 = 18, then n6 = 31 previously held.
Between l9 > 14 and f4 > 24, it is always the case that if l5 < 19 holds and is succeeded by b7 = 4, then h1 > 1 eventually holds after b7 = 4 .
Between y2 <= 19 and d3 < 23, it is always the case that if y2 = 30 holds, then c3 < 4 eventually holds.
Between y4 <= 26 and c2 > 15, it is always the case that if w2 = 23 holds, then t0 >= 15 eventually holds.
Before m0 > 24, it is always the case that if n1 > 26 holds, then g9 < 23 eventually holds.
Before w8 >= 18, it is always the case that if x6 <= 15 holds, then y9 > 29 eventually holds and is succeeded by s4 <= 6, where j2 > 5 does not hold between y9 > 29 and s4 <= 6 .
Before j11 < 2, k7 >= 1 eventually holds.
Globally, it is always the case that o10 = 9 holds.
Globally, it is always the case that if m4 < 1 holds, then s10 <= 1 previously held.
Globally, it is always the case that if m8 < 22 holds and is succeeded by b7 >= 17, then m0 >= 30 eventually holds after b7 >= 17 .
Globally, it is always the case that g3 = 11 holds.
After w2 < 5 until x10 > 28, it is always the case that if n7 >= 21 holds, then v4 >= 10 eventually holds and is succeeded by a8 > 17 .
After n7 < 3 until a9 > 10, it is always the case that m7 < 18 holds.
Globally, it is always the case that if s6 > 14 holds and is succeeded by l10 > 8, then j6 < 12 previously held.
After r1 < 16 until w2 = 29, it is always the case that c5 >= 4 holds.
After u0 = 10, it is never the case that i0 > 30 holds.
After a5 < 11 until r2 >= 28, it is always the case that f1 > 27 holds.
Globally, it is always the case that if t10 = 21 holds and is succeeded by z5 < 21, then w5 <= 10 previously held.
Between g4 >= 5 and n6 > 27, it is always the case that t0 >= 0 holds.
Between x7 > 13 and e4 < 10, it is always the case that if b7 > 16 holds, then t2 = 11 previously held.
Before g2 >= 11, it is always the case that if b0 < 7 holds, then u7 = 5 previously held and was preceded by f7 = 1 .
After b1 >= 26 until o2 >= 8, it is always the case that if j1 = 25 holds, then z11 >= 1 previously held and was preceded by z8 >= 19 .
After s0 < 4, it is always the case that b11 > 12 holds.
After q6 = 10 until k6 = 22, it is always the case that if q2 < 27 holds, then j8 > 1 eventually holds.
Globally, it is always the case that d1 < 20 holds.
Before b3 > 21, it is always the case that if w1 <= 25 holds, then a10 <= 24 eventually holds.
After t6 = 14, it is always the case that if q3 < 16 holds, then j1 > 8 eventually holds and is succeeded by w0 > 30 .
After i9 = 19, it is always the case that if m3 <= 14 holds, then p2 = 5 eventually holds.
Between p2 = 4 and k4 < 27, it is always the case that w8 <= 5 holds.
Between v10 = 22 and a0 >= 30, it is always the case that if e10 > 11 holds, then a5 <= 16 eventually holds and is succeeded by m6 > 8 .
Globally, x4 > 5 eventually holds.
Globally, a11 < 12 eventually holds.
After j8 >= 22 until p10 = 12, it is always the case that if d8 < 25 holds, then p4 = 11 previously held.
Between i8 < 16 and v3 = 0, it is never the case that b3 <= 13 holds.
Globally, it is always the case that if t2 > 0 holds, then y4 < 21 previously held and was preceded by i2 < 12 .
Before c6 <= 6, it is always the case that if t5 <= 14 holds, then l10 >= 13 previously held.
After u6 >= 7 until t6 = 30, it is always the case that if o11 <= 5 holds and is succeeded by z11 >= 22, then c8 < 6 previously held.
Before w11 <= 3, it is always the case that m8 = 6 holds.
Globally, it is always the case that if l10 <= 5 holds and is succeeded by p6 >= 22, then v7 > 5 eventually holds after p6 >= 22 .
After h0 = 23 until q5 <= 26, it is always the case that if h9 <= 19 holds, then j2 >= 1 eventually holds and is succeeded by u7 >= 6 .
Before i11 >= 13, it is always the case that if t7 >= 16 holds, then l10 = 13 eventually holds and is succeeded by h5 <= 18 .
Before f9 >= 13, it is always the case that if h7 <= 28 holds, then t8 < 10 eventually holds and is succeeded by g2 > 21 .
Globally, it is always the case that if o7 >= 13 holds, then z11 >= 7 previously held.
After j6 >= 5, it is always the case that if k9 = 30 holds, then e8 > 24 eventually holds and is succeeded by h10 > 10 .
