Before a0 < 6, it is always the case that a0 = 2 holds.
Between a0 > 6 and a0 = 0, it is always the case that if a0 <= 6 holds, then a0 > 0 eventually holds and is succeeded by a0 < 3, where a0 = 1 does not hold between a0 > 0 and a0 < 3 .
After a0 <= 7, it is never the case that a0 < 3 holds.
After a0 > 7, it is always the case that if a0 > 0 holds, then a0 < 2 eventually holds and is succeeded by a0 >= 4, where a0 > 2 does not hold between a0 < 2 and a0 >= 4 .
After a0 < 6 until a0 = 7, it is always the case that if a0 < 4 holds and is succeeded by a0 > 5, then a0 < 2 eventually holds after a0 > 5 .
After a0 > 1 until a0 > 3, it is always the case that if a0 <= 4 holds and is succeeded by a0 <= 0, then a0 < 7 eventually holds after a0 <= 0 .
Between a0 <= 1 and a0 < 6, it is always the case that if a0 = 1 holds and is succeeded by a0 < 2, then a0 = 4 eventually holds after a0 < 2 .
Between a0 = 3 and a0 > 3, it is always the case that if a0 >= 0 holds, then a0 < 7 eventually holds.
