Before l0 = 3, it is always the case that m0 = 0 holds.
Globally, it is always the case that if n0 >= 2 holds and is succeeded by d0 = 3, then h0 = 0 previously held.
After k0 < 2 until d0 < 3, it is never the case that f0 < 1 holds.
Before s0 < 1, it is always the case that if h0 > 0 holds, then d0 < 2 previously held.
After i0 <= 1 until o0 <= 3, it is always the case that if h0 = 2 holds, then b0 > 1 eventually holds and is succeeded by l0 = 2 .
Before s0 >= 3, it is always the case that if l0 < 0 holds, then g0 <= 0 eventually holds and is succeeded by l0 < 3 .
After b0 < 0, it is always the case that if k0 > 2 holds, then c0 < 2 eventually holds and is succeeded by d0 >= 1, where d0 <= 0 does not hold between c0 < 2 and d0 >= 1 .
After c0 < 2, it is always the case that if b0 > 2 holds, then b0 > 3 eventually holds and is succeeded by j0 > 3 .
After d0 > 1, it is always the case that if h0 > 3 holds, then p0 <= 3 eventually holds and is succeeded by r0 < 2, where k0 >= 2 does not hold between p0 <= 3 and r0 < 2 .
Between r0 > 1 and o0 >= 3, it is always the case that if o0 <= 1 holds, then g0 >= 0 eventually holds and is succeeded by f0 > 2 .
Globally, e0 > 1 eventually holds.
After d0 > 3, it is always the case that if m0 = 1 holds, then j0 < 1 eventually holds and is succeeded by c0 > 2, where r0 > 1 does not hold between j0 < 1 and c0 > 2 .
After a0 = 1 until f0 = 3, it is always the case that j0 <= 2 holds.
After d0 < 0, it is always the case that if j0 >= 0 holds and is succeeded by q0 < 1, then q0 > 2 previously held.
Before m0 >= 3, it is always the case that f0 <= 2 holds.
After b0 > 1, it is always the case that h0 < 0 holds.
Before i0 < 0, it is always the case that if a0 = 2 holds and is succeeded by l0 = 2, then k0 > 0 previously held.
After f0 >= 0 until e0 = 2, it is always the case that if m0 > 2 holds, then n0 <= 0 previously held.
After l0 < 1 until m0 > 1, it is always the case that if i0 >= 0 holds, then e0 > 3 previously held and was preceded by b0 = 2 .
Globally, it is always the case that if p0 > 0 holds and is succeeded by c0 >= 0, then q0 = 0 eventually holds after c0 >= 0 .
After d0 > 0, it is always the case that if m0 > 0 holds, then b0 >= 2 previously held.
After g0 <= 2 until m0 >= 1, m0 > 1 eventually holds.
Globally, it is always the case that if m0 >= 1 holds, then b0 > 0 eventually holds and is succeeded by h0 >= 3, where n0 >= 0 does not hold between b0 > 0 and h0 >= 3 .
Globally, it is always the case that if f0 < 2 holds and is succeeded by i0 > 1, then e0 >= 1 previously held.
Between q0 >= 2 and a0 <= 1, it is always the case that if c0 > 1 holds, then a0 > 0 eventually holds.
Before e0 <= 3, it is always the case that k0 >= 1 holds.
Globally, it is always the case that if g0 >= 1 holds and is succeeded by n0 <= 1, then h0 > 2 eventually holds after n0 <= 1 .
After p0 > 1, it is always the case that e0 > 1 holds.
Before e0 < 1, it is always the case that if f0 <= 3 holds, then l0 = 2 eventually holds.
Before g0 <= 2, r0 > 1 eventually holds.
After c0 <= 1, it is always the case that if p0 = 2 holds and is succeeded by m0 > 1, then r0 > 0 previously held.
After g0 >= 0, it is always the case that if a0 >= 3 holds, then n0 >= 2 eventually holds and is succeeded by b0 < 2 .
Between p0 < 0 and b0 <= 3, it is always the case that if l0 = 0 holds, then n0 > 0 eventually holds and is succeeded by i0 >= 2 .
After m0 > 1 until l0 > 2, it is always the case that if r0 <= 1 holds, then i0 < 3 eventually holds.
Between f0 > 0 and g0 >= 3, it is always the case that f0 < 2 holds.
After m0 = 1, it is always the case that if i0 <= 2 holds, then m0 >= 2 eventually holds and is succeeded by h0 = 0, where n0 < 1 does not hold between m0 >= 2 and h0 = 0 .
After p0 = 1 until i0 < 3, it is always the case that if l0 < 1 holds, then e0 > 3 previously held.
Between h0 >= 3 and k0 < 3, it is always the case that if n0 >= 0 holds and is succeeded by c0 >= 0, then p0 > 0 eventually holds after c0 >= 0 .
After l0 <= 0, it is always the case that if b0 <= 3 holds and is succeeded by n0 >= 0, then g0 = 0 previously held.
After l0 > 0, it is always the case that if c0 > 0 holds, then i0 < 0 eventually holds and is succeeded by d0 = 1 .
After m0 > 2 until i0 = 3, it is always the case that if c0 < 3 holds and is succeeded by j0 > 3, then q0 > 1 previously held.
Globally, it is never the case that d0 > 0 holds.
Globally, it is always the case that if q0 = 1 holds, then i0 > 2 eventually holds and is succeeded by k0 = 1, where s0 >= 1 does not hold between i0 > 2 and k0 = 1 .
Between m0 >= 0 and j0 = 3, it is never the case that d0 <= 1 holds.
Globally, it is always the case that if i0 = 0 holds, then q0 <= 0 previously held and was preceded by k0 >= 0 .
Globally, it is always the case that if e0 < 0 holds, then s0 < 3 eventually holds and is succeeded by c0 > 0, where g0 >= 1 does not hold between s0 < 3 and c0 > 0 .
After a0 < 3 until r0 = 1, it is always the case that if a0 <= 1 holds and is succeeded by a0 = 1, then j0 <= 1 previously held.
After l0 > 0, it is never the case that p0 = 0 holds.
After s0 >= 2 until d0 = 0, h0 > 0 eventually holds.
Globally, it is never the case that j0 > 2 holds.
Between m0 = 0 and c0 > 0, it is always the case that if q0 > 1 holds and is succeeded by c0 <= 1, then d0 >= 0 previously held.
After m0 = 1, it is always the case that if o0 = 1 holds, then i0 >= 1 eventually holds.
Globally, it is always the case that if p0 = 2 holds, then p0 >= 1 eventually holds and is succeeded by n0 = 2, where k0 > 0 does not hold between p0 >= 1 and n0 = 2 .
Globally, it is always the case that if d0 >= 2 holds, then f0 < 3 eventually holds and is succeeded by d0 < 1 .
Before i0 < 2, it is always the case that if g0 > 3 holds, then n0 <= 2 previously held and was preceded by q0 < 2 .
After i0 < 0 until i0 > 0, it is never the case that n0 <= 1 holds.
After d0 = 3, it is always the case that if a0 < 2 holds and is succeeded by r0 <= 0, then k0 <= 2 previously held.
After r0 > 1 until l0 >= 2, it is always the case that if q0 <= 2 holds, then i0 > 2 previously held and was preceded by r0 < 2 .
Between g0 >= 0 and j0 <= 1, it is always the case that if g0 > 0 holds and is succeeded by f0 > 1, then r0 <= 0 eventually holds after f0 > 1 .
Globally, it is always the case that if b0 > 0 holds, then m0 < 2 previously held.
After n0 > 0 until c0 >= 1, it is always the case that if j0 > 0 holds, then d0 < 2 previously held.
After c0 < 2, it is always the case that if m0 <= 0 holds, then a0 >= 2 eventually holds.
After f0 <= 1 until k0 <= 1, it is always the case that if i0 = 0 holds, then g0 = 2 eventually holds and is succeeded by r0 >= 2 .
After d0 <= 0 until h0 >= 1, it is never the case that f0 < 3 holds.
After o0 >= 2 until b0 >= 1, it is always the case that if m0 > 1 holds, then o0 < 2 eventually holds and is succeeded by r0 = 3, where h0 <= 3 does not hold between o0 < 2 and r0 = 3 .
After f0 <= 3, it is always the case that if p0 >= 0 holds, then i0 < 2 previously held and was preceded by g0 > 1 .
After l0 = 1 until h0 < 1, it is always the case that if p0 = 1 holds, then r0 >= 2 eventually holds and is succeeded by f0 <= 0, where p0 < 0 does not hold between r0 >= 2 and f0 <= 0 .
Before e0 > 1, it is always the case that if e0 = 2 holds and is succeeded by g0 <= 1, then e0 < 2 eventually holds after g0 <= 1 .
Between n0 <= 2 and h0 = 1, it is always the case that if p0 = 3 holds and is succeeded by k0 > 3, then g0 > 3 previously held.
Between j0 >= 0 and r0 < 0, it is always the case that if b0 <= 3 holds, then l0 >= 3 eventually holds.
Between q0 > 3 and m0 = 0, it is always the case that if l0 < 3 holds and is succeeded by o0 = 1, then r0 < 1 eventually holds after o0 = 1 .
After j0 = 2 until p0 >= 1, it is always the case that if p0 < 2 holds, then a0 <= 3 previously held and was preceded by a0 < 1 .
Between f0 <= 3 and e0 > 0, it is always the case that s0 <= 3 holds.
Globally, it is always the case that if a0 >= 3 holds, then k0 <= 0 eventually holds and is succeeded by a0 < 0, where i0 <= 2 does not hold between k0 <= 0 and a0 < 0 .
After m0 < 1 until r0 = 2, l0 >= 0 eventually holds.
Before c0 > 0, it is always the case that if a0 >= 3 holds, then g0 = 0 eventually holds and is succeeded by b0 < 0, where i0 = 2 does not hold between g0 = 0 and b0 < 0 .
After s0 <= 0, it is always the case that if i0 < 3 holds, then a0 <= 1 previously held and was preceded by e0 = 1 .
Globally, it is always the case that if l0 <= 0 holds, then n0 >= 2 previously held and was preceded by n0 = 3 .
Globally, it is always the case that if a0 = 2 holds, then n0 < 2 previously held and was preceded by b0 = 0 .
Between q0 >= 1 and s0 < 3, it is always the case that if a0 < 0 holds, then h0 <= 3 eventually holds and is succeeded by d0 >= 0 .
Between d0 < 1 and c0 <= 1, it is always the case that if o0 >= 1 holds, then b0 = 3 previously held.
Between q0 >= 1 and g0 = 2, it is always the case that if c0 >= 0 holds and is succeeded by l0 > 0, then l0 < 1 previously held.
Before q0 <= 2, it is always the case that if c0 > 0 holds, then i0 <= 1 eventually holds and is succeeded by e0 <= 0, where q0 < 0 does not hold between i0 <= 1 and e0 <= 0 .
Globally, it is always the case that if p0 >= 3 holds, then d0 = 3 previously held.
Before n0 < 2, it is always the case that if a0 <= 2 holds, then q0 >= 0 eventually holds and is succeeded by q0 > 2 .
Before r0 < 0, it is always the case that if e0 = 0 holds, then m0 < 1 eventually holds and is succeeded by n0 <= 0, where h0 = 3 does not hold between m0 < 1 and n0 <= 0 .
After f0 <= 2 until q0 <= 0, it is always the case that if k0 <= 1 holds, then a0 = 3 eventually holds.
After a0 <= 1, it is always the case that if b0 <= 2 holds, then n0 < 1 previously held.
Between l0 = 2 and c0 > 2, it is never the case that n0 <= 3 holds.
Globally, it is never the case that m0 >= 0 holds.
Between b0 >= 0 and j0 = 0, it is always the case that b0 = 1 holds.
Between f0 < 0 and i0 > 2, it is always the case that if d0 > 3 holds, then h0 <= 3 previously held.
Globally, it is always the case that c0 < 2 holds.
Globally, it is always the case that if e0 = 1 holds and is succeeded by a0 < 1, then h0 < 1 eventually holds after a0 < 1 .
Before l0 >= 2, l0 >= 3 eventually holds.
Before l0 >= 3, it is always the case that if i0 > 1 holds, then i0 < 1 eventually holds and is succeeded by c0 <= 2 .
Before p0 < 0, it is always the case that if k0 >= 0 holds and is succeeded by l0 = 0, then j0 > 2 eventually holds after l0 = 0 .
After q0 < 3 until f0 <= 1, it is always the case that if c0 = 0 holds, then l0 >= 3 eventually holds.
Between a0 >= 1 and k0 < 1, it is always the case that d0 > 1 holds.
Between p0 > 0 and q0 = 0, it is always the case that if f0 < 1 holds, then i0 >= 3 previously held.
Between c0 <= 0 and r0 >= 0, it is always the case that if c0 > 3 holds, then s0 >= 0 previously held.
After n0 >= 3, n0 >= 1 eventually holds.
Between d0 >= 2 and d0 > 3, it is always the case that e0 < 0 holds.
After f0 = 3 until i0 >= 1, it is always the case that n0 <= 1 holds.
After q0 <= 0, it is always the case that if j0 > 3 holds, then b0 = 2 eventually holds and is succeeded by d0 = 1, where m0 > 3 does not hold between b0 = 2 and d0 = 1 .
Between b0 = 1 and j0 < 3, it is always the case that if m0 <= 0 holds and is succeeded by r0 < 3, then i0 <= 0 eventually holds after r0 < 3 .
After a0 = 1 until o0 <= 1, it is always the case that if f0 < 1 holds, then p0 = 2 eventually holds.
After c0 < 3, it is always the case that if b0 >= 1 holds, then j0 <= 3 eventually holds and is succeeded by i0 <= 0, where l0 < 3 does not hold between j0 <= 3 and i0 <= 0 .
Globally, it is always the case that if q0 < 2 holds, then a0 > 0 eventually holds and is succeeded by k0 = 3, where p0 < 1 does not hold between a0 > 0 and k0 = 3 .
After g0 >= 2, it is always the case that if a0 > 1 holds, then e0 >= 3 eventually holds.
After f0 >= 3, it is always the case that if r0 > 0 holds, then a0 = 3 eventually holds and is succeeded by l0 = 3 .
Globally, it is always the case that if k0 < 2 holds, then q0 = 3 eventually holds and is succeeded by e0 <= 1 .
After p0 <= 1, it is always the case that if h0 >= 3 holds, then g0 > 1 previously held and was preceded by k0 > 2 .
After g0 > 3, it is always the case that if d0 < 2 holds, then b0 > 1 eventually holds and is succeeded by m0 < 1, where s0 = 1 does not hold between b0 > 1 and m0 < 1 .
After k0 = 0, it is always the case that e0 > 0 holds.
Globally, it is always the case that j0 >= 3 holds.
After e0 < 1 until b0 <= 3, h0 > 0 eventually holds.
After n0 > 3, it is always the case that if m0 < 3 holds and is succeeded by m0 <= 1, then c0 <= 1 eventually holds after m0 <= 1 .
After b0 > 3, it is always the case that if q0 < 2 holds, then k0 < 0 eventually holds.
After r0 > 1 until j0 >= 1, it is always the case that if h0 <= 1 holds, then k0 < 0 previously held and was preceded by o0 = 0 .
