Before s18 <= 28, it is always the case that if s7 = 31 holds, then d2 = 27 eventually holds and is succeeded by f23 = 26, where k21 >= 17 does not hold between d2 = 27 and f23 = 26 .
Globally, it is always the case that if p20 >= 4 holds and is succeeded by v1 = 15, then h17 = 17 previously held.
Before b17 >= 8, it is always the case that if z23 <= 9 holds, then p8 >= 11 eventually holds and is succeeded by j13 < 31 .
After t0 < 23 until z12 > 20, it is always the case that if q7 > 1 holds, then l11 <= 2 eventually holds.
After w15 <= 4 until w8 > 21, it is always the case that if t15 <= 8 holds and is succeeded by s5 <= 30, then k13 > 14 previously held.
After u20 <= 19 until c8 <= 23, it is always the case that if j0 >= 17 holds, then a3 <= 15 eventually holds and is succeeded by i24 > 23, where d1 < 26 does not hold between a3 <= 15 and i24 > 23 .
Between s10 < 2 and e14 <= 16, it is always the case that if z2 < 25 holds and is succeeded by q0 >= 7, then h14 < 31 eventually holds after q0 >= 7 .
After m3 >= 29 until e15 = 4, it is always the case that if d14 = 16 holds, then q23 > 3 previously held.
Globally, it is always the case that if g17 < 18 holds, then p21 = 13 previously held.
After r16 < 4, it is always the case that a23 > 19 holds.
After p1 > 18 until w22 = 20, it is never the case that v2 <= 24 holds.
After x5 > 18, it is always the case that if i1 > 27 holds, then o10 <= 18 eventually holds and is succeeded by s0 < 14 .
Between b15 > 12 and x13 < 0, it is always the case that u1 < 31 holds.
Globally, it is always the case that if e14 < 11 holds, then e3 = 26 eventually holds and is succeeded by c5 > 21, where d4 = 10 does not hold between e3 = 26 and c5 > 21 .
After u7 >= 8, it is always the case that s18 > 3 holds.
Between j15 <= 8 and r16 < 18, it is always the case that if z18 <= 27 holds and is succeeded by b20 >= 10, then c2 = 23 previously held.
Between b19 > 27 and m21 > 30, it is always the case that if s22 > 26 holds and is succeeded by m6 = 1, then e14 = 22 previously held.
After s0 > 30 until u20 < 3, it is never the case that r19 = 28 holds.
Between x17 = 20 and o14 = 19, it is always the case that if f12 >= 12 holds, then n0 = 30 previously held and was preceded by j8 < 22 .
After u7 = 29 until n1 > 13, it is always the case that if u12 > 10 holds and is succeeded by a15 < 10, then d14 > 20 eventually holds after a15 < 10 .
Between h11 < 17 and o18 > 10, it is always the case that if o9 <= 13 holds, then j14 < 6 previously held and was preceded by f10 < 9 .
After p0 = 1, it is always the case that if b17 > 8 holds and is succeeded by k4 <= 15, then d4 > 21 eventually holds after k4 <= 15 .
After s17 <= 11, it is always the case that if o21 > 17 holds, then i4 < 12 eventually holds and is succeeded by v19 < 20, where j19 = 10 does not hold between i4 < 12 and v19 < 20 .
Before l2 <= 0, it is always the case that if d18 > 14 holds and is succeeded by i12 = 23, then x9 = 3 previously held.
After n9 <= 19 until i6 > 0, it is always the case that if b17 = 15 holds and is succeeded by w21 <= 8, then z0 = 19 previously held.
After l15 < 3, it is always the case that if c5 > 16 holds, then y18 = 9 eventually holds and is succeeded by u23 >= 8, where j10 >= 21 does not hold between y18 = 9 and u23 >= 8 .
Globally, it is always the case that if h14 = 18 holds, then d3 >= 20 previously held.
After l24 <= 10, it is always the case that if c19 < 15 holds, then v7 = 11 eventually holds and is succeeded by x4 < 19 .
Globally, it is always the case that l19 = 22 holds.
After j22 <= 9, s19 = 5 eventually holds.
Between e22 < 25 and u4 <= 18, it is never the case that q20 >= 27 holds.
After o13 <= 13 until q14 < 7, it is always the case that if f8 >= 20 holds, then p23 >= 5 previously held.
After j4 < 6, it is always the case that if f21 <= 19 holds, then z7 = 20 previously held and was preceded by b19 <= 29 .
Between k10 <= 17 and w9 >= 11, it is always the case that if o10 <= 16 holds, then g17 >= 1 previously held and was preceded by n24 < 27 .
Before s12 = 5, it is always the case that if f14 = 0 holds, then q17 < 20 eventually holds and is succeeded by b1 = 3, where l10 > 8 does not hold between q17 < 20 and b1 = 3 .
After l16 = 29 until u12 > 25, it is always the case that if o23 >= 5 holds, then v19 < 20 previously held and was preceded by p14 >= 7 .
After m18 > 31 until x15 = 25, it is always the case that if f5 >= 31 holds, then b12 = 19 eventually holds and is succeeded by d5 = 30 .
After h3 > 23 until t11 > 2, it is always the case that if m24 > 22 holds, then j2 <= 7 eventually holds.
Globally, it is always the case that v15 = 20 holds.
Between x7 > 16 and s19 > 26, it is always the case that v20 > 31 holds.
After y13 <= 1, it is always the case that e9 >= 23 holds.
Before k3 = 6, it is always the case that if k10 = 19 holds, then j16 <= 29 eventually holds and is succeeded by v10 > 13 .
After z19 > 10, it is never the case that c0 = 18 holds.
Between q1 > 21 and t16 <= 18, it is always the case that if h21 <= 15 holds, then q0 <= 4 eventually holds and is succeeded by b20 < 9, where q4 >= 13 does not hold between q0 <= 4 and b20 < 9 .
Before p8 = 14, it is always the case that if s10 <= 22 holds, then i21 < 4 eventually holds.
Globally, it is never the case that d5 < 7 holds.
After b15 > 22 until h7 >= 19, it is always the case that if n23 > 27 holds, then l3 < 16 previously held and was preceded by g11 >= 20 .
Between s16 >= 2 and f0 > 5, it is always the case that if b15 > 0 holds and is succeeded by g22 < 4, then a13 > 14 previously held.
After c16 > 21 until t15 >= 4, m18 > 25 eventually holds.
Between b16 >= 24 and a12 = 28, it is always the case that if r17 = 15 holds and is succeeded by e19 > 6, then l16 > 20 eventually holds after e19 > 6 .
Before f2 <= 24, it is always the case that if t14 = 10 holds and is succeeded by p6 >= 0, then b15 >= 6 eventually holds after p6 >= 0 .
Between h9 = 6 and v6 > 18, it is always the case that if r4 > 14 holds, then y14 < 11 eventually holds and is succeeded by s4 < 16, where f5 >= 16 does not hold between y14 < 11 and s4 < 16 .
Globally, it is always the case that if y20 >= 27 holds, then p12 = 17 previously held and was preceded by l7 > 2 .
After t19 > 23 until x8 >= 17, it is always the case that if e0 > 23 holds, then e10 < 11 eventually holds and is succeeded by l24 = 28, where n6 = 24 does not hold between e10 < 11 and l24 = 28 .
Between t6 >= 30 and t2 = 22, it is never the case that l0 < 21 holds.
Globally, it is always the case that if o24 >= 30 holds, then a9 <= 29 eventually holds and is succeeded by i0 >= 31, where r14 <= 3 does not hold between a9 <= 29 and i0 >= 31 .
Globally, it is always the case that if x14 = 6 holds, then k15 >= 26 previously held.
Between j15 >= 13 and l10 <= 28, it is never the case that e11 < 10 holds.
Between g13 = 0 and r9 > 1, it is always the case that if l18 = 14 holds, then f0 = 27 eventually holds and is succeeded by n16 < 1 .
Globally, it is always the case that if x9 = 3 holds and is succeeded by a23 >= 21, then y1 = 19 eventually holds after a23 >= 21 .
After p12 >= 0 until r4 >= 19, it is always the case that if t16 > 31 holds, then o19 < 14 previously held.
After u1 < 4, it is never the case that z10 < 22 holds.
After q19 <= 22 until d1 = 11, q17 > 29 eventually holds.
Globally, it is always the case that if k9 <= 13 holds, then b12 < 11 eventually holds and is succeeded by s0 >= 27, where t7 = 6 does not hold between b12 < 11 and s0 >= 27 .
After t12 < 8, it is always the case that if i6 <= 6 holds, then z16 > 10 eventually holds and is succeeded by f8 > 25 .
After w18 > 31 until f0 >= 14, k20 < 8 eventually holds.
After f14 <= 24, it is always the case that if p21 <= 26 holds, then o21 < 6 eventually holds and is succeeded by z9 <= 3 .
Between i7 > 26 and t1 <= 20, it is always the case that if c22 < 6 holds, then r0 = 30 eventually holds and is succeeded by c16 = 10 .
Globally, it is always the case that if k16 = 24 holds, then n5 > 10 previously held.
After t2 < 4 until i18 > 9, it is always the case that if o5 >= 2 holds, then y9 < 22 previously held and was preceded by t20 > 4 .
Between t12 = 4 and w13 >= 10, it is never the case that l10 >= 11 holds.
Globally, it is always the case that if w7 >= 1 holds, then j14 <= 20 eventually holds.
After b16 <= 7, it is always the case that if r14 > 17 holds, then z22 < 29 eventually holds.
Globally, j16 >= 23 eventually holds.
After v18 > 10 until m9 = 19, it is always the case that if c2 < 9 holds, then i22 <= 30 previously held.
After e12 = 21 until v0 = 19, v21 >= 6 eventually holds.
Globally, it is always the case that if v10 < 26 holds and is succeeded by w11 <= 26, then c19 <= 14 previously held.
Between x18 < 16 and b16 >= 30, it is always the case that if u3 < 23 holds and is succeeded by f15 > 7, then z4 <= 14 eventually holds after f15 > 7 .
Between c13 > 22 and e6 >= 13, it is always the case that if n23 > 15 holds, then x0 = 27 eventually holds and is succeeded by m9 <= 1, where i24 <= 8 does not hold between x0 = 27 and m9 <= 1 .
Before l19 <= 13, it is always the case that if q14 < 17 holds, then h0 >= 3 eventually holds and is succeeded by l9 > 15 .
Before i10 >= 2, it is always the case that if b13 > 6 holds, then o22 = 16 previously held.
After d20 >= 30, it is always the case that if i12 >= 23 holds, then t7 = 8 previously held and was preceded by q2 < 5 .
After b7 = 22 until t2 = 16, it is always the case that if m5 >= 14 holds, then g12 = 30 previously held.
After p1 >= 29, it is always the case that if i4 > 17 holds, then h11 > 0 eventually holds.
After f2 = 3, q9 = 7 eventually holds.
After c14 >= 28 until o8 >= 12, it is always the case that if c15 = 31 holds and is succeeded by k22 > 13, then v7 <= 28 eventually holds after k22 > 13 .
Globally, it is always the case that if y20 > 15 holds, then o9 >= 17 previously held.
Between b6 <= 21 and x22 <= 6, it is always the case that if c14 <= 14 holds and is succeeded by y17 < 15, then u14 < 7 previously held.
After r3 < 16 until q4 < 13, it is always the case that if k16 = 8 holds and is succeeded by f13 <= 11, then p13 >= 28 eventually holds after f13 <= 11 .
After d23 >= 26 until h0 > 6, m21 <= 16 eventually holds.
After z20 > 22 until y17 = 7, it is never the case that c7 = 19 holds.
Before t16 <= 24, it is never the case that g8 >= 14 holds.
After i17 <= 24 until e21 >= 1, it is always the case that if d11 >= 4 holds and is succeeded by y17 > 30, then r16 >= 22 previously held.
After s14 > 24 until x11 >= 19, it is never the case that s19 < 12 holds.
Before a3 = 31, it is always the case that if v8 > 4 holds, then d16 > 17 previously held.
Between l8 >= 17 and z8 < 5, it is never the case that n7 <= 5 holds.
Between e12 = 16 and j17 >= 14, it is always the case that if r18 < 11 holds and is succeeded by s15 <= 30, then v1 < 15 previously held.
Between b8 <= 4 and f16 = 7, it is always the case that if m8 <= 8 holds, then s10 <= 10 eventually holds.
After e18 > 12 until l2 = 11, it is always the case that if l23 = 11 holds and is succeeded by f20 >= 19, then w17 <= 23 eventually holds after f20 >= 19 .
Between z21 <= 7 and r18 <= 20, it is always the case that if y11 = 31 holds and is succeeded by r20 > 9, then u10 = 15 previously held.
Before l16 > 1, it is never the case that r23 <= 1 holds.
Globally, b14 >= 25 eventually holds.
After f22 = 14, it is never the case that g18 > 13 holds.
Globally, it is never the case that k13 = 11 holds.
Globally, it is always the case that if m18 > 13 holds and is succeeded by d19 > 22, then s2 < 29 previously held.
Globally, it is always the case that if f12 = 23 holds, then v13 > 14 eventually holds and is succeeded by q4 <= 16 .
Before j5 = 0, v2 > 17 eventually holds.
After d14 > 11, it is always the case that if q1 > 21 holds and is succeeded by t3 > 8, then d14 <= 4 eventually holds after t3 > 8 .
After c1 > 19, u2 >= 2 eventually holds.
After t5 < 26 until e4 >= 22, it is always the case that if j5 >= 31 holds, then v7 > 0 previously held.
After g5 < 23 until b24 > 6, it is always the case that if o24 > 14 holds, then g14 < 17 eventually holds and is succeeded by j11 >= 4, where t14 = 19 does not hold between g14 < 17 and j11 >= 4 .
Globally, it is always the case that c8 <= 25 holds.
Between d2 < 13 and c2 = 27, it is always the case that if q19 = 24 holds, then i24 = 9 eventually holds and is succeeded by z23 > 4, where u10 = 24 does not hold between i24 = 9 and z23 > 4 .
Before f11 < 3, it is always the case that if k23 > 20 holds, then x22 = 18 eventually holds and is succeeded by b4 < 11 .
After o14 < 31, it is always the case that if i23 = 28 holds, then m21 <= 2 eventually holds.
After j2 > 30 until n22 < 9, it is always the case that if y9 > 25 holds, then m3 >= 26 previously held.
After i0 >= 21, it is always the case that if v20 <= 27 holds, then w20 > 19 eventually holds and is succeeded by m17 >= 31, where s23 < 20 does not hold between w20 > 19 and m17 >= 31 .
After m22 <= 22 until w3 < 25, it is always the case that if c18 < 26 holds, then o17 = 4 previously held and was preceded by j18 = 27 .
After d12 <= 25 until m3 >= 20, it is always the case that h8 > 5 holds.
Before h24 < 31, it is always the case that if v0 < 18 holds, then f19 > 28 previously held.
