Globally, it is never the case that s0 >= 9 holds.
After d0 = 28, it is always the case that if i0 < 21 holds and is succeeded by g0 > 13, then n0 <= 16 eventually holds after g0 > 13 .
After q0 >= 16, it is never the case that q0 < 10 holds.
After g0 >= 11 until a0 >= 12, it is always the case that if i0 = 0 holds and is succeeded by k0 = 2, then b0 = 21 previously held.
After g0 >= 14, it is always the case that if r0 = 6 holds, then p0 = 5 previously held and was preceded by o0 = 31 .
After b0 > 23 until h0 = 6, it is always the case that p0 > 9 holds.
After f0 < 4 until g0 >= 26, it is always the case that if o0 = 0 holds and is succeeded by q0 > 8, then p0 <= 20 eventually holds after q0 > 8 .
Globally, it is always the case that if o0 >= 18 holds, then a0 > 9 eventually holds.
After e0 < 27, it is always the case that if o0 >= 2 holds, then n0 >= 31 previously held and was preceded by g0 <= 14 .
Between e0 = 21 and k0 <= 10, q0 >= 17 eventually holds.
After p0 >= 12, it is never the case that h0 < 24 holds.
Globally, it is always the case that if k0 > 10 holds, then c0 < 16 eventually holds and is succeeded by l0 >= 30, where f0 > 20 does not hold between c0 < 16 and l0 >= 30 .
Globally, it is always the case that if m0 <= 23 holds, then c0 = 17 previously held and was preceded by i0 <= 23 .
Before m0 = 0, it is always the case that if b0 = 12 holds and is succeeded by d0 < 5, then a0 < 13 eventually holds after d0 < 5 .
Before j0 > 13, j0 > 12 eventually holds.
Between d0 > 16 and g0 > 27, it is always the case that if c0 > 11 holds, then m0 >= 10 eventually holds and is succeeded by s0 > 28, where g0 = 27 does not hold between m0 >= 10 and s0 > 28 .
Before m0 = 28, it is always the case that if s0 = 20 holds and is succeeded by f0 <= 1, then g0 > 14 previously held.
After q0 <= 27, it is always the case that if a0 = 12 holds and is succeeded by f0 = 0, then e0 >= 9 eventually holds after f0 = 0 .
Globally, it is always the case that if n0 <= 13 holds, then f0 > 2 eventually holds.
After r0 >= 30, it is never the case that m0 < 29 holds.
After q0 = 0 until m0 >= 17, it is always the case that if r0 <= 23 holds, then s0 >= 23 eventually holds and is succeeded by l0 >= 13 .
Globally, it is always the case that if p0 >= 27 holds, then d0 <= 10 previously held.
Between k0 >= 20 and b0 < 5, it is always the case that if d0 > 3 holds, then k0 < 4 previously held and was preceded by n0 >= 6 .
After h0 < 9, it is always the case that if m0 <= 17 holds, then j0 >= 17 previously held and was preceded by k0 >= 16 .
After c0 > 1 until s0 = 17, n0 > 17 eventually holds.
Before o0 = 1, it is always the case that n0 < 17 holds.
After k0 < 22, it is never the case that a0 = 17 holds.
Between r0 > 2 and p0 <= 3, it is always the case that if m0 > 14 holds and is succeeded by a0 < 13, then r0 > 14 previously held.
After k0 >= 25, it is always the case that if m0 < 23 holds and is succeeded by d0 < 18, then d0 < 28 previously held.
Between k0 = 19 and i0 > 12, it is always the case that if n0 >= 16 holds, then f0 > 16 eventually holds and is succeeded by h0 < 8, where m0 = 13 does not hold between f0 > 16 and h0 < 8 .
Between r0 <= 10 and c0 > 1, it is always the case that if f0 >= 16 holds, then l0 <= 27 eventually holds.
Between s0 > 28 and m0 < 15, it is always the case that if g0 = 22 holds, then h0 = 3 previously held and was preceded by m0 < 28 .
Between b0 <= 31 and h0 >= 9, it is always the case that if p0 = 13 holds and is succeeded by i0 > 19, then k0 >= 31 eventually holds after i0 > 19 .
Before n0 = 31, it is always the case that if e0 = 27 holds, then l0 > 13 eventually holds and is succeeded by p0 <= 20, where h0 = 8 does not hold between l0 > 13 and p0 <= 20 .
After m0 <= 8 until j0 = 27, q0 > 2 eventually holds.
After e0 >= 1, it is always the case that if j0 = 17 holds, then j0 >= 21 previously held and was preceded by n0 >= 27 .
After r0 <= 8, it is always the case that m0 = 1 holds.
After m0 < 25, it is always the case that if g0 > 7 holds, then o0 = 27 previously held.
After m0 = 19, it is always the case that o0 >= 15 holds.
Between i0 > 18 and j0 < 17, it is always the case that if e0 <= 11 holds, then q0 < 19 eventually holds and is succeeded by n0 <= 31, where g0 < 18 does not hold between q0 < 19 and n0 <= 31 .
Globally, it is always the case that if l0 <= 1 holds, then g0 = 14 previously held.
After g0 < 16 until d0 <= 1, l0 > 3 eventually holds.
Globally, it is never the case that c0 < 12 holds.
After o0 < 5, it is always the case that k0 > 25 holds.
Between d0 <= 24 and r0 < 30, it is always the case that if f0 <= 26 holds, then j0 <= 4 eventually holds.
Before o0 <= 26, it is always the case that l0 < 14 holds.
Between r0 < 4 and r0 <= 24, it is always the case that if b0 < 24 holds, then c0 > 27 eventually holds.
After l0 >= 26, it is always the case that if d0 = 13 holds and is succeeded by l0 >= 12, then k0 < 21 previously held.
Between f0 > 15 and k0 >= 31, it is always the case that if o0 > 21 holds, then s0 = 14 eventually holds and is succeeded by b0 > 21 .
Before b0 = 3, it is never the case that l0 > 28 holds.
Globally, it is always the case that if q0 < 26 holds, then j0 < 0 previously held.
Between o0 < 2 and s0 = 1, it is always the case that if n0 < 22 holds and is succeeded by e0 >= 20, then q0 >= 11 previously held.
After a0 = 14, it is always the case that if b0 < 12 holds and is succeeded by s0 >= 21, then k0 >= 22 eventually holds after s0 >= 21 .
After r0 = 11 until k0 < 12, it is always the case that if s0 <= 1 holds and is succeeded by q0 <= 20, then l0 > 21 eventually holds after q0 <= 20 .
After d0 < 25, it is always the case that if q0 >= 2 holds, then q0 < 23 eventually holds and is succeeded by o0 < 14 .
Between k0 >= 19 and h0 < 0, it is always the case that g0 = 25 holds.
Between l0 = 10 and h0 <= 9, it is always the case that if g0 <= 21 holds, then o0 = 10 previously held and was preceded by d0 = 15 .
Globally, g0 = 21 eventually holds.
Between l0 > 26 and o0 > 14, it is always the case that if h0 >= 29 holds, then k0 <= 24 previously held.
Globally, it is always the case that if q0 >= 20 holds, then a0 <= 26 eventually holds and is succeeded by f0 <= 14 .
Globally, it is always the case that if p0 <= 8 holds, then c0 > 31 eventually holds.
Before l0 < 8, it is never the case that b0 > 27 holds.
Between s0 < 26 and a0 = 16, it is always the case that if e0 >= 25 holds, then c0 < 5 previously held.
Globally, it is always the case that if r0 <= 13 holds and is succeeded by c0 < 23, then r0 = 0 previously held.
Globally, it is always the case that if o0 >= 18 holds, then p0 < 27 eventually holds and is succeeded by i0 <= 10 .
Before s0 <= 30, it is always the case that g0 = 5 holds.
After c0 > 12, it is always the case that if m0 > 29 holds, then m0 > 28 previously held and was preceded by e0 <= 28 .
After r0 >= 8, it is always the case that o0 <= 1 holds.
Between g0 >= 7 and g0 >= 26, it is always the case that if l0 <= 27 holds and is succeeded by h0 >= 17, then j0 = 16 eventually holds after h0 >= 17 .
Globally, it is always the case that if a0 <= 11 holds, then p0 >= 6 eventually holds.
After p0 <= 28, g0 > 24 eventually holds.
Globally, it is always the case that if l0 = 23 holds, then m0 <= 27 eventually holds and is succeeded by m0 <= 21 .
After q0 > 2, it is always the case that if h0 = 18 holds, then o0 < 22 previously held and was preceded by c0 = 3 .
Before e0 = 3, it is always the case that if f0 >= 27 holds, then n0 > 24 eventually holds.
Globally, it is always the case that if c0 = 29 holds, then g0 > 8 eventually holds and is succeeded by r0 = 28, where a0 <= 26 does not hold between g0 > 8 and r0 = 28 .
After i0 >= 3, it is always the case that if d0 < 7 holds, then q0 = 19 previously held and was preceded by d0 >= 26 .
Globally, it is always the case that if p0 > 24 holds and is succeeded by p0 > 18, then m0 >= 13 previously held.
Globally, it is always the case that if h0 <= 2 holds, then d0 <= 16 previously held and was preceded by a0 = 8 .
Before b0 <= 11, it is always the case that if h0 <= 20 holds, then p0 > 3 previously held.
After r0 > 3 until p0 <= 26, it is always the case that if n0 = 29 holds and is succeeded by d0 = 0, then s0 < 10 eventually holds after d0 = 0 .
After h0 > 17, it is always the case that if o0 >= 28 holds, then h0 = 16 eventually holds and is succeeded by g0 = 10 .
Before j0 <= 10, it is always the case that if s0 < 20 holds, then m0 > 9 eventually holds and is succeeded by p0 > 5, where n0 < 5 does not hold between m0 > 9 and p0 > 5 .
After e0 <= 3 until n0 >= 18, it is never the case that i0 = 5 holds.
Before k0 >= 7, it is always the case that if c0 = 4 holds, then k0 > 18 previously held and was preceded by o0 >= 4 .
After o0 >= 15, it is always the case that if q0 >= 1 holds, then b0 < 15 previously held and was preceded by n0 > 24 .
Globally, it is always the case that if h0 = 5 holds and is succeeded by o0 = 23, then h0 < 27 eventually holds after o0 = 23 .
After p0 < 20, h0 = 20 eventually holds.
Before c0 >= 28, it is always the case that if k0 = 24 holds and is succeeded by i0 = 11, then f0 < 4 previously held.
Globally, it is always the case that if c0 > 24 holds and is succeeded by q0 >= 16, then j0 >= 17 previously held.
After p0 > 31, it is always the case that if f0 <= 26 holds and is succeeded by l0 <= 14, then k0 = 15 eventually holds after l0 <= 14 .
After g0 >= 17, it is always the case that if s0 < 6 holds, then q0 < 8 eventually holds and is succeeded by k0 = 11 .
After n0 >= 13, it is always the case that if s0 < 15 holds, then m0 > 22 eventually holds and is succeeded by l0 < 8 .
After s0 = 7, it is always the case that if f0 < 15 holds, then p0 <= 30 previously held and was preceded by q0 <= 7 .
After e0 <= 29, it is always the case that if p0 > 11 holds and is succeeded by g0 >= 18, then c0 >= 27 previously held.
After h0 = 27 until c0 < 0, it is always the case that if a0 > 2 holds, then j0 < 24 eventually holds and is succeeded by g0 > 15 .
Between b0 = 10 and i0 <= 19, i0 = 10 eventually holds.
After e0 > 13 until g0 <= 4, it is always the case that if g0 <= 2 holds, then o0 <= 1 previously held.
After g0 > 3 until e0 > 13, e0 >= 21 eventually holds.
Globally, it is always the case that if q0 > 6 holds and is succeeded by q0 > 9, then r0 > 5 eventually holds after q0 > 9 .
Before c0 = 25, o0 < 8 eventually holds.
Globally, it is always the case that if k0 = 4 holds, then c0 >= 28 eventually holds and is succeeded by b0 = 26, where h0 = 5 does not hold between c0 >= 28 and b0 = 26 .
After e0 <= 12, it is never the case that i0 = 24 holds.
Between a0 < 10 and d0 < 1, it is always the case that if r0 = 4 holds, then b0 < 22 previously held.
Before c0 <= 15, it is always the case that if e0 > 25 holds, then h0 > 30 eventually holds and is succeeded by k0 = 29, where c0 > 15 does not hold between h0 > 30 and k0 = 29 .
Between g0 >= 7 and d0 = 12, it is always the case that if c0 > 10 holds, then s0 <= 11 eventually holds and is succeeded by f0 = 31, where r0 >= 3 does not hold between s0 <= 11 and f0 = 31 .
After h0 = 25 until c0 >= 29, it is always the case that if m0 = 25 holds, then j0 >= 20 eventually holds and is succeeded by d0 >= 6 .
After d0 > 30 until m0 < 2, it is always the case that if g0 >= 7 holds, then c0 > 0 eventually holds and is succeeded by c0 >= 3 .
Before d0 < 15, s0 = 23 eventually holds.
Globally, g0 <= 10 eventually holds.
Between r0 <= 24 and i0 <= 3, it is always the case that if g0 <= 22 holds, then o0 = 13 previously held and was preceded by a0 < 20 .
After d0 = 12 until k0 < 25, it is always the case that if k0 < 0 holds, then i0 > 6 eventually holds.
After r0 > 15 until c0 >= 18, it is always the case that if q0 < 16 holds, then e0 < 27 eventually holds.
After e0 > 2, it is always the case that e0 >= 27 holds.
Globally, it is always the case that if j0 < 5 holds, then i0 <= 20 eventually holds.
Globally, it is never the case that h0 <= 21 holds.
After f0 > 24, it is never the case that c0 >= 14 holds.
Before o0 < 12, it is always the case that if s0 < 13 holds, then p0 <= 18 eventually holds and is succeeded by f0 > 0, where s0 <= 9 does not hold between p0 <= 18 and f0 > 0 .
After n0 = 3, it is always the case that if l0 < 2 holds, then k0 > 11 eventually holds and is succeeded by o0 > 5 .
After h0 = 12 until q0 > 29, it is always the case that if e0 <= 24 holds, then j0 > 26 previously held.
After m0 >= 15, j0 <= 15 eventually holds.
Before q0 >= 28, it is always the case that if a0 = 23 holds, then l0 < 23 eventually holds and is succeeded by c0 = 10, where c0 < 8 does not hold between l0 < 23 and c0 = 10 .
After r0 < 24, it is always the case that if m0 < 7 holds, then n0 <= 15 previously held.
After a0 <= 18, it is always the case that if a0 = 30 holds and is succeeded by l0 = 4, then l0 < 28 eventually holds after l0 = 4 .
Globally, it is always the case that if l0 = 13 holds, then n0 >= 27 previously held and was preceded by e0 < 27 .
Globally, it is always the case that if p0 < 18 holds, then k0 > 5 previously held and was preceded by n0 >= 2 .
After l0 = 1 until h0 <= 1, it is always the case that if h0 >= 24 holds, then c0 > 26 eventually holds and is succeeded by r0 < 24 .
After m0 < 18, it is always the case that if b0 = 8 holds, then j0 >= 13 eventually holds and is succeeded by o0 < 21, where q0 >= 4 does not hold between j0 >= 13 and o0 < 21 .
Before s0 >= 6, it is always the case that if j0 > 24 holds, then l0 = 17 previously held and was preceded by o0 < 12 .
After k0 = 25 until a0 < 5, it is always the case that if i0 < 7 holds and is succeeded by r0 > 6, then j0 > 8 previously held.
Globally, it is always the case that if r0 >= 16 holds and is succeeded by s0 <= 25, then l0 > 18 eventually holds after s0 <= 25 .
After o0 <= 4, it is always the case that if j0 <= 13 holds, then b0 > 4 eventually holds and is succeeded by k0 > 16 .
Globally, i0 < 15 eventually holds.
After s0 >= 31, it is always the case that if d0 <= 14 holds and is succeeded by i0 <= 30, then k0 > 17 eventually holds after i0 <= 30 .
Before o0 <= 31, it is always the case that if r0 <= 1 holds, then q0 >= 12 eventually holds and is succeeded by q0 = 31 .
Between r0 = 13 and f0 = 7, it is never the case that c0 < 15 holds.
Globally, it is always the case that if m0 = 25 holds and is succeeded by i0 > 30, then s0 < 16 eventually holds after i0 > 30 .
After p0 = 4, it is always the case that if d0 >= 6 holds, then a0 >= 24 eventually holds.
After f0 >= 29 until p0 > 7, it is always the case that if l0 > 21 holds, then d0 = 25 eventually holds and is succeeded by h0 < 0 .
After i0 <= 0 until l0 >= 26, it is always the case that if s0 < 10 holds, then r0 > 23 previously held.
After o0 >= 2 until c0 < 5, it is always the case that if g0 < 27 holds and is succeeded by h0 > 11, then c0 = 28 previously held.
Between o0 = 30 and q0 <= 20, r0 < 5 eventually holds.
After e0 >= 3 until d0 < 9, it is always the case that if m0 = 27 holds, then s0 <= 17 previously held and was preceded by m0 <= 6 .
After e0 < 24, it is always the case that if n0 <= 0 holds, then r0 > 19 previously held and was preceded by p0 <= 11 .
Globally, it is always the case that if c0 = 23 holds, then q0 = 8 eventually holds.
Globally, it is always the case that if d0 = 19 holds, then s0 > 21 previously held.
Globally, it is always the case that if o0 >= 27 holds, then m0 >= 5 eventually holds.
Between j0 > 29 and r0 >= 21, it is always the case that if h0 = 21 holds, then g0 <= 14 eventually holds and is succeeded by m0 < 15, where k0 < 9 does not hold between g0 <= 14 and m0 < 15 .
After b0 <= 3 until b0 >= 31, it is always the case that if g0 >= 27 holds, then n0 < 19 eventually holds and is succeeded by n0 < 10 .
After e0 < 31, it is always the case that if l0 > 29 holds, then s0 <= 1 eventually holds.
Between p0 <= 30 and n0 < 13, it is always the case that if c0 >= 1 holds, then m0 = 22 previously held and was preceded by g0 >= 31 .
Before h0 < 10, it is always the case that if g0 <= 24 holds, then i0 > 6 previously held.
Before o0 > 23, it is always the case that if a0 <= 10 holds, then s0 >= 18 previously held and was preceded by h0 > 25 .
Between s0 = 4 and e0 >= 15, it is always the case that if s0 > 22 holds, then b0 = 21 previously held and was preceded by k0 >= 5 .
Globally, it is always the case that j0 >= 24 holds.
Before o0 = 7, it is always the case that if e0 >= 25 holds, then f0 < 15 previously held.
After g0 = 15 until m0 < 1, f0 >= 20 eventually holds.
Globally, h0 >= 19 eventually holds.
After p0 <= 28, it is never the case that f0 < 8 holds.
After e0 < 8, it is always the case that if a0 < 10 holds, then o0 >= 14 eventually holds and is succeeded by c0 <= 0 .
After g0 > 21 until f0 >= 15, it is never the case that o0 <= 13 holds.
Before r0 > 6, it is always the case that if n0 < 27 holds, then i0 > 21 previously held and was preceded by o0 = 7 .
After s0 = 9, it is always the case that if b0 < 20 holds and is succeeded by j0 >= 24, then o0 > 6 eventually holds after j0 >= 24 .
After g0 < 18, it is always the case that e0 = 23 holds.
After r0 >= 16 until n0 >= 29, it is never the case that l0 <= 21 holds.
Between a0 > 21 and k0 > 0, it is always the case that if j0 <= 19 holds and is succeeded by e0 > 0, then n0 = 8 previously held.
After c0 <= 31, it is always the case that if g0 < 12 holds, then l0 > 31 eventually holds and is succeeded by q0 >= 1 .
After g0 = 25, it is always the case that if j0 < 4 holds, then k0 = 3 previously held.
Globally, it is always the case that c0 = 26 holds.
Between k0 > 22 and l0 = 8, it is always the case that if k0 >= 7 holds and is succeeded by r0 = 12, then r0 > 4 eventually holds after r0 = 12 .
Before l0 < 9, it is always the case that if d0 < 13 holds, then i0 < 29 eventually holds and is succeeded by p0 >= 3, where f0 > 19 does not hold between i0 < 29 and p0 >= 3 .
Between a0 <= 5 and r0 = 12, it is always the case that if m0 = 4 holds and is succeeded by j0 < 29, then m0 >= 3 eventually holds after j0 < 29 .
Before h0 >= 26, it is always the case that if r0 < 4 holds, then b0 = 11 eventually holds.
Between d0 < 28 and r0 <= 21, it is always the case that n0 > 6 holds.
After i0 >= 27, it is always the case that p0 = 8 holds.
Before g0 < 1, it is always the case that if f0 = 22 holds, then g0 < 18 eventually holds.
After o0 > 28 until m0 <= 15, it is always the case that f0 < 27 holds.
After e0 < 5, it is always the case that if m0 >= 27 holds, then d0 > 23 eventually holds and is succeeded by m0 > 17 .
After k0 <= 12, it is always the case that if e0 > 20 holds and is succeeded by b0 < 5, then b0 < 26 previously held.
After h0 >= 9, it is always the case that if j0 <= 19 holds, then b0 = 16 eventually holds and is succeeded by n0 > 1 .
After d0 >= 9 until d0 = 6, it is always the case that if a0 > 25 holds, then m0 <= 11 previously held.
After j0 < 19, it is always the case that if e0 <= 0 holds, then p0 = 26 eventually holds and is succeeded by o0 < 10 .
After b0 <= 0 until e0 < 30, it is always the case that if n0 >= 27 holds and is succeeded by j0 >= 25, then p0 < 11 previously held.
Between d0 > 30 and m0 <= 1, r0 <= 0 eventually holds.
Between r0 = 4 and j0 < 17, it is always the case that if e0 > 19 holds, then b0 = 2 eventually holds and is succeeded by f0 = 15, where r0 <= 24 does not hold between b0 = 2 and f0 = 15 .
Before e0 >= 20, it is never the case that i0 <= 27 holds.
After d0 < 28 until q0 < 0, it is always the case that e0 >= 10 holds.
Globally, it is always the case that f0 = 10 holds.
After e0 < 20, it is always the case that if e0 >= 14 holds, then n0 > 22 eventually holds and is succeeded by m0 >= 12 .
After f0 > 25 until l0 <= 31, it is never the case that k0 <= 12 holds.
Before q0 = 2, it is never the case that j0 < 17 holds.
Before o0 < 12, it is always the case that if g0 < 28 holds and is succeeded by p0 > 18, then d0 < 17 previously held.
Between e0 < 24 and m0 > 15, it is always the case that if j0 <= 7 holds, then p0 = 31 previously held.
After f0 > 2, it is never the case that g0 > 17 holds.
After m0 < 7 until m0 > 10, it is always the case that if m0 <= 26 holds, then b0 <= 23 eventually holds.
After o0 > 30, it is always the case that if i0 > 30 holds, then a0 <= 17 eventually holds and is succeeded by o0 = 20, where j0 < 17 does not hold between a0 <= 17 and o0 = 20 .
After o0 = 30 until q0 >= 17, it is always the case that l0 >= 24 holds.
After o0 <= 6 until i0 <= 23, it is always the case that if k0 < 19 holds, then g0 >= 25 eventually holds.
Between n0 = 13 and q0 > 10, it is always the case that if h0 <= 3 holds, then j0 >= 28 eventually holds.
After k0 > 9, it is always the case that if r0 >= 25 holds and is succeeded by n0 < 22, then f0 >= 13 eventually holds after n0 < 22 .
Globally, it is always the case that if k0 > 7 holds and is succeeded by k0 <= 26, then i0 >= 25 eventually holds after k0 <= 26 .
After b0 = 3, it is always the case that h0 >= 26 holds.
Between f0 >= 25 and l0 <= 19, it is always the case that if c0 > 21 holds, then b0 < 16 previously held and was preceded by l0 >= 3 .
Between h0 <= 30 and n0 <= 2, it is always the case that if h0 >= 28 holds, then r0 = 26 eventually holds.
After k0 >= 2, it is always the case that if e0 = 30 holds, then i0 > 3 previously held.
Between m0 <= 6 and r0 <= 26, it is always the case that if q0 > 30 holds, then m0 < 23 previously held and was preceded by j0 > 27 .
Between i0 >= 25 and l0 <= 11, e0 >= 31 eventually holds.
After s0 <= 1, it is never the case that b0 <= 30 holds.
Between m0 < 19 and c0 >= 23, e0 > 27 eventually holds.
Globally, it is always the case that if k0 <= 11 holds and is succeeded by q0 < 25, then a0 >= 24 previously held.
Before m0 >= 5, it is always the case that if a0 > 9 holds, then s0 > 4 eventually holds and is succeeded by m0 < 8, where g0 > 19 does not hold between s0 > 4 and m0 < 8 .
After i0 >= 4, it is always the case that if d0 < 20 holds, then d0 >= 8 previously held and was preceded by d0 <= 30 .
Between r0 >= 16 and j0 < 29, it is always the case that if h0 <= 8 holds, then i0 < 15 eventually holds and is succeeded by k0 > 21, where k0 = 22 does not hold between i0 < 15 and k0 > 21 .
Between s0 = 5 and f0 <= 9, it is always the case that if k0 = 29 holds and is succeeded by s0 <= 29, then g0 = 15 previously held.
After c0 = 13, it is always the case that if f0 <= 29 holds, then e0 <= 2 previously held and was preceded by f0 >= 22 .
Before f0 > 27, it is never the case that j0 >= 1 holds.
Between f0 <= 3 and i0 > 19, it is always the case that if n0 >= 6 holds, then k0 >= 16 eventually holds and is succeeded by e0 <= 16, where n0 = 17 does not hold between k0 >= 16 and e0 <= 16 .
Before q0 > 11, it is never the case that a0 >= 25 holds.
After q0 >= 24, it is always the case that if m0 > 18 holds, then g0 > 12 eventually holds.
Globally, it is always the case that if g0 = 3 holds and is succeeded by a0 = 18, then l0 >= 6 eventually holds after a0 = 18 .
After a0 <= 20, it is always the case that if e0 <= 13 holds, then i0 < 7 eventually holds.
After s0 <= 29, it is always the case that if g0 < 1 holds and is succeeded by n0 >= 13, then h0 > 1 eventually holds after n0 >= 13 .
After e0 <= 30 until h0 = 14, it is never the case that q0 = 16 holds.
After g0 <= 14, it is always the case that if s0 < 20 holds, then a0 = 7 previously held.
After d0 >= 14, it is always the case that if n0 <= 22 holds and is succeeded by a0 < 16, then j0 = 9 previously held.
Before r0 > 27, it is always the case that if g0 < 4 holds, then o0 > 2 eventually holds and is succeeded by o0 >= 1, where o0 >= 16 does not hold between o0 > 2 and o0 >= 1 .
Before p0 = 7, it is always the case that if e0 < 3 holds, then s0 <= 8 eventually holds and is succeeded by m0 = 7, where m0 > 3 does not hold between s0 <= 8 and m0 = 7 .
Globally, it is always the case that if j0 >= 20 holds, then s0 >= 13 eventually holds and is succeeded by b0 < 21, where k0 = 25 does not hold between s0 >= 13 and b0 < 21 .
After e0 <= 6 until j0 >= 26, p0 <= 29 eventually holds.
After d0 < 19 until d0 = 22, it is always the case that h0 < 16 holds.
Globally, it is always the case that if c0 >= 30 holds, then b0 <= 9 previously held.
Before l0 > 22, it is always the case that if b0 >= 25 holds, then n0 <= 1 eventually holds and is succeeded by m0 >= 28, where b0 >= 1 does not hold between n0 <= 1 and m0 >= 28 .
Between g0 < 22 and e0 > 3, it is always the case that if k0 < 4 holds and is succeeded by r0 <= 25, then l0 >= 27 previously held.
Between a0 >= 23 and c0 = 23, it is always the case that if j0 <= 21 holds, then d0 < 27 previously held.
Globally, it is never the case that r0 <= 24 holds.
After a0 < 9 until k0 <= 27, it is always the case that if q0 >= 7 holds and is succeeded by g0 < 22, then k0 < 1 previously held.
Before i0 >= 3, it is never the case that s0 <= 11 holds.
After q0 < 18, it is always the case that if n0 = 29 holds, then i0 < 6 eventually holds and is succeeded by h0 >= 15, where e0 = 29 does not hold between i0 < 6 and h0 >= 15 .
Globally, it is always the case that if k0 > 8 holds, then p0 > 26 eventually holds and is succeeded by s0 <= 5 .
Between f0 < 15 and f0 <= 2, it is always the case that if i0 = 13 holds and is succeeded by p0 <= 20, then i0 = 5 previously held.
Between m0 >= 25 and p0 >= 6, it is never the case that q0 < 27 holds.
