Before a0 = 3, it is always the case that if a0 > 2 holds and is succeeded by a0 > 1, then a0 >= 3 previously held.
Globally, it is always the case that if a0 <= 0 holds and is succeeded by a0 < 1, then a0 < 3 previously held.
Globally, it is always the case that if a0 <= 3 holds, then a0 < 0 eventually holds and is succeeded by a0 >= 2, where a0 > 1 does not hold between a0 < 0 and a0 >= 2 .
Before a0 >= 0, it is always the case that if a0 < 2 holds and is succeeded by a0 >= 1, then a0 > 3 eventually holds after a0 >= 1 .
Globally, it is always the case that if a0 >= 3 holds, then a0 < 1 previously held and was preceded by a0 > 3 .
After a0 >= 0 until a0 >= 2, it is always the case that if a0 <= 2 holds and is succeeded by a0 > 1, then a0 <= 0 eventually holds after a0 > 1 .
Before a0 < 3, a0 >= 0 eventually holds.
After a0 >= 2 until a0 < 2, it is always the case that if a0 = 1 holds, then a0 <= 2 eventually holds and is succeeded by a0 <= 1, where a0 >= 3 does not hold between a0 <= 2 and a0 <= 1 .
Globally, it is always the case that if a0 <= 3 holds, then a0 = 0 eventually holds.
Globally, it is never the case that a0 <= 1 holds.
Between a0 <= 0 and a0 > 2, it is always the case that if a0 <= 3 holds, then a0 <= 2 previously held and was preceded by a0 > 0 .
Before a0 = 2, it is always the case that if a0 = 1 holds, then a0 <= 0 previously held.
After a0 >= 1 until a0 <= 1, it is always the case that if a0 = 2 holds and is succeeded by a0 > 0, then a0 >= 3 eventually holds after a0 > 0 .
After a0 >= 3 until a0 < 1, it is always the case that if a0 >= 3 holds and is succeeded by a0 = 2, then a0 = 2 eventually holds after a0 = 2 .
Globally, a0 = 0 eventually holds.
After a0 > 3, it is always the case that if a0 > 0 holds, then a0 = 1 eventually holds and is succeeded by a0 < 3 .
