Before a0 <= 0, it is always the case that a0 > 0 holds.
Globally, it is always the case that if a0 >= 0 holds, then a0 = 1 eventually holds and is succeeded by a0 >= 1 .
Globally, it is always the case that if a0 <= 0 holds, then a0 < 0 previously held.
Between a0 = 0 and a0 > 1, it is always the case that if a0 > 0 holds, then a0 > 1 eventually holds and is succeeded by a0 < 0, where a0 <= 1 does not hold between a0 > 1 and a0 < 0 .
Globally, a0 > 1 eventually holds.
After a0 = 1, it is always the case that if a0 = 0 holds, then a0 >= 1 eventually holds and is succeeded by a0 > 0 .
After a0 = 1, it is always the case that if a0 <= 1 holds, then a0 = 0 previously held.
After a0 < 1 until a0 < 0, it is always the case that if a0 > 1 holds, then a0 < 0 eventually holds and is succeeded by a0 = 1, where a0 < 1 does not hold between a0 < 0 and a0 = 1 .
