Between h2 > 1 and d0 >= 4, it is always the case that if h0 = 3 holds, then x2 <= 1 eventually holds and is succeeded by d0 >= 1, where u0 <= 6 does not hold between x2 <= 1 and d0 >= 1 .
Globally, it is never the case that m1 > 7 holds.
After g2 < 6, it is always the case that if j2 < 3 holds, then o1 > 3 eventually holds.
Globally, v2 > 2 eventually holds.
Before t0 <= 0, it is always the case that k1 > 4 holds.
After k0 = 1 until q0 = 3, it is always the case that if s1 > 2 holds, then z0 < 4 previously held and was preceded by p0 = 2 .
Between a3 > 7 and c1 >= 7, it is always the case that if k1 = 1 holds and is succeeded by a3 <= 5, then p1 = 3 previously held.
After h1 >= 1, it is always the case that b2 >= 4 holds.
After c2 > 1, it is always the case that f2 < 6 holds.
Globally, it is always the case that if h2 <= 4 holds, then t1 < 0 previously held and was preceded by r1 <= 5 .
After r0 > 4 until d0 > 3, it is always the case that if n0 <= 0 holds and is succeeded by i2 < 1, then c2 > 4 eventually holds after i2 < 1 .
After g2 = 4 until w0 <= 2, it is always the case that if n1 > 6 holds, then p0 > 2 eventually holds.
Between b0 > 1 and o1 = 3, f2 > 7 eventually holds.
After o1 = 1 until v2 > 2, it is always the case that if b0 >= 3 holds, then k0 < 3 previously held and was preceded by p1 > 4 .
Before b1 >= 6, it is always the case that if n0 = 4 holds and is succeeded by s1 >= 7, then z2 < 1 previously held.
Between h2 >= 0 and r1 >= 6, it is always the case that if f2 = 0 holds, then i0 >= 7 previously held.
After k1 >= 7, it is always the case that s0 < 6 holds.
Between w0 > 5 and s2 > 7, it is always the case that if k2 = 6 holds and is succeeded by o2 < 5, then x2 > 2 previously held.
Globally, it is always the case that if j0 >= 7 holds and is succeeded by a2 <= 0, then e2 < 6 eventually holds after a2 <= 0 .
Globally, it is always the case that if m2 < 7 holds, then h2 = 6 previously held and was preceded by k0 <= 4 .
Before p0 <= 6, it is always the case that if b0 < 4 holds and is succeeded by r0 >= 6, then x2 <= 2 previously held.
Globally, it is always the case that if r0 < 7 holds and is succeeded by h0 = 0, then y2 >= 3 eventually holds after h0 = 0 .
Between z1 >= 5 and n0 = 6, it is always the case that if h0 >= 7 holds and is succeeded by w2 = 7, then y0 > 7 previously held.
After o0 >= 0, it is always the case that y1 >= 4 holds.
Globally, it is never the case that v2 <= 2 holds.
Before p1 >= 0, it is always the case that if p0 >= 6 holds and is succeeded by x2 < 2, then q1 < 4 previously held.
Globally, it is always the case that if v2 <= 3 holds and is succeeded by g1 <= 6, then e1 > 4 previously held.
Globally, it is always the case that if f1 <= 1 holds, then o2 > 4 previously held and was preceded by j2 < 4 .
After x0 <= 2 until w0 >= 1, it is always the case that if m2 < 1 holds, then l2 < 5 previously held and was preceded by a3 > 2 .
Globally, it is always the case that if y1 > 3 holds, then i2 <= 5 eventually holds and is succeeded by m2 = 2 .
Before b0 < 1, it is always the case that if z2 >= 5 holds and is succeeded by v1 = 0, then b2 < 2 eventually holds after v1 = 0 .
Before p1 > 2, it is always the case that if y1 >= 3 holds, then c1 >= 0 previously held and was preceded by u0 >= 3 .
Between k1 < 7 and o2 < 2, it is never the case that b1 > 2 holds.
After u2 >= 2, it is always the case that if n2 <= 6 holds and is succeeded by o0 > 3, then g2 >= 1 eventually holds after o0 > 3 .
After p2 < 3 until e0 <= 1, it is always the case that if b0 < 2 holds, then l2 >= 1 eventually holds and is succeeded by g2 = 1, where q0 > 4 does not hold between l2 >= 1 and g2 = 1 .
Between r2 = 6 and a1 = 2, it is never the case that s0 <= 0 holds.
Before o2 > 0, it is always the case that if t1 <= 3 holds, then c1 > 1 previously held and was preceded by z2 > 2 .
After x1 = 0 until w1 > 5, it is never the case that s2 > 1 holds.
Globally, it is never the case that t1 < 2 holds.
Between n1 > 4 and a2 = 1, it is always the case that if x1 > 6 holds, then n0 <= 2 eventually holds and is succeeded by z1 <= 4, where o0 = 1 does not hold between n0 <= 2 and z1 <= 4 .
After a1 < 6 until c0 <= 7, it is always the case that if r0 = 1 holds, then k2 < 5 eventually holds and is succeeded by d2 = 1, where r0 = 7 does not hold between k2 < 5 and d2 = 1 .
After r1 = 5, it is always the case that if s1 > 3 holds, then s1 > 6 previously held and was preceded by h1 = 7 .
After p2 = 7, e2 >= 5 eventually holds.
Before w0 < 5, it is always the case that if p1 <= 7 holds and is succeeded by q1 = 1, then b1 >= 2 previously held.
Between e1 < 1 and l1 > 4, it is always the case that if h1 < 2 holds, then k0 <= 7 previously held.
Between g1 <= 7 and u0 = 4, it is always the case that if p1 = 6 holds, then a3 > 4 previously held and was preceded by y2 <= 2 .
Before i2 > 6, it is always the case that if d2 < 3 holds and is succeeded by x2 >= 1, then q1 >= 1 previously held.
After c0 > 6, it is always the case that if z0 >= 4 holds and is succeeded by f1 <= 2, then s1 < 7 previously held.
After w0 <= 5 until e2 <= 3, it is always the case that if h1 >= 2 holds, then h1 < 1 eventually holds and is succeeded by z1 < 0, where w2 > 1 does not hold between h1 < 1 and z1 < 0 .
Between u1 >= 3 and e1 > 5, it is always the case that if r1 > 1 holds, then r2 > 1 previously held.
Globally, it is always the case that if j0 > 7 holds, then w1 <= 6 previously held.
After g0 >= 3 until i1 = 2, it is always the case that if v2 >= 1 holds, then j2 = 4 eventually holds.
Before z0 <= 7, w0 < 3 eventually holds.
Globally, it is always the case that v2 < 2 holds.
Between f0 <= 5 and s2 <= 7, it is always the case that if c1 >= 1 holds, then s2 <= 3 previously held.
Before a3 < 1, it is always the case that if w0 >= 3 holds, then g2 >= 2 eventually holds.
Between j1 >= 2 and i0 = 3, it is always the case that if u2 <= 5 holds, then y1 >= 6 previously held and was preceded by p0 >= 6 .
Before a3 > 2, it is always the case that if k2 >= 1 holds, then z0 <= 0 eventually holds and is succeeded by p1 <= 4, where l2 <= 5 does not hold between z0 <= 0 and p1 <= 4 .
Before d2 >= 7, it is always the case that x0 > 6 holds.
Globally, it is always the case that x1 = 1 holds.
Globally, it is always the case that if s2 > 2 holds, then t0 = 2 eventually holds and is succeeded by x1 >= 4, where p2 < 5 does not hold between t0 = 2 and x1 >= 4 .
Globally, it is always the case that if t1 < 3 holds, then e2 < 3 eventually holds and is succeeded by r1 > 4 .
Globally, it is always the case that if e0 > 2 holds, then v1 = 4 previously held and was preceded by a3 = 3 .
After a1 < 7, it is always the case that if g0 <= 7 holds, then d1 < 1 eventually holds.
After e2 <= 5 until b2 < 4, it is always the case that if v0 <= 4 holds, then k2 > 1 eventually holds and is succeeded by p1 = 4 .
After b1 > 5, it is always the case that if e1 >= 4 holds, then x1 >= 7 previously held and was preceded by k2 >= 5 .
After q2 = 4 until s2 < 4, it is always the case that if d0 <= 5 holds, then z1 > 0 eventually holds and is succeeded by j2 >= 1, where y0 <= 2 does not hold between z1 > 0 and j2 >= 1 .
After g0 <= 5, it is always the case that w2 >= 3 holds.
Before l2 = 5, it is always the case that if z0 < 3 holds, then d2 >= 4 eventually holds.
Before b2 < 6, it is always the case that if w0 = 5 holds, then x1 > 4 eventually holds.
Between l2 > 3 and c2 >= 5, it is always the case that if l0 > 2 holds, then i2 = 1 eventually holds and is succeeded by o0 >= 2, where c0 < 6 does not hold between i2 = 1 and o0 >= 2 .
Globally, it is always the case that if j1 <= 0 holds, then a3 >= 4 eventually holds and is succeeded by i2 > 0, where f1 <= 4 does not hold between a3 >= 4 and i2 > 0 .
Between b1 >= 4 and z2 >= 5, it is never the case that t2 = 4 holds.
After v2 = 7, it is always the case that if t0 > 1 holds and is succeeded by n1 > 1, then x0 <= 7 previously held.
Between p1 > 0 and a2 < 3, it is always the case that if y1 >= 0 holds, then v1 = 7 previously held.
After o2 = 3, it is always the case that if j2 < 5 holds, then p0 >= 7 previously held and was preceded by d0 = 2 .
Before e0 >= 0, it is always the case that a3 >= 7 holds.
After v2 = 5, it is always the case that if p0 > 0 holds, then l2 > 3 eventually holds and is succeeded by m2 = 5 .
Between d2 <= 1 and y0 >= 0, r0 <= 5 eventually holds.
Before a1 > 0, it is always the case that if n2 < 2 holds, then g2 < 6 eventually holds and is succeeded by x2 < 5, where i2 > 2 does not hold between g2 < 6 and x2 < 5 .
Between l0 >= 5 and q0 > 7, it is always the case that b2 < 3 holds.
Globally, it is always the case that if o0 >= 2 holds, then s0 <= 1 eventually holds and is succeeded by e2 > 5 .
After l1 < 7, it is always the case that if w1 > 1 holds and is succeeded by r1 <= 3, then m1 < 4 eventually holds after r1 <= 3 .
After i2 = 0 until m0 > 3, it is never the case that p1 < 5 holds.
Globally, it is always the case that if q2 >= 6 holds, then l1 = 5 previously held and was preceded by d1 >= 1 .
Globally, it is always the case that p0 >= 6 holds.
Between d1 > 2 and b0 > 3, it is never the case that s1 > 7 holds.
Globally, d1 > 2 eventually holds.
Globally, it is always the case that if l2 >= 5 holds and is succeeded by g2 >= 0, then k0 = 6 eventually holds after g2 >= 0 .
Between s1 < 4 and v0 = 2, it is always the case that if p0 > 1 holds, then m0 > 4 previously held and was preceded by a2 <= 7 .
Before g1 > 7, it is always the case that if m1 > 1 holds, then l2 >= 6 previously held and was preceded by h0 >= 6 .
After h0 < 0, it is never the case that z2 = 6 holds.
After u0 <= 6, it is always the case that if h0 <= 4 holds, then g2 < 4 eventually holds.
Between g0 >= 6 and n0 < 7, it is always the case that if k2 <= 6 holds, then i1 >= 6 eventually holds and is succeeded by p0 <= 6, where m1 < 7 does not hold between i1 >= 6 and p0 <= 6 .
Globally, it is always the case that k0 <= 7 holds.
After c2 <= 6, it is always the case that if u0 = 2 holds, then m2 > 7 eventually holds and is succeeded by k1 > 3, where f2 >= 3 does not hold between m2 > 7 and k1 > 3 .
Before f1 < 0, it is never the case that n2 >= 0 holds.
After a2 >= 0, it is always the case that z0 = 4 holds.
Between u0 <= 3 and z1 < 3, it is always the case that if s2 > 6 holds, then x2 >= 4 eventually holds and is succeeded by u0 <= 0, where i0 = 6 does not hold between x2 >= 4 and u0 <= 0 .
Before z1 = 5, it is always the case that if l2 >= 4 holds, then e0 <= 7 eventually holds and is succeeded by g2 < 1 .
After r2 >= 6, it is always the case that if t1 <= 4 holds, then r2 < 4 previously held and was preceded by g0 > 0 .
Before u1 = 5, x2 >= 4 eventually holds.
Globally, it is always the case that if x0 <= 1 holds, then a1 = 3 eventually holds and is succeeded by h1 = 5 .
After o0 >= 3, y0 >= 1 eventually holds.
Before z1 >= 0, it is always the case that if k2 = 3 holds and is succeeded by m0 = 0, then q1 = 1 eventually holds after m0 = 0 .
After g1 < 4, z2 < 1 eventually holds.
Between r1 <= 4 and x0 <= 3, it is always the case that if w0 <= 3 holds, then w2 <= 7 eventually holds and is succeeded by x1 > 7 .
After c0 = 2, it is always the case that if h1 = 0 holds and is succeeded by z2 >= 5, then r2 >= 1 eventually holds after z2 >= 5 .
Globally, it is always the case that m0 < 1 holds.
Before r1 > 4, it is always the case that if y2 >= 4 holds, then g0 > 7 previously held and was preceded by u0 = 1 .
Before b2 = 5, it is always the case that if l0 = 1 holds, then g0 > 5 eventually holds and is succeeded by l2 <= 4 .
Between o1 = 1 and m2 >= 1, it is always the case that v1 >= 7 holds.
Globally, it is always the case that if l1 = 5 holds, then y2 <= 5 previously held.
Globally, it is always the case that if u1 = 0 holds, then o2 <= 4 previously held.
After i1 <= 1 until n0 > 0, it is always the case that if e2 = 4 holds, then g2 <= 5 eventually holds and is succeeded by l0 = 6 .
After b1 = 7 until t0 > 3, it is never the case that k2 <= 5 holds.
Before w2 = 0, it is always the case that if v1 > 2 holds, then h2 >= 0 previously held and was preceded by i2 < 2 .
Before r0 >= 6, it is always the case that if e0 <= 7 holds, then z2 = 1 previously held and was preceded by a3 > 0 .
Before x1 = 2, it is always the case that if v0 >= 2 holds and is succeeded by d1 >= 3, then v0 > 7 previously held.
Before e0 < 5, it is always the case that a1 = 5 holds.
After r2 = 6 until t2 >= 2, it is always the case that if v0 >= 3 holds, then f0 >= 7 eventually holds and is succeeded by z1 > 1 .
Globally, it is always the case that if g2 < 4 holds, then a1 > 7 previously held.
Before y1 >= 6, v0 = 4 eventually holds.
After y1 = 0 until n1 > 6, it is always the case that if c0 >= 6 holds, then a0 <= 5 eventually holds and is succeeded by k0 = 4, where p1 <= 5 does not hold between a0 <= 5 and k0 = 4 .
Before u2 >= 4, f2 = 2 eventually holds.
Globally, it is always the case that k1 >= 7 holds.
After c1 >= 3, it is always the case that if r2 = 5 holds, then x1 >= 3 previously held and was preceded by x1 <= 4 .
After g1 < 0, it is always the case that if i2 >= 7 holds, then i2 > 7 eventually holds.
Between a3 >= 4 and f1 > 7, it is always the case that if j1 > 6 holds, then t2 <= 0 eventually holds and is succeeded by z1 > 0 .
Between a3 >= 5 and o0 <= 1, a0 >= 5 eventually holds.
Globally, it is always the case that if o1 > 7 holds, then e2 = 7 previously held.
After c2 > 6, it is always the case that if e0 > 6 holds and is succeeded by n0 = 4, then q1 < 4 previously held.
Before a3 = 5, it is never the case that a3 < 3 holds.
After d1 > 7, it is always the case that if g2 >= 5 holds and is succeeded by m1 = 1, then i0 > 1 previously held.
After z1 < 2 until c2 >= 6, it is never the case that q0 < 7 holds.
Between v1 < 1 and z2 < 1, it is always the case that if a0 = 5 holds, then f2 < 4 previously held.
Globally, it is always the case that o1 = 7 holds.
After g1 >= 6, it is always the case that if g0 < 3 holds, then u0 > 0 previously held.
After x0 < 4, it is always the case that if v1 > 2 holds, then p2 = 5 eventually holds and is succeeded by n2 >= 5, where y0 < 7 does not hold between p2 = 5 and n2 >= 5 .
Globally, it is always the case that if q2 = 4 holds and is succeeded by f1 >= 2, then d0 < 4 eventually holds after f1 >= 2 .
Between e2 >= 2 and n1 <= 6, o2 > 7 eventually holds.
Before g2 <= 6, it is always the case that if l1 <= 2 holds and is succeeded by b2 > 7, then t2 >= 7 previously held.
After z1 >= 1 until d0 = 4, it is never the case that u1 >= 1 holds.
Between x1 > 1 and j2 <= 2, it is always the case that if s1 = 0 holds and is succeeded by u0 >= 3, then c1 > 2 eventually holds after u0 >= 3 .
Between v2 < 2 and c0 < 1, it is always the case that if a3 > 4 holds, then o2 = 6 previously held.
After o2 > 5, it is always the case that if s2 = 6 holds, then e0 >= 2 previously held.
Before g0 > 7, it is always the case that if d2 < 1 holds, then l2 >= 0 eventually holds and is succeeded by e1 <= 0, where n2 = 3 does not hold between l2 >= 0 and e1 <= 0 .
Globally, it is always the case that if p2 < 3 holds and is succeeded by x0 = 7, then q1 < 6 eventually holds after x0 = 7 .
After i0 < 7 until l0 >= 3, it is always the case that e1 <= 4 holds.
Globally, it is always the case that k1 > 0 holds.
After i2 < 0 until a0 < 5, it is never the case that u1 >= 2 holds.
After j2 < 3 until n2 <= 6, it is always the case that if x2 <= 7 holds, then l1 = 0 previously held and was preceded by y2 <= 7 .
After o2 <= 2 until p0 > 1, it is always the case that if f1 >= 6 holds, then q2 > 7 eventually holds and is succeeded by c1 = 4, where c0 < 3 does not hold between q2 > 7 and c1 = 4 .
After k1 = 5 until d2 >= 4, it is never the case that l1 > 2 holds.
After d0 > 5 until i2 < 0, it is always the case that if d1 >= 7 holds, then e1 >= 2 eventually holds and is succeeded by x0 <= 0, where j1 <= 7 does not hold between e1 >= 2 and x0 <= 0 .
Before z2 < 2, it is always the case that d1 < 2 holds.
Between t2 >= 3 and m0 = 2, it is always the case that if d2 = 6 holds and is succeeded by s2 < 3, then s0 > 2 previously held.
After c1 < 2 until g2 < 5, it is always the case that if c2 > 4 holds and is succeeded by r1 < 4, then j0 <= 7 eventually holds after r1 < 4 .
Before y2 >= 7, it is always the case that if l2 = 6 holds and is succeeded by f2 >= 7, then j2 < 3 eventually holds after f2 >= 7 .
After p2 > 0, it is always the case that if z2 <= 1 holds, then y1 >= 7 eventually holds and is succeeded by v2 <= 3, where h0 <= 4 does not hold between y1 >= 7 and v2 <= 3 .
Before i2 < 1, it is always the case that if o0 <= 0 holds, then a1 >= 4 eventually holds.
After u2 >= 6 until u1 >= 3, it is always the case that if a0 < 1 holds, then l0 = 5 eventually holds and is succeeded by b0 >= 7 .
After o1 < 2 until j1 < 3, it is always the case that if c0 <= 6 holds, then n0 >= 4 eventually holds.
Globally, o0 >= 3 eventually holds.
Before j0 >= 5, it is never the case that g1 < 1 holds.
Globally, it is always the case that if x1 <= 5 holds, then j1 <= 0 eventually holds and is succeeded by y0 >= 1 .
Globally, it is always the case that x2 >= 6 holds.
Globally, it is always the case that if j2 >= 5 holds, then l0 < 6 eventually holds and is succeeded by o1 < 3, where k1 < 7 does not hold between l0 < 6 and o1 < 3 .
Globally, m2 < 7 eventually holds.
Between i0 > 4 and b1 >= 1, it is always the case that if s0 <= 6 holds, then i1 = 0 eventually holds and is succeeded by a3 < 6, where w0 <= 4 does not hold between i1 = 0 and a3 < 6 .
Before h1 <= 6, it is always the case that if h1 = 6 holds, then o0 > 0 eventually holds.
After j1 > 4, it is never the case that x1 >= 5 holds.
Globally, it is always the case that if v2 = 7 holds, then r1 > 7 previously held.
Globally, it is always the case that if s2 = 4 holds, then d1 <= 7 eventually holds and is succeeded by t0 = 1, where p2 >= 6 does not hold between d1 <= 7 and t0 = 1 .
Before s2 = 5, it is always the case that if d2 < 2 holds, then e2 < 4 previously held and was preceded by w2 > 6 .
After t2 < 0, it is always the case that if y2 > 2 holds, then y0 = 3 previously held.
After q1 < 0 until q0 = 0, it is always the case that if z0 < 4 holds, then n1 > 2 eventually holds.
After x0 > 2, it is always the case that if u1 < 6 holds, then y1 < 1 eventually holds and is succeeded by o2 >= 1 .
After x2 <= 1, it is always the case that if e2 <= 6 holds, then r1 < 6 eventually holds.
Globally, it is always the case that if q1 > 1 holds, then r2 > 2 eventually holds.
Before m2 <= 3, it is never the case that p1 > 2 holds.
Globally, u0 < 4 eventually holds.
Between q1 < 0 and m2 < 3, u2 > 6 eventually holds.
Between x0 > 0 and z0 <= 0, it is always the case that if i1 > 2 holds, then y1 = 1 eventually holds and is succeeded by s2 = 2 .
After k2 >= 0, it is always the case that if s2 > 1 holds, then z0 > 1 eventually holds.
Before c0 >= 5, it is always the case that if o1 <= 0 holds, then w0 = 3 previously held.
Between g0 > 1 and c1 >= 0, it is always the case that p0 < 4 holds.
After z1 = 6 until a2 > 4, it is always the case that if c1 <= 1 holds and is succeeded by y2 >= 6, then k2 >= 2 eventually holds after y2 >= 6 .
Globally, it is always the case that if g2 <= 0 holds, then a2 = 7 eventually holds and is succeeded by r0 > 6 .
Globally, it is always the case that p1 >= 6 holds.
After m1 < 3, it is always the case that if d1 = 4 holds, then x0 <= 7 eventually holds and is succeeded by s0 > 5, where g1 < 1 does not hold between x0 <= 7 and s0 > 5 .
Before k0 = 4, it is always the case that if g1 < 5 holds and is succeeded by o1 > 0, then u2 < 5 eventually holds after o1 > 0 .
After a2 < 0 until l2 > 1, it is always the case that r0 > 6 holds.
After t2 > 3, t2 < 5 eventually holds.
Globally, it is always the case that m0 <= 1 holds.
Globally, it is always the case that if r0 <= 7 holds, then z2 >= 3 eventually holds and is succeeded by i1 = 6 .
Globally, h1 <= 7 eventually holds.
Before a0 <= 6, it is never the case that g1 >= 0 holds.
Before f0 = 4, it is always the case that if m1 < 1 holds, then l2 <= 4 previously held.
Between u2 = 0 and k0 <= 2, v0 < 7 eventually holds.
Globally, it is always the case that if w2 <= 2 holds, then n2 < 5 eventually holds and is succeeded by b1 > 7 .
After q2 = 6, it is always the case that if x2 > 4 holds, then o2 > 7 eventually holds and is succeeded by t2 < 6 .
After f2 = 2 until k1 <= 2, w0 = 3 eventually holds.
After b0 >= 3 until b0 > 5, it is always the case that if i0 > 7 holds, then v0 = 7 previously held.
After f2 > 3 until g0 >= 3, it is always the case that if o2 < 2 holds and is succeeded by n1 <= 0, then w1 > 6 previously held.
Between m2 < 0 and j0 >= 1, it is always the case that if w0 = 7 holds, then r1 >= 0 eventually holds and is succeeded by n1 >= 0 .
After t0 < 1, it is always the case that if s1 > 2 holds, then l0 >= 7 previously held.
After b2 >= 6, it is always the case that if m1 = 5 holds and is succeeded by y2 < 2, then p1 = 4 eventually holds after y2 < 2 .
After x0 < 2, it is always the case that if g2 < 6 holds, then c0 <= 1 eventually holds and is succeeded by k0 > 0 .
Before v1 < 1, it is always the case that if q1 <= 3 holds, then m1 = 5 eventually holds.
Globally, k2 > 3 eventually holds.
After x2 <= 1 until r0 = 7, it is always the case that if y2 <= 2 holds and is succeeded by m1 >= 7, then k0 >= 7 previously held.
Globally, it is always the case that if i0 < 1 holds, then z1 < 4 eventually holds and is succeeded by l1 < 6, where r2 > 6 does not hold between z1 < 4 and l1 < 6 .
After y2 > 7 until v0 < 0, it is always the case that if x0 <= 3 holds, then y1 < 2 eventually holds.
After c2 > 7, it is always the case that if d1 >= 7 holds, then o0 < 5 eventually holds.
Between m1 = 1 and h0 >= 7, it is always the case that if b1 > 1 holds, then f0 > 7 eventually holds.
Globally, it is always the case that m1 < 3 holds.
After w0 > 6, it is always the case that if e0 < 3 holds, then o2 <= 1 eventually holds and is succeeded by a3 >= 5 .
After x0 >= 7 until x0 <= 7, it is always the case that if l0 >= 1 holds, then l0 > 2 previously held and was preceded by o0 >= 5 .
After m0 >= 1, h2 < 4 eventually holds.
Before s1 = 1, b2 = 2 eventually holds.
After h2 < 7 until q2 >= 0, it is always the case that if u0 < 6 holds and is succeeded by r2 > 7, then f1 > 4 eventually holds after r2 > 7 .
After n1 >= 2 until h0 = 6, it is always the case that if b0 = 7 holds, then e1 = 4 previously held.
After a1 >= 2 until k2 > 6, m2 <= 4 eventually holds.
Before o1 = 4, f2 <= 2 eventually holds.
Before d0 <= 1, it is always the case that if c0 >= 1 holds, then b1 = 2 eventually holds and is succeeded by y1 >= 1, where w0 >= 1 does not hold between b1 = 2 and y1 >= 1 .
Between s1 = 5 and l1 <= 0, it is always the case that if l1 > 3 holds and is succeeded by b1 = 3, then b0 < 0 eventually holds after b1 = 3 .
After l0 < 0 until m0 > 0, it is always the case that if q0 = 4 holds and is succeeded by o1 >= 3, then t2 = 3 previously held.
After s0 >= 3, it is always the case that if p0 < 0 holds and is succeeded by w0 < 5, then m0 > 6 eventually holds after w0 < 5 .
Between t2 < 6 and h2 = 5, it is always the case that if a0 > 0 holds, then a0 > 1 previously held.
After i2 >= 3, it is always the case that a0 >= 5 holds.
Before l2 > 0, it is always the case that if k1 < 5 holds, then s0 = 6 eventually holds.
Between w1 <= 2 and j0 = 4, it is always the case that if u2 > 6 holds and is succeeded by p1 > 6, then k0 < 7 eventually holds after p1 > 6 .
Before v0 <= 0, it is never the case that z2 < 4 holds.
Between v0 > 5 and f0 <= 1, it is never the case that w0 < 7 holds.
Globally, it is always the case that if a1 <= 2 holds, then l1 <= 0 previously held and was preceded by g1 > 5 .
After x2 > 0, it is always the case that if j0 < 7 holds, then n2 > 4 previously held.
Between s0 < 7 and a2 < 4, it is always the case that if d2 <= 1 holds, then i0 = 1 eventually holds and is succeeded by m1 > 0, where t0 > 0 does not hold between i0 = 1 and m1 > 0 .
Before v2 > 4, it is always the case that y0 < 0 holds.
Globally, j0 > 3 eventually holds.
