Between b7 = 3 and y9 > 0, it is always the case that if n11 <= 2 holds and is succeeded by m11 >= 0, then t1 <= 2 eventually holds after m11 >= 0 .
After i2 = 1, z6 = 1 eventually holds.
After n8 > 0 until l4 >= 1, it is always the case that if t7 > 3 holds, then z8 = 3 eventually holds and is succeeded by v6 > 0, where n8 <= 3 does not hold between z8 = 3 and v6 > 0 .
After a0 >= 3 until x0 >= 2, it is always the case that o2 = 1 holds.
After o7 > 0 until q8 > 2, it is always the case that o4 = 0 holds.
After n9 > 3 until n6 >= 3, g0 > 1 eventually holds.
Between c6 < 3 and e11 = 1, it is always the case that if y5 >= 1 holds, then v11 >= 3 eventually holds and is succeeded by s10 = 2 .
After j11 < 1, it is always the case that if e7 >= 3 holds, then g0 >= 2 previously held and was preceded by h10 = 3 .
Between h9 < 3 and z10 = 0, it is always the case that if k10 < 0 holds, then g7 < 0 eventually holds and is succeeded by h8 >= 2 .
After k2 <= 3 until x5 < 1, it is always the case that if q11 >= 1 holds and is succeeded by v5 <= 2, then w10 <= 3 eventually holds after v5 <= 2 .
Before e4 > 3, it is always the case that if x11 > 0 holds, then d7 <= 2 eventually holds.
After e0 < 2 until h4 <= 2, it is always the case that if o8 > 2 holds and is succeeded by g10 = 2, then p6 <= 2 eventually holds after g10 = 2 .
Globally, it is never the case that m10 >= 2 holds.
After q11 > 1 until u3 <= 1, it is always the case that if l10 > 1 holds and is succeeded by n4 > 1, then v3 >= 0 previously held.
After p11 < 3 until b1 >= 1, it is never the case that n5 < 0 holds.
Between q10 > 0 and q3 <= 0, it is always the case that if w11 <= 3 holds, then h7 = 1 eventually holds and is succeeded by c0 >= 0, where r1 <= 0 does not hold between h7 = 1 and c0 >= 0 .
Between o4 = 3 and i9 < 0, it is always the case that if f11 >= 0 holds, then y9 > 3 eventually holds and is succeeded by y4 = 1 .
After j8 > 3, it is always the case that if y7 < 3 holds, then f10 = 0 previously held.
Globally, h8 >= 0 eventually holds.
After i10 = 2, f9 <= 2 eventually holds.
Between i7 < 2 and j1 < 2, it is always the case that if h3 < 0 holds, then r11 > 1 eventually holds.
After z1 >= 2, it is always the case that if e4 < 1 holds and is succeeded by m1 >= 0, then z4 >= 0 eventually holds after m1 >= 0 .
After h7 >= 2 until u11 >= 1, it is always the case that if o11 = 3 holds, then u0 > 1 eventually holds.
Between c11 >= 3 and y1 >= 3, it is always the case that if n1 <= 0 holds, then e8 > 0 previously held and was preceded by o3 <= 3 .
Globally, it is always the case that if n1 > 0 holds, then h9 <= 3 previously held and was preceded by c4 = 3 .
Between e0 >= 1 and w6 >= 2, it is always the case that if y6 = 2 holds, then u2 >= 3 eventually holds and is succeeded by s11 <= 2, where t7 <= 3 does not hold between u2 >= 3 and s11 <= 2 .
After q8 >= 2, it is always the case that if t1 <= 0 holds and is succeeded by h4 < 0, then y4 >= 3 previously held.
Globally, it is always the case that if w4 <= 3 holds, then e4 <= 2 previously held and was preceded by f6 <= 2 .
Between x2 < 1 and o1 = 2, it is always the case that if w9 > 0 holds, then p7 = 1 eventually holds and is succeeded by u11 = 3 .
Globally, it is never the case that n10 = 2 holds.
Before u8 >= 2, it is always the case that if h4 = 1 holds, then b1 = 0 eventually holds.
Before h0 > 2, it is always the case that if p2 >= 1 holds, then q2 = 3 eventually holds and is succeeded by f10 < 1 .
Before o9 >= 0, it is always the case that if x6 = 3 holds and is succeeded by m11 > 2, then e3 > 3 previously held.
Before y2 = 2, it is always the case that if u10 = 3 holds, then h2 = 0 eventually holds and is succeeded by v8 >= 0, where x2 = 0 does not hold between h2 = 0 and v8 >= 0 .
After s0 >= 1, it is always the case that q10 > 2 holds.
Globally, it is always the case that s3 > 1 holds.
Globally, it is always the case that if m10 >= 0 holds, then r0 <= 0 eventually holds and is succeeded by z8 > 2 .
Globally, it is always the case that if f1 <= 2 holds, then f5 < 0 eventually holds.
Before w8 > 3, it is always the case that if c4 > 3 holds and is succeeded by b3 = 3, then c2 > 1 eventually holds after b3 = 3 .
After l3 <= 0 until o9 >= 0, it is always the case that if z9 <= 3 holds and is succeeded by e10 >= 3, then i8 >= 1 eventually holds after e10 >= 3 .
Globally, it is never the case that f11 = 1 holds.
Between s3 < 1 and a2 = 3, y1 = 2 eventually holds.
Before y0 > 2, it is always the case that if r9 < 3 holds, then v9 >= 1 previously held and was preceded by o2 = 2 .
After k7 = 0 until h2 = 3, w0 = 0 eventually holds.
After n4 = 0, it is always the case that if q0 >= 3 holds, then b4 < 2 previously held.
Before z6 < 1, it is always the case that if d5 = 1 holds, then z1 > 1 previously held.
Between u5 <= 1 and w9 = 3, it is always the case that if i8 >= 1 holds and is succeeded by g6 <= 0, then b11 > 0 eventually holds after g6 <= 0 .
Before t7 > 3, it is always the case that if i0 = 2 holds, then o3 < 0 previously held.
Before u0 < 0, it is always the case that if z9 >= 3 holds, then j0 >= 0 eventually holds and is succeeded by n3 < 3 .
After s8 < 3, it is always the case that if n1 >= 3 holds, then k5 >= 0 eventually holds and is succeeded by g0 >= 3, where b3 >= 2 does not hold between k5 >= 0 and g0 >= 3 .
Between y10 < 2 and q11 <= 1, it is never the case that t6 > 3 holds.
After l0 > 2, it is always the case that if d10 < 1 holds, then a7 < 2 previously held.
After v11 >= 1, it is always the case that if l8 <= 3 holds and is succeeded by k2 = 0, then e3 < 0 eventually holds after k2 = 0 .
Between d5 = 1 and b5 >= 2, r8 = 0 eventually holds.
Between f4 = 1 and u6 >= 0, it is always the case that if v11 <= 3 holds and is succeeded by h0 >= 3, then g10 >= 1 previously held.
Between t6 < 1 and m9 <= 2, it is always the case that e1 > 3 holds.
After s10 = 2 until l5 < 1, it is always the case that if k2 >= 0 holds, then q1 = 3 previously held and was preceded by j9 < 1 .
Globally, it is always the case that if u8 >= 2 holds, then f1 <= 0 eventually holds.
Before i0 > 3, it is never the case that e7 > 1 holds.
After a1 = 0 until d9 <= 0, it is always the case that if z2 > 3 holds, then k4 >= 2 previously held and was preceded by h3 <= 3 .
After i1 <= 3 until u10 = 1, it is always the case that if e6 > 3 holds and is succeeded by i8 = 1, then s3 >= 0 previously held.
Before k0 < 0, l8 > 0 eventually holds.
Globally, it is always the case that if n6 <= 3 holds, then q1 = 3 eventually holds and is succeeded by k9 >= 3 .
Globally, it is always the case that if s0 <= 1 holds, then i4 >= 2 eventually holds and is succeeded by r8 > 2, where i6 < 1 does not hold between i4 >= 2 and r8 > 2 .
Before t3 >= 3, it is always the case that if w1 = 0 holds, then h0 >= 0 eventually holds and is succeeded by j6 >= 3, where i3 >= 2 does not hold between h0 >= 0 and j6 >= 3 .
Globally, it is always the case that if f7 > 2 holds and is succeeded by d1 < 3, then f2 <= 1 eventually holds after d1 < 3 .
After h7 > 2, it is never the case that z8 = 1 holds.
After t11 > 3 until s6 <= 2, it is always the case that a0 > 0 holds.
After s2 > 3 until i0 = 1, it is always the case that if i7 < 0 holds, then d7 <= 2 previously held.
After j3 <= 0, it is always the case that if s10 < 1 holds, then h3 <= 1 eventually holds and is succeeded by f10 < 0, where h1 > 0 does not hold between h3 <= 1 and f10 < 0 .
Globally, it is always the case that e9 >= 3 holds.
After i6 >= 2, it is always the case that if z5 < 1 holds, then p10 >= 1 previously held.
Globally, it is always the case that if q10 <= 3 holds, then m10 <= 1 previously held.
Globally, it is always the case that if a9 >= 3 holds, then m8 <= 0 previously held and was preceded by h0 = 2 .
Between o4 >= 0 and c10 <= 0, it is always the case that if d4 = 0 holds, then j0 <= 2 previously held and was preceded by j8 <= 2 .
After h8 >= 0 until q0 <= 0, it is always the case that if d7 >= 2 holds, then k7 = 2 eventually holds and is succeeded by o2 = 0, where x6 = 3 does not hold between k7 = 2 and o2 = 0 .
Between u11 <= 1 and j6 = 0, it is always the case that if d3 >= 1 holds, then r5 >= 2 previously held and was preceded by u2 < 3 .
Between h5 < 2 and a7 = 0, it is always the case that if l2 > 1 holds, then a5 <= 0 eventually holds and is succeeded by s7 < 3 .
After i6 > 1, it is always the case that if h4 >= 1 holds, then p5 >= 0 eventually holds.
Between x10 > 0 and d6 >= 1, it is always the case that o1 >= 1 holds.
After y2 <= 3 until w2 <= 2, it is always the case that if v0 > 0 holds, then l10 > 2 previously held and was preceded by z11 <= 3 .
After c3 < 2, it is always the case that if h2 = 3 holds, then d11 < 2 eventually holds and is succeeded by k4 <= 0, where v3 <= 3 does not hold between d11 < 2 and k4 <= 0 .
Between q2 < 2 and h5 >= 3, it is always the case that if g1 <= 0 holds, then g5 < 2 previously held and was preceded by m9 > 1 .
Globally, it is always the case that if c5 >= 3 holds and is succeeded by a6 >= 3, then c12 = 3 eventually holds after a6 >= 3 .
Between f5 < 2 and e9 >= 0, it is always the case that if p3 > 1 holds, then d3 <= 2 eventually holds.
Before t6 > 0, it is never the case that n7 < 2 holds.
Globally, it is always the case that if q2 <= 3 holds, then x5 > 0 previously held and was preceded by i6 < 1 .
Before n8 < 2, it is always the case that if h10 <= 3 holds and is succeeded by f1 <= 0, then v3 > 2 previously held.
Before v6 < 2, it is always the case that if x10 > 3 holds, then d11 <= 3 eventually holds and is succeeded by n8 >= 1, where g2 < 3 does not hold between d11 <= 3 and n8 >= 1 .
Before h8 >= 3, it is always the case that if l7 = 0 holds, then q6 > 0 eventually holds and is succeeded by h8 > 1 .
After h11 <= 3, it is always the case that if q0 <= 0 holds, then g5 <= 3 eventually holds and is succeeded by s1 >= 0 .
Globally, it is always the case that if i7 <= 2 holds, then o8 > 3 eventually holds and is succeeded by i7 < 3, where h9 = 3 does not hold between o8 > 3 and i7 < 3 .
After e0 < 2 until f2 = 0, it is always the case that if b2 >= 3 holds and is succeeded by k10 <= 0, then d7 > 2 eventually holds after k10 <= 0 .
After m1 = 2, it is always the case that if q3 = 2 holds and is succeeded by o5 < 1, then n5 = 0 previously held.
Between g4 < 0 and v11 > 0, it is always the case that c4 < 0 holds.
After r1 <= 3, it is always the case that if h4 > 1 holds and is succeeded by n3 >= 0, then n4 = 0 eventually holds after n3 >= 0 .
After d1 > 1 until k8 <= 1, it is always the case that if q5 >= 1 holds, then d12 < 0 eventually holds and is succeeded by w10 >= 1 .
After k1 >= 0 until h11 >= 3, it is always the case that if p8 > 2 holds, then r9 > 1 eventually holds.
After f5 < 0 until p11 <= 1, it is always the case that if t4 >= 1 holds, then t8 >= 3 eventually holds.
Between o7 > 3 and i10 <= 1, it is always the case that if u0 > 0 holds and is succeeded by e4 > 2, then m5 = 1 previously held.
After t6 <= 1, it is always the case that if h3 = 1 holds, then b3 >= 2 previously held and was preceded by e7 > 2 .
After i11 >= 0, it is never the case that d11 > 1 holds.
Before o2 >= 0, it is always the case that b8 > 3 holds.
Between m7 >= 1 and l1 >= 2, it is always the case that if l3 = 2 holds and is succeeded by t9 = 3, then p4 < 3 eventually holds after t9 = 3 .
After r3 >= 1, it is always the case that if r7 <= 2 holds, then l7 = 2 previously held and was preceded by a3 = 3 .
Before r3 >= 3, it is always the case that if n6 >= 0 holds, then m2 <= 3 eventually holds and is succeeded by a4 = 0, where p9 = 1 does not hold between m2 <= 3 and a4 = 0 .
Before r10 < 0, it is always the case that if y4 <= 1 holds, then c2 <= 2 previously held and was preceded by s8 >= 2 .
Globally, it is always the case that if x11 >= 1 holds, then h1 = 1 previously held.
Globally, it is always the case that if q4 <= 2 holds and is succeeded by z8 > 1, then h1 >= 2 previously held.
After m9 > 0 until v6 <= 3, it is always the case that if c12 > 0 holds, then u8 >= 1 eventually holds.
Before i6 > 1, it is always the case that if d1 <= 2 holds, then z11 <= 0 eventually holds and is succeeded by s6 >= 3 .
Globally, c0 > 2 eventually holds.
Between d11 < 0 and b3 < 0, it is always the case that if o7 < 1 holds, then r11 <= 1 previously held.
Globally, it is always the case that if f8 >= 3 holds, then b11 <= 1 eventually holds.
Globally, it is always the case that if n11 >= 2 holds, then f9 > 3 previously held and was preceded by l5 < 0 .
Before t3 > 2, it is always the case that if r7 <= 1 holds, then n2 >= 1 eventually holds and is succeeded by i4 >= 1 .
After r8 > 2, it is always the case that if r4 = 0 holds, then j1 <= 3 eventually holds.
Before a6 < 3, it is always the case that if x11 >= 2 holds and is succeeded by c9 = 1, then j4 > 1 eventually holds after c9 = 1 .
After w8 <= 2, it is always the case that if z9 > 0 holds, then b10 < 3 previously held.
Globally, it is always the case that if y4 >= 1 holds, then o8 = 1 previously held and was preceded by d9 > 3 .
Before h8 = 3, it is always the case that if y2 <= 0 holds, then r5 > 0 eventually holds.
Globally, it is always the case that if g12 < 2 holds, then w5 > 3 eventually holds and is succeeded by u9 < 0 .
Globally, it is always the case that a9 > 0 holds.
Globally, it is always the case that v11 >= 0 holds.
After o11 = 0, it is always the case that if o3 < 3 holds and is succeeded by h9 >= 3, then s2 > 3 eventually holds after h9 >= 3 .
Globally, p9 >= 3 eventually holds.
Before j3 > 1, y9 = 0 eventually holds.
Globally, it is never the case that j11 <= 1 holds.
After u2 < 2 until r6 >= 1, it is always the case that if r0 = 1 holds, then o5 < 3 previously held and was preceded by r8 >= 3 .
After w9 > 1, it is always the case that if c1 < 1 holds, then e1 < 2 previously held.
Before s7 > 2, g5 <= 1 eventually holds.
Before i4 >= 1, it is always the case that if s2 = 0 holds and is succeeded by x8 = 0, then z6 < 2 previously held.
Globally, it is always the case that if s7 <= 1 holds, then c2 = 3 eventually holds.
After q7 > 0, it is always the case that if f0 >= 3 holds, then x3 <= 1 previously held and was preceded by x10 < 3 .
Between l7 = 2 and t1 >= 1, it is always the case that if z2 < 1 holds, then f11 <= 0 previously held and was preceded by y3 <= 0 .
Before l3 > 1, c8 >= 0 eventually holds.
Before v10 >= 0, it is always the case that if r4 > 3 holds, then v4 >= 1 eventually holds and is succeeded by p8 <= 2, where y1 = 3 does not hold between v4 >= 1 and p8 <= 2 .
Globally, it is always the case that if w6 <= 2 holds, then y7 >= 2 eventually holds.
After c7 > 1, it is always the case that u2 <= 0 holds.
Before l10 < 0, it is always the case that if a9 >= 0 holds and is succeeded by e2 <= 3, then o9 = 1 eventually holds after e2 <= 3 .
After f4 < 3 until h1 = 2, it is never the case that s5 < 3 holds.
Between l7 <= 1 and l3 <= 2, it is always the case that if g5 < 1 holds, then t7 <= 0 previously held and was preceded by n0 >= 2 .
Between r8 <= 3 and t4 = 2, it is always the case that if n10 >= 0 holds and is succeeded by g2 <= 0, then l6 >= 0 previously held.
After z5 <= 1 until w0 >= 2, it is always the case that if w5 = 2 holds, then q2 <= 1 previously held.
Globally, it is never the case that d3 <= 0 holds.
After o8 = 0 until r3 <= 0, it is always the case that j3 >= 0 holds.
After a2 = 1, it is always the case that if o4 >= 1 holds, then p2 > 3 previously held and was preceded by j11 < 2 .
Before b3 <= 1, it is always the case that if b9 <= 3 holds, then r8 > 3 eventually holds.
Globally, it is always the case that if c6 = 3 holds, then u1 <= 3 previously held and was preceded by p3 >= 3 .
Before g1 < 2, it is never the case that d7 > 2 holds.
Between o9 > 0 and s2 >= 1, it is always the case that if z3 = 1 holds, then t1 = 0 previously held.
Globally, it is always the case that h3 < 3 holds.
Globally, it is always the case that if i5 < 1 holds, then v5 <= 0 previously held and was preceded by p7 <= 1 .
After b6 > 1 until y6 >= 1, it is always the case that if v6 = 3 holds and is succeeded by c11 >= 1, then i0 >= 0 eventually holds after c11 >= 1 .
After d9 >= 1 until d6 = 1, l9 > 0 eventually holds.
Between s7 <= 3 and i7 < 3, it is always the case that v2 <= 0 holds.
After p10 > 0, q3 = 3 eventually holds.
After h0 >= 1, it is always the case that if l3 < 3 holds, then s9 <= 3 eventually holds and is succeeded by y10 = 0, where h5 = 0 does not hold between s9 <= 3 and y10 = 0 .
Globally, it is always the case that if e1 < 0 holds, then b6 >= 2 eventually holds.
Globally, it is always the case that if x3 = 1 holds, then i3 >= 0 eventually holds.
Between i8 < 1 and u1 < 0, m5 = 0 eventually holds.
Before u11 <= 3, it is always the case that if g3 > 1 holds, then a1 < 2 eventually holds and is succeeded by u8 < 0 .
After l11 = 3, it is always the case that if r1 > 0 holds, then l8 >= 1 eventually holds.
Between n2 = 1 and l8 >= 3, it is always the case that if m4 < 3 holds, then c6 < 3 previously held.
Globally, it is always the case that c3 <= 1 holds.
Globally, it is always the case that if v5 = 1 holds, then b9 <= 1 previously held and was preceded by z7 <= 3 .
Between j4 = 1 and f10 > 2, it is always the case that if b3 <= 2 holds, then o0 = 0 eventually holds and is succeeded by j8 = 1 .
After l2 = 0 until d3 > 1, it is always the case that if o8 > 3 holds, then k0 >= 2 previously held and was preceded by o11 < 0 .
After l4 = 3, it is always the case that if d11 >= 1 holds, then o11 > 0 eventually holds.
Globally, it is always the case that if k8 > 2 holds and is succeeded by j9 > 2, then w9 <= 2 previously held.
After k7 = 2, it is always the case that if z9 > 2 holds, then j10 > 0 previously held.
Before v2 < 3, y9 >= 3 eventually holds.
Between i11 = 1 and b3 <= 1, it is always the case that if z4 > 0 holds and is succeeded by z1 > 3, then j3 < 1 eventually holds after z1 > 3 .
Between m11 >= 3 and b0 <= 2, it is always the case that if a6 = 2 holds, then c5 >= 0 eventually holds and is succeeded by c12 < 2, where i11 >= 3 does not hold between c5 >= 0 and c12 < 2 .
Globally, it is always the case that b2 > 2 holds.
Globally, it is always the case that if d2 < 3 holds, then t3 > 0 eventually holds and is succeeded by g2 > 2, where y2 <= 3 does not hold between t3 > 0 and g2 > 2 .
After k0 < 2 until o8 <= 3, it is always the case that if i11 > 1 holds, then g6 > 1 previously held.
Globally, it is always the case that if j8 = 1 holds, then x3 > 2 eventually holds and is succeeded by r3 <= 3, where e11 = 0 does not hold between x3 > 2 and r3 <= 3 .
Globally, it is always the case that if k10 <= 3 holds and is succeeded by i8 >= 3, then e0 >= 2 eventually holds after i8 >= 3 .
Between h10 <= 0 and s6 < 3, it is always the case that j0 = 3 holds.
Between o2 = 3 and a10 >= 2, it is always the case that if j2 <= 2 holds, then c9 >= 2 previously held.
Before l4 > 0, it is always the case that if y2 > 2 holds, then j3 > 0 eventually holds and is succeeded by r4 < 1 .
After u4 >= 3, it is always the case that if j8 < 3 holds and is succeeded by f4 < 3, then k6 > 1 previously held.
Globally, n7 = 1 eventually holds.
After l5 >= 3, it is never the case that m10 > 3 holds.
After g2 = 2 until j9 <= 1, it is always the case that x3 >= 1 holds.
Before u1 = 0, it is always the case that if p9 <= 3 holds, then x0 < 2 previously held.
Globally, it is always the case that if d4 = 3 holds, then k6 <= 3 eventually holds and is succeeded by t3 >= 3 .
Globally, it is always the case that if u9 > 2 holds, then g2 >= 1 previously held.
After t1 = 2, it is always the case that if e12 <= 1 holds, then i6 = 3 previously held.
After p7 < 0 until p1 = 3, it is never the case that a4 = 2 holds.
Before z3 <= 3, it is always the case that if o9 > 1 holds, then w2 = 2 eventually holds and is succeeded by z10 = 2, where i7 <= 3 does not hold between w2 = 2 and z10 = 2 .
Between b0 < 3 and t4 < 3, p0 < 1 eventually holds.
Between d1 = 0 and r7 > 3, it is always the case that u6 <= 3 holds.
Between q9 >= 3 and a6 < 0, it is always the case that if h7 = 0 holds, then f0 <= 0 previously held.
After x0 < 3 until b3 <= 2, it is always the case that if z11 <= 3 holds, then i5 > 2 previously held and was preceded by x2 = 1 .
Before i7 < 0, it is always the case that if j2 = 1 holds and is succeeded by g12 > 2, then l6 <= 3 eventually holds after g12 > 2 .
After w7 <= 0 until c3 >= 3, u8 > 3 eventually holds.
Between c6 = 3 and u8 = 0, it is always the case that if z7 <= 2 holds and is succeeded by r3 < 3, then x7 >= 1 previously held.
After x10 > 2 until n5 > 0, it is always the case that y8 < 0 holds.
Between x2 <= 2 and t11 < 2, it is always the case that m3 < 0 holds.
Before m4 = 1, it is always the case that if e3 = 1 holds, then f7 >= 1 previously held and was preceded by n3 >= 0 .
Globally, it is always the case that if m10 >= 1 holds, then y6 >= 1 previously held and was preceded by g8 < 1 .
After b1 > 2 until s11 > 1, it is never the case that e0 > 1 holds.
After h3 <= 1, it is always the case that if w8 < 0 holds, then q5 = 3 eventually holds and is succeeded by e6 < 1 .
After s3 >= 3, it is never the case that n3 <= 0 holds.
Before p6 > 3, it is always the case that a1 <= 2 holds.
Before t5 > 3, it is always the case that if u0 = 0 holds and is succeeded by h9 <= 3, then i9 >= 1 previously held.
Between p3 < 0 and e3 > 1, it is always the case that if k1 < 1 holds and is succeeded by o6 = 2, then p11 = 1 previously held.
After i1 >= 1, it is always the case that if n0 < 2 holds and is succeeded by x0 = 3, then x0 >= 3 previously held.
Before o10 <= 0, it is always the case that if w8 = 2 holds, then i9 > 3 eventually holds and is succeeded by i9 <= 2, where i11 >= 1 does not hold between i9 > 3 and i9 <= 2 .
After b4 >= 3, it is always the case that if b3 = 3 holds, then y2 = 1 eventually holds.
Between y7 >= 1 and y1 = 2, it is always the case that if t6 > 3 holds and is succeeded by x0 >= 1, then g6 > 2 eventually holds after x0 >= 1 .
Before c3 < 3, it is always the case that if z3 > 2 holds, then h3 < 3 eventually holds.
After a5 >= 0, it is never the case that x7 >= 2 holds.
After k8 >= 3 until c8 <= 0, it is always the case that if d5 > 0 holds, then z4 >= 0 previously held and was preceded by s11 >= 3 .
After n5 < 2, it is always the case that if b4 < 0 holds, then t3 <= 2 eventually holds and is succeeded by w3 = 1 .
Globally, it is always the case that if a11 < 3 holds, then i7 <= 0 previously held and was preceded by g4 >= 0 .
After w1 > 3, it is always the case that m6 > 3 holds.
Globally, it is never the case that i0 = 0 holds.
Globally, it is always the case that if l6 < 2 holds, then p7 >= 1 eventually holds.
Between y10 < 3 and c0 <= 0, it is always the case that if g8 < 0 holds, then m5 >= 1 eventually holds and is succeeded by t9 > 1 .
After z0 >= 0 until j2 = 3, it is always the case that s6 <= 3 holds.
Globally, it is always the case that t7 = 2 holds.
After d9 >= 3, it is always the case that if j4 < 2 holds, then x0 >= 1 eventually holds and is succeeded by i9 = 2 .
After w5 < 1 until a10 <= 3, it is always the case that if m4 = 2 holds, then r10 >= 3 previously held and was preceded by f3 = 0 .
Before t4 >= 2, it is always the case that if m1 < 3 holds, then a1 < 2 eventually holds.
Before m11 >= 2, it is never the case that k10 > 2 holds.
After r7 <= 1 until f0 = 1, it is always the case that if n3 >= 2 holds, then s1 = 1 eventually holds and is succeeded by y2 > 2 .
Between d11 <= 2 and r3 <= 1, it is never the case that w1 >= 3 holds.
Between j5 > 2 and k9 < 1, it is always the case that if w1 > 2 holds and is succeeded by e1 <= 0, then v4 = 2 eventually holds after e1 <= 0 .
Globally, it is always the case that e11 >= 2 holds.
Globally, it is always the case that if j10 >= 0 holds and is succeeded by q0 >= 1, then w11 <= 2 previously held.
After q8 > 2, it is always the case that if p1 > 0 holds, then m4 > 3 previously held.
Between l9 > 1 and w10 <= 3, it is always the case that if x0 < 1 holds, then e7 = 1 eventually holds and is succeeded by z2 >= 2, where h3 = 3 does not hold between e7 = 1 and z2 >= 2 .
Before j4 = 2, l5 > 0 eventually holds.
After z11 > 0 until x5 = 2, it is never the case that x6 > 0 holds.
After e8 <= 2 until z6 >= 1, it is always the case that if f12 > 2 holds, then u1 <= 0 eventually holds and is succeeded by r8 < 2, where g5 = 1 does not hold between u1 <= 0 and r8 < 2 .
Before d9 = 0, it is always the case that if r2 >= 2 holds, then z3 >= 2 eventually holds.
After a11 > 0, it is always the case that if c2 > 2 holds, then o0 >= 3 previously held.
