After e9 <= 3 until l8 = 2, it is always the case that if f1 = 0 holds and is succeeded by s11 > 1, then a4 >= 3 previously held.
After a5 = 3, it is always the case that p10 <= 1 holds.
After c5 < 1, it is always the case that if p1 <= 3 holds, then s0 > 1 eventually holds and is succeeded by q1 > 1 .
Between l9 <= 1 and t4 <= 0, it is always the case that l5 <= 3 holds.
After l1 < 2 until x9 = 1, it is always the case that if h8 = 2 holds, then n10 > 0 eventually holds and is succeeded by d6 = 1, where a10 > 3 does not hold between n10 > 0 and d6 = 1 .
Before a5 <= 3, it is always the case that if h11 > 2 holds, then j6 > 2 eventually holds and is succeeded by r11 >= 0 .
Globally, it is always the case that if v11 <= 3 holds, then d12 > 0 eventually holds and is succeeded by o0 <= 3, where c10 > 0 does not hold between d12 > 0 and o0 <= 3 .
After y10 = 2, it is always the case that if d9 < 3 holds, then m3 < 0 previously held and was preceded by z5 > 2 .
Globally, it is never the case that b9 > 0 holds.
Before b3 >= 2, it is always the case that if b1 > 0 holds and is succeeded by d6 = 0, then e9 <= 2 eventually holds after d6 = 0 .
Between f8 >= 2 and m10 >= 1, a8 >= 1 eventually holds.
After j10 > 2, it is always the case that if l10 <= 3 holds and is succeeded by y4 <= 2, then v8 = 1 previously held.
Globally, it is always the case that if u4 <= 3 holds, then o5 = 1 eventually holds.
After p5 >= 2 until d5 >= 1, it is always the case that if u3 > 0 holds, then c0 < 0 eventually holds and is succeeded by x9 <= 0, where e3 < 3 does not hold between c0 < 0 and x9 <= 0 .
Globally, it is always the case that c12 = 1 holds.
Globally, it is always the case that if t3 < 0 holds and is succeeded by c10 = 2, then o7 = 0 eventually holds after c10 = 2 .
Before n10 = 0, it is always the case that s8 < 3 holds.
Between f12 >= 0 and v10 >= 3, it is never the case that k1 >= 1 holds.
Globally, it is always the case that if g8 > 2 holds and is succeeded by f3 = 0, then w2 < 0 previously held.
After r9 = 0, w2 >= 3 eventually holds.
After p2 <= 3, it is always the case that a4 > 3 holds.
After u9 >= 1 until q9 >= 0, it is always the case that if z8 >= 2 holds and is succeeded by a9 > 2, then b0 < 0 eventually holds after a9 > 2 .
Globally, it is always the case that if u2 < 2 holds and is succeeded by t1 >= 3, then t8 >= 1 previously held.
Between k4 <= 3 and s7 > 1, it is always the case that if f8 = 2 holds and is succeeded by c11 > 3, then u10 >= 1 eventually holds after c11 > 3 .
Globally, it is always the case that if g9 <= 2 holds, then h6 = 1 eventually holds.
Before w9 = 0, u2 >= 1 eventually holds.
Before a2 = 1, it is always the case that if y6 >= 1 holds, then t1 <= 0 eventually holds and is succeeded by o0 <= 1 .
After x1 = 0 until t4 >= 2, it is always the case that if z8 > 1 holds, then s11 = 3 previously held and was preceded by s0 > 0 .
After s8 <= 1 until g4 > 3, b4 < 2 eventually holds.
Globally, it is always the case that if h0 <= 1 holds, then s10 = 1 previously held.
After o8 > 0, it is always the case that if n7 = 2 holds, then x4 > 0 eventually holds and is succeeded by g0 > 2, where n1 > 0 does not hold between x4 > 0 and g0 > 2 .
Between i9 > 3 and h7 >= 0, it is always the case that if r7 >= 2 holds and is succeeded by p10 <= 1, then d10 > 2 eventually holds after p10 <= 1 .
After u3 <= 3 until z6 >= 3, g11 > 2 eventually holds.
Between z0 <= 0 and v0 >= 1, it is always the case that if b7 = 2 holds, then t4 <= 3 previously held.
Before y3 < 2, it is always the case that z7 = 2 holds.
After m10 = 2, it is always the case that if i10 <= 1 holds, then y6 < 0 eventually holds and is succeeded by a5 > 1, where n0 < 0 does not hold between y6 < 0 and a5 > 1 .
After y8 >= 2 until w1 >= 3, it is always the case that if q10 > 3 holds, then a1 <= 1 previously held.
Globally, it is always the case that if n2 >= 0 holds, then x1 < 0 eventually holds and is succeeded by j11 < 1, where b9 < 2 does not hold between x1 < 0 and j11 < 1 .
Globally, it is always the case that f0 < 0 holds.
Globally, it is always the case that if m9 = 0 holds, then x6 > 3 eventually holds and is succeeded by u1 = 3 .
After w6 = 2, it is always the case that if m11 > 3 holds, then w7 = 1 previously held and was preceded by o7 <= 1 .
After k0 > 0 until t10 >= 1, it is always the case that if n6 < 0 holds, then m0 < 2 previously held.
Before e10 = 0, it is always the case that if a1 = 2 holds, then o1 <= 1 eventually holds and is succeeded by b8 >= 2, where d9 <= 3 does not hold between o1 <= 1 and b8 >= 2 .
After u2 < 2 until w2 >= 0, it is never the case that o3 < 1 holds.
Between m8 >= 1 and z11 <= 3, it is always the case that if z3 = 2 holds, then v4 >= 3 previously held and was preceded by u0 >= 3 .
After x6 <= 1, it is always the case that if q6 <= 0 holds, then g3 > 1 eventually holds and is succeeded by j5 = 0, where g0 < 1 does not hold between g3 > 1 and j5 = 0 .
Before n7 < 1, it is always the case that if n7 <= 0 holds, then b5 <= 0 previously held.
Between m3 > 0 and y10 < 0, it is always the case that if a2 > 3 holds, then p4 >= 2 eventually holds and is succeeded by s7 = 1 .
Globally, f0 > 0 eventually holds.
Between u11 > 1 and y2 = 3, it is never the case that a11 < 1 holds.
After l6 > 3 until z11 = 0, n9 <= 0 eventually holds.
After o8 = 1 until a6 >= 2, it is always the case that if v3 <= 3 holds, then x10 = 3 previously held.
Globally, it is always the case that if r1 >= 3 holds, then h5 <= 1 eventually holds and is succeeded by f4 < 1, where t10 >= 0 does not hold between h5 <= 1 and f4 < 1 .
Between d3 >= 3 and g9 < 1, it is always the case that if i5 >= 2 holds, then c11 < 0 eventually holds.
Between q7 < 0 and n5 > 0, it is always the case that if i0 < 0 holds, then r8 < 0 previously held.
After x6 >= 1 until s4 > 2, it is always the case that if u10 >= 3 holds, then e11 < 2 eventually holds.
After w8 < 1, b8 < 2 eventually holds.
Globally, it is always the case that if u1 > 1 holds, then d3 <= 2 eventually holds and is succeeded by y11 = 1 .
Between x7 > 1 and k7 = 2, it is never the case that t9 = 0 holds.
Before e2 <= 0, it is always the case that if f11 < 2 holds, then c0 < 2 previously held.
