After g0 > 3, it is always the case that if a0 = 0 holds, then e0 <= 3 previously held.
Before g0 >= 2, it is never the case that c0 > 2 holds.
After g0 < 3 until i0 >= 3, it is always the case that if f0 = 2 holds and is succeeded by g0 < 1, then d0 = 3 eventually holds after g0 < 1 .
Globally, it is always the case that if b0 > 3 holds, then e0 > 3 previously held and was preceded by f0 <= 3 .
After f0 >= 1, it is always the case that if d0 <= 0 holds and is succeeded by f0 <= 1, then b0 <= 2 eventually holds after f0 <= 1 .
After e0 >= 2 until d0 <= 0, it is always the case that if f0 >= 1 holds and is succeeded by c0 >= 2, then a0 <= 0 previously held.
After h0 <= 2 until i0 > 2, c0 <= 0 eventually holds.
Between c0 > 3 and f0 <= 3, it is always the case that if f0 = 0 holds, then d0 = 2 eventually holds and is succeeded by i0 < 1, where e0 < 0 does not hold between d0 = 2 and i0 < 1 .
After e0 >= 0 until a0 <= 2, it is always the case that if d0 = 0 holds and is succeeded by f0 <= 1, then b0 > 0 previously held.
Globally, it is always the case that if i0 <= 0 holds, then a0 <= 0 previously held and was preceded by f0 >= 2 .
After h0 = 3, it is always the case that c0 >= 2 holds.
After f0 > 0, it is always the case that if a0 = 0 holds, then h0 <= 0 eventually holds.
Before f0 = 2, it is always the case that if e0 > 3 holds, then b0 = 0 eventually holds and is succeeded by g0 >= 1 .
After b0 > 0, it is always the case that a0 > 0 holds.
Globally, it is always the case that if e0 = 0 holds, then a0 <= 0 eventually holds.
Globally, it is always the case that if g0 < 2 holds, then i0 > 0 previously held.
Before a0 <= 2, it is always the case that if a0 = 1 holds, then a0 < 0 eventually holds.
Between c0 > 3 and g0 = 2, it is always the case that if a0 > 2 holds, then f0 = 3 previously held and was preceded by b0 <= 1 .
Globally, it is never the case that a0 < 1 holds.
Before e0 >= 0, b0 >= 1 eventually holds.
Before g0 < 2, it is always the case that if i0 >= 0 holds and is succeeded by b0 >= 1, then e0 > 0 eventually holds after b0 >= 1 .
After e0 = 1, it is never the case that d0 <= 2 holds.
Before i0 < 2, it is always the case that if f0 <= 3 holds, then e0 > 0 eventually holds and is succeeded by a0 > 0, where e0 <= 0 does not hold between e0 > 0 and a0 > 0 .
After h0 < 1, a0 >= 3 eventually holds.
Between g0 <= 0 and a0 >= 0, it is always the case that a0 <= 3 holds.
After f0 <= 1, it is always the case that if g0 = 3 holds and is succeeded by h0 < 3, then i0 = 0 eventually holds after h0 < 3 .
Between f0 < 0 and h0 < 1, it is always the case that if i0 >= 3 holds, then h0 >= 1 previously held.
After f0 < 0 until h0 >= 2, it is always the case that if f0 > 3 holds, then h0 > 3 eventually holds and is succeeded by b0 > 1 .
Between b0 = 0 and i0 = 2, it is always the case that if e0 > 3 holds, then i0 = 3 eventually holds and is succeeded by g0 = 2, where h0 < 3 does not hold between i0 = 3 and g0 = 2 .
After d0 < 0 until d0 = 1, it is always the case that if c0 = 1 holds, then a0 < 2 eventually holds and is succeeded by e0 > 3 .
Globally, it is always the case that if i0 < 2 holds and is succeeded by e0 > 1, then e0 < 0 previously held.
After a0 > 1, it is always the case that a0 <= 2 holds.
Between h0 < 3 and c0 > 2, it is always the case that if g0 < 1 holds and is succeeded by f0 >= 3, then d0 >= 2 previously held.
After b0 = 3, it is never the case that h0 > 2 holds.
Before b0 <= 0, it is always the case that if a0 = 1 holds and is succeeded by h0 = 2, then e0 = 2 previously held.
After f0 > 2 until g0 < 0, it is always the case that if f0 > 2 holds and is succeeded by h0 = 3, then h0 > 1 previously held.
Globally, it is always the case that if c0 <= 0 holds, then a0 >= 2 eventually holds.
Globally, it is always the case that if h0 <= 2 holds, then g0 >= 0 eventually holds.
Globally, it is never the case that d0 > 1 holds.
Globally, it is never the case that d0 < 0 holds.
Before i0 > 3, it is never the case that h0 <= 1 holds.
Before e0 <= 1, it is always the case that if d0 >= 1 holds, then d0 = 3 eventually holds and is succeeded by g0 > 0 .
Before i0 > 1, it is always the case that if g0 > 2 holds, then b0 >= 0 eventually holds.
Between d0 = 2 and g0 <= 1, it is always the case that if c0 > 0 holds and is succeeded by f0 <= 0, then i0 >= 0 previously held.
Globally, it is always the case that if i0 >= 0 holds and is succeeded by f0 < 1, then d0 < 0 previously held.
Globally, it is always the case that if b0 >= 3 holds, then c0 > 3 eventually holds and is succeeded by g0 >= 2 .
Between d0 > 0 and c0 >= 0, it is always the case that if d0 < 1 holds, then c0 = 0 eventually holds.
Before a0 > 0, it is always the case that if d0 > 2 holds, then c0 = 1 previously held and was preceded by h0 >= 1 .
After h0 < 2, it is always the case that if g0 <= 1 holds, then b0 = 0 eventually holds and is succeeded by h0 = 1 .
Before e0 > 1, it is always the case that if h0 = 1 holds and is succeeded by d0 > 0, then h0 > 2 previously held.
Between f0 < 2 and c0 <= 2, it is never the case that b0 < 2 holds.
After h0 < 1, it is always the case that if h0 > 0 holds, then c0 > 3 eventually holds and is succeeded by a0 >= 1, where d0 <= 0 does not hold between c0 > 3 and a0 >= 1 .
After d0 < 1, it is never the case that h0 >= 1 holds.
Globally, it is always the case that c0 > 3 holds.
Between e0 >= 1 and e0 <= 2, it is always the case that if e0 = 2 holds and is succeeded by g0 > 3, then e0 = 2 previously held.
Between h0 > 2 and d0 > 3, it is always the case that if e0 = 1 holds, then g0 >= 3 previously held and was preceded by f0 > 2 .
Before h0 = 0, it is always the case that if a0 <= 0 holds, then d0 < 1 eventually holds and is succeeded by i0 > 0, where f0 <= 3 does not hold between d0 < 1 and i0 > 0 .
Between f0 >= 1 and f0 = 3, it is always the case that if d0 <= 0 holds and is succeeded by g0 < 3, then f0 < 0 eventually holds after g0 < 3 .
Between e0 <= 3 and e0 > 2, it is always the case that if c0 > 2 holds, then g0 >= 1 previously held.
After e0 < 1 until g0 >= 2, it is always the case that if c0 > 1 holds and is succeeded by f0 = 0, then g0 < 0 previously held.
