Globally, it is always the case that if u6 > 12 holds, then m10 < 7 eventually holds and is succeeded by o15 <= 6 .
After t15 <= 15 until o4 > 6, it is never the case that p20 > 3 holds.
Globally, it is always the case that if z11 >= 12 holds, then c14 > 13 eventually holds and is succeeded by y8 > 5, where c6 > 6 does not hold between c14 > 13 and y8 > 5 .
Before b18 < 12, it is always the case that if p23 < 14 holds, then e19 >= 2 eventually holds and is succeeded by i17 < 5 .
Between u3 < 6 and p12 < 5, y18 >= 10 eventually holds.
Before b15 = 2, it is always the case that if j4 >= 7 holds, then g3 <= 11 eventually holds and is succeeded by k1 > 2, where f22 >= 13 does not hold between g3 <= 11 and k1 > 2 .
Between j4 >= 8 and t22 >= 0, it is always the case that if m3 > 3 holds, then c11 > 7 eventually holds and is succeeded by m23 > 10, where z19 > 9 does not hold between c11 > 7 and m23 > 10 .
Globally, it is always the case that if t7 <= 6 holds, then y20 > 13 eventually holds and is succeeded by p20 >= 14, where b2 >= 0 does not hold between y20 > 13 and p20 >= 14 .
Globally, it is always the case that if t11 <= 5 holds, then i4 = 5 previously held and was preceded by n9 < 4 .
After s12 < 11, it is always the case that if p6 >= 8 holds, then n23 = 13 eventually holds and is succeeded by a23 >= 2, where z2 <= 14 does not hold between n23 = 13 and a23 >= 2 .
Globally, it is never the case that a9 = 2 holds.
Before n3 = 7, it is always the case that if c5 > 12 holds and is succeeded by o2 = 5, then g1 >= 8 eventually holds after o2 = 5 .
Before m4 = 4, it is always the case that if w5 < 11 holds and is succeeded by r17 > 10, then t13 > 1 eventually holds after r17 > 10 .
Between z6 < 14 and j24 <= 11, it is always the case that if z7 >= 9 holds, then a4 < 9 previously held and was preceded by n23 = 8 .
Globally, it is always the case that if n6 <= 9 holds and is succeeded by y4 >= 9, then v11 <= 3 previously held.
Before g23 <= 3, it is always the case that if l10 = 6 holds, then z7 = 4 previously held and was preceded by j2 > 13 .
Between k5 <= 13 and y11 <= 13, it is always the case that if x20 <= 13 holds, then d16 < 11 previously held and was preceded by s14 >= 8 .
After f24 > 8 until f12 <= 12, it is always the case that if k15 > 9 holds, then h11 < 7 eventually holds and is succeeded by q9 < 12, where a8 <= 15 does not hold between h11 < 7 and q9 < 12 .
Globally, it is never the case that w11 >= 11 holds.
After j6 <= 0, it is always the case that q8 <= 5 holds.
Between e19 < 7 and h2 > 12, it is never the case that h22 <= 12 holds.
Before t18 < 14, it is always the case that if v1 >= 2 holds, then k21 < 0 eventually holds and is succeeded by h6 < 13, where h18 >= 7 does not hold between k21 < 0 and h6 < 13 .
After o5 = 14 until k24 >= 10, it is always the case that if e7 = 6 holds, then z3 > 9 eventually holds.
Between y4 <= 4 and o5 >= 9, it is always the case that if y19 < 15 holds, then y0 <= 7 eventually holds.
Before y5 < 13, it is always the case that if b3 = 0 holds and is succeeded by h17 < 15, then r4 = 13 eventually holds after h17 < 15 .
After a13 = 12, it is always the case that if r9 >= 15 holds and is succeeded by a18 <= 4, then w0 < 7 previously held.
After r1 > 7 until s9 > 15, o5 >= 3 eventually holds.
Before x6 >= 11, it is always the case that if w7 > 15 holds and is succeeded by o19 >= 15, then t14 >= 3 eventually holds after o19 >= 15 .
After g5 >= 10, it is always the case that if g4 > 15 holds, then l7 > 13 eventually holds and is succeeded by f7 = 5, where p21 <= 9 does not hold between l7 > 13 and f7 = 5 .
Before x21 < 5, it is always the case that if y16 >= 13 holds, then k7 > 1 previously held and was preceded by z12 > 0 .
After z2 > 3 until e13 = 1, it is always the case that if v10 > 9 holds, then q16 <= 12 previously held.
After r3 >= 10, it is always the case that if s6 < 10 holds, then u11 < 8 previously held.
Before b0 < 13, it is always the case that r17 > 12 holds.
Before u3 < 11, u8 > 13 eventually holds.
Between p15 < 12 and t15 > 0, it is always the case that if x11 < 2 holds, then a10 > 10 eventually holds.
After g17 >= 0, it is always the case that if w2 > 12 holds, then e1 > 7 eventually holds and is succeeded by d22 <= 9, where f18 < 4 does not hold between e1 > 7 and d22 <= 9 .
After v20 >= 8, it is always the case that if x19 <= 15 holds, then n6 < 4 eventually holds.
After l18 <= 5 until q18 <= 9, it is never the case that s16 < 8 holds.
Between t5 > 0 and a13 = 1, it is always the case that l6 >= 12 holds.
After h4 > 0 until a10 <= 14, it is always the case that if s1 >= 3 holds and is succeeded by p22 = 3, then k19 > 0 previously held.
Between c20 = 7 and w19 > 11, it is always the case that if g2 >= 2 holds, then x9 > 2 eventually holds and is succeeded by d22 <= 5 .
Globally, it is always the case that if e5 <= 3 holds, then m3 < 12 eventually holds.
Globally, it is always the case that if b17 > 6 holds, then g20 >= 15 previously held and was preceded by q6 = 8 .
Globally, it is never the case that c8 >= 5 holds.
Globally, it is always the case that if i8 >= 6 holds, then n16 < 7 eventually holds and is succeeded by a22 < 9, where s22 = 5 does not hold between n16 < 7 and a22 < 9 .
After o14 < 15, e8 > 6 eventually holds.
After h22 >= 10 until r20 > 0, it is always the case that if g0 <= 7 holds, then c7 <= 6 previously held and was preceded by i7 >= 8 .
Between b24 < 12 and z9 < 10, it is always the case that if h22 < 14 holds, then f21 > 2 eventually holds.
After r18 <= 15, it is always the case that z4 <= 3 holds.
Globally, it is always the case that if t15 <= 13 holds, then o16 <= 0 previously held and was preceded by v10 = 0 .
Before z4 >= 3, it is always the case that z5 > 2 holds.
Between w4 > 9 and k0 < 8, it is always the case that if l21 < 10 holds and is succeeded by x11 <= 12, then m8 = 8 previously held.
Before u15 = 15, it is never the case that o18 >= 15 holds.
After q14 > 15, it is always the case that if l17 < 11 holds, then g3 = 6 previously held.
Before v23 < 5, it is always the case that a21 <= 8 holds.
Before p8 <= 3, it is always the case that if r5 = 10 holds and is succeeded by a14 <= 5, then j0 < 6 previously held.
Between p9 > 12 and r9 < 7, it is always the case that if t9 >= 12 holds, then h20 > 15 eventually holds and is succeeded by q17 < 4, where y20 = 6 does not hold between h20 > 15 and q17 < 4 .
Before q4 <= 7, it is always the case that if w23 >= 0 holds, then s11 <= 10 eventually holds.
Globally, it is always the case that if x0 = 10 holds, then q20 > 6 eventually holds.
Before y23 <= 12, it is always the case that if v3 >= 3 holds, then b13 = 7 previously held.
Between j9 = 3 and m17 < 8, it is always the case that q15 = 9 holds.
Between o18 > 7 and q22 = 6, it is always the case that if c0 <= 14 holds, then x17 > 4 eventually holds.
Before w21 > 11, it is always the case that if d17 < 2 holds, then s13 >= 15 previously held.
Before k13 >= 12, it is always the case that b7 = 4 holds.
Globally, it is always the case that if z6 <= 9 holds, then i21 < 1 previously held and was preceded by o21 >= 12 .
After p7 >= 3, d17 > 8 eventually holds.
Between n4 < 7 and w9 < 15, it is always the case that if r2 = 2 holds, then c9 > 11 previously held.
Between k13 < 0 and j5 >= 12, it is always the case that if f12 > 4 holds, then k13 <= 4 previously held and was preceded by e22 <= 10 .
Globally, it is always the case that if h0 <= 4 holds, then t15 >= 5 eventually holds and is succeeded by s23 <= 14 .
After w14 > 0 until q3 > 4, it is always the case that if f23 < 6 holds and is succeeded by j4 >= 5, then e2 <= 2 eventually holds after j4 >= 5 .
After m5 >= 14, it is always the case that if c13 >= 5 holds, then u0 > 8 previously held.
After e18 <= 8, it is always the case that if d10 < 11 holds, then l14 >= 2 eventually holds.
After e12 = 1 until f18 >= 11, it is never the case that z0 > 11 holds.
Before g12 <= 2, it is always the case that o19 > 12 holds.
Globally, o9 = 0 eventually holds.
Between y12 >= 10 and y17 > 3, it is always the case that if s9 < 8 holds, then p1 < 5 eventually holds.
After m23 >= 7, it is always the case that u8 <= 11 holds.
Before n1 >= 7, it is always the case that if k19 > 6 holds and is succeeded by a3 < 14, then h20 > 3 previously held.
After u5 > 2 until n17 > 5, it is always the case that if l23 <= 14 holds and is succeeded by k22 >= 9, then d19 >= 10 previously held.
After d16 <= 4, it is always the case that if e0 >= 5 holds, then t4 = 13 eventually holds and is succeeded by e22 = 2, where h12 <= 2 does not hold between t4 = 13 and e22 = 2 .
Globally, it is always the case that if r23 > 0 holds and is succeeded by i14 >= 11, then b20 > 2 previously held.
After i0 = 0 until c12 >= 6, it is always the case that if w23 <= 5 holds and is succeeded by x19 <= 2, then g0 >= 0 eventually holds after x19 <= 2 .
Between r5 >= 10 and i24 <= 12, it is always the case that if t0 = 2 holds, then k2 > 10 previously held.
Before i9 <= 5, c2 >= 13 eventually holds.
Before r12 = 7, e24 < 6 eventually holds.
After e13 = 9 until l4 < 13, it is always the case that if q9 < 15 holds, then o13 < 9 eventually holds and is succeeded by o5 <= 2, where q12 >= 9 does not hold between o13 < 9 and o5 <= 2 .
Globally, it is always the case that if z12 = 8 holds, then x14 <= 0 eventually holds and is succeeded by m9 > 4, where x1 <= 1 does not hold between x14 <= 0 and m9 > 4 .
Before j20 > 6, it is always the case that if f4 = 1 holds, then j23 > 15 previously held.
Between q7 > 0 and u13 >= 4, it is always the case that if u4 >= 12 holds and is succeeded by f9 < 15, then q1 > 0 previously held.
Between w17 = 8 and r19 <= 2, it is always the case that if t21 <= 6 holds, then v14 = 4 eventually holds.
After g2 < 7, it is always the case that n11 <= 6 holds.
Before g11 > 8, it is always the case that if g12 >= 6 holds, then e24 >= 15 previously held and was preceded by c10 < 15 .
After l14 < 5, m7 >= 4 eventually holds.
After g4 < 4 until p23 = 2, it is always the case that if x9 >= 1 holds, then n15 >= 14 previously held and was preceded by p19 >= 4 .
Globally, it is always the case that if c20 <= 13 holds and is succeeded by t2 >= 10, then t23 <= 15 eventually holds after t2 >= 10 .
Globally, it is always the case that if f22 > 3 holds, then y6 < 10 previously held and was preceded by j3 > 10 .
Between d17 < 12 and k12 <= 14, it is never the case that x14 > 15 holds.
After k2 > 6, it is always the case that if r16 < 2 holds, then c23 < 9 eventually holds.
After x2 > 1, it is always the case that if i8 < 14 holds, then i0 <= 0 eventually holds and is succeeded by m18 <= 7 .
Between z22 > 0 and e3 >= 6, it is always the case that s21 > 8 holds.
Before v18 = 0, it is always the case that if v17 > 0 holds, then y13 < 13 eventually holds and is succeeded by g21 = 9 .
Before y18 >= 9, it is always the case that a2 > 9 holds.
Between z14 >= 2 and i10 < 0, it is always the case that if k18 > 6 holds, then t18 > 13 eventually holds and is succeeded by j17 > 8 .
Globally, it is always the case that if s3 <= 10 holds and is succeeded by o10 >= 13, then c11 <= 4 previously held.
After m5 >= 7, it is always the case that if t13 <= 5 holds, then r12 < 10 eventually holds.
After s20 > 6 until l6 <= 12, it is always the case that if y11 >= 13 holds, then k17 = 8 previously held and was preceded by h0 > 13 .
After b2 >= 11 until a3 < 15, it is always the case that if a6 < 9 holds, then a8 > 10 previously held and was preceded by c20 <= 2 .
After j2 = 6, it is never the case that g15 <= 10 holds.
Before f9 <= 9, it is never the case that m17 <= 5 holds.
Between y2 < 5 and d5 > 14, it is always the case that if e1 < 9 holds, then m1 > 3 previously held.
Globally, it is always the case that if e21 >= 4 holds, then u4 >= 1 previously held.
Between x3 >= 10 and o24 > 0, it is always the case that if e11 < 6 holds, then w16 < 13 previously held.
Globally, it is always the case that if q9 > 3 holds, then k4 > 13 eventually holds and is succeeded by g0 = 14 .
After j21 > 15 until a15 > 15, it is always the case that if q0 = 4 holds, then l14 = 10 eventually holds.
Globally, it is always the case that f2 < 10 holds.
Before e23 = 0, it is always the case that if u12 > 0 holds and is succeeded by t0 >= 2, then p18 <= 8 eventually holds after t0 >= 2 .
Globally, it is never the case that o0 < 8 holds.
After z0 > 7, it is always the case that if u17 > 10 holds and is succeeded by o16 > 3, then x18 <= 11 eventually holds after o16 > 3 .
Between g13 > 7 and v6 > 11, it is always the case that if t23 = 5 holds and is succeeded by c12 > 15, then a7 <= 7 eventually holds after c12 > 15 .
After i21 > 7, it is always the case that k3 > 9 holds.
Between d6 >= 9 and m0 <= 9, l18 <= 8 eventually holds.
Before f15 < 10, it is always the case that if s19 <= 15 holds, then f0 >= 0 previously held and was preceded by s0 >= 5 .
Between s14 = 5 and w20 = 11, it is always the case that if a21 > 2 holds and is succeeded by l1 <= 14, then x6 >= 10 eventually holds after l1 <= 14 .
After j21 <= 1 until p20 < 9, it is always the case that if p15 = 10 holds and is succeeded by r22 = 4, then z17 < 2 previously held.
Between x12 <= 11 and x17 >= 7, it is always the case that if e11 <= 12 holds, then o22 < 4 previously held.
Globally, it is always the case that if z12 = 14 holds and is succeeded by a7 = 6, then s19 >= 4 eventually holds after a7 = 6 .
After j4 <= 3, it is never the case that b2 > 1 holds.
Between p12 <= 13 and j22 <= 0, it is never the case that l22 > 15 holds.
Globally, it is never the case that v7 >= 15 holds.
After m2 > 3 until p6 <= 5, it is always the case that if k4 = 13 holds and is succeeded by j16 = 10, then h12 > 0 eventually holds after j16 = 10 .
Between z7 <= 10 and u4 > 2, it is never the case that i11 >= 10 holds.
After v19 >= 7 until n4 > 14, it is never the case that u21 <= 3 holds.
Between i19 > 10 and x22 > 10, it is always the case that if i6 = 3 holds, then u21 < 6 previously held.
Before v21 >= 8, it is always the case that if n10 < 5 holds, then s9 < 13 eventually holds and is succeeded by c3 <= 12, where l3 >= 5 does not hold between s9 < 13 and c3 <= 12 .
Between h11 <= 5 and v16 >= 0, it is always the case that if k0 <= 0 holds, then k3 <= 3 previously held.
Between v11 <= 7 and y4 < 11, it is always the case that if n24 > 7 holds and is succeeded by h20 >= 11, then b15 > 3 previously held.
After z0 <= 1, it is always the case that w19 > 14 holds.
Between w11 = 2 and x18 >= 10, it is always the case that if n1 <= 0 holds, then n10 <= 0 eventually holds and is succeeded by l11 > 2, where o3 >= 4 does not hold between n10 <= 0 and l11 > 2 .
After x6 >= 6, it is always the case that if r1 >= 5 holds, then u1 = 2 eventually holds and is succeeded by g16 < 3, where q4 < 14 does not hold between u1 = 2 and g16 < 3 .
Globally, it is always the case that j3 = 1 holds.
Between t0 > 3 and p1 < 11, it is always the case that k16 < 8 holds.
After n3 > 7 until a17 >= 11, it is always the case that if g24 = 13 holds and is succeeded by e24 > 4, then d20 <= 2 eventually holds after e24 > 4 .
Between n2 >= 9 and j14 <= 14, it is always the case that if a21 <= 15 holds, then q12 < 3 previously held.
Before c19 >= 5, it is always the case that if n4 <= 4 holds, then l2 >= 6 previously held.
Globally, it is always the case that if v14 <= 4 holds, then j10 <= 2 eventually holds and is succeeded by o2 = 8, where n18 <= 2 does not hold between j10 <= 2 and o2 = 8 .
Between z8 = 9 and h14 < 13, it is always the case that if z21 = 11 holds and is succeeded by t11 > 8, then y9 < 4 eventually holds after t11 > 8 .
After l17 <= 9, it is always the case that if w18 >= 5 holds and is succeeded by c8 < 6, then o20 >= 11 previously held.
Between p5 > 9 and z10 < 15, it is always the case that v19 > 4 holds.
Between j3 < 12 and e8 < 5, it is never the case that f21 = 2 holds.
After x23 >= 3, it is always the case that if e6 > 14 holds, then y4 >= 11 previously held.
Between i4 >= 7 and a18 > 14, it is always the case that if y4 < 7 holds and is succeeded by y9 > 2, then v11 < 1 eventually holds after y9 > 2 .
After h24 = 6 until d2 = 13, it is always the case that if a23 < 4 holds and is succeeded by q16 >= 7, then e0 = 7 eventually holds after q16 >= 7 .
Globally, it is always the case that if c7 < 2 holds, then y19 <= 3 eventually holds.
Before m15 > 9, it is always the case that if q1 >= 4 holds, then o23 < 10 previously held and was preceded by d1 <= 10 .
After c18 <= 12, m20 > 11 eventually holds.
Globally, o14 = 7 eventually holds.
Between w4 >= 11 and k5 <= 7, it is always the case that if x2 >= 4 holds, then v19 = 5 previously held and was preceded by j6 < 2 .
After x15 < 4 until p18 >= 14, it is always the case that if w6 >= 13 holds, then n16 >= 13 eventually holds and is succeeded by r0 > 0 .
Before n21 < 14, it is always the case that if k23 < 7 holds and is succeeded by s18 = 12, then q10 >= 10 previously held.
After k10 = 0 until b13 < 14, z17 > 11 eventually holds.
Globally, it is always the case that if p21 > 14 holds and is succeeded by d16 >= 0, then x3 <= 7 eventually holds after d16 >= 0 .
After w12 < 4, it is always the case that if c11 > 9 holds, then n12 <= 7 eventually holds and is succeeded by z13 <= 13 .
Before h4 >= 13, it is never the case that z11 >= 10 holds.
Before i9 > 0, it is always the case that if j3 >= 0 holds and is succeeded by m6 < 11, then c0 > 10 previously held.
Before u21 = 9, it is never the case that y1 = 5 holds.
After f16 = 15, it is never the case that d3 < 10 holds.
After q21 < 2 until g15 <= 2, it is always the case that if h8 <= 3 holds and is succeeded by i14 > 11, then t9 < 14 previously held.
After t14 < 9, it is always the case that if t14 < 5 holds, then q3 > 4 eventually holds.
Before w0 < 13, it is always the case that if b9 <= 4 holds, then p2 <= 7 eventually holds and is succeeded by u2 > 6 .
After f4 = 10, it is always the case that if g13 >= 4 holds and is succeeded by b20 > 15, then i24 < 9 eventually holds after b20 > 15 .
Between m5 < 5 and f22 >= 3, it is always the case that y19 > 9 holds.
After j5 = 4 until m9 >= 9, it is always the case that if m2 >= 8 holds, then z14 = 13 eventually holds.
Globally, it is always the case that m4 <= 2 holds.
Between i4 <= 3 and p6 < 1, h8 = 6 eventually holds.
After r17 < 2 until l18 <= 0, c13 > 1 eventually holds.
Globally, it is never the case that l19 > 6 holds.
Between q11 = 10 and v20 < 10, it is never the case that a1 >= 15 holds.
After r8 > 13 until c2 > 14, it is always the case that if m5 < 7 holds, then l16 < 13 eventually holds and is succeeded by v4 >= 5, where i20 >= 3 does not hold between l16 < 13 and v4 >= 5 .
Before m0 <= 10, it is always the case that if t14 <= 7 holds, then f18 = 8 previously held.
After h23 < 13 until j9 < 6, it is always the case that if l3 < 14 holds, then g20 < 8 eventually holds.
Before y18 <= 10, it is never the case that n10 <= 2 holds.
Between v4 < 12 and g21 >= 11, it is always the case that if p13 = 4 holds, then l12 > 12 eventually holds.
After p14 < 4 until z0 = 13, it is always the case that if q19 < 2 holds, then o21 < 10 eventually holds and is succeeded by q10 <= 11, where q0 >= 13 does not hold between o21 < 10 and q10 <= 11 .
After f11 = 3 until w1 <= 15, it is always the case that if m9 = 11 holds, then u18 < 1 eventually holds and is succeeded by l23 < 7, where l8 <= 1 does not hold between u18 < 1 and l23 < 7 .
After u22 > 6, it is always the case that if z6 = 4 holds, then t6 >= 5 eventually holds and is succeeded by o23 = 6, where u22 = 14 does not hold between t6 >= 5 and o23 = 6 .
Globally, it is always the case that if f6 = 11 holds, then q19 > 3 eventually holds and is succeeded by b5 <= 13, where a11 <= 9 does not hold between q19 > 3 and b5 <= 13 .
Between r8 < 10 and b23 = 3, it is always the case that if p20 < 2 holds, then a22 < 12 eventually holds and is succeeded by m21 = 10 .
Before f17 >= 0, it is always the case that if t3 <= 8 holds and is succeeded by a7 < 7, then v7 >= 5 eventually holds after a7 < 7 .
Globally, it is always the case that if f16 = 11 holds, then j3 = 1 eventually holds and is succeeded by k24 = 8 .
Before b17 > 8, it is always the case that c17 <= 11 holds.
Globally, it is always the case that if q8 >= 3 holds, then y21 <= 2 eventually holds and is succeeded by d5 < 12 .
After y7 = 4 until e11 < 4, it is never the case that p9 <= 9 holds.
After u15 >= 4, it is never the case that k0 < 9 holds.
After e15 >= 14 until o14 < 14, it is always the case that if z9 >= 9 holds, then v21 = 2 eventually holds and is succeeded by j4 >= 12, where a3 < 9 does not hold between v21 = 2 and j4 >= 12 .
After l20 >= 4 until o21 = 14, it is always the case that if z17 = 6 holds and is succeeded by g17 >= 5, then o5 <= 13 previously held.
After j18 >= 8 until j6 <= 11, it is always the case that if j7 <= 15 holds and is succeeded by z20 >= 8, then s11 >= 6 eventually holds after z20 >= 8 .
Globally, it is always the case that if n11 > 14 holds, then a4 = 4 previously held and was preceded by c1 = 0 .
Before t3 < 14, it is always the case that if f21 < 14 holds and is succeeded by r14 > 10, then r0 >= 9 eventually holds after r14 > 10 .
After p18 = 12, it is always the case that if d3 <= 5 holds, then k17 = 14 eventually holds and is succeeded by i21 <= 4, where s18 <= 8 does not hold between k17 = 14 and i21 <= 4 .
Before o1 = 0, o17 = 5 eventually holds.
Globally, it is always the case that if e2 <= 9 holds, then k6 <= 2 eventually holds and is succeeded by l22 = 0 .
After s11 >= 6 until v0 <= 13, it is always the case that i6 >= 12 holds.
After l1 < 13 until i3 < 11, h5 <= 14 eventually holds.
Before n9 >= 5, it is always the case that if a21 <= 15 holds, then x17 < 12 eventually holds and is succeeded by o18 = 10, where n2 > 8 does not hold between x17 < 12 and o18 = 10 .
After w8 = 6 until v19 <= 11, it is always the case that if f8 > 10 holds, then c9 < 14 previously held.
After y19 < 10 until u2 = 5, it is always the case that if k0 > 10 holds, then r22 <= 3 previously held.
After x22 > 2 until c9 > 5, it is always the case that if r9 >= 0 holds, then m9 >= 9 eventually holds and is succeeded by c20 < 7 .
Before v4 = 6, o6 <= 11 eventually holds.
Between i8 < 1 and c8 >= 15, it is always the case that if m6 = 3 holds, then z12 > 11 previously held.
Before h20 <= 9, it is always the case that if b4 >= 7 holds, then k11 > 0 previously held and was preceded by o18 >= 11 .
Before c13 < 10, it is always the case that if s0 < 12 holds, then q5 = 11 eventually holds.
Before r18 > 11, y7 < 12 eventually holds.
After w22 >= 13 until p19 = 3, it is always the case that if e23 < 5 holds and is succeeded by b21 >= 4, then j20 < 3 eventually holds after b21 >= 4 .
After d18 > 11 until y19 <= 4, it is always the case that if x23 >= 4 holds, then t13 <= 4 eventually holds and is succeeded by u12 = 13 .
Globally, it is always the case that if h16 <= 0 holds, then u13 = 4 previously held.
Between v3 <= 5 and r8 >= 14, it is always the case that if r11 > 9 holds, then s13 < 3 previously held.
After c6 <= 7, it is always the case that if p4 > 8 holds and is succeeded by e21 > 14, then y1 = 2 eventually holds after e21 > 14 .
After q14 > 9, it is always the case that if p13 <= 14 holds, then e4 >= 3 eventually holds and is succeeded by h2 > 2 .
Globally, it is always the case that if f21 >= 14 holds, then b0 > 4 eventually holds and is succeeded by p10 >= 2, where y10 < 3 does not hold between b0 > 4 and p10 >= 2 .
Between n13 < 0 and z4 < 5, it is always the case that if s6 <= 0 holds, then h8 >= 9 previously held.
After g4 >= 8, it is always the case that if j22 < 3 holds, then k14 < 8 eventually holds and is succeeded by n2 < 7 .
Globally, it is always the case that p21 > 4 holds.
After r3 <= 14, it is always the case that n3 >= 11 holds.
After f3 = 9, it is always the case that if a18 <= 5 holds, then n7 >= 7 previously held.
Before n10 >= 11, it is always the case that if z10 > 13 holds, then z22 >= 9 eventually holds and is succeeded by u22 = 7, where c13 < 2 does not hold between z22 >= 9 and u22 = 7 .
After u3 >= 1 until u16 = 0, it is always the case that if j21 < 14 holds, then f10 > 10 previously held and was preceded by g7 < 10 .
Between w20 >= 1 and p6 <= 11, it is always the case that if q16 <= 0 holds and is succeeded by z12 >= 12, then w2 < 11 eventually holds after z12 >= 12 .
Between l4 = 5 and m13 < 2, it is never the case that v16 > 9 holds.
Between w23 >= 14 and s14 >= 11, it is always the case that if i20 = 1 holds, then j22 < 0 previously held.
After b6 = 15 until l3 < 12, it is always the case that if z21 = 10 holds, then p11 < 7 eventually holds.
Before l22 >= 11, it is always the case that if e16 > 2 holds, then x4 < 9 previously held.
Between b17 < 3 and b16 > 11, it is always the case that if l13 >= 4 holds, then u9 = 14 previously held and was preceded by x23 < 5 .
Globally, it is always the case that s14 < 11 holds.
Before n5 <= 11, it is never the case that r0 > 7 holds.
After c21 >= 9 until k17 > 4, it is always the case that if q19 < 7 holds, then e16 > 7 eventually holds and is succeeded by s5 = 13 .
Globally, it is always the case that if z4 = 8 holds, then e18 < 11 eventually holds.
Between n16 <= 0 and f6 < 12, it is never the case that v19 <= 0 holds.
Between g5 <= 8 and y8 > 15, it is never the case that q11 < 12 holds.
After w10 > 4 until n21 > 0, q10 >= 15 eventually holds.
Before l0 <= 5, it is always the case that m20 = 14 holds.
