After d0 < 2 until d0 > 0, it is always the case that if c0 = 0 holds, then d0 >= 3 previously held and was preceded by d0 > 0 .
Before b0 >= 3, it is always the case that if d0 = 1 holds, then c0 <= 0 eventually holds and is succeeded by b0 <= 3 .
Before c0 <= 0, it is always the case that if a0 >= 2 holds, then c0 <= 1 previously held.
After d0 <= 2 until b0 >= 2, it is always the case that if b0 >= 1 holds, then a0 <= 0 eventually holds and is succeeded by b0 > 1 .
Before c0 >= 1, it is always the case that if c0 < 1 holds and is succeeded by d0 < 1, then b0 <= 3 eventually holds after d0 < 1 .
After b0 >= 1 until c0 < 1, it is always the case that c0 > 1 holds.
After c0 < 0 until c0 >= 2, it is always the case that if d0 < 3 holds, then a0 <= 3 previously held.
After a0 <= 1 until b0 = 0, it is always the case that d0 < 1 holds.
Between a0 < 3 and c0 < 2, it is always the case that if b0 <= 1 holds, then b0 > 2 previously held and was preceded by b0 > 1 .
After a0 >= 3 until c0 < 2, it is always the case that if a0 <= 0 holds and is succeeded by c0 > 0, then d0 < 3 previously held.
After d0 > 0, it is always the case that if d0 = 1 holds, then b0 = 2 eventually holds.
After c0 <= 2 until b0 = 1, it is always the case that if a0 > 1 holds, then c0 < 1 eventually holds.
Before b0 <= 2, it is always the case that if c0 <= 3 holds and is succeeded by b0 < 2, then d0 <= 0 eventually holds after b0 < 2 .
Globally, it is always the case that if d0 > 1 holds, then d0 >= 1 eventually holds.
After b0 = 3 until b0 >= 1, it is always the case that if b0 <= 0 holds and is succeeded by a0 < 2, then c0 >= 3 eventually holds after a0 < 2 .
Before b0 = 0, it is never the case that b0 >= 3 holds.
Between c0 >= 1 and c0 < 2, it is always the case that if c0 <= 3 holds, then d0 < 0 previously held and was preceded by c0 = 3 .
After a0 > 1 until b0 = 1, it is always the case that if d0 > 0 holds, then a0 >= 0 eventually holds and is succeeded by d0 >= 0, where a0 < 2 does not hold between a0 >= 0 and d0 >= 0 .
Before d0 = 1, it is never the case that b0 > 0 holds.
After d0 < 3 until c0 >= 0, it is always the case that if d0 < 2 holds, then a0 <= 2 previously held.
Globally, it is always the case that if a0 < 2 holds, then d0 >= 1 eventually holds and is succeeded by b0 = 0, where a0 <= 0 does not hold between d0 >= 1 and b0 = 0 .
Between d0 > 2 and d0 <= 1, it is never the case that c0 >= 1 holds.
Between b0 <= 3 and c0 <= 1, it is always the case that if a0 >= 0 holds and is succeeded by b0 > 3, then b0 < 2 eventually holds after b0 > 3 .
Before d0 = 0, it is always the case that if d0 > 1 holds and is succeeded by c0 < 3, then a0 = 0 eventually holds after c0 < 3 .
Globally, it is always the case that if b0 = 1 holds, then b0 = 1 eventually holds and is succeeded by b0 = 3, where b0 >= 3 does not hold between b0 = 1 and b0 = 3 .
After a0 >= 3 until d0 < 0, it is always the case that c0 < 0 holds.
Globally, it is always the case that if d0 <= 1 holds, then b0 < 1 previously held and was preceded by b0 <= 0 .
Globally, it is always the case that if b0 < 0 holds, then a0 > 1 previously held.
Before a0 >= 0, it is always the case that if b0 <= 0 holds, then c0 >= 3 previously held.
Between b0 <= 1 and a0 <= 2, it is always the case that if a0 < 1 holds and is succeeded by d0 = 3, then c0 <= 3 previously held.
After c0 <= 0, it is always the case that if d0 <= 0 holds, then a0 <= 1 previously held.
After a0 = 1, it is always the case that if b0 = 3 holds and is succeeded by c0 >= 1, then c0 = 3 previously held.
Between c0 = 2 and a0 < 3, it is never the case that c0 > 2 holds.
After a0 = 0, it is always the case that if d0 = 3 holds, then b0 > 0 eventually holds and is succeeded by d0 < 2 .
Between a0 > 2 and d0 = 1, it is always the case that if d0 > 3 holds, then c0 < 0 eventually holds and is succeeded by d0 > 2, where b0 < 2 does not hold between c0 < 0 and d0 > 2 .
After c0 >= 2, it is always the case that if d0 < 1 holds, then c0 <= 0 eventually holds.
Globally, it is always the case that if d0 > 1 holds and is succeeded by b0 = 3, then b0 = 0 eventually holds after b0 = 3 .
Before a0 = 1, it is always the case that if c0 < 3 holds, then b0 > 0 eventually holds and is succeeded by a0 >= 3, where a0 < 3 does not hold between b0 > 0 and a0 >= 3 .
After b0 < 0 until c0 <= 0, it is always the case that if d0 > 3 holds, then a0 <= 2 eventually holds and is succeeded by a0 = 2 .
After c0 < 2, it is always the case that if b0 < 1 holds and is succeeded by b0 = 3, then c0 < 1 eventually holds after b0 = 3 .
Globally, it is always the case that if d0 >= 3 holds, then d0 <= 2 previously held.
Globally, it is always the case that b0 < 2 holds.
After c0 > 0 until c0 < 3, it is always the case that if b0 <= 0 holds, then c0 = 0 previously held.
Between a0 >= 0 and a0 > 2, it is always the case that if c0 <= 0 holds and is succeeded by b0 > 1, then b0 < 3 eventually holds after b0 > 1 .
After b0 <= 2, it is always the case that if c0 > 3 holds, then a0 < 3 eventually holds and is succeeded by c0 = 3 .
Globally, it is always the case that if d0 <= 3 holds and is succeeded by c0 = 1, then b0 = 3 previously held.
Globally, it is always the case that if c0 = 3 holds, then d0 = 0 previously held.
Between a0 <= 0 and b0 = 0, d0 > 2 eventually holds.
After b0 <= 0, it is always the case that if a0 > 0 holds, then a0 = 1 previously held and was preceded by d0 < 3 .
After d0 > 0, it is never the case that a0 >= 2 holds.
Before d0 >= 2, it is always the case that if c0 > 0 holds and is succeeded by c0 = 3, then d0 <= 1 eventually holds after c0 = 3 .
Before d0 > 3, it is always the case that if b0 <= 3 holds, then a0 <= 3 previously held and was preceded by a0 < 2 .
Between a0 <= 2 and c0 = 3, it is always the case that if d0 > 0 holds, then c0 < 2 eventually holds and is succeeded by c0 < 3 .
After b0 >= 3, b0 = 1 eventually holds.
Globally, it is never the case that d0 < 2 holds.
Globally, it is always the case that if b0 >= 0 holds and is succeeded by d0 <= 1, then b0 = 0 previously held.
Globally, it is always the case that if c0 <= 0 holds, then d0 >= 3 previously held.
Between b0 > 1 and c0 <= 0, it is always the case that if d0 > 0 holds, then b0 >= 0 previously held and was preceded by a0 <= 3 .
Globally, it is always the case that b0 > 2 holds.
Globally, it is always the case that d0 = 2 holds.
