After f0 >= 1 until e0 < 0, it is always the case that if h0 = 0 holds, then g0 = 1 eventually holds and is succeeded by m0 = 0, where h0 > 1 does not hold between g0 = 1 and m0 = 0 .
Between m0 < 0 and f0 > 1, it is always the case that o0 >= 0 holds.
After o0 > 0, it is always the case that if k0 = 0 holds, then f0 >= 1 previously held and was preceded by i0 <= 1 .
After k0 >= 0, it is never the case that l0 <= 0 holds.
Globally, it is always the case that a0 = 1 holds.
Globally, it is always the case that if k0 <= 1 holds and is succeeded by j0 > 0, then h0 < 0 previously held.
Between n0 > 1 and l0 > 1, it is always the case that if j0 < 0 holds and is succeeded by k0 <= 1, then b0 > 1 previously held.
Globally, it is always the case that g0 <= 1 holds.
Globally, d0 = 0 eventually holds.
Before d0 < 1, it is never the case that k0 > 1 holds.
Globally, it is never the case that d0 < 1 holds.
After j0 = 1, it is never the case that g0 < 1 holds.
Globally, it is always the case that if f0 = 1 holds and is succeeded by o0 >= 0, then i0 = 1 eventually holds after o0 >= 0 .
After a0 < 1 until l0 > 1, c0 > 1 eventually holds.
Between o0 < 0 and i0 <= 0, it is always the case that if k0 <= 0 holds, then l0 >= 0 eventually holds.
After h0 <= 0, it is always the case that if b0 > 1 holds, then h0 > 0 eventually holds.
