After f24 <= 2 until h21 = 14, it is always the case that n22 > 6 holds.
Before h8 < 15, it is always the case that if r10 = 4 holds, then y20 >= 8 eventually holds and is succeeded by g21 <= 8 .
Between n20 >= 2 and a19 <= 1, it is always the case that if e10 <= 9 holds, then y17 < 13 previously held.
After v8 >= 11 until j2 >= 0, it is always the case that o4 <= 14 holds.
After v9 <= 12, it is never the case that i22 <= 12 holds.
Before f22 < 7, it is always the case that if t20 < 4 holds, then x7 > 15 eventually holds and is succeeded by p6 <= 14, where v15 = 4 does not hold between x7 > 15 and p6 <= 14 .
Before r23 > 12, it is always the case that if n18 <= 5 holds, then e9 = 4 eventually holds.
Globally, it is always the case that if a19 < 6 holds, then g11 < 2 eventually holds.
Before y20 <= 9, it is never the case that w16 >= 10 holds.
Before n24 < 13, it is always the case that if r6 <= 6 holds, then b18 <= 3 previously held and was preceded by k7 >= 3 .
After t6 > 1, it is always the case that if g19 > 4 holds, then n23 > 5 eventually holds.
Between e22 >= 11 and e14 = 1, it is always the case that if i10 > 11 holds, then r18 > 14 eventually holds and is succeeded by y21 <= 2 .
After r13 < 4 until m12 >= 12, it is always the case that if d5 < 6 holds and is succeeded by d10 < 7, then f5 > 8 eventually holds after d10 < 7 .
Before z15 < 10, it is always the case that if m13 = 15 holds, then o0 = 12 eventually holds.
Before b11 = 11, it is never the case that m4 < 8 holds.
After h4 > 9 until w4 >= 5, it is always the case that l6 > 12 holds.
Between z9 <= 5 and n3 <= 7, it is always the case that if e2 <= 13 holds, then w11 < 1 eventually holds and is succeeded by g4 = 10, where m3 < 3 does not hold between w11 < 1 and g4 = 10 .
After s6 < 9, it is always the case that f2 >= 12 holds.
Between h8 = 10 and c15 <= 14, it is always the case that w17 = 9 holds.
Before c13 <= 15, it is always the case that if n18 <= 3 holds, then n17 >= 9 previously held.
Before o5 < 9, it is always the case that if v19 < 5 holds, then d9 > 13 previously held.
Between g0 <= 15 and l22 <= 2, it is always the case that if r20 = 13 holds and is succeeded by q5 >= 15, then j6 > 4 previously held.
After c10 < 14, i15 > 11 eventually holds.
Before a3 < 7, it is always the case that if p21 > 3 holds, then u4 = 11 previously held.
Globally, t10 > 13 eventually holds.
After c9 < 9 until y14 >= 3, it is always the case that if t10 = 3 holds and is succeeded by w7 >= 11, then v21 <= 13 eventually holds after w7 >= 11 .
After f21 < 8, it is always the case that if e13 > 9 holds, then e14 > 4 eventually holds and is succeeded by u23 = 2 .
After t21 < 11 until h13 < 4, it is always the case that i20 <= 7 holds.
Before t11 = 8, it is always the case that if v7 = 5 holds and is succeeded by a11 < 15, then f22 > 2 eventually holds after a11 < 15 .
Between l1 = 11 and r20 > 8, it is always the case that if m11 < 4 holds, then z0 <= 7 eventually holds and is succeeded by b20 <= 8 .
Before a10 < 13, it is always the case that x3 <= 8 holds.
Globally, it is always the case that if x17 > 15 holds, then t7 >= 6 previously held and was preceded by p8 <= 1 .
After s4 < 7 until z11 < 5, it is always the case that if v14 <= 4 holds, then n0 < 4 previously held and was preceded by t7 >= 3 .
After i7 = 3, it is always the case that j13 < 2 holds.
After b21 < 0 until g16 = 0, it is always the case that if g24 < 8 holds, then x19 > 1 eventually holds and is succeeded by i18 <= 3 .
Before m16 > 13, it is always the case that if k3 = 10 holds, then x10 < 11 eventually holds and is succeeded by o23 < 9, where x21 < 13 does not hold between x10 < 11 and o23 < 9 .
After h3 > 0, it is always the case that if x0 = 0 holds, then w23 < 13 eventually holds.
After o17 < 11, it is always the case that if d23 = 10 holds, then g1 <= 8 eventually holds and is succeeded by x18 < 3 .
After i17 < 2 until f4 <= 7, it is never the case that z18 >= 11 holds.
Before d12 > 12, it is always the case that if y8 > 5 holds and is succeeded by o9 < 7, then t12 <= 2 previously held.
Before d0 <= 10, it is always the case that if f18 > 9 holds, then i16 > 7 previously held.
Before x15 = 3, v3 >= 10 eventually holds.
After l15 <= 14 until t2 >= 9, it is always the case that if i4 >= 1 holds, then n10 <= 9 eventually holds and is succeeded by w1 = 2, where z11 < 0 does not hold between n10 <= 9 and w1 = 2 .
After p21 > 13 until t18 >= 10, it is always the case that if m11 > 0 holds, then o15 < 11 previously held and was preceded by r14 >= 13 .
Globally, it is always the case that if n20 > 3 holds, then a8 < 9 eventually holds and is succeeded by j1 < 5 .
After m23 < 4 until u19 < 4, it is never the case that h20 < 5 holds.
Between p10 > 11 and h22 < 9, it is always the case that if g23 <= 7 holds, then q19 <= 11 previously held.
Before e3 <= 12, it is always the case that if g3 = 10 holds and is succeeded by g0 = 11, then g11 <= 1 eventually holds after g0 = 11 .
Before r7 <= 5, it is always the case that if u8 >= 5 holds, then a20 < 6 eventually holds and is succeeded by d3 >= 2, where c4 = 15 does not hold between a20 < 6 and d3 >= 2 .
Before o11 = 1, it is always the case that if l1 > 14 holds, then v9 = 13 eventually holds.
Between y18 > 3 and r1 >= 7, it is always the case that if i19 >= 7 holds, then y0 = 5 eventually holds.
After n21 <= 5, it is always the case that r17 <= 8 holds.
Between h4 < 0 and x4 = 15, it is always the case that if w7 < 15 holds, then j15 <= 13 previously held and was preceded by q4 > 15 .
Before i14 > 1, it is never the case that p17 <= 4 holds.
Before x7 > 6, it is always the case that if s1 >= 15 holds, then k17 > 4 eventually holds.
Globally, it is always the case that if t10 > 2 holds, then x13 = 1 eventually holds.
Globally, it is always the case that if l17 > 14 holds, then m10 >= 11 previously held.
Between h17 > 8 and l4 >= 0, it is always the case that if t6 >= 13 holds, then o17 <= 6 previously held and was preceded by p18 = 15 .
After k7 >= 2, it is always the case that e20 < 10 holds.
Between s2 > 0 and j13 > 0, it is never the case that u15 <= 7 holds.
After n8 < 12 until r9 > 5, it is always the case that if v14 >= 1 holds and is succeeded by u22 >= 14, then t10 >= 9 eventually holds after u22 >= 14 .
After z15 < 10, it is always the case that a5 >= 4 holds.
After z3 > 7 until w17 < 13, it is never the case that z10 > 7 holds.
After t11 <= 8, it is never the case that q22 < 8 holds.
Between d23 < 12 and t22 > 13, it is always the case that l7 >= 10 holds.
Before x23 > 11, it is always the case that b17 = 12 holds.
After d19 <= 12, it is always the case that p14 >= 6 holds.
Globally, v20 < 12 eventually holds.
Globally, it is always the case that if u20 >= 6 holds and is succeeded by c24 <= 5, then y18 <= 8 previously held.
After f21 > 12, it is always the case that if x3 < 13 holds, then w13 > 14 previously held and was preceded by a8 > 4 .
Globally, it is always the case that if a20 = 9 holds, then z8 >= 10 eventually holds.
After e23 < 6 until y21 < 5, it is always the case that r19 < 3 holds.
Between y2 = 11 and f19 = 0, it is always the case that if h15 = 12 holds, then n18 <= 8 eventually holds and is succeeded by g6 = 7, where d7 >= 10 does not hold between n18 <= 8 and g6 = 7 .
Globally, it is always the case that if x22 > 11 holds, then l9 >= 8 eventually holds and is succeeded by t6 > 14, where i13 >= 7 does not hold between l9 >= 8 and t6 > 14 .
After e14 < 7 until k19 < 0, it is always the case that if r2 = 2 holds, then d20 < 7 previously held.
After z8 > 7 until f0 < 14, it is always the case that if p22 > 2 holds and is succeeded by m23 = 4, then p15 < 11 previously held.
After m16 < 11 until r8 = 0, it is always the case that if r21 = 14 holds, then w14 >= 13 eventually holds.
Between w8 = 6 and f12 > 5, l0 >= 13 eventually holds.
Before a23 > 15, it is always the case that if b7 = 15 holds, then b14 = 1 eventually holds.
Before r16 < 3, it is always the case that if u1 >= 9 holds, then d1 < 11 eventually holds and is succeeded by a12 <= 6 .
Globally, it is always the case that c17 = 3 holds.
After m10 < 11, it is always the case that o6 <= 13 holds.
After c21 >= 10, it is always the case that if n10 >= 8 holds, then a21 <= 12 eventually holds and is succeeded by h0 > 0, where q16 > 2 does not hold between a21 <= 12 and h0 > 0 .
After b8 >= 7, it is always the case that if g15 < 2 holds and is succeeded by w13 <= 12, then m2 > 8 previously held.
Before i11 > 11, it is always the case that if r0 <= 10 holds, then r18 <= 6 eventually holds.
Globally, it is always the case that if c8 <= 7 holds, then f6 < 8 previously held and was preceded by g1 < 14 .
Globally, it is always the case that if s10 = 0 holds, then l24 = 6 previously held and was preceded by y2 < 8 .
After n6 > 11, it is always the case that if i15 > 0 holds and is succeeded by f9 >= 1, then t22 > 13 previously held.
After r9 <= 13, it is always the case that if m8 >= 0 holds and is succeeded by k16 = 0, then q5 >= 0 previously held.
Before e8 > 6, i19 > 12 eventually holds.
Before r20 >= 14, it is always the case that if y10 > 2 holds, then p5 = 11 previously held.
Before l22 <= 3, it is always the case that if d11 > 11 holds, then t6 >= 14 eventually holds and is succeeded by z19 < 15 .
After i6 > 0 until g13 > 6, it is always the case that if k4 <= 13 holds and is succeeded by z10 > 2, then y22 = 0 eventually holds after z10 > 2 .
Before i24 >= 1, it is always the case that u5 >= 12 holds.
Globally, it is always the case that if s11 > 5 holds and is succeeded by n15 >= 9, then l17 <= 7 previously held.
Between d1 > 15 and k3 >= 3, j19 = 4 eventually holds.
Before y7 >= 13, it is always the case that if i23 >= 11 holds, then e2 < 1 eventually holds and is succeeded by e16 < 12 .
Before o22 >= 0, it is always the case that a7 <= 7 holds.
After a12 < 11 until g18 > 2, it is always the case that if y0 >= 12 holds, then v21 <= 3 eventually holds and is succeeded by k13 = 15 .
After n2 > 9, n0 = 1 eventually holds.
Between r1 = 8 and k3 <= 7, it is always the case that if u21 <= 9 holds, then i3 < 4 previously held and was preceded by f10 = 0 .
After k24 >= 3, it is always the case that if r5 = 6 holds, then m24 < 14 eventually holds.
After z18 <= 9, it is always the case that if d21 >= 1 holds and is succeeded by k12 > 14, then k5 <= 8 previously held.
Between e8 < 9 and v3 >= 2, it is always the case that if c4 = 0 holds, then p9 > 10 previously held.
Between l18 < 8 and c15 = 13, it is always the case that if r19 > 1 holds, then v20 <= 5 previously held.
After r18 = 14, it is always the case that if c11 <= 9 holds, then c12 >= 4 previously held.
Between u11 > 6 and b17 > 15, it is always the case that if i5 < 10 holds, then v5 = 9 previously held and was preceded by v2 > 14 .
After q21 > 3 until o17 = 10, it is always the case that o16 <= 5 holds.
After a19 >= 2, it is always the case that if i11 <= 6 holds, then s20 = 12 previously held.
After s4 >= 0, it is always the case that if c19 > 10 holds, then w21 = 0 previously held.
Globally, it is always the case that if r7 < 8 holds, then e8 = 4 eventually holds and is succeeded by s2 = 7 .
After w1 >= 3, it is never the case that b21 = 13 holds.
After s19 = 14 until p4 < 0, it is always the case that if h12 > 5 holds and is succeeded by s1 <= 4, then t7 = 2 previously held.
Before p0 > 3, it is always the case that if j15 = 15 holds, then w7 = 3 eventually holds and is succeeded by l12 >= 0, where p20 = 6 does not hold between w7 = 3 and l12 >= 0 .
After w7 > 5 until g9 < 12, it is always the case that if q4 <= 1 holds and is succeeded by k4 > 10, then d7 >= 14 previously held.
After y17 >= 4, it is always the case that if s15 >= 1 holds, then l16 >= 9 previously held.
After d20 < 7, it is never the case that v20 < 1 holds.
Before v5 > 12, it is always the case that if o1 = 8 holds and is succeeded by p15 <= 6, then w18 < 7 previously held.
Globally, it is always the case that if j19 >= 8 holds, then m1 = 5 eventually holds and is succeeded by i7 >= 7, where e13 = 9 does not hold between m1 = 5 and i7 >= 7 .
After a14 > 5 until a24 > 15, it is always the case that if n21 >= 14 holds, then a12 >= 8 eventually holds and is succeeded by z3 > 0, where k8 > 12 does not hold between a12 >= 8 and z3 > 0 .
After u8 = 4, s11 > 0 eventually holds.
Between p21 <= 11 and r19 <= 1, it is always the case that z19 >= 13 holds.
Before x21 = 1, it is always the case that if r20 <= 10 holds and is succeeded by x20 <= 9, then q12 > 14 eventually holds after x20 <= 9 .
Between q18 > 8 and w12 <= 12, it is always the case that if h12 < 13 holds, then r1 >= 5 eventually holds.
Globally, it is always the case that if w9 <= 11 holds, then t18 >= 0 previously held and was preceded by b7 = 9 .
Globally, it is always the case that if a21 <= 1 holds, then w9 <= 2 previously held.
Globally, it is always the case that if k4 <= 15 holds, then v22 > 2 eventually holds.
Globally, it is never the case that g8 <= 13 holds.
After v14 = 9, it is always the case that if s16 <= 2 holds, then i1 < 6 eventually holds.
Between r6 <= 1 and q11 = 0, v16 = 15 eventually holds.
Before y9 = 6, it is always the case that q16 < 13 holds.
After y2 < 1 until c13 < 8, it is always the case that if v14 <= 5 holds and is succeeded by i1 = 8, then o24 > 10 eventually holds after i1 = 8 .
After g18 <= 5 until j11 > 5, it is always the case that if b10 < 7 holds, then x21 > 7 eventually holds and is succeeded by b20 <= 2, where u11 >= 7 does not hold between x21 > 7 and b20 <= 2 .
Globally, it is always the case that if d23 = 3 holds, then f2 > 6 eventually holds and is succeeded by c2 > 1 .
After g18 >= 10, it is always the case that if x9 > 14 holds, then w13 = 4 eventually holds.
After e4 > 3, it is always the case that if m15 = 2 holds, then v13 >= 5 previously held and was preceded by r14 < 13 .
After n12 = 6 until n1 > 13, it is always the case that if i3 < 0 holds, then n3 < 3 eventually holds and is succeeded by m10 < 2, where w16 > 15 does not hold between n3 < 3 and m10 < 2 .
After m20 < 1, it is always the case that if y18 >= 0 holds, then g11 < 14 eventually holds.
Before d9 > 12, it is always the case that if h1 < 6 holds and is succeeded by b21 <= 2, then l5 >= 9 previously held.
Globally, it is always the case that if l1 > 14 holds and is succeeded by w10 <= 14, then v20 > 3 previously held.
After x16 = 2, it is always the case that if u7 = 11 holds, then f10 > 0 previously held.
Between x7 >= 6 and x3 > 1, it is always the case that if f16 >= 10 holds and is succeeded by z2 <= 12, then k0 <= 10 previously held.
After k14 >= 12, it is always the case that if t19 < 7 holds, then r15 > 5 previously held and was preceded by l10 <= 7 .
After v12 <= 15 until w13 = 1, it is never the case that p3 > 14 holds.
After k5 = 6 until p3 < 2, it is always the case that d1 < 9 holds.
Before l7 < 8, it is always the case that if i24 = 3 holds, then u22 <= 8 eventually holds and is succeeded by e0 = 3 .
After k17 = 14, it is always the case that if m4 > 15 holds, then l4 > 5 previously held.
Globally, it is never the case that x16 > 6 holds.
After w16 >= 9, it is always the case that if i9 >= 4 holds and is succeeded by o9 <= 10, then y4 >= 6 eventually holds after o9 <= 10 .
Globally, it is always the case that m1 < 13 holds.
After l23 > 14 until o22 >= 10, it is always the case that if w9 <= 10 holds and is succeeded by p14 > 9, then s23 < 11 eventually holds after p14 > 9 .
After t4 = 3, c6 > 15 eventually holds.
Globally, it is always the case that if y5 >= 0 holds and is succeeded by w3 <= 15, then z18 < 1 previously held.
Globally, it is always the case that if n8 <= 3 holds, then e3 <= 7 eventually holds.
Before z2 = 10, it is always the case that if d17 <= 12 holds and is succeeded by t22 <= 11, then o21 > 7 previously held.
Globally, it is always the case that if o16 > 7 holds, then k19 > 8 previously held and was preceded by q23 < 15 .
After g6 <= 13, it is always the case that g15 = 15 holds.
Between h14 >= 7 and a7 <= 0, it is always the case that if d17 < 6 holds, then u16 >= 2 previously held.
After w8 = 15 until c8 > 10, it is always the case that if q13 < 8 holds, then m12 = 7 previously held.
Globally, it is never the case that c5 > 8 holds.
After d17 < 8, it is always the case that if z9 <= 2 holds, then u18 >= 9 eventually holds and is succeeded by g9 >= 13, where c12 > 4 does not hold between u18 >= 9 and g9 >= 13 .
Between v4 < 7 and m13 >= 8, it is always the case that if w21 < 9 holds, then g14 <= 6 previously held and was preceded by a7 < 2 .
Globally, it is always the case that if d5 > 2 holds, then f4 = 14 eventually holds and is succeeded by h1 >= 8 .
After z15 > 13 until r3 >= 5, it is always the case that if s6 > 7 holds, then f19 >= 6 previously held and was preceded by r10 < 3 .
Before t5 >= 15, it is always the case that if h20 <= 9 holds, then u5 >= 15 previously held.
Globally, it is always the case that if i11 <= 7 holds and is succeeded by m16 < 1, then u4 <= 0 eventually holds after m16 < 1 .
After d0 <= 7, it is always the case that if w8 = 5 holds, then f0 = 10 eventually holds and is succeeded by a24 <= 10, where m11 < 4 does not hold between f0 = 10 and a24 <= 10 .
Globally, it is never the case that v20 > 3 holds.
After x22 >= 4, it is always the case that if q15 >= 8 holds, then q17 > 1 previously held.
Before c6 >= 6, x11 < 7 eventually holds.
Before g24 >= 2, it is always the case that if o2 <= 13 holds, then v17 < 6 eventually holds.
Before e13 > 13, it is always the case that if f14 = 3 holds and is succeeded by s5 <= 15, then e8 < 15 previously held.
After n16 = 2, it is always the case that if t7 < 2 holds, then p10 = 9 eventually holds and is succeeded by m1 > 8, where n0 < 15 does not hold between p10 = 9 and m1 > 8 .
Between i8 <= 4 and l4 >= 4, it is always the case that if r8 > 14 holds, then u20 <= 15 eventually holds and is succeeded by n23 = 7, where g5 <= 2 does not hold between u20 <= 15 and n23 = 7 .
Between o22 < 15 and e18 > 9, it is always the case that if g17 = 2 holds, then h7 > 11 eventually holds and is succeeded by t21 < 13 .
Globally, it is always the case that if y0 > 10 holds and is succeeded by l18 > 0, then e2 > 10 eventually holds after l18 > 0 .
Between a1 > 0 and e4 <= 13, it is never the case that o7 > 0 holds.
Between j8 > 9 and s2 > 4, it is always the case that e22 < 3 holds.
After c10 <= 9, u8 < 5 eventually holds.
Before e4 = 8, it is always the case that if x4 < 2 holds, then f21 = 12 eventually holds and is succeeded by n10 <= 2, where f21 <= 13 does not hold between f21 = 12 and n10 <= 2 .
Globally, it is always the case that if x15 < 4 holds, then u7 = 12 eventually holds and is succeeded by k8 = 15, where t21 > 5 does not hold between u7 = 12 and k8 = 15 .
Before o22 >= 10, it is always the case that if k9 = 10 holds, then f21 >= 15 previously held.
Before h5 > 14, it is always the case that if k0 <= 9 holds, then y17 > 0 eventually holds and is succeeded by e13 <= 7, where j2 = 5 does not hold between y17 > 0 and e13 <= 7 .
After l21 >= 12 until o20 = 12, it is never the case that g19 >= 2 holds.
Between k22 >= 10 and o14 > 5, it is always the case that if e7 >= 5 holds and is succeeded by a23 <= 3, then j0 = 3 eventually holds after a23 <= 3 .
Globally, l24 <= 6 eventually holds.
Globally, it is always the case that if r18 > 9 holds, then p11 < 2 eventually holds.
Globally, it is always the case that if z23 = 1 holds, then t3 <= 12 previously held.
Between j14 > 6 and j21 >= 10, it is always the case that if e16 = 1 holds, then l15 < 11 eventually holds and is succeeded by g21 > 8, where v5 < 2 does not hold between l15 < 11 and g21 > 8 .
After a16 < 2 until x23 < 2, it is always the case that if m18 = 13 holds, then q17 >= 3 previously held.
Between c20 = 11 and o17 >= 15, it is always the case that if y18 >= 13 holds, then h23 < 6 previously held.
After a12 = 9 until h15 <= 15, it is never the case that d24 <= 11 holds.
After f18 > 11 until u5 < 9, it is always the case that if b10 >= 10 holds and is succeeded by w1 < 11, then l24 <= 5 eventually holds after w1 < 11 .
Globally, it is always the case that if p18 >= 8 holds and is succeeded by f11 <= 10, then h14 > 9 eventually holds after f11 <= 10 .
Between s10 < 2 and e14 = 7, it is always the case that y0 >= 8 holds.
Between v19 = 8 and n18 >= 4, it is always the case that if v21 < 10 holds, then g4 = 10 eventually holds and is succeeded by t3 >= 13, where m13 = 2 does not hold between g4 = 10 and t3 >= 13 .
After s15 = 8, it is never the case that w16 = 3 holds.
Globally, it is always the case that if c20 > 9 holds and is succeeded by b21 <= 5, then c8 > 15 eventually holds after b21 <= 5 .
Before s6 >= 6, it is always the case that if v22 < 10 holds, then z12 > 14 previously held.
Between k9 > 13 and y7 < 0, it is always the case that if j19 >= 9 holds, then c18 > 5 eventually holds and is succeeded by r18 > 12, where s22 < 11 does not hold between c18 > 5 and r18 > 12 .
Between i19 < 14 and g8 < 9, it is always the case that if g23 > 10 holds, then z9 < 6 eventually holds and is succeeded by a16 > 1 .
Before t8 = 4, it is always the case that if c24 < 7 holds, then g6 <= 0 eventually holds.
After y18 > 1 until s4 >= 5, it is always the case that if n14 = 4 holds, then e16 <= 9 eventually holds and is succeeded by p20 <= 7, where n24 < 12 does not hold between e16 <= 9 and p20 <= 7 .
Between n16 <= 12 and u13 < 6, it is always the case that if z3 < 5 holds and is succeeded by c16 >= 10, then h13 >= 6 previously held.
Globally, it is never the case that h21 > 3 holds.
Between g24 > 1 and s22 <= 1, it is never the case that d6 <= 13 holds.
Between i11 < 2 and p2 < 3, it is always the case that if r4 = 12 holds, then c18 >= 6 previously held.
After j22 = 11, it is always the case that if f20 > 5 holds and is succeeded by b17 <= 4, then g20 = 8 eventually holds after b17 <= 4 .
Before r14 >= 9, it is always the case that if j17 = 6 holds, then o23 < 1 eventually holds.
After m6 >= 0, it is always the case that if b14 <= 12 holds, then t1 > 3 eventually holds and is succeeded by s5 > 6, where n12 > 10 does not hold between t1 > 3 and s5 > 6 .
Between t9 > 1 and q11 < 5, p14 > 2 eventually holds.
After e16 > 6, it is never the case that y12 < 13 holds.
After e4 > 11 until l13 >= 11, it is always the case that if q1 < 9 holds and is succeeded by w23 < 1, then p8 >= 4 eventually holds after w23 < 1 .
After w17 >= 11, e13 <= 12 eventually holds.
After o17 >= 13 until x2 >= 1, it is always the case that if b1 = 4 holds, then w8 >= 12 previously held.
After w9 > 8 until b4 < 5, it is always the case that if y17 = 15 holds, then f7 <= 6 previously held and was preceded by w14 > 9 .
Before d22 = 0, it is never the case that x19 > 3 holds.
Globally, it is always the case that r8 <= 6 holds.
After e1 <= 13 until j22 > 8, it is always the case that if d14 > 0 holds, then c18 >= 10 previously held.
After f21 > 2 until p11 = 4, v9 <= 13 eventually holds.
Before q18 < 10, it is always the case that if u6 >= 0 holds and is succeeded by a14 < 5, then n21 <= 15 previously held.
After b0 = 4, it is always the case that if j3 < 14 holds, then t20 <= 8 previously held and was preceded by h23 = 1 .
Before i5 >= 1, it is always the case that if g2 >= 2 holds, then p9 >= 11 eventually holds.
Between b14 <= 15 and n23 <= 5, it is always the case that if a13 <= 4 holds and is succeeded by n15 < 8, then n9 < 10 previously held.
Globally, it is always the case that if i6 < 3 holds and is succeeded by t18 = 6, then u2 >= 11 previously held.
Globally, it is always the case that if m12 = 12 holds, then b4 < 11 eventually holds and is succeeded by k10 <= 2 .
Between o8 > 12 and j1 < 11, it is always the case that if e11 >= 6 holds and is succeeded by b11 >= 3, then p8 <= 9 previously held.
Between g9 = 2 and n22 <= 10, it is always the case that if z9 <= 1 holds, then k18 = 4 eventually holds and is succeeded by c24 > 10, where j0 < 2 does not hold between k18 = 4 and c24 > 10 .
Globally, it is always the case that c2 <= 12 holds.
After u5 = 3 until a21 < 8, it is always the case that if r10 >= 1 holds and is succeeded by s14 >= 4, then a20 > 10 previously held.
Before c17 >= 3, it is always the case that y5 < 4 holds.
Before u6 = 11, it is always the case that if l13 < 1 holds, then z17 = 2 previously held and was preceded by a5 > 11 .
After s12 < 2 until o7 > 6, it is always the case that b17 > 15 holds.
After n12 = 6 until n6 = 1, it is always the case that if m17 > 0 holds and is succeeded by t10 < 12, then m17 > 2 eventually holds after t10 < 12 .
Between d1 <= 13 and h24 < 10, it is always the case that if o14 <= 13 holds, then s8 >= 9 previously held and was preceded by g16 >= 3 .
After r17 <= 8, it is always the case that if y23 < 1 holds, then c13 = 9 previously held and was preceded by n4 <= 2 .
Globally, it is always the case that if w3 < 10 holds, then a9 = 3 eventually holds.
Between o4 <= 15 and n2 < 8, x14 = 0 eventually holds.
After g6 >= 8, it is always the case that m11 < 6 holds.
Before y13 > 1, it is always the case that if g17 = 14 holds, then e14 <= 8 previously held and was preceded by y14 >= 9 .
