Before a0 >= 31, it is always the case that if d0 < 2 holds and is succeeded by e0 = 0, then i0 <= 31 eventually holds after e0 = 0 .
After e0 >= 21 until a0 < 15, it is always the case that if g0 >= 21 holds, then e0 = 19 previously held.
Before a0 < 29, it is always the case that i0 < 23 holds.
After b0 > 7 until c0 > 5, it is always the case that if i0 >= 8 holds and is succeeded by g0 < 21, then h0 >= 9 eventually holds after g0 < 21 .
After f0 > 30 until b0 >= 10, f0 < 5 eventually holds.
After a0 <= 11 until g0 > 20, it is always the case that if a0 = 18 holds and is succeeded by e0 >= 29, then e0 < 4 previously held.
Before h0 <= 14, it is always the case that if e0 < 20 holds and is succeeded by c0 < 21, then e0 <= 11 eventually holds after c0 < 21 .
Globally, it is always the case that if g0 <= 12 holds, then i0 > 28 eventually holds and is succeeded by e0 < 21 .
Between b0 <= 13 and g0 <= 18, it is never the case that i0 = 28 holds.
After c0 <= 8 until b0 >= 13, it is never the case that a0 > 23 holds.
Between c0 > 23 and c0 < 31, it is always the case that if f0 = 16 holds, then i0 >= 22 previously held.
Between g0 <= 11 and i0 >= 29, it is never the case that g0 < 17 holds.
Globally, it is always the case that if c0 <= 28 holds, then g0 > 11 eventually holds.
Globally, it is always the case that if c0 = 16 holds, then c0 >= 25 previously held and was preceded by f0 >= 5 .
Before f0 = 6, it is always the case that if i0 = 18 holds and is succeeded by g0 >= 5, then h0 >= 30 previously held.
Between i0 >= 6 and e0 < 28, it is always the case that if e0 >= 21 holds, then d0 < 29 eventually holds and is succeeded by f0 >= 10, where a0 = 20 does not hold between d0 < 29 and f0 >= 10 .
After h0 >= 14 until c0 >= 29, it is always the case that if f0 >= 29 holds and is succeeded by c0 = 30, then i0 <= 19 previously held.
Between c0 < 14 and c0 >= 7, it is always the case that if f0 >= 7 holds, then f0 <= 30 eventually holds.
After e0 < 23 until h0 < 10, it is always the case that if e0 >= 16 holds, then g0 > 29 eventually holds and is succeeded by d0 = 20 .
After h0 <= 13 until a0 < 18, d0 <= 1 eventually holds.
Before e0 <= 15, it is always the case that if c0 > 0 holds, then f0 >= 5 eventually holds.
After a0 >= 14 until h0 > 4, b0 > 2 eventually holds.
After i0 < 12 until d0 < 5, it is always the case that if g0 > 20 holds, then a0 = 6 eventually holds.
Between d0 = 3 and c0 < 31, it is always the case that if d0 < 14 holds, then d0 >= 6 eventually holds.
Globally, it is always the case that if g0 = 11 holds, then b0 = 3 previously held and was preceded by i0 >= 12 .
After b0 > 12, a0 <= 22 eventually holds.
Globally, it is always the case that if g0 <= 0 holds, then f0 < 14 previously held.
Globally, it is never the case that g0 < 31 holds.
After a0 > 20, it is always the case that if g0 >= 10 holds, then g0 = 22 eventually holds and is succeeded by f0 <= 16 .
After h0 < 7 until g0 < 12, it is always the case that if f0 <= 19 holds, then h0 <= 16 previously held and was preceded by e0 = 13 .
After e0 = 30, it is never the case that d0 = 7 holds.
After a0 > 23 until g0 = 20, it is always the case that if a0 = 24 holds, then i0 < 2 previously held.
Between a0 <= 0 and g0 = 3, f0 <= 2 eventually holds.
Before a0 = 31, e0 > 23 eventually holds.
After c0 <= 2, it is always the case that if b0 = 24 holds, then g0 > 17 eventually holds and is succeeded by c0 <= 2 .
After i0 >= 6, it is always the case that if c0 >= 22 holds and is succeeded by g0 > 27, then a0 <= 22 eventually holds after g0 > 27 .
Globally, it is always the case that if g0 >= 24 holds, then f0 = 31 eventually holds and is succeeded by d0 <= 31, where d0 > 22 does not hold between f0 = 31 and d0 <= 31 .
Globally, it is never the case that c0 = 23 holds.
Between c0 = 29 and h0 > 4, it is always the case that if g0 <= 2 holds, then d0 >= 0 eventually holds and is succeeded by a0 > 8 .
Globally, it is always the case that if c0 <= 17 holds, then b0 < 8 previously held.
Before c0 <= 25, it is always the case that if d0 < 15 holds, then c0 = 20 eventually holds and is succeeded by c0 >= 18 .
Globally, it is always the case that if c0 < 1 holds and is succeeded by h0 <= 13, then g0 > 24 eventually holds after h0 <= 13 .
After h0 > 11 until g0 >= 1, it is always the case that if i0 = 1 holds, then b0 > 6 eventually holds and is succeeded by i0 = 8, where d0 <= 27 does not hold between b0 > 6 and i0 = 8 .
Between a0 < 27 and e0 >= 28, it is always the case that if f0 < 23 holds, then i0 = 24 eventually holds.
Globally, it is always the case that if h0 > 24 holds, then h0 <= 5 previously held and was preceded by d0 > 28 .
Before e0 <= 11, it is always the case that if e0 = 19 holds, then c0 >= 11 eventually holds and is succeeded by f0 < 0, where d0 <= 22 does not hold between c0 >= 11 and f0 < 0 .
Between i0 <= 1 and f0 <= 0, it is always the case that if b0 > 5 holds and is succeeded by f0 > 8, then e0 <= 27 eventually holds after f0 > 8 .
Between c0 = 9 and d0 < 21, it is always the case that if a0 = 30 holds, then d0 <= 3 eventually holds.
Between i0 <= 31 and c0 >= 11, it is never the case that f0 >= 27 holds.
Between a0 >= 24 and a0 = 31, it is always the case that if d0 = 10 holds and is succeeded by e0 <= 17, then b0 = 21 previously held.
Between f0 = 31 and d0 < 7, it is never the case that e0 >= 1 holds.
Globally, it is always the case that if b0 <= 0 holds, then d0 <= 5 previously held and was preceded by a0 < 31 .
Between g0 >= 31 and f0 <= 7, it is always the case that if a0 > 9 holds and is succeeded by f0 <= 21, then b0 >= 10 eventually holds after f0 <= 21 .
Globally, a0 <= 24 eventually holds.
Before f0 >= 19, it is always the case that if g0 = 24 holds, then c0 <= 20 previously held and was preceded by i0 < 0 .
Between d0 > 18 and g0 <= 29, it is always the case that if f0 >= 17 holds, then c0 <= 25 eventually holds and is succeeded by a0 >= 10 .
Globally, it is always the case that if b0 >= 26 holds, then i0 = 27 previously held.
After b0 < 8, it is always the case that if d0 >= 6 holds, then f0 <= 18 previously held and was preceded by c0 > 28 .
After e0 <= 9 until g0 = 17, it is always the case that if c0 = 29 holds, then d0 <= 17 eventually holds.
Between c0 <= 11 and d0 <= 13, c0 >= 25 eventually holds.
Between e0 > 28 and f0 < 28, f0 > 31 eventually holds.
Globally, it is always the case that if i0 < 22 holds, then a0 > 20 previously held.
Before f0 > 11, it is always the case that if a0 > 11 holds, then g0 <= 5 eventually holds and is succeeded by h0 >= 14 .
Before a0 = 29, a0 >= 20 eventually holds.
After i0 >= 6 until f0 >= 22, it is always the case that if b0 < 29 holds, then h0 = 31 previously held.
After b0 >= 28 until b0 = 31, it is always the case that if g0 >= 23 holds, then h0 > 1 eventually holds and is succeeded by b0 > 9, where b0 <= 15 does not hold between h0 > 1 and b0 > 9 .
After e0 >= 15 until e0 = 18, it is always the case that if a0 > 14 holds, then b0 > 30 previously held.
Between h0 >= 6 and g0 < 19, it is always the case that if b0 > 6 holds, then a0 = 24 eventually holds.
Between a0 > 28 and e0 < 2, it is always the case that if f0 = 6 holds, then a0 > 21 previously held and was preceded by a0 <= 28 .
Before i0 >= 23, it is always the case that if d0 < 17 holds, then f0 = 15 eventually holds and is succeeded by b0 <= 22, where i0 = 29 does not hold between f0 = 15 and b0 <= 22 .
Globally, it is always the case that if f0 < 27 holds, then i0 = 23 eventually holds.
After e0 > 10 until c0 >= 29, a0 = 27 eventually holds.
Globally, g0 > 21 eventually holds.
Globally, it is always the case that if b0 <= 1 holds, then i0 <= 13 previously held.
Globally, it is always the case that if a0 <= 31 holds, then a0 = 2 eventually holds and is succeeded by b0 = 20 .
Between i0 > 0 and i0 > 20, it is always the case that if g0 >= 1 holds, then e0 = 29 eventually holds and is succeeded by g0 < 13, where c0 >= 7 does not hold between e0 = 29 and g0 < 13 .
Between a0 = 14 and g0 > 11, f0 = 29 eventually holds.
Before a0 <= 6, d0 >= 4 eventually holds.
After a0 <= 24, it is never the case that c0 >= 31 holds.
After h0 = 2, it is always the case that if a0 = 4 holds, then g0 <= 15 previously held and was preceded by c0 <= 31 .
Between i0 <= 12 and f0 <= 8, it is always the case that if h0 > 26 holds, then b0 > 29 eventually holds and is succeeded by e0 = 13 .
Before g0 > 2, it is always the case that if i0 <= 27 holds, then b0 > 30 eventually holds.
After f0 < 0 until a0 > 11, it is always the case that if c0 <= 28 holds, then f0 <= 15 previously held and was preceded by h0 <= 23 .
After b0 = 22, it is always the case that if f0 < 12 holds, then c0 <= 26 eventually holds.
Before g0 >= 19, it is always the case that if i0 <= 27 holds and is succeeded by e0 >= 21, then b0 >= 5 eventually holds after e0 >= 21 .
After g0 >= 27 until g0 <= 9, it is always the case that if h0 = 30 holds, then i0 > 26 eventually holds and is succeeded by f0 <= 25 .
After d0 = 21 until d0 >= 5, it is always the case that if f0 = 5 holds, then d0 <= 2 previously held.
After c0 > 1, it is always the case that if b0 > 24 holds, then b0 = 11 previously held and was preceded by g0 < 10 .
Before c0 > 12, h0 < 29 eventually holds.
After d0 >= 24, it is always the case that if e0 < 16 holds, then f0 = 23 previously held.
Between i0 = 1 and a0 > 17, it is always the case that if d0 > 19 holds, then b0 >= 26 eventually holds and is succeeded by i0 >= 14 .
Between c0 = 18 and e0 > 31, it is always the case that if c0 = 21 holds and is succeeded by b0 < 7, then i0 < 16 eventually holds after b0 < 7 .
Between d0 > 25 and h0 < 29, it is always the case that b0 = 9 holds.
Before a0 > 27, it is always the case that if f0 = 25 holds, then c0 <= 13 eventually holds and is succeeded by b0 <= 27 .
Before d0 = 20, g0 >= 18 eventually holds.
Before b0 <= 9, it is always the case that if h0 > 5 holds, then e0 = 17 eventually holds and is succeeded by a0 <= 10, where i0 <= 7 does not hold between e0 = 17 and a0 <= 10 .
After b0 <= 16 until f0 > 19, it is always the case that if f0 = 26 holds, then b0 = 21 eventually holds.
Between i0 >= 19 and h0 >= 5, it is never the case that f0 <= 25 holds.
After b0 > 2 until h0 = 14, it is always the case that if e0 <= 23 holds, then c0 = 12 eventually holds.
Before e0 = 24, it is always the case that if c0 > 30 holds, then i0 > 3 previously held.
After h0 <= 2, c0 = 11 eventually holds.
Globally, it is always the case that if g0 = 21 holds, then d0 < 26 previously held.
Globally, it is always the case that if c0 >= 18 holds, then g0 <= 14 eventually holds.
Before c0 = 7, it is always the case that if a0 >= 1 holds, then g0 = 18 previously held and was preceded by b0 = 25 .
After e0 = 1 until g0 < 0, it is always the case that if c0 = 10 holds, then b0 > 27 eventually holds and is succeeded by a0 <= 24 .
Before d0 > 0, it is always the case that if b0 <= 10 holds and is succeeded by f0 <= 21, then a0 < 26 eventually holds after f0 <= 21 .
Between f0 <= 0 and h0 > 5, it is always the case that if b0 >= 5 holds, then a0 = 12 previously held.
After c0 >= 17, it is always the case that if h0 > 28 holds and is succeeded by d0 >= 3, then g0 < 13 eventually holds after d0 >= 3 .
After g0 > 17, it is always the case that if d0 >= 5 holds, then b0 >= 22 previously held and was preceded by g0 > 23 .
Between c0 >= 24 and f0 >= 21, it is always the case that if e0 > 0 holds and is succeeded by f0 < 13, then d0 >= 4 eventually holds after f0 < 13 .
After h0 = 5, it is always the case that if f0 <= 0 holds, then g0 = 9 eventually holds.
After c0 < 29 until i0 < 4, it is always the case that if d0 >= 16 holds and is succeeded by g0 < 7, then h0 >= 29 eventually holds after g0 < 7 .
After e0 <= 19 until b0 >= 30, it is always the case that if g0 = 5 holds, then i0 >= 4 eventually holds and is succeeded by c0 = 10 .
After d0 < 29, it is always the case that if g0 <= 18 holds, then i0 > 1 eventually holds and is succeeded by e0 = 7 .
After f0 < 31, it is always the case that f0 < 17 holds.
Between a0 > 2 and i0 < 2, it is always the case that h0 = 24 holds.
After h0 > 8 until e0 <= 0, it is always the case that d0 < 2 holds.
Between d0 > 27 and g0 = 10, it is always the case that if h0 = 10 holds, then i0 >= 21 previously held.
Before e0 < 22, it is always the case that if b0 > 13 holds, then a0 <= 20 eventually holds and is succeeded by f0 >= 11, where d0 <= 30 does not hold between a0 <= 20 and f0 >= 11 .
Before h0 < 0, it is always the case that if d0 < 15 holds, then c0 = 23 previously held and was preceded by d0 < 22 .
After a0 <= 1, it is always the case that if c0 = 18 holds and is succeeded by i0 < 27, then f0 > 4 eventually holds after i0 < 27 .
Before f0 >= 22, it is always the case that if g0 >= 4 holds and is succeeded by i0 = 2, then f0 <= 5 previously held.
After h0 > 18 until g0 = 4, it is always the case that if e0 = 9 holds, then d0 > 31 previously held and was preceded by d0 > 26 .
Globally, it is never the case that i0 <= 27 holds.
After a0 >= 10 until d0 < 2, it is always the case that if i0 = 12 holds, then a0 >= 10 previously held and was preceded by g0 >= 28 .
After g0 <= 16 until g0 = 10, it is always the case that if h0 = 7 holds and is succeeded by b0 >= 2, then g0 <= 1 previously held.
Between d0 <= 10 and d0 >= 18, g0 >= 14 eventually holds.
Globally, it is always the case that h0 <= 30 holds.
After h0 >= 16 until b0 < 26, it is always the case that if e0 = 5 holds, then e0 >= 21 previously held.
Between e0 < 6 and i0 = 26, it is never the case that d0 < 31 holds.
Globally, it is always the case that if e0 > 1 holds and is succeeded by b0 > 4, then i0 < 9 previously held.
Globally, it is always the case that if h0 = 31 holds, then g0 = 23 eventually holds.
Before f0 > 12, it is always the case that h0 = 27 holds.
Before d0 < 9, it is never the case that i0 < 14 holds.
Before a0 <= 8, it is always the case that h0 >= 0 holds.
Globally, it is always the case that a0 > 21 holds.
Before a0 > 17, it is always the case that if h0 > 6 holds, then a0 <= 21 eventually holds and is succeeded by i0 = 9, where d0 = 5 does not hold between a0 <= 21 and i0 = 9 .
Before f0 = 6, it is always the case that if i0 < 12 holds, then b0 > 17 eventually holds.
Between g0 = 15 and c0 < 25, it is always the case that if b0 >= 13 holds, then e0 <= 31 previously held and was preceded by f0 < 4 .
Globally, it is always the case that if i0 >= 22 holds and is succeeded by a0 > 11, then i0 <= 7 eventually holds after a0 > 11 .
After c0 >= 18 until d0 < 6, it is always the case that if b0 >= 29 holds, then i0 > 18 eventually holds and is succeeded by a0 <= 13 .
Globally, it is never the case that b0 > 20 holds.
Globally, it is always the case that if a0 > 23 holds, then f0 = 21 eventually holds.
After e0 > 16, it is always the case that if c0 >= 9 holds and is succeeded by d0 <= 7, then c0 > 15 previously held.
Between i0 < 8 and c0 = 0, it is always the case that if h0 = 2 holds, then d0 = 31 previously held and was preceded by i0 < 19 .
Before g0 > 4, it is always the case that if f0 < 26 holds and is succeeded by g0 > 1, then d0 = 3 eventually holds after g0 > 1 .
Between c0 <= 29 and a0 >= 22, it is always the case that if d0 < 28 holds, then f0 <= 0 eventually holds and is succeeded by g0 < 21, where e0 < 31 does not hold between f0 <= 0 and g0 < 21 .
Between b0 >= 3 and g0 > 29, it is always the case that if d0 <= 28 holds and is succeeded by h0 = 31, then f0 >= 23 eventually holds after h0 = 31 .
After a0 > 13, it is always the case that if h0 >= 5 holds, then h0 >= 18 eventually holds.
Globally, it is always the case that if h0 <= 31 holds, then d0 > 10 eventually holds and is succeeded by b0 >= 0, where f0 < 7 does not hold between d0 > 10 and b0 >= 0 .
After i0 <= 7 until c0 <= 25, it is always the case that if i0 <= 8 holds and is succeeded by g0 >= 6, then a0 <= 8 previously held.
After d0 = 22 until b0 >= 8, it is always the case that if a0 >= 6 holds and is succeeded by e0 = 22, then d0 <= 11 previously held.
After h0 > 16, it is always the case that if e0 >= 28 holds, then d0 > 24 previously held and was preceded by e0 > 27 .
Before a0 = 30, it is always the case that i0 = 9 holds.
After i0 < 14 until f0 < 25, it is always the case that if c0 >= 18 holds and is succeeded by h0 <= 22, then f0 >= 8 previously held.
After f0 < 28, it is never the case that g0 <= 21 holds.
Globally, it is always the case that if d0 > 20 holds and is succeeded by g0 > 12, then a0 >= 11 previously held.
Between i0 >= 19 and h0 < 5, it is never the case that e0 < 21 holds.
After a0 < 3 until f0 < 19, it is always the case that if a0 >= 11 holds and is succeeded by i0 = 2, then i0 >= 28 eventually holds after i0 = 2 .
Between h0 < 4 and d0 > 13, it is always the case that if f0 >= 28 holds, then i0 >= 24 eventually holds.
After g0 < 13, it is never the case that b0 > 20 holds.
After b0 < 10, it is always the case that if d0 > 1 holds, then c0 = 24 eventually holds and is succeeded by h0 > 27, where i0 > 2 does not hold between c0 = 24 and h0 > 27 .
After f0 <= 6 until f0 >= 1, it is always the case that if g0 < 31 holds and is succeeded by d0 = 2, then f0 > 15 eventually holds after d0 = 2 .
After e0 <= 7 until c0 < 25, it is always the case that if a0 <= 7 holds, then f0 < 16 eventually holds and is succeeded by g0 < 27, where h0 < 15 does not hold between f0 < 16 and g0 < 27 .
Between d0 < 23 and b0 <= 2, it is always the case that if b0 < 13 holds, then g0 > 20 eventually holds and is succeeded by b0 < 4 .
Before e0 > 26, it is always the case that if b0 = 6 holds, then d0 > 9 previously held.
Between b0 >= 7 and a0 > 2, it is always the case that if b0 < 16 holds and is succeeded by i0 > 17, then d0 <= 10 eventually holds after i0 > 17 .
After b0 > 23 until a0 < 5, it is always the case that if h0 <= 21 holds and is succeeded by g0 > 31, then b0 < 1 eventually holds after g0 > 31 .
Between e0 >= 19 and g0 = 14, it is always the case that if e0 >= 15 holds, then d0 > 27 eventually holds.
Between d0 = 6 and f0 >= 0, it is always the case that if d0 = 20 holds and is succeeded by h0 < 12, then g0 > 27 previously held.
After g0 <= 12, it is always the case that if g0 >= 25 holds, then h0 > 27 eventually holds and is succeeded by e0 > 19, where d0 < 27 does not hold between h0 > 27 and e0 > 19 .
Before d0 > 1, it is always the case that if e0 <= 13 holds, then e0 <= 23 eventually holds and is succeeded by g0 = 11 .
Before i0 > 9, it is always the case that if b0 = 17 holds, then d0 >= 13 eventually holds and is succeeded by i0 <= 11 .
After f0 >= 28, it is always the case that g0 = 1 holds.
After g0 < 25 until d0 = 23, it is always the case that if i0 < 16 holds, then i0 <= 22 eventually holds and is succeeded by a0 < 9 .
After h0 >= 23 until g0 > 26, it is always the case that if d0 < 18 holds and is succeeded by b0 >= 6, then a0 > 3 previously held.
Globally, it is always the case that if g0 > 27 holds, then e0 = 17 eventually holds and is succeeded by e0 < 3, where d0 = 31 does not hold between e0 = 17 and e0 < 3 .
Between g0 <= 16 and d0 >= 5, it is always the case that if h0 <= 31 holds, then b0 = 29 eventually holds.
After f0 < 6, it is never the case that d0 = 0 holds.
Before c0 <= 4, it is always the case that c0 > 8 holds.
After i0 >= 11, it is always the case that if i0 < 15 holds and is succeeded by g0 > 8, then e0 <= 28 previously held.
Globally, it is always the case that if h0 > 5 holds, then a0 = 29 eventually holds.
Globally, a0 = 21 eventually holds.
Between c0 < 1 and a0 = 6, it is always the case that c0 > 28 holds.
Between b0 > 18 and d0 = 30, it is always the case that if b0 > 10 holds, then b0 < 10 eventually holds and is succeeded by h0 < 0, where b0 = 16 does not hold between b0 < 10 and h0 < 0 .
Before f0 < 3, it is always the case that if b0 < 21 holds and is succeeded by a0 <= 0, then f0 < 7 previously held.
Globally, it is always the case that if i0 = 27 holds, then e0 = 2 previously held and was preceded by g0 >= 31 .
Globally, it is always the case that if f0 <= 17 holds and is succeeded by f0 <= 0, then e0 > 28 eventually holds after f0 <= 0 .
After g0 <= 9 until b0 >= 21, it is always the case that if i0 = 3 holds and is succeeded by g0 >= 2, then e0 >= 10 eventually holds after g0 >= 2 .
Before e0 < 5, it is always the case that if c0 = 16 holds, then e0 <= 23 eventually holds.
Before g0 = 14, it is always the case that if h0 = 24 holds, then b0 > 19 previously held and was preceded by a0 <= 25 .
After e0 > 11 until d0 < 15, it is never the case that h0 = 19 holds.
After g0 > 20, it is always the case that if b0 = 30 holds, then h0 >= 27 eventually holds and is succeeded by e0 <= 21 .
After h0 <= 7, it is never the case that f0 < 31 holds.
Before a0 > 7, it is always the case that if e0 >= 12 holds, then g0 < 8 eventually holds and is succeeded by e0 = 10, where a0 > 6 does not hold between g0 < 8 and e0 = 10 .
Before e0 = 4, it is always the case that if i0 <= 14 holds, then d0 >= 28 eventually holds and is succeeded by g0 >= 9 .
Before a0 >= 30, it is always the case that if d0 < 10 holds, then a0 < 16 eventually holds and is succeeded by f0 < 3, where c0 = 29 does not hold between a0 < 16 and f0 < 3 .
Between c0 >= 23 and e0 <= 5, it is never the case that h0 >= 19 holds.
Before e0 > 7, it is always the case that if b0 = 16 holds, then f0 < 13 previously held and was preceded by g0 <= 18 .
Before c0 < 3, it is always the case that if e0 > 13 holds, then f0 = 18 eventually holds.
Between e0 <= 28 and f0 = 15, it is always the case that if c0 > 23 holds and is succeeded by i0 < 31, then h0 <= 13 previously held.
Globally, f0 > 28 eventually holds.
After h0 < 29, it is always the case that if g0 <= 22 holds, then i0 >= 5 eventually holds and is succeeded by d0 < 27, where f0 <= 11 does not hold between i0 >= 5 and d0 < 27 .
Before a0 < 8, it is always the case that if d0 <= 28 holds, then d0 = 24 eventually holds and is succeeded by h0 = 18, where e0 > 3 does not hold between d0 = 24 and h0 = 18 .
Before b0 >= 6, it is always the case that if e0 < 5 holds, then i0 < 18 eventually holds and is succeeded by a0 = 2 .
Between e0 > 2 and h0 = 29, it is never the case that d0 > 1 holds.
After b0 <= 5, it is always the case that if c0 < 12 holds and is succeeded by f0 < 20, then f0 < 14 previously held.
After a0 < 17 until f0 <= 4, it is always the case that if e0 = 17 holds and is succeeded by h0 < 22, then b0 > 31 eventually holds after h0 < 22 .
After b0 < 8, it is always the case that c0 <= 9 holds.
Before e0 > 25, it is always the case that if g0 > 19 holds, then g0 = 18 eventually holds.
Before i0 > 25, it is always the case that f0 = 3 holds.
After a0 < 17 until d0 = 25, it is always the case that if e0 >= 12 holds and is succeeded by a0 <= 25, then i0 <= 17 previously held.
Between d0 = 19 and i0 > 30, it is always the case that if e0 < 23 holds and is succeeded by a0 <= 30, then h0 >= 17 previously held.
Globally, it is always the case that if a0 = 31 holds, then c0 = 13 eventually holds and is succeeded by a0 < 15, where d0 > 19 does not hold between c0 = 13 and a0 < 15 .
After a0 > 16 until e0 > 0, it is never the case that c0 < 3 holds.
After e0 > 14 until f0 > 6, it is always the case that h0 >= 21 holds.
After g0 >= 13 until b0 <= 4, c0 >= 20 eventually holds.
Between e0 > 14 and b0 < 8, it is always the case that if g0 < 3 holds, then e0 > 24 eventually holds.
After g0 = 29, it is always the case that f0 <= 25 holds.
Globally, it is always the case that if e0 > 27 holds and is succeeded by g0 > 16, then i0 < 1 previously held.
Before f0 > 22, it is always the case that if f0 > 17 holds, then e0 >= 1 eventually holds and is succeeded by g0 >= 25, where b0 < 4 does not hold between e0 >= 1 and g0 >= 25 .
Between h0 = 30 and g0 > 13, it is always the case that if g0 <= 17 holds and is succeeded by d0 <= 6, then i0 < 2 eventually holds after d0 <= 6 .
Globally, it is always the case that if d0 = 23 holds, then d0 > 6 eventually holds.
Globally, it is always the case that if b0 >= 29 holds, then f0 >= 1 previously held and was preceded by f0 >= 31 .
Before h0 = 1, it is always the case that if a0 < 13 holds and is succeeded by f0 = 6, then d0 >= 1 eventually holds after f0 = 6 .
Between h0 >= 13 and h0 > 24, it is always the case that if i0 <= 10 holds, then h0 < 22 eventually holds.
After b0 >= 6 until e0 <= 19, it is always the case that g0 <= 21 holds.
Before a0 >= 13, it is always the case that if b0 >= 5 holds, then a0 >= 2 eventually holds.
Globally, it is always the case that if f0 = 11 holds, then c0 < 26 eventually holds and is succeeded by c0 >= 12 .
After i0 < 15, it is never the case that c0 > 20 holds.
After f0 > 28, it is always the case that if a0 <= 15 holds, then e0 > 25 eventually holds.
Globally, it is always the case that if c0 <= 27 holds, then g0 <= 1 eventually holds and is succeeded by f0 >= 15 .
After e0 < 21 until i0 = 10, it is always the case that if g0 < 18 holds, then g0 < 8 previously held and was preceded by i0 > 30 .
Before c0 = 3, it is always the case that b0 < 8 holds.
Before a0 = 29, c0 = 0 eventually holds.
Globally, it is always the case that if g0 >= 3 holds, then g0 > 24 previously held.
After c0 >= 23 until g0 > 0, it is always the case that if e0 > 5 holds, then g0 >= 8 eventually holds and is succeeded by i0 = 21 .
After g0 > 0 until g0 <= 5, it is always the case that if g0 >= 2 holds and is succeeded by e0 >= 1, then h0 = 22 previously held.
Globally, it is always the case that if c0 > 6 holds, then e0 <= 20 previously held.
Between h0 > 23 and f0 >= 21, c0 >= 4 eventually holds.
